.product-actions-wrap {
  display: flex;
  align-items: center;
  margin: 30px auto;

  .product-actions {
    padding-left: 15px;
    label,
    input[type="text"] {
      display: inline-block;
      font-family: $g-regular;
      font-weight: normal;
      font-size: 16px;
      line-height: 16px;
    }
    label {
      color: $charcoal;
    }
    input[type="text"] {
      width: auto;
      height: auto;
      padding: 0;
      border: none;
      border-radius: none;
      color: $red;
    }

    button[type="submit"] {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0 10px 0 5px;
      width: 10px;
      height: 25px;
      background-color: transparent;
      color: $red;
    }



    .availability-msg,
    .in-stock-msg,
    .in-stock-msg p {
      display: inline;
    }
    .notification-wrapper {
      display: none;
    }
    .availability-web {
      padding-top: 0;
      .in-stock-msg {
        font-weight: normal;
      }
      .availability-ab {display: none;}
      label,
      .in-stock-msg p,
      .availability-novariation {
        font-size: 16px;
        line-height: 19px;
      }
      label {
        font-family: $g-regular;
      }
      .in-stock-msg p,
      .availability-novariation {
        color: $green;
        font-family: $g-bold;
        font-weight: normal;
        font-style: unset;
      }
    }
    .in-stock-msg {
      .details {
        display: none;
      }
    }
    .pdp-delivery-wrapper {
      display: inline-block;
      width: auto;
      padding-top: 10px;

      form {
        width: auto;
      }

      #pdp-delivery-zip {
        padding: 0 5px;
        width: 62px;
        text-decoration: none !important;
        text-align: center;
        border-bottom: 1px solid $red;
      }

      span.error {
        position: absolute;
      }

      @include breakpoint(small down) {
        width: 100%;
      }
    }
  }
}

.delivery-countdown-wrap {
  p {
    margin: 0;
    color: $charcoal;
    font-size: 16px;
    line-height: 19px;
  }

  span {
    font-family: $g-bold;
    color: $green;
  }
}

.read-details-link {
        position: relative;
        padding-top: 20px;
        top: -12px;
        text-decoration: underline;
        display: inline-block;
        vertical-align: middle;
        cursor: default;
        .se-tooltip {
          visibility: hidden;
          bottom: 100%;
          opacity: 0;
          padding: 25px 30px;
          position: absolute;
          z-index: -1;
          min-width: 317px;
          background-color: #f2f2f2;
          border: solid 1px $dark-gray;
          text-align: left;
          border-radius: 0;
          transition: opacity ease .3s, -webkit-transform ease .3s, box-shadow ease .3s;
          transition: opacity ease .3s, transform ease .3s, box-shadow ease .3s;
          left: 50%;
          -webkit-transform: translateX(-50%) translateY(-20px);
          transform: translateX(-50%) translateY(-20px);
          font-family: $g-regular;
          font-weight: normal;
          font-size: 15px;
          line-height: 1.47;
          color:#333333;
          box-sizing: border-box;
          @include respond(large-down) {
            min-width: 250px;           
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
          }
          &:before, &:after {
            border: solid transparent;
            content: ' ';
            height: 0;
            position: absolute;
            width: 0;
          }
          &:before {
            border-width: 19px 9px 0 9px;
            border-top-color: #f2f2f2;
            top: 100%;
            z-index: 5;
            left: 50%;
            margin-left: -9px;
            @include respond(large-down) {
              border-top-color: #f2f2f2;
              border-right-color: transparent;
            }
          }
          &:after {
            border-width: 20px 10px 0 10px;
            border-top-color: $dark-gray;
            top: 101.0%;
            z-index: 4;
            left: 50%;
            margin-left: -10px;
            @include respond(large-down) {
              border-top-color: $dark-gray;
              border-right-color: transparent;
              top: 100.5%;
            }
          }
          .se-close {
            position: absolute;
            right: 10px;
            top:5px;
            font-size: 14px;
            line-height: 1.21;
            cursor: pointer;
          }
          .privacy-link {
            text-decoration: underline;
          }
        }        
        &.tooltip-active .se-tooltip {
          visibility: visible;
          z-index: 100;
          opacity: 1;
          //box-shadow: 0 4px 8px 0 rgba(50, 48, 48, 0.5);
          -webkit-transform: translateX(-50%) translateY(-3px);
          transform: translateX(-50%) translateY(-3px);
          @include respond(large-down) {
            
          }
            
        }
    }