.PDP-product-zoom{
	#amplience-main .slick-dots{
		display:none !important;
	}
	#amplience-nav{
		display:block !important;
		padding:20px 0 0;
		.slick-slide{
			border:0;
			padding:0;
			margin:0 7px;
		}
		.slick-list{
			margin:0 50px;
		}
		.slick-track{
			margin:0 auto;
		}
	}
}
#pdpMain {
	&.pdp-main-ab {
		.product-detail {
			padding:0;
			float:right;
			flex:auto;
			max-width: 408px;
    		margin-left: 18px;
    		@media (max-width:899px){
				max-width:370px;
			}
			@media (max-width:767px){
				flex:0 0 100%;
				max-width:406px;
				margin:0 auto 30px;
			}
		}
		.pdp-images {
			padding:0;
			float:left;
			flex:auto;
			max-width: 406px;
			@media (max-width:899px){
				max-width:358px;
			}
			@media (max-width:767px){
				max-width:406px;
				margin:0 auto;
			}
			@media (max-width:639px){
				max-width:100%;
			}
			.col-1 {
				margin:0;
				width: 100%;
			}
			#amplience-main,
			#amplience-nav {
				box-sizing: border-box;
			}
			#amplience-main {
				padding-bottom: 0;
				width: 100%;
				left: 0;
				z-index: 1;
				padding-left:0px;
				.slick-dots{
					display:none !important;
				}
				@media (max-width:899px){
					border:0;
				}
				@include breakpoint(767px down) {
					padding-left: 0;
					width: 100%;
					float: none;
					border-bottom: 0;
					left: 0px;
					.slick-slider {
						.slick-arrow {
							display: none !important;
						}
					}
					.slick-dots {
						text-align: center;
						margin-top: 0px;
					    position: relative;
					    top: -50px;
					}
				}

				.slick-arrow {
					height: 36px;
					width: 36px;
					opacity:1;
					background: #f1f1f2;
					outline: none !important;
					box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
					&.slick-prev {
						left: 10px;
						&.slick-disabled{
							background: #f2f2f3;
						}
						&:after{
							top:12px;
							left:14px;
							width:10px;
							height:10px;
							background:none;
							position:absolute;
							border: solid #323030;
							border-width: 0 2px 2px 0;
							transform: rotate(135deg);
							-webkit-transform: rotate(135deg);
						}
					}
					&.slick-next {
						right: 10px;
						&.slick-disabled{
							background: #999;
						}
						&:after{
							top:12px;
							right:14px;
							left:auto;
							width:10px;
							height:10px;
							background:none;
							position:absolute;
							border: solid #323030;
							border-width: 0 2px 2px 0;
							transform: rotate(-48deg);
							-webkit-transform: rotate(-48deg);
						}
					}
				}
			}
			
			#amplience-nav {
				display:block;
				/*width: 100%;
				top: 0;
				left: 0;
    			z-index: 100;
    			display:block;
				.slick-slide.slick-current:after{
					display:none !important;
				}*/
				ul {
					margin-top: 0;
					padding:0 40px;
					overflow:hidden;
					.slick-arrow {
						position: absolute;
					    margin: -16px auto;
					    width: 30px;
					    transform: rotate(270deg);
					}
					.slick-next {
						right: 0;
					}
					.slick-prev {
						left: 0;
					}
					.slick-list {
						.slick-track {
							margin:0 auto;
						}
						/*height: auto !important;
						.slick-track {
							margin:0 auto;
							height: auto !important;
						}*/
						li.slick-slide {
							margin:0;
							border:0;
							padding:9px;
							/*width:48px !important;
							height:auto;
							border: none;
							padding:9px;*/
							&:after {
								border: none;
							}
						}
					}
				}
				.slick-list {
					margin: 0;
				}
				.slick-slide {
					margin: 0 0 10px;
					img {
						padding: 0;
					}
					&:last-child {
						margin-bottom: 0;
					}
					&.slick-current:after {
						display:none;
						border-bottom: none;
					}
				}
			}
			.slick-list {
				border: none !important;
				padding: 0 !important;
			}
		}
	}
}
