#product-content {
	.product-add-to-cart {
		position: relative;
	}
	.product-price {
		@extend .clearfix; 
		margin-bottom: 10px;
		position: relative;
		display: block;
		width: 100%;
		float: none;
	}
	.price-range,
	.price-sales,
	.price-standard {
		display: block;
		width: 100%;
	}

	.product-standard-price,
	.product-price-range,
	.price-sales,
	.product-sales-price {
		color: $charcoal;
		font-family: $g-bold;
		font-size: 20px;
		line-height: 24px;
	}

	.product-sales-price,
	.single-discount-price-mf {
		color: $red;
	}

	.has-sale-price,
	.price-standard.single-standard-price-mf {
		color: $charcoal;
		font-family: $g-regular;
		font-size: 14px;
		line-height: 16px;
		text-decoration: line-through;
	}

	.product-price-discount {
		display: none !important;
	}

	.product-price-discount-pill {
		position: absolute;
		top: 0;
		right: 0;
		display: block !important;
		padding: 10px 14px;
		margin: 0;
		width: auto;
		background-color: $yellow;
		color: $charcoal;
		font-weight: $g-regular;
		font-size: 16px;
		line-height: 16px;
		text-transform: uppercase;
		border-radius: 100px;

		span {
			font-family: $g-bold;
		}
	}
}
