.pt_product-details {
	.bv-cv2-cleanslate .bv-core-container-157 .bv-summary-bar-minimalist-horizontal .bv-write-container,
	.bv-cv2-cleanslate .bv-core-container-157 .bv-summary-bar-minimalist-horizontal .bv-read-container {
		display: none !important;
  }

  .bv-cv2-cleanslate .bv-core-container-157 .bv-summary-bar .bv-rating-ratio-number a,
  .bv-cv2-cleanslate .bv-core-container-157 .bv-summary-bar .bv-rating-ratio-number a:visited,
  .bv-cv2-cleanslate .bv-core-container-157 .bv-summary-bar .bv-rating-ratio-count {
    font-family: $g-regular !important;
    font-size: 16px !important;
    line-height: 22px !important;
  }
}

#pdp-reviews {
  display: inline-block;
  cursor: pointer;
  * {
    pointer-events: none !important;
  }
}

#pdp-reviews [data-bv-show=rating_summary] .bv_main_container .bv_avgRating,
#pdp-reviews [data-bv-show=rating_summary] .bv_main_container .bv_numReviews_text {
  font-size: 16px !important;
}
#pdp-reviews [data-bv-show=rating_summary] .bv_main_container .bv_button_buttonMinimalist {
  display: none !important;
}
