.slick-arrow {
  height: 30px;
  width: 30px;
  background: transparent;
  border: none;
  outline: none !important;
}

.product-listing {
  .slick-arrow {
    &.slick-prev {
      left: 0;
    }
    &.slick-next {
      right: 0;
    }
  }
}

.product-listing-1x4 {
  margin: 0;
  padding: 0;

  h2 {
    visibility: visible;
  }

  ul, li {
    padding: 0;
    list-style: none !important;
  }
}


.pdp-images {
  .amplience-viewer {
    ul,
    .slick-slide {
      padding: 0;
    }
  }
}