footer {
	clear: both;
	a {
		text-decoration: none;
	}
	.policy-tablet {
		@media only screen and (max-width:1025px) and (min-width:767px) {
			margin-top: 20px;
	    	text-align: center;
	    	display: block;
    	}
		display: none;
	}
	.footer-logo {
		text-align: center;
		img {
			max-width: 200px;
			@include respond(large) {
				max-width: inherit;
			}
		}
	}
	
	.footer-customer-service , .footer-top-brands {
		.footer-customer-service-cont {
			padding: 16px 0;
			margin-bottom: 15px;
			@include respond(large-up) {
				margin-bottom: 30px;
				padding: 28px 0;
			}
	    	@include respond(x-large) {
	    		background-size: cover;
	    	}
	    	@include respond(large-down) {
	    		width: 100% !important;
	    	}
			h2 {
				@include font-size(20px);
				@include line-height(22px);
				color: $white;
				margin: 0;
				text-align: center;
				text-transform: uppercase;
				font-weight: $font-wt-bold;
				@include respond(large-up) {
					@include font-size(22px);
					@include line-height(22px);
				}
				@include respond(large) {
					@include font-size(30px);
					@include line-height(30px);
				}
				span {
					display: block;
					@include respond(large-up) {
						display: inline;
					}
				}
			}
			.note {
				color: $rolling-stone;
				@include font-size($font-size-regular);
				@include line-height(16px);
				font-weight: $font-wt-bold;
				max-width: 200px;
				margin: 5px auto 12px;
				@include respond(large-up) {
					max-width: inherit;
					text-align: center;
					margin-bottom: 22px
				}
				@include respond(large) {
					@include font-size(16px);
				}
			}
			.footer-customer-service-links {
				@extend %centered-block;
				#topBrandsLinks {
					.slick-dots {
						height: 15px;
						margin-top:2px;
						li {
							padding-top: 0px;
							height: 11px;
    						width: 11px;
							margin-right: 10px;
							button {
								height: 10px;
    							width: 10px;
    							margin-top: 0px;
    							border-radius: 6px;
							}
						}
					}
				}
				ul {
					font-size: 0; // fix additional paddings for child inline-block elements
					padding: 0;
					width: 100%;
					margin: 0 auto;
				    text-align: center;
					@include respond(large-up) {
						width: 800px;
					}
					@include respond(large-only) {
						width: 640px;
					}
					li {
					  	display: inline-block;
						padding-top: 10px;
	    				width: 26%;
	    				@include respond(large-only) {
	    					width: 30%;
	    				}
	    				margin: 0;
	    				box-sizing: border-box;
	    				list-style: none;
	    				border-right: 0px solid #5d6767;
	    				@include respond(large-up) {
	    					padding: 0;
	    				}
	    				&.last {
	    					border: 0;
	    				}
	    				a.call-number {
                        	img {
                                @include respond(large-down) {
                                    margin-bottom:20px
                                }
                                @include respond(small-updated) {
                                    margin-bottom:10px;
                                }
                            }
                        }
                        .top-brands {
                        	width: 259px;
  							height: 105px;
  							@include respond(large-down) {
								display: block !important;
								margin: 0 auto;
							}
                        }
	    				a, .sleeppys-call {
	    					color: black;
	    					display: block;
	    					text-align: center;
	    					@include font-size($font-size-xs);
							@include line-height($font-size-xs);
							font-weight: $font-wt-bold;
							@include respond(large-up) {
								@include font-size($font-size-regular);
								@include line-height($font-size-regular);
								display: flex;
							}
							span {
								margin: auto 0;
								height: 24px;
								font-size: 20px;
								font-weight: 500;
								font-family: Montserrat;
								font-style: normal;
								line-height: normal;
								letter-spacing: 0.5px;
								text-align: left;
								color: #4a4a4a !important;
								text-align: center;
    							width: auto;
    							@include respond(large-down) {
    								font-size: 16px;
    								font-weight: 600;
    								color: black !important;
    							}
							}
							img {
								margin: 0 10px 0 auto;
								display: block;
								@include respond(large-up) {
									width: inherit;
								}
								@include respond(large-only) {
									width: 200px;
								}
								@include respond(large-down) {
									margin:0 auto 10px
								}
							}
	    					span {
	    						display: block;
	    						@include respond(large-up) {
									display: inline;
								}
	    					}
							&.desktop-only {
								@include respond(large-down) {
									display: none;
								}
							}

							&.mobile-only {
								img {
									height: 32px;
								}
								@include respond(large-up) {
									display: none;
								}
							}
	    				}
					}
				}
			}			
		}
	}
	.footer-container {
		@extend %centered-block;
		@include respond(large-up) {
			display: table;
		}
		@include respond(x-large) {
			padding: 0;
			max-width: 1020px;
		}
		.footer-item {
			overflow: hidden;
			@include respond(large-up) {
				display: table-cell;
				width: 180px;
				vertical-align: top;
				border-left: 1px solid $primary-border-color;
				padding-left: 20px;
				&.first {
					width: 160px;
					border: 0;
					padding: 0;
				}
				&.last {
					width: 150px;
				}
			}
			@include respond(x-large) {
				width: 220px;
				&.first,
				&.last {
					width: 200px;
				}
			}
			&.first {
				label {
					border: 0;
				}
			}
			input {
				display: none;
				&:checked {
					& ~ label {
						background-position: calc(100% - 20px) -20px;
						@include respond(large-up) {
							background: none;
						}
					}
					& ~ .menu-footer {
						height: 150px;
						@include respond(large-up) {
							height: auto;
						}
					}
				}
			}
			label {
				height: 50px;
				line-height: 50px;
				margin: 0;
				cursor: pointer;
				color: $color-secondary;
				border-top: 1px solid $primary-border-color;
				font-weight: $font-wt-bold;
				background: url("../images/interface/footer_arrows.png") no-repeat calc(100% - 20px) 20px;
				@include respond(large-up) {
					background: none;
					cursor: default;
					height: inherit;
					line-height: normal;
					border-top: 0;
				}
				@include respond(large-only) {
		    		@include font-size($font-size-sm);
		    	}
			}
			.menu-footer {
				@extend %clear_list;
			    margin-top: -1px;
			    overflow: hidden;
			    height: 0px;
			    position: relative;
			    width: 100%;
			    z-index: 10;
			    transition-duration: 0.4s;
				@include respond(large-up) {
					margin-top: 8px;
					height: auto;
				}
				li {
					float: none;
					list-style: none;
					@include line-height(22px);
					@include respond(large-up) {
						@include line-height(24px);
					}
					a {
						@include font-size($font-size-sm);
						@include line-height($font-size-sm);
						color: $color-primary;
						@include respond(large-only) {
		    				@include font-size($font-size-xs);
		    			}
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
	.footer-social-email {
		@include respond(large-up) {
			display: table-cell;
			vertical-align: top;
		    width: 250px;
			padding-left: 20px;
		}
		@include respond(x-large) {
			width: 325px;
			padding-left: 40px;
		}
		#email-alert-signup {
			white-space: nowrap;
		    overflow: hidden;
		    margin-bottom: 8px;
		    @include respond(large-up) {
		    	white-space: inherit;
		    }
		    label {
		    	font-weight: $font-wt-bold;
				margin-bottom: 3px;
		    	@include respond(large-only) {
		    		@include font-size($font-size-sm);
		    	}
		    }
			input{
				&.input-text {
					width:calc(100% - 63px);
				    height: 30px;
					float: left;
					border-radius: 15px 0 0 15px;
					background: $alabaster;
					border: 1px solid $alto;
					@include font-size($font-size-sm);
					padding: 0 10px;
					@include placeholder-color($color-primary);
					@include respond(large-only) {
		    			@include font-size($font-size-xs);
		    		}
				}
			}
			button {
				background: $concrete;
				border-width: 1px 1px 1px 0;
				border-style: solid;
				border-color: $primary-border-color;
				color: $color-primary;
				text-transform: capitalize;
				height: 30px;
				line-height: 30px;
				padding: 0;
				@include font-size($font-size-sm);
				width: 63px;
				border-radius: 0 15px 15px 0;
				@include respond(large-only) {
	    			@include font-size($font-size-xs);
	    		}
			}
			span {
				float: left;
				margin-top: 3px;
				&.error2 {
					color: $color-secondary;
					font-size: 12px;
				}
			}
		}
		.review-policy {
			text-align: center;
			@include font-size($font-size-xs);
			@include respond(large-up) {
				text-align: left;
			}
			a {
				color: $color-primary;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}
		.social-links {
			padding: 0;
			margin: 20px 20px 15px;
			text-align: center;
			@include respond(large-up) {
				text-align: left;
				margin: 20px 0 0;
			}
			li {
				display: inline;
				padding-right: 12px;
				margin: 0;
				line-height: 20px;
				&.last {
					padding: 0;
				}
			}
			a:hover {
				text-decoration: none;
			}
		}
	}
	.call-code {
		width: 240px;
		margin: 0 auto;
		padding: 8px 0;
		text-align: center;
		border-radius: 5px;
		background: $concrete;
		font-weight: $font-wt-semibold;
		@include respond(large-up) {
			width: 420px;
			@include font-size(16px);
			padding: 15px 0;
			margin-top: 30px;
		}
		@include respond(large) {
			margin-bottom: 5px;
		}
		span {
			color: $color-secondary;
			@include respond(large-up) {
				padding-left: 5px;
			}
		}
	}
	.copyright {
		text-align: center;
		margin: 20px 0;
		@include font-size($font-size-xs);
		letter-spacing: -0.1px;
		@include respond(large) {
			@include font-size($font-size-sm);
		}
		a {
			color: $color-primary;
			border-left: 1px solid $primary-border-color;
			margin-left: 5px;
			padding-left: 5px;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&.footer-active {
		display: none;
		@include respond(large-up) {
			display: block;
		}
	}
}