// mixins
@mixin reset-list($dot, $padding) {
  margin: 0 !important;
  padding: $padding !important;

  li {
    list-style: $dot !important;
  }
}

@mixin bgCover() {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// font family import mixin
@mixin font-face($style-name, $file, $family, $category:"") {
	$filepath: "../fonts/" + $file;
	@font-face {
		font-family: "#{$style-name}";
		src: url($filepath + ".eot");
		src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf") format('truetype'), url($filepath + ".svg#" + $style-name + "") format('svg');
	}
	%#{$style-name} {
		font: {
			@if $category !="" {
				family: "#{$style-name}",
				#{$category};
			}
			@else {
				family: "#{$style-name}";
				weight: normal;
			}
		}
	}
}
