@import '../foundation-sites/scss/util/util';

// 1. Global
// ---------


// 2. Breakpoints
// --------------
$breakpoints:(
  small: 0,
  medium: 648px,
  large: 1032px,
  xlarge: 1200px,
);

$global-width: rem-calc(map-get($breakpoints, xlarge));
$global-lineheight: 1.5;

$print-breakpoint: large;
$breakpoint-classes: (small medium large);

// 3. The Grid
// -----------

$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-gutter: (
  small: 15px,
  medium: 30px,
);
$grid-column-align-edge: true;
$block-grid-max: 8;

fieldset {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
