@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

$body-font: 'Montserrat', sans-serif;

$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

h1, h2, h3, h4, h5, h6, p, li, a, span, sup {
  -webkit-font-smoothing: antialiased;
}

.h1, .h2, .h3, .h4, .p, .p1, .a, .btn {
  margin: 0;
  font-family: $body-font;
  color: $coal;
  text-transform: none;  
  line-height: normal;
  box-sizing: border-box;
}

.h1 {
  font-size: 25px;
  font-weight: $medium;
}

.h2 {
  font-size: 20px;
  font-weight: $semi-bold;
}

.h3 {
  font-size: 16px;
  font-weight: $bold;
}

.h4 {
  font-size: 14px;
  font-weight: $medium;
}

.p, .a, .btn {
  font-size: 14px;
  font-weight: $regular;
}

.a {
  border-bottom: 1px solid transparent;
  text-decoration: none !important;
  transition: color ease .3s, border ease .3s;

  &:hover {
    color: $blue;
    border-color: $blue;
  }
}

.p1 {
  font-size: 10px;
}

.bold { font-weight: $bold; }
.semibold { font-weight: $semi-bold; }
.medium { font-weight: $medium; }
.regular { font-weight: $regular; }