// creates background color and color classes
@each $color in $brand-colors {
	.bg-#{nth($color, 1)} {
		background-color: #{nth($color, 2)};
	}

	.#{nth($color, 1)} {
		color: #{nth($color, 2)};
	}
}

.border-top { border-top: 1px solid transparent; }
.border-right { border-right: 1px solid transparent; }
.border-bottom { border-bottom: 1px solid transparent; }
.border-left { border-left: 1px solid transparent; }

.border-between { 
	border-top: 1px solid transparent; 
	border-bottom: 1px solid transparent; 
}

@each $color in $brand-colors {
	.border-#{nth($color, 1)} {
		border-color: #{nth($color, 2)};
	}
}

.flex { display: flex !important; }
.flex-between { justify-content: space-between; }
.flex-center { justify-content: center; }

@each $spacing in $spacings {
	.margin-top-#{nth($spacing, 1)} {
		margin-top: #{nth($spacing, 2)} !important;
	}

	.margin-between-#{nth($spacing, 1)} {
		margin: #{nth($spacing, 2)} 0 !important;
	}

	.margin-bottom-#{nth($spacing, 1)} {
		margin-bottom: #{nth($spacing, 2)} !important;
	}

	.padding-#{nth($spacing, 1)} {
		padding: #{nth($spacing, 2)} !important;
	}

	.padding-top-#{nth($spacing, 1)} {
		padding-top: #{nth($spacing, 2)} !important;
	}

	.padding-right-#{nth($spacing, 1)} {
		padding-right: #{nth($spacing, 2)} !important;
	}

	.padding-bottom-#{nth($spacing, 1)} {
		padding-bottom: #{nth($spacing, 2)} !important;
	}

	.padding-left-#{nth($spacing, 1)} {
		padding-left: #{nth($spacing, 2)} !important;
	}
 }

.uppercase { text-transform: uppercase; }
.text-center { text-align: center; }
.text-right { text-align: right; }

// mobile specific
@include breakpoint(small down) {
	.mobile-margin-bottom {
		margin-bottom: $spacing-1;
	}

	@each $spacing in $spacings {
		.mobile-margin-bottom-#{nth($spacing, 1)} {
			margin-bottom: #{nth($spacing, 2)} !important;
		}
	}

	.hide-mobile {
		display: none !important;
	}
}