//-------------------------------------------
//  VARIABLES
//
//  ex: $variable is reusable throughout SASS
//-------------------------------------------

// viewports

$small-breakpoint: 320px;
$medium-breakpoint: 480px;
$large-breakpoint: 768px;
$tablet-breakpoint: 1024px;
$desktop-breakpoint: 1200px;


// color hex values
// names taken from http://www.color-blindness.com/color-name-hue/

$lightblue1800: #78d7ff;
$darkblue1800: #054864;
$crimson: #E5173E;
$night-rider: #333333;
$dark-gray: #AAAAAA;
$concrete: #f2f2f2;
$mirage: #394848;
$summer-sky: #40BDDA;
$fruit-salad: #4C994C;
$white: #ffffff;
$egyptian-blue: #13428A;
$navy-blue: #006FBA;
$sweet-corn: #f9e375;
$silver: #BABABA;
$rolling-stone: #6D7C7C;
$gray-dove: #6b6b6b;


// Sleepy's colors
$thunderbird: #cb171e;
$black: #000000;
$jewel: #10842a;
$alto: #d9d9d9;
$concrete: #f2f2f2;
$white: #ffffff;
$astronaut-blue: #00405a;
$golden-dream: #f0d436;
$falu-red: #991115;
$jewel-dark: #0a5219;
$alabaster: #fafafa;
$coral-candy: #f5cece;
$wisp-pink: #fae7e7;
$dove-gray: #6E6E6E;
// END Sleepy's colors



$color-primary: $night-rider;
$color-secondary: $darkblue1800;

$gainsboro: #E3E3E3;	// Style Guide: input and form element borders (not represented as a swatch in the Style Guide)
$kelly-green: #64A70B;	// Style Guide: heading2, heading3, button bg, price, success msg
$light-gray: #EBEBEB;	// Style Guide: borders, dividers
$limeade: #4C891F;		// Style Guide: button hover bg
$nero: #1A1A1A;			// Style Guide: heading1, body p, entered form text
$venetian-red: #A70B0B;	// Style Guide: error msg text, error border color
$white-smoke: #F3F3F3;	// Style Guide: light background color
$trans: transparent;

//default colors TODO see which ones to remove:

// colors
// names taken from http://www.color-blindness.com/color-name-hue/
$cerulean: #00629b;
$charcoal: #424242;
$citrus: #84bd00;
$dim-gray: #666;
$islamic-green: #019328;
$night-rider: #333;
$nobel: #999;
$rain-forest: #64772d;
$sangria: #990000;
$stark-white: #cebdb3;
$teal: #008578;
$tutu: #faeded;
$very-light-gray: #ccc;
$primary-border-color: $alto;
$broom: #f1d617;
$dark-coral: #cd454a;


$body-bg-color: $white;
$swatch-types: black #000000, beige #f5f5dc, blue blue, purple purple, red red, brown #783201, green green, grey #8f979d, pink #fe249a, orange orange, white #ffffff, yellow #ffff00, navy navy;

// flag-icon-css
$flag-icon-css-path: '../lib/flag-icon-css/flags';

$border: 1px solid $dark-gray;
$border-checkout: 1px solid $alto;

// New 1800 colors
$red: #FF6C5B;
$blue: #1E75A0;
$coal: #333030;
$dark-gray: #979797;
$light-gray: #EFEFEF;
$white: #FFFFFF;

$brand-colors: (
  red: $red,
  blue: $blue,
  coal: $coal,
  dark-gray: $dark-gray,
  light-gray: $light-gray,
  white: $white
);

// global spacing
$spacing-1: 5px;
$spacing-2: 10px;
$spacing-3: 15px;
$spacing-4: 30px;

$spacings: (
  1: $spacing-1,
  2: $spacing-2,
  3: $spacing-3,
  4: $spacing-4
);