header.desktop-header,
header.mobile-header,
.header-mobile-menu, 
#header-mobile-menu {

  a,
  input {
    font-family: $r-regular;
  }

  h3 {
    font-family: $r-semibold;

    strong {
      font-family: $r-bold;
    }
  }
}

.promo-container {
	display: block !important;  
	font-family: $r-regular;
	background-color: #323030;
	text-align: center;
	color: #fff;
	padding: 8px;
	a {
		padding-left: 10px;
		color: #fff;
	}
	@media only screen and (max-width: 768px) {
		 display: none !important;
	}
}
.spacer {
	padding: 0 25px;
}
header.desktop-header {
  // border-top: 1px solid $punch;
  border-bottom: 1px solid #C6C8CA;

  @include respond(large-down) {
    display: none;
  }

  .container {
    display: flex;
    align-items: center;
    padding-top: 0;
    .pt_checkout & { height: 100px;}
  }
}

header.mobile-header {
  display: none;

  @include respond(large-down) {
    display: block;
  }
}

.header-nav-logo {
  width: percentage(1/4);
  img {
    width: 225px;
  }
}

.header-navs {
  width: percentage(3/4);
}

.header-top-nav {
  @include reset-list(none, 0);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  li {
    display: flex;
    align-items: center;
    margin: 0 20px 0 0;
    padding: 8px 0;

    &:last-child {
      margin: 0 0 0 0;
    }

    a.phone {
      font-family: $r-semibold;
      span {
        @include respond(large-only) {
          display: none;
        }
      }
      img {
        margin: 0 8px;
        width: 12px;
        height: 20px;
      }
    }

    svg {
      path {
        fill: $black;
        transition: fill ease .3s;
      }
      circle {
        stroke: $black;
        transition: stroke ease .3s;
      }
    }

    &:hover {
      svg {
        path {
          fill: $punch;
        }

        circle {
          stroke: $punch;
        }
      }
    }

    &.header-chat {
      img {
        width: 20px;
        height: 17px;
      }
    }

    &.my-account {
      img {
        width: 19px;
        height: 20px;
      }
    }

    &.help {
      img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }
      ul {
        right: -20px;
      }
    }

    .store-locator {
      img {
        width: 14px;
        height: 20px;
        margin-right: 8px;
      }
    }

  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: color ease .3s;
  }
}

.header-nav {
  li {
    padding: 0;
    list-style: none !important;
    &.stores-sticky, &.pipe-sticky, &.financing-sticky, &.phone-sticky {
      display: none;
      .header-btn {
        img {
          height: auto;
          margin-top: 3px;
        }
      }
    }
  }
}

.header-top-nav-cart {
  position: relative;

  #mini-cart, #mobile-mini-cart, #mobile-nav-mini-cart {
    position: relative;
    top: 0;
    right: 0;
  }

  .mini-cart-link {
    padding: 0;
    width: auto;
    border-bottom: none !important;
  }

  .minicart-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    top: -4px !important;
    right: -4px !important;
    width: 14px !important;
    height: 14px !important;
    background-color: $punch !important;
    font-size: 10px !important;
  }

  .mini-cart-header,
  .mini-cart-slot {
    display: none;
  }

  .mini-cart-content {
    padding: 0 !important;
    top: 30px;
    right: -5px;
  }

  .mini-cart-products {
    padding: 0 !important;
  }

  .mini-cart-product,
  .mini-cart-subtotals,
  .button-wrapper {
    padding: 10px !important;
  }

  .mini-cart-subtotals {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
  }

  .mini-cart-product {
    width: 100% !important;
    box-sizing: border-box;
  }

  .mini-cart-image {
    border: none;
  }

  .mini-cart-name a,
  .mini-cart-attributes .attribute,
  .mini-cart-pricing > div,
  	.mini-cart-subtotals span {
    font-family: $r-regular;
    font-size: 14px;
    line-height: 16px;
  }

  .mini-cart-name {
    margin: 0 !important;
  }

  .mini-cart-attributes {
    margin: 5px 0;
  }

  .mini-cart-pricing {
    .col1, .col2 {
      width: 100%;
      float: left !important;

      span.label {
        font-weight: 400 !important;
      }
    }

    .col2 {
      margin-top: 5px;
    }
  }

  .mini-cart-link-cart {
    justify-content: center;
    background-color: $punch !important;
  }
}

.header-btn {
  display: inline-block;
  padding: 4px 14px;
  background-color: $punch;
  font-family: $r-medium !important;
  color: $white;
  font-weight: 300;
  text-decoration: none;
  border-radius: 4px;

  img {
    height: 15px;
  }

  svg {
    path {
      fill: $white !important;
    }
  }

  &:hover {
    background-color: lighten($punch, 10%);
    color: $white;
    text-decoration: none;
  }
}

// HEADER NAVIGATION

.header-tooltip {
  cursor: pointer;
  justify-content: center;

  &:before, span.arrow {
    opacity: 0;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 35px;
    margin: 0 auto;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid $punch;
  }

  &.phone:before {
    margin-left: 12px;
  }

  ul {
    @include reset-list(none, 5px 8px);
    position: absolute;
    z-index: -1;
    @include respond(large-up) {
      opacity: 0;
    }
    @include respond(large-down) {
      display: none;
    }
    right: 0;
    top: 42px;
    width: 175px;
    background-color: $punch;
    box-shadow: 0 4px 8px 0 rgba($black, 0.5);

    &.customer-info {
      width: 125px;
      right: 60px;
    }

    &.call-to-order {
      width: 100px;
      right: 235px;
      @include respond(large-only) {
        right: 190px;
      }
      li {
        display: block;
        a {
          display: block;
          text-align: center;
        }
      }
    }

    &.chat{
      width: 90px;
      right: 115px;
      li {
        display: block;
        a {
          display: block;
          text-align: center;
        }
      }
    }

    li {
      margin: 0 0 5px 0;
      padding: 0;

      &.user-info {
        display: block;
        a {
          display: block;
          text-align: center;
        }
      }

      &:last-child {
        margin: 0;
      }
    }

    a {
      color: $white !important;
      font-family: $r-medium;
      text-decoration: none;

      &:hover {
        color: $white !important;
        text-decoration: underline;
      }
    }
  }

  &:hover {
    @include respond(large-up) {
      ul, &:before {
        opacity: 1;
      }
    }
    span.arrow {
      opacity: 1;
    }
    &:before {
      z-index: 9999;
    }

    ul {
      z-index: 9998;
    }
  }
}

body.is-open {
  overflow: hidden;
}

header.mobile-header {
  transition: top 0.4s ease-in-out;
  -webkit-transition: top 0.4s ease-in-out;
  top: -55px;
  border-bottom: 1px solid #AAAAAA;
}

#wrapper{
  transform: translateX(0%);
  transition: all ease .3s;
  @include respond(large-down) {
    transform: none;
  }
  &.pt_checkout {
    transform: none;
  }
  &.is-open {
    transform: translateX(100%);
  }
  &.sticky.is-open {
    position: fixed;
  }
  &.sticky:not(.is-open) {
	  transform: none;
    transition: none;
    -webkit-transition: none;
	
    header.mobile-header {
      transition: top 0.4s ease-in-out;
      -webkit-transition: top 0.4s ease-in-out;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 9999;
      margin: 0;
      background-color: #fff;
      border-bottom: 1px solid #C6C8CA;

      .header-mobile-search, .header-mobile-button {
        display: none;
      }
    }
	
    header.desktop-header {
      transition: all 0.4s linear;
      -webkit-transition: all 0.4s linear;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 9999;
      margin: 0;
      background-color: #fff;

      ul.header-top-nav {
        display: none;
      }

      li.header-nav-item-search {
        display: none;
      }

      ul.header-nav {
        border: none;

        li.resources {
          display: none;
        }

        li.pipe-sticky {
          height: 20px;
          border-left: 1px solid #323030;
        }

        li.stores-sticky, li.pipe-sticky, li.financing-sticky, li.phone-sticky {
          display: block;
          a {
            font-family: $r-regular;
            img {
              margin: 0 8px;
              width: 12px;
              height: 20px;
            }
            svg {
              margin-bottom: -2px;
              path {
                fill: $black;
                transition: fill ease .3s;
              }
              circle {
                stroke: $black;
                transition: stroke ease .3s;
              }
            }
            &:hover {
              color: #333 !important;
              text-decoration: none;
              border: none !important;
              border-color: transparent !important;
            }
          }
        }
        li.phone-sticky {
          a {
            img {
              margin: 0 0 0 8px;
            }
          }
        }
        li.stores-sticky {
          a {
            img {
              margin: 0;
            }
            &:hover {
              color: #fff !important;
              border-bottom: 1px solid transparent !important;
            }
          }
        }

        li.financing-sticky {
          a {
            color: $black !important;
            text-decoration: none !important;
            &:hover {
              text-decoration: none !important;
            }
          }
          svg {
            margin: 0 0 -5px 8px !important;
            width: 20px;
            height: 20px;
            path {
              fill: $black !important;
              transition: fill ease .3s;
            }
          }
          &:hover {
            a {
              color: $punch !important;
            }
            svg {
              path {
                fill: $punch !important;
              }
            }
          }
          @media only screen and (max-width: 768px) {
            display: none;
          }
        }
      }
    }
  }
}

#header-mobile-menu {
	position: absolute;
	z-index: 99999;
	top: 0;
	left: -100%;
	width: 100%;
  height: 100vh;
  overflow-y: scroll;
	background-color: $athens-gray;
  box-sizing: border-box;

  .header-mobile-top {
    border-bottom: 1px solid $silver-sand;
  }
}

.header-countdown {
	border-bottom: 1px solid #C6C8CA;
	.flex-center {
    	flex-wrap: wrap;
    	.countdown-text {
			margin: 0 !important;
			@media only screen and (max-width: 750px) {
				display: block !important;
    			width: 100% !important;
			}
		}
	}
}
.countdown-text sup {
	font-size: 10px;
	top: -.9em;
}
@media only screen and (max-width: 750px) {
	.countdown-clock {
	    width: 100% !important;
	    margin: 15px 0 !important;
    }
}
ul.flip {
	.flip-clock-label {
		display: none !important;
	}
}


.header-mobile-menu,
.header-mobile-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-mobile-toggle {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  width: 35px;
  height: 35px;
  cursor: pointer;

  div {
    flex: 0 0 100%;
    width: 100%;
    height: 3px;
    background-color: $mine-shaft;
    transition: background ease .3s;
  }

  &.mobile-close div {
    position: absolute;

    &:first-child {
      transform: rotate(45deg);
    }

    &:last-child {
      transform: rotate(-45deg);
    }
  }

  &:hover {
  	div {
  		background-color: $punch;
  	}
  }
}

.header-mobile-top {
  padding: 10px 0.625rem;
  background-color: $white;
}

.header-mobile-bottom {
  background-color: $white;

  .user-info {
    @extend .header-nav-item;
    background-color: $athens-gray;

    a {
      display: block;
    }

    span {
      margin-left: 5px;
      color: $punch;
    }
  }
}

.header-mobile-search {
  position: relative;
  padding: 10px 0;

  input[type="text"] {
    width: 100%;
    border-radius: 4px;
  }

  button {
    display: none;
  }

  .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
  }

}

.header-mobile-button a {
  max-width: 100%;
}

.header-mobile-menu-logo {
  display: flex;
  align-items: center;
  flex:1;
  a {
    flex: 1;
    text-align: center;
    img {
    	max-width: 190px;
    	margin: 0 auto;
    }
  }
}

.mobile-btn {
  padding: 5px !important;
  border: 1px solid $mine-shaft;
  border-radius: 4px;
}

/*
* SAYT styles
*/
.header-search.header-nav-item-search, .header-mobile-search {
  #search-suggestions {
    position: absolute;
    min-width: 350px;
    right: 0;
  }
  #suggestions {
		div:hover {
			color: $color-secondary;
		}
	}
	.search-suggestion-wrapper {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
    justify-content: flex-start;
		@include respond(large-down) {
			flex-wrap: nowrap;
			flex-direction: column;
    }
    a {
      font-family: $r-regular;
      &:hover {
        text-decoration: none !important;
      }
    }
		a.close-search-suggestions {
			position: absolute;
			width: 25px;
			height: 25px;
			display: block;
			background: url('../images/Close_Gray.svg') no-repeat center center;
			text-indent: -9999em;
			top: 5px;
			right: 10px;
		}
		.product-suggestions {
			background-color: #fff;
			float: none;
			@include respond(large-down) {
				order: 1;
				width: 100%;
				flex-basis: 100%;
			}
			.search-phrase .completed .original {
				color: #D63426;
			}
			.product-suggestion {
				padding: 10px;
        margin: 0 20px;
        a {
          font-size: 14px;
          line-height: 16px;
        }
				.product-options {
					display: none;
				}
				.product-price {
					margin-top: 10px;
					span {
						margin: 0;
						color: #323030;
						font-size: 13px;
						line-height: 16px;
						display: block;
					}
					.product-standard-price {
						font-family: $r-bold;
					}
					.price-standard, .product-standard-price.has-sale-price {
            text-decoration: line-through;
            font-family: $r-regular;
					}
					.price-sales.price-sales-more, .product-sales-price {
						color: #D63426;
						font-family: $r-bold;
					}
				}
			}
		}
		.phrase-suggestions {
			float: none;
			background-color: #efefef;
			padding-bottom: 20px;
			width: 100%;
		}
		&.full .phrase-suggestions {
			width: 42.8571429%;
			@include respond(large-down) {
				order: 2;
				width: 100%;
				flex-basis: 100%;
			}
		}
		.hitgroup {
			span.divider {
				border-top: 1px solid #ccc;
				width: 95%;
				display: block;
				margin: 25px 0;
			}
			.header {
				color: #000 !important;
				text-transform: none !important;
				font-size: 16px !important;
				margin-top: 20px;
				margin-bottom: 20px;
			}
			.hit {
        margin-bottom: 10px;
        font-size: 14px;
        border: none !important;
        border-bottom: none !important;
        a {
          margin-bottom: 10px;
          font-size: 14px;
          border: none !important;
          border-bottom: none !important;
        }
        a:hover {
          text-decoration: none !important;
          border: none !important;
          border-bottom: none !important;
          margin-bottom: 10px;
        }
        &:hover {
          text-decoration: none !important;
          border: none !important;
          border-bottom: none !important;
          margin-bottom: 10px;
        }
			}
		}

		.more-results {
			text-align: center;
			margin-top: 25px;
			margin-bottom: 25px;
			a.button {
				width: 200px;
        border-radius: 5px;
        &:hover {
          color: #fff;
          background-color: lighten($punch, 10%);
        }
			}
		}
	}
}

.pt_checkout_body{
	.header-mobile-menu-logo{
		float:left;
		display:inline;
	}
	.header-top-nav{
		li{
			font-size:16px;
			@include respond(large-down) {
				margin:0;
			}
		&.header-chat{
			img{
				width: 27px;
    			height: 24px;
    			margin:0 8px;
    		}
			span{
				font-family: $r-regular;
			    font-size: 16px;
			    font-weight: 600;
			}
			@include respond(large-down) {
				padding-right: 7px;
			}
		}
		&.help{
			strong{
				font-family: $r-regular;
			    font-size: 22px;
			    font-weight: 800;
				@include respond(large-down) {
					font-size:16px;
					color:#788995;
					font-weight:normal;
				}
			}
		}
		
		 a.phone{
		 	font-family: $r-regular;
		    font-size: 16px;
		    font-weight: 600;
		 	
		 	img{
		 		width: 20px;
    			height: 28px;
		 	}
		 }
		}
	}
}
