#finder {
  position: relative;
  max-width: 1177px;
  margin: 0 auto;
  padding: 0 4px;
}

#wrapper.pt_finder-result #main.finder-main {
  width: 100%;
  max-width: 100%;
  border-top: 0;
  background-color: #f1f1f2;
}

a,
a:hover,
a:link,
a:visited {
  outline: none !important;
}

h1 {
  font-family: 'Gilroy Bold', Arial, sans-serif;
  font-size: 26px;
  line-height: 1.85rem;
}

.light {
  background-color: #F0F1F1 !important;
}

#wrapper.pt_finder-result #navigation nav {
  border-bottom: 0;
}

#wrapper.pt_finder-result .banner-wrapper {
  display: none;
}

.finder-question-box.hidden {
  display: none;
  opacity: 0;
}

/* email dialog styles */

.finder-email-dialog {
  padding: 30px;
  margin: 0;
}

.changeZip_modal_form_submit {
  display: block;
  float: none;
  margin-top: 19px;
}

.finder-email-dialog h2 {
  font-size: 24px;
  margin-left: 2%;
}

.finder-email-dialog h3 {
  font-size: 18px;
  margin-left: 2%;
}

.finder-email-failed h4 {
  font-size: 18px;
  color: #ff0000;
  margin-left: 2%;
}

.finder-email-success h4 {
  font-size: 18px;
  color: green;
  margin-left: 2%;
}

/* LANDING PAGE STYLES */

.finder #main {
  min-height: 600px;
}

.finder #primary {
  float: none;
  margin: 0;
  padding-top: 30px;
}

.finder-landing {
  overflow: hidden;
}

#finder-badge img {
  display: none;
}

.landing {
  height: 100%;
  width: 100%;
}

.landing-wrapper {
  margin: 0 auto;
  padding-bottom: 110px;
  height: 100%;
}

/*Covid countdown header banner hidden*/
.header-countdown{
  display: none;
}

/*Landing page background fix*/

@media screen and (min-width: 1280px) {
  .landing {
  background-size: 100%;
  background: url(landing_large.jpg) no-repeat top center;
  }
  .landing-wrapper {
  padding-bottom: 263px;
  }
}

@media screen and (max-width: 1280px) and (min-width: 668px) {
  .landing {
  background-size: cover;
  background: url(landing.png) no-repeat top center;
  }
}

.landing-wrapper img {
  display: block;
  margin: 0 auto;
  padding: 30px 0;
}

/* FINDER AND PROGRESS PAGE STYLES */

.finder-desktop {
  display: block;
}

.finder-mobile {
  display: none;
}

p {
  line-height: 1.4em;
}

#finder-questions #main,
#finder-questions #main .interior,
#finder-questions #primary {
  margin: 0 auto !important;
  width: 1024px;
}

#finder-badge {
  width: 131px;
  height: 131px;
  background: url(badge_small.png) no-repeat center center;
  background-size: 100%;
  position: absolute;
  top: 65px;
  left: -10px;
}

.finder-question-0 #page-wrapper {
  background: url(q1.jpg) no-repeat -250px -148px;
}

.finder-question-1 #page-wrapper {
  background: url(q2.jpg) no-repeat -237px -84px;
}

.finder-question-2 #page-wrapper {
  background: url(q3.png) no-repeat 10px -75px;
  margin-top: -50px;
  padding-top: 50px;
}

.finder-question-3 #page-wrapper {
  background: url(q4.png) no-repeat -60px 50px;
}

.finder-wrapper {
  width: 100%;
  margin: 0 auto;
  display: none;
  min-height: 500px;
}

.finder-results .finder-wrapper {
  position: relative;
}

.finder-error-message {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

#progress-wrapper {
  position: absolute;
  margin-top: 215px;
  z-index: 999;
}

.finder-question-box .mattress-box {
  width: 200px;
  height: 300px;
  display: block;
  border: 3px solid #F0F1F1;
  border-radius: 8px;
  margin: 65px auto;
}

.finder-question-box .mattress-box img {
  margin-top: 20px;
  max-width: unset;
}

.finder-question-box.light .mattress-box {
  border: 3px solid #323030;
}

.finder-question-box .mattress-box.PainPoints {
  border: none;
  background: url('../images/Pain_Points.svg') no-repeat 130px 0px;
  width: 400px !important;
  height: 350px !important;
}

.finder-question-box .mattress-box.Cost {
  border: none;
  width: 400px !important;
  height: 300px !important;
  text-align: center;
}

.finder-question-box .mattress-box.Cost .answer-desktop {
  font-family: 'Gilroy-Regular', Arial, sans-serif;
  padding-top: 100px;
}

.finder-question-box .mattress-box.Cost .answer-desktop p {
  font-size: 16px;
}

.finder-question-box .mattress-box.Cost .answer-desktop p:nth-child(2) {
  padding-top: 10px;
}

.finder-question-box .mattress-box.Cost .answer-desktop p b {
  font-size: 30px;
}

.finder-question-box .mattress-box.Cost .answer-desktop.active p b {
  color: #D63426;
}

.finder-question-box .mattress-box div.selectpoint {
  font-size: 16px;
  font-family: 'Gilroy-Regular', Arial, sans-serif;
  color: #D63426;
  position: absolute;
}

.finder-question-box .mattress-box div.selectpoint.active {
  /* color: #fff;
    background: #D63426 url('../images/SelectPoint.svg') no-repeat 25px 0px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg); */
}

.finder-question-box .mattress-box div.selectpoint span {
  background: #323030 url('../images/Cross.svg') no-repeat 3px 3px;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 30px;
}

.finder-question-box .mattress-box div.selectpoint.active span {
  background: #D63426 url('../images/Cross.svg') no-repeat 3px 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

/*  Point 1 */

.finder-question-box .mattress-box div.selectpoint.sp-1 {
  margin-top: 77px;
  margin-left: 182px;
}

.finder-question-box .mattress-box div.selectpoint.sp-1 span {
  margin-top: -30px;
  margin-left: 3px;
}

/*  Point 2 */

.finder-question-box .mattress-box div.selectpoint.sp-2 {
  margin-top: 84px;
  margin-left: 270px;
}

.finder-question-box .mattress-box div.selectpoint.sp-2 span {
  margin-top: -4px;
  margin-left: -39px;
}

/*  Point 3 */

.finder-question-box .mattress-box div.selectpoint.sp-3 {
  margin-top: 150px;
  margin-left: 180px;
}

.finder-question-box .mattress-box div.selectpoint.sp-3 span {
  margin-top: -30px;
  margin-left: 2px;
}

/*  Point 4 */

.finder-question-box .mattress-box div.selectpoint.sp-4 {
  margin-top: 130px;
  margin-left: 85px;
}

.finder-question-box .mattress-box div.selectpoint.sp-4 span {
  margin-left: 40px;
  margin-top: -5px;
}

.mattress-slider-container {
  width: 500px;
  margin: 0 auto;
}

.slider-label {
  font-family: 'Gilroy Bold', Arial, sans-serif;
  text-transform: capitalize;
}

.slider-label.slider-min {
  float: left;
}

.slider-label.slider-max {
  float: right;
  margin-top: -14px
}

.mattress-slider {
  margin-bottom: 50px;
}

.mattress-slider.ui-slider {
  background-color: #C6C8CA;
  width: 400px;
  margin: 0 auto;
  /* box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19); */
  border-radius: 8px;
  border: 1px solid #999;
}

.mattress-slider .ui-slider-handle {
  background-color: #D63426;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slider-dots {
  width: 390px;
  position: relative;
  height: 30px;
  margin: 0 auto;
}

.tick {
  position: absolute;
  width: 8px;
  margin-left: -4px;
  text-align: center;
  font-size: 6px;
  margin-top: -9px
}

#progress-wrapper .progress-steps {
  display: block;
  list-style-type: none;
  color: #c6c8ca;
}

#progress-wrapper .progress-steps.active,
#progress-wrapper .progress-steps.answered {
  color: #fff;
}

#progress-wrapper.light .progress-steps.active,
#progress-wrapper.light .progress-steps.answered {
  color: #323030;
}

#progress-wrapper .progress-steps:before {
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  border-radius: 15px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: -4px;
}

#progress-wrapper .progress-steps.active:before,
#progress-wrapper .progress-steps.answered:before {
  background-color: #fff;
}

#progress-wrapper.light .progress-steps:before {
  border: 1px solid #c6c8ca;
}

#progress-wrapper.light .progress-steps.active:before,
#progress-wrapper.light .progress-steps.answered:before {
  background-color: #323030;
  border: 1px solid #323030;
}

.progress-steps:first-of-type {
  padding-left: 0;
}

.progress-steps:last-of-type {
  padding-right: 0;
}

#progress-wrapper .progress-steps.answered:hover {
  color: #D63426 !important;
  cursor: pointer;
}

#progress-wrapper .progress-steps.answered:hover:before {
  border: none;
  background: none;
  width: 20px;
  height: 20px;
  background: url("../images/Progressbar_back.svg") no-repeat 0px 2px;
}

.progress-bubbles {
  display: block;
  width: 18px;
  height: 18px;
  margin: 10px auto 0;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.progress-bubbles img {
  display: none;
}

.step-question:hover {
  cursor: pointer;
  background-color: rgb(215, 230, 251);
}

.progress-line {
  width: 75%;
  height: 1px;
  background-color: rgb(0, 0, 0);
  margin: -10px auto;
}

.answer-desktop {
  display: block;
}

.answer-mobile {
  display: none;
}

li.answer img {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}

.finder-results.page-wrapper div.progress-bubbles img {
  display: block;
}

.finder-results-banner {
  width: 100%;
  display: table;
}

.finder-results-banner .clear-both {
  background-color: #f47b2a;
  padding: 1px 15px;
  margin-bottom: 40px;
  color: #fff;
}

.finder-results-banner .clear-both p {
  line-height: 14px;
}

.finder-results-banner-row {
  display: table-row;
}

.finder-results-banner-left-col,
.finder-results-banner-right-col {
  width: 49.8%;
  display: table-cell;
}

.finder-firm {
  background-color: #fcb63e;
  margin: 30px 0 45px;
}

.finder-medium {
  background-color: #f47b2a;
  margin: 30px 0 45px;
}

.finder-soft {
  background-color: #a61f38;
  margin: 30px 0 45px;
}

.finder-contoured {
  background-color: #8a9c3c;
  margin: 30px 0 45px;
}

.finder-results-banner-left-col {
  border-right: 1px solid #e5e5e5;
  vertical-align: middle;
}

.finder-results-banner-left-col h3 {
  color: #000;
  font-size: 50px;
  font-weight: 800;
}

.finder-results-banner-right-col h4 {
  color: #fff;
  font-size: 14px;
  font-weight: 800;
}

.finder-results-banner-right-col p {
  color: #fff;
  font-size: 33px;
  font-weight: 400;
}

.bestmatch {
  padding-top: 20px;
}

[id^=finder-question-wrapper] .bestmatch {
  border-top: 0;
}

.bestmatch p {
  font-family: 'Gilroy-Regular', Arial, sans-serif;
  font-size: 17px;
  line-height: 1.41;
  color: #787878;
  margin: 10px 0 0 0;
}

.finder-soft p,
.finder-medium p,
.finder-firm p {
  font-size: 18px;
  color: #fff;
  padding: 12px 18px;
}

.related-recs {
  color: #2B2B2B;
  font-size: 24px;
  margin-bottom: 70px;
  font-weight: 700;
}

.finder-results-banner-right-col .bestmatch p {
  color: #000;
  font-size: 33px;
  font-weight: 400;
  padding: 10px 22px 10px 22px;
}

.finder-question {
  list-style-type: none;
}

.finder-question-box {
  /* opacity: 0; */
  padding: 0;
  height: 550px;
  background-color: #323030;
}

.finder-question-box.current {
  /* width: 100%; */
  display: block;
}

.finder-question-box.hidden {
  display: none;
  opacity: 0;
}

#finder-question-wrapper-1 {
  margin-top: 85px;
}

[id^=finder-question-wrapper-left] {
  height: 450px;
}

.finder-question-box h1 {
  text-transform: none;
  margin-top: 25px;
  margin-bottom: 0;
  height: 29px;
  font-family: 'Gilroy-Regular', Arial, sans-serif;
  font-size: 36px;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
}

.finder-question-box.light h1 {
  color: #323030;
}

.finder-question-box span.question {
  font-family: 'Gilroy-Regular', Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.41;
  letter-spacing: normal;
  color: #787878;
}

[id^=finder-question-wrapper-right] h3 {
  font-family: 'Gilroy-Regular', Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: -0.6px;
  color: #787878;
  margin-top: 25px;
  margin-bottom: 5px;
}

.finder-back-button {
  margin: 0 auto;
}

.finder-back-button.back-desktop {
  display: block;
  text-align: right;
}

.finder-back-button.back-mobile {
  display: none;
}

.Dropdown.finder-select {
  padding: 15px 0 15px 15px;
  margin-left: 30px;
  height: 50px;
  font-family: Arial;
  font-size: 18px;
  position: relative;
  background: url("../images/dropdownArrow.png") no-repeat #fff;
  background-position: 97%;
}

.Dropdown::after {
  content: url("../images/dropdownArrow.png");
  position: absolute;
  right: 0;
}

.finder-question-box p {
  font-size: 16px;
  padding-top: 0;
  margin-top: 0;
}

.finder-question-box p span {
  font-size: 24px;
}

.finder-question-box p span.dimensions {
  font-size: 18px;
  margin-left: 10px;
}

.finder-question-box a {
  color: #8b8989;
  text-decoration: none;
}

ul.finder-question {
  padding: 0;
  float: right;
  margin-top: -320px;
  margin-right: 55px;
  right: 0;
}

.finder-question-box .answer {
  color: #fff;
  width: 245px;
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-family: 'Gilroy-Regular', Arial, sans-serif;
}

.finder-question-box .answer b {
  font-family: 'Gilroy-Regular', Arial, sans-serif;
  font-size: 30px;
}

.finder-question-box.light .answer {
  color: #323030;
}

ul.answer-icons {
  text-align: center;
  margin: -20px auto;
  position: relative;
  width: 500px;
}

ul.answer-icons li {
  display: inline;
  padding: 25px;
}

ul.answer-icons li.active {
  border-bottom: 5px solid #D63426;
  padding-bottom: 50px;
}

ul.answer-icons li img {
  width: auto;
  height: 55px;
}

#Price .answer {
  width: 191px;
}

.zipcode {
  display: inline-block;
  margin-left: 31px;
  vertical-align: top;
  margin-top: -5px;
}

.answer img {
  border: none;
  padding: 0;
}

.answer {
  display: none;
}

.answer.seven-answers {
  width: 191px;
}

.answer.seven-answers.second-row-icon {
  margin-left: 137px;
}

.hint {
  width: 15px;
  height: 15px;
  display: none;
  background: url(info.png) no-repeat center center;
  background-size: cover;
}

.hint.hint-on {
  background: url(info-on.png) no-repeat center center;
  background-size: cover;
}

.hint * {
  display: none;
}

#hint-text {
  display: none;
  background-color: rgb(255, 255, 255);
  width: 270px;
  height: 95px;
  text-align: right;
  border: 4px double rgb(0, 0, 0);
  position: absolute;
  z-index: 8001;
  top: 93px;
  right: -160px;
}

#hint-text.hint-on {
  display: block;
  z-index: 6;
}

#hint-text span {
  position: absolute;
  top: 0;
  left: 5px;
  font-size: 18px;
  cursor: pointer;
}

#hint-text h2 {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 24px;
  font-style: italic;
}

#hint-text p {
  position: absolute;
  top: 35px;
  right: 10px;
  font-size: 16px;
}

#hint-text-modal,
#hint-text-modal .display {
  display: none;
}

/* LOCALE SPECIFIC FINDER QUESTION STYLES */

.fr_fr #Age li:last-of-type {
  font-size: 20px;
}

.fr_fr .noEcomBtnMobile {
  display: none !important;
}

/* END FINDER AND PROGRESS STYLES */

/* RESULTS STYLES */

#wrapper.pt_finder-result #main {
  background: #fff;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.slick-slider .slick-dots {
  font-size: 0;
  text-align: center;
  height: 12px;
  margin-top: 10px;
  position: absolute;
  top: -17px;
  margin: 0 auto;
  width: 100%;
}

.slick-slider .slick-dots button{
    height: 10px;
    width: 10px;
    border: none;
    background: #FFF;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-indent: -9999px;
    box-sizing: border-box;
    margin-top: 0;
    border-radius: 50%;
}

#carousel-arrows {
  width: 275px;
  margin: -2px auto 0;
}

.slick-arrow {
  background: none;
  border-radius: 0;
  border: none;
  bottom: -41px;
  color: #000;
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 20px;
  height: auto;
  margin: 0;
  overflow: visible;
  opacity: 1;
  padding: 0;
  position: absolute;
  text-decoration: none;
  text-indent: unset;
  text-transform: uppercase;
  transition: all 0.3s ease;
  top: auto;
  width: auto;
  z-index: 1;
}

.slick-arrow:hover {
  background: none;
  opacity: 1.0;
  color: #000;
}

.slick-arrow.slick-disabled {
  /* display: none !important; */
  transition: all 0.3s ease;
  opacity: 0;
}

.slick-arrow.slick-prev {
  left: 17px;
  padding-left: 14px;
}

.slick-arrow.slick-next:after,
.slick-arrow.slick-prev:after {
  height: 12px;
  position: absolute;
  background-position-y: -229px;
  background-position-x: -278px;
}

.slick-arrow.slick-prev:after {
  content: '<';
  background: none;
  bottom: 5px;
  left: 0;
  right: auto;
  top: 0;
}

.slick-arrow.slick-next {
  //right: 23px;
  //padding-right: 13px;
  padding-right: 13px;
  position: absolute;
  right: 6%;
  width: auto;
}

.slick-arrow.slick-next:after {
  background: none;
  bottom: 5px;
  content: ">";
  left: auto;
  right: 0;
  top: 0;
  transform: rotate(0);
}


#carousel-arrows .slick-arrow {
  position: relative;
  margin-top: -65px;
  background: none !important;
}

#carousel-arrows .slick-arrow.slick-disabled {
  display: none !important;
}

#carousel-arrows .slick-arrow.slick-next {
  float: right;
}

#carousel-arrows .slick-arrow.slick-prev {
  float: left;
}

.pt_finder-result .featured-product .product-tile .readmore {
  text-align: left;
  margin-left: 10px;
  margin-top: 5px;
}

.featured-product p {
  font-family: 'Gilroy-Regular', Arial, sans-serif;
  font-size: 17px;
  line-height: 1.41;
  color: #787878;
  margin: 0 0 20px;
}

.results-bottom .mobile {
  visibility: hidden;
}

.pt_finder-result .featured-product .product-tile .product-image {
  background-color: #fff;
  width: auto;
  // max-width: 275px;
  max-width: 95%;
  margin: 18px auto 0;
}

.pt_finder-result .featured-product .product-tile .product-right-content {
  height: 100%;
  background-color: #fff;
  padding: 10px;
  clear: both;
}

.pt_finder-result .featured-product .product-tile .product-right-content>div {
  padding-bottom: 20px;
}

.pt_finder-result .featured-product .product-tile .product-right-content .product-rating {
  margin-top: 20px;
  padding-bottom: 0;
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .pt_finder-result .featured-product .product-tile .product-right-content .product-rating {
  display: inline-block;
  }

  .finder-results__info {
    display: none;
  }

  .finder-results__price-heading {
    display: none;
  }

  .finder-results__additional-steps-section {
    text-align: center;
  }

  .finder-results__additional-step-cell {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 0;
  }

  .finder-results__additional-step-cell h5.finder-results__title-h5 {
    margin: 8px;
  }

  .finder-results__additional-step-cell img {
    max-width: 70px;
  }
}

.pt_finder-result .product-pricing {
  display: block;
  padding: 0 0 25px 10px;
}

.finder-results #finder-badge {
  top: 0;
  left: 96px;
}

.finder-results #progress-wrapper {
  margin: 0;
}

.finder-results {
  padding-top: 0;
  margin-bottom: 9px;
  @media screen and (min-width: 768) {
    padding-top: 25px;
  }
}

.results #beauty-mask-logo {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 150px;
}

.results-wrapper {
    /* width: calc(100% - 225px);
    float: right; */
}

.banner {
  font-size: 30px;
  text-align: left;
  margin: 0px 0 20px 10px;
  color: #333;
}

.small-text .banner {
  font-size: 40px;
}

#plus {
  background: url(plus.png) no-repeat center center;
  background-size: cover;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 1112px;
  left: 50%;
  transform: translateX(-50%);
}

.finder-top-result {
  display: table-row;
}

.finder-answer-list {
  display: table-cell;
  vertical-align: top;
  width: 33%;
}

.featured-no-results {
  /*display: table-cell;
    width: 69%;*/
  padding-bottom: 4em;
}

.banner {
  margin-top: 0;
  padding-top: 0;
}

.perfect-pair {
  margin: 15px auto;
  text-align: center;
  clear: both;
  overflow: hidden;
}

.finder-answer-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.finder-answer-list ul li {
  font-size: 14px;
  border: 1px solid #BABABA;
  padding: 10px 53px;
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
}

.answer-pills {
  position: absolute;
    margin-top: 115px;
    padding: 0 15px;
    max-width: 225px;
}

.answer-pills b {
  font-weight: 900;
  color: #000;
}

.answer-pills ul {
  list-style: none;
  padding-left: 5px;
  margin-top: 10px;
}

.answer-pills ul li {
  font-size: 14px;
  padding: 0;
  position: relative;
  margin-bottom: 10px;
  display: block;
}

.bestmatch .answer-pills ul li:before {
  content: "";
  background-color: #323030;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: -2px;
}

.bestmatch .answer-pills ul li.multiselect {
  margin-bottom: 0;
}

.bestmatch .answer-pills ul li.last-multiselect {
  margin-bottom: 10px !important;
}

.bestmatch .answer-pills ul li.multiselect:before {
  background: none;
}

.bestmatch .answer-pills ul li.first-multiselect:before {
  background-color: #323030;
}

/* .retake-button-mobile {
  display: none;
} */

.pt_finder-result .product-tile .product-name h2 {
  font-size: 24px;
  font-weight: 800;
  margin: 0;
}

.pt_finder-result .featured-product a {
  color: #323030;
  font-family: "Gilroy Medium", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.41;
  margin: 0 auto;
  padding-bottom: 2px;
  text-transform: capitalize;
  text-decoration: none;
}

.pt_finder-result .featured-product .product-tile img {
  max-width: 340px;
  width: 95%;
}

.pt_finder-result .featured-product h1 a {
  font-family: 'Gilroy Bold', Arial, sans-serif;
  font-size: 21px;
  font-weight: 900;
}

.pt_finder-result .product-tile h3 {
  margin: 4px 0;
  padding: 0;
}

.pt_finder-result .related-recommendations .product-tile h2,
.pt_finder-result .related-recommendations .product-tile h3 {
  font-size: 18px;
  font-weight: 400;
}

.pt_finder-result .related-recommendations .product-tile div.finder-product-name h2 {
  font-family: 'Gilroy-Regular', Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.2px;
  color: #525252;
}

.pt_finder-result .related-recommendations .product-tile div.finder-product-name h3 {
  font-family: 'Gilroy-Regular', Arial, sans-serif;
  font-size: 17px;
  line-height: 1.35;
  color: #525252;
}

.pt_finder-result .description {
  margin: 20px 0 0 0;
}

.pt_finder-result .description ul>li:before {
  content: "-";
  padding-right: 5px;
}

.pt_finder-result .description,
.pt_finder-result .product-tile .product-pricing {
  font-size: 16px;
  color: #333;
}

.pt_finder-result .description ul li {
  margin-bottom: 10px;
  margin-left: 13px;
  position:relative;
  text-align: left;
}

.pt_finder-result .description ul li:before {
  position: absolute;
  left: -13px;
}

.pt_finder-result .product-tile .product-pricing {
  margin: 0;
}

/* .pt_finder-result .product-tile .thumb-link img {
  position: absolute;
  left: 0;
} */

.pt_finder-result .product-tile .product-pricing .product-sales-price {
  font-weight: 400;
}

/*removing headings per comps in ticket #809171*/

#mattress-finder-heading {
  display: block;
  padding-top: 100px;
}

#mattress-finder-heading .heading-container {
  margin: 0 auto;
  width: 500px;
  height: 500px;
}

.pt_finder-result #wrapper #main {
  margin-top: 0;
  padding-top: 0;
}

.pt_finder-result #mattress-finder-heading h1,
.pt_finder-result #mattress-finder-heading h3 {
  text-align: center;
  position: absolute;
  z-index: 999;
  width: 475px;
}

.pt_finder-result #mattress-finder-heading h1 {
  font-size: 45px;
  line-height: 48px;
  color: #fff;
  text-transform: none;
  font-family: 'Gilroy-Bold', Arial, sans-serif;
  margin-top: 65px;
}

.pt_finder-result #mattress-finder-heading h3 {
  color: #D63426;
  font-size: 17px;
  font-weight: 400;
  font-family: 'Gilroy-Regular', Arial, sans-serif;
  margin-top: 165px;
}

#mattress-finder-heading #mattress-block {
  width: 200px;
  height: 300px;
  border: 3px solid #C6C8CA;
  opacity: 0.2;
  border-radius: 8px;
  margin: 0 auto;
}

#mattress-finder-heading #start {
  text-align: center;
  margin-top: 50px;
}

.finder-back-button {
  padding-top: 25px;
}

#finder-next-button {
  padding-bottom: 25px;
}

#finder-next-button-mobile,
#no-issues-button-mobile {
  display: none;
}

#mattress-finder-heading #start a,
.finder-back-button a,
#finder-next-button a,
#finder-next-button-mobile a {
  color: #D63426;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  font-family: 'Gilroy-SemiBold', Arial, sans-serif;
  display: block;
}

.finder-back-button a {
  color: #fff;
}

#main.light .finder-back-button a {
  color: #323030;
}

#mattress-finder-heading #start a span.fa.fa-angle-down,
#finder-next-button a span.fa.fa-angle-down,
#finder-next-button-mobile a span.fa.fa-angle-right {
  font-size: 24px;
  color: #D63426;
  display: block;
  text-align: center;
}

#finder-next-button button,
#no-issues-button-mobile button {
  background-color: #D63426;
  margin: 0 auto;
  display: block;
  width: 175px;
  border-radius: 5px;
  margin-top: -12px;
  margin-bottom: 17px;
}

.finder-back-button a span.fa.fa-angle-up {
  color: #fff;
}

#main.light .finder-back-button a span.fa.fa-angle-up {
  color: #323030;
}

.pt_finder-result #mattress-finder-heading p {
  font-family: 'Gilroy-Regular', Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.41;
  letter-spacing: normal;
  color: #787878;
}

.featured-product .product-image,
.finder-accessories .product-image {
  width: 100%;
}

.product-heading {
  font-size: 42px;
  font-style: italic;
}

.small-text .product-heading {
  font-size: 28px;
  font-style: normal;
}

.doodat {
  height: 5px;
  width: 80%;
  margin: 15px auto;
  background: url(doodat.png) no-repeat center center;
}

.name-top {
  font-size: 55px;
  text-transform: uppercase;
}

.small-text .name-top {
  font-size: 36px;
}

.name-bottom {
  font-size: 25px;
  text-transform: uppercase;
}

.featured-product a {
  font-size: 38px;
  text-transform: uppercase;
}

.featured-product .product-tile div.product-name a.name-link {
  line-height: inherit;
}

div.featured-no-results a.name-link {
  text-decoration-line: none;
  width: 20%;
}

.product-description {
  font-style: italic;
  margin: 20px auto 30px;
  width: 62%;
  height: 100px;
  font-size: 18px;
  overflow: hidden;
}

.small-text .product-description {
  font-style: normal;
}

.featured-product .product-tile div.product-description {
  font-size: 18px;
}

.product-pricing {
  display: none;
  margin: 10px;
  font-size: 16px;
}

.results-bottom {
  color: rgb(0, 51, 102);
  margin: 15px 0;
  clear: both;
  /* text-align: center; */
  ;
}

.results-bottom a {
  text-decoration: none;
}

.results-bottom ul,
.related-recommendations ul {
  list-style: none;
  display: table-row;
}

.finder-rule {
  margin: 65px 0;
  border-top: 1px solid #eee;
}

.first-product-rule {
  margin: 20px 0;
}

#mobile-purchase {
  display: none;
}

.restart-finder,
#go-to-top {
  padding-top: 30px;
  text-transform: none;
}

.restart-finder {
  background: url(restart.png) no-repeat top center;
}

#go-to-top {
  background: url(arrow.png) no-repeat top center;
  cursor: pointer;
}

.finder-bottom-nav {
  display: inline-block;
  margin: 0 75px;
}

.finder-bottom-nav button {
  width: 200px;
  cursor: pointer;
  height: 35px;
}

.zip-button {
  margin: 10px 0;
  padding: 12px 24px;
  color: #fff;
  text-transform: uppercase;
  display: block;
  font-size: 14px;
  line-height: 14px;
  background: #54BDDA;
}

#Where {
  width: 125px;
  padding: 10px 40px;
  font-size: 18px;
  margin-left: 0;
  height: auto;
  margin-bottom: 20px;
  display: inline-block;
  margin-top: 5px;
  box-sizing: content-box;
}

.add-to-cart-button button.add-to-cart-tile {
  cursor: pointer;
}

.results-wrapper a.noEcomBtn {
  background: rgb(54, 66, 74);
  border: 1px solid rgb(54, 66, 74);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 12px;
  padding: 10px;
  text-transform: uppercase;
  -webkit-appearance: none;
  border-radius: 0px;
  color: rgb(255, 255, 255);
  display: block;
}

.question-wrapper.extra-space {
  margin-top: 136px;
}

@-moz-document url-prefix() {
  .question-wrapper.extra-space {
  margin-top: 140px;
  }
}

/* END RESULTS STYLES */

/* TABLET STYLE */

@media screen and (max-width: 1024px) {
  .finder-answer-list {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-right: 5%;
  }
  .featured-best-result {
  display: inline-block;
  width: 63%;
  }
  #finder-accessories {
  padding: 0;
  }
  #havequestions-button {
  display: none;
  }
  .question-wrapper.extra-space {
  margin-top: 150px;
  }
  .bestmatch-left-col {
  width: 100%;
  }
  .retake-button {
  width: 100%;
  margin: 0 auto;
  float: none;
  }
  p.bestmatch-left-col {
  margin: 10px 0;
  }
  #wrapper.pt_finder-result #main {
  margin: 0;
  padding: 0 !important;
  }
  .retake-button {
  position: relative;
  right: auto;
  top: auto;
  margin-top: 65px;
  }
  #finder {
  max-width: initial;
  min-width: initial;
  }
  #Where-ID {
  display: block;
  margin: 0 auto;
  width: 57%;
  }
  .progress-steps {
  margin-top: 0;
  }
  #progress-wrapper {
  height: auto;
  z-index: 9999;
  }
  .answer img {
  margin: 0;
  padding: 0;
  }
  .finder-question-box {
  padding: 0;
  }
  .answer.seven-answers.second-row-icon {
  margin-left: 113px;
  }
  .answer-pills {
  display: none;
    }

    .results-wrapper {
        width: 100%;
    }
}

/* 768 - 1023 ---> center main results carousel */

@media screen and (max-width: 850px) and (min-width: 768px) {
  ul.finder-question {
  margin-right: 28px;
  }
  #carousel-arrows .slick-arrow {
  margin-top: -62px;
  }
}

@media screen and (max-width: 767px) {

  #wrapper.pt_finder-result #main {
    margin: 0;
  }

  .finder-wrapper {
  margin: 0;
  }

  #finder-question-wrapper-1,
  #finder-question-wrapper-2,
  #finder-question-wrapper-3 {
  height: auto;
  }
  #finder-question-wrapper-1 {
  margin-top: 0;
  }
  .finder-question-box {
  margin-top: -10px;
  }
  .finder-question-box .answer {
  width: 100%;
  text-align: center;
  }
  .finder-question-box .mattress-box {
  margin: 45px auto;
  }
  .finder-question-box .mattress-box.PainPoints {
  background: url(../images/Pain_Points.svg) no-repeat center top;
  width: 340px !important;
  height: 100% !important;
  }
  .finder-question-box .mattress-box.Cost {
  width: 300px !important;
  margin-top: 20px;
  }
  .finder-question-box .mattress-box.Cost .answer-desktop p b {
  border: 2px solid #000;
  padding: 8px;
  border-radius: 5px;
  }
  /*  Point 1 */
  .finder-question-box .mattress-box div.selectpoint.sp-1 {
  margin-top: 77px;
  margin-left: 152px;
  }
  /*  Point 2 */
  .finder-question-box .mattress-box div.selectpoint.sp-2 {
  margin-top: 84px;
  margin-left: 238px;
  }
  /*  Point 3 */
  .finder-question-box .mattress-box div.selectpoint.sp-3 {
  margin-top: 150px;
  margin-left: 152px;
  }
  /*  Point 4 */
  .finder-question-box .mattress-box div.selectpoint.sp-4 {
  margin-top: 130px;
  margin-left: 53px;
  }
  .finder-question-box h1 {
  font-size: 30px;
  padding: 10px;
  }
  [id^=finder-question-wrapper-left] {
  height: 400px;
  }
  ul.finder-question {
  float: none;
  margin-top: 10px;
  margin-right: 0;
  }
  ul.finder-question#PainPoints .answer-mobile {
  display: none;
  }
  ul.answer-icons {
  display: none;
  }
  .pt_finder-result #mattress-finder-heading h1 {
  width: 90%;
  margin-left: 0;
  font-family: 'Gilroy-SemiBold', Arial, sans-serif;
  font-size: 34px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: 1.1px;
  margin-left: 18px;
  }
  .pt_finder-result #mattress-finder-heading h3 {
  width: 100%;
  margin-left: 0;
  }
  #mattress-finder-heading .heading-container {
  width: 100%;
  }
  .finder-back-button.back-desktop {
  display: none;
  }
  .finder-back-button.back-mobile {
  display: block;
  float: left;
  padding-left: 0;
  margin-left: 20px;
  }
  #finder-next-button {
  display: none;
  }
  #finder-next-button-mobile {
  display: block;
  float: right;
  padding-bottom: 20px;
  margin-right: 20px;
  }
  #no-issues-button-mobile {
  display: block;
  padding-top: 50px;
  }
  .finder-back-button {
  padding-top: 0;
  }
  #mattress-finder-heading #start a span.fa.fa-angle-down,
  .finder-back-button a span.fa.fa-angle-up,
  #finder-next-button-mobile a span.fa.fa-angle-right,
  .finder-back-button a span.fa.fa-angle-left {
  width: 100%;
  }
  #finder-next-button-mobile a,
  #finder-next-button-mobile a span.fa.fa-angle-right,
  .finder-back-button a,
  .finder-back-button a span.fa.fa-angle-left {
  display: flex;
  }
  .finder-back-button a span.fa.fa-angle-left {
  padding-right: 10px;
  margin-top: -2px;
  }
  #finder-next-button-mobile a span.fa.fa-angle-right {
  padding-left: 10px;
  margin-top: -2px;
  }
  .finder-back-button a span.fa.fa-angle-left {
  font-size: 24px;
  }
  ul#progress-wrapper {
  display: none;
  }
  .answer {
  display: block;
  }
  .mattress-slider-container {
  display: none;
  }
  .answer-desktop {
  display: none;
  }
  .answer-mobile {
  display: block;
  }
  .mobile-answer-click-area {
  display: block;
  float: none;
  width: 100%;
  }
  .bestmatch {
    padding: 20px 8px 16px 8px;
  }

  .results-wrapper {
    margin-bottom: 48px;
    width: 100%;
  }

  .pt_finder-result .featured-product .product-tile .product-right-content>div {
  text-align: center;
  padding-left: 0;
  }
  .pt_finder-result .featured-product .product-tile .product-right-content {
  width: 100%;
  float: none;
  margin: 0;
  padding: 5px 0;
  position: relative;
  }
  .pt_finder-result .featured-product .product-tile .product-right-content .product-name h1 {
    line-height: 1.2875rem !important;
    margin: 20px 0 7px;
    padding: 0 10px;
    text-align: left;
  }
  .pt_finder-result .featured-product .product-tile .product-right-content .product-name h1 a {
    font-size: 21px;
    line-height: 0.0125rem !important;
    letter-spacing: 0.0125rem;
    text-decoration: none;
    text-transform: none;
  }
  .pt_finder-result .featured-product .product-tile .product-right-content .description {
    font-size: 16px;
    letter-spacing: 0.002rem;
    line-height: 17px;
    margin-top: 0;
    padding: 0 12px;
    text-align: left;
  }
  .pt_finder-result .featured-product .product-tile .product-right-content .description ul,
  .pt_finder-result .featured-product .product-tile .product-right-content .product-price {
  display: block;
  text-align: center;
  }
  .pt_finder-result .featured-product .product-tile .product-right-content .product-price {
    text-align: left;
    display: block;
    padding-left: 13px;
  }
  .pt_finder-result .featured-product .product-tile .product-right-content .product-price span {
  display: flex;
  text-align: center;
  }
  .pt_finder-result .featured-product .product-tile .product-right-content .learn-more button {
  width: 90%;
  margin: 0 auto;
  }
  .bv-cv2-cleanslate .bv-core-container-138 .bv-inline-rating-container .bv-stars-container dd {
  text-align: center !important;
  display: block !important;
  }
  .bv-cv2-cleanslate .bv-core-container-138 .bv-inline-rating-container .bv-stars-container dd.bv-rating-ratio-count,
  .bv-cv2-cleanslate .bv-core-container-138 .bv-inline-rating-container .bv-stars-container dd.bv-rating-ratio-number {
  display: none !important;
  }
}

@media screen and (max-width: 650px) and (min-width: 500px) {}

/* END TABLET STYLES */

/* MOBILE STYLES */

@media screen and (min-width: 668px) {
  .perfect-pair {
  width: 980px;
  }
  #Where-ID {
  width: 50%;
  }
}

@media screen and (max-width: 668px) and (min-width: 320px) {
  .question-wrapper.extra-space {
  margin-top: 85px;
  }
  .featured-best-result {
  display: inline-block;
  width: 100%;
  }
  .finder-hide-excess {
  max-height: 250px;
  overflow: hidden !important;
  }
  #Where {
  display: block;
  width: 90%;
  padding: 10px 13px;
  }
  #Where-ID {
  width: 100%;
  }
  .zipcode {
  display: block;
  width: 100%;
  margin-left: 0;
  }
  .finder-desktop {
  display: none;
  }
  .finder-back {
  margin: 0;
  }
  .zip-button {
  margin: 010px 0;
  padding: 12px 24px;
  color: #fff;
  text-transform: uppercase;
  display: block;
  font-size: 14px;
  background: #54BDDA;
  width: 100%;
  text-align: center;
  margin-right: 0;
  }
  .finder-mobile {
  display: block;
  }
  .Dropdown.finder-select {
  width: 100%;
  font-size: 14px;
  }
  .finder-question-box p {
  font-size: 14px;
  }
  .bestmatch p {
  margin: 10px 0 18px 10px;
  }
  .finder-firm,
  .finder-soft,
  .finder-medium {
  margin: 0;
  }
  .finder-answer-list {
  display: none;
  }
  .results-bottom .mobile {
  visibility: visible;
  }
  #header-container.hide {
  z-index: 2;
  }
  #finder-questions #main .interior {
  width: auto;
  z-index: auto;
  }
  .finder-results {
    padding: 0;
  }
  .finder-landing {
  overflow: auto;
  }
  .landing {
  height: 100%;
  width: 100%;
  background: url(mobile/landing.png) no-repeat center center;
  background-size: cover;
  }
  .landing-wrapper {
  width: 100%;
  padding-top: 20px;
  }
  .landing-wrapper img {
  padding: 0;
  }
  .landing-wrapper .badge {
  width: 70%;
  margin-top: 20px;
  }
  .landing-wrapper .welcome {
  width: 90%;
  padding: 30px 0;
  }
  /* QUESTION PAGE */
  #finder-questions .interior {
  width: 100%;
  }
  #finder-questions #main,
  #finder-questions #primary {
  width: 100%;
  margin: 0;
  position: relative;
  padding-top: 0;
  /* z-index: 1; */
  ;
  }
  #finder-questions #main {
  min-height: 555px;
  }
  .pt_product-search-result #main .interior,
  .pt_product-search-noresult #main .interior {
  width: 100%;
  }
  #finder-badge {
  display: none;
  }
  .finder #page-wrapper {
  padding-top: 30px;
  }
  .finder-question-0 #page-wrapper {
  background: url(mobile/q1.png) no-repeat 0px -112px;
  background-size: cover;
  }
  .finder-question-1 #page-wrapper {
  background: url(mobile/q2.png) no-repeat 0px 125px;
  background-size: 90%;
  }
  .finder-question-2 #page-wrapper {
  background: url(mobile/q3.png) no-repeat 0px -10px;
  background-size: 20%;
  margin-top: 0;
  }
  .finder-question-3 #page-wrapper {
  background: url(mobile/q4.png) no-repeat 0px 148px;
  background-size: 50%;
  }
  .primary .page-wrapper {
  padding-top: 10px;
  }
  .finder-results .finder-wrapper {
  width: 100%;
  margin: 0;
  }
  .breadcrumb {
  display: none;
  }
  #progress-wrapper {
  width: 95%;
  }
  .progress-steps {
  width: 15%;
  }
  .progress-line {
  width: 80%;
  }
  .question-wrapper {
  width: 90%;
  min-width: 275px;
  margin: 0;
  padding: 10px 10px 28px;
  }
  .bestmatch span {
  padding-right: 2px;
  }
  .finder-question-box span.question {
  padding-left: 15px;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  }
  .hint {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(mobile/info.png) no-repeat center center;
  background-size: cover;
  }
  .hint.hint-on {
  background: url(mobile/info-on.png) no-repeat center center;
  background-size: cover;
  }
  #hint-text {
  background-color: rgb(255, 255, 255);
  border: 5px solid rgb(215, 230, 251);
  width: 70%;
  height: 150px;
  margin-top: -75px;
  position: fixed;
  z-index: 10;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
  }
  #hint-text h2,
  #hint-text p {
  margin: 0 5px;
  }
  #hint-text h2 {
  top: 20px;
  font-size: 22px;
  }
  #hint-text p {
  top: 50px;
  }
  #hint-text-modal.display {
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }
  /* RESULTS PAGE STYLES */
  .banner {
  font-size: 24px;
  }
  #plus {
  width: 26px;
  height: 26px;
  bottom: 20px;
  top: inherit;
  margin-left: -16px;
  transform: translateX(0);
  }
  .perfect-pair {
  position: relative;
  overflow: hidden;
  }
  .featured-product {
  width: 100%;
  }
  .product-heading {
  font-size: 22px;
  padding-top: 15px;
  }
  .doodat {
  background: url(mobile/doodat.png) no-repeat center center;
  background-size: 130%;
  height: 10px;
  }
  .product-name {
  height: 180px;
  }
  .name-top {
  font-size: 26px;
  margin: 10px 0;
  }
  .name-bottom {
  font-size: 12px;
  }
  .featured-product .product-tile div.product-description {
  width: 90%;
  margin: 0 auto 5px;
  font-size: 12px;
  height: 100px;
  }
  .complete-ritual {
  width: 100%;
  padding: 0 5px;
  margin: 0;
  }
  .complete-ritual h1 {
  font-size: 32px;
  border: none;
  }
  .complete-ritual h2 {
  font-size: 22px;
  }
  .complete-ritual hr {
  display: none;
  }
  .featured-product {
  margin: 10px 0;
  }
  .featured-product .product-image img {
  width: 100%;
  }
  .featured-product a {
  font-size: 20px;
  }
  .remaining-product-recommendations,
  .remaining-product-display,
  .remaining-product {
  width: 100%;
  margin: 25px 0;
  border: none;
  }
  .remaining-product-image-wrapper {
  display: inline-block;
  width: 35%;
  }
  .remaining-product-image-wrapper img {
  width: 100%;
  }
  .remaining-product-details {
  display: inline-block;
  margin: 0 0 0 30px;
  }
  .remaining-product-benefit {
  font-size: 24px;
  margin-top: 0;
  }
  .remaining-product-name {
  margin-bottom: 20px;
  }
  .remaining-product-name a {
  font-size: 14px;
  }
  .remaining-product-description {
  display: none;
  }
  .results-bottom {
  margin: 0 0 20px;
  }
  #mobile-purchase {
  display: block;
  width: 90%;
  height: 40px;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 18px;
  }
  #mobile-purchase button {
  width: 100%;
  }
  .results-bottom .restart-finder {
  width: 49%;
  margin: 15px 0;
  display: inline-block;
  font-size: 14px;
  }
  .button-stacker {
  display: none;
  }
  .results-bottom #go-to-top {
  width: 49%;
  margin: 0;
  margin: 15px 0;
  display: inline-block;
  font-size: 14px;
  }
  .ritual-button {
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 0px;
  }
  #finder-accessories li {
  margin: 0;
  padding: 0;
  display: block;
  width: 90%;
  border-radius: 0px;
  }
  .pt_finder-result .product-tile .product-pricing .product-sales-price {
  margin-bottom: 5px;
  }
  .results-bottom ul li.finder-print {
  padding: 10px 0;
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
  }
  .finder-rule {
  margin: 20px 0;
  }
  .related-recs {
  color: #2B2B2B;
  font-size: 16px;
  margin: 10px 0;
  padding: 10px 0;
  }
  .results-bottom ul,
  .related-recommendations ul {
  display: block;
  padding: 0;
  position: relative;
  list-style: none;
  margin-top: 10px;
  }
  .results-bottom ul li {
  display: block;
  width: 100%;
  }
  /*Mobile locale styles*/
  .fr_fr #Age li:last-of-type {
  font-size: 16px;
  }
  .fr_fr .answer {
  font-size: 16px;
  }
  .fr_fr .small-text .name-top {
  font-size: 27px;
  }
  .fr_fr .featured-product .product-tile div.product-description {
  width: 85%;
  margin-top: 20px;
  }
  .fr_fr .small-text .product-heading {
  font-size: 25px;
  }
  .fr_fr .small-text .complete-ritual h1 {
  font-size: 30px;
  }
  .fr_fr .small-text .complete-ritual h1 {
  font-size: 18px;
  }
  .fr_fr .results-bottom .restart-finder,
  .fr_fr .results-bottom #go-to-top {
  font-size: 11px;
  }
  .fr_fr .results-wrapper a.noEcomBtn {
  width: 85%;
  margin: 0 auto;
  }
  .answer.seven-answers {
  width: 90%;
  }
  .answer.seven-answers.second-row-icon {
  margin-left: 0;
  }
}

/* END MOBILE STYLES */

@media print {
  .finder-desktop {
  display: block;
  }
  .finder-mobile {
  display: none;
  }
  #main {
  margin: 0;
  padding: 0;
  }
  #header,
  #navigation,
  #progress-wrapper,
  img,
  button,
  div#footer,
  .results-bottom,
  #plus {
  display: none;
  }
  .product-image img,
  .remaining-product-image-wrapper img {
  display: block;
  }
  .finder-results #finder-badge {
  left: 66px;
  }
  #finder-badge img {
  display: block;
  }
  .featured-product {
  margin: 0;
  }
  .results-wrapper h1,
  .featured-product a {
  font-size: 24px;
  }
  .results-wrapper h1.banner {
  font-size: 32px;
  text-decoration: underline;
  margin-bottom: 50px;
  }
  .results-wrapper,
  .remaining-product-recommendations div {
  margin: 10px auto;
  border: none;
  }
  div.remaining-product-display,
  div.remaining-product {
  margin: 0 auto;
  width: 100%;
  }
  .remaining-product-display {
  clear: both;
  width: 430px;
  margin: 0 auto;
  float: none;
  overflow: hidden;
  }
  .remaining-product-image-wrapper {
  float: right;
  width: auto;
  max-width: auto;
  display: block;
  margin: 0 auto 20px;
  }
  .remaining-product-image-wrapper img {
  width: 150px;
  }
  .remaining-product-details {
  float: left;
  margin-left: 0;
  width: 270px;
  margin-bottom: 20px;
  }
  .remaining-product-benefit,
  .remaining-product-name,
  .featured-product .product-heading,
  .featured-product a h1,
  .featured-product a h2 {
  text-align: left;
  }
  .remaining-product-name a,
  .remaining-product-benefit span,
  .featured-product a h1,
  .featured-product a h2 {
  font-size: 14px;
  vertical-align: top;
  display: block;
  }
  .featured-product .product-heading {
  font-size: 14px;
  color: rgb(123, 174, 212);
  width: 270px;
  }
  .remaining-product-description,
  .featured-product .product-tile div.product-description {
  text-align: left;
  font-size: 12px;
  width: auto;
  font-style: normal;
  margin: 0;
  width: 270px;
  }
  .complete-ritual {
  display: none;
  }
  .remaining-product-recommendations,
  .perfect-pair {
  border: 0;
  width: 430px;
  margin: 0 auto;
  }
  .perfect-pair .featured-product {
  clear: both;
  overflow: hidden;
  width: 427px;
  margin-bottom: 20px;
  }
  .perfect-pair .featured-product .product-image {
  float: right;
  width: auto;
  }
  .perfect-pair .featured-product .product-image img {
  width: 150px;
  }
  .perfect-pair .featured-product .product-name {
  margin: 10px 0;
  width: 270px;
  }
  .doodat,
  .rating {
  display: none;
  }
  .finder-firm {
  background-color: #fcb63e;
  margin: 30px 0 45px;
  }
  .finder-medium {
  background-color: #f47b2a;
  margin: 30px 0 45px;
  }
  .finder-soft {
  background-color: #a61f38;
  margin: 30px 0 45px;
  }
}

/*IE border fix*/

.ie #hint-text {
  border: 4px double rgb(0, 0, 0);
}

#tooltip {
  /*min-width: 400px;*/
  min-height: 50px;
  border: 0;
  box-shadow: 0 0 0 1px #d2d2d3;
  border: 0;
  background: #f2f2f2;
}

#tooltip span {
  font-size: 11px;
  line-height: 22px;
  padding: 13px 15px 0 15px;
  display: table-cell;
  vertical-align: middle;
}

.arrow-finder {
  height: 16px;
  overflow: visible;
  margin-left: 0px;
  bottom: -16px;
}

.arrow-finder.top {
  top: -16px;
  bottom: auto;
}

.arrow-finder.left {
  left: 20%;
}

.arrow-finder:after {
  content: "";
  position: absolute;
  left: 20px;
  bottom: -11px;
  width: 25px;
  height: 25px;
  box-shadow: -1px -1px 0 0 #d2d2d3;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(225deg);
  /* overflow: hidden; */
  background: #f2f2f2;
}

.arrow-finder.top:after {
  bottom: -20px;
  top: auto;
}

#sendBottomEmail {
  min-width: 100%;
  display: table-row;
}

.finder-bottomemail-wrapper {
  display: block;
  min-width: 100%;
  border-top: 40px solid #ccc;
  border-bottom: 40px solid #ccc;
  padding: 30px 0px;
  margin: 20px 0;
}

.finder-emailbottom {
  display: table;
  min-width: 100%;
}

.finder-emailbottom div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
}

.fifty {
  width: 50%;
}

.fifty h3 {
  font-size: 24px;
}

@media screen and (max-width: 668px) and (min-width: 320px) {
  .fifty h3 {
  font-size: 14px;
  }
}

.thirty {
  width: 30%;
}

.thirty input {
  min-width: 100%;
}

.twenty {
  width: 20%;
}

.twenty .changeZip_modal_form_submit {
  margin-top: 0;
  width: 91%;
  margin-left: 10%;
}

.pt_finder-result .readmore a {
  color: #d63426;
  font-size: 12px;
}

@media screen and (max-width: 668px) and (min-width: 320px) {
  .related-recommendations .product-tile {
  height: auto;
  }
}

.pt_finder-result .featured-product .product-tile .product-right-content .product-price.finder-main-price {
  display: flex !important;
  flex-direction: column-reverse !important;
  min-height: 54px;
}

.related-recommendations .product-tile .product-sales-price {
  font-weight: normal;
}

.related-recommendations .product-tile .product-standard-price {
  order: 1;
  flex-basis: 100%;
  margin-bottom: 5px;
  color: #d53425;
  font-size: 21px;
  font-weight: bold;
  font-family: "Gilroy Bold", Arial, sans-serif;

  &.has-sale-price {
    color: #323030;
    font-family: "Gilroy Light", Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-decoration: line-through;
    flex-basis: 100%;
    order: 2;
  }
}

.related-recommendations .product-tile .product-sales-price {
  color: #d53425;
  font-size: 21px;
  font-weight: bold;
  font-family: "Gilroy Bold", Arial, sans-serif;
  margin-bottom: 5px;
  order: 2;
  flex-basis: 100%;
}

.related-recommendations .finder-product-answer-checks ul li {
  width: 100%;
  float: none;
}

.url:hover {
  font-weight: bold;
}

button[disabled].greyed-out {
  background: #cccccc;
  color: #c6c6c6;
}

.finder-answer-list ul {
  width: 100%;
}

.finder-answer-list ul li {
  width: 80%;
  padding-right: 0;
}

.answer-of-question {
  display: inline-block;
  width: 64%;
}

.edit-button-finder {
  display: inline;
  float: right;
  width: 20%;
}

.edit-button-finder a {
  color: #c0c0c0;
  font-weight: 800;
  text-decoration: none;
}

/* Locale styles */

.en_sg #add-all-to-cart,
.en_sg #mobile-purchase {
  display: none;
}

.fr_fr .noEcomBtnMobile {
  display: block !important;
}

#finder-image-and-desc p {
  font-family: 'Gilroy-Regular', Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.41;
  letter-spacing: normal;
  color: #787878;
  width: 70%;
}

#finder-image-and-desc {
  position: relative;
  width: 100%;
  clear: both;
  float: none;
  display: block;
}

li.answer input {
  display: none;
  /* <-- hide the default checkbox */
  ;
}

li.answer span.check-finder-mobile {
  display: none;
}

.answer-tile h4 {
  font-family: 'Gilroy-Regular', Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
  width: 191px;
  white-space: normal;
}

.answer-description {
  display: none;
  width: 100%;
  float: none;
  clear: both;
}

.first-result-image {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  border: 1px solid #979797;
}

.first-result-info {
  display: inline-block;
  width: 46%;
  padding: 0 20px;
}

.first-result-info ul {
  padding-left: 36px;
  margin-top: 20px;
  list-style: none;
  clear: both;
}

ul li.finder-print {
  display: table-cell;
  position: relative;
  width: 37%;
  padding: 0 0px 0 0px;
  font-family: 'Gilroy-Regular', Arial, sans-serif;
  font-size: 17px;
  line-height: 1.41;
  color: #787878;
  padding-right: 19px;
}

ul li.finder-print a {
  position: relative;
}

ul li.finder-print a::before {
  content: url("../images/print.png");
  position: absolute;
  left: -36px;
  top: -7px;
}

ul li.finder-print.email a::before {
  content: url("../images/email.png");
  position: absolute;
  left: -36px;
  top: -7px;
}

ul.finder-buy-now {
  width: 66%;
  padding-left: 0;
}

ul.finder-buy-now li {
  width: 100%;
  display: block;
}

ul.finder-buy-now li button {
  width: 100%;
}

.results-wrapper .price-standard {
  display: block;
  font-family: 'Gilroy-Regular', Arial, sans-serif;
  font-size: 16px;
  color: #000 !important;
}

.line-through {
	color: #2d2926;
  text-decoration: line-through;
}

.results-wrapper .price-sales {
  display: block;
  font-family: 'Gilroy-Regular', Arial, sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #000;
  margin-top: 10px;
  margin-bottom: 0;
}

.results-wrapper .price-sales.price-sales-more {
  color: #d63426;
}

.results-wrapper .price-sales.price-sales-more:before {
  content: "|";
  color: #000;
  padding-right: 5px;
  font-weight: normal;
}

.featured-product p.finder-brand {
  font-family: 'Gilroy-Regular', Arial, sans-serif;
  font-size: 19px;
  font-weight: normal;
  color: #384848;
  margin: 0;
  line-height: 13px;
}

.featured-product h2.finder-name {
  font-family: 'Gilroy-Regular', Arial, sans-serif;
  font-size: 26px;
  font-weight: 600;
  color: #384848;
  margin: 0;
  line-height: 25px;
  padding-top: 10px;
}

.featured-product p.finder-itemnum {
  font-family: 'Gilroy-Regular', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #384848;
  margin: 0;
  padding-top: 6px;
}

.featured-product .product-options,
.qv-pricing .product-options {
  display: none;
}

.product-price .qv-pricing span.price-sales.price-sales-more {
  color: #d63426 !important;
  font-size: 24px !important;
}

.product-price .qv-pricing span.price-sales,
.product-price .qv-pricing span.stand-price.strik {
  color: #000 !important;
  font-size: 24px !important;
}

.product-price .qv-pricing span {
  padding-right: 5px;
}

.featured-product .product-price span {
  display: table-cell;
  text-align: left;
  margin: 0;
  padding-right: 5px;
}

.featured-product .promoWarName {
  color: #d63426;
  padding: 0 10px;
  font-weight: 900;
  text-align: left;
}

.finder-product-answer-checks {
  padding: 10px 10px 0 10px;
}

.finder-product-answer-checks ul li {
  float: left;
  width: 50%;
}

.finder-product-answer-checks ul {
  clear: both;
}

.clearefix {
  clear: both;
}

@media screen and (max-width: 668px) and (min-width: 320px) {
  #finder {
  max-width: 767px;
  min-width: 256px;
  margin: 0;
  padding: 0;
  }
  .pt_finder-result #mattress-finder-heading p {
  margin-left: 18px;
  }
  .finder-question-box {
  border-top: 0;
  }
  [id^=finder-question-wrapper],
  .finder-back-button {
  border-bottom: 0;
  }
  .question-wrapper {
  width: 100%;
  min-width: 275px;
  margin: 0;
  padding: 0;
  }
  #progress-wrapper {
  margin: 0px 0 28px;
  }
  #finder-questions #main,
  #finder-questions #main .interior,
  #finder-questions #primary {
  margin: 0 auto !important;
  width: 100%;
  }
  .finder-question-box h2 {
  font-family: 'Gilroy-Regular', Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #787878;
  margin-top: 10px;
  margin-left: 18px;
  }
  .finder-question-box span.question {
  font-family: 'Gilroy-Regular', Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.41;
  letter-spacing: normal;
  color: #787878;
  padding: 0;
  }
  [id^=finder-question-wrapper-left] {
  width: 100%;
  display: block;
  }
  [id^=finder-question-wrapper-right] {
  display: none;
  }
  .answer-tile h4 {
  display: none;
  }
  a.details-finder {
  display: inline;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #525252;
  position: relative;
  top: 9px;
  }
  a.details-finder i {
  font-size: 14px;
  margin-left: 5px;
  }
  .mobile-details {
  display: inline;
  float: left;
  width: 20%;
  }
  li.answer img {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin-left: -10px;
  }
  li.answer span.check-finder-desktop {
  display: none;
  }
  .finder-question-box .answer-description p {
  font-family: 'Gilroy-Regular', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #787878;
  white-space: normal;
  width: 89%;
  margin: 10px 0;
  }
  .first-result-image,
  .first-result-info {
  width: 90%;
  margin: 0 auto;
  display: block;
  }
  .finder-product-answer-checks ul li {
  float: none;
  width: 100%;
  }
  .first-result-info ul {
  padding-left: 0px;
  }
  ul.clearfix {
  padding-left: 33px;
  }
  .featured-product p {
  padding: 0 20px;
  }
  .featured-product p.finder-brand {
  padding-top: 10px;
  }
  .finder-product-answer-checks ul {
  padding-left: 20px;
  }
  ul.finder-buy-now {
  width: 100%;
  }
  ul.finder-buy-now.clearfix {
  padding-left: 0px;
  width: 100%;
  }
  .featured-product .product-price p {
  width: 70%;
  }
}

@media screen and (max-width: 320px) {
  #finder-next-button-mobile,
  .finder-back-button.back-mobile {
  padding-top: 20px;
  }
}

/*
*  Email styles
*/
.exacttarget-form-container {
  background: #fff;
  border-top: 1px solid #c6c8ca;
  color: #323030;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 20px 18px !important;
}

.exacttarget-form-container__inner {
  @media screen and (min-width: 768px) {
    width: 640px;
  }
}

h3.exacttarget-form-container__title-h3 {
  color: #d63426;
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 33px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 20px;
  line-height: 2rem;
  @media screen and (min-width: 768px) {
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }
}

h4.exacttarget-form-container__title-h4 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 21px;
  line-height: 1.65rem;
  margin: 10px 30px;
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }
}

strong.exacttarget-form-container__strong {
  color: #d63426;
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 21px;
}

p.exacttarget-form-container__p,
.exacttarget-form-container__discount-disclaimer {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  text-align: left;
}

.exacttarget-form-container__discount-disclaimer {
  margin-bottom: 18px;
}

input.exacttarget-form-container__input-email {
  background: #fafafa;
  border: 1px solid #323030;
  border-radius: 6px;
  color: #323030;
  font-size: 14px;
  height: 40px;
  margin-right: 10px;
  min-width: 216px;
  padding: 0 10px;
  width: 76%;

  @media screen and (min-width:768px) {
    border-radius: 5px;
    margin-right: 5px;
    width: 204px;
  }
}

button.exacttarget-form-container__submit-btn {
  background: #D63426 url('../images/Arrow_White.svg') no-repeat center center;
  // width: 10%;
  margin-right: 5px;
  text-indent: -9999em;
  width: 49px;

  @media screen and (min-width:768px) {
    background: #D63426;
    text-indent: unset;
    width: 135px;
  }
}

.exacttarget-form-container__signup {
  margin-top: 18px;
}

.exacttarget-form-container__signup-checkbox {
  display: block;
  float: left;
  margin: 4px 0 0 !important;
  position: relative;
  top: 0;
}

label.exacttarget-form-container__signup-text {
  display: inline-block;
  letter-spacing: 0.01rem;
  margin-left: 5px;
  margin-top: 0;
  padding: 0;
  position: relative;
  top: 0;
  width: 83%;
}

#finder .results-wrapper .slick-track {
    display: flex;
    margin-bottom: 20px;
}

#finder .results-wrapper .slick-slide {
    height: auto;
}

#finder .product-tile {
    overflow: hidden;
    height: 100%;
    /* width: 100%; */
    width: auto;
    border-radius: 20px;
    background: white;
}

#finder .related-recommendations .featured-product{
	max-width:initial;
	margin:0 0 0 10px;
}
#finder .related-recommendations .featured-product:first-child{
	margin:0;
}
#finder .product-name {
    height: auto !important;
}

#finder a button {
  max-width: 135px;
  width: auto;
  background: #d63426;
  font-family: "Gilroy Extrabold", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1px;
  border-radius: 5px;
}

#finder .learn-more {
  margin-top: 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {

    #finder .product-name {
        height: auto !important;
        min-height: 181px;
        text-align: left;
        padding-bottom: 20px;
    }
    #finder .product-name h1 {
      min-height: 93px;
    }
}

@media screen and (max-width: 767px) {

    #finder .product-name {
        margin-top: 0;
        min-height: 160px;
    }

    #finder .featured-product,
    #finder .results-wrapper .slick-track {
        margin-bottom: 0;
    }

    #finder .product-image {
        padding-top: 25px;
        width: 100%;
    }

    #finder .product-image .thumb-link {
        width: 100%;
        height: auto;
        display: block;
    }

    #finder .product-image img {
        position: relative;
        z-index: 99;
        margin: 0 auto;
        width: 75%;
    }

    #finder .learn-more {
      margin-top: 20px;
      text-align: center;
    }

    #finder .learn-more button {
        max-width: 90%;
    }

    .finder-results__alt-options-section h5.finder-results__title-h5 {
      margin-top: 50px;
    }
}

h4.finder-results__title-h4 {
  color: #d63426;
  display: block;
  font-family: 'Gilroy Bold', Arial, sans-serif;
  font-size: 33px;
  font-weight: 600;
  letter-spacing: 0.0125rem;
  line-height: 2.0rem;
  margin: 7px 0 8px;
  opacity: 0.9;
  padding: 0 16px;
  text-transform: uppercase;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 55px;
    letter-spacing: 1.1px;
    line-height: 3rem;
    margin: 0 0 20px;
    padding: 0;

    span {
      display: inline;
    }
  }
}

p.finder-results__p-subtitle {
  font-family: "Gilroy Medium", Arial, sans-serif;
  line-height: normal;
  margin: 0 0 34px;
  font-size: 16px;
  padding: 0 8px;
  @media screen and (min-width: 768px) {
    font-size: 21px;
    padding: 0;
  }
}


h4.finder-results__title-h4 span {
  @media screen and (max-width: 767px) {
    display: block;
  }
}

h5.finder-results__title-h5 {
  color: #323030;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin: 22px 0;
  line-height: normal;
}

.finder-results__additional-steps-section {
  clear: both;
  margin-top: 100px;
  background: white;
  overflow: visible;
  padding: 12px;
}

.finder-results__additional-steps p {
  text-align: center;
}

.finder-results__additional-steps a.finder-results__text-link {
  color: #d53425;
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

.mattress-comfort-type {
  color: #323030;
  display: block;
  background: #f1f1f2;
  border-radius: 6px;
  font-size: 21px;
  font-family: "Gilroy Bold", Arial, sans-serif;
  height: 36px;
  margin: 0 auto 10px;
  max-width: 93%;
  padding: 8px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  vertical-align: middle;
  width: auto;

  @media screen and (min-width: 768px) {
    max-width: 100%;
    margin: 0 12px;
  }
}

.mattress-comfort-type .mattress-comfort-type__icon-outer {
  border-bottom: 1px solid #323032;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-size: 17px;
  overflow: hidden;
  position: absolute;
  right: 12px;
  text-align: center;
  text-decoration: underline;
  top: 6px;
  width: 23px;
}

.mattress-comfort-type .mattress-comfort-type__icon-inner {
  border-bottom: 1px solid #323032;
  color: #f1f1f2;
  display: inline-block;
  font-style: normal;
  margin-bottom: 2px;
  padding-left: 6px;
  width: 100%;
}

.mattress-comfort-type .mattress-comfort-type__icon-inner:first-letter {
  color: #323032;
}

h6.finder-results__title-h6 {
  margin: 0;
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 18px;
  text-align: center;
}

.product-alternate {
  text-align: center;
}

.product-alternate .product-price {
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
}

.product-alternate .product-price span {
  display: block;
  margin: 0;
  padding-right: 5px;
  text-align: center;
  text-transform: capitalize;
  flex-basis: 100%;

  &.product-standard-price.price-range.has-sale-price {
    text-decoration: line-through;
    flex-basis: 50%;
    order: 1;
  }
  &.product-sales-price.price-range {
    color: #d53425;
    flex-basis: 50%;
    order: 2;
  }

  &.price-sales.price-sales-more,
  &.price-standard {
    color: #323030;
    font-family: "Gilroy Medium", Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.41;
    padding-bottom: 2px;
    &:before {
      display: none;
    }
  }

}

.retake-button {
  display: block;
  border-bottom: 1px solid #c6c8ca;
  border-top: 1px solid #c6c8ca;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: #fff;
}

#finder .retake-button a button {
  max-width: 100%;
  width: auto;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #fff !important;
  border: 1px solid #323030;
  color: #323030;
}


.finder-results__alt-option .product-alternate  a {
  text-decoration: none;
  text-transform: capitalize;
}

.finder-results__alt-option .product-alternate  a .product-name {
  text-decoration: underline;
}

.finder-results__alt-option .product-alternate  a .product-name:hover {
  text-decoration: none;
}

.finder-results__alt-options .finder-results__alt-option {
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .related-recommendations {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

  .related-recommendations .featured-product {
    flex: 1 1 33%;
    max-width: 384px;
  }

  #finder .related-recommendations .product-tile {
    position: relative;
  }

  .bestmatch p.finder-results__info {
    color: #323030;
    display: block;
    font-family: "Gilroy Medium", Arial, sans-serif;
    font-size: 21px;
    text-align: center;
    margin: 14px auto 15px;
  }

  .mattress-comfort-type {
    // max-width: 345px;
    height: 20px;
  }

  .finder-results__additional-steps-section {
    padding: 12px 12px 46px;
  }

  p.finder-results__additional-step-p {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
  }

  .finder-results__additional-steps-section h4.finder-results__title-h4 {
    font-size: 37px;
    margin: 0 0 4px;
    text-align: left;
  }

  .finder-results__alt-options-section h5.finder-results__title-h5 {
    text-align: left;
  }

  .finder-results__alt-options {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
  }

  .finder-results__alt-options .finder-results__alt-option {
    text-align: left;
    text-align: left;
    flex-basis: 33%;
    padding-right: 14px;
    min-width: 360px;
  }

  .finder-results__alt-options h6.finder-results__title-h6 {
    text-align: left;
  }

  .finder-results__alt-options   .product-alternate .product-price span {
    text-align: left;
    // color: #c6c8ca;
  }

  .finder-results__alt-option .product-alternate {
    text-align: left;
  }

  .finder-results__price-heading {
    text-align: center;
    width: auto;
    border: 1px solid #323030;
    border-radius: 8px;
    margin: 0 2px;
  }

  .finder-results__price-heading span {
    color: #c6c8ca;
    font-size: 31px;
  }

  .finder-results__price-heading.dollars-1 span:nth-child(1),
  .finder-results__price-heading.dollars-2 span:nth-child(1),
  .finder-results__price-heading.dollars-2 span:nth-child(2),
  .finder-results__price-heading.dollars-3 span:nth-child(1),
  .finder-results__price-heading.dollars-3 span:nth-child(2),
  .finder-results__price-heading.dollars-3 span:nth-child(3),
  .finder-results__price-heading.dollars-4 span:nth-child(1),
  .finder-results__price-heading.dollars-4 span:nth-child(2),
  .finder-results__price-heading.dollars-4 span:nth-child(3),
  .finder-results__price-heading.dollars-4 span:nth-child(4) {
    color: #323030;
  }

  .finder-results__additional-steps {
    display: flex;
    flex-flow: row nowrap;
  }

  .finder-results__additional-step-cell img {
    min-width: 110px;
  }

  .finder-results__additional-step-cell h5.finder-results__title-h5 {
    margin: 8px 0;
    text-align: left;
  }

  .finder-results__additional-step-cell p {
    margin: 0;
    text-align: left;
  }

  .finder-results__additional-step-cell a.finder-results__text-link {
    display: block;
    margin: 8px 0;
    text-align: left !important;
  }

  .finder-results__additional-step-cell-text {
    margin-left: 20px;
    max-width: 470px;
    width: auto;
    /* margin-right: 20px; */
    margin-right: 48px;
    max-width: 32.33%;
  }
}

.finder-results__alt-options h6.finder-results__title-h6 span {
  color: #c6c8ca;
}

.finder-results__title-h6.dollars-1 span:nth-child(1),
.finder-results__title-h6.dollars-2 span:nth-child(1),
.finder-results__title-h6.dollars-2 span:nth-child(2),
.finder-results__title-h6.dollars-3 span:nth-child(1),
.finder-results__title-h6.dollars-3 span:nth-child(2),
.finder-results__title-h6.dollars-3 span:nth-child(3),
.finder-results__title-h6.dollars-4 span:nth-child(1),
.finder-results__title-h6.dollars-4 span:nth-child(2),
.finder-results__title-h6.dollars-4 span:nth-child(3),
.finder-results__title-h6.dollars-4 span:nth-child(4) {
  color: #323030;
}

.finder-results__retake-p {
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 18px;

@media screen and (max-width:767px) {
  padding: 0 64px;
  }
}
