// Styles for review summary - summary/summary.isml desktop page viewport
// Mobile style for review summary is in _shipping_method_mobile.scss
.ordersummary {}

.ordersummary .summary-header h1 {
  @include respond(large-up) {
    font-family: $r-semibold;
    @include font-size(30px);
  }
}

.ordersummary .section-header {
  @include respond(large-up) {
    color: $charcoal;
    font-family: $r-regular;
    @include font-size(24px);
    font-weight: normal;
    padding-top: 32px;
    padding-bottom: 8px;
  }
}

.pt_checkout .ordersummary .mini-cart-name {
  margin-top: 27px;
}
