.delivery-dates-container  {
	div.selector {
			max-width:390px;
			select{
				height: 54px;
				border-radius: 3px;
				background-color: #fcfcfc;
				border: solid 1px #dde3e8;
			}
			&:after{
				top: 14px;
			}
		}
	.preferred-contact.email .form-horizontal .form-select > label {
			display: none;
		}
	}
.delivery-schedule-box {
	.delivery-dates-wrapper,
	.preferred-contact-wrapper {
		@include respond(large) {
			padding: 0 0;
		}
	}
}
@media only screen and (max-width: 767px)  {
.page-shipping-method {
	p {
		&.mobile-estimate {
			font-size: 12px;
			line-height: normal;
			letter-spacing: normal;;
		}
	}
}
#show-change-zipcode-id {
    color: #4e4e56;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-weight: 500;
}
.mobile-pt-checkout-container {
	padding-bottom: 100px !important;
}
.item-list.shipping-method-table {
	background-color: #fff;
    width: calc(100% + 20px);
    margin-left: -10px;
}
.pt_checkout .page-shipping-method h2.address-legend {
    margin-top: 0;
    font-size: 16px;
    color:#4e4e56;
    text-align: center;
    font-weight: 700 !important;   
}
.pt_checkout .page-shipping-method {
		.top-shipping-method-mobile {
			h2.address-legend {
				line-height: 1.4;
				margin-top: 10px;
				text-align: left;
    			font-size: 14px;
    			height: auto;
			}
			p {
				margin-top: 5px;
			}
		}
	}
.pt_checkout .page-shipping-method h2.address-legend.restricted-checkout {
    color: $cinnabar;
    text-transform: none;
}
.pt_checkout .page-shipping-method h2, .pt_checkout .page-shipping-method legend{
	border-bottom: none;
}
.page-shipping-method #store-picker-enter-zip .try-in-store-list-container .try-in-store-list {
	li:first-child {
		width: 70%;
		margin:0;
		box-sizing:border-box;
	}
	li:last-child {
	    width: 28%;
    	margin: 0;
    	box-sizing:border-box;
    	button#zipcodeUpdate {
    		margin-left: 0;
    		min-width: 0;
    	}
	}
}
.delivery-schedule-box {
	.delivery-dates-wrapper { margin-bottom: 16px;}
	.delivery-message {padding-left: 0;}
}
.mobile-delivery-dates {
	label {
		color:#2d2926;
		margin-bottom: 5px;
		font-weight: normal;
		&.delivery-time-label-new {
			display: none;
		}
		&.delivery-date-label {
			.asterisk {
				display: none;
			}
		}
	}
}
.mobile-delivery-dates #deliverydates,
.mobile-delivery-dates #timeslots {
	margin-bottom: 15px;
	position: relative;
	overflow: hidden;
	width: 100% !important;
	box-sizing: border-box;
	font-weight: 500;
	select {
		border-radius: 4px;
		border: 1px solid #fff;
		height: 48px;
		font-weight: 500;
		color: #4e4e56;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 0 16px;
	}
}
.mobile-delivery-dates #deliverydates:after {
    content: "\f133";
    font: normal normal normal 18px/1 FontAwesome;
    right: 16px;
    top: 15px;
    color: #4e4e56;
    position: absolute;
    pointer-events: none;
}
.mobile-delivery-dates #timeslots:after {
    content: '\f107';
    font: normal normal normal 24px/1 FontAwesome;
    right: 16px;
    top: 10px;
    color: #4e4e56;
    position: absolute;
    pointer-events: none;
}
.mobile-delivery-dates .ds-date-mobile {
	margin-top: 3px;
	margin-bottom: 11px;
	background-color: #fff;
	border-radius: 4px;
	height: 48px;
	padding: 0 16px;
	clear: both;
	.ds-date-text {
		line-height: 48px;
		font-size: 16px;
		letter-spacing: 0.5px;
		color: #4e4e56;
	}
	.calendar-icon {
		display: inline-block;
	    vertical-align: middle;
	    line-height: 48px;
	    float: right;
	    position: relative;
	    top: 12px;
	    &.background-yellow {
    		display: none;
    	}
	}
}
.next-button-wrap,
.btn-mobile-next-step,
.order-summary-footer {
	background-color: #fff;
	padding:16px;
	box-sizing: border-box;
	position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
	.button-fancy-large {
		width: 100% !important;
		height: 54px !important;
		border-radius: 3px !important;
	}
	.form-row {
		margin: 0;
	}
}

.ordersummary {
	.summary-header {
		margin-top: 25px;

		h1 {
			color:#4e4e56;
			font-size: 16px;
			font-weight: 600 !important;
			letter-spacing: 0.5px;
			text-align: center;
			text-transform: none;
		}
	}
}
.section-header {
	border-bottom: none;
	font-size: 14px;
	color:#2d2926;
	margin: 3px 0 !important;
	padding: 4px 0 !important;
	font-family: Rubik;
	font-weight: 500;
}
.checkout-mini-cart,
.shipmentsSection,
.address_payment_details .details {
	background-color: #fff;
    width: calc(100% + 30px);
    margin-left: -15px;
    padding: 12px 15px !important;
    box-sizing: border-box;
}
.shipmentsSection {
	border-bottom: 1px solid #f4f4f6;
}
.pt_checkout .order-totals-table {
	background-color: #fff;
    width: calc(100% + 30px);
    margin-left: -15px;
    padding: 12px;
    box-sizing: border-box;
}
.pt_checkout .checkout-mini-cart-wrapper .order-totals-table td,
.pt_checkout .checkout-mini-cart-wrapper .order-totals-table th {
	padding: 12px 15px;
  border-bottom: 1px solid #f4f4f6;
}
.pt_checkout .checkout-mini-cart-wrapper .order-totals-table .order-total td,
.pt_checkout .checkout-mini-cart-wrapper .order-totals-table .order-total th {
	padding-top: 10px;
	@include respond (large-down){
    	border-style:none;
    }
}
.minisummary-place-order {
    margin-bottom: 0;
}
.changezip-deliverymethodpage {
	background: #fff;
    padding: 15px;
    box-sizing: border-box;
    width: calc(100% + 30px);
    margin-left: -15px;
    #change-zip-id {
    	float: right;
    	color: #626366;
    	text-transform: none;
    	letter-spacing: 0.44px;
    	line-height: 1.71;
    	font-weight: 500;
    }
}
.arrives-title {
	background: #fff;
  padding: 15px;
  box-sizing: border-box;
  width: calc(100% + 30px);
  margin-left: -15px;
  border-top: 1px solid #f1f1f2;
  margin-bottom: 20px;
  .deliveryndateinfo .delivery-date-range {
  	font-size: 16px;
  	font-weight: 600;
  	color: #4e4e56;
  	font-family: $r-semibold;
  	margin:0;
  	line-height: 1;
  }
}

.page-shipping-method #store-picker-enter-zip .try-in-store-list-container .try-in-store-list li:first-child .form-row .field-wrapper input {
	border:solid 1px #c6c8ca !important;
}
}

.pt_checkout.amazon_checkout .page-shipping-method h2.address-legend {
    margin-top: 0;
    font-size: 16px;
    color:#1b2125;
    text-align: center;
    font-weight: 500 !important;
    text-align: left;
    padding: 10px 0;
    margin-bottom: 15px;
    background-color: white;
    font-style: normal;
    font-family: $r-regular;
    height: auto;
}
/*new calender*/
@include respond(large-down) {
	.ui-dialog.mobile-slot-calendar.new-calender {
		.ui-dialog-titlebar.ui-corner-all.ui-widget-header {
			display: block !important;
			.ui-dialog-title {
				display: none;
			}
			button.ui-dialog-titlebar-close {
				display: block !important;
				top: -5px;
   				right: -5px;
			}
		}
		.ui-dialog-content {
		  .mobile-calander-heading-slot-mob {
		    margin: 25px 10px 10px 10px;
   			padding: 10px 10px;
   			font-size: 15px;
			font-family: $r-regular;
			font-weight: 700;
		    text-align: center;
		    color: $dark-gray-1;
			background-color: rgba(214, 52, 38, 0.3);
			border-radius: 2px;
		    line-height: 1.2;
		  }
			.mobile-calander-heading {
			    letter-spacing: normal;
			    color: #d63426;
			    font-family: Rubik;
			    text-transform: uppercase;
			    box-shadow: 0 1px 0 0 #f1f1f2;
			    margin-top: 15px;
   				color: #d63426;
			}
			.mobile-calander-body {
			   border-top: none;
			   .no-slot-available {
			   		color: #959799;
			   }
			   .slot-available {
			   		color: #2d2926;
			   		&.active-slot {
			   			color: white;
			   		}
			   }
			   .date-wrap {
			   	font-family: $r-light;
			   	&:focus {
			   		outline: 0 !important;
			   	}
			   }
			}
			.mobile-calander-footer {
				.selected-date-caption {
					letter-spacing: normal;
   					text-align: center;
				}
				.selected-date {
					font-family: Rubik;
				    letter-spacing: normal;
				    color: #2d2926;
				}
				.btn-choose-mobilecalender-date {
					font-size: 16px;
   					font-weight: bold;
				}
			}
		}
		.ds-calendar-wrap {
			.card {
				.month-year-wrap {
				    line-height: 1;
				    color: #2d2926;
				    margin-bottom: 16px
				}
				table {
					tbody {
						td {
							span {
								line-height: 31px;
								&.current-date {
								    font-family: "Gilroy",Arial,sans-serif;
								}
							 	&.no-slot-available {
								    color: #b3b5b7;
								    &:after {
									    border-bottom: 1px solid #e8e8e8;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@include respond (large-down) {
	.ui-dialog {
		&.mobile-slot-calendar {
		  position: fixed;
    	top: 50% !important;
    	transform: translateY(-50%);     
			width: 85.00% !important;
			.ui-dialog-content {
				padding: 0;
				.mobile-calander-heading {
					text-align: center;
					height: 48px;
					line-height: 48px;
					font-size: 16px;
  				font-weight: 600;
  				letter-spacing: 0.5px;
  				color: #4e4e56;
  				font-family: $r-semibold;
				}
				.mobile-calander-body {
					border-top: 1px solid #f1f1f2;
					border-bottom: 1px solid #f1f1f2;
				}
				.mobile-calander-footer {
					text-align: center;
					padding: 14px 24px;
					.selected-date-caption {
						font-size: 14px;
  					font-weight: normal;
  					line-height: 1.14;
  					letter-spacing: 0.5px;
  					color: #626366;
					}
					.selected-date {
						font-size: 16px;
  					font-weight: normal;
  					line-height: 1.5;
  					letter-spacing: 0.5px;
  					color: #4e4e56;
					}
					.btn-choose-mobilecalender-date {
						margin-top: 12px;
						margin-bottom: 14px;
						width: 100%;
						border-radius: 5px;
						background-color: #c02f22;
						color: #fff;
						&button:active, &.button:active, 
						&.buttonstyle:active, &input[type="button"]:active {
							color: #fff;
						}
					}
				}
			}
		}
	}
}

.amazon-delivery-schedule  {
	.mobile-delivery-dates .ds-date-mobile .calendar-icon {
		@include respond (large-down) {
			top: 14px;
		}	
	}	
	.get-date-help {
		padding: 8px 0 8px 5px;
	}
}
