#cart-table, #cart-table-bonus {
	margin: 0;
	@include respond (large-down){
		border-style: none;
	}
	&.item-list {
		border-bottom: 1px solid $silver;
	}

	thead {
		display: none;
		@include respond(large-up) {
			display: table-header-group;
		}
		tr {
			border: 0;

			@include respond(large-down) {
				margin: 0 0 30px;
			}
		}
		th {
			padding: 25px 0;
			vertical-align: middle;
			background: $concrete;
			border-top: $border;
			border-bottom: $border;
			border-bottom: $border;
			text-transform: none;
			color: $color-primary;
			@include font-size($font-size-regular);
			@include respond(large-up) {
				font-size: 16px;
				font-family: $r-semibold;
			}
			&:first-child {
				padding-left: 20px;
				border-left: $border;
			}
			&.header-total-price {
				border-right: $border;
				padding-right: 18px;
			}
		}
	}
	td {
		box-sizing: border-box;
		display: block;
		padding: 0;
		@include respond(large-up) {
			display: table-cell;
			padding: 21px 0;
		}
	}

	.cart-row-btns{
		border: 0;
	}
	
	.cart-btns-holder{
		padding: 0;
		.bonus-item-actions {
			@include respond(large) {
				text-align: right;
			    position: relative;
			    top: -75px;
			    margin-bottom: -50px;
			}
		}
		a.select-bonus{
			display: inline-block;
		    vertical-align: middle;
		    max-width: 20%;
		    margin: 0 0px 10px;
		    height: auto;
		    line-height: 20px;
		    padding: 0 23px;
		    @include respond(large-down) {
		    	max-width: 100%;
		    	/*
			    margin-left: auto;
			    width: auto;
			    background-color: #2d2926;
			    border-radius: 5px;
			    min-width: 276px;
			    min-height: 40px;
			    font-size: 16px;
			    line-height: 0.81;
			    margin-right: auto;
			    float: none;
			    font-weight: 700;
			    padding: 14px 6px;*/
		    }
		}
		a.select-gift {
		    padding: 12px 23px;
		}
	
		span{
			display: inline-block;
			vertical-align: middle;
			margin:0 0 10px;
			@include respond(large-down) {
				display: block;
			}
		}
	}

	.header-total-price {
		text-align: right;
	}
	tr {
		border: $border;
		position: relative;
	}

	th,
	td {
		&.item-details {
			.recycling_fee,
			.RECYCLING_FEE,
			.RECYCLING_EFE {
				display: none;
			}
		}
	}
	tr {
		&.recycling-fee {
			border-top: 0;
			font-weight: 600;
			td {
				padding: 10px;
				color: #788995 !important;
				@include respond(large-down) {
					padding-bottom: 0;
					&.item-total {
						padding-bottom: 20px;
						text-align: right;
						.value {
							font-weight: 600 !important;
							font-size: 14px !important;
						}
					}
				}
			}
		}
	}
	.item-image {
		float: left;
		text-align: center;
		width: 50%;
		padding: 20px 30px 0px 0px;
		@include respond(large-up) {
			float: none;
			width: 17.9%;
			pading: 0;
			padding-bottom: 20px;
		}
	}
	.item-details {
		float: right;
		width: 50%;
		padding-top: 22px;
		padding-right: 10px;
		@include respond(large-up) {
			float: none;
			width: 21.1016%;
			padding-right: 25px;
		}
		.name {
			a {
				color: $color-primary;
				text-decoration: none;
				@include font-size($font-size-h5);
				@include line-height($font-size-h5);
				font-style: normal;
				font-weight: $font-wt-bold;
			}
		}
		// Removes Edit Details Quickview link for handheld devices
		.item-edit-details {
			display: block;
			a {
				display: inline-block;
				margin: 0;
				font-style: italic;
				color: $color-primary;
				font-weight: $font-wt-regular;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
			.product-list-item {
				.name {
					a {
						font-weight: $font-wt-bold;
					}
					span {
						font-weight: $font-wt-bold;
						@include font-size(15px);
						font-style: $font-style-regular;
					}
				}
			}
		}
		.sku {
			padding-bottom: 23px;
			.value {
				font-weight: $font-wt-regular;
			}
		}
		.attribute {
			padding: 5px 0 0 0;
			@media only screen and (max-width: 767px) {
				padding: 5px 0 0;
			}
			.label,
			.value {
				width: 100%;
				display: block;
				@include line-height(20px);
				@include respond(large-up) {
					display: inline-block;
					width: auto;
				}
			}
			.label {
				font-weight: $font-wt-semibold;
			}
		}
	}
	.item-delivery-options {
		width: 50%;
		float: right;
		clear: right;
		padding-top: 20px;
		@include respond(large-up) {
			clear: none;
			float: none;
			padding: 30px 20px 0 0;
			width: 26.2711%;
		}
		.form-row {
			margin: 0;
			padding-bottom: 20px;
			&.no-padding {
				padding: 0;
				margin: 0;
			}
			&.home-delivery {
				.label {
					font-weight: $font-wt-semibold;
				}
				.radio + label {
					@include respond(large-up) {
						margin-left: 2%;
					}
				}
			}
			&.instore-delivery {
				.label {
					font-weight: $font-wt-semibold;
				}
				.label,
				.cart-availability-container {
					display: inline-block;
				}
			}
		}
	}
	.cart-promo .item-quantity-details {
		span {
			@include respond(large-up) {
				font-size: 15px;
				font-family: $r-semibold;
			}
			@include respond(large-down) {
				font-size: 14px;
				font-family: $r-semibold;
				color: #ababb6;
			}
		}
	}
	.item-quantity-details {
		clear: right;
		float: right;
		text-align: left;
		width: 50%;
		padding-bottom: 16px;
		@include respond(large-up) {
			clear: none;
			float: none;
			text-align: left;
			width: 5.6779%;
			padding-bottom: 30px;
		}
		p {
			display: inline-block;
			margin-right: 7px;
			@include respond(large-down) {
				position: static;
				bottom: 169px;
				left: 116px;
				color: #788995;
				font-weight: normal;
				font-size: 12px;
			}
			@include respond(small-updated) {
				bottom: 140px;
				left: 109px;
			}
			@media only screen and (max-width: 416px) and (min-width: 412px) {
				left: 136px;
			}
		}
		div.selector {
			@include respond(large-down) {
				position: absolute;
				top: 108px;
				left: 150px;
			}
			@include respond(small-updated) {
				top: 130px;
				left: 150px;
			}
			@media only screen and (max-width: 416px) and (min-width: 412px) {
				left: 160px;
			}
		}
		input {
			display: inline-block;
		}
		.item-user-actions {
			display: inline-block;
			a,
			button {
				display: inline-block;
				margin: 0 0 0 7px;
				font-style: italic;
				@include font-size(13px);
				color: $color-primary;
				font-weight: $font-wt-regular;
				text-decoration: underline;
				text-transform: capitalize;
				@include respond(large-up) {
					width: auto;
					margin: 8px 0 0 0;
				}
				&:hover {
					text-decoration: none;
				}
			}
			.wishlist-div {
				margin-top: 10px;
				display: none;
				@include font-size(12px);
			}
		}
		.item-user-actions {
			@include respond(large-up) {
				display: block;
			}
		}
		.selector {
			width: 65px !important;
		}
		.-qty {
			@include respond(large-up) {
				margin-left: 13px;
			}
		}
	}
	.item-price {
		float: right;
		clear: right;
		width: 50%;
		padding-bottom: 18px;
		font-weight: $font-wt-bold;
		@include respond(large-up) {
			float: none;
			width: 15.0847%;
			padding: 15px 10px 30px;
		}
		.price-total {
			display: none;
		}
	}
	.price-promotion {
		span {
			display: block;
		}
		.price-sales {
			color: $color-secondary;
			@include respond(large-up) {
				font-size: 15px;
				font-family: $r-semibold;
			}
			@include respond(large-down) {
				font-size: 14px;
				font-family: $r-regular;
			}
		}
		.price-standard {
			text-decoration: line-through;
			font-weight: $font-wt-regular;
		}
	}
	.item-total {
		float: right;
		clear: right;
		text-align: left;
		width: 100%;
		padding: 0 0 30px 50%;
		word-wrap: break-word;
		@include respond(large-up) {
			float: none;
			padding: 15px 10px 30px;
			width: 13.1355%;
			text-align: right;
			font-weight: $font-wt-bold;
		}
		.price-unadjusted {
			span {
				text-decoration: none;
				font-weight: $font-wt-bold;
			}
		}
	}
	.price-unadjusted {
		color: $color-primary;
		display: block;
		margin: 0 0 0.42em;
		span {
			text-decoration: line-through;
			font-weight: $font-wt-regular;
		}
	}
	.price-adjusted-total {
		color: $color-secondary;
		display: block;
		span {
			color: $color-secondary;
			font-weight: $font-wt-bold;
		}
	}
	.gift-cert-delivery {
		color: $sangria;
	}
	tr.rowcoupons {
		background: $concrete;
		td {
			background: $concrete;
			padding: 20px 0;
			&.item-details {
				padding-left: 19px;
				width: 64%;
				float: none;
				display: table-cell;
				@include respond(large-down) {
					float: left;
					display: block;
				}
				.name {
					font-weight: $font-wt-semibold;
				}
			}
			&.item-total {
				padding-right: 19px;
				text-align: right;
				width: 36%;
				padding-left: 0;
				float: none;
				display: table-cell;
				@include respond(large-down) {
					float: right;
					display: block;
				}
				.bonus-item {
					font-weight: $font-wt-bold;
					display: block;
				}
			}
			.textbutton {
				background: none;
				display: inline;
				color: $color-primary;
				@include font-italic();
				@include font-size($font-size-sm);
				width: auto;
				height: auto;
				margin-top: 10px;
				text-align: right;
				margin-right: 0;
				padding-right: 0;
				@include line-height(13px);
				text-decoration: underline;
				display: block;
				float: right;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	td.cart-promo-bottom {
		background: $concrete;
		div {
			padding: 20px 19px;
			@include respond(large-up) {
				padding: 0 0 0 19px;
			}
		}
	}
}

.shipping-method-table,
#cart-table {
	.item-details {
		float: right;
		width: 50%;
		padding-top: 22px;
		padding-right: 10px;
		@include respond(large-up) {
			float: none;
			width: 21.1016%;
			padding-right: 25px;
			position: relative;
			
		}
		&.cart-delivery-not-available-wrapper {
			padding-bottom: 60px;							
		}
		.name {
			a {
				color: $color-primary;
				text-decoration: none;
				@include font-size($font-size-h5);
				@include line-height($font-size-h5);
				font-style: normal;
			}
		}
		// Removes Edit Details Quickview link for handheld devices
		.item-edit-details {
			display: block;
			a {
				display: inline-block;
				margin: 0;
				font-style: italic;
				color: $color-primary;
				font-weight: $font-wt-regular;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
		.sku {
			padding-bottom: 23px;
			.value {
				font-weight: $font-wt-regular;
			}
		}
		.attribute {
			padding: 5px 0 0 0;
			@media only screen and (max-width: 767px) {
				padding: 5px 0 0;
			}
			span {
				@include respond(large-up) {
					line-height: 1 !important;
					color: #323030 !important;
				}
			}
		}
		.product-option {
			color: #788995;
			font-weight: $font-wt-semibold;
			font-size: 13px;
		}
		.attribute,
		.recycle-fee {
			color: #788995;
			.label,
			.value {
				width: 100%;
				display: block;
				@include line-height(20px);
				@include respond(large-up) {
					display: inline-block;
					width: auto;
				}
				font-weight: $font-wt-semibold;
			}
			.label {
				font-weight: $font-wt-semibold;
			}
		}
		.cart-availability-container {
			.product-availability-list {
				li {
					line-height: 1;
					color: #323030
					
				}
			}
		}
	}
}

.cart-footer {
	@extend %clearfix;
	padding: 30px 0 0 0;
	@include respond(large-up) {
		position: relative;
		height: 195px;
	}
}

.cart-coupon-code {
	@include respond(large-up) {
		float: left;
		width: 60%;
	}
	input {
		width: calc(100% - 88px);
		float: left;
		text-transform: uppercase;
		@include respond(large-up) {
			width: 44.25%;
		}
	}
	button {
		float: left;
		margin-left: 11px;
		width: 77px;
		height: 40px;
		@include line-height(40px);
		&#update-cart {
			display: none;
		}
	}
	div.error {
		padding-top: 9px;
		display: block;
		clear: left;
		color: $color-secondary;
		font-weight: $font-wt-regular;
		@include font-size($font-size-xs);
		&.in-cart {
			color: $jewel;
		}
	}
	label {
		margin-bottom: 10px;
	}
}
#cart-items-form, #cart-items-form-os {
	#cart-table, #cart-table-bonus {
		tr {
			&.cart-row-btns{
				border-top: 0;
			}
		}
		thead {
			tr {
				border-top: 0;
			}
		}
		tbody {
			tr:first-child {
				border-top: 0;
			}
		}
	}
}
.cart-order-totals {
	clear: both;
	border: $border;
	border-bottom: 0;
	padding: 20px;
	width: 100%;
	box-sizing: border-box;
	margin-top: 30px;
	@include respond(large-up) {
		float: right;
		margin-top: 0;
		width: 29.1525%;
		clear: none;
		height: auto;
	}
}

.order-totals-table {
	border-width: 1px;
	td, th{
		padding: 0 0 13px 0;
		text-align: right;
		&:nth-child(odd) {
			text-align: left;
		}
		&:last-child {
			font-weight: 600;
		}
		@media only screen and (max-width: 767px) {
			border-bottom: solid 1px #b3b5b7;
			padding: 15px 20px;
			&:last-child {
				font-weight: 400;
			}
			&:nth-child(odd) {
				color: black !important; 
			}
		}
	}
	th{font-weight: 400;}
	.order-totals-item {
		width: 60%;
	}

	.order-totals-value {
		width: 40%;
	}
	.order-discount {
		color: $color-secondary;
	}
	.order-total {
		td, th{
			border-top: solid 2px #b3b5b7;
			padding: 25px 0 30px;
			@media only screen and (max-width: 767px) {
				border-top: solid 1px #b3b5b7;
				padding: 15px 20px;
				font-weight: 600;
			}
		}
		@include respond(large-up) {
			@include font-size($font-size-mobile-h3);
		}
	}
	tr {
		border-bottom: none;
	}
}

.order-value {
	white-space: nowrap;
}

.cart-actions {
	@extend %clearfix;
	border: $border;
	border-top: 0;
	padding: 0 20px 20px 20px;
	.button-fancy-large {
		width: 100%;
	}
	@include respond(x-large) {
		/*width: 25.1525% !important;
	    box-sizing: border-box;
	    position: fixed;
	    right: 58px;
	    top: 430px;*/
	}
	@include respond(large-only) {
		padding-top: 40px;
		width: 100% !important;
		position: inherit;
	}
}

.cart-action-continue-shopping {
	float: right;
	button.button-text {
		display: inline-block;
		margin: 0;
		font-style: italic;
		color: #2d2926;
		font-weight: $font-wt-regular;
		text-decoration: underline;
		text-transform: capitalize;
		&:hover {
			text-decoration: none;
		}
	}
}

.cart-empty {
	clear: both;
	margin-top: 160px;
	@media only screen and (max-width: 767px) {
		height: 667px;
	}
	@media only screen and (max-width: 1025px) and (min-width: 767px) {
		margin-top:  0px;
		height: 667px;
		.slick-list, .slick-track {
			height: 667px !important;
		}
	}
	h1 {
		text-align: center;
	}
	.cart-action-continue-shopping {
		float: none;
		text-align: center;
		margin-bottom: 4rem;
	}
	.product-listing {
		@extend %clearfix;
		background-color: $white-smoke;
		padding: 1rem 0;
		margin: 10px auto;
		width: 100%;
		@include respond(large-down) {
			padding: 0 50px;
			width: 66%;
		}
		h3.callout-top {
			margin-left: 1.3rem;
		}
		.search-result-items {
			margin-top: 1em;
			.slick-list .slick-track{
				.slick-slide {
					.product-tile {
						border-bottom: 0;
						.product-image img {
							width: 200px;
						}
						.brand-name img {
							width: auto;
    						margin-left: 7px;
    						@include respond(large-down) {
    							margin-left: 0px;
    						}
						}
						.product-tile-one {
							min-height: auto;
						}
					}
				}
			}
		}
	}
}

.promo-adjustment {
	color: $color-secondary;
	font-weight: $font-wt-regular;
}

ul.product-availability-list {
	margin: 0;
	padding: 0;
	width: 5em;
	//for IE
	width: max-content;
	li {
		list-style: none outside none;
	}
	.on-order,
	.not-available {
		color: $color-secondary;
		font-size: 0.9em;
	}
}

.account-welcome {
	.welcome-message {
		font-size: 1.2em;
		font-style: italic;
	}
	.not-user {
		margin: 0.83em 0;
	}
}

#password-reset {
	white-space: nowrap;
}

.cart-banner-container {
	text-align: center;
	padding-top: 30px;
	@include respond(large-up) {
		padding-top: 42px;
	}
	@include respond(large-down) {
		padding-top: 0;
	}
}

.primary-content {
	.cart-title {
		padding: 20px 0;
		text-align: center;
		font-weight: $font-wt-bold;
		text-transform: uppercase;
		@include respond(large-up) {
			margin: 0;
			text-align: left;
			padding: 36px 0 30px 0;
			float: left;
			width: 50%;
			box-sizing: border-box;
		}
	}
}

.cart-actions-top {
	display: none;
	@include respond(large-up) {
		display: block;
		float: right;
		width: 50%;
		box-sizing: border-box;
		border: 0;
		padding: 30px 0 20px 0;
	}
	.cart-action-checkout {
		@include respond(large-up) {
			float: right;
			margin-left: 20px;
		}
	}
	.cart-action-continue-shopping {
		float: none;
		@include respond(large-up) {
			float: right;
		}
	}
	.button-fancy-large {
		@include respond(large-up) {
			width: 281px;
		}
	}
}

.cart-availability-container {
	margin-left: 0;
	@include respond(large-down) {
		position: absolute;
		bottom: 103%;
		left: 20px;
		right: 0;
	}

	ul {
		display: inline-block;
		color: #67bc00;
		font-style: italic;
		padding-right: 7px;
		width: auto;
		box-sizing: border-box;

		@include respond(large-down) {
			padding-right: 0;
		}

		li {
			margin-bottom: 0;
			display: inline-block;
			font-weight: 600;
			&.in-stock-msg {
				color: #2d2926 !important;
			}
		}
	}
	a {
		display: inline-block;
		font-style: normal;
		text-transform: lowercase;
		color: #626366;
		font-weight: 600;
		font-size: 12px;
		@include respond(large-down) {
			font-size: 12px;
			color: #626366;
		}
	}
}
.bonus-item-actions {
	a {
		@include font-size(11px);
	}
}

.set-preferred-store {
	font-style: italic;
	color: $color-primary;
	margin-left: 0;
	margin-top: 5px;
}

.mobile-show {
	display: block;
	padding: 0;
	margin: 0;
	@include respond(large-up) {
		display: none !important;
	}
}
.mobile-hide {
	display: none;
	padding: 0;
	margin: 0;
	@include respond(large-up) {
		display: block !important;
	}
}

.cart-footer-slot {
	padding-top: 20px;
	//padding-bottom: 20px;
	text-align: center;
	@include respond(large-up) {
		float: left;
		width: 66.1016%;
	}
}

.cart-line {
	display: none;
	@include respond(large-up) {
		clear: both;
		width: 100%;
		border-top: $border;
		display: block;
		padding-bottom: 0;
	}
}
#quickviewbutton {
	@media screen and (max-width: $tablet-breakpoint) {
		display: none;
	}
}
#QuickViewDialog {
	box-sizing: border-box;
	@include respond(large-up) {
		max-width: 1020px;
		padding: 30px 35px 10px;
	}
	&.ui-dialog-content {
		overflow: visible;
	}
	.quickview-full-details {
		@include font-size($font-size-subtext-below-title);
		@include line-height($font-size-sm);
		color: $crimson;
		margin-bottom: 13px;
		display: inline-block;
		width: auto;
	}
	.finder-product-answer-checks {
		width: 60%;
		float: left;

		li {
			width: auto;
			float: left;
			border: 1px solid $dark-gray;
			font-size: 12px;
			margin-bottom: -1px;
			margin-right: -1px;
			padding: 5px 5px;
			.fa-check-circle {
				color: $fruit-salad;
				font-size: 20px;
			}
			.fa-times-circle-o {
				color: $mirage;
				font-size: 20px;
			}
		}
	}
	ul {
		.finder-print {
			display: table-cell;
			position: relative;
			width: 37%;
			padding: 0px;
			a {
				text-transform: none;
				text-decoration: none;
				font-family: $r-regular;
				font-size: 16px;
				color: #787878;
				margin-top: 8px;
				float: left;
				margin-left: 6px;
			}
			&:before {
				content: url("../images/print.png");
				float: left;
			}
		}
	}
	.socialsharing {
		border-top: none;
		float: right;
		padding-top: 26px;
		margin-right: -35px;
		.social-icons {
			margin-right: 20px;
		}
		a {
			width: 30px;
			height: 30px;
			float: left;
			background: #e5173e;
			border-radius: 20px;
			margin-left: 8px;
		}
		i {
			font-size: 18px !important;
			color: white;
			padding: 5px 8px;

			&.fa-envelope-o {
				padding: 5px 6px;
			}
			&.fa-pinterest-p {
				padding: 7px 9px;
			}
		}
	}
	.pdp-delivery-wrapper {
		clear: both;
		text-align: center;
		label {
			font-size: 16px;
			padding-top: 20px;
		}
		.tooltip {
			top: 44px;
			right: 38px;
		}
		input {
			color: $summer-sky;
		}
	}

	.pdp-main {
		margin: 0;
		.add-to-cart-container {
			background: none;
			border: 0;
			padding: 0;
			margin: 0;
			max-width: 100%;
			width: 100%;
			float: left;
			padding-top: 25px;
			.detailsLink {
				text-decoration: none;
			}

			.inventory {
				@include respond(large-up) {
					max-width: 104px;
					width: 30%;
					display: none;
				}
			}
			button {
				@include respond(large-up) {
					width: 100%;
					border-radius: 0;
					max-width: 100%;
				}
			}
		}

		.update-content {
			width: 40%;
			float: left;
		}
		.top-bar {
			.product-price {
				padding-left: 20px;
				float: left;
			}
		}
		.product-add-to-cart {
			border: 0;
			padding: 0;
			margin: 0;
			.product-price {
				margin: 0;
				padding: 17px 0 28px 0;
				@include line-height(16px);
				.price-sales {
					font-weight: $font-wt-bold;
					color: $color-primary;
					@include font-size(16px);
				}
				.price-sales-more {
					&:before {
						width: 0;
						height: 0;
						margin: 0;
					}
				}
			}
			.price-standard {
				display: none;
			}
		}
		.read-more {
			display: none;
		}
	}
	.product-topbar {
		@include respond(large-up) {
			padding-bottom: 6px;
			border-bottom: none;
		}
	}
	.pdp-delivery-wrapper {
		button {
			display: none;
		}
	}

	.top-sec {
		width: 60%;
		float: left;
		margin-top: 10px;
		.quickview-rate {
			width: 54%;
			float: left;
		}
		.detailsLink {
			width: 34%;
			float: left;
			margin-top: 8px;
		}
	}
	.product-promo-content-area,
	.product-key-features,
	.product-number {
		display: none;
	}
	.product-col-1 {
		float: none;
		width: 100%;
		padding: 0;
		margin-top: 20px;
		box-sizing: border-box;
		@include respond(large-up) {
			width: 60%;
			float: left;
		}
		#amplience-main {
			border: 0;
		}
		#amplience-nav {
			.slick-list {
				margin: 0px;
			}
		}
	}
	.product-col-2 {
		float: none;
		width: 100%;
		border: 0;
		box-sizing: border-box;
		padding: 0;
		margin-top: 20px;
		@include respond(large-up) {
			width: 40%;
			float: right;
			padding-left: 20px;
		}
	}
	.product-content-container {
		width: 100%;
		border: 0;
		.product-variations {
			ul {
				&:first-child {
					padding: 0px;
				}
				.attribute {
					.label {
						label {
							color: #4a4a4a;
							font-weight: normal;
						}
					}
				}
			}
		}
		.product-variations,
		.product-options {
			width: 100%;
			margin-right: 0px;
			.attribute {
				.value {
					max-width: 100%;
					width: 100%;
					@include font-size(16px);
				}
				.label {
					label {
						color: #4a4a4a;
						font-weight: normal;
					}
				}
			}
			.tooltip {
				display: none;
			}
		}
		.qv-pricing {
			width: 100%;
			margin: -91px 0 20px;
		}
	}
	.mat-feature {
		p {
			line-height: 14px;
			font-size: 16px;
			margin-bottom: 15px;
		}
	}
	.availability-storepickup {
		padding-top: 50px;
		.in-stock-msg {
			padding-left: 5px;
		}
		.availability-web {
			background: none;
			padding: 0;
			margin: 0;
			label,
			p {
				float: left;
				line-height: 14px;
				font-size: 16px;
				margin-bottom: 15px;
			}
			i {
				display: none;
			}
			.value-message {
				float: left;
			}
			.availability-msg {
				float: left;
			}
			.not-available-msg {
				position: relative;
				top: -2px;
				margin: 0 5px;
			}
			.details {
				display: none;
			}
		}
		.availability-instore {
			padding: 0;
			margin: 0;
			background: none;
			label {
				display: none;
			}
			i {
				display: none;
			}
		}
		.set-preferred-store {
			margin-left: 0;
			a {
				@include font-size($font-size-regular);
				@include line-height($font-size-regular);
				font-style: italic;
				color: $color-primary;
			}
		}
		.availability-novariation {
			float: left;
			margin-left: 5px;
		}
	}
	.details {
		@include font-size($font-size-regular);
		@include line-height($font-size-regular);
		font-style: italic;
		color: $color-primary;
	}
	.pdp-comfort-scale-container {
		display: none;
	}
	.product-logo {
		display: none;
	}
}

.cart-recommendations {
	background-color: #fbfcfe;
	clear: both;
}

.cart-promo {
	.bonus-item-details {
		padding-top: 10px;
		@include font-bold();
		@include font-size($font-size-regular);
		color: $color-secondary;
		@include respond(large-up) {
			float: left;
		}
		a {
			@include font-italic();
			color: $color-primary;
		}
	}
	.bonus-item-actions {
		text-align: center;
		padding: 10px 0;
		@include respond(large-up) {
			float: right;
			padding-top: 0;
			padding-bottom: 20px;
		}
	}
	.select-bonus {
		height: 36px;
		line-height: 36px;
		@include font-bold();
		@include font-size($font-size-regular);
		display: block;
		padding: 0 20px;
		text-decoration: none;
		box-sizing: border-box;
		&:hover {
			//background-color: $concrete;
		}
		&.select-bonus-another {
			text-align: center;
			@include respond(large-up) {
				margin-top: 25px;
				text-align: center;
				max-width: 195px;
				box-sizing: border-box;
			}
		}
	}
}

#bonus-product-dialog {
	box-sizing: border-box;
	@include respond(large-up) {
		max-width: initial;
		width: auto !important;
		overflow: hidden !important;
		padding-top: 15px;
	}
	#bonus-product-list {
		display: inline-flex;
		@include respond(large-down) {
			display: block;
			padding-top: 0px;
		}
		@include respond(large-up) {
			width: auto;
			margin-top: 0px;
		}
		.promotion {
			position: absolute;
			border: none;
			border-top: 1px solid #979797;
			width: 92%;
			padding-top: 15px;
			.variant-text {
				font-weight: 600;
				@include respond(large-down) {
					font-weight: 600;
				}
			}
			@include respond(large-down) {
				border: none;
				position: inherit;
			}
		}
		.bonus-product-item {
			margin-top: 50px;
			display: block;
			border: 0px;
			@include respond(large-down) {
				margin-top: 0px !important;
				margin-bottom: 50px;
				border: 1px solid grey;
				position: relative;
			}
			.product-col-2 {
				width: 100%;
				margin-left: 20px;
				@include respond(large-down) {
					width: 86%;
				}
				.product-name {
					@include respond(large-down) {
						font-weight: 600;
						font-size: 16px;
					}
				}
			}
		}
		.bonus-product-list-footer {
			position: absolute;
			bottom: 10px;
			left: 15px;
			@include respond(large-down) {
				bottom: 30px;
			}
			.bonus-product-thanks {
				float: right;
				@include respond(large-down) {
					text-align: center;
					width: 100%;
				}
				.bonus-product-thanks-class {
					font-weight: bold;
				}
			}
		}
	}
	.promotion {
		background: none;
		padding: 15px 0 3px 0;
		margin: 0;
		border-bottom: $border;
		.promotion-popup-name {
			@include font-bold();
			@include font-size($font-size-regular);
			padding: 0;
			margin: 0;
		}
	}
	.ui-dialog-content {
		p {
			margin: 0;
		}
	}

	.product-col-1 {
		width: 61.3333%;
		padding: 20px 0 0 0;
		margin: 0;
		.col-1 {
			.amplience-viewer {
				ul {
					li {
						height: 180px;
						img {
							width: 184px;
						}
					}
				}
			}
		}
		@include respond(large-up) {
			width: 61.3333%;
			float: left;
		}
		.amplience-main {
			li {
				margin: 0;
				float: left;
				@include respond(large-down) {
					margin: 1px;
				}
			}
		}
	}
	.product-col-2 {
		width: 100%;
		padding: 0px 0 30px 0;
		margin: 0;
		@include respond(large-up) {
			width: 59.1614%;
			box-sizing: border-box;
			float: right;
			padding-right: 23px;
		}
		.product-name {
			margin: 0;
			height: 36px;
			@include block-price-text();
			font-weight: $font-wt-regular;
		}
		.product-number {
			display: none;
		}

		ul {
			padding: 0 0 18px;
		}
		.attribute {
			margin: 0 0;
			padding: 0px 0 5px 0;
			@include respond(large-down) {
				padding-bottom: 0px;
			}
			.label {
				margin: 0;
				padding-bottom: 0;
				label {
					color: #4a4a4a;
					font-weight: normal;
				}
			}
			.information-icon {
				display: none;
			}
			.selector {
				width: 100%;
				max-width: 213px;
			}

			.selected-attr-value {
				padding: 0 0 0 5px;
			}
			.value {
				padding-right: 0;
				width: 100%;
			}
		}
		.product-price {
			padding-bottom: 11px;
			margin: 0;
			@include font-size(14px);
			color: $color-primary;
			line-height: 1;
			float: left;
			width: 100%;
			@include respond(large-down) {
				padding-bottom: 0px;
			}
		}
		.product-add-to-cart {
			overflow: inherit;
			float: left;
			width: 100%;
			button {
				float: left;
				width: 150px;
				height: 35px;
				font-size: 14px;
				font-weight: 600;
				line-height: normal;
			}
			.quantity-error {
				font-size: 12px;
				font-weight: normal;
				margin-top: 5px;
				margin-bottom: 5px;
			}
			.quantity-part {
				
				.qty-added {
					margin-bottom: -7px;
					@include respond(large-down) {
						margin-bottom: -20px;
					}
					.display-name {
						margin-top: 10px;
					}
				}
				.display-name {
					display: inline-block;
    				margin-top: 18px;
				}
				.selector {
					width: 71px !important;
					margin-left: 7px;
					&:after {
						top: 9px;
					    color: #323030;
					    font-size: 16px;
					}
					select.quantity-dropdown {
						width: 71px;
					    height: 35px;
					    border: 1px solid #323030;
					    border-radius: 5px;
					}
				}
			}
		}
		.display-name {
			font-weight: normal;
		}

		p,
		del {
			float: left;
			width: 100%;
			line-height: 1;
			color: #4a4a4a;
			font-weight: normal;
			@include respond(large-down) {
				width: auto;
			}
		}

		p {
			color: #e5173e;
		}

		.bonus-price-modal {
			@include respond(large-down) {
				margin-left: 20px;
			}
		}
		.product-add-to-cart {
			border: 0;
			padding: 0;
			@include respond(large-down) {
				display: none !important;
			}
		}

		.quantity-part {
			float: left;
			width: 100%;
			.bonus-product-features {
				list-style: disc;
				padding: 15px 0 0 15px;
			}
		}
		.product-add-to-cart-mobile {
			width: 100%;
			display: block !important;
			.add-to-cart-bonus {
				width: 100%;
				margin-top: 10px;
			}
			@include respond(large-up) {
				display: none !important;
			}
		}

		.inventory {
			float: left;
			width: 100%;
			max-width: 213px;
		}
		.select-bonus-item {
			clear: left;
			float: left;
			width: 100%;
			max-width: 213px;
		}
		.product-variations {
			max-width: 250px;
			float: left;
			margin-bottom: -15px;
			ul {
				@include respond(large-down) {
					margin: 0px;
				}
			}
			.tooltip {
				display: none;
			}
		}
	}
	.bonus-product-list-footer {
		border: 0;
		padding: 0;
		margin: 0;
		@include respond(large-up) {
			width: 100%;
			box-sizing: border-box;
			float: right;
		}
		.item-attributes {
			li {
				margin: 0;
				padding: 0;
				.display-name {
					font-weight: $font-wt-semibold;
				}
			}
		}
		.remove-link {
			color: $color-secondary;
			text-transform: $font-style-italic;
			position: relative;
			left: 0;
			text-decoration: none;
			margin-left: 10px;
		}
		.add-to-cart-bonus {
			width: 100%;
			@include respond(large-up) {
				max-width: 213px;
				float: left;
			}
		}
		.add-to-cart-bonus-container {
			@include respond(large-up) {
				padding-top: 19px;
				clear: both;
				float: right;
				width: 59.1614%;
			}
			&.active {
				border-top: $border;
				padding-left: 40.8386%;
			}
			.bonus-product-thanks {
				float: right;
				@include respond(large-up) {
					float: right;
					width: 81px;
					min-height: 1px;
				}
				.continue {
					color: $color-primary;
					@include line-height(36px);
					font-style: $font-style-italic;
					float: right;
				}
			}
		}
		.bonus-product-summary {
			@include respond(large-up) {
				width: 100%;
				float: left;
			}
			.selected-bonus-items {
				@include respond(large-up) {
					width: 53.7614%;
					padding-right: 47px;
					box-sizing: border-box;
				}
			}
		}
		.selected-bonus-item {
			margin: 29px 0;
			padding: 0;
			@include respond(large-up) {
				margin: 19px 0;
			}
			.item-name {
				font-weight: $font-wt-regular;
			}
		}
	}
}

#cart-recommendations {
	padding-top: 38px;
	@include respond(large-up) {
		padding-top: 37px;
	}
	li {
		border: $border;
		@include respond(large-up) {
			margin: 0 10px;
		}
	}
	.slick-arrow {
		&.slick-prev {
			@include respond(large-up) {
				left: 30px;
			}
		}
		&.slick-next {
			@include respond(large-up) {
				right: 30px;
			}
		}
	}
}

.ui-dialog {
	box-sizing: border-box;
	@include respond(large-down) {
		width: 93.75% !important;
	}
	&.add-to-cart-intercept-dialog {
		@include respond(large-down) {
			width: 100% !important;
			top: 60px !important;
		}
		.ui-dialog-titlebar {
			@include respond(large-down) {
				border-bottom: 1px solid #e7e7e9;
				border-top: 1px solid #e7e7e9;
			}
			.ui-dialog-title {
				@include respond(large-down) {
					border: none;
				}
			}
			.ui-dialog-titlebar-close {
				@include respond(large-down) {
					top: 18px;
					right: 5px;
				}
			}
		}
	}
	/*gift promo */
	&.bonus-gift-popup {
		z-index: 1001 !important;
		@include respond(large-up) {
			min-width: 537px !important;
			max-width: 915px;
		}
		#bonus-product-dialog {
			padding-top: 7px;
			@include respond(large-up) {
				padding-left: 23px;
			}
			@include respond(large-down) {
				padding-left: 15px;
			    padding-right: 15px;
			    padding-top: 5px;
				overflow: hidden;
			}
		}
		.ui-dialog-titlebar {
			@include respond(large-down) {
				padding: 0 15px;
			}
			.ui-dialog-titlebar-close {
				@include respond(large-up) {
					margin-left: 15px;
				}
			}
			.ui-dialog-title {
				font-family: $r-semibold;
				white-space: inherit;
			    display: flex;
			    width: 88%;
				@include respond(large-down) {
					padding-top: 10px;
					font-size: 16px;
					width: 95%;
	    			white-space: inherit;
	    			display: flex;
	    			&:before {
	    				width: 30px;
	    			}
				}
			}
		}
		.bonus-product-list {
			@include respond(large-down) {
				display: flex !important;
	    		flex-wrap: wrap;
	    		margin: 0px;
			}
			.gift-promotion {
				width: 92.5%;
				width: calc(100% - 45px);
				height: 19px;
	    		background: none;
	    		padding: 15px 0 3px 0;
	    		position: absolute;
	    		border-top: 1px solid #979797;
	    		letter-spacing: -0.4px;
	    		@include respond(large-down) {
	    			position: inherit;
				    height: 25px;
				    border: none;
				    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
				    padding: 20px 15px;
				    margin: -20px;
				    width: calc(100% + 20px);
				    margin-bottom: 0px;
	    		}
	    		.promotion-popup-name {
	    			@include respond(large-down) {
	    				color: #4a4a4a;
	    			}
	    		}
			}
			.bonus-product-item {
				margin-top: 30px !important;
				@include respond(large-up) {
					flex: 0 0 180px;
	    			min-width: 150px !important;
				}
				&.line-item-margin {
					margin-top: 50px !important;
				}
				@include respond(large-down) {
					border: none !important;
				    flex: 0 50%;
				    max-width: 48%;
				    &:nth-child(even) {padding-right: 10px;}
				    border-bottom: 1px solid rgba(0, 0, 0, 0.25) !important;
				    margin-bottom: 0px !important;
				    padding-bottom: 25px;
				    &:nth-child(even):after {
				    	content: '';
					    border-bottom: 1px solid rgba(0, 0, 0, 0.25) !important;
					    width: 20px;
					    margin-left: -20px;
					    box-sizing: border-box;
					    position: absolute;
   						bottom: -1px;
				    }
				    &:nth-child(odd):after {
				    	content: '';
					    border-bottom: 1px solid rgba(0, 0, 0, 0.25) !important;
					    width: 35px;
					    box-sizing: border-box;
					    position: absolute;
					    bottom: -1px;
					    right: -35px;
				    }
				}
				.product-col-1 {
					.col-1 {
						width: 100%;
						.amplience-viewer .amplience-main li {
							height: auto !important;
    						margin-bottom: 10px !important;
							@include respond(large-down) {
								height: 100px !important;
								margin: 0px !important;
							}    
							img {
								@include respond(large-up) {
									width: 118px !important;
    								height: 107px;
								}
							}
						}
					}
				}
				.product-col-2 {
					@include respond(large-down) {
						margin-left: 0px !important;
						padding-bottom: 0px !important;
					}
					.p-name-link {
						text-decoration: none;
						.product-name {
							height: 54px !important;
							-webkit-line-clamp: 3;
						    -webkit-box-orient: vertical;
						    overflow: hidden;
						    text-overflow: ellipsis;
						    display: -webkit-box;
						    margin-bottom: 10px !important;
						    @include respond(large-down) {
						    	margin-top: 10px !important;
						    }
						}
					}
					.product-price.gift-model {
						padding-bottom: 0px !important;
						font-weight: normal;
						.bonus-price-modal {
							@include respond(large-down) {
								margin-left: 0px !important;
							}
						}
					}
					.product-add-to-cart {
						margin-top: 10px;
						.temp-pedic-add-to-cart {
							border-radius: 7px;
							width: 150px !important;
							@media (max-width: 360px) {
								width: 130px !important;
							}
						}
						button[disabled] {
							opacity: unset;
							background-color: #d63426;
						}
						.added {
			    			background-color: #faeae9 !important;
			    			color: #323030;
	    					font-family: $r-semibold;
				    		&:before {
								content: "\f00c";
								font-family: FontAwesome;
								display: inline-block;
								width: 20px;
								height: 17px;
								position: relative;
								margin-right: 4px;
								color: #323030;
							}
						}
						.add-recommendations-item {
							@include respond(large-down) {
								width: 150px !important;
							}
							@media (max-width: 360px) {
								width: 125px !important;
							}
						}
					}
					.product-variations {
						ul {
							margin: 5px 0 0 0px;
							padding: 0px !important;
							.attribute {
								line-height: normal;
								@include respond(large-down) {
									width: 160px;
								}
							}
						}
					}
				}
			}
		}
		.footer-highlited {
			background-color: #fff8df;
		    padding: 20px 40px;
		    display: flex;
		    margin: -23px;
		    margin-top: auto;
		    float: none;
		    justify-content: space-between;
		    position: relative;
    		z-index: 1000;
		    @include respond(large-down) {
		    	display: block;
		    	padding: 10px 15px 15px 15px;
		    	margin: -1px -16px -10px;
		    }
		    &.negative-balance-wrapper {
		   		padding: 20px 30px;
		    }
		    .remaining-balance-wrapper {
		    	line-height: 2;
		    	@include respond(large-down) {
			    	text-align: center;
			    	margin-bottom: 5px;
			    }
			    &.negative-balance-amount span {
			    	color: #d63426 !important;
			    }
			    #remaining-balance {
		    		@include respond(large-up) {
		    			margin-left: 25px;
		    		}
		    	}
		    	span {
		    		font-size: 20px;
					font-weight: 600;
					color: #000000;
					font-family: $r-semibold;
					@include respond(large-down) {
				    	font-size: 16px;
				    }
		    	}
		    }
		    .bonus-product-thanks {
		    	.bonus-product-thanks-class {
		    		display: block;
					width: 227px;
					font-family: $r-semibold;
					font-size: 16px;
					color: #ffffff;
					background-color: #c02f22;
					text-align: center;
					line-height: 1;
					padding: 12px 0px;
					border-radius: 5px;
					text-decoration: none;
					&:hover {
						color: #C6C8CA;
					}
					@include respond(large-down) {
				    	width: auto;
				    	line-height: normal;
	    				padding: 10px 0px;
				    }
		    	}
		    }
		}
	}
	/*gift promo */
	&.bonus-product-popup {
		@include respond(large) {
			min-width: 390px;
		}
		.ui-dialog-titlebar-close {
			@include respond(large) {
				top: 5px;
			}
		}
		.ui-dialog-titlebar {
			height: auto;
		}
		.ui-tooltip {
			display: none !important;
		}
		.ui-dialog-title {
			@include font-size(17px);
			border: 0;
			padding-top: 11px;
			@include respond(large-up) {
				margin: 0;
				padding: 13px 0 4px 0;
				@include font-size(20px);
			}
		}
		.inventory {
			display: none;
		}
	}
}
.pt_cart {
	.error-form {
		margin: 0 0 10px 0;
		padding: 0;
		.error-form-inside {
			border: 1px solid $coral-candy;
			background: $wisp-pink;
			padding: 15px;
			text-align: center;
			@include font-size($font-size-xs);
		}
	}
}
.pt_cart_body .ui-widget-overlay {z-index: 1000;}

.quickview-popup {
	overflow: visible;
	.qv-pricing {
		.label.qv,
		.price-sales {
			font-size: 24px !important;
			color: $fruit-salad !important;
		}
		&.price-sales-more {
			&:before {
				display: none;
			}
		}
		.label.qvreg,
		.stand-price {
			font-size: 16px !important;
			color: $mirage !important;
			font-weight: normal;
		}
		.strik {
			text-decoration: line-through;
		}
	}
	.quickview-nav {
		position: absolute;
		left: -48px;
		right: -48px;
		top: 50%;
		.quickview-next,
		.quickview-prev {
			float: right;
			background-color: $white;
			height: 82px;
			padding: 0;
			width: 48px;
			border-radius: 0;
			&.next-btn {
				float: left;
			}
			.fa {
				@include font-size(62px);
				color: $mirage;
				margin-top: 5px;
			}
		}
	}
	.product-name-container {
		.manu-name {
			@include respond(large-up) {
				@include font-size(19px);
				color: $mirage;
			}
		}
		h1 {
			@include font-size(26px);
			color: $night-rider;
			line-height: 27px;
		}
		.link-without-underline {
			text-decoration: none;
		}
	}
	.detailsLink {
		text-decoration: none;
	}
	.amp-zoom-overflow {
		height: 471px;
	}

	.pdp-main {
		.product-col-2 {
			.qv-pricing {
				.price-sales-more {
					&:before {
						display: none;
					}
				}
			}
			.qv-pricing-range {
				.product-sales-price {
					font-size: 24px;
					&:before {
						display: none;
					}
				}
				.product-standard-price {
					font-size: 24px;
				}
				.has-sale-price {
					font-size: 16px;
				}
			}
		}
	}
}

.cart_suggestions_label {
	padding: 15px;
	@include respond(large-down) {
	}
	@include respond(medium) {
		padding: 15px 0;
	}
}

.suggextions-area {
	display: flex;
	flex-wrap: nowrap;
	box-sizing: border-box;
	justify-content: space-between;
	@media only screen and(max-width:991px) {
		margin: 0 -1.5%;
		flex-wrap: wrap;
		padding: 0;
		justify-content: space-between;
	}

	.suggestion-col {
		width: 32%;
		box-sizing: border-box;

		@media only screen and(max-width:991px) {
			flex-basis: 50%;
			padding: 0 1.5%;
			margin: 0 0 20px;
		}
	}

	.cart_suggestions {
		width: 100%;
		padding: 10px 10px 20px;
		box-sizing: border-box;
		border: 1px solid #c6c8ca;
		box-sizing: border-box;
		border-radius: 3px;
		.cart_suggestions_image {
			width: 55%;
			margin: auto;
		}
		.cart_suggestions_name {
			margin: 0px 0 20px;
			position: relative;
			a {
				text-decoration: none;
				font-weight: 600;
				font-size: 13px;
			}

			.size-area {
				color: #788995;
				font-size: 12px;
				padding: 0 15px 0 0;
				position: absolute;
				bottom: 0;
				right: 15px;
				font-weight: 600;

				span {
					text-decoration: underline;
				}

				&:after {
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					top: 6px;
					right: 0;
					position: absolute;
					pointer-events: none;
					border-color: rgba(120, 137, 149, 0);
					border-top-color: #788995;
					border-width: 5px;
					margin-left: -4px;
				}
				@include respond(large-down) {
					bottom: -15px;
					margin-right: 43px;
				}
				@include respond(small-updated) {
					margin-right: 24px !important;
				}
				@include respond(x-small) {
					margin-right: 50px;
				}
			}
		}
		.cart_suggestions_price {
			font-weight: 600;
			margin: 0px 0px 10px;

			@include respond(medium) {
				display: inline-flex;
			}

			.cart_suggestions_financing {
				font-weight: normal;

				span {
					padding: 0 2px;
				}
			}
		}
		.cart_suggestions_addtocart {
			.cart_suggestions_addtocart_button {
				background-color: black;
				margin: auto;
				margin: auto;
				display: block;
				width: 100%;
				border-radius: 5px;
				padding: 0 10px;
			}
		}
	}
}

/*ATC side paenl Styling*/
.minicart-atc {
	background: $white;
	position: fixed;
	right: 0;
	top: 0;
	transition: transform 0.4s ease;
	z-index: 1100;
	height: 100vh;
	width: 280px;
	transform: translateX(280px);
	@media only screen and (min-width: 375px)  {
		width: 335px;
		transform: translateX(335px);
	}
	@include respond(medium) { 
		width: 375px;
		transform: translateX(375px);
	}
	.add-to-cart-side-panel .icon-close-atc {
		display: none;
	}
	.mini-cart-active &{
		transform: translateX(0);
		.add-to-cart-side-panel .icon-close-atc {
			display: block;
		}
	}
	
	.mini-cart-pricing {
		.value { margin-right: 0; }
		.col1 { float: left; }
		.col2 { float: right; }
	}
	.empty-cart-content {
		padding-bottom:15px;
		text-align: center;
		img.empty-cart-icon {
			margin: 40px 0 30px;
			max-width:100px; 
		}
		h4 {
			color: #282828;
			margin: 0 0 30px;
		}
		p{
			color: #282828;
			margin: 0 0 30px;
		}
		.btn-default {
			&.multi-color {
				min-width: 212px;
				@include respond(medium){
					min-width: 292px;
				}
				background-image: linear-gradient(279deg, #8c1849, #e51870 33%, #e71f6a 59%, #f6732a);
  				background-image: linear-gradient(279deg, var(--berry), var(--magenta) 33%, #e71f6a 59%, #f6732a);
  				box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  				border: solid 5px #ffffff;
  				height: 63px;
  				line-height: 33px;
  				&:hover {
  					background-color: #f050a0;
  					color: $white;
  				}

			}
		}
	}
}

#wrapper:after,
.header-main:after {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba($black, 0.75);
		content: ' ';
		opacity: 0;
		visibility: hidden;
		display: none;
		z-index: -1;
		transition: all 0.4s ease;

		.mini-cart-active & {
			opacity: 1;
			visibility: visible;
			z-index: auto;
			display: block;
		}
	}
.add-to-cart-side-panel {
	position: relative;
	& > .clearfix > div:nth-last-of-type(2) {
		@include respond(medium) {
			float: left;
			width: 42.24%;
			border-right: $border;
		}
	}
	.icon-close-atc {
		position: absolute;
		left:-33px;
		top:7px;
	}
	.item-added-to-cart {
		position: absolute;
		left:0;
		top:0;
		width: 100%;
		padding:12px 25px;
		background-color: rgba(246, 214, 81, 0.85);
		line-height: 20px;	
		font-size: 14px;
  	font-weight: 600;
  	font-family: $r-semibold;
  	@media (max-width: 400px) {
  		font-size: 12px;
  	}
  	img {
  		margin-right: 8px;
  	}
	}
	.justaddedproduct {
		padding: 20px 20px;
		margin-bottom: 10px;
		@include respond(large-down){
			padding: 0 20px;
			padding-top: 20px;
		}
		.product-image {
			box-sizing: border-box;
			float: left;
			padding: 0 15px 0 0;
			@include respond(medium) {
				padding-top: 0px;
			}
			img {
				width: 100px;
			}
		}
		.product-info {
			box-sizing: border-box;
			padding-left: 120px;
			padding-right: 0;
			line-height: 1.5;
			@include font-size(16px);
			@include respond(large-down) {
				padding-left: 115px;
				width: 100%;
				border-right: 0px;
				padding-right: 0px;
				float: none;
				height: auto;
			}
		}
		ul.product-availability-list {
			width: auto;
		}
		.product-name {
  			font-weight: 600;
  			max-width: 350px;
  			font-family: $r-bold;
    		line-height: 1.25;
    		margin-bottom: 12px;
  			@include respond(large-down) {
  				line-height: 1.31;
			}
		}
		.product-options {
			display: inline-block;
			@include respond(large-down) {
				margin: 5px 0px 0px 80px;
			}
		}
		.product-quantity {
			margin-bottom: 12px;
		}
		.optional-product {
			font-size: 16px;
			line-height: 1.2;
			.label {
				font-family: $r-bold;
				margin-bottom: 12px;
			}
		}
		.product-attributes {
			float: left;
    		width: 50%;
    		font-family: $r-semibold;
		}
		.label {
			font-weight: $font-wt-semibold;
		}
		.value {
			font-family: $r-semibold;
		}
		.product-price {
			display: inline-block;
			color: $black;
			font-weight: $font-wt-bold;
			margin-right: 0;
			margin-bottom: 4px;
    	line-height: 1;
    	@media only screen and (min-width: 375px)  {
    		margin-right: 10px;
    	}
			.price-standard, .stand-price, .standard-price {
				color: $color-primary;
				font-weight: normal;
				position: relative;
				text-decoration: line-through;
				float: left;
    		margin-right: 10px;
    		color: #959799;
				@include respond(large-down) {
					display: inline-block;
				}
				@include respond(large-up) {
					@include font-size(16px);
				}
			}
			.Adjusted-Price {
				font-weight: 600;
				font-family: $r-semibold;
				@include respond(large-up) {
					@include font-size(16px);
				}
			}
			.single-percent-off-mf {
				display: none;
			}
		}
		.remove {
			display: block;
			margin-bottom: 30px;
			font-size: 16px;
    	line-height: 15px;
    	&:focus {
    		outline: none !important;
    	}
			@include respond(large-down) {
				margin-bottom: 20px;
			}
		}
		.bonus-discount-container {
			font-weight: $font-wt-semibold;
			color: $color-secondary;
			@include font-size($font-size-sm);
			.bonus-product-alert {
				width: 800px;
			    height: 40px;
			    background-color: #fff8df;
			    display: inline-block;
			    margin-top: 25px;
			    line-height: 3;
			    @include respond(large-down) {
			    	width: 100%;
			    	height: auto;
			    	line-height: normal;
			    	display: flex;
			    	margin-top: 18px;
				}
				.bonus-block {
					display: inline;
					@include respond(large-down) {
						margin-top: 10px;
					}
				    .text {
				    	font-size: 14px;
	  					font-weight: normal;
	  					color: black;
				    }
				}
			    img {
			    	width: 24px;
					object-fit: contain;
					margin: 8px 5px;
					@include respond(large-down) {
						margin: 0 5px;
					}
			    }
			}
		}
	}
	.free-bonus {
		padding:10px 23px 10px 15px;
		border-top: solid 1px #dadada;
		position: relative;
		min-height: 76px;
		@include respond(large-down) {
			padding:10px 15px 10px 15px;
		}
		.icon-free-bonus {
			float: left;
			width: 52px;
	    height: auto;
	    position: absolute;
	    left: 15px;
	    top: 50%;
	    transform: translateY(-50%);
		}
		p {
			margin:0;
			padding-left: 62px;
			position: absolute;
    		top: 50%;
    		transform: translateY(-50%);
    		display:block;
    		padding-right: 20px;
		}
	}
	.order-total {
		width: 35%;
	    float: right;
	    @include respond(large-down) {
	    	width: 100%;
		    float: none;
		}
	    .order-value {
	    	text-align: center;
	    	font-size: 18px;
	    	.order-text {
	    		display: inline-block;
	    	}
	    	.cart-total {
	    		font-weight: 600;
	    	}
	    }
	}
	.button-wrapper {
		width: 100%;
		.button-atc {
  		float: left;
  		width: 160px;
			height: 40px;
			border-radius: 5px;
			background-color: #c02f22;
  		color: white;
	    text-decoration: none;
	    text-align: center;
	    line-height: 2.6;
	    font-size: 16px;
	    font-family: $r-semibold;
	    @include respond(large-down) {
	    	width: 100%;
		    display: block;
		    float: none;
		    margin: 0 auto;
	    }
		}
		.continue-shopping {
			width: 50%;
			line-height: 2.5;
  		text-align: left;
  		display: inline-block;
  		font-size: 16px;
  		box-sizing: border-box;
    	padding-left: 25px;
  		@include respond(large-down) {
  		 	width: 100%;
  		 	text-align: center;
  		 	padding-left: 0;
  		}
		}
	}
	.build-your-bed::-webkit-scrollbar {width: 5px;}
	.build-your-bed::-webkit-scrollbar-thumb{background: black;}
	.build-your-bed {
		    height: calc(100vh - 300px);
    		overflow-y: scroll;
    		    clear: both;
		.heading-byb {
			height: 100px;
		    background-color: #f1f1f2;
		    font-size: 28px;
		    text-align: center;
		    margin: 0;
		    line-height: 3.5;
		    font-family: $r-extrabold;
		}
		.clearance-ad {
			display: none;
		}
		.heading-byb .collapse-arrow {
			display: none;
		}
		.easy-steps {
			display: none;
		}
		#accordion2 .ui-accordion-content {    
			padding-left: 0px !important;
	    overflow: visible;
	    height: 300px !important; 
	    width: 100%;
	    margin-bottom: -1px;
	    position: relative;
	    z-index: 5;
		}
		#accordion .ui-accordion-content {height: auto !important;padding-left: 25px;}
		#accordion2 {			
			h3 {
				padding: 14px 0 14px 10px !important;
				border: none !important;
			}
			&.ui-accordion {
				.ui-accordion-header-active {
					.collapse-arrow  {
						transform: rotate(180deg);
					}
				}
			}
		}
		#accordion {
			> .ui-accordion {
				border-bottom: solid 1px #dadada;
				&:last-child {
					border-bottom: none;
				}
			}
			h3 {
				padding: 20px;
				border-top: 1px solid #dadada;
				@include respond(large-down) {
					padding: 15px;
				}
				&:first-child {
					border-top: none;
				}
			}
			.shop-all {
				font-size: 15px;
		    font-weight: 600;
		    text-decoration: none;
		    margin-top: 7px;
		    display: inline-block;
		    font-family: $r-semibold;
			}
			.sub {
				border-top: 1px solid #dadada;
				padding: 15px 15px 12px 10px;
  			box-sizing: border-box;
  			font-size: 15px;
		    font-weight: 600;
		    @media only screen and (max-width: 23.375em) {
		    	padding: 15px 0 12px 0;
		    }
  			h3 {
  				padding-left: 0px;
  				font-size: 15px;
			    font-family: $r-semibold;
			    font-weight: 600;
  			}
  			.box-spring, .bed-frames, .adj-base {
 					vertical-align: middle;
  				margin-right: 15px;
  				position: relative;
  				top: -3px;
 				}
 				.collapse-arrow {
 					top: 12px;
			    position: relative;
			    right: 20px;
 				}
 				.grey { 					
 					.bs-inner1, .bs-inner2 {
 						font-size: 16px;
 						padding-left: 20px;
  					padding-right: 20px;
  					font-weight: 400;
  					@include respond(large-down) {
  						padding-right: 10px;
  					}
 						&.bold {
 							font-family: $r-extrabold;
 							margin-bottom: 10px;
  						padding-top: 30px;
 						}
 					}
 					.bs-drop-down {
 						.product-options {
 							ul {
 								padding: 0 20px;
 								@include respond(large-down) {
 									
 								}
 								li {
 									list-style: none;
 									label {display: none;}
 									.value {
 										.selector {
 											margin-top: 30px;
 											&:before,
									    &:after {
									      content: '';
									      position: absolute;
									      pointer-events: none;
									    }
									
									    &:before {
									      right: 13px;
									      top: 20px;
									      border-top: 8px solid $black;
									      border-left: 8px solid transparent;
									      border-right: 8px solid transparent;
									    }
									
									    &:after {
									    right: 15px;
									    top: 20px;
									    border-top: 6px solid $white;
									    border-left: 6px solid transparent;
									    border-right: 6px solid transparent;
									    }
 										}
 										.product-option { 																			    
									    width: 100%;
									    border-radius: 5px;
									    height: 50px;
									    padding-right: 32px !important;
									    @include respond(large-down) {
									    	width: 100%;
										    display: block;
										    margin: 0 auto;
									    }
 										}
 									}
							}
 							}
 						}
 						.product-add-to-cart {
 							margin-bottom: 30px;
 							.add-to-cart {
 								width: calc(100% - 40px);
						    height: 40px;
						    border-radius: 5px;
						    background-color: #c02f22;
						    margin: 0 20px;
						    display: block;
						     @include respond(large-down) {
						    	width: calc(100% - 40px);
						    }
 							}
 						}
 					}
 				}
 				&.ui-accordion {
 					padding: 0;
 				}
			}
			#accordion2.sub {
				> .ui-accordion-content {
					margin-left: -25px;
  				width: calc(100% + 25px);
 					background-color: #f1f1f2;
				}
			}
			.select-1 {
				display: inline-block;
		    background-color: black;
		    color: white;
		    font-size: 28px;
		    border-radius: 100px;
		    width: 45px;
		    height: 45px;
		    text-align: center;
		    line-height: 1.6;
		    font-weight: 600;
		    font-family: $r-semibold;
			}
			.select-2 {
				display: inline-block;
		    background-color: black;
		    color: white;
		    font-size: 28px;
		    border-radius: 100px;
		    width: 45px;
		    height: 45px;
		    text-align: center;
		    line-height: 1.6;
		    font-weight: 600;
		    font-family: $r-semibold;
			}
			.select-3 {
				display: inline-block;
		    background-color: black;
		    color: white;
		    font-size: 28px;
		    border-radius: 100px;
		    width: 45px;
		    height: 45px;
		    text-align: center;
		    line-height: 1.6;
		    font-weight: 600;
		    font-family: $r-semibold;
			}
			.select-1-img, .select-2-img, .select-3-img {
				vertical-align: top;
			}
			.main-accordion {
				display: initial;
		    font-size: 19px;
		    font-weight: 600;
		    line-height: 0.76;
		    font-family: $r-semibold;
				display: inline-block;
  			vertical-align: top;
  			padding: 15px 0 15px 16px;
  			@media only screen and (min-width: 375px)  {
  				font-size: 21px;
  			}
			}
			.ui-accordion-content {
				h3 {
					padding: 0;
					border-top: 1px solid #dadada;
					&:first-child {
						//border-top: none;
					}
				}
				> p {
					margin:0 0 20px 10px;
				}
				.accessory-added, .foundation-added {
					padding-left: 15px;
					margin: 11px 0 33px 0;
					img {
						margin-right: 25px;
						width: 25px;
						height: auto;
					}
					a {
						font-size: 15px;
					  font-weight: 600;
					  color: #000000;
					  text-transform: uppercase;
					  text-decoration: none;
					  font-family: $r-semibold;
					}
				}
			}
		}
		&.add-accessory-case {
			.clearance-ad {
				display: block;
				border-top: solid 2px #dadada;
			}
			.heading-byb {
				cursor: pointer;
			}
			.heading-byb .collapse-arrow {
				display: block;
				transform: rotate(180deg);
				position: relative;
				right: 20px;
				top: 42px;
			}
			#accordion {
				display: none;
			}
			.easy-steps {
				display: block;
				padding: 30px 20px;
				.step {
					display: inline-block;
					margin:0 6px;
					width: 30px;
					height: 30px;
					border-radius: 100px;
					background-color: $charcoal;
					font-size: 18px;
					font-weight: 600;
					color: $white;
					text-align: center;
					line-height: 30px;
					font-family: $r-semibold;
					margin-bottom: 15px;
				}
			}
			&.accessory-case-open {
				.heading-byb .collapse-arrow {
					transform: none; 
				}
			}
		}
	}
	.free-bonus + .build-your-bed {
		height: calc(100vh - 380px);
		@include respond(large-down) {
			height: calc(100vh - 450px);
		}
	}
}
.default-cursor {
	cursor: default !important;
}

.chicago-out-of-stock {
	margin-top: 10px;
	margin-bottom: 30px;
	background-color: #faeae9;
	border-radius: 6px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 22px;
	clear: both;
	@include respond(large-down) {
    margin-top: 30px;
    margin-bottom: 15px;
	}
	p {
		font-size: 14px;
		font-weight: normal;
		line-height: 1.86;
		color: #000000;
		margin-top: 0;
		margin-bottom: 15px;
	}
	button {
		height: 32px;
    line-height: 32px;
    border-radius: 3px;
    min-width: 170px;
	}
}
