
@import 'brand-x/_variables.scss';
@import 'brand-x/_fonts.scss';

/** Font-Awesome **/
@import 'brand-x/font-awesome/font-awesome.scss';


/** Bootstrap **/	
@import 'brand-x/bootstrap/_variables.scss';
@import 'brand-x/bootstrap/_mixins.scss';
@import 'brand-x/bootstrap/_utilities.scss';
@import 'brand-x/bootstrap/_modals.scss';
@import 'brand-x/bootstrap/_component-animations.scss';
@import 'brand-x/bootstrap/_carousel.scss';
	
.brandx {
	&.brandx-cart .fa-question-circle{
	   display:none;
	}
	
	margin-top:20px;
	width:100%;  
	max-width:100%;
	font-family: $sans-serif;
  	font-size: 14px;
  	color: $black;
  	
  	.wrapper{
  		max-width:100%;
  		width:100%;
  	}
  	
  	li {
  		list-style: initial;
  	}
  	
  	select.skip-dk {
  		top: inherit !important;
  		visibility: inherit !important;  
  		margin-left: 0;
  	}
  	
  	.input-block-level{
        display: inline-block !important;
    }
  	
  	.control-label,label{
  		padding: 0;
    	height: 20px;
  	}
  	
  	.form-modal-trigger{
  		color: $black;
  	}
  	
  	.form-modal-trigger::after{
  		content:'';
  	}
  	
  	button:after{
  		content:'';
  	}
  	

    @import 'brand-x/bootstrap/_close.scss';
    @import 'brand-x/bootstrap/_buttons.scss';
    @import 'brand-x/bootstrap/_navs.scss';
    @import 'brand-x/bootstrap/_grid.scss';
    @import 'brand-x/bootstrap/_scaffolding.scss';
    @import 'brand-x/bootstrap/_forms.scss';
    @import 'brand-x/bootstrap/_layouts.scss';
    @import 'brand-x/bootstrap/_type.scss';
    
    @import 'brand-x/bootstrap/_responsive-1200px-min.scss';
    @import 'brand-x/bootstrap/_responsive-767px-max.scss';
    @import 'brand-x/bootstrap/_responsive-768px-979px.scss';
    @import 'brand-x/bootstrap/_responsive-navbar.scss';
    @import 'brand-x/bootstrap/_responsive-utilities.scss';
	

	/** Custom CSS **/
	@import 'brand-x/_vendor-prefixes.scss';
	@import 'brand-x/_btn.scss';
	@import 'brand-x/_struture.scss';
	@import 'brand-x/_typography.scss';
	@import 'brand-x/_hero.scss';
	@import 'brand-x/_nav.scss';
	@import 'brand-x/_graphics.scss';
	@import 'brand-x/_forms.scss';
	@import 'brand-x/_what-am-i.scss';
    
    .btn-disabled, .btn-disabled:hover, .btn-disabled:focus {
        background: gray;
    }

	.product {
		input[type="number"], input[type="text"] {
	    	text-indent: 4px;
	    }
    }
}

/*Show modals above cart button*/   
.modal-backdrop {
    z-index: 7001;
}

.modal {
    z-index: 7002;
}