@import "../dw/global";

.ui-widget-overlay {
	position: fixed;
	z-index: 10000;
}

.ui-dialog .ui-dialog-titlebar-close {
  background-color: transparent;
  span {
  	position: absolute;
  	top: 1px;
  	left: 1px;
  }
}

.ui-widget-overlay {
  position: fixed;
  z-index: 1000;
}
 
.dk_toggle .arrow:before {
  z-index: 10;
}

.amp-zoom-wrapper {
	z-index: 100;
}