@import "../bootstrap/variables";
@import "../dw/fonts";
@import "../bootstrap/mixins";
@import "../dw/widgets";
#featured-content {
  @include clearfix();
  .content-asset {
    p {
      margin: 0 0 1em;
    }
    .titled-ctl-box {
      ul li a img{
        margin:0;
      }
    }
  }
  .col-3 {
    width:300px;
    margin:7px; 
  }
  img {
    margin: 0 15px 15px;
  }
  .col-1, .col-2, .col-3 {
    margin-top:0;
    h1, h2, h3, h4, h5, h6 {
      margin-top:0;
    }
    img {
      margin: 0 0 15px;
      image-rendering: optimizeQuality; 
    }
  }
  img.pull-left {
    margin-left:0; 
  }
  img.pull-right {
    margin-right:0;
  }
  img.col-1,img.col-2, img.full-width {
    margin:0;
  }
  figure{
    float: right;
    margin: 15px;
    figcaption {
      font-size: 11px;
      font-style: italic; 
      text-align:center;
    }
  }
  .syncheight {
    p{
      margin:15px 0;
    }
  }
}
