@import "../bootstrap/variables";
@import "../dw/fonts";
@import "../bootstrap/mixins";

/* breadcrumbs */
@import "../dw/breadcrumbs";

/* product detail page (pdp) */
/* ------------------------------------- */
@import "../dw/pdp";

/* size charts */
/* ------------------------------------- */
@import "../dw/sizecharts"; 

#tab1 ul:first-of-type li, #tab1 ul:nth-of-type(2) li, #tab1 ul:nth-of-type(3) li { 
  list-style-type: disc; 
  margin-left: 1em;
}



.tab-content {
  .tab-title {
    font-size: 1.45em;
    text-transform: uppercase;
    font-family: $headingsFontFamily;
  }
  .product-main-attributes {
    width: 26%;
    float: left;
    margin: 15px 0 0 3.4%;
    li {
      margin-bottom: 5px;
      padding: 15px;
      display:none;
      &.comfort_zone,
      &.mattress_tailoring { display:block;}
      span.label {
        @include sprite();
        background-image: url('../images/sprites_vert.png');
        width: 53px;
        height:14px;
      }
      span.value{
        font-size: 16px;
        color: $accentColor; 
        font-family: $headingsFontFamily;
      }
      &.even { background: $grayLighter; }
      span.Zone-1{ 
         background-position:  0px -570px;
      }
      span.Zone-2{
        background-position: 0px -490px;
      }
      span.Zone-3{
         background-position:  0px -410px;
      }
      span.Zone-4{
         background-position:  0px -330px;
      }
      span.Plush,
      span.Zone-5{
          background-position:  0px -250px;
      }
      span.Innerspring{
         background-position:   0px -810px;
      }
      span.Foam{
         background-position:   0px -890px;
      }
      span.Tight-Top{
         background-position: 0 -1900px;
      }
      span.Box-Top{
         background-position: 0 -1920px;
      }
      span.Euro-Top{
         background-position: 0 -1940px;
      }
      span.Pillow-Top{
         background-position:  0 -1210px;
      }
      span.DC2{ 
        background-position: 0 -1210px; 
      } 
      span.TEMPURMaterial{ 
        background-position: 0px -650px; 
      }
      span.Low-Profile,span.Low-Profile{ 
        background-position: 0 -1050px; 
      }
      span.Standard-Boxspring,span.Standard-Split{
        background-position: 0 -1130px;
      }
      span.Mattress-Only {
        background-position: 0 -970px;
      }
    }
  }
  .brand-lists { 
    ul {
      li {
        width: 94%;
        padding:3%;
        margin: 0;
        max-width:260px;
        a {
          width: 94%;
          padding:3%;
          img {
            width:100%;
          }
        }
      }
    }
  }
}

#add-to-cart {
  display: block;
  float: left;
  margin: 10px 10px 0 0;
}

.pdp-main { 
	.product-add-to-cart .inventory { float: left; width: 12%;}
	.product-variations .foundation-dd .dk_toggle { width: 150px;}
	.product-variations .foundation-dd, .pdp-main .product-variations .color-dd {width: 190px;}
}