@import "../bootstrap/variables";
@import "../dw/fonts";
@import "../bootstrap/mixins";

/* secondary region elements (side nav refinements) */
@import "../dw/sidenav"; 

/* color swatches */
@import "../dw/swatches";

/* search results, grid layout */
/* ------------------------------------- */
@import "../dw/search-grid"; 

/* compare tools */
@import "../dw/compare-tools";

/* power reviews */
@import "../dw/power-reviews";

.bottom-banner-container{
  overflow:hidden;
  .bottom-banner-cell{float:left;overflow:hidden;text-align:center;}
  .banner-cell-1{width:33%;}
  .banner-cell-2{width:34%;}
  .banner-cell-3{width:33%;}
 }

.pt_product-search-result{
  #main{
    margin: 0;
    .catheader{
      min-height:25px;
      h1{
        margin: 25px 0;
      }
      td{
        height: auto;
      }
    }
  }
  #primary{
    width: 725px;
    margin:0;
    font-family: $sansFontFamily;
    &.primary-content{
      border: none;
      background: none;
    }
    .compare{
      padding: 20px 20px 20px 70px;
      margin: 60px 0 20px 0;
      background:url("../images/compare.png") no-repeat scroll 20px center $grayLighter;
      clear:both;
      .text{
        width: 48%; 
        float: left;
        margin: 0; 
      }
      button{
        float: right;
        background-color: $accentColor;
        color: $white;
        border: none;
        font-size: 18px;
        font-weight: 200; 
        .arrow{
          background: url("../images/sprites.png") no-repeat; 
          background-position: -78px -142px;
          height: 20px;
          width: 20px;
          float: right;
        }    
      }
    }
    .search-result-options{
      width: auto;
      overflow: visible;
      margin: 0px 0 24px;
      float: left;
      div:first-child {
        margin: 0;
      }
      .items-per-page, .sort-by{
        background: transparent;
        border: none;
        padding: 0;
      }
      .sort-by {
        margin: 0 0 0 10px;
        label {display: none;}
      }
    }
    .search-result-content{
      ul.search-result-items{
        li{
          &.grid-tile{
            box-shadow: none;
            background: none;
            margin: 0 0 2% 0;
            padding: 0 0 0 11%;
            size: 12px; /*chris request*/
            .product-swatches{
              display: none;
            }
            .product-pricing{
              text-align: left;
              font-size: 12px;
            }
            .product-name{ 
              h2{
                text-align: left;
                font: {
                    size: 12px;
                    family: $sansFontFamily!important;
                }  
              }
            }
            .product-compare{
              position: relative;
              width: 100%;
              background-color: $grayLighter;
              padding: 10px 0px 10px 0px;
              left: 0;
              input{
                margin: 0 0 0 10px;
              }
              label{
                width: auto;
                float: left; 
                padding: 0 0 0 5px;
              }
            }
            &.new-row{
              padding: 0;
            }
          }
        }
      }
      .pagination{
        margin: 5px 0 15px 0;
        .results-hits{
          display: none;
        }
        ul{
          li{
            width: 24px;
            height: 20px;
            color: $white;
            background-color: $accentColor;
            border: 1px solid $accentColor;
            text-align: center;
            margin: 0 0 0 5px;
            padding: 4px 0 0 0;
            &.first-last a{
              background-color: transparent;
            }
            &.last-page{
              margin: 0 0 0 5px;
            }
            a{
              color: $white;
            }
            &.current-page{
              color: $accentColor;
              border: 1px solid $accentColor;
              background-color: $white;
            }
          }
        }
      }
    }
  }
}
@mixin refinementlinks($v,$h) {
  width: 60px;
  height: 15px;
  background: url("../images/sprites_vert.png") no-repeat;
  background-position: #{$v} #{$h};
  content:'';
  display:inline-block;
  position: relative;
  top: 2px;
}
.pt_product-search-result #main .catheader .results h1 {
  font-size: 18px;
  margin: .83em 0;
  color: #636363;
  text-transform: initial;
}
#secondary{
  width: 170px;
  background: transparent; 
  margin: 0 0 15px;
  .button {  
    display:none;
  }
  h2.button:after {
    content: "\2B";
  }
  .refinement a.button:after {
    content: "";
  }
  .refinement{
    a{
      color: $accentColor;
    }
    .toggle {
      span {
        background: url("../images/sprites.png") no-repeat scroll right;
        background-position: 145px -149px;
        display: block;
        width: 160px; 
        padding: 0;
        font-weight: bold;
      }
      &.closed {
        span {
          right: -140px;
          text-indent: -140px; 
          position: relative;
          background-position: -14px -149px;
          width: 20px; 
        }
      }
    }
    ul{
      li {
        a{
          color: $textColor;
          letter-spacing: 1px;
          width: 96%;
          display: inline-block;
          font-size: 11px;
          }
       }
       li.Zone1-ExtraFirm{
         a:before{
           @include refinementlinks(0px, -590px);
         }
         &.selected{
           a:before{
             @include refinementlinks(0px,-570px);
           }
         }
       }
       li.Zone2-Firm{
         a:before{
           @include refinementlinks(0px,-510px);
         }
         &.selected{
           a:before{
             @include refinementlinks(0px, -490px);
           }
         } 
       }
       li.Zone3-Medium{
         a:before{
           @include refinementlinks(0px, -350px);
         }
         &.selected{
           a:before{
             @include refinementlinks(0px, -330px);
           }
         }
       }
       li.Zone4-Plush{
         a:before{
           @include refinementlinks(0px, -350px);
         }
         &.selected{
           a:before{
             @include refinementlinks(0px, -330px);
             }
           }
        }
        li.Zone5-UltraPlush{
          a:before{
            @include refinementlinks(0px,-270px);
          }
          &.selected{
            a:before{
              @include refinementlinks(0px, -250px);
            }
          }
        }
        li.DC2, li.TEMPURMaterial {
          a:before{
            @include refinementlinks(0px,-670px);
          }
          &.selected{
            a:before{
              @include refinementlinks(0,-650px);
            }
          }
        }
        li.Foam{
          a:before{
            @include refinementlinks(0px, -910px);
          }
          &.selected{
            a:before{
              @include refinementlinks(0px, -890px);
            }
          }
        }
        li.Innerspring{
          a:before{
            @include refinementlinks(0px, -830px);
          }
          &.selected{
            a:before{
              @include refinementlinks(0px, -810px);
            }
          }
        }
        li.Adjustable {
          a:before {
            @include refinementlinks(0px, -750px);
          }
          &.selected {
            a:before {
              @include refinementlinks(0px, -730px);
            }
          }
        }
        h3.toggle{
        }
     }
   }
} 

/* top level category page */
.pt_product-search-result.top-level-category{
  #primary {
    width:100%;
    float: none;
    clear:both;
    .primary-section-divider {
      margin: 30px 0 0;
      border-top: 1px solid $gray;
      h2 { 
        margin: 15px 0 0;
      }
      .jcarousel-container  {
        margin-top: 30px; 
      }
    }
  }
  #secondary {
    float: none;
    width: 100%;
    clear: both;
  }
}
.subcat-thumbs {
  ul {
    padding:0;
    li {
      width:110px;
      min-height: 135px;
      float:left;
      margin:10px 20px 10px 0;
      text-align: center;
      font: {
        size: 10px;
        family: $headingsFontFamily;
      }
      text-transform:uppercase;
      a { 
        color: $black; 
      }
      img {
        width:110px;
        height:99px;
      }
    }
  }
}
