@import "../bootstrap/variables";
@import "../dw/fonts";
@import "../bootstrap/mixins";

/* homepage elements */
/* ------------------------------------- */
 

#email-alert-signup {
  display: block;
  margin: 0 0 0 33px;
  width: 910px; }

#email-alert-signup label {
  color: #8F8F8F;
  float: left;
  padding: 0.5em 0 !important;
  text-transform: uppercase;
  width: 50%; }

#email-alert-signup input[type="text"] {
  float: left;
  padding: 0.7em 0.5em;
  width: 30%; }

#email-alert-signup input[type="image"] {
  float: left;
  padding: 0.1em; }
  
#source-code {
  float: right;
}

/* ie8 fixes  */

.ie8 #homepage_slider li {width:940px;}
.ie8 .jcarousel-next-horizontal {filter:none;}
.ie8 #CustomerZone {clear:both;}
.ie8 #locationsearch INPUT[type='text'], #simplesearch INPUT[type='text'] {
  line-height:33px;
  height:33px;
  display:table-cell;
}
.ie8 #simplesearch INPUT[type='text'] {
  width:158px;
  float:right; 
  margin-right:65px;
}
.ie8 #footer #emailsignup SPAN {
  width:auto;
}
.ie8 #simplesearch INPUT[type="submit"] {
  margin-right: 70px;
}
