@import "../bootstrap/variables";
@import "../dw/fonts";
@import "../bootstrap/mixins";
@import "../dw/widgets";
 
#storemap {
  ::-webkit-scrollbar-thumb  { border: 1px solid $accentColor; } 
  #store-location-results {
    width: 300px; 
    float: left;
    height: 560px; 
    overflow: auto;
    display: inline;
    .store-information {
        width: 263px; 
        display: block;
        margin: 35px 0 55px; 
        .store-name {
          background: $grayDarker;
          padding: 7px;
          position:relative;
          &.active { background: $accentColor; }
          &:hover { cursor: pointer; }
          .store-title {
            margin-left:43px!important;
            color: $white!important;
            margin:0 0 0 43px!important;
            font:{
              size: 1.124em!important;
              family: $sansFontFamily;
            }
            display: block;
          } 
          .icon {
            width: 49px;
            height: 70px;
            position:absolute;
            bottom:0; 
            background: url("../images/sprites.png") -64px -350px no-repeat;
          }
        }
        .store-hours {
          margin-top: 5px;
        }
        .store-address {
          display:block;
          margin: 7px 0;
        }
     }
  }
  #dwfrm_storelocator.form-inline { 
    float: right;
    width: 330px;
    .form-row {
      margin-top:0!important;
      float:right;
      .dk_toggle{
        width: 75px;
      } 
    }
    button {
      float:right;
      padding: 10px!important;
      width:auto!important;
      margin-bottom: 10px;
    }
    input {
      width: 114px;
      margin: 1px 0 0 0;
      height: 32px;
      font-size: 1em;
    }
    input[type="text"] {
      background-color: #fff;
      color: #636363;
    }
    ::-webkit-input-placeholder {
     color: #636363;
    }
    :-moz-placeholder { /* older Firefox*/
     color: #636363;
    }
    ::-moz-placeholder { /* Firefox 19+ */ 
     color: #636363; 
    } 
    :-ms-input-placeholder {
     color: #636363; 
    }
  }
  #map {
    width: 615px;
    height:515px; 
    float:right;
    img {max-width: none;}
  }
}
.store-locator-details-map {
  position:relative;
  margin-bottom: 100px; 
  img.mainMap{
    border:1px solid $grayLighter;
    width:100%;
  }
  img.storeThumb {
    position:absolute;
    left:10px;
    bottom: -60px;
    border:4px solid white;
    margin-top: -50px;
    z-index:2;
    width: 110px;
    height: 110px;
    box-shadow: 0px 0px 1px 1px $grayLighter;
  }
}
