@import "../bootstrap/variables";
@import "../dw/fonts";
@import "../bootstrap/mixins";

@media screen and (max-width:767px){

  /* Stop mobile font-size adjustments */ 
  /* ------------------------------------- */
 
  body {-webkit-text-size-adjust: none;}

  /* Ensure no content extends beyond page wrapper */
  /* ------------------------------------- */

	div {
	  max-width:100%;
	  &.dk_container {
	    max-width:none;
	  }
	}
  	
  
	#RegistrationForm {
		.form-row {
			margin: 6px 0px;
	  		label {
	  			margin: 0%;
	  		}
	  		.error {
				margin: 0%;  		
	  		}
		}
	}

	.login-create-account {
		h2.section-header {
			padding:  0px 40px 0px;
			margin-bottom: 0px;
		}
		button {
			font-size: 13px;
		}
		.content-asset {
			margin-top: 22px;
		}
	}
	.login-box {
	  .section-header {
	    font-size:2em;
	  }
	  &.login-account {
		p {
			margin-bottom: 0px;
		}
		.form-row {
			margin: 6px 0px;
			label {
				margin-top: 6px;
			}
		}
		#password-reset {
			float: right;
			margin-top: 8px;
		}
      }
	}

  /* Tables */
  /* Force table to not be like tables anymore
   * to do: put this back if we can't fix responsive tables*/
    
  table, thead, tbody, th, td, tr { display: block; }

  /* dont do what is done above this line.  don't want to test everywhere so i'm just undoing the above code for the cart and checkout */
  .pt_checkout, #cart-table, .cart-order-totals {
	table {
	  display: table;
	}
	tbody {
	  display:table-row-group;
	}
	tr {
	  display: table-row;
	}
	td {
	  display: table-cell;
	}
  }
  .pt_storefront {
    .wrapper {
      .titled-ctl-box 
        ul {
          li {
          width:100%;
          margin: 1px 0;
          a img { 
            display: none;
          }
        }
      }
      .promo-carousel {
        .jcarousel-next-horizontal, .jcarousel-prev-horizontal {
          display:none;
        }
        ul {
          width:100% !important; /* important tag must be here to override hard coded style in the ul tag */
          li {
            width:50% !important; /* important tag must be here to override hard coded style in the li tag */
            box-sizing:border-box;
            padding:10px;
            border:none;
          }
          li:nth-child(even) {
            clear:none;
          }
          li:nth-child(odd) {
            clear:both;
          }
        }
      }
    }
  }
  .pt_checkout {
 	thead {
      display: table-header-group;
	}
  }
  #cart-table {
	thead {
	  display:none;
	}
  }
  .cart-footer {
    .haulaway {
      border-left:1px $gray solid;
      border-right:1px $gray solid;
      border-bottom:1px $gray solid;
      width:100%;
      .cart-advert {
        display:none;
      }
    }
  }
  .pt_product-search-result {
    #primary {
      .search-result-content {
        ul {
          &.search-result-items {
            li {
              &.grid-tile {
                width:49%;
                box-sizing:border-box;
                padding:3%;
                margin:0;
                &:nth-child(even) {
                  clear:none;
                }
                &:nth-child(odd) {
                  clear:both;
                }
                &.new-row {
                  padding:3%;
                }
              }
            }
          }
        }
      }
    }
  }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { display: none; }

    td {
      /* Behave  like a "row" */
      border: none;
      //border-bottom: 1px solid #eee;
      position: relative;
      //padding-left: 50%;
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 0;
      left: 0px;
      //width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }

  #CustomerZone {
    width:100%;
  }
  
  /* Adjust the forms to be more mobile-friendly */
  /* ------------------------------------- */

  input[type="text"], input[type="password"], textarea, select {width:90%; font-size: 12px; }
  legend {
    padding: 14px 30% 10px 2%; 
    width: 68%;
    margin:15px 0 10px 0;
  }
  .form-row-button {margin-left:0;}
  .login-box-content label, label,.form-caption, .form-label-text  {float:none;text-align:left;width: auto;}
  .login-box-content input[type="text"], .login-box-content input[type="password"],

  .form-inline {
    .form-row {width: 90%;}
    label {padding:0;}
    button {width: 50% !important;}
  }
  .form-indent{margin-left:2%;}
  .pt_cart, .pt_checkout {
      .cvn-tip {
        a {
          &.tooltip {
            display:block;
          }
        }
      }
      .cart-footer {
      .continue-to-checkout {
        width:100%;
        float:none;
        .cart-order-totals {
          float:left;
          width:50%;
          margin:auto;
          font-size:1.2em;
          padding:20px;
          box-sizing:border-box;
        }
        .cart-coupon-code {
          padding:10px;
          width:49%;
          float:left;
          clear:none;
          box-sizing:border-box;
          input[type="text"] {
            width:90px;
          }
        }
        .cart-actions {
          padding:25px 10px 0px 10px;
          float:left;
          width:49%;
          box-sizing:border-box;
          button {
            &.rounded {
              padding:10px;
              font-size: 1.2em;
            }
          }
        }
      }
    }
    #cart-table {
      .item-image {
        box-sizing:border-box;
        width:24%;
        display:inline-block;
        .product-list-item {
          font-size: 1.5em;
        }
        .item-edit-details {
          font-size: 1em;
        }
      }
      .item-quantity-spacer {
        display:none;
      }
      .item-quantity-details {
        padding: 20px;
      }
      .item-details {
        box-sizing:border-box;
        width:74%;
        display:inline-block;
        padding:20px;
        clear:right;
      }
      .promotion-code {
      }
      .promotion-total {
      }
      .item-size {
        box-sizing:border-box;
		font-size:1.1em;
        display:inline-block;
        padding:10px 0px 10px 10px;
        text-align:center;
      }
      .item-price {
        box-sizing:border-box;
		font-size:1.1em;
        display:inline-block;
        padding:10px 0px 10px 10px;
        text-align:right;
      }
      .item-quantity {
        box-sizing:border-box;
		font-size:1.1em;
        display:inline-block;
        padding:3px 0px 10px 10px;
        text-align:right;
      }
      .item-total {
        box-sizing:border-box;
		font-size:1.1em;
        display:inline-block;
        padding:10px 10px 10px 10px !important;
        text-align:right;
      }
      .remove-item {
        box-sizing:border-box;
        display:inline-block;
        padding:10px 10px 20px 10px;
        text-align:right;
      }
      .coupon-savings {
        box-sizing:border-box;
        display:inline-block;
        font-size:1.1em;
        width:38%;
        padding:20px 10px 20px 10px;
        text-align:right;
      }
      .cart-promo {
        padding:20px;
        font-size:1em;
      }
      .rowcoupons {
        .item-details {
          font-size:1.1em;
          clear:none;
          width:50%;
        }
        .remove-item {
          padding:18px 10px 20px 10px;
          width:10%;
        }
      }
    }
  }
  /* these were split out because the cart has an extra remove-item field */
  .pt_checkout {
    #cexcg {
      width:100%;
      label {
        width:90%;
      }
      .terms-and-privacy {
        margin-bottom:10px;
      }
    }
    #cart-table {
      .item-size {
		width:26%;
      }
      .item-price {
		width:33%;
      }
      .item-quantity {
		width:10%;
      }
      .item-total {
		width:30%;
      }
    }
  }    
  .pt_cart {
    #cart-table {
      .item-size {
		width:23%;
      }
      .item-price {
		width:24%;
      }
      .item-quantity {
		width:16%;
      }
      .item-total {
		width:25%;
      }
      .remove-item {
		width:10%;
      }
      .cart-promo td {
      	display: inline-block;
      }
      .bonus-row{
      	.item-quantity-details{
      	  display:none;
      	}
      	.item-price {
      	  display:none;
      	}
      	.item-quantity {
      	  padding: 10px;
      	}
      	.item-total{
      	  width:69%;
      	}
      }
    }
  }    
  /* store locator */
 #storemap #map {
   width: 365px!important;
 }

  /* Primary page regions: remove padding, update width */
  /* ------------------------------------- */

  .print-page,
  .size-chart-link,
  a.tooltip,
  #tooltip {display:none}

  #primary, #homepage_slider {
    .wrapper {
      width:100%!important;
      min-width: 100%!important;
      max-width:100%!important;
    }
  }

  #primary{
    background:none;
    border:0 !important;
    float:none;margin:0;
    padding-left:0 !important;
    width:100% !important;
  }
  #secondary.nav.refinements {
    clear: both;
    float: none;
    width:100%;
    position:relative!important;
 }
 .pt_cart, .pt_checkout {
   .primary-focus {
     #secondary { 
       display: none !important;
     } 
   }
 }
 .primary-focus #secondary,
 .page-content #secondary {
   float:none;
   width:100%;
   margin-top:0px;
  }
  #secondary.refinements{
    position:absolute;
    border:0;
    display: block;
    font-size: .9em;
    z-index:1;
    background: white;
    h2 {
      display:block!important;
      width: 100px!important;
      height:auto!important;
      margin:0;
      &:hover { cursor: pointer; }
    }
    .refinement  {
      display:none;
      ul {
        padding:0!important;
        margin:0;
      }
      h3, .refinement-header {
        display: block!important;
        font-size: .9em;
        width: 158px;
        &.toggle span {
          background-position: 146px -149px!important;
          }
        &.toggle.closed span {
          right: -145px!important;
          text-indent: -145px!important;
          width: 18px!important;
          background-position: -18px -149px !important;
        }
        &.toggle:after {
          border-top: none!important;
        }
      }
    }
  }

  .breadcrumb-last {display:none;}

  .scrollable {
    height:auto;
    .widget {
    max-width: 320px;
    }
  }

  /* Header */
  /* ------------------------------------- */
   div.mini-cart-content {
    width:293px;
    .mini-cart-products .mini-cart-product {
      .mini-cart-name,.mini-cart-pricing { width:100%; float:none; }
    }
    .mini-cart-link-checkout {
      display: block;
      text-align: right;
      margin: 5px 0 0;
    }
  }
  #header{
    height:auto;
    padding: 10px 0 0!important;
    border-bottom:3px solid $grayLight;
    .menu-category { display: none; }
    .primary-logo {
      width: 175px;
      margin-left: 35px;
    }
    .deal {
      width:auto!important;
    }
    #nav-container {
      position: absolute;
      top: 20px;
      left: 10px;
      width: 32px;
    }
    .header-banner{
      float:none;
      font-size:.8em;
      margin:0;
    }
  }
  #mini-cart {
    position:absolute;
    top:0;
    right:0;
  }
  .header-search{
    width:48%;
    margin: 0 0 8px!important;
  }
  #simplesearch {
    clear:left;
    float:left;
  }
  #locationsearch,
  #simplesearch{
    input[type="text"]  {
      width: 100%;
      padding: 8px 12px;
    }
  }
  .menu-utility,
  .menu-utility-user{
    display:none;
  }
  ul.level-1 {
    li {
      float:none!important;
      margin-top:2px;
      padding:0!important;
      background-color: $accentColor!important;
      position:relative;
      &#mattress-finder {
        position:relative!important;
        right:auto!important;
      }
      .level-1 {
        color:$white!important;
        padding:10px!important;
        font-size: 16px!important;
        display: block;
        &:hover {
          color: $black!important;
        }
      }
      span:hover { cursor: pointer; }
      span:before {
        content: '\25B8';
        color: $textColor;
        right: 0;
        position: absolute;
        top: 0px;
        font-size: 27px;
        height: 34px;
        width: 26px;
      }
      div.level-2.open + span:before {
        @include rotate(90deg);
        top: 5px;
        right:5px;
      }
    }
    li:hover {
      .level-1 {
        background-color: $gray;
      }
    }
    div.level-2 li a,
    div.level-3 li a {
      font-size: 12px!important;
      display:block;
      padding:10px;
      color:$white!important;
    }
  }

  /* Navigation adjusted, stacked so it's easier to use */
  /* ------------------------------------- */
#navigation {
  border:none!important;
  margin:0!important;
  .wrapper {
    width: 220px;
    margin:0;
  }
  h1 {
    @include sprite;
    background-color: transparent;
    background-position: 0 -166px;
    cursor:pointer;
    width: 23px;
    height: 23px;
    margin:0;
  }
  ul.level-1 {
    padding: 0!important;
    top: 23px;
    div.level-2 {
      ul.level-2 {
        width: auto;
           }
         &.menu-horizontal li{
           border:0 !important;
           float:none !important;
           }
         .navArrow, .custom {display: none;}
       }
       div.level-3,
       div.level-2 {
         position:relative!important;
         margin: 0!important;
         top:0!important;
        }
        div.level-3 {
          display:block!important;
          float:none!important;
          ul.level-3 {
            margin:0!important;
          }
        }
     }
  }

  /* Reduce primary header size */
  /* ------------------------------------- */

  .primary-content h1 {font-size: 1.5em;margin:10px 0;}

  /* Grid, product tile layout adjustments */
  /* ------------------------------------- */

  #quickviewbutton {display:none !important;}

  .search-result-options {
    margin:.5em 0;
    .sort-by {margin:0;}
    .sort-by select {width:120px;}
    .items-per-page {display:none;}
    .pagination {
      margin:0;
      .results-hits {display:none;}
      }
    }

  .product-tile {
    height:auto !important;
    .product-swatches .swatch img {height:2em;width: 2em;}
    .product-image { height: auto!important; }
    }

  .wide-tiles {
    .product-tile{
      .product-image{width:41%;}
      .product-name,  .product-pricing,  .product-promo,  .pr_stars,   .product-swatches { float: right; }
      .product-name h2 { margin-top:0px}
    } }

  .product-listing-1x4 ul.search-result-items .grid-tile {margin:2%; width: 92%;}
  .product-compare,.compareitems {display:none !important;}


  /* MODULES */
  /* ------------------------------------- */
  .product-tile-rating {
    .horizontal-carousel{
      li {
        width: 680px!important;
      }
    }
   }
  .mini-ctl-box {
    ul {
      li {
         width: 48%!important;
         float: left!important;
         margin: 10px 0!important;
         min-height: 200px;
      }
    }
  }
  .mattressfinder-module ul li a span.desc{
    margin: 5px 0 0 20px!important;
    width: auto!important;
  }
  .figure-cta figure {
     width: 48% !important;
     margin: 1%!important;
  }
  .store-module section:first-child {
    width: 100%!important;
  }
  .refine-module .refField{
   @include clearAll();
   margin: 15px 0!important;
   display: block!important;
  }

   /* jquery UI */
  /* ------------------------------------- */
 .ui-tabs {
   padding:0;
   .ui-tabs-panel {
     clear:both!important;
     border-top: 1px solid $grayLight;
   }
   .ui-tabs-nav {
     li {
       display:block;
       margin:0;
       width: 99.4%;
       a { width: 100%!important; }
     }
   }
 }
 .tab-content .product-main-attributes {
   @include clearAll();
   margin:15px 0;
 }
  /* Pdp */
  /* ------------------------------------- */
 .pt_product-details {
   .primary-content {padding-bottom: 68px;}
   .breadcrumb .last {display:none;}
 }

  #product-nav-container {
    bottom: 0;
    width:100%;
    div {width: 60px;}
    div.product-next {float:right;}
    .divided span {border:0;}  }


  .pdp-main {
    .product-col-1 { margin-left: 0; }
    .product-col-1, .product-col-2, .product-name  {
      @include clearAll();
      margin:0;
      text-align:center;
    }
    
     	/* Remove image zoom on mobile. */
 	.product-detail {
 		.desktop {
 			display: none;
 		}
 		.mobile {
 		  display:block;
 		}
	 	.col-1 {
	 		width:100%;
	 		padding:20px 0;
	 	}
	 	.col-2 {
	 	  padding:20px 0;
	 	  float:left;
	 	  width:100%;
	 	}
	 	.product-name {
	 		margin-top: 24px;
	 		margin-bottom: 4px;
	 		text-align: left;
	 	}
	 	.product-code {
	 		margin-top: 0px;
	 	}
 	}
    
    .product-actions .menu.col-2 { position: relative!important; }
    .promotion .promotion-title  {font-size:86%; }
    .attribute {
      h3, .label {
        font-size: .9em!important;
        width:35%!important;
        }
      .value {width: 64%!important;}
      span.value {padding-top:5px!important;}
    }
    .product-add-to-cart {
      .product-price {
        font-size: 2em;
        padding: 30px 10px;
        text-align:left;
        width: 100%;
      }
      button {clear:both;width:100%;}
    }
    .product-set-list {
      .product-set-image img {max-width: 90%;}
      .block-add-to-cart {
        .inventory {margin:0; width:23%;}
        .product-price {font-size: 1em;width:44%;}
        button {font-size: .7em;}
      }
    }
    .product-review-links {margin-left:6%;}
    .prSnippetTitle {float:left;}
    .prSnippetRatingUnclickable {float:left;}
  }


  /* size chart */
  /* ------------------------------------- */

  .sizinginformation {
    padding:0;
    th {
      font-weight:normal;
      padding: 0 0 0 2px;
    }
    td {
      background:#fff;
      padding: 5px;
      text-align:center;
    }
    .sizechart {
      padding:0!important;
    }
  }

  .ui-dialog {
    max-width:98%;
    .ui-dialog-content {
      padding:.25em;
      height: auto !important;
      overflow: visible;
    }
    .ui-dialog-titlebar-close {
      top: 0px;
      right: 0px;
      width: 48px;
      height: 48px;
      span {
        position: absolute;
        top: 17px;
        right: 14px;
      }
    }
  }
  
  #liveagent_invite_button_573G0000000TXqg, #liveagent_invite_button_573G0000000TXq7, #liveagent_invite_button_573G0000000TXr5 {
  	img:first-child {
  	  right: -40px !important;
  	  top: -40px !important;
  	  padding: 20px !important;
  	}
  }

  .cart-actions {
    margin: auto;
    overflow: hidden;
    button {
      float:none!important;
    }
  }

  /* Checkout */
  /* ------------------------------------- */

  .checkout-progress-indicator {
    width:auto!important;
    div{
      text-align:left;
      &.completed,
      &.inactive,
      &.active  {
        width:auto!important;
      }
      &.completed,
      &.inactive {
        min-width: 42px;
        text-indent: 23px;
        span.step {
          width: 100%;
          display: block;
        }
        span.step-title { display:none;}
      }
      &.active.step-2, &.active.step-3, &.active.step-4 {
        text-indent: 23px;
      }
    }
  }
  .order-summary-footer h2 {width:50%;}
  .place-order-totals .order-totals-table  {width: 100%;}
  .payment-method-options {padding:0;}
  .payment-method-options .form-row {width:100%;}
  .payment-method-options .form-row label {float:left;margin:0;padding:0 0 0 1em; width:150px;}
  .payment-method-options .form-row .input-radio {margin:0;}
  .pt_order-confirmation .item-list th {display:none;}
  .pt_order-confirmation .item-list td {float:left;padding:1em 0;width:98%;}
  .pt_order-confirmation .item-list .order-totals-table td {float:left;width: 48%;}
  .pt_order-confirmation .order-shipment-table th {display:none;}
  .pt_order-confirmation .order-shipment-table td {font-size: .8em;}
  .pt_order-confirmation .order-shipment-table .shipping-method {padding-left:0;}

  /* account pages */
  /* ------------------------------------- */
  .content-asset ul.account-options li {float:none;width: auto;}
  ul.address-list li,
  ul.payment-list li{float:none;width: auto;}
  .order-history-header button {font-size:1em;padding:.25em;}

  /* Gift certificates */
  /* ------------------------------------- */

  .gift-certificate-purchase {
    .content-asset, form {
      float:none;
      width: 90%; }
    .cert-amount .form-caption {
      width: 80%; }
  }


  /* Gift registry */
  /* ------------------------------------- */

  .page-content-tab-navigaton button {width:100%;}
  .pt-gift-registry {
    .add-gift-cert {
      button,p {
      width: 100%; }
    }
    .create-new-registry {
      overflow:hidden;
      p {display: none;}
    }
    .item-list {
      width: 98%;
      th {
        display: none;}
    }
  }


  /* report tables */
  /* ------------------------------------- */

  table.item-list {
    td, .section-header {
      font-size: .9em;
      padding:.3em;
    }
    .item-availability {width: 97%;}
    .item-dashboard {width: 97%;}
    .delete-registry {text-align:center;}
    th.section-header {background-image:none;}
  }

  .list-table-header {
    padding: 1em !important;
    .button {
      display:block;
      margin:20px 0;
      width: 196px; }
    button {
      display:block;
      width: 260px; }
    p {display:none;}
    }

  #footer {
    div.level-2 { display: none; }
    .col-3, .col-6  {
     @include clearAll();
     margin: 0 0 2px !important;
    }
    .share-bar {
      width: 160px;
      span {
        float:none;
        padding: 0;
      }
    }
    #emailsignup { 
      .email-signup-field{
        width:100%;
        display:block;
        margin: 0;
      }
    }
  }
  
  .facebook-registration {left:-3px;}
  .facebook-registration,.facebook-registration .fb_iframe_widget,.facebook-registration .fb_iframe_widget span,.facebook-registration .fb_iframe_widget span iframe {position:relative;width:100.7% !important;}
  .mobile-hide { display:none!important; }

  #pressReleases {
    li {
      border: none!important;
      margin:15px 0!important;
      padding:15px 0 !important;
      img { display: none!important; }
    }
  }


}

/* Bump up to a min-480 viewport */

@media screen and ( min-width:480px) and (max-width:767px){

  .wrapper {
    width:463px; /* 480px - 17px for scroll bar */
  }
  .pt_cart, .pt_account {
    .primary-content {
      h1 {
        font-size:2em;
      }
    }
  }
  .pt_storefront {
    .wrapper {
      .mini-ctas {
        div {
          a {
            h5 {
              font-size:1.2em;
              height:38px;
            }
          }
        }
      }
    }
  }
  .pt_checkout {
    .wrapper {
      .primary-content {
        .order-summary-footer {
          .col1 {
            width:53%;
            .delivery-msg {
              font-size:1.2em;
              padding:15px 0 0 10px;
            }
            .delivery-date {
              font-size:1.2em;
              padding:10px 0 0 10px;
            }
            .delivery-to-be-scheduled {
              padding: 15px 0 0 15px;
              font-size:1.3em;
            }
          }
          .col2 {
            width:45%;
          }
        }
        .order-totals-table {
          padding:10px;
        }
        .line-break {
          &.gold {
            margin: 35px 0 15px 0;
          }
          &.gray {
            margin: 25px 0 30px 0;
          }
        }
        #checkout-review {
          legend {
            font-size:2.2em;
          }
          .col1 {
            width:100%;
            margin-bottom:20px;
          }
          .col2 {
            width:100%;
          }
        }
        .customer-info {
          legend {
            font-size: 2em;
            width:100%;
            padding:15px 0 0 0;
            margin-bottom:20px;
            &.first {
              padding:20px 0 0 0;
            }
          }
          padding-right:0px;
          .form-inline {
            .city {
              .dk_toggle {
                width: 95px;
              }
            }
          }
          .delivery-schedule-box {
            width:462px;
          }
        }
        .sched-delivery {
          .content-asset {
            width:410px;
          }
          .sched-date {
            width:75.7px;
            font-size: 0.8em;
          }
          .chosen-week {
            margin: 0 2px 0 0;
          }
        }
      }
      .progress-bar {
        .step {
          font-size:.9em;
          width:24.4%;
        }
      }
    }
    .form-inline {
      margin-bottom: 5px;
      &.two-fields {
        .form-row {
          &.card-number {
            width: 191px;
          }
        }
      }
      &.three-fields {
        >.form-row {
          &.zip-col {
            width:95px;
          }
	      &.city-col {
	 		width: 172px;
			margin: 0 15px 20px 0;
			.dk_container {
			  a.dk_toggle {
				width:131px;
			  }
			}
	      }
	      &.city-text-col {
	 		width: 130px;
			margin: 0 15px 20px 0;
	      }
	      &.state-col {
			width: 160px;
			.dk_container {
			  a.dk_toggle {
				width:119px;
			  }
		    }
		  }
          &.month {
	        width:152px;
		    a {
		      &.dk_toggle {
		        width:110px;
		      }
		    }
		  }
  		  &.year {
		    width:85px;
		    a {
		      &.dk_toggle {
		        width:44px;
		      }
		    }
		  }
		  &.cvn {
		    width:110px;
		  }
	    }
      }
    }
    #addressSuggestion {
      .col-1 {
        .suggested-address {
          font-size:1.5em;
        }
      }
      .col-2 {
        margin-top:11px;
      }
    }
    .addresswrapper {
      &.goldborder {
        .form-inline {
          &.three-fields {
            .form-row {
              &.zip-col {
                width:70px;
              }
              &.city-col {
                width:172px;
                margin:0 13px 0 0;
                 a {
                  &.dk_toggle {
                    width:131px;
                  }
                }
              }
              &.state-col {
                width:141px;
                a {
                  &.dk_toggle {
                    width:106px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .product-tile .pr_stars {left:40px}
  .wide-tiles {
    .product-tile {
      .product-name h2 { 
        margin-top: 10px;
        .product-image { width: 38%; }
      }
    }
  }
  .facebook-registration {left:0px;}
  .facebook-registration,.facebook-registration .fb_iframe_widget,.facebook-registration .fb_iframe_widget span,.facebook-registration .fb_iframe_widget span iframe {position:relative;width:100% !important;}
}

@media screen and (max-width:959px) { 
#featured-content {
  .col-3,
  .col-3.first {
   margin-left:15px !important;
   clear:none!important;
  }
}
.pt_wish-list .item-image { display: none; }
.checkout-progress-indicator {
  div {
    padding:5px!important; /*keeps bar correct height so that arrow point is in center */
    &::after {
      width:34px!important;
    }
  }
 }
 #header{
   .deal  {
     display:none;
   }
}
.compare .text { float: none!important; margin: 0 0 10px!important; width: 100%!important; }
.form-inline .form-row {
  width: 40%;
  margin: 15px 15px 0 0;
  .dk_container {
    clear:left;
  }
  &.form-row-button {
    margin-top: 40px;
  }
}
/* override above css without affecting other code so i don't have to test everywhere */
.pt_checkout {
  .form-inline {
    .form-row {
      width: 100%;
    }
  }
}
    
#storemap .form-inline .form-row {
  width: auto;
  margin: 15px 2% 0 0;
}
.ui-tabs {
  .ui-tabs-nav {
    li {
       margin:0!important;
    }
  }
}

/* store locator */
#storemap {
  #map {
    width: 350px!important;
    height:515px!important;
  }
}
.mini-ctas {
  div {
    box-sizing:box-model;
    width: 32%;
  }
  p, p + a, .icon { display: none!important; }
}
}
@media screen and ( min-width:768px) {

#navigation ul.level-1 li:hover {
  div.level-2 {display:block;}
  }

}


@media screen and ( min-width:768px) and (max-width:959px){

 /* set page, primary regions width */
  /* ------------------------------------- */

  .wrapper { 
    width: 751px; /* 768px - 17px for scroll bar */
  }
  .pt_product-search-result #primary.primary-content{width:490px !important;}
  .compare-buttons {text-align:left !important; clear:left;}
  .pt_product-search-result.top-level-category #primary.primary-content{width:100% !important;}
  .fancyDate .dateDetail { width: 60px!important; }
  #navigation ul.level-1 {
    li.content-link.last div.level-2 {
      a {
        padding-left: 25px;
        width: 185px;
      }
      .navArrow {
        right:auto;
        left:8px;
        top:0px;
        @include rotate(180deg);
      }
      div.level-3 {
      margin-left: -220px;
      }
    }
    li#mattress-finder {
      text-indent: -9999px;
      width: 0px !important;
      right: 0 !important;
      a {
        margin-left: -32px;
      }
    }
  }

  /* various page tweaks */
  /* ------------------------------------- */

  .ui-dialog {
    max-width:98%;
    .ui-dialog-content {
      height: auto !important;
      overflow: visible;
    }
  }

  .scrollable {height:auto;}
  .mini-cart-total-label{display:none;}
  .mini-cart-products  {max-height: 100%;}
  .menu-utility {clear:both;margin: .7em 0;}
  .header-banner {font-size: 1em; margin:0;}

  .pdp-main {
    .product-add-to-cart {
      .product-price { font-size: 18px; margin-top: 12px; }
      button { font-size: 18px; margin-top: 20px; }
    }
    .product-set-list {
      .block-add-to-cart button {
        font-size: .9em;
        margin-top: 3px;
      }
    }
  }
  .refine-module {
     width: 94.5%!important;
     .refField {
       width: 31%!important;
     }
  }
  .mattressfinder-module ul li a span.desc {
    width: 300px!important;
  }
  .titled-ctl-box {
    ul li {
      h5 { 
        a .icon { display:none!important; }
      }
    }
  }
  .deal {
    display:none;
  }
  /* tables */
  /* ------------------------------------- */

  #compare-table td .product-tile {width:79px;}
  .pt_gift-registry .add-gift-cert p {width: auto;}
  #cart-table {
    font-size:.9em;
    th {
      font-size:1.3em;
    }
    .item-user-actions {
      width: 72px;
    }
    .item-total .promo-adjustment {
      width: 77px;
    }
   }

  .cart-footer {
    .cart-actions {
      button {
        font-size:1.2em;
      }
    }
    .cart-coupon-code {
      input[type="text"] {
        width:80px;
      }
    }
  }

  .pt_checkout {
    .primary-content {
      #checkout-review {
        .header {
          font-size:1.3em;
        }
        .content {
          font-size:1.2em;
        }
      }
      #cexcg {
        width:55%;
      }
      .customer-info {
        legend {
          font-size:2.2em;
        }
        padding-right: 20px;
        .form-row {
          margin-bottom: 15px;
        }
        .delivery-schedule-box {
          width:487px;
        }
      }
    }
    .sched-delivery {
      .content-asset {
        width: 435px;
      }
      .chosen-week {
        margin: 0 2px 0 0;
      }
    }
    .schedule {
      .sched-date {
        width: 79.9px;
        font-size: 0.8em;
      }
    }
    .form-inline {
      margin-bottom: 5px;
      &.two-fields {
        .form-row {
          &.card-number {
            width: 196px;
          }
        }
      }
      &.three-fields {
        >.form-row {
          &.zip-col {
            width:100px;
          }
	      &.city-col {
	 		width: 172px;
			margin: 0 15px 20px 0;
			.dk_container {
			  a.dk_toggle {
				width:131px;
			  }
			}
	      }
	      &.city-text-col {
	 		width: 134px;
			margin: 0 15px 20px 0;
	      }
	      &.state-col {
			width: 160px;
			.dk_container {
			  a.dk_toggle {
				width:119px;
			  }
		    }
		  }
          &.month {
	        width:152px;
		    a {
		      &.dk_toggle {
		        width:110px;
		      }
		    }
		  }
  		  &.year {
		    width:85px;
		    a {
		      &.dk_toggle {
		        width:44px;
		      }
		    }
		  }
		  &.cvn {
		    width:110px;
		  }
	    }
      }
    }
    
    #addressSuggestion {
      .col-1 {
        .suggested-address {
          font-size:1.5em;
        }
      }
      .col-2 {
        margin-top:11px;
      }
    }
    .addresswrapper {
      &.goldborder {
        .form-inline {
          &.three-fields {
            .form-row {
              &.zip-col {
                width:70px;
              }
              &.city-col {
                width:172px;
                margin:0 13px 0 0;
                 a {
                  &.dk_toggle {
                    width:131px;
                  }
                }
              }
              &.state-col {
                width:151px;
                a {
                  &.dk_toggle {
                    width:110px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  /* footer*/
  /* ------------------------------------- */


  #footer .bottom-nav {
    .col-6.nextrow {
      margin-left:0;
      clear: left;
    }
    .col-6 {
      width: 30%;
    }
  }

  #email-alert-signup {
    margin: 0;
    width: 100%;
    label {
      float:none;
      display:block;
      text-align:center;
      width: 100%; }
    input[type="text"] {
      width: 73%;  }
    }

  #footer{
    #emailsignup{
      .email-signup-field{
        margin:7px 0 0 0;
        width:80%;
      }
    }
  }
  .facebook-registration {left:0px;}
  .facebook-registration,.facebook-registration .fb_iframe_widget,.facebook-registration .fb_iframe_widget span,.facebook-registration .fb_iframe_widget span iframe {position:relative;width:100% !important;}

}
@media screen and (max-width:640px) {
  #dialog-container, #main {
    .col-3, .col-3.first {
      @include clearAll();
    }
  }
  .category_hero {
	display: none;
  }
  #featured-content-slot {
	display: none;
  }  
}

@media screen and (max-width:480px) {

  .wrapper { 
    width: 303px; /* 320px - scroll bar width of 17px */
  }
  #navigation h1 {top:2px}

  #locationsearch,
  #simplesearch{
    @include clearAll();
    margin: 5px 0!important;
    input[type="submit"] {
      right: 32px;
    }
  }
  #footer {
    .col-1 {
      width:95%;
    }
    .col-2 {
      &#social {
        width:100%;
      }
    }
  }
  #tertiary-nav  li {
    width:100%;
    float:none;
  }
    /*
   * search results
   */
  .pagination { width:100%!important; }

  /*
   * modules
   */
  .figure-cta {
    figure {
      @include clearAll();
      margin: 15px 0!important;
     }
     img { display: none; }
  }
  .mini-ctl-box {
    ul {
      li {
        @include clearAll();
        a.vertical img { width: auto!important;}
       }  }  }

   /*
   * tables
   */
   table {
     font-size: 12px;
       div.product-image,
       td.productattribute,
       td.table-icon,
       td.table-info {
         display:none!important;
       }
     }

  /* store locator */
 #storemap {
   #store-location-results {
     @include clearAll();
     height:auto!important;
     overflow: visible!important;
     display:block!important;
   } 
   #map { display: none!important;}
   #dwfrm_storelocator.form-inline { @include clearAll(); }
 }

  /*
   * forms
   */
  .form-inline {
    .form-row, .form-row.form-row-button, &.two-fields .form-row, &.three-fields .form-row {
      width: 90%;
      margin: 15px 0;
    }
  }
  #featured-content-slot { display:none;}
  #featured-content {
    img.col-1, img.col-2, .col-1 img, .col-2 img, 
    img.pull-left, img.pull-right, 
    figure, figure img {
      width:auto!important;
      float:none!important;
      clear:both!important;
      margin: 15px 0!important;
    }
  }
  .primary-content #featured-content .widget {
    width:100%!important;
  }
  .delivery-dates {
    .jcarousel-clip {
      width: 268px!important; 
      margin-left:25px;
    }
  }
  .pt_account {
    .col-1, .col-2 {
      width:100%;
      box-sizing:border-box;
      padding:0 10px;
      .login-box-content {
        margin:0;
      }
    }
  }
  .pt_checkout {
    .progress-bar {
      display:none;
    }
	a {
	  &.button {
	    &.rounded {
	      font-size:1.1em;
	      padding:15px 10px;
	    }
	  }
	}
    button {
      &.rounded {
        font-size:1.1em;
        padding:15px 10px;
      }
    }
    .with-rep {
      label {
        width:250px;
      }
    }
    .form-inline {
      margin-bottom: 5px;
      &.three-fields {
        >.form-row {
          &.zip-col {
            width:100%;
            margin-right:0;
          }
          &.city-col {
            width: 100%;
	        margin: 0 0 20px 0;
		    .dk_container {
			  a.dk_toggle {
			    width:259px;
			  }
			}
	      }
	      &.city-text-col {
	 		width: 200px;
			margin: 0 0 20px 0;
	      }
	      &.state-col {
			width: 100%;
			margin: 0 0 20px 0;
			.dk_container {
			  a.dk_toggle {
    		 width:259px;
			  }
		    }
		  }
          &.month {
	        width:182px;
		    a {
		      &.dk_toggle {
		        width:139px;
		      }
		    }
		  }
  		  &.year {
		    width:106px;
		    margin-right:0;
		    a {
		      &.dk_toggle {
		        width:65px;
		      }
		    }
		  }
		  &.cvn {
		    width:110px;
		  }
	    }
      }
    }
    .addresswrapper {
      &.goldborder {
        .form-inline {
          &.three-fields {
            .form-row {
              &.city-col {
                 a {
                  &.dk_toggle {
                    width:219px;
                  }
                }
              }
              &.state-col {
                a {
                  &.dk_toggle {
                    width:219px;
                  }
                }
              }
            }
          }
        }
      }
    }    
    .wrapper {
      .primary-content {
        .order-summary-footer {
          .col1 {
            width:100%;
            .delivery-msg {
              font-size:1.2em;
              padding:35px 0 0 10px;
            }
            .delivery-date {
              font-size:1.2em;
              padding:10px 0 0 10px;
            }
            .delivery-to-be-scheduled {
              padding: 20px 20px 10px 20px;
              font-size: 1.3em;
             }
          }
          .col2 {
            width:100%;
          }
        }
        .line-break {
          &.gold {
            margin: 20px 0 15px 0;
          }
          &.gray {
            margin: 25px 0 30px 0;
          }
        }
        #checkout-review {
          legend {
            padding:0;
            font-size:1.5em;
            a {
              font-size:0.6em;
            }
          }
          .col1 {
            width:100%;
            margin-bottom:20px;
            .content {
              font-size: 1.1em;
            }
            .header {
              font-size: 1.3em;
            }
          }
          .col2 {
            width:100%;
          }
        }
        #cexcg {
          width:100%;
          .terms-and-privacy {
            margin-bottom:10px;
          }
        }
        legend {
          font-size: 2em;
          margin:0;
          width:100%;
          padding:10px 0 0 0;
          &.first {
            padding:40px 0 15px 0;
          }
        }
        .sched-delivery {
          .content-asset {
            width:245px;
            font-size:1.1em;
            padding:0;
          }
          .sched-date {
            width:49px;
            font-size: 0.8em;
            .weekday {
              overflow:hidden;
            }
            .time-slot {
              padding:5px 0 0 0;
              font-size:1.4em;
            }
            .month-day {
              font-size:1.6em;
            }
          }
        }
        .customer-info {
          padding-right:0px;
          .delivery-schedule-box {
            .preferred-contact {
              .dk_toggle {
                width:261px;
              }
            }
          }
          .form-row {
            margin-bottom:20px;
          }
          .form-inline {
            &.two-fields {
              .form-row {
                width:100%;
                &.card-number {
                  clear:both;
                }
                &.cc-type {
                  width:243px;
                  padding-top:30px;
                  label {
                    display:none;
                  }
                  .card-indicator {
                    margin:-30px 0 5px 0;
                  }
                }
              }
            }
          }
        }
      }
    }
    #addressSuggestion {
      .col-1 {
        width:56%;
        .suggested {
          padding: 20px 10px 15px 10px;
        }
        .suggested-address {
          padding: 0px 10px 15px 10px;
          font-size:1.3em;
        }
      }
      .col-2 {
        width:44%;
        margin-top:6px;
      }
    }
    /* override above css without affecting other code so i don't have to test everywhere */
    .form-inline {
      .form-row {
        width: 100%;
      }
    }
  }
  .pt_storefront {
    .wrapper {
      .mini-ctas {
        div {
          width:100%;
          margin:0;
          a {
            h5 {
              font-size:1.4em;
              padding:0.5em 0;
              margin:1px 0;
            }
          }
        }
      }
    }
  }
  .pt_cart, .pt_checkout {
    #cart-table {
      .item-image {
        width:24%;
        .product-list-item {
          font-size: 1.3em;
        }
        .item-edit-details {
          font-size: 1em;
        }
      }
      .item-size {
        width:20%;
      }
      .item-details {
        padding:20px 10px 20px 10px;
      }
      .cart-promo {
        padding: 0px 10px 10px 10px
      }
      .item-details, .item-size, .item-price, .item-quantity, .item-total {
        font-size:1em;
      }
      .rowcoupons {
        .item-details {
          width:48%;
        }
      }
    }
    .cart-footer {
      .haulaway {
        .truck {
          display:none;
        }
        .items-to-remove {
          padding:20px;
          box-sizing:border-box;
          width:100%;
          .header {
            text-align:center;
            padding-bottom:10px;
          }
          .pickup {
            text-align:center;
            padding-bottom:10px;
          }
        }
      }
      .continue-to-checkout {
        .cart-order-totals {
          width:100%;
          padding: 20px 50px;
        }
        .cart-actions {
          width:100%;
          padding:0;
        }
        .cart-coupon-code {
          width:100%;
          text-align:center;
          padding-bottom:20px;
          label {
            text-align:center;
          }
          input[type="text"] {
            float:none;
          }
        }
      }
    }
  }
  .pt_checkout {
  	.form-inline.two-fields {
  	  .form-row {
  	  	width:100%
  	  }
  	}
  }
  #bonus-product-dialog {
   	h3.header-red-text{
   	  margin-left:10px;
   	}
    .bonus-product-item {
      padding-top:20px;
      padding-bottom:20px;
      width:100%;
      height: auto;
      .product-col-1 {
      	width: 33% !important;
      	clear:none !important;
      	float:left !important;
      }
   	  .product-col-2 {
   	  	width: 58% !important;
   	  	clear:none !important;
   	  	float:right !important;
   	  	text-align: left;
   	  	.product-number {
   	  	  text-align:left;
   	  	}
   	  	.product-add-to-cart .inventory {
   	  	  input{
   	  	    width:30px;
   	  	  }
   	  	  label{
   	  	    float:left;
   	  	  }
   	  	}
   	    .product-variations {
   	      .attribute {
   	      display:block;
   	        .dk_toggle{
   	          width: 115px;
   	          text-align:left;
   	        }
   	      }
   	    }
   	    .product-add-to-cart button {
   	    	width:80px;
   	    	padding:10px 10px;
   	    	margin-left: 10%;
   	    }
      }
    }
    .block-number1, .block-number2, .block-number3, .block-number4 {
    	border-top: none;
    	border-left: none;
    	border-right: none;
    	border-bottom: 1px solid $grayeb;
    }
    .bonus-product-list-footer {
      .selected-bonus-item {
        width: 100%;
        padding-bottom: 20px;
      }
      .add-to-cart-bonus {
      	width:96%;
      	margin-bottom: 20px;
      	margin-left:2%;
      	margin-right:2%;
      }
      .selected-bonus-items {
      	margin-left:10px;
      }
    }
    .items-wrapper{
      padding-bottom: 0px;
      border-bottom: none;;
    }
  }
  .bonus-product-dialog {
  	height: 100vh !important;
  	overflow: auto !important;
  	.ui-dialog-titlebar{
  		border-bottom:none;
  		padding: 10px 10px 10px 12px;
  		height: auto;
  		.ui-dialog-title{
  		  width:85% !important;
  		  font-size: 1.333em;
  		}
  		.ui-dialog-titlebar-close{
  		  right:0;
  		  top:-5px;
  		}
  	}
  }
  .bonus-options.ui-dialog {
  	top:0px !important;
    .ui-dialog-titlebar{
      padding: 10px 10px 10px 12px;
      height: auto;
      .ui-dialog-title{
        width: 85% !important;
      }
      .ui-dialog-titlebar-close{
      	right: 0;
      	span{
      	  top:6px;
      	}
      }
  	}
  	.ui-dialog-content {
  	  padding-left:10px;
  	  padding-right:10px;
  	}
  }
}
