%clear_list {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		margin: 0;
		padding: 0;
	}
}

* {
	outline: none;
}

body {
	background: none;
	color: $black;
	font-family: $sans-serif;
	@include font-size($font-size-regular);
}

img {
	max-width: 100%;
	vertical-align: top;
}

a {
	color: $thunderbird;
	outline: medium none;
	overflow: hidden;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

p {
	@include font-size($font-size-regular);
	@include line-height($font-height-regular);
	button {
		width: auto;
	}
}

ul, ol {
	margin: 0;
	padding-left: 16px;
	li {
		@include line-height($font-height-regular);
		margin-bottom: 20px;
	}
}

fieldset {
	border: 0 none;
	margin: 0;
	padding: 0;
}

table {
	width: 100%;
}

th {
	text-align: left;
}

td {
	padding: 1em;
	vertical-align: top;
}

h1 {
	@include h1();
}

h2 {
	@include h2();
}

h3 {
	@include h3();
}

h4 {
	@include h4();
}

h5 {
	@include h5();
}

h6 {
	@include h6();
}

button,
.button,
.buttonstyle,
input[type="button"] {
	border: none;
	background-color: $thunderbird;
	color: $white;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: $font-wt-semibold;
	width: 157px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease;
	box-sizing: border-box;
	&:hover {
		background-color: $falu-red;
		text-decoration: none;
	}
	&.large {
		font-size: 17px;
		line-height: 40px;
		height: 40px;
		width: 280px;
		@include respond(small) {
			width: 100%;
		}
	}
	&.secondary-large {
		background-color: $jewel;
		font-size: 17px;
		line-height: 40px;
		height: 40px;
		width: 280px;
		&:hover {
			background-color: $jewel-dark;
		}
		@include respond(small) {
			width: 100%;
		}
	}
	&.secondary-small {
		color: $black;
		background-color: $alto;
		&:hover {
			background-color: $concrete;
		}
	}
	&[disabled],
	&.disabled {
		background-color: $alto;
		color: $black;
		opacity: 0.5;
	}
	a {
		color: $white;
		&:hover {

		}
	}
	i {
		&.left {
			margin-right: 0.6em;
		}
		&.right {
			margin-left: 0.6em;
		}
	}
}

.button-fancy-small {
}

.button-fancy-medium {
}

.button-fancy-large {
	@extend .button.large;
}

.button-text {
	background-color: transparent;
    padding: 0;
    color: #333333;
    border: 1px solid grey;
    font-weight: 400;
    width: 135px;
    border-radius: initial;
    border-radius: 5px;
    line-height: 34px;
    height: inherit;
	&:hover {
		text-decoration: none;
		background: none;
	}
}

.button-full-width {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	width: 100%;
}

/*Scroll To Top button*/
.scrollToTop {
	width: 100px;
	position: fixed;
	bottom: 40px;
	right: 40px;
	display: none;
	z-index: 10001;
	&:hover {
		cursor: pointer;
	}
}
