.breadcrumb {
	@include font-size(11px);
	@include line-height(11px);
	margin: 0;
	@include respond(large-up) {
		padding-top: 19px;
	}
	padding: 19px 0 22px;
	li {
		display: inline;
		list-style: none outside none;
	}
}

.paging-current-page {
	left: -999em;
	position: absolute;
}

.breadcrumb-element {
	@include font-size(11px);
	@include line-height(11px);
	text-decoration: none;
	color: $color-primary;
	&:hover {
		color: $color-secondary;
	}
	&:after {
		color: $color-primary;
		content: ':';
		margin-left: .4em;
	}
	&:last-child {
		&:after {
			content: '';
		}
	}
}
.breadcrumb-refinement {
	font-weight: 700;
	&:last-of-type {
		&:after {
			content: '';
		}
	}
}

.breadcrumb-refinement-value {
	display: inline-block;
	border-radius: 3px;
	margin: 0 .42em .42em 0;
	padding: 0 .42em 0 0;
}

.breadcrumb-refinement-name {
	padding-right: .42em;
}

.breadcrumb-relax {
	background-image: url('../images/interface/sprite.png');
	background-repeat: no-repeat;
	background-position: -262px -229px;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-left: 14px;
	font-size: 0;
	position: relative;
	top: 2px;

}

.breadcrumb-result-text a,
.breadcrumb .searchphraselink {
	background: none;
	color: $citrus;
	padding: 0;
}
.breadcrumb-result-text {
	margin: 0;
	span {
		@include h2();
		display: block;
		a {
			color: $thunderbird;
			text-decoration: none;
		}
	}
}
