.js .simple-submit {
	display: none;
}

legend {
	width: 100%;
	margin: 0;
	position: relative;
	color: $color-secondary;
	@include font-size(18px);
	font-weight: $font-wt-semibold;
	padding-bottom: 4px;
	border-bottom: $border;
	span {
		font-weight: $font-wt-regular;
		position: relative;
		text-transform: none;
		em {
			color: $night-rider;
		}
	}
	.dialog-required {
		margin: 7px 0 0;
	}
	.required-indicator {
		margin: 0;
		float: right;
	}
}

label {
	display: block;
	font-size: 14px;
	font-weight: $font-wt-semibold;
	.form-horizontal & {
		float: left;
		margin-top: 5px;
		margin-bottom: 2px;
		width: 100%;
		@include respond(medium) {
			width: 144px;
			margin-bottom: 0;
		}
	}
	.label-inline & {
		display: inline;
		float: none;
		font-size: 14px;
		font-weight: $font-wt-regular;
		line-height: 20px;
		margin-top: 0;
		text-align: left;
		width: auto;
	}
	.label-above & {
		margin-bottom: .3rem;
		width: auto;
	}
}

.form-label-text {
	float: left;
	font-size: 1.1em;
	font-weight: 700;
	padding: 0.75em 0 0;
	text-align: right;
	width: 25%;
}

.form-row {
	@extend %clearfix;
	margin: 5px 0 10px;
}

.form-row-button {
	clear: left;
	.form-horizontal & {
		@include respond(medium) {
			margin-left: 0;
			margin-right: 0;
			max-width: 500px;
			text-align: right;
		}
	}
}

.field-wrapper {
	box-sizing: border-box;
	margin-bottom: .5rem;
	width: 100%;
	.form-horizontal & {
		float: left;
		@include respond(medium) {
			max-width: 380px;
		}
	}
	.label-inline & {
		float: left;
		padding-left: 0;
		width: auto;
	}
	.label-above & {
		float: none;
		padding-left: 0;
		width: auto;
	}
	.phone-row & {
		max-width: 180px;
	}
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="email"],
textarea {
	border: $border;
	box-sizing: border-box;
	height: 33px;
	padding: 0 13px;
	text-indent: 0;
	width: 100%;
	color: $black;
	font-size: 14px;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	&.error {
		border: 1px solid $thunderbird;
	}
}

textarea {
	width: 100%;
	height: 75px;
	padding: 13px;
	box-sizing: border-box;
	.textarea-row & {
		height: 160px;
	}
}

select {
	background-color: #fff; // set background color to make height work
	width: 100%;
	height: 2rem;
}

input[type="checkbox"],
input[type="radio"] {
	margin: 1em 1% 1em 2%;
	.label-inline & {
		margin: 0 .3rem 0 0;
	}
}

.form-caption {
	clear: left;
	width: auto;
	@include font-size($font-size-xs);
	font-style: $font-style-italic;
	.form-horizontal & {
		@include respond(medium) {
			margin-left: 144px;
		}
	}
	.label-above & {
		margin-left: 0;
	}
	.form-indent & {
		margin-left: 0;
	}
}

.form-indent {
	@include respond(medium) {
		margin-left: 144px;
	}
}

.error-message {
	border: 1px solid $thunderbird;
	padding: 0.7em 0.5em;
	text-indent: 0;
	width: 49.5966%;
}

.error {
	border-color: $thunderbird;
	color: $thunderbird;
}

span.error,
div.error {
	background: none;
	font-size: 12px;
	display: block;
	margin-top: 7px;
}

.error-form {
	border: 1px solid $thunderbird;
	color: $thunderbird;
	margin: 0.5em 0;
	padding: 0.8em;
}

.form-inline {
	form {
		padding: 0 0 2em;
		width: 98%;
	}
	label {
		padding: 0 0 0.75em;
		text-transform: uppercase;
		width: auto;
	}
	input[type="text"], select {
		margin-left: 0;
		width: 95%;
	}
	button {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}
}

.row-inline {
	display: inline;
	label {
		width: auto;
	}
}

// Required Indicator and Text
.dialog-required {
	display: inline-block;
	position: relative;
	float: right;
	color: $thunderbird;
	@include font-size($font-size-xs);
	em {
		color: $color-primary;
		font-style: $font-style-italic;
		text-transform: capitalize;
	}
}

.required-indicator {
	font-style: $font-style-regular;
	color: $thunderbird;
	padding: 0 0 0 3px;
}

.form-field-tooltip {
	float: right;
	width: 20%;
	text-align: right;
	margin-top: -17px;
	position: relative;
	top: -2px;

	& > a {
		color: $color-primary;
		@include font-size($font-size-xs);
		text-decoration: none;
		font-style: $font-style-italic;

		@include respond(medium) {
			text-decoration: underline;
			&:hover {
				text-decoration: underline;
			}
			&:before {
				content: '(';
				display: inline;
			}
			&:after {
				content: ')';
				display: inline;
			}
		}
	}
	.icon {
		display: none;
	}
	@include respond(medium) {
		width: auto;
		margin-right: -20px;
		top: 22px;
	}
	@include respond(large) {
		margin-right: 105px;
	}
	@include respond(x-large) {
		margin-right: 225px;
	}
}
