//------------------------------------
//  FUNCTIONS
//------------------------------------

//
// Calculates proper rem font-size given
// a pixel amount.
//
@function calculateRem($size) {
	$remSize: $size / 16px;
	@return $remSize * 1rem;
}

@function calculateEm($size) {
	$emSize: $size / 16px;
	@return $emSize * 1em;
}

//
// Calculates proper vw value at a specified viewport, given
// a target font-size (in px) and viewport width (in px).
//
@function calculateVw($pxsize, $screenwidth) {
	$vwunit: $screenwidth / 100;
	@return ($pxsize / $vwunit) * 1vw;
}

//
// Calculates proper % value at a specified viewport, given
// a target font-size (in px) and viewport width (in px).
//
@function calculatePerc($pxsize, $screenwidth) {
	@return ($pxsize / $screenwidth) * 100%;
}