.primary-content {
	dl {
		clear: both;
		overflow: hidden;
		dt {
			clear: both;
			float: left;
			margin: 2% 0 0;
			min-width: 15%;
		}
		dd {
			float: left;
			margin: 2% 0 0;
			padding: 0 0 0 5%;
		}
	}
}

.col-1 {
	float: left;
	margin: 4px 0;
	width: 48%;
}

.col-2 {
	float: right;
	margin: 4px 0;
	width: 48%;
}

.content-header {
	font-size: 1.75em;
	font-style: italic;
	font-weight: $font-wt-regular;
	margin: 0 0 14px !important;
	span {
		font-size: 0.75em;
		font-style: $font-style-regular;
		font-weight: $font-wt-regular;
	}
}

.section-header {
	margin: 0;
	position: relative;
	@include font-size(18px);
	@include line-height(25px);
	color: $color-secondary;
	border-bottom: $border;
	font-weight: $font-wt-semibold;
}

.section-header-note {
	display: none;
	@include respond(medium) {
		display: block;
		float: right;
		color: $color-primary;
		@include font-size($font-size-regular);
		@include line-height($font-height-regular);
		font-style: $font-style-italic;
		font-weight: $font-wt-regular;
		text-decoration: underline;
		&:hover {
			color: $color-secondary;
			text-decoration: underline;
		}
	}
}

.back {
	display: block;
	margin: 0 0 10px;
}
