//-----------------------------------------------
// Responsive Grid Layouts - test
//-----------------------------------------------

// Mixin needed to create column widths and float clears

// Set Columns
//	Creates column widths and float clears for a given number of columns per row.
//	Called by the column-breakpoint() mixin.
//
// Parameters:
//	$num-of-cols: the number of columns per row.
//
@mixin set-columns($num-of-cols) {
	width: 100% / $num-of-cols;
	&:nth-child(#{$num-of-cols}n+1) {clear: both;}
}

// Column Respond
//	Generates a series of column-breakpoint() media queries
//	(of min-width only) for each, key:value pair, also overriding any previously set
//	nth-child "clear: both;" styles from similar media queries. Below lowest media query
//  the grid will default to 1 column (at 100% width). You can override this by setting
//  a 0px breakpoint, ex: "0px : 2".
// 
// Parameters:
//	$responsive-values: associative array of Breakpoints : Number of Columns.
//
// Example:
//	@include column-respond(
//		(
//			500px : 3,
//			600px : 4,
//			768px : 5,
//			1080px : 6,
//		)
//	);
//
@mixin column-respond($responsive-values) {
	$prev-num-of-cols: -1;
	@each $breakpoint, $columns in $responsive-values {
		@if $breakpoint != "null" {
			@media all and ( min-width: $breakpoint ) {
				//first override any previous float clears				
				@if length($responsive-values) > 1 {
					@each $b, $c in $responsive-values {
						@if $c == $prev-num-of-cols {
							.grid-row .grid-col:nth-child(#{$c}n+1) {
								clear: none;
							}
						}
					}
				}
				//now break this row to n number of columns
				.grid-row .grid-col {
					@include set-columns($columns);
				}
			}
			$prev-num-of-cols: $columns;
		}
	}
}

// Global Styles for all .responsive-grid divs
.responsive-grid {
	// Reset box-sizing for all nested elements
	*,
	*:before,
	*:after {
		box-sizing: border-box;
	}
}

// Grid Row Styles
.grid-row {
	@extend %clearfix;
	width: 100%;
	max-width: $desktop-breakpoint;
	margin: auto;
	margin-bottom: 20px;
	
	// These are redundant, since the column-respond() mixin overrides them
	// in all but the smallest viewports (below the smallest defined).
	//
	//&.one-column .grid-col { @include set-columns(1) }
	//&.two-columns .grid-col { @include set-columns(2) }
	//&.three-columns .grid-col { @include set-columns(3) }
	//&.four-columns .grid-col { @include set-columns(4) }
	//&.five-columns .grid-col { @include set-columns(5) }
	//&.six-columns .grid-col { @include set-columns(6) }
	//&.seven-columns .grid-col { @include set-columns(7) }
	//&.eight-columns .grid-col { @include set-columns(8) }
	//&.nine-columns .grid-col { @include set-columns(9) }
	//&.ten-columns .grid-col { @include set-columns(10) }
	//&.eleven-columns .grid-col { @include set-columns(11) }
	//&.twelve-columns .grid-col { @include set-columns(12) }
	
	&:last-child {
		margin-bottom: 0;
	}
	
	.grid-col {
		// Default mobile-first width or 100%.
		// Can be easily overridden in column-respond() with a 0px breakpoint. 
		width: 100%;
		float: left;
		padding: 10px;
	}
}