/* Slider */

.slick-carousel {
  ul {
	li {
	  display: none;  // hiding slides before initialize carousel
	}
  }
}

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;

	* {
	  box-sizing: border-box;
	}
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;

	&:focus {
		outline: none;
	}

	&.dragging {
		cursor: pointer;
		cursor: hand;
	}
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;

	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}

	.slick-loading & {
		visibility: hidden;
	}
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	[dir="rtl"] & {
		float: right;
	}
	img {
		display: block;
	}
	&.slick-loading img {
		display: none;
	}

	display: none;

	&.dragging img {
		pointer-events: none;
	}

	&:focus {
		// remove browser outline on focus (Chrome and FF)
		outline: none;
	}

	.slick-initialized & {
		display: block;
	}

	.slick-loading & {
		visibility: hidden;
	}

	.slick-vertical & {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
}

.slick-arrow.slick-hidden {
	display: none;
}

.slick-arrow {
	background: $concrete;
	width: 30px;
	height: 30px;
	border: $border;
	padding: 0;
	overflow: hidden;
	text-indent: -9999px;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	border-radius: 20px;
	z-index: 1;
	@include respond(large-up) {
		width: 40px;
		height: 40px;
		margin-top: -20px;
	}
	&.slick-prev {
		left: 9px;
		@include respond(large-up) {
			left: 10px;
		}
	}
	&.slick-next {
		right: 10px;
		&:after {
			transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			left: 12px;
			@include respond(large-up) {
				left: 15px;
			}
		}
	}
	&.slick-disabled {
		opacity: 0.5;
	}
	&:hover {
		background: $concrete;
	}
	&:after {
		content: '';
		display: block;
		width: 9px;
		height: 16px;
		position: relative;
		top: -30px;
		left: 9px;
		background: url(../images/interface/sprite.png) no-repeat -278px -227px;
		@include respond(large-up) {
			width: 11px;
			height: 20px;
			top: -27px;
			left: 12px;
			background: url(../images/interface/sprite.png) no-repeat -279px -225px;
		}
	}
}

.slick-slider {
	margin: 0;
	padding: 0;
	list-style: none;
	ul,
	li {
		margin: 0;
		padding: 0;
		list-style: none;
		line-height: initial;
	}
}

.slick-slider .slick-dots {
	font-size: 0;
	text-align: center;
	height: 12px;
	margin-top: 10px;
	@include respond(large-up) {
		position: absolute;
		width: 100%;
		bottom: 10px;
		margin-top: 0;
	}
	li {
		display: inline-block;
		height: 12px;
		width: 12px;
		margin: 0 3px;
		background: $white;
		border: 1px solid $color-primary;
		border-radius: 6px;
		box-sizing: border-box;
	}
	button {
		height: 6px;
		width: 6px;
		border: none;
		background: $white;
		padding: 0;
		margin: 0;
		overflow: hidden;
		text-indent: -9999px;
		box-sizing: border-box;
		margin-top: 2px;
		border-radius: 3px;
	}
	.slick-active {
		button {
			background: $color-primary;
		}
	}
}
.slick-initialized {
	display: block !important;
}