.content-slot img {
	height: auto;
	max-width: 100%;
}

.hero {
	.heading {
		@include font-bold();
		@include font-size(90px);
		@include line-height(90px);

		@include respond(large-down) {
			@include font-size(50px);
			@include line-height(50px);
		}
	}

	.subheading {
		@include font-regular();
		@include font-size(60px);
		@include line-height(60px);

		@include respond(large-down) {
			@include font-size(26px);
			@include line-height(26px);
		}
	}

	p {
		@include font-regular();
		@include font-size(35px);
		@include line-height(35px);

		@include respond(large-down) {
			@include font-size(18px);
			@include line-height(18px);
		}
	}
}

.slot-grid-header p {
	margin: 0;
	padding: 0;
}

.product-listing-1x4 {
	background: none repeat scroll 0 0 $white;
	overflow: hidden;
	padding: .83em 0;

	.search-result-items .grid-tile {
		margin: 0 1% 0 2%;
		width: 18%;

		@include respond(small) {
			margin: 2%;
			width: 92%;
		}
	}
}

.content-asset {
	p {
		line-height: 1.6em;
		margin: 1em 0;
	}

	ul, ol {
		line-height: 1.6em;
		margin: 1em 0;
		padding: 0 1.5em;
	}

	ul li {
		list-style: square outside none;
	}

	ol li {
		list-style: decimal outside none;
	}

	address {
		margin: 1em 0;
	}

	.account-options {
		margin: 2px 0 0 0;
		padding: 0;

		li {
			border-bottom: 1px solid $light-gray;
			float: left;
			list-style: none outside none !important;
			margin: 0 0 0 4%;
			padding: 1em 0;
			position: relative;
			width: 46%;

			@include respond(large-up) {
				height: 5rem;
			}

			a {
				display: block;
				@include font-size(16px);
				line-height: 2.5em;
				padding: 0 0 0 4.58em;
			}

			img {
				left: 0;
				position: absolute;
				top: .83em;
			}

			p {
				margin: 0;
				padding-left: 4.58em;
			}

			@include respond(small) {
				float: none;
				width: auto;
			}
		}
	}
}

.account-nav-asset {
	h5 {
		margin: 15px 0 5px;
		padding: 0 5px;
		color: $color-primary;
		@include font-semibold();
		@include font-size($font-size-sm);
		@include line-height($font-size-sm);
		@include respond(large-up) {
			@include font-size($font-size-h5);
			@include line-height($font-size-h5);
		}
	}
	ul {
		li {
			margin-bottom: 5px !important;
			a {
				&:before {
					content: '';
					display: inline-block;
					position: relative;
					background: url(../images/interface/sprite.png) no-repeat;
				}
				&.call {
					&:before {
						background-position: -43px -218px;
						top: 5px;
						width: 19px;
						height: 19px;
						margin-right: 10px;
					}
				}
				&.chat {
					&:before {
						background-position: -26px -218px;
						width: 17px;
						height: 17px;
						top: 4px;
						margin-right: 12px;
					}
				}
				&.store {
					&:before {
						background-position: -15px -218px;
						width: 11px;
						height: 19px;
						top: 5px;
						margin-left: 3px;
						margin-right: 15px;
					}
				}
			}
		}
	}
}

.browser-compatibility-alert {
	background-color: $venetian-red;
	color: $white;
	@include font-size(14px);
	line-height: 2em;
	padding: 0.8em;
}

.folder-slot {
	border-style: solid;
	border-color: $limeade;
	border-width: 1px;
	background-color: white;
	padding: 0.5em 0.5em;

	h2 {
		color: $limeade;
		margin: 0.5em 0em;
	}
}

.menu-slot {
	display: none;
	border-top: 1px solid $nero;
	margin-top: 0.5em;
	padding-top: 1.5em;

	.social-links {
		padding-left: 0;

		li {
			display: inline-block;
			padding-left: 0;
		}
	}

	@include respond(large-up) {
		width: 13.5rem;
		display: block;
	}
}

#homepage-slides {
	margin: 0;
	position: relative;
	//width: 20000em;

	.slide {
		float: left;
		overflow: hidden;
		position: relative;

		img {
			height: auto;
			max-width: 160%;

			@include respond(large-up) {
				max-width: 100%;
			}
		}

		.banner-message {
			position: absolute;
			top: 10%;

			@include respond(large-up) {
				top: 2%;
			}

			.banner-text1 {
				@include font-size(50px);
				text-transform: uppercase;

				@include respond(large-up) {
					@include font-size(90px);
				}
			}

			.banner-text2 {
				@include font-size(26px);
				font-style: italic;
				text-transform: lowercase;

				@include respond(large-up) {
					@include font-size(60px);
				}
			}

			.banner-text3 {
				//@extend %sans-semibold;
				@include font-size(16px);
				text-transform: uppercase;

				@include respond(large-up) {
					@include font-size(18px);
				}
			}
		}
	}

	.slide1 {
		.banner-message {
			left: 3%;

			.banner-text1 {
				color: $kelly-green;
				display: inline;
			}

			.banner-text2 {
				color: $white;
				display: inline;
			}

			.banner-text3 {
				color: $white;
				text-align: right;
			}
		}
	}

	.slide2 {
		.banner-message {
			left: 3%;

			.banner-text1 {
				color: $kelly-green;
				display: inline;
				letter-spacing: -0.1rem;
			}

			.banner-text2 {
				color: $dark-gray;
				display: inline;
			}

			.banner-text3 {
				color: $black;
			}
		}
	}

	.slide3 {
		.banner-message {
			left: 3%;

			.banner-text1 {
				color: $kelly-green;
				display: inline;
				margin-top: -2rem;
			}

			.banner-text2 {
				color: $white;
				display: inline;
			}

			.banner-text3 {
				color: $black;
			}
		}
	}

	.slide4 {
		.banner-message {
			right: 3%;

			.banner-text1 {
				color: $kelly-green;
				margin-top: 0rem;
				text-indent: 3rem;

				@include respond(large-up) {
					margin-top: -1rem;
				}
			}

			.banner-text2 {
				color: $white;
			}

			.banner-text3 {
				color: $white;
			}
		}
	}

	.slide5 {
		.banner-message {
			left: 15%;

			.banner-text1 {
				color: $kelly-green;
				display: inline;
			}

			.banner-text2 {
				color: $kelly-green;
				display: inline;
			}

			.banner-text3 {
				color: $white;
			}
		}
	}
}

#home-bottom-left {
	margin: auto;
	max-width: 320px;
	position: relative;
	text-align: center;
	width: 100%;

	h2 {
		color: $black;
		font-size: 2rem;
		margin: 0;
		padding: 1rem 0;
		text-transform: uppercase;

		@include respond(large-up) {
			font-size: 2.3rem;
		}
	}

	ul {
		margin: -.5em 0 .5em 0;

		li {
			border-right: 1px solid $dark-gray;
			color: $dark-gray;
			display: inline;
//			@extend sans-semibold;
			font-size: .8rem;
			list-style: none outside none;
			margin: 0 5px 0 0;
			padding: 0 5px 0 0;
			text-transform: uppercase;

			&:last-child {
				border: 0 none;
			}

			span {
				margin: 0 10px 0 0;
			}
		}
	}

	img {
		display: block;
	}
}

#home-bottom-center {
	width: 100%;
	margin: auto;
	max-width: 320px;
	position: relative;

	.home-bottom-center-text {
		position: absolute;
		text-align: center;
		top: 18%;
		width: 100%;

		h1 {
			color: $kelly-green;
			font-size: 4rem;
			font-style: italic;
			margin: 0;
			padding: 0;
			text-transform: lowercase;
		}

		h2 {
			color: $dark-gray;
			font-size: 1.3rem;
			letter-spacing: .2em;
			margin-top: -.05rem;
			text-transform: uppercase;
		}

		h3 {
			color: $dark-gray;
			font-size: .8rem;
			margin-top: -1rem;
			text-transform: uppercase;
		}
	}

	img {
		display: block;
	}
}

.home-bottom-right {
	width: 100%;
	margin: auto;
	max-width: 320px;
	position: relative;
	text-align: center;

	.home-bottom-right-header {
		h2 {
//			@extend sans-semibold;
			color: $dark-gray; 
			font-size: 0.7rem;
			padding: .5em 0 0 0;
			margin: 0; 
 
			@include respond(large-up) {
				font-size: 2.3rem;
				font-weight: $font-wt-regular;
			}
		}

		h3 { 
			color: $light-gray; 
			font-size: 2.2rem;
			font-style: $font-style-regular;
			font-weight: $font-wt-regular;
			margin: 0;
			padding: 0;
			text-transform: uppercase;

			@include respond(large-up) {
				font-size: 2.3rem;
			}
		}

		img {
			display: block;
		}
	}
	.product-tile {
		border: 0 none;
		margin: 1em auto 0;
		min-height: 255px;
		width: 90%;

		img {
			@include box-shadow(0px 0px 5px 3px $light-gray);
			max-width: 90%;
		}

		.product-name {
			height: auto;
		}

		.product-sales-price {
			color: $black;
		}
	}
}

.category-slot, .product-slot {
	h1 {
		color: $white;
		font-size: 3rem;
		position: absolute;
		text-align: right;
		bottom: 2%;
		left: 2%;

		@include respond(large-up) {
			font-weight: $font-wt-regular;
		}
	}

	h2 {
		color: $kelly-green;
		font-size: 1.5rem;
		font-style: italic;
		margin: 0;
		padding: .1rem .5rem;
	}

	h3 {
		background-color: $white;
		bottom: 0;
		color: $black;
		font-size: 2rem;
		margin: 0;
		@include opacity(0.6);
		padding: 2rem;
		position: absolute;
		text-transform: uppercase;
		width: 100%;
	}

	.catlanding-banner {
		overflow: hidden;
		position: relative;
		width: 100%;

		img {
			height: auto;
			width: 100%;
		}
	}

	.category-tile {
		float: left;
		overflow: hidden;
		padding: 0 .15%;
		position: relative;
		width: 100%;

		@include respond(large-up) {
			width: 33%;
		}

		img {
			height: auto;
			width: 100%;
		}
	}

	.cat-banner {
		overflow: hidden;
		position: relative;
		width: 100%;

		img {
			height: auto;
			width: 100%;
		}

		h1 {
			color: $nero;
			right: 2%;
		}
	}
	.search-result-items {
		.grid-tile {
			@include box-shadow(none);
			margin: 0;
			padding: 0 .15%;
			width: 100%;

			@include respond(large-up) {
				width: 33%;
			}

			.product-tile {
				margin: 0 .15%;
				padding: 1rem 0;
				width: 100%;

				.product-name {
					font-size: 1.2rem;
					height: auto;
					margin-top: .5em;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;

					a {
						color: $kelly-green;
					}
				}

				.product-pricing {
					font-size: 1rem;
				}
			}
		}
	}
}

@include respond(large) {
	.html-slot-container img {
		max-width: 100%;
	}
}

.category-content-top-inner {
	width: 100%;
	h1 {
		@include font-size(24px);
		@include respond(large-up) {
			padding-bottom: 4px;
			margin-top: 0;
			@include font-size(40px);
		}
	}
}

.category-content-top {
	padding: 20px 0 20px 20px;
	@include respond(large-up) {
		padding: 35px 0 35px 37px;
	}
}

.category-content-top-left {
	max-width: 230px;
	@include respond(large-up) {
		max-width: 445px;
	}
	h2 {
		text-transform: uppercase;
		padding: 0;
		margin: 0;
		color: $color-secondary;
		font-weight: $font-wt-bold;
		@include font-size($font-size-h3);
		@include respond(large-up) {
			@include font-size(40px);
		}
	}
	h3 {
		padding: 0;
		margin: 8px 0 0 0;
		text-transform: uppercase;
		@include font-size($font-size-h4);
		@include respond(large-up) {
			@include font-size($font-size-h3);
			margin: 6px 0 0 0;
		}
		span {
			display: block;
			text-transform: none;
			font-weight: $font-wt-semibold;
			@include font-size($font-size-sm);
			@include respond(large-up) {
				@include font-size($font-size-regular);
			}

		}
	}
	.text-bold {
		font-weight: $font-wt-bold;
		color: $color-secondary;
		@include font-size($font-size-regular);
		padding: 13px 0 6px 0;
		@include respond(large-up) {
			@include font-size(16px);
			padding: 16px 0 0 0;
		}
		a {
			font-weight: $font-wt-regular;
			color: $color-primary;
			display: block;
			@include respond(large-up) {
				display: inline-block;
				position: relative;
				top: 3px;
			}
		}
	}
	p {
		padding-top: 8px;
		@include font-size($font-size-sm);
		max-width: 220px;
		@include line-height(18px);
		@include respond(large-up) {
			max-width: 442px;
			padding-top: 13px;
			@include line-height($font-height-regular);
		}
	}
}
.category-content-middle {
	@include respond(large-up) {
		margin-top: 20px;
		padding: 23px 0 23px 37px;
	}
}

.category-content-middle-left {
	@include respond(large-up) {
		max-width: 445px;
	}
	p {
		@include respond(large-up) {
			@include font-size(16px);
		}
	}
}