@import "nav";
@import "menu_utility";
@import "country_selector";
#header { 
	width: 100%;
	background: $white;
	@extend %pull-left;
	padding: 3px 0;
	height: 56px;
	position: fixed;
	top: 0;
	text-align: center;
	left: 0;
	right: 0;
	z-index: 999;
	box-shadow: 0 -2px 15px rgba($black, 0.6);
	transition: margin $t-animate-speed ease;

	&::after {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba($black, 0.75);
		content: ' ';
		opacity: 0;
		visibility: hidden;
		z-index: -1;
		transition: all $t-animate-speed ease;

		.mini-cart-active & {
			opacity: 1;
			visibility: visible;
			z-index: auto;
		}
	}

    .nav-active & {
        margin: 0 0 0 213px;
		
		&::after {
			opacity: 1;
			visibility: visible;
			z-index: auto;
		}

        @include respond(medium){
            margin: 0;
        }
    }

	.rec-menu-active & { position: absolute; }

	.holder{
		@extend %pull-left;
		position: relative;
		width: 100%;
	}

	ul.right-menu{
		float: right;
		text-align: right;
		padding: 12px 0 0;
		@include respond(medium) {
			padding: 15px 0 0;
		}

		.pt_checkout & { 
			pointer-events: none;
			position: relative;

			&:after {
				position: absolute;
				top: 0;
				left: -30px;
				right: 0;
				bottom: 0;
				z-index: 9528;
				content: '';
			}
		}

		> li{
			display: inline-block;
			vertical-align: top;
			@include respond(medium) {
				padding: 0 0 0 0px;
			}
			@include respond(large) {
				padding: 0 0 0 15px;
			}
			&.switch-site {
				a img {
					position: relative;
					top:3px;
				}
			}
			&.desktop-dropdown-switch-site {
				position: relative;
				top: -5px;
				a.desktop-dropdown-switch-site-opener {
				    height: 32px;
					display: block;
				}
				.switch-site-desktop-menu {
					list-style:none;
					padding: 0;
					position: absolute;
					z-index: 10;
					display: none;
					top:-13px;
					left:-7px;
					background-color: #ffffff;
			    width: 200px;
			    box-shadow: 0 2px 4px 0 #e0e0e0;
			    @include respond(large) {
			    	top:-13px;
						left:3px;
			    }
			    li {
			    	list-style:none;
			    	display: block;
			    	text-align: left;
			    	padding:24px 12px 0;				    
			    	&:hover {
			    		a {
			    			color:$t-dove-gray;
			    		}
			    	}
			    	a {
			    		display: block;	
			    		color:$t-gray-shaft;
			    		text-decoration: none;
			    		line-height: 25px;
			    		.fa {
							float: right;
							position: relative;
							top: 14px;
							font-size: 21px;
			    		}
			    		.item-text {
		    			display: inline-block;
		    			position: relative;
		    			&:after {
								background: #c61061;
								position: absolute;
								bottom: 2px;
								left: 0;
								right: 100%;
								content: " ";
								height: 2px;
								transition: all $t-animate-speed ease;
							}
							&.active,
							&:hover,
							&:focus{
								&:after { 
									right: 0;
									height: 2px;
									}
								}
			    		}
			    		&.active,
			    		&:hover,
			    		&:focus {
			    			.item-text {
				    			&:after {
				    				right: 0;
										height: 2px;
				    			}
			    			}
				    	}
			    	}
			    	&:first-child{
			    		position: relative;
			    		padding: 9px 12px;
			    		top:0;
			    		background-color: #eeeeee;
			    		color:$t-dove-gray;
			    		a {
			    			color:$t-dove-gray;
			    			position: relative;
			    			top:1px;
			    			line-height: 53px;
			    		}
			    	}
			    	&:last-child{
			    		padding:24px 12px 24px;	
			    	}
			    	img {
			    		vertical-align: middle;
			    		margin-right: 12px;
			    		top:-2px
			    	}
			    }
				}
				&:hover {
					.switch-site-desktop-menu {
						display: block;
					}
				}
			}
			&.Hphone-desktop-wrap {
				display: none;
				@include respond(medium) { 
					display: inline-block;
				}
			}
			&.Hphone-tablet-wrap {
				display: none;
				position:relative;
				.icon-phone {
					font-weight: 700;
					display: inline-block;
					margin-right: 5px;
				}
				@include respond(medium){ 
					display: none;
				}
				@include respond(x-large){ 
					display: none;
				}
				&.active-phone {
					z-index: 999;
					.tooltip-holder {
						display: block;
						z-index: 100;
					}
				}
				.tooltip-holder{
					display: none;
					position: absolute;
					top: 58px;
					width: 156px;
					left:50%;
					display: none;
					margin: 0 0 0 -70px;
					border-radius: 9px;
					background:$white;
					z-index: 99;
					box-shadow: 1px 2px 4px 0 rgba($black, 0.28);					
					text-align: center;
					.tooltip-inner {
						&:before {
							position: absolute;
						    left: 0;
						    right: 0;
						    top: -18px;
						    content: "";
						    background: transparent;
						    height: 18px;
						}
					}
					a {
						padding: 5px 0;
						font-size: 14px;
						line-height: 33px;
						display: inline-block;
						font-weight: $font-wt-bold;
						color: $t-orange;
						text-decoration: none;
						&:hover {
							color: $t-orange3;
						}						
					}
					.icon-phone {
						font-size: 23px;
						vertical-align: middle;
						font-weight: $font-wt-bold;
					}

					&:after, &:before {
						bottom: 100%;
						left: 44%;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;

						@include respond(medium){
							left: 50%;
						}
					}

					&:after {
						border-color: rgba(255, 255, 255, 0);
						border-bottom-color: #fff;
						border-width: 21px;
						margin-left: -21px;
					}

					&:before {
						border-color: rgba(0, 0, 0, 0);
						border-bottom-color: #efefef;
						border-width: 22px;
						margin-left: -22px;
					}
				}					
			}
			.icon-user {
				margin-right:5px;
			}
			> a{
				color: $t-orange;
				text-decoration: none;
				z-index: 5;
				font-size: 16px;

				&.profile-link {
					display: none;
					
					@include respond(medium){ 
						display: block;

						.pt_checkout & { display: none;}
					}
				}

				&.Hphone-desktop {
					font-weight: $font-wt-regular;
					line-height: 23px;
					padding-right: 5px;
					.pt_checkout & { display: none;}

				}
				&.Hphone-tablet {
					display: block;	
					.pt_checkout & { display: none;}			
				}
				&.desktop-dropdown-switch-site-opener {
					display: block;
					.pt_checkout & { display: none;}
				}

				span {
					&:before {	
						font-size: 20px;
						line-height: 1;
					}
				}

				&:hover{
					color: $t-disco;
				}

			}
		}
	}

	ul.checkout-header {
		display: none;
		.pt_checkout & { 
			display: block;
			color:$burgundy2;
			font-size: 22px;
			pointer-events:auto;
			position: relative;

			&:after {
				display: none;
				position: absolute;
				top: 0;
				left: -30px;
				right: 0;
				bottom: 0;
				z-index: 9528;
				content: '';
			}
			li {
				padding: 0 12px 0 0;
				@include respond(medium) {
					padding: 0 0 0 15px;
				} 
				&.title {
					font-weight: $font-wt-semibold;
				}
				a {
					color:$burgundy2;
					font-size: 16px;
					.fa-phone {
						font-size: 22px;
				    display: inline-block;
				    vertical-align: top;
				    transform: rotate(20deg);
				    position: relative;			    
				    font-weight: $font-wt-bold;
				    @include respond(medium) {
				    	top:-2px;
				    	vertical-align: middle;
				    }
					}
					.icon-chat {
						display: inline-block;
						vertical-align: top;
						position: relative;
				    @include respond(medium) {
				    	top:-2px;
				    	vertical-align: middle;
				    }
					}
				}
				&.Hphone-mobile-wrap {
					padding: 0 3px 0 0;
					@include respond(medium) {
						padding: 0;
					} 
					position:relative;
					.fa-phone {
						font-weight: 700;
						display: inline-block;
						margin-right: 5px;
					}
					&.active-phone {
						z-index: 999;
						.tooltip-holder {
							display: block;
							z-index: 100;
						}
					}
					.tooltip-holder{
						display: none;
						position: absolute;
						top: 48px;
						width: 130px;
						left:50%;
						display: none;
						margin: 0 0 0 -60px;
						border-radius: 9px;
						background:$white;
						z-index: 99;
						box-shadow: 1px 2px 4px 0 rgba($black, 0.28);					
						text-align: center;
						.tooltip-inner {
							&:before {
								position: absolute;
							    left: 0;
							    right: 0;
							    top: -12px;
							    content: "";
							    background: transparent;
							    height: 12px;
							}
						}
						a {
							padding: 5px 0;
							font-size: 14px;
							line-height: 33px;
							display: inline-block;
							font-weight: $font-wt-bold;
							color:$burgundy2;
							text-decoration: none;
							&:hover {
								color:$burgundy2;
							}						
						}
						.icon-phone {
							font-size: 23px;
							vertical-align: middle;
							font-weight: $font-wt-bold;
						}

						&:after, &:before {
							bottom: 100%;
							left: 44%;
							border: solid transparent;
							content: " ";
							height: 0;
							width: 0;
							position: absolute;
							pointer-events: none;

							@include respond(medium){
								left: 50%;
							}
						}

						&:after {
							border-color: rgba(255, 255, 255, 0);
							border-bottom-color: #fff;
							border-width: 11px;
							margin-left: -11px;
						}

						&:before {
							border-color: rgba(0, 0, 0, 0);
							border-bottom-color: #efefef;
							border-width: 12px;
							margin-left: -12px;
						}
					}					
			}
			}
		}
	}

	.menu-opener {
		@include align(top);
		@include squar(55px, 42px);
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		display: block;
		background-color:$t-amaranth;
		border-radius:15px;

		@include respond(medium){
			display: none;
		}
		
		.pt_checkout & { display: none;}

		span,
		&:before,
		&:after {
			content: ' ';
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -11px;
			right: 0;
			height: 3px;
			border-radius: 4px;
			background: $white;
			width: 22px;
		}
		&:before {
			top: 12px;
			bottom: inherit;
		}
		&:after {
			top: 27px;
			bottom: inherit;
		}
		span {
			top: 50%;
			transform: translateY(-50%);
		}
	}
	.header-inner {
		&.container {
			padding: 4px 15px;
			@include respond(medium) {
				width: 100%;
			  padding: 0 20px;
			}
			@include respond(large) {
				width: 100%;
			  padding: 0 26px;
			}
			@include respond(x-large) {
				width: 100%;
			  padding: 0 30px;
			}

			@media only screen and (min-width: 1400px)  {
				width: 1400px;
				padding: 0 30px;
			}
			    
		}
	}
}
.pt_checkout {
	#header {
		position: relative;
	}
}
.logo {
	font-size: 64px;
	width: 71px;
	margin: 7px 0 0 0;
	display: inline-block;
	vertical-align: top;
	position: absolute;
	left:50%;
	transform: translateX(-50%);

	@include respond(medium){
		margin: 10px 0;
		float: left;
		position: static;
		left: 0;
		transform: none;
	}

	.pt_checkout & {
		@include respond(large-down){
			float: left;
			position: static;
			left: 0;
			transform: none;
		}
	}

	img { 
		@extend %img-res;
		width: 71px;
		height: 30px;
	}
}

.header-promo {
	background-color:$t-orange;
	display:block;
	clear:both;
	height:auto;
	line-height:21px;
	text-align:center;
	color:$white;
	font-size:13px;
	font-weight:$font-wt-semibold;
	@include respond(medium){
		height:45px;
		line-height:45px;
		font-size:$font-size-regular;
		font-weight:$font-wt-semibold;
		br {
			display: none;
		}
	}
	.promo-code {
		display: inline-block;
		background-color:$white;
		border-radius:1px;
		color:$t-orange;
		margin-bottom: 4px;
		height: 19px;
	    line-height: 19px;
	    padding: 0 10px;
	    font-size:14px;
		font-weight:$font-wt-semibold;
	    @include respond(medium){
	    	padding: 0 4px;
	    	font-size:$font-size-regular;
			font-weight:$font-wt-bold;
			clear:both;
			margin-left: 10px;
			margin-bottom: 0;
			height: 29px;
	    	line-height: 29px;
		}
	}
}

.mobile-dropdown-switch-site-menu {
	position: fixed;
	height: 100%;
	z-index: 150;
	margin-top:56px;
	width: 100%;
	display: none;
	background-color: $white;
	.switch-site-mobile-menu {
		position: relative;
		background-color: $white;
	    width: 100%;
	    list-style:none;
	    padding: 0;
	    li {
	    	list-style:none;
	    	display: block;
	    	text-align: left;
	    	height: 60px;
	    	line-height: 30px;
	    	padding:15px;
	    	font-size: 16px;
	    	.ss-menu-close {
	    		cursor: pointer;
	    	}
	    	&:first-child{
	    		position: relative;
	    		background-color: $white;
	    		color:$t-primary-color;
	    		font-size: 16px;
	    		font-weight:$font-wt-semibold;
	    		padding:21px 15px 18px;
	    		height: 67px;
	    		&:hover {
	    			background-color: $white;
	    		}
	    		.fa {
	    			color:$t-sand;
	    			font-size: 20px;
	    			position: relative;
	    			top:1px;
	    			margin-right: 15px;
	    		}
	    	}
	    	&.active {
	    		background-color: #eeeeee;
	    		a {
	    			color:$t-dove-gray;
	    		}
	    	}
	    	a {
	    		display: block;	
	    		color:$t-gray-shaft;
	    		text-decoration: none;
	    		font-size: 16px;
	    		line-height: 30px;
	    		.item-text {
	    			display: inline-block;
	    			position: relative;
	    			&:after {
							background: #c61061;
							position: absolute;
							bottom: 2px;
							left: 0;
							right: 100%;
							content: " ";
							height: 2px;
							transition: all $t-animate-speed ease;
						}
						&.active,
						&:hover,
						&:focus{
							&:after { 
								right: 0;
								height: 2px;
							}
						}
	    		}
	    		&.active,
	    		&:hover,
	    		&:focus {
	    			.item-text {
		    			&:after {
		    				right: 0;
								height: 2px;
		    			}
	    			}
		    	}
		    }
	    	&:hover {
	    		a {
	    			color:$t-dove-gray;
	    		}
	    	}
	    	img {
	    		vertical-align: middle;
	    		margin-right: 15px;
	    		top: -2px;
    			position: relative;
	    	}
	    }
	}
}