// need to remove extra previous style from mini cart

#mini-cart {
	right: 13px;
	top: 13px;
	z-index: 20;
	@include respond(large-up) {
		right: 15px;
		top: 10px;
	}

	.pt_checkout & {
		@include respond(medium){
			display: none;
		}
	}

	.mini-cart-name {
		@include font-size(18px);
		@include line-height(21px);
		color: $black;
		margin: 0 0 2px;

		a { 
			color: $black;
			font-weight: 500;
		}
	}
	.bonus-discount-container {
		display: none;
	}
	.input-spinner {
		@extend %text-left;
		position: relative;

		.ui-spinner { padding: 3px 21px; }

		.ui-spinner-input {
			margin: 0;
			padding: 0;
			color: $black;
			width: 21px;
			display: block;
			text-align: center;
			@include font-size(18px);
			@include line-height(21px);
			height: auto;
			border: 0;
		}

		.ui-spinner-button {
			@include squar(20px, 20px);
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			cursor: pointer;
			color: $black;
			border-radius: 100%;
			border: 1px solid $t-light-grey;
			background: transparent;
			-webkit-appearance: none;

			&::before {
				@include align(top);
				margin: 5px 0 0;
				content: "\f067";
				font-size: 8px;
				line-height: 1;
			}

			&.ui-spinner-down {
				right: auto;
				left: 0;

				&::before {
					content: "\f068";
				}
			}
		}
	}
	.checkout-area-holder {
		@extend %layout;
		@extend %text-left;

		.shipping-method-tax {
			@extend %clear_list;
			@include align-reset(top, 18, 21);
			@extend %text-right;
			color: $black;
			margin: 0 0 27px;

			li {
				padding: 0;
				margin: 0 0 10px;
				width: 30%;

				&:first-child,
				&:nth-child(3){
					width: 70%;
				}
				strong {
					font-weight: 500;
				}
			}
		}
		.btn-default {
			width: 100%;
			display: block;
			margin: 0 0 16px;
			color: $white;

			&:hover { color: $white;}
		}
		.promo-add {
			@include font-size(14px);
			@include line-height(18px);
			color: $black;
		}
		.shipping-method {
			background: $t-light-grey;
			border-radius: 10px;
			color: $black;
			@extend %text-center;
			margin: 100px 0 0;
			padding: 20px;

			.heading {
				display: block;
				font-weight: 700;
				padding: 0 0 12px;
				
				span { 
					display:block;
					font-weight: 400;
				}
			}

			.method {
				@extend %clear_list;
				@extend %text-left;
				color: $black;
				
				li {
					@include align-reset(middle, 14, 19);

					.thumb-holder {
						width: 50px;

						img { @extend %img-res;}
					}
					.caption {
						padding: 0 0 0 15px;
						width: calc(100% - 50px);
					}
				}
			}
		}
	}
}
.mini-cart-header-title {
    text-align: left;
    color: $t-orange;
    font-size: 30px;
	line-height:30px;
	display: none;
}

.mini-cart-total {
	position: relative;
	
	.mini-cart-link {
		display: block;
		padding-bottom: 6px;
		width: auto;
		text-decoration: none;
		@extend %text-center;
		margin: 0;
		@include respond(medium){
			margin: 0;
		}
		@include respond(x-large){
			margin: 0;
		}

		&.mini-cart-empty{
			margin: 0;
		}

		.minicart-icon {
			width: 27px;
			height: 27px;
			color: $t-orange;
		    font-size: 20px;
			line-height:20px;

			&:hover{
				color: $t-amaranth;
			}
			.pt_checkout & {
				color:$t-disco;
			}
		}
	}
}
.minicart-quantity {
	background-color: $t-orange;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    color: $white;
    position: relative;
    right: 0;
    text-align: center;
   	top: -3px;
    font-size: 14px;
    line-height: 19px;
    display: inline-block;	
	@include respond(medium){
		top: -3px;
    	right: 0;
	}
	@include respond(x-large) {
		
	}
	&.no-items { display: none !important;}

	.pt_checkout & {
		color:$white;
		background-color: $t-orange;
		position: absolute;
		right: -7px;
    top: -9px;
    overflow: hidden;
	}
}
@media screen and (-moz-os-version) {
  .mini-cart-total .mini-cart-link .minicart-quantity {
  	padding: 0px 0.5px 0 0px;
  }
}
.mini-cart-total {
	.mini-cart-empty {
		transition: color 500ms ease;
		&:hover {
			text-decoration: none;
		}
	}
}

.mini-cart-content {
	background: $white;
	position: fixed;
	right: 0;
	top: 0;
	width: 94%;
	transform: translateX(100%);
	z-index: 999999;
	transition: transform $t-animate-speed ease;
	z-index: 1100;
	
	@include respond(medium){
		width: 421px;
		transform: translateX(421px);
	}

	.mini-cart-active &{
		transform: translateX(0);
	}
	
	.mini-cart-pricing {
		.value { margin-right: 0; }
		.col1 { float: left; }
		.col2 { float: right; }
	}
	.empty-cart-content {
		padding-bottom:15px;
		text-align: center;
		img.empty-cart-icon {
			margin: 40px 0 30px;
			max-width:100px; 
		}
		h4 {
			color: $t-mine-shaft;
			margin: 0 0 30px;
		}
		p{
			color: $t-mine-shaft;
			margin: 0 0 30px;
		}
		.btn-default {
			&.multi-color {
				min-width: 212px;
				@include respond(medium){
					min-width: 292px;
				}
				background-image: linear-gradient(279deg, #8c1849, #e51870 33%, #e71f6a 59%, #f6732a);
  				background-image: linear-gradient(279deg, var(--berry), var(--magenta) 33%, #e71f6a 59%, #f6732a);
  				box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  				border: solid 5px #ffffff;
  				height: 63px;
  				line-height: 33px;
  				&:hover {
  					background-color: #f050a0;
  					color: $white;
  				}

			}
		}
	}
}

#mini-cart {
	.mini-cart-link.addline{
		border-bottom: 4px solid $color-secondary;
	}
	.mini-cart-link.addnoline{
		border-bottom: 0px solid $color-secondary;
	}
	.mini-cart-products{
		padding: 15px;
	    height: calc(100vh - 81px);
	    overflow-y: scroll;
	    overflow-x: hidden;
	    -webkit-overflow-scrolling: touch;
	    @include respond(medium) {
	    	padding: 20px 25px;
	    }
	    .error-form-inside{
			text-align: left;
		}
		.shipping-method {
			//margin: 30px 0 20px;
		}
		&.mCustomScrollbar {
			

			.mCSB_container {
				padding: 20px 20px 0 10px;

				@include respond(medium){
					padding: 20px 30px 0 20px;
				}

				.error-form-inside{
					text-align: left;
				}
			}
		}
	}
	.mCSB_inside {
		> .mCSB_container {
			margin: 0 !important;
		}
	}
}

.mini-cart-header {
	@include font-size(15px);
	@include line-height(16px);
	font-weight: $font-wt-bold;
	padding: 27px 30px 26px;
	color: $t-disco;
	position: relative;
	box-shadow: 0 0px 16px -8px rgba(0, 0, 0, 0.6) inset;

	.checkout-mini-cart-wrapper & {
		box-shadow:none;
	}

	.mini-cart-close {
		position: absolute;
		top: 50%;
		left: 25px;
		transform: translateY(-50%);
		font-size: 32px;
		line-height: 1;
		color: $black;
		cursor: pointer;
		color: $t-gray-shaft;
	}

	.icon-cart {
		color: $t-orange;
		margin: -4px 0 0 11px;
		@include align(top);
		@include font-size(32px);
		@include line-height(32px);
	}
	.text-tag { 
		@include align(middle);
		padding: 4px 0 0;
		font-size: 20px;
	}
}

.mini-cart-product {
	@extend %layout;
	@extend %text-left;
	position: relative;
	border-bottom: 1px solid $t-gray3;
	margin: 0 0 18px;
	padding: 18px 0 0;

	.cartProduct-remove {
		position: absolute;
		top: 0;
		right: 0;
		color: $t-border-gray2;
		text-decoration: none;
	}

	&.collapsed {
		.mini-cart-name,
		.mini-cart-attributes,
		.mini-cart-pricing,
		.product-availability-list {
			width: 90%;
		}
		.mini-cart-image {
			display: none;
		}
	}
	.mini-cart-toggle {
		cursor: pointer;
		font-size: 1.5em;
		position: absolute;
		left: 0;
		top: 0;
	}
}
.mini-cart-image {
	float: left;
	width: 89px;
	padding: 2px;
	box-sizing: border-box;
	margin-right: 10px;
	
	img { @extend %img-res; }
}
.mini-cart-name {
	@extend %layout;
	a { @include link-footer; }
}
.mini-cart-attributes,
.mini-cart-pricing {
	font-weight: $font-wt-regular;
	@include font-size($font-size-regular);
	@include line-height(18px);
	color: $color-primary;
	margin-bottom: 13px;
	@extend %layout;
}

.mini-cart-totals {
	text-align: center;
	display: none;
	.button-wrapper {
		padding: 0 20px;
	}
}

.mini-cart-subtotals {
	background-color: #ececec;
	@include font-size($font-size-regular);
	@include line-height(50px);
	font-weight: $font-wt-bold;
	height: 50px;
	text-align: left;
	.value {
		float: right;
	}
}
.top-banner {
	.mini-cart-subtotals {
		padding: 0 20px;
	}
}
.mini-cart-link-cart {
	width: 100%;
}

.mini-cart-slot {
	margin: 15px 0;
	text-align: center;
	.banner-wrapper {
		background-color: $golden-dream;
		padding: 10px;
	}
	.banner-title {
		color: $color-secondary;
		@include font-size(18px);
		@include line-height(19px);
		font-weight: $font-wt-bold;
		margin-bottom: 7px;
	}
	.banner-info {
		@include font-size($font-size-xs);
		@include line-height(15px);
		font-weight: $font-wt-regular;
	}
}

.mini-cart-link-checkout {
	clear: both;
	display: block;
	margin: 1em 0;
	text-align: center;
}

button.visually-hidden{
	display: none !important;
}


.need-a-frame{
    text-align: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: $t-light-grey;
    padding: 20px;
    margin-bottom: 25px;
    .btn-default{
      background:$white;
      border: solid 1px $magenta;
      color:$magenta;
      width:auto;
      font-size: 18px;
			float: right;
	    height: 44px;
	    margin: 10px 0;
	    width: 132px;
	    padding: 8px 10px;
	    min-width: 0;
			@include respond(medium){
				width: 169px;
			}
      &:focus,
      &:hover{
          background: $magenta;
          color: $white;
          text-decoration: none;
      }
    }

    h5{
        text-align: center;
       	color: $black;
        margin: 0 0 4px;
        font-weight: $font-wt-bold;
    }
    .frame-info{
      display: block;
      width: 100%;
      padding: 0 15px;
      line-height: normal;
      font-size: 18px;
      color: $black;
      text-align:center;
      margin-bottom: 13px;
      @include respond(medium){
      	padding: 0 25px;
      }
    }
    p{
    	text-align:center;
    	margin:0;
    }

    .frame-part{
        overflow: hidden;
        position: relative;
        margin: 0;
				@include respond(medium){
					margin: 0 auto;
    			width: 90%;
				}
    }

    .img-box{
        display: inline-block;
        vertical-align: middle;
        float: left;
    }

   
    .frame-form{
    	border-bottom:1px solid $cylindrical-coordinate;
    	margin-bottom:20px;
    	padding-bottom:20px;
    	&:last-child{
    		border-bottom:none;
    		margin-bottom:0;
    		padding-bottom:0;
    	}
    }
}