// main navigation style
 
#nav {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100vh;
	width: 213px;
	background: $white;
	@extend %text-left;
	padding: 70px 0 0;
	transform: translateX(-100%);
	transition: transform $t-animate-speed ease-out;
	z-index: 999999;

	.pt_checkout & { display: none;}

	.nav-active & {
		transform: translateX(0);
	}
	.nav-close {
		cursor: pointer;
		position: absolute;
		top: 18px;
		left: 31px;
		color: $t-sand;
		text-decoration: none;
		font-size: 28px;
    line-height: 28px;

		@include respond(medium){
			display: none;
		}
	}
	.social-links {
		border-top: 1px solid rgba($t-disco, 0.27);
		margin: 0 -15px;
		padding: 10px 15px 0;
		@extend %text-center;
		@include align-reset(top, 12, 15);

		@include respond(medium){
			display: none;
		}

		li {
			margin: 0 0 10px;
			padding: 0 24px 0 0;

			a{
				opacity: 0.5;
				font-size: 24px;

				&:after { display: none;}
			}
		}
	}
	.accounts-link {
		margin: 0;
		.my-cart {
			a {
				color:$t-amaranth;
			}
		}
		.orange-link {
			a {
				color:$t-orange;
			}
		}
		@include respond(medium){
			display: none;
		}
		.minicart-quantity {
			@include align(baseline);
			@include squar(25px, 25px);
			position: static;
			padding: 3px 0 0;
			margin: 0 5px;
			line-height: 20px;
			background: $t-amaranth;

			&:empty {
				display: none;
			}
		}
		.icon-user {
			@include align(top);
			margin: -2px 5px 0;
			color: $t-orange;

			&::before {
				@include font-size(25px);
				line-height: 1;
			}
		}
		.icon-phone {
			@include align(top);
			margin: -2px 5px 0;
			color: $t-orange;
			font-weight: $font-wt-bold;

			&::before {
				@include font-size(23px);
				line-height: 1;
			}
		}
		.mob-cart-menu-opener {
			&.mini-cart-empty {
				pointer-events: none;

				~ .minicart-quantity { display: none;}
			}
		}
		li.mobile-dropdown-switch-site {
			position: relative;
			a.mobile-dropdown-switch-site-opener {
			    display:inline-block;
			    color:$t-dove-gray;
			    text-decoration: none;
			    font-size: 16px;
			    line-height: 1.75;
			    .fa {
			    	color: $t-disco;
			    }
			}
			img {
				margin-right: 5px;
			}
			&:hover {

			}
		}
	}
	.text-tag {
		display: block;
		width: 100%;
		font-size: 32px;
		line-height: 1.3;
		font-weight: 700;
		color: rgba($t-disco, 0.5);
		padding: 0 0 10px;

		@include respond(medium){
			display: none;
		}
	}

	.scroll-able{
		overflow-y: auto;
		overflow-x: hidden;
		padding: 0 10px 0 15px;
		height: 100%;

		@include respond(medium){
			height: auto;
			padding: 0;
			clear: both;
			overflow: visible;
		}

		.btn-default {
			float: none !important;
			@include align(top);
			width: auto;
			padding: 0;
			color: $t-disco;
			background: transparent;
			border-radius: 0;
			font-weight: 400;
			@extend %text-left;
			margin: 0 0 15px;
			min-width: inherit;

			@include respond(medium){
				@include btn-default();
				float: left !important;
				margin: 0;
			}

			&:before {
				position: absolute;
				bottom: -1px;
				left: 0;
				right: 100%;
				background: $t-amaranth;
				content: ' ';
				height: 1px;
				transition: all $t-animate-speed ease;
			}
			&.active,
			&:hover {
				&:before { 
					right: 0;
					height: 2px;
				}
			}

			&:after{ 
				display: none;

				@include respond(medium){
					display: block;
				}
			}
		}
	} 
	.nav-inner {
		display: table;
		width: 100%;
    height: 100%;
	}
	.nav-footer {
		margin-top: 45px;
		@include respond(medium) {
			display: none;
		}
	}
	@include respond(medium) {
		display: block;
		float: left;
		width: 58%;
		padding: 3px 0 3px 7px;
		height: auto;
		position: static;
		background: transparent;
		transform: translateX(0);
		z-index: auto;
		@include respond(large) {
			padding: 3px 0 3px 15px;
		}
		ul {
			@include align-reset(top, 18, 21);
			padding: 0 0 0 0;
			float: left;	
			letter-spacing: 0px;		
			li {
				margin: 0;
				padding: 11px 8px;
				a{
					font-size: 16px;
					line-height: normal;
					font-weight: $font-wt-semibold;
					cursor: pointer;

					@include respond(medium){
						font-size: 16px;
						font-weight:  $font-wt-regular;
					}

					@include respond(large){
						font-size: 16px;
					}
				}
			}
		}
	}
	@include respond(large) {
		width: 60%;
		ul {	
			li {
				padding: 11px 15px;	
				}
			}	
	}
	@include respond(x-large) {
		padding: 3px 0 3px 15px;
		width: 62%;
		ul {			
			li {
				padding: 11px 15px;				
			}
		}
	}
  @include respond(large-only){
    ul {
      li { 
				padding: 11px 5px;
				a { font-weight: 400; }
			}
    }
  }
	@media only screen and (min-width: 1400px)  {
		padding: 3px 0 3px 28px;
	}
	ul {
		@extend %clear_list;
		@include clearfix();
		position:relative;
		

		li {
			position:relative;
			margin: 0 0 15px;
						
			@include respond(medium){ margin: 0; }
			
			a{
				color: $burgundy2;
				text-decoration: none;
				position: relative;
				font-weight: $font-wt-semibold;
				padding: 0 0 4px;

				@include respond(medium){
					font-weight: $font-wt-regular; 
					padding: 0;
				}

				&:after {
					background: $t-amaranth;
					position: absolute;
					bottom: 2px;
					left: 0;
					right: 100%;
					content: " ";
					height: 2px;

					@include respond(medium){
						background: $t-amaranth;
						position: absolute;
						bottom: -1px;
						left: 0;
						right: 100%;
						content: ' ';
						height: 2px;
						transition: all $t-animate-speed ease;
					}
				}
				&.active,
				&:hover,
				&:focus{
					&:after { 
						right: 0;
						height: 2px;
						@include respond(medium){
							right: 0;
							height: 2px;
						}
					}
				}
				.fa {
					font-weight: 700;
				}
				.arrow {
					width: 14px;
					height: 14px;
					display: inline-block;
					vertical-align: middle;
					position: relative;
					&:after{ 
						position: absolute;
						left:0;
						content: "\f054";
						line-height: 14px;
						font-size: 14px;
						font-family: "FontAwesome";
						top:50%;
						line-height: 0;
						z-index: 1;
					}
				}
			}
			.mattress-arrow {
				cursor: pointer;
				.arrow {
					width: 14px;
					height: 14px;
					display: inline-block;
					vertical-align: middle;
					position: relative;
					color: $burgundy2;
					&:after{ 
						position: absolute;
						left:0;
						content: "\f054";
						line-height: 14px;
						font-size: 14px;
						font-family: "FontAwesome";
						top:50%;
						line-height: 0;
						z-index: 1;
					}
				}
			}

			&.dropdown-active { 
				.drop-down{ display: block;}
				span {
					.arrow {
						&:after {
							content: "\f078";
							top: 35%;
						}
					}
				}
			}
			
			&.dropdown-active { 
				.drop-down{ display: block;}
				a {
					.arrow {
						&:after {
							content: "\f078";
							top: 35%;
						}
					}
				}
			}
			.drop_opener {

				&:after{
					//display: none;
				}
				
				i {
					@include font-size(12px);
				}
			}
			.desktop_drop_opener {
				&:after{
					//display: none;
				}
				
				i {
					@include font-size(12px);
				}
			}
			&.desktop_drop_opener-li {
				@include respond(large-only) {
					padding: 11px 13px 11px 5px;
				}
				a {
					.arrow {
						width: 14px;
						height: 14px;
						display: inline-block;
						vertical-align: middle;
						position: absolute;
					    right: -16px;
					    top: 3px;
						&:after{ 
							position: absolute;
							left:0;
							content: "\f078";
							line-height: 10px;
							font-size: 9px;
							font-family: "FontAwesome";
							top:46%;
							line-height: 0;
							z-index: 1;
							color: #ffa5d7;
						}
					}
				}
				&:hover {
					a {
						.arrow {
							&:after {
								content: "\f078";
							}
						}
					}
					.drop-down {
						display: block;
					}
				}
			}
			&.which-to-choose {
				a {
					@include respond(medium) {
						color: $t-amaranth;
						font-weight: $font-wt-semibold;
					}
				}
			}
		}
		.drop-down {
			display:none;
			position:relative;
			top:100%;
			left:0;
			padding:10px 0 0;

			@include respond(medium){
				position:absolute;
				display: none;
			}
			
			li {
				position:relative;
				float:none;
				width:100%;
				padding:0;
				margin: 0 0 10px;
				&.comfort-series-link {
					margin: 0 0 20px;
				}
				&.soft-link {	    		
					margin-top: 5px;
					padding-left: 20px;
	    		a {
	    			color:$t-orange;
	    			&:hover {
	    				color: $t-orange3;
	    			}
	    		}
	    	}
	    	&.medium-link {	 
	    		padding-left: 20px;   	
	    		a {
	    			color:$t-amaranth;
	    			&:hover {
	    				color: $t-rose;
	    			}
	    		}
	    	}
	    	&.firm-link {
	    		padding-left: 20px;
	    		a {
	    			color:$t-disco;
	    			&:hover {
	    				color:$t-car-pink;
	    			}
	    		}
	    	}
				@include respond(medium){
					width:200px;
					padding:0 13px 15px;
				}
			}
			a {
				font-weight: 400;
			}
			ul {
				top:0;
				left:100%
			}
			&.shop-desktop-menu {
				background-color: $white;
			    width: 170px;
			    box-shadow:  0 10px 10px 0 rgba(0, 0, 0, 0.09);
			    left: -7px;
			    li {
			    	padding: 8px 20px;
				    width: 100%;
				    margin: 0;
				    line-height: 21px;
				    border-bottom: 1px solid $t-light-mGray;
				    height: 38px;
			    	a {
			    		font-weight: $font-wt-regular;
			    		line-height: 20px;
			    		font-size: 16px;
			    		&:after {
			    			background:none;
			    		}
			    	}
			    	&.comfort-series-link {
							position: relative;
			    		&:after,
							&:before {
						    content: '';
						    display: block;
						    position: absolute;
						    left: 34px;
						    width: 0;
						    height: 0;
						    border-style: solid;
							}
			    		&:after {
								bottom: -10px;
						    border-color: #fff transparent transparent transparent;
						    border-width: 5px;
						    z-index: 10;
			    		}	
			    		&:before {
								bottom: -13px;
						    border-color: $t-light-mGray transparent transparent transparent;
						    border-width: 6px;
						    z-index: 10;
						    left: 33px;
			    		}	
			    	}
			    	&.soft-link {
			    		background-color: $t-alabaster;
			    		padding: 13px 30px 8px;
			    		height: 43px;
			    		a {
			    			color:$t-orange;
			    			&:hover {
			    				color: $t-orange3;
			    			}
			    		}
			    	}
			    	&.medium-link {
			    		background-color: $t-alabaster;
			    		padding: 8px 30px;
			    		a {
			    			color:$t-amaranth;
			    			&:hover {
			    				color: $t-rose;
			    			}
			    		}
			    	}
			    	&.firm-link {
			    		background-color: $t-alabaster;
			    		padding: 8px 30px;
			    		border-bottom: none;
			    		a {
			    			color:$t-disco;
			    			&:hover {
			    				color:$t-car-pink;
			    			}
			    		}
			    	}
			    	&.compare-link {
			    		background-color:$t-disco;
			    		border-bottom: none;
			    		a {
			    			color:$white;
			    			&:hover {
			    				color:$t-car-pink;
			    			}
			    		}
			    		&:hover{
			    			background-color:$bg-burgundy-hover;
			    		}
			    	}
			    }
			}

		}
	}
}
// navigation flyout mega menu style starts here
.flyout-megamenu {
	position: absolute;
	top: 70px;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 99999;
	transition: all $t-animate-speed cubic-bezier(0.4, 0, 0.2, 1);
	transform: translateX(-100%);

	.rec-menu-active & { transform: translateX(0);}
	h1 {
		color: $white;
	}
	@include respond(medium){
		top: 78px;
	}

	.wizard-frame {
		background-image: radial-gradient(circle at 51% 52%, #e51870, #b51b58);
		  box-shadow: 0 2px 4px 0 rgba($black, 0.5);
		  @extend %layout;
			
		.sleeping-style-selection {
			color: $white;
			font-size: 18px;
			line-height: 1.56;

			h1 { 
				font-size: 24px;
				max-width: 223px;
				margin: 15px auto 10px;

				@include respond(medium){
					font-size: 38px;
					margin: 10px 0;
					max-width: inherit;
				}
			}
			p {  
				color: $white;
				max-width: 305px;
				margin: 0 auto 20px;

				@include respond(medium){
					max-width: 750px;
				}
			}
			.col-holder {
				padding: 0 15px;
				@include align-reset(top, 18, 21);
				
				@include respond(large-only){
					padding: 0 5px;
					@include align-reset(top, 16, 20);
				}

				@include respond(large){
					padding: 0 20px;
				}

				.col {
					width: 100%;
					padding: 12px;
					background: transparent;
					border: 0;
					text-transform: none;
					background: $white;
					border-radius: 4px;
					@extend %text-left;
					margin: 0 0 12px;

					&:hover {
						background: lighten($t-rose, 1%);
						color: $white;

						.btn-default{
							color: $white;
							background: transparent;
						}
					}
					
					@include respond(medium){
						width: 25%;
						margin: 0;
						padding: 5px 5px 10px;
						background: transparent;
						border-radius: 0;
						text-align: center;

						&:hover {
							background: transparent;

							.btn-default{
								background: $white;
								color: $t-amaranth;
							}
						}
					}

					@include respond(large){
						padding: 10px 20px 20px;
					}

					.img-holder {
						@include align(middle);
						max-width: 92px;

						@include respond(medium){
							@include v-align(180px, middle);
							margin: 0 0 10px;
							max-width: inherit;
						}
					}
					
					.btn-default {
						width: auto;
						padding: 0;
						border-radius: 0;
						vertical-align: middle;
						max-width: 150px;
						background: transparent;
						
						&:after { display: none; }

						@include respond(medium){
							border-radius: 47px;
							vertical-align: top;
							max-width: inherit;
							padding: 10px 30px;
							background: $white;

							&:after { display: block;}
							
							&:hover { color: $white;}
						}
						@include respond(large-only){
							padding: 10px 15px;
						}
					}
				}
			}
		}
		.quantity-section {
			padding: 10px 0 30px;

			h1 {
				font-size: 24px;
				margin: 40px 0 0;

				@include respond(medium){
					font-size: 38px;
					margin: 10px 0;
				}
			}
			p {  
				color: $white;
				max-width: 300px;
				margin: 0 auto 20px;

				@include respond(m-small){
					max-width: 470px;
				}
				@include respond(medium){
					max-width: 750px;
				}
			}

			.layout {
				@include align-reset(middle, 18, 21);
				margin: 0 auto 45px;
			}
			.img-holder {
				width: 100%;
				margin: 0 auto 12px;
				max-width: 235px;

				@include respond(medium){
					width: 70%;
					margin: 0;
					max-width: inherit;
					text-align: right;
				}
			}
			.caption {
				width: 100%;

				@include respond(medium){
					width: 30%;
				}

				ul {
					@extend %clear_list;
					padding: 0 10px;
					color: $white;
					@include align-reset(top, 15, 19);
					max-width: 500px;
					margin: 0 auto;

					@include respond(large){
						padding: 0 130px 0 0;
						max-width: inherit;
					}

					li {
						padding: 0 5px;

						@include respond(medium){
							display: block;
							padding: 0 0 30px;
							font-size: 18px;
							line-height: 20px;
						}

						p {
							margin: 0;
							font-weight: 500;
							@include align(top);
							
							@include respond(medium){
								display: block;
								margin: 5px 0 0;
							}
						}
						span {
							@include align(top);
						}
					}
				}
			}
		}
		.confirmation-section {
			.img-holder {
				@extend %text-right;

				img { 
					margin: 0 0 30px;

					@include respond(medium){
						margin: -55px 0 0;
					}
				}
			}
			.cols-holder {
				@include align-reset(top, 22, 26);
				color: $white;
				position: relative;
				margin: 0 0 40px;

				&:before {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 35%;
					width: 1px;
					background: $white;
					content: ' ';
					display: none;


					@include respond(medium){
						display: block;
					}
				}

				.col {
					width: 100%;
					padding: 0 15px;

					@include respond(medium){
						width: 60%;
					}

					@include respond(large){
						padding: 0 10px;
					}

					@include respond(x-large){
						padding: 0 130px 0 20px;
					}

					&:first-child {
						width: 100%;
						padding: 0 15px;

						@include respond(medium){
							width: 40%;
							padding: 0 70px 0 0;
						}

						@include respond(large){
							padding: 0 70px;
						}
					}
					.fa.fa-check{
						&:before {
							font-size: 60px;
							line-height: 1;
						}
					}
					ul {
						@extend %clear_list;
						@include align-reset(top, 15, 19);
						color: $white;
						margin: 0 -15px;

						@include respond(medium){
							@include align-reset(top, 18, 21);
						}

						li {
							width: 100%;
							padding: 10px 0;

							@include respond(medium){
								padding: 0 15px;
								width: 50%;
							}

							&:last-child{
								.btn-default {
									background: transparent;
									border: 1px solid $white;
								}
							}

							.btn-default {
								width: 100%;
								display: block;
								padding: 10px;

								@include respond(large){
									padding: 10px 30px;
								}
							}
						}
					}
				}
				h1 {
					font-size: 36px;
					line-height: 1.2;
					font-weight: 700;
					margin: 0;
					padding: 0;

					.selected-type {
						font-weight: 700;
						display: block;
					}
					.text-tag {
						font-size: 18px;
						font-weight: 400;
						display: block;
					}
					.type {
						font-size: 21px;
						font-weight: 400;
						display: block;
						@extend %text-upparcase;
					}
				}
				.in-stock-msg {
					color: $white;
					font-size: 16px;
					font-weight: 400;
					line-height: 1.69;
				}
			}
			h2 {
				margin: 0 0 20px;
				padding: 0;
				font-weight: 400;
				font-size: 18px;
				color: $white;

				@include respond(medium){
					font-size: 22px;
					font-weight: 500;
				}
			}
			.services-facilitiesFrame {
				background: $white;
				padding: 30px 30px 15px;

				@include respond(medium){
					padding: 30px 20px 15px;
				}

				@include respond(large){
					padding: 30px 0 15px;
				}

				.col { 
					padding: 0 20px 10px;
					width: 100%;

					@include respond(medium){ width: 50%; }

					@include respond(large){
						width: 25%;
						padding: 0 20px;
					}
				}
				.col-holder { 
					@include align-reset(middle, 14, 17);
					@extend %text-left;
					max-width: 300px;

					@include respond(medium){
						max-width: inherit; 
					}
				}
				.img-holder {
					@extend %text-left;
					max-width: 75px;
					margin: 0;

					&:after { display: none;}

					img { margin: 0; }
				}
				.frame {
					padding: 0 0 0 20px;
					@extend %text-left;
					max-width: 165px;

					@include respond(medium){
						max-width: 220px;
					}
				}
				h2 {
					color: $magenta;
					font-size: 18px;
					margin: 0;
					padding: 0;
				}
			}
			.holder-quize {
				background: $t-light-mGray;
				color: $t-sand;
				padding: 17px;

				a{
					color: $t-sand;
					text-decoration: none;
					font-size: 18px;
					line-height: 1.3;
					@include align(top);

					i { @include align(top);}
				}
			}
		}
		#reservation {
			max-width: 300px;
			margin: 0 auto;
			position: relative;
			padding: 0 0 35px;
			@extend %layout;

			@include respond(m-small){
				max-width: 450px;
			}

			@include respond(medium){
				max-width: 700px;
			}

			@include respond(large){
				max-width: 1000px;
			}
			@include respond(x-large){
				max-width: 1138px;
			}

			select {
				position: absolute;
				opacity: 0;
				visibility: hidden;
				z-index: -1;
				top: 0;
				left: 0;
				@include squar(1px, 1px);
			}
			.comfort-level-labels {
				@extend %clear_list;
				@include align-reset(top, 10, 15);
				color: $white;
				@extend %text-center;

				@include respond(medium){
					@include align-reset(top, 18, 21);
				}

				li {
					width: 16.666%;
					position: relative;
					padding: 0 0 10px;
					margin: 0 0 30px;

					&:after {
						position: absolute;
						@include squar(2px, 10px);
						content: ' ';
						bottom: 0;
						left: 50%;
						transform: translateX(-50%);
						pointer-events: none;
						background: $white;
					}
				}
			}
			.slider-holder{
				border-radius: 20px;
				background: $t-light-grey;
				height: 14px;
				position: relative;
				padding: 0 33px 0 19px;
				cursor: pointer;

				@include respond(m-small){
					padding: 0 41px 0 28px;
				}

				@include respond(medium){
					padding: 0 75px 0 42px;
					height: 22px;
				}

				@include respond(large){
					padding: 0 96px 0 64px;
				}

				@include respond(x-large){
					padding: 0 111px 0 75px;
				}

				&:before,
				&:after {
					position: absolute;
					top: 50%;
					left: 0;
					right: 0;
					bottom: 0;
					content: ' ';
					background: darken($t-light-grey, 7%);
					border-radius: 0 0 20px 20px;
					pointer-events: none;
				}

				&:before {
					background: $t-rangeBar;
					top: 0;
					bottom: 50%;
					left: 0;
					right: auto;
					width: 24px;
					border-radius: 20px 0 0;

					@include respond(m-small){
						width: 40px;
					}

					@include respond(medium){
						width: 60px;
					}
					@include respond(large){
						width: 100px;
					}
				}

				.ui-slider {
					height: 14px;
					position: relative;

					@include respond(medium){
						height: 22px;
					}

					&:after{
						position: absolute;
						top: 0;
						left: -9999px;
						bottom: 0;
						content: '';
						right: -9999px;
					}

					.ui-slider-range{
						background: $t-rangeBar;
						border-radius: 20px;
						transition: all $t-animate-speed cubic-bezier(0.46, 0.03, 0.52, 0.96);
						&:after {
							position: absolute;
							top: 50%;
							left: -19px;
							border-radius: 0 0 20px 20px;
							right: 0;
							bottom: 0;
							content: ' ';
							background: darken($t-rangeBar, 7%);
							
							@include respond(m-small){
								left: -28px;
							}
							
							@include respond(medium){
								left: -42px;
							}

							@include respond(large){
								left: -64px;
							}

							@include respond(x-large){
								left: -75px;
							}
						}
					}
					.ui-slider-handle {
						@include squar(38px, 38px);
						border-radius: 100%;
						@extend %layout;
						background: $white;
						box-shadow: 0 2px 4px 0 rgba($black, 0.5);
						top: -12px;
						cursor: pointer;
						transition: all $t-animate-speed cubic-bezier(0.46, 0.03, 0.52, 0.96);

						@include respond(medium){
							top: -18px;
							@include squar(58px, 58px);
						}
					}
				}
			}
		}
	}
	.btn-close-menu-rec {
		position: absolute;
		top: 15px;
		right: 15px;
		color: $white;
		cursor: pointer;
		z-index: 55;


		i {
			font-size: 30px;
			line-height: 1;
			text-shadow: 0 0 2px rgba($black, 0.5);
		}
	}
}