//
// dashboard
//
.dashboard .primary-content {
  margin-top: 60px;
}
//
// welcome-message
//
.my-events-heading{
	margin-bottom: 35px;
}
.welcome-message {
  background-color: $off-white;
  background-image: url("../images/svg-icons/welcome-icon.svg");
  background-position: 22px 25px;
  background-repeat: no-repeat;
  color: $biscay;
  margin: -20px -15px 40px;
  min-height: 342px;
  padding: 36px 36px 28px 82px;
  position: relative;
}

.welcome-message__close-button-container {
  position: absolute;
  right: 16px;
  top:16px;
}

.welcome-message__close-button {
  background: transparent url("../images/svg-icons/x-symbol-biscay-blue.svg") no-repeat;
  background-size: 1.1875rem auto;
  display: block;
  height: 24px;
  width: 24px;
  z-index: 100;
  background-size:20px 20px;
}

.welcome-message__header {
}

h1.welcome-message__header-h1 {
  font-size: 2.5rem; //40px
  display: block;
  margin-bottom: 5px;
}

h2.welcome-message__header-h2 {
  color: $blue-grey;
  font-size: 1.375rem; // 22px
  margin-bottom: 32px;
}

.welcome-message__content p {
  font-size: 1.0rem;
  line-height: 1.25rem;
  margin-bottom: 1.375rem;// 22px
  margin-top: 0;
}
.welcome-message__content{
	.contact-number-fpi{
		color: #16325c;
		text-decoration:none;
	}
}

// Events list
.events-list {
  position: relative; // important: for positioning of subsequent event-create button
}

.dashboard .cta__heading {
	min-width: 960px;
}

.my-events-heading .cta__heading-icon {
  background: transparent url("../images/svg-icons/entity-icon.svg") no-repeat 0 0;
	height: 32px;
	width: 32px;
	left: 0;
	top: 0;
	margin-left: 0;
	margin-top: 0;
}

.event-heading .cta__heading-icon {
  background: transparent url("../images/svg-icons/account-icon.svg") no-repeat 0 0;
	height: 32px;
	width: 32px;
	left: 0;
	top: 0;
	margin-left: 0;
	margin-top: 0;
}

// Hide Add Order button (i.e. "+Order") in Phase I
.event-heading .cta__heading-button-group .add-order-button {
  display: none;
}

//
// event tables, uses datatable lib
//
.dataTables_wrapper {
  margin-right: -15px;
  margin-left: -15px;
}

// Set bottom margin for a table with no events
.dashboard table {
  margin-bottom: 20px;
}

table.dataTable.no-footer {
  border-bottom: 1px solid $geyser;
  margin-bottom: 59px;
}

table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
  background-color: $aqua-haze;
}
table.dataTable.display tbody tr.selected,
table.dataTable.display tbody tr:hover {
  background-color: $solitude;
}

table.dataTable.order-column tbody tr>.sorting_1,
table.dataTable.order-column tbody tr>.sorting_2,
table.dataTable.order-column tbody tr>.sorting_3,
table.dataTable.display tbody tr>.sorting_1,
table.dataTable.display tbody tr>.sorting_2,
table.dataTable.display tbody tr>.sorting_3 {
  color: $steel-blue;
}

table.dataTable.display tbody tr.even>.sorting_1,
table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
  color: $steel-blue;
  background-color: #fff;
}

table.dataTable.display tbody tr.odd>.sorting_1,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
  background-color: $wild-sand;
}

table.dataTable.display tbody tr:hover>.sorting_1,
table.dataTable.order-column.hover tbody tr:hover>.sorting_1 {
  background-color: $solitude;
}

table.dataTable thead th,
table.dataTable thead td {
  border-bottom: 1px solid $geyser;
  color: $kashmir-blue;
  padding: 14px 10px 14px 34px;
  font-size:0.75rem;
}

// Column sorting arrows
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting {
  background-image: none;
  white-space: nowrap;
  font-size:0.75rem;
}

table.dataTable thead .sorting_asc .sort-indicator,
table.dataTable thead .sorting_desc .sort-indicator,
table.dataTable thead .sorting .sort-indicator {
  background-color: transparent;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 1.4375rem auto; // 23px auto
  display: inline-block;
  height: 1.0rem;
  image-rendering: optimizeQuality;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  margin-bottom: -3px;
  margin-left: 4px;
  width: 1.325rem;
}

// sort ascending
table.dataTable thead .sorting_asc .sort-indicator{
  background-image: url('../images/svg-icons/sort-arrow-up.svg');
  background-position: center center;
  width: 13px;
}

// sort descending
table.dataTable thead .sorting_desc .sort-indicator{
  background-image: url('../images/svg-icons/sort-arrow-down.svg');
  background-position: center center;
  width: 13px;
}

// default state : unsorted
table.dataTable thead .sorting .sort-indicator {
  background-image: url('../images/svg-icons/sort-arrow-up-down.svg');
}

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
  padding-left: 34px;
  white-space: nowrap;
}

table tbody td {
  color: $biscay;
  font-size: 0.75rem;
}

table.dataTable tbody td.customer-name-cell {
  max-width: 152px;
  overflow: hidden;
  text-overflow: ellipsis;
  top: 10px;
  white-space: nowrap;
  width: 100%;
}

// Status row
table tbody td span.status-new {
  color: $seaweed-green;
}

table tbody td span.status-paid {
  background-image: url('../images/svg-icons/checkmark-warm-grey.svg');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 1.0rem auto;
  color: $boulder;
  padding-right: 20px;
}

//table.dataTable tbody td span.status-scheduled {
table tbody td span.status-scheduled {
  color: $boulder;
  // Break Status onto multiple lines if too wide to fit.
  white-space: initial;
}

table tbody td a.action-schedule-delivery {
  color: $seaweed-green;
  text-decoration: none;
}

table.display tbody tr.odd>.sorting_1,
table.order-column.stripe tbody tr.odd>.sorting_1 {
  color: $steel-blue;
}

.dataTables_filter,
.dataTables_info {
  display: none;
}

// Pagination
.dashboard-pagination {
  display: block;
  padding: 0;
  text-align: right;
}

.dashboard-pagination__list li {
  display: inline-block;
}

.dashboard-pagination__page-numbers {
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  top: -9px;
}

.dashboard-pagination__previous-page,
.dashboard-pagination__next-page {
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-size: 19px auto !important;
  color: $science-blue;
  display: inline-block;
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.dashboard-pagination__previous-page {
  background: url('../images/svg-icons/arrow-left-blue.svg');
  opacity:0.89;
}

.dashboard-pagination__next-page {
  background: url('../images/svg-icons/arrow-right-blue.svg');
  opacity:0.89;
}

// hover states
.dashboard-pagination__previous-page:hover {
  opacity:1;
}

.dashboard-pagination__next-page:hover {
  opacity:1;
}

.success-message {
  border-radius: 100px;
  background-color: #ffffff;
  border: solid 1px #35b16e;
  color: #036d34;
  text-align: center;
  margin-bottom: 40px;
  padding: 5px 40px;
}

.failure-message {
  border-radius: 100px;
  background-color: #ffffff;
  border: solid 1px #ea262e;
  color: #b90007;
  text-align: center;
  margin-bottom: 40px;
  padding: 5px 40px;
}

.error-message-display {
  text-align: left;
  margin-bottom: 40px;
  p{
    margin: 0;
    font-weight: bold;
  }
  ul{
    margin: 0;
    li{
      margin: 0;
    }
  }
}

.fpi-plus-icon{
	svg{
		width:11px;
		fill:#3f79b3;
		position:relative;
		top:1px;
		height:11px;
		margin:0 2px 0 0;
	}
	&:hover{
		svg{
			fill:#ffffff;
		}
	}
}
.ui-dialog .ui-dialog-content{
	padding-top:40px;
}
a{
	&.action-complete-payment{
		text-decoration:none;
		color:$amaranth-red;
	}
	&.action-track-order{
		text-decoration:none;
		color:$steel-blue;
	}
}
.store_id{
	color:$biscay;
}
.sep-line{
	margin: 0 8px 0 5px;
    position: relative;
    top: -1px;
    opacity: 0.6;
}

.events-form-dialog .button-row .loading-indicator {
  background: url('../images/loading-small.gif') no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 1.0rem;
  position: relative;
  top: 5px;
  width: 1.0rem;
}
