//
// Order Details - Fulfillment
//
.inner-wrapper{
	padding:50px 0 0;
}
.order-details {}

// Process bar, atop of order-details pages
.process-bar {
    display: flex;
    overflow: hidden;
}

.process-bar__item {
    background: $processbar-bg;
    color: $processbar-text;
    flex-basis: 33.333%;
    font-size: 0.875rem; // 14px
    font-weight: 600;
    height: 2.0rem; // 32px
    padding-top: 6px;
    padding-left: 12px;
    position: relative;
    text-align: center;
}

.process-bar__item:first-child {
    border-radius: 0.875rem 0 0 0.875rem;
}

.process-bar__item:last-child {
    border-radius: 0 0.875rem 0.875rem 0;
}

.process-bar__item.active {
    background: $processbar-active-bg;
    color: $processbar-active-text;
    font-weight: 400;
}

.process-bar__item-triangle,
.process-bar__item-delimiter {
    height: 0;
    width: 0;
    border-left: 2rem solid #fff;
    border-right: 2rem solid transparent;
    border-bottom: 2rem solid transparent;
    border-top: 2rem solid transparent;
    position: absolute;
    right: -57px;
    top: -17px;
    z-index: 4;
}

.process-bar__item-triangle {
    border-left-color: $processbar-triangle-bg;
    position: absolute;
    right: -47px;
    top: -17px;
    z-index: 5;
}

.process-bar__item-delimiter {
    border-left: 2rem solid #fff;
    border-right: 2rem solid transparent;
    border-bottom: 2rem solid transparent;
    border-top: 2rem solid transparent;
    position: absolute;
    right: -55px;
    top: -17px;
    z-index: 4;
}

.process-bar__item.active .process-bar__item-triangle {
    border-left-color: $processbar-active-triangle-bg;
}
.process-bar__item.complete{
	background: $steel-blue;
	color:$white;
	.process-bar__item-triangle{
		border-left-color: $steel-blue;
	}
}
// customer-heading
.customer-heading {
    margin-top: 29px;
}

.customer-heading .cta__heading {
    margin-bottom: 14px;
    padding-bottom: 9px;
    padding-top: 14px;
}

.customer-heading .cta__heading-text-info {
    font-size: 0.75rem; // 12px
    letter-spacing: 0.0625rem;
    top: 12px;
}

.customer-heading .cta__heading-text {
    margin-left: 8px;
}

.customer-heading .cta__heading-text-h3 {
    font-size: 1.25rem; // 20px
    top: 26px;
}

.customer-heading .cta__heading-button-group .btn {
    margin-left: 7px;
    min-width:75px;
}

// NOTE: Hide Delete Order button and Add Products button in Phase I.
.customer-heading .cta__heading-button-group .delete-entire-order-button,
.customer-heading .cta__heading-button-group .add-products-button {
    display: none;
}

.customer-heading .cta__heading-button-group .btn:last-child {
    margin-right: 12px;
}

.cta__heading-icon__customer-heading,
.cta__heading-icon__product-heading,
.cta__heading-icon__delivery-heading,
.cta__heading-icon__payment-heading {
    background: transparent url("../images/svg-icons/customer-avatar.svg") no-repeat 10px 0;
    height: 41px;
    margin-left: 0;
    margin-top: 0;
    left: 0;
    top: 0;
    width: 46px;
}

.cta__heading-icon__product-heading{
	 background: transparent url("../images/svg-icons/list-items.svg") no-repeat 10px 0;
}
.cta__heading-icon__delivery-heading{
	background: transparent url("../images/svg-icons/truck.svg") no-repeat 10px 0;
}
.cta__heading-icon__payment-heading{
	background: transparent url("../images/svg-icons/payment.svg") no-repeat 10px 0;
}
// Customer info
.customer-info {
    display: flex;
    overflow: hidden;
    margin: 10px 0 0;
}

.customer-info__cell {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    font-weight: 600;
    padding: 0 30px 0 0;
}

.customer-info__cell-label {
    color: $kashmir-blue;
    font-size: 0.75rem; // 12px
    font-weight: 400;
    display: block;
    margin: 0 0 10px;
}

.customer-info__cell-value {
    color: $biscay;
    font-size: 1.125rem; // 18px
    line-height: 1.44;
    font-weight: 400;
    br {
        display: none;
    }
    p{
    	color: $biscay;
    	font-size: 1.125rem; // 18px
    	line-height: 1.44;
    	font-weight: 400;
    }
}

.customer-info__status-paid,
.customer-info__status-new {
    color: $seaweed-green;
}

.customer-info__status-scheduled {
    color: inherit;
}

.customer-info__next-step {
    color: $regent-grey;
}

.customer-info__next-step-scheduled {
    color: $crimson;
}

.customer-info__next-step-new {
    color: inherit;
}
.products__table-holder{
	margin:-10px 0 50px;
	table{
		width:100%;
		tr{
			th{
				font-size: 0.75rem;
				font-weight: 400;
				color: #54698d;
				text-transform:uppercase;
				padding:5px 0;

				// NOTE: Hide .action column in Phase I. When .action column is shown
				// after Phase I, it will appear only for Admin users.
				&.action-col-heading {
					display: none;
				}
				&:first-child{
					padding-left:50px;
				}
				&:last-child{
					text-align:center;
				}
			}
			td{
				border-top:1px solid #ededed;
				padding:5px 0;
				color: #16325c;
				font-size: 0.75rem;
				margin-right: 4px;
				padding-right: 4px;
				// NOTE: Hide .action column in Phase I. When .action column is shown
				// after Phase I, it will appear only for Admin users.
				&.action-col-cell {
					display: none;
				}
				&:first-child{
					padding-left:50px;
				}
				&:last-child{
					text-align:center;
					font-size: 0.75rem;
					color: #7c86a2;
				}
				b{
					font-size: 13px;
					font-weight: 600;
				}
				// Show ellipsis for long Customer Name
				span.customer-name {
					display: inline-block;
					max-width: 100px;
					overflow: hidden;
					text-overflow: ellipsis;
					top: 10px;
					white-space: nowrap;
				}
			}
		}

	}
	&.paynow-table{
		table{
			tr{
				th,td{
					&:first-child{
						padding-left:20px;
						padding-right: 12px;
					}
					input[type="checkbox"], input[type="radio"]{
						margin: 3px 0 0;
					}
					&.color-dark{
						color: #16325c;
					}
				}
			}
		}
	}
	&.custom__spacing{
		table{
			tr{
				th{
					&.first__item{
						width: 40%;
					}
					&.second__item{
						width: 20%;
					}
				}
			}
		}
	}
}
.text-small{
	color:$kashmir-blue;
	font-size:0.75rem;
	display:block;
}
.text-large{
	color:$biscay;
	font-size: 1.125rem;
	margin: 0 0 10px;
}
.button-reschedule,
.button-paynow{
	padding: 0;
	height: 36px;
	width: 180px;
}
.button-paynow{
	display: block;
	margin: 40px 0 30px;
}
.additional-alert-info{
	line-height: 32px;
	border-radius: 100px;
	background-color: #ffffff;
	border: solid 1px $amaranth-red;
	color:$amaranth-red;
	font-size: 0.875rem;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}
.payment-cardstype-holder{
	float:right;
	a{
		display:inline-block;
		margin: 10px 0 0 3px;
		img{
			width:30px;
			height: 20px;
		}
	}
}
.heading-small{
	font-size: 12px;
    font-weight: normal;
    color: #54698d;
    text-transform: uppercase;
    margin: 10px 0 5px;
}
.para-info{
	color: #16325c;
    line-height: 1.69;
}
.button-confirm{
	padding: 0;
	height: 36px;
	width: 245px;
}
/*changes by Khizar*/
.order-footer{
	margin-top: 35px;
    line-height: 35px;
    margin-bottom: 40px;
    color: #16325c;
    font-size: 16px;
}
.order-footer-info{
	color: #16325c;
    font-size: 18px;
}

/** slider **/
/** stor pickup static content styling **/

.store-pickup-point{
	margin: 0 0 10px;
	input{
		margin: 4px 0 0 0;
    	display: inline-block;
    	vertical-align: top;
	}
	label{
		display: inline-block;
    	vertical-align: top;
	}
}
.pickup-store-details{
	border:1px solid #ededed;
	padding:15px;
	&:hover,&.active{
		border:1px solid $governorbay;
		background: rgba(48,35,177,0.01);
		cursor: pointer;
		transition:all 0.5s;
	}
}
.pickup-stores-slider{
	margin:0 0 30px;
	.pickup-slide{
		padding:0 15px;
		h3{
			font-size:1rem;
		}
	}
	.slick-arrow{
		position: absolute;
	    top: 50%;
	    text-indent: -9999px;
	    height: 48px;
	    width: 28px;
	    overflow: hidden;
	    border: 0;
	    cursor:pointer;
	    opacity:0.5;
	    margin-top:-24px;
		&.slick-next{
			right:-10px;
			background: url(../../images/svg-icons/arrow-right-wide-grey.svg) no-repeat;
			background-size: 28px 48px;
		}
		&.slick-prev{
			left:-10px;
			background: url(../../images/svg-icons/arrow-left-wide-grey.svg) no-repeat;
			background-size: 28px 48px;
		}
		&:hover{
			opacity: 1;
			transition:all 0.5s;
		}
	}
}
.pickup-stores-holder,.store-picker-detial-info,.show-button-picker-pay{
	display: none;
}

.loading-wait {
	text-align: center;

	.loading-indicator {
		display: inline-block;
		background: url(../images/loading-small.gif) no-repeat;
		background-size: 100% auto;
		width: 1.0rem;
		height: 1.0rem;
		position: absolute;
		right: 16px;
		top: 8px;
	}

	.loading-message {
		background: #e0e5ed;
		border-radius: 16px;
		color: #787878;
		display: inline-block;
		font-size: 0.875rem;
		font-weight: 400;
		padding: 6px 42px 6px 20px;
		position: relative;
	}
	.loading-message:hover{
		opacity: 0.5;
		filter: alpha(opacity=50);
	}
}

.submitting-wait {
	.loading-indicator {
		display: inline-block;
		background: url(../images/loading-small.gif) no-repeat;
		background-size: 100% auto;
		width: 1.0rem;
		height: 1.0rem;
		position: absolute;
		right: 16px;
		top: 8px;
	}

	.loading-message {
		background: #fff;
		border-radius: 16px;
		color: #787878;
		display: inline-block;
		font-size: 0.875rem;
		font-weight: 400;
		padding: 6px 42px 6px 20px;
		position: relative;
	}
	.loading-message:hover{
		opacity: 0.5;
		filter: alpha(opacity=50);
	}
}
