.search-pages .cta__heading {
  border-bottom: 1px solid $geyser;
  margin-bottom: 0;
}

.search-pages .cta .row-border-bottom {
  background: $brand-search-bg-color;
  padding-bottom: 10px;
}

.search-pages__form {
  background: $brand-search-bg-color;
  color: $brand-search-txt-color;
}

.search-pages__form .form-horizontal {
  display: inline-block;
}

.search-pages__form .search-order-events-holder .form-horizontal {
	display: inline-block;
	vertical-align:middle;
	
}
.search-pages__form .form-radio-holder {
  position: static;
  display: inline-block;
}

.search-pages__form .search-order-events-holder .form-radio-holder {
  position: static;
  display: inline-block;
  line-height: 1;
  vertical-align: top;
  padding: 7px 0 0;
  
}

.search-pages__form .search-order-events-holder .form-radio-holder .form-check-inline {
	display: inline-block;
    vertical-align: middle;
}

.search-pages__form .search-order-events-holder .form-radio-holder .form-check-inline .form-check-input {
	display: inline-block;
    vertical-align: bottom;
}

.search-pages__form .search-order-events-holder .form-horizontal label {
  float: none;
  width: auto;
  display: inline-block;
  vertical-align: top;
}

.search-order-events-holder .field-wrapper {
  margin: 0;
}
.search-pages__form form {
  min-height: 60px;
  padding-bottom: 8px;

  @media screen and (max-width: 1199px) {
    max-width: 860px;
  }
}

.search-pages__form .form-inline label {
  padding-left: 4px;
  text-transform: none;
}

.search-pages__form .form-inline .form-btn-group {
  padding-left: 10px;
}

.search-pages__form button {
  height: 34px;
  margin-right: 10px;
  min-width: 60px;
  padding-left: 0;
  padding-right: 0;
  width: auto;
}

.search-pages__form .form-btn-group button:first-of-type {
  width: 90px;
}

.search-pages__form .form-btn-group button:not(:first-of-type) {
  width: 63px;
}

.search-pages__form .event-name-input-container {
  border-left: 1px solid $geyser;
  padding-left: 1.0rem;
}

.reveal-options {
  display: inline-block;
  vertical-align: middle;
}

// Hide all controls in reveal options except for the first one
.reveal-options .search-orders-date-fields,
.reveal-options .search-orders-order-number-fields,
.reveal-options .search-orders-store-id-fields {
  display:none;
}

.search-pages .search-orders-event-fields input[type="text"],
.search-pages .search-orders-order-number-fields input[type="text"],
.search-pages .search-orders-store-id-fields input[type="text"] {
  margin-bottom: 0;
  max-width: 396px;
  width: 100%;
}

.search-pages .search-orders-event-fields,
.search-pages .search-orders-date-fields,
.reveal-options .search-orders-order-number-fields,
.reveal-options .search-orders-store-id-fields {
  border-left: 1px solid $geyser;
  height: auto;
  margin: 0;
  margin-bottom: 11px;
  margin-left: 7px;
  padding-left: 10px;
}

.search-order-events-holder .form-row {
	margin: 0 !important;
}

.search-order-events-holder .search-orders .form-btn-group {
	padding-bottom: 0;
    vertical-align: top;	
}

.search-pages .search-orders-date-fields .search-orders-date-fields__label {
  display: inline-block;
  margin-top: 0;
  padding-left: 0;
  padding-right: 3px;
}

.search-pages .search-orders-date-fields .search-orders-date-fields__input-text {
  display: inline-block;
  max-width: 125px;
  width: 100%;
}

.search-pages__no-results {
  border-top: 1px solid $geyser;
  font-size: 1.0rem;
  width: 100%;
}

.search-results-heading {
  margin-bottom: 23px;
  margin-top: 20px;
}

.search-orders-results .products__table-holder table {
  border-bottom: 1px solid $gallery;
}

.search-orders-results .products__table-holder table tr th:first-child,
.search-orders-results .products__table-holder table tr td:first-child {
  padding-left: 20px;
}

.form-btn-group {
  text-align: right;
}

.search-orders .form-btn-group {
  display: inline-block;
  margin-left: 12px;
  padding-bottom: 10px;
  vertical-align: top;
}

// Search Users:
.search-pages input[type="text"].search-users-by-term {
  margin-bottom: 0;
  margin-top: 3px;
  min-width: 256px;
}

.search-pages .search-users .form-btn-group .btn {
  margin-top: 20px;
}

.search-manage-users .form-inline .form-check {
  display: inline-block!important;
  vertical-align: top;
  width: auto;
  line-height: 1;
}

.search-manage-users .form-inline .form-check-input {
  margin: 0;
  display: inline-block;
  vertical-align: top;
}

.search-manage-users.search-pages__form .form-inline label {
    padding-left: 4px;
    text-transform: none;
    display: inline-block !important;
    margin: 0;
    line-height: 1;
    padding-bottom: 0;
}

.search-manage-users .form-group {
    display: inline-block !important;
    vertical-align: middle;
    margin: 0;
}

 .search-pages .search-manage-users .search-users .form-btn-group .btn {
    margin-top: 0;
}
.search-pages .search-manage-users input[type="text"].search-users-by-term {
    margin-top: 0;
}