.ui-dialog.geolocation-modal {
	border-radius: 8px;
}
.geolocation-dialog {
    text-align: center;
    padding-top: 10px;
    background-color: #f0f1f1;
    background-image: url('../images/geolocation-bg.svg');
    background-repeat: no-repeat;
    background-position: center 15px;
    font-family: 'Gilroy Semibold', 'Arial', sans-serif;
    border-bottom: 1px solid #C6C8CA;
    margin-bottom: 5px;
    display: none;
    z-index: 1000001;
    position: relative;    
}
.geolocation-dialog a:hover,
.geolocation-dialog a:visited {
    text-decoration: none;
}
span.close {
    width: 50px;
    height: 50px;
    float: right;
    background: url('../images/Close_Gray.svg') no-repeat center center;
    background-size: 20px;
    text-indent: -9999em;
    margin-top: -18px;
    margin-right: -8px;
}
img.location-pin {
    width: 25px;
    height: 25px;
    float: left;
    margin-left: 15%;
    margin-top: 30px;
}
.how-far,
.noresults {
	font-weight: bold;
    font-size: 20px;
    width: 250px;
    margin: 23px auto;
}
p.noresults {
    margin-top: 20px !important;
}
p.noresults a.button {
    margin-top: 25px;
}
.distance,
a.directions {
	color: #e5173e;
}
.store-location a {
    text-decoration: none;
    padding-bottom: 20px;
    display: block;
    font-family: 'Gilroy', 'Arial', sans-serif;
}
a.directions {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
}

.divider {
    width: 100px;
    margin: 0 auto;
    padding-bottom: 20px;
    border-top: 1px solid #C6C8CA;
}