// Order History - Order Details Styling

.pt_account h1, .pt_order h1 {
    position: relative;
    padding-top: 36px !important;
    @include font-size(34px);
    margin-top: 0;
    @include line-height(26px);
    color: $night-rider;
}

.pt_account {
    #secondary {
        background: none;
        border: none;
        border-right: 0px solid $alto;
        border-top: 1px solid $alto;
        padding-top: calculateRem(20px);
        margin-top: calculateRem(30px);
        clear: both;    
        @include respond(medium) {
            min-height:650px;
            clear: none;    
            border-right: 1px solid $alto;
            border-top: 0px solid $alto;
            margin-top: calculateRem(10px);
            padding-top: 0;
        }
        
        nav {
            padding: 0 calculateRem(20px) calculateRem(10px) 0;
        }

        .account-nav-asset {
            margin: 0;
            padding: 0 calculateRem(30px) 0 0; 
            
            p {
                padding: 0;
                @include font-size(12px);
                @include line-height(20px); 
                @include respond(medium) {
                    padding: 4px 0;
                }
            }
            
            .account-nav-text {
                h2 {
                    font-family: $r-regular;
                    text-transform: none;
                    font-size: 18px;
                    font-weight: 600;
                    padding: 0;
                    color: $red;
                }
                p {
                    font-family: $r-regular;
                    font-size: 16px;
                    color: $black;
                    line-height: 1.63;
                }
                @media screen and (max-width: 767px) {
                    display: none;
                }
            }
        }
        
    }
    
    h2 {
        @include font-size(16px);
        @include font-bold();
        @include line-height(25px);
        margin-bottom: 0;
    }
    
    .primary-content {
        width: 100%;
        
        @include respond(medium) {
            width: calc(100% - 272px);
            margin-top: calculateRem(13px);
        }
        
        @include respond(large-only) {
            width: calc(100% - 230px);
        }
    }
}

.ui-dialog {
    .form-field-tooltip {
        margin-right:0;
    }
    .form-row-button {
        margin-left: 0;
        text-align: left;
        clear: none;
        @include respond(medium) {
            margin-left: 144px;
        }
        
    } 
    #edit-address-form {
        margin-top: 20px;
    }
    .dialog-required {
        &.account {
            margin-right: 20px;;
            float: right;
            @include respond(medium) {
                margin-right: 0;
                margin-left: 400px;
                float: left;
            }
        }
    }
    
}

.pt_account {
    .sign-out-cc {
        text-align: center;
        h1 {
            font-family: $r-bold;
            font-size: 26px;
            font-weight: 600;
            text-align: center;
            line-height: 1.35;
            color: $red;
            margin-bottom: 10px;
            @include respond(medium) {
                font-size: 30px;
                line-height: normal;
                margin-top: 40px;
            }
        }
        p {
            @include respond(large-down) {
                width: 80%;
                text-align: center;
                margin: 16px auto;
            }
            &.thanks {
                line-height: 1.56;
                br {
                    display: none;
                    @include respond(medium) {
                        display: inline;
                    }
                }
            }
        }
        .loader-icon {
            margin-top: 35px;
        }
        .action-buttons-wrap {

            @include respond(medium) {
                margin-top: 53px;
                font-size: 0;
            }           
            .go-home-button-wrap {
                width: 100%;
                margin-bottom: 15px;
                @include respond(medium) {
                    margin-bottom: 0;
                    width: 262px;
                    margin-right: 33px;
                    display: inline-block;
                    vertical-align: middle;
                }
                .button {
                    &.go-home {
                        border-radius: 3px;
                        width: 100%;
                    }
                }
            }
            .sign-back-in-button-wrap {
                width: 100%;
                    @include respond(medium) {
                        margin-bottom: 0;
                        width: 258px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                .button {
                    &.sign-back-in {
                        border-radius: 3px;
                        width: 100%;
                        background-color: $white;
                        color:$red;
                        border:1px solid $red;
                        &:hover {
                            color: $black;
                        }
                    }
                }
            }
        }
    }
} 

.order-history-header {
    background-color: $concrete;
    border-bottom: 1px solid $alto;
    overflow: hidden;
    padding: 25px;

    .label {
        font-weight: 700;
    }

    button {
        float: right;
    }

    .order-date,
    .order-status,
    .order-number {
        float: left;
        margin: 2px 0;
        @include line-height(18px);
        clear: both;
    }

    .order-status {
        //display: none;
    }

    .col1 {
        width: 100%;
        padding-left: 1px;
        float: left;

        @include respond(medium) {
            width: 60%;
        }
    }

    .col2 {
        width: 100%;
        float: left;
        padding-top: calculateRem(20px);

        @include respond(medium) {
            width: 39%;
            float: right;
        }

        button {
            float: left;

            @include respond(medium) {
                float: right;
            }
        }
    }
}

.pt_order {
    .search-result-items {
        padding-left: 0;
        clear: both;

        @include respond(medium) {
            padding-top: calculateRem(5px);
        }

        li {
            line-height: 2em;
        }

        ul,
        li {
            list-style-type: none;
        }
    }

    .search-result-options {
        margin-top: calculateRem(15px);

        .pagination {
            .results-hits-total {
                @include font-bold();
            }
        }
    }

    .minisummary-place-order {
        margin-top: calculateRem(25px);
        margin-bottom: calculateRem(5px);

        @include respond(medium) {
            margin-bottom: calculateRem(25px);
        }
    }
}

.order-history-row {
    border: 1px solid $alto;
}


.order-history-items {
    margin: calculateRem(10px) 0;
    padding-left: calculateRem(10px);

    .order-history-table {
        border: 0;

        tr {
            border: 0;
        }

        th,
        td {
            padding: calculateRem(5px) calculateRem(20px);
            border-right: 1px solid $alto;

            &:last-child {
                border: 0;
            }
        }

        td {
            width: 33%;

            .order-items {
                width: 98%;
                @include font-bold();
            }
        }

        ul {
            margin: 0;
            padding: 0;
            display: table;
        }

        li {
            list-style-position: inside;
            list-style-type: square;
            @include line-height(21px);
            margin-bottom: 0;
            display: table-row;

            &:before {

                display: table-cell;
                padding-right: 0.4em;
            }

        }

        .order-shipped-to,
        .order-total-price {
            width: 99%;
            @include font-bold();
        }

        .toggle {
            cursor: pointer;
            display: block;
        }
    }
}

.js .order-history-table .hidden {
    display: none;
}

// Details Styling
#confirmation-left {
    .header-nav-logo {
        margin-top: 50px;
        margin-bottom: 40px;
        width: 385px;

        a {
            img {
                height: 51.9px;
            }
        }
    }
}

#confirmation-right {
    position: fixed;
    z-index: 12;
    right: 0px;
    top: 0px;
    margin: 0px 20px 100px;
    display: none;
    background-color: #fbfcfe;
    width: auto;
    max-width: 350px;
    height: 100%;

    @include respond(large-only) {
        max-width: 255px;
    }

    @include respond(medium) {
        display: block;
    }

    .order-payment-summary {
        float: right;
        width: 94%;
        background-color: #ffffff;
        margin: 10px;

        h3.section-header {
            text-align: center;
            font-size: 24px;
            color: #1b2125;
            font-weight: normal;
            padding-bottom: 20px;
            border-bottom: solid 1px #b3b5b7;
        }

        .mini-cart-product {
            border-bottom: 0px;

            .mini-cart-name {
                a {
                    color: #788995;
                    font-weight: 600;
                    line-height: 1.38;
                    font-size: 13px;
                }
            }

            .mini-cart-attributes {
                .attribute {
                    label {
                        font-weight: 600;
                        font-size: 12px;
                    }

                    value {
                        font-weight: 600;
                        font-size: 12px;
                    }
                }

                .mini-cart-pricing {
                    .col1 {
                        font-weight: 600;
                        font-size: 12px;
                    }

                    .col2 {
                        font-weight: 600;
                        font-size: 12px;
                    }
                }
            }
        }

        .order-detail-summary details {
            padding: 0 10px;

            .order-totals-table {
                .order-total {
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
    }
}

.orderdetails {
    margin-top: calculateRem(20px);

    @include respond(medium) {
        margin-top: calculateRem(5px);
    }

    h2 {
        clear: both;
    }

    .label {
        font-weight: $font-wt-semibold;
    }

    .order-shipment-details {
        .order-shipment-address {
            float: right;
        }
    }

    .line-items {
        clear: both;
        padding-top: 1rem;

        .line-item {
            padding-bottom: 1rem;

            .line-item-details,
            .line-item-quantity,
            .line-item-price {
                display: inline-block;
                vertical-align: top;
            }

            .line-item-quantity,
            .line-item-price {
                width: 14%;
            }

            .line-item-details {
                width: 70%;

                a {}
            }

            .line-item-quantity {
                text-align: center;
            }

            .line-item-price {
                text-align: right;
            }
        }
    }

    .order-shipments {
        h3.shipping-name {
            color: $crimson;
            margin-bottom: calculateRem(10px);
        }

        .item-shipping-address {
            .shipping-name {
                height: 7px;
                padding: calculateRem(10px);

                @include respond(medium) {
                    height: 56px;
                    padding: 1.0625rem 30px 1.125rem 30px;
                    line-height: 1.75rem;

                }

                @include respond(large-only) {
                    padding: 14px 20px;
                    height: 56px;
                    line-height: 1rem;
                }
            }

            .address-details {
                @include respond(large-only) {
                    clear: both;
                    padding: 20px 10px;
                }
            }

        }
    }

    .section-header {
        padding: 0 0 calculateRem(10px) 1px;
        margin-bottom: calculateRem(15px);

        @include respond(medium) {
            margin: 0 calculateRem(15px) calculateRem(10px) 0;
        }
    }

    .details {
        @include line-height(20px);
    }

    .order-payment-summary {
        @media screen and (min-width: 480px) {
            float: right;
            width: 100%;
        }

        .details {
            @include line-height(15px);
            margin-left: calculateRem(5px);
        }
    }

    .mini-payment-instrument,
    .mini-billing-address {
        width: 100%;
        margin-bottom: 20px;

        @include respond(medium) {
            width: 33.6%;
            float: left;
            margin-bottom: 0;
        }

        .section-header-note {
            display: block;
            color: $color-primary;
            @include font-size($font-size-regular);
            font-style: $font-style-italic;
        }
    }

    .checkout-mini-cart-wrapper {
        width: 100%;
        margin-bottom: 20px;

        @include respond(medium) {
            width: 30%;
            float: left;
            margin-bottom: 0;
        }

        @include respond(large-down) {
            margin-bottom: -5px;
        }
    }

    .order-information {
        @include line-height(25px);

        .label {
            text-transform: none;
        }

        .order-status {
            //display: none;
        }
    }

    .payment-amount {
        .label {
            font-weight: normal;
            text-transform: none;
        }
    }

    .order-totals-table td {
        &:first-child {
            text-align: left;
        }
    }

    .order-total {
        @include font-size($font-size-mobile-sale-price);
    }
}

.confirmation-message {
    font-weight: $font-wt-semibold;
}

.confirmation {
    h1 {
        margin-bottom: 10px;
    }

    .order-confirmation-button-wrapper {
        float: none !important;
        margin: 10px auto;

        a {
            border-radius: 3px;
            width: 250px;
            font-size: 14px;
        }
    }

    .confirmation-message {
        font-size: 14px;
        font-weight: normal;
        color: #788995;
        line-height: 2.5;

        h1 {
            font-size: 1.5rem;
            line-height: 1.625rem;
            text-transform: uppercase;
            color: #1b2125;
            border-bottom: 0px;
        }

        .confirmation-message-expectations {
            max-width: 400px;
            line-height: 1.4;
            display: inline-block;
        }
    }

    .order-information {
        font-weight: 600;
        line-height: 1.71;
        color: #788995;
        text-transform: uppercase;
        text-align: right;
        display: block;
        max-width: 250px;
        margin-top: 20px;
        text-align: left;
        position: relative;

        @include respond(x-large) {
            position: absolute;
            right: 0px;
            margin-top: -150px;
        }

        .print_button {
            border: none;
            color: #ffffff;
            cursor: pointer;
            border-radius: 3px;
            width: 80%;
            background-color: rgba(50, 48, 48, 0.8);

            a.print-page {
                text-decoration: none;

                &:hover {
                    color: white;
                }
            }
        }
    }

    .login-create-account,
    .order-confirmation-details {
        .orderdetails {
            .order-shipments {
                .shipping_delivery_wrapper {
                    border-radius: 3px;
                    background-color: #ffffff;
                    border: solid 1px #dde3e8;
                    display: inline-block;
                    width: 100%;
                    height: auto;

                    @include respond(x-large) {
                        width: 800px;
                        height: 350px;
                        display: block;
                    }

                    .delivery_map {
                        width: 396px;
                        height: 348px;
                        border-radius: 2px;
                        background-color: gainsboro;
                        float: left;
                        margin: 20px;

                        @include respond(x-large) {
                            float: right;
                            margin: 0;
                        }

                        .shipping-map {
                            width: 396px;
                            height: 348px;
                            opacity: 0.7;
                            position: absolute;
                        }
                    }

                    .details {
                        margin-left: 20px;
                        float: left;
                        font-weight: 600;

                        .address-details,
                        .shipmentdetails {
                            font-size: 15px;
                            font-weight: normal;
                            color: black;
                            line-height: 22px;
                            margin-top: 25px;

                            .delivery-date-range {
                                font-size: 15px;
                                font-weight: normal;
                                color: $charcoal;
                                margin-bottom: 0;
                            }

                            .arrival {
                                color: $charcoal;
                                margin: 0px;
                            }

                            p {
                                font-size: 15px;
                                margin: 0px;
                                line-height: 22px;
                                color: $charcoal;
                                font-weight: normal;

                                &.semibold {
                                    color: black;
                                    font-family: $r-regular !important;
                                    font-weight: 500;
                                    font-size: 16px;
                                }

                                @include respond (large-down) {
                                    font-size: 16px;
                                }
                            }
                        }

                        .shipmentdetails {
                            @include respond (large-down) {
                                .shipment-wrap {
                                    margin-bottom: 20px;

                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                }
                            }

                            p {
                                color: $charcoal;
                            }
                        }

                        p {
                            font-size: 13px;
                            line-height: 2.29;
                            color: $charcoal;

                            .arrival {
                                color: $charcoal;
                            }
                        }

                        .mini-address-name,
                        .mini-address-location {
                            font-size: 13px;
                            line-height: 2.29;
                            color: $charcoal;
                        }
                    }
                }

                h3.section-header {
                    font-size: 24px;
                    color: #1b2125;
                    font-weight: normal;
                    border: 0px;
                }
            }

            .minisummary-place-order {

                .order-payment-instruments,
                .order-billing,
                .order-payment-summary {
                    h3.section-header {
                        font-size: 24px;
                        color: #1b2125;
                        font-weight: normal;
                        border: 0px;
                    }

                    .details {
                        font-size: 13px;
                        line-height: 2.29;
                        color: #788995;
                    }
                }
            }
        }
    }

    .login-create-account {
        float: right;
        padding: 0 1%;
        width: 25%;
    }

    .login-box-content {
        background-color: $white-smoke;
        border: 1px solid $gainsboro;
        border-radius: 5px;
        padding: 1em;

        p {
            margin-top: 0;
            margin-bottom: 0;
        }

        .form-row {
            margin: 0;
        }
    }
}
.order-confirmation-button-mobile a {
    @include respond(large-down) {
        height: 40px;
        border-radius: 5px;
        line-height: 40px;
        color: #fff;
        font-size: 16px;
        width: 273px;
        margin: 0 auto;
    }
}
@include respond(large-down) {
    .pt_new_confirmationpage .mobile-pt-checkout-container{
        background-color: white !important;
        .new-confirmation-page {
            .confirmation {
                .orderconfirmation {
                    .confirmation-message {
                        .thankyou-wrap {
                            padding: 95px 15px 0 15px;
                            h1 {
                                font-size: 24px;
                                font-weight: 900;
                                color: #2d2926;
                                font-family: Rubik;
                            }
                            .order-placed {
                                font-size: 15px;
                                margin: 10px 0 16px 0;
                                padding: 0px;
                                text-align: center;
                                color: #2d2926;
                            }
                            .order-email {
                                text-align: center;
                                display: block;
                                font-family: Rubik;
                                font-size: 15px;
                                color: #2d2926;
                                line-height: 1.47;
                                .email-id {
                                    font-weight: 500;
                                }
                            }
                            .order-email-late {
                                font-size: 15px;
                                text-align: center;
                                padding: 0px;
                                margin-top: 0px;
                                color: #2d2926;
                            }
                            .order-information {
                                color: #2d2926;
                                font-family: Rubik;
                                font-weight: normal;
                                font-size: 16px;
                                line-height: 1.44;
                                text-transform: inherit;
                                .order-date-ab {
                                    margin-bottom: 10px;
                                }
                                .order-date-ab , .order-number {
                                    .label {
                                        display: block;
                                    }
                                }
                            }
                            .order-info {
                                font-size: 15px;
                                color: #2d2926;
                            }
                            .delivery-info {
                                width: calc(100% + 6px);
                                font-size: 15px;
                                color: #2d2926;
                                padding: 0px;
                            }
                            .covid19-message.covid_mob {
                                margin: 20px 0 20px 0;
                                padding: 0px;
                                color: #2d2926;
                                line-height: 1.47 !important;
                                font-size: 15px !important;
                                font-weight: normal;
                                .covid19-tel {
                                    font-size: 15px;
                                    color: #2d2926;
                                    font-weight: normal;
                                    text-decoration: underline;
                                }
                            }
                        } /*thank you wrap*/
                    }
                }
                .order-products-wrap {
                    background-color: white;
                    padding-top: 0px;
                    .order-confirmation-products {
                        .confirmation-product-wrap {
                            width: calc(100% + 40px);
                            margin-left: -20px;
                            margin-bottom: 30px;
                            border-top: 1px solid #cccccc;
                            border-bottom: 1px solid #cccccc;
                            .mini-cart-product {
                                padding: 20px 15px 15px;
                                border-bottom: 1px solid #cccccc;
                                &:last-child {
                                    border-bottom: none;
                                }
                                &.bundle {
                                	.mini-cart-pricing {
                                		margin-top: -5px;
	                                	.col2 {
	                                		float: left !important;
	                                	}
									}
                                }
                                .mini-cart-image {
                                    width: 29%;
                                    img {
                                        border-radius: 10px;
                                        width: 100px;
                                    }
                                }
                                .mini-cart-name {
                                    margin: 0px;
                                    a {
                                        font-size: 15px;
                                        font-weight: 500;
                                        @include respond(large-down) {
                                            color: #2d2926;
                                            &:hover {
                                                color: $dark-gray-1; 
                                            }
                                        }
                                    }
                                }
                                .col2 {
                                    font-size: 15px;
                                    width: 67%;
                                    float: right;
                                    padding-top: 5px;
                                }
                                .mini-cart-price {
                                    font-weight: 500;
                                    color: $dark-gray-1;
                                    font-family: Rubik;
                                    line-height: normal;
                                }
                                .cut-price-mob-ab {
                                    display: inline-block;
                                    padding-left: 7px;
                                    font-weight: 400;
                                    color: $steel;
                                    font-family: Rubik;
                                    line-height: normal;
                                    text-decoration: line-through;
                                }
                                .recycling-fee {
                                    padding-top: 5px;
                                }
                                .mini-cart-attributes {
                                    padding: 5px 0;
                                }
                                .mini-cart-attributes, .mini-cart-pricing {
                                    margin-bottom: 0px;
                                    .label, .value {
                                        font-weight: normal !important;
                                        font-size: 15px;
                                    }
                                }
                                .product-option {
                                    width: 67%;
                                    float: right;
                                    padding-top: 20px;
                                    font-size: 15px;
                                    color: $dark-gray-1;
                                    .bs-price {
                                        padding-top: 5px;
                                        padding-bottom: 15px;
                                    }
                                }
                            }
                        } /*confirmation-product-wrap*/
                    }
                    .order-totals {
                        width: 100%;
                        margin: 0 0 10px 0px;
                        padding-bottom: 10px;
                        border-radius: 5px;
                        box-shadow: 0px 0px 10px #e6e6e6;
                        .os-heading {
                            @include respond(large-down) { 
                                text-transform: uppercase;
                                border-bottom: 0;
                            }
                            font-size: 18px;
                            text-align: center;
                            color: #2d2926;
                            margin: 20px 0 10px 0;
                        }
                        .order-totals-table {
                            tr {
                                display: flex;
                                justify-content: space-between;
                                margin: 0 15px;
                                border-bottom: 1px solid #b3b5b7;
                                &.order-total {
                                    border: none;
                                    th, td {
                                    	font-weight: bold;
                                    }
                                }
                                &.order-sales-tax {
                                	.taxWithoutZip {display: none;}
                                	.taxWithZip {display: table-cell;}
                                }
                                th, td {
                                    @include respond(large-down) { 
                                        padding: 15px 0px;
                                        font-size: 18px;
                                        font-weight: 400;
                                        font-family: Rubik;
                                    }
                                    padding: 12px 0px;
                                    border: none;
                                }
                            }
                        }
                    }
                } /*order-products-wrap*/
                .order-confirmation-details {
                    h4 {
                        letter-spacing: 0;
                    }
                    .orderdetails {
                        .minisummary-place-order {
                        	margin-left: -5px;
                            .order-payment-summary{
                                h4 {
                                    font-size: 18px;
                                    margin-bottom: 20px;
                                    color: #2d2926;
                                    font-weight: bold;
                                    border-top: 1px solid #b3b5b7;
                                    border-bottom: 1px solid #b3b5b7;
                                    width: calc(100% + 35px);
                                    margin-left: -16px;
                                    padding: 22px 0;
                                    padding-left: 16px;
                                    &:after {display: none;}
                                    @include respond(large-down) {
                                        border-top: none;
                                        padding-top: 0;
                                    }
                                }
                                .order-detail-summary {
                                    .address {
                                        @include respond(large-down) {
                                            margin-bottom: 25px;
                                        }
                                        div {
                                            font-size: 15px;
                                            font-weight: normal;
                                            color: #2d2926;
                                            line-height: 1.47;
                                            &.name {
                                                font-weight: 500;
                                                margin-bottom: 8px;
                                                text-transform: capitalize;
                                            }
                                            &.delivery-address {
                                                font-weight: 500;
                                                padding-top: 20px;
                                            }
                                            &.street {
                                            	text-transform: capitalize;
                                            }
                                        }
                                    }
                                }
                            }
                            .order-payment-instruments {
                                h4 {
                                    font-size: 18px;
                                    font-weight: bold;
                                    padding: 22px 0;
                                    border-top: 1px solid #b3b5b7;
                                    border-bottom: 1px solid #b3b5b7;
                                    width: calc(100% + 35px);
                                    margin-left: -13px;
									padding-left: 14px;
                                    &:after{
                                    	display: none;
                                    }
                                }
                                .details {
                                	font-size: 15px;
                                	img {
                                		margin-top: 8px;
                                        margin-bottom: 5px;
                                        &.paypal {
                                        	width: 121px;
                                        }
                                	}
                                    .cc-type {
                                        font-size: 15px;
                                        font-weight: 500;
                                        color: #2d2926;
                                    }
                                    .mobile_exp_date {
                                        line-height: 1.47;
                                        font-weight: normal;
                                        color: #2d2926;
                                    }
                                    .payment-type {
                                    	font-size: 15px;
										font-weight: 500;
										margin-bottom: 10px;
                                    	color: #2d2926;
                                    	line-height: 1.47;
                                    	span {
                                    		display: block;
                                    	}
                                    } 
                                    .financing-msg {
                                    	text-transform: lowercase;
                                    }
                                    .f-amount {
                                        margin-bottom: 10px;
                                    }
                                    .financing-msg, .f-amount {
                                    	font-size: 15px;
										font-weight: normal;
										color: #2d2926;
                                    }
                                }
                            }
                            .order-billing.mini-billing-address {
                            	margin-bottom: 0px;
                            	h4 {
                            		margin: 0px;
                            		font-size: 15px;
                            		&:after {
                            			display: none;
                            		}
                            	}
                            	.mini-address-location-diff {
                            		font-size: 15px;
                            		div, span {
                            			text-transform: capitalize;
                            		}
                            	}
                            }
                        }
                        .same-billing-address {
                            margin-top: 10px;
                            font-size: 15px;
                            font-weight: normal;
                            color: #2d2926;
                            span {
                                text-transform: lowercase;
                            }
                        }
                        .checkout-delivery {
                            @include respond(large-down) {
                                .shipmentsSection {
                                    padding-top: 20px !important;
								    padding-bottom: 20px !important;
								    border-bottom: 1px solid #cccccc;
                                    width: calc(100% + 34px);
                                    margin-left: -17px;
                                }
                                p.delivery-info {
                                    margin-left: -2px;
                                    width: calc(100% + 4px);
                                    line-height: 1.47;
                                    color: $dark-gray-1;
                                }
                                h3.section-header {
                                    color: $dark-gray-1;
                                    font-size: 18px;
                                    font-weight: 600;
                                    border-top: 1px solid #b3b5b7;
                                    width: calc(100% + 20px);
								    border-bottom: 1px solid #b3b5b7;
								    margin: 20px -15px 0px -22px !important;
								    padding: 22px 15px !important;
                                }
                                .shipmentinfo {
                                    strong {
                                        font-size: 15px;
                                        float: left;
                                        margin-right: 8px;
                                        position: relative;
                                        &::after {
                                            content: ":";
                                            position: absolute;
                                            top: 0;
                                        }
                                    }
                                    span {
                                        float: left;
                                        font-size: 15px;
                                        font-weight: 500;
                                    }
                                }
                                .product-details {
                                    .product-name, a {
                                        color: #2d2926;
                                        font-size: 15px;
                                        padding-left: 0;
                                        line-height: 22px;
                                        font-weight: 400;
                                        font-family: rubik;
                                        margin-bottom: 0;
                                        text-decoration: none;
                                    }
                                }
                                .deliveryDateInfo div, .arrives-heading {
                                	font-size: 15px;
                                }
                            }
                        }
                    }
                } /*order-confirmation-details*/
                .oc-recommender-mob-new {
                    .product-listing {
                        .callout-top {
                            text-align: left;
                            font-size: 24px;
                            text-transform: inherit;
                            margin-bottom: 20px !important;
                            margin-top: 30px !important;
                            visibility: visible;
                            color: #2d2926;
                            border: none;
                            position: relative;
                            line-height: 1;
                        }
                        .search-result-items {
                            .grid-tile {
                                .product-tile-one {
                                    padding-bottom: 3px !important;
                                    .product-name a {
                                        text-decoration: none;
                                    }
                                }
                                
                            }
                        }
                    }
                }
            } /*confirmation*/
        }/*new-confirmation-page*/
    }
}
.pt_account {
    #secondary {
        border-color: $light-gray;
    }

    .primary-content {
        .order-page {
            width: 40%;
            display: inline-block;
            margin-right: 100px;

            #searchorders {
                .checkout-button {
                    height: 40px;
                    margin-top: 0px;
                }
            }
        }

        .create-account {
            display: inline-block;
            width: 358px;
            border-radius: 10px;
            background-color: #f1f1f2;
            padding: 35px 30px;
            padding-top: 33px;

            .account-heading {
                font-size: 18px;
                font-weight: 600;
                text-align: center;
                margin-top: 0px;
            }

            .account-body {
                line-height: 1.56;
                text-align: center;
            }

            .create-account-button {
                border-radius: 3px;
                border: solid 1px #d63426;
                background-color: #ffffff;
                font-size: 16px;
                color: #d63426;
                width: 161px;
                margin: 0 auto;
                display: block;
            }
        }

        .searchorders-result {
            margin-top: 40px;

            @media screen and (max-width: 1024px) {
                margin-top: 0;
            }

            .search-results {
                font-size: 24px;
                font-weight: normal;
                border-bottom: 1px solid #323030;
                padding-bottom: 5px;
                margin-bottom: 20px;
                margin-top: 0;
            }

            .make-payment {
                height: 40px;
                border-radius: 3px;

                @media screen and (max-width: 1024px) {
                    width: 100%;
                }

                &:hover {
                    color: white;
                    background-color: #c02f22;
                }
            }
        }
    }

    .pt-order-page {
        #secondary {
            border: 0;
        }
    }
}

.pt-order-page {
    font-family: $r-regular;

    .breadcrumb {
        padding-bottom: 15px;
        background: #fff;
    }

    .primary-heading {
        font-family: $r-regular;
        font-size: 30px;
        font-weight: 600;
        color: $red;
    }

    .secondary-heading {
        font-family: $r-regular;
        font-size: 24px;
        color: $black;
        font-weight: normal;
        text-transform: none;
    }

    .small-heading {
        font-family: $r-semibold;
        border-bottom: solid 1px $light-gray;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        color: $steel;
        letter-spacing: 0.5px;
        margin-bottom: 5px;
    }

    p {
        font-family: $r-regular;
        font-size: 16px;
        color: $black;

        &.text-red {
            color: $red;
        }
    }

    .bb-heading {
        border-bottom: solid 1px $black;
        padding-bottom: 7px;
    }

    .btn.primary {
        font-family: $r-semibold;
        max-width: 190px;
        border-radius: 3px;
        height: 40px;
        line-height: 20px;
        margin-top: 10px;

        &:focus {
            color: $white;
        }
    }

    .input-text,
    .input-select,
    input[type=text],
    input[type=password],
    input[type=number],
    input[type=tel] {
        font-family: $r-semibold;
        font-size: 16px;
        font-weight: 600;
        color: $input-black;
        height: 54px;
        border-radius: 3px;
        background-color: #ffffff;
        border: solid 1px $pale-grey;
    }

    .sep-row {
        font-family: $r-semibold;
        position: relative;
        border-bottom: solid 1px $steel;
        text-align: center;
        height: 21px;
        margin-bottom: 70px;

        @media only screen and (max-width: 64em) {
            margin-bottom: 30px;
        }

        span {
            background: #fff;
            padding: 5px 10px;
            display: inline-block;
            margin-top: 7px;
        }
    }

    .searchorder-page {
        .cols-fields-wrap {
            margin: 0 -15px;

            .form-input {
                padding: 0 15px;

                label {
                    font-family: $r-regular;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 600;
                    color: $steel;
                    padding-bottom: 5px;
                    max-width: 100% !important;
                }

                .field-wrapper {
                    max-width: 100%;
                }

                .checkout-button {
                    font-family: $r-semibold;
                    width: 100%;
                    height: 54px;
                    margin-top: 30px;
                    border-radius: 3px;

                    @media only screen and (max-width: 64em) {
                        margin-top: 0;
                        margin-bottom: 30px;
                    }

                    &:focus,
                    &:hover {
                        color: $white;
                        background-color: #c02f22;
                    }
                }

                .searchorders-cls-search {
                    color: #c6c8ca;
                    font-size: 16px;
                }
            }
        }

        .error {
            font-family: $r-semibold;
            font-size: 16px;
        }

        .searchorders-result {
            .result-row {
                margin-bottom: 30px;

                p {
                    margin: 8px 0;
                }
            }
        }
    }

    #secondary {
        .visually-hidden {
            display: none;
        }

        .account-nav-asset {
            @media only screen and (min-width: 48em) {
                padding-top: 32px;
                border-right: solid 1px #f1f1f2;
            }
        }
    }

    #primary {
        .primary-button {
            max-width: inherit;
            width: initial;
            padding: 10px 30px;
        }
    }

    .payment-billing-page {
        .no-search-found {
            @include respond(large-down) {
                margin-top: 16px;
                padding: 20px;
            }
        }
    }

    .no-search-found {
        font-family: $r-regular;
        font-size: 15.5px;
        line-height: 25px;
        color: #323030;
        background: rgba(214, 52, 38, 0.1);
        padding: 10px;
        
        .order-cancelled-voided {
            @media only screen and (min-width:75rem) {
                margin: 0 10px 45px -5px !important;
            }
        }
        .fa-warning {
            color: #d63426;
            font-size: 23px;
            float: left;
            margin: 4px 6px 0 auto !important;
            &.margin-normal { margin: 0 10px 0 0 !important;}
        }

        .error-msg {
            display: table-cell;

            a{
                text-decoration: underline !important;
            }
        }

        img {
            vertical-align: middle;
        }
    }

    .no-search-found.isPaid {
        background: #fff8df;
        padding-bottom: 10px;

        @include respond(large-down) {
            padding-bottom: 20px;
        }

        span {
            @include respond(large) {
                vertical-align: middle;
            }
        }

        img {
            @include respond(large-down) {
                float: left;
                margin: 8px 13px 0px 0px;
            }
        }
    }

    .paid-full-back {
        margin: 0 auto;
        display: block;
        max-width: 224px !important;
        font-size: 16px;
        margin-top: 40px !important;
        padding-top: 10px;

        @include respond(large-down) {
            max-width: 100% !important;
            margin-top: 60px !important;
        }
    }
}

.payment-billing-page {
    .form-row {
        .input-text {
            &.cc_type_vs {
                background: url(/on/demandware.static/Sites-Mattress-Firm-Site/-/default/dwb20b6784/images/credit-cards-visa.svg) no-repeat top 16px right 16px;
            }

            &.cc_type_ds {
                background: url(/on/demandware.static/Sites-Mattress-Firm-Site/-/default/dwed589a2a/images/discover.svg) no-repeat top 16px right 16px;
            }

            &.cc_type_mc {
                background: url(/on/demandware.static/Sites-Mattress-Firm-Site/-/default/dwe758812a/images/credit-cards-mastercard.svg) no-repeat top 16px right 16px;
            }

            &.cc_type_ax {
                background: url(/on/demandware.static/Sites-Mattress-Firm-Site/-/default/dw2636412c/images/credit-cards-amex.svg) no-repeat top 16px right 16px;
            }
        }
    }
}

.mapo-pg-header {
    .print-order {
        float: right;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        text-decoration: none;
        margin-right: 10px;

        img.print-icon {
            max-width: 40px;
        }

        .print-label {
            display: block;
            letter-spacing: 1px;
        }
    }
}

.print-only {
    display: none;
}

@media print {
    body * {}

     .mattress-firm {
        page-break-after: avoid;

        a,
        h2 {
            color: #788995 !important;
        }

        .pt-order-page {
            .secondary-heading {
                font-size: 16px;
            }

            .print-only {
                font-size: 12px;

                >p {
                    margin: 8px 0;
                }
            }

            .secondary-heading {
                font-size: 16px;
            }

            .mf-col-8,
            .mf-col-4 {
                font-size: 12px !important;
            }

        }


        .mapo-pg-body.confirmation-page {
            margin-top: 30px;
        }

        .pt-order-page {
            padding-top: 0 !important;
        }

        .header-top.row,
        .primary-content pre:first-child,
        .header-main {
            display: none
        }

        header.header-main,
        .pt-order-page .breadcrumb,
        .mapo-pg-header,
        .info-sidebar,
        .confirmation-page #action-container,
        .account-nav-text,
        .section.no-bottom-padding,
        .main-footer,
        .confirmation-page .payment-info-section {
            display: none !important;
        }

        header.header-banner {
            display: none !important;
        }

        .section-to-print,
        .section-to-print * {
            visibility: visible;
            color: #323030;
        }

        .section-to-print {
            position: static !important;
        }

    }

    .section-to-print,
    .section-to-print * {
        visibility: visible;
        color: #323030;
    }

    .section-to-print .print-bold {
        font-weight: 600;
    }

    .section-to-print .print-only {
        display: block;
    }

    .hide-print {
        display: none;
    }

    .print-only .logo {
        width: 275px;
        height: 40px;
        margin: 20px 0;
    }

    .print-only .logo img {
        width: 275px;
    }

    .payment-details,
    .summary-details {
        width: 100%;
        min-width: 600px;
        clear: both;
    }

    .small-heading {
        font-family: Arial, sans-serif;
        font-size: 12px;
        font-weight: 600;
        color: #788995;
    }

    label {
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: #323030;
    }

    .payment-billing-page .order-summary-section-top .section .mf-col-8,
    .payment-billing-page .order-summary-section-top .section .mf-col-4 {
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: #323030;
    }

    .top-spacing {
        margin-top: 100px;
    }

    .section-to-print {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
    }

    html,
    body {
        height: 100vh;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden;
    }

    #buysafeRollover {
        display: none;
    }
}

.pt_account {
    .primary-content {
        .search-order-screen {
            .order-page {
                float: left;
                width: 50%;
                margin-right: 5%;

                @media screen and (max-width: 1024px) {
                    width: 100%;
                    margin-right: 0;
                }

                @media screen and (max-width: 767px) {
                    margin-top: 15px;
                }
            }

            .create-account {
                position: absolute;
                width: 36%;
                right: 0;
                top: 80px;

                @media screen and (max-width: 1024px) {
                    position: relative;
                    width: calc(100% - 60px);
                    margin-top: 20px;
                    top: 0;
                }
            }
        }
    }
}

.info-sidebar {
    font-family: $r-regular;
    font-size: 14px;
    color: #323030;
    text-align: center;
    background: #f9f9f9;
    border-radius: 12px;
    padding: 25px 15px;
    margin: 25px 0 0 0;

    @media screen and (max-width: 767px) {
        display: none;
    }

    .icon {
        margin: 5px 0 15px;
        font-size: 34px;
        border: solid 2px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    .heading {
        font-family: $r-extrabold;
        font-size: 16px;
        color: #323030;
        margin: 0 0 15px;
    }

    .mf-headingg{
        line-height: 21px;
    }

    p {
        margin: 0;
    }

    .learn-more {
        font-family: $r-bold;
        font-size: 14px;
        color: #323030;
        margin-top: 15px;
        display: inline-block;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.pt_order-confirmation_new {
    &.pt_checkout #primary {
        padding-bottom: 0;

        #confirmation-left {
            width: 65%;
            float: left;
            position: relative;

            .order-payment-summary .order-detail-summary {
                .phone-row {
                    display: none;
                }
            }

            .order-billing .mini-address-location {
                .phone-row {
                    display: none;
                }
            }
        }

        #confirmation-right {
            float: right;
            width: 32%;
            top: 0;
            margin: 0;
            position: relative;
            background-color: $light-gray;
            margin-top: 40px;

            .order-payment-summary h3.section-header {
                padding-top: 15px;
                padding-bottom: 0;
                padding-left: 15px;
                border-bottom: none;
                text-align: left;
                color: #000000;
                font-size: 16px;
                font-weight: 600;
                font-family: $r-semibold;
            }
            .checkout-delivery .shipmentsSection .deliveryDateInfo div {
                color: $charcoal;
                font-weight: 400;
                line-height: 1.33;
                font-family: "Rubik", "Arial", sans-serif;
                font-size: 12px;
            }
        }
    }

    &.pt_checkout {

        .header-banner,
        .header-main {
            @include respond(x-large) {
                position: fixed !important;
            }
        }

        .header-banner {
            padding-top: 0;
            padding-bottom: 0
        }

        #main #primary {
            padding-right: 0;
        }

        .header-banner-store {
            display: block;
        }

        .opc_footer_message {
            position: relative;
            width: 90%;
        }

        .checkout-mini-cart-wrapper .order-totals-table .order-total td,
        .checkout-mini-cart-wrapper .order-totals-table .order-total th {
            padding-top: 15px;
            padding-bottom: 15px;
            border-bottom: none;
            border-top: 1px solid #c6c8ca;
            font-family: "Gilroy",Arial,sans-serif;
            font-size: 14px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000000;
        }

        .mini-cart-image {
            width: 45%;
        }

        .mini-cart-name,
        .mini-cart-attributes {
            width: 50%;
        }

        .mini-cart-name {
            padding-top: 15px;
        }

        .mini-cart-pricing {
            width: 50%;
        }

        .mini-cart-attributes,
        .mini-cart-pricing {
            font-size: 12px;
            line-height: 1
        }

        .mini-cart-attributes {
            margin-top: 7px;
            margin-bottom: 7px;
        }

        .mini-cart-pricing .mini-cart-price {
            font-weight: 600;
            font-family: $r-semibold;
        }

        .mini-cart-product {
            padding: 5px 10px;

            .mini-cart-name a {
                color: #000000 !important;
                font-size: 15px !important;
                font-weight: 600 !important;
                font-family: $r-semibold;
            }
        }

        .mini-cart-attributes .label,
        .mini-cart-pricing .label,
        .mini-cart-pricing .value {
            font-weight: normal !important;
        }

        .checkout-mini-cart-wrapper .mini-cart-attributes,
        .checkout-mini-cart-wrapper .mini-cart-pricing,
        .checkout-mini-cart-wrapper .order-totals-table td {
            color: #000;
        }

        .order-totals-table {
            border-top: 1px solid #c6c8ca;

            .order-shipping {
                td:nth-child(3) {
                    text-align: right;
                }

                .taxWithoutZip {
                    display: none;

                    @include respond(large) {
                        display: table-cell;
                        text-align: left;
                    }
                }

                .taxWithZip {
                    display: none;

                    @include respond(large-down) {
                        display: table-cell;
                        text-align: left;
                    }

                    @include respond(large-only) {
                        display: table-cell;
                        text-align: left;
                    }
                }
            }

            .order-sales-tax {
                td:nth-child(3) {
                    text-align: right;
                }

                .taxWithoutZip {
                    display: none;

                    @include respond(large-down) {
                        display: table-cell;
                    }

                    @include respond(large-only) {
                        display: table-cell;
                    }
                }

                .taxWithZip {
                    display: none;

                    @include respond(large) {
                        display: table-cell;
                        text-align: left;
                    }
                }
            }
        }

        .checkout-mini-cart-wrapper .order-totals-table .discount td {
            padding-top: 10px;
        }
    }
    .covid19-message {
        line-height: 1.3 !important;
        font-weight: 400;
        font-size: 16px !important;
        &.covid_mob {
            @include respond(large-down) {
                font-weight: 400;
                background-color: transparent;
            }
        }
        .covid19-blog {
            color: #c02f22;
            text-decoration: underline;
            font-weight: 600;
            font-size: 16px;
        }
        .covid19-tel {
            color: #c02f22;
            font-weight: 600;
            font-size: 16px;
            text-decoration: none;
        }
    }
    &.pt_order-confirmation {
        #main #primary {
            width: 100%;
            max-width: 1030px;
            margin: 0 auto;
            float: none;
        }

        .mini-payment-instrument {
            margin-right: 0;
            box-sizing: border-box;
            padding-right: 30px;
        }

        .checkout-mini-cart-wrapper {
            width: 32%;
            //padding-right: 30px;
            box-sizing: border-box;
        }

        .mini-billing-address {
            margin-right: 0;
            box-sizing: border-box;
            padding-right: 0;
        }
    }

    .confirmation {
        .thankyou-wrap {
            width: 55%;
            display: block;
            float: left;
            line-height: 1.5;
            font-size: 15px;
            color: $charcoal;
        }

        .confirmation-message {
            color: #000;
            margin-top: 40px;
        }

        .confirmation-message h1 {
            margin-bottom: 0;
            padding-bottom: 0;
            text-transform: capitalize;
            font-size: 28px;
            line-height: 1.625rem;
            font-weight: 600;
            color: $charcoal;
            margin-top: 0;
            font-family: $r-semibold;
        }
        h2 {
            margin-top: 20px;
            margin-bottom: 20px;
            padding-bottom: 0;
            text-transform: capitalize;
            font-size: 21px;
            font-weight: 600;
            color: $charcoal;
            font-family: $r-semibold;
        }
        h3 {
            margin-top: 20px;
            margin-bottom: 20px;
            padding-bottom: 0;
            text-transform: capitalize;
            font-size: 21px;
            font-weight: 500;
            color: $charcoal;
            font-family: $r-regular;
        }

        h4 {
            margin-top: 0;
            margin-bottom: 15px;
            padding-bottom: 0;
            font-size: 16px;
            font-weight: 500;
            font-family: $r-regular;
            color:black;
        }

        p {
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;
            font-family: $r-regular;
            color:black;
            b {
                font-weight: 400;
                font-family: $r-regular;
                color:black;
            }
        }

        p a {
            font-size: 16px;
            line-height: 22px;
        }

        .order-information {
            position: relative;
            right: 0px;
            margin: 0;
            float: left;
            width: 45%;
            max-width: none;
            text-transform: capitalize;

            .print_button {
                background-color: #c02f22;
                width: 88px;
                height: 40px;
                float: right;
                color: #FFFFFF;
                border-radius: 3px;
            }

            .order-number {
                font-size: 16px;
                padding-right: 100px;
                text-align: right;
                color: $charcoal;
                font-family: $r-semibold;
                line-height: 1.3;

                @media print {
                    padding-right: 0;
                }
            }

            .order-date {
                padding-right: 100px;
                text-align: right;
                font-weight: normal;
                font-size: 12px;
                color: $charcoal;

                @media print {
                    padding-right: 0;
                }
            }
        }
        .order-confirmation-details {            
            p {
                font-weight: 500;
                b {
                    font-weight: 500;
                }
            }
        }
        .order-confirmation-details .orderdetails .minisummary-place-order {

            .order-payment-instruments,
            .order-billing,
            .order-payment-summary {
                .details {
                    padding: 0;
                    margin: 0;
                    font-size: 15px;
                    line-height: 1.5;
                    color: black;

                    img {
                        max-width: 146px;
                        margin-bottom: 10px;
                    }
                }
            }
        }

        .order-confirmation-details .orderdetails .order-shipments .shipping_delivery_wrapper {
            width: 100%;
            border: none;

            .details {
                margin-left: 0;
            }
        }

        .order-confirmation-details .orderdetails .order-shipments .shipping_delivery_wrapper {
            h3 {
                margin-top: 0;
                margin-bottom: 8px;
                font-family: $r-regular;
                font-weight: 500;
            }
        }
    }

    hr.redline {
        clear: both;
        border: none;
        border-bottom: 1px solid $red;
    }
}


.mt-25 {
    margin-top: 25px !important;
}

.mt-20 {
    margin-top: 25px !important;
}

.mb-20 {
    margin-bottom: 25px !important;
}

.ml-60 {
    margin-left: 60px !important;
}

.mf-errorr{
    display: block !important;
}

.mf-form-display-none{
    display: none !important;
}

.mf-country-style{
    font-size: 16px !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    color: #626366 !important;
    margin-top:15px !important;
}

.pt_order-confirmation_new_body .speak-with-expert {
    clear: both;
    width: 65%;

    .section {
        padding: 0 0 50px;
        margin-bottom: 150px;
    }
}

.confirmation .order-confirmation-details .orderdetails .order-shipments .shipping_delivery_wrapper .details .address-details {
    @include respond(medium) {
        margin-top: 8px;
    }
}
.recaptcha-error{
    margin: 0 10px 0 0 !important;
    @media only screen and (max-width:767px){
        margin-top: 5px !important;
    }
}

.recaptcha-error-text{
    font-weight: 700;
}

