/* account */
/* ------------------------------------- */

#secondary {
    .account-nav-asset {
      @include widgetStyle();
    }
    .toggle {
      background: $grayDark;
      color: white;
      display: block;
      padding: 5px;
      position: relative;
      line-height: 1.6em;
      span {
        background: url("../images/sprites.png") no-repeat scroll right;
        background-position: -19px -145px;
        display: block;
        padding: 0;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 5px;
        right: 0;
      }
      &.expanded {
        span {
          background-position: 0 -145px;
        }
      }
    }
  }
 
#PasswordResetForm {
  fieldset { position: relative; }
  button {
    float: left;
    clear: both;  
  }
}

.registration-selection {
  input label { display: inline; float: none; }
}

ul.address-list {
  padding:0;
  a.address-create {
    display:block;
  }
  li {
    display:block;
    list-style: none;
    margin: 0 0 30px;
    min-height: 135px;
    &.default { 
      h3 {
       @include article-headline();
      }
    }
  }
  .mini-address-title { font-weight: bold; }
}

ul.payment-list {
  overflow: hidden;
  padding: 0;
  li {
    list-style: none outside none;
    margin: 0;
    min-height: 110px;
  }
}

ul.search-result-items {
  padding:0;
  .order-history-header { 
    overflow: hidden;
    padding: 10px;
    .label { font-weight: 700; }
    button { float: right; }
    .order-date, .order-status, .order-number {
      float: left;
      margin: 2px 0;
      width: 60%;
    }
  }
  .order-history-items { 
    margin: 20px 0;
    .order-history-table {
      th, td { padding: 5px 10px; }
      ul { margin: 0; padding: 0; }
      li { list-style: none; }
      th {
        &.order-shipped-to, 
        &.order-items, 
        &.order-total-price { width: 33%; }
      }
      .toggle {
        cursor: pointer;
        display: block;
      }
    }
  }
}

.pt_order #primary div.content-header { display: none; }




.js .order-history-table li.hidden { display: none; }

/* wishlist */
/* ------------------------------------- */

.pt_wish-list {
  .list-table-header {
    overflow: hidden;
    p {
      overflow: hidden;
    }
  }
}
/* gift registry */
/* ------------------------------------- */

.pt_gift-registry {
  .create-new-registry { 
    margin: 1em 0; 
    button { 
      float: left;
      margin-right: 2em;
    }
    p {
      font: italic 1.3em/normal Georgia, serif;
      margin: 0;
      padding: 0.5em 2em;
    }
  }
  .add-gift-cert {
    border: 1px solid #EFEFEF;
    margin-bottom: -1px;
    overflow: auto;
    padding: 10px;
    button {
      background: url("../images/banners/banner-gift-cert.gif") no-repeat scroll left top transparent;
      border: 0 none;
      float: left;
      height: 80px;
      text-indent: -999em;
      width: 433px;
    }
    p {
      color: #999999;
      float: right;
      font-style: italic;
      line-height: 1.5em;
      width: 40%;
    }
  }
  .list-table-header {
    background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top #EFEFEF;
    overflow: hidden;
    padding: 2em;
  }
  .hdr-options { width: 5%; }
}

.page-content-tab-navigaton {
  button {
    background: #D9D9D9;
    border-color: #EFEFEF;
    border-width: 1px;
    color: #999999;
    font: italic 400 1.1em/normal Georgia,serif;
    margin: 0 0 -1px;
    &.selected {
      background: none repeat scroll 0 0 $white;
      border-bottom: 1px solid $white;
    }
  }
}

.page-content-tab-wrapper {
  border:1px solid #EFEFEF;
  padding:5px;
}

.gift-reg-purchases {
  .item-purchased-by {
    dd, dt {
      float:left;
      font-weight:bold;
      margin:0 1em 0 0;
      position:relative;
      width:auto;
    }
    dd { font-weight:bold; } 
    dt { clear:both; }
  }
  .quantity-purchased { color: #990000; }
}

.gift-registry-advanced {
  clear: both;
  .toggle-content { 
    overflow: hidden;
    padding: 10px;
  }
  .event-month, .event-city {clear: both;}
}

/* gift certificates */
/* ------------------------------------- */

.gift-certificate-purchase {
  background: #F3F3F3;
  padding: 10px;
  .content-asset {
    float: left;
    width: 50%;
    img { margin: 20px 0; }
  }
  form {
    background: $white;
    float: right;
    padding: 0 20px 20px;
    width: 40%;
    .input-text, .input-textarea { width: 90%; }
    .cert-amount {
      clear: none;
      float: left;
      margin: 0;
      width: 40%;
    }
    .form-row-button {
      clear: none;
      float: left;
      margin: 25px 0 0 20px;
      width: 50%;
    }
  }
  .cert-amount {
    .form-caption {
      margin: 20px 0 0;
      position: absolute;
      width: 40%;
    }
    &.error { padding-bottom: 35px; }
  }
  span.error { margin-left: 2%; }
}

.check-balance {
  border-bottom: 1px solid #D9D9D9;
  margin: 0 0 20px;
  padding: 0 0 20px;
}

.gift-cert-balance { 
  float: left;
  width: 40%;
  input {
    margin-top: 0;
    width: 90%;
  }
  .form-caption { margin-left: 0; }
  .label { display: none; }
}

.gift-cert-balance-submit {
  clear: none;
  float: left;
} 

/* login pages */
/* ------------------------------------- */

.login-box {
  background: rgba(255, 255, 255, 0.5);
  margin: 0;
  min-height: 372px;
  .section-header {
    background: none transparent;
    border-bottom: none;
    color: $black;
    text-transform: uppercase;
    font: {
      size: 2.5em;
      weight:400;
      } 
  }
  .form-row.form-row-button { margin: 0; }
  .required-indicator { display: none; }
}
.login-box-content { 
  p { 
    margin: 15px 0;
    font-size: 1.2em;
  }
}
.col-2 {
  .login-box-content {
    margin:35px 0;
    padding:30px;
    border:1px $gray solid;
    .sign-in {
      font-size:1.8em;
      font-weight:400;
    }
    a {
      &#password-reset {
        text-transform: uppercase;
        color: $accentColor;
        padding-left: 20px;
        &:hover {
          color: $black;
        }
      }
    }
    div {
      &.label-inline {
        label {
      	  font-weight:300;
	      font-size:1.1em;
	      color: $black;
	    }
	  }
    }
    label {
      span {
        text-transform: uppercase;
        font-weight:300;
      }
    }
  }
}