/* base elements */
/* ------------------------------------- */

body {
  background: $white;
  color: $textColor;
  font: {
    family: $baseFontFamily;
    size: 12px;
    weight: 300;
  }
}

/* headers */
/* ------------------------------------- */

h1, h2, h3, h4, h5 {
  font: {
    family: $headingsFontFamily;
    weight:300;
  }
}
h1 {font-size:22px; }
h2 {font-size:18px;}
h3 {font-size:14px;} 
h4, h5 {font-size:12px;}

h1#results-content{
  background:url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;
}
h1 .account-logout { font-size: 0.6em; }
.breadcrumb {
  size:12px;
  h1, a, span {
    font: {
      size:12px;
    }
  }
}
.compareitems h2{
  font-size:14px; 
}

.refinement h3 {
  font: {
    family: $sansFontFamily;
  }
}
 
.pdp-main .product-thumbnails h2 {
  font: {
    family: $sansFontFamily;
    size: 1.5em;
    style: normal;
    weight: bold;
  }
}
.order-summary-footer h2{
  font: {
    family:$serifFontFamily; 
    size: 2em;
    style:italic;
    } 
}

.titled-ctl-box h5 { font-size: 16px; }
 
.pt_cart h1,
.pt_product-search-result #main .catheader h1,
.primary-section-divider h2,
.article-headline {
 @include article-headline();
}

.pt_cart h1 {
  font-size: 2.5em;
  font-weight: 400;
  padding-top: 15px;
}

/* links */
/* ------------------------------------- */

a {
  color: $linkColor;
  outline: medium none;
  overflow: hidden;
  text-decoration: none;
}
a:hover {
  color: $linkColorHover;
}
a.name-link {
  color: $textColor; 
  font-size:12px;
}
a.name-link:hover { color: $linkColor; }
fieldset {
  border:0 none;
  margin:0;
  padding:0;
}

table { width: 100%; }
th { text-align: left; }
td { 
  padding: 1em; 
  vertical-align: top; 
}



/* helper classes */
/* ------------------------------------- */
.accent { color: $accentColor!important; }
.clearfix:after{clear:both;content:" ";display:block;font-size:0;height:0;visibility:hidden;}
.vh{
  border:0 none;
  height:1px;
  margin:-1px;
  overflow:hidden;
  padding:0;
  position:absolute;
  width:1px;
}
.ie7 .vh{width:1px !important;}
ul.menu{
  float:left;
  margin:0;
  padding:0;
ul.menu li {
    float:left;
    list-style: none outside none !important;
  } 
}
.user-tip {
  background-color: $grayLighter;
  padding: .7em; 
}

/* Flash Messages */

.flash-message-info{
 @include flash-message(#FFFF00, 7px, $black);
 .flash-message-icon{
  background-image: url("../images/flash_info.gif");
  width: 16px;
  height: 16px;
  display: inline-block;
  float: left;
  margin: 11px 10px 0 0;
 }
 p {
  float:left;
  width:90%;
 }
}
.flash-message-error{
 @include flash-message(#F00, 7px, $black);
 .flash-message-icon{
  background-image: url("../images/flash_error.gif");
  width: 16px;
  height: 16px;
  display: inline-block;
  float: left;
  margin: 11px 10px 0 0;
 }
 p {
  float:left;
  width:90%;
 }
}
.flash-message-success{
 @include flash-message(#00FF00, 7px, $black);
 .flash-message-icon{

  width: 16px;
  height: 16px;
  display: inline-block;
  float: left;
  margin: 11px 10px 0 0;
 }
 p {
  float:left;
  width:90%;
 }
}
