/* footer */
/* ------------------------------------- */
#footer {
  background: $grayLighter;
  border-top: 3px solid $grayLight;
  padding-bottom:30px;
  margin-top: 30px;
  clear: both; 
  font-weight: 300;
  ul { margin:0; padding:0; }
  .col-1{
    width:60%;
  }
  .content-asset ul li { 
    list-style: none!important;
    margin: 0 5px 0 0!important;
  }
  li {
    float:left;
    margin: 2% 0 0 2%;
    &:first-child {margin-left:0;}
    .level-1 { 
      font-size: 16px;
    }
    div.level-2 {
      margin-top: 10px;
      li {
        width: 100%;
        font-size: 12px;
        margin:5px 0!important; 
        line-height:100%;
      }
    } 
  }
  li.col-6 {
    width: 15%;
  }
  a { 
    color: $textColor; 
    &:hover { color: $textColor; text-decoration: underline; }
    }
  .bottom-help-callout  {  
    font-size: 16px;
  }
  #emailsignup { 
   
   	.error {
  		text-align:right;  
  		margin-right: 45px;
  	}
    
    label, span {
      padding-top: 8px;
      font-size:14px;
      width:175px;
      .required-indicator{
        display:none;
      }
    }
    .email-signup-field{
      display:inline-block;
      position:relative;
      margin:0 0 0 10px;
      width:40%;
      input[type="text"]  {
        border-top:1px solid #A6A6A6;
        display:inline-block;  
        width: 100%;
        margin: 0;
        //background-position: -9999px;
        //padding-left: 15px; 
      }
    }
     
      
    input[type="submit"] { 
      background: url("../images/sprites.png") no-repeat;
      text-indent: -9999em;
      overflow: hidden;
      display: inline-block;
      background-position: -99px -143px;
      width: 15px;
      height: 20px;
      display: block;
      position: absolute;
      top: 15%;
      right: 0;
      border:none;
    }
  }
  .nav-bottom-copyright {
    display:none;
    ul li { 
      float:left; 
      margin-right: 15px; 
    }
  }
  #social.col-2 { width: auto; }
  .share-bar {
    background-color: transparent;
    margin:0 auto;
    padding:0;
    width:223px;
    span {
      color: $textColor;
      display: block;
      text-align:center;
      float:left;
    }
    ul li { background-color: $grayDarker; 
     &:hover { background-color: $accentColor; }
      } 
  }
}
