@mixin carouselsprite {
  background: transparent url('../images/sprites_carousel.png') 0 0 no-repeat;
  background-repeat: no-repeat;
}
@mixin mirrorImage {
-webkit-transform: scaleX(-1);
   -moz-transform: scaleX(-1);
     -o-transform: scaleX(-1);
        transform: scaleX(-1);
           filter: FlipH;
       -ms-filter: "FlipH";
}
.jcarousel {
  position: relative;
  overflow: hidden;
  height: 100px;
}
.jcarousel-direction-rtl {
  direction: rtl;
}

.jcarousel-container-horizontal {
  clear:both;
}
 
.jcarousel-container-vertical {
  width:  220px;
  height: 300px;
}

.jcarousel-clip {
  overflow: hidden;
  border: 1px solid transparent;
}

.jcarousel-clip-horizontal {
  margin-bottom: 10px; 
  width:100%;
  max-width:940px; 
}

.jcarousel-clip-vertical {
  width:  220px;
  height: 300px;
}

/*** list widths ***/
.horizontal-carousel {
  position:relative;
  ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    display:inline-block;
  }
  li { 
    margin:0;
    p{
      margin:0;
      line-height: 0;
    }
    height: auto; 
    float:left; 
     a, img {  width: 100%;  }
  }
}

/*BV inline ratings stars put here instead of search grid b/c of ratings carousel, shopper segments, and producttile and all are in carousel */
#BVInlineRatings{
  height:auto;
  position:relative;
  img {
    width: 90px;
  }
}
    
.four-tiles {
  li{
    .product-tile {
      width:90%;
    }
  }
}
.five-tiles{
  ul {min-height: 73px;}
  li{  
    text-align:center; 
    img {  
      width: 150px;
      margin-right:10px;
    }
  }
}

.jcarousel-item-placeholder {
  background: $white;
  color: $black;
}
.jcarousel-next-vertical,
.jcarousel-prev-vertical,
.jcarousel-next-horizontal,
.jcarousel-prev-horizontal {
  position: absolute;
  width: 32px;
  cursor: pointer;
  @include carouselsprite;
}
.jcarousel-control {
  text-align: center;
  background: $grayLighter;
  border: 1px solid $gray;
  padding: .5%;
  height: 16px;
  ul {
    display: inline-block;
    padding:0;
    margin:0 auto; 
  }
  a {
    text-indent: -9999px;
    background-color: $gray;
    width: 10px;
    height: 10px;
    border-radius: 32px;
    margin: 3px;
    display: inline-block;
    &.vis {  display:none; }
    &.active.vis { 
      background-color: $textColor; 
      display:inline-block; 
    }
    
  }
}

.paged-carousel {
  overflow:hidden;
  .jcarousel-prev, .jcarousel-next { display: none!important; }
  .jcarousel-item-horizontal { margin:0;}
  .jcarousel-clip-horizontal { padding-bottom: 0; margin-bottom: 0; }
}

/**
 *  Horizontal Buttons
 */

.horizontal-carousel .button{
  display: inline-block;
  margin:15px 0 0;
  a{ color:$white; }
} 

.jcarousel-next-horizontal {
  right: -40px; 
  background: url('../images/sprites_carousel.png'), -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: url('../images/sprites_carousel.png'),  -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
  background: url('../images/sprites_carousel.png'),  -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: url('../images/sprites_carousel.png'),  -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: url('../images/sprites_carousel.png'),  -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: url('../images/sprites_carousel.png'),  linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1ffffff', endColorstr='#ffffff',GradientType=1 );
  background-repeat: no-repeat; /*do not remove if using gradient*/
}
.jcarousel-next-horizontal,
.jcarousel-prev-horizontal {
  /* do we need to put a linear gradient for fade effect on this */
  top:0;
  height:100%; 
  background-position: 0px 70px;
}
 
.jcarousel-next-horizontal.disabled,
.jcarousel-next-disabled-horizontal:hover,
.jcarousel-next-disabled-horizontal:focus,
.jcarousel-next-disabled-horizontal:active {
  cursor: default;
  @include opacity(.4);
}

.jcarousel-prev-horizontal {
   left: -40px;
   @include mirrorImage;/*using this til i finalize sprite*/
}

.jcarousel-direction-rtl .jcarousel-prev-horizontal {
  left: auto;
  right: 0; 
}


.jcarousel-prev-horizontal.disabled,
.jcarousel-prev-horizontal.disabled:hover,
.jcarousel-prev-horizontal.disabled:focus,
.jcarousel-prev-horizontal.disabled:active {
  cursor: default;
  @include opacity(.4);
}

/**
 *  Vertical Buttons
 */
.jcarousel-next-vertical,
.jcarousel-prev-vertical {
  left: 88px;
  height:53px;
}

.jcarousel-next-vertical {
  bottom: -15px; 
  @include rotate(90deg);
  filter: rotate(90deg);
  -ms-filter: rotate(90deg);
}

 

.jcarousel-next-vertical:active {
   @include opacity(1);
}

.jcarousel-next-disabled-vertical,
.jcarousel-next-disabled-vertical:hover,
.jcarousel-next-disabled-vertical:focus,
.jcarousel-next-disabled-vertical:active {
  cursor: default;
   @include opacity(.4);
}

.jcarousel-prev-vertical {
  top: -25px;
  @include rotate(-90deg);
  filter: rotate(-90deg);
  -ms-filter: rotate(-90deg);
}

.jcarousel-prev-vertical:hover,
.jcarousel-prev-vertical:focus {
  @include opacity(.4);
}

.jcarousel-prev-vertical:active {
  @include opacity(1);
}

.jcarousel-prev-disabled-vertical,
.jcarousel-prev-disabled-vertical:hover,
.jcarousel-prev-disabled-vertical:focus,
.jcarousel-prev-disabled-vertical:active {
  cursor: default;
  @include opacity(.4);
}
/*
 * js class carousel styles (moved from js-styles file)
 */
.js {
  .home-bottom-right {
    .jcarousel-clip { 
      height: 282px;
      overflow:hidden; 
    }
    .vertical-carousel li {
      height: 282px;
      float:none;
      width: 300px;
    }
    .jcarousel-prev, .jcarousel-next {
      cursor:pointer;
      height: 12px;
      position:absolute;
      bottom: 20px;
      right:0;
      width: 52px;
      z-index: 999;
    }
    .jcarousel-prev-disabled, .jcarousel-next-disabled { display: none!important; }
  }
}
/*
 * shopping cart carousel styles  (moved from shopping cart sass file)
 */
.last-visited {
  .jcarousel-clip{
    margin:0 20px;
    overflow:hidden;
    width:167px;}
    .jcarousel-item{width:167px;}
    .jcarousel-next, .jcarousel-prev{
      cursor: pointer;
      height: 20px;
      position:absolute;
      top:50%;
      width:10px; }
    .jcarousel-next { right: 0; }
    .jcarousel-prev { left: 0; }
    .jcarousel-prev-disabled, .jcarousel-next-disabled { background-image: none; }
}
