/* page layouts */
/* ------------------------------------- */

html, body { height: 100%; }

#container { height:auto; }

.wrapper { 
  margin: auto;
  max-width: 940px;
  width:940px;
}

//#navigation .wrapper { max-width: 956px; width: 956px;}

#main, #header {position:relative;}

.primary-section-divider {
  margin: 15px 0 0; 
  @include clearfix();
  clear:both; 
}

.full-width,
.pt_content #primary.primary-content,
#primary.primary-content.full-width,
.pt_product-search-result #primary.primary-content.top-level-category  {
  width: 100%!important;
  float: none!important;
  border:0 none;
}

.pt_product-search-result{
  .primary-content{
    float:right; 
    padding:0 0 20px;
    position:relative;
    width: 65.1%;
    &.top-level-category + #secondary.refinements { width:100%; }
    }
    #secondary{
      float:left;
      nav {
        padding-left:10px;
        padding-right:10px;
        a {margin-left:15px;}
    }
  }

.pt_content-search-result {
  .page_content {
    margin-top: 28px;
  }
}

.pt_product-search-noresult {
  .primary-content {
    margin-top: 28px;
  }
}
  /*secondary nav on top level category page structure */
  .primary-content.top-level-category + #secondary.refinements {
    .refinement-header { display:none; }
    .refinement {
      margin-top: 15px;
      border-top: 1px solid $gray;
      display:none;
      h2, h3.toggle {
        @include article-headline();
        width: 100%;
        span {
          width:100%;  
        }
      }
      h3.toggle:after{
        border-top-color: #fff; 
      }
      ul li a { width: auto; }
    }
    .refinement.category-refinement { display:block; }
  } 
}

.primary-focus, .page-content {
  .primary_content, .primary-content {
    float:left;
    border-left: none;
    padding-right:3%;
    width: 65%;
  }
  #secondary{
    width: 30.32%;
    float:right; 
  }
}

.pt_cart {
  .primary-focus { 
    .primary-content {
      width: 100%;
      float: none;
      border-left: none;
    }
  }
}

.primary-content.store-locator {
  width: 100%;
}
/*
 * share bar to go here? used in footer, pdp, modules
 */

.share-bar {
  padding: 10px;
  margin: 15px 0;
  .content-asset ul li { 
    list-style: none!important;
    margin: 0 5px 0 0!important;
  }
  span {
    float: left;
    font-size: 16px; 
    padding: 5px 5px 0 0;
  }
  ul {
    display: inline; 
    border:1px solid transparent!important;
    li {
      float:left;
      width: 22px!important;
      background: $grayDarker;
      margin-right: 5px;
      padding: 2px;
      &:hover { background-color: $accentColor; }
       a {
          @include spriteSocial;
          width: 22px;
          height: 23px;
        }
      &.email a { background-position: -122px 0px; }
      &.facebook a { background-position: -98px -2px; }
      &.twitter a { background-position: -26px -2px; }
      &.pinterest a { background-position: -50px -2px; }
      &.youtube a { background-position: -2px -2px; }
      &.google a { background-position: -74px -2px; }
      &.email a:hover { background-position: -122px 0px; }
      &.facebook a:hover { background-position: -98px -2px; }
      &.twitter a:hover { background-position: -26px -2px; }
      &.pinterest a:hover { background-position: -50px -2px; }
      &.youtube a:hover { background-position: -2px -2px; }
      &.google a:hover { background-position: -74px -2px; }
    }
  }
}
/*tertiary nav*/
nav#tertiary-nav {
  ul { 
    display:block;
    display:inline-block;
    margin:0;
    padding:0;
    border: 1px solid #fff;
    li {
      float:left; 
      padding: 0;
      margin: 15px 15px 0 0;
      &.active { 
        a { color: $accentColor; } 
      }
    }
  }
}
/*Source code */
#source-code {
float: right !important;
}
