.figure-cta {
  figure {
    width: 23.2%;
    float:left;
    margin: 0 0 0 2.4%;
    padding:0;
    &.first {
      margin-left:0;
      }
  }
  img {
    width:100%;
  }
  figcaption {
    padding:0;
  }
  p {
    margin: 0;
    padding: 0;
    a {
      background-color: $accentColor;
      display: block;
      padding: 12px 10px;
      font-size: 18px;
      color: $white;
    }
  }
}

/*  
 * to do: update sprites for h4 ctas */


.product-tile-rating {
  .col-1 {
    width: 25%;
  }
  .col-2 {
    width: 70%;
  }
  .product-name {
    clear:both;
    font-size:22px;
    margin:0.2em 0;
    width:auto;
  }
  ul{
    li{
      width: 940px;
      img { max-width:218px;}
    }
  }
  button { margin-top: 10px; }
  .share-bar {
    padding: 0;
    width: 220px;
    float: none;
    height: 18px;
    margin: 0 0 15px;
    span {
    display: none;
    }
  }
}
.content-asset .titled-ctl-box ul li { list-style:none!important; }
.titled-ctl-box {
  border:1px solid $gray;
  display:inline-block;
  padding: 2%;
  width: 96%;
  h2 {
    margin:0 0 2%;
  }
  ul {
    margin:0;
    padding:0;
    li {
      width: 31%;
      float:left;
      margin: 0 0 0 3.4%;
      &:first-child {
        margin-left:0!important;
      }
      p strong {
        font-size: 16px;
      }
      h5 {
        margin: 0;
        padding: 0;
        text-transform:uppercase;
        img { margin:0!important; }

          .icon {
            @include sprite; 
            width: 55px;
            height: 16px;
            float:left;
            margin:3px 5px 0 0; 

        }
      &.adjustable .icon { background-position: 0 -220px; }
      &.cooling-gel .icon { background-position: 0 0;}
      &.foam {
      
          .icon { background-position: 0 -257px;}
          &:hover { background-color: $blue; }
      
      }
      &.innerspring .icon { background-position: 0 -240px; }
      &.plush-comfort {
       
          .icon { background-position: 0 -295px; }
          &:hover { background-color: $purple; }
       
      }
      &.firm-comfort {
        
          .icon { background-position: 0 -314px; }
          &:hover { background-color: $green; }
        
      }
      &.pillowtop-comfort{
        
          .icon { background-position: 0 -277px; }
          &:hover { background-color: $orange; }
        
      } 
      
      }
      h5, .ctl-link {
        padding: .5em;
        margin:0;
        display: block;
        height:100%;
        background-color: $accentColor;
        color: $white;
      }
      img { width: 100%; }
    }
  }
  &.four-boxes {
    border: none;
    padding:0;
    width: 100%;
    ul li {
      width:23.2%;
      margin-left:2.4%;
    }
  } 
}
  
.pt_storefront {
  #homepage_slider {
    .jcarousel-next-horizontal, .jcarousel-prev-horizontal {
      display:none;
    }
    .paged-carousel {
      border: 1px solid  $gray;
      border-bottom: none;
    }
    .jcarousel-clip {
      line-height: 0;
    }
  }
  .titled-ctl-box {
    padding: 15px 0; 
    width: 100%;
    border-left: none;
    border-right: none; 
    ul {
      li {
        width:23.2%;
        margin-left:2.4%;
        h5 {
          
            background-color: $textColor;
            .icon {
              background: url('../images/sprites.png');
          
          }
          &.foam .icon { background-position: 0 -256px;}
          &.plush-comfort .icon { background-position: 0 -296px; }
          &.firm-comfort .icon { background-position: 0 -314px; }
          &.pillowtop-comfort .icon { background-position: 0 -277px; }
        }
        p, .ctl-link { display: none; }
      }
    }
  }
}
 
 
.mini-ctl-box {
  border-bottom:1px solid $gray;
  display:inline-block; 
  width: 100%; 
  padding-bottom: 15px;
  ul {
    margin:0;
    padding:0;
    li {
      width: 23.3%;
      float:left;
      margin: 0 0 0 2.2%;
      &:first-child {
        margin:0;
      }
      a {  
        span {
          font-size:16px;
          strong { color: $grayDark; }
        }
        img{ 
          float:right;
        }
        &.vertical {
          span{
            float:left;
            width: 40%;
          }
          img {
            width: 50%;
          }
        } 
      }
    }
  }
}
table.comparison { 
    border-top: 1px solid $grayLight;
    border-bottom: 1px solid $grayLight; 
    padding: 10px 0;
    display: block;
    td.table-icon {
       vertical-align:bottom;
       text-align:center;
    }
    td.productattribute {
      color:#fff;
    }
    tr.evenattributerow {
      td {
        background: $grayLighter;
        &.productattribute {
          background: $gray;
          } 
      }
    }
    tr.oddattributerow {
      td.productattribute {
        background: $grayLight;
      }
    }
    td.product {
      width:208px;
    }
    td.table-info {
      background: $grayDarker;
      color:#fff;
      font-size: 16px;
      a.icon {
        @include sprite;
        @include border-radius(16px);
        height:16px;
        width:16px; 
        background-position: -19px -147px; 
      }
    }
    td.add-to-cart {
      /*padding: 0 0 0 1em;
      button {
      background-color: $white!important;
      color: $accentColor!important;
      text-align:left;
      text-transform: none;
      font-size: 16px!important;
        &:after {
          content:""!important;
        }
      }*/
    .add-to-wishlist, .add-to-gift-registry { display: none; } 
    }
}

.html-tabs-container {
  .ui-tabs-nav {
    height:3.2em;
    li {
      a { font-size: 1.3em; }
    }
    &.ui-state-active a { color: $textColor; }
  }
  div.product-tabs div.tab-content  a.button { margin-top: 2em; }
  .jcarousel-container { margin-bottom: 10px; }
}

.promo-carousel {
  ul { 
    li {
      font-size: 14px; 
      border-right: 1px solid $grayLight;
      em { color: $accentColor; }
      img { 
        display: block;
        max-width:90%; 
        margin: 0; 
        padding: 10px;
        z-index: -1;
        width: auto;
        float: right;
      }
      span { padding: 0 10px 0 10px; display:block;}
    }
  }
}

div.product-review {
  span { 
    display: block;
    font-size: 12px;
    margin: 5px 0;
    }
  .product-review-title { font-size: 22px; font-weight:300;}
  .BVRRRatingNormalOutOf span {  display:inline;}
} 
 
.mini-ctas {
  div{ 
    width: 32%;
    margin-left: 2%;
    box-sizing:border-box;
    float: left;
    &:first-child, &.first { margin-left:0;}
    h5 {
      background-color: $accentColor;
      width: 100%;
      padding: 1em 0;
      color: $white;
      position:relative;
      text-align: center;
      text-transform: uppercase;
      font-size:14px;
      .icon {
        width: 55px;
        height: 34px;
        left: .5em;
        top: .2em;
        display:block;
        position:absolute;
        background-image: url('../images/sprites_vert.png');
      }
      &.cloud-on-blue .icon { background-position: 0 -48px; }
      &.chalk-board-on-blue .icon { background-position: 0 -97px; }
      &.heart-beat-on-blue .icon { background-position: 0 -148px;  }
    }
    a { color: $accentColor; } 
    } 
}

.expandable-adspace {
  position:relative;
  a img { max-width: 97%; } /*so img doesn't cover open/close icon*/
  a.adspace { 
    display: none; 
    img { max-width:100%;}
    }
  .icon {
    @include sprite;
    position:absolute;
    right:0;
    top: 16px;
    width: 16px;
    height: 17px;
    background-position: -19px -146px;
    &.close { background-position: 0px -146px }
    &:hover { cursor: pointer; }
  } 
}
      
.refine-module {
  width:95.6%;
  display:inline-block;
  float: none;
  padding: 1.5em;
  background: $grayLighter;
  h2 { margin: 0 0 1.5em; }
  div#refine-target{
    div.refField {
      width: 31.3%;
      float:left;
      margin: 0 0 15px 3%;
      display:inline-block;
      &.div-2{ margin-left: 0; } /*to do: figure out if this is ok*/
    }    
    a.button { display:block; clear:both; float:left;}
  }
  .dk_container {
    height: 60px;
    margin-top:8px;
    .dk_toggle {
      padding-top: 21px;
      width: 88%;
      background-color: $white!important;
    }
    .dk_label {
    color: $accentColor!important;
    background: url('../images/sprites_vert.png') no-repeat;
    padding: 0 0 0 60px;
    display: block; 
    }
  }
  #dk_container_comfort_zone {
    .dk_label {
    margin-top: -5px;
    }
    &.Zone5-UltraPlush .dk_label {  background-position: 0px -210px; }
    &.Zone4-Plush .dk_label { background-position: 0px -290px; }
    &.Zone3-Medium .dk_label {  background-position: 0px -370px; }
    &.Zone2-Firm .dk_label {  background-position: 0px -450px; }
    &.Zone1-ExtraFirm .dk_label { background-position: 0px -530px; }
  }
  #dk_container_mattress_type {
    .dk_label {
      background-position: 0px -370px;
      margin-top: -5px;
    }
    &.DC2 .dk_label { background-position: 0px -610px; }
    &.Foam .dk_label { background-position: 0px -850px; }
    &.Innerspring .dk_label { background-position: 0px -770px; }
    &.TEMPURMaterial .dk_label { background-position: 0px -610px; }
  }
  #dk_container_size {
    .dk_label {
      background-position: 0px -1290px; 
      padding: 10px 0 10px 60px;
      margin-top: -15px;
    }
    &.Queen .dk_label, &.SplitQueen .dk_label {background-position: 0px -1250px; }
    &.King .dk_label {background-position: 0px -1290px; }
    &.CalKing .dk_label {background-position: 0px -1330px; }
    &.Full .dk_label {background-position: 0px -1370px; }
    &.FullXL .dk_label {background-position: 0px -1410px; }
    &.Crib .dk_label {background-position: 0px -1450px; }
  }
}

.masonry-box {
  width: 100%; 
  padding: 0;
  li {
    float: left;
    margin: 10px 0;
    width: 460px;
    a {
      display: block;
    }
  }
}

.store-module {
  @include clearfix();
  margin: 34px 0 24px;
  h1,h2,h3,h4,h5,h6 {
    font-size: 24px;
    margin: 0 0 1em;
  }
  section {
    float:right;
    width: 300px;
    p:first-child {
      margin: 0 0 1em;
    }
    blockquote {
      font-size: 24px;
      line-height: 1em;
      margin: 0 0 .5em;
      padding: 0;
      &:before {
        content: '\201C';
      }
      &:after {
        content: '\201D';
      }
    }
  }
  figure {
    figcaption {
      padding: 12px 0;
      position: relative;
      text-align: center;
      width: 100%;
      strong {
        display: block;
        font-size: 18px;
        font-weight: normal;
      }
      em {
        font-weight: normal;
      }
    }
  }
  section:first-child {
    float: left;
    width: 620px;
    .column {
      float: left;
      width: 300px;
      &.first {
        margin: 0 20px 0 0;
      }
    }
  }
  .store-appt {
    h3 {
      background: $textColor;
      color: $white;
      font-size: 18px;
      margin: 0;
      padding: 14px 2px 14px 70px;
      position: relative;
      text-transform: capitalize;
      width:auto!important;
      span.pin {
        background: url('../images/sprites.png') no-repeat -123px -350px;
        display: block;
        position: absolute;
        top: -21px;
        left: 22px;
        width: 49px;
        height: 73px;
      }
    }
  }
  .findStoresModule {
    border: 1px solid $textColor;
    border-width: 0 1px 1px;
    padding: 20px;
    position: relative;
    .results {
      background:#fff;
      top: auto;
      left: 20px;
      bottom: -230px;
      position:absolute;
      height:250px;
      overflow:scroll;
      z-index:1000;
      box-shadow: 1px 1px 3px $textColor;
      display:none;
    }
    aside {
      color: $textColor;
      h5 {
        font-size: 16px;
        margin: 0 0 14px;
        a {
          color: $accentColor;
        }
      }
      a.button {
        display: inline-block;
        margin: 14px 0;
      }
      p {
        margin: 0;
      }
      .mini {
        display: none;
      }
    }
    fieldset {
      position: relative;
      input[type="submit"] {
        position:absolute;
        top:0;
        left:0;
        padding: 16px 10px;
        width: 8px;
        height: 14px;
        border: none;
        text-indent: -9999px;
        background: transparent;
      }
      input[type="text"] {
        @include sprite;
        background-position: -151px -67px;
        text-indent: 0; 
        margin: 0;  
        padding: 8px 0 8px 30px;
        color: #aaa;
      }
    }
  }
}

.bragasset {
  img { 
  float:left; 
  margin: .4em 1em .4em 0;
  max-width: 140px;
  width: 140px; 
  }
  p { margin: 1em; }
}
/*
* widget styles are in contentsearchresult.scss
*/

.mattressfinder-module {
  position: relative;
  border:1px solid $grayLighter;
  padding: 2%;
  width: 80%;
  margin: 0 auto;
  font-family: $headingsFontFamily;
  h3 {
    text-transform: uppercase;
    margin: 0 0 15px;
    font-size: 1.7em;
    strong {
      font-weight: normal;
      color: $accentColor;
    }
  }
  #mf-target { 
    width: 96%;
    padding: 2% 2% 6%;
    .errordisplay {
      background: $accentColor;
      color: white;
      padding: 5px;
      position: absolute;
      right: 0;
      bottom: -15px;
    }
  }
  .mf-step {
    display: none;
    @include border-radius(20px);
    margin: 0 0 55px;
    .innerStep { 
      @include border-radius(20px);
      padding: 2%;
      background-color: $grayLighter;
      mark + span {
        margin: 7px 40px;
        display: block;
      }
    }
  }
  .count {
    font-weight: bold;
    margin: 0 0 15px;
    font-size: 1.3em;
  }
  .active {
    display: block;
  }
  .button {
    display: inline-block;
    @include border-radius(2px);
    &:after {
      content: '';
    }
  }
  mark {
    background: $accentColor;
    color: #fff;
    @include border-radius(19px);
    padding: 6px 10px;
    position: absolute;
  }
  .buttons { 
    @include clearfix();
    @include border-radius(20px);
    background-color: $grayLighter;
    position: absolute;
    bottom: 4%;
    padding: 1%;
    right: 4%;
    width: 90%;
    .prev {
      float: left;
    }
    .next {
      float: right;
    }
  }
  .zipLine {
    @include clearfix();
    padding: 0 0 0 32px;
  }
  ul {
    padding: 0 0 0 32px;
    &.price, &.size {
      li {
        display: inline-block;
        a {
          display: inline-block;
          font-size: 18px;
          padding: 14px;
          border: 1px solid #dedede;
        }
        
      }
    }
    &.size {
      li { display: none; }
      li.CalKing,  li.Full, li.FullXL, li.King, li.Queen,  li.SplitQueen,  li.Twin, li.TwinXL { display: inline-block;}
    }
    &.foundation li a span.icon span em {
      height:30px;
    }
    &.dw_mattress_type {
      li { 
        display: none; 
        a span.icon span em { 
          background: url("../images/sprites.png");
        }
      }
      li.Plush,  li.SpecialtyFoam, li.Firm, li.PillowTop { display: block;}
    }
    li {
      &.selected a {
        background: #ccc !important;
      }
      a {
        display: block;
        padding: 4px;
        margin: 12px 0;
        @include border-radius(4px);
        @include clearfix();
        input, span {
          float: left;
        }
        span {
          display: inline-block;
          strong {
            display: block;
          }
          &.desc {
            margin: 0 0 0 12px;
            width:500px;
          }
          &.icon {
            background: $accentColor;
            display: table;
            height: 70px;
            @include border-radius(4px);
            text-align: center;
            width: 70px;
            span {
              display: table-cell;
              float: none;
              vertical-align: middle;
              em {
                background: url("../images/sprites_vert.png") no-repeat;
                display: inline-block;
                height: 15px;
                width: 54px;
              }
            }
          }
        }
        &:hover {
          background: #ddd;
        }
      }
      &.Firm a span.icon,
      &.Zone1-ExtraFirm a span.icon {
        background: $green;
        em {
          background-position: 0 -314px!important; 
        }
      }
       &.Zone2-Firm a span.icon {
         background: $purple;
        em {
          background-position: 0 -450px;  
        }
      }
       &.Zone3-Medium a span.icon {
         background: $orange;
        em {
          background-position: 0 -370px;  
        }
      }
       &.Plush a span.icon,
       &.Zone4-Plush a span.icon {
         background: $purple;
        em {
          background-position: 0 -296px!important;
        }
      }
       &.Zone5-UltraPlush a span.icon {
         background: $yellow;
        em {
          background-position: 0 -210px;  
        }
      }
      &.DC2 a span.icon {
        em {
          background-position: 0 -630px;  
        }
      }
      &.SpecialtyFoam a span.icon,
      &.Foam a span.icon {
        background: $blue;
        em {
          background-position: 0 -256px!important;  
        }
      }
      &.PillowTop a span.icon {
        background: $orange;
        em {
          background-position: 0 -277px!important;
        }
      }
      &.Innerspring a span.icon {
        em {
          background-position: 0 -790px;  
        }
      }
      &.TEMPURMaterial a span.icon {
        em {
          background-position: 0 -630px;  
        }
      }
      &.LowProfileBoxSpring a span.icon{
        em {
          background-position: 0 -1750px;
        }
      }
      &.LowProfileSplitBoxSpring a span.icon{
        em {
          background-position: 0 -1720px;
        }
      }
      &.StandardBoxspring a span.icon{
        em {
          background-position: 0 -1818px;
        }
      }
      &.StandardSplitBoxSpring a span.icon  {
        em {
          background-position: 0 -1780px;
        }
      }
      &.Adjustable a span.icon  {
        em {
          height: 40px!important;
          background-position: 0 -1850px;
        }
      }
      &.MattressOnly a span.icon  {
        em {
          background-position: 0 -1690px;
        }
      }
    }
  }
}
