/* Amplience PDP Viewer */
.amp-hidden {
  display: none;
}
.amp-slide {
  list-style: none;
  display: block;
  position: absolute;
  overflow: hidden;
  float: left;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  /*
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  */
}
.amp-progress {
  position: absolute;
  top: 0;
  opacity: 0.5;
  width: 10%;
  height: 100%;
  background-color: white;
  z-index: 100;
}
.amp-frame,
.amp-layer,
.amp-zoomed-container {
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.amp-zoom,
.amp-zoomed,
.amp-zoomed-container {
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -o-user-select: none;
}
.amp-frame img,
.amp-layer img {
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.amp-main-img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.amp-layer {
  list-style: none;
  overflow: hidden;
  display: block;
  padding: 0;
  margin: 0;
}
.amp-stack,
.amp-carousel,
.amp-spin {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: relative;
}
.amp-loading {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  background: url('assets/image/loading.gif') no-repeat center;
}
.amp-zoom {
  position: relative;
  max-width: 100%;
}
.amp-zoom-img {
  z-index: 10;
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.amp-zoom-overflow {
  position: relative;
  overflow: hidden;
}
.amp-zoom-lens {
  cursor: pointer;
  top: 0;
  left: 0;
  position: absolute;
  background: url('assets/image/spacer.gif');
  border: 1px solid #ccc;
  display: none;
}
.amp-zoom-container {
  position: relative;
  overflow: hidden;
}
.amp-zoom-container img {
  display: block;
}
.amp-zoom-map {
  position: relative;
}
.amp-zoom-wrapper {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.amp-zoom-map {
  position: relative;
  z-index: 9999;
}
.amp-zoom-map img {
  display: block;
}
.amp-progress-indicator {
  position: absolute;
  width: 400px;
  height: 100px;
  background: #686868;
  border: 1px solid #252525;
  zoom: 1;
  filter: alpha(opacity=60);
  opacity: 0.6;
  z-index: 101;
}
.amp-progress-indicator .amp-progress-message {
  padding: 15px;
  color: #ffffff;
  text-align: left;
}
.amp-progress-indicator .amp-progress-bar-background {
  position: absolute;
  height: 30px;
  width: 350px;
  background: #ffffff;
  margin: 0 15px;
}
.amp-progress-indicator .amp-progress-bar {
  position: absolute;
  height: 30px;
  width: 0;
  background: #a9a9a9;
}
.amp-zoomed {
  display: block;
  position: absolute!important;
  max-width: none!important;
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  max-height: none!important;
}

#amplience-nav .amp-slide{
    width:12.5%;
    height:80px;
    border:1px solid #ccc;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background:#fff;
}

#amplience-nav img{
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
}

#zoom-box {
    height: 500px;
    width: 400px;
    position: absolute;
    right: -450px;
    top:0;
    border: 1px solid #999;
    display:none;
    margin-right: 40px;
}