/* checkout */
/* ------------------------------------- */
.pt_checkout {
  input[type="text"] {
    width:100%; /* clean this up so page can be set up properly */
    padding:0; /* zero out this so page can be set up properly */
    text-indent:8px;
    font-size:1.2em;
    height:33px;
    box-sizing:border-box;
    &.error {
    	border-color:#ff0000; 
    }
  } 
  #cexcg {
    width:45%;
    float:right;
    color:$grayDarker; 
    margin-bottom:20px; 
    label {
      text-transform:none;
      font-size:1.2em;
      font-weight:bold;
    }
    .terms-and-privacy {
      margin-top:15px;
    }
    a {
      color:$red;
    }
    .form-row {
      margin-bottom: 0;
    }
    .error-display {
      font-size:1.2em;
      color:$red;
      font-weight:bold;
      &.hidden {
        display:none;
      }
    } 
  }
  .order-summary-footer {
    .col1 {
      width:63%;
      float:left;
      .delivery-msg {
        padding:30px 0 0 30px;
        font-size:1.5em;
      }
      .delivery-date {
        font-size:1.5em;
        font-weight:bold;
        padding:5px 0 0 30px;
        color: $greenHighlight;
        .warning {
          text-transform:uppercase;
          color:$red;
        }
      }
    }
    .col2 {
      width:35%;
      float:right;
      .place-order-totals {
      }
    }
  }
  .cart-table-container {
  	background-color: $white;
  	border-radius: 5px;
  	padding: 0 30px;
  	tr.cart-table-product-row {
  	  border-top: 1px solid $graySoft;
  	}
  	tr.cart-table-product-first {
  border: none;
  	}
  }   
   #cart-table {
   	 background-color: $white;
   	 thead {
   	   color: $black;
   	   font-size: 1.1em;
   	   text-transform: uppercase;
   	   border-bottom: 1px solid $gray;
   	 }
   	 th.section-header {
   	   font-weight: bold;
   	   padding: 20px 1em 15px;
   	 }
     tbody {
       font-size: 1.2em;
       td {
         &.item-total {
           padding-right:20px;
         }
       }
     }
     .delivery-row {
   	   background-color: $white;
     }
     td.item-details .product-list-item .name {
       font-weight: bold;
       a {
	     color: $black;
       }
     }
     td.item-details .product-list-item .value {
       font-weight: normal;
     }
     .price-sales {
       color: $greenSalesPrice;
     }
     .price-standard {
     	text-decoration: line-through;
     }
     .item-price span {
     	display: block;
     }
   }
   input[type="checkbox"] { 
     width:18px;
     height:18px;
   }
   label {
     display:inline-block; /* make inline block so block only goes as wide as label */
     width:auto; /* override any bogus widths */
   }
   .dk_toggle {
     height:23px;
   }
   .primary-content {
     &.review {
       width: 100%;
     }
     .customer-info {
       padding-right:70px;
       background-color: $white;
       padding: 0 0 5px 35px;
       border-radius: 5px;
       margin-bottom: 20px;
       .delivery-schedule-box {
         position:relative;
       	 min-height:165px;
       	 margin:0 0 10px 0;
       	 width:609px;
       	 outline: none;
       	 .preferred-contact {
       	   width:150px;
       	   .dk_toggle {
       	     width:100px;
       	   }
       	 }
       }
       
       .billing-info {
       		position:relative;
       }
     }
     width: 68.7%;
     
     legend {
       overflow:hidden;
       padding:20px 0 20px 0;
       margin:0;
       font-size: 3em;
       font-weight: 700;
       text-transform: capitalize;
       color: $blueBabyDarker;
       &.first {
         padding:30px 0 20px 0;
       }
       &.delivery-sched-button {
         background: #333333;
         padding: 5px 0 5px 10px;
         width: 155px;
         color: $white;
         font-size: 1.4em;
         margin: 20px 0;
         &.hidden {
           display:none;
         }
       }
        span {
          float:left;
          right:0;
          position:relative;
          text-transform:uppercase;
           &.label {
             font-size:0.4em;
             color:$red;
             padding-left:15px;
             width:200px;
           }
        } 
     }
     .customer-info {
       .form-row {
         margin-top: 0px;
         margin-bottom: 25px;
         max-width: 571px;
         &.email-list {
           label {
             width:90%;
             font-size: 1.2em;
           }
         }
       }
     }
   }
   .form-inline {
     .dk_container {
       display:block;
       margin-top: -1px;
     }
     .city {
       .dk_toggle {
         width:118px;
       }
     }
     &.two-fields {
       .form-row {
         width:47%;
         max-width: 270px; 
         &.one {
           margin-right:5%;
         }
         &.two {
           margin-right:0;
         }
         &.card-number {
           width:254px;
         }
         &.cc-type {
           width:243px;
           overflow:hidden;
         }
         &.hidden { 
	     	display:none;
	      }
       }
     }
     &.three-fields {
       >.form-row {
         width:29.5%;
         
         &.hidden { 
	     	display:none;
	     }
	     &.one, &.two {
           margin-right:3%;
         }
         &.three {
           margin-right:0%;
         }
         &.month {
           width:204px;
           .dk_toggle {
             width:163px;
             height:23px;
           }
         }
         &.year {
           width:113px;
           .dk_toggle {
             width:75px;
           }
         }
         &.cvn {
           width:104px;
         }
	     &.city-col {
			width: 182px;
			margin: 0 15px 0 0;
			
			.dk_container {
				display:block;
				margin:0;
				
				a.dk_toggle {
					width:140px;
				}
				.dk_options {
					z-index:99;
					
					.dk_options_inner {
						left:0;
					}
				}
			}
	     }
	     &.city-text-col {
	       width:181px;
	     }
	     &.state-col {
	     	display: inline-block;
			margin: 0;
			width: 160px;
			
			.dk_container {
				display:inline-block;
				
				a.dk_toggle {
					width:121px;
				}
				
				.dk_options {
					z-index:99;
					
					.dk_options_inner {
						left:0;
					}
				}
			}
	     }
       }
       .form-field-tooltip {
         float:left;
         margin: 26px 0 0 10px;
       }
     }
   }
   .addresswrapper {
     &.goldborder {
       .zip-refresh {
        left: 152px;
       }
       .form-inline {
         &.three-fields {
           .form-row {
             &.city-col {
               width:162px;
               margin-right:14px;
               a {
                 &.dk_toggle {
                   width:120px;
                 }
               }
             }
             &.state-col {
               width:154px;
               a {
                 &.dk_toggle {
                   width:113px;
                 }
               }
             }
           }
         }
       }
     }
   }
   .goldborder {
     .dk_toggle {
       width:107px;
     }
     border:3px $orangeNeon solid;
     padding:20px 20px 0 20px;
     border-radius: 8px 8px 0px 0px;
     .form-inline {
       &.two-fields {
         .one {
           margin-right:5%;
         }
       }
     }
   }
   #addressSuggestion {
     border: 3px $orangeNeon solid;
     border-radius: 0px 0px 8px 8px;
     background-color: $orangeNeon;
     margin-bottom: 25px;
     padding-bottom: 10px;
     overflow:hidden;
     .suggested {
       padding: 20px 20px 15px 25px;
       font-size: 1.4em;
       font-weight: bold;
       font-style: italic;
       text-transform: uppercase;
       color: $blueDarkest;
     }
     .suggested-address {
       padding: 0px 20px 0px 25px;
       font-size: 1.8em;
       color: $black;
     }
     .col-1 {
       float: none;
       width:50%;
     }
     .col-2 {
       width:100%;
       float: none;
       margin-top:20px;
       padding-left: 15px;
     }
     .address-suggestion {
       display:inline-block;
       background-color:$blueDarkest;
       margin:10px;
       border-radius:10px;
       padding:8px 22px;
       font-size:1.2em;
       font-weight: bold;
       color:white;
       letter-spacing:0;
       text-transform:uppercase;
       &:hover {
         color:black;
       }
       &#keep-current {
         background-color:$blueBaby;
         color:$white;
         border:1px $gray solid;
         &:hover {
           color:$red;
         }
       }
     }
   }
   .use-as-billing {
     color: $blueBabyDarker;
     margin-top: 10px;
     label {
    	font-weight: bold !important;
    	font-style: italic;
    	font-size: 1.3em !important;
     	text-transform: capitalize !important;
     }
   }
   .form-row {
     margin-bottom:25px;
     margin-top:0px;
     label {
       font-size:1em;
       font-weight: 300;
       text-transform:uppercase;
       padding: 0 0 5px 0;
     }
     &.email-input {
       margin-bottom: 25px !important;
     }
     &.email-list {
       label {
       	 text-transform:none;
       	 font-size: 1.2em;
       }
     }
     
     &.hidden { 
     	display:none;
      }
   }
   .currently-chosen {
     display:none;
     background-color: $blueDarkest;
     padding-top:25px;
     text-align:center;
     font-size:1.2em;
     font-weight: bold;
     color:$white;
     text-transform:uppercase;
     &.visible {
       display:block;
     }
     .chosen-time {
       color:$orangeNeon;
       font-size:1.3em;
       text-align:center;
       padding:15px 0 25px;
       text-transform:none;
     }
   }
   .or-bar {
   	 margin: 40px 0 30px 0;
     background:url("../images/or-bar.gif") no-repeat top;
     width: 100%;
     height: 12px;
   }
   .with-rep {
     label {
       width: auto;
       margin-top: 0px;
       padding: 0 10px;
       color: $blueBabyDarker;
       text-transform:capitalize;
       font-weight: bold;
       font-size: 1.3em;
       font-style: italic;
     }
     #withRep {
       display: inline-block;
       float: left;
       margin: 1px;
     }
   }
   .delivery-schedule-box {
     .sales-rep-content {
       margin: 0 0 30px 0;
       font-size: 1.2em;
     }
     .preferred-contact {
       display:none;
       &.visible {
         display:block;
       }
     }
   }
   .sched-delivery {
     height:79px;
     .content-asset {
       display:inline-block;
       font-size: 1.1em;
       width:565px;
       padding: 12px 0 0 0;
       @include clearfix();
     }
     .chosen-week {
       display:inline-block;
       width:40px;
       height:79px;
       float:right;
       margin:0 3px 0 0;
       box-sizing:border-box;
       &.right-left {
	     background:url("../images/right-left-arrow.gif") no-repeat top;
	     &:hover {
	       cursor:pointer;
	     }
	   }
       &.left-right {
         background:url("../images/left-right-arrow.gif") no-repeat top;
	     &:hover {
	       cursor:pointer;
	     }
	   }	   
     }
     .delivery-message {
       display:inline-block;
       float:left;
     }
   }
   .schedule {
	  /*margin-bottom:40px;*/
	  color:$black;
	  display:none;
	  &.selected {
	    display:block;
	  }
     .sched-date {
       display:inline-block;
       float:left;
       width:100px;
  	   border-top:1px $gray solid;
       border-right:1px $gray solid;
       background-color:$white;
       .header {
         padding: 17px 0;
         border-bottom:1px $gray solid;
         &.selected {
           background-color: $blueDarkest;
           color: $orangeNeon;
           border-radius: 8px;
         }
       }
       .month-day {
         font-size:1.5em;
         font-weight:700;
         text-transform:uppercase;
         text-align:center;
       }
       .weekday {
         font-size:1em;
         font-weight: bold;
         text-transform:uppercase;
         text-align:center;
       }
       &.first {
         border-left:1px $gray solid;
       }
     }
     .head {
       @include clearfix();
     }
     .selected-date {
     	.time-slot {
     		background-color: $white;
     	}
     }
     .time-slot {
       box-sizing: border-box;
       text-align:center;
       border-bottom:1px $gray solid;
       border-top:2px $white solid;
       height:45px;
       padding:13px 0 0 0;
       background-color: $grayLighter;
       &:hover {
         border: 2px $orangeNeon solid;
         cursor: pointer;
       }
       &.selected {
         background-color: $orangeNeon;
         color: $blueDarkest;
         border: 1px $orangeNeon solid;
         font-weight: bold;
       }
       &.full {
         border-bottom:1px $white solid;
         border-top:none;
         border-left:none;
         border-right:none;
         background-color:$grayLight;
         &:hover {
         	background-color:$grayLight;
         	color:$black;
	        cursor: default;
         }
       }
     }
   }
   .dk_container {
     font-size:1.2em;
   }
   .progress-bar {
     margin:27px 0 10px 0;
     position: relative;
     .step {
       display:inline-block;
       margin: 20px 5% 20px 5%;
       padding:20px 0 20px 0;
       font-size:1.3em;
       font-weight:700;
       color: $blueDarkest;
       width:14.6%;
       text-align:center;
       text-transform:uppercase;
       a {
         color: $black;
         &:hover {
           color: $white;
         }
       }
       &.fulfilled {
         a {
           color:$white;
           &:hover {
             color:$black;
           }
         }
         opacity:0.7;
       }
       &.selected {
         color: $white;
         background-color: $blueDarkest;
         margin-top: 10px; 
         padding:30px 0 30px 0;
         border-radius: 10px;
         a {
           color: $white;
           &:hover {
             color:$white;
           }
         }
       }
     }
   }
   .progress-bar-background {
     width: 100%; 
     position: absolute; 
     background-color: $blueBaby; 
     z-index: -1; 
     top: 20px; 
     height: 59px;
     border-radius: 10px;
   }
  #secondary {
    width: 29%;
    max-width: 283px;
    border-radius: 5px;
    &.summary {
    	position:relative;
    }
    
    h3 {
      font-size: 1.1em;
  	  text-transform: uppercase;
  	  margin: 0px;
  	  padding: 30px 20px 15px;
	  font-weight: bold;
	  color: $black;
	  a {
       font-size: 1.1em;
       font-style: italic;
 	   float:right;
	   color: $blueBabyDarker;
	   text-transform: capitalize;
	  }
	}
	
	.checkout-summary-container {
		border-radius: 5px;
		background-color: $white;
		margin-bottom: 20px;
		.mini-shipment .details,
		.mini-billing-address .details,
		.mini-payment-instrument .details {
			background-color: $white;
		}
	}
  }
  .mini-shipment, .mini-billing-address, .mini-payment-instrument{
    .details {
      font-size:1.2em;
      color: $black;
      background-color:$grayLightMid;
      padding: 20px;
      border-radius: 5px;
    }
  }
  .checkout-order-totals {
  }
  .mini-billing-address, .mini-payment-instrument {
    margin-top:20px;
  }
    span.error {
    margin: 2px 0;
  }
    .zip-city-state {
    position: relative;
  }
  #delivery-schedule-button {
    padding: 9px 15px;
    font-size: 1.1em;
  }
}
.checkout-progress-indicator{
  background-color: $gray;
  display: block; 
  overflow: hidden; 
  font-size: 14px; 
  margin:15px 0;
  div{
    float:left;
    width: 22%;
    color: $white;
    padding: .5em;
    position:relative;
    text-align: center;
    span { 
    z-index: 2;
    position: relative;
    }
    &.active {  
      background: $grayDarker;
      a {
        color: $white;
      }
    }
    &.inactive {   
    }
    &.step-4{
      padding-right:0;
    }
    &::after {
      content:"";
      position:absolute;
      right:-15px;
      top:0;
      height:100%;
      width: 37px;
      overflow:hidden;
      border-right:4px solid white;
      border-bottom:4px solid white;
      @include rotate(-45deg);
      z-index:1;
    }
    &.active::after {
      background: $grayDarker;
    }
    &.completed::after {
      background: $gray;
    }
  }
}
.select-address{
  display:block;
  margin:15px 0;
  padding:0;
  clear:both;
}
.shipping-method{
  padding:22px 0 0 28%;
  label{display:inline;float:none !important;padding-right:5px !important;}
  .shipping-description{display:inline;}
}

.checkout-shipping, .checkout-billing, .summary-container {
	button, a.button {
		background-color: $black;
		radius: 0;
		font-size: 1.6em;
		font-weight: bold;
		padding: 13px 45px;
		letter-spacing: 0;
	}
}

.redemption{
  color:#990000;
  span.error{margin-left:0;}
}

.payment-method-options{
  padding-left:24%;
  .form-row{clear:none;float:left;width:30%;}
  label{width:auto;}
}

.payment-method{
  clear:both;
  display:none;
  .cvn-tip a {
  	color: $blueBabyDarker;
  	font-size: 1.3em;
  	font-weight: bold;
  	font-style: italic;
  }
}
.payment-method-expanded{display:block;}

.delivery-dates {
  &.hidden {
    display:none;
  }
  ul {
    padding:0;
    li {
      float:left;
      width:40px;
      padding: 5px;
      background: $gray;
      text-align:center;
      &:hover {
        background: $accentColor; 
        a { color: white; }
      }
      a { color: white; }
      span {
        clear:both;
        width: 100%;
      }
      .month {
        font-size: 14px;
      }
      .day {
        font-size:22px;
      }
    }
  }
}

.month .form-caption{margin-left:0;}
#dk_container_dwfrm_billing_paymentMethods_creditCard_type {
  float:left;
}

.saved-shipping-address-for-billing {
  margin: 20px;
}

.bml-terms-and-conditions{border:1px solid #AAAAAA;font-size:0.8em;height:400px;overflow:auto;padding:1em;}
.bml-table-col-1{width:25%;}

.checkout-mini-cart{ 
  .mini-scroll {
    max-height:345px;
    overflow-y: auto;
    background-color: $orangeNeon;
    padding-top:20px;
    border-radius: 5px;
  }
  .mini-cart-image {
    display:none;
  }
  .mini-cart-product { 
    padding:0 20px 20px 20px;
    color: $blueDarkest;
     a {
     	color: $blueDarkest;
     }
    .mini-cart-name { 
     font-size: 1.3em;
     font-weight:bold;
     padding-bottom:10px;
    }
	.mini-cart-attributes {
	  display:block;
	  padding-bottom:10px;
	  font-size: 1.2em;
	}
    .mini-cart-pricing { 
      font-size:1.2em;
      .mini-cart-price { float:right;}
    }
  }
}
.order-totals-table {
  padding: 20px; 
  border-collapse:separate;
  tbody { 
    tr {
      margin:0;
      padding:0;
      &.order-total {
        font-weight:700;
      }
    }
    td {
      &.amount {
        text-align:right;
      }
      padding: 0.3em 0;
      font-size: 1.2em;
    }
  }
}
.order-component-block {
  .name { 
    margin: 1.15em 0 0;
    padding: 1.15em 0 0;
    display: none;
  }
  .details {
    padding: 1.15em .5em;
  }
}

/*hide edit billing so you can't skip ahead per carl */
.mini-billing-address, .mini-payment-instrument {
  h3 a.section-header-note  { display: none; }
}

.place-order-totals{
  clear:both;
}
.line-break {
  &.gold {
  	border-bottom:2px solid $gold;
  	margin:40px 0 20px 0;
  }
  &.gray {
  	border-bottom:2px solid $gray;
  	margin:40px 0 40px 0;
  }  
}
.pt_order-confirmation {
  div {
    &#primary {
      &.primary-content {      
        width:100%;
        legend {
          width:auto;
          float:left;
        }
        .print-page {
          float:right;
          padding-top:20px;
          color:$red;
          &:hover {
            color:$black;
          }
          .print-text {
            float:left;
            text-transform:uppercase;
            display: none;
          }
          .print-icon {
            background:url('../images/print.gif') no-repeat right top;
            width:61px;
            height:19px;
            display:inline-block;
            float:left;
            margin-right:10px;
          }
        }
        .order-confirmation-details {
          font-size:2.4em;
          font-weight: bold;
          color: $blueBabyDarker;
          .order-no {
            color: $black;
          }
        }
        .email-confirmation {
          font-size:1.2em;
          margin:40px 0 0 0;
          .email {
          }
        }
        .confirmation-message {
          margin-top:40px;
          border-top:1px $grayLight solid;
          box-sizing:border-box;
          padding:37px 0 0;
          font-size: 1.1em;
          font-style: italic;
        }
      }
    }
    .order-confirmation-container {
    	background-color: $white;
    	border-radius: 5px;
    	padding: 40px 35px 60px;
    }
  }
  .order-shipment-table{
    margin:0 0 20px;
    .order-shipment-details{
      border-left:1px solid #E0E0E0;
      width:230px;
    }
  }
  .content-header {
    display:none;
  }
}
.credit-safe {
  background: $grayLighter url('../images/lock.png') no-repeat 1em;
  p{ margin-left: 50px;}
}
.agent-delivery-call {
  font-size:1.3em;
  font-weight: bold;
  margin: 0 0 35px 0;
  text-align:center;
  background-color: $blueMedium;
  color: $white;
  box-sizing:border-box;
  padding:0px 25px;
  p {
    text-align:left;
    margin: 40px 0;
  }
}

.order-detail-options{
  margin:20px 0 0;
  padding:20px 0 0;
  text-align:right;
  a{margin:0 10px;}
}
 
.summary .edit {position: absolute;text-transform: uppercase;right: 10px;font-size: 0.9em;line-height: 1.5em;}
 
.order-shipment-details {
  .shipping-method { padding-left:0px;}
  .label { position:absolute;width:150px;text-align:right;font-weight:bold}
  .value { margin-left:155px;}
  .order-shipment-address { width:240px;}
}

.order-shipment-gift-message-header {font-weight: bold;font-size: 1.2em;padding-bottom: 0px;}
.order-shipment-gift-message {font-size: 1.1em;}

.cc-type {
  #dk_container_dwfrm_billing_paymentMethods_creditCard_type { display: none !important; }

  .card-indicator {
    display: block;
    height: 33px;
    width: 242px;
    overflow: hidden;
    float:right;
    margin-top:20px;
    background: transparent url('../images/card_icons.gif') no-repeat 0 0;
  }
  &.cc-visa .card-indicator {
    background-position: 0 -40px;
  }
  &.cc-master .card-indicator {
    background-position: 0 -80px;
  }
  &.cc-amex .card-indicator {
    background-position: 0 -120px;
  }
  &.cc-discover .card-indicator {
    background-position: 0 -160px;
  }
}

/*** REVIEW ***/
.summary-container {
  
  float: left;
  margin-top: 20px;
  
  .summary-content-left {
  	float: left;
  	width: 61%;
  }
  
  .summary-content-right {
  	float: right;
  	width: 37%;
  	background-color: $white;
  	border-radius: 5px;
  	box-sizing: border-box;
  	padding: 5px 15px 30px 15px;
  }
  
  .place-order-totals {
  	padding-right: 30px;
  }
  
  .col1, .col2 {
  	width: 100% !important;
  	float: left !important;
  }
  
  #cexcg, .submit-order {
	float: left;
	width: 100%;
	box-sizing: border-box;
	padding-left: 20px;
	a {
  	  font-weight: bold;
    }
	.label-inline {
	  
	  input, label {
	  	float: none;
	  	display: inline;
	  	vertical-align: baseline;
	  	font-size: 1.1em;
	    font-weight: normal !important;
	  }
	}
	
	.terms-and-privacy {
	  font-size: 1.1em;
	  a {
	    color: $blueBabyDarker;
	    font-weight: bold;
	  }
	}
	
  }
  
     
  
}

#checkout-review {
  background-color: $white;
  border-radius: 5px;
  padding: 5px 0 30px 30px;
  float: left;
  
  legend {
  	font-size: 3em;
  	font-weight: bold;
  }
  
  a {
  	color: $blueBabyDarker;
  	font-style: italic; 
    font-size:0.4em;
    padding-left:10px;
  }
  
  .content {
  	font-size: 1.2em;
  	color: $black;
  }
    
  .header {
  	font-size: 1.2em;
  	font-weight: bold;
  	padding-bottom: 20px;
  	color: $black;
  }
  
  .email {
  	margin-bottom: 0;
  }

  .info-left {
    width:48%;
    float:left;
    margin-right:5px;
  }

  .info-right {
    width:48%;
    float:right;
    margin-right:5px;
  }
}

.privacyp {
  font-size: 1.2em;
  position: absolute;
  top: 1px;
  left: 485px;
  text-decoration: underline;
}

.zip-refresh {
  background: url("../images/refresh-icon-grey.png") no-repeat right top;
  background-size: 33px 33px;
  width: 33px;
  height: 33px;
  position: absolute;
  left: 165px;
  top: 22px;
    &.active {
    background: url("../images/refresh-icon.png") no-repeat right top;
    background-size: 33px 33px;
    width: 33px;
    height: 33px;
    position: absolute;
    left: 165px;
    top: 22px;
   }
}

//Zipcode styling to make zip-refresh icon fit on shipping pg//
input#dwfrm_singleshipping_shippingAddress_addressFields_zip {
  width: 85%;
}

#delivery-dates-container {
  display:none;
}

.error-modal {
  height: 105px !important;
}
