/* header components */
/* ------------------------------------- */
.debug { display:none;} 
.header-promo {
  background-color:$orangeNeon;
  color:$white;
  width:100%;
  text-align:center;
  font-size:1.4em;
  font-weight:bold;
  font-style:italic;
  padding:15px 0 26px 0;
  p {
    margin: 0;
    a {
      color: $orangeNeon;
    }
  }
}
.header-promo-tag {
  position:absolute;
  top:49px;
  left:50%;
  z-index:2;
}
.image-green-tag {
  // @include spriteGreenTag;
}
#header{ 
  background-color:$grayDarkest;
  font-weight:400;
  .primary-logo{
    float:left;
    margin: 0 0 15px;
    a {
      display:block;
    }
    span{
      display: none;
    }
  } 
  .header-nav {
    height:70px;
    // background-color: $white;
  
    .wrapper {
      position:relative;
      // background-color:$grayLighter;
      height:70px;
      .header-nav-left {
        display:inline-block;
        float:left;
        width:27.5%;
        height:70px;
        // background-color:$white;
        -webkit-border-top-right-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;
        -moz-border-radius-topright: 10px;
        -moz-border-radius-bottomright: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        .mt-logo {
          padding: 20px 0;
          span {
            visibility: hidden;
          }
        }
      }
      .header-nav-right {
        box-sizing:border-box;
        display:inline-block;
        float:right;
        width:71%;
        height:70px;
        // background-color:$white; 
        -webkit-border-top-left-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-bottomleft: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-left:10px;
      }
    }
  }
  .header-customer-info {
    height: 113px;
    
    .header-left {
      display:inline-block;
      overflow:hidden;
      float:left;
      width:581px;
      padding-top:38px;
      .header-topic {
        display:inline-block;
        float:left;
        margin:0px 30px 20px 0;
        span {
          display:inline-block;
          padding:5px 0 0 0;
          margin:0;
          &, a {
            font-weight:bold;
            text-transform:uppercase;
            color:$blue;
          }
          a:hover {
            color:$blueDark;
          }
        }
        .image-mouse {
          @include spriteTruck;        
        }
        .image-chat {
          @include spriteChat;        
        }
        .image-phone{
          @include spritePhone;        
        }
        .description {
          font-size:1.1em;
          margin-top:5px;
          &, a {
            color:$grayDark;
          }
          a:hover {
            color:$linkColor;
          }
        }
      }
    }
    .header-right {
      display:inline-block;
      width:421px;
      float:right;
      padding-top:10px;
      input:focus,
      select:focus,
      textarea:focus,
      button:focus {
        outline: none;
      }
      .customer-zone {
        padding-top:7px;
        float:right;
        display:inline-block;
        position:relative;
        .customer-zip {
          padding-left:2px;
        }
        input {
          top: -1px;
          position: relative;
          width:95px;
          line-height: normal;
          height: auto;
          font-size:12px;
          border-top:none;
          border-left:none;
          border-right:none;
          background: transparent;
          &.invalidZip {
            color: $red;
            border-color: $red;
          }
        }
      }
      .header-login {
        padding:7px 0px 0px 20px;
        float:right;
        display:inline-block;
        a {
          padding-left:8px;
        }
      }
      .header-search{ 
        float:right;
        margin-right:40px;
        width:180px;
        padding-top:24px;
        input[type="text"]{
          position:relative;
          background-color:#0071a7;
          -webkit-border-radius:20px;
          -moz-border-radius:20px;
          border-radius:20px;
          line-height:30px;
          height:30px;
          color: $white;
        }
        .underline-bar {
          position:absolute;
          top: 24px;
          left: 10px;
          width: 140px;
          border-bottom:1px $white solid;
        }
        input[type="submit"] {
          @include spriteMagnify;
          position:absolute;
          top:0;
          right:-6px;
        }
        legend { background: none; }
      }
      .mini-cart {
        float: right;
        margin: 0;
        z-index: 7000; 
        display:inline;
        position:relative;
        padding-top:24px;
        .mini-cart-total {
          background-color:$orangeNeon;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          border-radius: 20px;
          padding: 0 15px 0 0;
          color: $white;
          height:30px;
          a.mini-cart-link  {
            color: $white;
            display:block;
            overflow:visible;
          }
          .image-mini-cart {
            @include spriteMiniCart ;
   	        padding:0 8px 0 0;
            margin:-1px 0 0 -10px;
            float:left;
          }
          .mini-cart-qty, .mini-cart-empty {
            margin-top: 7px;
            display: inline-block;
            font-size:1.2em;
            float: right;
          }
          
          //hover effect on cart
	        &.active:hover {
	        	height: 50px;
	          	cursor: pointer;
	 
	            background-color:$orangeNeon;
	            color: $grayDarker;
	            
	            -webkit-border-radius:0;
		        -moz-border-radius:0;
		        border-radius:0;
	            
	            -webkit-border-top-left-radius: 20px;
				-webkit-border-top-right-radius: 20px;
				-moz-border-radius-topleft: 20px;
				-moz-border-radius-topright: 20px;
				border-top-left-radius: 20px;
				border-top-right-radius: 20px;
				
				a.mini-cart-link { color: #003366; font-weight:bold; }
	  
	          .mini-cart-content{
	            display:block;
	          }
        	}
        
        }
      }
    }
  }
  
  .deal {
    display:inline;
    width: 380px;
    float: left;
    span {
      //background: url("../images/sprites.png") -107px -277px no-repeat;
      padding: 10px 0 0 80px;
      display: block;
      color: black;
      margin: 24px auto 0;
      width: 62%;
      min-height: 26px;
      font: {
        family: $headingsFontFamily;
         weight: bold;
      }
    }
  }

  #tagline {
    clear:left;
    text-transform: uppercase;
    font: {
      size: 15px;
      family: $headingsFontFamily;
      weight: 500;
    }
  }

} 
.ie7 #header{z-index:200;} 
.header-banner {clear:both;float:right;font-size:1.2em;margin:0 6px;}
.ie7 .header-banner{width:350px;}



/* mini-cart styles */
/* ------------------------------------- */

.oldie #mini-cart { position:absolute; top:0; right:0;}

.mini-cart-content{
  position: absolute;
  display:none;
  min-width: 293px;
  width:380px;
  right: 0;
  font-size: 1.15em;
  background:$orangeNeon;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  padding:3px;
  top:66px;
  cursor: default;
 
    a { color: #003366; font-weight:bold; }
    a.mini-cart-link-cart { 
      color: $white;
      display: block;
      /*margin:0 auto;*/
      background:#000;
      font-size:1.2em;
      font-family:'Lato';
      width:164px;
      line-height:48px;
      text-align:center;
      padding:0;
    }
    .mini-cart-totals {
      @include clearfix();
      padding: 20px;
      background-color: $white;
	  -webkit-border-bottom-right-radius: 3px;
	  -webkit-border-bottom-left-radius: 3px;
	  -moz-border-radius-bottomright: 3px;
	  -moz-border-radius-bottomleft: 3px;
	  border-bottom-right-radius: 3px;
	  border-bottom-left-radius: 3px;

      .mini-cart-subtotals {   
       	padding: 5px 0 20px;
       	text-align: right;
       	color: #000;
       	font-weight:bold;
       	
        .label { margin-right: 30px; }
       }
    }
}

.mini-cart-products {  
    padding: 0 20px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    
    .mini-cart-product { 
      float: none;
      padding: 20px 0; 
      width:100%;
      display:inline-block;
      box-sizing:border-box;
      color:#003366;
      
      /*background-color: $grayLighter;*/
      &:nth-child(1) {
        margin-top:0;  
      }
      &:nth-child(odd) {
        /*background-color: $grayLightMid;*/
      }
      &:hover {
        //background-color: $accentColor;
        //a, .mini-cart-price { color:$white; }
      }
      .mini-cart-name{ 
        width: 72%; 
        float:left;
        color:#003366;
        }
      .mini-cart-pricing { 
        width:18%; 
        float:right; 
        text-align:right; 
          .label, .value { 
            display: none; 
            } 
       } 
    }
    a { 
    	color: #003366;
    	
    	&:hover {
    		color: #003366; 
    		text-decoration:underline; 
    	}
    } 
    /*a:hover { color: #003366; }*/
  }
.mini-cart-close {  text-indent: -9999em; }

 //not sure where to use these
 .mini-cart-product-name,
.mini-cart-slot,
.product-availability-list,
//.mini-cart-link-checkout,
.mini-cart-header,
.mini-cart-image,
.mini-cart-item-word,
.mini-cart-total-label,
.mini-cart-attributes,
.mini-cart-toggler  {
  display:none;
}

.menu-utility{
  clear:both;
  color:#8F8F8F;
  float:right;
  font-size:0.8em;
  letter-spacing:1px;
  margin:10px 0;
  padding:0;
  text-transform:uppercase;
  li{
   border-right:1px solid #d9d9d9;
   float:left;
   list-style:none outside none;
   padding:0 6px;
   &.last{border:0 none;}
  }
}

.ie7 .menu-utility{width:350px;}

.menu-utility-user{
  color:#636363;
  float:right;
  font-size:0.8em;
  letter-spacing:1px;
  margin:6px 0 0;
  padding:0;
  li{
   border-right:1px solid #d9d9d9;
   float:left;
   list-style:none outside none;
   padding:0 6px;
   &.last{border:0 none;
   a:hover {color: #636363;}
   }
  }
}

.header-search-show{   
  input[type="submit"]{ 
    display:inline-block;
  }
}
#locationsearch  {
  width: 235px;
  float:right;
  clear:right;
  margin-top: 10px;
  input[type="text"]{
    width: 233px;
  }
  input[type="submit"] {
    background-position: -151px -40px;
  }
}
.findByZipMini {
  section.results {
    background: $white;
    top: 31px;
    border: 1px solid #999;
    display: none;
    right: 0;
    padding: 20px !important;
    position: absolute;
    height: 250px;
    overflow-y: scroll;
    width: 320px;
    z-index:300;
    table.item-list {
      th.section-header, td {
        padding: 1em 0;
      }
      td.store-information {
        padding: 1em 1em 1em 0;
      }
    }
    
  }
}

/* primary catalog navigation */
/* ------------------------------------- */
#navigation{
  width:100%;
  z-index: 200;
  height: 35px;
  margin: 0;
  font-family: $headingsFontFamily;
  ul.level-1{
    // background-color: $white;
    margin:0;
    padding:0;
    >li {
      float:left;
      padding: 0;
      margin-right: 6px;
      &.active > a {
        color: $blueBaby;
      }
      &.cat-link {
        line-height:52px;
      }
      a {
        color: $white;
        display:block; 
        padding: 10px;
        &.level-1 { 
          font-size:1.2em;
          font-weight:bold;
        }
      }
      &#mattress-finder-block {
        float: right;
        height:70px;
        padding: 0;
        z-index: 1;
        &:hover {
          // background-color:$white;
          .mattress-finder {
            a {
              color: $white;
            }
          }
        }
        .mattress-finder {
          padding-top:16px;
          a { 
            color: $blueBaby; 
            font-style: italic;
            display:inline-block;
          }
          .image-mattress-finder {
            // @include spriteFinderMagnify;
            float:left;
          }
        }
      }
    }
    div.level-2{
      display:none;
      margin:0;
      padding:0;
      position:absolute;
      box-shadow: 0 2px 2px $grey;
      top:60px;
      left: 0px;
      width:100%;
      z-index:10;
      height:344px;
      border-top:10px $blueBaby solid;
      box-sizing:border-box;
      line-height:normal;
      .menu-wrapper {
        width: 100%;
        margin:0;
        padding:0;
        }
        ul.level-2 {
          background-color:$white;
          float:left;
          width:510px;
          height:334px;
          padding:40px 0 0 50px;
          box-sizing:border-box;
          margin: 0;
          a {
            color: $graySoft;
            padding:10px;
            width: 199px;
            font-size:1.2em; 
            &:hover {
              color: black;
            }
          }
          li {
            background-color: $white;
            float: left;
            width:210px;
            padding-right:10px;
          }
        }
        .custom {
          position:relative;
          float: right;
          width:492px;
          height:334px;
          box-sizing:border-box;
          z-index:20;
          background-color:$blueMid;
          a {
            padding:0;
          }
          img {
            max-width: auto;
          }
          .menu-promo-tag {
            position:absolute;
            top:135px;
            left:50%;
            z-index:2;
          }
          .title {
            margin: 25px 0 0 30px;
            color: $white;
            text-transform:uppercase;
            font-size:1.8em;
            font-weight:bold;
          }     
          .headline {
            margin: 0 0 0 30px;
            color: $orangeNeon;
            text-transform:uppercase;
            font-size:5.5em; 
            font-weight:bold;
          }
          .content {
            margin: 0 0 0 30px;
            color: $white;
            font-size:1.3em;
            font-weight:bold;
          }
        }
    }
  }
} 
.ie7 ul.level-1{height:30px;}


a.level-1:focus + .level-2{display:block;}
 

.ie7 div.level-2{width:452px;} 

.gotoWhite,
.arrowAccentColor {
  @include sprite; 
  text-indent: -9999em;
  overflow: hidden;
  width: 8px;
  display:inline-block;
}
.gotoWhite {
  background-position: -69px -136px;
  padding: 16px 10px;
}
.arrowAccentColor {
  background-position: -100px -136px;
  padding: 16px 0px 16px 6px;
}
