/* jQuery Ui */
/* ------------------------------------- */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
// .ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.ui-icon { width: 59px; height: 59px; text-align:center; line-height:59px; color:$white; font-size:34px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }

/*
 * jQuery UI Resizable 1.8.17
 */
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}

/*
 * jQuery UI Selectable 1.8.17
 */
.ui-selectable-helper { position: absolute; z-index: 100; border:1px dotted black; }

/*
 * jQuery UI Accordion 1.8.17
 */
/* IE/Win - Fix animation bug - #4615 */
.ui-accordion { width: 100%; }
.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; }
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a { display: block; font-size: 1em; padding: .5em .5em .5em .7em; }
.ui-accordion-icons .ui-accordion-header a { padding-left: 2.2em; }
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; zoom: 1; }
.ui-accordion .ui-accordion-content-active { display: block; }

/*
 * jQuery UI Autocomplete 1.8.17
 */
.ui-autocomplete { position: absolute; cursor: default; } 

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/*
 * jQuery UI Menu 1.8.17
 */
.ui-menu {
  list-style:none;
  padding: 2px;
  margin: 0;
  display:block;
  float: left;
}
.ui-menu .ui-menu {
  margin-top: -3px;
}
.ui-menu .ui-menu-item {
  margin:0;
  padding: 0;
  zoom: 1;
  float: left;
  clear: left;
  width: 100%;
}
.ui-menu .ui-menu-item a {
  text-decoration:none;
  display:block;
  padding:.2em .4em;
  line-height:1.5;
  zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
  font-weight: normal;
  margin: -1px;
}

/*
 * jQuery UI Button 1.8.17
 */
.ui-button { display: inline-block; position: relative; padding: 0; margin-right: .1em; text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: visible; } /* the overflow property removes extra width in IE */
.ui-button-icon-only { width: 2.2em; } /* to make room for the icon, a width needs to be set here */
button.ui-button-icon-only { width: 2.4em; } /* button elements seem to need a little more width */
.ui-button-icons-only { width: 3.4em; } 
button.ui-button-icons-only { width: 3.7em; } 

/*button text element */
.ui-button .ui-button-text { display: block; line-height: 1.4;  }
.ui-button-text-only .ui-button-text { padding: .4em 1em; }
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .4em; text-indent: -9999999px; }
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 1em .4em 2.1em; }
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 2.1em .4em 1em; }
.ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }
/* no icon support for input elements, provide padding by default */
input.ui-button { padding: .4em 1em; }

/*button icon element(s) */
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon { position: absolute; top: 50%; margin-top: -8px; }
.ui-button-icon-only .ui-icon { left: 50%; margin-left: -8px; }
.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary { left: .5em; }
.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }

/*button sets*/
.ui-buttonset { margin-right: 7px; }
.ui-buttonset .ui-button { margin-left: 0; margin-right: -.3em; }

/* workarounds */
button.ui-button::-moz-focus-inner { border: 0; padding: 0; } /* reset extra padding in Firefox */



/*
 * jQuery UI Slider 1.8.17
 */
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }

 

/*
 * jQuery UI Datepicker 1.8.17
 */
.ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; font-size:0em; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}

/*
 * jQuery UI Progressbar 1.8.17
 */
.ui-progressbar { height:2em; text-align: left; overflow: hidden; }
.ui-progressbar .ui-progressbar-value {margin: -1px; height:100%; }

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-widget-overlay{
  background:url("../images/interface/ui-overlay-shadow.png") repeat scroll 50% 50% #333333;
  opacity:0.4;
}


/*
 * jQuery UI Dialog 1.8.17
 */
  

.ui-dialog{
  position: absolute; padding: .2em; width: 300px; /*overflow: hidden;*/
  background:none repeat scroll 0 0 $white;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  z-index: 10000!important;
  .ui-dialog-buttonpane { 
    text-align: left; 
    border-width: 1px 0 0 0; 
    background-image: none; 
    margin: .5em 0 0 0; 
    padding: .3em 1em .5em .4em;
    .ui-dialog-buttonset { float: right; }
    button { margin: .5em .4em .5em 0; cursor: pointer; }
  }
  .ui-widget-header{
    border:0 none;
    border-radius:0 0 0 0;
    height:auto;
    text-transform:uppercase;}
   .ui-dialog-title{
    @include article-headline();
    @include clearAll();
    display:none;
    }
   // .ui-icon-closethick{
   //   height:16px;
   //   width:16px;
   //   @include sprite;
   //   background-position: -20px -147px;
   //   @include rotate(45deg);
   //   }
   .ui-dialog-content { 
     position: relative; 
     border: 0; 
     padding: 50px; 
     background: none; 
     overflow: auto; 
     zoom: 1; 
     }
   .ui-dialog-title { float: left; margin: .1em 16px .1em 0; }
   .ui-dialog-titlebar { padding: .4em 1em; position: relative;  }
   .ui-dialog-titlebar-close{
     position: absolute;
     border-radius:29px;
     -moz-border-radius:29px;
     -webkit-border-radius:29px;
     background-color:$blueBabyDarker;
     height:58px;
     margin:0;
     padding:0;
     right: 50%;
     top: 0;
     width:58px;
     margin-right:-29px;
     z-index:2;
     top:-34px;
     span{display: block;margin:0;padding:0;}
     &:hover, &:focus { padding: 0; }
    }
   .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
   .dialog-required{display:block;text-align:right;}
  }
 

.ui-accordion {
  .ui-accordion-content{
    padding: 1em 2.2em;
    border-top: 0;
    overflow: auto;
  }
  .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    background: $accentColor;
    padding: .5em .5em .5em .5em;
    margin-top: 2px;
    min-height: 0;
    a {
      color:#fff!important;
    }
    .ui-icon {
      // @include sprite;
      position:absolute;
      right: 20px;
      left: auto;
      top:50%;
      width: 16px;
      height:16px;
      background-position: -84px -144px;
    }
    &.ui-state-active {
      .ui-icon{
        @include rotate(90deg);
      }
    }
  }
  .ui-accordion-icons { 
    padding-left: 2.2em;
  }
  .ui-accordion-noicons { 
    padding-left: .7em;
  }
}
 
 /*
 * jQuery UI Tabs 1.8.17
 */
 
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */

.ui-tabs {
  .ui-tabs-nav{
    background:none repeat scroll 0 0 transparent;
    border:0 none;
    height:31px;
    padding:0;
    margin: 0;
    position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
    clear:both;
    top: 1px;
    zoom: 1;
    li{
      -webkit-border-radius:10px 10px 0 0;
      -moz-border-radius:10px 10px 0 0;
      border-radius:10px 10px 0 0;
      -moz-border-bottom-colors:none;
      -moz-border-image:none;
      -moz-border-left-colors:none;
      -moz-border-right-colors:none;
      -moz-border-top-colors:none;
      background:none repeat scroll 0 0 #FFF;
      border-color:#D9D9D9;
      border-style:solid;
      border-width:1px; 
      list-style:none outside none !important;
      margin: 0 8px 0 0;
      padding: 0; 
      float: left; 
      position: relative; 
      top: 1px;  
      white-space: nowrap;
      &.ui-tabs-selected { margin-bottom: 0; border-bottom:1px solid #f7f7f7;}
      &.ui-tabs-selected a, &.ui-state-disabled a, &.ui-state-processing a { cursor: text; }
      a { 
        font-size: 1em;
        float: left; 
        padding: 6px 10px; 
        text-decoration: none;
        text-transform: uppercase; 
        }
      &.ui-state-active {
        background:none repeat scroll 0 0 #f7f7f7;
        a {
          color: $black;
          }
      }
    }
  }
  .ui-tabs-panel{
    background:none repeat scroll 0 0 #f7f7f7;
    border-color:#D9D9D9;
    border-radius:0 0 0 0;
    border-style:solid;
    border-width:1px;
    line-height:1.5em;
    margin:-1px 0 0;
    padding:20px 20px;
    display: block;
  }
  .ui-tabs-hide { display: none !important; }
}

/*
 * jscrollpane
 */
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer {
  overflow: hidden;
  position: relative;
  .jspPane {
    position: absolute;
  }
  .jspVerticalBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%; 
    .jspArrow {
      height: 10px;
    }
    .jspArrow:focus {
      outline: none;
    }
  }
  .jspHorizontalBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px; 
    .jspCap {
      float: left;
    }
    .jspTrack, .jspDrag {
      float: left;
      height: 100%;
    }
    .jspArrow {
      width: 10px;
      float: left;
      height: 100%;
    }
  }
  .jspVerticalBar *,
  .jspHorizontalBar * {
    margin: 0;
    padding: 0;
  }
  .jspCap {
    display: none;
  }
  .jspTrack {
    background: $grayLight;
    position: relative;
  }
  .jspDrag {
    background: $accentColor;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
  }
  .jspArrow {
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
    &.jspDisabled {
      cursor: default;
      background: #80808d;
    }
  }
  .jspCorner {
    background: #eeeef4;
    float: left;
    height: 100%;
  }
}
* html .jspCorner {
  margin: 0 -3px 0 0;
}