/* category landing page */
/* ------------------------------------- */

.bottom-banner-container{overflow:hidden;}
.bottom-banner-container .bottom-banner-cell{float:left;overflow:hidden;text-align:center;}
.bottom-banner-container .banner-cell-1{width:33%;}
.bottom-banner-container .banner-cell-2{width:34%;}
.bottom-banner-container .banner-cell-3{width:33%;}