/* secondary region elements */
/* ------------------------------------- */

/*
 * category specific sidebar links
 */
#category-level-1 {

}
#category-level-2 {

}
#category-level-3{
 
}
 
/*
 * broad sidebar styles go here
 */
#secondary.refinements {
  .refinement { margin: 0 0 30px;}
}
.refinements {
  font-size: 12px;
  position:relative;
  .refinement { background-color: $white;}
  .refinement.Foundation { display: none!important; }
  h3, .refinement-header {
    background: transparent; 
    width: 160px;
    //background-color: $grayDarker;
    text-transform: uppercase; 
    padding: 7px .4em;
    margin:0;
    font: {
      size:1.1em;
    }
    color: $blackGray;
    cursor: pointer;
  }
  h3.expanded span{background-position:left top;}
  ul{
    list-style:none outside none;
    margin:0;
    padding: 8px 0px 5px;
    }
  li { 
    margin: 0 0 2px 0;
    a {padding: 2%;}
    a:hover { text-decoration: underline; }
    }
  ul.swatches {
  ul.Color {
     li a{height:23px;padding:0;text-indent:-999em;width:30px;}
     }
  }
  .clear-refinement{ display:none; }
  .refinement-link{ }
  .refinement-top-level{ } 
  a.button { display: block; clear:both;}
}

/*
 * selected sidebar styles
 */

.ie7 .refinement h3{clear:both;}

.scrollable{height:10em;overflow:auto;}
#secondary {
  ul {
    border:0 none;
    list-style:none outside none;
    margin:7px 0;
    padding:0;
    li{
      list-style:none outside none !important; 
      }
  }
}