/* store locator */
/* ------------------------------------- */

.store-locator-header{background:url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;font-family:Georgia,serif;font-size:1.75em;font-style:italic;font-weight:400;margin:20px 0 0;padding:20px 0;}
.store-information{background:none repeat scroll 0 0 #E8E8E8;border-bottom:1px solid #FFFFFF;}
.store-name{font-weight:bold;margin:0 0 10px;}
.store-address,.store-map{border-bottom:1px solid #E8E8E8;}
.store-locator-details{float:left;width:44%;}
.store-locator-details img{max-width:100%;}
.store-locator-details h1,.store-locator-details p{margin:0.25em 0;}
.store-locator-details-map{float:right;width:50%;}
.store-locator-details-map img{max-width:100%;}
