@import "nav";
@import "menu_utility";
@import "country_selector";

.header-top {
	height: 30px;
	background-color: #333030;
	@include respond(large-up) {
		text-align: right;
	}
	@include respond(large-down) {
		display:none;
	}
	.header-top-inner {
		@extend %centered-block;
	}
	.content-asset {
		display: inline-block;
	}
	.header-top-links {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0;
		@include respond(x-small) {
			//position: relative;
		}
		.header-financing-cc {
			display: inline-flex;
		    float: left;
		    height: 30px;
		    padding-left: 5px;
		    text-decoration: underline;
		    li {
		    	a {
		    		font-family: Montserrat;
					font-size: 14px;
					font-weight: 500;
		    	}
		    }
		}
		&.left-block {
			float: left;
			margin-right: 8px;
			a {
				background-color: $alto;
				padding: 0 15px;
				display: block;
				height: 30px;
				@include line-height(30px);
				@include respond(x-small) {
					padding: 0 4px;
				}
			}
		}
		& > li {
			margin: 0;
			list-style: none;
			display: inline;
			padding: 0 0 0 8px;
			@include respond(large-up) {
				padding: 0 0 0 55px;
			}
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
			&.header-store-id {
				.sleepys-call-header:before {

				}
				& > * {
					display: inline-block;
				}
			}
			&.header-financing {
				.header-financing-link:before {
					content: '';
					background: url(../images/interface/sprite.png) no-repeat -259px -246px;
					display: inline-block;
					width: 19px;
					height: 19px;
					position: relative;
					top: 5px;
					margin-right: 3px;
				}
				& > * {
					display: inline-block;
				}
			}
			&.header-chat {
				@include respond(small) {
					display: none;
				}
				a {
					font-family: Montserrat;
					font-size: 13px;
					font-weight: 500;
				}
				img {
					margin: 9px 3px 0 0;
					height: 11px;
				}
				.chat-icon {
					display: none;
				}
				.header-chat-online {
					display: none;
					@include respond(large-up) {
						display: inline !important;
					}
				}
				div {
					@include respond(large-up) {
						display: inline-block;
					}
				}
			}
			&.header-visit-store {
				@include respond(m-small) {
					position: relative;
				}
				@include respond(medium) {
					position: relative;
				}
				a {
					@include respond(large-up) {
						&.active {
							border-bottom: 4px solid $color-secondary;
							padding-bottom: 4px;
						}
						&.dropdown {
							&:after {
								content: '';
								display: inline-block;
								width: 8px;
								height: 5px;
								position: relative;
								margin-left: 5px;
								top: -1px;
								background: url(../images/interface/sprite.png) no-repeat -62px -218px;
							}
						}
					}
				}
			}
			&.header-add-store {
				display: none;
				@include respond(small) {
					display: none;
				}
			}
			&.header-zip {
				padding-left: 5px;
				@include respond(m-small) {
					position: relative;
				}
				@include respond(medium) {
					position: relative;
				}

				@include respond(x-small) {
					padding-left: 2px;
				}
				a {
					padding-left: 4px;
					&.active {
						border-bottom: 4px solid $color-secondary;
						padding-bottom: 4px;
					}
					&.dropdown {
						&:after {
							content: '';
							display: inline-block;
							width: 8px;
							height: 5px;
							position: relative;
							margin-left: 5px;
							top: -1px;
							background: url(../images/interface/sprite.png) no-repeat -62px -218px;
						}
					}
					span {
						color: $color-secondary;
						text-decoration: underline;
						font-style: $font-style-italic;
					}
					&:hover {
						span {
							text-decoration: none;
						}
					}
				}
			}
			.icon {
				margin-right: 3px;
			}
		}
		a, .sleepys-call-header {
			@include font-size(14px);
			@include line-height(30px);
			font-weight: $font-wt-semibold;
			text-decoration: none;
			color: white;
		}
	}
	img {
		height: 18px;
	}
	p {
		margin: 0;
		padding: 0;
		@include font-size(12px);
		@include line-height(30px);
	}
	.dropdown-block {
		display: none;
		position: absolute;
		padding: 15px 20px 20px;
		width: 310px;
		background: $white;
		z-index: 30;
		text-align: left;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
		box-sizing: border-box;
		&.active {
			display: block;
		}
		&.store {
			padding-left: 10px;
			padding-right: 10px;
		}
		@include respond(x-small) {
			left: calc(50% - 310px/2);
		}

		@include respond(m-small) {
			left: 0;
		}
		@include respond(medium) {
			right: 0;
		}
	}
}

.mobile-header-links {
	.header-top {
		background: none;
		height: auto;
		.header-top-inner {
			padding: 0;
		}
		.header-top-links {
			> li {
				display: block;
				padding: 5px 0 6px 15px;
				border-bottom: $border;
			}
		}
		.header-top-inner {
			min-width: 100%;
		}
		.header-store-id {
			padding: 7px 0 8px 15px;
			height: 42px;
			.mobile-only {
				display: none;
			}
			.desktop-only {
				display: block;
			}
			&:after {
				display: none;
			}
		}
		.dropdown-block {
			width: calc(100% + 11px);
			box-shadow: none;
			padding: 0;
			position: relative;
			left: -15px;
			box-sizing: border-box;
			div {
				color: $color-primary;
				padding-bottom: 5px;
			}
			.find-form-inner {
				padding: 0;
			}
			.find-stores-wrapper .find-form input[type="text"] {
				width: 150px;
			}
			.stores-near {
				padding-top: 10px;
			}
		}
	}
	.menu-utility-user {
		clear: both;
		display: block;
		li {
			padding: 10px 0 8px 15px;
		}
		span {
			color: $color-secondary;
			font-style: $font-style-italic;
		}
	}
}

.find-by-zip {
	.label {
		@include font-size($font-size-regular);
		@include line-height($font-height-regular);
		font-weight: $font-wt-semibold;
	}
	input {
		width: 180px;
		margin-right: 10px;
	}
	button {
		width: 80px;
		height: 40px;
		@include line-height(40px);
		vertical-align: top;
	}
}

.find-stores-wrapper {
	.near-stores {
		padding: 0 10px;
		color: $color-primary;
		@include font-size(15px);
		@include line-height(16px);
		font-weight: $font-wt-bold;
	}
	.stores-wrapper {
		@include font-size($font-size-regular);
		@include line-height($font-height-regular);
		margin-top: 6px;
	}
	ul {
		margin: 0;
		padding: 0 0 8px;
		list-style: none;
	}
	li {
		border-bottom: $border;
		display: block;
		margin: 0;
		list-style: none;
		padding: 10px 0;
		.lf_results_address_a_span {
			color: $color-secondary;
			@include font-size($font-size-regular);
			font-weight: $font-wt-semibold;
			text-decoration: underline;
			font-style: $font-style-regular;
		}
		.lf_results_address {
			position: relative;
		}
		.lf_storeLocatorWidget_address_address1,
		.lf_storeLocatorWidget_address_address2,
		.lf_storeLocatorWidget_address_zipcode_city,
		.lf_storeLocatorWidget_address_phone {
			color: $color-primary;
			font-weight: $font-wt-regular;
			@include font-size($font-size-regular);
			font-style: $font-style-regular;
			display: inline-block;
			vertical-align: top;
			text-align: left;
			width: 70%;
		}
		.lf_storeLocatorWidget_address_phone {
			display: none;
		}
		.proximity {
			display: inline-block;
			vertical-align: top;
			text-align: right;
			width: 25%;
			color: $color-primary;
			font-weight: $font-wt-regular;
			@include font-size($font-size-regular);
			font-style: $font-style-regular;
			position: absolute;
			right: 0;
			top: 5px;
		}
	}
	.stores-near {
		@include font-size(15px);
		@include line-height(16px);
		font-weight: $font-wt-bold;
	}
	.lf_storeLocatorWidget_poslist {
		border-bottom: $border;
		padding-bottom: 10px;
		.lf_storeLocatorWidget_viewMore {
			color: $color-secondary;
			@include font-size($font-size-regular);
			font-weight: $font-wt-semibold;
			text-decoration: underline;
		}
	}
	.find-form {
		padding: 0 10px;
		overflow: hidden;
		.find-form-inner {
			padding-top: 15px;
		}
		.label {
			@include font-size($font-size-regular);
			@include line-height($font-height-regular);
			font-weight: $font-wt-semibold;
		}
		input {
			width: 180px;
			margin-right: 10px;
			@include font-size($font-size-xs);
			padding: 0 6px;
			&:placeholder {
				color: $color-primary;
			}
		}
		.stores-find {
			width: 80px;
			height: 40px;
			@include line-height(40px);
			@include font-size($font-size-regular);
			vertical-align: top;
			margin: 0;
		}
		.lf_error {
			display: none;
		}
		.lf_storeLocatorWidget_marker {
			display: none;
		}
	}
}

.top-banner {
	position: relative;
	@include respond(large-down) {
		height: 90px;
	}
	* {
		box-sizing: border-box;
	}
	.header-top .header-top-links {
		clear: both;
	}
}

.cart-header .top-banner {
	height: auto;
}

.header-logo-wrapper {
	@extend %centered-block;
	position: static;
	@include respond(large) {
		position: relative;
	}
}

.primary-logo {
	width: 190px;
	// width of image
	height: 58px;
	// height of image
	margin: 0 auto;
	padding: 15px 0;
	z-index: 1;
	@include respond(large-down) {
		margin: 0 40px;
		width: 132px;
	}
	@include respond(large-up) {
		width: 200px;
		height: 20px;
		padding: 0;
		margin: 10px 0 10px 0;
		float: left;
	}
	@include respond(large-only) {
		width: 236px;
		height: auto;
		margin-bottom: 21px;
	}
	img {
		width: 100%;
		height: auto;
		@include respond(large-only) {

		}
		&.logo-desktop {
			display: none;
			@include respond(medium) {
				display: block;
			}
		}
		&.logo-mobile {
			display: block;
			@include respond(medium) {
				display: none;
			}
		}
	}
}

// NOTE: cart-header mobile rules
.cart-header {
	@include respond(large-down) {
		.primary-logo {
			margin: 0 auto;
			width: 193px;
		}
		div.header-help {
			display: none;
		}
	}
}

// NOTE: Checkout header rules
.checkout-header {

	div.header-search-tablet {
		display: none;
	}


	.header-help a {
		text-decoration: none;
	}

	@include respond(large-up) {
		.header-top,
		#navigation .menu-category-div,
		.header-search,
		.menu-utility-user,
		#mini-cart,
		.header-banner,
		.menu-toggle,
		.menu-category {
			display: none;
		}

		.top-banner {
			box-shadow: inset 0 -1px 0 0 #c6c8ca;
		}

		.header-logo-wrapper {
			width: 100%;
		}

		.primary-logo {
			margin: 33px 0 42px;
		}

		div.header-help {
			right: 211px;
			top: 38px;
		}
		.header-help a span {
			color: $black;
			display: inline-block !important;
			font-size: 14px;
			font-weight: 500 !important;
			text-decoration: none;
		}

		.header-help img.mobile-hide {
			display: none !important;
		}

		div.mobile-only-mobile {
			display: inline-block;
			position: absolute;
			right: 88px;
			top: 38px;
		}

		div.mobile-only-mobile a {
			font-size: 14px;
			font-weight: 500 !important;
			text-decoration: none;
		}

		div.mobile-only-mobile img {
			margin-right: 4px;
		}

		div.mobile-only-chat {
			display: inline-block !important;
			position: absolute;
			right: 20px;
			top: 38px;
		}

		div.mobile-only-chat a {
			text-decoration: none;
		}

		div.mobile-only-chat a span {
			color: #000;
			display: inline-block !important;
			font-size: 14px;
			font-weight: 500 !important;
			text-decoration: none;
		}

		div.mobile-only-chat {
			margin-right: 2px;
		}
	}

	@include respond(large-down) {
		.top-banner {
			border-bottom: 1px solid #e7e7e9;
			height: auto;
		}

		.menu-toggle {
			display: none;
		}

		.primary-logo {
			margin: 0;
			padding: 25px 0 20px 0px;
		}

		div.header-help {
			display: inline-block;
		}

		.header-help a span {
			color: $black;
			font-size: 14px;
			font-weight: 500 !important;
			text-decoration: none;
		}
	}

	@media screen and (max-width: 767px) {
		.primary-logo {
			margin: 0;
			padding: 25px 0 20px 0px;

			img {
				width: 88%;
			}
		}
		.header-help {
			right: 136px;
			top: 26px;
		}
		.header-help a span {
			font-size: 12px;
		}
		div.mobile-only-mobile {
			right: 109px;
			top: 21px;

			img {
				width: 14px;
			}
			a span {
				display: none;
			}
		}
		div.mobile-only-chat {
			right: 65px;
			top: 23px;

			img {
				width: 25px;
			}
			a span {
				display: none;
			}
		}
		.mini-cart-total {
			position: absolute;
			right: -3px;
			top: 6px;
		}
	}

	// Iphone 5 and smaller phones
	@media screen and (max-width: 332px) {
		.header-help {
			right: 110px;
		}
		div.mobile-only-mobile {
			right: 87px;
		}
		div.mobile-only-chat {
			right: 51px;
		}
		.mini-cart-total {
			right: -7px;
		}
	}
}

@include respond(large) {
	#navigation {
		margin: 0 auto;
	    left: auto;
	    position: relative;
	    width: fit-content;
	    border-top: 1px solid #d9d9d9;
	    margin-top: 0px;
	    box-shadow: none;
	    .menu-category-div {
	    	width: auto;
			float: none;
			text-align: center;
			margin: 0px auto;
			.menu-category {
				margin: 0 auto;
			    padding: 10px 0;
			    width: fit-content;
			    display: block;
			    @include respond(large-only) {
			    	display: inline-block;
			    }
			    text-align: center;
			}
			.level-1 > li {
				border-right: none;
				@media only screen and (max-width: 1200px) and (min-width: 768px) {
					padding: 0px;
				}
			}
			.level-2 {
				.menu-horizontal:first-child {
					ul {
						display: block;
					}
				}
				.menu-horizontal {
					.column {
						display: -webkit-inline-box;
						display: -ms-inline-flexbox;
					}
				}
			}
			.level-1 {
				.level-2 {
					left: -140px;
    				width: 950px;
					margin-top: 0px;
					.menu-horizontal {
						width: 100%;
						ul.column {
							width: 100%;
							ul.level-3 {
								li {
									a {
										color: #333030;
									}
								}
							}
							li {
								a {
									color: #ff6c5b;
								}
								.level-3 {
									li {
										a {
											color: #333030;
										}
									}
								}
							}
						}
					}
				}
			}
	    }
	}
}

#navigation {
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		width: 67%;
	}
	.menu-category-div {
		.level-1 {
			.level-2 {
				@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
					left: 22px;
					width: 1100px;
				}
				@supports (-ms-accelerator:true) {
					left: 140px;
				}
				@supports (-ms-accelerator:auto) {
					left: 140px;
				}
				@supports (-ms-ime-align:auto) {
					left: 140px;
				}
				_:-ms-fullscreen, :root .level-2 { left: 140px; }
			}
		}
	}
}

.header-banner-top {
	display: none;
	@include respond(large-up) {
		/*display: block;*/
		float: left;
		padding: 20px 0;
		margin-left: 25px;
		p {
			margin: 0;
			padding: 0;
		}
		ul {
		//	@extend %clear_list;
		}
	}
	@include respond(medium) {
		margin-left: 25px;
		width: 239px;
		img {
			width: 100%;
			height: auto;
		}
	}
	@include respond(x-large) {
		margin-left: 184px;
		width: 285px;
	}
}

.header-banner {
	display: block;
	text-align: center;
	.banner-wrapper {
		padding: 5px 0 8px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
	}
	.banner-title {
		color: $white;
		font-weight: $font-wt-bold;
		@include font-size(20px);
		@include respond(medium) {
			@include font-size(25px);
		}
		@include respond(large) {
			@include font-size(30px);
		}
		;
	}
	.banner-info {
		color: $rolling-stone;
		font-weight: $font-wt-regular;
		@include font-size($font-size-xs);
	}
	.header-financing-wrapper {
		width: 100%;
		background-color: #1e75a0;
		box-shadow: 0 5px 4px 0 rgba(170, 170, 170, 0.5);
		margin-bottom: 7px;
		.header-financing-cc {
			display: inline-flex;
		    height: 30px;
		    list-style: none;
		    font-family: Montserrat;
		    margin-top: 7px;
		    li {
		    	a {
		    		color: white;
		    		font-size: 16px;
		    		font-weight: 600;
		    		@media screen and (max-width: 320px) {
		    			font-size: 15px;
		    		}
		    	}
		    }
		    img {
		    	@include respond(x-small-down) {
					display: none;
				}
		    }
		}
	}
}

.header-banner-bottom {
	display: none;
	@include respond(large-up) {
		display: block;
		box-shadow: 0.5px 0.9px 3px rgba(0, 0, 0, 0.3);
		.banner-wrapper {
			height: 40px;
		}
		ul {
			//@extend %clear_list;
			font-size: 0;
			text-align: center;
			padding: 12px 0;
			height: 40px;
			box-sizing: border-box;
		}
		li {
			display: inline-block;
			text-align: center;
			a {
				color: $color-primary;
				@include font-size($font-size-regular);
				@include line-height(16px);
				font-weight: $font-wt-semibold;
				text-decoration: none;
				padding: 0 14px;
				border-right: $border;
				&:hover {
					color: $color-secondary;
					text-decoration: none;
				}
			}
			&:first-child {
				a {
					padding-left: 0;
				}
			}
			&:last-child {
				a {
					border-right: 0;
					padding-right: 0;
				}
			}
		}
	}
}
div.mobile-only-mobile {
	display:none;
	@include respond(large-down) {
		display: block;
		position: absolute;
		right: 100px;
		top: 15px;
	}
	img {
		width: 12px;
	}
}
div.mobile-only-chat {
	display: none;
	@include respond(large-down) {
		display: block;
		position: absolute;
		right: 100px;
		top: 21px;
	}
	img {
		width: 22px;
	}
}
div.header-help {
	@include respond(large-down) {
		position: absolute;
		right: 60px;
		top: 17px;
	}
	@include respond(large-up) {
		border-top: none;
		float: right;
		font-style: $font-style-regular;
		position: absolute;
		display: block;
		right: 125px;
		top: 13px;
		z-index: 1;
	}
}
div.header-search-tablet {
	@include respond(large) {
		display: none;
	}
	@include respond(large-only) {
		width: 35%;
	}
		@media only screen and (max-width: 1024px) {
			form {
				background-color: white !important;
    			border: solid 1px #333030 !important;
    			.button-search-mob {
    				background: white;
				    height: 26px;
				    margin-right: 1px;
    			}
			}
		}
	.button-search {
		@include respond(large-only) {
			display: none !important;
		}
		@include respond(large-down) {
			display: none !important;
		}
	}
	@include respond(large-down) {
		right: 0px;
		top: 40px;
		width: 100%;
    	padding: 0 10px;
	}
		border-top: none;
		float: right;
		position: absolute;
		z-index: 1;
		display: block;
		right: 175px;
		top: 0px;
		font-style: $font-style-regular;
		form {
		background-color: $concrete;
		border: $border;
		border-radius: 15px;
		color: $color-primary;
		height: 29px;
		width: 100%;
		margin: 10px 0;
		position: relative;
	}
}
div.header-search, .header-search-tablet  {
	z-index: 3;  //mobile search suggesion go under the carousel button
	display: block;
	font-style: $font-style-italic;
	position: relative;
	border-top: $border;
	margin: 0;
	@include respond(large-up) {
		border-top: none;
		float: right;
		position: absolute;
		/*width: 308px;*/
		z-index: 1;
		display: block;
		right: 175px;
		top: 13px;
		font-style: $font-style-regular;
	}
	@include respond(large-down) {
		display: none;
	}
	@include respond(large-only) {
		display: none;
	}
	form {
		background-color: $concrete;
		border: $border;
		border-radius: 15px;
		color: $color-primary;
		height: 29px;
		width: 100%;
		margin: 10px 0;
		position: relative;
		@include respond(large-up) {
			margin: 0;
		}
	}
	input[type="text"] {
		background-color: transparent;
		border: none;
		float: left;
		margin: 0;
		height: 25px;
		width: 100%;
		font-style: italic;
		padding: 0 30px 0 12px;
		box-sizing: border-box;
		color: #9b9b9b;;
		@include font-size(14px);
		@include line-height(25px);
		&::-webkit-input-placeholder {
			color: $gray-dove;
			font-style: italic;
		}
		&::-moz-placeholder { /* Firefox 19+ */
  			color: $gray-dove;
  			font-style: italic;
		}
		&:-ms-input-placeholder { /* IE 10+ */
 			 color: $gray-dove;
 			 font-style: italic;
		}
		&:-moz-placeholder { /* Firefox 18- */
			color: $gray-dove;
			font-style: italic;
		}
	}
	button {
		background-color: transparent;
		border: none;
		color: $nobel;
		padding: 0 4px 0 0;
		top: 0;
		height: 27px;
		right: 0;
		background:#d9d9d9;
		border-radius: 0;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		width: 35px;
		float: right;
		margin-top: 0px;
		box-sizing: border-box;
		position: absolute;

		@include line-height(20px);
		i {
			color: $color-primary;
		}
	}
	#suggestions {
		div:hover {
			color: $color-secondary;
		}
	}
}

.cart-header div.header-search-tablet {
	display: none;
}

.mobile-header-links {
	.user-info {
		@include respond(large-down) {
			display: none;
		}
		a {
			top: 3px;
			position: relative;
			color:$color-primary;
			text-decoration:none;
			font-weight: $font-wt-semibold;
			@include font-size(12px);
			&.user-logout {
				color: $color-secondary;
				font-style: $font-style-italic;
			}
		}
	}
}
@include respond(small) {
	div[id*='liveagent_invite_button_'] {
		visibility: hidden;
	}
}
@include respond(large-up) {
	div[id*='liveagent_invite_button_'] {
		visibility: visible;
	}
}
.header-search-slot {
		.search-tc {
			width: 15%;
    		float: left;
    		ul {
    			height: 700px;
    			margin-top: 80px;
    			&:first-child {
    				font-weight: 900;
    			}
    		}
			ul>li {
				list-style: none;
			    text-decoration: none;
			    margin-bottom: 5px;
		    }
		    li>a {
		    	text-decoration: none;
		    }
		}
		.close {
			font-size: 32px;
		    position: absolute;
		    right: 145px;
    		top: 180px;
		    color: #FF6C5B;
		    cursor: pointer;
		    display: none;
		}
		.searchTopCategory {
			padding-left: 110px;
			display: none;
		}
		.search-search {
			form {
			    width: 100%;
			    height: 40px;
			    fieldset {
			    	width: 100%;
				    input {
				    	height: 40px;
					    border-radius: 20px;
					    float: left;
					    width: 80%;
				    }
				    .button-search {
				    	float: right;
				    }
				}
			}
		}
		.header {
			width: 60%;
		    margin: 0px auto;
		    height: 30px;
		    padding-top: 30px;
		    .heading {
		    	float: left;
		    	font-weight: 900;
		    }
		    .heading-link {
		    	float: right;
		    	a {
		    		color: #FF6C5B;
		    	}
		    }
		}
		.product-listing {
			ul {
				padding-top: 25px;
			}
		}
		.search-search {
			width: 60%;
			margin: 0 auto;
			padding-top: 10px;
			.button-search-mob {
				@include respond(large) {
					display: none;
				}
			}
			.button-search, .button {
				border-radius: 20px;
				background-color: #FF6C5B;
				color: #FFFFFF;
				font-family: Montserrat;
				font-size: 15px;
				font-weight: 500;
				@include respond(large-only) {
					display: none;
				}
				@include respond(large-down) {
					display: none;
				}
			}
		}
		.searchTopCategory {
			.search-result-items {
				.grid-tile {
					width: 25%;
				    display: inline-block;
				    background-color: white;
				    .product-tile {
				    	.product-image {
				    		width: 200px;
	    					height: 200px;
	    					margin: 0 auto;
				    	}
				    	.product-name {
				    		text-align: center;
				    		white-space: inherit;
				    		.name-link {
				    			color: black;
					    		.name-link-text {
					    			color: black;
					    			font-weight: 600;
					    		}
					    	}
				    	}
				    	.product-pricing {
				    		.product-sales-price {
				    			text-align: center;
				    		}
				    	}
				    	.comfort-level {
				    		display:none;
				    	}
				    }
				}
			}
		}
	}
.search-suggestion-wrapper {
    left: 50px;
    border: none !important;
    box-shadow: none !important;
    a {
    	text-decoration: none;
    }
    .close-search-suggestions {
    	position: absolute;
	    right: 200px;
	    top: 15px;
	    font-size: 24px;
		color: #FF6C5B;
		cursor: pointer;
    }
    .phrase-suggestions {
    	h4.header {
    		color: black;
		    font-weight: 600;
		    font-size: 16px;
		    width: 100%;
    		margin-left: 15px;
    	}
    }
    .product-suggestions {
    	.search-phrase {
    		margin-left: -10px;
    		font-weight: bold;
    		color: black;
    	}
    	.more-results {
    		position: relative;
		    top: -23px;
		    left: 470px;
		    width: fit-content;
		    a.button {
		    	color: #FF6C5B;
			    background-color: white;
			    text-decoration: underline;
			    text-transform: capitalize;
			    border-radius: 0px;
			    line-height: normal;
			    height: auto;
		    }
    	}
    	.hitgroup {
    		.header {
    			width: 100%;
    		}
    		.hit {
    			margin-left: 0px;
    		}
    	}
    }
    .product-suggestions {
    	.product-suggestion {
    		border: none;
    		a.product-link {
    			text-decoration: none;
    			.product-image {
    				float: left;
				    text-align: center;
				    width: 70%;
				    margin: 0px;
    			}
    			.product-details {
    				float: none;
				    padding-top: .5em;
				    width: 70%;
				    text-align: center;
				    .product-name {
				    	font-weight: 600;
				    }
				    .product-price {
				    	span.product-standard-price {
				    		display: block;
				    	}
				    	.has-sale-price {
				    		text-decoration: line-through;
				    	}
				    }
				    .product-options { display: none;}
    			}
    		}
    	}
    }
}
