.menu-utility-user {
	margin: 0;
	padding: 0;
	display: none;
	@include respond(large-up) {
		display: block;
		position: absolute;
		right: 75px;
		top: 8px;
	}
	li {
		list-style: none;
		padding: 0;
		&.stores {
			display: none;
		}
		@include respond(large-up) {
			background-color: transparent;
			border-color: transparent;
			float: left;
			margin: 0;
			padding: 0;
			text-align: center;
			&:first-child {
				border: none;
			}
		}
		a {
			@include respond(large-up) {
				//@extend %link-header-utility;
				span {
					color: $color-secondary;
					font-style: $font-style-italic;
				}
				&.user-logout {
					color: $color-secondary;
					font-style: $font-style-italic;
				}
			}
		}
		&.user-info {
			a {
				@include respond(large-up) {
					top: 3px;
					position: relative;
					color:$color-primary;
					text-decoration:none;
					font-weight: $font-wt-semibold;
					@include font-size(12px);

					&.user-logout {
						color: $color-secondary;
						font-style: $font-style-italic;
					}
				}
			}
		}
	}
	.user-info {
		@include respond(large-up) {
			position: relative;
			transition: color .5s ease;
			&.active {
				.user-login {
				}
				.user-panel {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		.user-panel {
			box-sizing: content-box; //See https://code.google.com/p/chromium/issues/detail?can=2&q=max-content&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Cr%20Status%20Owner%20Summary%20OS%20Modified&id=522191&thanks=522191&ts=1439925077
			margin-top: .5rem;
			text-align: left;
			transition: all .3s ease;
			width: 10rem; //For IE
			width: max-content;
			h3 {
				display: none;
				margin: 0;
				padding-bottom: .7em;
				text-transform: uppercase;
				@include respond(large-up) {
					display: block;
				}
			}
			@include respond(large-up) {
				background-color: $white;
				border: 1px solid $gainsboro;
				border-radius: 5px;
				box-shadow: 0 2px 5px 0 $very-light-gray;
				margin-top: 0;
				opacity: 0;
				padding: 1em;
				position: absolute;
				right: -1.5rem;
				visibility: hidden;
				z-index: 20;
			}
			.user-links {
				padding-left: 1.5rem;
				text-align: center;
				@include respond(large-up) {
					padding-left: 0;
				}
                span{
                  color: $color-primary;
                  a{
                    display: inline;
                  }
                }
			}
			a {
				display: block;
				color: $color-primary;
				text-decoration: none;
				font-weight: $font-wt-semibold;
				padding: .5rem 0;
				@include respond(large-up) {
					padding: 0;
					margin-bottom: .5rem;
				}
			}
			.user-logout {
				color: $white;
				margin-top: .5rem;
				padding: 0.5em 2em;
				text-transform: uppercase;
				&:hover {
				}
			}
		}
	}
}

.menuTopSellers {
	background-color: #efefef;;
    margin-top: 225px;
    margin-right: -20px;
    margin-left: -20px;
    margin-bottom: -12px;
	@include respond(large-down) {
		display:none;
	}
	@include respond(large-only) {
		display:none;
	}
	.product-carousel {
		.product-card {
			padding: 0 119px;
			@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
				padding: 0 232px 0 35px;
			}
		}
		ul.slick-dots {
			li {
				float: none;
			}
		}
	}
	.product-key-features-plp {
		display: none !important;
	}
	.product-carousel-card { 
		margin-left: 0px;
	}
	.section-title {
		h2.text-center {
			color: #ff6c5b;
		}
	}
	.product-carousel-wrap {
		.slick-list,
		.slick-track,
		.product-card {
			display: flex !important;
		}
	}
}
.product-carousel-wrap {
	@include respond(large-down) {
		.product-price {
			position: relative;
		    bottom: 0px;
		    width: 100%;
		    height: 45px;
		    .product-sales-price {
		    	@include respond(large-down) {
			    	color: #FF6C5B;
					font-weight: 600;
				}
		    }	
		    .product-standard-price {
		    	@include respond(large-down) {
	    			display: block !important;
	    		}
		    }
		    .has-sale-price {
		    	@include respond(large-down) {
	    			text-decoration: line-through;
	    		}
		    }
		}
	}
}
.product-carousel-wrap {
	@include respond(large-up) {
		.product-carousel {
			.product-card {
				.product-carousel-card {
					padding-bottom: 50px;
					background-color: white;
				    margin-top: 10px;
					.product-tile {
						width: 230px;
						.product-tile-one {
							.product-name {
								a.name-link {
									.name-link-text {
										font-weight: 500;
										font-family: Montserrat;
									}
								}
							}
							.product-key-features-plp {
								color: #333030;
							    font-weight: 300;
							    font-family: Montserrat;
							    min-height: 120px;
								ul {
									display: none;
								}
							}
						}	
					}	
					.product-price {
						position: relative;
					    bottom: 0px;
					    width: 100%;
					    height: 45px;
					    .product-sales-price {
					    	color: #FF6C5B;
	    					font-weight: 600;
					    }	
					    .product-standard-price {
					    	display: block;
					    }
					    .has-sale-price {
					    	text-decoration: line-through;
					    }
					}
				}
			}
		}
	}
}