.ui-dialog #listings-nav {
	float: right;
	margin-top: 2%;
	a {
		cursor: pointer;
		display: inline-block;
		margin: 0 5px;
		&.active {
			font-weight: bold;
		}
	}
}

.pdp-main .product-add-to-cart {
	.online-stock span {
		float: left;
	}
	.store-stock {
		display: block;
		clear: left;
	}
}

// Store inventory

.availability-web {
	padding-bottom: 1rem;
	label {
		float: none;
	}
	p {
		margin: 0;
	}
	.availability-novariation {
		color: $jewel;
		font-style: italic;
		display: inline-block;
		font-weight: $font-wt-semibold;
		@include font-size($font-size-sm);
	}
}

.availability-storepickup {
	.availability-instore,
	.availability-web {
		padding: 5px 0 0 0;
	}
	.availability-web {
		float: none;
		a {
			margin-left:3px;
		}
	}
	.availability-instore {
		padding: 10px 0 7px 0;
	}
	.set-preferred-store {
		display: inline-block;
		margin-left: 0;
	}
	label {
		font-weight: $font-wt-regular;
		@include font-size($font-size-sm);
	}
	a {
		@include font-size($font-size-sm);
		font-style: italic;
		color: $color-primary;
	}
	.availability-msg {
		display: inline-block;
	}
	.store-stock {
		display: inline-block !important;
	}

}

.in-stock-msg,
.is-in-stock,
[data-status="store-in-stock"] {
	color: $jewel;
	font-weight: 700;
	margin-bottom: 0;
}

.not-available-msg,
.in-stock-date-msg,
.not-available,
.out-of-stock,
.store-error {
	color: $color-secondary;
}

.on-order,
.preorder-msg,
.backorder-msg {
	font-weight: 700;
}

.store-list-container {
	.used-zip-code {
		display: inline-block;
		margin-right: 20px;
		font-weight: $font-wt-semibold;
	}
	.change-location {
		color: $color-primary;
	}
}

.store-list {
	list-style: none outside none;
	margin: 20px 0 0 0;
	padding: 0;
}

.store-tile {
	border: 1px dashed $alto;
	box-sizing: border-box;
	list-style: none outside none;
	margin-bottom: 20px;
	padding: 20px;
	position: relative;
	@include font-size(13px);
	@include respond(medium) {
		@include font-size(14px);
		width: 23.0769%;
		min-height: 345px;
		padding-bottom: 60px;
		margin: 0 2.5641% 0 0;
		float: left;
		&:last-child {
			margin-right: 0;
		}
	}
	@include respond(large) {
		min-height: 315px;
	}
	&.selected {
		background-color: rgba(0,133, 36, 0.1);
	}
	.store-status {
		display: block;
		@include font-size(15px);
		margin: 10px 0;
	}
	&.selected {
		border: none;
		button {
			background-color: $jewel;
			&:hover {
				background-color: $jewel-dark;
			}
		}
	}
	button {
		height: 40px;
		@include line-height(40px);
		@include font-size(14px);
		width: 100%;
		@include respond(medium) {
			width: 77%;
			position: absolute;
			bottom: 20px;
		}
	}
	.store-name {
		margin: 0;
	}
	.store-hours-label {
		font-weight: $font-wt-semibold;
	}
	.store-status {
		font-style: $font-style-italic;
		color: $color-secondary;
		&[data-status="store-in-stock"] {
			color: $jewel;
		}
	}
}

.ui-dialog.select-store-dialog {
	@include respond(large-only) {
		width: 720px !important;
	}
	.ui-dialog-buttonpane {
		margin-top: 0;
		padding-top: 0;
	}
	.dialog-content {
		padding-bottom: 0;
	}
	.ui-dialog-buttonset {
		float: none;
		@include respond(medium) {
			float: right;
			margin-top: 20px;
		}
		.ui-button {
			width: 100%;
			margin: 0;
			@include respond(medium) {
				width: 270px;
			}
		}
	}
	.ui-dialog-content {
		overflow: initial;
	}
	.no-results {
		padding: 0;
	}
}

.store-list-pdp-container {
	margin-top: 1em;
	.store-list-pdp {
		margin-top: 0.5em;
	}
	.store-list-item {
		@extend %clearfix;
		display: none;
		padding: 0.5em 0.8em;
		&:last-of-type {
			border: none;
		}
		&.selected {
			display: block;
			font-weight: bold;
		}
		&.visible {
			display: block;
		}
		.store-address {
			float: left;
		}
		.store-status {
			float: right;
		}
	}
}

// Cart inventory
.multishipprogress {
	div, .step-3 {
		display: inline;
		padding: 1em;
	}
	.step-4 {
		padding-right: 0;
	}
}

.multishipaddressestable {
	margin: 9px 0px 20px 0px;
	width: 706px;
}

.multi-ship-shipments-table {
	margin: 0 0 20px;
	width: 706px;
	.section-header {
		font-size: 10px;
		font-weight: bold;
		padding: 9px 6px 11px;
	}
	.shipping-address .details {
		padding: 0 10px 0 22px;
	}
	.gift-options {
		label {
			float: left;
			padding: 0;
		}
		input {
			margin: 0 10px;
		}
	}
}

.multi-shipping-addresses {
	margin-bottom: 20px !important;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	.shipping-address {
		text-align: right;
		select {
			margin: 4px 0 0;
			width: 260px;
		}
	}
}

.header-product-shipping {
	width: 276px;
}

.header-qty-shipping {
	width: 45px;
}

.header-location-shipping {
	text-indent: 70px;
	width: 307px;
}

.header-shipment-index {
	width: 409px;
}

.header-shipment-qty {
	width: 27px;
}

.header-shipment-details {
	text-indent: 22px;
}

.multi-shipping-methods {
	position: absolute;
	top: 30px;
	.form-row {
		clear: none;
		float: left;
		display: none;
	}
	select {
		width: 250px;
		margin: -5px 0 0 15px;
	}
}

.multi-shipping-option {
	border-bottom: 2px dotted $nobel;
	left: 0;
	padding: 0 0 12px;
	position: absolute;
	text-indent: 10px;
	top: 48px;
	width: 95%;
}

.multi-shipping-addresses .shipping-qty,
.multi-ship-shipments-table .shipping-qty {
	background: none repeat scroll 0 0 $white-smoke;
}

.multiship .label {
	font-weight: bold;
}

.hide {
	display: none;
}

.instore-shipping-option {
	width: 100%;
}

.pt_checkout {
	.instore-shipment-header {
		width: 100%;
	}
	.instore-shipment-method {
		width: 100%;
		padding: 1em;
		span {
			font-weight: bold;
		}
	}
	.instore-shipment-address {
		width: 40%;
		float: left;
		padding-left: 1em;
	}
	.instore-shipment-message {
		clear: both;
	}
	.instore-shipment-messagetxt {
		width: 50%;
		float: right;
	}
}

.checkout-shipping fieldset .instore-continue-button {
	margin-left: 61.5%;
}

#cart-table .item-delivery-options label {
	display: inline;
	margin-left: 2%;
}

.preferred-store-panel {
	.form-row {
		width: 100%;
		margin-bottom: 15px;
		@include respond(medium) {
			display: inline-block;
			width: 190px;
			margin: 0 10px 0 0;
			vertical-align: top;
			&.selectbox {
				width: 180px;
				margin-right: 20px;
			}
		}
	}
	select {
		width: 100%;
	}
	button {
		margin-top: 5px;
		width: 100%;
		@include respond(medium) {
			width: 140px;
			margin: 0;
			display: inline-block;
			vertical-align: bottom;
		}
	}
}