
@media print {
	@page { 
    //margin: 0; 
    }
    * {
        background: transparent !important;
        transition: none !important;
        box-shadow: none !important;
    }
    
    body {
        margin: 0;
        min-width: inherit;
    }
    .pt_order-confirmation #secondary {
    	display: none;
    }
    .embeddedServiceHelpButton,
    .helpButton, .btn-direction,
    #liveagent_invite_button_573G0000000D7FD,
    .checkoutorderdetail .orderitems .item-image,
    .checkoutorderdetail .od-footer-links .seeFAQs, 
    .checkoutorderdetail .od-footer-links .gethelp,
    .checkoutorderdetail-header .btn-primary,
    #nav, .right-menu, .confirmation, footer,
    .emailSignup-wrap, .embeddedServiceLiveAgentHelpButton,
    title { display: none !important;}

    img { border-style: none; }
    
    a { 
        text-decoration: none !important;
        pointer-events: none !important;
    }
    
    /* set default settings  */
    section, body, #wrapper, #header, #main {
        width: 100%;
        display: block;
        overflow: visible;
        min-width: inherit !important;
        clear: both;
    }
    .checkoutorderdetail .orderitems {
        .orderitem {
            margin-bottom: 30px;
        }
    }
    .checkoutorderdetail .orderitems .item-details { padding-left: 0 !important; }

    .pdp-main, #main {
        margin-top: 0 !important;
        max-width: 938px !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }
    
    .checkoutorderdetail #col-1, 
    .checkoutorderdetail #col-2 {
        width: 100% !important;
        display: block !important;
        clear: both;
    }
    .checkoutorderdetail {
        #col-1 {
            &.orderdetail-info {
                margin-bottom: 30px;
            }
        }
    }

    #col-2 .col-left,
    #col-2 .col-right {
        width: 48% !important;
        display: block !important;
        float: left !important;
    }

    .checkoutorderdetail .billingdelivery-info .deliveryinfomation #col-2 .col-left,
    .checkoutorderdetail .billingdelivery-info .deliveryinfomation #col-2 .col-right {
        width: 40%;
    }

    .logo { 
        float: left !important;
        margin: 0 0 30px !important;
        z-index: 50000000;
    }
    .checkoutorderdetail .orderdetails .oi-row .label
    .checkoutorderdetail .orderdetails .oi-row .value {
        padding: 0 !important;
        width: 50% !important;
        float: left !important;
    }

    *:after, *:before { 
        transition: none !important;
        background: none !important;
    }
    
    #header { position: static !important; }
    .container {
        width: inherit !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    .checkoutorderdetail .billingdelivery-info .deliveryinfomation { margin: 0px 0 0 !important; }
    .checkoutorderdetail .billingdelivery-info .notification { 
        margin-top: 0px !important;
        overflow: hidden;
    }
    .checkoutorderdetail .billingdelivery-info .billinginfomation { 
    	page-break-after: avoid !important;
    }
    .order-email{
        &.hidden { 
            display: block !important;
            text-align: center !important;
            color: $black !important;
            @include font-size(18px);
            @include line-height(21px);
            width: 100% !important;
            clear: both;
            float: none !important;
        }
    }
    .checkoutorderdetail-header h2 {
        display: block !important;
        text-align: center !important;
        color: $black !important;
        @include font-size(18px);
        @include line-height(21px);
        width: 100% !important;
        clear: both;
        float: none !important;
    }
    .checkoutorderdetail .orderdetails {
        margin: 0 0 28px !important;
    }
    .checkoutorderdetail .billingdelivery-info .deliveryinfomation { 
    	page-break-inside: avoid !important;
    }
    .checkoutorderdetail .orderdetails .oi-row { 
        overflow: visible !important;
    }
    .checkoutorderdetail .orderdetails .oi-row:first-child {
        margin: 0 !important;
    }
    
    .print_view_item {
        width: 100%;
        clear: both;
        display: block !important;
        text-align: center;
        margin: 40px 0 0;
        page-break-inside: avoid !important;
        overflow: hidden;
        
        a { 
            color: $t-amaranth;
            text-decoration: none;
        }
        p { margin: 5px 0;}
    
        .order_link {
            @include font-size(18px);
            @include line-height(21px);
            color: $t-hover-grey;
            width: 100%;
            clear: both;
            display: block;
            margin: 0 0 50px;
        }
    
        strong { font-weight: 500;}
    
        .your_quries {
            color: $black;
            @include font-size(14px);
            width: 100%;
            clear: both;
            @include line-height(18px);
        }
    }
    .checkoutorderdetail .orderdetails .oi-row.shipto {
        .label.show-xs {
          display: none;
        }
    }
    .creat-account-mobile {
      display: none;
    }
    .pt_order-confirmation .review-order-summary .order-summary-delivery-methods .via-fedex {
        .color-pink.hidden-xs {
          display: none;
        }
        br.hidden-xs {
          display: none;
        }
    }
    .pt_order-confirmation .order-confirmation-footer {
      margin-top: 25px;
    }
    .pt_order-confirmation .review-order-summary .checkoutorderdetail {
      padding: 0;
    }
    .pt_order-confirmation .review-order-summary .order-summary-delivery-methods.order-summary-confirmation .delivery-details .product-details,  
    .pt_order-confirmation .review-order-summary .order-summary-delivery-methods .delivery-details .product-details {
      .producy-attributes {
        padding-left: 65px;
        text-align: left;
        .attribute {
          float: left;
          width: 110px;
        }
        .label {
          display: inline;
        }
        .product-promotion {
          display: inline-block;
          margin-left: 55px;
          margin-top: 0;
          vertical-align: middle;
        }
        .promo-price-wrap {
          display: inline;
        }
        .product-price {
          text-align: left;
          display: block;
          float: right;
          margin-top: 0;
          vertical-align: middle;
          margin-left: 0;
        }
        .price-promotion {
          display: flex;
        }
        .price-standard {
          font-size: 16px;  
          display: block;
        }
      }
    }
    .pt_order-confirmation .review-order-summary .order-summary-delivery-methods.hidden-xs {
      display: none;
    }
    .pt_order-confirmation .order-confirmation-footer .container > a {
      display: none;
    }
    .pt_order-confirmation .review-order-summary .checkoutorderdetail .orderdetails .order-information h3 a {
      display: none;
    }
    .pt_order-confirmation .orderconfirmation-header h2 {
      margin-top: 0;
    }
    .pt_order-confirmation .review-order-summary .order-summary-customer-info h3 {
      .show-xs {
        display: none;
      }
    }
}