#mini-cart{
    #cart-table{
        margin: 0;
        .cart-row {
             position: relative;
             width: 100%;
             float: left;
             padding: 6px 0;
             display: block;
             flex-wrap: nowrap;
             border-bottom: 1px solid $very-light-gray;
             &.no-recycleFees {
     			    border-bottom: none;
              padding: 15px 0 0;
              .item-price {
                bottom: 0;
              }
     		     }
     
             @include respond(medium) {
                 padding: 15px 0;
             }
            .name{
	             font-weight: $font-wt-semibold;
	             color: $black;
	             text-decoration: none;
            }
        }
        .recycling-fee {
        	border-bottom: 1px solid $t-gray3;
          clear: both;
          position: relative;
          padding-bottom: 8px;
        	.item-total {
        		color: $black;
        		padding: 5px 0px;
            position: absolute;
            right: 0;
            bottom: 11px;
            font-size: 14px;
        	}
        	.item-details {
        		padding: 0 0 5px 100px;
            font-size: 14px;
            .recyclefeett {
              color: #ffa7d8;
            }
        	}
        }
     
        td{
             display: inline-block !important;
        }
     
         .item-image {
             float: left;
             text-align: center;
             width:90px;
             padding: 25px 10px 5px 0;
             @include respond(medium) {
                 width:90px;
                 padding: 15px 10px 5px 0;
             }
             
             .cart-product-img {
                 width:90px;
                 height: auto;
             }
         }
         .item-details {
             float: none;
             padding: 25px 0 5px 100px;
             text-align: left;
             color: $black;
             line-height: 22px;
             font-size: 18px;
             font-wwight:normal;
             .bonus-item-qty-wrap {
                position: relative;
                bottom: 3px;
                @include respond(medium) {
                  bottom: 4px;
                }
             }
             .product-list-item .name span {
               font-size: 18px;
             }    
             @include respond(medium) {
                 float: none;
                 padding: 15px 0 5px 100px;
             }
             .name {
                 a {
                     font-weight: $font-wt-semibold;
                     color: $black;
                     text-decoration: none;
                 }
             }
     
             .attribute{
                 margin: 0 0 4px;
                 white-space: nowrap;                 
                 .value{
                     font-weight: $font-wt-regular;
                 }
                 &.color {
                    display: none;
                 }
             }
     
             .mobile-show{
                 display: none !important;
             }
     
             .promotion {
                 color: $t-orange;
                 @include font-size(14px);
                 padding-bottom: 4px;
                 text-transform: uppercase;
                 line-height: normal;
             }
             .mini-cart-delivery-info {
                font-size: 14px;
                line-height: normal;
                color: $t-amaranth;
                padding-bottom: 10px;
             }
         }
     
         .item-price {
             float: right;
             width: 25%;
             padding: 0;
             position: absolute;
             right: 0;
             bottom: 9px;
             font-size: 14px;
             color: #808284;
             
             @include respond(medium) {
                 float: none;
                 width: 163px;
                 bottom: 15px;    
             }
             .price-total {
                 display: none;
             }
             .price-promotion, .price-normal {
                position: absolute;
                right: 0;
                bottom: 5px;
                display: table;
                @include respond(medium) {
                    bottom: 10px;
                    display: flex;
                }
             }
             span{
                 line-height: 20px;
                 color: $black;
                 display: block;
                 font-size: 16px;
                 @include respond(medium) {
                    font-size: 18px;
                 }
             }
             .price-standard {
                text-decoration: line-through;
                color: $t-border-gray2;
                order: 1;
                font-size: 13px;
                padding-top: 0;
                @include respond(medium) {
                    font-size: 18px;
                    padding-top: 0;
                    margin-left: -5px;
                }
             }
             .price-sales {
                order: 2;
                padding-left: 3px;
                display: table-footer-group;
                font-size: 18px;
                @include respond(medium) {
                    padding-left: 5px;
                    display: block;
                }
             }
         }
     
         .textbutton,
         .btn-remove{
             border:0;
             background: none;
             padding: 0;
             color: $t-border-gray2;
             font-size: 18px;
             margin: -5px 0 25px;
             position: absolute;
             top:10px;
             right: 0;
     
             @include respond(medium) {
                 top:10px;
     
             }
     
             &:hover{
                 color: $t-orange;
             }
         }
     
         .textbutton{
             top:10px;
         }
     
         .rowcoupons{
             line-height: 22px;
             font-size: 16px;
             position: relative;
             width: 100%;
             float: left;
             border-bottom: 1px solid #cccccc;
     
             .item-details{
                 padding: 30px 5px 5px 0;
                 line-height: 22px;
                 font-size: 18px; 
                 width: 325px; 
                 float: left;
                 text-align:right;
                  color: $t-mine-shaft;
      
                 @include respond(medium) {
                     width: 256px;
                 }
             }
     
             .item-total{
                 padding:30px 5px;
                 width: 134px;
                 position: relative;
                 text-align: right;
                 @include respond(medium) {
                     width: 106px;
                 }
                
             }
         }
     
         .discount{
             color: $t-mine-shaft;
             font-weight:$font-wt-semibold;
             font-size:18px; 
         }
     
     }
}

.mini-cart-content{
    .shipping-method {
        background: $t-light-grey;
        border-radius: 10px;
        color: $black;
        @extend %text-center;
        margin:0 0 70px;
        padding: 20px 10px;

        @include respond(medium) {
             margin:0 0 20px;
        }

        .heading {
            display: block;
            font-weight: 700;
            padding: 0 0 5px;
            margin: 0 -2px;
            font-size: 18px;
            
            span { 
                display:block;
                padding: 4px 0 0;
                font-weight: 400;
            }
        }

        .method {
            @extend %clear_list;
            @extend %text-left;
            color: $black;
            
            li {
                @include align-reset(middle, 14, 19);

                .thumb-holder {
                    width: 55px;
                    padding-left: 5px;

                    img { @extend %img-res;}
                }
                .caption {
                    padding: 0 0 0 15px;
                    width: calc(100% - 55px);
                    .tag {
                        display: block;
                        font-weight: $font-wt-bold;
                    }
                }
            }
        }
    }

    .cart-line{
         @include respond(large-up) {
            padding: 0;
         }
    }

    .cart-footer{
        height: auto;
        padding:5px 0 0;
        clear:both;
        @include respond(large-up) {
            padding:5px 0 0;
        }
    }

    .cart-coupon-code{
        width: 100%;
        text-align: left;
        margin-top: 8px;
        margin-bottom: 8px;

        @include respond(large-up) {
            width: 100%;
            margin-top: 16px;
            margin-bottom: 10px;
        }

        button#add-coupon{
            position: absolute;
            top: -1px;
            right: 0;
            bottom: -1px;
            height: 42px;
            border: 0;
            min-width: 80px;
            border-radius: 0;
            -webkit-border-top-right-radius: 100px;
            -webkit-border-bottom-right-radius: 100px;
            -moz-border-radius-topright: 100px;
            -moz-border-radius-bottomright: 100px;
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
            font-weight: $font-wt-bold;
            line-height: 16px;
            width: 115px;
            @include respond(medium) {
              line-height: 18px;
              height: 44px;
              width: 122px;
            }
        }

        a.coupon-label{
            font-size: 16px;
            color:$black;
            text-decoration: none;
            display: inline-block;
            vertical-align: top;
            margin: 0 0 10px;
            text-transform: capitalize;
            .fa {
                position: relative;
                top:1px;
                color:$t-amaranth;
                margin-right: 4px;
            }
        }

        &.active-drop{
            a.coupon-label{
                .fa {
                  &.fa-plus:before {content: "\f068";}
                }
            }
            .coupon-drop{
                display: block;
                margin:3px 0 17px;
                @include respond(medium) {
                   margin:10px 0;
                }
            }
        }

        div.error{
            color: red;
        }
    }
  
    .coupon-drop{
        overflow: hidden;
        height: 44px;
        display: none;
        position: relative;
        border-radius: 100px;

        input[type="text"]{
            border-width:1px 0 1px 1px;
            border-style: solid;
            border-color: $t-geyser;
            padding: 10px 115px 10px 20px;
            float: left;
            width: 100%;
            height: 42px;
            line-height: 22px;
            text-transform: none;
            border-radius: 100px;
            @include respond(medium) {
              padding: 10px 122px 10px 22px;
              height: 44px;
              line-height: 24px;
            }
        }
    }
    .promo-applied {
      text-align: left;
      margin-top: 8px;
      font-size: 16px;
      color: $black;
      margin-bottom: 9px;
      @include respond(medium) {
        margin-top: 25px;
        margin-bottom: 13px;
      }
      .fa {
        color:$t-amaranth;
        margin-right: 5px;
      }
      #deleteCouponCart {
        background: transparent;
        border: none;
        color: $burgundy2;
        padding: 0;
      }
    }
    .cart-order-totals{
        position: static;
        width: 100%;
        right: auto;
        top: auto;
        height: auto;
        padding: 0;
        text-align: right;
        border: 0;
        margin: 0;

        @include respond(large-up) {
            position: static;
            width: 100%;
            right: auto;
            top: auto;
            height: auto;
            padding: 0;
            text-align: right;
            border: 0;
        }
    }

    .cart-actions{
        padding:10px 0 15px;
        @include respond(large-up) {
            padding:10px 0 15px;
            width: 100%;
        }

        button{
            width: 100%;
        }
    }

    .order-totals-table {
        border-width: 1px;
        color: #7a7a7a;
        font-size: 18px;
        border-bottom: 0px;
        
        td {
            padding: 0 0 17px 0;
            text-align: right;
            color: $black;
            font-weight: $font-wt-regular;

            .order-free-ship{
                color: $black;
            }
            &:first-child {
                text-align: left;
            }
            .recyclefeett {
              color: #ffa7d8;
            }
        }

        .order-total{
            td{
                border:0;
                font-weight: $font-wt-bold;
            }
        }

        tr{
        	&.order-totals-header-wrap,
            &.order-totals-header {
                display: none;
            }
        }
    }
    .pillow-disclaimer-message {
      font-size: 14px;
      color: $t-sand;
      text-align: left;
      position: relative;
      margin-bottom: 25px;
      .starik {
        display: inline-block;
        position: absolute;
        left: -12px;
        top: 3px;
      }
    }
}

.checkout-promos{
	padding: 0;
  @include respond(medium) {
    padding: 0 20px;
  }
    #coupon-form {
        border-top: 1px solid #d4d9dd;
    }   
    .cart-coupon-code{
        width: 100%;
        text-align: left;
        margin-top: 8px;
        .coupon-drop {      
          width: calc(100% + 20px);
          margin:3px 0 0 -10px;
          @include respond(medium) {
            margin: 10px 0 0 -10px;
          }
        }
        @include respond(large-up) {
            width: 100%;
            margin-top: 16px;
        }

        button#add-coupon{
            position: absolute;
            top: -1px;
            right: 0;
            bottom: -1px;
            height: 42px;
            border: 0;
            min-width: 80px;
            border-radius: 0;
            -webkit-border-top-right-radius: 100px;
            -webkit-border-bottom-right-radius: 100px;
            -moz-border-radius-topright: 100px;
            -moz-border-radius-bottomright: 100px;
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
            font-weight: $font-wt-bold;
            line-height: 16px;
            width: 115px;
            @include respond(medium) {
            }
        }

        a.coupon-label{
            font-size: 16px;
            color:$black;
            text-decoration: none;
            display: inline-block;
            vertical-align: top;
            margin: 0 0 10px;
            text-transform: capitalize;
            .fa {
                position: relative;
                top:1px;
                color:$t-amaranth;
                margin-right: 4px;
            }
        }

        &.active-drop{
            a.coupon-label{
              .fa {
                &.fa-plus:before {content: "\f068";}
              }
            }
            .coupon-drop{
                display: block;
            }
        }

        div.error{
            color: red;
        }
    }
  
    .coupon-drop{
        overflow: hidden;
        height: 44px;
        display: none;
        position: relative;
        border-radius: 100px;

        input[type="text"]{
            border-width:1px 0 1px 1px;
            border-style: solid;
            border-color: $t-geyser;
            padding: 10px 115px 10px 20px;
            float: left;
            width: 100%;
            height: 42px;
            line-height: 22px;
            text-transform: none;
            border-radius: 100px;
            @include respond(medium) {
              padding: 10px 115px 10px 22px;
            }
        }
    }
    .promo-applied {
      text-align: left;
      margin-top: 8px;
      font-size: 16px;
      color: $black;
      margin-bottom: 9px;
      @include respond(medium) {
        margin-top: 14px;
        margin-bottom: 13px;
      }
      .fa {
        color:$t-amaranth;
        margin-right: 5px;
      }
      #deleteCouponCheckout {
        background: transparent;
        border: none;
        color: $burgundy2;
        padding: 0;
      }
    }
}

.cart-bonus-bundle-sale {
	background-color: $t-light-grey;
	border-radius: 10px;
	padding: 18px 5px 27px;
	text-align: center;
	display: table;
	margin-top: 5px;
	margin-bottom: 15px;
  @include respond(medium) {
    padding: 18px 16px 27px;
  }
	.heading-wrap {
		display: table-header-group;
	}
	h2 {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 20px;
		font-weight: $font-wt-semibold;
		line-height: 1.35;
		text-align: center;
		color: $t-amaranth;
		padding: 0 5px;
    @include respond(medium) {
      width: calc(100% + 20px);
      margin-left: -10px;
    }
	}
	.bonus-products {
		display: flex;
		margin-top: 25px;
		margin-bottom: 32px;
	}
	.bonus-product {
		width: 50%;
		float: left;
		display: block;
		font-size: 18px;
		padding: 0 5px 30px;
		position: relative;
		text-align: center;
		&:last-child {
			padding: 0 10px 30px;
		}
		.bonus-product-name {
			font-weight: $font-wt-bold;
			line-height: 1.39;
			color: $t-mine-shaft;
            @media screen and (max-width: 393px) {
              min-height: 50px;
            }
		}
		.item-image {
			padding: 5px 0;
            height: 60px;
            @include v-align(60px, middle, after);
			img {
				max-width: 68px;
			}
		}
		.item-price {
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 0;
			.text-free {
				color: $t-amaranth;
				font-weight: $font-wt-bold;
			}
			.price-strike {
				color: $t-dove-gray;
				font-weight: $font-wt-bold;
				position: relative;
				&:after {
					content: "";
					width: 100%;
					border-bottom: 3px solid $t-amaranth;
					height: 1px;
					display: block;
					position: absolute;
					top: 44%;
					left: 0;
					opacity: 0.71;
				}
			}
		}
	}
  .btn-default.select-bonus-items {
    width: 236px;
    height: 44px;
    padding: 13px 15px;
    font-size: 16px;
    background-color: $white;
    color: $t-amaranth;
    border: 1px solid $t-amaranth;
    line-height: 18px;
    &:hover, &:hover:after {
      background-color: $t-amaranth;
      color: $white;
    }
  } 
}
.free-pillow-offer-disclaimer {
  font-size: 14px;
  text-align: left;
  color: #808180;
  margin-bottom: 25px;
}

.recyclefeett {
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    left: -3px;
    right: -3px;
    background: transparent;
    content: " ";
    z-index: 10;
    height: 45px;
  }
  .recyclefee-tt {
    display: none;
    position: absolute;
    width: 200px;
    left: 50%;
    top:0;
    z-index: 500;
    transform: translateX(-50%);
    background-color: $t-light-mGray;
    border-radius: 9px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28);
    padding: 20px 15px;
    font-size: 18px;
    line-height: 1.44;
    color: $t-dove-gray;
    opacity: 0;
    transition: all 0.65s ease;
    @include respond(medium) {
      width: 250px;
      padding: 20px;
    }
    a {
      color: $t-dove-gray;
      font-size: 18px;
    }
    &:after {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;

      @include respond(medium){
        left: 50%;
      }
    }

    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: $t-light-mGray;
      border-width: 21px;
      margin-left: -21px;
    }
  }
  &.active-tt {
    .recyclefee-tt {
      opacity: 1;
      transition: all 0.65s ease;
      display: block;
      top:200%;
    }
  }
}

.free-sheets-block {
  margin-top: 25px;
  background-color: $t-light-grey;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 40px;
  h2 {
    color:$t-amaranth;
    font-size: 18px;
    font-weight: $font-wt-bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .free-sheets-content {
    img {
      width: 87px;
      height: auto;
      display: inline-block;
      vertical-align: middle;
      margin-right: 13px;
    }
    p {
      display: inline-block;
      font-size: 16px;
      line-height: 1.31;
      color: $black;
      text-align: left;
      width: calc(100% - 108px);
      vertical-align: middle;
      margin: 0;
    }
    a {
      color:$burgundy2;
      font-weight: $font-wt-semibold;
      font-size: 16px;
      line-height: 1.31;
      text-decoration: none;
      .fa {
        font-weight: $font-wt-bold;
      }
    }
  }
}

   

.ui-dialog {
  &.freesheets-dialog {
    @include respond(large) {
      width: 800px !important;
      left: 50% !important;
      margin: 0 0 0 -400px !important;
    }
    .ui-dialog-title {
      display: none;
    }
    .ui-icon-closethick {
      font-size: 14px;
      color:$white;
      left: 10px;
      top: 6px;
      @include respond(medium) {
        top: 15px;
      }
    }
    .ui-dialog-titlebar-close {
      height: 29px;
      width: 35px;
      @include respond(medium) {
        height: 49px;
        width: 40px
      }
    }
    .ui-dialog-content {
      padding: 0 0 23px;
      @include respond(medium) {
        padding: 0 0 35px;
      }
      .freesheets-details {
        .dialog-header {
          background-color: $t-amaranth;
          text-align: center;
          padding: 3px 0;
          h2 {
            margin:0;
            color:$white;
            font-size: 18px;
            font-weight: $font-wt-semibold;
            line-height: 1.28;
            @include respond(medium) {
              line-height: 1.57;
              font-size: 28px;
            }
          }
        }
        .freesheets-flags {
          max-width: 204px;
        }
        h3 {
          margin-top: 10px;
          text-align: center;
          display: block;
          font-size: 18px;
          font-weight: $font-wt-bold;
          line-height: 1.28;
          color:$magenta;
          margin-bottom: 10px;
          @include respond(medium) {
            margin-top: -8px;
            font-size: 22px;
            line-height: 1.91;
          }
        }
        .freesheets-details-body {
          max-height: calc(100vh - 80px);
          overflow: auto;
          @include respond(medium) {
            max-width: none;
            overflow: visible;
          }
          .freesheets-details-image {
            position: relative;
            float: none;
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            @include respond(medium) {
              float: left;
              width: 43%;
              padding-left: 48px;
              padding-right: 10px;
            }
            .free-sheets-fill1 {
              position: absolute;
              top:29px;
              left:15px;
              max-width: 90px;
              height: auto;
            }
            .free-sheets-fill2 {
              position: absolute;
              top:19px;
              right:14px;
              max-width: 18px;
              height: auto;
              @include respond(medium) {
                top:-7px;
                right:-3px;
                max-width: 42px;
              }
            }
          }
          .freesheets-details-content {
            float: none;
            width: 100%;
            padding-left: 8px;
            padding-right: 8px;
            @include respond(medium) {
              float: left;
              width: 57%;
              padding-left:27px;
              padding-right: 24px;
            }
            p {
              font-size: 16px;
              line-height: 1.44;
              color: $t-mine-shaft;
              margin:0 0 20px;
              @include respond(medium) {
                font-size: 18px;
              }
            }
            ul {
              margin:0;
              list-style-image: url('../images/freesheets-check.svg');
              li {
                margin-bottom:10px;
                display: block;
                font-size: 16px;
                line-height: 1.44;
                color: $t-mine-shaft;
                display: list-item;
                @include respond(medium) {
                  font-size: 18px;
                }
              }
            }
          }
        }
        .dialog-footer {
          margin-top: 10px;
          text-align: left;
          font-size: 16px;
          line-height: 1.44;
          color: $t-mine-shaft;
          padding-left: 8px;
          padding-right: 8px;
          @include respond(medium) {
            text-align: center;
            margin-top: 30px;
            font-size: 18px;
            line-height: 1.39;
          }
        }
      }
    }
  }
}