//-----------------------------------------------
//  EXTENSIBLE CLASSES
//
//  ex: %my-class - renders a "class" the is only
//		meant to be extended (will not render in
//		compiled .css files.
//
//  ex: @extend %my-class;
//
//  Best practices when using the @extend directive in Sass:
//  Make sure the extended selector is present only once throughout the site.
//  Avoid extending from nested selectors.
//  Avoid chaining @extend directives.
//  Don’t try extending from within a media query; it doesn’t work.
//-----------------------------------------------



// Clearfix
//---------------------------------------

// can apply directly in SCSS nested within another mixin if nec, such as respond()
@mixin clearfix() {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

// can extend directly in SCSS
%clearfix {
	@include clearfix();
}

// can apply directly in ISML as a class
.clearfix {
	@extend %clearfix;
}

@mixin mixincentered-block() {
	box-sizing: border-box;
	margin: auto;
	padding: 0 calculateRem(10px);
	min-width: $small-breakpoint; //no smaller than 320px

	@include respond(medium) {
		width: $large-breakpoint; // lock at 768x
	}

	@include respond(large) {
		width: $tablet-breakpoint + 1; // lock at 1025px
	}

	@include respond(x-large) {
		width: $desktop-breakpoint; // lock at 1200px
	}
}

%centered-block {
	box-sizing: border-box;
	margin: auto;
	padding: 0 calculateRem(10px);
	min-width: $small-breakpoint; //no smaller than 320px

	@include respond(medium) {
		width: $large-breakpoint; // lock at 768x
	}

	@include respond(large) {
		width: $tablet-breakpoint + 1; // lock at 1025px
	}

	@include respond(x-large) {
		width: $desktop-breakpoint; // lock at 1200px
	}
}

.centered-block {
	@extend %centered-block;
}


// Headings
//---------------------------------------

// can apply directly in SCSS
@mixin h1() {
	@include font-bold();
	@include font-size($font-size-mobile-h1);
	@include line-height($font-height-mobile-h1);
	letter-spacing: $font-spacing-regular;
	text-transform: uppercase;
	color: $thunderbird;
	margin: .625rem 0;
	padding: 0;
	@include respond(medium) {
		@include font-size($font-size-h1);
		@include line-height($font-height-h1);
	}
}

@mixin h2() {
	@include font-bold();
	@include font-size($font-size-mobile-h2);
	@include line-height($font-height-mobile-h2);
	letter-spacing: $font-spacing-regular;
	text-transform: uppercase;
	color: $thunderbird;
	padding: 0;
	margin: 25px 0 0;
	@include respond(medium) {
		@include font-size($font-size-tablet-h2);
		@include line-height($font-height-h2);
	}
	@include respond(large) {
		@include font-size($font-size-h2);
	}
}

@mixin h3() {
	@include font-bold();
	@include font-size($font-size-mobile-h3);
	@include line-height($font-height-mobile-h3);
	letter-spacing: $font-spacing-regular;
	color: $black;
	padding: 0;
	@include respond(medium) {
		@include font-size($font-size-h3);
		@include line-height($font-height-h3);
	}
}

@mixin h4() {
	@include font-bold();
	@include font-size($font-size-mobile-h4);
	@include line-height($font-height-mobile-h4);
	text-transform: uppercase;
	letter-spacing: $font-spacing-regular;
	color: $thunderbird;
	margin: calculateRem(6px) 0;
	padding: 0;
	@include respond(medium) {
		@include font-size($font-size-h4);
		@include line-height($font-height-h4);
	}
}

@mixin h5() {
	@include font-bold();
	@include font-size($font-size-mobile-h5);
	@include line-height($font-height-mobile-h5);
	letter-spacing: $font-spacing-regular;
	color: $thunderbird;
	margin: calculateRem(6px) 0;
	padding: 0;
	@include respond(medium) {
		@include font-size($font-size-h5);
		@include line-height($font-height-h5);
	}
}

@mixin h6() {
	@include font-bold();
	@include font-size($font-size-mobile-h6);
	@include line-height($font-height-mobile-h6);
	letter-spacing: $font-spacing-regular;
	color: $thunderbird;
	margin: calculateRem(6px) 0;
	padding: 0;
	@include respond(medium) {
		@include font-size($font-size-h6);
		@include line-height($font-height-h6);
	}
}

// can apply directly in ISML as a class
.h1 {
	@include h1();
}

.h2 {
	@include h2();
}

.h3 {
	@include h3();
}

.h4 {
	@include h4();
}

.h5 {
	@include h5();
}

.h6 {
	@include h6();
}



// Secondary paragraph text (smaller)
//---------------------------------------

// can apply directly in SCSS
@mixin alt-p() {
	@include font-size(14px);
	@include line-height(20px);
} 

// can apply directly in ISML as a class
.alt-p {
	@include alt-p();
}


// Informational Text (smallest)
//---------------------------------------

// can apply directly in SCSS nested within another mixin, like respond()
@mixin info() {
	@include font-size(12px);
	@include line-height(14px);
}

// can apply directly in ISML as a class
.info {
	@include info();
}


// Visually Hidden Elements
//---------------------------------------

// can apply directly in SCSS nested within another mixin, like respond()
@mixin visually-hidden() {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

// can extend directly in SCSS
%visually-hidden {
	@include visually-hidden();
}

// can apply directly in ISML as a class
.visually-hidden {
	@include visually-hidden();
}


// Menu - Base Styles
//---------------------------------------

// can extend directly in SCSS
%menu {
	float: left;
	margin: 0;
	padding: 0;
	li {
		float: left;
		list-style: none outside none !important;
	}
}

// can apply directly in SCSS nested within another mixin, like respond()
@mixin menu() {
	@extend %menu;
}

// can apply directly in ISML as a class
.menu {
	@extend %menu;
}


// Full-Bleed (using VW's)
//---------------------------------------

// can apply directly in SCSS nested within another mixin, like respond()
@mixin full-bleed-width() {
	width: 100vw;
	max-width: 100vw;
	margin-left: calc(0px - (100vw - 100%) /2);
	
	// just in case
	@media only screen and (max-width: $small-breakpoint - 1 ) {
		width: 100%;
		margin-left: 0;
	}
}

// can extend directly in SCSS
%full-bleed-width {
	@include full-bleed-width();
}

// can apply directly in ISML as a class
.full-bleed-width {
	@include full-bleed-width();
}

.desktop-only {
	@include respond(large-down) {
		display: none;
	}
}

.mobile-only {
	@include respond(large-up) {
		display: none;
	}
}

// Body Text & Labels
%block-paragraph-body {
	@include font-size($font-size-mobile-paragraph-body);
	@include line-height($font-height-mobile-paragraph-body);
	letter-spacing: $font-spacing-regular;
	font-weight: $font-wt-regular;
	color: $color-primary;
	@include respond(medium) {
		@include font-size($font-size-paragraph-body);
		@include line-height($font-height-paragraph-body);
	}
 }

.block-paragraph-body {
	@extend %block-paragraph-body;
}

%block-product-name {
	@include font-size($font-size-mobile-product-name);
	@include line-height($font-height-mobile-product-name);
	letter-spacing: $font-spacing-regular;
	font-weight: $font-wt-regular;
	color: $color-primary;
	text-decoration: none;
	@include respond(medium) {
		@include font-size($font-size-product-name);
		@include line-height($font-height-product-name);
	}
	&a {
		&:hover {
			color: $color-secondary;
		}
	}
}

.block-product-name {
	@extend %block-product-name;
}

%block-price-text {
	@include font-size($font-size-mobile-price-text);
	@include line-height($font-height-mobile-price-text);
	letter-spacing: $font-spacing-regular;
	font-weight: $font-wt-bold;
	color: $color-primary;
	@include respond(medium) {
		@include font-size($font-size-price-text);
		@include line-height($font-height-price-text);
	}
	.has-sale-price {
		font-weight: $font-wt-regular;
		text-decoration: line-through;
	}
	.product-sales-price {
		font-weight: $font-wt-semibold;
		color: $color-secondary;
	}
}

@mixin block-price-text() {
	@include font-size($font-size-mobile-price-text);
	@include line-height($font-height-mobile-price-text);
	letter-spacing: $font-spacing-regular;
	font-weight: $font-wt-bold;
	color: $color-primary;
	@include respond(medium) {
		@include font-size($font-size-price-text);
		@include line-height($font-height-price-text);
	}
	.has-sale-price {
		font-weight: $font-wt-regular;
		text-decoration: line-through;
	}
	.product-sales-price {
		font-weight: $font-wt-semibold;
		color: $color-secondary;
	}
}

.block-price-text {
	@include block-price-text();
}

%block-promotion-text {
	@include font-size($font-size-mobile-promotion-text);
	@include line-height($font-height-mobile-promotion-text);
	letter-spacing: $font-spacing-regular;
	font-weight: $font-wt-semibold;
	color: $color-secondary;
	@include respond(medium) {
		@include font-size($font-size-promotion-text);
		@include line-height($font-height-promotion-text);
	}
}

.block-promotion-text {
	@extend %block-promotion-text;
}

%block-sale-price {
	@include font-size($font-size-mobile-sale-price);
	@include line-height($font-height-mobile-sale-price);
	letter-spacing: $font-spacing-regular;
	font-weight: $font-wt-semibold;
	color: $color-secondary;
	@include respond(medium) {
		@include font-size($font-size-sale-price);
		@include line-height($font-height-sale-price);
	}
}

.block-sale-price {
	@extend %block-sale-price;
}

%block-crossed-price {
	@include font-size($font-size-mobile-crossed-price);
	@include line-height($font-height-mobile-crossed-price);
	letter-spacing: $font-spacing-regular;
	font-weight: $font-wt-regular;
	color: $color-primary;
	text-decoration: line-through;
	@include respond(medium) {
		@include font-size($font-size-crossed-price);
		@include line-height($font-height-crossed-price);
	}
}

.block-crossed-price {
	@extend %block-crossed-price;
}

%block-paragraph-head {
	@include font-size($font-size-mobile-paragraph-head);
	@include line-height($font-height-mobile-paragraph-head);
	letter-spacing: $font-spacing-regular;
	font-weight: $font-wt-semibold;
	color: $color-primary;
	@include respond(medium) {
		@include font-size($font-size-paragraph-head);
		@include line-height($font-height-paragraph-head);
	}
}

.block-paragraph-head {
	@extend %block-paragraph-head;
}

%block-subtext-below-title {
	@include font-size($font-size-mobile-subtext-below-title);
	@include line-height($font-height-mobile-subtext-below-title);
	letter-spacing: $font-spacing-regular;
	font-weight: $font-wt-regular;
	color: $color-primary;
	@include respond(medium) {
		@include font-size($font-size-regular);
		@include line-height($font-height-subtext-below-title);
	}
	@include respond(large) {
		@include font-size($font-size-subtext-below-title);
		@include line-height($font-height-subtext-below-title);
	}
}

.block-subtext-below-title {
	@extend %block-subtext-below-title;
}

%block-sidebar-promo-title {
	@include font-size($font-size-mobile-sidebar-promo-title);
	@include line-height($font-height-mobile-sidebar-promo-title);
	letter-spacing: $font-spacing-regular;
	font-weight: $font-wt-semibold;
	color: $color-secondary;
	@include respond(medium) {
		@include font-size($font-size-sidebar-promo-title);
		@include line-height($font-height-sidebar-promo-title);
	}
}

.block-sidebar-promo-title {
	@extend %block-sidebar-promo-title;
}

%block-sidebar-promo-paragraph {
	@include font-size($font-size-mobile-sidebar-promo-paragraph);
	@include line-height($font-height-mobile-sidebar-promo-paragraph);
	letter-spacing: $font-spacing-regular;
	font-weight: $font-wt-regular;
	color: $color-primary;
	@include respond(medium) {
		@include font-size($font-size-sidebar-promo-paragraph);
		@include line-height($font-height-sidebar-promo-paragraph);
	}
}

.block-sidebar-promo-paragraph {
	@extend %block-sidebar-promo-paragraph;
}

// Links
%link-paragraph {
	@include font-size($font-size-regular);
	font-weight: $font-wt-regular;
	color: $color-secondary;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

.link-paragraph {
	@extend %link-paragraph;
}

%link-footer {
	@include font-size($font-size-sm);
	font-weight: $font-wt-regular;
	color: $color-primary;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: $color-secondary;
	}
}

.link-footer {
	@extend %link-footer;
}

%link-header-utility {
	@include font-size($font-size-xs);
	font-weight: $font-wt-semibold;
	color: $color-primary;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: $color-secondary;
	}
}

.link-header-utility {
	@extend %link-header-utility;
}

%link-main-navigation {
	@include font-size(15px);
	font-weight: $font-wt-bold;
	color: $color-primary;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: $color-primary;
	}
}

.link-main-navigation {
	@extend %link-main-navigation;
}

%link-header-subnavigation {
	@include font-size($font-size-regular);
	font-weight: $font-wt-semibold;
	color: $color-primary;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: $color-secondary;
	}
}

.link-header-subnavigation {
	@extend %link-header-subnavigation;
}

%link-breadcrumb {
	@include font-size(11px);
	font-weight: $font-wt-regular;
	color: $color-primary;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: $color-secondary;
	}
}

.link-breadcrumb {
	@extend %link-breadcrumb;
}

%link-small-ancillary {
	@include font-size($font-size-xs);
	font-weight: $font-wt-regular;
	font-style: $font-style-italic;
	color: $color-primary;
	text-decoration: underline;
	&:hover {
		text-decoration: underline;
		color: $color-secondary;
	}
}

.link-small-ancillary {
	@extend %link-small-ancillary;
}