%clear_list {
	list-style: none;
	margin: 0;
	padding: 0;
}

* {
	outline: none;
}

html {
	&.mini-cart-active {
		height: 100vh;
		overflow: hidden !important;
	}
}
body {
	background: none;
	color: $t-primary-color;
	font-family: $sans-serif;
	font-weight: $font-wt-regular;
	font-size:$font-size-regular;
	min-width: 320px;
	
	&.nav-active {
		//height: 100vh;
		@extend %layout;
		//width: 100%;

		@include respond(medium){ height: auto; }
		@include respond(large-down) { 
			#header {
				z-index: 9999;
			}
		}
	}

	&.mini-cart-active {
		height: 100vh;
		overflow: hidden;
		//position:fixed;
		@extend %layout;
		@include respond(large-down) { 
			#header {
				z-index: 9999;
			}
		}
	}
}

img {
	max-width: 100%;
	vertical-align: top;
}

a {
	@include link-paragraph;
	color: $t-amaranth;
}

p {

	button {
		width: auto;
	}
}

ul, ol {
	margin: 0;
	padding-left: 16px;
}

fieldset {
	border: 0 none;
	margin: 0;
	padding: 0;
}

table {
	width: 100%;
}

th {
	text-align: left;
}

td {
	padding: 1em;
	vertical-align: top;
}

h1 {
	@include h1();
}

h2 {
	@include h2();
}

h3 {
	@include h3();
}

h4 {
	@include h4();
}

h5 {
	@include h5();
}

h6 {
	@include h6();
}

.button,
.buttonstyle,
input[type="button"] {
	@include btn-default();
}

.button-text {
	background-color: transparent;
	padding: 0;
	color: $color-primary;
	text-decoration: underline;
	font-weight: $font-wt-regular;
	width: auto;
	line-height: inherit;
	height: inherit;
	&:hover {
		text-decoration: underline;
		background: none;
		color: $color-secondary;
	}
}

.button-full-width {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	width: 100%;
}

/*Scroll To Top button*/
.scrollToTop {
	position: fixed;
	bottom: 40px;
	right: 40px;
	display: none;
	z-index: 10001;
	&:hover {
		cursor: pointer;
		color: $white;
	}
} 
.paragraph-head + p { margin-top: 0; } 
.page-title { @include block-page-title; }
.resize-active * { transition: none !important; }

.touch {
  -webkit-overflow-scrolling: touch;
}