//-----------------------------------------------
//  EXTENSIBLE CLASSES
//
//  ex: %my-class - renders a "class" the is only
//		meant to be extended (will not render in
//		compiled .css files.
//
//  ex: @extend %my-class;
//
//  Best practices when using the @extend directive in Sass:
//  Make sure the extended selector is present only once throughout the site.
//  Avoid extending from nested selectors.
//  Avoid chaining @extend directives.
//  Don’t try extending from within a media query; it doesn’t work.
//-----------------------------------------------



// Clearfix
//---------------------------------------

// can apply directly in SCSS nested within another mixin if nec, such as respond()
@mixin clearfix() {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

// can extend directly in SCSS
%clearfix {
	@include clearfix();
}

// can apply directly in ISML as a class
.clearfix {
	@extend %clearfix;
}

@mixin mixincentered-block() {
	box-sizing: border-box;
	margin: auto;
	padding: 0 calculateRem(10px);
	min-width: $small-breakpoint; //no smaller than 320px

	@include respond(medium) {
		width: $large-breakpoint; // lock at 768x
	}

	@include respond(large) {
		width: $tablet-breakpoint; // lock at 1025px
	}

	@include respond(x-large) {
		width: $desktop-breakpoint; // lock at 1200px
	}
}

%centered-block {
	box-sizing: border-box;
	margin: auto;
	padding: 0 15px;
	min-width:320px; //no smaller than 320px

	@include respond(medium) {
		width:738px; // lock at 768x
	}

	@include respond(large) {
		width:904px; // lock at 1025px
	}

	@include respond(x-large) {
		width: 1170px; // lock at 1200px
	}
}

.container, 
.centered-block {
	@extend %centered-block;
}

img {
  max-width: 100%;
  height: auto;
}


// Headings
//---------------------------------------

// can apply directly in SCSS
@mixin h1() {
	font-weight: $font-wt-bold;
	font-size:$font-size-mobile-h1;
	line-height:$font-height-mobile-h1;
	letter-spacing: $font-spacing-regular;
	color:$t-amaranth;
	@include respond(medium) {
		font-size:$font-size-h1;
		line-height:$font-height-h1;
	}
}

@mixin h2() {
	font-weight: $font-wt-bold;
	font-size:$font-size-mobile-h2;
	line-height:$font-height-mobile-h2;
	letter-spacing: $font-spacing-regular;
	color:$t-amaranth;
	@include respond(medium) {
		font-size:$font-size-h2;
		line-height:$font-height-h2;
	}
	@include respond(large) {
		font-size:$font-size-h2;
	}
}

@mixin h3() {
	font-weight: $font-wt-regular;
	font-size:$font-size-mobile-h3;
	line-height:$font-height-mobile-h3;
	letter-spacing: $font-spacing-regular;
	color: $t-mine-shaft;
	@include respond(medium) {
		font-size:$font-size-h3;
		line-height:$font-height-h3;
	}
}

@mixin h4() {
	font-weight: $font-wt-semibold;
	font-size:$font-size-mobile-h4;
	line-height:$font-height-mobile-h4;
	letter-spacing: $font-spacing-regular;
	color: $t-gray-shaft;
	@include respond(medium) {
		font-size:$font-size-h4;
		line-height:$font-height-h4;
	}
}

@mixin h5() {
	font-weight: $font-wt-regular;
	font-size:$font-size-mobile-h5;
	line-height:$font-height-mobile-h5;
	letter-spacing: $font-spacing-regular;
	color: $t-disco;
	@include respond(medium) {
		font-size:$font-size-h5;
		line-height:$font-height-h5;
	}
}

@mixin h6() {
	@include font-bold();
	font-size:$font-size-mobile-h6;
	line-height:$font-height-mobile-h6;
	letter-spacing: $font-spacing-regular;
	color: $crimson;
	margin: calculateRem(6px) 0;
	padding: 0;
	@include respond(medium) {
		font-size:$font-size-h6;
		line-height:$font-height-h6;
	}
}


// can apply directly in ISML as a class
.h1 { @include h1(); }

.h2 { @include h2(); }

.h3 { @include h3(); }

.h4 { @include h4(); }

.h5 { @include h5(); }

.h6 { @include h6(); }



// Secondary paragraph text (smaller)
//---------------------------------------

// can apply directly in SCSS
@mixin alt-p() {
	@include font-size(14px);
	@include line-height(20px);
} 

// can apply directly in ISML as a class
.alt-p {
	@include alt-p();
}


// Informational Text (smallest)
//---------------------------------------

// can apply directly in SCSS nested within another mixin, like respond()
@mixin info() {
	@include font-size(12px);
	@include line-height(14px);
}

// can apply directly in ISML as a class
.info {
	@include info();
}


// Visually Hidden Elements
//---------------------------------------

// can apply directly in SCSS nested within another mixin, like respond()
@mixin visually-hidden() {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

// can extend directly in SCSS
%visually-hidden {
	@include visually-hidden();
}

// can apply directly in ISML as a class
.visually-hidden {
	@include visually-hidden();
}


// Menu - Base Styles
//---------------------------------------

// can extend directly in SCSS
%menu {
	float: left;
	margin: 0;
	padding: 0;
	li {
		float: left;
		list-style: none outside none !important;
	}
}

// can apply directly in SCSS nested within another mixin, like respond()
@mixin menu() {
	@extend %menu;
}

// can apply directly in ISML as a class
.menu {
	@extend %menu;
}


// Full-Bleed (using VW's)
//---------------------------------------

// can apply directly in SCSS nested within another mixin, like respond()
@mixin full-bleed-width() {
	width: 100vw;
	max-width: 100vw;
	margin-left: calc(0px - (100vw - 100%) /2);
	
	// just in case
	@media only screen and (max-width: $small-breakpoint - 1 ) {
		width: 100%;
		margin-left: 0;
	}
}

// can extend directly in SCSS
%full-bleed-width {
	@include full-bleed-width();
}

// can apply directly in ISML as a class
.full-bleed-width {
	@include full-bleed-width();
}

.desktop-only {
	@include respond(large-down) {
		display: none;
	}
}

.mobile-only {
	@include respond(large-up) {
		display: none;
	}
}

// Body Text & Labels
@mixin block-page-title {
	@include font-size($font-size-mobile-page-title);
	@include line-height($font-height-mobile-page-title);
	letter-spacing: $font-spacing-regular;
	font-weight: $font-wt-bold;
	text-transform: uppercase;
	@include respond(medium) {
		@include font-size($font-size-page-title);
		@include line-height($font-height-page-title);
	}
}

.block-page-title {
	@include block-page-title;
}

// Body Text & Labels
@mixin block-paragraph-body {
	@include font-size($font-size-mobile-paragraph-body);
	@include line-height($font-height-mobile-paragraph-body);
	letter-spacing: $font-spacing-regular;
	font-weight: $font-wt-regular;
	color: $color-primary;
	@include respond(medium) {
		@include font-size($font-size-paragraph-body);
		@include line-height($font-height-paragraph-body);
	}
 }

.block-paragraph-body {
	@include block-paragraph-body;
}

@mixin block-product-name {
	@include font-size($font-size-mobile-product-name);
	@include line-height($font-height-mobile-product-name);
	letter-spacing: $font-spacing-regular;
	font-weight: $font-wt-regular;
	color: $color-primary;
	text-decoration: none;
	@include respond(medium) {
		@include font-size($font-size-product-name);
		@include line-height($font-height-product-name);
	}
	&a {
		&:hover {
			color: $color-secondary;
		}
	}
}

.block-product-name {
	@include block-product-name;
}

@mixin secondary-heading {
	@include font-size($font-size-mobile-secondary-heading);
	@include line-height($font-height-mobile-secondary-heading);
	letter-spacing: $font-spacing-regular;
	font-weight: $font-wt-bold;
	color: $color-primary;
	text-decoration: none;
	text-transform: uppercase;
	@include respond(medium) {
		@include font-size($font-size-secondary-heading);
		@include line-height($font-height-secondary-heading);
	}
	&a {
		&:hover {
			color: $color-secondary;
		}
	}
}

.secondary-heading {
	@include secondary-heading;
}

@mixin attribute-title {
	@include font-size($font-size-mobile-attribute-title);
	@include line-height($font-height-mobile-attribute-title);
	letter-spacing: $font-spacing-regular;
	font-weight: $font-wt-bold;
	color: $color-primary;
	text-decoration: none;
	text-transform: uppercase;
	@include respond(medium) {
		@include font-size($font-size-attribute-title);
		@include line-height($font-height-attribute-title);
	}
	&a {
		&:hover {
			color: $color-secondary;
		}
	}
}

.attribute-title {
	@include attribute-title;
}

@mixin block-price-text {
	@include font-size($font-size-mobile-price-text);
	@include line-height($font-height-mobile-price-text);
	letter-spacing: $font-spacing-regular;
	font-weight: $font-wt-bold;
	color: $color-primary;
	@include respond(medium) {
		@include font-size($font-size-price-text);
		@include line-height($font-height-price-text);
	}
	.has-sale-price {
		font-weight: $font-wt-regular;
		text-decoration: line-through;
	}
	.product-sales-price {
		font-weight: $font-wt-semibold;
		color: $color-secondary;
	}
}

@mixin block-price-text() {
	@include font-size($font-size-mobile-price-text);
	@include line-height($font-height-mobile-price-text);
	letter-spacing: $font-spacing-regular;
	font-weight: $font-wt-bold;
	color: $color-primary;
	@include respond(medium) {
		@include font-size($font-size-price-text);
		@include line-height($font-height-price-text);
	}
	.has-sale-price {
		font-weight: $font-wt-regular;
		text-decoration: line-through;
	}
	.product-sales-price {
		font-weight: $font-wt-semibold;
		color: $color-secondary;
	}
}

.block-price-text {
	@include block-price-text();
}

@mixin block-promotion-text {
	@include font-size($font-size-mobile-promotion-text);
	@include line-height($font-height-mobile-promotion-text);
	letter-spacing: $font-spacing-regular;
	font-weight: $font-wt-semibold;
	color: $color-secondary;
	@include respond(medium) {
		@include font-size($font-size-promotion-text);
		@include line-height($font-height-promotion-text);
	}
}

.block-promotion-text {
	@include block-promotion-text;
}

@mixin block-sale-price {
	@include font-size($font-size-mobile-sale-price);
	@include line-height($font-height-mobile-sale-price);
	letter-spacing: $font-spacing-regular;
	font-weight: $font-wt-semibold;
	color: $color-secondary;
	@include respond(medium) {
		@include font-size($font-size-sale-price);
		@include line-height($font-height-sale-price);
	}
}

.block-sale-price {
	@include block-sale-price;
}

@mixin block-crossed-price {
	@include font-size($font-size-mobile-crossed-price);
	@include line-height($font-height-mobile-crossed-price);
	letter-spacing: $font-spacing-regular;
	font-weight: $font-wt-regular;
	color: $color-primary;
	text-decoration: line-through;
	@include respond(medium) {
		@include font-size($font-size-crossed-price);
		@include line-height($font-height-crossed-price);
	}
}

.block-crossed-price {
	@include block-crossed-price;
}

@mixin paragraph-head {
	@include font-size($font-size-mobile-paragraph-head);
	@include line-height($font-height-mobile-paragraph-head);
	letter-spacing: $font-spacing-regular;
	font-weight: $font-wt-semibold;
	color: $color-primary;
	@include respond(medium) {
		@include font-size($font-size-paragraph-head);
		@include line-height($font-height-paragraph-head);
	}
}

.paragraph-head,
.block-paragraph-head {
	@include paragraph-head;
}

@mixin product-name-browse {
	@include font-size($font-size-mobile-product-name-browse);
	@include line-height($font-height-mobile-product-name-browse);
	letter-spacing: $font-spacing-regular;
	font-weight: $font-wt-regular;
	color: $color-primary;
	@include respond(medium) {
		@include font-size($font-size-product-name-browse);
		@include line-height($font-height-product-name-browse);
	}
}

.product-name-browse {
	@include product-name-browse;
}

@mixin block-subtext-below-title {
	@include font-size($font-size-mobile-subtext-below-title);
	@include line-height($font-height-mobile-subtext-below-title);
	letter-spacing: $font-spacing-regular;
	font-weight: $font-wt-regular;
	color: $color-primary;
	@include respond(medium) {
		@include font-size($font-size-regular);
		@include line-height($font-height-subtext-below-title);
	}
	@include respond(large) {
		@include font-size($font-size-subtext-below-title);
		@include line-height($font-height-subtext-below-title);
	}
}

.block-subtext-below-title {
	@include block-subtext-below-title;
}

@mixin block-sidebar-promo-title {
	@include font-size($font-size-mobile-sidebar-promo-title);
	@include line-height($font-height-mobile-sidebar-promo-title);
	letter-spacing: $font-spacing-regular;
	font-weight: $font-wt-semibold;
	color: $color-secondary;
	@include respond(medium) {
		@include font-size($font-size-sidebar-promo-title);
		@include line-height($font-height-sidebar-promo-title);
	}
}

.block-sidebar-promo-title {
	@include block-sidebar-promo-title;
}

@mixin block-sidebar-promo-paragraph {
	@include font-size($font-size-mobile-sidebar-promo-paragraph);
	@include line-height($font-height-mobile-sidebar-promo-paragraph);
	letter-spacing: $font-spacing-regular;
	font-weight: $font-wt-regular;
	color: $color-primary;
	@include respond(medium) {
		@include font-size($font-size-sidebar-promo-paragraph);
		@include line-height($font-height-sidebar-promo-paragraph);
	}
}

.block-sidebar-promo-paragraph {
	@include block-sidebar-promo-paragraph;
}

// Links
@mixin link-paragraph {
	@include font-size($font-size-regular);
	font-weight: $font-wt-regular;
	color: $color-primary;
	text-decoration: underline;
	&:hover {
		text-decoration: underline;
		color: $color-secondary;
	}
}

.link-paragraph {
	@include link-paragraph;
}

@mixin link-footer {
	@include font-size($font-size-regular);
	font-weight: $font-wt-regular;
	color: $color-primary;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: $color-secondary;
	}
}

.link-footer {
	@include link-footer;
}

@mixin link-header-utility {
	@include font-size($font-size-xs);
	font-weight: $font-wt-regular;
	color: $color-primary;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: $color-secondary;
	}
}

.link-header-utility {
	@include link-header-utility;
}

@mixin link-main-navigation {
	@include font-size($font-size-regular);
	font-weight: $font-wt-bold;
	color: $color-primary;
	text-decoration: none;
	text-transform: uppercase;
	&:hover {
		text-decoration: none;
		color: $color-secondary;
	}
}

.link-main-navigation {
	@include link-main-navigation;
}

@mixin link-header-subnavigation {
	@include font-size($font-size-regular);
	font-weight: $font-wt-semibold;
	color: $color-primary;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: $color-secondary;
	}
}

.link-header-subnavigation {
	@include link-header-subnavigation;
}

@mixin link-breadcrumb {
	@include font-size(11px);
	font-weight: $font-wt-regular;
	color: $color-primary;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: $color-secondary;
	}
}

.link-breadcrumb {
	@include link-breadcrumb;
}

@mixin link-small-ancillary {
	@include font-size($font-size-xs);
	font-weight: $font-wt-regular;
	font-style: $font-style-italic;
	color: $color-primary;
	text-decoration: underline;
	&:hover {
		text-decoration: underline;
		color: $color-secondary;
	}
}

.link-small-ancillary {
	@include link-small-ancillary;
}

@mixin link-header-edit {
	@include font-size($font-size-regular);
	font-weight: $font-wt-regular;
	color: $color-secondary;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
		color: $color-secondary;
	}
}

.link-header-edit {
	@include link-header-edit;
}

@mixin link-refinement-attr {
	@include font-size($font-size-regular);
	font-weight: $font-wt-regular;
	color: $color-primary;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: $color-secondary;
	}
}

.link-refinement-attr {
	@include link-refinement-attr;
}

//custom helpers for html and css
%text-center { text-align: center; }
.text-center { @extend %text-center; }

%text-left { text-align: left; }
.text-left { @extend %text-left;}

%text-right { text-align: right;}
.text-right { @extend %text-right;}

%text-upparcase { text-transform: uppercase;}
.text-upparcase { @extend %text-upparcase;}

%text-lowercase{ text-transform: lowercase;}
.text-lowercase { @extend %text-lowercase;}

%text-capital{ text-transform: capitalize};
.text-capital { @extend %text-capital;}

%pull-left{ float: left !important;}
.pull-left { @extend %pull-left;}

%pull-right{ float: right !important;}
.pull-right { @extend %pull-right;}

%layout{ overflow: hidden;}
.layout { @extend %layout;}

%hidden{ display: none !important;}
.hidden { @extend %hidden;}

%full-width {
  width: 100% !important;
  display: block !important;
  clear: both !important;
}
%img-res {
	width: 100%;
	height: auto;
	display: block;
}

%full-width-height{
  position: absolute;
  left:0;
  top: 0;
  right: 0;
  bottom: 0;
}

%no-padding { @include no-padding();}
%no-padding-left { @include no-padding-left();}
%no-padding-right { @include no-padding-right();}
%no-padding-top { @include no-padding-top();}
%no-padding-bottom { @include no-padding-bottom();}

.no-padding { @extend %no-padding;}
.no-padding-left { @extend %no-padding-left;}
.no-padding-right { @extend %no-padding-right;}
.no-padding-top { @extend %no-padding-top;}
.no-padding-bottom { @extend %no-padding-bottom;}


%no-margin { @include no-margin();}
%no-margin-left { @include no-margin-left();}
%no-margin-right { @include no-margin-right();}
%no-margin-top { @include no-margin-top();}
%no-margin-bottom { @include no-margin-bottom();}

.no-margin { @extend %no-margin;}
.no-margin-left { @extend %no-margin-left;}
.no-margin-right { @extend %no-margin-right;}
.no-margin-top { @extend %no-margin-top;}
.no-margin-bottom { @extend %no-margin-bottom;}

.full-width{ @extend %full-width; }
.btn-tulo-default {
  @extend %layout;
  @include align(top);
  color: $white;
  background: $t-amaranth;
  border-radius: 20px;
  -moz-border-radius: 20px;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 10px 40px;
  position: relative;
  z-index: 1;
  transition: all $t-animate-speed ease;
  text-decoration: none;

  &:after {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 100%;
    pointer-events: none;
    background: $t-amaranth;
    content: ' ';
    z-index: -1;
    transition: all $t-animate-speed ease;
  }

  &:active:focus,
  &:active,
  &:visited,
  &:hover {
    background-color: transparent;
    outline: none;
	border-color: none;
	text-decoration: none;
  }
  &:hover {
    color: $white;
    &:after {
      top: 0;
      bottom: 0;
    }
  }
}

a{
	color: $t-amaranth;
	text-decoration: none;

	&:hover{
		text-decoration: none;
		color: $t-rose;
	}
}
@mixin btn-default(){
	@include align(top);
	min-width: 140px;
	border-radius: 47px;
	background: $t-amaranth;
	color: $white;
	font-size: 18px;
	border:0;
	padding: 13px 30px;
	line-height: 24px;
	text-decoration: none;
	font-weight: $font-wt-semibold;
	text-align: center;
	transition: all $t-animate-speed cubic-bezier(0.42, 0, 0.58, 1);
	text-transform:inherit;
	position: relative;
	z-index: 2;
	overflow: hidden;
    cursor: pointer;

	&:after {
		background: $t-Razmataz;
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
		content: ' ';
		transition: all $t-animate-speed cubic-bezier(0.42, 0, 0.58, 1);
		opacity: 0;
	}
	

	&:hover{
		text-decoration: none;
		color: $white;
		cursor: pointer;
		
		&:after {
			top: 0%;
			bottom: auto;
			height: 100%;
			opacity: 1;
		}
	}
	&.orange {
		background: $t-orange2;
		&:after { background: $t-orange; }
	}
	&.dark-pink {
			background: $t-disco;
			&:after {
				background: $t-pinkDark-hover;
			}
	}
	&.white {
		background: $white;
		color: $t-amaranth;
		&:hover { color: $white; background: lighten($t-rose, 1%); }
		&:after {
			background: lighten($t-rose, 1%);
		}
	}

	&.gray {
		background: $t-border-gray2;
		color: $white;
		&:hover { color: $white;}
		&:after {
			background: darken($t-border-gray2, 2%);
		}
	}
}
@mixin btn-primary(){
	background: none;
	border:1px solid $t-amaranth;
	color: $t-amaranth;

	&:hover{
		background: $t-Razmataz;
		color: $white;
		border-color: $t-Razmataz;
	}
	&.black {
		background: $white;
		border:1px solid $t-primary-color;
		color: $t-primary-color;
		&:hover{
			background: $t-primary-color;
			color: $white;
			border-color: $t-primary-color;
		}
		&:after {
			background: $t-primary-color;
		}
	}
	&.white {
		background: $white;
		&:hover{
			background: $t-Razmataz;
			color: $white;
			border-color: $t-Razmataz;
		}
		&:after {
			background: $t-Razmataz;
		}
	}
}

@mixin btn-secondary(){
	background: $t-orange;
	border:1px solid $t-orange;
	color: $white;

	&:hover{
		background: $t-orange2;
		color: $white;
		border-color: $t-orange2;
	}

	&.white {
		background: $white;
		color: $t-orange;
		&:hover{
			background: $t-orange;
			color: $white;
			border-color: $t-orange;
		}
		&:after {
			background: $t-orange;
		}
	}
}
@mixin disabled-btn(){
	background: $t-border-gray2 !important;
	border: 1px solid $t-border-gray2 !important;
	color: $white !important;
	cursor: none !important;
	pointer-events: none !important;
	position: relative;

	&::after {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 55;
		content: ' '; 
	}

	&:focus,
	&:active,
	&:hover {
		background: $t-border-gray2 !important;
		color: $white !important;
		cursor: none !important;
		pointer-events: none !important;
	}
}

.disabled-btn {
	@include disabled-btn();
}
.disabled-opacity {
	cursor: none !important;
	pointer-events: none !important;
	position: relative;
	opacity:0.5;
	&::after {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 55;
		content: ' '; 
	}

	&:focus,
	&:active,
	&:hover {
		cursor: none !important;
		pointer-events: none !important;
	}
	}
.btn-primary,
.btn-default,
.btn-secondary{ @include btn-default(); }

.btn-primary{ @include btn-primary(); }

.btn-secondary{ @include btn-secondary(); }

.hidden-xs { @include hidden-xs(); }
.show-xs { @include show-xs(); }
.hidden-sm { @include hidden-sm();}
.show-sm { @include show-sm();}
.hidden-lg { @include hidden-lg();}
.show-lg { @include show-lg();}
.hidden-x-lg { @include hidden-x-lg();}
.show-x-lg { @include show-x-lg();}