//Footer styling
footer {
        border-top: 1px solid #eee; //temprary style
        margin-top: 0;
        clear: both;
        a {
                text-decoration: none;
        }
        .large-down-hide {
                @include respond(large-down) {
                        display: none;
                }
        }
        .footer-container {
                @extend %centered-block;
                @include respond(large-up) {
                        display: table;
                }
                .footer-item {
                        overflow: hidden;
                        @include respond(large-up) {
                                display: block;
                                float: left;
                                width: 20%;
                                vertical-align: top;
                                padding-left: 20px;
                                &.first {
                                        width: 20%;
                                        border: 0;
                                        padding: 0;
                                }
                                &.last {
                                        width: 20%;
                                }
                        }
                        @include respond(x-large) {
                                width: 20%;
                                &.first,
                                &.last {
                                        width: 20%;
                                }
                        }
                        &.first {
                                label {
                                        border: 0;
                                }
                                img {
                                        padding: 13px 0;
                                }
                                @include respond(small) {
                                        display: none;
                                }
                        }
                        .menu-footer {
                                @extend %clear_list;
                                margin-top: -1px;
                                overflow: hidden;
                                height: auto;
                                position: relative;
                                width: 100%;
                                z-index: 10;
                                color: $t-primary-color;
                                transition-duration: 0.4s;
                                @include respond(large-up) {
                                        margin-top: 8px;
                                        height: auto;
                                }
                                li {
                                        float: none;
                                        list-style: none;
                                        line-height: 25px;
                                        margin-bottom: 8px;
                                        a {
                                                font-size: 18px;
                                                line-height: 25px;
                                                color: $t-primary-color;
                                                &:hover {
                                                        text-decoration: none;
                                                        color: $t-hover-grey;
                                                }
                                                @include respond(large-down) {
                                                        font-size: 16px;
                                                }
                                        }
                                        .menu-header {
                                                color: #4a4a4a;
                                                font-weight: $font-wt-bold;
                                                line-height: 25px;
                                                font-size: 18px;
                                                @include respond(large-down) {
                                                        font-size: 16px;
                                                }
                                        }
                                }
                                @include respond(small) {
                                        height: auto;
                                }
                        }
                        @include respond(small) {
                                width: 50%;
                                float: left;
                        }
                }
                padding-top: 30px;
                padding-bottom:30px;
                @include respond(small) {
                        clear: both;
                        overflow: hidden;
                        padding-bottom: 0px;
                }
        }
        .footer-social-block {
                @include respond(medium) {
                        display: block;
                        float: left;
                        vertical-align: top;
                        width: 20%;
                        padding-left: 20px;
                }
                @include respond(large) {
                        width: 20%;
                }
                @include respond(small) {
                        width: 100%;
                        clear: both;
                }
                .social-links {
                        padding: 0;
                        margin: 10px 0 13px;
                        text-align: left;
                        @include respond(large-up) {
                                text-align: left;
                                margin: 10px 0 13px;
                        }
                        li {
                                display: inline;
                                padding-right: 20px;
                                margin: 0;
                                line-height: 20px;
                                @include respond(medium) {
                                        padding-right: 8px;
                                }

                                @include respond(x-large) {
                                        padding-right: 20px;
                                }

                                .fa {
                                        font-size: 20px;
                                        color: $t-primary-color;
                                        @include respond(large-down) {
                                                font-size: 26px;
                                        }
                                }
                                &.last {
                                        padding: 0;
                                }
                        }
                        a {
                                img {
                                        width: 24px;
                                        margin-right: 15px;
                                }
                        }
                        a:hover {
                                text-decoration: none;
                        }
                }
        }
        .footer-contactus-block {
                padding-left: 15px;
                padding-top: 10px;
                @include respond(medium) {
                        display: block;
                        float: left;
                        vertical-align: top;
                        width: 40%;
                        padding-left: 20px;
                        padding-top: 0;
                }
                @include respond(small) {
                        width: 100%;
                        clear: both;
                }
                .footer-contact-us {
                        h3 {
                                .icon-zzz-chat {
                                        width: 67px;
                                        height: 67px;
                                        border-radius: 999px;
                                        background-color: $t-light-grey;
                                        font-size: 65px;
                                        text-align: center;
                                        display: inline-block;
                                        vertical-align: middle;
                                        margin-bottom: 2px;
                                        margin-right: 7px;
                                        text-shadow: none;
                                        color: $t-disco;
                                        float: left;
                                }
                                margin:0 0 5px -15px;
                                color:$burgundy-dark;
                                font-size:$font-size-regular;
                                font-weight:$font-wt-bold;
                                .heading-text {
                                        line-height: 125%;
                                        display: inline-block;
                                        padding: 11px 0;
                                }
                        }
                        p {
                                margin-top: 0;
                                margin-bottom: 15px;
                                clear: both;
                                line-height: 125%;
                        }
                        a {
                                color: $burgundy-dark;
                        }
                }
                .social-links {
                        padding: 0;
                        margin: 10px 0 13px;
                        text-align: left;
                        @include respond(large-up) {
                                text-align: left;
                                margin: 10px 0 13px;
                        }
                        li {
                                display: inline-block;
                                vertical-align: middle;
                                padding-right: 9px;
                                margin: 0;
                                line-height: 20px;
                                @include respond(medium) {
                                        padding-right: 9px;
                                }

                                @include respond(x-large) {
                                        padding-right: 9px;
                                }

                                .icn {
                                        font-size: 20px;
                                        display: inline-block;
                                        color: $t-sand;
                                        &.icon-instagram2 {
                                                font-size: 22px;
                                        }
                                        &.icon-facebook2 {
                                                font-size: 25px;
                                        }
                                }
                                &.last {
                                        padding: 0;
                                }
                        }
                        a {
                                img {
                                        width: 24px;
                                        margin-right: 15px;
                                }
                                &:hover {
                                        .icn {
                                                color: $burgundy-dark;
                                        }
                                }
                        }
                        a:hover {
                                text-decoration: none;
                        }
                }
        }
        .copyright {
                background-color: $t-light-grey;
                text-align: center;
                padding: 10px 0 65px;
                font-size: 14px;
                line-height: 20px;
                clear: both;

                @include respond(large) {
                        padding: 10px 0 55px;
                }

                .copy-left {
                        float: left;
                        .sep {
                                text-align: center;
                                font-size: 18px;
                                width: 15px;
                                line-height: 20px;
                                box-sizing: border-box;
                                display: inline-block;
                                top: -2px;
                                position: relative;
                        }
                        @include respond(large-down) {
                                float: none;
                                margin-bottom: 5px;
                                text-align: left;
                        }

                        a {
                                color: $t-primary-color;
                                font-size: 14px;
                                &:hover {
                                        text-decoration: none;
                                        color: $t-hover-grey;
                                }
                        }
                }
                .copy-right {
                        float: right;
                        text-align: right;
                        margin-left: 10px;
                        img {
                                margin-left: 10px;

                                &:first-child {
                                        margin-left: 0;

                                        @include respond(medium) {
                                                margin-left: 10;
                                        }
                                }
                        }
                        @include respond(large-down) {
                                float: none;
                                margin-left: 0px;
                                margin-right: 10px;
                                text-align: left;
                        }
                }
                @include respond(large) {
                        font-size: 14px;
                }
        }
}

.helpButton,
.embeddedServiceSidebarMinimizedContainer {
        left: 12px !important;
        right: inherit !important;
        width: 224px;
        .helpButtonDisabled {
            display: none !important;
        }
}

.embeddedServiceSidebar .dockableContainer {
        left: 20px !important;
        right: auto !important;
}

a#esw_button_online:focus {
        outline: none !important;
}

.quick-contact-info {
        font-weight: $font-wt-semibold;
        float: left;
        text-align: left;
        line-height: 24px;

        span {
                color: #e51970;
        }

        strong {
                display: block;

                @include respond(medium) {
                        display: inline;
                }

                >a {
                        text-decoration: none;
                        color: #e51970;
                        font-size: 14px;
                        font-weight: $font-wt-semibold;

                        &:hover {
                                color: #e51970;
                                text-decoration: none;
                        }
                }
        }

        .sep {
                text-align: center;
                font-size: 25px;
                width: 15px;
                line-height: 20px;
                box-sizing: border-box;
                display: none;
                top: -2px;
                font-weight: normal;
                position: relative;

                @include respond(large) {
                        display: inline-block;
                }
        }
}

.footer-site-switch {
  margin-bottom:15px;
  ul {
    list-style:none;
     li.mobile-dropdown-switch-site {
      position: relative;
      list-style:none;
      a.mobile-dropdown-switch-site-opener {
        display: inline-block;
        color: $t-dove-gray;
        text-decoration: none;
        font-size: 16px;
        line-height: 1.75;
        .fa {
                color: $t-dove-gray;
                font-size: 24px;
                position: relative;
                top: 3px;
                margin-left: 15px;
        }
      }
      img {
          margin-right: 10px;
          position: relative;
          top: 2px;
      }
      &:hover {}
    }
  }
 
}
