.js .simple-submit {
	display: none;
}

legend {
	width: 100%;
	margin: 0;
	position: relative;
	color: #7a7a7a;
	@include font-size(18px);
	font-weight: $font-wt-semibold;
	padding-bottom: 4px;
	border-bottom: $border;
	span {
		font-weight: $font-wt-regular;
		position: relative;
		text-transform: none;
		em {
			color: $night-rider;
		}
	}
	.dialog-required {
		margin: 7px 0 0;
	}
	.required-indicator {
		margin: 0;
		float: right;
	}
}

label {
	display: block;
	font-size: 14px;
	font-weight: $font-wt-semibold;
	.form-horizontal & {
		float: left;
		margin-top: 5px;
		margin-bottom: 2px;
		width: 100%;
		@include respond(medium) {
			width: 144px;
			margin-bottom: 0;
		}
	}
	.label-inline & {
		display: inline;
		float: none;
		font-size: 14px;
		font-weight: $font-wt-regular;
		line-height: 20px;
		margin-top: 0;
		text-align: left;
		width: auto;
	}
	.label-above & {
		margin-bottom: .3rem;
		width: auto;
	}
}

.form-label-text {
	float: left;
	font-size: 1.1em;
	font-weight: 700;
	padding: 0.75em 0 0;
	text-align: right;
	width: 25%;
}

.form-row {
	@extend %clearfix;
	margin: 5px 0 10px;
	&.form-radio,
	&.form-checkbox {
		.label,
		label {
			margin-right: 30px;
			@include font-size(12px);
		}
	}
}

.form-row-button {
	clear: left;
	.form-horizontal & {
		@include respond(medium) {
			margin-left: 0;
			margin-right: 0;
			max-width: 500px;
			text-align: right;
		}
	}
}

.field-wrapper {
	box-sizing: border-box;
	margin-bottom: .5rem;
	width: 100%;
	@include respond(medium) {
		max-width: 310px;
	}
	.form-horizontal & {
		float: left;
		@include respond(medium) {
			max-width: 310px;
		}
	}
	.label-inline & {
		float: left;
		padding-left: 0;
		width: auto;
	}
	.label-above & {
		float: none;
		padding-left: 0;
		width: auto;
	}
	.phone-row & {
		max-width: 180px;
	}
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="email"],
input[type="tel"],
textarea {
	border: 1px solid #cccccc;
	box-sizing: border-box;
	height: 40px;
	padding: 0 11px;
	text-indent: 0;
	width: 100%;
	color: #727272;
	font-size: 14px;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 4px;
	&.error {
		border: 1px solid $crimson;
	}
}

textarea {
	width: 100%;
	height: 75px;
	padding: 13px;
	box-sizing: border-box;
	.textarea-row & {
		height: 160px;
	}
}

select {
	background-color: #fff; // set background color to make height work
	width: 100%;
	height: 2rem;

	&::focus { outline: none; }
}

input[type="checkbox"],
input[type="radio"] {
	margin: 1em 1% 1em 2%;
	.label-inline & {
		margin: 0 .3rem 0 0;
	}
}

.form-caption {
	clear: left;
	width: auto;
	@include font-size($font-size-xs);
	
	.label-above & {
		margin-left: 0;
	}
	.form-indent & {
		margin-left: 0;
	}
}

.form-indent {
	@include respond(medium) {
		margin-left: 144px;
	}
}

.error { color: $t-error_red; }
.error-message,
span.error {
	background: $white;
	position: relative;
	color: $t-error_red;
	@include align(top);
	@include font-size(12px);
	@include line-height(17px);
	padding: 0;
	border-radius: 4px;
	border: 1px solid $t-error_red;
	padding: 0 10px 0 24px;
	margin: 8px 0 0;

	&::before {
		position: absolute;
		top: 2px;
		left: 7px;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		content: "\f06a";
		@include font-size(14px);
	}
	&::after {
		position: absolute;
		top: -9px;
		left: 12px;
		background: url('../images/arrow.png');
		@include squar(14px, 9px);
		content: ' ';
		background-size: 100% 100%;
	}
}
input.error {
	border: 1px solid $t-error_red !important;
}
.error-form {
	color: $crimson;
	margin: 0.5em 0;
	padding: 0.8em;
	@include font-size(12px);
	@include line-height(15px);
}

.form-inline {
	form {
		padding: 0 0 2em;
		width: 98%;
	}
	label {
		padding: 0 0 0.75em;
		text-transform: uppercase;
		width: auto;
	}
	input[type="text"], select {
		margin-left: 0;
		width: 95%;
	}
	button {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}
}

.row-inline {
	display: inline;
	label {
		width: auto;
	}
}

// Required Indicator and Text
.dialog-required {
	display: inline-block;
	position: relative;
	float: right;
	color: $crimson;
	@include font-size($font-size-xs);
	em {
		color: #808284;
		text-transform: capitalize;
	}
}

.required-indicator {
	font-style: $font-style-regular;
	color: $crimson;
	padding: 0 0 0 3px;
	display:none;
}

.form-field-tooltip {
	float: right;
	width: 20%;
	text-align: right;
	margin-top: -17px;
	position: relative;
	top: -2px;

	& > a {
		color: $color-primary;
		@include font-size($font-size-xs);
		text-decoration: none;
		font-style: $font-style-italic;

		@include respond(medium) {
			text-decoration: underline;
			&:hover {
				text-decoration: underline;
			}
			&:before {
				content: '(';
				display: inline;
			}
			&:after {
				content: ')';
				display: inline;
			}
		}
	}
	.icon {
		display: none;
	}
	@include respond(medium) {
		width: auto;
		margin-right: -20px;
		top: 22px;
	}
	@include respond(large) {
		margin-right: 105px;
	}
	@include respond(x-large) {
		margin-right: 225px;
	}
}
