// custom icomoon fonts
/*
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?u87w4y');
  src:  url('fonts/icomoon.eot?u87w4y#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?u87w4y') format('truetype'),
    url('fonts/icomoon.woff?u87w4y') format('woff'),
    url('fonts/icomoon.svg?u87w4y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  /* font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  Better Font Rendering =========== */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/

.icon-warning:before {
  content: "\e91f";
}
.icon-help:before {
  content: "\e91e";
}
.icon-icon-close-simple:before {
  content: "\e91d";
}
.icon-close:before {
  content: "\e91c";
}
.icon-tulo-logo:before {
  content: "\e91b";
}
.icon-facebook2:before {
  content: "\e917";
}
.icon-instagram2:before {
  content: "\e918";
}
.icon-twitter2:before {
  content: "\e919";
}
.icon-youtube2:before {
  content: "\e91a";
}
.icon-email:before {
  content: "\e914";
}
.icon-phone-2:before {
  content: "\e915";
}
.icon-zzz-chat:before {
  content: "\e916";
}
.icon-heart:before {
  content: "\e912";
}
.icon-like:before {
  content: "\e913";
}
.icon-phone:before {
  content: "\e911";
}
.icon-user:before {
  content: "\e90d";
}
.icon-chat:before {
  content: "\e90e";
}
.icon-cart:before {
  content: "\e90f";
}
.icon-btn-play:before {
  content: "\e910";
}
.icon-map-direction:before {
  content: "\e90c";
}
.icon-user-2:before {
  content: "\e909";
}
.icon-map-location:before {
  content: "\e908";
}
.icon-cart-1:before {
  content: "\e902";
}
.icon-chat-2:before {
  content: "\e903";
}
.icon-arrow_forward:before {
  content: "\e90a";
}
.icon-arrow_back:before {
  content: "\e90b";
}
.icon-keyboard_arrow_down:before {
  content: "\e901";
}
.icon-play:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-facebook-f:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-youtube-play:before {
  content: "\e907";
}
