$global-gutters: 15px;
// Main reusable class to wrap all page content that is not full-bleed.
html {
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

*{
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important; 
}
*:before{
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important; 
}

*:after {
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important; 
}

#wrapper {
    width: 100%;
    transition: margin 0.5s ease;
    @extend %layout;

    .nav-active & {
        margin: 0 0 0 213px;
        
        @include respond(medium){
            margin: 0;
        }
    }
}
.pdp-main,
#main {
    width: 100%;
    position: relative;
    margin-top: 56px;

    @include respond(medium){
        margin-top: 56px;
    }
}
.pdp-main { margin-top: 0; }
.primary-content {
    width: 100%;
    margin-top: 0;
    .primary-focus & {
        float: left;
        margin: 0;
        width: 76%;
    }
    .full-width & {
        width: 100%;
    }
}
.ui-dialog {
    .ui-dialog-titlebar-close {
        span {
            width: auto;
            height: auto;
        }
       }
      } 
.disclaimer {
    color: $t-mine-shaft;
    @include font-size(12px);
    @include line-height(15px);

    p {
        margin: 0 0 15px;
    }
}

div.checker {
	height: 22px;
	width: 22px;

	span {
		background: none;
		height: 22px;
		width: 22px;
		position: relative;
		display: inline-block;
		z-index: 100;
		padding: 0 0 0 0px;

		&:before{
			height: 22px;
			width: 22px;
			background-color: $t-light-grey;
			z-index: -1;
			content:" ";
			border: 1px solid $magenta; 
			position:absolute;
			left:0;
			top:0;
			border-radius: 3px;
			bottom: 0;
			right: 0;
		}


		input[type="checkbox"]{
			position:absolute;
			left:0;
			top:0;
			bottom: 0;
			border: 1px solid $magenta;
			right: 0;
			border-radius: 2px;
			background: none;
			height: 22px;
			width: 22px;
			opacity: 0;
			z-index: 5;
		}
		
	}
	span.checked {
		input[type="checkbox"]{
			border: 1px solid $magenta;
		}

		&:after {
			content:'';
			width:16px;
			height:8px;
			position:absolute;
			top:50%;
			left:50%;
			border:3px solid $magenta;
			border-width:0 0 4px 5px;
			-moz-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
			margin:-6px 0 0 -8px;
		}
	}
}

.pt_error {
    .error-main {
        overflow: hidden;
    }
}

.contactus-banner {
	width:100%;
	height:360px;
	text-align:center;
	
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #666;
	background-size:cover;
	color:$white;
	padding:15px;
	position:relative;
	@include v-align(100%, bottom, before);
	transition: background-image 1s ease-in-out;
	&.lazyload {
		background-image: url(data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==);	
	}
	&.lazyloaded {
		background-image: url(../images/contact-desktop-bg.jpg);
	}
	&:after{
		/*position:absolute;
		content:"";
		left:0;
		top:0;
		width:100%;
		height:100%;
		background-color:$black;
		opacity:0.24;
		z-index:1;*/
	}
	@include respond(medium){
		background-repeat: no-repeat;
		background-position: center center;
		background-size:cover;
		height:240px;
        @include v-align(100%, middle, before);
        &:after{
			display:none;
        }
    }
    @include respond(large){
    	height:324px;
    }
	@media only screen and (min-width: 87.500em) {
		height:400px;
	}	
	@media only screen and (min-width: 105.000em) {
		height:450px;
	}
	@media only screen and (min-width: 120.000em) {
		height:500px;
	}
	@media only screen and (min-width: 150.000em) {
		height:650px;
	}
	.banner-content {
		white-space: normal;
		position:relative;
		z-index:10;
	}
	h2 {
		@include h1();
		color:$white;
		text-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
		margin:0;
		font-size: $font-size-h3;
		@include respond(medium){
	        font-size:$font-size-h1;
	    }
	}
	p.heighlight {
		font-size:$font-size-h5;
		line-height:1.42;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
		margin:0 0 10px;
		@include respond(medium){
	        font-size:$font-size-h3;
	    }
	}
	a {
		text-decoration:none;
		color:$white;
		display:inline-block;
		margin:10px 15px;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
		font-size:12px;
		@include respond(medium){
	        margin:10px 35px;
	        font-size:$font-size-regular;
	    }
		.icn {
			width:50px;
			height:50px;
			border-radius:999px;
			background-color:$t-light-grey;
			font-size:45px;
			text-align:center;
			display:inline-block;
			vertical-align:top;
			margin-bottom:6px;
			text-shadow:none;
			@include respond(medium){
				margin-bottom:12px;
		        width:71px;
				height:71px;
				font-size:65px;
		    }
		}
		.icon-zzz-chat {
			border:2px solid $t-disco;
			color:$t-disco;
		}
		.icon-phone-2 {
			border:2px solid $t-amaranth;
			color:$t-amaranth;
		}
		.icon-email {
			border:2px solid $t-orange;
			color:$t-orange;
		}
	}
}

button {
    background-clip: padding-box !important;
}

.ui-dialog {
	&.dialog-switch-site {
		width: 90% !important;
	    left: 50% !important;
	    position:fixed;
	    margin: 0 0 0 -45% !important;
	    background-color: $t-rose;
	    top: 50% !important;
    	transform: translateY(-50%);
	    @media only screen and (min-width: 30em) {
	    	width: 500px !important;
	    	margin: 0 0 0 -250px !important;
	    }
	    .ui-dialog-title {
	    	display: none;
	    }
	    .ui-dialog-content {
	    	height: auto !important;
	    	@media only screen and (min-width: 30em) {
		    	height: auto !important;
		    }
	    }
	    .switch-site-content {
	    	text-align: center;   
	    	padding: 15px 0;
	    	@include respond(medium) {
				padding: 0 0 15px;
			}
	    	.icon-tulo-logo {
	    		font-size: 32px;
	    		color:$white;
	    	}
	    	h3 {
	    		margin: 25px 0;
	    		font-size: 22px;
	    		color: $white;
	    		font-weight: $font-wt-bold;
	    	}
	    	.btn-goto-france-site {
	    		height: 70px;
	    		line-height: 70px;
	    		width: 88%;
	    		color:$t-rose;
	    		background-color: $white;
	    		font-size: 16px;
	    		font-weight: $font-wt-bold;
	    		margin-bottom: 15px;
	    		display:inline-block;
	    		text-decoration: none;
	    		@include respond(medium) {
					font-size: 18px;
				}
	    		&:hover {
	    			background-color: $magenta;
	    			color:$white;
	    		}
	    		.fa {
	    			margin-left: 10px;
	    		}
	    	}
	    	.stay-us-site {
	    		color:$white;
	    		line-height: 2.13;
	    		font-size: 16px;
	    		a {
	    		color:$white;
	    		font-size: 16px;
	    		text-decoration: none;
	    		}
	    	}
	    }
	    .ui-icon-closethick {
	    	font-family: 'icomoon' !important;
		    speak: none;
		    font-style: normal;
		    font-weight: normal;
		    font-variant: normal;
		    text-transform: none;
		    line-height: 1;
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
			color: $white;
			height: 24px;
			width: 24px;
			left: 5px;
			top: 7px;
			margin-left: 0;
			margin-top: 0;
			text-indent:0;
		
		&:before {
			content: "\e91c";
			font-size:1.0em;
			position: relative;
			top: 1px;
   			left: 1px;
		}

	}
	}
}

img {
	&.lazyload,
	&.lazyloading {
		transition: filter 0.4s;
		filter: blur(5px);
	}

	&.lazyloaded {
		transition: filter 0.4s;
		filter: blur(0);
	}
}