//-------------------------------------------
//  VARIABLES
//
//  ex: $variable is reusable throughout SASS
//-------------------------------------------

// viewports

$small-breakpoint: 320px;
$medium-breakpoint: 480px;
$large-breakpoint: 768px;
$tablet-breakpoint: 1024px;
$desktop-breakpoint: 1200px;

// variables for tulo
$orange: #f47336;
$magenta:#e51870;
$burgundy:#8a1b49;
$burgundy2:#8c1b49;
$burgundy-dark:#812449;
$bg-burgundy-hover: #a0255d;
$dark-magenta:#b51b58;
$t-orange: #f6732a;
$t-orange2: #ff5b00;
$t-orange3: #f69719;
$t-pinkLight: #ef4fa0;
$t-cape-cod:#484a4a;
$t-pinkLight-hover: #ffd5fa;
$t-pinkDark-hover: #7d1541;
$t-disco: #8C1849;
$t-amaranth:#e51970;
$t-pink:	#d93070;
$t-primary-color: #4a4a4a;
$t-light-grey: #f1f1f1;
$t-light-grey2: #f9f9f9;
$t-Razmataz: #c70d61;
$t-rose:	#f050a0;
$t-text-rose:	#ffd0f5;
$t-hover-grey: #6c6c6c;
$t-border-grey: #dedede;
$t-doveGray: #6c6c6c;
$t-gainsboro: #e3e3e3;
$t-gray2: #585858;
$t-gray3: #979797;
$t-gray4: #bfc0bf;
$t-gray-shaft:#828282;
$t-mine-shaft:#343434;
$t-car-pink: #ffa5d7;
$t-gray-bold:	#636463;
$t-tab-bg: #d4d0d0;
$t-tab-border: #cfcbcb;
$t-border-gray2: #9b9b9b;
$t-rangeBar: #9fd4dd;
$t-mine-shaft:#282828;
$t-dove-gray:#646464;
$t-alabaster: #fafafa;
$t-light-mGray: #f2f1f1;
$t-sand: #808180;
$t-flame:#dd602a;
$t-dolly:#f3ff7c;
$t-geyser:#dde4e8;
$white-blue: #ffd1f7;
$light-orange:#f3fd84;
$dark-orange:#db6033;
$light-burg:#ffa7d6;
$very-light-gray: #ccc;
$white: #ffffff;
$light-pink-color:#fff2fc;
$t-error_red: #f3423e;
$t-concrete: #f2f2f2;
$table-gray:#d6d6d6;
$dull-green:#2eb57a;
$go-red:#ff495c;
$t-animate-speed: 0.4s;


$color-primary: $t-cape-cod;
//tulo variable ends here




// color hex values
// names taken from http://www.color-blindness.com/color-name-hue/

$crimson: #E5173E;
$night-rider: #333333;
$dark-gray: #AAAAAA;
$concrete: #f2f2f2;
$mirage: #394848;
$summer-sky: #40BDDA;
$fruit-salad: #4C994C;
$white: #ffffff;
$egyptian-blue: #13428A;
$navy-blue: #006FBA;
$sweet-corn: #f9e375;
$silver: #BABABA;
$rolling-stone: #6D7C7C;


// Dreambed colors
$dark-white: #d8d8d8;
$black-40: rgba(0, 0, 0, .4);
$dream-orange: #f89d33;
$medium-green: #39b54a;
$lime: #b9d62d;
$steel-grey: #808284;
$soft-blue: #61b4e4;
$lipstick: #e5173e;
$bright-orange: #ff6b00;
$light-grey: #f1f2f2;
$slate-grey: #6a6a6b;
$off-white: #feffff;

// sleepys colors
$thunderbird: #cb171e;
$black: #000000;
$cylindrical-coordinate :#ddd;
$jewel: #10842a;
$alto: #d9d9d9;
$concrete: #f2f2f2;
$white: #ffffff;
$astronaut-blue: #00405a;
$golden-dream: #f0d436;
$falu-red: #991115;
$jewel-dark: #0a5219;
$alabaster: #fafafa;
$coral-candy: #f5cece;
$wisp-pink: #fae7e7;
// END Sleepy's colors



$color-primary: $t-cape-cod;
$color-secondary: $steel-grey;

$gainsboro: #E3E3E3;	// Style Guide: input and form element borders (not represented as a swatch in the Style Guide)
$kelly-green: #64A70B;	// Style Guide: heading2, heading3, button bg, price, success msg
$light-gray: #EBEBEB;	// Style Guide: borders, dividers
$limeade: #4C891F;		// Style Guide: button hover bg
$nero: #1A1A1A;			// Style Guide: heading1, body p, entered form text
$venetian-red: #A70B0B;	// Style Guide: error msg text, error border color
$white-smoke: #F3F3F3;	// Style Guide: light background color
$trans: transparent;

//default colors TODO see which ones to remove:

// colors
// names taken from http://www.color-blindness.com/color-name-hue/
$cerulean: #00629b;
$charcoal: #424242;
$citrus: #84bd00;
$dim-gray: #666;
$islamic-green: #019328;
$night-rider: #333;
$nobel: #999;
$rain-forest: #64772d;
$sangria: #990000;
$stark-white: #cebdb3;
$teal: #008578;
$tutu: #faeded;
$primary-border-color: $alto;
$broom: #f1d617;
$dark-coral: #cd454a;


$body-bg-color: $white;
$swatch-types: black #000000, beige #f5f5dc, blue blue, purple purple, red red, brown #783201, green green, grey #8f979d, pink #fe249a, orange orange, white #ffffff, yellow #ffff00, navy navy;

// flag-icon-css
$flag-icon-css-path: '../lib/flag-icon-css/flags';

$border: 1px solid $dark-white;
$border-checkout: 1px solid $alto;
