.checkoutlogin {
	margin: 4em auto;
	width: 80%;
	.col-1 {
		@include respond(large-up) {
			border-right: 1px solid $gainsboro;
		}
	}
}
.login-box {
	h3 {
		margin: 0;
	}
	p {
		margin: calculateRem(2px) 0 calculateRem(5px) 0;
		margin: calculateRem(2px) 0 0 0;
		@include line-height(25px);

	}
	.error {
		margin-left: 0;
	}
	.field-wrapper {
		@include respond(medium) {
		  margin-top:2px;
		}
	}
} 

.login-rememberme {
	display: inline-block;
	margin:0;
	@include respond(medium) {
		margin: 0 ;
	}
}

.login-oauth p:first-child {
	font-size: 2em;
	text-align: center;
	margin: 0;
	text-transform: uppercase;
}

#OAuthProvider {
	display: block;
	margin-bottom: 1em;
	width: 80%;
}
