// Order History - Order Details Styling

.order-history-header {
	background-color: $concrete;
	border-bottom: 1px solid $alto;
	overflow: hidden;
	padding: 25px;
	.label {
		font-weight: 700;
	}
	button {
		float: right;
	}
	.order-date, .order-status, .order-number {
		float: left;
		margin: 2px 0;
		@include line-height(18px);
		clear: both;
	}
	.order-status {
		//display: none;
	}
	.col1 {
		width:100%;
		padding-left: 1px;
		float: left;
		@include respond(medium) {
			width:60%;
		}
	}
	.col2 {
		width:100%;
		float: left;
		padding-top: calculateRem(20px);
		@include respond(medium) {
			width:39%;
			float: right;
		}
		button {
			float: left;
			@include respond(medium) {
				float: right;
			}
		}
	}
}

.pt_order {
	.search-result-items {
		padding-left: 0;
		clear: both;
		@include respond(medium) {
			padding-top: calculateRem(5px);
		}
		li {
			line-height: 2em;
		}
		ul, li {
			list-style-type: none;
		}
	}
	.search-result-options {
		margin-top: calculateRem(15px);
		.pagination {
			.results-hits-total {
				@include font-bold();
			}
		}
	}
	.minisummary-place-order {
		margin-top: calculateRem(25px);
		margin-bottom: calculateRem(5px);
		@include respond(medium) {
			margin-bottom: calculateRem(25px);
		}
	}
}
.order-history-row {
	border: 1px solid $alto;
}


.order-history-items {
	margin: calculateRem(10px) 0;
	padding-left: calculateRem(10px);
	.order-history-table {
		border: 0;
		tr {
			border: 0;
		}

		th, td {
			padding: calculateRem(5px) calculateRem(20px);
			border-right: 1px solid $alto;
			&:last-child {
				border: 0;
			}
		}
		td {
			width: 33%;
			.order-items {
				width: 98%;
				@include font-bold();
			}
		}
		ul {
			margin: 0;
			padding: 0;
			display: table;
		}
		li {
			list-style-position: inside;
			list-style-type: square;
			@include line-height(21px);
			margin-bottom: 0;
			display: table-row;
			&:before {
    			content: "•";
    			display: table-cell;
    			padding-right: 0.4em;
    		}

		}
		.order-shipped-to,
		.order-total-price {
			width: 99%;
			@include font-bold();
		}
		.toggle {
			cursor: pointer;
			display: block;
		}
	}
}

.js .order-history-table .hidden {
	display: none;
}

// Details Styling
#confirmation-left {
	.header-nav-logo {
		margin-top: 50px;
    	margin-bottom: 40px;
    	width: 385px;
    	a{
    		img {
    			height: 51.9px;
    		}
    	}
	}
}

#confirmation-right {
	position: absolute;
	z-index: 11;
	top: 0;
	right: -383px;
	margin: 0px 20px 100px;
	background-color: none;
	width: 350px;
	height: 100%;
    .order-payment-summary {
    	float: right;
    	width: 90%;
	    background-color: #ffffff;
	    margin: 17px;
    	h3.section-header {
    		text-align: center;
		    font-size: 24px;
		    color: #1b2125;
		    font-weight: 600;
		    padding-bottom: 20px;
		    border-bottom: solid 1px #e4eaee;
    	}
    	.mini-cart-product {
    		border-bottom: 0px;
    		.mini-cart-name {
    			a {
    				color: #333030;
				    font-weight: bold;
				    line-height: 1.38;
				    font-size: 13px;
    			}
    		}
    		.mini-cart-attributes {
    			.attribute {
    				label {
    					font-weight: 600;
						font-size: 12px;
    				}
    				value {
    					font-weight: 600;
						font-size: 12px;
    				}
    			}
    			.mini-cart-pricing {
    				.col1 {
    					font-weight: 600;
						font-size: 12px;
    				}
    				.col2 {
    					font-weight: 600;
						font-size: 12px;
    				}
    			}
    		}
    	}
    	.order-detail-summary details {
    		.order-totals-table {
    			.order-total {
    				font-size: 16px;
					font-weight: 600;
    			}
    		}
    	}
    }
}

.orderdetails {
	margin-top: calculateRem(20px);
	@include respond(medium) {
		margin-top: calculateRem(5px);
	}
	h2 {
		clear: both;
	}
	.label {
		font-weight: $font-wt-semibold;
	}

	.order-shipment-details {
		.order-shipment-address {
			float: right;
		}
	}
	.line-items {
		clear: both;
		padding-top: 1rem;
		.line-item {
			padding-bottom: 1rem;
			.line-item-details,
			.line-item-quantity,
			.line-item-price {
				display: inline-block;
				vertical-align: top;
			}
			.line-item-quantity,
			.line-item-price {
				width: 14%;
			}
			.line-item-details {
				width: 70%;
				a {
				}
			}
			.line-item-quantity {
				text-align: center;
			}
			.line-item-price {
				text-align: right;
			}
		}
	}
	.order-shipments {
		h3.shipping-name {
			color: $crimson;
			margin-bottom: calculateRem(10px);
		}
		.item-shipping-address {
			.shipping-name {
				height: 7px;
				padding: calculateRem(10px);

				@include respond(medium) {
					height: 56px;
					padding: 1.0625rem 30px 1.125rem 30px;
					line-height: 1.75rem;

				}
				@include respond(large-only) {
					padding: 14px 20px;
					height: 56px;
					line-height: 1rem;
				}
			}
			.address-details {
				@include respond(large-only) {
					clear: both;
					padding: 20px 10px;
				}
			}

		}
	}
	.section-header {
		padding: 0 0  calculateRem(10px) 1px;
		margin-bottom: calculateRem(15px);
		@include respond(medium) {
			margin: 0 calculateRem(15px) calculateRem(10px) 0;
			font-weight: 600 !important;
		}
	}
	.details {
		@include line-height(20px);
	}
	.order-payment-summary {
		@media screen and (min-width: 480px) {
			float: right;
		    width: 100%;
		}
		.details {
			@include line-height(15px);
			margin-left: calculateRem(5px);
		}
	}
	.mini-payment-instrument,
	.mini-billing-address {
		width: 100%;
		margin-bottom: 20px;
		@include respond(medium) {
			width: 33.6%;
			float: left;
			margin-bottom: 0;
		}
		.section-header-note {
			display: block;
			color: $color-primary;
			@include font-size($font-size-regular);
			font-style: $font-style-italic;
		}
	}
	.checkout-mini-cart-wrapper {
		width: 100%;
		margin-bottom: 20px;
		@include respond(medium) {
			width: 30%;
			float: left;
			margin-bottom: 0;
		}
	}
	.order-information {
		@include line-height(25px);
		.label {
			text-transform: none;
		}
		.order-status {
			//display: none;
		}
	}
	.payment-amount {
		.label {
			font-weight: normal;
			text-transform: none;
		}
	}
	.order-totals-table td {
		&:last-child {
			font-weight: bold;
		}
		&:first-child {
			text-align: left;
		}
	}
	.order-total {
		@include font-size($font-size-mobile-sale-price);
	}
}

.confirmation-message {
	font-weight: $font-wt-semibold;
}

.confirmation {
	h2 {
		margin-bottom: 10px;
	}
	.order-confirmation-button-wrapper {
		float: none !important;
		margin: 10px auto;
		a {
			border-radius: 28px;
		    font-size: 16px;
		    font-weight: 600;
		    background-color: #1e75a0;
		}
	}
	.confirmation-message{
	    font-size: 14px;
	    font-weight: 500;
	    color: #333030;
	    line-height: 1.43;
    	width: 53%;
		h2{
			font-size: 1.5rem;
			font-weight: 600;
			line-height: 1.625rem;
			text-transform: initial;
			color: #1b2125;
			border-bottom: 0px;
		}
		.confirmation-message-expectations{
			max-width:400px;
			line-height:1.4;
			display: inline-block;
		}
	}
	.order-information {
		font-weight: 500;
	    line-height: 1.71;
	     color: #333030;
	    position: absolute;
	    right: 0px;
	    margin-top: -230px;
        text-align: right;
        .value {
        	font-weight: bold;
        }
	    .print_button {
	    	border-radius: 28px;
		    border: solid 1px #1e75a0;
		    background-color: white;
		    color: black;
		    cursor: pointer;
		    width: 80%;
		    a.print-page {
		    	text-decoration: none;
		    	color: #1e75a0;
		    }
	    }
	}
	.login-create-account,
	.order-confirmation-details {
		.orderdetails {
			.order-shipments {
				.shipping_delivery_wrapper {
					width: 800px;
					height: 350px;
					border-radius: 3px;
					background-color: #ffffff;
					border: solid 1px #dde3e8;
					.delivery_map {
					    width: 396px;
					    height: 348px;
					    border-radius: 2px;
					    background-color: gainsboro;
					    float: right;
					    .shipping-map {
					    	width: 396px;
					    	height: 348px;
					    	opacity: 0.7;
					    	position: absolute;
					    }
					}
					.details {
						margin-left: 40px;
						float: left;
						font-weight: 600;
						.address-details {
							font-weight: 500 !important;
						}
						.address-details, .shipmentdetails {
							font-size: 14px;
						    font-weight: 600;
						    color: #333030;
						    line-height: 1.63;
						    margin-top: 25px;
						    font-weight: bold;
						    .arrival {
						    	color: #69ba11;
								margin: 0px;
						    }
						    p {
						    	margin: 0px;
						    	font-weight: 500;
						    }
						}
						p {
							font-size: 13px;
						    line-height: 2.29;
						    color: #333030;
							.arrival {
								color: #69ba11;
							}
						}
						.mini-address-name, .mini-address-location {
							font-size: 13px;
						    line-height: 2.29;
						    color: #333030;
						}
					}
				}
				h3.section-header {
					font-size: 24px;
				    color: #1b2125;
				    font-weight: normal;
				    border: 0px;
				}
			}
			.minisummary-place-order {
				.order-payment-instruments, .order-billing, .order-payment-summary {
					h3.section-header {
						font-size: 24px;
					    color: #1b2125;
					    font-weight: 600;
					    border: 0px;
					}
					.details {
						font-size: 14px;
						font-weight: 500;
					    line-height: 1.71;
					    color: #333030;
					}
				}
			}
		}
	}
	.login-create-account {
		float: right;
		padding: 0 1%;
		width: 25%;
	}
	.login-box-content {
		background-color: $white-smoke;
		border: 1px solid $gainsboro;
		border-radius: 5px;
		padding: 1em;
		p {
			margin-top: 0;
			margin-bottom: 0;
		}
		.form-row {
			margin: 0;
		}
	}
}

@media print {
	.no-print, .no-print * {
		display: none !important;
	}

	.pt_order-confirmation header.header-main,
	.pt_order-confirmation footer {
		display: none !important;
	}
}
