.svg-arrow_white-dims {
	width: 72px;
	height: 72px;
}

.svg-cart-icon-dims {
	width: 25px;
	height: 22px;
}

.svg-cart-iconOLD-dims {
	width: 36px;
	height: 27px;
}

.svg-chat-icon-dims {
	width: 16px;
	height: 16px;
}

.svg-on-time-delivery-dims {
	width: 24px;
	height: 24px;
}

.svg-store-ad-icon-dims {
	width: 15px;
	height: 16px;
}

.svg-store-locator-icon-dims {
	width: 13px;
	height: 19px;
}

