.delivery-dates-container  {
	div.selector {
			max-width:390px;
			select{
				height: 54px;
				border-radius: 3px;
				background-color: #fcfcfc;
				border: solid 1px #dde3e8;
			}
			&:after{
				top: 14px;
			}
		}
	.preferred-contact.email .form-horizontal .form-select > label {
			display: none;
		}
	}
.delivery-schedule-box {
	.delivery-dates-wrapper,
	.preferred-contact-wrapper {
		@include respond(large) {
			padding: 0 0;
		}
	}
}

@media only screen and (max-width: 767px)  {
.page-shipping-method {
    padding-top: 25px;
    .mobile-shipping-method-screen-one {
    	.ground-p, .hybrid-p {
    		@include respond(large-down) {
    			font-size: 16px;
  				font-weight: bold;
			}
    	}
    }
}
.mobile-pt-checkout-container {
	padding-bottom: 20px !important;
}
.item-list.shipping-method-table {
	background-color: #fff;
    width: calc(100% + 20px);
    margin-left: -10px;
}
.pt_checkout .page-shipping-method h2.address-legend {
    margin-top: 0;
    font-size: 16px;
    color:#4e4e56;
    font-weight: 700 !important;
}
.pt_checkout .page-shipping-method h2.address-legend.restricted-checkout {
    color: black;
    text-transform: none;
}
.pt_checkout .page-shipping-method h2, .pt_checkout .page-shipping-method legend{
	border-bottom: none;
}
.page-shipping-method #store-picker-enter-zip .try-in-store-list-container .try-in-store-list {
	li:first-child {
		width: 70%;
		margin:0;
		box-sizing:border-box;
	}
	li:last-child {
	    width: 28%;
    	margin: 0;
    	box-sizing:border-box;
    	button#zipcodeUpdate {
    		margin-left: 0;
    		min-width: 0;
    	}
	}
}
.delivery-schedule-box {
	.delivery-dates-wrapper { margin-bottom: 25px;}
	.delivery-message {padding-left: 0;}
}
.mobile-delivery-dates {
	label {
		color: #333030 !important;
		margin-bottom: 5px;
		font-weight: 500 !important;
	}
}
.mobile-delivery-dates #deliverydates,
.mobile-delivery-dates #timeslots {
	margin-bottom: 15px;
	position: relative;
	overflow: hidden;
	width: 100% !important;
	box-sizing: border-box;
	select {
		border: solid 1px #cecece;
		height: 48px;
		color: #4e4e56;
	}
}
.mobile-delivery-dates #deliverydates:after {
   content: '';
		display: inline-block;
		height: 24px;
		width: 24px;
		background: url(../images/interface/sprite.png) no-repeat -451px -186px;
		position: absolute;
	    top: 11px;
	    right: 11px;
	    pointer-events: none;
}
.mobile-delivery-dates #timeslots:after {
    content: '\f107';
    font: normal normal normal 24px/1 FontAwesome;
    right: 11px;
    top: 10px;
    color: #4e4e56;
    position: absolute;
    pointer-events: none;
}
.next-button-wrap,
.btn-mobile-next-step,
.order-summary-footer {
	background-color: #fff;
	padding:16px;
	box-sizing: border-box;
	position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
	.button-fancy-large {
		width: 100% !important;
		height: 54px !important;
		border-radius: 28px !important;
		background-color: #1e75a0;
		text-transform: initial;
	}
	.form-row {
		margin: 0;
	}
}

#ordersummary {
	.summary-header {
		h1 {
			text-transform: none;
			font-size: 16px;
			color: #333030;
			font-weight: 600 !important;
			text-align: center;
		}
	}
	#address_payment_details {
		h3.section-header {
				font-size: 16px;
				font-weight: bold;
				color: #333030;
				border-bottom: solid 1px #cecece;
			    margin-left: -10px !important;
			    margin-right: -10px !important;
			    padding: 10px 10px !important;
				a.review-section-header-note {
					font-size: 12px;
					font-weight: 500;
					color: #788995;
					text-transform: initial;
				}
			}
			.details {
				border-bottom: solid 1px #cecece;
				margin-left: -10px !important;
				margin-right: -10px !important;
				padding: 10px 10px !important;
				position: relative;
			}
			.details > div:first-of-type .cc-num {
				font-weight: bold;
		    padding-bottom: 10px;
				position: relative;
			}
			.details > div:first-of-type .cc-exp {
				position: absolute;
				right: 35px;
				top: 10px;
			}
		}
	.minisummary-place-order {
		.checkout-mini-cart-wrapper {
			display: block;
			h3.section-header {
				font-size: 16px;
				font-weight: bold;
				color: #333030;
				background-color: white;
				border-bottom: solid 1px #cecece;
				margin-left: -10px !important;
				margin-right: -10px !important;
				padding: 32px 10px 8px !important;
				a.review-section-header-note {
					font-size: 12px;
					font-weight: 500;
					color: #788995;
					text-transform: initial;
				}
			}
			.checkout-mini-cart {
				border-bottom: solid 1px #cecece;
			}
			.order-totals-table {
				tr {
					td:nth-child(2) {
						font-weight: bold !important;
					}
				}
			}
			.checkout-mini-cart {
				.mini-cart-name {
					font-weight: bold;
				}
			}
		}
	}
}
.section-header {
	border-bottom: none;
	font-size: 14px;
	color:#ababb6;
	margin: 3px 0 !important;
	padding: 4px 0 !important;
}
.checkout-mini-cart,
.shipmentsSection,
#address_payment_details .details {
	background-color: #fff;
	border-bottom: 1px solid #cecece;
	width: calc(100% + 20px);
	margin-left: -10px;
	padding: 10px !important;
	box-sizing: border-box;
}

.checkout-delivery .shipmentsSection .deliveryDateInfo .delivery-date-range,
#summary_delivery_address .details .address > div:first-of-type {
	font-weight: bold;
}

.pt_checkout .order-totals-table {
	background-color: #fff;
    width: calc(100% + 20px);
    margin-left: -10px;
    padding: 10px;
    box-sizing: border-box;
}
.pt_checkout .checkout-mini-cart-wrapper {
	@include respond(large-down) {
		display: none;
	}
}
.pt_checkout .checkout-mini-cart-wrapper .order-totals-table td {
	padding: 10px;
    border-bottom: solid 1px #cecece;
}
.pt_checkout .checkout-mini-cart-wrapper .order-totals-table .order-total td {
	padding-top: 14px;
}
.minisummary-place-order {
    margin-bottom: 0;
}
.changezip-deliverymethodpage {
	border-bottom: 1px solid #cecece;
	padding: 15px;
	box-sizing: border-box;
	width: calc(100% + 20px);
	margin-left: -10px;
	#change-zip-id {
		color: #788995;
		float: right;
		font-weight: 500;
		text-transform: none;
	}
	#show-change-zipcode-id {
		font-size: 16px;
		font-weight: 500;
		color: #4e4e56;
	}
}
.page-shipping-method #store-picker-enter-zip .try-in-store-list-container .try-in-store-list li:first-child .form-row .field-wrapper input {
	border:solid 1px #c6c8ca !important;
}
}
