@import "nav";
@import "menu_utility";
@import "country_selector";

.find-by-zip {
	.label {
		@include font-size($font-size-regular);
		@include line-height($font-height-regular);
		font-weight: $font-wt-semibold;
	}
	input {
		width: 180px;
		margin-right: 10px;
	}
	button {
		width: 80px;
		height: 40px;
		@include line-height(40px);
		vertical-align: top;
	}
}

.find-stores-wrapper {
	.near-stores {
		padding: 0 10px;
		color: $color-primary;
		@include font-size(15px);
		@include line-height(16px);
		font-weight: $font-wt-bold;
	}
	.stores-wrapper {
		@include font-size($font-size-regular);
		@include line-height($font-height-regular);
		margin-top: 6px;
	}
	ul {
		margin: 0;
		padding: 0 0 8px;
		list-style: none;
	}
	li {
		border-bottom: $border;
		display: block;
		margin: 0;
		list-style: none;
		padding: 10px 0;
		.lf_results_address_a_span {
			color: $color-secondary;
			@include font-size($font-size-regular);
			font-weight: $font-wt-semibold;
			text-decoration: underline;
			font-style: $font-style-regular;
		}
		.lf_results_address {
			position: relative;
		}
		.lf_storeLocatorWidget_address_address1,
		.lf_storeLocatorWidget_address_address2,
		.lf_storeLocatorWidget_address_zipcode_city,
		.lf_storeLocatorWidget_address_phone {
			color: $color-primary;
			font-weight: $font-wt-regular;
			@include font-size($font-size-regular);
			font-style: $font-style-regular;
			display: inline-block;
			vertical-align: top;
			text-align: left;
			width: 70%;
		}
		.lf_storeLocatorWidget_address_phone {
			display: none;
		}
		.proximity {
			display: inline-block;
			vertical-align: top;
			text-align: right;
			width: 25%;
			color: $color-primary;
			font-weight: $font-wt-regular;
			@include font-size($font-size-regular);
			font-style: $font-style-regular;
			position: absolute;
			right: 0;
			top: 5px;
		}
	}
	.stores-near {
		@include font-size(15px);
		@include line-height(16px);
		font-weight: $font-wt-bold;
	}
	.lf_storeLocatorWidget_poslist {
		border-bottom: $border;
		padding-bottom: 10px;
		.lf_storeLocatorWidget_viewMore {
			color: $color-secondary;
			@include font-size($font-size-regular);
			font-weight: $font-wt-semibold;
			text-decoration: underline;
		}
	}
	.find-form {
		padding: 0 10px;
		overflow: hidden;
		.find-form-inner {
			padding-top: 15px;
		}
		.label {
			@include font-size($font-size-regular);
			@include line-height($font-height-regular);
			font-weight: $font-wt-semibold;
		}
		input {
			width: 180px;
			margin-right: 10px;
			@include font-size($font-size-xs);
			padding: 0 6px;
			&:placeholder {
				color: $color-primary;
			}
		}
		.stores-find {
			width: 80px;
			height: 40px;
			@include line-height(40px);
			@include font-size($font-size-regular);
			vertical-align: top;
			margin: 0;
		}
		.lf_error {
			display: none;
		}
		.lf_storeLocatorWidget_marker {
			display: none;
		}
	}
}

@include respond(small) {
	div[id*='liveagent_invite_button_'] {
		visibility: hidden;
	}
}
@include respond(large-up) {
	div[id*='liveagent_invite_button_'] {
		visibility: visible;
	}
}
