.menu-utility-user {
	margin: 0;
	padding: 0;
	display: none;
	@include respond(large-up) {
		display: block;
		position: absolute;
		right: 66px;
		top: 8px;
	}
	li {
		list-style: none;
		padding: 0;
		&:after {
			content: '';
			display: block;
			float: right;
			margin-left: 14px;
			margin-top: 8px;
			width: 1px;
			height: 15px;
			background: url(../images/interface/sprite.png) no-repeat -70px -218px;
		}
		&.stores {
			display: none;
		}
		@include respond(large-up) {
			background-color: transparent;
			border-color: transparent;
			float: left;
			margin: 0;
			padding: 0;
			text-align: center;
			&:first-child {
				border: none;
			}
		}
		a {
			@include respond(large-up) {
				//@extend %link-header-utility;
				span {
					color: $color-secondary;
					font-style: $font-style-italic;
				}
				&.user-logout {
					color: $color-secondary;
					font-style: $font-style-italic;
				}
			}
		}
		&.user-info {
			a {
				@include respond(large-up) {
					top: 3px;
					position: relative;
					color:$color-primary;
					text-decoration:none;
					font-weight: $font-wt-semibold;
					@include font-size(12px);

					&.user-logout {
						color: $color-secondary;
						font-style: $font-style-italic;
					}
				}
			}
		}
	}
	.user-info {
		@include respond(large-up) {
			position: relative;
			transition: color .5s ease;
			&.active {
				.user-login {
				}
				.user-panel {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		.user-panel {
			box-sizing: content-box; //See https://code.google.com/p/chromium/issues/detail?can=2&q=max-content&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Cr%20Status%20Owner%20Summary%20OS%20Modified&id=522191&thanks=522191&ts=1439925077
			margin-top: .5rem;
			text-align: left;
			transition: width .3s ease, margin .3s ease, background-color .3s ease, color .3s ease;
			width: 10rem; //For IE
			width: max-content;
			h3 {
				display: none;
				margin: 0;
				padding-bottom: .7em;
				text-transform: uppercase;
				@include respond(large-up) {
					display: block;
				}
			}
			@include respond(large-up) {
				background-color: $white;
				border: 1px solid $gainsboro;
				border-radius: 5px;
				box-shadow: 0 2px 5px 0 $very-light-gray;
				margin-top: 0;
				opacity: 0;
				padding: 1em;
				position: absolute;
				right: -1.5rem;
				visibility: hidden;
				z-index: 20;
			}
			.user-links {
				padding-left: 1.5rem;
				text-align: center;
				@include respond(large-up) {
					padding-left: 0;
				}
                span{
                  color: $color-primary;
                  a{
                    display: inline;
                  }
                }
			}
			a {
				display: block;
				color: $color-primary;
				text-decoration: none;
				font-weight: $font-wt-semibold;
				padding: .5rem 0;
				@include respond(large-up) {
					padding: 0;
					margin-bottom: .5rem;
				}
			}
			.user-logout {
				color: $white;
				margin-top: .5rem;
				padding: 0.5em 2em;
				text-transform: uppercase;
				&:hover {
				}
			}
		}
	}
}
