#mini-cart {
	.bonus-discount-container {
		display: none;
	}
}

.mini-cart-total {
	position: relative;
}

.mini-cart-link {
	display: block;
	text-align: center;
}

.minicart-icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height:26px;
	.cart-icon {
		width: 21px;
		height: 21px;
	}
}

.minicart-quantity {
	position: absolute;
	top: 2px;
	right: 0px;
	background-color: $red;
	border-radius: 50%;
	height: 13px;
	width: 13px;
	color: $white;
	font-family: $g-bold;
	font-size: 8px;
	line-height: 13px;
	text-align: center;
}

.header-location{
    overflow:hidden;
    img{
        width:17px;
        height:20px;
    }
    .box{
        padding-left:8px;
    }
    .name{
    	display:block;
        font-size:14px;
        overflow:hidden;
        line-height:18px;
        font-weight:bold;
        margin:0 0 4px;
    }
    .lid{
        display:block;
        font-size:12px;
        line-height:15px;
    }
}

@media screen and (-moz-os-version) {
  .mini-cart-total .mini-cart-link .minicart-quantity {
  	padding: 0px 0.5px 0 0px;
  }
}
html>/**/body .selector, x:-moz-any-link, x:default {
	.mini-cart-total .mini-cart-link .minicart-quantity {
		//color:green !important;
	}

	}
.mini-cart-total {
	.mini-cart-empty {
		transition: color 500ms ease;
		&:hover {
			text-decoration: none;
		}
	}
}

.mini-cart-content {
	display: none;
	position: absolute;
	top: 32px;
	z-index: 999;
	background-color: $white;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	width: 310px;
	padding: 16px 0 20px;
	
	@include breakpoint(large up) {
		right: 0;
		width: 310px;
	}
	@include breakpoint(medium down) {
		display: none !important;
	}

	#mini-cart:hover & {
		display: block;
	}
}

.mini-cart-header {
	@include font-size(15px);
	@include line-height(16px);
	font-weight: $font-wt-bold;
	padding: 0 20px;
}

.mini-cart-products {
	padding: 0 0 0 10px;
	max-height: 450px;
	overflow: hidden;
	.mCSB_inside > .mCSB_container{
		margin-right: 20px;
	}
}

.mini-cart-product {
	width:auto;
	border-bottom: $border;
	overflow: hidden;
	padding: 20px 10px;
	position: relative;
	box-sizing: border-box;
	&:first-child {
		padding-top: 15px;
	}
	&:last-of-type {
		border: none;
	}
	&.collapsed {
		.mini-cart-name,
		.mini-cart-attributes,
		.mini-cart-pricing,
		.product-availability-list {
			width: 90%;
		}
		.mini-cart-image {
			display: none;
		}
	}
	.has-layout{
		overflow:hidden;
	}
	.mini-cart-name,
	.mini-cart-attributes,
	.mini-cart-pricing{
		float:none;
		width:auto;
		overflow:hidden;
	}
	.mini-cart-toggle {
		cursor: pointer;
		font-size: 1.5em;
		position: absolute;
		left: 0;
		top: 0;
	}
}

.mini-cart-image {
	float: left;
	width: 100px;
	/* border: $border; */
	padding: 2px;
	box-sizing: border-box;
	margin-right: 10px;
	img {
		width: 100%;
		height: auto;
	}
}

.mini-cart-name {
	float: right;
	width: 160px;
	margin: 4px 0;

	a {
		@include link-footer;
	}
}
.mCustomScrollbar {
	.mini-cart-name,
	.mini-cart-attributes,
	.mini-cart-product .product-availability-list,
	.mini-cart-pricing
		{
		width: auto;
	}
	.mini-cart-product {
		width: auto;
		box-sizing: border-box;
	}
}
.mini-cart-attributes,
.mini-cart-product .product-availability-list {
	float: right;
	width: 160px;
}
.mini-cart-attributes,
.mini-cart-pricing {
	font-weight: $font-wt-regular;
	@include font-size($font-size-regular);
	@include line-height(18px);
	color: $color-primary;
	margin-bottom: 13px;
	.label {
		font-weight: $font-wt-semibold;
	}
}

.mini-cart-pricing {
	clear: right;
	float: right;
	width: 160px;
	margin-bottom: 0;
	.label {
		&:after {
			display: none;
		}
	}
	.value {
		margin-right: 18px;
	}
	.mini-cart-price {
		font-weight: $font-wt-bold;
	}
}

.mini-cart-content {
	.mini-cart-pricing {
		width: auto;
		float: none;
		.value {
			margin-right: 0;
		}
		.col1 {
			float: left;
		}
		.col2 {
			float: right;
		}
	}
}

.mini-cart-totals {
	text-align: center;
	.button-wrapper {
		padding: 0 20px;
	}
}

.mini-cart-subtotals {
	padding: 0 20px;
	background-color: #ececec;
	@include font-size($font-size-regular);
	@include line-height(50px);
	font-weight: $font-wt-bold;
	height: 50px;
	text-align: left;
	.value {
		float: right;
	}
}
.top-banner {
	.mini-cart-subtotals {
		padding: 0 20px;
	}
}
.mini-cart-link-cart {
	width: 100%;
}

.mini-cart-slot {
	margin: 15px 0;
	text-align: center;
	.banner-wrapper {
		background-color: $golden-dream;
		padding: 10px;
	}
	.banner-title {
		color: $color-secondary;
		@include font-size(18px);
		@include line-height(19px);
		font-weight: $font-wt-bold;
		margin-bottom: 7px;
	}
	.banner-info {
		@include font-size($font-size-xs);
		@include line-height(15px);
		font-weight: $font-wt-regular;
	}
}

.mini-cart-link-checkout {
	clear: both;
	display: block;
	margin: 1em 0;
	text-align: center;
}
