footer.main-footer {
	position: relative;
	z-index: 1;
	padding: 20px 0;
    background-color: $light-gray;
    
    p{
        color: #535455;
        margin: 0 0 13px;
        font-family: Arial;
        font-size: 11px;
        line-height: 16px;
        text-align: center;
    }

	ul {
		list-style: none;
	}
	@include breakpoint(small down) {
		padding: 20px 0;
	}
}

.footer-content {
	padding: 50px 0;
	@include breakpoint(small down) {
		padding: 50px 0 25px;
	}
}

.footer-nav {
	display: flex;
	justify-content: space-between;
	ul {
		box-sizing: border-box;
		li {
			margin-bottom: 10px;
		}
		
	}
	ul ul {
		padding-left: 0;
		li {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	li,
	a {
		color: $white !important;
		font-size: 16px;
		line-height: 19px;
	}
	li {
		a:hover {
			text-decoration: underline;
		}
		&.dropdown-trigger {
			a {
				font-family: $g-bold;
				color: $white;
			}

			&.opened svg {
				transform: rotate(90deg);				
			}
		}
	}
	svg {
		display: none;
	}
	@include breakpoint(small down) {
		margin: 25px 0 10px;
		flex-wrap: wrap;
		padding: 0;
		border-bottom: 1px solid $white;

		>ul {
			li.dropdown-trigger {
				position: relative;
				display: flex;
				align-items: center;
				padding: 15px;
				border-top: 1px solid $white;
			}
		}
		ul {
			width: 100%;
			padding-left: 0;
			>ul {
				display: none;
				a {
					display: block;
					padding: 15px;
					font-family: $g-regular !important;
				}
				>li {
					border-top: 1px solid $white;
					ul {
						padding: 15px;
						li {
							border: none;
							margin-bottom: 5px !important;
						}
					}
				}
			}
			>li,
			a {
				color: $white !important;
			}
		}
		li {
			margin-top: 0 !important;
			margin-bottom: 0 !important;
		}
		a {
			text-decoration: none !important;
		}
		svg {
			position: absolute;
			right: 15px;
			display: inline-block;

			path {
				fill: $white;
			}
		}
	}
}

// misc footer elements
.social-links-title {
	display: none !important;
}

.footer-email-signup {
	text-align: center;
	@include respond(large-down) {
		padding-top: 20px;
	}
	h2,
	p,
	a {
		color: $white;
	}
	.review-policy {
		margin: 0;
		margin-top: 10px;
		color: $white;
		font-size: 16px !important;
		line-height: 19px;
		a {
			font-size: 16px !important;
			line-height: 19px;
		}
	}
	.emailsignup {
		max-width: 375px;
		margin: 0 auto;
	}
	a {
		text-decoration: underline;
	}
	form {
		padding: 18px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	input[type="text"],
	button {
		border-radius: 4px;
	}
	input[type="text"] {
		max-width: 235px;
		padding: 0 5px;
		width: 100%;
		height: 40px;
		@include respond(large-down) {
			max-width: 85%;
			margin: 0 5px;
		}
	}
	button {
		max-width: 134px !important;
		width: 100% !important;
		background-color: $punch;
		@include respond(large-down) {
			text-indent: -9999em;
			width: 10%;
			margin-right: 5px;
			background: #D63426 url('../images/Arrow_White.svg') no-repeat center center;
		}
	}
	#email-alert-address.error {
		background-color: #FFCCCC;
	}
	#email-alert-address-error {
		font-size: 12px;
	}
	#sf-email-container {
		width: 100%;
	}
	.email-signup-result {
		&.signup-error {
			p {
				font-size: 12px !important;
				margin-top: 10px !important;
				margin-bottom: 0 !important;
			}
		}
	}
	.sf-thankyou {
		margin-top: 10px;
		h2 {
			color: #fff !important;
			font-size: 22px;
		}
	}
	.social-links,
	label,
	>a {
		display: none !important;
	}
}

.footer-social {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
	a {
		&:hover {
			svg path {
				fill: $red;
			}
		}
	}
}

.scrollToTop {
	right: 15px;
	&.button {
		background: #323028 url('../images/Arrow_White.svg') no-repeat center center;
		-ms-transform: rotate(-90deg);
		/* IE 9 */
		-webkit-transform: rotate(-90deg);
		/* Chrome, Safari, Opera */
		transform: rotate(-90deg);
		opacity: .45;
		text-indent: -9999em;
		width: 50px;
		height: 50px;
		border-radius: 35px;
		padding: 0;
	}
}

.helpButton {
	position: fixed;
	display: none;
	bottom: 40px;
	right: 40px;
	z-index: 10001;
	text-transform: none;
	font-family: 'Gilroy', 'Arial', sans-serif;
	@include respond(large-down) {
		display: none;
	}
	&.button {
		background: #323028 url('../images/Help_Icon.svg') no-repeat 15px 10px;
		width: 50px;
		height: 55px;
		padding: 0;
		padding-top: 22px;
		border-radius: 5px 0 0 5px;
		@include respond(large-down) {
			display: none;
		}
	}
}
