.header-search-button {
  cursor: pointer;

	img {
		height: 24px;
		max-width: none;
		width: 24px;
	}

  @include breakpoint(large up) {
    display: none !important;
  }

  @include breakpoint(medium down) {
    display: none !important;
  }
}
@include respond(large) {
	.header-countdown {
		//padding-top: 160px !important;
    position: relative;
    top: 152px;
	}
}
@include respond(large-down) {
	.header-countdown {
		padding-top: 165px !important;
	}
}
.header-top-promo {
	position: relative;
    top: 152px;
    @include respond(large-down) {
    	top: 156px;
    }
}
.header-top-new ~ .header-top-promo {
  position: static;
  top: 152px;
  @include respond(x-large) {
    position: relative;
    top: 212px;
  }
  @include respond(large-down) {
    position: relative;
  	top: 156px;
  }
}
header.header-main {
	background-color: $white;
  	position: fixed;
    width: 100%;
    z-index: 999;
    top: 0px;
}

.heading-bar{
    height: 34px;
    margin:0 12px;
    border-radius: 2px;
    background: #F1F1F2;
    color: #323030;
    font-size: 15px;
    line-height: 34px;
    text-transform: uppercase;
    font-family: $g-bold;
    @media (max-width:767px){
    	margin:0;
    	text-align:center;
    }
}

.header-top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0 10px;
  background-color: $white;
  /*border-bottom: 1px solid $medium-gray;*/

  >.column {
    display: flex;
    align-items: center;
  }

  >.column:nth-child(3) {
    justify-content: flex-end;
  }


  >.column:nth-child(4) {
    display: none;

    .btn {

      img {
        margin-right: 10px;
      }
    }
  }

  @include breakpoint(medium down) {

    >.column {
      &:nth-child(1) {
        //order: 1;
      }
      &:nth-child(2) {
        display: none;
        padding-top: 10px;
        order: 3;
        overflow: visible;
        display: block !important;
        padding-left: 5px;
        padding-right: 5px;
      }
      &:nth-child(3) {
        order: 2;
      }
    }
  }

  a.logo {
    display: inline-block;
    text-decoration: none;

    img:first-child {
      width: 214px;
      height: 32px;
    }

    img:last-child {
      display: none;
      width: 83px;
      height: 32px;
    }

    @include breakpoint(small down) {
      img:first-child { display: none; }
      img:last-child { display: block; }
    }
  }

  form {
    position: relative;
    width: 100%;

    input[type="text"] {
      padding: 0 10px;
      height: 30px;
      color: $charcoal;
      font-family: $g-regular;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      border-radius: 5px;

      @include breakpoint(medium down) {
        height: 43px;
      }
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      border-radius: 0;
      background-color: transparent;

      img {
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        right: 10px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }
}

.header-top {
  .mobile-find-store {
    display: none;
	.store-details {
      	@media only screen and (max-width: 379px) and (min-width: 350px) {
			.btn.primary {
      	    	margin-left:20px;
      	    }
      	}
      	@media only screen and (max-width: 420px) and (min-width: 390px) {
			.btn.primary {
      	    	margin-left: 15px;
      	    }
      	}
      	@media only screen and (max-width: 767px) and (min-width: 421px) {
			.btn.primary {
      	    	margin-left:35px;
      	    }
      	}
        /*@include respond(large-down) {
          .btn.primary {
            padding-left: 25px;
          }
         }*/
	}
	.shipping-details {
      	@media only screen and (max-width: 379px) and (min-width: 350px) {
			.btn.primary {
      	    	margin-right: 15px;
      	    }
      	}
      	@media only screen and (max-width: 420px) and (min-width: 390px) {
			.btn.primary {
      	    	margin-right: 20px;
      	    }
      	}
      	@media only screen and (max-width: 767px) and (min-width: 421px) {
			.btn.primary {
      	    	margin-right:35px;
      	    }
      	}
         /*@include respond(large-down) {
          .btn.primary {
            padding-left: 45px;
          }
         }*/
		form#geo-zip-form {
			width: 96%;
		}
	}
    .btn {
      background: transparent;
      cursor: pointer;
      font-size: 12px;
      height: 40px;
      position: relative;
      min-width: 100px;
      text-align: center;
      white-space: nowrap;
      width: 50%;
      @include breakpoint(small down) {
        text-align: right;
      }
      /*@include respond(large-down) {
        width: 100%;
        text-align: left;
      }*/
    }

    .btn.primary:hover,
    .primary.btn-new:hover,
    .btn-new.red:hover {
      color: #FFFFFF;
      background-color: transparent;
    }

    .column:nth-child(1) {
      // margin-left: -18px;
      background-image: url('../images/header/Location.svg');
      background-repeat: no-repeat;
      background-position: 12px 7px;
      border-radius: 5px 0 0 5px;
      // margin-right: 12px;
      // padding-left: 43px;
      text-align: center;
      @media only screen and (max-width: 767px) and (min-width: 380px) {
      	    background-position: 45px 7px;
      }
      @media only screen and (max-width: 379px) and (min-width: 350px) {
      		background-position: 35px 7px;
      }
    }

    .column:nth-child(1):after {
      // delimiter between buttons
      content: "|";
      color: #fff;
      position: absolute;
      top: 1px;
      right: 1px;
      width: 2px;
      z-index: 100;
      font-size: 27px;
      font-family: Gilroy, Arial, sans-serif;
    }

    .column:nth-child(2) {
      //background-color: #d63426;
      background-image: url('../images/interface/value-on-time-delivery-white.svg');
      background-repeat: no-repeat;
      background-position: 10px 3px;
      background-size: 34px auto;
      border-radius: 0 5px 5px 0;
      margin-right: 12px;
      padding-left: 43px;
      text-align: center;
      /*@include respond(large-down) {
        padding-left: 0;
      }*/
      @media only screen and (max-width: 767px) and (min-width: 380px) {
      	    background-position: 30px 3px;
      }
      @media only screen and (max-width: 379px) and (min-width: 350px) {
      		background-position: 20px 3px;
      }
    }

    .mobile-find-store__icon-ship-to {
      display: inline;
      height: 35px;
      width: 100%;
    }

    @include breakpoint(medium down) {
      align-items: center;
      background: #DD343F;
      border-radius: 4px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      margin: 12px 5px 0;
      order: 4;
      width: 100%;
    }

  }

  .shipping-wrapper-mobile .previous-links {
    margin-bottom: 12px;
  }

  .shipping-wrapper-mobile .previous-location {
    text-align: left;
  }

  .shipping-wrapper-mobile .previous-location a {
      display: block;
      text-align: left;
      font-size: 12px;
      color: #d63426;
      margin-left: 20px;
  }
  .shipping-wrapper-mobile .current-location-link {
    margin-top: 20px;
    border-top: 1px solid;
    padding-top: 20px;
  }
  .shipping-wrapper-mobile .current-location-link .current-location-img {
    height: 20px;
    left: 30px;
    position: absolute;
    width: 17px;
  }

  .shipping-wrapper-mobile .current-location-selector {
    padding-left: 20px;
  }
}

.header-bottom {
  padding: 15px 0;

  .header-search-button {
    display: none;
  }
}

.geolocation-menu {
  @media screen and (max-width: 1099px) {
    display: none;
  }
}

.geo-header-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
}

.find-store,
.delivery-ship {
  margin-right: 12px;
  min-width: 143px;
  position: relative;
  top: -11px;
}

.find-store {
  margin-right: 12px;
  min-width: 177px;
  position: relative;
  top: -21px;
  @include breakpoint(small down) {
    display: none;
  }
}

.deliver-ship {
  min-width: 153px;
  position: relative;
  top: -7px;
}

.find-store__icon,
.find-store__icon-active {
  width: 17px;
  height: 20px;
  padding: 0px 155px 30px 0px;
}

.deliver-ship__icon,
.deliver-ship__icon-active {
  height: 33px;
  position: absolute;
  top: -17px;
  width: auto;
  padding: 0px 155px 30px 0px;
}

.deliver-ship__icon {
  display: none;
}

.deliver-ship__icon-active {
  display: visible;
}

.find-store__icon-active {
  display: none;
}

.find-store__heading,
.deliver-ship__heading {
  left: 30px;
  position: absolute;
  top: 0;
}

.deliver-ship__heading {
  left: 40px;
  position: absolute;
  top: -16px;
}

.find-store__title,
.deliver-ship__title {
  font-weight: bold;
  font-size: 12px;
}

.find-store__text {
    line-height: 1;
    padding-top: 2px;
  // overflow: hidden;
  // text-overflow: ellipsis;
  // white-space: nowrap;
  // width: 150px;
}

.find-store__details {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.deliver-ship__text {
  font-size: 11px;
}

.geo-main-wrapper .delivery-info-selected {
  font-size: 15px;
  margin: 16px 0 0;
  text-align: left;
  padding-right: 18px;
}

.geolocation-menu {
	width: 58%;
    margin: 0 auto;
	.geo-header-wrapper {
		.store-details {
			font-size: 12px;
			vertical-align: bottom;
			img {
        height: auto;
        left: 0;
        position: absolute;
        top: 2px;
        width: 21px;
      }
			.store-wrapper {
				display: inline-block;
				line-height: 1;
				.store-info {
					span {
						display: block;
					}
				}
			}
		}
		.shipping-details {
			display: inline-block;
			.geolocation-wrapper {

				.geo-main-wrapper {
					.delivery-heading {
						display: inline-block;
						font-size: 12px;
					}
				}
			}
			ul {
        top: 0;
				li {
					#geo-zip-form {
						margin-top: 20px;
						img {
							position: absolute;
						    left: 20px;
						    top: 8px;
						}
						#header-customer-zip,
            #customer-form-zip {
							width: 216px;
							height: 40px;
							border-radius: 4px;
							border: solid 1px #323030;
							margin-left: -25px;
    					padding: 0 30px;
						}
						.btn-update {
							 position: inherit;
							 width: 84px;
  							 height: 40px;
  							 border-radius: 4px;
  							 color: white;
  							 background-color: #d63426;
						}
					}
					.zip-update-text {
						font-size: 12px;
						font-weight: 300;
						text-align: left;
						margin-left: 13px;
					}
					.previous-links {
            font-family: $g-extrabold;
            font-size: 16px;
            font-weight: 800;
            margin-left: 13px;
            padding-bottom: 12px;
            text-align: left;
					}
					.previous-link-wrapper {
						a {
							display: block;
							text-align: left;
							font-size: 12px;
							color: #d63426;
							margin-left: 20px;
						}
					}
					.current-location-link {
						margin-top: 20px;
					    border-top: 1px solid;
					    padding-top: 20px;
						.current-location-img {
              height: 20px;
              left: 30px;
              position: absolute;
              width: 17px;
            }
						.current-location {
							display: initial;
							color: #d63426;
              font-size: 12px;
							margin-left: -142px;
						}
					}
				}
			}
		}
	}
}

.geo-header-wrapper .header-tooltip ul:before,
.mobile-find-store .header-tooltip ul:before {
  background-color: #fff;
  z-index: 99;
}

.find-store-tooltip .geolocation-menu .geo-header-wrapper .store-details img {
  position: absolute;
  left: 20px;
  top: 8px;
}

.find-store-tooltip .geolocation-menu .geo-header-wrapper .shipping-details ul li form {
    margin-top: 20px;
    position: relative;
    width: 100%;
}

#geo-find-store-zip-form {
	margin-top: 10px;
	position: relative;
	width: 100%;
}
.store-mobile-previous-location {
	position: relative;
	#geo-zip-form {
		.location-img {
			width: 12px;
		    height: 17px;
		    left: 12px;
		    top: 11px;
		}
		#store-customer-zip-mobile {
			padding: 0 35px;
			font-weight: normal;
		    font-size: 14px;
		    color: #323030;
		}
	}
	.previous-links {
		margin-bottom: 0px;
		text-align: left;
	}
	.current-location-mob {
		margin: 20px 0px;
	    border-top: 1px solid;
	    padding-top: 20px;
	}
}
.previous-location-img,
.geolocation-menu .geo-header-wrapper .store-details img.previous-location-img {
  left: 6px;
  position: absolute;
  top: 8px;

  @include breakpoint(medium up) {
    top: 8px;
    left: 6px;
    position: absolute;
  }
}

#header-customer-zip-delivery {
  width: 216px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #323030;
  margin-left: -25px;
  padding: 0 30px;
}
#header-customer-zip-delivery-mobile {
	@include breakpoint(small down) {
    border-radius: 4px;
    border: solid 1px #323030;
    height: 40px;
    margin-left: 0;
    padding: 0 30px;
    text-align: left;
    width: 168px;
    font-weight: normal;
    font-size: 14px;
    color: black;
  }
  @media only screen and (min-width:768px) and (max-width:1199px) {
  	padding: 0 25px;
  	width: 170px;
  }
}

.find-store-tooltip .previous-location .previous-links {
    margin-left: -75px;
    @include breakpoint(medium up) {
      text-align: left;
      margin-left: 0;
    }
}

#store-customer-zip {
  width: 184px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #323030;
  margin-left: -4px;
  padding: 0 30px;

  @include breakpoint(medium up) {
    width: 260px;
  }
}
.location-img {
	top: 8px;
    position: absolute;
}
#store-customer-zip-mobile {
	width: 184px;
	height: 40px;
	border-radius: 4px;
	border: solid 1px #323030;
	margin-left: -4px;
	padding: 0 30px;
	@media only screen and (max-width: 330px) and (min-width: 340px) {
		margin-left: -20px;
	}
	@media only screen and (max-width: 360px) and (min-width: 345px) {
		margin-left: -35px;
	}
	@media only screen and (max-width: 370px) and (min-width: 365px) {
		margin-left: -40px;
	}
	@media only screen and (max-width: 380px) and (min-width: 371px) {
		margin-left: -50px;
	}
	@media only screen and (max-width: 390px) and (min-width: 371px) {
		margin-left: -52px;
	}
	@media only screen and (max-width: 410px) and (min-width: 391px) {
		margin-left: -80px;
	}
	@media only screen and (max-width: 420px) and (min-width: 411px) {
		margin-left: -90px;
	}
}

#header-customer-zip {
  border-radius: 4px;
  border: solid 1px #323030;
  height: 40px;
  margin-left: -25px;
  padding: 0 30px;
  width: 216px;
}

.find-store-tooltip {

  .header-top form img {
    position: absolute;
    left: 20px;
    top: 8px;
  }

  .delivery-address {
    font-family: $g-extrabold;
  }

  .previous-links {
     font-family: $g-extrabold;
     font-size: 16px;
     padding: 16px 0;
  }

  .previous-link, .last-visited-zip-selector {
    color: #d63426;
    display: block;
    font-size: 12px;
    margin-left: 24px;
    padding-bottom: 10px;
    text-align: left;
    text-decoration: none;
  }

  .current-location-link {
    border-top: 1px #979797 solid;
    margin-top: 10px;
    width: 268px;
    margin-left: 0;
    padding-top: 20px;
    padding-bottom: 20px;

    @include breakpoint(medium up) {
      position: relative;
      width: 350px;
    }

    img.current-location-img {
      @include breakpoint(medium up) {
        position: absolute;
        top: 20px;
        left: 10px;
      }
    }
  }

  .current-location-img {
    position: absolute;
    left:0;
  }

  .current-location {
    color: #d63426;
    font-size: 12px;
    // margin-left: -76px;
    margin-left: -61px;
    margin-top: 3px;
    @include breakpoint(medium up) {
      margin-left: -139px
    }
    @media only screen and (min-width:768px) and (max-width:1199px) {
  		margin-left: -61px;
    }
    @media only screen and (max-width: 360px) and (min-width: 340px) {
		margin-left: -110px;
	}
	 @media only screen and (max-width: 375px) and (min-width: 365px) {
		margin-left: -145px;
	}
	 @media only screen and (max-width: 400px) and (min-width: 385px) {
		margin-left: -155px;
	}
	@media only screen and (max-width: 420px) and (min-width: 401px) {
		margin-left: -180px;
	}
  }

}
.previous-location {
	.error-message {
		width: auto;
	    font-size: 12px;
	    color: #d63426;
	    margin-left: 12px;
    	text-align: left;
    	@include respond(large-down) {
			 margin-left: 0px;
		}
	}
}
.previous-location .btn-update-header, .btn-update-header-mobile {
  background-color: #d63426;
  border-radius: 4px;
  color: white;
  height: 40px;
  position: inherit;
  width: 84px;
}
.btn-update-header-mobile {
	padding: 0.5px 5px;
}
.previous-location .btn-update-header-mobile {
  background-color: #d63426;
  border-radius: 4px;
  color: white;
  height: 40px;
  position: inherit;
  width: 84px;
}

.previous-location .btn-update-store {
  background-color: #d63426;
  border-radius: 4px;
  color: white;
  height: 40px;
  position: inherit;
  width: 84px;
}
.store-mobile-previous-location .btn-update-store-mobile {
  background-color: #d63426;
  border-radius: 4px;
  color: white;
  height: 40px;
  position: inherit;
  width: 84px;
}
.store-mobile-previous-location .error-message {
	width: auto;
    font-size: 12px;
    color: #d63426;
    text-align: left;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    list-style: none;
    position: relative;
    right: 46px;
    top: 0;

  > li {
    margin: 0 0 0 20px;
    display: inline-flex;

    @include breakpoint(small down) {
    	margin: 0 0 0 15px;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  .header-account {
    padding: 5px;
  }

  .header-tooltip {

    ul {
      top: 25px;
    }
  }
}

.header-account {
	img{
	    width: 18px;
	    height: 18px;
    }
}

@mixin header-button() {
  padding: 4px 6px;
  font-family: $g-medium;
  font-size: 14px;
  line-height: 21px;
  border: 1px solid $charcoal;
  border-radius: 5px;
  transition: color ease .3s, border ease .3s;

  &:hover {
    border-color: $red;
    color: $red;
  }
}

.header-call {
  display: none !important;

  > a {
    @include header-button();
    text-decoration: none;

    @include breakpoint(350 down) {
      padding: 4px 6px;
      white-space: nowrap;
    }
  }

  img {
    width: 10px;
    height: 17px;
    @include breakpoint(350 down) {
      display: none;
    }
  }

  @include breakpoint(medium down) {
    display: inline-flex !important;
  }

}

.header-location {

  @include breakpoint(medium down) {
    display: inline-flex;
  }

  @include breakpoint(small down) {
    display: none !important;
  }
}

.search-header{
    img {
        width: 18px;
        height: auto;
    }
}

.header-help {
  img {
    display: none;
    width: 25px;
    height: 25px;
  }

  @include breakpoint(large up) {
    @include header-button();
  }

  @include breakpoint(medium down) {
    span {
      display: none;
    }

    img {
      display: block;
    }
  }
}

.pt_checkout {
  .header-banner {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .header-banner-store {
    display: none;
  }

  .header-top {

    border-bottom: none;
    .column:last-child {
      justify-content: flex-end;
    }
    .column {
      overflow: visible;
    }
  }
}

.store-mobile-delivery-shipping, .store-delivery-shipping {

  .store-mobile-delivery-shipping {
    font-size: 13px;
  }

  .not-your-location {
    margin: 0 0 20px;
    .btn-change-zip-header-store-mobile, .btn-change-zip-header-store {
    	text-decoration: underline;
    }
  }
	.border-geo {
		display: block;
		border-top: 1px solid #979797;
	    width: calc(100% + 30px);
	    position: relative;
	    left: -15px;
	}
  .your-nearest-stores {
    padding-top: 15px;
  }
	.border-geo {
		display: block;
		border-top: 1px solid #979797;
	    width: calc(100% + 30px);
	    position: relative;
	    left: -15px;
	}
	.border-geo-bottom {
	   margin-top: 12px;
	}
  .your-nearest-stores__all-link {
    padding: 12px 0;
    text-align: center;
  }

  .your-nearest-stores__all-link a {
    font-family: $g-extrabold;
    font-size: 16px;
    font-weight: 800;
    color: #d63426;
  }

  .btn-change-zip-header {
    color: #d63426;
  }

  .your-nearest-stores .delivery-heading {
    font-family: $g-extrabold;
    font-size: 16px;
    font-weight: 800;
  }

  .your-nearest-store {
    align-items: flex-end;
    display: flex;
    flex-flow: row nowrap;
    font-size: 12px;
    justify-content: space-between;
    margin: 12px 0;
    position: relative;
   	margin-bottom: 0px;
  }

  .your-nearest-store__address {
    font-size: 12px;
    @include respond(large) {
    	line-height: 1.4;
    }
  }
  .your-nearest-store__action {
  	@include respond(large) {
    	line-height: 2.2;
    	margin-bottom: 5px;
    }
  }

  .your-nearest-store__name {
    font-family: $g-extrabold;
    font-size: 12px;
    font-weight: 800;
  }

  .your-nearest-store__distance {
    text-align: center;
  }

  .your-nearest-store__btn {
    background: #f1f1f2;
    border-radius: 5px;
    color: #333;
    font-family: $g-extrabold;
    font-size: 12px;
    height: 30px;
    padding: 3px 20px;
    width: 90px;
    @include respond(large) {
    	padding: 7px 20px;
    }
  }
}

.your-location-icon {
  height: 20px;
  left: 3px;
  position: absolute;
  top: 9px;
  width: auto;
  z-index: 1;
  @media only screen and (min-width:768px) and (max-width:1199px) {
  	top: 12px;
  	left: 5px;
  }
}

.zip-update-text {
  font-size: 12px;
  line-height: 19px;
  text-align: left;
}

.previous-location {
  margin-top: 12px;
}

// Hide only the previous location menu when in mobile and in the
// shipping-details (i.e. Find A Store) tooltip.
.shipping-details > .previous-location {
  display: none;

  @include breakpoint(medium up) {
    display: block;
  }
}

.previous-links {
  font-family: $g-extrabold;
  font-size: 16px;
  font-weight: 800;
  line-height: 17px;
}

.current-location-selector {
  color: #d63426;
}
