.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0.625rem;
  padding-top: 40px;
  box-sizing: border-box;

  &.padding-top-20 {
    padding-top: 20px;
  }

  &.small {
    max-width: 1000px;
  }

  @include respond(large-down) {
    padding: 0;
  }
}

.section {
  overflow: auto;
  zoom: 1;
  padding: $spacing-7 0;

  @include respond(large-down) {
    padding: $spacing-5 0;

    &.no-bottom-padding {
      padding-bottom: 0px;
    }
  }
}

.bg-section {
  margin-bottom: 40px;
  padding: 25px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;

  @include respond(large-down) {
    margin-bottom: 20px;
  }
}

.bg-section-text {
  margin: 20px 0;

  h2, h4 {
    margin: 0;
    color: $white;
    text-transform: none;
  }

  h2 {
    font-family: "Gilroy Semibold", Arial, sans-serif;
    font-size: 25px;
    line-height: 34px;
  }

  h4 {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 20px;
    line-height: 27px;
  }
}

.border-bottom {
  border-bottom: 2px solid $light-gray;
}

/* Overrides for _search_results_grid_layout.scss styles that break the carousel */
.product-cards {
  .product-tile {
    .comfort-level {
      display: none;
    }
    .product-name {
      a {
        .name-link-text {
          font-family: 'Gilroy Semibold', 'Arial', sans-serif;
        }
      }
    }    
  }
}

