.address-table {
	padding-top: 20px;
	width: 100%;
	border: none;
	border-collapse: initial;
	border-spacing: 0;
	tr {
		display: flex;
		flex-wrap: wrap;
		border: none;
		&:last-child td {
			margin-bottom: 0;
		}
	}
	td {
		display: flex;
		align-items: center;
		padding: 0;
		margin-bottom: 40px;
		width: percentage(1/3);
		border: none;
		box-sizing: border-box;

		@include breakpoint(small down) {
			width: 100%;
		}
	}

	address {
		margin: 0;
		text-align: left;
		border-collapse: collapse;
		a {
			display: block;
			width: 100%;
			font-family: $r-medium;
			font-size: 16px;
			line-height: 19px;
			text-decoration: none;
		}
	}
}

.address-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 10px;
	width: 56px;
	height: 56px;
}

.address {
	font-family: Rubik;
	font-size: 14px;
	line-height: 17px;
	font-style: normal;
	color:$dark-gray-1;
	@include respond (large-down){
		font-size: 16px;
		line-height: 1.5;
	}
}
#dwfrm_billing {
	overflow: hidden;
	@include respond (large-down){
		overflow: visible;
	}
	legend {
	    height: 28px; 
	    font-size: 24px;
	    text-align: left;
	    height: 28px;
	    font-size: 21px;  
	    font-weight: bold;
	    text-align: left;
	    border-bottom: none;
	    border-top: 1px solid #d63426;
	    @include respond(large-down){
			font-weight: 500;
		    text-align: left;
		    padding: 10px;
		    background-color: white;
		    font-style: normal;
		    font-family: $r-regular;
		    border-style: none;
		    line-height: 1.5;
		    font-size: 16px;
		    margin-bottom: 10px;
		}
	}
	#walletWidgetDiv {
		@include respond(large-down) {
			margin-top: 5px;
		}
	}
}
.amazon-checkout + #dwfrm_billing {
	@include respond(large-down) {
		overflow: visible;
		margin:0;
	}
}
.amazon-checkout + #dwfrm_billing legend {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 24px;
	font-family: $r-regular;
	color: #1b2125;
  @include respond(large-down) {
		width: calc(100% + 30px);
		line-height: 1.5;
    margin-left: -15px;
  	font-weight: 700;
	  font-size: 16px;
	  font-family: $r-regular;
	  padding: 10px 15px;
	  box-sizing: border-box;
	  min-height: 44px;
	  color: $charcoal;
  }
}
.amazon-checkout + #dwfrm_billing legend + #walletWidgetDiv {
	padding: 5px !important;
}
.amazon-checkout + #dwfrm_billing legend + .apAddressDelivery p,
.amazon-checkout + #dwfrm_billing .apAddressBilling p {
	@include respond(large-down) {
	  box-sizing: border-box;
    width: calc(100% + 20px);
    margin-left: -10px;
    padding: 0 15px;
	}
}
.amazon-checkout + #dwfrm_billing legend + .apAddressDelivery p:nth-of-type(1),
.amazon-checkout + #dwfrm_billing .apAddressBilling p:nth-of-type(1) {
	@include respond(large-down) {
  	padding-top: 5px;
	}
}
.amazon-checkout + #dwfrm_billing legend + .apAddressDelivery p:nth-last-of-type(1),
.amazon-checkout + #dwfrm_billing .apAddressBilling p:nth-last-of-type(1) {
	@include respond(large-down) {
  	padding-bottom: 5px;
	}
}
.amazon-checkout + #dwfrm_billing legend + .apAddressDelivery,
.amazon-checkout + #dwfrm_billing .apAddressBilling {
	@include respond(large-down) {
		margin: 0 0 0;
		width: calc(100% + 10px);
    margin-left: -5px;
	}
}

.amazon-checkout + #dwfrm_billing legend + .apAddressDelivery .edit-customerinfo,
.amazon-checkout + #dwfrm_billing .apAddressBilling .edit-customerinfo {
	@include respond(large-down) {
		float: right;
		font-size: 12px;
	  font-weight: 600;
	  color:#2d2926;
	  font-family: $r-semibold;
	  text-transform: uppercase;
	}
}
#dwfrm_billing legend .edit-customerinfo {
	@include respond(large-down) {
	 	font-size: 12px;
	  margin-left: 10px;
	  color: #c02f22;
	}
 }
.pt_checkout_ab #primary .amazon-checkout h2.address-legend {
	@include respond(medium) {
		font-weight: 700;
		font-size: 21px;
		font-family: $r-semibold;
		color: $charcoal;
		padding-top: 30px;
		border-top: none;
		line-height: 1;
    margin-bottom: 20px;
    padding-bottom: 0;
	}
  @include respond(large-down) {
  	width: calc(100% + 40px);
    margin-left: -20px;
	  font-size: 16px;
		font-family: $r-regular;
		font-weight: 700 !important;
	  line-height: 1.5;
		padding: 10px 15px;
		margin-top:20px;
		color:$dark-gray-1;
  }
}

.apAddressDelivery .amazon-address-title,
.apAddressBilling .amazon-address-title {
	@include respond(large-down) {
		color:$charcoal;
		font-size: 14px;
		font-weight: 500;
		line-height: 1.14;
		font-family: $r-regular;
		box-sizing: border-box;
		width: calc(100% + 32px);
		margin-left: -16px;
		padding: 8px 15px;
	}
}
