.btn {
	display: inline-block;
	padding: 9.5px;
	width: 100%;
	max-width: 170px;
	font-family: $r-extrabold;
	font-size: 14px;
	color: $white;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-radius: 5px;
	transition: background-color ease .3s;
	box-sizing: border-box;
	&.primary {
		background-color: $red;
		&:hover {
			color: $white;
			background-color: darken($red, 5%);
		}
	}
	&.secondary {
		background-color: $charcoal;
		&:hover {
			color: $white;
			background-color: darken($charcoal, 5%);
		}
	}
	&.white {
		background-color: $white;
		color: $charcoal;
		&:hover {
			background-color: darken($white, 15%);
		}
	}
	&.outline {
		color: $charcoal;
		border: 2px solid $light-gray;
		transition: background-color ease .3s;
		&:hover {
			background-color: $light-gray;
		}
	}
	&.shadow {
		box-shadow: 0 2px 4px rgba($black, 0.5);
	}
	&:hover {
		text-decoration: none;
	}
	&:focus {
		color: $charcoal;
		outline-width: 1px;
	    outline-color: #b3b5b7;
	    outline-style: dotted;
	}
	&.white,
	&.outline {
		color: $charcoal !important;
		&:hover {
			path {
				fill: $charcoal;
			}
		}
	}
	&.disabled {
		background-color: $medium-gray;
		color: $white;
		pointer-events: none;
		&:hover {
			background-color: $medium-gray;
			color: $white;
			cursor: no-drop;
		}
	}
	&.svg-btn {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&.outline-charcoal {
		color: $charcoal;
		border: 1px solid $charcoal;
		transition: background-color ease .3s, color ease .3s, fill ease .3s;
		svg path {
			fill: $charcoal;
		}
		&:hover {
			background-color: $charcoal;
			color: $white;
			svg path {
				fill: $white;
			}
		}
	}
	&.outline-white {
		color: $white;
		border: 1px solid $white;
		transition: background-color ease .3s, color ease .3s, fill ease .3s;
		svg path {
			fill: $white;
		}
		&:hover {
			background-color: $white;
			color: $charcoal;
			svg path {
				fill: $charcoal;
			}
		}
	}
	&.yellow,
	&.orange,
	&.plum,
	&.blue,
  &.dark-blue,
  &.bg-comfort-ultra-plush,
  &.bg-comfort-plush,
  &.bg-comfort-medium,
  &.bg-comfort-firm,
  &.bg-comfort-extra-firm {
		color: $white !important;
	}
	@each $color in $brand-secondary-colors {
		&.#{nth($color, 1)} {
			background-color: #{nth($color, 2)};
		}
	}
	&.yellow:hover {
		background-color: darken($yellow, 10%);
	}
	&.orange:hover {
		background-color: darken($orange, 10%);
	}
	&.plum:hover {
		background-color: darken($plum, 10%);
	}
	&.blue:hover {
		background-color: darken($blue, 10%);
	}
	&.dark-blue:hover {
		background-color: darken($dark-blue, 10%);
  }
  &.bg-comfort-ultra-plush:hover {
    background-color: darken($comfort-ultra-plush, 10%) !important;
    color: $white;
  }
  &.bg-comfort-plush:hover {
    background-color: darken($comfort-plush, 10%) !important;
    color: $white;
  }
  &.bg-comfort-medium:hover {
    background-color: darken($comfort-medium, 10%) !important;
    color: $white;
  }
  &.bg-comfort-firm:hover {
    background-color: darken($comfort-firm, 10%) !important;
    color: $white;
  }
  &.bg-comfort-extra-firm:hover {
    background-color: darken($comfort-extra-firm, 10%) !important;
    color: $white;
  }
	svg {
		position: relative;
		top: -2px;
		width: 20px;
		height: 20px;
		vertical-align: middle;
		transition: fill ease .3s;
		path {
			transition: fill ease .3s;
		}
	}
	&.large {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		max-width: none;
		width: 250px;
		height: 60px;
		svg {
			margin-right: 8px;
			width: auto;
			height: auto;
		}
		@include breakpoint(small down) {
			width: 100%;
		}
	}
	@include respond(large-down) {
		&.mobile-full-width {
			width: 100%;
			max-width: none;
		}
	}
}

.btn-new {
	@extend .btn;
	@extend .white;
	&.red {
		@extend .primary;
	}
}

button.expand {
	padding: 10px;
	border-radius: 5px;
	line-height: unset;
}
