.card-list {
  padding: 20px 20px 60px !important;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  
  .btn-div {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
  }
}


