.header-countdown {
  padding: 10px 0 20px;

  .countdown-text,
  .countdown-clock,
  .countdown-link {
    display: inline-block;
  }

  .countdown-text {
    width: auto;
  }

  .flip-clock-wrapper ul {
    margin: 2.5px;
    padding: 0;
    width: 25px;
    height: 40px;
    line-height: 47px;
  }

  .flip-clock-wrapper ul li {
    overflow: hidden;
  }

  .flip-clock-wrapper ul li div.main-wrapper div.down div.inn {
    bottom: 0;
  }

  .flip-clock-wrapper ul li div.main-wrapper div div.inn {
    font-size: 31px;
    line-height: 40px;
  }

  .flip-clock-wrapper ul li div.main-wrapper div.up:after {
    top: 18px;
    height: 1px;
  }
  
  .flip-clock-label {
    bottom: -14px;
    font-size: 12px;
  }

  .flip-clock-divider {
    width: 10px;
    height: 45px;

    &:first-child {
      display: none;
    }
  }

  .flip-clock-dot {
    left: 2px;

    &.top {
      top: 12px;
    }

    &.bottom {
      bottom: 12px;
    }
  }

  .countdown-clock {
    padding: 0 20px;
  }

  .countdown-link {
    color: $white;
    font-size: 20px;
    font-family: $r-bold;
  }
}

