.expand {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  span {
    position: relative;
    width: 16px;
    height: 16px;

    &:before,
    &:after {
      content: '';
      position: absolute;
    }

    &.small {
      width: 10px;
      height: 10px;
    }
  }

  span.plus {
    display: inline-block;

    &:before,
    &:after {
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      margin: 0 auto;
      background-color: $charcoal;
      transition: opacity ease .25s;
    }
    &:before {
      width: 16px;
      height: 2px;
    }
    &:after {
      width: 2px;
      height: 16px;
    }

    @each $color in $brand-colors {
      &.#{nth($color, 1)} {
        &:before,
        &:after {
          background-color: #{nth($color, 2)};
        }
      }
    }
  }

  span.arrow {
    transition: transform ease .25s;
    &:before {
      left: 0;
      top: 4px;
      border-top: 8px solid $black;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
    }

    &:after {
      left: 2px;
      top: 4px;
      border-top: 6px solid $light-gray;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
    }

    &.small {
      &:before {
        top: 2px;
        border-top-width: 5px;
        border-left-width: 5px;
        border-right-width: 5px;
      }

      &:after {
        left: 1px;
        top: 2px;
        border-top-width: 4px;
        border-left-width: 4px;
        border-right-width: 4px;
      }
    }

    &.purple-gray {
      &:before { border-top-color: $purple-purple; }
      &:after { border-top-color: $light-gray; }
    }

    &.red {
      &:before { border-top-color: $red; }
      &:after { border-top-color: $white; }    
    }
  }

  &.open {
    span.arrow {
      transform: rotate(180deg);
    }

    span.plus:after {
      opacity: 0;
    }
  }
}

.mobile-expand-toggle {
  display: none;
  color: $red;
  font-family: $r-medium;
  cursor: pointer;

  .arrow {
    margin-left: 5px;
  }

  @include breakpoint(small down) {
    display: flex;
  }
}

.mobile-expand {
  @include breakpoint(small down) {
    display: none;
  }
}

.h4.expand span {
  margin-right: 10px;
}

button.expand span {
  margin-left: 10px;
}

.expand-content {
  overflow: hidden;
  display: none;

  ul {
    padding: 0;
    margin: 0;
  }

  &.expand-mobile {
    display: block;

    @include breakpoint(small down) {
      display: none;
    }
  }
}

.expand-wrap {
  @include breakpoint(medium) {
    &.desktop-open {
      .expand-content {
        display: block;
      }
    }
  }
}
