#wrapper.sticky {
	header.header-banner,
	header.header-main {
		position: fixed;
		z-index: 1000;
		width: 100%;
  }

  .header-search {
    height: 0;
    overflow: visible;
    transition: height ease-in-out 0.3s;
    width: 50% !important;
    left: 25% !important;
    @include respond (large-down) {
    	height: auto;
    	left: 0px !important;
    }
  }

	@include breakpoint(large up) {
		header.header-banner {
			top: 0;
			z-index: 1000;
		}
		header.header-main {
			top: 32px;
			display: flex;
			align-items: center;
			justify-content: space-between;
    	}
		#cart-summary-right {
			top: 50px;
		}
		.cart-footer {
			height: calc(100vh - 130px);
		}
		@include respond (medium) {
			top: 0px;
		}
    .sticky-header-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      width: 100%;
      max-width: 1200px;
    }
		.header-top,
		.header-bottom {
      display: inline-block;
			padding: 10px 0;
      margin: 0;
		}
		.header-top {
			border-bottom: 0;
		}
		.logo img {
			width: 142px;
			height: 20px;
		}
		.header-navigation>li {
			margin-left: 15px;
			&:first-child {
				margin-left: 0;
			}
			&:nth-child(8) {
				display: none;
			}
		}
		.header-banner-store {
			padding: 4px 20px;
		}
		.header-search {
			flex: unset;
			position: absolute;
      top: 41px;
      left: 0;
			padding: 0 15px;
			max-width: none;
			width: 100%;
      		background-color: $light-gray;
      		.search-suggestion-wrapper {
      			margin-top: 0px;
      		}

      form {
        max-width: 1170px;
        margin: 0 auto;
        display: none;
      }

			&.is-open {
				display: flex !important;
				left: 0 !important;
				height: 40px;
				width: 100% !important;
				margin:0 auto !important;
				form {
					display: block !important;
				}
				.search-suggestion-wrapper {
					margin-top: 20px;
				}
			}
		}
		.header-top {
			position: static;
			.column:first-child {
				flex: unset;
				max-width: none;
			}
			.column:nth-child(3) {
				display: none;
			}
		}
		.header-submenu {
			top: 41px !important;
		}
		header.header-main {
			.header-submenu {
				top: 123px;
			}
    }

    .header-bottom {
      .column {
      	display: flex;
      }

      .header-search-button {
        display: inline-flex !important;
        margin-left: 20px;
        img {
          width: 18px;
          height: 18px;
        }
      }
    }
	}
	@include breakpoint(medium down) {
		header.header-main {
			top: 0 !important;
		}
		.header-countdown {
			padding-top: 80px;
		}
		.header-tooltip,
		.header-top .column:last-child {
			display: none;
		}
		.header-search {
			padding-top: 0;
			padding-bottom: 0;
			display: none !important;
		}
		.header-search.is-open {
			height: 48px;
			margin-top: 8px;
			display: block !important;
		}
		.header-search-button {
			display: block !important;
		}
	}
}

@media only screen and (max-width: 767px) {
	.header-main {
		&.menu-opener {
			position: fixed !important;
			height: 100%;
			width: 100%;
			.sticky-header-wrap {
				height: 100%;
				position: fixed;
				width: 100%;
				overflow-y: auto;
				overflow-x: hidden
			}
		}
	}
}