ul.header-navigation {
  padding: 0;
  list-style: none;

  >li {
    margin-bottom: 0;
  }

  li, a {
    font-size: 15px;
    line-height: 15px;
  }
  li a.btn.primary:focus{
  	color:#fff;
  	outline: 2px solid #9ECAED !important;
  }
}

.header-mobile-list {
  display: none;

  li {
    display: flex;
    align-items: center;
  }

  a {
    width: 100%;
    background-color: #f8f8f8;

    &.user-login {
      border-bottom: 1px solid $medium-gray;
      span {
        color: $red;
      }
    }
  }

  img {
    position: absolute;
    left: 15px;
    max-width: 20px;
  }
}

// desktop
@include breakpoint(large up) {
  ul.header-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    >li {
      display: inline-block;
      >a {
        padding-bottom: 2px;
        color: $charcoal;
        font-family: $r-medium;
        font-size: 16px;
        line-height: 16px;
        text-decoration: none;
        text-transform: uppercase;
        border-bottom: 2px solid transparent;
        transition: color ease .3s, border ease .3s;
      }
      &.is-open,
      &:hover {
        >a {
          color: $red;
          border-color: $red;
        }
      }
    }
  }
}

// mobile
@include breakpoint(medium down) {
  ul.header-mobile-list {
	display: block;
	li{
		position:relative;
	}
	a.login {
  		padding: 0px;
  		position: absolute;
  		z-index: 1;
  		top: 0;
  		img {
   			padding: 15px 0px;
   		}
   	}
  }

  ul.header-navigation {
    ul {
      list-style: none;
      padding: 0;
      width: 100%;
      &.customer-info{
      	li{
      	  border-top: 0;
      	}
      }
    }
    
    li {
      margin-bottom: 0;
      border-top: 1px solid $medium-gray;
      background-color: $white;
    }

    a {
      display: block;
      padding: 15px 10px 15px 50px;
      width: 100%;
      text-decoration: none;
      box-sizing: border-box;
      color: $charcoal !important;
    }

    .mobile-menu-expand,
    .submenu-title {
      position: relative;

      > a {
        font-family: $r-medium;
        text-transform: uppercase;
      }

      &:after {
        content: '';
        position: absolute;
        top: 15px;
        right: 10px;
        width: 8px;
        height: 14px;
        background-image: url(../images/header/caret.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: transform ease .3s;
      }

      &.is-open {
        &:after {
          transform: rotate(90deg);
        }
      }
    }

    .mobile-menu-expand>a,
    .submenu-title a {
      display: inline-block;
      width: auto !important;
    }

    >li {
      &:first-child {
        border-top: none;
      }
    }
  }

  .header-submenu-wrap ul {
    li {
      padding-left: 25px;
      text-align: left !important;

      a {
        text-decoration: none !important;
      }
    }

    ul li {
      padding-left: 50px;
    }
  }
}
