.submenu-title,
.submenu-title a {
  font-family: $r-medium !important;
	text-transform: uppercase;
}

// desktop
@include breakpoint(large up) {
  .header-submenu {
    display: none;
    position: absolute;
    top: 120px;
    left: 0;
    z-index: 999;
    padding-top: 10px;
    padding-bottom: 100px;
    width: 100%;
    height: 351px;
    background-color: #fafafa;
    box-sizing: border-box;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: -20px;
      width: 100%;
      height: 34px;
      background-color: transparent;
    }
    figure {
      margin: 0;
      @include aspect-ratio(16, 9);
      @include bgCover();
      max-height: 180px;
      width: 100%;
      overflow: hidden;
    }
  }

  .header-submenu-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 15px;
    max-width: $global-width;
    width: 100%;
    box-sizing: border-box;

    a {
      text-decoration: none;
    }

    .menu-flex {
      display: flex;
      flex-wrap: wrap;
    }

    ul {
      padding-left: 0;
      padding-right: 30px;
      list-style: none;
      max-width: 230px;
    }
    li {
      margin-bottom: 10px;
      a {
        color: $charcoal;
        font-family: $r-regular;
        font-size: 15px;
        line-height: 15px;
        transition: color ease .3s;
        &:hover {
          color: $red;
        }
      }
    }
  }

  .submenu-title {
    margin: 0 0 10px !important;
    padding-bottom: 5px;
    border-bottom: 1px solid $medium-gray;
  }
}

@include breakpoint(medium down) {
  .header-submenu {
    display: none;

    ul {
      column-count: 1 !important;
    }

    ul>ul {
      display: none;
    }
  }

  .submenu-title-li {
    padding: 15px 10px 15px 75px !important;
  }
}

@media only screen and (min-width: 1031px) {
  .submenu-title,
  .submenu-title a {
    font-family: $r-bold !important;
  }

  .submenu-title span {
    font-size: 20px;
    line-height: 15px;
  }
}
.navigation-ab {
	.mobile-menu-expand {
		.submenu-title-li {
			@include respond(large-down) {
				padding-left: 25px !important;
			}
		}
		a.bold, a.regular {
			@include respond(large-down) {
				padding-left: 10px;
			}
		}
		.header-submenu {
			.header-submenu-wrap {
				ul {
					ul {
						li {
							@include respond(large-down) {
								padding-left: 25px;
							}
						}
					}
				}
			}
			li a {
				@include respond(large-down) {
					padding-left: 0px;
				}
			}
			.menu-inner-wrap {
				@include respond(large-down) {
					padding-left: 25px;
					padding-bottom: 15px;
				}
			}
		}
	}
	.header-7-AB {
		@include respond(large-down) {
			a.red {
				color: #d63426 !important;
			}
			.header-submenu {
				.header-submenu-wrap {
					ul li {
						border: none;
					}
				}
			}
		}
		.header-submenu {
			@include respond(large) {
				height: 450px;
				padding-top: 30px;
	    		border-bottom: 10px solid #d63426;
	    		background-color: white;
			}
		}
		.header-submenu-wrap {
			ul {
				li.submenu-title {
					font-weight: 600;
					@include respond(large) {
						border-bottom: 2px solid #d63426;
						padding-right: 0px;
		    			width: 233px;
		    			a {
		    				text-transform: capitalize;
		    			}
					}
					@include respond(large-down) {
						margin: 0 0 0 25px!important;
    					padding: 0px !important;
    					border-top: 1px solid #cacaca;
						a {
		    				text-transform: capitalize;
		    			}
					}
					a {
						@include respond(large-down) {
							font-weight: 600;
						}
					}
					.hide-on-mobile-menu {
						@include respond(large) {
							float: right;
						}
					}
				}
			}
			ul.sale-by-size {
				@include respond(large) {
					max-width: 250px;
				}
				li.submenu-title {
					padding-right: 0px;
				}
				ul.menu-inner-wrap {
					@include respond(large) {
						padding-right: 0px;
						max-width: 250px;
					}
					@media screen and (max-width: 1000px) and (min-width: 768px) {
						padding-left: 100px;
					}
					.icon {
						background-color: #f1f1f2;
						border-radius: 5px;
						width: 75px;
						height: 95px;
						margin-right: 2px;
						margin-bottom: 5px;
						@include respond(large-down) {
							width: 90px;
						}
						&:hover {
							background-color: black;
						}
						&:hover p {
							color: white;
						}
						&:hover path, &:hover polygon {
							fill: white;
						}
						.icon-link {
							display: block;
	    					padding: 15px 0px 13px 0px;
							@include respond(large-down) {
								border-top: none;
							}
							@media screen and (max-width: 1199px) and (min-width: 768px) {
								padding: 15px 0px 13px 0px;
							}
							svg {
								
							}
							p {
								font-weight: 600;
								font-size: 15px;
							}
						}
					}
				}
			}
			.menu-flex {
				@include respond(large) {
					max-width: 70%;
				}
				@media screen and (max-width: 1199px) and (min-width: 768px) {
					max-width: 100%;
				}
			}
			.promotion-section {
				width: 340px;
				flex: 0 0 29%;
				max-width: 30%;
				height: 290px;
				border-radius: 10px;
				background-color: #323030;
				@media screen and (max-width: 1199px) and (min-width: 768px) {
					flex: 0 0 25%;
					max-width: 23%;
					width: 240px;
				}
				p,span {
					color: white;
				}
				.heading-sleep {
					padding-top: 5px; 
					border-bottom:3px solid #4a4a4a;
					width: 200px;
					margin: 25px auto 0px auto;
					font-size: 32px;
				}
				.p-save-upto {
					text-align: center;
					font-weight: 900;
					font-size: 26px;
	    			margin: 10px 0px;
				}
				.price {
					text-align:center;
					margin-bottom: 5px;
					.value {
						font-size: 60px;
					}
				}
				.p-best-brand {
					font-weight:600;
					text-align: center;
					margin-top: 5px;
				}
				.shop-sale-btn {
					width: 118px;
	    			margin: 30px auto;
					.btn-new {
						width: 118px;
						border-radius: 3.2px;
						background-color: #4a4a4a;
						line-height: 1.7;
						color: white !important;
						font-size: 12.8px;
					}
				}
			}
		}
		.header-submenu-banner.sale {
			background-color: transparent;
			.shop-sale-btn {
				width: 110px;
				padding-left: 25px;
				padding-bottom: 10px;
			    font-size: 16px;
			    font-weight: 800;
			    color: #d63426;
			    @media screen and (max-width: 1199px) and (min-width: 768px) {
					width: 110px;
				}
			}
		}
	}
}

@include breakpoint(large up) {
	.header-submenu-wrap ul.jcExtend { padding-right: 5px;}
}
