/*
* SAYT styles
*/
.header-search {
	display: none;
	padding: 0;
	position: relative;

	&.is-open {
		display: block !important;
	}

	input {
		&::-ms-clear {
			display: none;
		}
	}

  #search-suggestions {
    position: absolute;
    min-width: 350px;
    left: 0;
    margin: 0 auto;
    max-width: 1170px;
    right: 0;
    width:100%;

    @include breakpoint(320 down) {
      min-width: 320px;
    }
  }
  #suggestions {
		div:hover {
			color: $color-secondary;
		}
	}
	.search-suggestion-wrapper {
		width: 100%;
		margin-top: 34px;
		margin-left: 0;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: flex-start;
		height: 450px;
    	overflow-y: scroll;
    	overflow-x: hidden;
    	margin-top: 20px;
		@include breakpoint(medium down) {
			margin-top: 6px;
		}
		@include respond(large-down) {
			flex-wrap: nowrap;
			flex-direction: column;
    }
    a {
      font-family: $r-regular;
      &:hover {
        text-decoration: none !important;
      }
    }
		a.close-search-suggestions {
			position: absolute;
			width: 25px;
			height: 25px;
			display: block;
			background: url('../images/Close_Gray.svg') no-repeat center center;
			text-indent: -9999em;
			top: 5px;
			right: 10px;
			cursor: pointer;
		}
		.product-suggestions {
			background-color: #fff;
			float: none;
			@include respond(large-down) {
				order: 1;
				width: 100%;
				flex-basis: 100%;
			}
			.search-phrase .completed .original {
				color: #D63426;
			}
			.product-suggestion {
				padding: 10px;
        a {
          font-size: 14px;
          line-height: 16px;
        }
				.product-options {
					display: none;
				}
				.product-price {
					margin-top: 10px;
					span {
						margin: 0;
						color: #323030;
						font-size: 13px;
						line-height: 16px;
						display: block;
					}
					.product-standard-price {
						font-family: $r-bold;
					}
					.price-standard, .product-standard-price.has-sale-price {
            text-decoration: line-through;
            font-family: $r-regular;
					}
					.price-sales.price-sales-more, .product-sales-price {
						color: #D63426;
						font-family: $r-bold;
					}
				}
			}
		}
		.phrase-suggestions {
			float: none;
			background-color: #fafafa;
			padding-bottom: 20px;
			width: 100%;
		}
		&.full .phrase-suggestions {
			width: 42.8571429%;
			@include respond(large-down) {
				order: 2;
				width: 100%;
				flex-basis: 100%;
			}
		}
		.hitgroup {
			span.divider {
				border-top: 1px solid #ccc;
				width: 95%;
				display: block;
				margin: 25px 0;
			}
			.header {
				color: #000 !important;
				text-transform: none !important;
				font-size: 16px !important;
				margin-top: 20px;
				margin-bottom: 20px;
			}
			.hit {
        margin-bottom: 10px;
        font-size: 14px;
        border: none !important;
        border-bottom: none !important;
        a {
          margin-bottom: 10px;
          font-size: 14px;
          border: none !important;
          border-bottom: none !important;
        }
        a:hover {
          text-decoration: none !important;
          border: none !important;
          border-bottom: none !important;
          margin-bottom: 10px;
        }
        &:hover {
          text-decoration: none !important;
          border: none !important;
          border-bottom: none !important;
          margin-bottom: 10px;
        }
			}
		}

		.more-results {
			text-align: center;
			margin-top: 25px;
			margin-bottom: 25px;
			a.button {
				width: 200px;
        border-radius: 5px;
        &:hover {
          color: #fff;
          background-color: lighten($punch, 10%);
        }
			}
		}
	}
}
