.product-financing-custom {
	line-height: 1;
	img {
		display: none;
	}
	span {
		font-size: 12px;
	    color: #d63426;
	    font-family: $r-semibold;
	    .pay-over-link {
	    	font-family: $r-regular;
	    }
	}
	.new-financing-pdp-ab {
		display: none;
	}
//	 span {
//		text-decoration: underline;
//		cursor: pointer;
//
//		&:hover .product-financing-msg {
//			opacity: 1;
//			z-index: 999;
//			color: black;
//		}
//	} 
}

.product-financing-msg {
	z-index: -1;
	opacity: 0;
	position: absolute;
	bottom: 18px;
	left: -2%;
	width: 200px;
	background: #FFFFFF;
	border: 1px solid #ccc;
	padding: 15px;
	&:before,
	&:after {
		content: "";
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		border: solid transparent;
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	&:before {
		border-color: transparent;
		border-top-color: #ccc;
		border-width: 11px;
		margin-left: -10px;
	}
	&:after {
		border-color: transparent;
		border-top-color: #FFFFFF;
		border-width: 10px;
		margin-left: -10px;
	}
}
