.split-card {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	height: 100%;
	background-color: $white;
	overflow: hidden;
	box-sizing: border-box;

	.top {
		width: 100%;
		position: relative;
		padding: 15px 15px 50px;
		img {
			position: absolute;
			bottom: -24%;
			left: 0;
			right: 0;
			margin: 0 auto;
			max-height: 65px;
		}
		h3 {
			margin-bottom: 8px !important;
		}
		p {
			margin: 0;
		}
	}
	.bottom {
		width: 100%;
		height: 100%;
		padding: 40px 15px 15px;
		ul {
			margin-left: 30px;
			margin-bottom: 0;
			li {
				padding-left: 0px;
				margin-bottom: 10px;
				list-style: disc;
			}
		}
	}
}

.split-card-hl {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 18px;
	margin: 0 0 10px !important;
	height: 52px;
	text-align: center;
	border: 2px solid $light-gray;
	border-radius: 4px;
}