@import "../bootstrap/variables";
@import "../dw/fonts";
@import "../bootstrap/mixins";
 
/* secondary region elements (side nav refinements) */
@import "../dw/sidenav"; 

/* color swatches */
@import "../dw/swatches"; 

/* search results, grid layout */
/* ------------------------------------- */
@import "../dw/search-grid";

@import "../dw/widgets"; 

.back {
  display: none; 
}
 
article {
  img.mainImg { width:100%;  }
  .content-asset { 
    p:first-child { font-size: 120%; }
  }
  .toggle {
    background: $grayDark;
    color: white;
    display: block;
    padding: 5px;
    position: relative;
    span {
      background: url("../images/sprites.png") no-repeat scroll right;
      background-position: -19px -145px;
      display: block;
      padding: 0;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 5px;
      right: 0;
    }
    &.expanded {
      span {
        background-position: 0 -145px;
      }
    }
  }
}

#pressReleases {
  @include clearfix();
  ul {
    margin:0;
    padding:0;
    li {
      border-top: 1px solid $grayDark;
      &.clearfix {
        clear: both;
        padding: 15px 0 0 !important;
        margin: 15px 0; 
        min-height: 0px;
        border-bottom: none;
        border-top: 1px solid $grayDark;
      }
      &.col-1 { 
        border: none;
        img {
          width:100%;
          float:none;
          margin:0;
        }
        .title {
          font-size:1.7em;
          display: block;
          margin: 15px 0 5px;
        }
      }
      &.col-2 {
        padding: 10px 0 0;
      }
      img {
        float:left;
        margin: 0 15px 0 0;
        width:100px; 
      }
    }
    li.col-2:first-child {
      padding-top: 0;
      border: none;
    }
    .title { 
      color:$accentColor; 
      font-size: 1.35em;
    }
    .date { text-transform: uppercase; }
    a.readmore {
      display:block;
      padding: 0 0 15px;
      margin: 15px 0 5px;
      color: $accentColor;
    } 
  }
}
