@import "../bootstrap/variables";
@import "../dw/fonts";
@import "../bootstrap/mixins";
@import "../dw/checkout";
@import "../dw/shopping-cart";

#secondary {
  .toggle {
    span {
       @include sprite();
       float: right;
       background-position: -18px -147px;
       height:16px;
       width:16px;
    }
   &.expanded {
     span {
      background-position: 0 -147px;
     }
   }

  }
}
table.item-list {
  tr:nth-child(even) {
    background: $grayLightMid;
  }
}
.address-wrapper {
  &.visible {
    border: 2px $gold solid;
  }
}
.address-entered {
  .header {
    padding: 15px 20px 10px 25px;
    font-size: 3em;
    font-weight: bold;
    color: $blueDarkest;
  }
  .details {
    padding: 0 20px 10px 25px;
    font-size: 1.3em;
    color: $black;
    font-weight:bold;
  }
}
#MakeAPaymentForm{
  margin-top:20px;
}
.make-a-payment-summary{
  td {
    line-height:1.3em;
  }
  a.button{
    margin:10px 0;
    display:inline-block;
  }
}
.make-a-payment-results {
  padding:0 0 0 0px;
  li{
    margin:5px 0;
    span.label{
      display:inline-block;
      width:25%;
    }
    span.value{
      display:inline-block;
      vertical-align:top;
      width: 35%;
    }
  } 
  a.button{
    margin:10px 0;
    display:inline-block;
  }
}

.pt_checkout {
  .form-row {
    label {
      float: none;
    }
  }
  #delivery-schedule-button:hover {
    color: #fff;
  }
  .progress-bar {
    .step.fulfilled a {
  	  text-decoration: underline;
  	}
  	.progress-bar-background {
  	  background-color: transparent;
  	}
  	.step {
  		background-color: #78d7ff;
  	}
  	.step.fulfilled {
  	  opacity: 1;
  	}
  	.step, .step.selected {
  	  width: 245px;
  	  height: 59px;
  	  line-height: 59px;
  	  float: left;
  	  position: relative;
  	  margin: 20px 0 20px 5px;
  	  padding: 0;
  	}
  	.step:before {
      content: "";
      width: 0;
      height: 0;
      border-top: 29px solid transparent;
      border-bottom: 29px solid transparent;
      border-left: 29px solid #daefff;
      position: absolute;
      left: 0px;
      z-index: 10;
    }
    .step:nth-child(2):before {
      display: none;
    }
  	.step:after {
      content: "";
      width: 0;
      height: 0;
      border-top: 29px solid transparent;
      border-bottom: 29px solid transparent;
      border-left: 29px solid #78d7ff;
      position: absolute;
      right: -29px;
      z-index: 20;
    }
    .step.selected:after {
      border-left: 29px solid #0071a7;
    }
    .step:nth-child(5):after {
      display: none;
    }
    .step:nth-child(2) {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      z-index: 230;
    }
    .step:nth-child(3) {
      z-index: 220;
    }
    .step:nth-child(4) {
      z-index: 210;
    }
    .step:nth-child(5) {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .step.selected:nth-child(3) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .step.selected:nth-child(4) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .step.selected:nth-child(5) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  #primary {
    clear: both;
  }
}

.returnToCart {
  position: absolute;
  right: 0px;
  margin-top: -45px;
  font-size: 1.2em;
  text-decoration: underline;
}

.city-col, .state-col {
  position: relative;
}

.cover {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: -4px;
  left: 0px;
  background-color: #fff;
  opacity: .5;
  z-index: 1000;
}