@import "../bootstrap/variables";
@import "../dw/fonts";
@import "../bootstrap/mixins";
@import "../dw/checkout";

.pt_checkout {
  .form-row {
    label {
      float: none;
    }
  }
  .progress-bar {
    .step.fulfilled a {
  	  text-decoration: underline;
  	}
  	.progress-bar-background {
  	  background-color: transparent;
  	}
  	.step {
  		background-color: #78d7ff;
  	}
  	.step.fulfilled {
  	  opacity: 1;
  	}
  	.step, .step.selected {
  	  width: 245px;
  	  height: 59px;
  	  line-height: 59px;
  	  float: left;
  	  position: relative;
  	  margin: 20px 0 20px 5px;
  	  padding: 0;
  	}
  	.step:before {
      content: "";
      width: 0;
      height: 0;
      border-top: 29px solid transparent;
      border-bottom: 29px solid transparent;
      border-left: 29px solid #daefff;
      position: absolute;
      left: 0px;
      z-index: 10;
    }
    .step:nth-child(2):before {
      display: none;
    }
  	.step:after {
      content: "";
      width: 0;
      height: 0;
      border-top: 29px solid transparent;
      border-bottom: 29px solid transparent;
      border-left: 29px solid #78d7ff;
      position: absolute;
      right: -29px;
      z-index: 20;
    }
    .step.selected:after {
      border-left: 29px solid #0071a7;
    }
    .step:nth-child(5):after {
      display: none;
    }
    .step:nth-child(2) {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      z-index: 230;
    }
    .step:nth-child(3) {
      z-index: 220;
    }
    .step:nth-child(4) {
      z-index: 210;
    }
    .step:nth-child(5) {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .step.selected:nth-child(3) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .step.selected:nth-child(4) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .step.selected:nth-child(5) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  #primary {
    clear: both;
  }
}