@import "../bootstrap/variables";
@import "../dw/fonts";
@import "../bootstrap/mixins";

/* secondary region elements (side nav refinements) */
@import "../dw/sidenav"; 

/* color swatches */
@import "../dw/swatches";

/* search results, grid layout */
/* ------------------------------------- */
@import "../dw/search-grid"; 

/* compare tools */
@import "../dw/compare-tools";

/* power reviews */
@import "../dw/power-reviews";

.bottom-banner-container{
  overflow:hidden;
  .bottom-banner-cell{float:left;overflow:hidden;text-align:center;}
  .banner-cell-1{width:33%;}
  .banner-cell-2{width:34%;}
  .banner-cell-3{width:33%;}
 }

.pt_product-search-result{
  .mf-results-header, .mf-results-hero {
    .heading {
      background-color: $orangeNeon;
      h2 {
        font-weight: bold;
        font-style: italic;
        font-size: 3em;
        margin-top: 0;
      }
    }
    .heading, .customer-zone {
      color: $grayDarkest;
    }
    p, .customer-zone, .help-me .customer-agents {
      font-size: 1.3em;
      + p {
        margin-top: 5px;
      }
    }
  }
  .mf-results-header {
    margin-bottom: 10px;
    .landing-promo-block {
      height: 663px;
      width: 100%;
      background-color: $blueBabyDarker;
      .wrapper {
        height: 100%;
        background-color: $bodyBackground;
        .landing-left, .landing-right {
          margin-left: 10px;
        }
        .landing-left {
          width: 745px;
          float: left;
          .heading, .customer-zone {
            padding: 40px;
            h2 {
              font-weight: bold;
              font-style: italic;
              font-size: 3em;
              margin-top: 0;
            }
            span, a {
              font-weight: bold;
            }
          }
          .heading {
            height: 115px;
            -webkit-border-top-left-radius: 10px;
            -webkit-border-top-right-radius: 10px;
            -moz-border-radius-topleft: 10px;
            -moz-border-radius-topright: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          }
          .customer-zone {
            height: 18px;
            padding-top: 25px;
            padding-bottom: 25px;
            margin-bottom: 10px;
            background-color: $greenNeonLight;
            -webkit-border-bottom-left-radius: 10px;
            -webkit-border-bottom-right-radius: 10px;
            -moz-border-radius-bottomleft: 10px;
            -moz-border-radius-bottomright: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            a {
              color: $blue;
              font-weight: bold;
            }
            input {
              font-size: 0.95em;
              width: 115px;
              height: auto;
              line-height: normal;
              top: -1px;
              position: relative;
              background: transparent;
              border-top: none;
              border-left: none;
              border-right: none;
              outline: none;
              &.invalidZip {
                color: $red;
                border-color: $red;
              }
            }
          }
          .grid-tile {
            display: inline-block;
            background-color: $white;
            width: 241px;
            height: 390px;
            overflow: hidden;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-bottom: none;
            margin-top: 0;
            + .grid-tile {
              margin-left: 11px;
            }
            > div {
              width: 195px;
              margin: 0 auto;
            }
            h3 {
              text-align: center;
              color: $blue;
              font-weight: bold;
              font-size: 2em;
              margin-bottom: 5px;
            }
            .product-name h2 {
            	font-size: 12px;
            }
            .product-pricing {
            	font-size: 1.1em;
            	text-align: center;
            }
          }
        }
        .landing-right {
          width: 225px;
          display: inline-block;
          .help-me, .slot-promo {
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            padding: 35px;
          }
          .help-me {
            height: 362px;
            background-color: $blueBaby;
            margin-bottom: 10px;
            .have-questions, .option-row .title {
              color: $white;
            }
            .have-questions {
              font-size: 2.5em;
            }
          }
          .slot-promo {
            height: 220px;
            background-color: $blueDarkest;
            h4 {
              color: $orangeNeon;
              margin-top: 0;
              font-size: 2.5em;
              margin-bottom: 15px;
            }
            p, a {
              color: $white;
            }
            p + p {
              margin-top: 15px;
            }
            a {
              font-weight: bold;
              position: relative;
              &:after {
                display: inline-block;
                content: '>';
                position: absolute;
                right: -13px;
              }
            }
          }
        }
      }
    }
  }
  .mf-results-hero {
    background-color: $white;
    .wrapper {
      padding-top: 40px;
      > div {
        height: 195px;
        overflow: hidden;
        > div {
          height: 115px;
          padding: 40px;
        }
      }
      .hero-left {
        width: 615px;
        float: left;
        -webkit-border-top-left-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-bottomleft: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      .hero-right {
        padding: 60px 40px;
        height: 75px;
        width: 227px;
        display: inline-block;
        background-color: $grayDarkest;
        -webkit-border-top-right-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;
        -moz-border-radius-topright: 10px;
        -moz-border-radius-bottomright: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        p, a {
          font-style: italic;
          font-weight: bold;
        }
        p {
          color: $white;
        }
        a {
          color: $blue;
          font-size: 2em;
        }
      }
    }
  }
  .search-results-header {
    .landing-promo-block {
      width:100%;
      background-color:$blueBabyDarker;
      height:400px;
      border-bottom:10px solid $bodyBackground;
      .wrapper {
        height:400px;
        background-color:$bodyBackground;
        .landing-left {
          display:inline-block;
          float:left;
          margin-left:10px;
          background-color: $white;
          width:645px;
          height:400px;
          border-radius:10px;
          -webkit-border-radius:10px;
          -moz-border-radius:10px;
          .category-content {
            padding:25px 25px;
            .heading {
              color:$blueBabyDarker;
              font-size:3em;
              font-weight:bold;
              font-style:italic;
            }
            .sub-heading {
              font-size:2em;
              margin:15px 0 0 0;
            }
            .content {
              font-size:1.25em;
              line-height:1.5em;
              margin-top:20px;
              font-weight:normal;
            }
          }
        }
        .landing-right {
          display:inline-block;
          position:relative;
          width:327px;
          height:400px;
          margin-left: 10px;
          border-radius:10px;
          -webkit-border-radius:10px;
          -moz-border-radius:10px;
          &:after {
            position:absolute;
            top:-14px;
            left:0;
            right:0;
            margin: 0 auto;
            @include spriteBlueTag;
          }
          .featured {
            position:absolute;
            top:0;
            display:block;
            width:100%;
            height:58px;
            background-color: $orangeNeon;
            color: $blueDarkest;
            text-align:center;
            font-size:1.5em;
            font-weight:bold;
            font-style:italic;
            padding-top:22px;
            box-sizing:border-box;
          }
          .product-tile {
            background-color:$blueDarkest;
            height:400px;
            -webkit-border-bottom-right-radius: 10px;
            -webkit-border-bottom-left-radius: 10px;
            -moz-border-radius-bottomright: 10px;
            -moz-border-radius-bottomleft: 10px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;  
            .product-image {
              height:224px;
              background-color:white;
              margin:auto;
              text-align:center;
              img {
                width:100%;
              }
            }   
            .product-name {
              margin:25px 30px;
              a {
                color:$orangeNeon;
                font-size:1.65em;
                font-weight:bold;
                line-height:1.4em;
                text-transform:uppercase;
                text-align:left;
              }
            }
            .product-pricing {
              margin:20px 30px;
              font-size:1.3em;
              font-weight:bold;
              margin-top:20px;
              .product-standard-price {
                display:inline-block;
                float:left;
                margin-right:10px;
              }
              .product-sales-price {
                display:inline-block;
                float:left;
                color:$white;
              }              
            }
          }
        }
      }
    }
  }
  .search-results-block {
    background-color:$white;
    overflow:hidden;
    #main{
      margin: 35px 0 0 0;
      .catheader{
        min-height:25px;
        h1{
          margin: 25px 0;
        }
      }
    }
    #primary{
      width: 748px;
      margin:20px 0 0 0;
      &.primary-content{
        border: none;
        background: none;
      }
      .compare{
        padding: 20px 20px 20px 70px;
        margin: 60px 0 20px 0;
        background:url("../images/compare.png") no-repeat scroll 20px center $grayLighter;
        clear:both;
        .text{
          width: 48%; 
          float: left;
          margin: 0; 
        }
        button{
          float: right;
          background-color: $accentColor;
          color: $white;
          border: none;
          font-size: 18px;
          font-weight: 200; 
          .arrow{
            background: url("../images/sprites.png") no-repeat; 
            background-position: -78px -142px;
            height: 20px;
            width: 20px;
            float: right;
          }    
        }
      }
      .search-result-choices{
        width: 100%;
        background-color:$grayLighter;
        height:155px;
        margin-top:20px;
        padding:25px 30px;
        box-sizing:border-box;
        border-radius:10px;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        .search-show {
          float:right;
          width:350px;
          .title {
            font-size:1.9em;
            font-weight:bold;
            color:$blueDarkest;
          }
          .content {
            margin-top:20px;
            .radio {
              margin: 0 0 8px 0;
              font-size:1.2em;
              font-weight:normal;
              .zip-display {
                display:inline-block;
                padding:0 5px 0 0;
                font-weight:bold;
              }
              .zip-input {
                display:inline-block;
                padding:0 5px;
                input {
                  width:60px;
                }
              }
              .zip-change,
              .zip-update {
                display:inline-block;
                span {
                  font-weight:bold;
                  color: $blue;
                  cursor: pointer;
                }
                span:hover {
                  color: $black;
                }
              }
              
              .zip-invalid {
              	  display: none;
                  position: relative; 
                  top: -2px;
                  span {
                  	  position: relative; 
                  	  left: 212px;
                  	  color: $red;
                  	  font-size: 0.8em;
                  }
              }
               
              input[type="radio"] {
                margin:0 8px 0 0;
              }
              a {
                color: $blue;
                &:hover {
                  color: $black;
                }
              }
            }
          }
        }
        .search-sort-by {
          float:left;
          .title {
            font-size:1.9em;
            font-weight:bold;
            color:$blueDarkest;
          }
          .content {
            margin-top:20px;
            .sort-by {
              margin:0;
              padding:0;
              background-color:$white;
              border:none;
            }
            .sort-by {
              margin:0;
              padding:0;
              background-color:$white;
              border:none;
              .dk_container {
                font-size:1.5em;
                font-weight:bold;
                font-style:italic;
                .dk_option_current {
                  a {
                    background-color:$white;
                  }
                }
                a {
                  margin:0;
                  padding:0 0 0 15px;
                  height:46px;
                  line-height:46px;
                  box-sizing:border-box;
                  width:247px;
                  border:0 none;
                  color: $blueBabyDarker;
                  &:hover {
                    background-color:$white;
                    color:$black;
                  }
                  .arrow {
                    @include spriteBlueDownArrow;
                    top:0;
                  }
                }
                .dk_open {
                  .dk_toggle {
                    background-color:$white;
                  }
                }
              }
            }
          }
        }
      }
      .search-result-content{
        ul.search-result-items{
          li{
            &.grid-tile{
              box-shadow: none;
              background: none;
              .product-swatches{
                display: none;
              }
              .product-pricing{
                text-align: center;
                font-size: 1.1em;
              }
              .product-name{ 
                h2{
                  text-align: left;
                  font: {
                    size: 12px;
                  }  
                }
              }
              .product-compare{
                position: absolute;
                top:300px;
                width: 100%;
                background-color: $grayLighter;
                padding: 10px 0px 10px 0px;
                left: 0;
                input{
                  margin: 0 0 0 10px;
                }
                label{
                  width: auto;
                  float: left; 
                  padding: 0 0 0 5px;
                }
              }
              &.new-row{
                padding: 0;
              }
            }
          }
        }
        .pagination{
          margin: 25px 0 0 0;
          float:none;
          text-align:center;
          width:100%;
          .results-hits{
            display: none;
          }
          ul{
            float:none;
            display:inline-block;
            li{
              display:inline-block;
              width: 14px;
              height: 20px;
              color: $blue;
              text-align: center;
              font-weight:bold;
              margin: 0 0 0 5px;
              padding: 4px 0 0 0;
              &.first-last a{
                background-color: transparent;
              }
              &.last-page{
                margin: 0 0 0 5px;
              }
              a{
                color: $blue;
                &:hover {
                  color: $black;
                }
              }
              &.current-page{
                color: $black;
              }
              &.show-all {
                width:auto;
                text-transform:uppercase;
              }
            }
          }
        }
      }
    }
    #secondary{
      width: 209px;
      background: transparent; 
      margin: 45px 0 15px;
      .button {  
        display:none;
      }
      h2.button:after {
        content: "\2B";
      }
      .refinement a.button:after {
        content: "";
      }  
      .refinement{
        a{
          color: $accentColor;
        }
        .toggle {
          h4 {
            display: block;
            width: 160px; 
            padding: 0;
            font-weight: bold;
            color: $blackGray;
            font-size: 1.1em;
            margin: 0;
          }
          &.closed {
            h4 {
              right: -140px;
              text-indent: -140px; 
              position: relative;
              background-position: -14px -149px;
              width: 20px;
              margin: 0; 
            }
          }
        }
        .price-range {
          display:inline-block;
          float:left;
          margin-right:10px;
          font-size:1.2em;
          font-weight:bold;
          .price-entry {
            width:55px;
            &:last-of-type {
            }
          }
        }
        .add-price-range {
          display:inline-block;
          float:left;
          background-color: $grayDarkest;
          color:$white;
          line-height:37px;
          padding: 0 10px;
          font-weight:bold;
          font-size: 1.2em;
        }
        ul{
          li {
            &.selected { /* this is duplicated in the .active tag below so I don't have to change the isml */
              a {
                color:$blueDarkest;
                font-weight:bold;
                &:before {
                  @include spriteActiveCheck;
                  float:left;
                  margin-right:3px;
                }
              }
            }
            a{
              color: $blue;
              display: inline-block;
              font-size: 1.1em;
              line-height:17px;
              font-weight:normal;
              &.active {
                color:$blueDarkest;
                font-weight:bold;
                &:before {
                  @include spriteActiveCheck;
                  float:left;
                  margin-right:3px;
                }
              }
            }
           }
           h3.toggle{
         }
       }
      }
    } 
  }
}
@mixin refinementlinks($v,$h) {
  width: 60px;
  height: 15px;
  background: url("../images/sprites_vert.png") no-repeat;
  background-position: #{$v} #{$h};
  content:'';
  display:inline-block;
  position: relative;
  top: 2px;
}

/* top level category page */
.pt_product-search-result.top-level-category{
  #primary {
    width:100%;
    float: none;
    clear:both;
    .primary-section-divider {
      margin: 30px 0 0;
      border-top: 1px solid $gray;
      h2 { 
        margin: 15px 0 0;
      }
      .jcarousel-container  {
        margin-top: 30px; 
      }
    }
  }
  #secondary {
    float: none;
    width: 100%;
    clear: both;
  }
}
.subcat-thumbs {
  ul {
    padding:0;
    li {
      width:110px;
      min-height: 135px;
      float:left;
      margin:10px 20px 10px 0;
      text-align: center;
      font: {
        size: 10px;
        family: $headingsFontFamily;
      }
      text-transform:uppercase;
      a { 
        color: $black; 
      }
      img {
        width:110px;
        height:99px;
      }
    }
  }
}
.desktop-only {
	display:none;
}
.mobile-only {
	dispay:block;
}