@import "../bootstrap/variables";
@import "../dw/fonts";
@import "../bootstrap/mixins";

.pt_storefront {
  .promo-row-1 {
    background-color: $blueBaby;
    .wrapper {
      background-color: $bodyBackground;
      margin-top:9px;
      color: $white;
      .find-mattress-left {
        height:516px;
        width:646px;
        float:left;
        background-color: $blueBaby;
        -webkit-border-top-right-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;
        -moz-border-radius-topright: 10px;
        -moz-border-radius-bottomright: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;      
        border-left: solid #78d7ff; /* get rid of left border in ie */
        
        a {
        	background-repeat: no-repeat;
        	display: block;
        	width: 320px;
        	height: 100%;
        }
        
        .html-slot-container {
          position: relative;
          height: initial;
          div {
          	position: absolute;
          	top: 0px;
          	bottom: 0px;
          	right: 0px;
          	left: 0px;
          }
        }
          
        .find-mattress-content {
          width:80%;
          height:335px;
          
          .find-mattress-title {
            font-size:4.4em;
            font-weight:bold;
            font-style:italic;
            padding-top:50px;
            line-height:1.1em;
          }
          .find-mattress-text {
            font-size:2.0em;
            color:$black;
            line-height:1.5em;
            margin-top:25px;
          }
        }
        .find-mattress-select {
          position:relative;
          .find-mattress-step {
            color: $blueDarker;
            font-weight:bold;
            font-size:1.8em;
          }
          .image-bed {
            position:absolute;
            top:0px;
            left:204px;
            &.bed0 {
            	@include spriteBed0;
           	}
            &.bed1 {
            	margin-left:11px;
            	@include spriteBed1;
           	}
            &.bed2 {
            	margin-left:25px;
            	@include spriteBed2;
           	}
            &.bed3 {
            	margin-left:35px;
            	@include spriteBed3;
           	}
            z-index: 2;
          }
          .find-mattress-dropdown {
            position: relative;
            float:left;
            z-index: 3;
            cursor:pointer;
            .mattress-size {
              margin-top:18px;
              padding-left:20px;
              height:55px;
              line-height:55px;
              font-size:1.4em;
              font-weight:bold;
              font-style:italic;
              width:236px;
              background-color:white;
              color:$blue;
              box-sizing:border-box;
            }
            .down-arrow {
              position: absolute;
              top:17px;
              left:180px;
              @include spriteDownArrow;
              z-index:3;
            }
            .slider {
              width:236px;
              padding:0;
              margin:0;
              display:none;
              li {
                background-color:$white;
                  color: $blue;
                  font-size: 1.4em;
                  border:none;
                  line-height: 55px;
                  height:55px;
                  padding-left: 20px;
                  font-style:italic;
                  font-weight:bold;
                &:hover {
                  background-color:$orangeNeon;
                }
              }
            }
          }
          .find-mattress-get-started {
            position:relative;
            float:left;
            margin:17px 0 0 120px;
            font-size:1.6em;
            background-color:$grayDarkest;
            width:160px;
            text-transform:uppercase;
            font-weight:bold;
            padding-left:40px;
            line-height:56px;
            height:56px;
            z-index:1;
            cursor:pointer;
            &:hover {
              color:$blueBaby;
            }
            .right-arrow {
              position:absolute;
              top: 21px;
              left: 172px;
              @include spriteRightArrow;
            }
          }
        }
      }
      .find-mattress-right {
        width:335px;
        height:256px;
        float:right;
        padding-right:10px;
        .primary-section-divider {
          margin:0;
        }
        .find-mattress-promo-bar {
          position:relative;
          display:block;
          background-color: $orangeNeon;
          color: $blueDarkest;
          font-size: 1.5em;
          font-weight:bold;
          font-style:italic;
          height:60px;
          box-sizing:border-box;
          text-align:center;
          padding-top:25px;
          .image-blue-tag {
            @include spriteBlueTag;
            position:absolute;
            top:-10px;
            left:50%;
            margin-left: -15px;
          }
        }
        .find-mattress-promo-details {
          background-color: $blueDarkest;
          height:211px;
          -webkit-border-bottom-right-radius: 10px;
          -webkit-border-bottom-left-radius: 10px;
          -moz-border-radius-bottomright: 10px;
          -moz-border-radius-bottomleft: 10px;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
          .top {
            color: $white;
            padding: 25px 20px 0px 30px;
            font-size:1.7em;
            text-transform:uppercase;
            font-weight:bold;
          }
          .middle {
            color: $orangeNeon;
            font-size:3.4em;
            text-transform:uppercase;
            font-weight:bold;
            padding: 15px 20px 0 30px;
            line-height: 0.9em;
          }
          .bottom {
            color: $white;
            font-size:1.3em;
            padding: 15px 20px 0 30px;
            font-weight:bold;
          }
        }
      }
    }
  }
  .deals {
  	>div{
    height:197px;
    }
    .deals-title {
      color: $orangeNeon;
      font-size:3.6em;
      font-weight:bold;
      text-align:center;
      padding-top:78px;
      margin: 0;
    }
    .deals-caption {
      color: $grayDarkest;
      font-size:1.2em;
      font-weight:bold;
      padding-top:10px;
      text-align:center;
      text-transform:uppercase;
    }
  }
  .promo-row-2 {
  	overflow: auto;
    .promo-left > div { 
      float:left;
      width:546px;
      height:518px;
      overflow:hidden;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      .promo-bar {
        position:relative;
        display:block;
        background-color: $orangeNeon;
        color: $blueDarkest;
        font-size: 1.5em;
        font-weight:bold;
        font-style:italic;
        height:60px;
        box-sizing:border-box;
        text-align:center;
        padding-top:25px;
        .image-blue-tag {
          @include spriteBlueTag;
          position:absolute;
          top:-10px;
          left:50%;
          margin-left: -15px;
        }
      }
      .promo-details {
        height:191px;
        background-color: $blueDarkest;
        padding-left:35px;
        .top {
          font-size:1.5em;
          font-weight:bold;
          color:$white;
          text-transform:uppercase;
          padding-top:25px;
        }
        .middle {
          font-size:5.5em;
          font-weight:bold;
          color:$orangeNeon;
          text-transform:uppercase;
          padding-top:0px;
        }
        .bottom {
          font-size:1.3em;
          font-weight:bold;
          color: $white;
          padding-top:10px;
        }
      }
    }
    .promo-right-top > div {
      display:inline-block;
      width:443px;
      height:250px;
      background-color:$blueDark; 
      margin-left:10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      .ad-image {
        float:left;
      }
      .promo-details {
        width:265px;
        float:left;
        box-sizing:border-box;
        padding: 25px 25px 0 30px;
        .top {
          color: $white;
          font-size:1.5em;
          text-transform:uppercase;
          font-weight:bold;
        }
        .middle {
          color:$orangeNeon;
          font-size:3.6em;
          font-weight:bold;
          padding-top:10px;
          text-transform:uppercase;
        }
        .bottom {
          color: $white;
          font-size: 1.2em;
          font-weight:bold;
          padding-top:13px;
        }
      }
    }
    .promo-right-bottom > div {
      display:inline-block;
      width:443px;
      height:258px;
      margin:7px 0 0 10px;
      background-color: $blueDark; 
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      .promo-details {
        .top {
          color: $orangeNeon;
          font-size:3.5em;
          font-weight:bold;
          padding: 20px 30px;
          line-height: 1.1em;
          text-transform: uppercase
        }
        .bottom {
          color: $white;
          font-size:1.3em;
          font-weight:bold;
          padding: 0 30px 0 30px;
        }
      }
    }
  }
  .promo-row {
    margin-top:30px;
    background-color: $blueMid;
    .storefront-promo {
      position: relative;
      height:100px;
      .image-large-green-tag {
        position:absolute;
        @include spriteBigGreenTag;
        top: -10px;
        left: 0;
      }
      .promo-title {
        color:$orangeNeon;
        padding: 22px 0px 0px 145px;
        font-size: 2em;
        font-weight: bold;
        font-style: italic;
      }
      .promo-text {
        color:$white;
        padding: 5px 0 10px 145px;
        font-size: 1.2em;
        a {
          font-weight:bold;
          color:$white;
          padding-left:5px;
          &:hover {
            color: $orangeNeon;
          }
        }
      }
    }
  }
  .occasion-header {
    .occasion-title {
      font-size:3.6em;
      font-weight:bold;
      color: $blueMidPlus;
      text-align:center;
      margin:50px 0 0 0;
    }
    .occasion-caption {
      font-size:1.2em;
      font-weight:bold;
      text-align:center;
      text-transform: uppercase;
      color: $grayDarkest;
      margin-top:5px;
    }
  }
  .occasion {
    margin-top:45px;
    overflow:hidden;
    .column {
      width:25%;
      display:inline-block;
      float:left;
    }
    .ad-image {
      text-align:center;
    }
    .promo-details {
      margin-top:20px;
      .top {
        font-size:1.2em;
        font-weight:bold;
        text-transform: uppercase;
        color: $blueMidPlus;
        text-align:center;
        margin: 0;
      }
      .bottom {
        font-size: 1.2em;
        font-weight:bold;
        box-sizing:border-box;
        padding: 10px 25px;
        line-height:1.5em;
      }
    }
  }
  .learn {
    margin: 65px 0 50px 0;
    .learn-more {
      z-index: 0;
      position: relative;
      text-align:center;
      font-size: 3.4em;
      font-weight:bold;
      color: $black;
      h3{
        font-size: 1em;
        font-weight: bold;
        margin: 0;
      }
      .cap {
        position: absolute;
        @include spriteCap;
        left: 730px;
        top: -53px;
        z-index: -1;
      }
    }
  }
  .bottom-row {
    background-color: $white;
    margin-top:31px;
    overflow:hidden;
    .wrapper {
      background-color: $bodyBackground;
      overflow:hidden;
      .have-questions {
        display:inline-block;
        float:left;
        box-sizing:border-box;
        background-color: $blueMidPlus;
        margin-left:10px;
        padding:45px 50px;
        width:516px;
        height:432px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        .title {
          font-size:2em;
          color: $white;
          h4 {
            font-size: 1em;
            font-weight: 400;
            margin: 0;
          }
        }
        .comment {
          font-size: 1.3em;
          line-height:1.6em;
          padding-top:20px;
          font-weight: 400;
        }
        .question-group {
          float:left;
          display:inline-block;
          width:29%;
          margin:40px 25px 0 0;
          &.last {
            margin:40px 0 0 0;
          }
          .header {
            text-transform: uppercase;
            font-size:2em;
            font-weight:bold;
            color: $white;
            h5 {
              margin: 0;
              font-weight: bold;
              font-size:1em;
              display: inline-block;
            }
            .icons {
              display: inline-block;
              width: 38px;
              .iconphone {
                @include spriteWhitePhone;
              }
              .iconchat {
                @include spriteWhiteChat;
              }
              .iconmouse {
                @include spriteWhiteMouse;
              }
            }
            a {
              color: $white;
            }
          }
          .content {
            padding-top: 10px;
            font-size:1.1em;
            line-height:1.9em;
            color: $black;
            font-weight: 400;
          }
          .phone {
            @include spriteWhitePhone;
            margin-right:10px;
          }
          .mouse {
            @include spriteWhiteMouse;
            margin-right:10px;
          }
          .chat {
            @include spriteWhiteChat;
            margin-right:10px;
          }
        }
      }
      .other-content {
        float:left;
        display:inline-block;
        height:432px;
        width:466px;
        background-color:$white;
        margin-left:10px;
        padding: 50px 0 45px 50px;
        box-sizing:border-box;
        -webkit-border-top-left-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-bottomleft: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        .left {
          display:inline-block;
          float:left;
          width:195px;
        }
        .right {
          display:inline-block;
          float:right;
          width:195px;
        }
        .title {
          margin-top:25px;
          color:$black;
          font-size:1.5em;
          font-weight:bold;
          text-align:center;
          text-transform: uppercase;
          h4 {
            margin: 0;
            font-weight: bold;
            font-size: 1em;
          }
        }
        .content {
          color: $black;
          font-size:1.5em;
          line-height:1.4em;
          margin-top:15px;
        }
      }
    }
  }
  .mattress-finder-page {
    background-color: $blueGray;
    overflow:hidden;
    margin-top:50px;
    .wrapper {
      background-color: $bodyBackground;
      overflow:hidden;
      padding:0 10px;
      .step-row {
        height:112px;
        .step-header {
          display:inline-block;
          float:left;
          height:112px;
          width:25%;
          background-color:white;
          font-size:1.3em;
          color: $blueBaby;
          box-sizing:border-box;
          text-align:center;
          -webkit-border-top-left-radius: 10px;
          -webkit-border-bottom-left-radius: 10px;
          -moz-border-radius-topleft: 10px;
          -moz-border-radius-bottomleft: 10px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          box-shadow: 0 0 6px 0 $gray;
          .center-frame {
            display:inline-block;
            text-align:center;
            padding-top:35px;
            .image-mattress-finder-medium {
              display:inline-block;
              float:left;
              @include spriteFinder;
            }
            .title {
              display:inline-block;
              float:left;
              font-weight:bold;
              font-size:1.3em;
              padding:6px 0 0 6px;
            }
          }
        }
        ul {
          width:75%;display:inline-block;
          float:left;
          padding:0;
          margin:0;
          box-shadow: 0 0 6px 0 $gray;
          .step-column {
            display:inline-block;
            float:left;
            width:33.3%;
            height:112px;
            box-sizing:border-box;
            padding-top:36px;
            cursor:pointer;
            background-color:$blueGrayDark;
            &:hover {
              background-color: $blueMattress;
            }
            &.selected {
              .step-block {
                .step {
                  background-color: $orangeNeon;
                }
                .title {
                  color: $orangeNeon;
                }
              }
            }
            .step-block {
              text-align:center;
              .step {
                position:relative;
                display:inline-block;
                color:$blueGrayDark;
                background-color:$blueGray;
                font-size:1.2em;
                font-weight:bold;
                width:36px;
                height:36px;
                line-height:36px;
                border-radius:18px;
                -moz-border-radius: 18px;
                -webkit-border-radius: 18px;
                text-align:center;
                .status {
                  display:none;
                  &.completed {
                    display:block;
                  }
                  position:absolute;
                  background-color:$orangeNeon;
                  width:14px;
                  height:14px;
                  border-radius:7px;
                  top:-8px;
                  left:10px;
                  border: 1px $blueGrayDark solid;
                  .check-small {
                    position:absolute;
                    top:3px;
                    left:2px;
                    @include spriteCheckSmall;
                  }  
                } 
              }
              .title {
                color:$blueGray;
                padding-left:10px;
                font-size:1.8em;
                font-weight:bold;
                height:36px;
                box-sizing:border-box;
              }
            }
            &.last {
              -webkit-border-top-right-radius: 10px;
              -webkit-border-bottom-right-radius: 10px;
              -moz-border-radius-topright: 10px;
              -moz-border-radius-bottomright: 10px;
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;              
            }
          }          
        }
      }
      .questions-completed {
        margin:65px 0;
        .message {
          margin:auto;
          font-size: 2em;
          text-align:center;
          width:450px;
        }
        .find-my-mattress {
          margin:35px auto;
          text-align:center;
          .title {
            font-size: 1.6em;
            font-weight:bold;
            text-transform:uppercase;
            background-color:$grayDarkest;
            color: white;
            padding: 15px 20px;
            display:inline-block;
            opacity: .2;
            cursor: pointer;
            &.visible {
              opacity: 1;
            }
          }
        }
      }
      .mattress-selection-box {
        display:none;
        &.visible {
          display:block;
        }
        &.size {
          height:658px;
          background-color:$blueBaby;
        }
        &.position {
          height:612px;
          background-color:$blueBabyDarker;
        }
        &.comfort {
          height:688px;
          background-color:$blueBabyDarkest;
        }
        margin-top:10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;    
        padding: 0 10px;
        .box-header {
          .head {
            padding-top:60px;
            .step-number {
              text-align:center;
              color:$blueBaby;
              line-height:70px;
              margin:0 auto;
              height:70px;
              font-size: 2em;
              font-weight:bold;
              width:70px;
              background-color:$white;
              border-radius:35px;
              -webkit-border-radius:35px;
              -moz-border-radius:35px;
            }
            .step-name {
              text-align:center;
              font-size:4.5em;
              font-style:italic;
              font-weight:bold;
              color: $white;
              padding-top:20px;
            }
            .step-question {
              text-align:center;
              color:$blueGrayDark;
              font-size:2em;
            }
          }
          .caption {
            text-align:center;
            font-size:1.8em;
            font-weight:bold;
            text-transform:uppercase;
            padding-top:35px;
          }
          .comment {
            text-align:center;
            &.left {
              text-align:left;
            }
            font-size:1.3em;
            padding:15px;
          }
          .choice {
            // display:inline-block;
            // float:left;
            margin-top:80px;
            // position:relative;
            color:$white;
            cursor:pointer;
            &:hover {
              &.columns-5, &.columns-4 {
                .circle {
                  border:10px $blueMid solid;
                }
              }
              .caption {
                color: $blueMid;
              }
            }
            &.columns-4 {
              width:25%;
              .circle {
                height:182px;
                width:182px;
                border-radius: 91px;
              }
            }
            &.columns-5 {
              width:20%;
              .circle {
                height:180px;
                width:180px;
                border-radius: 90px;
                border:10px $white solid;
              }
            }
            .circle {
              // position: relative;
              margin: 0 auto;
              // background-color:$grayLighter;
              // box-sizing:border-box;
              &.selected {
                border:10px $blueGrayDark solid;
                background-color: $white;
                .small-circle {
                  position: absolute;
                  top: 144px;
                  left: 57px;
                  background-color:$orangeNeon;
                  height: 40px;
                  width: 40px;
                  border-radius: 20px;
                  .check-medium {
                  	@include spriteCheckMedium;
                  	position:absolute;
                  	top:10px;
                  	left:10px;
                  }
                }
              }
            }
            .size-0-pos {
              top: -48px;
              left: 43px;
              position:absolute;
              .size-0 {
                @include spriteBed0;
              }
            }
            .size-1-pos {
              top: -48px;
              left: 55px;
              position:absolute;
              .size-1 {
                @include spriteBed1;
              }
            }
            .size-2-pos {
              top: -25px;
              left: 65px;
              position:absolute;
              .size-2 {
                @include spriteBed2;
              }
            }
            .size-3-pos {
              top: -25px;
              left: 75px;
              position:absolute;
              .size-3 {
                @include spriteBed3;
              }
            }
            .position-0-pos {
              top: -13px;
              left: 56px;
              position:absolute;
              .position-0 {
                @include spritePosition0;
              }
            }
            .position-1-pos {
              top: -11px;
              left: 55px;
              position:absolute;
              .position-1 {
                @include spritePosition1;
              }
            }
            .position-2-pos {
              top: -12px;
              left: 55px;
              position:absolute;
              .position-2 {
                @include spritePosition2;
              }
            }
            .position-3-pos {
              top: -13px;
              left: 56px;
              position:absolute;
              .position-3 {
                @include spritePosition3;
              }
            }
            // .comfort-0-pos {
            //   top: 65px;
            //   left: 19px;
            //   position:absolute;
            //   .comfort-0 {
            //     @include spriteComfort0;
            //   }
            // }
            // .comfort-1-pos {
            //   top: 65px;
            //   left: 19px;
            //   position:absolute;
            //   .comfort-1 {
            //     @include spriteComfort1;
            //   }
            // }
            // .comfort-2-pos {
            //   top: 65px;
            //   left: 19px;
            //   position:absolute;
            //   .comfort-2 {
            //     @include spriteComfort2;
            //   }
            // }
            // .comfort-3-pos {
            //   top: 65px;
            //   left: 19px;
            //   position:absolute;
            //   .comfort-3 {
            //     @include spriteComfort3;
            //   }
            // }
            // .comfort-4-pos {
            //   top: 65px;
            //   left: 19px;
            //   position:absolute;
            //   .comfort-4 {
            //     @include spriteComfort4;
            //   }
            // }
          }
        }
      }
    }
  }
}

// CSS for Hompage V2 //

.pt_storefront {
  .promo-row-1.alternate {
    background-color: $blueBaby;
    .wrapper {
      background-color: $bodyBackground;
      margin-top:9px;
      color: $white;
      .find-mattress-left {
        height:100%;
        width:335px;
        float:left;
        background-color: $blueBaby;
        -webkit-border-top-right-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;
        -moz-border-radius-topright: 10px;
        -moz-border-radius-bottomright: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;      
        border-left: solid #78d7ff; /* get rid of left border in ie */  
        .find-mattress-content {
          width:80%;
          height:275px;
          
          .find-mattress-title {
            font-size:2.7em;
            font-weight:bold;
            font-style:italic;
            padding-top:30px;
            line-height:1.3em;
          }
          .find-mattress-text {
            font-size:1.52em;
            color:$black;
            line-height:1.5em;
            margin-top:15px;
          }
        }
        .find-mattress-select {
          position:relative;
          .find-mattress-step {
            color: $blueDarker;
            font-weight:bold;
            font-size:1.8em;
          }
          .image-bed {
            position:absolute;
            top:125px;
            left:0px;
            &.bed0 {
              @include spriteBed0alt;
            }
            &.bed1 {
              margin-left:5px;
              @include spriteBed1alt;
            }
            &.bed2 {
              margin-left:5px;
              @include spriteBed2alt;
            }
            &.bed3 {
              margin-left:5px;
              @include spriteBed3alt;
            }
            z-index: 2;
          }
          .find-mattress-dropdown {
            position: relative;
            float:left;
            z-index: 3;
            cursor:pointer;
            .mattress-size {
              margin-top:18px;
              padding-left:20px;
              height:55px;
              line-height:55px;
              font-size:1.4em;
              font-weight:bold;
              font-style:italic;
              width:266px;
              background-color:white;
              color:$blue;
              box-sizing:border-box;
            }
            .down-arrow {
              position: absolute;
              top:17px;
              left:210px;
              @include spriteDownArrow;
              z-index:3;
            }
            .slider {
              width:266px;
              padding:0;
              margin:0;
              display:none;
              li {
                background-color:$white;
                  color: $blue;
                  font-size: 1.4em;
                  border:none;
                  line-height: 55px;
                  height:55px;
                  padding-left: 20px;
                  font-style:italic;
                  font-weight:bold;
                &:hover {
                  background-color:$orangeNeon;
                }
              }
            }
          }
          .find-mattress-get-started {
            position:absolute;
            float:left;
            margin:120px 0 0 45px;
            font-size:1.6em;
            background-color:$grayDarkest;
            width:180px;
            text-transform:uppercase;
            font-weight:bold;
            padding-left:40px;
            line-height:56px;
            height:56px;
            z-index:1;
            cursor:pointer;
            &:hover {
              color:$blueBaby;
            }
            .right-arrow {
              position:absolute;
              top: 21px;
              left: 172px;
              @include spriteRightArrow;
            }
          }
        }
      }
      .find-mattress-right {
        width:645px;
        height:100%;
        float:right;
        padding-right:10px;
        .primary-section-divider {
          margin:0;
        }
        .find-mattress-promo-image {
          display:block;
          width:645px;
          height:100%;
          a {
            background-repeat: no-repeat;
            display: block;
            height: 100%;
            img {
              height: 100%;
            }
          }
        }
        .find-mattress-promo-bar {
          position:relative;
          display:block;
          background-color: $orangeNeon;
          color: $blueDarkest;
          font-size: 1.5em;
          font-weight:bold;
          font-style:italic;
          height:60px;
          box-sizing:border-box;
          text-align:center;
          padding-top:25px;
          .image-blue-tag {
            @include spriteBlueTag;
            position:absolute;
            top:-10px;
            left:50%;
            margin-left: -15px;
          }
        }
        .find-mattress-promo-details {
          background-color: $blueDarkest;
          height:266px;
          -webkit-border-bottom-right-radius: 10px;
          -webkit-border-bottom-left-radius: 10px;
          -moz-border-radius-bottomright: 10px;
          -moz-border-radius-bottomleft: 10px;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
          z-index: 100;
          float: right;
          position: relative;
          //top: 50%;
          transform: translateY(-140%);
          width: 335px;
          .top {
            color: $white;
            padding: 25px 20px 0px 30px;
            font-size:1.7em;
            text-transform:uppercase;
            font-weight:bold;
          }
          .middle {
            color: $orangeNeon;
            font-size:3.4em;
            text-transform:uppercase;
            font-weight:bold;
            padding: 15px 20px 0 30px;
            line-height: 0.9em;
          }
          .bottom {
            color: $white;
            font-size:1.3em;
            padding: 15px 20px 0 30px;
            font-weight:bold;
          }
        }
      }
    }
  }
}