@import "../bootstrap/variables";
@import "../dw/fonts";
@import "../bootstrap/mixins";

@media screen and (max-width:480px) {

	html, body, #container {
		min-width: 100%;
	}
	
	.wrapper {
		width: 100%;
	}
	
	.ui-dialog {
		position: fixed;
		width: 300px !important;
		height: initial !important;
		top: 40px !important;
		bottom: 40px;
		.ui-dialog-content {
			position: absolute;
			top: 0px;
			bottom: 0px;
			max-height: initial !important;
			height: initial !important;
			padding: 20px;
			h1 {
				line-height: 25px !important;
			}
			h2 {
				font-size: 1.2em;
			}
			#email-subscription-content {
				margin-top: 0px;
			}
		}
	}
	
	.search-promo {
		display: none;	
	}
	
	.mini-cart-content {
		position: absolute;
		min-width: initial; 
		width: 294px;
		position: absolute;
		top: 45px;
	}

	.breadcrumb { 
		width: 300px;
		margin: 33px auto 28px;
		.text {
			font-size: 1em;
			text-align: center;
			span {
				text-align: center;
				font-size: 1.2em;
			}
			a {
				font-size: 1.4em;
			}
		}
		a {
			font-size: 1.2em;
		}
	}
	
	.pt_storefront {
		.promo-row-1.alternate .wrapper .find-mattress-right .find-mattress-promo-image {
			width: 100% !important;
			height: initial !important; 
			img {
				width: 100% !important;
				height: initial !important;
			}
		}
	}
	
	#header {
		.header-promo {
			display: none;
		}
		.header-customer-info {
			background-color: #DAEFFF;
			position: initial;
			height: initial;
			.header-left {
				float: initial;
				width: 100%;
				padding-top: 0;
				.content-asset {
					padding: 20px 0 10px;
					.header-topic {
						display: block;
						float: initial;
						margin: 0;
						padding: 0;
						text-align: center;
						.image-phone {
							margin-bottom: 18px;
						}
						.image-mouse {
							margin-bottom: 16px;
						}
						span {
							padding: 0;
							a, span {
								font-size: 1.2em;
								display: inline-block;
								line-height: 46px;
							}
						}
						.description {
							display: none;
						}
					}
				}
				#live-chat, #click-to-save {
					display: none;
				}
			}
			.header-right {
				float: left;
				width: 298px;
				top: 128px;
				left: 50%;
				margin-left: -150px;
				padding: 0px;
				.header-login {
					display: none;
				}
				#CustomerZone {
					width: 100%;
					position: absolute;
					bottom: -60px;
					left: 0px;
					right: 0px;
					text-align: center;
					font-size: 1.2em;
					line-height: 60px;
					padding: 0px;
					a {
						line-height: 46px;
					}
				}
				#mini-cart {
					position: absolute;
					left: 0px;
					right: 0px;
					.mini-cart-total {
						position: absolute;
						top: 30px;
						right: 10px;
						.mini-cart-empty, .mini-cart-qty {
							position: absolute;
						}
					}
				}
				#simplesearch {
					width: 250px;
					position: absolute;
					bottom: -90px;
					left: 50%;
					margin: 0 0 0 -128px;
					padding-top: 0px;
					.underline-bar {
						width: 210px;
					}
					input[type="text"] {
						padding-left: 4px;
					}
				}
				.header-search input[type="text"] {
					height: 32px;
				}
			}
		}
		.header-nav {
			height: initial;
			margin-bottom: 91px;
			padding-bottom: 0;
			.wrapper {
				max-width: initial;
				height: initial;
				.header-nav-left, .header-nav-right {
					display: block;
					float: initial;
					width: 100%;
					height: initial;
				}
				.header-nav-left {
					.mt-logo {
						width: 300px;
						margin: auto;
						padding: 30px 0;
						span {
							display: none;
						}
						img {
							display: inline-block;
						}
					}
				}
				.header-nav-right {
					padding: 0px;
				}
			}
		}
	}
	#main {
		> .primary-section-divider {
			display: none;
		}
		.promo-row {
			display: none;
		}
		.promo-row-1.alternate .wrapper {
			padding-top: 20px;
			margin-top: 0px;
			.find-mattress-left {
				float: initial;
				width: 300px;
				margin: 20px auto;
				border: 0px;
				a, a img {
					width: 100%;
				}
			}
			.find-mattress-right {
				float: initial;
				width: 300px;
				margin: 20px auto;
				padding-right: 0px;
				.find-mattress-promo-image {
					width: initial;
					height: initial;
				}
			}
		}
		.deals {
			padding: 10px 0 20px;
			height: initial;
			.deals-title {
				padding-top: 0px;
			}
		}
		.promo-row-2 {
			.promo-left {
				float: initial;
				width: 300px;
				height: initial;
				margin: 20px auto;
			}
			.promo-right-top {
				width: 300px;
				height: initial;
				display: block;
				margin-left: 0px;
				margin: 20px auto;
			}
			.promo-right-bottom {
				width: 300px;
				height: initial;
				display: block;
				margin: 20px auto;
			}
		}
		.occasion-header, .occasion, .learn {
			display: none;
		}
	}	
	.pt_product-search-result {
		.search-results-block {
			#primary {
				float: initial;
				width: 300px;
				margin: auto;
				padding: 0px;
				.search-result-choices {
					height: initial;
					.search-sort-by {
						float: initial;
						width: 100%;
						.content .sort-by {
							float: initial;
							width: 100%;
							.dk_container a {
								width: 100%;
							}
						}
					}
					.search-show {
						margin-top: 20px;
						float: initial;
						width: 100%;
						.content {
							margin-left: 20px;
							.radio input[type="radio"] {
								position: absolute;
								left: 30px;
							}
						}
					}
				}
				.search-result-content {
					ul.search-result-items {
						li.grid-tile, li.grid-tile.new-row {
							width: 100%;
							height: initial;
							margin: 0px;
							padding: 20px 0 0 0;
							float: initial;
							.product-tile {
								.product-image {
									text-align: center;
									height: initial;
								}
								.product-name {
									a.name-link {
										font-size: 1.4em;
									}
								}
								.product-pricing {
									font-size: 1.6em;
								}
								.rating-block {
									position: initial;
									margin: 20px 0;
								}
							}
						}
						li.grid-tile:last-child {
							border-bottom: none;
						}
					}
					.pagination {
						ul li {
							margin: 0;
							padding: 0;
							line-height: 46px;
							width: 46px;
							height: 46px;
							a {
								width: 46px;
								height: 46px;
								display: block;	
							}
						}
						ul li.last-page {
							margin: 0px;
						}
					}
				}
				.no-results {
					font-size: 1.3em;
					margin: 60px 10px;
					padding: 0;
				}
			}
			#secondary {
				width: 300px;
				float: initial;
				margin: auto;
				.refinement {
					margin: 0 0 26px;
					.toggle h4 {
						width: 300px;
						text-align: center;
						font-size: 2em;
						line-height: 50px;
					}
					ul li a {
						width: 276px;
						line-height: 46px;
						border: 1px solid #636363;
						padding: 0 0 0 20px;
						font-size: 1.2em;
					}
					ul li.selected a:before, ul li a.active:before {
						float: initial;
						position: relative;
						top: 3px;
					}
					.price-range {
						margin-left: 50px;
					}
				}
			}
			h1#results-content {
				padding: 0px;
				text-align: center;
				background: none; 
			}
		}
	}
	.pt_product-details {
		.col-1, .primary-image-amplience {
			width: 100%;
			position: initial;
			float: initial;
			ul {
				width: 300px;
				margin: auto;
				li {
					position: initial;
				}
			}
			.desktop {
				display: none;
			}
			.mobile {
				display: block;
			}
		}
		.col-2 {
			width: 100%;
			float: initial;
			padding: 0 40px;
			h1 {
				margin: 20px 0 0;
				text-align: center;
			}
			.product-review-links {
				text-align: center;
				.BVRRPrimarySummary {
					margin-top: 0;
				}
				.BVRRRatingSummaryNoReviewsWriteImageLink {
					padding-right: 0px;
				}
				.BVRRRatingSummaryLinkWriteFirst a {
					margin: 0;
				}
			}
			#product-content {
				.product-price {
					display: block;
					text-align: center;
					.product-standard-price, .price-range {
						line-height: 2em;
					}
				}
				.special-financing {
					display: block;
					text-align: center;
					top: 0px;
				}
				.product-actions {
					margin: 0px;
				}
				.product-variations li.attribute {
					float: initial;
					padding-right: 0px;
					margin-top: 10px;
					.dk_container#dk_container_va-size > a, .dk_container#dk_container_va-foundation > a {
						width: 100%;
					}
				}
				.inventory {
					float: initial;
					margin-top: 10px;
					input {
						width: 100%;
					}
				}
				.atc-wrapper {
					margin: 30px 0;
					text-align:center;
					button.add-to-cart {
						width: 100%;
						display: block;
						margin: 0 auto 10px;
					}
				}
			}
		}
		.details-info-top {
			margin: 0px;
			.wrapper {
				width: 100%;
				.comfort-rating-info {
					width: 100%;
					margin: auto;
					border-radius: initial;
					.content-asset {
						width: 300px;
						margin: auto;
						text-align: center;
						.choice {
							float: initial;
							.circle {
								margin: 0px;
							}
						}
						h3 {
							font-size: 1.6em;
							margin-top: 0px;
							border-radius: initial;
						}
						 p {
						 	font-size: 1.4em;
							text-align: center;
						 	padding: 0px;
						 }
					}
				}
				.sidebar {
					width: 100%;
					margin: 0px;
					float: initial;
					.have-questions, .customer-agents {
						text-align: center;
					}
					.option-row {
						margin-left: 25px;
					}
					.recommendations {
						h3 {
							text-align: center;
							border-radius: 0;
						}
						.product-image {
							text-align: center;
						}
					}
				}
			}
		}
		.details-info-bottom {
			width: 100%;
			font-size: 1.2em;
			> div {
				width: 300px;
				margin: auto;
				h3 {
					margin: 0 0 20px;
				}
				table {
					width: 300px !important;
				}
			}
		}
		.details-info-reviews {
			width: 300px;
			margin: auto;
		}
		.pdp-main {
			.pdp-promotion {
				top: auto;
				width: 98vw;
				margin: 0 1vw;
				> p, > div {
					padding-left: 10px;
					padding-right: 10px;
				}
			}
		}
	}
	.pt_product-search-noresult {
		#primary {
			float: initial;
			width: 300px;
			margin: 0 auto 30px;
			font-size: 1.2em;
			line-height: 2em;
			h1 {
				text-align: center;
			}
			input[type="text"], input[type="password"] {
				width: 250px;
			}
			.button, a.button, button, input[type="button"] {
				height: 37px;
			}
		}
		#secondary {
			display: none;
		}
	}
	.pt_content-search-result {
		.page-content {
			#primary {
				float: initial;
				width: 300px;
				margin: 0 auto 30px;
				h1 {
					text-align: center;
				}
			}
		}
		.brand-lists {
			width: 300px;
			margin: 20px auto;
		}
	}
	.pt_cart {
		.primary-section-divider {
			width: 300px;
			margin: auto;
		}
		h1 {
			text-align: center;
			margin: 20px 0;
		}
		.cart-box {
			padding: 30px;
			#cart-table {
				.cart-row {
					.item-details {
						padding: 0;
						> div {
							clear: both;
						}
						.product-list-item {
							width: 100%;
							.name {
								text-align: center;
								font-size: 1.4em;
							}
							.product-sku {
								text-align: center;
								font-size: 1.2em;
								padding-top: 5px;
							}
						}
						.label {
							font-weight: 800;
							float: left;
							font-size: 1.2em;
							line-height: 2em;
						}
						.content, .value {
							float: right;
							font-size: 1.2em;
						}
					}
				}
			}
			.cart-row:first-child {
				border-top: none !important;
			}
		}
		.cart-footer {
			.haulaway, .continue-to-checkout {
				display: block;
				float: initial;
				width: 100%;
			}
			.haulaway {
				display: block;
				.truck {
					display: block;
					padding: 40px 0;
					float: initial;
					text-align: center;
					font-size: initial;
					width: 100%;
					.content {
						width: 300px;
						margin: auto;
					}	
				}
				.items-to-remove {
					display: block;
					float: initial;
					width: 100%;
					padding: 0;
					.content-asset {
						width: 300px;
						margin: auto;
					}
				}
				.header {
					text-align: center;
				}
				.pickup {
					text-align: center;
					padding-bottom: 40px;
				}
			}
			.continue-to-checkout {
				margin: 20px 0;
				.cart-actions {
					padding: 0;
					text-align: center;
				}
			}
		}
	}
	#footer { 
		margin-top: 0px;
		.wrapper {
			.footer-left {
				display: none;
			}
			.footer-right {
				width: 300px;
				margin: auto;
				float: initial;
				.email-signup {
					.newsletter {
						text-align: center;
					}
					.email-text  {
						text-align: center;
						font-size: 1.2em;
					}
					.email-signup-field {
						margin: 20px auto;
						float: initial;
					}
				}
				.footer-social {
					float: initial;
					margin: auto;
					.share-bar ul {
						text-align: center;
						padding: 0px;
						li {
							float: initial;
						}
					}
				}
			}
		}
		.full-site-link {
			font-size: 1.2em;
			display: block;
			text-align: center;
		}
	}
	#navigation {
		height: initial;
		margin-bottom: 40px;
		ul.level-1 {
			width: 300px;
			margin: auto;
			li.cat-link {
				float: initial;
				position: relative;
				line-height: 24px;
				margin: 4px 0;
				border: 1px solid #636363;
				a {
					text-align: left;
					padding-left: 20px;
					position: relative;
					background-color: #303030;
				}
				> a:after {
					content: '\25B8';
					color: #636363;
					font-size: 27px;
					position: absolute;
					right: 12px;
				}
				> .level-2 {
					width: 300px;
					height: initial;
					top: 42px;
					left: -1px;
					padding: 0px;
					border: 1px solid #636363;
					border-top: none;
					.level-2 {
						height: initial;
						padding: 0px;
						width: 298px;
						li {
							float: initial;
							a {
								width: 258px;
								padding: 8px 20px;
							}
						}
					}
					.custom {
						display: none;
					}
				}
			}
			li.cat-link.open {
				box-shadow: 0 2px 2px #8F979D;
				> a:after {
					transform: rotate(90deg);
					-webkit-transform: rotate(90deg);
				}
			}
			li#mattress-finder-block {
				display: none;
			}
		}
	}
	
  #bonus-product-dialog {
    position: relative;
   	h3.header-red-text{
   	  margin-left:10px;
   	}
    .bonus-product-item {
      padding-top:20px;
      padding-bottom:20px;
      width:100%;
      height: auto;
      .product-col-1 {
      	width: 33% !important;
      	clear:none !important;
      	float:left !important;
      }
   	  .product-col-2 {
   	  	width: 58% !important;
   	  	clear:none !important;
   	  	float:right !important;
   	  	text-align: left;
   	  	.product-number {
   	  	  text-align:left;
   	  	}
   	  	.product-add-to-cart .inventory {
   	  	  input{
   	  	    width:30px;
   	  	  }
   	  	  label{
   	  	    float:left;
   	  	  }
   	  	}
   	    .product-variations {
   	      .attribute {
   	      display:block;
   	        .dk_toggle{
   	          width: 115px;
   	          text-align:left;
   	        }
   	      }
   	    }
   	    .product-add-to-cart button {
   	    	width:80px;
   	    	padding:10px 10px;
   	    	margin-left: 5%;
   	    }
      }
    }
    .block-number1, .block-number2, .block-number3, .block-number4 {
    	border-top: none;
    	border-left: none;
    	border-right: none;
    	border-bottom: 1px solid $grayeb;
    }
    .bonus-product-list-footer {
      .selected-bonus-item {
        width: 100%;
        padding-bottom: 20px;
      }
      .add-to-cart-bonus {
      	width:96%;
      	margin-bottom: 20px;
      	margin-left:2%;
      	margin-right:2%;
      }
      .selected-bonus-items {
      	margin-left:10px;
      }
    }
    .items-wrapper{
      padding-bottom: 0px;
      border-bottom: none;;
    }
  }
  .bonus-product-dialog {
  	height: 100vh !important;
  	overflow: auto !important;
  	top: 0 !important;
  	.ui-dialog-titlebar{
  		border-bottom:none;
  		padding: 10px 10px 10px 12px;
  		height: auto;
  		.ui-dialog-title{
  		  width:85% !important;
  		  font-size: 1.333em;
  		}
  		.ui-dialog-titlebar-close{
  		  right:30px;
  		  top:0px;
  		}
  	}
  }
  .bonus-options.ui-dialog {
  	top:40px !important;
    .ui-dialog-titlebar{
      padding: 10px 10px 10px 12px;
      height: auto;
      .ui-dialog-title{
        width: 85% !important;
      }
      .ui-dialog-titlebar-close{
      	right: 30px;
      	top:0px;
      	span{
      	  /*top:6px;*/
      	}
      }
  	}
  	.ui-dialog-content {
  	  padding-left:10px;
  	  padding-right:10px;
  	  position:relative;
  	}
  }
}