/* Base Site Variables and Font Families*/
@import "global/global";

//
// Styleguide Styles
//

// Basic Styles
.section-header {
	padding-top: 10px;
	border-top: 1px solid $black;
	margin-top: 35px;
}

.style-section {
	margin-bottom: 50px;
	padding: 0 30px;
}

.style-spec {
	@include info();
	@include font-bold();
}

.desktop-only {
	@include respond(large-down) {
		display: none;
	}
}

.desktop-tablet {
	@include respond(small) {
		display: none;
	}
}

.tablet-only {
	@include respond(desktop) {
		display: none;
	}
	@include respond(small) {
		display: none;
	}
}

.tablet-mobile {
	@include respond(desktop) {
		display: none;
	}
}

.mobile-only {
	@include respond(large-up) {
		display: none;
	}
}

// Colors
.color-grid {
	@extend %clearfix;
	
	@include column-respond((
		0px : 1,
		480px : 2,
		550px : 3,
		620px : 4,
		768px : 6
	));
	
	.color:nth-child(1) .color-block {
		background-color: $thunderbird;
	}
	
	.color:nth-child(2) .color-block {
		background-color: $black;
	}
	
	.color:nth-child(3) .color-block {
		background-color: $jewel;
	}
	
	.color:nth-child(4) .color-block {
		background-color: $alto;
	}
	
	.color:nth-child(5) .color-block {
		background-color: $concrete;
	}
	
	.color:nth-child(6) .color-block {
		background-color: $white;
		outline: 1px solid $light-gray;
		outline-offset: -1px;
	}
	
	.color:nth-child(7) .color-block {
		background-color: $astronaut-blue;
	}
	
	.color:nth-child(8) .color-block {
		background-color: $golden-dream;
	}
	
	//	.feature:nth-child(4n+4) { //every 4th element
}
	
.color {

	.color-block {
		width: 100%; // 145px;
		height: 145px;
		margin-bottom: 5px;
	}
	
	.color-name {
		text-align: center;
		margin-bottom: 10px;
	}
	
	.color-use {
		text-align: center;
		margin-bottom: 10px;
		@include info;
	}
}

// Typographies
.fonts,
.links {
	h1 {
		@include respond(mobile) {
			font-size: 5.9vw;
		}
	}
}

.fonts {
	h3 {
		&:nth-child(1) {
			@include font-regular();
		}
		
		&:nth-child(2) {
			@include font-italic();
		}
		
		&:nth-child(3) {
			@include font-semibold();
		}

		&:nth-child(4) {
			@include font-bold();
		}
	}
}

//Paragraphs
.paragraph-grid {
	@extend %clearfix;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 30px;
	
	@include column-respond((
		600px : 2,
		768px : 3
	));
}

//Lists
.list-grid {
	@extend %clearfix;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 30px;
	
	@include column-respond((
		600px : 2,
		768px : 3
	));
}

// Buttons
.button-grid {
	@extend %clearfix;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 30px;
	
	@include column-respond((
		768px : 2,
		1080px : 3
	));
}

.button-style {
	width: 90%;

	button:not(.button-text), .button {
		margin-bottom: 1em;
		
		//control visibility of default vs hover styles
		&:hover + br + a + br + button + br + .button-description,
		&:hover + br + button + br + .button-description {
			.default-spec {
				display: none;
			}
			
			.hover-spec {
				display: block;
			}
		}
	}
	
	.hover-spec {
		display: none;
	}
}

// Forms
.forms {
	@extend %clearfix;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 30px;
	
	@include column-respond((
		768px : 2,
		1080px : 3
	));
}

.has-tooltip .field-wrapper {
	width: 72%;
	float: left;
}

// Iconography
.icons {
	.logos {
		@extend %clearfix;
		margin: 0 auto 30px;
		background-color: $light-gray; //to give white logos visibility		
		
		.logo-col {
			float: left;
			padding: 20px 40px 10px;
			
			&:nth-child(1) {
				img {
					width: 141px;
					height: 27px;
				}
			}
			
			@include respond(small) {
				float: none;
				
				&:nth-child(1) {
					img {
						width: 170px;
						height: 32px;
					}
				}
			}
		} 
		
	}
	
	.icon-col {
		height: 4em;
		width: 5em;
		float: left;
		margin-bottom: 30px;
		text-align: center;
	}
}

// Heros
.hero-banner {
	.hero {
		height: 10em;
		padding: 2em 0;
		text-indent: 4em;
		background-color: $dark-gray;
		
		h2 {
			color: $white;
		}
	}
}

.hero-typography {
	.hero {
		margin-top: 40px;
	}
}

.grid-list li {
	margin: 0;
}

.example-grid-2 {
	@include column-respond((
		600px : 2,
		768px : 3
	));
}

.example-grid-3 {
	@include column-respond((
		0px : 2,
		480px : 3,
		600px : 4,
		768px : 6,
		1200px : 8
	));
}

.example-grid-4 {
	@include column-respond((
		600px : 3,
		768px : 4
	));
	
	.grid-col:nth-child(2) {
		p {
			width: 200%;
			max-width: none;
		}
	}
	
	.readme {
		color: $venetian-red;
	}
}