/* breadcrumbs */
/* ------------------------------------- */

.breadcrumb {
   /* default font bumped down from 14 to 12, 10pt is 12px so removed font size per chris*/
  line-height:1.5em;
  padding:0;
  li {
    display: inline;
    list-style: none;
  }
  a { 
    background:url("../images/interface/icon-breadcrumb-separator.png") no-repeat scroll right center transparent;
    padding:0 13px 0 0;
    color: $accentColor;
    margin-right: 2px;
  }
  h1{
    display:inline;
    .paging-current-page{
      left:-999em;
      position:absolute;
    }
  }
}

.breadcrumb-refinement-name, .breadcrumb-refinement-value,
a.breadcrumb-relax, .breadcrumb-last { background: transparent !important; }
a.breadcrumb-relax { padding: 0 5px 0 0; }
.breadcrumb-result-text a { 
  background: transparent; 
  padding: 0;
}
