/* compare tools */
/* ------------------------------------- */

.compare-item-remove{
  display:none; 
  }
.active .compare-item-remove{display:inline;}
.compare-item{
  float:left;
  height:55px;
  margin-right:13px;
  overflow:hidden;
  position:relative;
  width:55px;
}
.compare-item-0{background-image:url("../images/interface/icon-compare-placeholder-1.png");}
.compare-item-1{background-image:url("../images/interface/icon-compare-placeholder-2.png");}
.compare-item-2{background-image:url("../images/interface/icon-compare-placeholder-3.png");}
.compare-item-3{background-image:url("../images/interface/icon-compare-placeholder-4.png");}
.compare-item-4{background-image:url("../images/interface/icon-compare-placeholder-5.png");}
.compare-item-5{background-image:url("../images/interface/icon-compare-placeholder-6.png");}
.compareitems{
  background:none repeat scroll 0 0 $grayLighter;
  clear:both;
  margin: 0 0 3.5em;
  overflow:hidden;
  padding:0 1em 1em;
  h2{font-size:0.9em;margin:0.5em 0;text-transform:uppercase;}
}
.compare-button-header {
  clear: both;
  margin: 15px 0;
  width: 193px;
  float: right;
  .back {
    margin:0;
    height: 17px;
  }
}
.compareitemcount{color:#CCCCCC;font-size:3em;left:30%;position:absolute;top:15%;z-index:1;}
.compareproduct{max-width:100%;position:absolute;z-index:2;}
.compareitemremove{position:absolute;right:1px;top:1px;z-index:3;}
.compare-buttons{padding:0.7em 0 0; text-align:right;}
.compare-print{float:right;margin:0 0 10px;}
#compare-table {
  tr.Foundation, tr.Mattress.Type {
    display:none;
  }
  tr.Mattress.Type:last-child {
    display: table-row;
  }
  td{-moz-border-bottom-colors:none;-moz-border-image:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;border-color:-moz-use-text-color #D9D9D9 #D9D9D9;border-width:0 1px 1px;}
  tr.evenattributerow{background:none repeat scroll 0 0 #F3F3F3;}
  td .product-tile{font-size:0.9em;width:100px;margin-bottom:12px;padding-bottom:12px;}
  td .product-tile .product-image{height:100px;}
  td .product-tile .product-image img{height:100px;}
  td .product-tile .product-swatches {float:none;}
  td .product-tile {
  	.product-standard-price {
		&.has-sale-price {
			text-decoration: line-through;
		}
		&.price-range {
			display: block;
			width: 100%;
		}
	}
	.product-sales-price {
		color: #D22329;
	}
  }
  td.product button{font-size:0.9em;}
  #compare-table .section-header{font-size:0.9em;padding:1em;text-transform:none;}
  .selectcategory label{display:block;font-size:0.9em;margin:1em 0;text-transform:none;}
  .selectcategory select{margin:0;width:100px;}
  .comparelists{padding:0;}
  .remove-link{background:url("../images/interface/icon-mini-close-red.gif") no-repeat scroll right top transparent;display:block;padding:0 20px 0 0;text-align:right;}
  .add-to-wishlist,#compare-table .add-to-gift-registry{padding:0.2em 0;text-align:center;}
  .compare-lists label,#compare-table .compare-lists select{float:none;text-align:left;width:100%;}
}
