/* dropkick */
.dk_container {
  font-family:  Arial, sans-serif;
  font-size: 12px;
  font-weight: 200;
  line-height: 14px;
  &:focus {
    outline: 0;
  }
  a {
    cursor: pointer;
    text-decoration: none;
    color: #636363;
  }
}

/* Opens the dropdown and holds the menu label */
.dk_toggle {
  /**
   * Help: Arrow image not appearing
   * Try updating this property to your correct dk_arrows.png path
   */
  border: 1px solid #ccc;
  color: #333;
  height: 20px;
  width: 75px;
  padding: 8px 30px 2px 10px; 

  .arrow{
    &:before {
      @include sprite();
      background-position: -82px -170px;
      width: 17px;
      height: 9px;
      content: '';
      position: absolute;
      right: 5px;
      top: 12px;
      z-index: -1;
    }
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  &:hover {
    border-color: #8c8c8c;
  }
}
  /* Applied when the dropdown is focused */
  .dk_focus .dk_toggle {
    border-color: #40b5e2;
  }

/* Applied whenever the dropdown is open */
.dk_open {

  /**
   * Help: Dropdown menu is covered by something
   * Try setting this value higher
   */
  z-index: 10;
  .dk_toggle {
    background-color: #ececec;
    border-color: #8c8c8c;
    color: #888;
  }
}

/* The outer container of the options */
.dk_options {
  a {
    background-color: $white;
    border-bottom: 1px solid #999;
    padding: 8px 10px;
  }
  li:last-child a {
    border-bottom: none;
  }
  a:hover, .dk_option_current a {
    background-color: #bbb;
    border-bottom-color: #cccccc;
    color: $white;
    text-decoration: none;
  }
  .disabled {
    cursor: default;
    display:none;
    a {
      color: #aaa !important;
    }
    &:hover a {
    cursor: default;
    background-color: $white;
    border-bottom-color: #999;
    text-shadow: none;
    }
  }
}

.dk_options_inner, .dk_touch .dk_options {
  max-height: 250px;
}
/* Set a max-height on the options inner. Set to 107 so that it doesn't cause scroll in edit details dialog on dropdown. '*/
.ui-dialog-content .dk_options_inner, 
.ui-dialog-content .dk_touch .dk_options {
  max-height:107px;
}
/******  End Theme ******/

/***** Critical to the continued enjoyment of working dropdowns ******/

.dk_container {
  display: none;
  position: relative;
  a {
    outline: 0;
  }
}

.dk_toggle {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1;
}

.dk_open {
  position: relative;
  .dk_options {
    display: block;
  }
  .dk_label {
    color: inherit;
  }
}

.dk_options {
  display: none;
  margin-top: -1px;
  position: absolute;
  right: 0;
  width: 100%;
  a, a:link, a:visited {
    display: block;
  }
}
.dk_options_inner {
  border: 1px solid #8c8c8e;
  border-bottom-width: 2px;
  border-bottom-color: #999;
  color: #333;
  left: 2px;
  overflow: auto;
  -webkit-overflow-scrolling:touch;
  position: relative;
  padding: 0;
  margin: 0;
}

.dk_fouc select {
  position: relative;
  top: -99999em;
  visibility: hidden;
}

.quickview .dk_container { 
  .dk_toggle {
    width:70px;
  }
}

.dk_container { 
  .dk_toggle {
    width:100px;
  }
}
