/* form components */
/* ------------------------------------- */

input[type="text"],
input[type="password"],
textarea {
  border: 1px solid $grayLight;
  color: $textColor;
  padding: 7px 0.5em;
  text-indent: 0;
  width: 90%;
  line-height:1;
  font-size:1.1em;
  text-indent: 5px;
  box-sizing:border-box;
  background-color:$grayLighter;
} 

.button, a.button, button, input[type="button"],.button-fancy-small, .button-fancy-medium, .button-fancy-large, .checkout-button{
  @include button-class();
}
button, a.button {
  &.disabled {
    opacity:0.5;
  }
  &.rounded {
    font-family: $nunitoFontFamily;
    background-color: $red;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 1.5em;
    letter-spacing:0;
    &.noarrow:after {
      content:'';
    }
    &:hover {
      color:$black;
    }
    &.small {
      font-size: 1.0em;
      padding: 8px 15px;
    }
    &.black {
      background-color: $black;
      &:hover {
        color:$red;
      }
    }
    &.pull-right {
      float:right;
    }
    &.pull-left {
      float:left;
    }
    &.move-down {
      margin-top:10px;
    }
  }
   &.email-signup-btn {
      background-color: #d2232a;
	  display:inline-block;
	  vertical-align: top;      
  } 
} 
select{
  text-indent:0;
  height:3em;
  border:1px solid #AAAAAA;
  margin-left:2%;
  padding:0.81em 0.3em;
  width:51.6%;
  }
.search-result-options select {height:auto;}

input[type="checkbox"], input[type="radio"] { margin: 1em 2%; }

button[disabled], 
input[disabled],
button.disabled { 
  color: $grayLight !important; 
  opacity: .4 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  cursor: default !important;
  }

.button-fancy-small-plp-compare {text-transform:none; letter-spacing:normal;}
.button-full-width{padding-left:0;padding-right:0;text-align:center;width:100%;}
.js button.simple-submit{display:none;}

legend{
  @include article-headline();
  width:100%;
  position:relative;
  span{
    position:absolute;
    right:1em;
    text-transform:none;
    em { font-weight: 300;}
    }
  }
.ie7 legend{width:94%;}
 
button {
  &.cart-remove {
	  background:transparent url('../images/btn_close.png');
	  width:24px;
	  height:24px;
	  padding: 0;
	  &:after {
	    content: none;
	  }
    }
  }

label,.form-label-text {
  display: block;
  float: left; 
  font-weight: normal;
  padding: 0.25em;
  width: auto;
}

.form-label-text span{margin-right:5px;}
.form-row-button{margin-left:24.5%;width:62%;}
.form-row {
  clear: both;
  margin: 15px 0;
  border: 1px solid transparent;
}


.label-inline {
  label {
    display: inline-block;
    float: none;
    text-align: left;
    width: 90%;
  }
  input {
    float: left;
    margin: 0 5px 0 0;
  }
}

.label-above {
  label {
    float: none;
    text-align: left;
    width: auto;
  }
  input, select, textarea { margin-left: 0; }
  .form-caption { 
    margin-left: 0; 
    width: auto; 
  }
}

.label-removed label{left:-999em;position:absolute;}
.label-hidden label{text-align:left;text-indent:-999em;}
.form-indent{
  margin-left:24%;
  .form-caption{margin-left:0;}
  }
 
.form-caption{
  display:block; 
  font: {
    style:italic;
  }
}

/****
 * errors
 */
.error{
  //background-color:#F1E6E6 !important;
  //border-color:$red !important;
  color:$red !important;
  .form-inline label { width:100%;}
}
span.error{
  background:none repeat scroll 0 0 transparent;
  display:block;
  margin:2% 0;
}
div.error{
  background:none repeat scroll 0 0 transparent;
}
.error-message {
  color:$red;
  margin: 10px;
  clear:left; 
}
.error-form{
  background:url("../images/interface/icon-alert.png") no-repeat scroll left top transparent;
  color:$red;
  margin:1em 0;
  padding:0.5em 0 0 4em;
}

.form-inline {
  display:block;
  clear:left;
  form {
    padding: 0 0 2em;
    width: 98%;
  }
  .form-row { 
    clear: none;
    float: left;
    margin-right:2%;
  }
  &.two-fields .form-row {
    width: 46.5%;
  }  
  &.three-fields > .form-row {
    width: 30%;
  }
  label {
    padding: 0 0 0.75em; 
    width: auto;
  }
  input[type="text"] {
    margin-left: 0; 
  }
  select {
    margin-left: 0; 
  }
  .form-row-button {
    float: left;
    margin: 30px 0 0;
    width: 16%;
  }
  button {
    padding-left: 0;
    padding-right: 0;
    width:100%;
  }
}

.login-box-content {
  label {
    float: none; 
    font-size: 1.1em; 
    text-align: left;
    width:auto;
  }
  input[type="text"] { 
    margin-left: 0;
    width: 87%;
    font-size: 1.2em;
  }
  input[type="password"] {
    margin-left: 0;
    width: 87%;
  }
  textarea {
    margin-left: 0;
    width: 87%;
  }
  .form-caption { margin-left: 0; }
  input[type="checkbox"] { margin-left: 0; }
  select { margin-left: 0; }
  .form-row-button {
    margin-left: 0;
    width: auto;
  }
}

.width-auto {
  width: auto!important;
}
.header-search {
  form {
    position:relative;
    input[type="submit"] {
      position:absolute;
      top:0;
      right: 8px;
      padding: 16px 10px;
      width: 8px;
      height: 14px;
      border: none;
      text-indent: -9999px; 
    }
  }
}
/* task 4545 */
input::-webkit-input-placeholder { color: $gray; }
input::-moz-placeholder {  color:$gray; } 
input:-ms-input-placeholder { color: $gray; } 
input:-moz-placeholder {  color:$gray; }
  
.row-inline {
  display:inline;
  label { width: auto; }
}
.required-indicator{color: $red;}
 
.with-helper-text{
  margin-top: -43px;
  width: 30%;
  float: right;
  }
.char-count{
  display:block;
  margin-left:24%;
  }
.checkbox-highlight { 
}

/* Homepage Email pop up */
#email {
  width: 250px;
  display: inline-block; 
}

.email-container{
	min-height:52px;
}

.email-container, .email-close-container {
  display: block;
  text-align: center;
}

/* IE Fix for textbox clear */
input[type=text]::-ms-clear { width:0px; height:0px; }

/* Send to a fiend Form*/
#send-to-friend-dialog{
   	
   	margin-top:0px;
   	overflow: hidden;
   
	input[type="text"], textarea{
		width:100%;
	}	
	
	textarea{
		height:75px;
	}
	
	.char-count {
		margin-left: 5px;
	}
	
	.form-row{
		margin-top:2px;
		margin-bottom:6px;
		position:relative;
		
		span.error{
			margin: 0px;
			position:absolute;
			top:52px;
		}
	}
	.send-to-friend-product{
		clear:both;
		
		h2{
 			margin-top:0px;
 		}
	}
}
