/* header components */
/* ------------------------------------- */
.debug { display:none;}
.wrapper {
  #top-header-container { 
    margin-top: 15px;
    position: relative;
    input[type="text"] {
      padding: 0; /* take padding outside of input box so they re-size correctly */
      text-indent: 8px;
      font-size: 1.2em;
      height:33px;
    }
  }
}
#header{ 
  .primary-logo{
    float:left;
    margin: 0 0 15px;
    a {
      display:block;
    }
    span{
      display: none;
    }
  } 
  
  .deal {
    display:inline;
    width: 380px;
    float: left;
    
    }
  }

  #tagline {
    clear:left;
    text-transform: uppercase;
    font: {
      size: 15px;
      family: $headingsFontFamily;
      weight: 500;
    }
  }


  .deals {
      //background: url("../images/sprites.png") -107px -277px no-repeat;
      padding: 15px 0 0 0px;
      display: block;
      color: black;
      margin: 0px auto 0;
      width: 285px;
      min-height: 26px;
      font: {
        family: $headingsFontFamily;
         weight: bold;
      }
   }

.ie7 #header{z-index:200;} 
.header-banner {clear:both;font-size:1.2em;margin:0 6px;}
.ie7 .header-banner{width:350px;}



/* mini-cart styles */
/* ------------------------------------- */

#mini-cart {
  float: right;
  margin: 0;
  z-index: 7000; 
  display:inline;
  position:relative;
  .mini-cart-total {
    background-color:$accentColor;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px 18px;
    color: $white;
    width: 40px;
    a.mini-cart-link  {
      color: $white;
      display:block;
    }
    .mini-cart-label { 
      width: 21px;
      height: 21px; /*moz needs float to style right but float makes hover buggy*/
      @include sprite;
      background-position: -33px -120px;
    }
    .mini-cart-qty, .mini-cart-empty {
      margin-top: 4px;
      display: block;
      font-size:1.2em;
      float: right;
    }
  }
  //hover effect on cart
  &:hover { 
    cursor: pointer;
    .mini-cart-total{
      background-color:$white; 
      color: $accentColor; 
      a.mini-cart-link { color: $accentColor;}
      .mini-cart-label {
        background-position: 0px -120px;
      }
    }  
    .mini-cart-content{
      display:block;
    }
  }
}
.oldie #mini-cart { position:absolute; top:0; right:0;}

.mini-cart-content{
  border: 1px solid #bbb;  
  position: absolute;
  display:none;
  min-width: 293px;
  width:380px;
  right: 0;
  top: 32px; 
  font-size: 1.15em;
  //@include border-radius(4px);
  @include box-shadow(2px 2px 8px #888888);
    a { color: $accentColor; }
    a.mini-cart-link-cart { 
      color: $white;
      display: block;
      margin:0 auto;
    }
    .mini-cart-totals {
      @include clearfix();
      padding: 10px 9px 20px;
      background-color: $white;
      .mini-cart-subtotals {   
       padding: 5px 0 8px;
       text-align: right;
        .label { margin-right: 12px; }
       }
    }
}


.mini-cart-products {  
    padding: 0px;
    margin: 0;
    width: 100%;
    background-color: $white;
    .mini-cart-product { 
      float: none;
      padding: 4% 2%; 
      width:96%;
      display:inline-block;
      background-color: $grayLighter;
      &:nth-child(1) {
        margin-top:0;  
      }
      &:nth-child(odd) {
        background-color: $grayLightMid;
      }
      &:hover {
        //background-color: $accentColor;
        //a, .mini-cart-price { color:$white; }
      }
      .mini-cart-name{ 
        width: 72%; 
        float:left;
        }
      .mini-cart-pricing { 
        width:18%; 
        float:right; 
        text-align:right; 
          .label, .value { 
            display: none; 
            } 
       } 
    }
    a { color: $textColor; } 
    a:hover { color: $accentColor; }
  }
.mini-cart-close {  text-indent: -9999em; }

 //not sure where to use these
 .mini-cart-product-name,
.mini-cart-slot,
.product-availability-list,
//.mini-cart-link-checkout,
.mini-cart-header,
.mini-cart-image,
.mini-cart-item-word,
.mini-cart-total-label,
.mini-cart-attributes,
.mini-cart-toggler  {
  display:none;
}

.menu-utility{
  clear:both;
  color:#8F8F8F;
  float:right;
  font-size:0.8em;
  letter-spacing:1px;
  margin:10px 0;
  padding:0;
  text-transform:uppercase;
  li{
   border-right:1px solid #d9d9d9;
   float:left;
   list-style:none outside none;
   padding:0 6px;
   &.last{border:0 none;}
  }
}

.ie7 .menu-utility{width:350px;}

.menu-utility-user{
  color:#636363;
  float:right;
  font-size:0.8em;
  letter-spacing:1px;
  font-family:$sansFontFamily;
  margin:6px 0 0;
  padding:0;
  li{
   border-right:1px solid #d9d9d9;
   float:left;
   list-style:none outside none;
   padding:0 6px;
   &.last{border:0 none;
   a:hover {color: #636363;}
   }
  }
}

.header-search{ 
  input[type="text"]{
    text-indent: 0; 
    margin: 0;  
    padding: 9px 0 9px 9px;
  }
  input[type="submit"] {
    @include sprite;
    background-position: -153px 8px;
  }
 legend { background: none; }
}
.header-search-show{   
  input[type="submit"]{ 
    display:inline-block;
  }
}
#locationsearch  {
  width: 235px;
  float:right;
  clear:right;
  margin-top: 10px;
  input[type="text"]{
    width: 233px;
  }
  input[type="submit"] {
    background-position: -151px -40px;
  }
}

#locationsearch_mod { 
	float: right; 
	margin-right: 10px; 
	input[type="text"] { 
		width: 147px; 
	}
	input[type="submit"] { 
		background-position: -151px -40px; 
	}
}

#simplesearch {
  float: right;
  margin-right: 10px;
  input[type="text"] {
   width: 147px;
  }
}

#simplesearch_mod { 
	width: 235px; 
	float: right; 
	clear: right; 
	margin-top: 10px; 
	input[type="text"] { 
		width: 233px; 
	}
}

#CustomerZone { 
  text-align: right;
  width:212px;
  float:right;
  clear:left;
  a {
    color: $accentColor;
    text-transform: lowercase;
  }
  input[type="text"] {
    width: 180px;
  }
}
.findByZipMini {
  section.results {
    background: $white;
    top: 31px;
    border: 1px solid #999;
    display: none;
    right: 0;
    padding: 20px !important;
    position: absolute;
    height: 250px;
    overflow-y: scroll;
    width: 320px;
    z-index:300;
    table.item-list {
      th.section-header, td {
        padding: 1em 0;
      }
      td.store-information {
        padding: 1em 1em 1em 0;
      }
    }
    
  }
}

/* primary catalog navigation */
/* ------------------------------------- */
#navigation ul.level-1 li:hover  div.level-2 {display:block;}
#navigation{
  position: relative;
  width:100%;
  z-index: 200;
  height: 35px;
  border: 3px solid #ddd;
  border-width: 3px 0;
  margin: 15px 0 0;
  font-family: $headingsFontFamily;
  text-transform: uppercase;
  ul.level-1{
    background-color: $white;
    margin:0;
    padding:0;
    position:relative;
    li {
      float:left;
      padding: 0 0 0 7px;
      a {
        color: $grayDarker; 
        display:block; 
        padding: 10px 10px 10px 0;
        font-size:11px;
        &.level-1 { font-size:13px; }
      }
      &#mattress-finder {
        background: $grayLighter url('../images/sprites.png') no-repeat -145px -190px;
        float: right;
        padding: 0 0 0 32px!important;
        z-index: 1;
        a { color: black; padding: 9px; }
      }
      &:first-child {padding: 0;}
    }
    div.level-2{
      background:transparent;
      display:none;
      margin:0;
      padding:0;
      position:absolute; 
      top:34px;
      .menu-wrapper {
        width: 100%;
        margin:0;
        padding:0;
        @include box-shadow(2px 2px 8px #888888);
        }
        ul.level-2,
        ul.level-3,
        ul.level-4 {
          width:220px;
          padding:0;
          margin: 0;
          a {
            color: $grayDarker;
            padding:10px;
            width: 199px; 
            &:hover {
              color: black;
              //background-color:$accentColor; 
            }
          }
          li {
            position: relative;
            background-color: $white;
            float: none;
            padding: 0;
            /*&:nth-child(odd) {
             background-color: $grayLightMid;
            }*/
            &:hover {
              div.level-3 { display:block; } 
            }
            .arrowAccentColor {
              background-position: -100px -140px;
            }
          }
          .navArrow {
            float:right;
            position: absolute;
            top: 5px;
            right: 8px;
          }
        }
        .custom {
          float: right;
          text-align: center;
          img {
            height: auto !important;
            width: auto !important;
          }
        }
        &.menu-horizontal {
          ul.level-2 { float: none; }
          li {
            float: left !important;
            height: 100%;
          }
          .custom { clear: both; }
        }
        div.level-3 { 
        width:220px;
        float:right;
        margin-left:220px;
        position:absolute;
        display: none;
        top: 0;
        @include box-shadow(2px 2px 8px #888888);
        ul.level-3 {
          li {
            background-color: $white;
            &:nth-child(odd) {
              background-color: $grayLightMid;
            }
           }
           div.level-4 {
             ul.level-4{
               margin: 0;
               padding: 0;
               li {
                 margin-left:0;
                 a {
                   padding-left: 24px;
                   width: 186px;
                 }
                 
               }
             }
           }
        }
      }
    }
  }
} 
.ie7 ul.level-1{height:30px;}


a.level-1:focus + .level-2{display:block;}
 

.ie7 div.level-2{width:452px;} 

.gotoWhite,
.arrowAccentColor {
  @include sprite; 
  text-indent: -9999em;
  overflow: hidden;
  width: 8px;
  display:inline-block;
}
.gotoWhite {
  background-position: -69px -136px;
  padding: 16px 10px;
}
.arrowAccentColor {
  background-position: -100px -136px;
  padding: 16px 0px 16px 6px;
}
