/* product detail page (pdp) */
/* ------------------------------------- */
.wl-action { display: none;}
.pt_product-details .primary-content { border: none; width: 100%;}
.product-next, .product-previous {
  overflow:hidden;
  position:absolute;
  top: 200px;
  width:80px;
  height:80px;
  div{float:left;text-align:center;width:77px;}
  img{max-height:100%;max-width:80%;}
  span{display:block;height:65px;}
}

/*amplience*/
.col-1 {
	#amplience-main {
	  margin-bottom: 15px;
	}
	#amplience-nav .amp-slide {
	  transform: translate3d(0px, 0px, 0px) !important;
	  position: relative;
	  width: 80px;
	  height: 80px;
	  margin-right: 10px;
	  cursor: pointer;
	  img {
	  	width: 150px;
	  	max-width: 150px;
	  	height: 80px;
	  	margin-left: -35px;
	  }
	}
	#amplience-carousel {
	  margin-left: 16px;
	}
}
.MagicZoomBigImageCont img { max-width: none!important; }
.product-image-container { display: none; }
.primary-image-amplience { 
  height:400px; 
  position:relative;
    ul {
    &.desktop {
      display: block;
    }
    &.mobile {
      display: none;
    }
  }
  li {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    max-width: 100%;
    a {
      width: auto!important;
      max-width: 100% !important;
    }
  }
  li:first-child, li.active {
    z-index:2;
  }
 }
.product-next { right: -100px;}
.product-previous { left: -100px;}

.pdp-main {
  ul{list-style:none outside none;margin:0;padding:0;}
  label{ margin:0 0 10px;text-align:left;float:left;display: block; 
  }
.mattress-detail & .lhelp {background: url("../images/help-icon-14.png");
    display: inline-block;
    float: right;
    height: 14px;
    width: 14px;
    z-index: 2;
    position: relative; 
  }
  .full-row { float: left; width: 100%;}
  .product-primary-image,
  .primary-image-amplience {
    max-width:100%;
    padding: 0;
    text-align:center;
  }
  .product-thumbnails{
    clear:both;
    display:inline-block;
    padding:0px 0.5em;
    li{
      border-top:5px solid $white;
      float:left;
      margin:0 5px 0 0;
      padding:3px 0 0;
      width:55px;
      &.selected{border-color:#00A4E4;}
      img{border:1px solid $gray;max-width:53px;}
    }
    h2{
      text-transform:uppercase;
      margin: .83em 0;
    }
  }
  
  form .input-select{width:auto;}
  .product-name{ 
    font: {
      size: 2em;
    }
    margin: 0;
  }
  .product-code {
    font-size:1.2em;
    margin: 10px 0 0 56px;
    float: left;
  }
  .product-price{ 
    font-size:1.5em; 
    .price-tiered{
      color: $red; 
      font-size:0.6em;
      line-height:1.5em;
      }
    .product-standard-price {
      &.has-sale-price {
        text-decoration:line-through;
      }
    }
    .product-sales-price {
      color: $red;
    }
  }
  .disclaimer,
  .ship-disclaimer {
    display: block;
    clear: both;
    border: 1px solid transparent;
  }
  .product-col-2{
    float:right;
    width:50%;
    .price-standard{border-right:1px solid #E0E0E0;padding-right:8px;}
  }
  .product-review-links{
    overflow:hidden;
    margin: 5px 0 25px;
    li{margin-right:1em;}
    .BVRRRatingSummaryNoReviewsWriteImageLink { 
      float:none;
    }
    .BVRRRatingSummaryLinks {
      margin-left: 0px;
    }
    .BVRROverallRatingContainer {
      float:none;
      .BVRRRatingContainerStar {
        float:none;
      }
    }
    .BVRRRatingSummaryLink {
      margin-top:10px;
    }
    .BVBrowserWebkit {
      .BVRRRatingSummaryLink {
        text-transform:uppercase;
      }
    }
    .BVRRDisplayContentLinkWrite {
      background-color:$red;
    }
  }
  .BVRRDisplayContentHeaderContent {
	.BVRRDisplayContentLinkWrite {
	  a { 
	    border:1px solid $red; 
	    background-color: $red; 
	    -webkit-border-radius:10px; 
	    -moz-border-radius:10px; 
	    border-radius:10px; 
	    padding:10px 20px;
	  }
	}
  }
  .attribute{
    //margin:1em 0;
    //overflow:hidden;
    padding:0;
    position:relative;
    ul{float:right;width:100%;}
    .selected-value{border:0 none;color:#666666;padding:0.5em 0 0 2em;}
    .size-chart-link{clear:both;float:none;}
    .size-chart-link a{border-color:$white !important;padding:0;}
  }
 
  .Color {
    li{
      &:hover, &.selected{border-color:#00A4E4;}
      a{border:1px solid #E0E0E0;height:22px;margin:0;padding:0;text-indent:-999em;width:32px;}
      &:hover a, &.selected a{border-color:$white;}
    }
  }
  .product-variations {
    float: left;
    li.attribute {
      float: left;
      padding-right: 24px;
    }
    .size-sw {
      width: 136px;
      .dk_toggle { width: 100px;}
    }
    .foundation-dd, .color-dd {
      width: 222px;
      .dk_toggle { width: 180px;} 
    }
  }
  .product-add-to-cart {
    clear:both;
    margin:15px 0; 
    .inventory{ 
      float:left;
      width:15%;
      label{float:none;}
      input{padding:8px 10px;width:49px;}
    }
    .shippingPromotion {
      margin-top: 8px;
    }
    .product-price{float:left;font-size:2.4em;margin:0;padding-top:18px;width:47%;}
    .availability {
      position:relative;
      clear:both;
      float:left; 
      padding: 16px 0 0;
      width: 100%;
      .availability-msg p {padding:0; margin: 0;}
      .in-stock-msg {color:$black; clear: both;}
      .not-available-msg {color:$red; clear: both;}
      .preorder-msg {color:$blue; }
      .backorder-msg {color:$green; clear: both;}
      .in-stock-date-msg {color:$red; clear: both;}
    }
  }
  .product-actions{ 
    clear:both;
    overflow:hidden;
    margin:15px 0; 
    position:relative;
    .col-1 {
      input[type="submit"] {
        @include button-class();
      }
    }
    .menu.col-2 { 
      position:absolute;
      right:0;
      bottom:0;
      li {
        font-size: 18px;
        a { color: $accentColor; }
      }
    }
    .findStoresModule {
      display:none;   
      position: relative;
      @include clearAll();
      margin:15px 0;
      h5, p { margin:0; }
      .button { display:inline-block;}
      .results {
        background:$white;
        top: auto;
        left: 20px;
        bottom: -272px;
        position:absolute;
        height:250px;
        overflow:scroll;
        z-index:1000;
        box-shadow: 1px 1px 3px $textColor;
      }
    }
    .social-actions{
      float:right;
      li{margin:0 0.2em;}
    }
    .addthis_toolbox{float:right;}
  }
  .capture-product-id { display: none; }
  .recommendations{
    .product-tile{
      padding:0 0.5em;
      .recommendation-tooltip{display:none !important;}
      &:hover .recommendation-tooltip{display:block !important;}
    }
    .product-name{font-size:1em;margin:0.2em 0;width:auto;}
    .product-price{font-size:1em;}
    .recommendation-tooltip{ left:50%;position:absolute;text-align:left;top:50%;width:300px;z-index:100;}
  }
  .product-tabs{
    border:0 none;margin:10px 0;
    .print-page {float:right}
    .tab-content {
      h1 {
        text-transform:uppercase;
      }
    }
  }
  .promotion{
    clear:both;
    margin:1em 0;
    padding:4%;
    .promotion-title{
      color:#999999;
      display:inline-block;
      font-size:1.5em;
      line-height:1em;
      text-transform:uppercase;
      vertical-align:top;width:20%;
      }
    .promotion-callout{
      display:inline-block;
      line-height:1em;
      vertical-align:top;
      width:77%;
      }
  }
}

img#deliveryMap {
  float: right;
  width: 48%;
}

.primary-image{max-width:100%;}

.product-set .product-add-to-cart{display:block;}

.print-page {cursor:pointer;}
.product-detail {
  .print-page { float:right; }
  .share-bar {
  	margin:0px;
    text-align:center;
    span {
      display:none;
    }
    ul {
      display: inline-block;
      margin: auto;
      li {
        margin: 0 0 0 5px;
      }
    }
  }
  .product-name {
    clear:left;
    font-size:2em;
    line-height:1.2em;
    font-weight:normal;
    color:$black;
    text-transform:uppercase;
    margin-bottom: 20px;
  }
  .ui-tabs {
    .ui-tabs-panel {
      padding:15px;
    }
  }
}
.quickview {
  .product-detail {
    .share-bar {
      top: 110px;
      right: 20px;
    }
  }
}
.primary-content {
  .pdp-main {
    margin-top:60px;
  }
} 

.list-table-header .print-page {font-size: 13.2px;float:right;}
.pt_gift-registry .list-table-header .print-page {margin-top:-0.5em;}

.pdp-main .product-set-list {
  margin:0 0 0 6px;
  .product-set-item{
    clear:both;
    margin:1em 0;
    overflow:hidden;
    padding: 1em 0;
    border-top: 1px solid $grayLighter;
  }
  .product-set-image{
    float:left;
    width:22%;
  }
  .product-set-details{
    float:left;
    width:78%;
  }
  .block-add-to-cart {
    clear:both;
    overflow:hidden;
    padding:0.5em 0;
    .product-price{width:54%;}
    .product-price{
      float:left;
      font-size:1.6em;
      margin:0;
      padding:6px 0 0;
      width:35%;
    }
    .inventory{float:left;margin-left:22%;width:20%;}
    label{padding:0.7em 0;text-align:left;width:40%;}
    .input-text{width:35px;}
  }
  .attribute h3,
  .attribute .label{width:25%;}
  .product-name{
    float:none;
    font-size:1.3em;
    margin:0;
    width:auto;
    }
  .promotion-title{font-size:1.2em;}
  .block-add-to-cart button{float:right;font-size:0.9em;margin:3px 5px 0 0;padding-left:1em;padding-right:1em;}
}
 
button.add-to-cart[disabled],button.add-all-to-cart[disabled]{opacity:0.5;}
button.add-all-to-cart{display:none;} /* not available in simple ui. */
.js button.add-all-to-cart{display:inherit;} /* available in rich ui. */

/* bonus products */
/* ------------------------------------- */

.select-bonus-btn,
.no-bonus-btn{float:left;margin:0 5px 0 0;}
.buttonbar{margin:11px 0;overflow:hidden;width:336px;}
.bonus-product-list .bonus-product-item{/*border-bottom:1px solid #E0E0E0;*/clear:both;}
.bonus-product-list .product-name{float:none;margin:1em 0;}
.bonus-product-list .product-add-to-cart button{float:left;margin-top:24px;}
.bonus-product-list-footer{clear:both;}
.bonus-product-list-footer button{float:right;}

/* help icons */
/* ------------------------------------- */
.fhelp, .shelp {
  background-image: url("../images/help-icon-14.png");
  display: inline-block;
  float: right;
  height: 14px;
  width: 14px; 
}

/* spacing for carrier and dropship items */
/* ------------------------------------- */
.pdpspace {
  visibility: hidden;
  padding-bottom: 65px;
}

/* fix for ie11 when no help icons are present for a product */
/* ------------------------------------- */
#dk_container_va-color, #dk_container_va-size, #dk_container_va-foundation  {clear: both;}

.bonus-product-dialog {
	.ui-dialog-titlebar{
		border-bottom: 2px solid $grayeb;
		padding: 20px 20px 22px 25px;
		.ui-dialog-title{
			font-size: 1.833em;
			font-weight: 700;
			display:block !important;
		}
		.ui-icon-closethick{
			height: 31px;
		    width: 30px;
		    background: url("../images/close-button-ui.png") 
		}
		.ui-dialog-titlebar-close{
			right: 30px;
		}
	}
}

#bonus-product-dialog {
	&.dialog-content {
		max-height: 85vh !important;
	}
	h3.header-red-text {
		color: $red;
		text-transform: uppercase;
		font-weight:700;
	}
	.bonus-product-item {
		width: 49%;
	    float: left;
	    clear: none;
	    height: 210px;
	    padding-top: 20px;
		.product-col-1{
			width:42%;
			float: left;
   			padding: 0;
   			.product-primary-image {
   				margin-left:15px
   			}
		}
		.product-col-2{
			width:58%;
			float: right;
		    clear: none;
		    padding: 0;
			.product-name{
				line-height: 1.286em;
				font-weight: 700;
				text-transform: uppercase;
				margin-top:8px;
				font-size: 1em;
			}
			.product-number{
				color: $gray999;
			}
			.product-variations{
			    float: none;
			    clear: both;
			    display: table;
				.attribute {
				    display: inline-block;
				    float: none;
				    width: auto;
				    padding-right: 0;
					label{
						display:none;
					}
					.dk_toggle {
						width:80px;
					} 
					.dk_options_inner, .dk_touch .dk_options {
						max-height:none;
					}
				}
				ul{
					padding:0;
				}
				&.disabled .dk_toggle{
					cursor: no-drop;
				    opacity: 0.5;
				    background: $grayeb;
				}
			}
			.product-variations.disabled.variant .dk_container {
				display:block;
				.arrow:before {
					background:none;
				}
			}
			.product-add-to-cart {
				button{
					display: inline-block;
					margin-left:14%;
					margin-top:0;
					clear: none;
					background: $black;
				}
				button:hover {
					color: $white;
				}
				.inventory{
					display: inline-block;
					float: left;
  					width: auto;
					input {
						width:49px;
						text-align:center;
						text-indent:0;
						margin: 0;
   						float: left;
					}
					label{
						padding-top:7px;
						padding-bottom:7px;
						margin:0;
						float:left;
					}
				}
			}
		}
	}
	.rounded.button {
		font-size:1.273em;
		padding: 10px 37px;
	}
	.block-number1 {
		border-right: 1px solid $grayeb;
	}
	.block-number2 {
		
	}
	.block-number3, .block-number5, .block-number7, .block-number9, .block-number11, .block-number13, .block-number15, .block-number17, .block-number19 {
		border-right: 1px solid $grayeb;
		border-top: 1px solid $grayeb;
		border-bottom: none;
	}
	.block-number4, .block-number6, .block-number8, .block-number10, .block-number12, .block-number14, .block-number16, .block-number18, .block-number20 {
		border-top: 1px solid $grayeb;
	}
	.items-wrapper {
	  padding-bottom: 30px;
      border-bottom: 1px solid $grayeb;
	}
	.bonus-product-list-footer {
		padding:0;
		ul {
			padding:0;
			margin:0;
		}
		.selected-bonus-item {
			font-size: 1.167em;
		    font-weight: 700;
		    line-height: 1.5em;
		    font-family: "Nunito", Verdana, Arial, sans-serif;
		    text-transform: uppercase;
		    width:30%;
		    float: left;
		    margin-right: 3%;
		}
		.item-block	{
			width:80%;
			float:left;
			clear:none;
		}
		.remove-link {
			float: right;
		    clear: none;
		    width: 11%;
		    margin-left:9%;
		}
		.selected-bonus-items{
			float: left;
   			clear: none;
   			width: 80%;
		}
		.add-to-cart-bonus{
			float: right;
   			clear: none;
		}
	}
}
.bonus-options.ui-dialog {
	top:350px !important;
	.select-bonus-btn, .no-bonus-btn {
		margin-bottom:5px;
	}
	.ui-dialog-titlebar{
		/*border-bottom: 2px solid $grayeb;
		padding: 20px 20px 22px 15px;
		height: auto;*/
		.ui-dialog-title{
			width: 85% !important;
			font-size: 1.333em;
			font-weight: 700;
			display:block !important;
		}
		.ui-icon-closethick{
			height: 31px;
		    width: 30px;
		    background: url("../images/close-button-ui.png") 
		}
		.ui-dialog-titlebar-close{
			right: 30px;
		}
	}
	button.rounded {
	    font-size: 1.273em;
    	padding: 10px 20px;
	}
	.buttonbar {
		width:100%;
		margin: 0 auto;
	}
	h3.header-red-text {
		color: $red;
		text-transform: uppercase;
		font-weight:700;
	}
	.bonus-discount-container {
		text-align:center;
	}
}