/* power reviews */
/* ------------------------------------- */

body .pr-snippet-wrapper{background:none repeat scroll 0 0 transparent;border:0 none;}
body .pr-snippet-stars{border:0 none;}
body .pr-snippet-review-count{display:none;}
body .pr-snippet-read-write{border:0 none;clear:none;float:left;font-size:1.1em;margin:0;padding:4px 0;}
body .pr-snippet-read-write p{display:none;}
body .pr-snippet-read-write a.pr-snippet-link{color:#3EBAEA;}
body .review-image{float:left;margin:0 20px;}
