.primary-content {
  dl{
    clear:both;
    overflow:hidden;
    dt{
      clear:both;
      float:left;
      margin:2% 0 0;
      min-width:15%;
      }
    dd{
      float:left;
      margin:2% 0 0;
      padding:0 0 0 5%;
      }
    }
}

.col-1{float:left;margin:4px 0;width:48%;}
.col-2{float:right;margin:4px 0;width:48%;}

#dialog-container, #main, #footer {
  .col-3 {
    float:left; 
    width: 31.3%;
    margin-left: 2%;
  }
  .col-3.first { 
    margin-left: 0; 
    clear:left;
  } 
}

.back{display:block;margin:0 0 10px;}

.brandbc {
    margin: 30px 0 15px 0;
}

.brand-lists {
    position:relative;
    ul {
      margin:0;
      padding:0;
      position:relative;
      li {
        width: 260px;
        min-height: 116px;
        padding:10px;  
        margin:10px;
        background-color: $grayLighter;
        a {
          padding:10px;
          background-color: #fff;
          border-bottom: 3px solid $gray;
          width:240px;
          display:block;
          margin:0;
          img {
            width: 150px;
            margin: 0 auto; 
            display: block;
            }
      }
    }
  }
}
.oldie .product-image .special-attribute { 
  right:0;
 }
 
.product-image {
    overflow:hidden;
    position:relative;
  .special-attribute {
    position: absolute;
    top: 10px;
    right: -32px;
    height: 28px;
    margin: 0;
    overflow: hidden;
    @include rotate(45deg);
    p {
      background: $accentColor;
      color: $white;
      padding: 5px 35px;
      margin:0;
      z-index: 2;
      display: inline;
      position: relative;
      line-height: 26px;
    }
  }
}
.bolded {
  font: {
    style:normal;
    weight: bold;
  }
  color: #444;
}
