/* shopping cart */
/* ------------------------------------- */

#cart-table {
  font-family: $nunitoFontFamily;
  background-color: $grayLightMid;
  border: 1px solid $gray;
  thead {
    border-bottom: 1px solid $gray;
    font-size: 0.8em;
    th {
      &.section-header {
        font-size: 1.5em; 
	    text-transform: uppercase;
        letter-spacing: 0.08em;
        padding: 20px;
        font-weight: 300;
      }
      &.header-total-price { text-align: right; }
    }
  }
  .foundation, .mattress, .color {
    font-size:0.8em;
  }
  .bonus-item {
    display:block;
    text-align:center;
  } 
  .delivery-row {
    border-bottom: 1px solid $gray;
  }
  .cart-row {
    border-bottom: 1px solid $gray;
    &.has-recycle-fee {
      border-bottom: none;
    }
  }
  .product-sku {
    font-size: 0.7em;
    font-weight: normal;
    padding-top: 10px;
  }
  .recycle-item {
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 10px;
    float: left;
  }
  .recycle-price {
	font-weight: 300;
    float: right;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 8px;
  }
  td {
    padding: 30px 0 20px 20px;
    font-size: 1.3em;
    &.item-quantity {
      .qty-only {
        padding-top:7px;
      }
      .update-qty {
        display:none;
        padding-top:20px;
        a {
          color:$red;
          text-transform:uppercase;
          font-size:0.8em;
        }
        a:hover {
          color:$black;
        }
      }
    }
    &.item-total, &.coupon-savings {
      text-align:right;
      .bonus-item {
        text-align:right;
      }
    }
    &.cart-promo {
      padding:0px 20px 20px 20px;
      .bonus-item-actions {
        font-size: 1em;
        text-align: right;
        vertical-align: middle;
      }
      .name {
        display:inline-block;
        float:left;
        font-size:1em;
      }
      .cart-coupon {
        display:inline-block;
        float:left;
        font-size:1em;
        padding-left:10px;
      }
      .promotion-total {
        display:inline-block;
        float:right;
        font-size:1em;
        .discount {
          text-align:right;
        }
      }  
    }
    &.item-details { 
      .size { display: none; }
      .foundation { padding-top: 10px; }
      .mattress { padding-top: 10px; }
      .color { padding-top: 10px; }
      .item-edit-details { 
        text-transform: uppercase;
        padding-top: 10px;
        font-size: 0.8em;
        a { color: $red; }
      }
      .product-list-item {
        .name {
          font-family: $nunitoFontFamily;
          font-weight: 700;
          font-size:1.0em;
        }
      }
    }
    &.remove-item {
      padding: 28px 20px 20px 20px;
    }
    &.item-quantity-details {
      padding:0 0 0 20px;
      font-weight:bold;
      .delivery-msg {
        padding-left:5px;
        color: $greenHighlight;
      }
    }
    .label { display: inline-block; }
    .value { 
      font-weight: normal;
      display:block;
      word-wrap: break-word; 
    }
  }
  .recycle-fee-row {
    td {
      padding: 10px 0 10px 20px;
    }
  }
  .product-list-item { 
    width: 250px; 
  }
  .item-quantity input { 
    margin: 0; 
    text-indent: 0;
    width: 2em;
  }
  .item-user-actions { 
    width: 100px;
    a, button { 
      display: block;
      font-size: 0.9em;
    } 
  }
  .price-promotion {
    .price-sales { color: $red; }
    .price-standard {
      margin: 0 1em 0 0;
      text-decoration: line-through;
    }
  }
  .item-total {
    word-wrap: break-word;
    .promo-adjustment { width: 120px; }
  }
  .price-unadjusted,
  .price-adjusted-total {
    color: #666;
    display:block;
   }
  .price-unadjusted {
    margin: 0 0 5px;
    span { text-decoration: line-through; }
  }
  .price-adjusted-total {
    margin:5px 0 0;
    span { color: $red; }
  }
  .gift-cert-delivery { color: $red; }
}

.recycle-item {
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 10px;
  float: left;
  .recycle-fee-row & {
    margin: 0;
    float: none;
  }
}
  
.recycle-price {
  font-weight: 300;
  float: right;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 8px;
  .recycle-fee-row & {
    margin: 0;
    float: none;
    text-align: right;
  }
}

table {
  &.item-list tr { border-bottom: none; }
}
  
.cart-footer {
  font-family: $nunitoFontFamily;
  font-size:1em;
  font-weight:300;
  margin: 0 0;
  width: 100%; 
  label {
    float: none;
    text-align: left;
    width: auto;
    padding: 0px;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .primary-section-divider {
    font-family: $nunitoFontFamily;
    margin: 0;
  }
  .cart-actions {
    text-align:center;
    background-color: $grayLighter;
    button {
   		margin-bottom: 10px;
    }
  }
  .haulaway {
    display:inline-block;
    float:left;
    width:63%;
    padding: 0px;
    .cart-advert {
      padding:25px;
    }
    .truck {
      display:inline-block;
      float:left;
      width:35%;
      padding: 30px 2% 30px 2%;
      font-style: italic;
      .title {
        padding: 20px 10px 0px 10px;
        font-size: 1.2em;
      }
      .content {
        padding: 10px;
      }
    }
    .items-to-remove {
      display:inline-block;
      float:right;
      width: 55%;
      padding: 30px 2% 30px 2%;
      font-family: $nunitoFontFamily;
      .title {
        font-size: 1.5em;
        font-weight: bold;
        padding-bottom: 20px;
      }
      .question {
        font-size: 1.5em;
        padding-bottom: 20px;
      }
      .content {
        font-size: 1.2em;
        padding-bottom: 20px;
      }
      .header {
        padding-bottom: 20px;
        font-size: 1.2em;
        text-transform:uppercase;
      }
      .pickup {
        input {
          width:35px;
          margin-right:15px;
        }
        .error {
          font-size: 1.1em;
          color: $red;
          font-weight:400;
          margin-top:15px;
        }
      }
    }
  }
  .continue-to-checkout {
    display:inline-block;
    float:right;
    width:35%;
	border-left: 1px solid $gray;
	border-bottom: 1px solid $gray;
    border-right: 1px solid $gray;
  }
}

.cart-coupon-code {
  padding:45px 25px 25px 25px;
  input[type="text"] {
    width: auto;
    float: left;
    display: inline-block;
    padding: 8px 5px;
    margin:0 22px 0 0;
    width: 165px;
    text-transform:uppercase;
  }
  .error {
    margin-top:10px;
    font-size:1em;
    font-weight:400;
  }
}
.mattress-return {
  background: $textColor!important;
  color:white;
  a.dk_toggle {
    background: white;
  }
  .dk_container, select {
    float: left; 
    margin: 15px;
  }
  label {
    margin-left: 50px;
  }
}
 
.order-totals-table {
  th { display: none; }
  td {
    padding: 5px 0;
    &.amount {
      text-align:right;
    }
  }
  .order-total {
    font-weight: 700;
  }
}
.order-totals-item { width: 60%; }
.order-totals-value { width: 40%; }

#secondary .order-totals-table .order-shipping a { display: none; }

.cart-action-checkout, 
.cart-action-continue-shopping { text-align: right; }

.cart-action-continue-shopping button.button-text { 
  line-height: 50px;
  padding-right: 1em;
}

.promo-adjustment { color: $red; }

ul.product-availability-list {
  margin: 0;
  padding: 0;
  li {
    list-style: none outside none;
    margin: 3px 0;
  }
  .on-order,
  .not-available {
    color: $red;
    font-size: 0.9em;
  }
}

.account-welcome {
  .welcome-message { 
      font: {
        style:italic;
        size: 1.2em;
        family: $serifFontFamily; 
      }
    }
  .not-user { margin: 10px 0; }
}
.cart-order-totals {
  background: $grayLighter;
  padding:25px;
  font-size:1.2em;
}
#checkout-review {
  overflow:hidden;
  a {
    font-size:0.4em;
    color:$red;
    padding-left:10px;
  }
  a:hover {
    color:$black;
  }
  .header {
    font-size:1.7em;
    font-weight:400;
    padding-bottom:20px;
    color:$black;
    width:50%;
  }
  .content {
    font-size:1.3em;
    word-wrap:break-word;
  }
  .email {
    margin-bottom:10px;
  }
  .col1 {
    width:48%;
    float:left;
  }
  .col2 {
    width:48%;
    float:right;
  }
  .info-left {
    width:48%;
    float:left;
    margin-right:5px;
  }
  .info-right {
    width:48%;
    float:right;
    margin-right:5px;
  }
  .credit-card-type {
    text-transform:uppercase;
  }
  .details {
    min-height:115px;
  }
  legend {
    font-size: 2.5em;
    font-weight: 400;
  }
  .same-as-shipping {
    margin-top:12px;
    font-size:0.7em;
    font-style:italic;
  }
}
.terms-and-privacy {
  font-size:1.3em;
}