.delivery-dates-container  {
	div.selector {
			max-width:390px;
			select{
				height: 54px;
				border-radius: 3px;
				background-color: #fcfcfc;
				border: solid 1px #dde3e8;
			}
			&:after{
				top: 14px;
			}
		}
	.preferred-contact.email .form-horizontal .form-select > label {
			display: none;
		}
	}
.delivery-schedule-box {
	.delivery-dates-wrapper,
	.preferred-contact-wrapper {
		@include respond(large) {
			padding: 0 0;
		}
	}
}

@media only screen and (max-width: 767px)  {

.pt_checkout .page-shipping-method h2.address-legend.restricted-checkout {
    color: $cinnabar;
    text-transform: none;
}
.page-shipping-method #store-picker-enter-zip .try-in-store-list-container .try-in-store-list {
	li:first-child {
		width: 70%;
		margin:0;
		box-sizing:border-box;
	}
	li:last-child {
	    width: 28%;
    	margin: 0;
    	box-sizing:border-box;
    	button#zipcodeUpdate {
    		margin-left: 0;
    		min-width: 0;
    	}
	}
}
.delivery-schedule-box {
	.delivery-message {padding-left: 0;}
}
.mobile-delivery-dates {
	label {
		color:#ababb6;
		margin-bottom: 5px;
	}
}
.mobile-delivery-dates #deliverydates,
.mobile-delivery-dates #timeslots {
	margin-bottom: 15px;
	position: relative;
	overflow: hidden;
	width: 100% !important;
	box-sizing: border-box;
	select {
		border-radius: 4px;
		border: 1px solid #fff;
		height: 48px;
	}
}
.mobile-delivery-dates #deliverydates:after {
    content: "\f133";
    font: normal normal normal 18px/1 FontAwesome;
    right: 11px;
    top: 15px;
    color: #4e4e56;
    position: absolute;
    pointer-events: none;
}
.mobile-delivery-dates #timeslots:after {
    content: '\f107';
    font: normal normal normal 24px/1 FontAwesome;
    right: 11px;
    top: 10px;
    color: #4e4e56;
    position: absolute;
    pointer-events: none;
}
.next-button-wrap,
.btn-mobile-next-step,
.order-summary-footer {
	background-color: #fff;
	padding:16px;
	box-sizing: border-box;
	position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
	.button-fancy-large {
		width: 100% !important;
		height: 54px !important;
		border-radius: 3px !important;
	}
	.form-row {
		margin: 0;
	}
}

.ordersummary {
	.summary-header {
		margin-top: 25px;

		h1 {
			color:#4e4e56;
			font-size: 16px;
			font-weight: 600 !important;
			letter-spacing: 0.5px;
			text-align: center;
			text-transform: none;
		}
	}
}

.checkout-mini-cart,
.shipmentsSection,
.address_payment_details .details {
	background-color: #fff;
    width: calc(100% + 20px);
    margin-left: -10px;
    padding: 10px !important;
    box-sizing: border-box;
}
.pt_checkout .checkout-mini-cart-wrapper .order-totals-table td {
	padding: 10px;
    border-bottom: 1px solid #f4f4f6;
}
.pt_checkout .checkout-mini-cart-wrapper .order-totals-table .order-total td {
	padding-top: 10px;
}
.minisummary-place-order {
    margin-bottom: 0;
}
.changezip-deliverymethodpage {
	background: #fff;
    padding: 15px;
    box-sizing: border-box;
    width: calc(100% + 20px);
    margin-left: -10px;
    #change-zip-id {
    	float: right;
    	color:#ababb6;
    	text-transform: none;
    }
}
.page-shipping-method #store-picker-enter-zip .try-in-store-list-container .try-in-store-list li:first-child .form-row .field-wrapper input {
	border:solid 1px #c6c8ca !important;
}
}
