#Kicker Custom 3_1,
._GUARANTEE_Kicker_Container{
	display:none !important;
}
.line-br{
	z-index:2;
	position:relative;
	margin:0 0 -1px;
	&:before,
	&:after{
		top:-1px;
		width:16px;
		content:'';
		height:1px;
		background:#fff;
		position:absolute;
	}
	&:before{
		left:1px;
	}
	&:after{
		left:auto;
		right:0;
	}
}
.car-add-discount{
	max-width:833px;
	.ui-dialog-content{
		padding:5px 20px 20px;
	}
	.ui-dialog-titlebar-close{
		width:16px;
		height:16px;
		right: 19px;
		.ui-icon-closethick{
			top:0;
			left:0;
		}
	}
	.ui-dialog-title{
		border:0;
		padding-bottom:0;
		&:before{
			display:none;
		}
	}
	.cart-action-checkout{
		height:48px;
		color:#d63426;
		border-radius:5px;
		background:none;
		border:1px solid #d63426;
	}
	#cart-table{
		margin:0 0 24px;
		border: 1px solid #C6C8CA;
		tr{ border:0;}
		tr.lineitem-total td{
			border:0;
		}
		th{
			border: 0;
			height: 44px;
			color: #323030;
			font-size:13px;
			padding: 6px 5px;
			background: #F1F1F2;
			text-transform: uppercase;
			&:first-child,
			&:last-child{
				padding: 6px 14px;
			}
		}
		td{
			font-weight:bold;
			border:0 !important;
			&.item-image{width:13.644%;}
			&.item-details{
				width:21.1016%;
				.name{
					display:block;
					margin:0 0 16px;
				}
			}
			&.discount-price-inputfield{width:13.644%;}
			&.item-list-price{width:11%;padding:16px;}
			&.discount-price-inputfield{padding:16px;}
			&.item-total{
				padding:16px;
				text-align:right;
				.price-option span{
					display:block;
					&.price-total{
						font-size:16px;
						line-height:19px;
					}
					&.adjustment{
						padding:16px 0 0;
						color:#D63426;
					}
					&.adjusted-price{
						padding:32px 0 0;
						font-size:16px;
						line-height:19px;
					}
				}	
			}
		}
		.discount-price-inputfield{
			input[type="text"],
			input[type="number"]{
				width: 60px;
				height: 44px;
				padding: 0 5px;
    			border-radius: 0;
    			text-align:center;
    			box-sizing: border-box;
    			border: 1px solid #959799;
			}
		}
	}
	
}
#cart-table {
	margin: 0;
	thead {
		th {
			text-align:center;
			box-sizing: border-box;
			&:first-child{
				text-align:left;
			}
		}
	}
	td {
		text-align:center;
		box-sizing: border-box;
		&:first-child{
			text-align:left;
		}
	}

	.cart-row-btns{
		border: 0;
	}
	
	.cart-btns-holder{
		padding: 0;
		.bonus-item-actions {
			@include respond(large) {
				text-align: right;
			    position: relative;
			    top: -75px;
			    margin-bottom: -50px;
			}
		}
		a.select-bonus{
			display: inline-block;
		    vertical-align: middle;
		    max-width: 20%;
		    margin: 0 15px 10px;
		    height: auto;
		    line-height: 20px;
		    padding: 0 23px;
		    @include respond(large-down) {
		    	max-width: 100%;
    			margin-left: 0px;
		    }
		}
	
		span{
			display: inline-block;
			vertical-align: middle;
			margin:0 0 10px;
		}
	}

	.header-total-price {
		text-align: right;
	}
	tr {
		border: $border;
		position: relative;
	}

	th,
	td {
		&.item-details {
			.recycling_fee,
			.RECYCLING_FEE,
			.RECYCLING_EFE {
				display: none;
			}
		}
	}
	tr {
		&.recycling-fee {
			border-top: 0;
			font-weight: 600;
			td {
				color:#323030;
				font-weight:normal;
				padding: 0 16px 16px;
				.label{ font-size:12px;}
				&:first-child{
					border-left: 1px solid #C6C8CA;
				}
				&.item-total{
					border-right: 1px solid #C6C8CA;
				}
			}
		}
	}
	
	tr.cart-row{
		td{
			font-weight:bold;
			border-top: 1px solid #C6C8CA;
			&.item-image{
				border-left: 1px solid #C6C8CA;
			}
			&.item-total{
				border-right: 1px solid #C6C8CA;
			}
		}
	}
	tr.cart-row-add{
		td{
			border:0;
			font-weight:bold;
			padding-top:16px;
			&.item-image{
				border-left: 1px solid #C6C8CA;
			}
			&.item-total{
				border-right: 1px solid #C6C8CA;
			}
			&.item-price,
			&.oli-qty,
			&.item-total{
				padding-top:16px;
			}
		}
		.adjusted-price{
			font-size:16px;
		}
	}
	
	tr.discount-applied{
		td{
			&:first-child{
				border-left: 1px solid #C6C8CA;
			}
			&.item-total{
				border-right: 1px solid #C6C8CA;
			}
		}
	}
	
	tr.lineitem-total{
		td{
			border-style:solid;
			border-color:#C6C8CA;
			border-width:0 1px 1px;
			padding:0 16px 16px;
		}
	}
	
	
	tr.discount-applied{
		.item-details{
			padding:0 16px;
			font-size:12px;
		}
		.item-total{
			padding:0 16px;
			color:#D63426 !important;
		}
	}
	.item-image {
		width: 13.644%;
		padding: 16px 0 16px 16px;
	}
	.item-details {
		padding:16px;
		width: 21.1016%;
		text-align:left;
		display: table-cell;
		.name {
			a {
				font-size:14px;
				line-height:20px;
				color: $color-primary;
				text-decoration: none;
				font-style: normal;
				font-weight: 600;
			}
		}
		// Removes Edit Details Quickview link for handheld devices
		.item-edit-details {
			display: block;
			a {
				display: inline-block;
				margin: 0;
				font-style: italic;
				color: $color-primary;
				font-weight: $font-wt-regular;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
			.product-list-item {
				.name {
					a {
						font-weight: $font-wt-bold;
					}
					span {
						font-weight: $font-wt-bold;
						@include font-size(15px);
						font-style: $font-style-regular;
					}
				}
			}
		}
		.sku {
			padding-bottom: 23px;
			.value {
				font-weight: $font-wt-regular;
			}
		}
		.attribute {
			padding: 5px 0;
			@media only screen and (max-width: 767px) {
				padding: 5px 0 0;
			}
			.label,
			.value {
				width: 100%;
				display: block;
				@include line-height(20px);
				@include respond(large-up) {
					display: inline-block;
					width: auto;
				}
			}
			.label {
				font-weight: $font-wt-semibold;
			}
		}
	}
	.item-delivery-options {
		width: 50%;
		float: right;
		clear: right;
		padding-top: 20px;
		@include respond(large-up) {
			clear: none;
			float: none;
			padding: 30px 20px 0 0;
			width: 26.2711%;
		}
		.form-row {
			margin: 0;
			padding-bottom: 20px;
			&.no-padding {
				padding: 0;
				margin: 0;
			}
			&.home-delivery {
				.label {
					font-weight: $font-wt-semibold;
				}
				.radio + label {
					@include respond(large-up) {
						margin-left: 2%;
					}
				}
			}
			&.instore-delivery {
				.label {
					font-weight: $font-wt-semibold;
				}
				.label,
				.cart-availability-container {
					display: inline-block;
				}
			}
		}
	}

	.item-quantity-details {
		width: 13%;
		padding:16px 5px;
		.plus-minus-input{
			margin:0 0 11px;
		}
		input {
			width:44px;
			height:44px;
			text-align:center;
			display: inline-block;
			border: 1px solid #C6C8CA;
		}
		.btn-minus-qty,
		.btn-plus-qty{
			border:0;
			width:auto;
			padding:0;
			color:#323030;
			font-size:12px;
			background:none;
			line-height:44px;
		}
		
		.btn-minus-qty{ float:left;}
		.btn-plus-qty{ float:right;}
		
		.item-user-actions {
			display: inline-block;
			a,
			button {
				display: inline-block;
				@include font-size(13px);
				color: $color-primary;
				font-weight: $font-wt-regular;
				text-decoration: underline;
				text-transform: capitalize;
				&:hover {
					text-decoration: none;
				}
			}
			.wishlist-div {
				margin-top: 10px;
				display: none;
				@include font-size(12px);
			}
		}
		.item-user-actions {
			@include respond(large-up) {
				display: block;
			}
		}
		.selector {
			width: 65px !important;
		}
		.-qty {
			@include respond(large-up) {
				margin-left: 13px;
			}
		}
	}
	.item-price {
		width: 15.0847%;
		padding:29px 0;
	}
	.price-promotion {
		span {
			display: block;
		}
		.price-sales {
			color: $color-secondary;
		}
		.price-standard {
			text-decoration: line-through;
			font-weight: $font-wt-regular;
		}
	}
	.item-total {
		width: 13.1355%;
		padding:29px 16px;
		.price-unadjusted {
			span {
				text-decoration: none;
				font-weight: $font-wt-bold;
			}
		}
	}
	.price-unadjusted {
		color: $color-primary;
		display: block;
		margin: 0 0 0.42em;
		span {
			text-decoration: line-through;
			font-weight: $font-wt-regular;
		}
	}
	.price-adjusted-total {
		color: $color-secondary;
		display: block;
		span {
			color: $color-secondary;
			font-weight: $font-wt-bold;
		}
	}
	.gift-cert-delivery {
		color: $sangria;
	}
	tr.rowcoupons {
		background: $concrete;
		td {
			background: $concrete;
			padding: 20px 0;
			&.item-details {
				padding-left: 19px;
				width: 64%;
				float: none;
				display: table-cell;
				@include respond(large-down) {
					float: left;
					display: block;
				}
				.name {
					font-weight: $font-wt-semibold;
				}
			}
			&.item-total {
				padding-right: 19px;
				text-align: right;
				width: 36%;
				padding-left: 0;
				float: none;
				display: table-cell;
				@include respond(large-down) {
					float: right;
					display: block;
				}
				.bonus-item {
					font-weight: $font-wt-bold;
					display: block;
				}
			}
			.textbutton {
				background: none;
				display: inline;
				color: $color-primary;
				@include font-italic();
				@include font-size($font-size-sm);
				width: auto;
				height: auto;
				margin-top: 10px;
				text-align: right;
				margin-right: 0;
				padding-right: 0;
				@include line-height(13px);
				text-decoration: underline;
				display: block;
				float: right;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	td.cart-promo-bottom {
		background: $concrete;
		div {
			padding: 20px 19px;
			@include respond(large-up) {
				padding: 0 0 0 19px;
			}
		}
	}
}

.shipping-method-table,
#cart-table {
	.item-details {
		width: 21.1016%;
		.name {
			a {
				font-size:14px;
				font-weight:600px;
				line-height:20px;
				color: $color-primary;
				text-decoration: none;
			}
		}
		// Removes Edit Details Quickview link for handheld devices
		.item-edit-details {
			display: block;
			a {
				display: inline-block;
				margin: 0;
				font-style: italic;
				color: $color-primary;
				font-weight: $font-wt-regular;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
		.sku {
			padding-bottom: 23px;
			.value {
				font-weight: $font-wt-regular;
			}
		}
		.attribute {
			padding: 5px 0;
			@media only screen and (max-width: 767px) {
				padding: 5px 0 0;
			}
		}
		.product-option {
			color: #323030;
			font-size: 14px;
			font-weight:bold;
			line-height:17px;
		}
		.attribute,
		.recycle-fee {
			color: #323030;
			.label,
			.value {
				width: auto;
				display: inline-block;
			}
			.label{ font-weight:normal !important;}
			.value{ font-weight:bold;}
		}
	}
}

.cart-coupon-code {
	@include respond(large-up) {
		float: left;
		width: 60%;
	}
	input {
		width: calc(100% - 88px);
		float: left;
		text-transform: uppercase;
		@include respond(large-up) {
			width: 44.25%;
		}
	}
	button {
		float: left;
		margin-left: 11px;
		width: 77px;
		height: 40px;
		@include line-height(40px);
		&#update-cart {
			display: none;
		}
	}
	div.error {
		padding-top: 9px;
		display: block;
		clear: left;
		color: $color-secondary;
		font-weight: $font-wt-regular;
		@include font-size($font-size-xs);
		&.in-cart {
			color: $jewel;
		}
	}
	label {
		margin-bottom: 10px;
	}
}
#cart-items-form {
	#cart-table {
		tr {
			&.cart-row-btns{
				border-top: 0;
			}
		}
		thead {
			tr {
				border-top: 0;
			}
		}
		tbody {
			tr:first-child {
				border-top: 0;
			}
		}
	}
}

.order-totals-table {
	border-width: 1px;
	tr.cart-total{
		td{
			padding:3px 0 10px;
			border-bottom:solid 1px #F1F1F2;
		}
	}
	td {
		font-size:14px;
		padding: 15px 0 0;
		text-align: right;
		&:nth-child(odd) {
			width:57%;
			text-align: left;
			font-weight:normal;
		}
		&:last-child {
			font-weight: 600;
			font-size:13px;
		}
		@media only screen and (max-width: 767px) {
			border-bottom: solid 1px #e4eaee;
			padding: 15px 20px;
			&:last-child {
				font-weight: 400;
			}
		}
		&.value-less{
			color:#D63426;
		}
	}
	.order-totals-item {
		width: 60%;
	}

	.order-totals-value {
		width: 40%;
	}
	.order-discount {
		color: $color-secondary;
	}
	.order-total {
		td {
			border-top: solid 3px #e4eaee;
			padding: 25px 0 30px;
			@media only screen and (max-width: 767px) {
				border-top: solid 1px #e4eaee;
				padding: 15px 20px;
				font-weight: 600;
			}
		}
		@include respond(large-up) {
			@include font-size($font-size-mobile-h3);
		}
	}
	tr {
		border-bottom: none;
	}
}

.order-value {
	white-space: nowrap;
}

.cart-actions {
	@extend %clearfix;
	border: $border;
	border-top: 0;
	padding: 0 20px 20px 20px;
	.button-fancy-large {
		width: 100%;
	}
	@include respond(x-large) {
		/*width: 25.1525% !important;
	    box-sizing: border-box;
	    position: fixed;
	    right: 58px;
	    top: 430px;*/
	}
	@include respond(large-only) {
		padding-top: 40px;
		width: 100% !important;
		position: inherit;
	}
}

.cart-action-continue-shopping {
	float: right;
	button.button-text {
		display: inline-block;
		margin: 0;
		font-style: italic;
		color: $color-primary;
		font-weight: $font-wt-regular;
		text-decoration: underline;
		text-transform: capitalize;
		&:hover {
			text-decoration: none;
		}
	}
}

.cart-empty {
	clear: both;
	margin-top: 4rem;
	height: 350px;
	@media only screen and (max-width: 767px) {
		height: 100vh;
		padding: 0 50px;
	}
	h1 {
		text-align: center;
	}
	.cart-action-continue-shopping {
		float: none;
		text-align: center;
		margin-bottom: 4rem;
	}
	.product-listing {
		@extend %clearfix;
		background-color: $white-smoke;
		padding: 1rem 0;
		h2 {
			margin-left: 1.3rem;
		}
		.search-result-items {
			margin-top: 1em;
		}
	}
}

.promo-adjustment {
	color: $color-secondary;
	font-weight: $font-wt-regular;
}

ul.product-availability-list {
	margin: 0;
	padding: 0;
	width: 5em;
	//for IE
	width: max-content;
	li {
		list-style: none outside none;
	}
	.on-order,
	.not-available {
		color: $color-secondary;
		font-size: 0.9em;
	}
}

.account-welcome {
	.welcome-message {
		font-size: 1.2em;
		font-style: italic;
	}
	.not-user {
		margin: 0.83em 0;
	}
}

#password-reset {
	white-space: nowrap;
}

.cart-banner-container {
	text-align: center;
	padding-top: 30px;
	@include respond(large-up) {
		padding-top: 42px;
	}
}

.primary-content {
	.cart-title {
		padding: 20px 0;
		text-align: center;
		font-weight: $font-wt-bold;
		text-transform: uppercase;
		@include respond(large-up) {
			margin: 0;
			text-align: left;
			padding: 36px 0 30px 0;
			float: left;
			width: 50%;
			box-sizing: border-box;
		}
	}
}

.cart-actions-top {
	display: none;
	@include respond(large-up) {
		display: block;
		float: right;
		width: 50%;
		box-sizing: border-box;
		border: 0;
		padding: 30px 0 20px 0;
	}
	.cart-action-checkout {
		@include respond(large-up) {
			float: right;
			margin-left: 20px;
		}
	}
	.cart-action-continue-shopping {
		float: none;
		@include respond(large-up) {
			float: right;
		}
	}
	.button-fancy-large {
		@include respond(large-up) {
			width: 281px;
		}
	}
}

.cart-availability-container {
	margin-left: 0;
	@include respond(large-down) {
		position: absolute;
		bottom: 103%;
		left: 20px;
		right: 0;
	}

	ul {
		display: inline-block;
		color: #67bc00;
		font-style: italic;
		padding-right: 7px;
		width: auto;
		box-sizing: border-box;

		@include respond(large-down) {
			padding-right: 0;
		}

		li {
			margin-bottom: 0;
			display: inline-block;
			font-weight: 600;
			&.in-stock-msg {
				color: #67bc00 !important;
			}
		}
	}
	a {
		display: inline-block;
		font-style: normal;
		text-transform: lowercase;
		color: #788995;
		font-weight: 600;
		font-size: 12px;
		@include respond(large-down) {
			font-size: 12px;
			color: #ababb6;
		}
	}
}
.bonus-item-actions {
	a {
		@include font-size(11px);
	}
}

.set-preferred-store {
	font-style: italic;
	color: $color-primary;
	margin-left: 0;
	margin-top: 5px;
}

.mobile-show {
	display: block;
	padding: 0;
	margin: 0;
	@include respond(large-up) {
		display: none !important;
	}
}
.mobile-hide {
	display: none;
	padding: 0;
	margin: 0;
	@include respond(large-up) {
		display: block !important;
	}
}

.cart-footer-slot {
	padding-top: 20px;
	//padding-bottom: 20px;
	text-align: center;
	@include respond(large-up) {
		float: left;
		width: 66.1016%;
	}
}

.cart-line {
	display: none;
	@include respond(large-up) {
		clear: both;
		width: 100%;
		border-top: $border;
		display: block;
		padding-bottom: 0;
	}
}
#quickviewbutton {
	@media screen and (max-width: $tablet-breakpoint) {
		display: none;
	}
}
#QuickViewDialog {
	box-sizing: border-box;
	@include respond(large-up) {
		max-width: 1020px;
		padding: 30px 35px 10px;
	}
	&.ui-dialog-content {
		overflow: visible;
	}
	.quickview-full-details {
		@include font-size($font-size-subtext-below-title);
		@include line-height($font-size-sm);
		color: $crimson;
		margin-bottom: 13px;
		display: inline-block;
		width: auto;
	}
	.finder-product-answer-checks {
		width: 60%;
		float: left;

		li {
			width: auto;
			float: left;
			border: 1px solid $dark-gray;
			font-size: 12px;
			margin-bottom: -1px;
			margin-right: -1px;
			padding: 5px 5px;
			.fa-check-circle {
				color: $fruit-salad;
				font-size: 20px;
			}
			.fa-times-circle-o {
				color: $mirage;
				font-size: 20px;
			}
		}
	}
	ul {
		.finder-print {
			display: table-cell;
			position: relative;
			width: 37%;
			padding: 0px;
			a {
				text-transform: none;
				text-decoration: none;
				font-family: Gilroy;
				font-size: 16px;
				color: #787878;
				margin-top: 8px;
				float: left;
				margin-left: 6px;
			}
			&:before {
				content: url("../images/print.png");
				float: left;
			}
		}
	}
	.socialsharing {
		border-top: none;
		float: right;
		padding-top: 26px;
		margin-right: -35px;
		.social-icons {
			margin-right: 20px;
		}
		a {
			width: 30px;
			height: 30px;
			float: left;
			background: #e5173e;
			border-radius: 20px;
			margin-left: 8px;
		}
		i {
			font-size: 18px !important;
			color: white;
			padding: 5px 8px;

			&.fa-envelope-o {
				padding: 5px 6px;
			}
			&.fa-pinterest-p {
				padding: 7px 9px;
			}
		}
	}
	.pdp-delivery-wrapper {
		clear: both;
		text-align: center;
		label {
			font-size: 16px;
			padding-top: 20px;
		}
		.tooltip {
			top: 44px;
			right: 38px;
		}
		input {
			color: $summer-sky;
		}
	}

	.pdp-main {
		margin: 0;
		.add-to-cart-container {
			background: none;
			border: 0;
			padding: 0;
			margin: 0;
			max-width: 100%;
			width: 100%;
			float: left;
			padding-top: 25px;
			.detailsLink {
				text-decoration: none;
			}

			.inventory {
				@include respond(large-up) {
					max-width: 104px;
					width: 30%;
					display: none;
				}
			}
			button {
				@include respond(large-up) {
					width: 100%;
					border-radius: 0;
					max-width: 100%;
				}
			}
		}

		.update-content {
			width: 40%;
			float: left;
		}
		.top-bar {
			.product-price {
				padding-left: 20px;
				float: left;
			}
		}
		.product-add-to-cart {
			border: 0;
			padding: 0;
			margin: 0;
			.product-price {
				margin: 0;
				padding: 17px 0 28px 0;
				@include line-height(16px);
				.price-sales {
					font-weight: $font-wt-bold;
					color: $color-primary;
					@include font-size(16px);
				}
				.price-sales-more {
					&:before {
						width: 0;
						height: 0;
						margin: 0;
					}
				}
			}
			.price-standard {
				display: none;
			}
		}
		.read-more {
			display: none;
		}
	}
	.product-topbar {
		@include respond(large-up) {
			padding-bottom: 6px;
			border-bottom: none;
		}
	}
	.pdp-delivery-wrapper {
		button {
			display: none;
		}
	}

	.top-sec {
		width: 60%;
		float: left;
		margin-top: 10px;
		.quickview-rate {
			width: 54%;
			float: left;
		}
		.detailsLink {
			width: 34%;
			float: left;
			margin-top: 8px;
		}
	}
	.product-promo-content-area,
	.product-key-features,
	.product-number {
		display: none;
	}
	.product-col-1 {
		float: none;
		width: 100%;
		padding: 0;
		margin-top: 20px;
		box-sizing: border-box;
		@include respond(large-up) {
			width: 60%;
			float: left;
		}
		#amplience-main {
			border: 0;
		}
		#amplience-nav {
			.slick-list {
				margin: 0px;
			}
		}
	}
	.product-col-2 {
		float: none;
		width: 100%;
		border: 0;
		box-sizing: border-box;
		padding: 0;
		margin-top: 20px;
		@include respond(large-up) {
			width: 40%;
			float: right;
			padding-left: 20px;
		}
	}
	.product-content-container {
		width: 100%;
		border: 0;
		.product-variations {
			ul {
				&:first-child {
					padding: 0px;
				}
				.attribute {
					.label {
						label {
							color: #4a4a4a;
							font-weight: normal;
						}
					}
				}
			}
		}
		.product-variations,
		.product-options {
			width: 100%;
			margin-right: 0px;
			.attribute {
				.value {
					max-width: 100%;
					width: 100%;
					@include font-size(16px);
				}
				.label {
					label {
						color: #4a4a4a;
						font-weight: normal;
					}
				}
			}
			.tooltip {
				display: none;
			}
		}
		.qv-pricing {
			width: 100%;
			margin: -91px 0 20px;
		}
	}
	.mat-feature {
		p {
			line-height: 14px;
			font-size: 16px;
			margin-bottom: 15px;
		}
	}
	.availability-storepickup {
		padding-top: 50px;
		.in-stock-msg {
			padding-left: 5px;
		}
		.availability-web {
			background: none;
			padding: 0;
			margin: 0;
			label,
			p {
				float: left;
				line-height: 14px;
				font-size: 16px;
				margin-bottom: 15px;
			}
			i {
				display: none;
			}
			.value-message {
				float: left;
			}
			.availability-msg {
				float: left;
			}
			.not-available-msg {
				position: relative;
				top: -2px;
				margin: 0 5px;
			}
			.details {
				display: none;
			}
		}
		.availability-instore {
			padding: 0;
			margin: 0;
			background: none;
			label {
				display: none;
			}
			i {
				display: none;
			}
		}
		.set-preferred-store {
			margin-left: 0;
			a {
				@include font-size($font-size-regular);
				@include line-height($font-size-regular);
				font-style: italic;
				color: $color-primary;
			}
		}
		.availability-novariation {
			float: left;
			margin-left: 5px;
		}
	}
	.details {
		@include font-size($font-size-regular);
		@include line-height($font-size-regular);
		font-style: italic;
		color: $color-primary;
	}
	.pdp-comfort-scale-container {
		display: none;
	}
	.product-logo {
		display: none;
	}
}

.cart-recommendations {
	background-color: #fbfcfe;
	clear: both;
}

.cart-promo {
	.bonus-item-details {
		padding-top: 10px;
		@include font-bold();
		@include font-size($font-size-regular);
		color: $color-secondary;
		@include respond(large-up) {
			float: left;
		}
		a {
			@include font-italic();
			color: $color-primary;
		}
	}
	.bonus-item-actions {
		text-align: center;
		padding: 10px 0;
		@include respond(large-up) {
			float: right;
			padding-top: 0;
			padding-bottom: 20px;
		}
	}
	.select-bonus {
		height: 36px;
		line-height: 36px;
		@include font-bold();
		@include font-size($font-size-regular);
		display: block;
		padding: 0 20px;
		text-decoration: none;
		box-sizing: border-box;
		&:hover {
			//background-color: $concrete;
		}
		&.select-bonus-another {
			text-align: center;
			@include respond(large-up) {
				margin-top: 25px;
				text-align: center;
				max-width: 195px;
				box-sizing: border-box;
			}
		}
	}
}

#bonus-product-dialog {
	box-sizing: border-box;
	@include respond(large-up) {
		max-width: initial;
		width: auto !important;
		overflow: hidden !important;
		padding-top: 15px;
	}
	#bonus-product-list {
		display: inline-flex;
		@include respond(large-down) {
			display: block;
			padding-top: 0px;
		}
		@include respond(large-up) {
			width: auto;
			margin-top: 0px;
		}
		.promotion {
			position: absolute;
			border: none;
			border-top: 1px solid #979797;
			width: 92%;
			padding-top: 15px;
			.variant-text {
				font-weight: 600;
				@include respond(large-down) {
					font-weight: 600;
				}
			}
			@include respond(large-down) {
				border: none;
				position: inherit;
			}
		}
		.bonus-product-item {
			margin-top: 50px;
			display: block;
			border: 0px;
			@include respond(large-down) {
				margin-top: 0px !important;
				margin-bottom: 50px;
				border: 1px solid grey;
			}
			.product-col-2 {
				width: 100%;
				margin-left: 20px;
				@include respond(large-down) {
					width: 86%;
				}
				.product-name {
					@include respond(large-down) {
						font-weight: 600;
						font-size: 16px;
					}
				}
			}
		}
		.bonus-product-list-footer {
			position: absolute;
			bottom: 10px;
			left: 15px;
			@include respond(large-down) {
				bottom: 30px;
			}
			.bonus-product-thanks {
				float: right;
				@include respond(large-down) {
					text-align: center;
					width: 100%;
				}
				.bonus-product-thanks-class {
					font-weight: bold;
				}
			}
		}
	}
	.promotion {
		background: none;
		padding: 15px 0 3px 0;
		margin: 0;
		border-bottom: $border;
		.promotion-popup-name {
			@include font-bold();
			@include font-size($font-size-regular);
			padding: 0;
			margin: 0;
		}
	}
	.ui-dialog-content {
		p {
			margin: 0;
		}
	}

	.product-col-1 {
		width: 61.3333%;
		padding: 20px 0 0 0;
		margin: 0;
		.col-1 {
			.amplience-viewer {
				ul {
					li {
						height: 180px;
						img {
							width: 184px;
						}
					}
				}
			}
		}
		@include respond(large-up) {
			width: 61.3333%;
			float: left;
		}
		.amplience-main {
			li {
				margin: 0;
				float: left;
				@include respond(large-down) {
					margin: 1px;
				}
			}
		}
	}
	.product-col-2 {
		width: 100%;
		padding: 0px 0 30px 0;
		margin: 0;
		@include respond(large-up) {
			width: 59.1614%;
			box-sizing: border-box;
			float: right;
			padding-right: 23px;
		}
		.product-name {
			margin: 0;
			height: 36px;
			@include block-price-text();
			font-weight: $font-wt-regular;
		}
		.product-number {
			display: none;
		}

		ul {
			padding: 0 0 18px;
		}
		.attribute {
			margin: 0 0;
			padding: 0px 0 5px 0;
			.label {
				margin: 0;
				padding-bottom: 0;
				label {
					color: #4a4a4a;
					font-weight: normal;
				}
			}
			.information-icon {
				display: none;
			}
			.selector {
				width: 100%;
				max-width: 213px;
			}

			.selected-attr-value {
				padding: 0 0 0 5px;
			}
			.value {
				padding-right: 0;
				width: 100%;
			}
		}
		.product-price {
			padding-bottom: 11px;
			margin: 0;
			@include font-size(14px);
			color: $color-primary;
			line-height: 1;
			float: left;
			width: 100%;
			@include respond(large-down) {
				padding-bottom: 0px;
			}
		}
		.product-add-to-cart {
			overflow: inherit;
			margin-bottom: 5px;
			float: left;
			width: 100%;
			button {
				float: left;
				width: 200px;
				height: 35px;
				font-size: 14px;
				font-weight: 600;
				line-height: normal;
				@include respond(large-up) {
					width: 150px;
				}
			}
		}
		.display-name {
			font-weight: normal;
		}

		p,
		del {
			float: left;
			width: 100%;
			line-height: 1;
			color: #4a4a4a;
			font-weight: normal;
			@include respond(large-down) {
				width: auto;
			}
		}

		p {
			color: #e5173e;
		}

		.bonus-price-modal {
			@include respond(large-down) {
				margin-left: 20px;
			}
		}
		.product-add-to-cart {
			border: 0;
			padding: 0;
			@include respond(large-down) {
				display: none !important;
			}
		}

		.quantity-part {
			float: left;
			width: 100%;
			.bonus-product-features {
				list-style: disc;
				padding: 15px 0 0 15px;
			}
		}
		.product-add-to-cart-mobile {
			width: 100%;
			display: block !important;
			.add-to-cart-bonus {
				width: 100%;
				margin-top: 10px;
			}
			@include respond(large-up) {
				display: none !important;
			}
		}

		.inventory {
			float: left;
			width: 100%;
			max-width: 213px;
		}
		.select-bonus-item {
			clear: left;
			float: left;
			width: 100%;
			max-width: 213px;
		}
		.product-variations {
			max-width: 250px;
			float: left;
			margin-bottom: -15px;
			.tooltip {
				display: none;
			}
		}
	}
	.bonus-product-list-footer {
		border: 0;
		padding: 0;
		margin: 0;
		@include respond(large-up) {
			width: 100%;
			box-sizing: border-box;
			float: right;
		}
		.item-attributes {
			li {
				margin: 0;
				padding: 0;
				.display-name {
					font-weight: $font-wt-semibold;
				}
			}
		}
		.remove-link {
			color: $color-secondary;
			text-transform: $font-style-italic;
			position: relative;
			left: 0;
			text-decoration: none;
			margin-left: 10px;
		}
		.add-to-cart-bonus {
			width: 100%;
			@include respond(large-up) {
				max-width: 213px;
				float: left;
			}
		}
		.add-to-cart-bonus-container {
			@include respond(large-up) {
				padding-top: 19px;
				clear: both;
				float: right;
				width: 59.1614%;
			}
			&.active {
				border-top: $border;
				padding-left: 40.8386%;
			}
			.bonus-product-thanks {
				float: right;
				@include respond(large-up) {
					float: right;
					width: 81px;
					min-height: 1px;
				}
				.continue {
					color: $color-primary;
					@include line-height(36px);
					font-style: $font-style-italic;
					float: right;
				}
			}
		}
		.bonus-product-summary {
			@include respond(large-up) {
				width: 100%;
				float: left;
			}
			.selected-bonus-items {
				@include respond(large-up) {
					width: 53.7614%;
					padding-right: 47px;
					box-sizing: border-box;
				}
			}
		}
		.selected-bonus-item {
			margin: 29px 0;
			padding: 0;
			@include respond(large-up) {
				margin: 19px 0;
			}
			.item-name {
				font-weight: $font-wt-regular;
			}
		}
	}
}

#cart-recommendations {
	padding-top: 38px;
	@include respond(large-up) {
		padding-top: 37px;
	}
	li {
		border: $border;
		@include respond(large-up) {
			margin: 0 10px;
		}
	}
	.slick-arrow {
		&.slick-prev {
			@include respond(large-up) {
				left: 30px;
			}
		}
		&.slick-next {
			@include respond(large-up) {
				right: 30px;
			}
		}
	}
}

.ui-dialog {
	box-sizing: border-box;
	@include respond(large-down) {
		width: 93.75% !important;
	}
	&.add-to-cart-intercept-dialog {
		@include respond(large-down) {
			width: 100% !important;
			top: 60px !important;
		}
		.ui-dialog-titlebar {
			@include respond(large-down) {
				border-bottom: 1px solid #e7e7e9;
				border-top: 1px solid #e7e7e9;
			}
			.ui-dialog-title {
				@include respond(large-down) {
					border: none;
				}
			}
			.ui-dialog-titlebar-close {
				@include respond(large-down) {
					top: 18px;
					right: 5px;
				}
			}
		}
	}
	&.bonus-product-popup {
		@include respond(large) {
			min-width: 390px;
		}
		.ui-dialog-titlebar-close {
			@include respond(large) {
				top: 5px;
			}
		}
		.ui-dialog-titlebar {
			height: auto;
		}
		.ui-tooltip {
			display: none !important;
		}
		.ui-dialog-title {
			@include font-size(17px);
			border: 0;
			padding-top: 11px;
			@include respond(large-up) {
				margin: 0;
				padding: 13px 0 4px 0;
				@include font-size(20px);
			}
		}
		.inventory {
			display: none;
		}
	}
}
.pt_cart {
	.error-form {
		margin: 0 0 10px 0;
		padding: 0;
		.error-form-inside {
			border: 1px solid $coral-candy;
			background: $wisp-pink;
			padding: 15px;
			text-align: center;
			@include font-size($font-size-xs);
		}
	}
}

.quickview-popup {
	overflow: visible;
	.qv-pricing {
		.label.qv,
		.price-sales {
			font-size: 24px !important;
			color: $fruit-salad !important;
		}
		&.price-sales-more {
			&:before {
				display: none;
			}
		}
		.label.qvreg,
		.stand-price {
			font-size: 16px !important;
			color: $mirage !important;
			font-weight: normal;
		}
		.strik {
			text-decoration: line-through;
		}
	}
	.quickview-nav {
		position: absolute;
		left: -48px;
		right: -48px;
		top: 50%;
		.quickview-next,
		.quickview-prev {
			float: right;
			background-color: $white;
			height: 82px;
			padding: 0;
			width: 48px;
			border-radius: 0;
			&.next-btn {
				float: left;
			}
			.fa {
				@include font-size(62px);
				color: $mirage;
				margin-top: 5px;
			}
		}
	}
	.product-name-container {
		.manu-name {
			@include respond(large-up) {
				@include font-size(19px);
				color: $mirage;
			}
		}
		h1 {
			@include font-size(26px);
			color: $night-rider;
			line-height: 27px;
		}
		.link-without-underline {
			text-decoration: none;
		}
	}
	.detailsLink {
		text-decoration: none;
	}
	.amp-zoom-overflow {
		height: 471px;
	}

	.pdp-main {
		.product-col-2 {
			.qv-pricing {
				.price-sales-more {
					&:before {
						display: none;
					}
				}
			}
			.qv-pricing-range {
				.product-sales-price {
					font-size: 24px;
					&:before {
						display: none;
					}
				}
				.product-standard-price {
					font-size: 24px;
				}
				.has-sale-price {
					font-size: 16px;
				}
			}
		}
	}
}

.cart_suggestions_label {
	padding: 15px;
	@include respond(large-down) {
	}
	@include respond(medium) {
		padding: 15px 0;
	}
}

.suggextions-area {
	display: flex;
	flex-wrap: nowrap;
	box-sizing: border-box;
	justify-content: space-between;
	@media only screen and(max-width:991px) {
		margin: 0 -1.5%;
		flex-wrap: wrap;
		padding: 0;
		justify-content: space-between;
	}

	.suggestion-col {
		width: 32%;
		box-sizing: border-box;

		@media only screen and(max-width:991px) {
			flex-basis: 50%;
			padding: 0 1.5%;
			margin: 0 0 20px;
		}
	}

	.cart_suggestions {
		width: 100%;
		padding: 10px 10px 20px;
		box-sizing: border-box;
		border: 1px solid #c6c8ca;
		box-sizing: border-box;
		border-radius: 3px;
		.cart_suggestions_image {
			width: 55%;
			margin: auto;
		}
		.cart_suggestions_name {
			margin: 0px 0 20px;
			position: relative;
			a {
				text-decoration: none;
				font-weight: 600;
				font-size: 13px;
			}

			.size-area {
				color: #788995;
				font-size: 12px;
				padding: 0 15px 0 0;
				position: absolute;
				bottom: 0;
				right: 15px;
				font-weight: 600;

				span {
					text-decoration: underline;
				}

				&:after {
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					top: 6px;
					right: 0;
					position: absolute;
					pointer-events: none;
					border-color: rgba(120, 137, 149, 0);
					border-top-color: #788995;
					border-width: 5px;
					margin-left: -4px;
				}
				@include respond(large-down) {
					bottom: -15px;
					margin-right: 43px;
				}
				@include respond(small-updated) {
					margin-right: 24px !important;
				}
				@include respond(x-small) {
					margin-right: 50px;
				}
			}
		}
		.cart_suggestions_price {
			font-weight: 600;
			margin: 0px 0px 10px;

			@include respond(medium) {
				display: inline-flex;
			}

			.cart_suggestions_financing {
				font-weight: normal;

				span {
					padding: 0 2px;
				}
			}
		}
		.cart_suggestions_addtocart {
			.cart_suggestions_addtocart_button {
				background-color: black;
				margin: auto;
				margin: auto;
				display: block;
				width: 100%;
				border-radius: 5px;
				padding: 0 10px;
			}
		}
	}
}
