/* Faiz code here 08-07-19 */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.inventory-search-result{
    #zipcode-success{
        width:26px;
        height:26px;
        margin:5px 0 0 12px;
        vertical-align:top;
        display: inline-block;
        background:url(../images/Check-Mark.svg) no-repeat;
        background-size: 100%;
    }
    #zipcode-error{
    	width:268px;
    }
    .msg-required{
        font-size:12px;
        line-height:12px;
        padding:1px 0 23px;
        em{ font-style: normal;}
    }
    .zipcode-field{
        overflow: hidden;
        padding:0 0 32px;
        border-bottom:1px solid #c6c8ca;
        label{ margin:0 0 9px;}
        input[type="text"],
        input[type="number"]{
            width:236px;
            padding:0 9px;
            &.error{
            	border-color:#D63426;
            }
        }
    }
    .prdct-search{
    	z-index:20;
    	position:relative;
        padding:32px 0 32px;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        label{
            font-size:26px;
            line-height: 32px;
            font-family:$g-bold;
        }
        form {
            width:293px;
            position: relative;

            input[type="text"] {
                padding: 0 60px 0 20px;
                height: 44px;
                border-color:#C6C8CA;
            }

            button {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                color: #C6C8CA;
                border-radius: 0;
                background-color: transparent;
                border-left: 1px solid #C6C8CA;

                img {
                    opacity:0.4;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 50%;
                    right: 13px;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }
        }
    }
    
    .search-holder{
        overflow: hidden;
        margin:0 0 70px;
        #quick-inventry-search{
            width: 276px;
            border-radius: 5px;
            height: 48px;
        }
    }
    
    .search-results{
        overflow: hidden;
        margin:0 0 22px;
        h2{
            margin:0 0 24px;
        }
    }
    .scrollable{
        padding:0;
        list-style:none;
        margin:0 -1.2%;
        &.size{
            height:auto;
        }
        &.brands{
        	height:auto;
            max-height:380px;
            label{
                height:106px;
                svg{
                    width:100%;
                    display:block;
                    z-index:2;
                    position:relative;
                }
                &.selected{
                    svg path{
                        fill:#fff;
                    }
                }
            }
        }
        label{
            padding:10px 15px;
            height: 141px;
            width: 22.2%;
            position:relative;
            text-align:center;
            border-radius: 5px;
            box-sizing: border-box;
            margin:0 1.2% 20px;
            display:inline-block;
            vertical-align:top;
            @media (max-width:699px){
                width: 30.4%;
            }
            @media (max-width:479px){
                width: 47%;
            }
            &.selected{
                .fake-label{border: 2px solid #323030;}
                .fake-input.radio{
                    border-color:#323030;
                    &:before{opacity:1;}
                }
                .fake-label.chk{
                    color:#fff;
                    background:#323030;
                }
            }
        }
        input[type="radio"],
        input[type="checkbox"]{
            position:fixed;
            left:0;
            top:0;
            opacity:0;
            z-index: -1;
        }
        .fake-input{
            top:15px;
            left:15px;
            display: inline-block;
            width:15px;
            height:15px;
            border: 1px solid #C6C8CA;
            background:#fff;
            vertical-align: middle;
            position: absolute;
            margin-right: 5px;
        }
        .fake-label{
            top:0;
            left:0;
            right:0;
            bottom:0;
            position:absolute;
            border: 1px solid #C6C8CA;
            border-radius: 5px;
        }
        .fake-input.radio{border-radius:100%;}
        .fake-input.radio:before{
            content:'';
            position: absolute;
            top: 4px;
            right: 4px;
            bottom: 4px;
            left: 4px;
            background: #323030;
            border-radius:100%;
            opacity: 0;
        }
        input[type="checkbox"]:checked ~ .fake-label{
            color:#fff;
            background:#323030;
        }
        input[type="checkbox"]:checked ~ svg path{
            fill:#fff;
        }
        .title{
            display:block;
            font-size:16px;
            font-weight:bold;
            line-height:20px;
            text-transform:uppercase;
        }
        .size{
            display:block;
            font-size:14px;
            font-weight:300;
            line-height:16px;
            text-transform:uppercase;
        }
        .div-table{
            width:100%;
            height:100%;
            display:table;
        }
        .div-cell{
            display:table-cell;
            vertical-align:middle;
        }
    }
}

.pt_product-search-result .primary-content h1.content-header {
	padding-left: 15px;
}

.pt_content-search-result,
.pt_product-search-noresult {
	.primary-content {
		>h1,
		>h2,
		>p {
			margin: 0;
			padding: .1em 1%;
		}
		.pagination {
			float: none;
			padding: .1em 1%;
		}
	}
}


.category-main-banner img {
	max-width: 100%;
}

.no-hits-search-term,
.no-hits-search-term-suggest {
	color: $color-secondary;
	text-transform: uppercase;
	@include font-semibold();
}

.search-result-bookmarks {
	margin: 15px;
	.first {
		border-right: 1px solid $nobel;
		padding-right: 5px;
	}
}

.search-result-content {
	margin-top: 20px;
	@include respond(large-up) {
		margin-top: 0;
	}
}

.search-result-content {
	&.wide-tiles {
		.product-name-long {
			left: 0px;
		}
	}
}

.search-promo {
	padding: 20px;
}

#results-content {
	background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;
	padding-top: 30px;
}

.folder-content-list {
	align-items: stretch;
	clear: both;
	display: flex;
	flex-wrap: wrap;
	padding: .5em 1%;
	li {
		background-color: $white-smoke;
		border: 1px solid $very-light-gray;
		flex-basis: 100%;
		flex-grow: 1;
		list-style-type: none;
		margin: .25rem;
		padding: 1rem;
		@media screen and (min-width: 480px) {
			flex-basis: 40%;
		}
	}
	p {
		line-height: 1.1rem;
	}
	.content-title {
		display: block;
		font-size: 1.2em;
	}
	.readmore {
		font-style: italic;
		padding-left: .3rem;
	}
}

.no-results {
	margin: 0 auto;
	overflow: hidden;
	padding: 20px;
	position: relative;
  text-align: center;
	width: 366px;
	@include respond(large-down) {
		width: auto;
	}
}

h5.no-results__title {
	color: #1b2125;
	font-family: Gilroy;
	font-size: 24px;
	font-stretch: normal;
	font-style: normal;
	font-weight: 600;
	height: auto;
	letter-spacing: normal;
	line-height: normal;
	margin: 9px 0 0;
}

p.no-results__para {
	color: #1b2125;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
	margin: 8px 0;
	padding: 0;
}

.filters-title-and-clear {
	list-style-type: none;
}

.clear-all-filters > span {
	color: #d63426;
	margin-top: 14px;
	text-decoration: underline;
}

button.no-results__button {
	border-radius: 3px;
	display: block;
	margin: 28px auto 10px;
}

a.no-results__href {
	color: #d63426;
	font-size: 12px;
	text-decoration: underline;
	vertical-align: middle;
	margin-left: 6px;
	line-height: 1;
	list-style-type: none;

	&:hover {
		text-decoration: none;
	}
}

.no-results-filters {
	border-bottom: 2px solid #d63426 !important;
}

.no-results-filters .filters-title-and-clear {
	padding: 0 0 5px 0;
}

.no-results-filters .filters-title-and-clear h3 {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    font-family: "Gilroy Semibold", "Arial", sans-serif;
    line-height: 1;
    font-weight: 400;
}

.no-results-filters .filters-title-and-clear a {
    color: #d63426;
    font-size: 12px;
    text-decoration: underline;
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    line-height: 1;
}

.no-results-filters {}

.toggle-grid {
	display: block;
	float: left;
	margin-right: 0.5em;
	.toggle-grid-one {
		background-image: url('../images/interface/sprite.png');
		background-repeat: no-repeat;
		display: inline-block;
		width: 40px;
		height: 40px;
		margin-right: 10px;
		cursor: pointer;
	}
	[data-option="column"] {
		background-position: -165px -205px;
	}
	[data-option="wide"] {
		background-position: -215px -205px;
		opacity: 0.17;
	}
	&.wide {
		[data-option="wide"] {
			opacity: 1;
		}
		[data-option="column"] {
			opacity: 0.17;
		}
	}
}

.shop-mattresses, .shop-mattress-comfort, search-result-items {
	h2 {
		font-weight: bold !important;
	}
	.product-price {
			height: 75px;
	}
	.clp-product-reviews {
		@include respond(large) {
			position: fixed;
		    bottom: 0px;
		    text-align: center;
		    width: 210px;
		    margin-bottom: 0px !important;
		}
		@include respond(large-down) {
			position: fixed;
			bottom: -4px;
			width: 350px;
		    text-align: center;
		    margin-bottom: 0px !important;
		}
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none), (-ms-accelerator: true) {
			position: absolute;
			bottom: -85px;
		}
	}
	.product-tile {
		border: none !important;
		.product-name {
			margin-bottom: 0px;
			.name-link {
				color: black;
				&:hover {
					color: #d63426;
				}
			}
		}
	}
	.product-listing {
		border: none;
	}
	.slick-slider.recs-slider {
		.slick-arrow {
			background: white url('../images/Arrow_Dark.svg') no-repeat center center !important;
			background-color: transparent !important;
			opacity: 1;
		}
	}
	.slick-prev {
		@include respond(large) {
			margin-left: -22px;
		}
	}
	.slick-next {
		@include respond(large) {
			margin-right: -22px;
		}
	}
}
.search-result-items.recs-slider {
	.clp-product-reviews {
		text-align: center;
	}
}
.search-result-items {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin-left: -10px;
	margin-right: -10px;
	list-style: none;

	&.slick-slider {
		margin: 0 auto !important;
	}

	li.grid-tile {
		box-sizing: border-box;
		width: percentage(1/3);
		padding: 10px;

		@include breakpoint(medium down) {
            width: 50%;
		}
	}

	.product-tile {
		display: flex !important;
		flex-wrap: wrap;
		width: 100%;
		border-bottom: 1px solid $medium-gray;
	}

	.product-image {
		width: 100%;
	&:hover {
		.hover_front {display: none;}
		.hover_back {display: block;}
	}
	.hover_front {display:block;}
	.hover_back {display: none;}
		.thumb-link {
			display: block;
		}
	}

	.product-tile-one {
		width: 100%;
		padding: 10px 10px 25px 10px;
		text-align: left;
	}
	.clp-product-reviews {
	    width: 100%;
	    margin-top: 10px;
	    margin-bottom: 0px !important;
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none), (-ms-accelerator: true) {
			position: inherit;
		}
	}
	.product-compare-wrapper {
		min-height: 30px;
		    .product-compare {
			    display: none;
			    @include respond(large-up) {
				    margin-left: 10px;
				    display: block;
				    position: absolute;
				    bottom: 20px;
			   }
			   .field-wrapper {
			    @include respond(large-up) {
				     padding: 0;
				     margin: 0;
			    }
		   }
		     label {
			     @include respond(large-up) {
				     margin: 0;
				     padding: 0;
				     color: $color-primary;
				     font-size: $font-size-sm;
				     position: relative;
				     top: 3px;
				}
			}
		}
	}
	.product-promo {
		height: 20px;
		overflow: hidden;

		.promo {
			margin: 0;
			@extend .p2;
			font-family: $g-semibold;
			color: $red;
			text-transform: uppercase;

			@include breakpoint(400px down) {
				font-size: 12px;
			}
		}
	}

	.product-name {
		margin-top: 10px;
		margin-bottom: 20px;
		height: auto;
	}

	.name-link {
		$font-size: 15px;
		$line-height: 1.25;
		color: $charcoal;
		font-family: $g-semibold;
		text-decoration: none;

		@include breakpoint(medium up) {
			$lines-to-show: 2;
			@include multi-line-ellipsis($font-size, $line-height, $lines-to-show);
		}

		@include breakpoint(small down) {
			$lines-to-show: 3;
			@include multi-line-ellipsis($font-size, $line-height, $lines-to-show);
		}
	}

	.product-name-long,
	.product-text-hover {
		display: none;
	}

	.product-pricing {
		position: relative;
		margin: 0 0 20px;
		padding-top: 28px;
		height: 34px;
		font-family: $g-regular;
		font-size: 14px;
		line-height: 14px;

		span {
			@include breakpoint(450px down) {
				font-size: 12px !important;
				line-height: 12px !important;
			}
		}

		@include breakpoint(374 down) {
			* {
				font-size: 12px !important;
				line-height: 12px;
			}
		}

		.product-standard-price,
		.percentageDiscount,
		.product-financing-custom {
			margin: 0;
			color: $charcoal;
		}

		.product-sales-price,
		.product-financing-custom,
		.product-sales-price.mattress-firm {
			position: absolute;
			left: 0;
			width: 100%;
		}

		.product-sales-price.mattress-firm {
			top: 5px;
		}

		.no-sale-price {
			position: relative !important;
			top: 0 !important;
		}

		.product-financing-custom {
			bottom: 0;
		}

		.product-sales-price {
			font-family: $g-semibold;
		}

		@include breakpoint(medium down) {
			padding-top: 26px;
			height: 52px;

			.product-standard-price,
			.percentageDiscount {
				display: block !important;
				width: 100%;
				padding: 0;
			}

			.product-standard-price {
				padding-bottom: 5px !important;
			}
		}
	}

	.product-financing-msg {
		line-height: 18px;
	}

	.clp-product-reviews {
		margin-bottom: 10px;
	}
}
.search-result-content.wide-tiles {
	.search-result-items .grid-tile {
		width: 100% !important;
		margin-left: 0;
	}
	.grid-tile {
		@include respond(large-up) {
			margin-left: 0;
		}
	}
	.product-tile {
		.product-name {
			@include respond(large-up) {
				padding-left: 0;
			}
			float: none;
		}
		.product-pricing {
			@include respond(large-up) {
				padding-left: 0;
				margin-bottom: 10px;
			}
			.product-sales-price {
				bottom: auto;
			}
		}
		.product-image {
			@include respond(large-up) {
				padding: 4px;
				width: 31.8181%;
				float: left;
				box-sizing: border-box;
			}
		}
		.product-tile-one {
			@include respond(large-up) {
				float: left;
				width: 67.6819%;
				padding: 0 10.11363% 0 2.2727%;
				box-sizing: border-box;
				min-height: 215px;
			}
		}
		.product-description {
			display: block;
			clear: both;
			@include font-size($font-size-sm);
			color: $color-primary;
			text-align: left;
			padding: 5px 0;
			li {
				list-style: disc;
				margin-bottom: 3px;
				display: list-item;
			}
		}
		.product-compare {
			margin-left: 300px;
		    bottom: 26px;
		    position: inherit;
		}
		.product-review {
			@include respond(large-up) {
				padding-left: 0;
			}
		}
		.clp-product-reviews {
			clear: both;
			@include respond(large-up) {
				padding: 10px 0 0;
				margin-bottom: 15px;
			}
		}
	}
	.comfort-level {
		position: relative;
		left: -10px;
		margin-top: 14px;
		width: 75%;
		@include respond(x-large) {
			width: 50%;
		}
	}
	.product-promo {
		padding-left: 0;
		height: auto;
		float: none;
		padding-bottom: 10px;
	}
}

.search-result-content {
	&.wide-tiles {
		#search-result-items {
			.product-tile {
				.product-key-features-plp {
					display: none !important;
					@include respond(x-large) {
						color: #333;
						display: block !important;
						position: absolute;
						left: 65%;
						top: 90px;
						text-align: left;
					}
					.paragraph-head {
						margin-bottom: 0;
						font-size: .875rem;
						line-height: 1.3125rem;
						margin-top: 0;
						font-family: 'Gilroy Semibold', Arial, sans-serif;
					}
					ul {
						list-style-type: none;
						display: list-item;
						margin: 2px 0 5px 15px;
						text-indent: 0;
						padding-left: 0;
						font-size: .875rem;
					}
					li {
						margin-bottom: 0;
						list-style: none;
						display: list-item;
						text-indent: -5px;
						&:before {
							content: '-';
							padding-right: 5px;
						}
					}
				}
			}
		}
	}
}
.pt_product-search-result, .pt_product-details, .pt_cart, .pt_checkout_body, .pt_checkout {
	@include respond(large-down) {
		.header-top-new {
			display: none;
		}
	}
}
.pt_checkout_body, .pt_checkout {
	.header-top-new {
		display: none;
	}
}
.pt_product-search-result {
	.header-top-new ~ .header-countdown ~ #main {
		#secondary.refinements.sticky {
			top :135px;
			height: calc(100vh - 145px);
		}
	}
	.header-top-new ~ .header-top-promo ~ #main {
		#secondary.refinements.sticky {
			top :135px;
			height: calc(100vh - 145px);
		}
	}
}
#secondary.refinements {
	background: $body-bg-color;
	border: 0;
	margin: 0;
	@include respond(large-up) {
		width: 280px;
	}
	@include respond(large-only) {
		width: 236px;
	}

	// begin filter section geolocation-wrapper
	&.sticky {
		.geolocation-wrapper .previous-location #geo-zip-form #plp-customer-zip {
			width: 145px;
		}
	}
	@include respond(large) {
		.plp-geo-container.desktop { display: block;}
		.plp-geo-container.mobile { display: none;}
	}
	@include respond(large-down) {
		.plp-geo-container.desktop { display: none;}
		.plp-geo-container.mobile { display: block;}
	}
	@media only screen and (min-width:768px) and (max-width:1023px) {
  		.plp-geo-container.desktop { display: none;}
    }
	// geo location wrapper for mobile
	.geolocation-wrapper-mobile {
		@include respond(large) {display: none;}
			display: flex;
    		padding: 10px 15px !important;
		.geo-main-wrapper.desktop-plp {
			margin: 0px;
			img {
				left: -10px;
			}
			.delivery-heading {
				font-size: 14px;
			    font-weight: 800;
			    width: auto;
			    margin-top: 15px;
			    margin-left: -10px;
			    @media only screen and (min-width:768px) and (max-width:1199px) {
			  		margin-top: 8px;
			    }
			}
			.delivery-text  {
				display: none;
			}
		}
		.delivery-shipping {
			line-height: 3.5;
		    position: absolute;
		    right: 20px;
		    @media only screen and (min-width:768px) and (max-width:1199px) {
		  		line-height: normal;
			    left: 60px;
			    top: 38px;
		    }
		    .delivery-address {
		    	display: none;
		    }
		    .delivery-zip {
		    	display: inline-block;
				font-size: 14px;
   				font-weight: 800;
   				margin-right: 10px;
		    }
		}
		.previous-location {
			.geo-main-wrapper-change {
				margin-bottom: 18px;
				img {
					position: relative;
	    			left: -5px;
				}
				.delivery-heading {
					display: inline-block;
					width: 200px;
					margin-top: 8px;
					font-size: 18px;
					font-weight: 800;
				}
				.delivery-text {
					display: inline-flex;
					font-size: 12px;
					font-weight: normal;
				}
			}
		}
	}
	.geolocation-wrapper {
		@include respond(large-down) {
			display: none;
		}
	}
	// geo location wrapper for desktop
	.geolocation-wrapper, .geolocation-wrapper-mobile {
		padding: 25px 15px;
		margin-bottom: 20px;
		border-radius: 8px;
		background-color: #f1f1f2;
		.geo-main-wrapper {
			margin-bottom: 18px;
			img {
				position: relative;
    			left: -5px;
			}
			.delivery-heading {
				display: inline-block;
				width: 175px;
				margin-top: 8px;
				font-size: 18px;
				font-weight: 800;
			}
			.delivery-text {
				display: inline-flex;
				font-size: 12px;
				font-weight: normal;
			}
		}
		.delivery-shipping {
			 display: inline-block;
			.delivery-address {
				font-size: 14px;
				font-weight: 800;
			}
			.delivery-zip {
				@include respond(large) {
					display: none;
				}
			}
			.btn-change {
				text-decoration: underline;
				display: inline-block;
			}
		}
		.previous-location {
			.error-message {
				width: auto;
			    font-size: 12px;
			    color: #d63426;
			    margin-left: 3px;
			}
		}
		.previous-location {
			border-radius: 8px;
			background-color: #f1f1f2;
			#geo-zip-form {
				.location-img {
					height: 17px;
						width: 15px;
						position: relative;
						left: 17px;
						top: 12px;
				}
				#plp-customer-zip-mobile {
					width: 180px;
				}
				#plp-customer-zip, #plp-customer-zip-mobile {
					width: 160px;
					height: 40px;
					border-radius: 4px;
					border: solid 1px #323030;
					padding-left: 35px;
					margin-left: -18px;
					background-color: #ffffff;
					font-size: 12px;
					font-weight: normal;
					@media only screen and (min-width:768px) and (max-width:1199px) {
						width:115px;
					}
				}
				.btn-update-plp, .btn-update-plp-mobile {
					width: 80px;
					padding: 0px;
					font-size: 12px;
					line-height: 1;
					vertical-align: top;
					height: 40px;
					border-radius: 4px;
					background-color: #d63426;
				}
			}
			.zip-update-text {
				font-size: 12px;
					font-weight: 300;
					margin: 15px 0;
					padding-bottom: 15px;
					line-height: 1.42;
					border-bottom: solid 2px #979797;
			}
			.previous-links {
				font-size: 16px;
					font-weight: 800;
			}
			.previous-link-wrapper {
				padding-left: 15px;
					padding-bottom: 15px;
					margin-bottom: 15px;
					border-bottom: solid 2px #979797;
				a {
					color: #d63426;
					font-size: 12px;
					font-weight: normal;
					display: block;
					padding-bottom: 10px;
				}
			}
			.current-location-img {
				width: 12px;
				height: 17px;
				margin-left: 15px;
			}
			.current-location {
				font-size: 12px;
					font-weight: normal;
				display: inline;
				margin:15px 0;
				color: #d63426;
			}
		}
	}
	// end filter section geolocation-wrapper

	#nav_label {
		&~label {
			width: 46.667%;
			border: $border;
			background-image: url("../images/interface/footer_arrows.png");
			background-color: $concrete;
			background-position: calc(100% - 20px) 16px;
			background-repeat: no-repeat;
			box-sizing: border-box;
			float: left;
			margin-bottom: 10px;
			@include respond(large-down) {
				width: 48%;
				border: none;
				text-transform: uppercase;
				font-family: 'Gilroy Semibold', Arial, sans-serif;
			}
		}
		&:checked {
			&~nav {
				max-height: 2500px;
				width: 100%; //border: $border;
				@include respond(large-down) {
					border: none;
				}
				margin-bottom: 20px;
				border-bottom: 0;
				clear: both
			}
		}
	}
	nav {
		padding: 0;
		width: 100%;
	}
	.toggle {
		background-image: url("../images/ref_arrows.png");
		background-position: calc(100% - 20px) -25px;
		background-repeat: no-repeat;
		background-color: #fff;
		font-family: 'Gilroy Semibold', Arial, sans-serif;
		padding: 15px 0 15px 10px;
		margin: 0;
		text-transform: none;
		cursor: pointer;
		border: 0;
		border-bottom: $border;
		@include block-price-text();
		@include respond(large-up) {
			border: 0;
			background-color: $body-bg-color;
			@include font-size($font-size-mobile-h4);
			@include line-height($font-size-mobile-h4);
			background-position: calc(100% - 29px) -25px;
			padding: 15px 0 0px 15px;
			margin: 0 0 13px 0;
		}
		&.expanded-title {
			background-position: calc(100% - 20px) 22px;
			@include respond(large-up) {
				background-position: calc(100% - 29px) 22px;
			}
		}
	}
	.refinement-image {
		display: inline-block;
		width: 20px;
		height: 20px;
		background-image: url("../images/interface/sprite.png");
		background-repeat: no-repeat;
		background-position: -60px -99px;
		margin: 0;
		vertical-align: top;
	}
	.refinement-text {
		position: relative;
		margin-left: 9px;
		display: inline-block;
		width: calc(100% - 33px);
	}
	.selected {
		.refinement-image {
			background-position: -40px -99px;
		}
	}
	ul {
		padding: 20px 10px 0 10px;
		border-bottom: $border;
		@include respond(large-up) {
			padding: 0 0 32px 15px;
			border: 0;
		}
		@include respond(large-down) {
			border-bottom: none !important;
		}
	}
	li {
		margin-bottom: 15px;
		padding: 0;
		@include respond(large-up) {
			margin: 0 0 11px 0;
			padding: 0;
		}
	}
	.refinement {
		padding: 0;
		@include respond(large-up) {
			border-bottom: $border;
			padding-bottom: 5px;
		}
		&.no-zip {
			display: none;
		}
		.refinement-zip {
			margin: 0 0 15px;
			padding: 20px 10px 0 10px;
			@include respond(large-up) {
				padding: 0 0 32px 15px;
				border: 0;
				margin: 0;
			}
		}
	}
	.clear-refinement {
		display: none;
	}
	.refinement-delivery-zip {
		text-align: center;
		clear: both;
		padding: 19px 0 20px 0;
		@include respond(large-up) {
			padding: 7px 0 30px 15px;
			border-bottom: $border;
			text-align: left;
		}
		@include respond(large-only) {
			padding-left: 0;
		}
		.tooltip {
			display: inline-block;
			width: 25px;
			height: 25px;
			background-image: url("../images/interface/sprite.png");
			background-repeat: no-repeat;
			background-position: -132px -220px;
			position: relative;
			top: 8px;
			@include respond(large-up) {
				float: right;
				top: 0;
			}
		}
	}
	.pagination {
		display: block;
	}
	.breadcrumb-refinement-clear-all:not(.close-refinement-btn) {
		@include respond(large-up) {
			display: none;
		}
		@include font-bold();
		font-size: $font-size-regular;
		line-height: 40px;
		color: $color-secondary;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
	.scrollable {
		height: auto;
	}
	.refinement-price {
		.refinement-image {
			display: none;
		}
		.refinement-text {
			margin-left: 0;
		}
		.selected {
			.refinement-text {
				font-weight: $font-wt-semibold;
			}
		}
	}
	.refinement-last {
		@include respond(large-up) {
			border-bottom: 0;
		}
	}
	.close-reminement {
		padding: 10px;
		background-color: $white !important;
		box-sizing: border-box;
		&.desktop-hide {
			display: block;
			width: 50%;
			float: left;
			&.sticky {
				position: fixed;
				opacity: 1 !important;
				transition: opacity 0.3s ease-in;
				-webkit-transition: opacity 0.3s ease-in;
				z-index: 999;
				right: 0;
				bottom: 0;
				padding-bottom: 60px;
			}
			&.relative {
				position: relative;
				float: right;
				right: 0;
				padding: 0 4px;
			}
			@include respond(large-up) {
				display: none;
			}
			&.apply-filter {
				background-color: $punch;
				&.sticky {
					left: 0;
				}
				&.relative {
					left: 0;
					float: left;
				}
			}
		}
	}
	.refinement-top-level {
		padding: 20px 0 0 15px;
		@include respond(large-up) {
			padding: 0 0 11px 15px;
		}
		a {
			font-weight: $font-wt-semibold;
		}
	}
	.category-refinement {
		.refinement-link {
			padding: 0 !important;
			margin-left: 30px;
			@include font-regular();
		}
		.expandable {
			a {
				display: inline-block;
				margin-left: 21px;
			}
			&:before {
				position: relative;
				top: -3px;
			}
		}
	}
	&.sticky {
		position: fixed;
		top: 73px;
		overflow-y: auto;
		height: 100%;
		.refinement-big-container {
			padding-bottom: 200px;
		}
	}
}

.pt_product-search-result {
	.primary-content {
		@include respond(large-up) {
			width: calc(100% - 300px);
		}
		@include respond(large-only) {
			width: calc(100% - 256px);
		}
	}
}

.search-result-options {
	position: relative;
	padding: 0;
	@extend .clearfix;
	form {
		margin-bottom: 0;
	}
	label {
		display: none;
	}
	.items-per-page {
		float: right;
		display: none;
		@include respond(large-up) {
			display: block;
			min-width: 80px;
			width: auto;
		}
		.selector {
			@include respond(large-up) {
				width: 100% !important;
			}
		}
	}
	&.bottom {
		.items-per-page {
			display: none;
		}
		.toggle-grid {
			display: none;
		}
		.sort-by {
			display: none;
		}
		.pagination {
			display: block;
		}
		.toggle-grid {
			display: none !important;
		}
	}
	.pagination {
		display: none;
		@include respond(large-up) {
			display: block;
			min-height: 21px;
			width: calc(100% - 160px);
		}
	}
	.sort-Go-Button {
		display: none !important;
	}
}

.sort-by {
	width: 48%;
	float: right;
	@include respond(large-up) {
		width: 160px;
		float: left;
		margin-bottom: 15px;
	}
	label {
		display: none;
		@include respond(large-down) {
			text-transform: uppercase;
		}
	}
	.selector {
		width: 100% !important;
		
		select {
			@include respond(large-down) {
				text-transform: uppercase;
				font-size: 0.8125rem;
				font-family: 'Gilroy Semibold', Arial, sans-serif;
			}
		}
	}
}

.items-per-page-inner {
	width: 46.667%;
	float: right;
	@include respond(large-up) {
		max-width: 90px;
	}
	label {
		display: none;
	}
	.selector {
		width: 100% !important;
	}
}

#secondary .pagination,
.pagination {
	width: 100%;
	padding: 0 0 7px 0;
	position: relative;
	border-bottom: $border;
	float: left;
	@include respond(large-up) {
		border-bottom: 0;
		padding: 0 0 3px 0;
	}
	@include respond(large-down) {
		border: none;
	}
	.results-hits-total {
		float: left;
		color: #999;
		margin-top: 25px;
		margin-left: 10px;
		@include respond(large-down) {
			display: none;
		}
	}
	.pagination-content {
		float: right;
		padding: 0;
		border: 0;
		li {
			margin-bottom: 0;
			list-style: none;
			padding: 0 0 0 24px;
			float: left;
			a {
				text-decoration: none;
				color: $color-primary;
			}
			&.current-page {
				color: $color-secondary;
			}
			&:first-child {
				padding-left: 0;
			}
		}
	}
	.toggle-grid {
		display: none;
		@include respond(large-up) {
			position: absolute;
			position: absolute;
			bottom: 0;
			right: 80px;
			display: none;
		}
		&.one-page-items {
			@include respond(large-up) {
				right: 0;
				margin-right: 0;
			}
			.toggle-grid-wide {
				margin-right: 0;
			}
		}
	}
}

.breadcrumb-refinement-mobile {
	padding: 10px;
	background-color: #F1F1F2;
	margin-bottom: 20px;
	@include respond(large-up) {
		padding-bottom: 10px;
	}
	@include respond(large-down) {
		//display: none;
	}
	ul {
		border-top: 1px solid #AAA !important;
		margin-top: 5px;
		padding: 10px 0 0 0 !important;
		@include respond(large-down) {
			border: none;
		}
	}
	.breadcrumb-refined-by {
		display: block;
		text-transform: uppercase;
		@include block-price-text();
		margin-bottom: 20px;
		@include respond(large-up) {
			margin-bottom: 0;
		}
	}
	.breadcrumb-refinement {
		display: block;
		@include font-size(14px);
		@include respond(large-up) {
			margin-top: 10px;
			float: none;
		}
		a {
			&.breadcrumb-relax {
				display: inline-block !important;
				@include respond(large-down) {
					display: inline !important;
				}
			}
		}
		.breadcrumb-refinement-name {
			font-family: 'Gilroy Semibold', Arial, sans-serif;
		}
		.breadcrumb-refinement-value {
			.breadcrumb-relax {
				top: -7px;
				display: inline-block;
				position: relative;
			}
			a.breadcrumb-refinement-value-link {
				display: none !important;
			}
		}
	}
	.breadcrumb-refinement-clear-all {
		float: right;
		@include font-bold();
		font-size: $font-size-regular;
		@include line-height($font-size-regular);
		color: $color-secondary;
		text-decoration: underline;
		margin-bottom: 10px;
		&:hover {
			text-decoration: none;
		}
	}
	.comma {
		margin-left: 5px;
	}
	&.breadcrumb-refinement-mobile-hide {
		display: none;
	}
}

p.no-hits-sorry-message {
	font-weight: 600;
}

.breadcrumb-refined-by {
	display: none;
}

.refinement-big-container {
	border: none;
	.sort-by form select {
		@include respond(large-down) {
			background-color: #f2f2f2 !important;
			border: none !important;
			border-radius: 0;
		}
	}
}

.pt_product-search-noresult {
	#secondary {
		display: none;
	}
	.primary-content {
		width: 100%;
		padding-top: 26px;
		@include respond(large-up) {
			padding-top: 30px;
		}
		.breadcrumb {
			padding: 0px;
			line-height: 16px;
		}
		.breadcrumb .breadcrumb-container {
			background-color: transparent;
			padding-left: 0;
			padding-right: 0;
		}
		.breadcrumb .breadcrumb-container .inner-breadcrumbs {
			@include respond(large-up) {
				margin: 0;
			}
			max-width: 382px;
			width: 100%;
			@media screen and (max-width: 375px) {
				max-width: 350px;
			}
		}
		.breadcrumb-element {
			color: $mirage;
			@include respond(large-up) {
				@include font-size($font-height-attribute-title);
			}
			&:after {
				content: '';
				margin-left: 0;
			}
		}
		.breadcrumb-element-slt {
			font-family: $g-regular;
			@include font-size(14px);
			margin-right: 4px;
    		line-height: 16px;
		}
		.breadcrumb-result-text {
			color: $crimson;
			font-family: $g-semibold;
			@include font-size(14px);
			margin-left: 14px;
		}
	}
	.section-header {
		border: 0;
		background: $body-bg-color;
		padding: 0;
		margin: 0;
		p {
			text-transform: none;
			@include font-regular();
			padding: 0px;
			color: $color-primary;
			@include font-size($font-size-mobile-h3);
			@include respond(large-up) {
				@include font-size($font-size-mobile-h4);
			}
			@include respond(xlarge-up) {
				max-width: 1084px;
				width: 100%;
			}
		}
		.no-hits-search-term {
			text-transform: uppercase;
			font-style: normal;
			color: $color-primary;
		}
	}
	.no-result-text {
		padding: 27px 0 20px;
		@include respond(small) {
			padding-bottom: 7px;
		}

		h4 {
			color: $crimson;
			text-transform: none;
			@include font-size(26px);
			margin: 0;
			padding: 0;
		}
	}
}

.search-result-no-hits-top {
	border-bottom: 1px solid #d5d5d5;
	line-height: 1.23;
	letter-spacing: 1.1px;
	margin-bottom: 10px;
	padding-top: 0;
	p {
		padding: 0;
		margin: 0;
		font-weight: $font-wt-semibold;
		@include respond(large-up) {
			@include font-size(16px);
		}
	}
	h4 {
		text-transform: none;
		color: $mirage;
		font-family: $g-regular;
		@include font-size($font-size-mobile-h2);
		padding-bottom: 10px;
		@include respond(large-up) {
			@include font-size($font-height-product-name);
			line-height: 1.23;
		}
		a {
			text-decoration: none;
		}
	}
	&.has-items {
		@include respond(large-up) {
			padding-top: 10px;
		}
		p {
			@include respond(large-up) {
				@include font-size(16px);
			}
		}
		a {
			text-decoration: none;
		}
	}
	.suggested-category {
		text-transform: none;
		@include font-size($font-size-regular);
		display: block;
		padding-top: 10px;
	}
}

.no-hits-help {
	padding-top: 18px;
	clear: both;
	ul {
		padding: 0 0 0 18px;
		margin: 0;
	}
	li {
		padding: 0 0 3px 0;
		margin: 0;
		list-style: disc !important;
		@include font-size($font-size-sm);
		@include respond(large-up) {
			@include font-size($font-size-regular);
		}
	}
	p {
		padding: 0 0 3px 0;
		margin: 0;
	}
}

.no-hits-search {
	padding-top: 8px;
	input[type="text"] {
		margin: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 318px;

		@include respond(large-up) {
			border-right: 0px;
			height: 38px;
			margin: 0;
			max-width: 658px;
			width: 100%;
		}
		@media screen and (min-width:1025px){
			max-width: 913px;
			width: 100%;
		}
		@media screen and (min-width:1200px){
			max-width: 1085px;
			width: 100%;
		}

	}
	button {
		border-radius: 0px;
		margin-top: 15px;
		@include respond(large-up) {
			width: 95px;
			height:38px;
			margin-top: 0px;
			position: absolute;
			@include font-size(16px);
			padding: 0;
			&:hover {
				color: white;
				background-color: #c02f22;
			}
		}
		&.slick-arrow {
			width: 40px;
			height: 40px;
 		}
	}
	.form-row {
		padding: 5px 0 0 0;
		margin: 0;
		@include respond(large-up) {
			padding-top: 13px;
		}
	}
	.list-section {
		width: 100%;
		float: left;
		ul {
			padding-left: 25px;
			padding-bottom: 10px;
			li {
				line-height: 28px;
				margin-bottom: 0px;
				@include respond(large-up) {
					@include font-size($font-size-mobile-h4);
					line-height: 28px;
				}
				a {
					color: crimson;
					font-weight: 600;
					text-decoration: none;
					font-size: 15px !important;
				}
				span.no-hits-chat-icon {
					background: url(../images/svg-icons/chat-icon.svg) no-repeat 0 0;
			    padding-right: 5px;
			    width: 16px;
			    height: 16px;
			    display: inline-block;
			    position: relative;
			    top: 3px;
				}
			}
		}
		ol {
			width: 100%;
			float: left;
			padding-left: 26px;
			box-sizing: border-box;
			@include respond(large-up) {
				width: 31%;
			}
			li {
				text-transform: capitalize;
				color: $night-rider;
				padding-left: 6px;
				@include respond(large-up) {
					@include font-size($font-size-mobile-h4);
				}
				a {
					font-size: 17px;
				}
				span {
					color: $summer-sky;
				}
			}
		}
		h4 {
			@include font-size($font-height-mobile-h3);
			color: $night-rider;
			@include respond(large-up) {
				@include font-size($font-size-h3);
			}
		}
	}
}

.no-hits-footer {
	@include respond(large-up) {
		padding-top: 25px;
	}
	span.call-us {
		@include font-semibold();
	}
	a {
		color: $color-primary;
		@include font-semibold();
	}
	p {
		padding: 16px 0 5px 0;
		margin: 0;
	}
	div {
		@include line-height(22px);
	}
	h4 {
		@include font-size($font-height-mobile-h3);
		color: $night-rider;
		margin: 0;
		padding-top: 35px;
		text-transform: uppercase;
		@include respond(large-up) {
			@include font-size($font-size-h3);
			padding-bottom: 0;
			padding-top: 0px;
		}
	}
}

.comfort-level {
	width: 100%;
	margin-left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 30px;
	span {
		color: #ccc;
		font-size: 10px;
		line-height: 10px;
		width: 18%;
		height: 20px;
		border-right: 1px solid #ccc;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		display: flex;
		&:last-child {
			border: none;
		}
		@include respond(large-down) {
			display: none;
		}
		&.active {
			color: #fff !important;
			border-radius: 15px;
			border: none;
			padding: 5px 8px;
			@include respond(large-down) {
				display: flex;
				width: 60%;
			}
		}
	}
	.comfort-level-1.active {
		background-color: $comfort-extra-firm;
	}
	.comfort-level-2.active {
		background-color: $comfort-firm;
	}
	.comfort-level-3.active {
		background-color: $comfort-medium;
	}
	.comfort-level-4.active {
		background-color: $comfort-plush;
	}
	.comfort-level-5.active {
		background-color: $comfort-ultra-plush;
	}
}

.product-recommendations {
	.search-result-items {
		display: none;
		&.slick-initialized {
			display: block;
		}
	}
}

.slot-grid-header {
	padding-bottom: 20px;
	clear: both;
}

/* sub-category tab content */

h1.heading-value {
	text-transform: none;
	font-size: 18px;
	font-family: 'Gilroy Semibold', Arial, sans-serif;
	margin-top: 0;
	@include respond(large-down) {
		text-transform: uppercase;
		font-size: 18px;
		margin: 0;
	}
	@include respond(large-down) {
		padding: inherit;
	    position: relative;
	    left: -10px;
	    width: 100%;
	    padding-top: 20px;
	}
}

.cat-content-block-container {
	@include respond(large-down) {
	 	background: none !important;
	}
	//background: #f1f1f1;

	.subcategory-content-tabs {
		//display: none;
		background: #fff;
		width: calc(100% - 250px);
		padding: 0 0 0 4%;
		@include respond(large-down) {
			width: 100%;
			padding: 0;
		}
		text-align: left;
		box-sizing: border-box;
		margin:0 0 0 auto;
		ul.tab-nav {
			display: block;
			height: 25px;
			border-bottom: 1px solid #AAAAAA;
			padding: 0;
			li {
				list-style-type: none;
				float: left;
				width: 100px;
				@include respond(large-down) {
					width: 22%;
				}
				text-align: center;
				padding: 1px;
				a {
					text-decoration: none;
					color: #333;
				}
				&.tab-active {
					border-bottom: 4px solid $punch;
					a {
						color: $punch
					}
				}
			}
		}
		.cat-content-block {
			clear: both;
			.cat-content-block-text {
				&:not(.overview) {
					display: none;
				}
				p {
					font-size: 1.1em;
					padding: 0;
					margin-bottom: 10px;
					line-height: 1.4;
				}
				strong {
					font-family: 'Gilroy Semibold', Arial, sans-serif;
				}
				&.truncate {
					clear: both;
					clip: auto;
					overflow: hidden;
					a.read-more {
						color: $punch;
						font-family: 'Gilroy Semibold', Arial, sans-serif;
						font-style: italic;
						text-decoration: none;
						&:hover {
							cursor: pointer;
						}
					}
				}
			}
			.related {
				display: inline-flex;
				width: 100%;
				.column {
					width: 33%;
					ul {
						li {
							list-style-type: none;
							margin-bottom: 2px;
							&.red {
								margin-top: 10px;
								color: #D63426;
							}
						}
					}
				}
			}
		}
	}
}

.cat-browse-seo {
	text-align: center;
	padding-top: 39px;
	clear: both;
	@include respond(large-up) {
		padding-top: 36px;
	}
	p {
		padding: 0;
		margin: 0;
		text-align: center;
	}
}

.close-refinement-btn {
	padding: 11px;
	color: $white !important;
	font-family: $g-medium;
	line-height: auto;
	text-align: center;
	text-transform: uppercase;
	border-radius: 5px;
	cursor: pointer;

	&.red {
		background-color: $red;
	}

	&.gray {
		background-color: $gray;
	}
}

.ui-dialog {
    &.hawaii-popup-dialog {
    	.ui-dialog-titlebar {
    		display: none;
	        .ui-dialog-title {
	        	border-bottom: none;
				&:before {
					display: none;
				}
	        }
		}
    }
}
.hawaii_popup_wrapper {
	.ui-dialog-titlebar-close {
		top: 25px;
    	right: 20px;
	    @include respond(large-down) {
			top: 15px;
			background-color: white;
    		border-radius: 20px;
		}
		@include respond(large-only) {
			top: 15px;
			background-color: white;
    		border-radius: 20px;
		}
	}
	.hawaii-img {
		float: right;
		@include respond(large-down) {
			display: none;
		}
		@include respond(large-only) {
			display: none;
		}
	}
	.hawaii-img-mob {
		display: block;
		@include respond(large) {
			display: none;
		}
	}
	.hawaii_popup_header {
		width: 225px;
		font-size: 24px;
  		font-weight: normal;
  		color: #1b2125;
  		float: left;
	}
	.hawaii_popup_description {
		width: 380px;
		font-size: 16px;
	    font-weight: normal;
	    color: #4a4a4a;
	    line-height: 1.63;
    	margin: 25px 27px 58px 0px;
    	float: left;
    	@include respond(large-down) {
			width: 100%;
		}
		@include respond(large-only) {
			width: 100%;
		}
	}
	.hawaii_products_button {
		display: inline-block;
		float: left;
	    text-decoration: none;
    	text-align: center;
   	    line-height: 3;
	    width: 190px;
	    height: 45px;
	    border-radius: 3px;
	    background-color: #d63426;
	    font-weight: 600;
    	color: #ffffff;
	    box-shadow: 0 2px 7px 0 rgba(120, 137, 149, 0.26);
	    @include respond(large-down) {
			width: 100%;
		}
		@include respond(large-only) {
			width: 100%;
		}
	}
	.visit_store_button {
	    display: inline-block;
        text-decoration: none;
    	text-align: center;
   	    line-height: 3;
		width: 180px;
		height: 45px;
		float: left;
		margin-left: 20px;
		border-radius: 3px;
		box-shadow: 0 2px 7px 0 rgba(120, 137, 149, 0.26);
		background-color: #ffffff;
		border: solid 1px #d0021b;
		color: #d0021b;
		@include respond(large-down) {
			width: 100%;
    		margin: 25px 0px 0px 0px;
		}
		@include respond(large-only) {
			width: 100%;
    		margin: 25px 0px 0px 0px;
		}
	}
}
.pt_cart .recs-container.product-listing-1x4 {
	h2 {
		visibility: visible;
		font-size:24px !important;
	}
}
.pt_product-search-noresult .recs-container.product-listing-1x4 {
	h2 {
		visibility: visible;
	}
	.search-result-items.slick-slider .product-tile-one {
			border-bottom: none !important;
			min-height: 124px;
			width: 100%;
			padding: 10px 10px 25px 10px;
			text-align: left;
	}
}

.pt_categorylanding {
	.cat-landing-beds-and-frames {
		@include respond (large-down) {
			min-height: 650px;
		}
		.product-listing-1x4{
			border:none;
			.search-result-items {
				@media (min-width: 1025px) {
					width: 1170px;
				}
				.slick-next {
					right: -15px !important;
				}
				.slick-prev {
					left: -15px !important;
				}
			}
			.product-tile {
				border:none;
				.brand-name {
    				@include respond(large) {
    					height: auto;
    					padding: 15px 0;
    				}
    				@include respond(large-down) {
    					height: 40px;
    					margin-bottom: 10px;
    				}
    				img {
    					height: 50px;
    					width: auto;
    				}
				}
			}
			.callout-top {
				font-size: 33px;
				margin-top: 80px !important;
			}
		}
		.slick-dots {bottom: 10px;position: relative;
		@include respond (large-down) {
			bottom: 0px;
		}
		}
		.slick-dots li button {background: grey;height: 12px;width: 12px;border-radius: 6px;margin-top: -1px;margin-left: -1px;}
		.slick-dots li.slick-active button {background: #d63426;}
		.product-image .thumb-link img {
			width: 272px !important;
    		height: 209px;
    		@media (max-width: 767px) {
    			width: 95% !important;
    		}
		}
		.brand-name img {
			width: 200px;
			margin-left: 10px;
			@media(max-width: 767px) {
				margin-left: 25px;
			}
		}
		.product-tile-one {
			padding: 10px 10px 25px 10px !important;
			padding-top: 0px !important;
    		margin-top: -5px;
    		@media (min-width: 768px) {
    			height: 52px;
    		}
			@media (max-width: 767px) {
    			padding: 10px 10px 25px 25px !important;
    			margin-left: 0px;
    			margin-right:0px;
    			height: 67px;
    		}
			.product-name {
				padding-left: 0px !important;
				.name-link {
					font-size: 21px;
  					font-weight: 600;
  					height: auto;
				}
			}
		}
		.product-price {
			padding-left: 10px !important;
			height: 40px;
			@media (max-width: 767px) {
    			padding-left: 25px !important;
    		}
		}
		.clp-product-reviews {
			padding-left: 10px !important;
			@media (max-width: 767px) {
    			padding-left: 25px !important;
    		}
		}
	}
}

/* Zip Code Dialog Open */
div[aria-describedby='wrongzipdialog']{
    width: 321px !important;
    height: 148px !important;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    margin: 0px auto;
    left: 0;
    right: 0;
    top: 25% !important;
    #wrongzipdialog{
    	padding: 20px;
    	p{
		    color: #D63426;
		    font-size: 16px;
		    line-height: 22px;
	        margin-bottom: 0;
		    font-family: 'Gilroy';
		    font-weight: 500;
		}
    }
    .ui-dialog-buttonpane{
    	text-align: center;
	    margin: 0;
	    padding: 0;
    	.ui-dialog-buttonset {
    		float: none;
    		button{
    		    margin: 0px auto;
			    height: 40px;
			    width: 170px;
			    border-radius: 5px;
			    font-size: 16px;
			    font-family: 'Gilroy';
			    line-height: 19px;
		        background-color: #323030
    		}
		}
	}
}
/* Zip Code Dialog Close */

/* Plp Page Open */
body.panel-open{
	overflow: hidden;
}
.product-search-results-head {
    text-align: center;
    position: relative;
	margin: 0 auto 35px;
	
    h1 {
    	display: inline-block;
	    margin-bottom: 0;
    }
    a{
	    color: #323030;
	    font-family: 'Gilroy Bold';
	    font-size: 14px;
	    line-height: 17px;
	    position: absolute;
	    right: 0;
	    top: 5px;
    }
}
.sticky-head{
	&.sticky{
	    background: #fff;
	    position: fixed;
	    top: 98px;
	    z-index: 1;
        padding-top: 32px;
        width: 810px;
        #canonical-div{
        	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
        }
	}
}
#canonical-div{
	background: #F1F1F2;
    padding: 25px 25px 15px;
    position: relative;
    &.query-search{
    	.breadcrumb-refinement-mobile{
    		display: none;
    	}
    }
	.inventory-search-result{
		.prdct-search{
	    	padding-top: 0;
    		padding-bottom: 25px;
    		label{
			    color: #323030;
			    font-size: 14px;
			    font-family: 'Gilroy';
			    line-height: 17px;
    		}
    		span{
    		    font-family: 'Gilroy Bold';
    		}
    		.header-search{
    			form{
    				width: 272px;
				    margin-right: 70px;
    				input{
    					height: 34px;
					    width: 272px;
				        opacity: 1;
    					border: 1px solid #C6C8CA;
					    color: #999;
    					font-weight: 500;
    					&:focus{
	    					&::-webkit-input-placeholder { /* Edge */
								font-weight: 500;
							}
							&:-ms-input-placeholder { /* Internet Explorer 10-11 */
							  	font-weight: 500;
							}
							&::placeholder {
							  	font-weight: 500;
							}
    					}
    					&::-webkit-input-placeholder { /* Edge */
						  	font-size: 14px;
						  	color: #323030;
						  	opacity: 0.3;
						  	font-family: 'Gilroy';
		      				border-radius: 5px;
		      				font-weight: 500;
						}
						
						&:-ms-input-placeholder { /* Internet Explorer 10-11 */
						  	font-size: 14px;
						  	color: #323030;
						  	opacity: 0.3;
						  	font-family: 'Gilroy';
		      				border-radius: 5px;
		      				font-weight: 500;
						}
						
						&::placeholder {
						  	font-size: 14px;
						  	color: #323030;
						  	opacity: 0.3;
						  	font-family: 'Gilroy';
		      				border-radius: 5px;
		      				font-weight: 500;
						}
    				}
    				button{
    				    background: url('../images/header/Search.svg') no-repeat;
                    	width: 34px;
					    height: 34px;
					    background-position: 5px;
					    background-size: 16px;
					    border: none;
    				    i{
    				    	display: none;
    				    }
    				}
    			}
    		}
		}
	}
    .mobile-refinements{
    	position: relative;
    	.remove-zip-code{
    		display: inline-block;
    		position: relative;
    		margin-right:15px;
    		input[name="customerZip"]{
			    width: 100px;
			    height: 38px;
			    border: 1px solid #C6C8CA;
			    color: #323030;
			    font-family: Gilroy;
			    font-size: 16px;
			    font-weight: 600;
		        border-radius: 2px;
	            padding-right: 0;
			    &::-webkit-inner-spin-button, 
				&::-webkit-outer-spin-button{
					-webkit-appearance: none;
					-moz-appearance: textfield;
				}
			}
			.close{
			    background: url('../images/Close_Gray.svg') no-repeat;
		        width: 12px;
			    height: 12px;
			    display: block;
			    background-size: 12px;
			    position: absolute;
			    right: 20px;
			    top: 50%;
			    transform: translateY(-50%);
			    cursor: pointer;
			}
    	}
    	.mattress-select{
    		display: inline-block;
    		position: relative;
    		.drop-down{
			    background: url('../images/Arrow_Dark.svg') no-repeat;
                width: 16px;
			    height: 18px;
			    background-size: 18px 18px;
			    transform: rotate(90deg);
			    position: absolute;
			    z-index: 1;
		       	right: 20px;
			    top: 26%;
			}
			.radios-list{
				label{
					&.rselected:after{
			    		opacity: 1 !important;
			    	}
					&:before{
		                content: "";
					    display: block;
					    position: absolute;
				        width: 16px !important;
						height: 16px !important;
					    top: 0;
					    left: 0;
					    border-radius: 50% !important;
					    background-color: #fff;
			     	}
			     	&:after {
		                content: "";
					        display: block;
						    width: 8px !important;
						    height: 8px !important;
						    border: solid #323030 !important;
						    background: #323030 !important;
						    border-radius: 50% !important;
						    border-width: 1px !important;
						    position: absolute;
					        top: 11px !important;
    						left: 4px !important;
		    		}
				}
				input[type="radio"] {
				    cursor: pointer;
				    margin: 7px 8px 0 0;
				    display: inline-block;
				    height: 18px;
				    width: 18px;
				    vertical-align: sub;
				    float: left;
				    -moz-appearance: none;
					-webkit-appearance: none;
					background: none;
		    	}
	    		.selected-size{
				    width: 110px;
				    height: 38px;
				    border: 1px solid transparent;
				    margin-right: 10px;
				    cursor: pointer;
				    color: #323030;
				    font-family: Gilroy;
				    font-size: 16px;
				    font-weight: 600;
				    padding-right: 28px;
			        border-radius: 2px;
				}
			}
			.multiselect{
				margin-right: 15px;
			    width: 23%;
			 	select{
			 	    padding-right: 30px;
			 	}
				#checkboxes{
			        width: calc( 100% - 11px);
    				left: 0;
					span{
    					font-size: 12px;
    					font-weight: 600;
					    padding-left: 25px;
					}
				}
			}
    	}
		.multiselect{
			width: 22.8%;
		    display: inline-block;
	        margin-right: 15px;
	        cursor: pointer;
	        color: #323030;
		    font-family: Gilroy;
		    font-size: 16px;
		    font-weight: 600;
		    border: 1px solid transparent;
    		position: relative;
		    .drop-down{
			    background: url('../images/Arrow_Dark.svg') no-repeat;
                width: 16px;
			    height: 18px;
			    background-size: 18px 18px;
			    transform: rotate(90deg);
			    position: absolute;
			    z-index: 1;
			    right: 10px;
			    top: 10px;
			}
			#checkboxes {
			    position: absolute;
			    z-index: 2;
			    background: #fff;
			    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
		        height: 326px;
                width: calc( 100% - 9px );
    			overflow: auto;
    			padding: 5px 0 0 9px;
    			&::-webkit-scrollbar {  
    				width: 5px;
    				background: transparent;
    			}
				&::-webkit-scrollbar-thumb{
					background: #ccc;
					border-radius:5px;
				}
			    label{
				    font-size: 12px;
				    color: #333333;
				    font-family: 'Gilroy';
				    font-weight: 500 !important;
		            word-break: break-word;
		            margin-bottom: 5px;
		            position: relative;
		            &.selected:after{
			    		opacity:1;
			    	}
		            &:before{
		                content: "";
					    display: block;
					    position: absolute;
					    width: 18px;
					    height: 18px;
				        top: 7px;
					    left: 0px;
					    border: 1px solid #323030;
					    border-radius: 3px;
					    background-color: #fff;
			     	}
			     	&:after {
		                content: "";
					    display: block;
					    width: 4px;
					    height: 9px;
					    border: solid #323030;
					    border-width: 0 2px 2px 0;
					    transform: rotate(45deg);
					    position: absolute;
				        top: 10px;
					    left: 7px;
					    opacity: 0;
		    		}
			        &:last-child {
					    padding-bottom: 5px;
					}
				    &:hover{
				    	background: none;
				    }
				    &:after {
					    content: '';
					    clear: both;
					    display: table;
					}
				    input[type="checkbox"] {
		         	    position: relative;
					    cursor: pointer;
					    margin: 8px 8px 0 0;
					    display: inline-block;
					    height: 20px;
					    width: 20px;
					    float: left;
					    opacity:0;
					    visibility:hidden;
					    -moz-appearance: none;
						-webkit-appearance: none;
			    	}
			    	span{
				    	display: table-cell;
					    height: 36px;
					    vertical-align: middle;
					    font-size: 12px;
				        line-height: 15px;
				        font-weight:600;
			    	}
			    }
			}
		    select{
			    height: 38px;
			    border: none;
		        border-radius: 2px;
			}
		}
		#apply-filters{
	        height: 38px;
		    width: 117px;
		    background-color: #D63426;
		    border-radius: 2px;
		    margin-right: 15px;
		    font-weight: 600;
		    font-size: 16px;
		    font-family: 'Gilroy';
		    cursor: pointer;
		    padding: 0;
		    line-height: 38px;
		    text-transform: capitalize;
		}
		#clear-all-filters {
		    height: 38px;
		    width: 117px;
		    background: none;
		    border: 1px solid #D63426;
		    color: #D63426;
		    border-radius: 2px;
		    margin-right: 7px;
		    font-weight: 600;
		    font-size: 16px;
		    font-family: 'Gilroy';
		    cursor: pointer;
		    padding: 0;
		    line-height: 38px;
		    text-transform: capitalize;
        	display: inline-block;
		    text-align: center;
		    text-decoration: none;
		}
		#refinements-btn{
		    height: 38px;
		    width: 117px;
		    border-radius: 2px;
	        background: none;
		    border: 1px solid #323030;
		    color: #323030;
		    margin-right: 0;
		    font-weight: 600;
		    font-size: 16px;
		    font-family: 'Gilroy';
		    cursor: pointer;
	        padding: 0;
		    line-height: 38px;
		    text-transform: capitalize;
		}
    }
    .breadcrumb-refinement-mobile{
        padding: 0;
        margin-bottom: 0;
		ul{
	    	border-top: none !important;
		    padding-top: 0 !important;
		    margin-top: 25px !important;
		    max-height: 200px;
		    overflow: auto;
		    &::-webkit-scrollbar {  
				width: 5px;
				background: transparent;
			}
			&::-webkit-scrollbar-thumb{
				background: #ccc;
				border-radius:5px;
			}
			li.breadcrumb-refinement{
	            padding: 0 40px 0 20px;
		        margin: 0 auto 10px;
    			margin-right: 10px;
			    display: inline-block;
			    background: #fff;
			    text-align: center;
			    height: 38px;
			    line-height: 38px;
			    border-radius: 18px;
			    border: 1px solid #F1F1F2;
			    position: relative;
				.breadcrumb-relax{
					display: none !important;
				}
				.breadcrumb-refinement-name{
				    color: #323030;
				    font-size: 14px;
				    font-family: 'Gilroy';
				    font-weight: 500;
				    line-height: 16px;
				}
				.breadcrumb-refinement-value{
				    color: #323030;
				    font-size: 14px;
				    font-family: 'Gilroy';
				    font-weight: 500;
				    line-height: 16px;
					.breadcrumb-refinement-value-link{
						display: inline-block !important;
						background: url('../images/Close_Gray.svg') no-repeat;
			            width: 10px;
					    height: 10px;
					    background-size: 10px;
				        text-indent: -9999px;
				        overflow: hidden;
			            position: absolute;
					    right: 20px;
					    top: 50%;
					    transform: translateY(-50%);
					}
				}
			}
		}
	}
	#refinements-panel{
	    position: absolute;
	    left: 0;
	    right: 0;
        top: 40px;
	    z-index: 2;
	    background: #fff;
    	margin: 0px auto;
	    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
        padding: 30px;
        max-height: 200px;
    	overflow: auto;
    	&::-webkit-scrollbar {  
			width: 5px;
			background: transparent;
		}
		&::-webkit-scrollbar-thumb{
			background: #ccc;
			border-radius:5px;
		}
     	.refinement-big-container{
	     	width: calc( 100% - 100px);
	    	margin: 0px auto;
	    	position: relative;
	     	.refinement{
			    display: inline-block;
			    width: 24.5%;
			    vertical-align: top;
			    padding-bottom: 20px;
			    &:nth-child(2){
			    	&.new-line{
			    		&:before{
			    			display: none;
			    		}
			    	}
			    }
			    &.new-line{
			    	&:before{
			    	    content: '';
					    background: #F1F1F2;
					    height: 1px;
					    width: 623px;
					    display: block;
					    position: absolute;
					    z-index: 999;
					    top: -10px;
			    	}
			    }
			    &.refinement-price{
			    	input[name="pmin"],input[name="pmax"]{
		    		    padding: 0 10px;
					    height: 26px;
					    width: 50px !important;
					    border: 1px solid #C6C8CA;
					    border-radius: 2px;
					    color: #999;
					    font-weight: 500;
					    font-family: 'Gilroy';
					    font-size: 12px;
				        margin: 8px auto;
			            text-align: center;
			    		&::-webkit-inner-spin-button, 
						&::-webkit-outer-spin-button{
							-webkit-appearance: none;
							-moz-appearance: textfield;
						}
			    	}
			    	ul{
				    	li{
							&.rselected:after{
					    		opacity: 1 !important;
					    	}
							&:before{
				                content: "";
							    display: block;
							    position: absolute;
						        width: 16px;
								height: 16px;
							    top: 0;
							    left: 0;
							    border-radius: 50% !important;
							    border: 1px solid #323030;
							    background-color: #fff;
					     	}
					     	&:after {
				                content: "";
							        display: block;
								    width: 8px !important;
								    height: 8px !important;
								    border: solid #323030 !important;
								    background: #323030 !important;
								    border-radius: 50% !important;
								    border-width: 1px !important;
								    position: absolute;
							        top: 4px !important;
    								left: 4px !important;
				    		}
							input[type="radio"] {
							    cursor: pointer;
							    margin: 0px 8px 0 0;
							    display: inline-block;
							    height: 18px;
							    width: 18px;
							    vertical-align: sub;
							    float: left;
							    -moz-appearance: none;
								-webkit-appearance: none;
						    	opacity: 0;
							    position: absolute;
							    z-index: 1;
							    background: none;
					    	}
					    	span{
				    		    display: inline-block;
							    height: 28px;
							    line-height: 20px;
					    	}
				    	}
			    	}
			    }
			    h3{
			       	padding: 0;
				    background: none;
				    border-top: none;
				    color: #323030;
				    font-size: 14px;
				    font-family: 'Gilroy Bold';
				    margin-bottom: 0;
			        text-transform: capitalize;
		            letter-spacing: normal;
				}
				ul{
    				height: auto;
    				padding: 0;
    				margin-top: 4px;
    				display: block !important;
    				li{
    					position: relative;
    					line-height: 16px;
					    font-size: 12px;
					    color: #333333;
					    font-family: 'Gilroy';
					    font-weight: 600 !important;
    					&.selected:after{
				    		opacity:1;
				    	}
	    				&:before{
			                content: "";
						    display: block;
						    position: absolute;
						    width: 18px;
						    height: 18px;
						    top: 0;
						    left: 0;
						    border: 1px solid #323030;
						    border-radius: 3px;
						    background-color: #fff;
				     	}
				     	&:after{
			                content: "";
						    display: block;
						    width: 4px;
						    height: 9px;
						    border: solid #323030;
						    border-width: 0 2px 2px 0;
						    transform: rotate(45deg);
						    position: absolute;
					        top: 3px;
						    left: 7px;
						    opacity: 0;
			    		}
    					&:after {
    						content: '';
						    clear: both;
						    display: table;
						}
					    input[type="checkbox"] {
			         	    position: relative;
						    cursor: pointer;
						    margin: 0 8px 10px 0px;
						    display: inline-block;
						    height: 20px;
						    width: 20px;
						    float: left;
						    opacity: 0;
						    -moz-appearance: none;
							-webkit-appearance: none;
						    position: absolute;
    						z-index: 1;
				    	}
				    	span{
				    	    display: table-cell;
						    line-height: 17px;
						    height: 36px;
						    padding-left: 25px;
				    	}
    				}
				}
			}
     	}
     	form{
     	    margin-bottom: 21px;
     	    .apply-filter {
		        height: 32px;
			    width: 270px;
			    display: inline-block;
			    vertical-align: top;
			    margin-right: 20px;
			    #applyrefinements {
				    background: none;
				    padding: 0;
				    button {
			        	border-radius: 5px;
					    width: 100%;
					    height: 32px;
					    line-height: 19px;
					    font-size: 16px;
					    font-weight: 600;
					    font-family: 'Gilroy';
				    }
				}
			}
			#remove-desktop-filters{
	            font-size: 14px;
			    color: #D63426;
			    font-weight: 600;
			    font-family: 'Gilroy';
			    height: 30px;
			    line-height: 30px;
			    width: 270px;
			    display: inline-block;
			    border: 1px solid #D63426;
			    border-radius: 5px;
			    text-align: center;
			    text-decoration: none;
			    text-transform: uppercase;
			}
			#close-filter {
			    display: inline-block !important;
			    background: url('../images/Close_Gray.svg') no-repeat;
                width: 18px;
			    height: 18px;
			    background-size: 18px;
			    overflow: hidden;
			    position: absolute;
			    right: -50px;
			    top: 0;
			    z-index: 999;
			}
     	}
	}
}
.search-result-options{
	&.top{
    	border-bottom: 1px solid #C6C8CA;
    	padding: 25px 0 19px;
    	vertical-align: middle;
	    height: 40px;
    	.pagination{
    	    display: block;
    		.results-hits-total{
    			color: #323030;
    			font-size: 18px;
    			font-weight: 600;
			    margin: 0;
		        line-height: 36px;
    		}
    		.toggle-grid{
    	        position: inherit;
			    float: right;
			    right: 0;
			    margin-right: 13px;
		        line-height: 20px;
		        margin-top: 5px;
			}
    		.pagination-content{
			    margin-right: 24px;
			    li{
			    	color: #323030;
    				font-size: 18px;
				    height: 30px;
    				line-height: 34px;
			    	&.current-page{
			    	    font-weight: bold;
			    	}
			    	&.first-unselected{
    					opacity: 0.29;
    				}
			    	i{
		    	    	&:before{
		    	    		display: none;
		    	    	}
		    	    	&.fa-angle-left {
						    background: url('../images/Arrow_Dark.svg') no-repeat #fff;
						    width: 16px;
						    height: 30px;
						    line-height: 30px;
						    background-size: 15px;
						    transform: rotate(180deg);
						}
						&.fa-angle-right{
						    background: url('../images/Arrow_Dark.svg') no-repeat #fff;
					        background-position: 0px 4px;
						    width: 16px;
						    height: 30px;
						    line-height: 30px;
						    background-size: 15px;
						}
			    	}
			    	a{
			    	    color: #323030;
    					font-size: 18px;
			    	}
			    }
    		}
    	}
		.sort-by{
		    float: right;
	        margin-bottom: 0;
		    .selector{
				&:after{
					content:'';
					background: url(../images/Arrow_Dark.svg) no-repeat;
				    width: 16px;
				    height: 18px;
				    background-size: 20px 19px;
				    transform: rotate(90deg);
				    position: absolute;
				    z-index: 1;
				    right: 10px;
				    top: 8px;
				}
		    	select{
				    height: 36px;
				    line-height: 30px;
				    border-radius: 5px;
				    border: 1px solid #C6C8CA;
				    font-size: 12px;
				    color: #323030;
				    font-weight: 500;
				    text-transform: none;
				}
    		}
		}
		.items-per-page-inner{
			display: none;
		}
		.toggle-grid [data-option="column"]{
	        background-position: -71px -217px;
		    transform: scale(1);
		    width: 28px;
		    height: 21px !important;
		    vertical-align: super;
	        margin-right: 1px;
		}
		.toggle-grid [data-option="wide"] {
		    transform: scale(0.7);
		    width: 40px;
		    height: 29px;
		    margin-right: 0;
		}
	}
	&.bottom{
		display: none;
	}
}
.cat-browse-seo{
	display: none;
}

.pt_product-search-result{
	#main {
    	width: 833px;
    }
}
.product-search-result{
    width: 100% !important;
}
.search-result-content{
	margin: 7px;
	#search-result-items{
		li.grid-tile{
			width: 31.5%;
			padding: 15px;
			background: #F1F1F2;
			margin: 7px;
			float: left;
			.product-tile{
				border-bottom: none;
				.product-tile-one{
					padding: 0;
					.product-promo{
						display: none;
					}
					.product-name{
						margin-top: 10px;
						height: auto;
						font-weight: 600;
						color: #323030;
						font-size: 16px;
						min-height: 20px;
						.name-link{
							font-size: 18px;
							height: auto;
							line-height: 22px;
						    min-height: 64px;
							text-align: left;
						    overflow: hidden;
							font-weight: 600;
							margin-top: 0;
						    -webkit-line-clamp: 3;
						}
					}
					.product-pricing{
						padding-top: 0;
					    margin-bottom: 15px;
						margin-top: 15px;
						height: 18px;
						.product-sales-price,.product-financing-custom, .product-sales-price.mattress-firm{
							position: unset;
						}
						span:first-child{
							font-size: 24px !important;
							font-family: "Gilroy Bold";
							color: #d63426 !important;
						    line-height: 24px !important;
					        overflow: hidden;
						    white-space: nowrap;
						    text-overflow: ellipsis;
						}
						.product-standard-price, .percentageDiscount{
							margin: 10px auto;
							display: none !important;
						}
					}
					.name-link{
						text-align: center;
						margin-top: 25px;
    					overflow: inherit;
						.btn.primary{
							height: 48px;
							line-height: 28px;
    						position: relative;
						    font-weight: 600 !important;
    						font-family: 'Gilroy';
						}
					}
					.product-swatches{
					    display: none;
					}
					.comfort-level{
					    margin-top: 28px;
						span{
							border-right: none;
							color: #323030;
							font-size: 11px;
							line-height: 14px;
							width: 20%;
							&.active{
							    padding: 4px;
							}
						}
					}
				}
			}
		}
	}
	&.wide-tiles{
		#search-result-items{
			li.grid-tile{
				.product-tile{
					min-height: auto !important;
					.product-image{
					    width: 22%;
					}
					.product-tile-one{
						padding: 0 0 0 15px !important;
						width: 78%;
			            min-height: 150px;
						.product-name{
							overflow: inherit;
							margin-top: 0;
							margin-bottom: 10px;
							.name-link{
								text-align: left;
							    margin-top: 0;
						        white-space: nowrap;
    							display: block;
							    min-height: auto;
							}
						}
						.product-description{
							display: none;
						}
						.product-key-features-plp{
						    display: none !important;
						}
						.product-pricing{
							position: absolute;
							top: 55px;
						}
						.name-link{
							text-align: right;
							margin-top: -5px;
						}
						.comfort-level {
    						margin-top: 30px;
						    left: 0;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1200px) {
	.sticky-head.sticky{
	    width: calc( 80% - 10px);
	}
	#canonical-div{
		#refinements-panel{
			overflow: auto;
    		max-height: 550px;
		}
	}
	.mobile-refinements{
		.remove-zip-code{
			input[name="customerZip"]{
				font-size: 13px !important;
			}
		}
		.multiselect{
	    	font-size: 13px !important;
		}
		#apply-filters{
			font-size: 13px !important;
		}
		#clear-all-filters{
			font-size: 13px !important;
		}
		#refinements-btn{
			font-size: 13px !important;
		}
	}
	.search-result-content{
		#search-result-items{
			li.grid-tile{
				width: 31.5%;	
			}
		}
	}
}
@media only screen and (max-width: 992px) {
	.sticky-head.sticky{
	    width: calc( 100% - 25px );
	}
	.pt_product-search-result{
		#main {
	    	width: 100%;
	    }
	}
	#canonical-div{
		#refinements-panel{
    		max-height: 550px;
		}
		.mobile-refinements{
			.remove-zip-code{
				margin-right: 7px;
				input[name="customerZip"]{
					margin-right: 0;
				}
			}
			.mattress-select{
				.multiselect{
			        margin-right: 7px;
				}
			}
			.multiselect{
	    	    margin-right: 10px;
			}
			#apply-filters{
    			width: 115px;
    			margin-right: 9px;
			}
			#clear-all-filters{
    			width: 100px;
			}
			#refinements-btn{
    			width: 100px;
			}
		}
		#refinements-panel{
			.refinement-big-container{
				width: calc( 100% - 60px);
				
			}
			 form{
			 	#close-filter{
			 	    right: -40px;
			 	}
			 }
		}
	}
	.search-result-options{
		&.top{
		    padding: 20px 0;
			.pagination{
			    display: inline-block;
    			width: 78%;
				.results-hits-total{
		    		display: block;
		    		.toggle-grid{
			    		right: 80px;
					    position: absolute;
		    		}
				}
			}
			.sort-by{
				width: 22%;
			}
		}
	}
	.search-result-content{
		#search-result-items{
			li.grid-tile{
		        width: 31.3%;
				.product-tile{
					.product-tile-one{
						.comfort-level{
							span{
							    font-size: 9px;
							    width: 20%;
						        line-height: 12px;
					            display: block;
								&.active{
								    padding: 4px;
							        height: auto;
								}
							}
						}
					}
				}
			}
		}
		&.wide-tiles{
			#search-result-items{
				li.grid-tile{
			        width: 100% !important;
					.product-tile{
						.product-image{
							width: 25%;
							padding-right: 0px;
						}
						.product-tile-one{
						    width: 72%;
					        min-height: 160px;
					        .product-name{
					        	.name-link{
					        	    overflow: hidden;
								    text-overflow: ellipsis;
								    white-space: nowrap;
								    margin-left: 0;
								    display: block;
					        	}
					        }
							.comfort-level {
    						    margin-top: 30px;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	
	#canonical-div{
	    padding: 25px;
	    position: relative;
	    .mobile-refinements{
	    	.mattress-select{
	    		.selected-size{
				    width: 110px;
				}
	    	}
			.multiselect {
			    width: 131px;
			}
			#refinements-btn{
			    width: 117px;
			}
			#clear-all-filters {
			    font-size: 16px;
			}
	    }
		#refinements-panel{
	        width: calc( 100% - 90px );
	     	.refinement-big-container{
		     	width: calc( 100% - 100px);
		     	.refinement{
				    display: inline-block;
				    width: 22%;
				    vertical-align: top;
				    padding-bottom: 20px;
				    &.refinement-price{
				    	
				    }
				    h3{
				       	
					}
					ul{
	    				
	    				li{
						    input[type="checkbox"] {
				         	    
					    	}
					    	input[type="radio"] {
				         	    
					    	}
	    				}
					}
				}
	     	}
	     	.apply-filter {
			    
			}
			#remove-desktop-filters{
		        
			}
			#close-filter {
			    
			}
		}
	}
	.pt_product-search-result{
		#main {
	    	width: 100%;
	    }
	}
	.search-result-content{
		#search-result-items{
			li.grid-tile{
			    width: 46%;
				.product-tile{
					.product-tile-one{
						.comfort-level{
							display: block;
						    text-align: center;
							span{
						        display: inline-block;
    							width: 48%;
    							font-size: 9px;
								&.active{
								    padding: 0;
    								line-height: 20px;
								}
							}
						}
					}
				}
			}
		}
		&.wide-tiles{
			#search-result-items{
				li.grid-tile{
					width: calc( 100% - 15px ) !important;
				    display: block;
					float: none;
					.product-tile{
						.product-image{
							padding: 0;
							width: 30%;
						}
						.product-tile-one{
							width: 65%;
						    min-height: 140px;
							.product-name{
							    margin-bottom: 5px;
							}
							.product-pricing{
								top: 45px;
							}
							.product-pricing{
								span:first-child{
								    width: calc( 50% - 65px);
								}
							}
					        .name-link{
				                margin-top: -10px;
				        	   .btn.primary{
				        	       	height: 38px;
								    line-height: 18px;
						            width: 110px;
								    font-size: 11px;
								    padding: 9.5px 5px;
				        	   }
				        	}
							.comfort-level {
							    margin-top: 10px;
    							width: 100%;
    							span{
    							    width: 32%;
    							    line-height: 20px;
    							}
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 360px) {
	.search-result-content{
		#search-result-items{
			li.grid-tile{
			    width: 45.5%;
				.product-tile{
					.product-tile-one{
						.name-link{
							.btn.primary{
								line-height: 28px;
    							font-size: 12px;
							}
						}
					}
				}
			}
		}
	}				
}
@media only screen and (max-width: 320px) {
	.search-result-content{
		#search-result-items{
			li.grid-tile{
				width: 45%;
				.product-tile{
					.product-tile-one{
						.name-link{
							.btn.primary{
								line-height: 16px;
							}
						}
					}
				}
			}
		}
		&.wide-tiles{
			#search-result-items{
				li.grid-tile{
					.product-tile{
						.product-tile-one{
						    width: 64%;
							.name-link{
								.btn.primary{
									height: 42px;
									line-height: 12px;
									width: 80px;
									font-size: 10px;
								}
							}
						}
					}
				}
			}
		}
	}
}
/* Plp Page Close */