/*---plp filter version 1--------------------*/
.plp-filter{
	#secondary.refinements.sticky {
		height: calc(100vh - 145px);
	}
	#secondary{
		z-index: 1;
		&.refinements {
			&.sticky {
				.geolocation-wrapper .previous-location #geo-zip-form #plp-customer-zip {
					width: 135px;
				}
			}
			ul{padding-left: 0;}
			.toggle{
				padding-left: 0;
				background-position: calc(100%) -25px;
				&.expanded-title {
					background-position: calc(100%) 22px;
				}
			}
			.refinement {
				border-bottom: 2px solid $red;
				.refinements-see-more,.refinements-see-less{
					padding: 12px 0 0;
					width: 100%; 
					display: inline-block;
					cursor: pointer;
					box-sizing:border-box;
					color:$red;
					font-size: 12px;
					text-decoration: underline;
					&:hover {text-decoration: none;}
					@include respond(large-down) {
						padding: 0;
					}
				}
				ul{padding-left: 0;}
				&.size,&.comfort_level {
					.refinements-see-more,.refinements-see-less{
						padding: 12px 0 0;
						width: 100%; 
						display: inline-block;
						cursor: pointer;
						box-sizing: border-box;
						color:$red;
						font-size: 12px;
						text-decoration: underline;
						&:hover {text-decoration: none;}
					}					
					ul{
						display: flex;
						flex-wrap: wrap;
						align-items: stretch;
						justify-content: flex-start;
						//margin: 0 -2%;
					}
					li{
						padding: 0;
						margin: 0 1% 5px;
						width: 23%;
						background: $light-gray;
						border-radius: 5px;
						text-align: center;
						text-transform: uppercase;
						> a {
							padding:15px 5px;
						}
						
						.refinement-link{
							padding:15px 5px;
						}
						.refinement-text {
							position: relative;
							margin-left: 0;
							display: inline-block;
							width: 100%;
							font-family: $g-regular;
							font-size: 15px;
							font-weight: 600;
							vertical-align: middle;
							line-height: 1;
							word-break: break-word;
						}
						.refinement-image{
							display: block;
							margin: 0 auto 5px;
							background-origin: 0 0;
							background-position: center center;
							background-repeat: no-repeat;
							height: auto;
							width: 45px;
							height: 45px;
							background-size: contain;
							background-image: none;
							img.white {
								display: none;								
							}
							img {
								height: 45px;
								width: auto;
							}
						}
						&.selected, &:hover  {
							background-color: #5c5a5a;
							a {
								color: $white;
								span.refinement-image {
									img.black {display: none;}
									img.white {display: inline;}
								}
							}
						}
						@include respond(medium) {
							width: 31.33%;		
						}
					}
				}
				&.comfort_level {
					li{
						&.selected, &:hover  {
							&.plush {
								background-color: $comfort-plush;
							}
							&.ultra-plush {
								background-color: $comfort-ultra-plush;
							}
							&.medium {
								background-color: $comfort-medium;
							}
							&.firm {
								background-color: $comfort-firm;
							}
							&.extra-firm {
								background-color: $comfort-extra-firm;
							}
						}
					}
				}
				&.ticking, &.mattress_type {
					.refinements-see-more,.refinements-see-less{
						padding: 12px 0 0;
						width: 100%; 
						display: inline-block;
						cursor: pointer;
						box-sizing: border-box;
						color:$red;
						font-size: 12px;
						text-decoration: underline;
						&:hover {text-decoration: none;}
					}
					ul{
						display: block;
					}
					li{
						padding: 0;
						margin: 0 0	 5px;
						width: 100%;
						background: $light-gray;
						border-radius: 5px;
						text-align: center;
						text-transform: uppercase;
						> a {
							padding: 10px 10px;
					    overflow: hidden;
					    position: relative;
							display: flex;
    					align-items: center;
    					text-align: left;
						}
						.refinement-link {
							padding:15px 5px;
						}
						.refinement-image {
							display: block;
							margin: 0;
							background-origin: 0 0;
							background-position: center center;
							background-repeat: no-repeat;
							background-size: 40px auto;
							height: 50px; 
							width: 40px;
							float: left;
							background-image: none;
							img.white {
								display: none;								
							}
							img {
								width: 40px;
								height: auto;
							}
						}
						.refinement-text {
							position: relative;					
							margin-left: 10px;
							display: block;
							float: left;
							width: calc(100% - 50px);
							font-family: $g-regular;
							font-size: 15px;
							font-weight: 600;
							vertical-align: middle;
							line-height: 1.2;
						}
						&.selected, &:hover {
							background-color: #5b5959;
							a {
								color: $white;
								span.refinement-image {
									img.black {display: none;}
									img.white {display: inline;}
								}
							}
						}
					}
				}
				&.refinement-price {
					.ui-slider.ui-slider-horizontal {
						margin-right: 30px;
						margin-left: 10px;
				    background-color: #f1f1f2;
				    border: none;
				    height: 15px;
				    border-radius: 7.5px;
				    //max-width: 235px;
				    @include respond(large-down) {
				    	//max-width: 275px;
				    }
				    .ui-slider-range {
				    	background-color: $red;
				    }
				    .ui-slider-handle {
				    	width: 15px;
					    height: 23px;
					    background-color: $red;
					    border: 1px solid #fff;
					    border-radius: 5px;
					    top: -6px;
							border-top-width: 2px;
							border-bottom-width: 2px;
				    }
					}
					.pricing-labels {
						width: calc(100%);
						margin-bottom: 0;
						display:table;
						.price-steps {
							display:table-row;
							text-align: center;
						}
						.price-step {
							font-size: 12px;
							display:table-cell;
							text-align: center;
							&:first-child{text-align: left;}
							&:last-child{}

						}
					}
					#selected-prices-labels{
						font-weight: 600;
						font-family: $g-semibold;
						margin-bottom: 10px;					
					}
				}
				&.manufacturerName {
					.refinements-see-more,.refinements-see-less{
						padding: 12px 0 0;
						width: 100%; 
						display: inline-block;
						cursor: pointer;
						box-sizing: border-box;
						color:$red;
						font-size: 12px;
						text-decoration: underline;
						&:hover {text-decoration: none;}
					}			
					ul{
						display: block;
						overflow: hidden;
					}
					li{
						padding: 5px 0;
						margin: 0 1% 5px;
						width: 48%;
						background: $light-gray;
						border-radius: 5px;
						text-align: center;
						text-transform: uppercase;
						float: left;
						box-sizing: border-box;
						> a {
							padding: 0 15px;
					    overflow: hidden;
					    position: relative;
							display: flex;
    					align-items: center;
    					text-align: left;
						}
						.refinement-link {
							padding:15px 5px;
						}
						.refinement-image {
							display: block;
							margin: 0;
							background-origin: 0 0;
							background-position: center center;
							background-repeat: no-repeat;
							background-size: contain;
							height: 45px; 
							width: 100%;
							float: none;
							background-image: none;
							text-align: center;
							img.white {
								display: none;								
							}
							img {
								position: relative;
						    top: 50%;
						    transform: translateY(-50%);
						    min-height: 35px;
							}
						}
						.refinement-text {
							display: none;
						}
						&.selected, &:hover {
							background-color: #5b5959;
							a {
								color: $white;
								span.refinement-image {
									img.black {display: none;}
									img.white {display: inline;}
								}
							}
						}
					}
				}
				&.mattressHeight {
			   .ui-slider-range {
			    	background-color: $red;
			    	border-radius: 7.5px;
			    }

					>ul {
						li {
							display: none;
						}
					}
					.heights-wrap {
				    width: calc(100%);
				    height: 230px;
				    justify-content: center;
				    align-items: center;
				    padding-left: 20px;
				    text-align: left;
				    box-sizing: border-box;
				    position: relative;
				    margin-left: 0;
				    background-image: url(../images/filter-assets/mattress-height-image.svg);
				    background-size: 140px auto;
				    background-position: right center;
				    background-repeat: no-repeat;
				    margin-top: 25px;
				    .heights {
				    	height: 121%;
					    top: -8%;
					    position: relative;
					    display: flex;
					    flex-direction: column-reverse;
					    flex-wrap: wrap;
				    	.height { 
				    		display: flex;
    						width: 100%; 
    						margin: auto;
    						&:first-child{margin-bottom: 20px;}
    						&:last-child{margin-top: 10px;}
    					}
				    }
				    .thickness-height-val {
				    	padding: 0 0 0 15px;
				    	color: $charcoal;
				    	font-size: 15px;
				    	font-family: $g-semibold;
				    	font-weight: 600;
				    	display: block;
				    	margin-left: 0;
							display: block;
    					vertical-align: middle;
						  z-index: 1;
				    }
					}

					.ui-slider.ui-slider-vertical {
						float: left;
						width: 15px;
						margin: 0;
						z-index:20;
						background-color: $light-gray;
						border-radius: 7.5px;
						height: 230px;
						.ui-slider-handle {
							width: 23px;
					    height: 15px;
					    background-color: $red;
					    border: 1px solid #fff;
					    border-radius: 5px;
					    border-left-width: 2px;
							border-right-width: 2px;
						}
					}
				}
				&.refinement-last {
					border-bottom:none;
				}
			}
			.geolocation-wrapper {
				padding: 25px 15px;
				margin-bottom: 20px;
				border-radius: 8px;
				background-color: #f1f1f2;
				.geo-main-wrapper {
					margin-bottom: 18px;
					.delivery-heading {
						display: inline-block;
						width: 159px;
    					margin-top: 8px;
						font-size: 18px;
						font-weight: 800;
						.delivery-text {
						    display: inline-flex;
							font-size: 14px;
							font-weight: 300;
						}
					}
				}
				.delivery-shipping {
					margin-left: 0px;
					.delivery-address {
						font-size: 14px;
						font-weight: 800;
					}
					.btn-change {
						text-decoration: underline;
						display: inline-block;
					}
				}
				.previous-location {
					border-radius: 8px;
					background-color: #f1f1f2;
					#geo-zip-form {
						.location-img {
							height: 17px;
    						width: 15px;
    						position: relative;
						    left: 17px;
    						top: 12px;
						}
						#plp-customer-zip {
							width: 145px;
							height: 40px;
							border-radius: 4px;
							border: solid 1px #323030;
							padding-left: 35px;
							margin-left: -15px;
							background-color: #ffffff;
						}
						.btn-update {
							width: 71px;
							padding: 0px;
							font-size: 12px;
							line-height: 1;
							vertical-align: top;
							height: 40px;
							border-radius: 4px;
							background-color: #d63426;
						}
					}
					.zip-update-text {
						font-size: 12px;
  						font-weight: 300;
  						margin: 15px 0;
    					padding-bottom: 15px;
  						line-height: 1.42;
  						border-bottom: solid 2px #979797;
					}
					.previous-links {
						font-size: 16px;
  						font-weight: 800;
					}
					.previous-link-wrapper {
						padding-left: 15px;
					    padding-bottom: 15px;
					    margin-bottom: 15px;
					    border-bottom: solid 2px #979797;
						a {
							color: #d63426;
							font-size: 12px;
							font-weight: normal;
						}
					}
					.current-location-img {
						width: 12px;
						height: 17px;
						margin-left: 15px;
					}
					.current-location {
						font-size: 12px;
	  					font-weight: normal;
						display: inline;
						margin:15px 0;
						color: #d63426;
					}
				}
			}
			.refinement-big-container ul {padding: 0 0 25px 0;}
			.refinement-big-container .filters-title-and-clear {
				border-bottom: 2px solid $red;
				padding: 0 0 5px 0;
				@include respond(large-down) {
					border-bottom: 2px solid $red !important;
					position: relative;
				}
				.close-filter-mobile {
					display: none;
					@include respond(large-down) {
						display: block;
						position: absolute;
				    right: 0;
				    top: 5px;
				    cursor: pointer;
					}
				}
				
				h3 {
					margin:0;
					display: inline-block;
					vertical-align: middle;
					font-size: 16px;
					font-family: $g-semibold;
					line-height: 1;
					font-weight: 400;
				}
				a {
					color:$red;
					font-size: 12px;
					text-decoration: underline;
					display: inline-block;
					vertical-align: middle;
					margin-left: 6px;
					line-height: 1;
					&:hover {text-decoration: none;}
				}
			}
			@include respond(large-down) {
				.toggle{
					border: 0;
					font-size: 16px;
					font-family: $g-extrabold;
				}
			}
		}
	}
	.primary-content {z-index: 2;}
}

.pt_product-search-result .header-top-new ~ .header-top-promo ~ #main.plp-filter #secondary.refinements.sticky {
	padding-right: 10px;
}

#secondary.refinements #nav_label:checked ~ nav {
	max-height: none;
	@include respond(large-down) {
	  max-height: none;
	}
}

#secondary.refinements .close-reminement.desktop-hide.apply-filter.filter-done-btn.sticky {
	@include respond(large-down) {
		width: 100%;
    background-color: $light-gray !important;
    padding: 20px 20px 40px;
    .results-count {
	   	display: block;
	    font-size: 15px;
	    margin-top: 10px;
    }
	}
}

#secondary.refinements .close-reminement.desktop-hide.apply-filter.relative {
	@include respond(large-down) {
		background-color: transparent !important;
		width: 100%;
    padding: 0;
    margin-top: 15px;
	}
}


/*---plp filter version 2--------------------*/
.plp-filter{
	&.plp-filter-2 {
		@include respond(large-down) {
			#secondary{
				&.refinements {
					.refinement {
						&.size,&.comfort_level {
							.refinements-see-more,.refinements-see-less{
								display: none;
							}
							ul{							
								flex-wrap: nowrap;
								overflow-x: auto;
							}
							li{
								min-width: 90px;					
								&.hideRefinement {display: list-item !important;}
							}
						}
					}
				}
			}
		}
	}
}

.hide-me {
	visibility: hidden;
}