.search-result-items {
	&.ab-plp-tiles-v3 {
		li.grid-tile {
			width: 100%;
			max-width: 430px;
			padding: 15px;
			margin-bottom: 0;
			@include respond(x-large) {
				width: 50%;
			}
			@include respond(large-down) {
				//width: 100%;
		    max-width: none;
		    padding: 10px;
		    margin-bottom: 0;
			}
			.brand-and-rating {
				margin-bottom: 10px;
				.brand-name {
					float: left;
					img {
						height: 40px;
						width: auto;
					}
				}
				.clp-product-reviews {
					float: right;
			    width: auto;
			    margin: 0;
			    [data-bv-show=inline_rating] .bv_main_container .bv_stars_svg_no_wrap {
			    	svg {
			    		display: none !important;
			    		&:first-child {
			    			display: block !important;
			    		}
			    	}
			    }
			    [data-bv-show=inline_rating] .bv_main_container {
			    	background-color: #f1f1f2 !important;
				    padding: 6px !important;
				    border-radius: 16px !important;
			    }
			    [data-bv-show=inline_rating] .bv_main_container .bv_numReviews_component_container {
			    	display: none !important;
			    }
			    [data-bv-show="inline_rating"] .bv_stars_component_container {
			    	order: 2;
			    }
			    [data-bv-show=inline_rating] .bv_main_container .bv_averageRating_component_container {
			    	order: 1;
			    	padding-right: 7px !important;
			    	font-family: $g-extrabold !important;
			    }
			    [data-bv-show=inline_rating] .bv_main_container .bv_averageRating_component_container .bv_text {
			    	font-family: $g-extrabold !important;
						font-size: 15px !important;
			    }
				}
			}
			.product-promo {
				height: 12px;
				.promo {
					font-size: 12px !important;
					line-height: 1 !important;
					font-weight: 800;
				}
			}
			.product-name .name-link {
				font-size: 21px;
  			font-weight: 400;
  			height: 50px;
				letter-spacing: 0.0025rem;
			}
			.product-tile {
				border: solid 1px $light-gray;
				.product-pricing {
					font-size: 21px;
			    line-height: 1;
			    padding-top: 0;
			    margin: 0 0 10px;
			    height: 85px;
			    box-sizing: content-box;
			    @include respond(large-down) {
			    	span {
				    	font-size: 21px !important;
				    	line-height: 1 !important;
			    	}
			    }
			    .product-sales-price {
			     	position: static;
			     	font-weight: 400;
			    }
			    .product-sales-price.mattress-firm {
			    	color: #e21a23;
				    font-size: 21px;
						letter-spacing: 0.0395rem;
				    line-height: 1;
				    position: static;
				    margin-bottom: 7px;
			    }
			    .product-standard-price.mattress-firm {
			    	float:none;
			    	line-height: 1;
			    	opacity: 0.5;
			    	@include respond(large-down) {
		    		    display: inline-block !important;
					    width: auto;
					    font-size: 16px !important;
			    	}
			    }
			    .percentageDiscount {
			    	float: left;
			    	font-family: $g-extrabold;
			    	font-weight: 800;
			    	line-height: 1;
			    	margin-right:13px;
			    	@include respond(large-down) {
			    		width: auto;
			    		display: inline-block !important;
			    		margin-right: 12px;
					    font-size: 15px !important;
					    margin-top: 5px;
			    	}
			    }
				}
				.product-financing-custom {
					margin-top: 10px;
					font-size: 12px;
    			line-height: 0.975rem;
    			position: static;
    			height: 23px;
    			span {
    				cursor: default;
    				position: relative;
    			}
    			 @include respond(large-down) {
			    	span {
				    	font-size: 12px !important;
				    	line-height: 1 !important;
			    	}
			    }
			    .product-financing-msg {
			    	left: 50%;
				    transform: translateX(-50%);
				    bottom: 25px;
				    @include respond(large-down) {
				    	transform: translateX(-60%);
				    }
				    &:before, &:after {
							left: 53%;
				    }
			    }
				}
				.delivery-info {
					font-size: 14px;
				  font-weight: 600;
				  color: #119e16;
				  line-height: 1;
				  font-family: $g-semibold;
				  margin-top: 17px;
				  display: block;
				  height: 24px;
				  margin-bottom: 15px;
				  img {
				  	max-width: 24px;
				  	vertical-align: middle;
						margin-right: 7px;
						position: relative;
						top: -12px;
				  }
					.plp-tile-availability {
						letter-spacing: 0.01rem;
						left: 0px;
						top: -10px;
						position: relative;
					}
				}
				.product-compare-wrapper {
					position: absolute;
			    right: 35px;
			    top: 25px;
			    .product-compare {
			    	margin: 0;
			    	label {
			    		display: none;
			    	}
			    }
				}
				.product-swatches {
					min-height: 0;
					padding: 11px;
					.product-swatches-all {
						display: none;
					}
					ul.swatch-toggle {
						background: none repeat scroll 0 0 transparent;
				    display: block;
				    position: static;
				    z-index: 1;
				    max-height: 38px;
					}
				}
			}
			.product-tile-one {
				padding: 10px 20px 0 20px;
				overflow: hidden;
				@include respond(large-down) {
					overflow: visible;
				}
			}
			.comfort-and-features {
				background-color: $light-gray;
				height: 60px;
				width: 100%;
				margin-left: -20px;
    		width: calc(100% + 40px);
    		transition: margin 1s ease;
    		position: relative;
    		display: flex;
    		justify-content: space-between;
    		&.comfort_level_1 {
					border-bottom: 10px solid $comfort-extra-firm;
    		}
    		&.comfort_level_2 {
					border-bottom: 10px solid $comfort-firm;
    		}
    		&.comfort_level_3 {
					border-bottom: 10px solid $comfort-medium;
    		}
    		&.comfort_level_4 {
					border-bottom: 10px solid $comfort-plush;
    		}
    		&.comfort_level_5 {
					border-bottom: 10px solid $comfort-ultra-plush;
    		}
				.comfort-type {
					position: relative;
					display: inline-block;
					left:0;
					float: left;
					height: 60px;
					padding-left:20px;
					transition: margin .5s ease;
					img {
						top: 50%;
				    position: relative;
				    transform: translateY(-50%);
				    width: auto;
				    height: 36px;
				    &.white {display: none;}
					}
				}
				.features-list {
					position: static;
					z-index: 5;
					height: 60px;
					width: 178px;
					text-align: right;
					float: right;
					white-space: nowrap;
					transition: margin 1s ease;
					margin-left: auto;
					@include respond(large-down) {
						display: none;
						position: absolute;
				    background-color: #323030;
				    max-width: none;
				    width: 100%;
				    bottom: -10px;
				    padding: 35px 20px 15px;
				    white-space: normal;
				    height: auto;
				    text-align: left;
				    box-sizing: border-box;
				    z-index: 20;
					}
					&.more-feature-list {
					 margin-right: 21px;
					}
					.features-wrap {
						@include respond(large-down) {
							max-height: 425px;
							overflow: auto;
							padding-top: 15px;
						}
					}
					.close-features {
						display: none;
						@include respond(large-down) {
							display: block;
							position: absolute;
							right: 15px;
							top:25px;
							z-index: 20;
							max-width: 20px;
							cursor: pointer;
						}
					}
					.feature{
						display: inline-block;
						vertical-align: middle;
						height: 60px;
						padding:0 5px;
						cursor: pointer;
						@include respond(large-down) {
							display: none;
					    height: auto;
					    padding: 0;
					    cursor: default;
					    text-align: left;
    					overflow: hidden;
    					margin-bottom: 10px;
    					&:nth-child(-n+3) {
								display: block;
    					}
						}
						img {
							top: 50%;
					    position: relative;
					    transform: translateY(-50%);
					    width: 32px;
					    height: auto;
					    &.white {display: none;}
					    @include respond(large-down) {
					    	top: -3px;
					    	transform: none;
					    	float: left;
					    	&.black {display: none;}
					    	&.white {display: inline;}
					    }

						}
						&:hover {
							background-color: $charcoal;
							img.white {display: inline;}
							img.black {display: none;}
						}
						.feature-details {
							position: absolute;
							left:0;
							bottom:60px;
							width: 100%;
							display: none;
							padding:30px 20px 15px;
							background-color: $charcoal;
							z-index: 15;
							box-sizing: border-box;
					    text-align: left;
					    white-space: normal;
					    @include respond(large-down) {
					    	position: static;
						    display: block !important;
						    padding: 0 0 0 42px;
					    }
							h3 {
								margin:0 0 15px;
								padding:0;
								font-size: 16px;
	  						color:$white;
	  						line-height: 1;
	  						text-transform: uppercase;
	  						@include respond(large-down) {
	  							margin:0 0 4px;
	  							font-family: $g-semibold;
	  						}
							}
							p {
								margin:0 0 15px;
								padding:0;
								font-size: 12px;
	  						color:$white;
	  						line-height: 1.33;
	  						@include respond(large-down) {
	  						}
							}
						}

					}
					.btn-more-details {
						display: none;
						font-family: $g-semibold;
						@include respond(large-down) {
							display: block;
							margin-top: 0;
						}
					}
				}
				.btn-more-features {
					width:20px;
					height:60px;
					border-left:1px solid #c6c8ca;
					position: absolute;
					right:0;
					top:0;
					z-index: 10;
					float: right;
					transition: width 0.3s ease;
					background-color: $light-gray;
					cursor: pointer;
					@include respond(large-down) {
						display: none;
					}
					.dots-wrap {
						width: 8px;
						height: 33px;
						position: absolute;
						left:50%;
						top:50%;
						transform: translate(-50%, -50%);
						transition: transform 0.3s ease;
					}
					.dot {
						width: 5px;
					  height: 5px;
					  background-color: #323030;
					  border-radius: 100px;
					}
					.first-dot {
						position: absolute;
						left:50%;
						top:0;
						transform: translateX(-50%);
					}
					.middle-dot {
						position: absolute;
						left:50%;
						top:50%;
						transform: translate(-50%, -50%);
					}
					.last-dot {
						position: absolute;
						left:50%;
						bottom:0;
						transform: translateX(-50%);
					}
				}
				.btn-more-features-mobile {
					display: none;

					@include respond(large-down) {
						display: block;
						width:130px;
						height:60px;
						line-height: 60px;
						border-left:1px solid #c6c8ca;
						position: absolute;
						right:0;
						top:0;
						z-index: 10;
						float: right;
						transition: width 0.3s ease;
						background-color: $light-gray;
						cursor: pointer;
						font-size: 15px;
						color: $charcoal;
						font-family: $g-semibold;
						text-align: center;
						img {
							margin-left: 15px;
					    vertical-align: middle;
					    max-width: 15px;
					    position: relative;
					    top: -2px;
						}
					}
				}
				.product-brand-mobile {
					display: none;
					color:$white;
					@include respond(large-down) {
						display: block;
						font-size: 18px;
    				margin-bottom: 5px;
					}
				}
				.product-name-mobile {
					display: none;
					color:$white;
					@include respond(large-down) {
						display: block;
						font-size: 15px;
						font-family: $g-semibold;
					}
				}
				&.more-features-visible {
					.comfort-type {
						margin-left: -100%;
					}

					.features-list {
						margin-right: calc(100% + 4px);
						overflow: visible;
						//width: 100%;
					}
					.btn-more-features {
						width:50px;
						height:60px;
						border-left:1px solid #c6c8ca;
						float: right;
						.dots-wrap {
							width: 8px;
							height: 33px;
							position: absolute;
							left:50%;
							top:50%;
							transform: translate(-50%, -50%) rotate(90deg);
  						transform-origin: 50% 50%;
						}
					}
				}

			}
		}
	}
}

.search-result-content.wide-tiles {
	.search-result-items {
		&.ab-plp-tiles-v3 {
			li.grid-tile {
				max-width:none;
				.brand-and-rating {
					margin-bottom: 10px;
					margin-top: 10px;
					.brand-name {
						float: left;
					}
					.clp-product-reviews {
						float: right;
				    width: auto;
				    margin: 0;
				    clear:none;
				    padding: 0;
					}
				}
				.product-name {
					height: 50px;
				}
				.product-name .name-link {
					font-size: 21px;
	  			font-weight: 400;
	  			height: auto;
				}
				.product-tile {
					.product-compare-wrapper {
						position: absolute;
				    left: 24px;
				    right: inherit;
				    top: 36px;
				    .product-compare {
				    	margin: 0;
				    	label {
				    		display: none;
				    	}
				    }
					}
					.product-key-features-plp {
						top: 117px;
					}
				}
			}
		}
	}
}

.product-tile .product-name {
	margin-bottom: 19px;
}

.ab-plp-main {
	#secondary.refinements.sticky {
		height: calc(100vh - 145px);
	}
	.cat-content-block-container .subcategory-content-tabs {
		width: calc(100% - 265px);
		padding-right: 75px;
		@include respond(large-down) {
			width: calc(100%);
		}
		ul.tab-nav {
			li.tab-active {
				border-bottom: 4px solid $charcoal;
				a {
					color: $charcoal;
				}
			}
		}
	}
	h1.heading-value {line-height: 1.5;}
}

.pt_product-search-result {
	.ab-plp-main {
		.primary-content  {
			@include respond(medium) {
				.search-result-options {
					padding-left: 16px;
					.sort-by, #grid-sort-header {
						border-radius: 6px;
					}
				}
			}
		}
	}
}
