.address-table {
	padding-top: 20px;
	width: 100%;
	border: none;
	border-collapse: initial;
	border-spacing: 0;
	tr {
		display: flex;
		flex-wrap: wrap;
		border: none;
		&:last-child td {
			margin-bottom: 0;
		}
	}
	td {
		display: flex;
		align-items: center;
		padding: 0;
		margin-bottom: 40px;
		width: percentage(1/3);
		border: none;
		box-sizing: border-box;

		@include breakpoint(small down) {
			width: 100%;
		}
	}

	address {
		margin: 0;
		text-align: left;
		border-collapse: collapse;
		a {
			display: block;
			width: 100%;
			font-family: 'Gilroy Medium', Arial, sans-serif;
			font-size: 16px;
			line-height: 19px;
			text-decoration: none;
		}
	}
}

.address-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 10px;
	width: 56px;
	height: 56px;
}

.address {
	font-family: 'Gilroy Regular', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 17px;
	font-style: normal;
}