a.card {
	text-decoration: none;
}

.card {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 40px;
	box-sizing: border-box;
	figure {
		@include aspect-ratio(4, 3);
		@include bgCover();
		margin: 0;
		width: 100%;
		background-color: $white;
		border-top: 1px solid $gray;
		border-left: 1px solid $gray;
		border-right: 1px solid $gray;
		box-sizing: border-box;
	}
	&.large-3 {
		@include breakpoint(large) {
			&:nth-last-child(-n+4) {
				margin-bottom: 0;
			}
		}
	}
	@include breakpoint(medium down) {
		&.small-6,
		&.medium-6 {
			margin-bottom: 20px;
		}
		margin-bottom: 20px;
		&:nth-last-child(-n+2) {
			margin-bottom: 0;
		}
	}
}

.card-header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 15px;
	min-height: 50px;
	width: 100%;
	box-sizing: border-box;
}
