.flash-sale {
  /* text treatment */
  .name-link-text { 
    font-size: 20px; 
    font-weight: bold; 
  }
  .product-standard-price { font-size: 17px; }
  .name-link { text-decoration: none; }
  .product-name-long { display: none; }
  .product-tile .product-name { height: 1.5em; }
  .product-name { margin-top: 0; }
  .product-name .name-link-text .nameofbrand br { display: none !important; }
  .product-promo { display: none; }
  .product-price { padding-top: 10px; }
  .product-price-discount { 
    color: #333; 
    display: block; 
    clear: both; 
    padding-top: 10px; 
    font-weight: bold; 
    font-size: 16px; 
    text-transform: uppercase; 
  }
  .product-sales-price.price-range { 
    float: left; 
    margin-right: 15px; 
    font-size: 21px; 
    color: #D63426; 
    font-family: "Gilroy Bold", "Arial", sans-serif !important; 
  }
  .product-standard-price.price-range.has-sale-price { 
    float: left; 
    padding-top: 3px; 
    text-decoration: line-through; 
  }
  .product-container {
    min-height: 155px;
    
    .btn { 
      max-width: 120px;
      max-height: 36px;
    }
  }

  .product-tile {
    .comfortScale {
      display: none;
    }
  }

  .countdown-container {
    .countdown-inner {
      h5 {
        margin: 0;
      }
    }
  }

  @include breakpoint(small down) {
    .countdown-container {
      text-align: center;
    }

    .countdown-inner {
      margin: 20px auto;
      width: 235px;
      height: 35px;
      
      h5,
      .countdown-clock {
        float: left;
        width: auto !important;
      }

      .countdown-clock {
        margin-top: -10px !important;
      }
    }

    .product-tile {
      display: block !important;
    }

    .product-image img {
      margin-bottom: 20px;
      max-width: 400px;
    }

    .product-sales-price.price-range,
    .product-standard-price.price-range.has-sale-price {
      float: none;
      display: block;
    }

    .product-price,
    .btn {
      display: block;
      text-align: center;
      margin: 0 auto; 
    }
  }

  @include breakpoint(medium down) {
    .product-tile .product-name {
      overflow: visible;
      height: auto;
    }

    .countdown-container {
      margin-bottom: 20px;

      br {
        display: none;
      }
    }
  }

  /* flex/display properties (tablet/desktop only, stack on mobile) */
  @include breakpoint(medium up) {
    min-height: 183px;
    
    .product-container { 
      display: flex; 
      flex-wrap: wrap; 
    }

    .product-image img { max-width: 170px; }

    .product-tile { 
      display: flex !important; 
      width: 100%; 
      order: 0; 
      flex-grow: 1; 
    }

    .product-tile-one { 
      padding-left: 20px; 
      text-align: left; 
      margin-left: 220px; 
      .promotion{    font-size: 15px; }
    }

    .product-tile-one .product-promo .promo { 
      margin-top: 5px; 
      margin-bottom: 5px; 
    }

    .product-price { 
      flex-grow: 1; 
      margin-left: 220px; 
      order: 1; 
      width: 100%; 
      padding-left: 20px; 
    }

    .product-container .btn { 
      margin-left: 240px; 
      order: 2; 
    }

    .product-image { position: absolute; }
  }

  /* modified header countdown timer */
  .flip-clock-wrap { 
    background-color: #F6D651; 
    border-radius: 5px; 
    padding: 0 5px 5px; 
  }

  .flip-clock-wrapper { 
    justify-content: left;

    a {
      color: #333;
      font-weight: bold;
    }

    ul { 
      width: 16px; 
      height: 25px; 
      margin: 10px auto; 
      background: none; 
      border-radius: 0; 
      line-height: 20px;

      li {
        line-height: 20px; list-style-type: none;

        div.main-wrapper { 
          font-size: 22px;
          border-radius: 0;

          div.up,
          div.down {
            div.inn {
              font-size: 22px;
              line-height: 20px;
            }
          }

          div.up:after { 
            top: 20px; 
            height: 1px; 
          }

          div.up div.inn { line-height: 20px; }
          div.down div.inn { bottom: 0; }
        }
      }
    }
  }

  .flip-clock-divider { 
    height: 20px; 
    width: 10px; 
  }

  .flip-clock-dot { display: none; }
  .flip-clock-label { color: #F1F1F2; }
  .flip-clock-wrap .flip-clock-label:after { 
    display: block; 
    color: #333; 
    position: absolute; 
    bottom: 21px; 
  }

  .flip-clock-wrap {
    &:first-of-type .flip-clock-label:after { 
      content: 'Hrs'; 
      left: 12px;
    }
    &:nth-of-type(2) .flip-clock-label:after { 
      content: 'Mins'; 
      left: 8px;
    }
    &:last-of-type .flip-clock-label:after { 
      content: 'Secs'; 
      left: 7px;
    }
  }

  @media only screen and (min-width: 1032px) and (max-width:1115px) {
    .flip-clock-wrap { padding: 0 2px 5px; }
  }

  @include breakpoint(medium up) {
    .flip-clock-divider:first-child {
      width: 0;
    }
  }
}
