.header-submenu-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: $charcoal;

  .column {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include breakpoint(medium down) {
    display: none !important;
  }
}