/*
* SAYT styles
*/
.header-search {
	display: none;
	padding: 0;
	position: relative;

	&.is-open {
		display: block !important;
	}

	input {
		&::-ms-clear {
			display: none;
		}
	}

  #search-suggestions {
    position: absolute;
    min-width: 289px;
    left: 0;
    margin: 0 auto;
    max-width: 1170px;
    right: 0;
    width:100%;

    @include breakpoint(320 down) {
      min-width: 320px;
    }
  }
  #suggestions {
		div:hover {
			color: $color-secondary;
		}
	}
	.search-suggestion-wrapper {
		border:0;
		width: 293px;
		position:static;
		margin-top: 0 !important;
		margin-left: 0;
		display: flex;
		flex-wrap: wrap;
		padding:11px;
		flex-direction: row;
		background-color: #f1f1f2;
		justify-content: flex-start;
        min-height:auto !important;
        box-sizing: border-box;
    	margin-top: 20px;
 
		a {
		  font-family: $g-regular;
		  &:hover {
		    text-decoration: none !important;
		  }
		}
		a.close-search-suggestions {
			float:right;
			width: 25px;
			height: 25px;
			background: url('../images/Close_Gray.svg') no-repeat center center;
			text-indent: -9999em;
			cursor: pointer;
			margin:10px 15px 0 0;
		}
		.product-suggestions {
			border:0 !important;    
            width:auto !important;
			background-color: #fff;
			float: none;
			@include respond(large-down) {
				order: 1;
				width: 100%;
				flex-basis: 100%;
			}
			.header,
			.search-phrase {
				margin:0;
				font-size:16px;
				line-height:19px;
				padding:12px 14px;
				font-family:$g-regular;
				border-bottom:1px solid #F1F1F2;
			}
			.search-phrase{
				color:#323030;
			}
			ul{
				margin:0;
				padding:14px;
				list-style:none;
				overflow:hidden;
				li{
					margin:0;
					padding:14px 0 0;
					&:first-child{
						padding:0;
					}
				}
				a{
					margin:0;
					color: #323030;
					font-size:13px;
					line-height:17px;
					text-decoration:underline;
					&:hover{
						color: #D63426;
					}
				}
			}
			.search-phrase .completed .original {
				color: #D63426;
			}
			.product-suggestion {
				border:0;
				padding: 0;
				&:hover{
					border:0;
					background:none;
				}
				.product-details{
					float:none;
					width:auto;
					padding:0;
				}
		        a {
		          font-size: 14px;
		          line-height: 16px;
		        }
				.product-options {
					display: none;
				}
				.product-price {
					margin-top: 10px;
					span {
						margin: 0;
						color: #323030;
						font-size: 13px;
						line-height: 16px;
						display: block;
					}
					.product-standard-price {
						font-family: $g-bold;
					}
					.price-standard, .product-standard-price.has-sale-price {
			            text-decoration: line-through;
			            font-family: $g-regular;
					}
					.price-sales.price-sales-more, .product-sales-price {
						color: #D63426;
						font-family: $g-bold;
					}
				}
			}
		}
		.phrase-suggestions {
			border:0;
			width: 100%;
			background-color: #fff;
			height:250px;
			overflow-y:scroll;
			overflow-x:hidden;
			-webkit-overflow-scrolling:touch;
		}
		.hitgroup {
			margin:0;
			span.divider {
				border-top: 1px solid #ccc;
				width: 95%;
				display: block;
				margin: 25px 0;
			}
			.header {
				margin:0;
				padding:14px;
				font-size:16px;
				line-height:19px;
				font-family:$g-regular;
				border-bottom:1px solid #F1F1F2;
			}
			ul{
				margin:0;
				padding:14px;
				list-style:none;
				overflow:hidden;
				li{
					margin:0;
					padding:14px 0 0;
					&:first-child{
						padding:0;
					}
				}
				a{
					margin:0;
					color: #323030;
					font-size:13px;
					line-height:17px;
					text-decoration:underline;
					&:hover{
						color: #D63426;
					}
				}
			}
		}

		.more-results {
			width:100%;
			text-align: center;
			margin-top: 25px;
			margin-bottom: 25px;
			a.button {
				width: 200px;
		        border-radius: 5px;
		        &:hover {
		          color: #fff;
		          background-color: lighten($punch, 10%);
		        }
			}
		}
	}
}
