header.header-banner {
  background-color: $charcoal;
  @include respond(large) {
  	position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    height: 32px;
  }

  > div .column {
    display: flex;
    align-items: center;

    a, p {
      color: $white;
      font-family: $g-regular;
      font-size: 15px;
      line-height: 15px;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      color: $white;
      text-decoration: underline;
    }

    &:nth-child(2) {
      justify-content: center;
      height: 32px;
    }

    &:last-child {
      justify-content: flex-end;
    }
  }

  @include breakpoint(medium down) {
    display: none;
  }
}

.header-banner-store {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 20px;
  background-color: $red;
  text-decoration: none !important;
  transition: background-color ease .3s;
  cursor: pointer;

  img,
  p {
    display: inline-block;
  }

  img {
    margin-right: 10px;
  }

  p {
    margin: 0;
    text-decoration: none;
  }

  span:last-child {
    text-decoration: underline;
  }

  &:hover {
    background-color: darken($red, 5%);
  }
}

.desktop-header-promo .html-slot-container > * {
  display: none;

  &:first-child {
    display: block;
  }
}