html.is-open,
body.is-open {
  position: relative;
  overflow-x: hidden;
  height: 100%;
}

#main {
  transition: transform ease .3s;
  
	@include respond(large-down) {
		transform: none;
  }
  
	&.is-open {
		transform: translateX(100%);
  }
}

#header-mobile-toggle {
  display: none;
  margin-right: 20px;
  cursor: pointer;

  div {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: transform ease 0.4s;
  }

  &.is-open {
    div:first-child {
      transform: rotate(-45deg) translate(-6px, 6px);
    }

    div:nth-child(2) {
      opacity: 0;
    }

    div:last-child {
      transform: rotate(45deg) translate(-6px, -7px);
    }
  }

  @include breakpoint(medium down) {
    display: inline-block;
  }
}

.header-bottom {
  @include breakpoint(medium down) {
    position: absolute;
    z-index: 999;
    left: -100%;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    overflow-y: scroll;
    background-color: $light-gray;
    box-sizing: border-box;
    transition: transform ease .3s;

    &.is-open {
      transform: translateX(100%);
    }

    > .column {
      padding: 0;
    }
  }
}

.hide-on-mobile-menu {
  @include breakpoint(medium down) {
    display: none !important;
  }
}