.header-tooltip {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	
	.user-logout {
		display: block;
	}

  ul {
    visibility: hidden;
    top: 15px;
    opacity: 0;
    padding: 7px 8px;
    position: absolute;
    z-index: -1;
    min-width: 80px;
    background-color: $red;
    text-align: center;
    list-style: none;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba($charcoal, 0);
    transition: opacity ease .3s, transform ease .3s, box-shadow ease .3s;

    li {
      margin-bottom: 0;
    }

    a {
      color: $white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: -9px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    &:before {
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 10px solid #D63426;
      background-color: transparent;
    }

    &:after {
      width: 100%;
      height: 15px;
    }

    @include breakpoint(medium up) {
      left: 50%;
      transform: translateY(0px) translateX(-50%);
    }

    @include breakpoint(small down) {
      right: -55px;
    }
  }

  &:hover {
    ul {
      visibility: visible;
      z-index: 1000;
      opacity: 1;
      box-shadow: 0 4px 8px 0 rgba($charcoal, 0.5);

      @include breakpoint(medium up) {
        transform: translateY(10px) translateX(-50%);
      }

      @include breakpoint(small down) {
        &:before {
          display: none;
        }
      }
    }
  }
}
.mobile-find-store .store-details.header-tooltip,
.store-details.header-tooltip:hover {
	ul {
		background-color: white;
    border: 1px solid;
		border-radius: 5px;
    min-height: 298px;
		height: auto;
    padding-bottom: 10px;

		transform: translateY(20px) translateX(-75%);
    width: 350px;

    &:before {
      position: absolute;
      top: -9px;
      left: 25px;
      right: 0;
      width: 15px;
      height: 15px;
      transform: rotate(225deg);
      -webkit-transform: rotate(225deg);
      -moz-transform: rotate(225deg);
      -o-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      border-left: 0px solid transparent;
      border-top: 0px solid #c00b0b00;
    }
    &:after {
      top: -14px;
    }

    @include breakpoint(small down) {
      width: 268px;
    }
	}
}
.shipping-details.header-tooltip:hover {
	ul {
		background-color: white;
    border: 1px solid;
		border-radius: 5px;
    min-height: 298px;
		height: auto;
    padding-bottom: 10px;

		transform: translateY(30px) translateX(-25%);
    width: 350px;

    &:before {
      position: absolute;
      top: -9px;
      left: 0px;
      right: 310px;
      width: 15px;
      height: 15px;
      transform: rotate(225deg);
      -webkit-transform: rotate(225deg);
      -moz-transform: rotate(225deg);
      -o-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      border-left: 0px solid transparent;
      border-top: 0px solid #c00b0b00;
    }
    &:after {
      top: -14px;
    }

    @include breakpoint(small down) {
      width: 268px;
    }
	}
}

.mobile-find-store .store-details.header-tooltip,
.mobile-find-store .shipping-details.header-tooltip {
 position: relative;
}

.mobile-find-store .store-details.header-tooltip .find-store,
.mobile-find-store .shipping-details.header-tooltip .deliver-ship {
  display: none;
}
.mobile-find-store .store-details.header-tooltip ul,
.mobile-find-store .shipping-details.header-tooltip ul {
  background-color: #fff;
  border: 1px solid;
  border-radius: 5px;
  color: #333;
  height: auto;
  min-height: 298px;
  padding-bottom: 10px;
  transform: none;
  left: 12px;
  top: 55px;
  width: calc(100vw - 52px);
}

.mobile-find-store .shipping-details.header-tooltip ul {
  left: auto;
  right: 0;
}

.mobile-find-store .store-details.header-tooltip ul:before,
.mobile-find-store .shipping-details.header-tooltip ul:before {
  position: absolute;
  display: inline;
  top: -9px;
  //left: 0;
  left: -205px;
  right: 0;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 0px solid transparent;
  border-top: 0px solid #c00b0b00;
  z-index: 99;
}

.mobile-find-store .shipping-details.header-tooltip ul:before {
  left: auto;
  right: 56px;
}


.geo-close-btn {
	position: absolute;
    right: 15px;
    top: 18px;
    font-size: 24px !important;
    font-weight: normal;
    color: black !important;
}
.geo-shipping-close-btn {
	position: absolute;
    right: 5px;
    top: 10px;
    font-size: 24px !important;
    font-weight: normal;
    padding: 5px;
    color:black !important;
}
.store-mobile-delivery-shipping, .store-delivery-shipping {
  text-align: left;
}
