.hero {
  position: relative;
  @include bgCover();
  min-height: 300px;
  box-sizing: border-box;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 775px;
}