.hero-slider {
  max-width: 2000px;
  margin: 0 auto;
  margin-bottom: 20px;

  .slick-arrow {
    border: none;
    padding: 30px 0;
    width: 33px;
    line-height: 0.5;
    transition: box-shadow .3s ease-in-out;

    &:hover {
      box-shadow: 0px 4px 15px rgba($black, 0.6);
    }
  }

  .slick-arrow.slick-prev,
  .slick-arrow.slick-next {
    top: 50%;
    transform: translateY(-50%);
  }

  .slick-arrow.slick-prev {
    left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .slick-arrow.slick-next {
    right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .slick-arrow.slick-prev:after {
    top: -8px;
    left: 2px;
  }

  .slick-arrow.slick-next:after {
    top: 0;
    left: 15px;
  }

  .slick-arrow.slick-prev:after {
    background: url('../images/Arrow_White.svg') no-repeat;
    background-size: 10px !important;
    transform: rotate(180deg);
  }
  
  .slick-arrow.slick-next:after {
    background: url('../images/Arrow_White.svg') no-repeat;
    background-size: 10px !important;
    transform: rotate(0deg);
  }

  .slick-dots {
    position: relative;
    margin: 15px 0;
    margin-bottom: 0;

    @include breakpoint(small down) {
      height: 24px;
    }

    li {
      background-color: transparent;
      border-color: $charcoal;
      margin: 0 5px;

      button {
        background-color: transparent;
      }

      &.slick-active {
        background-color: $charcoal;

        button {
          background-color: $charcoal;
        }
      }
    }
  }

  &:hover {
    .slick-arrow {
      background-color: rgba($white, 0.5);
    }

    .slick-prev:after,
    .slick-next:after {
      background: url('../images/Arrow_Dark.svg') no-repeat !important;
      background-size: 10px !important;
    }
  }

  @include respond(large-down) {
    margin-bottom: 0;

    .slick-arrow {
      display: none !important;
    }
  }
}

.hero-slide {
  @include bgCover();
  position: relative;
  padding: 30px 30px 60px;
}

.hero-slide-inner {
  position: relative;
  max-width: 675px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;

  &.white-border {
    border: 2px solid $white;
  }
}