.icon-links {
  @include reset-list(none, 40px 0);
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 0 !important;

  &.centered {
    justify-content: center;
  }

  &.large p {
    font-size: 16px;
  }

  @include respond(large-down) {
    padding: 0 !important;
  }

  &.sizes {
    padding-bottom: 40px !important;
  }
}

.icon-link {
  margin-bottom: 0;
  padding: 0 25px;
  text-align: center;
  box-sizing: border-box;

  a {
    display: block;
    text-decoration: none;
    transition: color ease .3s, fill ease .3s;

    &:hover {
      color: $punch;

      path {
        fill: $punch;
      }
    }
  }

  img {
    margin-bottom: 8px;
  }

  path {
    fill: $mine-shaft;
    transition: fill ease .3s;
  }

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 14px;
    font-family: "Gilroy Semibold", Arial, sans-serif;

    svg {
      margin-right: 5px;
      vertical-align: middle;
    }
  }

  @include respond(large-down) {
    width: 100%;
    padding: 15px 25px;
    border-top: 1px solid #979797;

    span {
      display: block;
    }

    p {
      justify-content: center;

      svg {
        margin-right: 25px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// icon-links-buttons:
// Icon links that inherit icon-links buttons
// but add styles to look like buttons
.icon-links-buttons {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}
.icon-links-buttons .icon-links {
  @include reset-list(none, 10px 0);
  justify-content: space-between;
  padding-bottom: 0 !important;

  @include respond(large-down) {
    padding: 10px 10px 40px !important;
  }

  &.sizes {
    padding-bottom: 40px !important;
  }
}

.icon-links-buttons .icon-links .icon-link {
  -ms-flex: 0 0 22%;
  border: 1px solid #979797;
  flex: 0 0 22%;
  max-width: 22%;
  padding: 12px 0;
  width: auto;
}
