.info-cards {
  @include reset-list(none, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &.spaced {
	  @include respond(large-down) {
      .info-card {
        margin-bottom: 20px !important;
        border-bottom: none !important;
      }
    }
  }
}

.info-card {
  display: flex;  
  align-items: center;
  box-sizing: border-box;  
  width: 32%;
  margin: 0;
  padding: 30px 15px;
  background-color: $white;
  color: $mine-shaft;
  text-align: center;

  @include respond(large-down) {
    width: 100%;
    margin-bottom: 0;
    border-bottom: 1px solid #979797;

    &:last-child {
      border-bottom: none;
    }

    .btn-new {
      max-width: none;
    }
  }

  &.bg-dark,
  &.bg-red {
    color: $white;

    h4 {
      color: $white;
    }
  }

  > div {
    width: 100%;
  }

  h4, p {
    margin: 0;
  }

  h4 {
    margin-top: 16px;
    color: $mine-shaft;
    font-size: 20px;
    line-height: 23px;
    text-transform: none;
    font-family: "Gilroy Semibold", Arial, sans-serif;
  }

  p {
    margin-top: 0 !important;
    margin-bottom: 16px !important;
    font-size: 14px;
    line-height: 16px;
    font-family: "Gilroy", Arial, sans-serif;
    padding: 10px 0;
  }

  a.button {
    width: 100%;
    max-width: 170px;
  }
}