.product-dynamic-carousel-wrap {
  margin: 0 auto;
  max-width: map-get($breakpoints, large);

  .product-cards {
    @include breakpoint(medium down) {
      padding: 0 30px;
    }
  }
}

.product-dynamic-carousel {
  .slick-list,
  .slick-track {
    display: flex;
  }

  .slick-track {
    margin: 0 auto;
  }

  .product-card {
    padding: 0 30px;
    height: auto !important;

    @include breakpoint(medium down) {
      padding: 0 15px;
    }
  }

  button.slick-arrow {

    &.slick-prev {
      left: 0;
    }

    &.slick-next {
      right: 0;
    }
    @include breakpoint(medium down) {
      top: 50% !important;
    }
  }
}

// IE 11
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .slick-list,
  .slick-track {
  	display: block !important;
  }

  .product-dynamic-carousel-card {
    min-height: 440px;
  }
}