.product-cards {
  padding: 0 65px;

  .slick-list,
  .slick-track,
  .product-card {
    display: flex;
  }

  .slick-arrow {
    background-color: transparent;
    border: none;

    &.slick-disabled {
      display: none !important;
    }
  }

  .slick-dots {
    position: relative;
    bottom: 0;
    margin-top: 30px;

    li.slick-active {
      background-color: $black;

      button {
        background: $black;
      }
    }
  }

  @include breakpoint(small down) {
    padding: 0 26px;
  }
}

.product-card {
  display: flex;
  box-sizing: border-box;  
  margin: 0;
  text-align: center;
  width: percentage(1/3);

  @include breakpoint(small down) {
    width: 100%;
  }
}

.product-card-content {
  position: relative;
  margin: 0 auto;
  padding: 10px 10px 35px;
  width: 100%;
  max-width: 228px;
  min-height: 380px;
  background-color: $white;
  text-align: left;
  border: 1px solid $medium-gray;

  @include breakpoint(small down) {
    max-width: 300px;
  }

  .product-tile {
    width: 100%;
  }

  a {
  	width: 100%;
  	text-decoration: none;
  }

  .product-image {
  	margin: 0;
  	width: 100%;
  	background-color: $white;
  	img {
  		margin: 0 auto;
  	}
  }

  .product-tile-one {
  	.product-name {
      height: auto;
  		margin: 0;
  		padding: 15px 0 20px;
  		text-align: center;
    }
    
  	.name-link-text {
      @include multi-line-ellipsis(16px, 1.2, 2);
      text-align: left;
    }
  }

  .product-price {
    padding-bottom: 10px;

    span {
      display: block;
      font-size: 16px;
      line-height: 16px;

      &.price-sales,
      &.product-standard-price {
        padding-top: 21px;
        font-family: $g-bold;
      }

      &.price-sales-more,
      &.product-sales-price {
        padding-top: 0;
        font-family: $g-bold;
        color: $red;
      }

      &.single-standard-price-mf,
      &.has-sale-price {
        padding-top: 0;
        font-family: $g-regular;
        text-decoration: line-through;
      }

      &.product-price-discount {
      	margin-left: -2px;
      }

      &:not(:last-child) {
        padding-bottom: 5px;
      }
    }
  }

  .promo,
  .product-name-long,
  .product-options {
  	display: none;
  }
}

.product-card-rating {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  justify-content: flex-start;
}

.mattresses-on-sale {
  padding: 0 0 50px;
  background-color: #fff;
  @include respond(medium) {
    background-image: url(../images/bg-mattresses-on-sale-left.svg), url(../images/bg-mattresses-on-sale-right.svg);
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat; 
  }
  h3 {
    margin-top: 0;
    @include respond(medium) {
      margin-top: 33px;
    }
  }
  .price-starting {
    position: absolute;
    left: 0;
    top:0;
    border-bottom-right-radius: 3px;
    background-color: #f6d651;
    height: 33px;
    line-height: 33px;
    display: inline-block;
    padding: 0 15px;
    font-family: 'Gilroy Extrabold', 'gilroy-extrabold', 'Gilroy', 'serif';
    font-size: 21px;
    font-weight: 800;
    color: #323030;
    z-index: 10;
  }
  .product-cards {
    width: calc(100% - 20px);
    padding: 0;
    margin: 10px auto;
    .product-card {
      padding: 7.5px;
      @include respond(medium) {
        padding: 15px;
      }
    }
    &.slick-slider {
      .slick-dots {
        button {
          background: #c6c8ca;
        }
        li {
          background: #c6c8ca;
          border: 1px solid #c6c8ca;
          &.slick-active {
            background-color: #d63426;
            border: 1px solid #d63426;
            button {
              background: #d63426;
            }
          }
        }    
      }
    }
    .slick-list {
      @include respond(medium) {
        margin: 0 -5px;
      }
      @include respond(x-large) {
        margin: 0 -15px;
      }
    }
    .slick-arrow {
      background-color: #323030;
      width: 70px;
      height: 70px;
      opacity: 0.9;
      border-radius: 100px;
      margin-top: -35px;
      &:after {
        background-image: url(../images/arrow.svg);
        background-repeat:no-repeat;
        background-position:center center;
        width: 43px;
        height: 34px;
        background-size: 90% auto;
        top: -22px;
        left: 14px;
      }
      &.slick-prev {
        left: 12px;
      }
      &.slick-next {
        right: 10px;
        &:after {
          left: 13px;
        }
      } 
    }
    .slick-dots {
      margin-top: 25px;
    }
  }
  .product-card-content {
    max-width: 350px;
    padding: 0 0 30px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    border:none;
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
    .product-image::after {
      display: block;
      position: relative;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
      margin-top: -50px;
      height: 50px;
      width: 100%;
      content: '';
    }
    .brand-name {
      padding-left: 10px;
      padding-right: 10px;        
      margin-top: 10px;
      margin-bottom: 10px; 
      @include respond(medium) {
        padding-left: 20px;
        padding-right: 20px;   
      }     
      img {
          height: 35px;
          opacity: 0.6;
        }
    }
    .sale-product-name {
      font-family: 'Gilroy Semibold', 'Arial', sans-serif;
      font-size: 22px;
      font-weight: 600;
      color: #404040;
      margin-bottom: 39px;
      padding-left: 10px;
      padding-right: 10px; 
      @include respond(medium) {
        padding-left: 20px;
        padding-right: 20px;   
      }  
      a{
        font-family: 'Gilroy Semibold', 'Arial', sans-serif;
        font-size: 22px;
        font-weight: 600;
        color: #404040;
        &:hover {
          color: inherit;
        }
      }
    }
    .price-now {
      font-family: 'Gilroy Semibold', 'Arial', sans-serif;
      font-size: 28px;
      font-weight: 600;
      line-height: 1;
      letter-spacing: normal;
      color: #e21a23;
      position: absolute;
      left: 0;
      bottom: 25px;
      padding-left: 10px;
      padding-right: 10px; 
      @include respond(medium) {
        padding-left: 20px;
        padding-right: 20px;   
      }  
    }
   .product-tile-one,
   .swatches-wrapper,
   .comfortScale {
      display: none;
    }
  }
  .btn-black {
    background-color: #444343;
    border-radius: 5px;
    width: 292px;
    height: 40px;
    line-height: 40px;
    display: block;
    margin: 60px auto 30px;
    font-family: 'Gilroy Semibold', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      background-color: #323030;
    }
  }
}
@include respond(medium) {
  .mattresses-on-sale .product-cards {
    width: 748px;
    padding: 0;
    box-sizing: border-box;
    margin: 10px auto;
  }
}
@include respond(x-large) {
  .mattresses-on-sale .product-cards {
    width: 1180px;
    padding: 0;
    margin: 0 auto;
  }
}
