.side-by-side-promos {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 0;

  @include respond(large-down) {
    padding: 20px 0;
  }
}

.side-by-side-promo {
  padding: 20px;
  width: 49%;
  @include bgCover();
  background-color: gray; // remove when images are added
  text-align: center;
  box-sizing: border-box;

  @include respond(large-down) {
    width: 100%;

    &:first-child {
      margin-bottom: 20px;
    }

    .btn-new {
      max-width: none;
    }
  }

  h2, h3, h5 {
    color: $white;
  }

  img {
    margin-bottom: 12px;
  }

  h3 {
    margin: 0;
    font-size: 20px;
    font-family: "Gilroy", Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 23px;
  }

  h5 {
    margin: 0;
    font-size: 15px;
    font-family: "Gilroy", Arial, sans-serif;
    line-height: 17px;
  }

  h2 {
    margin: 0 0 18px;
    font-size: 50px;
    font-family: "Gilroy Bold", Arial, sans-serif;
    line-height: 56px;

    span {
      vertical-align: top;
      font-size: 30px;
      border-bottom: 3px solid $white;      
    }

    sup {
      top: -0.75em;      
      font-size: 50%;
    }
  }
}