.pt_account,
.pt_orderhistory-details{	
	#main{
		margin-top: 57px;

		@include respond(medium) {
			margin-top: 86px;
		}
	}

	.form-horizontal{
		.field-wrapper{
			max-width: inherit;
			margin-bottom: 0;
		}

		.form-caption{
			margin: 0;
			&.error-message {
				margin: 11px 0 0 !important;
			}
		}
	}

	label{
		width: 100%;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 1.42;
		color: $black;
		margin: 0 0 3px;
		font-weight: $font-wt-regular;
		float: left;
	}

	input[type="text"], input[type="number"], input[type="password"], input[type="date"], input[type="email"], textarea{
		width: 100%;
		height: 54px;
		border-radius: 3px;
		background: $white;
		-webkit-appearance: none;
		box-shadow: none;
		border: solid 1px $t-geyser;
	}

	.field-wrapper{
		width: 100%;
		max-width: inherit;
	}

	.form-password{
		.form-caption{
			display: block;

			&.error-message {
				display: inline-block;
			}
		}
	}

	.form-row{
		margin: 5px 0 10px;

		@include respond(medium) {
			margin: 5px 0 20px;
		}
	}

	span.error, div.error{
		font-size: 12px;
	}

	div.checker {
		height: 22px;
		width: 22px;

		span {
			background: none;
			height: 22px;
			width: 22px;
			position: relative;
			display: inline-block;
			z-index: 100;
			padding: 0 0 0 0px;

			&:before{
				height: 22px;
				width: 22px;
				background-color: $t-light-grey;
				z-index: -1;
				content:" ";
				border: 1px solid $magenta; 
				position:absolute;
				left:0;
				top:0;
				border-radius: 3px;
				bottom: 0;
				right: 0;
			}


			input[type="checkbox"]{
				position:absolute;
				left:0;
				top:0;
				bottom: 0;
				border: 1px solid $magenta;
				right: 0;
				border-radius: 2px;
				background: none;
				height: 22px;
				width: 22px;
				opacity: 0;
				z-index: 5;
			}
			
		}
		span.checked {
			input[type="checkbox"]{
				border: 1px solid $magenta;
			}

			&:after {
				content:'';
				width:16px;
				height:8px;
				position:absolute;
				top:50%;
				left:50%;
				border:3px solid $magenta;
				border-width:0 0 4px 5px;
				-moz-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);
				transform: rotate(-45deg);
				margin:-6px 0 0 -8px;
			}
		}
	}

	.container{
		&:after{
			clear: both;
			content: " ";
			display: block
		}
	}

	.main-content{
		float: right;
		width: 100%;

		@include respond(medium) {
			width: 74%;
		}

		button {
			@include btn-default();
			min-width: 247px;
		}
	}

	.btn-primary,{
		.btn-default,{
			.btn-secondary{
				padding:9px 30px;
			}
		}
	}

	#secondary{
		float: left;
		width: 100%;

		@include respond(medium) {
			width: 26%;
			padding: 0 30px 0 0;
		}

		.three-color-border {
			margin: 0 auto;
			display: block;
			width: 100%;
			border-bottom:1px solid $t-gainsboro;
			position:relative;

			@include respond(medium) {
				display: none;
			}

			.colors-wrap {
				position:absolute;
				left: 50%;
				margin-left: -20px;
				bottom:-6px;
				font-size: 0;
				.color {
					width: 12px;
					height: 12px;
					display: inline-block;
					margin-right: 2px;
					&.soft {
						background-color:$t-orange;
					}
					&.medium {
						background-color:$magenta;
					}
					&.firm {
						background-color:$t-disco;
					}
				}
			}
		}
		.mt-30 {
			margin-top:30px !important;
		}
		.mb-30 {
			margin-bottom:30px !important;
		}
		.mb-50 {
			margin-bottom:50px !important;
		}

	}

	.breadcrumb-area{
		overflow: hidden;
		width: 100%;
	}

	.breadcrumb{
		padding: 0 0 15px 0;
		float: left;
		@include respond(medium) {
			max-width: 70%;
		}

		a{
			font-size: 16px;
			line-height: 1.5;
			color: $t-sand;
			text-decoration: none;

			&:hover{
				color: $t-orange;
			}
		}
	}

	.breadcrumb-signout{
		float: right;
		margin:5px 0;
		width: 100%;

		@include respond(medium) {
			width: auto;
			margin: 0 0 5px;
		}

		a{
			font-size: 16px;
			line-height: 1.5;
			text-align: right;
			color:$t-sand;
			text-decoration: none;

			&:hover{
				color: $orange;
			}
		}
	}

}

.secondary-navigation{
	background: $t-disco;
	padding:10px;
	display: none;
	@include respond(medium) {
		display: block;
	}

	@include respond(x-large) {
		padding:30px;
	}

	p{
		margin: 0;
	}

	span{
		font-size: 20px;
		font-weight: $font-wt-bold;
		line-height: 24px;
		margin: 0 0 10px;
		display: block;
		color: rgba($white, 0.5);

		@include respond(x-large) {
			font-size: 32px;
			line-height: 38px;
			margin: 0 0 15px;
		}
	}

	ul{
		@extend %clear_list;
		padding: 0;

		li{
			padding: 0 0 10px;

			@include respond(medium) {
				padding: 0 0 17px;
			}

			&.active{
				a{
					border-color: $t-amaranth;
				}
			}
		}

		a{
			font-size: 14px;
			line-height: 22px;
			font-weight: $font-wt-semibold;
			color: $white;
			text-decoration: none;
			border-bottom: 2px solid transparent;

			@include respond(large) {
				font-size: 18px;
			}

			&.active,
			&:hover{
				border-color: $t-amaranth;
			} 
		}
	}
}

.account-mobile-menu{
	background: $t-disco;
	margin:0 -15px 10px;
	padding: 10px 15px;

	@include respond(medium) {
		display: none;
	}

	&:after{
		display: block;
		clear: both;
		content: " ";
	}

	.title{
		font-size: 18px;
		font-weight: $font-wt-semibold;
		display: block;
		margin: 0 0 10px;
		color: $white;
	}

	.dropdown-area{
		position: relative;
		width: 100%;
		z-index:10;
		float: left;
		margin: 0 0 10px;

		&.active-drop{
			z-index: 99;
			.links-drop{
				display: block;
				z-index: 99;
			}
		}

		.fake-input{
			position: relative;
			display: block;
			margin:0;
			outline:none;
			background-position: inherit;
			-webkit-appearance:none;
			width: 100%;
			text-decoration: none;
			height: 51px;
			border-radius: 4px;
			background: linear-gradient(to bottom, $white, #f7f7f7);
			border: solid 1px $t-gainsboro;
			font-size: 20px;
			font-weight: $font-wt-semibold;
			line-height: 1.25;
			text-align: left;
			color: $t-doveGray;
			-webkit-appearance: button;
			-moz-appearance: button;
			appearance: button;

			&:after{ 
				position: absolute;
				right:18px;
				content:'\f0d7 ';
				line-height: 18px;
				font-size: 18px;
				font-family: "FontAwesome";
				position:absolute;
				top:50%;
				line-height: 0;
				z-index: 1;
			}

			input{
				@extend %full-width-height;
				background: $white;
				border:0;
				padding:7px 50px 8px 16px;
				height: 51px;
				font-size: 20px;
				font-weight: $font-wt-semibold;
				line-height: 1.25;
				text-align: left;
				color:$magenta;
				-webkit-appearance: button;
				-moz-appearance: button;
				appearance: button;
			}
		}

		.links-drop{
			@extend %clear_list;
			position:absolute;
			left:1px;
			top:48px;
			display: none;
			right: 1px;
			z-index: 9;
			border-radius:0 0 9px 9px;
			background:$white;
			box-shadow: 0 2px 3px 0 rgba($black, 0.2);

			li{
				@extend %clear_list;

				&.selected{
					display: none;
				}
			}

			a{
				padding: 15px 20px;
				font-size: 20px;
				overflow: hidden;
				cursor: default;
				display: block;
				text-decoration: none;
				line-height: 1.22;
				color: $t-hover-grey;
				font-weight: $font-wt-semibold;

				&:hover{
					background: $t-light-grey;
				}
			}

			strong{
				float: left;
				max-width: 50%;
			}

			span{
				float: right;
				text-align: right;
				max-width: 50%;
			}
		}
	}
}

.info-update-form{
	border: 1px solid $t-geyser;
	padding: 15px;
	width: 100%;
	overflow: hidden;
	margin:0 0 30px;

	@include respond(medium) {
		padding: 20px
	}

	@include respond(large) {
		margin: 0 0 60px;
		padding: 30px 40px 20px;
	}

	button{
		
		@include respond(large-down) {
			width: 100%;
		}
	}

	legend{
		border:0;
		display: block;
		font-size: 18px;
		font-weight: $font-wt-semibold;
		line-height: 1.39;
		color:$t-cape-cod;
		margin: 0 0 15px;
		padding: 0;
	}

	.outer-row{
		overflow: hidden;
		@include respond(medium) {
			margin: 0 -15px;
		}
	}

	.form-col{
		float: left;
		width: 100%;

		@include respond(medium) {
			width: 47%;
			padding: 0 15px;
		}
	}

	button{
		min-width: 247px;
	}
}

#edit-address-form{
	.form-row{
		.form-caption{
			display: block;
			&.error-message {
				margin: 11px 0 0 !important;
			}
		}
	}

	h2{
		color: $t-dove-gray;
		margin: 0 0 20px;
	}

	button{
		min-width: 247px;
		float: right;
	}

	.form-col{
		float: left;
		width: 100%;

		@include respond(medium) {
			width: 50%;
			padding: 0 15px;
		}
	}

	div.selector {
		display:inline-block;
		padding:5px 50px 8px 16px;
		margin:0;
		font:inherit;
		outline:none;
		background-position: inherit;
		-webkit-appearance:none;
		width: 100%;
		height: 51px;
		border-radius: 0;
		background: $white;
		border: solid 1px $t-gainsboro;
		color: $t-doveGray;
		font-family: $sans-serif;
		
		&:after{ 
			position: absolute;
			right:18px;
			content:'\f0d7';
			line-height: 16px;
			font-size: 16px;
			font-family: "FontAwesome";
			position:absolute;
			top:50%;
			line-height: 0;
			z-index: 1;
		}

		> span {
			text-overflow: ellipsis;
			display: block;
			@extend %layout;
			font-size: 14px;
			white-space: nowrap;
			background: none;
			height: 40px;
			line-height: 40px;
			cursor: pointer;
			padding-left: 0;
			padding-right: 35px;
			box-sizing: border-box;
			width: 100% !important;
		}

		select {
			opacity: 0;
			border: none;
			background: none;
			position: absolute;
			height: 51px;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 10000;
		}

		&.hover,
		&.focus{
			&.active{
				background-position: inherit;
				span{
					background: none;
				}
			}
		}
		span.error {			
			font-size: 12px;
			text-overflow: inherit;
			display: inline-block;
			overflow: visible;
			white-space: normal;
			background: $white;
			height: auto;
			line-height: 17px;
			cursor: default;
			padding: 1px 10px 1px 24px;
			box-sizing: border-box;
			width: auto !important;
			margin: 13px 0 0 -17px;
		}
	}

	.inner-row{
		float: left;
		width: calc(100% + 30px);
		margin: 0 0 15px;
		@include respond(medium) {
			margin: 0 -15px 13px;
		}
	}
	.form-row {
		margin: 0 0 20px;
	}

	.form-row-button{
		max-width: inherit;
		float: left;
		width: 100%;
		margin: 20px 0;
		
		@include respond(medium) {
			margin: 30px 0 50px;
		}

		a.cancel-edit{
			float: left;
			text-decoration: none;
			margin: 20px 0 0;
			font-size: 16px;
			color:$t-sand;
			line-height: 20px;

			@include respond(medium) {
				margin: 10px 0 0;
			}

			span{
				display: inline-block;
				vertical-align: top;
				padding: 2px 0 0;
			}

			&:hover{
				color: $magenta
			}
		}
	}

	button{
		
		@include respond(large-down) {
			width: 100%;
		}
	}
}

h3.other-address{
	margin: 0 0 20px;
	font-weight: $font-wt-semibold;
	color: $t-disco;
	font-size: 24px;
}

ul.address-list{
	@extend %clear_list;
	overflow: hidden;
	font-size: 0;
	line-height: 0;

	@include respond(medium) {
		margin:0 -15px; 
	}

	li{
		display: inline-block;
		vertical-align: top;
		padding: 0 0 15px;
		width: 100%;
		font-size: 16px;
		line-height: 1.5;
		color:$t-mine-shaft;

		@include respond(medium) {
			padding: 0 15px 30px;
			width:50%;
		}
	}

	&.address-lists{
		margin: 0 0 30px;

		@include respond(medium) {
			margin:0 -15px 30px;
			display: flex;
			flex-wrap: wrap;
		}
	}

	&.address-list-default{
		margin: 0 0 30px;

		li{
			vertical-align: middle;
			text-align: center;
		}

		.address-tile{
			background: $t-light-grey;
			padding: 15px;
			text-align: left;
			width: 100%;

			@include respond(medium) {
				padding: 10px;
				width: 48.2%;
			}

			@include respond(x-large) {
				padding: 24px;
			}
		}

		h3{
			margin: 0 0 10px;
			font-weight: $font-wt-semibold;
			color: $t-amaranth;
			font-size: 24px;
		}

		a.btn-default{
			@include respond(large-down) {
				width: 100%;
				margin: 15px 0 0;
			}
		}
	}

	.inbox{
		background: $t-light-grey;
		padding: 15px;

		@include respond(medium) {
			padding: 10px;
			height: 100%;
		}

		@include respond(x-large) {
			padding: 24px;
		}
	}

	.mini-address-name{
		font-weight: $font-wt-semibold;
		margin: 0 0 10px;
	}

	.phone-row{
		padding: 10px 0 0;
	}

	.mini-address-location{
		margin: 0 0 10px;
	}

	.address-links{
		overflow: hidden;
		font-size: 0;

		a{
			display: inline-block;
			vertical-align: top;
			background: $white;
			border:1px solid $t-primary-color;
			border-radius: 50px;
			font-size: 14px;
			line-height: 16px;
			margin: 0 7px 0 0;
			font-weight: $font-wt-semibold;
			text-align: center;
			color: $t-primary-color;
			text-transform: none;
			padding: 8px 14px;
			text-decoration: none;
			min-width: inherit;

			@include respond(medium) {
				margin: 0 5px 10px 0;
			}

			@include respond(x-large) {
				margin: 0 15px 0  0;
				padding: 8px 20px;
				min-width: 72px;
			}

			&:after{
				display: none;
			}

			&:hover{
				background: $t-primary-color;
				color:$white;
			}

			&:last-child{
				margin: 0;
			}
		}
	}
}

#NewPasswordForm,
#PasswordResetForm{
	@include respond(x-small) {
		width: 100%;
		padding:0;
		.btn-default {
			width: 100%;
		}
	}
    margin: 0 0 30px 0;
    max-width: 478px;
    padding: 0 20px 0 0;

}

#PasswordResetForm {
	.col-tot {
		@include align-reset(top, 18, 21);
		margin: 0 -10px 50px;
		.field-wrapper { margin: 0;}

		.error-message {
			@include font-size(12px);
			@include line-height(15px);
		}

		.col-1,
		.col-2 {
			width: 100%;
			@include respond(medium) {
				width: 50%;
			}
			float: none;
			padding: 0 10px;
		}
		.col-2 {
			@include respond(medium) {
				margin: 30px 0 0;
			}
			.btn-default {
				display: block;
				width: 100%;
				@include respond(medium) {
					display: inline-block;
					width: auto;
				}
			}			
		}
	}
span.error, div.error{
	font-size: 12px;
}
}

p.error{
	margin: 0;
}

.customerror {
		border: 1px solid $crimson !important;
	}