.ui-tabs{
	.ui-tabs-panel{
		h3{
			display: block;
		}
	}
}

.login-form-cols{
	width: 100%;
	margin: 0 0 20px;
	padding: 0; 

	@include respond(medium) {
		margin: 0 0 50px;
	}

	&:after{
		display: block;
		clear: both;
		content: " ";
	}


	h2{
		color: $t-dove-gray;
		margin: 0 0 35px;
		display: none;

		@include respond(medium) {
			display: block;
		}
	}

	ul.login-tabs-links{
		@include respond(medium) {
			display: none;
		}
	}
	.col-1,
	.col-2{
		padding:20px 0;
		width: 100%;
		@include respond(medium) {
			width: 50%;
			padding-top: 0;
			display:inline-block !important;
		}
	}


	.col-1{
		
		@include respond(medium) {
			padding: 0 20px 0 0;
		}

		@include respond(large) {
			max-width: 480px;
			padding: 0 20px 0 0;
		}
	}


	.ui-tabs-nav{
		border:0;
		position: relative;
		height: inherit;
		@extend %clear_list;
		margin: 0 -15px;
		background: $t-light-mGray;
		display: flex;

		.ui-state-default{
			text-align: center;
			position: relative;
			border:0;
			width: 50%;
			margin: 0;

			.ui-tabs-anchor{
				position: relative;
				display: block;
				
				&:after{
					background:$t-light-mGray;
					height: 3px;
					position: absolute;
					left:0;
					right: 0;
					bottom: 0;
					content: ' ';
					display: block;
					z-index: 2;
				}
			}

			&.ui-state-active,
			&.ui-state-hover{
				padding-bottom: 0;
				margin-bottom: 0;

				.ui-tabs-anchor{
					color: $magenta;

					&:after{
						background: $magenta;
						height: 3px;
						position: absolute;
						left:0;
						right: 0;
						bottom: 0;
						content: ' ';
						display: block;
						z-index: 2;
					}
				}
			}
		}	

		.ui-tabs-anchor{
			font-size: 14px;
			font-weight: $font-wt-semibold;
			line-height: 1.25;
			color:$black;
			float: none;
			display: inline-block;
			vertical-align: top;
			cursor: pointer !important;
			width: 100%;
			padding: 8px 5px 10px;
		}
	}
}

.login-box {
	width: 100%;
	position: relative;

	.returning-customers{
		@include respond(medium){
			margin: 0 0 30px;
			padding: 0 0 30px;
			border-bottom:solid 1px $t-gray3;
		}

		.remind-me {
			margin: 25px 0 0;

			@include respond(medium){
				margin: 40px 0 0;
			}
		}
	}

	h3{
		font-weight: $font-wt-semibold;
		color: $t-amaranth;
		margin: 0 0 10px;
		font-size: 24px;

		@include respond(medium){
			margin: 0 0 20px;
		}
	}
	
	.error {
		margin-left: 0;
	}

	button {
		max-width: 100%;
		width: 100%;
		padding: 8px;
		@include btn-default();

		@include respond(medium){
			max-width: 247px;
		}
	}

	.login-rememberme{
		float: left;

		@include respond(large){
			float: right;
		}
		
		span{
			text-transform: none;
		}
	}

	#new-user,
	#password-reset{
		font-size: 16px;
		font-weight: $font-wt-semibold;
		color:$t-gray-shaft;
		text-decoration: none;
		margin: 0 0 5px;

		i{
			font-size: 12px;
		}

		&:hover{
			color: $t-amaranth;
		}
	}

	#new-user{
		@include respond(medium){
			display: none;
		}
	}

	.form-row{
		&.form-radio,
		&.form-checkbox{
			.label,
			label{
				margin-right: 0;
				font-size: 18px;
				color: $t-cape-cod;
				width: auto;
				padding: 3px 0 0;
			}

			.field-wrapper{
				display: inline;
				width: auto;
			}
		}
	}
} 

.account-nav-asset{
	padding: 0;
	margin: 0;
	display: none;

	@include respond(medium){
		display: block;
	}
}

.account-nav-help,
.account-nav-text{
	overflow: hidden;
	width: 100%;
	font-size: 18px;
	line-height: 1.39;
	color: $t-cape-cod;

	p{
		margin: 0 0 20px;
		padding: 0;

		span{
			display: block;
		}
	}

	h4{
		color: $t-mine-shaft;
		margin: 0 0 20px;
	}

	ul.contact-list{
		@extend %clear_list;
		margin: 0 0 30px;

		li{
			font-size: 16px;
			font-weight: $font-wt-semibold;
			line-height: 20px;
			color:$t-disco; 
			list-style: none;
			margin: 0 0 5px;
		}

		a{
			color: $t-disco;
			text-decoration: none;
			font-weight: $font-wt-semibold;

			&:hover{
				color: $black;
			}
		}

		span,
		i{
			width: 30px;
			display: inline-block;
			vertical-align: middle;
			font-size: 20px;
			padding: 0 0 0 2px;
		}
	}

	.tel{
		font-size: 16px;
		font-weight: $font-wt-semibold;
		line-height: 28px;
		color:$t-disco; 
		margin: 0 0 2px;

		i{
			display: inline-block;
			vertical-align: middle;
			font-size: 24px;
		}
	}
}

.account-nav-help{
	text-align: center;

	@include respond(medium) {
		text-align: left;
		margin-top: 0;
		border: 0;
		padding: 10px 0;
	}

	@include respond(large) {
		padding:40px  20px;
	}

	ul.contact-list{
		margin: 0;
		@include respond(medium) {
			margin: 0;
		}

		span,
		i{
			font-size: 40px;
			text-align: center;
			width: 100%;
			margin: 10px 0;

			@include respond(medium) {
				font-size: 22px;
				margin: 0;
				width: 30px;
				text-align: left;
			}
		}

		li{ margin: 0 0 9px; }
	}

	.tel{
		margin: 0 0 30px;

		i{
			font-size: 40px;
			text-align: center;
			width: 100%;
			margin: 10px 0;

			@include respond(medium) {
				font-size: 22px;
				margin: 0;
				width: 30px;
			}
		}
	}

	h4{
		font-size: 22px;
	}
}

#RegistrationForm{
	width: 100%;

	@include respond(medium){
		padding: 20px;
		background: $orange;
		width: 100%;
		max-width: 552px;
	}

	@include respond(large){
		padding: 40px;
	}

	label{
		width: 100%;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 1.42;
		color:$black;
		margin: 0 0 5px;

		@include respond(medium){
			color: $white;
		}
	}

	h3{
		color: $t-orange;
		display: block;
		line-height: 28px;
		display: block;

		@include respond(medium){
			color: $white;
		}
	}

	.form-password{
		.form-caption{
			display: block;
			&.error-message {
				display: inline-block;
			}
		}
	}

	button{
		background: $t-orange;
		float: left;
		width: 100%;
		color: $white;
		&:hover { color: $white;}

		@include respond(medium){
			background: $white;
			color: $t-orange;

			&:hover{
				background: $t-Razmataz;
				color: $white;
			}
		}
	}

	.privacy-row{
		font-size: 16px;
		line-height: 1.5;
		color: $t-mine-shaft;

		@include respond(medium){
			color: $white;
		}

		span{
			display: block;
			margin: 0 0 2px;
		}

		a{
			font-size: 16px;
			line-height: 1.5;
			color: $t-dove-gray;
			text-decoration: none;
			font-weight: $font-wt-semibold;

			@include respond(medium){
				color: $white;
			}

			&:hover{
				color: $t-amaranth;
			}

			i{
				font-size: 12px;
			}
		}
	}


	.form-row{
		&.form-radio,
		&.form-checkbox{
			.label,
			label{
				margin-right: 0;
				font-size: 18px;
				color: $t-cape-cod;
				width: auto;
				padding: 3px 0 0;
			}

			.field-wrapper{
				display: inline;
				width: auto;
			}
		}
		&.form-checkbox {
			.label,
			label {
				text-transform: none;
				width: 85%;
				@include respond(medium){
					color: $white;
					span { color: $white;}
				}
			}
		}
	}

	.error{
		color: $crimson;
	}

	.input-text {
		&.error {
			box-shadow: 0 0 10px 0 $white;

		}
	}
}

#PasswordResetForm{
	input[type="text"]{
		height: 54px;
	}
}
