// order history and detail page styling starts here

.pt_orderhistory-details {
    
    .label-suggestion {
        @include align(top);
        @include font-size(14px);
        @include line-height(17px);
        color: $magenta;
    }

    .order-history-list {
        @extend %clear_list;
        @extend %layout;

        > li {
            @extend %layout;
            display: block;
            background: $t-light-grey;
            padding: 15px;
            margin: 0 0 40px;

            @include respond(large-only){
                padding: 10px;
            }

            @include respond(large){
                padding: 24px 24px 40px;
            }
        }
        table {
            width: 100%;
            border-collapse: collapse;

            tr {
                width: 100%;
                margin: 0 0 20px;
                padding: 0;
                display: block;

                @include respond(medium){
                    display: table-row;
                    margin: 0;
                }

                td {
                    padding: 0;
                    margin: 0;
                }
            }
        }
        
        h2 {
            margin: 0 0 20px;
            @include font-size(22px);
            @include line-height(25px);

            @include respond(medium){
                @include font-size(24px);
                @include line-height(27px);
            }

            span.value {
                width: auto !important;
            }
        }
        
        .order-history-table,
        .order-history-row-holder {
            .product-with-img,
            .order-description { 
                width: 100%;
                display: block;

                @include respond(medium){
                    width: 60%;
                    display: table-cell;
                }

                @include respond(x-large){
                    width: 50%;
                }

            }
            .write-review,
            .order-history-actions { 
                width: 100%;
                @extend %text-center;
                display: block;
                padding: 0;

                @include respond(medium){
                    width: 40%;
                    vertical-align: middle;
                    display: table-cell;
                    padding: 0 10px;
                }

                @include respond(x-large){
                    width: 50%;
                }

                a{
                    font-size: 16px;

                    i{
                        font-size: 12px;
                    }
                }
            }
        }
        .order-history-row-holder {

            .order-description {
                .shipmentdeliverymethod,
                .order-status {
                    @include align-reset(top, 16, 19);
                    border-top: 1px solid $t-gray3;
                    padding: 5px 0;
                }
                .ordertotal, .shipto {
                    width: 100%;
                    display: block;
                    border-bottom: 1px solid $t-gray3;
                    padding: 0 0 5px;

                }
                .shipto { padding: 0 0 5px;}
                .label {
                    @include align(top);
                    width: 120px;
                    color: $t-mine-shaft;
                    font-weight: 700;
                }
                .value {
                    @include align(top);
                    width: calc(100% - 200px);
                }
            }
        }
        
        .order-history-table {
            margin: 35px 0 0;

            .mini-cart-product {
                margin: 0;
                border: 0;
            }
            .mini-cart-image {
                width: 108px;
                margin: 0;
                padding: 0;
                background: $white;
                border: 1px solid $t-border-gray2;
                @extend %text-right;
                @extend %layout;

                img {
                    @include squar(auto, auto);
                    @include align(top);
                    margin: 0;
                }
            }
            .mini-cart-name,
            .mini-cart-pricing { 
                padding: 0 0 0 22px;
                @extend %pull-left;
                width: calc(100% - 110px);

                @include respond(medium){
                    padding: 0 0 0 22px;                    
                }
            }

            .btn-default {
                min-width: inherit;
                width: auto;
                border: 1px solid $t-amaranth;
                @include font-size(14px);
                padding: 5px 18px;

                @include respond(medium){
                    @include font-size(18px);
                    padding: 10px 30px;
                }
            }
            .mini-cart-name {
                @include font-size(18px);
                @include line-height(21px);
                color: $black;

                @include respond(medium){
                    @include font-size(24px);
                    @include line-height(27px);
                    padding: 0 0 5px 30px;   
                }
            }
            .mini-cart-pricing {
                color: $t-cape-cod;
                @include font-size(14px);
                line-height: 1.5;
                .attribute.color {display: none;}
                @include respond(large-down){
                    float: right !important;
                }

                @include respond(medium){
                    @include font-size(18px);
                }

                @include respond(large-only){    
                    float: right;
                    padding: 0 20px 0 0;
                }
                
                @include respond(large){
                    padding: 0 0 0 30px;
                    float: left;
                }

                .label {
                    font-weight: 400;
                }
            }
        }

        .order-history-actions {
            vertical-align: bottom !important;
            padding: 0 20px 10px;
            margin: 10px 0 0;

            @include respond(medium){ margin: 0;}

            .btn-default { 
                padding: 10px 40px;
                display: block;
                width: 100%;
                
                @include respond(large-only){
                    padding: 10px 50px;
                    @include align(top);
                    width: auto;
                }

                @include respond(x-large){
                    padding: 10px 61px;
                    width: auto;
                    display: inline-block;
                }
            }

            ul {
                @extend %clear_list;

                li {
                    margin: 0 0 23px;

                    &:last-child{
                        margin: 0;
                    }
                }
                a {
                    @include align(middle);
                    font-weight: 500;
                    text-decoration: none;

                    i { @include align(middle); }
                }
            }
        }
    }
    // order detail page
    .order-detail-holder {
        background: $t-light-grey;
        padding: 15px;
        @extend %layout;
        margin: 0 0 82px;

        @include respond(medium){
            padding: 24px 24px 30px;
        }

        @include respond(large-only){
            padding: 10px;
        }

        .orderdetails {
            @extend %layout;
            @include align-reset(middle, 16, 19);
            margin: 0 0 30px;

            .order-information {
                width: 100%;

                @include respond(medium){
                    width: 50%;
                }

                @include respond(large-only){
                    width: 50%;
                }

                h2 {
                    margin: 0;
                    @include font-size(22px);
                    @include line-height(25px);
                    margin: 0 0 20px;

                    @include respond(medium){
                        @include font-size(24px);
                        @include line-height(27px);
                    }
                }
                .orderstatusl,
                .ordertotal,
                .ordernumber {
                    border-top: 1px solid $t-gray3;
                    padding: 5px 0;
                    @include align-reset(top, 16, 19);

                    .label {
                        width: 120px;
                        color: $t-mine-shaft;
                        font-weight: 700;
                    }
                    .value {
                        @include align(top);
                        width: calc(100% - 200px);
                    }
                }
                .order-status {
                    display: block;
                    width: 100%;
                    @include align-reset(top, 16, 19);
                }
                .ordernumber { border-bottom: 1px solid $t-gray3;}
            }

            .gethelp {
                width: 100%;
                @extend %text-center;
                padding: 20px 10px 0;

                @include respond(medium){
                    width: 50%;
                    padding: 0;
                }

                @include respond(large-only){
                    width: 50%;
                }

                a {
                    @include align(top);
                    font-weight: 500;
                    text-decoration: none;
                    @include font-size(16px);
                    @include line-height(19px);
                    
                    i { 
                        @include align(middle);
                        font-size: 12px;
                        margin: -1px 0 0;
                    }
                }
            }
        }
        
        .shipment-summry-payment-delievry {
            @extend %layout;
            @include align-reset(top, 18, 21);
            margin: 0 0 10px;

            .shipment,
            .deliveryinfo { 
                width: 100%;
            }

            .col{
                width: 100%;

                @include respond(medium){
                    width: 50%;
                    padding: 0 10px 0 0;
                }
            }

            .shipment,
            .deliveryinfo,
            .paymentintrument,
            .order-totals {
                padding: 0 0 20px;

                p { margin: 0;}
            }

            .paymentintrument,
            .order-totals {
                width: 100%;

                @include respond(medium){
                    padding: 0 0 20px 30px;
                }
            }
            .order-totals-table .order-totals-header,
            h3 {
                margin: 0 0 5px;
                @include font-size(22px);
                @include line-height(25px);
                color: $burgundy;
                border-bottom: 0;
                padding: 0;
                font-weight: 500;
            }

            .order-totals-table {
                td {
                    padding: 3px 0;
                    font-weight: normal;
                    width: 50%;

                    &:nth-child(even){
                        @extend %text-right;
                    }
                }

                .order-no-nightmare { display: none; }
                
                .order-total {
                    td { 
                        border: 0;
                        padding: 0;
                        font-weight: 500;
                    }
                }
            }

            .details,
            .address-details {
                @include font-size(18px);
                line-height: 1.39;
                color: $t-cape-cod;
            }

            .details{

                .cc-type{
                    display: inline-block;
                    vertical-align: middle;
                    img {
                    	 max-height: 22px;
                    	}
                }
            }
        }
        .order-shipments {
            @extend %layout;
            margin: -15px;
            border-top: 40px solid $white;
            padding: 15px;

            @include respond(medium){
                padding: 24px;
                margin: 0 -24px -30px;
            }

            @include respond(large-only){
                padding: 10px;
                margin: -10px;
            }

            h2 {
                margin: 0;
                @include font-size(22px);
                @include line-height(25px);
                margin: 0 0 20px;

                @include respond(medium){
                    @include font-size(24px);
                    @include line-height(27px);
                }
            }

            #cart-table {
                width: 100%;

                td {
                    padding: 0;
                    vertical-align: top;
                }
                .cart-row {
                    border-top: 1px solid $t-gray3;
                    display: block;
                    @extend %layout;
                    padding: 20px 0 50px;
                    margin: 0 0 25px;

                    @include respond(medium){
                        padding: 20px 0;
                        margin: 0;
                    }

                    @include respond(large-down){
                        margin: 0;
                        padding: 20px 0 10px;
                    }

                    &:first-child {
                        border: 0;
                    }
                }

                .item-details {
                    @include font-size(14px);
                    @include line-height(17px);
                    color: $t-cape-cod;
                    padding: 0 0 0 20px;
                    width: 55%;

                    @include respond(medium){
                        padding: 0 0 0 30px;
                        @include font-size(18px);
                        @include line-height(21px);
                        width:50%;
                    }

                    @include respond(x-large){
                        width: 64%;
                    }

                    @include respond(large-down){
                        overflow: hidden;
                        width: auto;
                    }

                    .product-list-item {
                        .value {
                            font-weight: normal;
                        }
                    }
                    .name {
                        padding: 0 0 5px;
                        color: $black;
                        @include font-size(18px);
                        font-weight: 500;
                        	@include respond(medium){
                                @include font-size(24px);
                                @include line-height(27px);
                            }

                        a {
                            color: $black;
                            @include font-size(18px);
                            @include line-height(21px);
                            font-weight: 500;
                            text-decoration: none;

                            @include respond(medium){
                                @include font-size(24px);
                                @include line-height(27px);
                            }
                        }
                    }
                    .attribute {
                        @include font-size(14px);
                        @include line-height(17px);
                        color: $t-cape-cod;
                        &.color {display:none;}
                        @include respond(medium){
                            @include font-size(18px);
                            @include line-height(21px);
                        }

                        .label { font-weight: 400;}
                    }
                }
                
                .item-image {
                    width: 13%;

                    @include respond(large-down){
                        width: 110px;
                        float: left;
                    }
                }

                .item-price {
                    @extend %text-left;
                    padding: 0 0  0 20px;
                    width: 25%;

                    .mobile-show { display: none;}

                    @include respond(medium){
                        text-align: right;
                        padding: 0;
                        width: 35%;
                    }

                    @include respond(large){
                        width: 30%;
                    }

                    @include respond(x-large){
                        width: 25%;
                    }

                    @include respond(large-down){
                        float: left;
                        width: 100%;
                        padding: 0;
                        text-align: center;
                    }
                    
                    .price-sales {
                        width: 100%;
                        display: block;
                        padding: 0 0 15px;
                        @include font-size(14px);
                        @include line-height(17px);
                        color: $t-cape-cod;
                        position: static;

                        @include respond(medium){
                            color: $black;
                            @include font-size(18px);
                            @include line-height(21px);
                        }

                        @include respond(large-down){
                            padding: 2px 0 15px 130px;
                            text-align: left;
                        }
                    }

                    .btn-default {
                        border: 1px solid $t-amaranth;
  
                        @include respond(large-down){
                            min-width: 125px;
                            font-size: 14px;
                            padding: 5px 0;
                        }

                        @include respond(medium){
                            left: 0;
                            min-width: inherit;
                            width: 100%;
                            position: static;
                            transform: translateX(0);
                        }
                    }
                }
            }
        }
    }
}
// generic style for two fileds order form
.order-info-form {
    border: 1px solid $t-geyser;
    padding: 15px;

    @include respond(large-only){
        padding: 10px;
    }

    @include respond(large){
        padding: 28px 40px 20px 
    }

    .form-row-button {
        .btn-default{
            width: 100%;

            @include respond(medium){
                width: auto;
            }
        }
    }
    .outer-row {
        @include align-reset(top, 12, 16);

        @include respond(medium){
            margin: 0 -22px;
        }

        .form-col {
            width: 100%;

            @include respond(medium){
                width: 50%;
                padding: 0 22px;
            }
        }
    }
}