
.pt_wish-list{
	
	&.pt_public_wishlist {
		#main {
			margin-top: 69px;

			@include respond(medium){
				margin-top: 77px;
			}
		}
		.in-store-wishlist,
		.search-wishlist-area {
			max-width: 848px;
			margin: 0 auto 40px;
		}
		#wishlist-table {
			.prod-row {
				border-bottom: 0;
				padding: 30px 0 0;
				border-top: $t-gray3 1px solid;

				&:first-child { 
					border: 0;
					padding: 0;
				}
			}
		}
	}

	#main{
		margin-top: 72px;

		@include respond(medium) {
			margin-top: 118px;
		}
	}

	.hero_banner_wishlist {
		@extend %layout;
        position: relative;
        
        img { 
            @extend %img-res;
            width: 1200px;
            max-width: inherit;
            position: relative;
            left: 50%;
            transform: translateX(-50%);

            @include respond(medium){
                position: static;
                transform: translateX(0);
                max-width: 100%;
                left: 0;
                width: 100%;
            }
        }
        
        .caption {
            @extend %full-width-height;
            width: 100%;
            background: rgba($t-amaranth, 0.5);
            @include v-align(100%, middle);

            h1 {
                color: $white;

                span {
                    @include font-size(20px);
                    @include line-height(23px);
                    display: block;
                    font-weight: 400;
                    padding: 15px 0;
                }
            }
        }
	}

	.form-horizontal{
		.field-wrapper{
			max-width: inherit;
			margin-bottom: 0;
		}
	}

	label{
		width: 100%;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 1.42;
		color: $black;
		margin: 0 0 3px;
		font-weight: $font-wt-regular;
		float: left;
	}

	input[type="text"], input[type="number"], input[type="password"], input[type="date"], input[type="email"], textarea{
		width: 100%;
		height: 54px;
		border-radius: 3px;
		background: $white;
		appearance: none;
		box-shadow: none;
		border: solid 1px $t-geyser;
	}

	.field-wrapper{
		width: 100%;
		max-width: inherit;
	}

	.form-password{
		.form-caption{
			display: block;
		}
	}

	.form-row{
		margin: 5px 0 10px;

		@include respond(medium) {
			margin: 5px 0 20px;
		}
	}

	span.error, div.error{
		font-size: 12px;
	}

	div.checker {
		height: 22px;
		width: 22px;

		span {
			background: none;
			height: 22px;
			width: 22px;
			position: relative;
			display: inline-block;
			z-index: 99;
			padding: 0 0 0 0px;
			background-color: $t-light-grey;

			&:before{
				height: 22px;
				width: 22px;
				background-color: $t-light-grey;
				z-index: -1;
				content:" ";
				border: 1px solid $magenta; 
				position:absolute;
				left:0;
				top:0;
				border-radius: 3px;
				bottom: 0;
				right: 0;
			}


			input[type="checkbox"]{
				position:absolute;
				left:0;
				top:0;
				bottom: 0;
				border: 1px solid $magenta;
				right: 0;
				border-radius: 2px;
				background: none;
				height: 22px;
				width: 22px;
				opacity: 0;
			}
			
		}
		span.checked {
			input[type="checkbox"]{
				border: 1px solid $magenta;
			}

			&:after {
				content:'';
				width:16px;
				height:8px;
				position:absolute;
				top:50%;
				left:50%;
				border:3px solid $magenta;
				border-width:0 0 4px 5px;
				-moz-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);
				transform: rotate(-45deg);
				margin:-6px 0 0 -8px;
			}
		}
	}

	.container{
		overflow: hidden;
	}

	.main-content{
		float: right;
		width: 100%;

		@include respond(medium) {
			width: 74%;

			&:only-child{
				width: 100%;
			}
		}

		@include respond(large-down) {
			&:only-child{
				.col-1,
				.col-2{
					width: 100%;
				}
			}

			.col-1,
			.col-2{
				width: 100%;
			}
		}
	}

	.wishlist-block{
		button {
			@include btn-default();
			width: 100%;
			
			@include respond(medium) {
				width: auto;
				min-width: 247px;
			}

			&.desktop-btn{
				display: none;

				@include respond(medium) {
					display: inline-block;
					vertical-align: top;
				}
			}
			&.mobile-btn{
				display: inline-block;
				vertical-align: top;

				@include respond(medium) {
					display: none;
				}
			}
		}
	}

	.btn-primary,{
		.btn-default,{
			.btn-secondary{
				padding:9px 30px;
			}
		}
	}

	#secondary{
		float: left;
		width: 100%;

		@include respond(medium) {
			width: 26%;
			padding: 0 30px 0 0;
		}

		.three-color-border {
			margin: 0 auto;
			display: block;
			width: 100%;
			border-bottom:1px solid $t-gainsboro;
			position:relative;

			@include respond(medium) {
				display: none;
			}

			.colors-wrap {
				position:absolute;
				left: 50%;
				margin-left: -20px;
				bottom:-6px;
				font-size: 0;
				.color {
					width: 12px;
					height: 12px;
					display: inline-block;
					margin-right: 2px;
					&.soft {
						background-color:$t-orange;
					}
					&.medium {
						background-color:$magenta;
					}
					&.firm {
						background-color:$t-disco;
					}
				}
			}
		}
		.mt-30 {
			margin-top:30px !important;
		}
		.mb-30 {
			margin-bottom:30px !important;
		}
		.mb-50 {
			margin-bottom:50px !important;
		}

	}

	.breadcrumb-area{
		overflow: hidden;
		width: 100%;
	}

	.breadcrumb{
		padding:0 0 15px 0;
		float: left;
		@include respond(medium) {
			max-width: 70%;
		}

		a{
			font-size: 16px;
			line-height: 1.5;
			color: $t-sand;
			text-decoration: none;

			&:hover{
				color: $t-orange;
			}
		}
	}

	.breadcrumb-signout{
		float: right;
		margin:5px 0;
		width: 100%;

		@include respond(medium) {
			width: auto;
			margin:0 0 5px;
		}

		a{
			font-size: 16px;
			line-height: 1.5;
			text-align: right;
			color:$t-sand;
			text-decoration: none;

			&:hover{
				color: $orange;
			}
		}
	}

	.nav{
		.toggle{
			font-size: 14px;
			line-height: 22px;
			margin:0 0 17px;
			padding: 0;
			
			@include respond(large) {
				font-size:18px;
			}

			& ~ ul {
				border-bottom: none;
			}
		}
	}

	.headings{

		h3{
			font-size: 24px;
			font-weight: $font-wt-semibold;
			color:$t-amaranth;
			background: $t-light-grey;
			padding: 30px 30px 0;
			margin: 0;
		}
		h2 {
			@extend %text-center;
		}
	}
}
#quotation_search_content_holder,
#wishlist-table{
	overflow: hidden;
	width: 100%;
	position: relative;
	background: $t-light-grey;
	padding: 15px 15px 0;
	margin: 0 0 30px;

	@include respond(large) {
		padding: 30px 30px 0;
		margin: 0 0 40px;
	}

	.prod-row{
		float: left;
		width: 100%;
		margin: 0 0 15px;
		padding: 0 0 15px;
		position: relative;
		border-bottom: $t-gray3 1px solid;

		@include respond(medium) {
			margin: 0 0 30px;
			padding: 0 0 30px;
		}
	}

	.item-image{
		float: left;
		width:76px;
		margin: 0 8px 0 0;
		border:1px solid $t-border-gray2;

		@include respond(medium) {
			float: left;
			width: 15%;
		}

		img{
			@extend %img-res;
		}
	}

	.item-detail{
		width:100%;

		@include respond(medium) {
			float: left;
			width: 47%;
			padding: 0 0 0 10px;
		}

		@include respond(x-large) {
			float: left;
			width: 49%;
			padding: 0 0 0 30px;
		}
	}

	.item-options{
		width: 5%;
		float: left;
	
		@include respond(large-down) {
			position: absolute;
			top: 0;
			right: 0;
			padding: 0;
		}

		@include respond(large) {
			padding: 3px 0 0;
		}

		button{
			width: auto;
			background: none;
			padding: 0;
			min-width: inherit;
			color: $t-amaranth;
			
			&:after{
				background: none;
			}

			&:hover{
				background: none;
				color: $black;

				&:after{
					background: none;
				}
			}
		}
	}

	.item-dashboard{
		float: right;
		width: 100%;
		
		@include respond(medium) {
			width: 31%;
		}
	}

	.price{
		text-align: right;
		margin: 0 0 30px;
		font-weight: $font-wt-semibold;
		display: none;

		.price-standard{
			display: none;
		}

		@include respond(medium) {
			display: block;
		}

		&.for-mobile{
			display: none;
			@include respond(large-down) {
				display: block;
				margin: 0 0 10px;
				text-align: left;
			}
		}
	}

	.heading{
		font-weight: $font-wt-semibold;
		color: $t-amaranth;
	}

	.name {
		a{
			color: $black;
			font-size: 18px;
			line-height: 22px;
			display: inline-block;
			vertical-align: top;
			max-width: 170px;
			font-weight: $font-wt-semibold;
			text-decoration: none;

			@include respond(medium) {
				max-width: none;
			}

			@include respond(x-large) {
				font-size: 24px;
				line-height: 28px;
			}

			&:hover{
				color: $t-amaranth;
			}
		}
	}

	.option-date-added,
	.attribute{
		font-size: 18px;
		line-height: 1.39;
		color: $t-cape-cod;

		.field-wrapper,
		label{
			display: inline-block;
			vertical-align: top;
			text-transform: none;
			font-size: 18px;
			line-height: 1.39;
			color: $t-cape-cod;
			width: auto;
		}

		.field-wrapper{
			margin: 0 0 0 4px;
		}
	}

	.option-date-added{
		margin: 0;
	}

	.input-spinner {
		@extend %text-left;
		position: relative;

		.ui-spinner { padding: 0 21px; }

		.ui-spinner-input {
			margin: 0;
			padding: 0;
			color: $black;
			width: 21px;
			display: block;
			text-align: center;
		}

		input[type="text"]{
			width: 20px;
			padding: 0;
			font-weight: $font-wt-semibold;
			height: 20px;
			border:0;
			background: none;
			font-size: 18px;
			color: $black;

		}

		.ui-spinner-button {
			@include squar(20px, 20px);
			position: absolute;
			top: 0;
			right: 0;
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			cursor: pointer;
			color: $black;
			background: $white;
			border-radius: 100%;
			border: 1px solid $t-light-grey;

			&::before {
				@include align(top);
				margin: 5px 0 0;
				content: "\f067";
				font-size: 8px;
				line-height: 1;
			}

			&.ui-spinner-down {
				right: auto;
				left: 0;

				&::before {
					content: "\f068";
				}
			}
		}
	}

	.option-add-to-cart{
		width: 100%;
		margin: 15px 0 0;

		button{
			border:1px solid $magenta;
			width: 100%;
			min-width: inherit;
		}
	}

	.add-all-to-cart{
		float: right;
		width: 100%;
		margin:0 0 23px;

		@include respond(medium) {
			width: 41%;
		}

		@include respond(large) {
			width: 31%;
		}
	}
}

.wishlist-share{
	width: 100%;
	position: relative;
	margin: 0 0 30px;
	padding:15px;
	border:1px solid $t-geyser;
	font-size: 18px;
	line-height: 1.39;
	color: $t-cape-cod;

	@include respond(medium) {
		padding: 30px;
		margin: 0 0 40px;
	}

	button{
		padding: 10px 24px;
	}

	div.radio {
		width: 22px;
		height: 22px;
		display: inline-block;
		vertical-align: middle;

		span {
			background: none;
			height: 22px;
			width: 22px;
			display: inline-block;
			padding: 0 0 0 0px;
			border: 1px solid $t-border-gray2;
			border-radius: 99px;
			background-color: $t-light-grey;
		}

		span.checked {
			border: 1px solid $t-amaranth;
			&:after {
			width: 12px;
			height: 12px;
			content: "";
			background-color: $t-amaranth;
			display: block;
			border-radius: 99px;
			position: absolute;
			left: 5px;
			top: 5px;
			}
		}
	}

	.form-row{
		margin: 20px 0 30px;
	}

	.radio-row{
		overflow: hidden;
		margin: 0 0 8px;

		label{
			display: inline-block;
			vertical-align: middle;
			width: auto;
			text-transform: none;
			font-size: 18px;
			line-height: 1.39;
			float: none;
			color: $t-cape-cod;
		}
	}

	p{
		margin: 0 0 25px;
	}

	h5{
		font-size: 18px;
		font-weight: $font-wt-semibold;
		line-height: 1.39;
		color:$t-cape-cod;
		margin: 0 0 12px;
	}

	.fake-select{
		position:relative;
		display:inline-block;
		width: 100%;

		&:before{ 
			content:"";
			position:absolute;
			top:1px;
			right:1px;
			bottom:1px;
			width: 35px;
			background: $white;
			pointer-events:none;
			border-radius:0 6px 6px 0;
			z-index: 1;
		}

		&:after{ 
			position: absolute;
			right:18px;
			content:'\f0d7 ';
			line-height: 16px;
			font-size: 16px;
			font-family: "FontAwesome";
			position:absolute;
			top:50%;
			line-height: 0;
			z-index: 1;
		}

		select {
			border: 1px solid $t-geyser;
			background: none;
			position: relative;
			height: 51px;
			top: 0;
			left: 0;
			padding: 0 10px;
			width: 100%;

			@include respond(medium) {
				padding: 0 15px;
			}
		}

	}

	.list-share{
		padding: 50px 0 0;
	}

	.share-link{
		overflow: hidden;
		position: relative;
		width: 100%;

		.copied-msg{
			font-size: 12px;
			line-height: 1.42;
			position: absolute;
			top: 1px;
			background: $white;
			text-transform: uppercase;
			display: none;
			right:1px;
			padding: 17px 10px;
			height: 52px;
			border-radius: 3px;
			color: #7ed321;
		}

		i{
			font-size: 15px;
		}

		&.text-copied{
			.copied-msg{
				display: block;
			}
		}

		input{
			padding: 0 90px 0 10px;
		}
	}
}


.search-wishlist-area{
	width: 100%; 
	position: relative;
	margin: 0 0 30px;
	padding: 15px;
	border:1px solid $t-geyser;
	font-size: 18px;
	line-height: 1.39;
	color: $t-cape-cod;

	@include respond(medium) {
		padding: 30px;
		margin: 0 0 40px;
	}

	p{
		margin: 0 0 20px;
	}

	h5{
		font-size: 18px;
		font-weight: $font-wt-semibold;
		line-height: 1.39;
		color:$t-cape-cod;
		margin: 0 0 12px;
	}
}

.wishlist-search{
	.form-row{
		&:nth-child(2),
		&:nth-child(1){
			display: inline-block;
			vertical-align: middle;
			width: 100%;

			@include respond(medium) {
				width: 26%;
			}
		}

		&:nth-child(2){
			width: 100%;

			@include respond(medium) {
				width: 29%;
				padding: 0 0 0 3%;
			}
		}

		&:nth-child(4){
			width: 100%;
			float: right;

			@include respond(medium) {
				width: 33%;
			}

			@include respond(x-large) {
				width: 35%;
			}
		}
	}

	.middle-text{
		display: inline-block;
		vertical-align: middle;
		width: 8%;
		text-align: center;
		position: relative;
		padding: 0 5px;
		text-transform: uppercase;

		@include respond(medium) {
			font-size: 14px;
		}

		@include respond(large) {
			font-size: 18px;
		}

		@include respond(large-down) {
			width: 100%;
			font-weight: $font-wt-bold;

			&:before{
				height: 2px;
				width: 100%;
				background: #9fd4dd;
				position: absolute;
				left:0;
				top: 50%;
				right: 0;
				margin: -2px 0 0;
				content: " ";
			}

			span{
				background: $white;
				padding: 0 5px;
				position: relative;
			}
		}
	}

	button{
		min-width: 247px;
		width: auto;
	}
}

.login-general{
	.form-row{
		&:nth-child(4){
			width: 100%;
			float: right;

			@include respond(medium) {
				width: 33%;
			}

			@include respond(x-large) {
				width: 33%;
			}
		}
	}

	.middle-text{
		font-size: 14px;

		@include respond(large) {
			font-size: 14px;
		}
	}
}

.in-store-wishlist{
	width: 100%; 
	position: relative;
	margin: 0 0 30px;
	padding: 15px;
	border:1px solid $t-geyser;
	font-size: 18px;
	line-height: 1.39;
	color: $t-cape-cod;

	@include respond(medium) {
		padding: 30px;
		margin: 0 0 40px;
	}

	p{
		margin: 0 0 20px;
	}

	h5{
		font-size: 18px;
		font-weight: $font-wt-semibold;
		line-height: 1.39;
		color:$t-cape-cod;
		margin: 0 0 12px;
	}

	button{
		min-width: 247px;
	}
}

a.empty-wishlist{
	margin: 0 0 20px;
}

.createbenefits{
	ul{
		@extend %clear_list;
	}
}

table.wishlist-result{
	th{
		color: $magenta;
	}

	td,
	th{
		padding: 10px;
	}
	@include respond(large-down) {
		td,
		th{
			display: inline-block;
			vertical-align: top;
			width: 50%;	
			padding: 5px;
		}

		th{
			&:nth-child(3),
			&:nth-child(4){
				display: none;
			}
		}
	}
}