/* Fix z-index for SG header */
.top-banner {z-index:102}
.ui-front {z-index:103}
/* end fix */

.js_paypal_error {display:none; background-color:#cebdb3; border:1px solid #990000; border-radius:.5em; color:#990000; margin:0.5em 0 25px; padding:0.8em;}
@media screen and (min-width: 768px) {
	.js_paypal_error {margin-left:27%}
}
			
.paypal-cart-buttons-container {padding:0 0 25px 0; text-align:right}
.paypal-cart-button {display:block; min-height:35px; min-width:100px; background:30% 10px url(../images/ajaxLoader.gif) no-repeat}

.paypal-checkout-button {min-height:35px; min-width:100px; background:30% 10px url(../images/ajaxLoader.gif) no-repeat}

.paypal-mini-logo {display:inline-block; width:60px; height:37px; background:url(../images/paypal_mini_logo.png) no-repeat; background-size:100% 100%; border:1px solid #f1f1f1; vertical-align:middle}

.paypal-email {line-height:37px}
.paypal-email .paypal-mini-logo {margin-right:10px}
.paypal-email .form-row {margin-top:0}

.paypal-billing-saved-ba {margin-left:0}
.paypal-billing-saved-ba .form-indent {margin-left:0}
@media screen and (min-width: 768px) {
	.paypal-billing-saved-ba {margin-left:27%}
}
@media screen and (max-width: 767px) {
	.paypal-cart-buttons-container {
		padding:0 0 0 0;
	}
	.paypal-cart-button {display:inline-block;}
}