@import "../../../../app_storefront_core/cartridge/scss/default/pages/store_locator";
@import "homepage";
#pdp-tabs {
	.pdp-tab-column {
		li[data-pdp-tab-content="2"] {
			max-width: 475px;
			margin: 0 auto;
  }
  li[data-pdp-tab-content="3"] {
   text-align: center;
  }
	}
}

#pdpMain {
	#pdp-tabs {
  .pdp-tab-content{font-size: 16px; line-height: 1.5;}
		[data-pdp-tab-content="2"] {
			.pdp-specs {
    float: none;
    ul > strong{font-size: 20px;margin-bottom: 20px;}
    ul li {font-size: 16px; line-height: 1.5;}
				&.left {
					padding: 0;
					width: 100% !important;
				}
			}
		}
	}
	.product-listing .product-tile-one .product-name {
		.name-link{
			height: 50px;
			.name-link-text{
							height: 100%;
							display: flex;
							flex-wrap: wrap;
							align-items: center;
							font-size: 18px;
				}
			}
		}	
	.product-listing .product-tile-one .product-name + .product-name{	
		.name-link {
			.name-link-text {
				height: auto;
		    vertical-align: top;
		    padding-top: 5px;
			}
		}
	}
}

#pdpMain.pdp-main-ab .feature-section{
	width: 100%;
	margin-left: 0;
}