.pt_checkout {
	&.order-place {
		#primary {
			width: 100%;
		}
	}
	.page-title {
		margin: 23px 0 5px;
		@include font-size(30px);   
		@include line-height(30px);

		@include respond(medium) {
			margin: 37px 0 27px;
		}
	}
	.error-message {
		display:none;
	}
	#primary {
		width: 100%;
		float: none;
		margin-top: -5px;
		@include respond(medium) {
			float: left;
			width: 69.66%;
			box-sizing: border-box;
		}
	}
	
	
	
	#secondary {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		background: none;
		border: none;
		@include respond(medium) {
			padding: 30px 0 0 0;
			width: 26.95%;
			float: right;
		}
		.checkout-mini-cart-wrapper {
			background: none;
			border: none;
			@include respond(medium) {
				border: $border;
				padding: 10px;
			}
			@include respond(large) {
				padding: 23px;
			}
			.mini-cart-product {
				display: none;
				@include respond(medium) {
					display: block;
				}
			}
			.section-header {
				font-weight: $font-wt-bold;
				@include respond(large-up) {
					padding-bottom: 11px;
				}
			}
		}
		.order-component-block {
			display: none;
			@include respond(medium) {
				display: block;
				margin-top: 35px;
				.address,
				.name {
					@include font-size($font-size-regular);
					@include line-height(20px);
				}
				.name {
					font-weight: $font-wt-semibold;
				}
			}
		}
		a.section-header-note {
			text-decoration: underline;
		}
	}
	.back-to-cart {
		display: block;
		@include font-size($font-size-sm);
		font-weight: $font-wt-regular;
		text-decoration: underline;
		font-style: $font-style-italic;
		text-align: right;
		color: $color-primary;
		float: right;
		margin-bottom: 17px;
		@include respond(medium) {
			margin-top: 17px
		}
		&:hover {
			color: $color-secondary;
			text-decoration: underline;
		}
	}
	#dwfrm_singleshipping_shippingAddress_addressFields_postal {
		width: 150px;
		@include respond(medium) {
			width: 100%;
		}
	}
	legend {
		margin-top: 17px;
		&.address-legend {
			margin-top: 0;
		}
		@include respond(medium) {
			margin-bottom: 15px;
		}
		@include respond(large-up) {
			@include font-size($font-size-h3);
		}
	}
	.section-header {
		padding: 0 0 4px;
		margin-bottom: 8px;
		@include respond(medium) {
			margin-bottom: 4px;
		}
	}
	.order-totals-table {
		@include font-size($font-size-sm);
		font-weight: $font-wt-semibold;
		@include respond(medium) {
			@include font-size($font-size-regular);
		}

		td {
			padding: 0 0 8px 0;
			@include respond(medium) {
				padding-bottom: 10px;
			}
		}

		.order-total {
			@include font-size(18px);
			td {
				padding: 13px 0;
			}
		}
	}
	.form-horizontal .field-wrapper {
		@include respond(large-only) {
			max-width: 340px;
		}
	}
	.order-totals-table .order-total td {
		@include respond(medium) {
			border-bottom: none;
			padding-bottom: 0;
		}
	}
	.mCustomScrollbar .mini-cart-product {
		width: 100%;
	}
	.mini-cart-product {
		padding-left: 0;
		padding-right: 0;
	}
	.mini-cart-image {
		width: 36.23%;
		margin-right: 4%;
	}
	.mini-cart-name,
	.mini-cart-attributes,
	.mini-cart-pricing {
		width: 59.72%;
		float: right;
	}
	.mini-cart-name,
	.mini-cart-pricing .value {
		font-weight: $font-wt-semibold;
	}
	.mini-cart-name {
		a {
			font-weight: $font-wt-bold;
		}
	}
	.form-horizontal .form-row-button {
		max-width: none;
		@include respond(medium) {
			border-top: $border;
			padding-top: 20px;
		}
		a.back {
			margin-top: 15px;
			color: $color-primary;
			text-decoration: underline;
			@include font-size($font-size-sm);
			font-style: $font-style-italic;
			text-align: right;
			@include respond(medium) {
				margin-top: 0;
				@include font-size($font-size-regular);
				@include line-height(40px);
			}
			&:hover {
				color: $color-secondary;
				text-decoration: underline;
			}
		}
		.button-fancy-large {
			@include respond(medium) {
				float: right;
				margin-left: 20px;
			}
		}
		&.payment-method-buttons {
			padding: 0;
			border: none;
			margin: 0;
		}
	}
	.shipping-name {
		color: $color-secondary;
		margin-bottom: 10px;
		margin-top: 0;
	}
	.primary-content {
		.form-row {
			label {
				font-weight: $font-wt-bold;
			}
			&.label-inline {
				label {
					font-weight: $font-wt-regular;
				}
			}
		}
	}
	.form-field-tooltip {
		@include respond(large-down) {
			top: 21px;
		}
	}
	.checkout-shipping {
		.cross-street {
			position: relative;
			.form-caption {
				@include respond(large-down) {
					position: absolute;
					top: 6px;
					right: 0;
				}
			}
		}
		legend {
			font-weight: $font-wt-bold;
		}
	}
	.tooltip {
		.mobile-hide {
			@include respond(large-up) {
				display: inline-block !important;
			}
		}
	}
	.right-summary {
		display: none;
	}
	.items-to-remove {
		padding-bottom: 16px;
		label {
			width: auto;
			font-weight: $font-wt-regular;
			@include font-size($font-size-regular);
			float: left;
			margin-top: 1px;
		}
		.header {
			width: auto;
			@include font-size($font-size-regular);
			float: left;
			font-weight: $font-wt-semibold;
			margin-left:10px;
			margin-top: 6px;
		}
		input {
			float: left;
			width: auto;
		}
		input[type="text"] {
			width: 70px;
			border: 1px solid $alto;
			margin-left: 7px;
		}
		.radio {
			float: left;
		}
		.error {
			display: none;
			margin-left:7px;
		}
		.mattress-first {
			padding-bottom: 9px;
			.radio {
				margin-top: 5px;
			}
			label {
				margin-top: 6px;
			}
			.tooltip {
				width: 25px;
				height: 25px;
				background: url(../images/interface/sprite.png) no-repeat -132px -220px;
				margin: 0;
				display: inline-block;
			    top: 0;
			    margin-left: 10px;
			}
			.pickup {
				display: inline-block;
			}
		}
		 .mattress-second {
			.tooltip {
				width: 25px;
				height: 25px;
				background: url(../images/interface/sprite.png) no-repeat -132px -220px;
				margin: 0;
				display: inline-block;
			    top: 0;
			    margin-left: 10px;
			}
		}

	}
	.clear {
		clear: both;
		width: 100%;
		height: 1px;
	}
	.haulaway {
		.mattress-removal-text {
			padding: 0px 0 16px 0;
			margin: 0;
			max-width: 784px;
			@include font-size($font-size-regular);
			span {
				font-weight: $font-wt-semibold;
			}
		}
	}
	.checkout-billing {
		legend {
			font-weight: $font-wt-bold;
		}
		.payment-method-options {
			label {
				font-weight: $font-wt-bold !important;
			}
		}
		.form-field-tooltip {
			@include respond(large-down) {
				top: -1px;
			}
		}
	}
	.checkout-shipping {
		.form-field-tooltip {
			&.address {
				@include respond(large-only) {
					margin-right: -22px;
				}
				> a:after {
					@include respond(large-only) {
						position: relative;
						left: -2px;
					}
				}
			}
		}
	}
}

.checkout-progress-indicator {
	overflow: hidden;
	height: 51px;
	border: $border;
	box-sizing: border-box;
	padding: 0;
	background-color: $concrete;
	font-size: 0;
	clear: both;
	margin-bottom: 24px;
	a {
		text-decoration: none;
		color: $color-primary;
		&:hover {
			color: $color-secondary;
		}
	}
	.step {
		display: inline-block;
		width: 25%;
		height: 49px;
		padding: 10px 0;
		border-right: $border;
		text-align: center;
		@include font-size(12px);
		@include line-height(29px);
		font-weight: $font-wt-semibold;
		box-sizing: border-box;
		&:last-child {
			border-right: none;
		}
		&.active {
			color: $thunderbird;
			border-bottom: 4px solid $thunderbird;
			.step-title,
			.step-number {
				color: $thunderbird;
			}
		}
		@include respond(medium) {
			@include font-size(12px);
		}
		@include respond(large) {
			@include font-size($font-size-regular);
		}
	}
	.step-number {
		display: none;
		@include respond(medium) {
			display: inline-block;
			text-align: center;
			@include line-height(20px);
			width: 20px;
			height: 20px;
			background-color: $white;
			border: $border;
			border-radius: 15px;
			margin-right: 3px;
		}
		@include respond(large) {
			@include line-height(30px);
			width: 30px;
			height: 30px;
			margin-right: 10px;
		}
	}
	.step-title {
		display: inline-block;
		vertical-align: middle;
		@include line-height(14px);
		font-weight: $font-wt-bold;
		@include respond(large-down) {
			max-width: 64px;
		}
	}
	i {
		display: none;
	}
}

.gift-message-text {
	overflow: visible;
	opacity: 1;
	transition: all 1s ease;
	&.hidden {
		height: 0;
		opacity: 0;
		overflow: hidden;
	}
	textarea {
		width: 100%;
	}
}

.billing-coupon-code {
	.form-row,
	.coupon-apply,
	.giftcert-apply {
		display: inline-block;
	}
	.form-row {
		margin: 0;
		width: 45%;
	}
	.tooltip {
	}
}

.redemption {
	.success {
	}
	span.error {
		margin-left: 0;
	}
}

.payment-method-options {
	margin-left: 0;
	padding-top: 10px;
	@include respond(medium) {
		padding-top: 0;
	}
	.form-row {
		clear: none;
		float: left;
		width: 30%;
	}
}

.payment-method {
	clear: both;
	display: none;
}

.payment-method-expanded {
	display: block;
}

.month,
.year,
.day {
	clear: none;
	float: left;
	margin: 0;
	label {
		@extend .visually-hidden;
		@include respond(large-down) {
			width: auto;
		}
	}
	select {
		width: auto;
	}
}

.form-row.month {
	padding-right: 10px;
}

.form-row.year {
	padding-left: 10px;
}

.form-row.month,
.form-row.year {
	width: 50%;
	box-sizing: border-box;
	@include respond(medium) {
		max-width: 170px;
	}
	@include respond(large) {
		max-width: 190px;
	}
}

.form-row.cvn {
	input {
		width: 180px;
	}
}

.month .form-caption {
	margin-left: 0;
}

.cvn {
	clear: left;
	.field-wrapper {
		width: 100px;
		@include respond(medium) {
			width: 180px;
		}
		input {
			width: 100px;
			@include respond(medium) {
				width: 180px;
			}
		}
	}
}

.ssn {
	clear: left;
}

.bml-terms-and-conditions {
	border: 1px solid $dark-gray;
	height: 400px;
	overflow: auto;
}

.bml-table-col-1 {
	width: 25%;
}

.pt_checkout h3 {
}

.checkout-mini-cart {
	max-height: 420px;
	overflow: auto;
}

.checkout-order-totals {
	@include respond(medium) {
		margin-top: 20px;
		padding-top: 15px;
		border-top: $border;
	}
	a {
		display: none;
	}
}

.place-order-totals {
	clear: both;
	.order-totals-table {
		float: right;
		width: 50%;
	}
	.content-asset {
	}
}

.order-component-block {
	.section-header a {
		float: right;
		font-weight: normal;
	}
	.details {
	}
}

.order-summary-footer {
	.place-order-totals-wrapper {
		border: $border;
		background: $concrete;
		padding: 20px;
		box-sizing: border-box;
		margin-bottom: 30px;
		@include respond(medium) {
			width: 29%;
			float: right;
			margin-bottom: 0;
		}
	}
	.placeorder-slot-wrapper {
		box-sizing: border-box;
		text-align: center;
		@include respond(medium) {
			float: left;
			width: 68.64%;
		}
		p {
			margin: 0;
		}

	}
	.back-to-cart {
		display: none;
	}
	.order-totals-table {
		width: 100%;
		.order-total td {
			padding-bottom: 13px;
			border-bottom: $border;
		}
	}
	.form-row {
		margin: 10px 0 0;
	}
	button {
		width: 100%;
	}
}

.summary-help {
	float: right;
}

.submit-order {
	clear: both;
	display: block;
	text-align: right;
	.back-to-cart {
		&:hover {
			color: $color-secondary;
			text-decoration: underline;
		}
	}
	button {
	}
}

.order-discount {
}

.gift-cert-used {
}

.summary .edit {
	position: absolute;
	text-transform: uppercase;
	right: 10px;
}

.pt_checkout #main,
.pt_cart #main {
}

.pt_cart .breadcrumb {
	padding-left: 0;
}

.item-shipping-address {
	min-width: 120px;
}

.billing-error {
}

.cvn-tooltip {
	font-weight: bold;
	margin: 5px;
	text-align: center;

	img {
		height: 150px;
		width: 110px;
	}
}

#shipping-method-list {
	position: relative;
}

.pt_cart {
	.checkoutlogin {
		padding: 0;
		margin: 0;
		width: 100%;
		.col-2 {
			display: none;
		}
		.col-1 {
			width: 100%;
			border: 0;
		}
		.guest-checkout {
			width: 100%;
			@include respond(large-up) {
				width: 208px;
			}
		}
		.checkout-login-intercept {
			p {
				padding: 0 0 25px 0;
				margin: 0;
			}
			span {
				font-weight: $font-wt-semibold;
			}
			.checkout-login-intercep-title {
				font-weight: $font-wt-bold;
				@include font-size(15px);
			}
		}
		.form-row {
			padding: 0;
			margin: 0;
		}
		.checkoutlogin-first {
			border-bottom: $border;
			padding-bottom: 40px;

		}
		.checkoutlogin-second {
			padding-top: 33px;

		}
		.chekout-login-subtitle {
			padding-bottom: 20px;

		}
	}
	.chekout-login-title {
		padding: 40px 0 13px 0;
		margin: 0;

	}
}

.shipping-method-table {
	th {
		display: none;
		@include respond(medium) {
			display: table-cell;
			@include font-size(18px);
			@include line-height(23px);
			font-weight: $font-wt-semibold;
			color: $color-primary;
			padding: 20px;
		}
	}
	td {
		padding: 10px;
		@include respond(medium) {
			padding: 20px;
		}
	}
	.item-quantity,
	.qty-head {
		display: none;
		@include respond(medium) {
			display: table-cell;
		}
	}
	.item-image {
		width: 50%;
		display: block;
		float: left;
		box-sizing: border-box;
		@include respond(medium) {
			width: 24.33%;
			display: table-cell;
			float: none;
		}
		img {
			max-width: 130px;
			@include respond(medium) {
				max-width: 180px;
			}
		}
	}
	.item-details {
		width: 50%;
		box-sizing: border-box;
		display: block;
		float: left;
		@include respond(medium) {
			width: 68.12%;
			display: table-cell;
			float: none;
		}
	}
	.item-quantity {
		width: 5.47%;
	}
	.cart-availability-container {
		margin-left: 0;
		margin-top: 23px;
		ul {
			width: auto;
		}
	}
	.attribute.qty {
		margin-top: 23px;
		.label,
		.value {
			display: inline;
			width: auto;
		}
	}
	.name {
		a {
			font-weight: $font-wt-bold;
		}
	}
}

.form-row.cvn {
	position: relative;
	.form-field-tooltip {
		width: auto;
		margin-right: 160px;
		top: 22px;
		@include respond(m-small) {
			margin-right: 410px;
		}
		@include respond(medium) {
			margin-right: 160px;
			top: 22px;
		}
		@include respond(large) {
			margin-right: 341px;
		}
		@include respond(x-large) {
			margin-right: 462px;
		}
		@include respond(large-down) {
			margin-right: 0;
			position: absolute;
			left: 111px;
			top: 45px;
		}
		> a {
			&:before,
			&:after {
				display: none;
			}
			.help-label {
				display: none;
			}
			.icon {
				display: inline-block;
				text-indent: -9999px;
				overflow: hidden;
				width: 25px;
				height: 25px;
				background: url(../images/interface/sprite.png) no-repeat -132px -220px;
			}
		}
	}
}

.shipping-method-info {
	@extend %clearfix;
	border: $border;
	border-top: none;
	box-sizing: border-box;
	@include line-height(20px);

	.item-shipping-address,
	.shipping-method-list-wrapper {
		box-sizing: border-box;
		padding: 20px 10px;
		@include respond(medium) {
			width: 50%;
			float: left;
			padding: 20px;
		}
	}
	.item-shipping-address {
		@include respond(medium) {
			border-right: $border;
		}
		a {
			font-style: $font-style-italic;
		}
	}
	.shipping-name {
		margin: 0;
		color: $color-primary;
		border: none;
		@include font-size($font-size-sm);
		font-weight: $font-wt-semibold;
		@include respond(medium) {
			@include font-size(18px);
		}
	}
	.shipping-method-list-wrapper {
		@include respond(medium) {
			border-left: $border;
			margin-left: -1px;
		}
		legend {
			display: none;
		}
		.form-indent {
			margin-left: 0;
		}
		.form-caption {
			display: none;
		}
		a.tooltip {
			font-style: $font-style-italic;
			.tooltip-content {
				font-style: $font-style-regular;
			}
		}
	}
	a {
		color: $color-primary;
		&:hover {
			color: $color-secondary;
		}
	}
}

.addtoaddressbook-wrapper {
	margin-top: 20px;
	.privacy-link {
		color: $color-primary;
		@include font-size($font-size-sm);
		text-indent: 28px;
		display: block;
		&:hover {
			color: $color-secondary;
		}
		@include respond(medium) {
			@include font-size($font-size-regular);
			text-indent: 0;
			display: inline;
		}
	}
}

.payment-method-label {
	width: 233px;
	height: 30px;
	margin: 10px 0 18px;
	background: url(../images/interface/sprite.png) no-repeat -402px -217px;
	@include respond(medium) {
		margin: 10px 0 28px;
	}
}

.pt_order-confirmation {
	.print-link {
		color: $color-primary;
		font-style: $font-style-italic;
		&:hover {
			color: $color-secondary;
		}
	}
	h3.section-header {
		padding: 0 0 4px;
		margin-bottom: 8px;
		font-weight: $font-wt-bold;
		@include respond(medium) {
			margin-bottom: 4px;
			@include font-size(25px);
		}
	}
	.shipping-name {
		color: $color-secondary;
		margin-bottom: 10px;
		margin-top: 0;
	}
	.minisummary-place-order {
		margin-top: 25px;
	}
	address {
		font-style: normal;
	}
	.order-confirmation-footer {
		.order-confirmation-button-wrapper {
			display: none;
			box-sizing: border-box;
			margin-bottom: 30px;
			@include respond(medium) {
				display: block;
				width: 29%;
				float: right;
				margin-bottom: 0;
			}
			a {
				@include respond(large-up) {
					@include font-size(17px);
				}
			}
		}
		.confirmation-slot-wrapper {
			box-sizing: border-box;
			text-align: center;
			@include respond(medium) {
				float: left;
				width: 68.64%;
			}
			p {
				margin: 0;
			}
		}
		.button {
			width: 100%;
			margin: 0;
			@include respond(medium) {
				max-width: 303px;
				float: right;
			}
		}
	}
	.summary-table-wrapper {
	   .product-list-item {
		   .sku {
			   .label {
				   font-weight: $font-wt-regular !important;
			   }
		   }
	   }
	}
}

.pt_checkout.order-place,
.pt_order-confirmation {
	.mini-payment-instrument,
	.checkout-mini-cart-wrapper,
	.mini-billing-address {
		width: 100%;
		margin-bottom: 20px;
		@include respond(medium) {
			width: 32.6%;
			float: left;
			margin-bottom: 0;
		}
		.section-header-note {
			display: block;
			color: $color-primary;
			@include font-size($font-size-regular);
			font-style: $font-style-italic;
		}
	}
	.mini-payment-instrument,
	.mini-billing-address {
		@include respond(medium) {
			margin-right: 1%;
			@include font-size($font-size-sm);
		}
	}
	.checkout-mini-cart-wrapper {
		margin-bottom: 0;
		.section-header-note {
			display: none;
		}
		.checkout-order-totals {
			border-top: none;
			margin-top: 0;
		}
		.order-total td {
			border-bottom: $border;
			padding-bottom: 13px;
		}
	}
	#cart-table {
		@include respond(medium) {
			width: 71%;
			display: table-cell;
			vertical-align: top;
		}
		.item-image {
			width: 30.644%;
		}
		.item-quantity {
			float: right;
			width: 50%;
			padding-top: 18px;
			padding-right: 10px;
			clear: right;
			@include respond(medium) {
				float: none;
				width: 5%;
				padding-right: 25px;
				padding-top: 30px;
			}
		}
		.item-price {
			padding-top: 18px;
			padding-bottom: 0;
			@include respond(medium) {
				padding-top: 30px;
			}
		}
		.item-total {
			float: right;
			width: 50%;
			padding-top: 18px;
			padding-right: 10px;
			padding-left: 0;
			padding-bottom: 15px;
			clear: right;
			font-weight: $font-wt-bold;
			@include respond(medium) {
				float: none;
				width: 20.1355%;
				padding-right: 25px;
				padding-top: 30px;
				padding-bottom: 30px;

			}
		}
		.block-qty-text {
			display: inline;
		}
		.block-qty-text,
		.block-total-price-text {
			font-weight: $font-wt-semibold;
		}
		.section-header:last-child {
			@include respond(medium) {
				border-right: none;
			}
		}
		tr {
			&:last-child {
				border-bottom: none;
				@include respond(medium) {
					border-bottom: $border;
				}
			}
			@include respond(medium) {
				border-right: none;
			}
		}
		th {
			@include respond(large-up) {
				padding-top: 18px;
				padding-bottom: 18px;
				font-weight: $font-wt-bold;
			}
		}
	}
	.item-shipping-address {
		box-sizing: border-box;
		border: $border;
		border-top: none;
		padding: 10px 10px 25px;
		@include respond(medium) {
			padding: 0;
			border-top: $border;
			width: 29%;
			display: table-cell;
			vertical-align: top;
			position: relative;
		}
		.shipping-name {
			@include font-size($font-size-sm);
			@include line-height(20px);
			border-top: $border;
			color: $color-primary;
			padding: 25px 0 0;
			margin: 0;
			font-weight: $font-wt-bold;
			@include respond(medium) {
				background: $concrete;
				padding: 20px 30px 16px 30px;
				margin-bottom: 10px;
				height: 60px;
				position: relative;
				box-sizing: border-box;
				border-top: none;
				border-bottom: $border;
				@include font-size($font-size-regular);

				&:before {
					content: '';
					width: 1px;
					height: 74px;
					left: -1px;
					top: 0;
					background: $concrete;
					position: absolute;
					display: block;
				}
			}
		}
		.address-details {
			@include line-height(20px);
			@include font-size($font-size-sm);

			@include respond(medium) {
				@include font-size($font-size-regular);
				padding: 20px 29px;
			}

			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				width: 1px;
				height: 20px;
				left: -1px;
				background: $white;
			}
			&:before {
				top: 74px;
			}
			&:after {
				bottom: 0;
			}
			a {
				color: $color-primary;
				font-style: $font-style-italic;
				&:hover {
					color: $color-secondary;
					text-decoration: underline;
				}
			}
		}
	}
	.summary-table-wrapper {
		@extend %clearfix;
		margin-bottom: 25px;
	}
	.error-form {
		margin: 0 0 10px 0;
		padding: 0;
		.error-form-inside {
			border: 1px solid $coral-candy;
			background: $wisp-pink;
			padding: 15px;
			text-align: center;
			@include font-size($font-size-xs);
		}
	}
}

.pt_checkout.order-place {
	.page-title {
		margin-bottom: 17px;
	}
	.checkout-progress-indicator {
		@include respond(medium) {
			width: 69.66%;
		}
	}
	.back-to-cart {
		@include respond(medium) {
			margin: 0;
			position: relative;
			top: 31px;
			z-index: 1;
		}
	}
	.summary-message {
		display: none;
		font-weight: $font-wt-bold;
		@include respond(medium) {
			display: block;
			margin: 5px 0 35px;
		}
	}
	.checkbox-highlight {
		text-align: left;
		margin-bottom: 20px;
		.field-wrapper {
			float: none;
			display: inline-block;
			vertical-align: top;
		}

		label {
			display: inline-block;
			float: none;
			vertical-align: top;
			width: 88%;
			@include font-size($font-size-xs);
			@include line-height(20px);
			@include respond(medium) {
				width: 81%;
			}
			@include respond(large) {
				width: 85%;
			}
			@include respond(x-large) {
				width: 89%;
			}
			.content-asset p,
			.content-asset {
				@include font-size($font-size-xs);
				@include line-height(20px);
			}
		}
		.summary-terms-and-privacy {
			display: inline;
			* {
				display: inline;
				margin: 0;
				padding: 0;
			}
			a {
				color: $color-primary;
				&:hover {
					color: $color-secondary;
				}
			}
		}
		.error-display.hidden {
			display: none;
		}
	}
	.section-header {
		font-weight: $font-wt-bold;
		@include respond(large-up) {
			@include font-size($font-size-h3);

		}
		&.shipping-delivery {
			border: 0;
			clear: both;
			@include respond(large-up) {
				padding-top: 29px;
			}
		}
	}
	.summary-table-wrapper {
		.product-list-item {
			.name {
				a {
					font-weight: $font-wt-bold;
				}
			}
		}
		.sku {
			.label {
				font-weight: $font-wt-regular !important;
			}
		}
		.cart-availability-container {
			margin-left: 0;
			@include respond(large-up) {
				padding-top: 20px;
			}
			.product-availability-list {
				width: auto;
				li {
					width: auto;
				}
			}
		}
	}
	.error-form {
		margin: 0 0 10px 0;
		padding: 0;
		.error-form-inside {
			border: 1px solid $coral-candy;
			background: $wisp-pink;
			padding: 15px;
			text-align: center;
			@include font-size($font-size-xs);
		}
	}
	tr.rowcoupons {
		background: $concrete;
		td {
			background: $concrete;
			padding: 20px 0;
			box-sizing: border-box;
			&.item-details {
				padding-left: 10px;
				width: 64%;
				@include respond(large-up) {
					padding-left: 19px;
				}
				.name {
					font-weight: $font-wt-semibold;
				}
			}
			&.item-total {
				padding-right: 19px;
				text-align: right;
				width: 36%;
				padding-left: 0;
				.bonus-item {
					font-weight: $font-wt-bold;
					display: block;
				}
				a {
					color: $color-primary;
				}
			}
			.textbutton {
				background: none;
				display: inline;
				color: $color-primary;
				@include font-italic();
				@include font-size($font-size-sm);
				width: auto;
				height: auto;
				@include line-height(13px);
				text-decoration: underline;
				display: block;
				float: right;
				&:hover {
					text-decoration: none;
				}
			}
		}
		&.first {
			border-top: 0;
		}
		.coupon-applied {
			font-weight: $font-wt-bold;
		}
	}
	td.cart-promo-bottom {
		background: $concrete;
		@include respond(large-down) {
			padding: 0;
		}
		div {
			padding: 20px 10px;
			@include respond(large-up) {
				padding: 0;
			}
		}
	}
}

.minisummary-place-order {
	margin-bottom: 25px;
}

.hasstorepickupproducts {
	display: none;
	@include respond(medium) {
		display: block;
		margin-bottom: 27px;
	}
	span {
		color: $color-secondary;
		font-weight: $font-wt-semibold;
	}
	&:before {
		content: '';
		display: inline-block;
		height: 24px;
		width: 24px;
		background: url(../images/interface/sprite.png) no-repeat -99px -246px;
		margin-right: 10px;
		position: relative;
		top: 5px;
	}
}

.checkout-address-suggestion {
	@include respond(medium) {
		max-width: 524px;
	}
	.details {
		margin-bottom: 10px;
	}
	.address-suggestion-button {
		margin-top: 10px;
	}
	.col-1 {
		width: 35%;
		@include respond(medium) {
			width: 48%;
		}
	}
	.col-2 {
		width: 65%;
		@include respond(medium) {
			width: 48%;
		}
		text-align: right;
		.button {
			width: 100%;
			@include respond(medium) {
				width: 200px;
			}
		}
	}
}

.delivery-schedule-box {
	border: $border;
	border-top: none;
	padding: 20px;
	box-sizing: border-box;
	.delivery-dates-title {
		color: $color-secondary;
		@include font-size(18px);
		font-weight: $font-wt-semibold;
		@include respond(large-up) {
			color: $color-primary;
		}
	}
	.with-rep {
		margin-top: 15px;
		font-weight: $font-wt-semibold;
		@include font-size($font-size-sm);
		@include respond(medium) {
			@include font-size($font-size-regular);
		}
		.field-wrapper {
			margin: 0;
			margin-bottom: -20px;
			overflow: hidden;
		}
		div.radio {
			display: block;
			float: left;
			clear: left;
			margin-bottom: 20px;
		}
		.label {
			display: block;
			float: left;
			width: 90%;
			@include respond(medium) {
				width: auto;
			}
		}
	}
	.delivery-dates-wrapper,
	.preferred-contact-wrapper {
		padding: 0;
		@include respond(large) {
			padding: 0 30px;
		}
	}
	.schedule {
		width: 100%;
		overflow: hidden;
		border-top: $border;
		border-left: $border;
		box-sizing: border-box;
		@include font-size($font-size-xs);
		@include respond(medium) {
			@include font-size($font-size-regular);
		}
		.sched-date {
			float: left;
			width: 14.25%; 
			border-right: $border;
			box-sizing: border-box;
		}
		.time-slot,
		.header {
			@include font-size($font-size-xs);
			text-align: center;
			border-bottom: $border;
			height: 40px;
			padding: 12px 0;
			box-sizing: border-box;
			@include respond(x-small) {
				padding: 6px 0;
			}
			@include respond(medium) {
				@include line-height(40px);
				padding: 0;
			}
		}
		.time-slot {
			cursor: pointer;
			&.selected {
				background: $jewel;
				color: $white;
			}
			&.full {
				background: $concrete;
				cursor: initial;
			}
		}
		.header {
			font-weight: $font-wt-semibold;
			@include line-height(14px);
			height: 51px;
			padding: 12px 0;
			box-sizing: border-box;
		}
	}
	.currently-chosen {
		background: $jewel;
		padding: 30px;
		margin: 0 -20px;
		color: $white;
		box-sizing: border-box;
		text-align: center;
		font-weight: $font-wt-semibold;
		@include line-height(24px);
		@include font-size($font-size-sm);
		@include respond(medium) {
			margin: 0;
			@include font-size($font-size-regular);
		}
		.chosen-time {
			@include font-size(15px);
			@include respond(medium) {
				@include font-size(18px);
			}
		}
	}
	.sched-delivery {
		padding-top: 80px;
		margin: 0 -21px;
		@include respond(medium) {
			padding-top: 0;
			margin: 0;
		}
	}
	.delivery-message {
		padding-left: 30px;
		@include font-size($font-size-sm);
		@include respond(medium) {
			padding: 0;
			float: left;
			margin-bottom: 15px;
			width: 75%;
			@include font-size($font-size-regular);
			@include line-height(18px);
		}
		@include respond(large) {
			width: 80%;
		}
	}
	.slick-arrow {
		width: 40px;
		height: 40px;
		top: 30px;
		margin: 0;
		@include respond(medium) {
			top: -60px;
		}
		&:after {
			width: 11px;
			height: 20px;
			top: -27px;
			left: 12px;
			background: url(../images/interface/sprite.png) no-repeat -279px -225px;
		}
		&.slick-next {
			left: 50%;
			margin-left: 30px;
			@include respond(medium) {
				left: initial;
				right: 0;
			}
		}
		&.slick-prev {
			left: 50%;
			margin-left: -30px;
			@include respond(medium) {
				margin: 0;
				left: initial;
				right: 60px;
			}
		}
	}
	.or-bar {
		margin: 30px 0;
		@include font-size($font-size-regular);
		font-weight: $font-wt-semibold;
		text-transform: uppercase;
		text-align: center;
	}
	.white-overlay {
		@include line-height(18px);
		@include font-size($font-size-sm);
		@include respond(medium) {
			@include font-size($font-size-regular);
		}
	}
	.preferred-contact-info {
		margin-bottom: 15px;
	}
}
