#cart-table {
	margin: 0;
	thead {
		display: none;
		@include respond(large-up) {
			display: table-header-group;
		}
		tr {
			border: 0;
		}
		th {
			padding: 25px 0;
			vertical-align: middle;
			background: $concrete;
			border-top: $border;
			border-bottom: $border;
			border-bottom: $border;
			text-transform: none;
			color: $color-primary;
			@include font-size($font-size-regular);
			&:first-child {
				padding-left: 20px;
				border-left: $border;
			}
			&.header-total-price {
				border-right: $border;
				padding-right: 18px;
			}
		}
	}
	td {
		box-sizing: border-box;
		display: block;
		padding: 0;
		@include respond(large-up) {
			display: table-cell;
			padding: 30px 0;
		}
	}
	.header-total-price {
		text-align: right;
	}
	tr {
		border: $border;
	}
	.item-image {
		float: left;
		text-align: center;
		width: 50%;
		padding: 30px 15px 0 15px;
		@include respond(large-up) {
			float: none;
			width: 18.6440%;
			padding-bottom: 30px;
		}
	}
	.item-details {
		float: right;
		width: 50%;
		padding-top: 30px;
		padding-right: 10px;
		@include respond(large-up) {
			float: none;
			width: 21.1016%;
			padding-right: 25px;
		}
		.name {
			a {
				color: $color-primary;
				text-decoration: none;
				@include font-size($font-size-h5);
				@include line-height($font-size-h5);
				font-style: normal;
				font-weight: $font-wt-bold;
			}
		}
		// Removes Edit Details Quickview link for handheld devices
		.item-edit-details {
			display: block;
			a {
				display: inline-block;
				margin: 0;
				font-style: italic;
				color: $color-primary;
				font-weight: $font-wt-regular;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
			.product-list-item {
				.name {
					a {
						font-weight: $font-wt-bold;
					}
					span {
						font-weight: $font-wt-bold;
						@include font-size(15px);
						font-style: $font-style-regular;
					}
				}
			}
		}
		.sku {
			padding-bottom: 23px;
			.value {
				font-weight: $font-wt-regular;
			}

		}
		.attribute {
			.label, .value {
				width: 100%;
				display: block;
				@include line-height(20px);
				@include respond(large-up) {
					display: inline-block;
					width: auto;
				}
			}
			.label {
				font-weight: $font-wt-semibold;
			}
			.value {
				font-weight: $font-wt-regular;
			}
		}
	}
	.item-delivery-options {
		width: 50%;
		float: right;
		clear: right;
		padding-top: 20px;
		@include respond(large-up) {
			clear: none;
			float: none;
			padding: 30px 20px 0 0;
			width: 26.2711%;
		}
		.form-row {
			margin: 0;
			padding-bottom: 20px;
			&.no-padding {
				padding: 0;
				margin: 0;
			}
		   &.home-delivery {
			   label {
				   font-weight: $font-wt-semibold;
				   @include respond(large-up) {
					   margin-left: 37px;
				   }
			   }
			   .radio + label {
				   @include respond(large-up) {
					   margin-left: 2%;
				   }

			   }

		   }
			&.instore-delivery {
				label {
					font-weight: $font-wt-semibold
				}
			}
		}
	}

	.item-quantity-details {
		clear: right;
		float: right;
		text-align: left;
		width: 50%;
		padding-bottom: 16px;
		@include respond(large-up) {
			clear: none;
			float: none;
			text-align: left;
			width: 5.6779%;
			padding-bottom: 30px;
		}
		p {
			display: inline-block;
			margin-right: 7px;
		}
		input {
			display: inline-block;
		}
		.item-user-actions {
			display: inline-block;
			a,
			button {
				display: inline-block;
				margin: 0 0 0 7px;
				font-style: italic;
				color: $color-primary;
				font-weight: $font-wt-regular;
				text-decoration: underline;
				@include respond(large-up) {
					width: auto;
					margin: 8px 0 0 0;
				}
				&:hover {
					text-decoration: none;
				}
			}
		}
		.item-user-actions {
			@include respond(large-up) {
				display: block;
			}
		}
		.selector {
			width: 65px !important;
		}
		.bonus-product-qty {
			@include respond(large-up) {
				margin-left: 13px;
			}
		}
	}
	.item-price {
		float: right;
		clear: right;
		width: 50%;
		padding-bottom: 18px;
		font-weight: $font-wt-bold;
		@include respond(large-up) {
			float: none;
			width: 15.0847%;
			padding: 30px 20px 30px 0;

		}
		.price-total {
			display: none;
		}
	}
	.price-promotion {
		span {
			display: block;
		}
		.price-sales {
			color: $color-secondary;
		}
		.price-standard {
			margin: 0 1em 0 0;
			text-decoration: line-through;
			font-weight: $font-wt-regular;
		}
	}
	.item-total {
		float: right;
		clear: right;
		text-align: left;
		width: 100%;
		padding: 0 0 30px 50%;
		word-wrap: break-word;
		@include respond(large-up) {
			float: none;
			padding: 30px 19px 30px 0;
			width: 13.1355%;
			text-align: right;
			font-weight: $font-wt-bold;
		}
		.price-unadjusted {
			span {
				text-decoration: none;
				font-weight: $font-wt-bold;
			}
		}
	}
	.price-unadjusted {
		color: $color-primary;
		display: block;
		margin: 0 0 .42em;
		span {
			text-decoration: line-through;
			font-weight: $font-wt-regular;
		}
	}
	.price-adjusted-total {
		color: $color-secondary;
		display: block;
		span {
			color: $color-secondary;
			font-weight: $font-wt-bold;
		}
	}
	.gift-cert-delivery {
		color: $sangria;
	}
	tr.rowcoupons {
		background: $concrete;
		td {
			background: $concrete;
			padding: 20px 0;
			&.item-details {
				padding-left: 19px;
				width: 64%;
				float: none;
				display: table-cell;
				@include respond(large-down) {
					float: left;
					display: block;
				}
				.name {
					font-weight: $font-wt-semibold;
				}
			}
			&.item-total {
				padding-right: 19px;
				text-align: right;
				width: 36%;
				padding-left: 0;
				float: none;
				display: table-cell;
				@include respond(large-down) {
					float: right;
					display: block;
				}
				.bonus-item {
					font-weight: $font-wt-bold;
					display: block;
				}
			}
			.textbutton {
				background: none;
				display: inline;
				color: $color-primary;
				@include font-italic();
				@include font-size($font-size-sm);
				width: auto;
				height: auto;
				@include line-height(13px);
				text-decoration: underline;
				display: block;
				float: right;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	td.cart-promo-bottom {
		background: $concrete;
		div {
			padding: 20px 19px;
			@include respond(large-up) {
				padding: 0 0 0 19px;
			}
		}
	}
}

.shipping-method-table,
#cart-table {
	.item-details {
		float: right;
		width: 50%;
		padding-top: 30px;
		padding-right: 10px;
		@include respond(large-up) {
			float: none;
			width: 21.1016%;
			padding-right: 25px;
		}
		.name {
			a {
				color: $color-primary;
				text-decoration: none;
				@include font-size($font-size-h5);
				@include line-height($font-size-h5);
				font-style: normal;
			}
		}
		// Removes Edit Details Quickview link for handheld devices
		.item-edit-details {
			display: block;
			a {
				display: inline-block;
				margin: 0;
				font-style: italic;
				color: $color-primary;
				font-weight: $font-wt-regular;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
		.sku {
			padding-bottom: 23px;
			.value {
				font-weight: $font-wt-regular;
			}

		}
		.attribute {
			.label, .value {
				width: 100%;
				display: block;
				@include line-height(20px);
				@include respond(large-up) {
					display: inline-block;
					width: auto;
				}
			}
			.label {
				font-weight: $font-wt-semibold;
			}
			.value {
				font-weight: $font-wt-regular;
			}
		}
	}
}

.cart-footer {
	@extend %clearfix;
	padding: 30px 0 0 0;
}

.cart-coupon-code {
	@include respond(large-up) {
		float: left;
		width: 60%;
	}
	input {
		width: calc(100% - 88px);
		float: left;
		@include respond(large-up) {
			width: 44.25%;
		}
	}
	button {
		float: left;
		margin-left: 11px;
		width: 77px;
		height: 33px;
		@include line-height(33px);
		&#update-cart {
			display: none;
		}
	}
	div.error {
		padding-top: 9px;
		display: block;
		clear: left;
		color: $color-secondary;
		font-weight: $font-wt-regular;
		@include font-size($font-size-xs);
		&.in-cart {
			color: $jewel;
		}
	}
	label {
		margin-bottom: 10px;
	}
}

.cart-order-totals {
	clear: both;
	border: $border;
	border-bottom: 0;
	padding: 20px;
	width: 100%;
	box-sizing: border-box;
	margin-top: 30px;
	@include respond(large-up) {
		float: right;
		margin-top: 0;
		width: 29.1525%;
		clear: none;
	}
}

.order-totals-table {
	td {
		padding: 0 0 13px 0;
		text-align: right;
		font-weight: $font-wt-bold;
		&:nth-child(odd) {
			text-align: left;

		}
	}
	.order-totals-item {
		width: 60%;
	}

	.order-totals-value {
		width: 40%;
	}

	.order-subtotal {
		font-weight: 700;
	}
	.order-discount {
		color: $color-secondary;
	}
	.order-total {
		td {
			border-top: $border;
			border-bottom: $border;
			padding: 17px 0;
		}
		@include respond(large-up) {
			@include font-size($font-size-mobile-h3);
			font-weight: $font-wt-bold;
		}
	}
}

.order-value {
	white-space: nowrap;
}

.cart-actions {
	@extend %clearfix;
	border: $border;
	border-top: 0;
	padding: 0 20px 20px 20px;
	.button-fancy-large {
		width: 100%;
	}
	@include respond(large-up) {
		float: right;
		width: 29.1525%;
		box-sizing: border-box;
	}
}

.cart-action-continue-shopping {
	float: right;
	button.button-text {
		display: inline-block;
		margin: 11px 0 0 0;
		font-style: italic;
		color: $color-primary;
		font-weight: $font-wt-regular;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}

.cart-empty {
	clear: both;
	margin-top: 4rem;

	h1 {
		text-align: center;
	}
	.cart-action-continue-shopping {
		float: none;
		text-align: center;
		margin-bottom: 4rem;
	}
	.product-listing {
		@extend %clearfix;
		background-color: $white-smoke;
		padding: 1rem 0;
		h2 {
			margin-left: 1.3rem;
		}
		.search-result-items {
			margin-top: 1em;
		}
	}
}

.promo-adjustment {
	color: $color-secondary;
	font-weight: $font-wt-regular;
}

ul.product-availability-list {
	margin: 0;
	padding: 0;
	width: 5em;
	//for IE
	width: max-content;
	li {
		list-style: none outside none;
	}
	.on-order, .not-available {
		color: $thunderbird;
		font-size: 0.9em;
	}
}

.account-welcome {
	.welcome-message {
		font-size: 1.2em;
		font-style: italic;
	}
	.not-user {
		margin: .83em 0;
	}
}

#password-reset {
	white-space: nowrap;
}

.cart-banner-container {
	text-align: center;
	padding-top: 30px;
	@include respond(large-up) {
		padding-top: 42px;
	}
}

.primary-content {
	.cart-title {
		padding: 20px 0;
		text-align: center;
		@include respond(large-up) {
			margin: 0;
			text-align: left;
			padding: 36px 0 30px 0;
			float: left;
			width: 50%;
			box-sizing: border-box;
		}
	}
}

.cart-actions-top {
	display: none;
	@include respond(large-up) {
		display: block;
		float: right;
		width: 50%;
		box-sizing: border-box;
		border: 0;
		padding: 30px 0 20px 0;
	}
	.cart-action-checkout {
		@include respond(large-up) {
			float: right;
			margin-left: 20px;
		}
	}
	.cart-action-continue-shopping {
		float: none;
		@include respond(large-up) {
			float: right;
		}
	}
	.button-fancy-large {
		@include respond(large-up) {
			width: 281px;
		}
	}
}

.cart-availability-container {
	margin-left: calc(2% + 32px);
	ul {
		display: inline-block;
		color: $jewel;
		font-style: italic;
		padding-right: 7px;
		width: auto;
		box-sizing: border-box;
		li {
			margin-bottom: 0;
		}
	}
	a {
		display: inline-block;
		font-style: italic;
		color: $color-primary;
		position: relative;
		top: 2px;

	}
}

.set-preferred-store {
	font-style: italic;
	color: $color-primary;
	margin-left: calc(2% + 32px);
}

.mobile-show {
	display: block;
	padding: 0;
	margin: 0;
	@include respond(large-up) {
		display: none !important;
	}
}
.mobile-hide {
	display: none;
	padding: 0;
	margin: 0;
	@include respond(large-up) {
		display: block !important;
	}
}

.cart-footer-slot {
	padding-top: 30px;
	text-align: center;
	@include respond(large-up) {
		float: left;
		width: 66.1016%;
	}
}

.cart-line {
	display: none;
	@include respond(large-up) {
		clear: both;
		width: 100%;
		border-top: $border;
		display: block;
		padding-bottom: 15px;
	}
}

#QuickViewDialog {
	box-sizing: border-box;
	@include respond(large-up) {
		max-width: 780px;
		padding-top: 27px;
	}
	.quickview-full-details {
		@include font-size($font-size-sm);
		@include line-height($font-size-sm);
		font-style: italic;
		color: $color-primary;
		margin-bottom: 13px;
		display: inline-block;
		width: auto;
	}
	.pdp-main {
		margin: 0;
		.add-to-cart-container {
			background: none;
			border: 0;
			padding: 0;
			margin: 0;
			.inventory {
				@include respond(large-up) {
					max-width: 104px;
					width: 30%;
				}
			}
			button {
				@include respond(large-up) {
					width: 72%;
				}
			}
		}
		.product-add-to-cart {
			border: 0;
			padding: 0;
			margin: 0;
			.product-price {
				margin: 0;
				padding: 17px 0 28px 0;
				@include line-height(16px);
				.price-sales {
					font-weight: $font-wt-bold;
					color: $color-primary;
					@include font-size(16px);
				}
				.price-sales-more {
					&:before {
						width: 0;
						height: 0;
						margin: 0;
					}
				}
			}
			.price-standard {
				display: none;
			}
		}
		.read-more {
			display: none;
		}
	}
	.product-topbar {
		@include respond(large-up) {
			padding-bottom: 6px;
		}
	}
	.product-promo-content-area {
		display: none;
	}
	.product-col-1 {
		float: none;
		width: 100%;
		padding: 0;
		margin-top: 20px;
		box-sizing: border-box;
		@include respond(large-up) {
			width: 43.2432%;
			float: left;
		}
		#amplience-main {
			border: 0;
		}
	}
	.product-col-2 {
		float: none;
		width: 100%;
		border: 0;
		box-sizing: border-box;
		padding: 0;
		margin-top: 20px;
		@include respond(large-up) {
			width: 51.35135%;
			float: right;
		}
	}
	.product-content-container {
		width: 100%;
		border: 0;
	}

	.product-actions {
		display: none;
	}
	.availability-storepickup {
		.availability-web {
			background: none;
			padding: 0;
			margin: 0;
			label {
				display: none;
			}
			i {
				display: none;
			}
			.value-message {
				float: left;
			}
			.availability-msg {
				float: left;
			}
			.not-available-msg {
				position: relative;
				top: -2px;
				margin: 0 5px;
			}
		}
		.availability-instore {
			padding: 0;
			margin: 0;
			background: none;
			label {
				display: none;
			}
			i {
				display: none;
			}
		}
		.set-preferred-store {
			margin-left: 0;
			a {
				@include font-size($font-size-regular);
				@include line-height($font-size-regular);
				font-style: italic;
				color: $color-primary;
			}
		}
		.availability-novariation {
			float: left;
			margin-left: 5px;
		}
	}
	.details {
		@include font-size($font-size-regular);
		@include line-height($font-size-regular);
		font-style: italic;
		color: $color-primary;
	}
	.pdp-comfort-scale-container {
		display: none;
	}
	.product-logo {
		display: none;
	}
	#amplience-nav {
		display: none;
	}
}

.cart-recommendations {
	clear: both;
}

.cart-promo {
	.bonus-item-details {
		padding-top: 10px;
		@include font-bold();
		@include font-size($font-size-regular);
		color: $color-secondary;
		@include respond(large-up) {
			float: left;
		}
		a {
			@include font-italic();
			color: $color-primary;
		}
	}
	.bonus-item-actions {
		text-align: center;
		padding: 10px 0;
		@include respond(large-up) {
			float: right;
			padding-top: 0;
			padding-bottom: 20px;
		}

	}
	.select-bonus {
		color: $color-primary;
		background-color: $alto;
		height: 36px;
		line-height: 36px;
		@include font-bold();
		@include font-size($font-size-regular);
		display: block;
		padding: 0 20px;
		text-decoration: none;
		transition: all 0.3s ease;
		box-sizing: border-box;
		&:hover {
			background-color: $concrete;
		}
		&.select-bonus-another {
			text-align: center;
			@include respond(large-up) {
				margin-top: 25px;
				text-align: center;
				max-width: 170px;
				box-sizing: border-box;
			}
		}
	}
}

#bonus-product-dialog {
	box-sizing: border-box;
	@include respond(large-up) {
		max-width: 544px;
	}
	.promotion {
		background: none;
		padding: 15px 0;
		margin: 0;
		border-bottom: $border;
		.promotion-popup-name {
			@include font-bold();
			@include font-size($font-size-regular);
			padding: 0;
			margin: 0;
		}
	}
	.product-col-1 {
		width: 61.3333%;
		padding: 30px 0 0 0;
		margin: 0;
		@include respond(large-up) {
			width: 34.1284%;
			float: left;
		}
		.amplience-main {
			li {
				margin: 0;
				float: left;
			}
		}
	}
	.product-col-2 {
		width: 100%;
		padding: 25px 0 30px 0;
		margin: 0;
		@include respond(large-up) {
			width: 59.1614%;
			box-sizing: border-box;
			float: right;
			padding-right: 23px;
		}
		.product-name {
			padding: 0 0 17px 0;
			margin: 0;
			@include block-price-text();
			font-weight: $font-wt-regular;
		}
		.product-number {
			display: none;
		}
		.attribute {
			margin: 0 0 16px 0;
			padding-top: 0;
			.label {
				margin: 0;
			}
			.information-icon {
				display: none;
			}
			.selector {
				width: 100%;
				max-width: 213px;
			}
			.value {
				padding-right: 0;
				width: 100%;
			}
		}
		.product-price {
			padding-bottom: 11px;
			margin: 0;
			@include font-size(14px);
			color: $color-primary;
		}
		.product-add-to-cart {
			border: 0;
			padding: 0;
		}
		.inventory {
			float: left;
			width: 100%;
			max-width: 213px;
		}
		.select-bonus-item {
			clear: left;
			float: left;
			width: 100%;
			max-width: 213px;
		}
	   .product-variations {
		   max-width: 250px;
		   .tooltip {
			   display: none;
		   }
		}
	}
	.bonus-product-list-footer {
		border: 0;
		padding: 0;
		margin: 0;
		@include respond(large-up) {
			width: 100%;
			box-sizing: border-box;
			float: right;
		}
		.item-attributes {
			li {
				margin: 0;
				padding: 0;
				.display-name {
					font-weight: $font-wt-semibold;
				}
			}
		}
		.remove-link {
			color: $color-secondary;
			text-transform: $font-style-italic;
			position: relative;
			left: 0;
			text-decoration: none;
			margin-left: 10px;
		}
		.add-to-cart-bonus {
			width: 100%;
			@include respond(large-up) {
				max-width: 213px;
				float: left;
			}
		}
		.add-to-cart-bonus-container {
			@include respond(large-up) {
				padding-top: 19px;
				clear: both;
				float: right;
				width: 59.1614%;
			}
			&.active {
				border-top: $border;
				padding-left: 40.8386%;

			}
			.bonus-product-thanks {
				@include respond(large-up) {
					float: left;
					width: 81px;
					min-height: 1px;
				}
				.continue {
					color: $color-primary;
					@include line-height(36px);
					font-style: $font-style-italic;
					float: right;
				}
			}
		}
		.bonus-product-summary {
			@include respond(large-up) {
				width: 100%;
			}
			.selected-bonus-items {
				@include respond(large-up) {
					width: 53.7614%;
					float: right;
					padding-right: 47px;
					box-sizing: border-box;
				}
			}
		}
		.selected-bonus-item {
			margin: 29px 0;
			padding: 0;
			@include respond(large-up) {
				margin: 19px 0;
			}
			.item-name {
				font-weight: $font-wt-regular;
			}
		}
	}
}

#cart-recommendations {
	padding-top: 38px;
	@include respond(large-up) {
		padding-top: 37px;
	}
	li {
		border: $border;
		@include respond(large-up) {
			margin: 0 10px;
		}
	}
	.slick-arrow {
		&.slick-prev {
			@include respond(large-up) {
				left: 30px;
			}
		}
		&.slick-next {
			@include respond(large-up) {
				right: 30px;
			}
		}
	}
}

.ui-dialog {
	box-sizing: border-box;
	@include respond(large-down) {
		width: 93.75% !important;
	}
	&.bonus-product-popup {
		.ui-dialog-titlebar {
			height: auto;
			padding: 0 0 0 17px;
		}
		.ui-dialog-title {
			@include font-size(17px);
			border: 0;
			padding-top: 11px;
			@include respond(large-up) {
				margin: 0;
				padding: 13px 0 4px 0;
				@include font-size(20px);
			}
		}
		.inventory {
			display: none;
		}
	}
}
.pt_cart {
	.error-form {
		margin: 0 0 10px 0;
		padding: 0;
		.error-form-inside {
			border: 1px solid $coral-candy;
			background: $wisp-pink;
			padding: 15px;
			text-align: center;
			@include font-size($font-size-xs);
		}
	}
}