.tooltip {
	cursor: help;
	position: relative;
	&.product-tile {
		cursor: pointer;
	}
}

.tooltip-content {
	display: none;
}

.ui-tooltip.ui-widget-content {
	background: $concrete;
	border: 1px solid $dark-gray;
	color: $color-primary;
	box-shadow: none;
	&:before {
		content: '';
		position: absolute;
		bottom: -18px;
		left: 50%;
		margin-left: -5px;
		display: block;
		width: 0;
		height: 0;
		border-left: 9px solid transparent;
		border-right: 9px solid transparent;
		border-top: 18px solid $dark-gray;
	}
	&:after {
		content: '';
		position: absolute;
		bottom: -16px;
		left: 50%;
		margin-left: -4px;
		display: block;
		width: 0;
		height: 0;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-top: 16px solid $concrete;
	}
	& + p {
		margin-top: 0;
	}
}

.ui-tooltip-content {
	padding: 20px;
	.recommendation-tooltip-header {
		padding: 0.5em;
		.product-price {
			.price-standard {
				text-decoration: line-through;
			}
		}
	}
	.recommendation-tooltip-description,
	.recommendation-tooltip-attributes {
		padding: 0.8em;
	}
	.shipping-method-cost,
	.surcharge-product,
	.promo {
		text-align: right;
		padding-bottom: .3rem;
	}
	.shippingtotal {
		clear: right;
		text-align: right;
		margin-top: .3rem;
		.value {
			border-top: 1px solid $charcoal;
			padding-top: .3rem;
		}
	}
	p {
		margin: 0;
	}
}
