.breadcrumb {
	width: 100%;
	position: absolute;
    left: 0;
	@include font-size(11px);
	@include line-height(11px);
	margin: 0;
	padding: 0;
	z-index: 1;
	li {
		display: inline;
		list-style: none outside none;
	}
	.breadcrumb-container {
		background-color: #F1F1F2;
		padding: 10px;
		.inner-breadcrumbs {
			margin: 0 auto;
			min-width: 295px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			@include respond(medium) {
				width: 743px;
			}

			@include respond(large) {
				width: 1000px;
			}

			@include respond(x-large) {
				width: 1175px;
			}
		}
	}
}

.paging-current-page {
	left: -999em;
	position: absolute;
}

.breadcrumb-element-plp {		
	@include font-size(11px);
	line-height:1.3;

	// forward slash fix
	margin-right: 14px;
	position: relative;

	text-decoration: none;
	color: $color-primary;
	&:hover {
		color: $color-secondary;
	}
	&:after {
		// forward slash fix
		position: absolute;

		margin-left: .4em;		
		color: $color-primary;
		content: '/';
	}
	&:hover:after {
		text-decoration: underline;
	}
	&:hover:after {
		text-decoration: none;
	}
		
	&:last-child {	    	    
		pointer-events: none;
		&:after {
			content: '';
		}
	}
	&:last-of-type {
	/*pointer-events: none;*/
		&:after {
						
		}
	}		
}

.breadcrumb-element {
	@include font-size(11px);
	line-height:1.3;
	text-decoration: none;
	color: $color-primary;
	&:hover {
		color: $color-secondary;
	}
	&:after {
		color: $color-primary;
		content: '/';
		margin-left: .4em;
		display: inline-block;
	}
	&:hover:after {
		text-decoration: underline;
	}
	&:hover:after {
		text-decoration: none;
	}
	&:last-child {
		&:after {
			content: '';
		}
	}
}

.breadcrumb-element-slt {
	@include font-size(11px);
	line-height:1.3;

	// forward slash fix
	margin-right: 14px;
	position: relative;

	text-decoration: none;
	color: $color-primary;
	&:hover {
		color: $color-secondary;
	}
	&:after {
		// forward slash fix
		position: absolute;
		margin-left: .4em;		
		color: $color-primary;
		content: '/';
	}
	&:hover:after {
		text-decoration: underline;
	}
	&:hover:after {
		text-decoration: none;
	}
	&:last-child {
		pointer-events: none;
		&:after {
			content: '';
		}
	}
	&:last-of-type {
	/*pointer-events: none;*/
	}
}
.breadcrumb-refinement {
	font-weight: 700;
	&:last-of-type {
		&:after {
			content: '';
		}
	}
}

.breadcrumb-refinement-value {
	display: inline-block;
	&:after {
		content: ", ";
	}
	&:last-child:after {
		content: "";
	}
}

.breadcrumb-refinement-name {
	padding-right: .42em;
}

.breadcrumb-relax {
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-left: 0;
	font-size: 20px;
	position: relative;
	top: 0;
	&:before {
		font-size: 0;
	}
}

.breadcrumb-result-text a,
.breadcrumb .searchphraselink {
	background: none;
	color: $citrus;
	padding: 0;
}
.breadcrumb-result-text {
	margin: 0;
	span {
		@include h2();
		display: block;
		a {
			color: $color-secondary;
			text-decoration: none;
		}
	}
}
.breadcrumb-spacer {
	margin-bottom: 50px;
	display: table;
}
