

// font family variables
$r-extrabold: 'Rubik Black', 'Arial', sans-serif;
$r-bold: 'Rubik Bold', 'Arial', sans-serif;
$r-semibold: 'Rubik Bold', 'Arial', sans-serif;
$r-medium: 'Rubik Medium', 'Arial', sans-serif;
$r-regular: 'Rubik', 'Arial', sans-serif;
$r-light: 'Rubik Light', 'Arial', sans-serif;

$sans-serif: $r-regular;
$sans-serif-alt: $sans-serif;
$serif: $sans-serif;

//
// Font Sizes and Height
//
$font-spacing-regular: 0;

$font-size-extralarge: 18px;
$font-size-large: 16px;
$font-size-regular: 14px;
$font-size-sm: 13px;
$font-size-xs: 12px;

$font-size-h1: 45px;
$font-size-h2: 30px;
$font-size-h3: 25px;
$font-size-h4: 20px;
$font-size-h5: 15px;
$font-size-h6: 14px;
$font-size-mobile-h1: 30px;
$font-size-mobile-h2: 20px;
$font-size-mobile-h3: 18px;
$font-size-mobile-h4: 17px;
$font-size-mobile-h5: 15px;
$font-size-mobile-h6: 14px;
$font-size-tablet-h2: 22px;

$font-height-regular: 21px;
$font-height-h1: 45px;
$font-height-h2: 30px;
$font-height-h3: 30px;
$font-height-h4: 20px;
$font-height-h5: 22px;
$font-height-h6: 18px;
$font-height-mobile-h1: 30px;
$font-height-mobile-h2: 20px;
$font-height-mobile-h3: 22px;
$font-height-mobile-h4: 17px;
$font-height-mobile-h5: 22px;
$font-height-mobile-h6: 18px;

$font-size-product-name-browse: 14px;
$font-size-mobile-product-name-browse: 14px;
$font-size-attribute-title: 14px;
$font-size-mobile-attribute-title: 14px;
$font-size-page-title: 24px;
$font-size-mobile-page-title: 24px;
$font-size-secondary-heading: 18px;
$font-size-mobile-secondary-heading: 18px;
$font-size-mobile-paragraph-body: $font-size-sm;
$font-size-mobile-product-name: 24px;
$font-size-mobile-price-text: $font-size-regular;
$font-size-mobile-promotion-text: $font-size-sm;
$font-size-mobile-sale-price: 18px;
$font-size-mobile-crossed-price: 15px;
$font-size-mobile-paragraph-head: 14px;
$font-size-mobile-subtext-below-title: $font-size-regular;
$font-size-mobile-sidebar-promo-title: $font-size-sm;
$font-size-mobile-sidebar-promo-paragraph: $font-size-xs;
$font-size-paragraph-body: $font-size-regular;
$font-size-product-name: 24px;
$font-size-price-text: $font-size-regular;
$font-size-promotion-text: $font-size-sm;
$font-size-sale-price: 25px;
$font-size-crossed-price: 20px;
$font-size-paragraph-head: 14px;
$font-size-subtext-below-title: 16px;
$font-size-sidebar-promo-title: $font-size-regular;
$font-size-sidebar-promo-paragraph: $font-size-xs;

$font-height-product-name-browse: 21px;
$font-height-mobile-product-name-browse: 21px;
$font-height-attribute-title: 16px;
$font-height-mobile-attribute-title: 16px;
$font-height-secondary-heading: 20px;
$font-height-mobile-secondary-heading: 20px;
$font-height-page-title: 26px;
$font-height-mobile-page-title: 26px;
$font-height-mobile-paragraph-body: 20px;
$font-height-mobile-product-name: 26px;
$font-height-mobile-price-text: 18px;
$font-height-mobile-promotion-text: 17px;
$font-height-mobile-sale-price: 22px;
$font-height-mobile-crossed-price: 22px;
$font-height-mobile-paragraph-head: 21px;
$font-height-mobile-subtext-below-title: 20px;
$font-height-mobile-sidebar-promo-title: 17px;
$font-height-mobile-sidebar-promo-paragraph: 17px;
$font-height-paragraph-body: $font-height-regular;
$font-height-product-name: 26px;
$font-height-price-text: 18px;
$font-height-promotion-text: 18px;
$font-height-sale-price: 30px;
$font-height-crossed-price: 30px;
$font-height-paragraph-head: 21px;
$font-height-subtext-below-title: 23px;
$font-height-sidebar-promo-title: 17px;
$font-height-sidebar-promo-paragraph: 17px;

//
// Font Weights
//
$font-wt-regular: 400;
$font-wt-semibold: 700;
$font-wt-bold: 900;

//
// Font Styles
//
$font-style-italic: italic;
$font-style-regular: normal;
//
// Standard Font Families
//

// usage: @include font-regular();
@mixin font-regular() {
	font-family: $sans-serif;
	font-weight: $font-wt-regular;
}

@mixin font-italic() {
	font-family: $sans-serif;
	font-weight: $font-wt-regular;
	font-style: $font-style-italic;
}

// usage: @include font-semibold();
@mixin font-semibold() {
	font-family: $sans-serif;
	font-weight: $font-wt-semibold;
}

// usage: @include font-bold();
@mixin font-bold() {
	font-family: $sans-serif;
	font-weight: $font-wt-bold;
}
