footer {
	clear: both;
	div,
	p,
	li,
	a {
		font-family: $r-regular;
	}

	a {
		text-decoration: none;
	}
	.emailsignup {
		label {
			font-size: 1.25rem;
			margin: $spacing-4 0 $spacing-1;
			text-align: center;
			@media only screen and (min-width: 48em) {
				font-size: 1.25rem;
				margin: 0 0 $spacing-1;
				text-align: left;
			}
		}
		h2 {
			color: $white !important; 
			margin-top: $spacing-2;
		}
	}

	.footer-content-item {
		a.footer-heading {
			font-family: $r-bold;
		}
		.dropdown-list {
			li.hide-desktop {
				@media only screen and (max-width:767px) {
					display:block!important
				}
			}
		}
		.footer-nav-hours {
			margin-top:$spacing-1 !important;
			@media only screen and (max-width:767px) {
				border-top:$g-size-1 solid $white;
				margin-top:0!important;
				padding:$spacing-3 !important;
			}
			li {
				@media only screen and (max-width:767px) {
					padding:0!important;
					border:none!important
				}
			}
		}
	}
	
	.footer-social-email {
		@include respond(large-up) {
			display: table-cell;
			vertical-align: top;
		    width: 250px;
			padding-left: $spacing-4;
		}
		@include respond(x-large) {
			width: 325px;
			padding-left: $spacing-6;
		}
		#email-alert-signup {
			white-space: nowrap;
		    overflow: hidden;
		    margin-bottom: $g-size-8;
		    @include respond(large-up) {
		    	white-space: inherit;
		    }
		    label {
		    	font-weight: $font-wt-bold;
				margin-bottom: $g-size-3;
		    	@include respond(large-only) {
		    		@include font-size($font-size-sm);
		    	}
		    }
			input{
				&.input-text {
					width:calc(100% - 63px);
				    height: 30px;
					border-radius: $spacing-3 0 0 $spacing-3;
					background: $alabaster;
					border: 1.5px solid $alto;
					@include font-size($font-size-sm);
					padding: 0 $spacing-2;
					@include placeholder-color($color-primary);
					background:transparent;
					color:$white;
					border-radius: $spacing-3;
					margin: 0 auto;
					display: block;
					float: none;
					@include respond(large-only) {
		    			@include font-size($font-size-xs);
		    		}
		    		@media only screen and (min-width: 48em) {
		    			margin: 0 auto;
		    			margin-right: 3%;
		    			width: calc(97% - 63px);
		    			float: left;
		    		}
				}
				&.input-text::placeholder {
					color:$light-gray-1;
				}
			}
			button {
				text-transform: capitalize;
				height: 30px;
				line-height: 30px;
				padding: 0;
				@include font-size($font-size-sm);
				width: 63px;
				background: transparent;
				border: none;
				color: $white;
				font-size: 1.1rem;
				display: block;
				width: 100%;
				@include respond(large-only) {
	    			@include font-size($font-size-xs);
	    		}
	    		@media only screen and (min-width: 48em) {
	    			font-size: 1rem;
	    			width: 63px;
		    	}
			}
			span {
				float: left;
				margin-top: $g-size-3;
				&.error2 {
					color: $color-secondary;
					font-size: $font-size-xs;
				}
			}
		}
		.review-policy {
			text-align: center;
			@include font-size($font-size-xs);
			@include respond(large-up) {
				text-align: left;
			}
			a {
				color: $color-primary;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}
		.social-links {
			padding: 0;
			margin: $spacing-4 $spacing-4 $spacing-3;
			text-align: center;
			@include respond(large-up) {
				text-align: left;
				margin: $spacing-4 0 0;
			}
			li {
				display: inline;
				padding-right: $g-size-12;
				margin: 0;
				line-height: $spacing-4;
				&.last {
					padding: 0;
				}
			}
			a:hover {
				text-decoration: none;
			}
		}
	}
}
