.ui-widget-overlay {
	background: $black;
	opacity: 0.75;
}

.ui-dialog {
	background-color: $white;
	padding: 0;
	z-index: 1000001;
	@include respond(small) {
		width: 100% !important;
	}
	.ui-widget-header {
		border: none;
		border-radius: 0;
		padding: 0 20px;
		height: auto;
		text-transform: uppercase;
	}
	.ui-dialog-title {
		@include secondary-heading;
		margin: 0;
		padding: 15px 0;
		width: 100%;
		border-bottom: $border;
	}
	.ui-icon-closethick {
		background-image: url("../images/interface/sprite.png");
		background-position: -126px -247px;
		height: 16px;
		width: 16px;
		left: 10px;
		top: 10px;
		margin-left: 0;
		margin-top: 0;
	}
	.ui-dialog-titlebar-close {
		background-color: transparent;
		border: 0 none;
		border-radius: 0 0 0 0;
		height: 36px;
		margin: 0;
		padding: 0;
		right: 0;
		top: 0;
		width: 36px;
		z-index: 5;
		span {
			margin: 0;
			padding: 0;
		}
	}
	.ui-dialog-content {
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		@include respond(medium) {
			padding: 20px;
		}
		h1 {
      @include font-size(14px);
      font-size: 14px !important;
			color:$night-rider;
			@include line-height(18px);
			margin: 0 0 calculateRem(5px) 0;
		}
		p {
			margin-top: 0;
		}
	}
	&.add-to-cart-intercept-dialog {
		.ui-dialog-content {
		   @include respond(medium) {
			   padding-left: 10px;
			   padding-right: 10px;
		   }
	   }
	}
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}

.ui-accordion .ui-accordion-content {
	padding: 0;
}

.ui-tabs {
	.ui-tabs-nav {
		height: 2.45em;
		padding: 0;
		li {
			border-color: $white;
			border-style: solid;
			border-width: 0 0 3px 0;
			&.ui-state-active {
				border-bottom-color: $citrus;
				a {
					color: $black;
					font-weight: 700;
				}
			}
			a {
				color: $nobel;
			}
		}
	}
	.ui-tabs-panel {
		background-color: $white;
		border: 1px solid $white;
		line-height: 1.5em;
		margin: 0;
		padding: 20px 10px;
		h3 {
			@include respond(large-up) {
				display: none;
			}
		}
	}
}

#vertical-carousel {
	height: 19rem;
	position: relative;
	overflow: hidden;
	ul {
		height: 10000em;
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
		li {
			float: left;
			height: 19rem;
			width: 100%;
			.capture-product-id {
				display: none;
			}
		}
	}
	.jcarousel-nav {
		color: $nobel;
		cursor: pointer;
		font-size: 0.9em;
		font-weight: 700;
		position: absolute;
		right: 0;
		text-transform: uppercase;
		&:hover {
			color: $citrus;
		}
		&.inactive {
			display: none;
		}
	}
	.jcarousel-prev {
		bottom: 30px;
	}
	.jcarousel-next {
		bottom: 0;
	}
}
