.scrollHidden {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.mobile-refinements-filter-show{
    overflow: hidden;
}
.plp-filters-mvc {
    @include respond(large-up){
        .clear-all-link.desktop-hide{
            display: none;
        }
    }

    .refinement-big-container {
        @media only screen and (max-width: 767px) {
            background: $white;
            margin: 0 -0.625rem;
            padding: 0 0.625rem;
            .nav-title {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='20' viewBox='0 0 22 16'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%232D2926' stroke-width='2'%3E%3Cpath stroke-linecap='round' d='M0 7.918L22 7.918'/%3E%3Ccircle cx='6' cy='8' r='2' fill='%23FFF'/%3E%3Cpath stroke-linecap='round' d='M0 1.918L22 1.918'/%3E%3Ccircle cx='15' cy='2' r='2' fill='%23FFF'/%3E%3Cg transform='translate(0 12)'%3E%3Cpath stroke-linecap='round' d='M0 1.918L22 1.918'/%3E%3Ccircle cx='17' cy='2' r='2' fill='%23FFF'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
                background-position: 10px !important;
                border-radius: 2px;
                border: solid 1px $bombay !important;
                width: 135px !important;
                text-align: right;
                background-color: transparent !important;
            }
        }
    }

    .mobile-refinements-filter__inner {
        @include respond(large-down) {
            overflow: scroll;
        }
        padding-bottom: 70px;
    }

    .collapsed-refinement {
        border: 1px solid $light-gray;
        margin-bottom: 10px;
        padding-bottom: 0 !important;
    }

    #secondary.refinements{
        ul {
            padding-top: 0;
        }
            .refinement {
                @include respond(large-down) {
                    background: $white;
                    border: solid 1px $light-gray;
                    border-radius: 2px;
                    margin: 0 12px 10px;
                    padding: 0;
                }
                @include respond(large-up) {
                    border-bottom: 0;
                }
            }

            .toggle{
                margin-bottom: 16px;
                padding: 19px 0 0 10px;
            }
        } 
    
    #secondary.refinements .refinement.collapsed-refinement {
        @include respond(large-up) {
            border: 1px solid $light-gray;
        }
    }

    #secondary.refinements .toggle {
        border-bottom: 0;
        color: $dark-gray-1;
        font-size: 1rem;
        font-family: $r-medium;
        font-weight: 500;
        padding-bottom: 0;
    }
    #secondary.refinements{
        li{
            @include respond(large-up) {
                margin: 0 0 15px 0;
            }
        }
    }

    .refinement .refinement-link {
        outline: none;
        font-size: 16px;
    }

    #secondary.refinements .refinement-text {
        font-family: $r-regular;
        font-size: 16px;
        font-weight: normal;
    }

    .mobile-results-count {
        position: relative;
        top: 12px;
        left: 5px;
    }

    #secondary.refinements #nav_label ~ label {
        border-radius: 2px;
        border: solid 1px $bombay;
        background-color: $white;
        color: $dark-gray-1;
        display: inline-block;
        font-family: Rubik;
        float: right;
        font-size: 14px;
        font-weight: 500;
        height: 40px;
        letter-spacing: normal;
        line-height: 0.86;
        padding: 14px 11px 0 13px;
        text-transform: capitalize;
        width: 135px;
        @include respond(large-down) {
            margin-right: 5px;
        }
        @include respond(large-up) {
            display: none;
        }
    }

    #secondary.refinements #nav_label:checked ~ nav {
        @media only screen and (max-width: 767px) {
            background: $guyabano;
            // SHOP-3178 turn off transition animation to prevent flicker
            transition-duration: unset;
        }
    }
    
    #secondary.refinements .refinement-image {
        background-image: none;
        background-position: -60px -99px;
        background-repeat: no-repeat;
        border: 1.5px solid $bombay;
        border-radius: 5px;
        color: $black;
        height: 16px;
        margin: 0;
        padding: 1px !important;
        vertical-align: top;
        width: 17px;
        font-size: 16px;
    }

    #secondary.refinements .selected .refinement-image {
        background: $black;
        border: 1.5px solid $black;
    }

    #secondary.refinements .refinement-price .refinement-image {
        display: inline-block;
    }

    #secondary.refinements .refinement-price .selected .refinement-text {
        font-weight: normal;
    }

    #secondary.refinements .refinement-price .refinement-text {
        margin-left: 9px;
        position: relative;
    }

    #secondary.refinements .selected .refinement-image::after {
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        border: solid #FFFFFF;
        border-width: 0 3px 3px 0;
        content: "";
        height: 10px;
        left: 17px;
        margin-top: 0.025rem;
        position: absolute;
        transform: rotate(45deg);
        width: 5px;
        @include respond(large-up) {
            left: 22px;
        }
    }
     #secondary.refinements .nextday_delivery .selected .refinement-image::after {
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        border: solid #FFFFFF;
        border-width: 0 3px 3px 0;
        content: "";
        height: 10px;
        left: 31px;
        margin-top: 0.025rem;
        position: absolute;
        transform: rotate(45deg);
        width: 5px;
        @include respond(large-up) {
            left: 22px;
        }
    }

    #secondary.refinements .refinement-text {
        width: auto;
    }
    
    .close-refinement.desktop-hide {
        @include respond(large-up) {
            display: none;
        }
    }

    .search-result-options {
        position: static;
    }
    
    /* Add cross button and filter updates  */
    .mobile-topheading{
        display: none;
    }

    .results-hits-total {
        white-space: nowrap;
    }
    
    .sort-by-desktop {
        @include respond(large-down) {
            display: none;
        }
    }

    .sort-by #grid-sort-header-desktop {
        background-color: $white !important;
        border-radius: 2px;
        border: solid 1px $bombay !important;
        font-size: 14px;
        font-family: $r-regular;
        float: right;
        float: none;
        margin: 5px 0;
        position: absolute;
        right: 0;
        top: 44px;
        width: 228px;
    }

    .sort-by:after {
        color: $black;
        content: '\f107';
        font: normal normal normal 18px/1 FontAwesome;
        left: auto;
        position: absolute;
        pointer-events: none;
        right: 9px;
        top: 57px;
    }

   .apply-filter__sort-by .sort-by:after {
        display: none;
    }
    .show-all-plp-pages .sort-by #grid-sort-header-desktop{
        top: 10px;
    }
    .show-all-plp-pages .sort-by:after{
        top: 22px;
    }
    .sort-by .select {
        background-color: $white;
        border: 1px solid $guyabano;
        border-radius: 2px;
    }

    .search-result-options .pagination {
        margin-bottom: 21px;
        margin-top: -6px;
        width: auto;
    }

    @include respond(large-down) {
       
        .show-mobile-refinements-filter {
            height: 100vh;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 9999;
            overflow: scroll !important;
            position: fixed;
            right:0;
        }
            
        .mobile-topheading {
            display: block;
            background: $white;
            height: 50px;
            margin-bottom: 45px;
            position: relative;
        }

        .mobile-topheading h6 {
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            padding: 14px;
            margin: 0;
        }

        .mobile-topheading .close-filter {
            display: inline-block;
            height: 19px;
            left: 10px;
            position: absolute;
            top: 17px;
            width: 19px;
        }

        .mobile-topheading .close-filter:before,
        .mobile-topheading .close-filter:after {
            position: absolute;
            content: '';
            width: 100%;
            height: 2px;
            background-color: $black;
            top: 6px;
        }

        .mobile-topheading .close-filter:before {
            transform: rotate(45deg);
        }

        .mobile-topheading .close-filter:after {
            transform: rotate(-45deg);
        }

        .close-refinement {
            position: absolute;
            top: 46px;
            right: 8px;
            background: none;
        }

        .close-refinement a {
            background: none;
            text-transform: initial;
            text-decoration: underline;
            color: $punch !important;
        }

        .close-refinement a span {
            color: $punch;
            text-decoration: underline;
        }

        .sort-by {
            width: auto;
            float: none;
        }

        .sort-by #grid-sort-header{
            background-color: $white !important;
            border-radius: 2px;
            border: solid 1px $bombay !important;
            font-family: $r-regular;
            font-size: 16px;
        }

        .refinement-big-container .sort-by form select {
            background-image: url(../images/ref_arrows.png);
            background-repeat: no-repeat;
            background-color: #fff;
            cursor: pointer;
        }

        .apply-filter .apply-filter__sort-by {
            display: inline-block;
        }
        
        #secondary.refinements .close-reminement.desktop-hide.sticky {
            padding: 10px 10px 20px;
            width: 100%;
        }

        .close-refinement-btn {
            border-radius: 25px;
            height: 19px;
            left: 7px;
            margin-left: 5px;
            width: 92%;
        }
        a.close-refinement-btn {
            border-radius: 25px;
            color: $white !important;
            display: inline-block;
            height: 19px;
            margin-left: 5px;
            margin-top: 8px;
            padding: 11px 0;
            width: 70px;
        }

        .apply-filter .sort-by {
            float: none;
            display: inline-block;
        }

        .clear-all-link {
            position: absolute;
            right: 10px;
            top: 47px;
        }
        .clear-all-link a span {
            background: none;
            color: $punch !important;
            text-transform: capitalize;
            text-decoration: underline;
        }   
    }
    /* Refinments AB test  */
    #secondary.refinements{
        &.sticky{
                .btn-update-plp{
                    width: 82px !important;
                }
        }
        .plp-geo-container_ab{
            border: 1px solid $light-gray;
            background-color: $white;
            @include respond(large-down) {
                margin: 0 12px 10px;
            }
            .nextday_delivery{
                ul{
                    padding: 0 0 5px 15px;
                    @include respond(large-down) {
                        padding: 0 0 5px 12px;
                    }
                    a{
                        outline: none;
                        .refinement-text{
                            font-size: 14px;
                            font-weight: normal;
                            font-family: $r-regular;
                            color: $dune;
                        }
                    }
                }
            }
            .geolocation-wrapper{
                background: none;
                border-radius: 2px;
                background:#FFF;
                padding: 20px 15px;
                margin-bottom: 0;
                @include respond(large-down) {
                    display: block;
                    margin: 0 12px 20px;
                    padding: 20px 10px 0 0;
                }
                .delivery-heading{
                    color: #2d2926;
                }
                img{
                    width: 17px;
                    height: 23px;
                    vertical-align: middle;
                    display: inline-block;
                    margin-right: 10px;
                }
                .shipto{
                    font-size: 14px;
                    font-weight: normal;
                    font-family: $r-regular;
                    color: $dune;
                    padding-right: 2px;
                }
                .delivery-shipping{ 
                        span{
                            font-family: $r-regular;;
                            font-weight: 500;
                        }   
                    }

                .previous-location{
                    background: #fff !important;
                    overflow: hidden;
                        #geo-zip-form {
                            #plp-customer-zip{
                                    width: 141px;
                                    height: 40px;
                                    border-radius: 20px;
                                    border: solid 1px $gray;
                                    padding-left: 35px;
                                    background-color: $white;
                                    font-size: 14px;
                                    font-weight: normal;
                                    color: #9b9b9b;
                                    margin-left: 0;
                                    padding-left: 14px;
                                    @include respond(large-down) {
                                        width: 64.5%;
                                    }
                                    @media only screen and (max-width: 320px) {
                                        width: 60.5%;
                                    }

                            }
                            .btn-update-plp{
                                width: 100px;
                                padding: 0px;
                                font-size: 14px;
                                line-height: 1;
                                vertical-align: top;
                                height: 40px;
                                border-radius: 20px;
                                background-color: $punch;
                                line-height: 1.14;
                                text-transform: capitalize;
                                font-weight: 700;
                                @include respond(large-down) {
                                        width: 100px;
                                    }
                            }
                        }
                        .zip-update-text{
                            font-size: 11px;
                            border-bottom: none ;
                            margin-bottom: 0;
                            padding-bottom: 0;
                            color: $dark-gray-1;
                            font-weight: normal;
                        }
                    }
                .geo-main-wrapper{
                    margin-bottom: 10px;
                    span{
                        font-size: 18px;
                        font-family: $r-semibold;
                        margin-top: 0 !important;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    
    // Selected Filters
    .breadcrumb-refinement-mobile {
        background-color: inherit;
        margin-bottom: 10px;
        // padding: 8px;
        padding: 0;
    }

    .breadcrumb-refinement-mobile .breadcrumb-refined-by {
        font-family: Rubik;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.86;
        letter-spacing: normal;
        color: #2d2926;
        text-transform: initial;
        margin-bottom: 0;
    }
    
    #secondary.refinements .breadcrumb-refinement-mobile ul {
        border: none;
    }

    .selected-filters {
        clear: both;
        text-align: left;
        top: -8px;
        position: relative;
        padding-left: 7px;
        
       @include respond(large-down) {
            left: 6px;
            max-width: 100%;
            top: 6px;
        }
        @include respond(large-up) {
            width: calc(100% - 245px);
        }
    }

    .selected-filters__title {
        font-family: Rubik;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.86;
        letter-spacing: normal;
        color: $dark-gray-1;
        display: inline;
        @include respond(large-down) {
            display: block;
            margin-bottom: 10px
        }
    }

    .selected-filter__inner {
        display: flex;
        flex-flow: column wrap;
    }

    .selected-filter {
        background-color: $white;
        background-image: url('../images/pill-cancel-icon.svg');
        background-position: calc(100% - 14px) calc(100% - 9px);
        background-repeat: no-repeat;
        background-size: 9px auto;
        border: solid 1px $mercury;
        border-radius: 17.5px;
        color: $dark-gray-1;
        display: inline-block !important;
        font-size: 14px;
        height: 24px;
        line-height: 21px;
        margin-right: 4px;
        margin-bottom: 2px;
        padding: 5px 36px 0px 13px;
        position: relative;
        text-decoration: none;
    }

    #secondary nav a.selected-filters__clear-all,
    #secondary a.selected-filters__clear-all,
    a.selected-filters__clear-all {
        color: $punch !important;
        display: inline;
        font-weight: 500;
        text-decoration: underline;
        white-space: nowrap;
    }
    .refinement-big-container .selected-filters-mvc {
        @include respond(large-up) {
            display: none;
        }
    }
}