/* Slider */

.slick-carousel {
	ul {
	li {
		display: none;  // hiding slides before initialize carousel
	}
	}
}

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;

	* {
		box-sizing: border-box;
	}
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;

	&:focus {
		outline: none;
	}

	&.dragging {
		cursor: pointer;
		cursor: hand;
	}
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;

	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}

	.slick-loading & {
		visibility: hidden;
	}
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	[dir="rtl"] & {
		float: right;
	}
	img {
		display: block;
	}
	&.slick-loading img {
		display: none;
	}

	display: none;

	&.dragging img {
		pointer-events: none;
	}

	&:focus {
		// remove browser outline on focus (Chrome and FF)
		outline: none;
	}

	.slick-initialized & {
		display: block;
	}

	.slick-loading & {
		visibility: hidden;
	}

	.slick-vertical & {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
}

.slick-arrow.slick-hidden {
	display: none;
}

.slick-arrow {
	background: $concrete;
	width: 30px;
	height: 30px;
	border: $border;
	padding: 0;
	overflow: hidden;
	text-indent: -9999px;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	border-radius: 20px;
	z-index: 1;

	@include respond(large-up) {
		width: 40px;
		height: 40px;
		margin-top: -20px;
	}
	&.slick-prev {
		left: 9px;
		@include respond(large-up) {
			left: 10px;
		}
	}
	&.slick-next {
		right: 10px;

		&:after {
			transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			left: 12px;
			@include respond(large-up) {
				left: 15px;
			}
		}

	}
	&.slick-disabled {
		opacity: 0.5;
	}
	&:hover {
		background: $concrete;
	}
	&:after {
		content: '';
		display: block;
		width: 9px;
		height: 16px;
		position: relative;
		top: -34px;
		left: 9px;
		background: url(../images/interface/sprite.png) no-repeat -278px -227px;
		@include respond(large-up) {
			width: 11px;
			height: 20px;
			top: -30px;
			left: 12px;
			background: url(../images/interface/sprite.png) no-repeat -279px -225px;
		}
	}
}

// Recommendation (Einstein) slider specific buttons
.slick-slider.recs-slider {
	.slick-arrow {
		background: #323028 url('../images/Arrow_White.svg') no-repeat center center !important;
		border-radius: 35px !important;
		opacity: .45;
		outline: 0 !important;
		padding: 0 !important;
		text-indent: -9999em;
		top: 40%;
		z-index: 1;

		@include respond(small) {
			background-size: 36% auto !important;
			height: 32px;
			width: 32px;
		}

		&.slick-prev {
			transform: rotate(-180deg);
		}
		&.slick-next {
		}
		&:after {
			background: none;
		}
	}
}

.slick-slider {
	margin: 0;
	padding: 0;
	list-style: none;
	ul,
	li {
		margin: 0;
		padding: 0;
		list-style: none;
		line-height: initial;
	}
}

.slick-slider .slick-dots {
	font-size: 0;
	text-align: center;
	height: 12px;
	margin-top: 10px;
	@include respond(large-up) {
		position: absolute;
		width: 100%;
		bottom: 10px;
		margin-top: 0;
	}
	li {
		display: inline-block;
		height: 12px;
		width: 12px;
		margin: 0 3px;
		background: $white;
		border: 1px solid $color-primary;
		border-radius: 6px;
		box-sizing: border-box;
	}
	button {
		height: 6px;
		width: 6px;
		border: none;
		background: $white;
		padding: 0;
		margin: 0;
		overflow: hidden;
		text-indent: -9999px;
		box-sizing: border-box;
		margin-top: 2px;
		border-radius: 3px;
	}
	.slick-active {
		button {
			background: $color-primary;
		}
	}
}
.slick-initialized {
	display: block !important;
}

/*
*	Product Recs
*/
// NOTE: any changes to this carousel, also affect pt_cart_body carousel too. See Cart only carousel below.
.product-listing-1x4 {
	margin: 36px 0;
	@include respond(large-down) {
		margin: 0;
	}
	border-top: 1px solid #AAAAAA;
	h2 {
		text-align: center;
		font-family: $r-bold;
		text-transform: uppercase;
		margin: 25px 0 !important;
		visibility: hidden;
	}
	.recs-slider {
		script.slick-slide {
			display: none !important;
		}
		button.slick-disabled {
			display: none !important;
		}
		.slick-arrow {
			margin-top: -35px;
		}
		.grid-tile {
			margin: 0 !important;
			text-align: center;
			.product-tile {
				position: relative;
				text-align: center;
				.thumb-link {
					img {
						width: 263px;
						height: auto;
					}
				}
				.brand-name {
					width: 100%;
					padding: 0 15px;
					text-align: center;
					@include respond(large-down) {
						padding: 0;
					}
				}
				.comfort-level {
					display: none;
				}
				.product-name {
					text-align: center;
					top: 0;
					transform: none;
				}
				.product-promo {
					text-align: center;
				}
			}
			.product-price {
				width: 100%;
				line-height: 15px;

				span {
					display: block;
					float: none;
					color: $charcoal;
					font-family: $r-regular;
					font-size: 14px;
					margin-top: 5px;
				}

				.product-sales-price,
				.single-discount-price-mf {
					color: $red;
				}

				.price-sales,
				.product-sales-price,
				.product-standard-price:not(.has-sale-price) {
					font-family: $r-bold;
				}


				.has-sale-price,
				.single-standard-price-mf {
					text-decoration: line-through;
				}

			}
		}
	}
}

// Cart only carousel
.pt_cart_body .product-listing-1x4 {
	border-top: 0;

	h2 {
		visibility: visible;
	}

	.search-result-items.slick-slider .product-tile-one {
		min-height: 124px;
	}

	.slick-slide .product-tile .product-name {
		margin: 5px 0;
		padding: 0;
	}

	@media screen and (min-width:768px) {
		margin: 0 0 36px;
		width: 66%;

		.slick-slider .slick-track, .slick-slider .slick-list {
			margin: 0 auto;
			overflow: hidden;
		}
	}

	@media screen and (min-width:768px) and (max-width: 1199px){
		.slick-slider .slick-track, .slick-slider .slick-list {
			height: 332px;
			width: 80%;
		}
	}

	@media screen and (min-width:1200px){
		.slick-slider .slick-track, .slick-slider .slick-list {
			width: 82%;
		}
	}
}

.pdpMain {
	.product-listing-1x4 {
		.recs-slider {
			.grid-tile {
				.product-price {
					span {
						margin-top: -10px;
					}
				}
			}
		}
	}
}

.slick-slide {
	.product-tile {
		border: none;
		.product-image {
			padding: 0;
		}
		.product-name {
			top: 0;
			transform: none;
			padding: 10px 10px 0 10px;
		}
		.product-promo {
			height: auto;
		}
		.brand-name {
			img {
				width: auto;
		    	margin: 10px 0 0 0;
		    	height: 38px;
		    	display: block;
			}
			div.brand-name-text {
				@include font-semibold();
				font-size: 1.5em;
				line-height: 1;
				color: $charcoal;
				text-align: left;
				margin: 15px 0 0 0;
				padding: 0 0 0 0;
				height: 25px;
			}
		}
		.product-tile-one {
			padding-top: 5px;
		}
	}
}

// Content page carousels
.pt_content .product-listing-1x4.recs-container, .pt_new_confirmationpage .product-listing-1x4.recs-container{
	border: none;
	box-sizing: border-box;
	.slick-slider {
		.slick-arrow {
			background: #323028 url('../images/Arrow_White.svg') no-repeat center center !important;
			border-radius: 35px !important;
			opacity: .45;
			height: 30px;
    		width: 30px;
    		margin-right: 0px;
    		margin-left: 0px;
    		&.slick-prev {
    			left: 0px;
    		}
    		&.slick-next {
    			right: 0px;
    		}
		}
		.slick-dots {
		    margin: 10px 0;
        	li {
          		border: none;
          		background-color: #626366;
          		width: 10px;
          		height: 10px;
          		border-radius: 100%;
          		button {
            		background: none;
            		width: 10px;
            		height: 10px;
            		margin-top: 0;
          		}
          		&.slick-active {
            		button {
              			background-color: #d63426;
              			border-radius: 100%;
            		}
            	}
          	}
        }
 	}
	.slick-slide {
		padding: 0;
		.product-tile {
			border-bottom: none;
			text-align: left;
			.thumb-link img {
				margin: 0;
				padding: 0 15px;
				max-width: 100%;
			}
		}
		.product-tile-one {
			padding: 5px 15px 3px;
			.product-name {
				padding: 0;
				margin: 0 auto;
				text-align: left;
				.name-link {
				    display: -webkit-box;				
					height: 50px;
					.name-link-text {
						height: 100%;
					    display: -ms-flexbox;
					    display: flex;
					    -ms-flex-wrap: wrap;
					    flex-wrap: wrap;
					    -ms-flex-align: center;
					    align-items: center;
					    font-size: 18px;
					    line-height: 1.25;
					    font-family: $r-regular;
					    font-weight: 400;
						color: $charcoal;
			    		@include respond(small) {
			    			font-size: 21px;
			    		}
					}
				}
			}
		}
		.product-price {
			text-align: left;
    		padding: 0 15px;
    		height: auto;	
    		span {
      			font-size: 16px;
    			font-family: $r-regular;
    			font-weight: 400;  		
    		}	
		}		
		.clp-product-reviews {
		    margin-top: 10px;
			text-align: left;
    		padding: 0 15px;
    		position: inherit;
    		.bv_text {
 				font-family: $r-regular;   		
    		}
    		.bv_averageRating_component_container .bv_text {
    			color: #2d2926 !important;
    			font-weight: 700 !important;
    			line-height: 1.2 !important; 
    			&:after {
    				content: "/5";
    			}   		
    		}	
		}
	}
	@include respond(small) {
		.slick-slide .product-tile .thumb-link img,
		.slick-slide .product-tile-one,
		.slick-slide .product-price,
		.slick-slide .clp-product-reviews
		{
			padding-left: 0 !important;
		}
		.search-result-items .slick-arrow {
			display: none !important;
		}
	}
}

.product-listing-1x4-content-page-wrapper .product-listing, .pt_categorylanding .cat-landing-beds-and-frames .product-listing, .new-cart-mob .cat-landing-beds-and-frames .product-listing {
	border: none;
	margin: 0;
    padding: 0;
	h2 {
		text-align: center;
		visibility: visible;
	}
	.btn {
		margin: 20px auto 0;
    	display: block;		
	}
	.slick-slider {
		max-width: 1170px;
		margin: 0 auto;
		.slick-arrow {
		 	@include respond(small) {
				display: none !important;
			}
			&.slick-prev {
				left: -15px;
			}
		}
		.slick-dots {
		    margin: 10px 0;
        	li {
          		border: none;
          		background-color: #626366;
          		width: 10px;
          		height: 10px;
          		border-radius: 100%;
          		button {
            		background: none;
            		width: 10px;
            		height: 10px;
            		margin-top: 0;
          		}
          		&.slick-active {
            		button {
              			background-color: #d63426;
              			border-radius: 100%;
            		}
            	}
          	}
        }
		.slick-slide .product-tile {
			border: none;
			.thumb-link {
				display: block;
				padding: 0 5px 0 0;
				img {
					padding: 0;
					margin: 0 5px 0 0;
				}
			}
			.brand-name {
				padding: 0;
				img {
					height: 50px;
				}
				div.brand-name-text {
					margin: 15px 0 0 30px;
				}
			}
			.product-tile-one {
				padding: 0 10px 0 0;
				height: 52px;
				.product-name {
					text-align: left;
	    			margin: 0;
	    			padding: 0;
	  				.name-link {
    					text-decoration: none;
    					line-height: 1.25;
	  				    overflow: hidden;
    					text-overflow: ellipsis;
						height: 50px;
						.name-link-text {
							height: 100%;
						    display: -ms-flexbox;
						    display: flex;
						    -ms-flex-wrap: wrap;
						    flex-wrap: wrap;
						    -ms-flex-align: center;
						    align-items: center;
							font-size: 21px;
							font-weight: 600;
						    font-family: $r-regular;
				    		@include respond(small) {
				    			font-size: 21px;
				    		}
						}
					}
				}
			}
			.product-price {
				text-align: left;
	    		margin: 0;
	    		padding: 0;
	    		span {
				    font-size: 16px;
				    font-family: $r-regular;
				    font-weight: 400;    		
	    		}
	    		span.product-sales-price {
				    font-weight: 600;    		
	    		}
			}
			.clp-product-reviews {
				text-align: left;
	    		margin: 10px 0 0;
	    		padding: 0;
	    		.bv_text {
	 				font-family: $r-regular;   		
	    		}
	    		.bv_averageRating_component_container .bv_text {
	    			color: #2d2926 !important;
	    			font-weight: 700 !important;
	    			line-height: 1.2 !important; 
	    			&:after {
	    				content: "/5";
	    			}   		
	    		}				
			}
		}
	}
}

// Web Make A payment Carousel 

.wmap-container{
	.product-listing-1x4 {
		border-top: 0;
		.recs-slider {
			.grid-tile {
				padding: 0 12.5px;
				.product-price {
					.product-sales-price {
						font-size: 16px;
				    font-family: "Rubik", "Arial", sans-serif;
				    font-weight: 400;
					}
					.has-sale-price {
						font-size: 16px;
					}
				}
				.product-tile {
					text-align: left;
					.product-tile-one {
						padding-bottom: 0px !important;
					}
					.clp-product-reviews {
				    margin-top: 10px;
					}
					[data-bv-show=inline_rating] .bv_main_container .bv_averageRating_component_container .bv_text {
				    font-size: 15px !important;
				    font-weight: 700 !important;
				    line-height: 1.2 !important;
				    color: #2d2926 !important;
					}
					[data-bv-show=inline_rating] .bv_main_container .bv_numReviews_component_container .bv_text {
				    color: #626366 !important;
				    font-size: 15px !important;
				    font-family: "Rubik", "Arial", sans-serif;
				    font-weight: 400 !important;
					}
					.brand-name {
						padding: 0 15px 0 0;
					}
				}
			}
		}
		h2 {
			visibility: visible;
			text-align: center;
	    font-size: 37px;
	    font-weight: 800;
	    line-height: 33px;
	    margin-bottom: 50px !important;
	    @include respond(large-down) {
	    	font-size: 33px;
    		line-height: 1.12;
	    }
		}
		.slick-slide {
			.product-tile {
				border-bottom: none;
			}
			.product-name {
				margin: 5px 0;
				padding: 0;
				text-align: left;
				a {
				    text-align: left;
				    display: block;
				    font-size: 18px;
				    font-weight: 400;
				    font-family: "Rubik", "Arial", sans-serif;
				    line-height: 1.25;
				    height: 67px;
				    display: -webkit-box;
				    max-width: 100%;
				    margin: 0 auto;
				    line-height: 1.25;
				    -webkit-line-clamp: 3;
				    -webkit-box-orient: vertical;
				    overflow: hidden;
				    text-overflow: ellipsis;
				    text-decoration: none;
				    color: #323030;
				}
			}
		}
	}
}