$type: (
  ("h1", 50px, 50px, 44px, 44px, $r-extrabold, $red),
  ("h2", 37px, 37px, 33px, 33px, $r-bold, $charcoal),
  ("h3", 28px, 28px, 24px, 24px, $r-bold, $charcoal),
  ("h4", 21px, 21px, 18px, 18px, $r-bold, $charcoal),
  ("h5", 21px, 21px, 18px, 18px, $r-bold, $charcoal),
  ("h6", 21px, 21px, 18px, 18px, $r-bold, $charcoal),
  ("p", 16px, 19px, 16px, 19px, $r-regular, $charcoal),
  ("p1", 18px, 21px, 18px, 21px, $r-regular, $charcoal),
  ("p2", 15px, 17px, 15px, 17px, $r-regular, $charcoal),
  ("p3", 12px, 14px, 12px, 14px, $r-regular, $charcoal),
  ("p4", 10px, 12px, 10px, 12px, $r-regular, $charcoal),
);

h1, h2, h3, h4, h5, h6, p, li, a, span, sup {
  -webkit-font-smoothing: antialiased;
}

.extrabold { font-family: $r-extrabold !important; }
.bold { font-family: $r-bold !important; }
.semibold { font-family: $r-semibold !important; }
.medium { font-family: $r-medium !important; }
.regular { font-family: $r-regular !important; }
.light { font-family: $r-light !important; }

b, strong {
  font-family: $r-bold;
  font-weight: normal;
}

// Desktop Font Sizes
@each $elem in $type {
	#{nth($elem, 1)} {
    color: #{nth($elem, 7)};
    font-size: #{nth($elem, 2)};
    line-height: #{nth($elem, 3)};
    font-family: #{nth($elem, 6)};

    &.uppercase,
    &.single-line {
      line-height: 1em !important;
    }
  }
	.#{nth($elem, 1)} {
    color: #{nth($elem, 7)};
    font-size: #{nth($elem, 2)} !important;
    line-height: #{nth($elem, 3)} !important;
    font-family: #{nth($elem, 6)};

    &.uppercase,
    &.single-line {
    	line-height: 1em !important;
    }
  }
}

// Mobile Font Sizes
@include breakpoint(small down) {
  @each $elem in $type {
    #{nth($elem, 1)} {
      font-size: #{nth($elem, 4)};
      line-height: #{nth($elem, 5)};
    }

    .#{nth($elem, 1)} {
      font-size: #{nth($elem, 4)} !important;
    	line-height: #{nth($elem, 5)} !important;
    }
  }
}
