.row, .column {
	box-sizing: border-box;
}

.row-small {
	max-width: map-get($breakpoints, large) !important;
}

.border { border: 1px solid transparent; }
.border-top { border-top: 1px solid transparent; }
.border-right { border-right: 1px solid transparent; }
.border-bottom { border-bottom: 1px solid transparent; }
.border-left { border-left: 1px solid transparent; }
.no-border {
  border: 0;
}

.border-width-2 {
  border-width: 2px;
}

.border-between { 
	border-top: 1px solid transparent; 
	border-bottom: 1px solid transparent; 
}

@each $color in $brand-colors {
	.bg-#{nth($color, 1)} {
	  background-color: #{nth($color, 2)} !important;
  }
  
	.#{nth($color, 1)} {
	  color: #{nth($color, 2)} !important;
	}

	.border-#{nth($color, 1)} {
		border-color: #{nth($color, 2)};
	}
}

@each $color in $sleepys-colors {
	.bg-#{nth($color, 1)} {
		background-color: #{nth($color, 2)} !important;
	}
	.#{nth($color, 1)} {
		color: #{nth($color, 2)} !important;
	}
	.border-#{nth($color, 1)} {
		border-color: #{nth($color, 2)};
	}
}

@each $color in $comfort-colors {
  .bg-#{nth($color, 1)} {
		background-color: #{nth($color, 2)} !important;
	}
	.#{nth($color, 1)} {
		color: #{nth($color, 2)} !important;
	}
	.border-#{nth($color, 1)} {
		border-color: #{nth($color, 2)};
	}
}

.bg-purple-gradient {
	background: linear-gradient(45deg, #8E2391 0%, #6D1D7F 45%, #671C7C 55%, #5D1A77 70%, #45166A 100%);
}

.purple-purple {
	color: $purple-purple;
}

.hover-purple {
	color: $dark-gray !important;
}

.hover-purple:hover {
	transition: color ease .25s;
	&:hover,
	&:focus {
		color: $purple-purple !important;
	}
}

.bg-dark { background-color: $charcoal !important; }
.bg-red { background-color: $red !important; }
.color-dark { @extend .charcoal; }

// font family helper classes
.extrabold { font-family: $r-extrabold !important; }
.bold { font-family: $r-bold !important; }
.semibold { font-family: $r-semibold !important; }
.medium { font-family: $r-medium !important; }
.regular { font-family: $r-regular !important; }


// helper classes
.padding-between {
	padding-top: 50px;
	padding-bottom: 50px;
}

.no-margin {
  margin: 0 !important;
}

.margin-sides-half { margin: 0 $spacing-2; }

.margin-between-half { margin: $spacing-2 auto !important; }
.margin-between { margin: $spacing-4 auto !important; }
.margin-between-2x { margin: $spacing-6 auto !important; }

.margin-top-half { margin-top: $spacing-2 !important; }
.margin-top { margin-top: $spacing-4 !important; }
.margin-top-2x { margin-top: $spacing-6 !important; }

.margin-bottom-half { margin-bottom: $spacing-2 !important; }
.margin-bottom { margin-bottom: $spacing-4 !important; }
.margin-bottom-2x { margin-bottom: $spacing-6 !important; }

.margin-between-mobile {
  @include breakpoint(medium down) {
    margin: $spacing-4 auto;
  }
}

.margin-bottom-tablet {
	@include breakpoint(medium down) {
		margin-bottom: $spacing-5;
	}
}

.margin-bottom-mobile {
	@include breakpoint(small down) {
		margin-bottom: $spacing-5;
	}
}

.margin-top-mobile-half {
	@include breakpoint(small down) {
		margin-top: 10px;
	}
}

.margin-bottom-mobile-half {
	@include breakpoint(small down) {
		margin-bottom: 10px;
	}
}

.margin-between-content {
  margin: $spacing-3 0;

  @include breakpoint(small down) {
    margin: $spacing-2 0;
  }
}

@each $spacing in $spacings {
	.margin-top-#{nth($spacing, 1)} {
		margin-top: #{nth($spacing, 2)} !important;
	}

	.margin-between-#{nth($spacing, 1)} {
		margin: #{nth($spacing, 2)} 0 !important;
	}

	.margin-bottom-#{nth($spacing, 1)} {
		margin-bottom: #{nth($spacing, 2)} !important;
	}

	.padding-#{nth($spacing, 1)} {
		padding: #{nth($spacing, 2)} !important;
	}

	.padding-top-#{nth($spacing, 1)} {
		padding-top: #{nth($spacing, 2)} !important;
	}

	.padding-right-#{nth($spacing, 1)} {
		padding-right: #{nth($spacing, 2)} !important;
	}

	.padding-bottom-#{nth($spacing, 1)} {
		padding-bottom: #{nth($spacing, 2)} !important;
	}

	.padding-left-#{nth($spacing, 1)} {
		padding-left: #{nth($spacing, 2)} !important;
	}
 }

.rounded {
	border-radius: 5px;
}

.rounded-2x {
	border-radius: 10px;
}

.text-center { text-align: center !important; }
.mobile-text-center { 
	@include breakpoint(small down) {
		text-align: center !important;
	}
}
.line-through { text-decoration: line-through !important; }
.uppercase { text-transform: uppercase !important; }
.capitalize {text-transform: capitalize !important;}
.hide-mobile {
	@include breakpoint(small down) {
		display: none !important;
	}
}

.hide-desktop {
  @include breakpoint(medium up) {
  	display: none !important;
  }
}

.hide, .do-not-show {
	display: none;
}

.mobile-show {
	display: block;
	padding: 0;
	margin: 0;
	@include respond(large-up) {
		display: none !important;
	}
}
.mobile-hide {
	display: none;
	padding: 0;
	margin: 0;
	@include respond(large-up) {
		display: block !important;
	}
}

a.link-block {
	display: block;
}

.flex {
	display: flex;
	box-sizing: border-box;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	box-sizing: border-box;
}

.flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	box-sizing: border-box;
}

ul.flex-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	padding: 0;
	list-style: none;

	@include breakpoint(medium down) {
		justify-content: space-around;	
	}

	a.btn {
		min-width: 175px;
	}

	li {
		margin-bottom: 0;
		list-style: none;

		@include breakpoint(medium down) {
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		@include breakpoint(small down) {
			width: 100%;

			a.btn {
				min-width: none;
				max-width: none;
			}
		}
	}
}
