//-------------------------------------------
//  VARIABLES
//
//  ex: $variable is reusable throughout SASS
//-------------------------------------------

// viewports

$small-breakpoint: 320px;
$medium-breakpoint: 480px;
$large-breakpoint: 768px;
$tablet-breakpoint: 1024px;
$desktop-breakpoint: 1200px;


// color hex values
// names taken from http://www.color-blindness.com/color-name-hue/

// $crimson: #E5173E;
$cinnabar: #d63426;
$crimson: $cinnabar;
$night-rider: #333333;
$dark-gray: #AAAAAA;
$concrete: #f2f2f2;
$mirage: #394848;
$summer-sky: #40BDDA;
$fruit-salad: #4C994C;
$white: #ffffff;
$egyptian-blue: #13428A;
$navy-blue: #006FBA;
$sweet-corn: #f9e375;
$silver: #BABABA;
$rolling-stone: #6D7C7C;
$edward: #afb8b8;
$gray-dove: #6b6b6b;
$algae: #56b070;


// Sleepy's colors
// $thunderbird: #cb171e;
$thunderbird: $cinnabar;
$black: #000000;
$jewel: #10842a;
$alto: #d9d9d9;
$concrete: #f2f2f2;
$white: #ffffff;
$astronaut-blue: #00405a;
$golden-dream: #f0d436;
$falu-red: #991115;
$jewel-dark: #0a5219;
$alabaster: #fafafa;
$coral-candy: #f5cece;
$wisp-pink: #fae7e7;
$dove-gray: #6E6E6E;
$alabaster: #fafafa;
// END Sleepy's colors



$color-primary: $night-rider;
$color-secondary: $cinnabar;

$gainsboro: #E3E3E3;	// Style Guide: input and form element borders (not represented as a swatch in the Style Guide)
$kelly-green: #64A70B;	// Style Guide: heading2, heading3, button bg, price, success msg
$light-gray: #EBEBEB;	// Style Guide: borders, dividers
$limeade: #4C891F;		// Style Guide: button hover bg
$nero: #1A1A1A;			// Style Guide: heading1, body p, entered form text
$venetian-red: #A70B0B;	// Style Guide: error msg text, error border color
$white-smoke: #F3F3F3;	// Style Guide: light background color
$trans: transparent;

//default colors TODO see which ones to remove:

// colors
// names taken from http://www.color-blindness.com/color-name-hue/
$cerulean: #00629b;
$charcoal: #424242;
$citrus: #84bd00;
$dim-gray: #666;
$islamic-green: #019328;
$night-rider: #333;
$nobel: #999;
$rain-forest: #64772d;
$sangria: #990000;
$stark-white: #cebdb3;
$teal: #008578;
$tutu: #faeded;
$very-light-gray: #ccc;
$primary-border-color: $alto;
$broom: #f1d617;
$dark-coral: #cd454a;
$dim-black: #484a4a;


$body-bg-color: $white;
$swatch-types: black #000000, beige #f5f5dc, blue blue, purple purple, red red, brown #783201, green green, grey #8f979d, pink #fe249a, orange orange, white #ffffff, yellow #ffff00, navy navy;

// flag-icon-css
$flag-icon-css-path: '../lib/flag-icon-css/flags';

$border: 1px solid $dark-gray;
$border-checkout: 1px solid $alto;

// global sizes
$g-size-1: 1px;
$g-size-2: 2px;
$g-size-3: 3px;
$g-size-4: 4px;
$g-size-5: 5px;
$g-size-6: 6px;
$g-size-7: 7px;
$g-size-8: 8px;
$g-size-9: 9px;
$g-size-10: 10px;
$g-size-11: 11px;
$g-size-12: 12px;
$g-size-13: 13px;
$g-size-14: 14px;
$g-size-15: 15px;
$g-size-16: 16px;
$g-size-17: 17px;
$g-size-18: 18px;
$g-size-19: 19px;
$g-size-20: 20px;
$g-size-21: 21px;
$g-size-22: 22px;
$g-size-23: 23px;
$g-size-24: 24px;
$g-size-25: 25px;
$g-size-26: 26px;
$g-size-27: 27px;
$g-size-28: 28px;
$g-size-29: 29px;
$g-size-30: 30px;
$g-size-31: 31px;
$g-size-32: 32px;
$g-size-33: 33px;
$g-size-34: 34px;
$g-size-35: 35px;
$g-size-36: 36px;
$g-size-37: 37px;
$g-size-38: 38px;
$g-size-39: 39px;
$g-size-40: 40px;
$g-size-42: 42px;
$g-size-45: 45px;
$g-size-50: 50px;
$g-size-60: 60px;
$g-size-66: 66px;
$g-size-74: 74px;
$g-size-105: 105px;
$g-size-225: 225px;

// global spacing
$spacing-1: 5px;
$spacing-2: 10px;
$spacing-3: 15px;
$spacing-4: 20px;
$spacing-5: 30px;
$spacing-6: 40px;
$spacing-7: 50px;

$spacings: (
  1: $spacing-1,
  2: $spacing-2,
  3: $spacing-3,
  4: $spacing-4,
  5: $spacing-5,
  6: $spacing-6,
  7: $spacing-7
);

// zIndexes
$overlayZindex: 100000;
$dialogZindex:  100001;

// MATTRESS FIRM's COLORS
$white: #FFFFFF;
$light-gray: #F1F1F2;
$gray: #C6C8CA;
$dark-gray: #979797;
$cream: #FFF8DF;
$yellow: #F6D651;
$green: #67BC00;
$red: #D63426;
$charcoal: #323030;
$black: #323030;
$red: #d63426;
$pale-grey: #dde3e8;
$steel: #626366;
$input-black: #323030;

$purple-purple: #773D94;

$sleepys-purple: #9289B7;
$sleepys-dark-blue: #312B7F;
$sleepys-light-blue: #88D3E8;

$orange: #E77721;
$plum: #A33340;
$blue: #2D5599;
$dark-blue: #0D233F;

$comfort-ultra-plush: #002856;
$comfort-plush: #04356f;
$comfort-medium: #006745;
$comfort-firm: #fdd835;
$comfort-extra-firm: #f5c400;

$gray-1: #5d6767;
$gray-2: #626366;
$gray-3: #aaaaaa;
$light-gray-1: #eeeeee;
$light-gray-2: #ececec;
$dark-gray-1: #2d2926;

$brand-colors: (
  white: $white,
  light-gray: $light-gray,
  gray: $gray,
  dark-gray: $dark-gray,
  cream: $cream,
  yellow: $yellow,
  red: $red,
  charcoal: $charcoal,
  black: $black
);

$comfort-colors: (
  comfort-ultra-plush: $comfort-ultra-plush,
  comfort-plush: $comfort-plush,
  comfort-medium: $comfort-medium,
  comfort-firm: $comfort-firm,
  comfort-extra-firm: $comfort-extra-firm
);

$sleepys-colors: (
  sleepys-purple: $sleepys-purple,
  sleepys-dark-blue: $sleepys-dark-blue,
  sleepys-light-blue: $sleepys-light-blue
);

$brand-secondary-colors: (
  yellow: $yellow,
  orange: $orange,
  plum: $plum,
  blue: $blue
);

$punch: $red;
$mine-shaft: $charcoal;
$athens-gray: $light-gray;
$silver-sand: #C6C8CA;

$t-dove-gray:#646464;
$burgundy:#8a1b49;
$t-car-pink: #ffa5d7;
$bg-burgundy-hover: #a0255d;
$t-border-grey: #dedede;
$t-border-gray2: #9b9b9b;
$t-light-grey: #f1f1f1;
$t-amaranth:#e51970;
$t-disco: #8C1849;
$t-alabaster: #fafafa;
$dune : #332e2a;
$t-alto : #e0e0e0;
$alabaster: #fcfcfc;
$punch: #d63426;
$bombay: #B3B5B7;
$guyabano: #f8f8f8;
$mercury: #E1E1E1;