@import "pages/pages";
.exacttarget-container,
.exacttarget-form-container {
  padding: 0px !important;
  .checked {
    border-radius: 5px;
    @include respond(large-up) {
      background-position: -32px -121px !important;
    }
  }
  &.mf-personal-results-email {
    border: none;
    text-align: center;
    font-family: $r-regular;
    padding-left: 0px !important;
    padding-right: 0px !important;
    @include respond(large-down) {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
    &.thank-you-mf-section {
      .exacttarget-form-container__inner {
        width: 345px;
        padding: 55px 0 205px 0 !important;
      }
      .thank-you-text {
        font-family: $r-regular;
        font-size: 18px;
        font-weight: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #332e2a;
      }
    }
    .desclaimer-text-top {
      font-family: $r-regular;
      font-size: 12px;
      font-weight: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #2d2926;
      text-align: left;
      span {
        font-weight: 500;
      }
      @include respond(large-down) {
        line-height: 1.33;
        padding: 0px 15px;
      }
    }
    .exacttarget-form-container__title-h3 {
      font-family: $r-regular;
      font-size: 16px;
      font-weight: 700;
      line-height: 0.88;
      letter-spacing: normal;
      text-align: center;
      color: #d63426;
      margin-bottom: 23px;
      margin-top: 0px;
      @include respond(large-down) {
        display: none;
      }
    }
    .exacttarget-form-container__title-h4 {
      max-width: 511px;
      font-family: $r-regular;
      font-size: 32px;
      font-weight: 700;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      color: #2d2926;
      margin-top: 0;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 15px;
      @include respond(large-down) {
        font-size: 21px;
        max-width: 100%;
        margin-bottom: 8px;
      }
    }
    .exacttarget-form-container__strong {
      color: #d63426;
      font-family: $r-regular;
      font-size: 32px;
      font-weight: 700;
      @include respond(large-down) {
        font-size: 21px;
      }
    }
    #discount-disclaimer {
      text-align: center;
      font-family: $r-regular;
      font-size: 12px;
      font-weight: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #332e2a;
      max-width: 260px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      @include respond(large-down) {
        margin-bottom: 17px;
      }
    }
    .exacttarget-email {
      font-size: 16px;
      font-family: $r-regular;
      font-weight: 400;
      width: 210px;
      height: 45px;
      border-radius: 25px 0 0 25px;
      border: solid 1px #979797;
      background-color: #ffffff;
      line-height: 0.88;
      letter-spacing: normal;
      color: #2d2926;
      float: left;
      border-right: none;
      margin: 0;
      padding-left: 16px;
      &:focus {
        color: #2d2926;
        border: solid 1px #2d2926;
        border-right: none;
      }
      @include respond(large-down) {
        width: 64%;
      }
    }
    .mf-email-btn {
      max-width: 351px;
      margin: 0 auto;
      @include respond(large-down) {
        max-width: 100%;
      }
    }
    .mf-results-container-signup {
      margin-top: 19px;
      .checked {
        border-radius: 5px;
      }
    }
    .exacttarget-form-container__signup-text {
      margin: 0 auto;
      width: 90%;
      float: left;
      font-family: $r-regular;
      font-size: 12px;
      font-weight: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #2d2926;
      text-align: left;
    }
    .mf-results-container-signup .checker {
      margin: 0.15em 10px 1em 0%;
      float: left;
      width: 15px;
      height: 15px;
      border-radius: 2px;
      border: solid 1px #d63426;
      background-color: #d63426;
    }
    .exacttarget-email::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #9b9b9b;
    }
    .exacttarget-email::-moz-placeholder {
      /* Firefox 19+ */
      color: #9b9b9b;
    }
    .exacttarget-email:-ms-input-placeholder {
      /* IE 10+ */
      color: #9b9b9b;
    }
    .exacttarget-email:-moz-placeholder {
      /* Firefox 18- */
      color: #9b9b9b;
    }
    .exacttarget-form-container__inner {
      width: 450px;
      margin: 0 auto;
      padding: 125px 0 !important;
      @include respond(large-down) {
        padding: 60px 0 !important;
        width: 100%;
      }
    }
    .exacttarget-email-button {
      &.exacttarget-form-container__submit-btn {
        width: 135px;
        font-family: $r-regular;
        height: 45px;
        border-radius: 0 100px 100px 0;
        background-color: #d63426;
        line-height: 0.88;
        letter-spacing: normal;
        text-align: center;
        font-weight: 700;
        color: #ffffff;
        padding: 6px 12px;
        text-transform: capitalize;
        margin: 0;
        @include respond(large-down) {
          width: 36%;
          background: #d63426;
          text-indent: 0;
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .thank-you-mf-section {
    display: none;
  }
}
#wrapper.pt_finder-new-result #main.finder-main {
  background-color: white !important;
}
#wrapper.pt_finder-new-result #main #finder {
  max-width: initial;
}
#wrapper.pt_finder-new-result #main.finder-main {
  background-color: white !important;
}
#finder {
  .finder-results-v3 {
    .product-tiles-wrap {
      padding: 0 23px 30px 0;
      margin-bottom: 25px;
      margin-top: 40px;
      border-radius: 2px;
      border: solid 1px $t-alto;
      @include respond(large-down) {
        border: none;
        margin-top: 32px;
        padding: 0px;
      }
    }
    .finder-results-wrap {
      display: flex;
      position: relative;
      .finder-search-results {
        max-width: 930px;
        margin: 0 auto;
        box-sizing: border-box;
        @include respond(large-down) {
          margin-top: 150px;
          padding: 0px;
          width: 100%;
        }
        .bestmatch {
          @include respond(large-down) {
            padding: 210px 8px 0px 8px;
          }
        }
        .finder-results__title-h4 {
          font-size: 50px;
          color: #2d2926;
          font-family: $r-regular;
          font-weight: 600;
          line-height: 1;
          text-align: left;
          margin-bottom: 30px;
          text-transform: initial;
          letter-spacing: normal;
          @include respond(large-down) {
            max-width: 280px;
            font-size: 28px;
            font-weight: bold;
            margin-left: 0px;
            margin-bottom: 0;
          }
        }
        .results-wrapper .related-recommendation {
          .retake-button {
            border: none;
            p {
              font-family: $r-regular;
              font-size: 24px;
              font-weight: bold;
              margin: 0 auto;
              width: 335px;
              @include respond(large-down) {
                padding: 32px 0 0;
              }
            }
            a button {
              width: 315px;
              height: 45px;
              border-radius: 25px;
              background-color: #d63426 !important;
              color: white;
              margin-top: 15px;
              font-family: $r-regular;
              font-size: 16px;
              font-weight: bold;
              border: #d63426;
              text-transform: capitalize;
            }
          }
        }
        .results-wrapper .related-recommendation {
          .featured-product-v3 {
            .product-tiles {
              display: flex;
              margin-bottom: 20px;
              @include respond(large-down) {
                display: block;
                margin-left: 0px;
                width: 100%;
              }
              /*--------image part----------*/
              .product-image {
                margin-right: 47px;
                img {
                  width: 475px;
                  @include respond(large-down) {
                    width: 100% !important;
                    /* height: 230px; */
                  }
                }
              }
              /*---------right content part---------*/
              .product-right-content {
                width: 315px;
                margin-top: 42px;
                @include respond(large-down) {
                  width: auto;
                  margin: 0 30px;
                  margin-top: 15px;
                }
                .product-name-review {
                  display: flex;
                  justify-content: space-between;
                  align-item: center;
                  .brand-and-rating {
                    max-width: 50%;
                    min-width: 80px;
                    width: -webkit-fill-available;
                    @media (max-width: 360px) {
                      max-width: 45%;
                    }
                    img {
                      width: 100%;
                    }
                  }
                  #pdp-reviews {
                    padding-top: 10px;
                    @media (max-width: 360px) {
                      padding-top: 3px;
                    }
                    * {
                      pointer-events: none !important;
                    }
                    .bv_main_container_row_flex {
                      padding: 0px !important;
                    }
                    .bv_main_container_row_flex .bv_numReviews_component_container {
                      display: none !important;
                    }
                    .bv_main_container_row_flex .bv_button_component_container {
                      display: none !important;
                    }
                  }
                }
                .pdp-promotions {
                  .promotion {
                    font-family: $r-regular;
                    font-size: 12px;
                    padding-top: 10px;
                    color: $punch;
                    .promotion-callout,
                    .promotion-callout .bold {
                      font-weight: 500 !important;
                      padding-bottom: 5px;
                      font-family: $r-regular;
                      font-size: 12px;
                      line-height: normal;
                      letter-spacing: normal;
                      color: $punch;
                    }
                  }
                }
                .p_name {
                  padding: 10px 0 25px 0;
                  @include respond(large-down) {
                    padding-top: 5px;
                  }
                  .name-link {
                    font-size: 21px;
                    color: #2d2926;
                    font-family: $r-regular;
                    font-weight: normal;
                    line-height: 1.1;
                    letter-spacing: normal;
                    text-decoration: none;
                  }
                }
                .name_price {
                  @include respond(large-down) {
                    margin-bottom: 15px;
                  }
                  .product-price {
                    .product-standard-price.price-range {
                      font-family: $r-regular;
                      font-size: 18px;
                      font-weight: 500;
                      color: #2d2926;
                    }
                  }
                }
                .learn-more a button {
                  width: 315px !important;
                  height: 45px;
                  border-radius: 25px !important;
                  background-color: #d63426 !important;
                  max-width: inherit !important;
                  text-transform: capitalize !important;
                  font-family: $r-regular;
                  letter-spacing: normal !important;
                  font-size: 16px !important;
                  font-weight: 500 !important;
                }
                .learn-more {
                  margin-top: 17px;
                }
                .product-financing-custom {
                  margin-top: 28px;
                  text-align: center;
                  img {
                    display: none;
                  }
                  span {
                    font-family: $r-regular;
                    font-size: 12px;
                    font-weight: normal;
                    color: #626366;
                    a {
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
      // Allow for spacing on desktop when countdown is shown
      .finder-search-results.has-countdown {
        margin-top: 150px;
      }
    }
    @include respond(large-down) {
      .mattributr-feature-main.desktop {
        display: none;
      }
      .mattributr-feature-main.mob {
        display: flex;
        padding-left: 0px;
      }
    }
    @include respond(large-up) {
      .mattributr-feature-main.desktop {
        display: flex;
      }
      .mattributr-feature-main.mob {
        display: none;
      }
    }
    /********Email me my result part*********/

    .email-footer {
      position: fixed;
      z-index: 10000;
      text-align: center;
      height: 263px;
      font-size: 18px;
      color: #000;
      background-color: white;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      right: 0;
      left: 0;
      margin-right: auto;
      margin-left: auto;
      bottom: -223px;
      &.slide-up {
        bottom: 0px !important;
      }
      &.slide-down {
        bottom: -223px !important;
      }
      .email-result-copy {
        background-color: #d63426;
        height: 40px;
        border-radius: 30px 30px 0 0;
        font-family: $r-regular;
        font-size: 14px;
        font-weight: bold;
        color: #ffffff;
        line-height: 3;
        .fa.fa-angle-up,
        .fa.fa-angle-down {
          font-size: 24px;
          height: 18px;
          margin-left: 10px;
          position: relative;
          top: 3px;
        }
      }
      .email-offer {
        font-family: $r-regular;
        font-size: 21px;
        font-weight: bold;
        color: #332e2a;
        width: 345px;
        margin: 0 auto;
        line-height: normal;
        @media (max-width: 320px) {
          font-size: 20px;
          width: 100%;
        }
        .red {
          color: #df3a20;
        }
      }
      .email-disclaimer {
        font-family: $r-regular;
        font-size: 12px;
        font-weight: normal;
        color: #332e2a;
        width: 290px;
        margin: 5px auto 0;
        line-height: normal;
      }
      .mfinder-result-page-email {
        position: relative;
        margin-top: 12px;
        #sub-email-address {
          width: calc(100% - 30px);
          height: 45px;
          border-radius: 25px;
          border: solid 1px #979797;
          background-color: #ffffff;
          padding-right: 146px;
          font-family: $r-regular;
          font-size: 16px;
          font-weight: normal;
          line-height: 0.88;
        }
        #sub-email-address::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #626366;
        }
        #sub-email-address::-moz-placeholder {
          /* Firefox 19+ */
          color: #626366;
        }
        #sub-email-address:-ms-input-placeholder {
          /* IE 10+ */
          color: #626366;
        }
        #sub-email-address:-moz-placeholder {
          /* Firefox 18- */
          color: #626366;
        }
        #submit-button {
          width: 135px;
          height: 45px;
          border-radius: 0 100px 100px 0;
          background-color: #d63426;
          position: absolute;
          right: 15px;
          padding: 0;
          font-family: Rubik;
          font-weight: 600;
          text-transform: capitalize;
          font-size: 16px;
          line-height: 0.88;
        }
      }
      .email-signup-check-box {
        margin-top: 15px;
        line-height: 1;
        padding: 0 0 0 15px;
        display: flex;
        .checked {
          border-radius: 5px;
        }
        .email-signup {
          display: inline-block;
          font-family: $r-regular;
          font-size: 12px;
          font-weight: normal;
          color: #2d2926;
          margin: 0px;
          width: 320px;
          text-align: left;
          line-height: normal;
          @media (max-width: 365px) {
            font-size: 10px;
          }
        }
        .email-checkbox {
          display: inline-block;
          margin: 0px;
        }
      }
      @include respond(large-up) {
        display: none;
      }
      .thank-you-section {
        .ty-heading {
          margin-top: 35px;
          font-family: Rubik;
          font-size: 21px;
          line-height: normal;
          font-weight: bold;
          color: #2d2926;
          margin-left: auto;
          margin-right: auto;
        }
        .ty-copy {
          width: 345px;
          font-family: Rubik;
          font-size: 16px;
          font-weight: normal;
          color: #2d2926;
          line-height: 1.5;
          margin-bottom: 60px;
          margin-left: auto;
          margin-right: auto;
          margin-top: 15px;
          @media (max-width: 320px) {
            width: 100%;
          }
        }
      }
    }
    /********End email me my result part**********/

    .mattributr-feature-main {
      display: flex;
      margin-right: -10px;
      flex-wrap: wrap;
      padding-left: 23px;
      box-sizing: border-box;
      .matters-feature-hd {
        display: flex;
        flex-basis: 100%;
        margin-top: 9px;
        margin-bottom: 15px;
        font-family: $r-regular;
        font-size: 18px;
        line-height: 1;
      }

      .mattress-feature-detail {
        display: flex;
        border-radius: 2px;
        border: solid 1px $t-alto;
        padding: 9px;
        margin-right: 10px;
        align-items: center;
        box-sizing: border-box;
        margin-bottom: 5px;
        /* flex-basis: calc(33.3% - 10px); */
        @media screen and (max-width: 768px) {
          flex-basis: 100%;
          margin-right: 0;
          display: none;
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            display: flex;
          }
        }
        .image {
          margin-right: 14px;
          @include respond(large-down) {
            flex-basis: 30px;
          }
        }
        .mattress-feature-text-detail {
          font-family: $r-regular;
          font-size: 12px;
          line-height: 1.17;
          color: #2d2926;
          flex-grow: 1;
          p {
            font-family: $r-regular;
            font-size: 12px;
            font-weight: normal;
            color: #2d2926;
            margin: 0px;
            line-height: 1.17;
          }
          p.headings {
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }
    .name_price {
      display: flex;
      align-items: center;
      .product-price {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        .price-standard {
          order: 2;
        }
        .price-sales {
          order: 1;
          margin-right: 10px;
        }
      }
      .price-sales.price-sales-more,
      .price-standard {
        display: inline-block !important;
        font-family: $r-regular;
        font-size: 16px;
      }
      .price-sales {
        margin-top: 0 !important;
        font-size: 18px;
        font-family: $r-regular;
        font-weight: 500;
      }
      .variation-selected-size {
        color: #d63426;
        font-family: $r-regular;
        font-size: 18px;
        font-weight: 500;
        margin-right: 5px;
      }
    }
    .has-sale-price {
      flex-basis: 100% !important;
      order: 2;
      font-family: $r-regular;
      font-size: 16px !important;
      font-weight: normal !important;
      text-decoration: line-through;
    }
    .product-sales-price {
      &.price-range {
        order: 1;
        font-family: $r-regular;
        font-size: 18px;
        font-weight: 500;
        color: #d63426;
      }
    }
    .price-sales {
      font-family: $r-regular;
      font-size: 18px;
      font-weight: 500;
    }
  }
}
/* new result page lead date section  */
.product-lead-date {
  margin-top: 42px;
  @include respond(large-down) {
    margin-top: 5px;
  }
  .availability-web-finder {
    position: relative;
  }
  .availability-web-finder,
  .availability-storepickup {
    > label,
    .availability,
    .value label,
    .value .availability-msg #replace-me-finder p {
      font-family: $r-regular;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.29;
      letter-spacing: normal;
      color: $dark-gray-1;
      margin: 0;
    }
    .value .availability-msg #replace-me-finder p span {
      display: block;
      width: 100%;
      text-transform: capitalize;
    }
    .availability-msg {
      .in-stock-msg p,
      .in-stock-msg,
      #replace-me-finder p span {
        font-family: $r-regular;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.29;
        letter-spacing: normal;
        color: $dune;
        margin: 0;
      }
    }
    .availability-ab,
    .availability-msg .details-link,
    .delivery-countdown-wrap {
      display: none;
    }
  }
  .finder-product-not-available {
    font-family: $r-regular;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: normal;
    color: $dune;
    margin: 0;
    max-width: 200px;
  }
}
/* End new result page lead date section  */
// Try in store
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $overlayZindex;
}
.try-in-store-section {
  margin-top: 10px;
  height: 38px;
  position: relative;
}
.expander-container,
.try-in-store {
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 24.5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  margin-bottom: 12px;
  height: auto;
  min-height: 46px;
  overflow: hidden;
  padding: 0;
  padding-bottom: 0 !important;
  position: static;
  width: 313px;
  z-index: 100;
  a {
  }
  @media screen and (max-width: 767px) {
    box-shadow: none;
    left: 50%;
    margin-left: -156px;
    position: absolute;
  }
}
.expander-container::after {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);
  opacity: 0;
  @media screen and (max-width: 767px) {
    box-shadow: none;
  }
}
.expander-container.expanded {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  position: absolute;
  @media screen and (max-width: 767px) {
    box-shadow: none;
  }
}
.expander-container.expanded::after {
  opacity: 1;
}
.expander-container.mobile-overlay {
  z-index: $dialogZindex;
}
.expander-container__header,
.try-in-store__header {
  display: block;
  font-weight: 500;
  padding: 2px;
  .expander-container & {
    cursor: pointer;
  }
}
.try-in-store__location-icon {
  display: inline-block;
  left: 16px;
  position: relative;
  top: 6px;
}
.try-in-store__header-text {
  color: #000 !important;
  height: auto;
  display: block;
  margin-right: 13px;
  position: relative;
  text-decoration: none;
  top: -19px;
}
.try-in-store__header-text-inner {
  color: #2d2926;
  font-family: $r-regular;
  font-size: 12px;
  font-weight: normal;
  height: 12px;
  left: 48px;
  position: absolute;
  top: 1px;
}
.try-in-store__header-unavailable {
  display: block;
  margin-left: -44px;
  margin-top: 30px;
  position: static;
  text-align: center;
  width: 300px;
  z-index: 1;
}
.try-in-store__header-loc-text {
  font-weight: 500;
}
.try-in-store__check-available,
.try-in-store__header-text-inner a {
  color: $red;
  font-family: $r-regular;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  line-height: 1.83;
  letter-spacing: normal;
  position: absolute;
  top: 3px;
  width: 225px;
}
// closed content div
.try-in-store__content {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: max-height 0.25s ease-in-out, z-index 0 linear;
  width: 330px;
  z-index: 1;
}
// open content div when expanded
.expander-container.expanded .try-in-store__content {
  max-height: 100vh;
  transition: max-height 0.25s ease-in-out, z-index 0.25s linear;
  z-index: 100;
}
.try-in-store__store-info {
  font-size: 15px;
  padding-left: 49px;
  font-family: $r-regular;
}
.try-in-store__store-info li {
  list-style-type: none;
  line-height: 17px;
  margin: 0;
  padding: 0;
}
.try-in-store__store-info li:not(:last-child) {
  margin-bottom: 6px;
}
.try-in-store__store-closes {
  font-size: 14px;
  margin: 10px 0 5px 49px;
  font-weight: 600;
  font-family: $r-regular;
}
.try-in-store__button-group {
  background: $red;
  height: 51px;
  position: relative;
  bottom: -6px;
  width: 322px;
  left: -5px;
}
.try-in-store__button-container {
  background: $red;
  display: inline-block;
  width: 48.333%;
  height: 50px;
}
.try-in-store__button-container:first-of-type {
  border-right: 1px solid white;
}
.try-in-store__button {
  background: $red;
  color: $white;
  display: block;
  font-family: $r-regular;
  font-size: 14px;
  font-stretch: normal;
  font-weight: 500;
  font-style: normal;
  height: 17px;
  letter-spacing: normal;
  line-height: 1.21;
  margin: 0 auto;
  // padding: 0 28px;
  text-align: center;
  position: relative;
  top: 14px;
}
.try-in-store__button:hover {
  color: $gray;
}
.try-in-store__button:focus {
  color: $nero;
}
// expand collapse icon styles
.expander-container .fa {
  transform: rotate(0deg);
}
.expander-container.expanded .fa {
  transition: 0.3s transform ease-in-out;
  transform: rotate(180deg);
}
// override existing pseudo style
#finder .finder-results-v3 .finder-results-wrap .expander-container .fa:before {
  height: auto;
  position: static;
  width: auto;
}
// Find your store dialog
.ui-dialog.finder-try-in-store {
  .ui-icon-closethick {
    background: url("../images/closebtn.png");
    height: 31px;
    left: 5px;
    top: 0px;
    width: 31px;
  }
  #try-in-store-results .try-in-store-storelist li.preferred-store {
    border: 1px solid $red;
    background-color: $white !important;
  }
  #try-in-store-results .store-result .try-in-store-storelist .store-unavailable {
    height: 14px;
    font-family: $r-regular;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.17;
    letter-spacing: normal;
    color: $red;
  }
  #try-in-store-results button[type="submit"] {
    background-color: $red;
    border-radius: 25px;
    display: block;
    float: none;
    font-family: $r-regular;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    height: 45px;
    line-height: 0.88;
    margin: 0 auto;
    text-align: center;
    width: 345px;
    @media (max-width: 365px) {
      width: 295px;
    }
  }

  #try-in-store-results .try-in-store-storelist li label .availability {
    bottom: auto;
    text-align: left;
    top: 10px;
  }

  #try-in-store-results .try-in-store-storelist li label .availability .store-unavailable {
    font-style: 12px;
    margin-top: 6px;
    color: #626366;
  }
  #try-in-store-results .try-in-store-storelist li label .availability .store-try {
    color: $red;
    font-family: $r-regular;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    margin-top: 6px;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
  }
  #try-in-store-results .try-in-store-storelist li label .availability .store-try img {
    display: none;
  }
  #try-in-store-results .try-in-store-storelist .storeresult .storeaddress {
    font-family: $r-regular;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    min-height: 60px;
  }
  .slick-arrow {
    display: none;
  }
  .select-preferred-store {
    border: 1px solid #df3a20;
    font-family: $r-regular;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.86;
    letter-spacing: normal;
    text-align: center;
    color: #df3a20;
    background-color: #fff !important;
    margin-bottom: 10px;
    border-radius: 2px;
    padding: 11px 0 !important;
    .select-preferred-store-text {
      color: $red !important;
    }
  }
  .preferred-store {
    .select-preferred-store {
      border: 1px solid #d63426;
      font-family: $r-regular;
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.86;
      letter-spacing: normal;
      text-align: center;
      color: #fff;
      background-color: #d63426 !important;
      .select-preferred-store-text {
        color: #fff !important;
      }
    }
  }
}
.ui-dialog {
  .ui-dialog-titlebar-close {
    top: 13px;
    right: 15px;
    color: $black;
    overflow: hidden;
    text-indent: -200px;
  }

  &.finder-try-in-store {
    width: 100% !important;
    border-radius: 30px 30px 0 0;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.3);
    transition: all 0.9s;
    overflow-y: scroll;
    top: 0px;
    @include respond(large-down) {
      top: 1000px !important;
      position: fixed;
    }
    .location-details span {
      display: none;
    }
    .zip-code-new {
      display: inline-block !important;
    }
    .store-try {
      display: none !important;
      &.today {
        display: block !important;
      }
    }
    &.slideup {
      top: calc(0px + 140px) !important;
      bottom: 0px !important;
      height: 85% !important;
    }
    &.dynamicheight {
      height: calc(100vh - 140px) !important;
      display: grid !important;
    }
    @include respond(large-up) {
      border-radius: 30px;
      box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.3);
      left: 50% !important;
      margin-left: -287px;
      min-height: 628px;
      overflow: inherit;
      transition: all 0.9s;
      width: 575px !important;
    }
    .ui-dialog-title {
      font-family: $r-regular;
      font-size: 28px;
      font-weight: bold;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      padding-top: 63px;
      border-bottom: none;
      margin-bottom: -3px;
      text-transform: capitalize;
      &:before {
        display: none;
      }
    }

    .ui-icon-closethick {
      background: url("../images/closebtn.png");
      width: 31px;
      height: 31px;
      left: 5px;
      top: 0px;
    }
    #dialog-container {
      #store-picker-enter-zip {
        .error {
          width: 271px;
          margin: 5px auto;
          padding-left: 5px;
        }
        .try-in-store-list {
          width: 271px;
          margin: 0 auto;
          li {
            display: block;
            width: 100%;
            margin-bottom: 0;
            &:last-child {
              width: 100%;
              margin-left: 0;
              button {
                width: 94%;
                max-width: 94%;
                margin: 0 auto;
                border-radius: 25px;
                margin-top: 10px;
                margin-left: 0;
                font-family: $r-regular;
                font-size: 16px;
                font-weight: bold;
                line-height: 0.88;
                text-align: center;
              }
            }
            .form-row {
              > label {
                font-family: $r-regular;
                font-size: 14px;
                font-weight: 500;
                line-height: 1;
                letter-spacing: normal;
              }
              input[type="text"],
              .input-select {
                border-radius: 25px;
                border: 1px solid #2d2926;
                min-height: 45px;
                font-family: $r-regular;
                font-size: 16px;
                font-weight: normal;
                line-height: 0.88;
                letter-spacing: normal;
                color: #332e2a;
              }
              .field-wrapper {
                &:after {
                  right: 22px;
                  right: 20px;
                  top: 15px;
                  padding: 4px;
                }
              }
            }
          }
        }
      }
    }
    .form-horizontal {
      .location-details {
        text-align: center;
      }
      span {
        font-family: $r-regular;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
      }
      #change-location {
        color: $red;
        font-family: $r-regular;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: normal;
      }
      #try-in-store-results {
        #SetPreferredStore .location-details a {
          color: $red;
        }
        .store-result {
          height: 377px !important;
          text-align: left;
          &.mf-notavailable {
            opacity: 0.5;
            pointer-events: none;
            .store-unavailable {
              color: #757575;
            }
          }
          .try-in-store-storelist {
            li.preferred-store {
              border: 1px solid $red;
              background-color: $white !important;
            }
            li label {
              width: 100% !important;
              margin-top: 30px;
            }
            label {
              margin-top: 10px;
            }
            .store-unavailable {
              height: 14px;
              font-family: $r-regular;
              font-size: 12px;
              font-weight: bold;
              line-height: 1.17;
              letter-spacing: normal;
              color: $red;
            }
          }

          .storename {
            font-family: $r-regular;
            font-size: 16px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.88;
            letter-spacing: normal;
            color: #2d2926;
            margin-bottom: 17px;
            margin-top: 29px;
          }
          .storeaddress {
            font-family: $r-regular;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: normal;
            min-height: 60px;
          }
          .store-details a {
            text-decoration: none;
          }
          .distance {
            font-family: $r-regular;
            color: #433c36;
            float: none;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
          }
        }
        .try-in-store-storelist li .store-container .store-details {
          .storename {
            color: #2d2926;
          }
          .storeaddress {
            color: #2d2926;
          }
          a .distance {
            color: #433c36;
          }
        }
        .try-in-store-storelist li .store-container .store-hours .hours-title {
          font-family: $r-regular;
          font-size: 16px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          color: #2d2926;
          line-height: 1.25;
          letter-spacing: normal;
        }
        .try-in-store-storelist li .store-container .store-hours .hours-actual {
          font-family: $r-regular;
          font-size: 14px;
          line-height: 20px;
          padding: 0 0 10px;
          color: #332e2a;
        }
      }
    }
  }
}
/* email popup */
#emaildialog {
  .thank-you-mf-section {
    .exacttarget-form-container__inner {
      padding: 52px 0 120px 0 !important;
      .exacttarget-form-container__title-h3 {
        display: none !important;
      }
    }
  }
}
.sorry-thank-you-text {
  padding: 65px 0 140px 0;
  h4 {
    &.exacttarget-form-container__title-h4 {
      font-family: $r-regular;
      font-size: 32px;
      font-weight: bold;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      color: $dark-gray-1;
    }
  }
  .thank-you-text {
    font-family: $r-regular;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: $dune;
    max-width: 345px;
    margin: 0 auto;
    a {
      font-size: 18px !important;
      font-weight: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: $red;
    }
  }
}
/* End email popup */
// Edit price range widget .edit-price-range
.edit-price-range__container {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
  }
}
.edit-price-range {
  @media screen and (max-width: 767px) {
    margin-top: 15px;
    padding-bottom: 5px;
  }
}
.edit-price-range__container .bestmatch {
  @media screen and (max-width: 767px) {
    margin-left: -8px;
    padding-top: 50px !important;
  }
}
#finder .product-image {
  @media screen and (max-width: 767px) {
    padding-top: 0 !important;
  }
}
// Hide in IE11
@media screen and (-ms-high-contrast: none) {
  .edit-price-range {
    display: none;
  }
}
.edit-price-range__button {
  background-color: #ffffff;
  border: solid 1.5px $black;
  border-radius: 24.5px;
  display: flex;
  flex-flow: row;
  height: 35px;
  width: 268px;
  position: relative;
  @media screen and (max-width: 767px) {
    left: 50%;
    margin-left: -136px;
    z-index: 100;
  }
}
.edit-price-range__button-text {
  color: $black;
  font-family: $r-regular;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  height: 17px;
  line-height: 1.21;
  letter-spacing: normal;
  margin: 9px 0;
  padding-left: 75px;
  text-align: center;
  width: 112px;
  @media screen and (min-width: 768px) {
    text-align: left;
    padding-left: 30px;
  }
}
.edit-price-range__choices {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 30px 0px;
  display: none;
  height: 245px;
  margin-top: 14px;
  position: absolute;
  width: 270px;
  z-index: 100;
  @media screen and (max-width: 767px) {
    left: 50%;
    margin-left: -172px;
    margin-top: 30px;
    width: 345px;
  }
}
.edit-price-range__choices-list {
  list-style-type: none;
  margin: 28px 0 0;
  padding: 0;
}
.edit-price-range__choices li {
  line-height: 1.0625rem;
  margin-bottom: 0;
  position: relative;
}
.edit-price-range__choices li .checkbox-icon {
  height: 25px;
  pointer-events: none;
  position: absolute;
  right: 24px;
  top: 9px;
  width: 25px;
  z-index: 120;
}
.edit-price-range__choices li:hover {
  background-color: #f4f4f4;
}
.edit-price-range__choices li .checkbox-icon-off {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 121;
  display: block;
}
.edit-price-range__choices li.active-range .checkbox-icon-off {
  display: none;
}
.edit-price-range__choices li .checkbox-icon-on {
  display: none;
}
.edit-price-range__choices li.active-range .checkbox-icon-on {
  display: block;
}
.edit-price-range__choice-link {
  display: block;
  padding: 14px 30px;
  font-family: $r-regular;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
.edit-price-range__choice-link:hover {
  color: $black;
  text-decoration: none;
}
.edit-price-range__choice-link:active,
.edit-price-range__choice-link:focus {
  color: $black;
  text-decoration: none;
}
// arrow down
.edit-price-range .small-chevron-down {
  display: block;
  height: 20px;
  position: absolute;
  right: 67px;
  top: 8px;
  transform: rotate(180deg);
  transition: 0.3s transform ease-in-out;
  width: 10px;
  @media screen and (min-width: 768px) {
    right: 15px;
  }
}
// arrow up
.edit-price-range.expanded .small-chevron-down {
  top: 6px;
  transform: rotate(0);
  transition: 0.3s transform ease-in-out;
  @media screen and (min-width: 768px) {
    right: 15px;
  }
}
// Complete your sleep section
.complete-sleep {
}
.complete-sleep__title {
  color: $dark-gray-1;
  font-family: Rubik;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.75;
  letter-spacing: normal;
  margin: 0 auto 48px;
  max-width: 345px;
  text-align: center;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    margin-bottom: 84px;
  }
}
.complete-sleep__title span {
  color: $dark-gray-1;
  font-family: Rubik;
  font-size: 90px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
}
.complete-sleep__sub-title {
  color: $dark-gray-1;
  font-family: Rubik;
  font-size: 21px;
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 22px;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 28px;
    margin-bottom: 61px;
  }
}
.complete-sleep__cells {
  align-items: normal;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: 0 auto;
  width: 346px;
  @media screen and (min-width: 768px) {
    margin: 0 auto;
    width: 768px;
  }
}
.complete-sleep__cells.foundation-cells {
  margin-bottom: 57px;
}
.complete-sleep__cells.make-bed-cells {
  margin-bottom: 23px;
}
.complete-sleep__cell {
  height: 200px;
  width: 50%;
  @media screen and (min-width: 768px) {
    height: 250px;
  }
}
.complete-sleep__cell-link {
  display: block;
  text-decoration: none;
  &:hover {
    color: $dark-gray-1;
    text-decoration: underline;
  }
}
// Note: The CSS for images is located in complete-sleep content asset.
.complete-sleep__caption {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
}
// find your store
#try-in-store-results {
  .try-in-store-storelist {
    @include line-height(21px);
    padding-left: 0;
    display: flex;
    min-height: 430px;
    list-style: none;
    margin-bottom: 20px;
    .slick-arrow {
      border: 0;
      background: none;
    }
    .slick-arrow.slick-next {
      right: -20px;
      @include respond(large-down) {
        right: -11px;
      }
    }
    .slick-arrow.slick-prev {
      left: -20px;
      @include respond(large-down) {
        left: -11px;
      }
    }
    li {
      @include line-height(21px);
      display: flex;
      vertical-align: top;
      margin: 0 7.5px;
      flex: 1;
      position: relative;
      padding-bottom: 4em;
      border: solid 1px #cccccc;
      min-height: 430px;
      @include respond(large-down) {
        text-align: center;
      }
      &.preferred-store {
        border: solid 1px $algae;
        background-color: rgba(86, 176, 112, 0.19);
        .select-preferred-store {
          background-color: $algae;
        }
      }
      &:last-child {
        margin-right: 0;
      }
      .store-container {
        padding: 5%;
        flex: 1;
        .store-details {
          min-height: 32%;
          margin: 0 0 20px;
          .storename {
            @include font-size(15px);
            @include respond(large-down) {
              @include font-size(17px);
            }
            font-weight: bold;
            margin-bottom: 15px;
            height: 40px;
          }
          .storeaddress {
            height: 60px;
            @include respond(large-down) {
              @include font-size(17px);
            }
          }
          .distance {
            float: right;
            margin: 15px 0 10px;
            @include respond(large-down) {
              float: none;
              @include font-size(17px);
            }
            &:before {
              content: "";
              background-image: url("../images/interface/directions.png");
              background-repeat: no-repeat;
              display: inline-block;
              height: 18px;
              width: 18px;
              background-size: 100%;
              vertical-align: middle;
              margin-right: 2px;
            }
          }
        }
        .store-hours {
          float: left;
          @include respond(large-down) {
            float: none;
            @include font-size(17px);
          }
          .hours-title {
            font-weight: bold;
          }
        }
        .hours-actual {
          padding: 0 0 10px;
        }
      }
      span {
        display: block;
      }
      label {
        width: 100%;
        margin-top: 30px;
        .availability {
          font-weight: bold;
          float: left;
          text-align: center;
          width: 90%;
          position: absolute;
          bottom: 75px;
          @include respond(large-down) {
            @include font-size(17px);
          }
          .store-try.today {
            display: none;
          }
          .store-unavailable.today {
            display: none;
          }
          .store-available,
          .store-try {
            color: $algae;
            @media only screen and (max-width: 668px) {
              margin-bottom: -20px;
            }
            img {
              margin-right: 5px;
              margin-top: -3px;
              display: inline;
            }
          }
          .store-unavailable {
            color: $dark-gray;
            @include respond(large-down) {
              bottom: 50px;
            }
          }
        }
      }
      .select-preferred-store {
        width: 90%;
        padding: 6px 0;
        text-align: center;
        position: absolute;
        bottom: -15px;
        margin-bottom: 2em;
        border-radius: 2px;
        background-color: $crimson;
        @media only screen and (max-width: 668px) {
          bottom: 0;
          margin-bottom: 1em;
        }
        &.disabled {
          opacity: 0.24;
          cursor: initial;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        }
        span {
          @include font-size(14px);
          color: $white;
          cursor: pointer;
        }
        input {
          display: none;
        }
      }
    }
  }
  .tryinstore-save {
    letter-spacing: -0.6px;
    color: #525252;
    span {
      font-weight: bold;
    }
  }
  button[type="submit"] {
    background-color: $algae;
    float: right;
    width: 303px;
    @media screen and (max-width: 320px) {
      width: 270px;
    }
    @include respond(large-down) {
      float: none;
      margin: 0 auto;
      display: block;
    }
    text-align: center;
    color: $white;
    text-transform: capitalize;
    border-radius: 2px;
    &[disabled="disabled"] {
      opacity: 0.3;
    }
  }
}
#SetPreferredStore {
  .location-details {
    width: 100%;
    margin-bottom: 1.5em;
    color: $black;
    span {
      @include font-size(16px);
    }
    .zip-code-new {
      display: none;
    }
    a {
      margin-left: 20px;
      color: $summer-sky;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

/* New main Start*/

.MM-new-main {
  padding-top: 0px !important;
  background-color: #fff !important;
}

/* New main End*/

/* Product Benefits */
.MM-product-benefits {
  padding: 0 30px;

  // TODO: Temporarily hidden in bigger breakpoints.
  // Uncomment when starting on tablet and desktop
  @media screen and (min-width: 787px) {
    display: none;
  }
}

h4.MM-product-benefits__title {
  color: #2d2926;
  font-family: "Rubik Black", Arial, sans-serif;
  font-size: 18px;
  line-height: 14px;
  text-transform: uppercase;
}

.MM-product-benefits-expander {
  border-top: 1px solid #e0e0e0;
  background: #fff;
  min-height: 45px;
  margin-bottom: 12px;
  padding: 12px 18px;
  height: auto;
  min-width: 276px;
  width: auto;
}

.MM-product-benefits-expander:last-of-type {
  border-bottom: 1px solid #e0e0e0;
}

.MM-product-benefits-expander__header {
  padding: 2px;
  cursor: pointer;
  font-weight: bold;
}

.MM-product-benefits-expander__title {
  margin-left: 34px;
  margin-top: 1px;
}

.MM-product-benefits-expander__link {
  color: #2d2926;
  font-family: "Rubik Bold", Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
}
.MM-product-benefits-expander__link:hover {
  color: #2d2926;
  text-decoration: none;
}

.MM-product-benefits-expander__content {
  display: none;
  padding: 5px;
}

.MM-product-benefits-expander.collapsed .fa {
  transform: rotate(180deg);
}
.MM-product-benefits-expander .fa {
  transition: 0.3s transform ease-in-out;
}