.product-promo-content-area {
	margin-bottom:10px;
	.promoGroup{
		margin-top:8px;
		float: none;
	}
	.promoWarImage{
		float:left;
		clear: none;
		min-height:33px;
		min-width:33px;
	}
	.col2 {
		float: left;
		width: 76%;
		margin-left: 9px;
	}
	.promoWarName{
		color: $crimson;
		padding: 8px 0 0 0;
		font-weight: $font-wt-bold;
	}
	.pdpMessage{
		padding-top: 2px;
		@include font-size($font-size-xs);
		line-height:1;
		margin-bottom: 7px;
		p {
			margin:2px 0;
		}
	}
}