.pt_product-details #main {
	padding: 0;
	width:833px;
	@media (max-width:899px){
		width:100%;
		padding:0 10px;
	}
	.primary-content {
		padding-bottom: 0;
	}
	.search-result-items .product-tile {
		border-bottom: none !important;
	}
}

.pdp-section{
	margin:0 0 32px;
	@media (max-width: 767px){
		margin:0;
	}
	.head{
		overflow:hidden;
	}
	.btn-back{
		float:right;
		padding:10px 0 0;
		@media (max-width:767px){
			float:none;
			padding:0 0 10px;
		}
		a{
			font-size:16px;
			line-height:20px;
			font-family:$g-bold;
		}
	}
	h2{
		width:70%;
	}
}

#pdpMain {
	&.pdp-main-ab {
		padding-top: 0; // not my fault
		.bv-cv2-cleanslate .bv-summary-bar-minimalist-horizontal .bv-write-container,
		.bv-cv2-cleanslate .bv-summary-bar-minimalist-horizontal .bv-read-container,
		.bv-cv2-cleanslate .bv-summary-bar-minimalist .bv-write-container .bv-submission-button.bv-write-review,
		.bv-cv2-cleanslate .bv-summary-bar-minimalist .bv-read-container .bv-submission-button.bv-write-review {
			display: none !important;
		}
		.bv-cv2-cleanslate .bv-summary-bar .bv-rating-ratio-number,
		.bv-cv2-cleanslate .bv-summary-bar .bv-rating-ratio-count {
			padding: 0 !important;
		}
		.bv-header .bv-action-bar {
			padding: 20px 10px !important;
		}
		.bv-cv2-cleanslate .bv-summary-bar .bv-rating-ratio-count,
		.bv-cv2-cleanslate .bv-summary-bar .bv-rating.bv-text-link {
			font-size: 16px !important;
			line-height: 16px !important;
		}
		.pdp-product-carousel {
			padding-top: 50px;
			padding-bottom: 50px;
		} // new pdp right part
		
		h2{
			font-size:26px;
			margin:0 0 10px;
			line-height:32px;
			font-family:$g-bold;
			@media (max-width:767px){
				width:auto;
				margin:0 0 10px;
				font-size:20px;
				line-height:24px;
			}
		}
		.product-detail {
			.row-1,
			.row-2 {
				display: flex;
				position: relative;
				padding: 0 25px;
				margin-left: -15px;
				margin-right: -15px;
				background-color: #f1f1f2;
				border-radius: 10px 10px 0 0;
				.pdp-promotions {
					padding-right: 20px;
					width: 150px;
					position: relative;
					top: 15px;
					.brand-name.logo-black-12-park img {
						height: 50px !important;
						margin-left: -30px;
						@include respond (large-down) {
							width: 60px;
							height: 60px;
							margin-left: 0px;
						}
					}
					.promotion {
						.promotion-callout {
							padding: 0px;
							border: 0px;
						}
					}
					.brand-and-rating {
						img {
							width: 132px;
							height: 30px;
						}
					}
				}
				#pdp-reviews {
					position: absolute;
					right: -30px;
					top: 25px;
				}
			}
			.comfort-and-features {
				width: calc(100% + 30px);
				margin-left: -15px;
				&.comfort_level_1 {
					border-bottom: 10px solid $comfort-extra-firm;
				}
				&.comfort_level_2 {
					border-bottom: 10px solid $comfort-firm;
				}
				&.comfort_level_3 {
					border-bottom: 10px solid $comfort-medium;
				}
				&.comfort_level_4 {
					border-bottom: 10px solid $comfort-plush;
				}
				&.comfort_level_5 {
					border-bottom: 10px solid $comfort-ultra-plush;
				}
				.row-2 {
					margin-left: 0px;
					margin-right: 0px;
					padding-bottom: 20px;
					border-radius: 0px;
					.row-2-left {
						width: 70%;
					}
					.row-2-right {
						position: absolute;
						right: 15px;
						top: 50px;
						img.black {
							width: 100px;
						}
						img.white {
							display: none;
						}
					}
				}
			}
			#product-content.product-content-ab {
				border: 0;
				border-top: none;
				border-radius: 0px 0px 10px 10px;
				padding: 0;
				.pdp-callout {
					display: none;
				}
				.product-add-to-cart {
					width: auto;
					margin-top: 0;
					@media (max-width: 767px){
						margin-top: 30px;
					}
					.pdp-promotions {
						margin-bottom: 15px;
						.promotion {
							@include respond(large-down) {
								font-size: 12px;
								margin-top: 10px;
							}
							.promotion-callout:first-child {
								border-top: none;
								margin-top: -27px;
								@include respond(large-down) {
									margin-top: 0px;
								}
							}
						}
					}
					.product-options{
						margin:0;
						li{
							margin:0;
						}
					}
					.product-price {
						.product-standard-price.price-range {
							font-size: 32px;
							font-weight: 600;
							@media (max-width: 320px) {
								font-size: 26px;
							}
						}
						.price-sales {
							color:$cinnabar;
							font-size: 32px;
							font-weight: 700;
							line-height:38px;
							@media (max-width: 767px){
								font-size:26px;
								line-height:30px;
							}
						}
						.price-sales.price-sales-more {
							font-size: 32px;
							font-weight: 700;
							line-height:38px;
						}
						.price-standard {
							font-size: 21px;
							font-weight: normal;
							color: #626366;
							line-height: normal;
							display: inline;
							@include respond(large) {
								display: contents;
							}
						}
						.product-price-discount {
							display: block !important;
							float: left;
							font-size: 21px;
							font-weight: 600;
							margin-right: 10px;
						}
					}
					.call-only-container .call-only-prod-area {
						margin-bottom: 10px;
						@include respond (large-down) {
							margin-left: -13px;
							width: 95.5%;
						}
					}
					.product-variations {
						.attribute {
							.tooltip {
								display: none;
							}
							#select-container-size {
								.selector {
									select {
										height: 52px;
										border-radius: 5px;
										margin-bottom:24px;
										@media (max-width: 767px){
											height:48px;
											margin-bottom:15px;
										}
									}
									&:after {
										top: 22px;
									}
									&:before {
										top: 22px;
									}
								}
							}
						}
					}
					.product-options {
						.attribute {
							.tooltip {
								display: none;
							}
							.value {
								.selector {
									select {
										height: 52px;
										margin:0 0 24px;
										border-radius: 5px;
										@media (max-width: 767px){
											height:48px;
											margin:0 0 15px;
										}
									}
									&:after {
										top: 22px;
									}
									&:before {
										top: 22px;
									}
								}
							}
						}
					}
					.product-actions-wrap.not-available {
						.store-wrapper {
							.previous-location-pdp {
								width: auto;
								margin-left: 26px;
								background-color: #f1f1f2;
								padding: 0px;
								#pdp-customer-zip {
									margin:0;
									width: 170px;
									height: 40px;
									border-radius: 4px;
									color: black;
									border: solid 1px #c6c8ca;
									font-size: 14px;
								}
								.btn-update-pdp {
									width: 160px;
									height: 40px;
									margin-right: 0px;
									border-radius: 4px;
									background-color: #d53427;
									color: white;
									line-height: 3;
									@include respond(large-down) {
										width: 100px;
									}
									@media (max-width: 380px) {
										width: 100px;
									}
									@media (max-width: 340px) {
										width: 90px;
									}
								}
								.error-message {    width: 100%;color: #d53427;}
							}
							.delivery-shipping-pdp {
								display: flex;
								img {padding-right: 15px;}
								.geo-address-text {
									.not-available-msg {
										font-size: 12px;
										font-family: Gilroy SemiBold;
										color: black;
										@media (max-width: 768px) {
												font-size:10px;
											}
									}
									.geo-address-links {
										font-size: 15px;
										font-family: Gilroy SemiBold;
										a {
											@media (max-width: 768px) {
												font-size:12px;
											}
										}
										span {
											color: black;
											@media (max-width: 340px) {
												font-size:12px;
											}
										}
									}
								}
							}
						}
					}
					.product-actions-wrap {
						margin:0;
						height: auto;
						background-color: #f1f1f2;
						width: 100%;
						padding:15px;
						box-sizing: border-box;
						img {
							width:51px;
							padding-left: 0;
						}
						.product-actions {
							@media (max-width: 320px) {    
								padding-left: 6px;
								width: 100%;
							}
							.omni-channel-container {
								.pdp_order_shipping {
									.store-wrapper {
										.previous-location-pdp {
											#pdp-customer-zip {
												width: 170px;
												height: 48px;
												font-size: 14px;
												border-radius: 4px;
												color: black;
												border: solid 1px #c6c8ca;
											}
											.btn-update-pdp {
												width: 160px;
												height: 48px;
												margin-left: 10px;
												border-radius: 5px;
												background-color: #d53427;
												color: white;
												@include respond(large-down) {
													width: 100px;
												}
												@media (max-width: 380px) {
													width: 100px;
												}
												@media (max-width: 340px) {
													width: 70px;
												}
											}
											.error-message {margin-left: 25px;color: #d53427;}
										}
										.delivery-shipping-pdp {
											display: flex;
											.geo-address-text {
												display: inline-block;
												font-size: 16px;
												font-weight: 800;
											}
											.pdp-mobile-delivery-ab {
												display:none;
												font-size: 15px;
												font-weight: 800;
												margin-left: 5px;
												.btn-change-zip-pdp {
													font-size: 16px;
													font-weight: 600;
													color: #d0021b;
													margin-left: 10px;
													font-style: normal;
												}
											}
											.geo-address-zip {
												display: inline-block;
												font-size: 15px;
												font-weight: 800;
												margin-left: 5px;
												.btn-change-zip-pdp {
													font-size: 16px;
													font-weight: 600;
													color: #d0021b;
													margin-left: 10px;
													font-style: normal;
												}
											}
										}
									}
									.availability-web {
										.availability {display: none;}
										.availability-novariation {
											color: #119e16;
										}
										.availability-ab, label {
											font-size: 12px;
											font-weight: 600;
											margin: 0;
											@include respond (large-down) {
												font-weight: normal;
												font-family: Gilroy;
											}
										}
										.delivery-countdown-wrap {display: none;}
										.availability-msg {
											.in-stock-msg {
												p {
													font-size: 12px;
													font-weight: 600;
													color: #323030;
													@include respond (large-down) {
														font-weight: normal;
														font-family: Gilroy;
													}
												}
											}
											.details-link {
												display: inline-block;
												font-style: normal;
												font-weight: 600;
												font-size: 12px;
											}
										}
									}
								}
								.pdp_order_pickup {
									
								}
							}
						}
					}
					.add-to-cart-container {
						margin:0 0 24px;
						@media (max-width: 767px){
							margin:0 0 15px;
						}
						#add-to-cart,
						#add-to-cart-delivery-not-available {
							width: 72%;
							height: 46px;
							bottom: 0px;
							float:right;
							border-radius:5px;
							margin-right: 0;
							@media(max-width:899px){
								margin:0;
								width:72%;
								float:right;
							}
						}
						.inventory {
							max-width: 90px;
							margin-right: 0;
							label {display: none;}
							.plus-minus-input {
								position: relative;
								#btn-minus-qty {
									width: 15px;
									height: 30px;
									line-height: normal;
									padding: 0 13px;
									position: absolute;
									left: 0px;
									top: 5px;
									background-color: transparent;
									.fa-minus {
										color: black;
										position: relative;
										right: 2px;
										font-size: 10px;
									}
								}
								.input-group-field {
									width: 90px !important;
									height: 48px;
									border-radius: 5px;
									border: solid 1px #323030;
									text-align: center;
									color: black;
								}
								#btn-plus-qty {
									width: 15px;
									height: 30px;
									line-height: normal;
									padding: 0 13px;
									position: absolute;
									right: 0px;
									top: 5px;
									background-color: transparent;
									.fa-plus {
										color: black;
										position: relative;
										right: 6px;
										font-size: 10px;
									}
								}
							}
						}
						.add-to-wishlist {
							width: 40px;
							top: 0px;
							left: 0px;
							display:none;
							border: 1px solid #c6c8ca;
							font-size: 20px;
							border-radius: 5px;
							line-height: 2;
							text-align: center;
							.fa-heart {
								color: #c6c8ca;
							}
						}
					}
				}
			}
			/*--------------------------------------
				start Try in store styles
			-------------------------------------*/
			.omni-channel-container {
					.store-picker {
						#try-in-store {
							.mf-content {
								@include respond (large-down) {
									width: 100%;
								}
							}
							position: relative;
							padding: 12px 30px 12px 45px;
						    border: solid 1px #323030;
						    border-radius: 5px;
						    margin-top: 0;
						    margin-bottom: 0;
						    .storename-wrap {
						    	img {
									top:18px;
									left:16px;
					    			width: 20px;
								    height: 28px;
								    position:absolute;
					    		}
					    		img.cross {
					    			@include respond(large-down) {
								    	float: left;
								    }
					    		}
						    	.storename,.storename-mob {
						    		font-size: 15px;
    								font-weight: normal;
    								color: #4d4d4d;
						    	}
						    	.storename-mob {
						    		display: inline;
    								margin: 0;
						    		@include respond (large) {
						    			display: none;
						    		}
						    	}
						    	.storename-desktop {
						    		@media (max-width: 1025px) {
						    			display: none;
						    		}
						    	}
						    	.check-tryinstore-avalability {
						    		vertical-align: bottom;
						    		@include respond(large-down) {
								    	padding-right: 15px;
										display: block;
								    }
						    	}
						    	.state-zip {
						    		font-size: 16px;
								    font-weight: 800;
								    margin: 0;
								    font-family: Gilroy-Bold, Arial, sans-serif;
						    	}
						    	i {
						    		font-size: 40px;
								    position: absolute;
								    top: 18px;
								    right: 20px;
								    @include respond(large-down) {
								    	top: 16px;
								    }
						    	}
						    	i.flip { transform: rotate(180deg);}
						    }
						    .store-info {
						    	display: none;
						    	margin-left: 0;
						    	margin-top: 0px;
						    	.storeaddress {
						    		div {display: inline;}
						    		.street {
						    			display: inline-block;
						    			font-size: 16px;
  										font-weight: normal;
  										font-family: "Gilroy", "Arial", sans-serif;
  									}
  									p {
  										font-size: 16px;
										font-weight: normal;
										font-family: "Gilroy", "Arial", sans-serif;
  									}
  									.get-directions {font-size:15px;margin-left: 12px;
  										 @include respond (large-down) {
  										 	position: absolute;
										    left: 50px;
										    top: 115px;
  										 }
  									}
						    	}
						    }
						    .change-tryinstore {
						    	display: none;
						    	margin-left: 0;
						    	span {
						    		font-family: Gilroy-Bold, Arial, sans-serif;
								    font-size: 16px;
								    font-weight: 800;
								    @include respond (large-down) {
								    	margin-top: 37px;
									    margin-bottom: 5px;
									    display: block;
								    }
								    .time {
								    	@include respond (large-down) {
								    		display: initial;
								    	}
								    }
						    	}
						    }
						    a.regular {
						    	display: none;
						    	margin-left: 40px;
						    	position: absolute;
							    right: 30px;
							    bottom: 15px;
							    @include respond (large-down) {
							    	position: initial;
							    }
						    }
						}
					}
				} 
		}
		/*--------------------------------------
			start red carpet delivery banner styles
		-------------------------------------*/
			
		.red-carpet-delivery-pdp {
			display: flex;
			height: 220px;
			margin-left: -32px;
			padding-top: 60px;
			.red-carpet-delivery {
				flex: 0 0 710px;
				text-align: center;
				padding-top: 70px;
				background-color: #757575;
				box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.15);
				.rcd-wrapper {
					display: inline-block;
					position: relative;
					top: 10px;
					padding-left: 25px;
					div {
						margin: 0;
						color: white;
					}
					.rcd-text {font-size: 16px;font-weight: 800;text-align: left;}
					.rcd-heading {font-size: 37px;font-weight: 800;}
				}
			}
			.feature-wrapper {
				flex: 0 0 455px;
				padding: 28px 0px 28px 60px;
				letter-spacing: 0.5px;
				background-color: #5e5c5c;
				box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
				border-width: 0px 0 0px 41px;
				border-style: solid;
				-webkit-border-image: -webkit-gradient(linear, 100% 0, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
				-webkit-border-image: -webkit-linear-gradient(right, black, rgba(0, 0, 0, 0)) 1 100%;
				-moz-border-image: -moz-linear-gradient(right, black, rgba(0, 0, 0, 0)) 1 100%;
				-o-border-image: -o-linear-gradient(right, black, rgba(0, 0, 0, 0)) 1 100%;
				border-image: linear-gradient(to right, #595757, rgba(0, 0, 0, 0)) 1 100%;
				.feature-list {
					font-size: 21px;
					font-weight: 600;
					color: #ffffff;
				}
				.features {
					color: #ffffff;
					margin: 10px 0px 10px 10px;
					@include respond (large-down) {
						margin: 10px auto;
					}
					li {
						font-size: 15px;
						font-weight: normal;
						line-height: 1.73;
						padding-left: 10px;
						margin: 0px;
						.delivery-tracking {
							font-weight: 600;
							color: white;
						}
					}
				}
				.read-details-link {
					font-size: 16px;
					font-weight: 600;
					color: white;
				}
			}
		}
			
		/*--------------------------------------
			start feature wrapper styles
		-------------------------------------*/
			
		.feature-section{
			padding-bottom: 40px;
			width: calc(100% + 50px);
			margin-left: -25px;
			@include respond (large-down) {
				width: 100%;
				margin-left: 0px;
			}
			&.spotlight{
				h1{
					margin:0 0 30px;
				}
			}
			h1{
				font-size: 27px;
				font-weight: 700;
				line-height: 1;
				letter-spacing: normal;
				text-align: center;
				color: #323030;
				margin: 0 0 40px;
				text-transform: capitalize;
				@media (max-width: 767px){
					font-size:22px;
					line-height:26px;
				}
			}
			#pdp-tabs {
				&.section{
					padding-top: 0;
					@include respond(large-down) {
						li {
							font-weight: 600;
							width: 90%;
							margin: 0 auto;
							@media (max-width: 767px){
								width:100%;
							}
							.pdp-tab-title {padding:15px;
								.arrow {
									&:after {
										display: none;
									}
									&:before {
										color:#d63426;
										content: "\f107";
										font-size: 30px;
										top: 0;
										border: none;
									}
								}
							}
							
						}
						
					}
				}
				> .row{
					margin: 0; max-width:100%;
				}
				.pdp-tabs {
					margin-bottom: 31px;
					position: relative;
					display: flex;
					justify-content: center;
					text-align:center;
					border: none;
					padding-bottom: 6px;
						li{
							font-size: 16px;
							display: inline-block;
							font-family:$g-bold;
							@media only screen and (max-width: 1025px) and (min-width: 767px) {
								padding: 0 10px;
							}
						&:last-child{margin-right: 0;}
						> &:after{bottom: -11px; z-index: 2;}
					}
					&:after {
						content: "";
						height: 1px;
						background-color: #cacaca;
						display: block;
						position: absolute;
						left: -15px;
						right: -15px;
						bottom: 0;
						z-index: 1;
					}
					@media(max-width:767px){
						li{
								font-size: 16px; margin-right: 10px;
						}
					}
					@media(max-width:648px){
						display: none;
					}
				}
				.pdp-tab-column {
					padding: 0;
					max-width: 780px;
					width: 100%;
					margin: 0 auto;
				}
			}
			.slick-arrow {
				height: 75px;
				width: 36px;
				margin-top: -45px;
				background: transparent;
				border: none;
				outline: none !important;
			}
			.slick-prev {
				&:after{
					background: url(../images/svg-icons/arrow_white.svg);
					background-size:100%;
					width: 35px;
					height: 35px;
					top: -17px;
					left: 0px;
					transform: rotate(180deg);
				}
			}
			.slick-next {
				&:after{
					background: url(../images/svg-icons/arrow_white.svg);
					background-size:100%;
					width: 35px;
					height: 35px;
					top: -17px;
					transform: rotate(0deg);
				}
			}
		} 
		.features-wrap {
			.slick-list {
				margin: 0 auto;
				height: auto;
				padding-top: 10px;
				@include respond (x-large) {
					width: 600px;
				}
				.feature {
					width:100px;
					display: flex;
					align-items: center;
					flex-wrap: wrap;
					transition: 0.3s;
					.white-svg{
						display: block;
					}
					.feature-content-caption{
						.feature-details{
							h3{
								margin: 5px 0 15px;
								line-height: normal;
								letter-spacing: normal;
							}
							p{display:none; margin: 5px 0;}
						}
					}
				}
			}
			&.slick-slider {
				.slick-dots{
					bottom: -70px;
					display: none !important;
					li{
						border:none;
						background-color: #c6c8ca; width: 10px; height: 10px; border-radius: 100%;
						button{background: none; width: 10px; height: 10px; margin-top: 0;}
						&.slick-active{
							button{background-color: #d63426; border-radius: 100%;}
						}
					}
				}
			}

			.slick-arrow{
				&.slick-prev {
				}
				&.slick-next {
				}
			}
		}

		.slick-slider {
			.slick-dots{
				li{
					border:none;
					background-color: #c6c8ca; width: 10px; height: 10px; border-radius: 100%;
					button{background: none; width: 10px; height: 10px; margin-top: 0;}
					&.slick-active{
						button{background-color: #d63426; border-radius: 100%;}
					}
				}
			}
		}

		.feature-section{
			padding-bottom: 40px;
			width: calc(100% + 50px);
			margin-left: -25px;
			@include respond (large-down) {
   				width: 100%;
   				margin-left: 0px;
   				padding-bottom: 20px;
   			}
   			.pdp-reviews-test {
   				@include respond(large){
	   				width: 1032px;
	    			margin: 0 auto;
   				}
   			}
			h1{
				font-size: 27px;
				font-weight: 700;
				line-height: 1;
				letter-spacing: normal;
				text-align: center;
				color: #323030;
				margin: 0 0 40px;
				@include respond(large-down) {
					font-size: 22px;
					
				}
			}
			.slick-arrow {
				height: 75px;
				width: 75px;
				margin-top: -45px;
				background: transparent;
				border: none;
				outline: none !important;
			}
			.slick-prev {
				@media (min-width: 1366px) {
					left: 0;
				}
				&:after{
					background: url(../images/svg-icons/arrow_white.svg);
					background-size:100%;
					width: 35px;
					height: 35px;
					top: -17px;
					left: 0px;
					transform: rotate(180deg);
				}
			}
			.slick-next {
				@media (min-width: 1366px) {
					right: 0;
				}
				&:after{
					background: url(../images/svg-icons/arrow_white.svg);
					background-size:100%;
					width: 35px;
					height: 35px;
					top: -17px;
					left: 0px;
					transform: rotate(0deg);
				}
			}
			&.spotlight {
				//background:url(../images/bg-spotlight.png) no-repeat center center transparent;
				@include respond (medium) {
					padding-left: 15px;
					padding-right: 15px;
					box-sizing: border-box;
				}
				@include respond (x-large) {
					padding-left: 0;
					padding-right: 0;
					box-sizing: border-box;
				}
			}
		} 
		.features-section {
			text-align: center;
			max-width: 540px;
			margin: 0 auto;
			.slick-list {
				margin: 0 auto;
				height: auto;
				padding-top: 10px;
				@include respond (x-large) {
					width: 600px;
				}
				@media (max-width: 767px) {
					width: auto;
				}
			}
			.feature {
				padding: 0 10px 10px;
				vertical-align: top;
				display: inline-block;
				width: 85px;
				@media (max-width: 767px){
					width: 75px;
				}
				.white-svg{
					display: block !important;
				}
				.image-holder{
					width:47px;
					height:47px;
					padding:0;
					margin:0 auto 8px;
					overflow:hidden;
					border-radius:5px;
					background-color: #666667;
				}
				.feature-content-caption{
					width:100%;
					.feature-details{
						h3{
							margin:0;
							font-size:12px;
							line-height:16px;
							line-height: normal;
							letter-spacing: normal;
							text-transform:uppercase;
							@media (max-width: 767px){
								font-size:11px;
							}
						}
						p{display:none; margin: 5px 0;}
					}
				}
			}
			&.slick-slider {
				.slick-dots{
					bottom: -70px;
					li{
						border:none;
						background-color: #c6c8ca; width: 10px; height: 10px; border-radius: 100%;
						button{background: none; width: 10px; height: 10px; margin-top: 0;}
						&.slick-active{
							button{background-color: #d63426; border-radius: 100%;}
						}
					}
				}
			}

			.slick-arrow{
				&.slick-prev {
				}
				&.slick-next {
				}
			}
		}
				/*--------------------------------------
				start red carpet delivery banner styles
			-------------------------------------*/
			
			.red-carpet-delivery-pdp {
				display: flex;
				height: 220px;
    			margin-left: -32px;
				.red-carpet-delivery {
					flex: 0 0 710px;
				    text-align: center;
				    padding-top: 70px;
				    background-color: #757575;
				    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.15);
				    .rcd-wrapper {
				    	display: inline-block;
				    	position: relative;
    					top: 10px;
				    	div {
				    		margin: 0;
				    		color: white;
				    	}
				    	.rcd-text {font-size: 16px;font-weight: 800;text-align: left;}
				    	.rcd-heading {font-size: 37px;font-weight: 800;}
				    }
				}
				.feature-wrapper {
					flex: 0 0 455px;
				    padding: 28px 0px 28px 60px;
				    letter-spacing: 0.5px;
				    background-color: #5e5c5c;
				    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
				    border-width: 0px 0 0px 41px;
				    border-style: solid;
				    -webkit-border-image: -webkit-gradient(linear, 100% 0, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
				    -webkit-border-image: -webkit-linear-gradient(right, black, rgba(0, 0, 0, 0)) 1 100%;
				    -moz-border-image: -moz-linear-gradient(right, black, rgba(0, 0, 0, 0)) 1 100%;
				    -o-border-image: -o-linear-gradient(right, black, rgba(0, 0, 0, 0)) 1 100%;
				    border-image: linear-gradient(to right, #595757, rgba(0, 0, 0, 0)) 1 100%;
				    .feature-list {
				    	font-size: 21px;
						font-weight: 600;
						color: #ffffff;
						@include respond(large-down) {
							text-align: center;
						}
				    }
				    .features {
				    	color: #ffffff;
					    margin: 10px 0px 10px 10px;
					    @include respond(large-down) {
					    	margin: 10px auto;
					    }
				    	li {
				    		font-size: 15px;
							font-weight: normal;
							line-height: 1.73;
							padding-left: 10px;
							margin: 0px;
							.delivery-tracking {
								font-weight: 600;
								color: white;
							}
				    	}
				    }
				    .read-details-link {
			    		font-size: 16px;
						font-weight: 600;
						color: white;
			    	}
				}
			}
		.product-detail {
			.row-1 {padding-bottom: 8px;}
			.row-1,
			.row-2 {
				display: flex;
				position: relative;
				padding: 0 25px;
				margin-left: -15px;
				margin-right: -15px;
				background-color: #f1f1f2;
				border-radius: 10px 10px 0 0;
				.pdp-promotions {
					padding-right: 20px;
					width: 150px;
					position: relative;
    				top: 15px;
    				.brand-name.logo-black-12-park img {height: 50px !important;
    					@include respond (large-down) {
    						width: 60px;
    						height: 60px !important;
    					}
    				}
					.promotion {
						.promotion-callout {
							padding: 0px;
							border: 0px;
						}
					}
					.brand-and-rating {
						img {
							width: 132px;
							height: auto;
						}
					}
				}
				#pdp-reviews {
					position: absolute;
					right: -30px;
					top: 25px;
					.bv_main_container_row_flex {
						display: block !important;
						.bv_stars_component_container {margin-bottom: 5px !important;}
						.bv_avgRating_component_container {
							display: inline !important;
						    left: 55px !important;
						    position: relative !important;
						}
						.bv_numReviews_component_container {
							float: right !important;
						    right: 15px !important;
						    position: relative !important;
						    button.bv_numReviews_text  {
						    	color: #959799 !important;
						    }
						}
					}
				}
			}
			.comfort-and-features {
				width: calc(100% + 30px);
				margin-left: -15px;
				&.comfort_level_1 {
					border-bottom: 10px solid $comfort-extra-firm;
				}
				&.comfort_level_2 {
					border-bottom: 10px solid $comfort-firm;
				}
				&.comfort_level_3 {
					border-bottom: 10px solid $comfort-medium;
				}
				&.comfort_level_4 {
					border-bottom: 10px solid $comfort-plush;
				}
				&.comfort_level_5 {
					border-bottom: 10px solid $comfort-ultra-plush;
				}
				.row-2 {
					margin-left: 0px;
					margin-right: 0px;
					padding-bottom: 20px;
					border-radius: 0px;
					.row-2-left {
						width: 70%;
					}
					.row-2-right {
						position: absolute;
						right: 15px;
						top: 50px;
						img.black {
							width: 100px;
						}
						img.white {
							display: none;
						}
					}
				}
			}
			#product-content.product-content-ab {
				border:0;
				border-top: none;
				border-radius:0;
				padding: 0;
				.pdp-callout {
						display: none;
					}
				.product-add-to-cart {
					width: auto;
					margin-top: 0;
					@media (max-width: 767px){
						margin-top: 0;
					}
					.product-price-discount-pill {display: none !important;}
					.product-price {
						.product-standard-price.price-range {
							font-size: 37px;
							font-weight: 600;
							@include respond(large-down) {
								font-size: 32px;
							}
							@media (max-width: 320px) {
								font-size: 26px !important;
							}
						}
						.price-sales {
							font-size: 32px; 
							line-height:38px;
							font-family:$g-bold;
						}
						.price-sales.price-sales-more {
							font-size: 37px;
							font-weight: 600;
							line-height: normal;
							@include respond(large-down) {
								font-size: 30px;
							}
						}
						.price-standard {
							font-size: 21px;
							font-weight: normal;
							color: #959799;
							line-height: normal;
							display: inline;
							@include respond(large) {
						    	display: contents;
						    }
						    @include respond(large-down) {
								font-size: 18px;
							}
						}
						.product-price-discount {
							display: block !important;
							float: left;
							font-size: 21px;
							font-weight: 600;
							margin-right: 10px;
							@include respond(large-down) {
								font-size: 18px;
							}
						}
						.product-sales-price.price-range {
							line-height: normal;
						    font-family: "Gilroy", "Arial", sans-serif;
						    font-size: 37px;
						    font-weight: 600;
						    @include respond(large-down) {
								font-size: 32px;
							}
							@media (max-width: 320px) {
								font-size: 30px;
							}
						}
						.product-standard-price.price-range.has-sale-price {
							font-size: 21px;
						    font-weight: normal;
						    line-height: normal;
						    color: #959799;
						    display: inline;
						    @include respond(large) {
						    	display: contents;
						    }
						}
						.allignTop {
							position: relative;
						    top: 2px;
						    left: 33px;
						}
						.product-financing-custom.no-credit {
							margin: 0px;
    						margin-left: 7px;
    						@include respond(large) {
    							margin-top: 7px;
							}
						}
						.product-financing-custom {
							.new-financing-pdp-ab {
								display: flex;
								@include respond (large-down) {
									display: inline-flex;
    								margin-top: 10px;
								}
								img {
									width: 30px;
    								height: 32px;
    								padding-right: 10px;
    								position: relative;
    								bottom: 32px;
    								@include respond(large) {
    									bottom: 22px;
    								}
								}
								.html-slot-container {
									a {
										font-size: 12px;
									    font-weight: normal;
									    color: #4d4d4d !important;
									    text-decoration: none;
									    @media (max-width: 330px) {
									    	width: 240px;
    										display: block;
									    }
									}
								}
							}
							.pay-over {
								position: relative;
							    bottom: 15px;
							    left: 40px;
							    font-size: 12px;
							    font-weight: normal;
							    color: #4d4d4d !important;
							    text-decoration: none;
							    span:hover {
							    	color: #d63426;
							    }
							}
						}
					}
					.product-variations {
						margin-top: 0px;
						.attribute {
							.tooltip {
								display: none;
							}
							#select-container-size {
								.selector {
									select {
										height: 50px;
										border-radius: 5px;
										@media (max-width: 767px){
											height: 48px;
										}
									}
									&:after {
										top: 22px;
									}
									&:before {
										top: 22px;
									}
								}
							}
						}
					}
					.call-only-container .call-only-prod-area{
							margin-bottom: 10px;
							@include respond (large-down) {
								margin-left: -13px;
    							width: 95.5%;
							}
						}
					.product-options {
						.attribute {
							.tooltip {
								display: none;
							}
							.value {
								.selector {
									select {
										height: 50px;
										border-radius: 5px;
									}
									&:after {
										top: 22px;
									}
									&:before {
										top: 22px;
									}
								}
							}
						}
					}
					.product-actions-wrap {
						.product-actions {
							.omni-channel-container {
								.pdp_order_shipping {
									.store-wrapper {
										.previous-location-pdp {
											#pdp-customer-zip {
												width: 170px;
												height: 40px;
												border-radius: 4px;
												color: black;
												border: solid 1px #c6c8ca;
											}
											.btn-update-pdp {
												width: 160px;
												height: 40px;
												margin-right: 0px;
												border-radius: 4px;
												background-color: #d53427;
												color: white;
												@include respond(large-down) {
													width: 100px;
												}
												@media (max-width: 340px) {
													width: 70px;
												}
											}
										}
										.delivery-shipping-pdp {
											display: flex;
											.geo-address-text {
												display: inline-block;
												font-size: 16px;
												font-weight: 800;
											}
											.pdp-mobile-delivery-ab {
												display: none;
											}
											.geo-address-zip {
												display: inline-block;
												font-size: 15px;
												font-weight: 800;
												margin-left: 5px;
												.btn-change-zip-pdp {
													font-size: 16px;
													font-weight: 600;
													color: #d0021b;
													margin-left: 10px;
													font-style: normal;
												}
											}
										}
									}
									.availability-web {
										
									}
								}
								.pdp_order_pickup {
									
								}
							}
							.details {
								
							}
						}
					}
					.add-to-cart-container {
						margin:0 0 24px;
						@media (max-width: 767px){
							margin:0 0 15px;
						}
						#add-to-cart, #add-to-cart-delivery-not-available {
							width: 72%;
							float:right;
							height: 46px;
							bottom: 0px;
							border-radius:5px;
							margin-right: 0;
							vertical-align:top;
							@media(max-width:899px){
								margin:0;
								width:72%;
								float:right;
							}
							@media (max-width: 480px) {
								width : 170px;
							}
							@media (max-width: 380px) {
								width: 140px;
    							min-width: 140px;
							}
							@media (max-width: 340px) {
								width: 129px;
							    min-width: 129px;
							    font-size: 15px;
							}
						}
						.inventory {
							max-width: 90px;
							margin-right: 0;
							vertical-align:middle;
							label {display: none;}
							.plus-minus-input {
								position: relative;
								#btn-minus-qty {
									width: 15px;
									height: 36px;
									line-height: normal;
									padding: 0 13px;
									position: absolute;
									left: 0px;
									top: 5px;
									background-color: transparent;
									.fa-minus {
										color: black;
										position: relative;
										right: 2px;
										font-size: 10px;
									}
								}
								.input-group-field {
									width: 90px !important;
									height: 46px;
									border-radius: 5px;
									border: solid 1px #323030;
									text-align: center;
									color: black;
									@include respond(large-down) {
										width : 80px !important;
									}
									@media (max-width: 320px) {
										width: 60px !important;
									}
								}
								#btn-plus-qty {
									width: 15px;
									height: 36px;
									line-height: normal;
									padding: 0 13px;
									position: absolute;
									right: 0px;
									top: 5px;
									background-color: transparent;
									.fa-plus {
										color: black;
										position: relative;
										right: 6px;
										font-size: 10px;
									}
								}
							}
						}
						.add-to-wishlist {
							width: 40px;
							top: 0px;
							left: 0px;
							border: 1px solid #c6c8ca;
							font-size: 20px;
							border-radius: 5px;
							line-height: 2;
							text-align: center;
							.fa-heart {
								color: #c6c8ca;
							}
						}
					}
				}
			}
		}

		.product-listing {
			margin: 50px 0;
			border-top: none;
			h2 {
				margin: 0 0 36px !important;
				font-family: $g-bold;
				font-size: 20px;
				line-height: 24px;
				text-align: left;
			}
			@include breakpoint(small down) {
				margin: 20px 0;
				padding: 0;
			}
		}
		#product-content {
			.product div.label,
			div.label label,
			li.option-dropdown label {
				padding-right: 5px;
				margin-bottom:16px;
				display: inline-block;
				@media (max-width: 767px){
					margin-bottom:8px;
				}
			}
			span.tooltip {
				top: 4px;
				display: inline-block;
				margin: 0;
				width: 18px;
				height: 18px;
				background-image: url(../images/help-icon-black.svg);
				background-repeat: no-repeat;
				background-size: contain;
			}
			li.option-dropdown span.tooltip {
				position: relative;
			}
			.product-variations li.attribute {
				margin:0;
				position: relative;
				#select-container-size {
					.size-select-area{
						position: relative;
						width: 100%;
						z-index:10;
						float: left;
						margin: 0 0 24px;
						@media (max-width: 767px){
							margin: 0 0 15px;
						}
						&.active-drop{
							z-index: 99;
							.variation-select{
								display: block;
								z-index: 99;
							}
						}
				
						.fake-input{
							position: relative;
							display: block;
							margin:0;
							outline:none;
							background-position: inherit;
							appearance:none;
							width: 100%;
							text-decoration: none;
							height: 52px;
							border-radius: 4px;
							border: solid 1px black;
							font-size: 20px;
							font-weight: 600;
							line-height: 1.25;
							text-align: left;
							color: black;
							box-sizing:border-box;
							span:nth-child(2) { 
								width:80%;
							}
							@media (max-width: 767px){
								height: 48px;
							}
							@include respond(large-down) {
								font-size: 16px;
							}		
							&:before,
						    &:after {
						      content: '';
						      position: absolute;
						      pointer-events: none;
						    }
						
						    &:before {
						      right: 10px;
						      top: 20px;
						      border-top: 8px solid $black;
						      border-left: 8px solid transparent;
						      border-right: 8px solid transparent;
						    }
						
						    &:after {
						    right: 12px;
						    top: 20px;
						    border-top: 6px solid $white;
						    border-left: 6px solid transparent;
						    border-right: 6px solid transparent;
						    }
							.no-variation {
								padding-left: 10px;
								font-size: 20px;
								@include respond(large-down) {
									font-size: 16px;
									padding-top: 15px;
								}
							}
							.selected-size-value {
								.selected-size-dimension {
									font-weight: normal;
									color: #4d4d4d;
									font-size: 16px;
									@include respond(large-down) {
										font-size: 14px;
									}
								}
								.selectedValue {
									font-size: 16px;
									@include respond(large-down) {
										font-size: 14px;
									}
								}
							}
							span {
								display: inline;
								line-height: 2.4;
								@include respond(large-down) {
									line-height: 3;
								}
								img {
									padding-left: 15px;
								    padding-bottom: 10px;
								    width: 23px;
								    vertical-align: middle;
								    height: 30px;
								    @include respond(large-down) {
										padding-bottom: 6px;
									}
								}
								input {padding-left: 0px;
									@media (max-width: 365px) {
										width: 200px;
									}
									@media (max-width: 768px) {
										font-size: 14px;
									}
								}
							}
				
							input{
								background: none;
								border:0;
								padding:7px 0px 8px 16px;
								height: 50px;
								font-size: 20px;
								cursor: default;
								font-weight: 600;
								line-height: 1.25;
								text-align: left;
								color: black;				
								-webkit-appearance: button;
							}
						}
				
						.variation-select{
							position:absolute;
							top: 100%;
							left:0;
							top: 100%;
							display: none;
							right: 0;
							z-index: 9;
							border-radius: 9px;
							background: white;
							box-shadow: 0 1px 3px 0 rgba(black, 0.2);
				
							li{
								padding: 15px;
								font-size: 14px;
								overflow: hidden;
								cursor: default;
								font-weight: normal;
								line-height: 1.22;
								color: black;
								cursor: pointer;
								@include respond(medium){
									font-size: 16px;
									padding: 15px 20px;
									margin-bottom: 0px;
    								padding-bottom: 0px;
								}
								@include respond (large-down) {
									padding-bottom: 0px;
    								margin-bottom: 0px;
								}
								img {
									width: 23px;
    								height: 30px;
    								vertical-align: middle;
    								padding-bottom: 5px;
								}
								&.selected,
								&:hover{
									background: #f1f1f1;
								}
							}
						}
					}
				}
			}
			.pdp-delivery-wrapper {
				span.tooltip {
					display: none;
				}
			}
			.store-picker {
				padding-top: 20px;
				margin-top: 20px;
				border-top: 1px solid $medium-gray;
				display: none;
				@include breakpoint(small down) {
					display: block;
				}
			}
		}
		@include breakpoint(small down) {
			.pdp-images {
				.store-picker {
					display: none;
				}
			}
		}
		@include breakpoint(large down) {
			.product-video-overlay-container {
				float: right;
				position: relative;
				top: -18px;
				z-index: 1000;
				.product-video-overlay {
					.pdp-play-video {
						display:none;
						font-size: 13px;
						color: #054864;
						font-weight: 700;
						&:before {
							content: '';
							display: inline-block;
							width: 20px;
							height: 22px;
							vertical-align: bottom;
							background: url(../images/interface/sprite.png) no-repeat -20px -237px;
						}
						span {
							margin-left: 7px;
						}
					}
				}
			}
		}
	}
	#store-picker-enter-zip {
		.try-in-store-list-container {
			.try-in-store-list {
				padding-left: 0;
				text-align: center;
				li {
					display: inline-block;
					width: 32%;
					vertical-align: top;
					&:last-child {
						width: 27%;
						margin-left: 10px;
					}
					@include respond(small-updated) {
						width: 100%;
						margin-bottom: 0px;
					}
					.form-select {
						.field-wrapper {
							float: left;
							width: 100%;
							position: relative;
							&:after {
								border: solid black;
								border-width: 0 1px 1px 0;
								display: inline-block;
								padding: 3px;
								transform: rotate(45deg);
								-webkit-transform: rotate(45deg);
								content: " ";
								right: 11px;
								top: 15px;
								position: absolute;
							}
						}
					}
				}
				input {
					border-radius: 0px;
				}
				select {
					height: 2.4rem;
					border: solid 1px #ccc;
				}
				button {
					text-transform: capitalize;
					margin-top: 34px;
					min-width: 140px;
					max-width: 200px;
					width: 100%;
					@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
						min-width: 100px;
						margin-left: -8px;
					}
					@media screen and (max-device-width: 480px) {
						min-width: 100px;
						margin-left: -8px;
					}
					@media screen and (max-width: 320px) {
						min-width: 90px;
						margin-left: -8px;
						margin-top: 55px;
					}
					@include respond(small-updated) {
						margin: 0px 0px 0px 75px;
					}
				}
				label {
					@include font-size(12px);
					width: auto !important;
				}
			}
			.form-row {
				display: inline-block;
				list-style-type: none;
				width: 94%;
			}
		}
	}
	.product-financing {
		margin-top: 10px;
		&.tooltip-range {
			display: block;
			margin-bottom: 15px;
		}
		.tooltip-area {
			font-size: 14px;
			font-family: Gilroy, Arial, sans-serif;
			font-style: unset;
			font-weight: 100;
			position: absolute;
			@include respond(large-up) {}
			.tooltip-box {
				display: none;
				position: absolute;
				bottom: 30px;
				left: 5%;
				width: 200px;
				background: $white;
				border: 1px solid #ccc;
				padding: 15px;
				z-index: 10001;
				@include respond(m-small) {
					left: 100%;
					margin: 0 0 0 -145px;
				}
				@include respond(large-up) {
					left: 100%;
					margin: 0 0 0 -145px;
				}
				&:after,
				&:before {
					top: 100%;
					left: 20%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					@include respond(m-small) {
						left: 50%;
					}
					@include respond(large-up) {
						left: 50%;
					}
				}
				&:after {
					border-color: rgba(255, 255, 255, 0);
					border-top-color: $white;
					border-width: 10px;
					margin-left: -10px;
				}
				&:before {
					border-color: rgba(204, 204, 204, 0);
					border-top-color: $very-light-gray;
					border-width: 11px;
					margin-left: -11px;
				}
				a {
					color: #0E11D6;
					text-decoration: none;
					&:hover {
						color: $crimson;
					}
				}
			}
		}
		.tooltip-opener {
			display: inline-block;
			.tooltip-price {
				display: inline-block;
				text-decoration: underline;
				&:hover {
					.tooltip-box {
						display: block;
					}
					&:after {
						position: absolute;
						background: transparent;
						bottom: 0;
						left: 100%;
						width: 70px;
						margin: 0 0 0 -70px;
						height: 150px;
						content: " ";
					}
				}
				@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
					float: right;
				}
				#tooltip {
					display: inline-block;
					text-decoration: underline;
				}
			}
		}
	}
	#try-in-store-results {
		.try-in-store-storelist {
			@include line-height(21px);
			padding-left: 0;
			display: flex;
			min-height: 430px;
			list-style: none;
			margin-bottom: 20px;
			.slick-arrow {
				border: 0;
				background: none;
			}
			.slick-arrow.slick-next {
				right: -20px;
				@include respond(large-down) {
					right: -11px;
				}
			}
			.slick-arrow.slick-prev {
				left: -20px;
				@include respond(large-down) {
					left: -11px;
				}
			}
			li {
				@include line-height(21px);
				display: flex;
				vertical-align: top;
				margin: 0 7.5px;
				flex: 1;
				position: relative;
				padding-bottom: 4em;
				border: solid 1px #cccccc;
				min-height: 430px;
				@include respond(large-down) {
					text-align: center;
				}
				&.preferred-store {
					border: solid 1px $algae;
					background-color: rgba(86, 176, 112, 0.19);
					.select-preferred-store {
						background-color: $algae;
					}
				}
				&:last-child {
					margin-right: 0;
				}
				.store-container {
					padding: 5%;
					flex: 1;
					.store-details {
						min-height: 32%;
						margin: 0 0 20px;
						.storename {
							@include font-size(15px);
							@include respond(large-down) {
								@include font-size(17px);
							}
							font-weight:bold;
							margin-bottom: 15px;
							height: 40px;
						}
						.storeaddress {
							height: 60px;
							@include respond(large-down) {
								@include font-size(17px);
							}
						}
						.distance {
							float: right;
							margin: 15px 0 10px;
							@include respond(large-down) {
								float: none;
								@include font-size(17px);
							}
							&:before {
								content: '';
								background-image: url('../images/interface/directions.png');
								background-repeat: no-repeat;
								display: inline-block;
								height: 18px;
								width: 18px;
								background-size: 100%;
								vertical-align: middle;
								margin-right: 2px;
							}
						}
					}
					.store-hours {
						float: left;
						@include respond(large-down) {
							float: none;
							@include font-size(17px);
						}
						.hours-title {
							font-weight: bold;
						}
					}
					.hours-actual {
						padding: 0 0 10px;
					}
				}
				span {
					display: block;
				}
				label {
					width: 100%;
					margin-top: 30px;
					.availability {
						font-weight: bold;
						float: left;
						text-align: center;
						width: 90%;
						position: absolute;
						bottom: 75px;
						@include respond(large-down) {
							@include font-size(17px);
						}
						.store-available,
						.store-try {
							color: $algae;
							@media only screen and (max-width: 668px) {
								margin-bottom: -20px;
							}
							img {
								margin-right: 5px;
								margin-top: -3px;
								display: inline;
							}
						}
						.store-unavailable {
							color: $dark-gray;
							@include respond(large-down) {
								bottom: 50px;
							}
						}
					}
				}
				.select-preferred-store {
					width: 90%;
					padding: 6px 0;
					text-align: center;
					position: absolute;
					bottom: 0;
					margin-bottom: 2em;
					border-radius: 2px;
					background-color: $crimson;
					@media only screen and (max-width: 668px) {
						margin-bottom: 1em;
					}
					&.disabled {
						opacity: .24;
						cursor: initial;
						box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
					}
					span {
						@include font-size(14px);
						color: $white;
						cursor: pointer;
					}
					input {
						display: none;
					}
				}
			}
		}
		.tryinstore-save {
			letter-spacing: -0.6px;
			color: #525252;
			span {
				font-weight: bold;
			}
		}
		button[type="submit"] {
			background-color: $algae;
			float: right;
			width: 303px;
			@media screen and (max-width: 320px) {
				width: 270px;
			}
			@include respond(large-down) {
				float: none;
				margin: 0 auto;
				display: block;
			}
			text-align: center;
			color: $white;
			text-transform: capitalize;
			border-radius: 2px;
			&[disabled="disabled"] {
				opacity: .3;
			}
		}
	}
	#SetPreferredStore {
		.location-details {
			width: 100%;
			margin-bottom: 1.5em;
			color: $black;
			span {
				@include font-size(16px);
			}
			a {
				margin-left: 20px;
				color: $summer-sky;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

#pdpMain.pdp-main-ab .product-listing-1x4 h2.callout-top{
		font-family: Gilroy Extrabold, Arial, sans-serif !important;
		text-transform: inherit !important;
		margin-bottom: 50px !important;
		line-height: 1;
}

#pdpMain.pdp-main-ab .product-detail .comfort-and-features.comfort_level_3{
	h1{margin-top: 0;}
}

#pdpMain.pdp-main-ab .product-detail .row-1{justify-content: space-between; flex-grow: 1;}
#pdpMain.pdp-main-ab .product-detail .row-1 #pdp-reviews{position: relative; right: -65px; min-height: 66px;}
#pdpMain.pdp-main-ab .product-detail .row-1 .pdp-promotions .brand-and-rating img{width: 150px; height: auto;}
#pdpMain.pdp-main-ab .product-detail .comfort-and-features .row-2 .row-2-right{top: auto; bottom: 18px;}
#pdpMain.pdp-main-ab .product-detail .row-1 .pdp-promotions .promotion .promotion-callout .bold{
	color: #d63426; font-family: Gilroy Extrabold, Arial, sans-serif !important; font-size: 15px;
}
#pdpMain.pdp-main-ab .product-listing-1x4 .product-tile-one .brand-and-rating .brand-name img{height: auto;}

@media (max-width:1199px) {

	#pdpMain.pdp-main-ab .red-carpet-delivery-pdp{flex-wrap: wrap; height: auto; margin: 0 -30px;    padding-top: 0px;}
	#pdpMain.pdp-main-ab .red-carpet-delivery-pdp .red-carpet-delivery{
		flex-basis: 100%; text-align: center; min-height: 150px;padding-top: 0;
	}	
	#pdpMain.pdp-main-ab .red-carpet-delivery-pdp img{margin:0 auto; max-width: 50px;}
	#pdpMain.pdp-main-ab .red-carpet-delivery-pdp .red-carpet-delivery .rcd-wrapper{display: block;}
	#pdpMain.pdp-main-ab .red-carpet-delivery-pdp .red-carpet-delivery .rcd-wrapper .rcd-text{text-align: center;font-size: 12px;}
	#pdpMain.pdp-main-ab .red-carpet-delivery-pdp .red-carpet-delivery .rcd-wrapper .rcd-heading{font-size: 24px;}
	#pdpMain.pdp-main-ab .red-carpet-delivery-pdp .feature-wrapper{
		flex-basis: 100%; 
		border-width:0; 
		padding: 25px 0px;
		position: relative;
	}
	#pdpMain.pdp-main-ab .red-carpet-delivery-pdp .feature-wrapper .feature-list{font-size: 16px;}
	#pdpMain.pdp-main-ab .red-carpet-delivery-pdp .feature-wrapper .read-details-link{
		display: block; text-align: center; font-size: 15px;
	}
	#pdpMain.pdp-main-ab .red-carpet-delivery-pdp .feature-wrapper .inner-wrapper{
		max-width: 300px; margin: 0 auto;
	}	

	#pdpMain.pdp-main-ab .product-listing h2{
				font-size: 37px;
				font-family: Gilroy Extrabold, Arial, sans-serif !important;
				text-transform: inherit !important;
    font-weight: 800;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
	}
	#pdpMain.pdp-main-ab .feature-section h1{margin-bottom: 30px;}
	
}

#pdpMain #product-content .product-add-to-cart select{
	height:50px;
	margin:0 0 24px;
	padding-right: 32px !important;
	option.white{
		color:#333 !important;
	}
}
@media (min-width: 768px) {
#pdpMain.pdp-main-ab .product-listing-1x4 .product-tile-one .brand-and-rating .brand-name.logo-black-12-park img {
	height: 60px !important;
    width: 60px !important;
    margin-left: 35px;
}
}

@media(min-width:768px){
	#pdpMain.pdp-main-ab .product-listing-1x4 .product-tile-one .brand-and-rating .brand-name{
		height: 50px !important;
		padding-left: 35px;
		img{height: auto !important; margin: 0 !important;}
	}
}

@media only screen and (max-width: 1025px) and (min-width: 767px) {
	#pdpMain.pdp-main-ab .pdp-images #amplience-main .slick-dots{
		text-align: center;
	}
}
@media (max-width:767px){
	#pdpMain.pdp-main-ab .pdp-images{max-width: 100%;}
	#pdpMain.pdp-main-ab .product-detail #product-content.product-content-ab .product-add-to-cart{width: 100%;margin-top: 0px;}
	#pdpMain.pdp-main-ab .pdp-images #amplience-main .slick-dots{
		top:auto !important; bottom: 25px;
	}
	#pdpMain.pdp-main-ab .product-detail .omni-channel-container {
		padding: 0 10px;
	}
	#pdpMain.pdp-main-ab .product-detail .omni-channel-container .store-picker #try-in-store .storename-wrap i{right: 15px;}
	#pdpMain.pdp-main-ab .product-detail .row-1,
	#pdpMain.pdp-main-ab .product-detail .row-2{
			padding: 0 15px; margin-left: 0; margin-right:0; 
	}
	#pdpMain.pdp-main-ab .product-detail{max-width: 100% !important; padding: 0 15px;}
	#pdpMain.pdp-main-ab .product-detail > section > .row{margin-left: 0; margin-right: 0;}
	#pdpMain.pdp-main-ab .product-detail > section > .row > .column{padding: 0;}
	#pdpMain.pdp-main-ab .product-detail .comfort-and-features {
			width: 100%;
			margin-left: 0;
	}
	#pdpMain.pdp-main-ab .product-detail .row-1 #pdp-reviews,
	#pdpMain.pdp-main-ab .product-detail .row-2 #pdp-reviews{right: -50px;}
	#pdpMain.pdp-main-ab .product-detail .comfort-and-features .h6{
		font-size: 24px !important;
		line-height: 1.17 !important;
		margin-top: 10px;
	}
	#pdpMain.pdp-main-ab .product-detail .comfort-and-features .row-2 .row-2-right {
			position: absolute;
			right: 15px;
			bottom: 5px; top: auto;
	}
	#pdpMain.pdp-main-ab .product-detail #product-content.product-content-ab{padding: 0; margin: 0;}
	#pdpMain.pdp-main-ab .product-detail #product-content.product-content-ab .pdpForm{width: 100%;}

	#pdpMain.pdp-main-ab .product-detail #product-content.product-content-ab .product-add-to-cart .product-actions-wrap
		{
		width: calc(100% + 30px);
    	margin-left: -15px;
    	height: 80px;
    	.availability-web {
    		line-height: 1;
    		padding: 7px 0;
    		.value {
    			label {line-height: 1;}
    			.availability-msg .in-stock-msg{
    				p {
    					line-height: 1;
    				}
    			}
    		}
    	}
    }

	#pdpMain.pdp-main-ab .product-detail #product-content.product-content-ab .product-add-to-cart .product-actions-wrap{width: calc(100% + 30px);
	line-height: 1;
    margin-left: -15px;}

	#pdpMain ul.pdp-tabs > li:after{z-index: 2;}

	#pdpMain.pdp-main-ab .product-listing-1x4 .product-image .thumb-link img{
		width: 312px !important;
	}

	.recs-container .search-result-items .product-tile-one{max-width: 400px; margin: 0 auto;}
	.search-result-items .name-link{height: auto !important; margin-bottom: 5px !important; }
	#pdpMain.pdp-main-ab .product-listing-1x4 .product-tile-one .product-name .name-link-text{
			font-size: 25px !important;
	}
	#pdpMain.pdp-main-ab .product-listing-1x4 .product-tile-one .brand-and-rating .brand-name img {
		width: auto;
		height: 50px !important;
		padding-left: 0px;
}
	#pdpMain.pdp-main-ab .product-listing-1x4 .clp-product-reviews,
	#pdpMain.pdp-main-ab .product-listing-1x4 .product-price{max-width: 400px; margin: 0 auto;}
	#pdpMain.pdp-main-ab .features-wrap .slick-list .feature .feature-content-caption .feature-details p{display: block;}

	#pdpMain.pdp-main-ab .features-wrap .slick-list .feature{
		&:hover{
				background-color: #f1f1f2;
				color: #323030;
				-webkit-transform: translateY(0px);
				transform: translateY(0);
		}
		&.slick-current{
			background-color: #323030;
			color: #fff;
			.feature-content-caption .feature-details{
				h3,p{color: #fff;	}
			} 
			.red-svg {display: none;}
			.white-svg {display: block;}
		}
	}
	#pdpMain.pdp-main-ab .product-detail .comfort-and-features .row-2 .row-2-left{width: 100%;}
	#pdpMain.pdp-main-ab .product-detail .comfort-and-features.comfort_level_3 h1{margin-bottom: 20!important;}
	#pdpMain.pdp-main-ab .product-detail .row-1{padding-bottom: 10px;}
	#pdpMain.pdp-main-ab .product-detail .row-1 #pdp-reviews{
		position: absolute;
		right: -40px;
	}
	#pdpMain ul.pdp-tabs-content{
		padding: 0 15px;
		.pdp-tab-title{
			font-size: 18px; font-weight: 600; line-height: 1.17; font-family: Gilroy SemiBold;
			&.expand {
					span.arrow{
						&:before{content: none;}
						&:after{
							content: '\f107';
							font-family: FontAwesome;
							border:none;
							top: 4px; 
							color: #d63426;
						}
				}
				&.open{
					span.arrow{
						transform: rotate(0deg);
						&:before{
							transform: rotate(180deg);
						}
					}
				}
			}
		}
	}

}

@media(max-width:399px){
	#pdpMain.pdp-main-ab .product-listing-1x4 .product-image .thumb-link img{
		width: 100% !important;
	}
	#pdpMain.pdp-main-ab .product-listing-1x4 .product-price,
	#pdpMain.pdp-main-ab .product-listing-1x4 .clp-product-reviews{padding-left:  0 !important;}
	#pdpMain.pdp-main-ab .product-listing-1x4 .product-tile-one,
	#pdpMain.pdp-main-ab .product-listing-1x4 .product-tile-one .product-name,
	#pdpMain.pdp-main-ab .product-listing-1x4 .product-tile-one .brand-and-rating .brand-name img{padding-left:0 !important;}
}




