.pt_product-details #main {
	padding: 0;

	.primary-content {
		padding-bottom: 0;
	}

	.search-result-items .product-tile {
		border-bottom: none !important;
	}
}

#pdpMain {
	padding-top: 50px;
		
	// not my fault
	.bv-cv2-cleanslate .bv-summary-bar-minimalist-horizontal .bv-write-container,
	.bv-cv2-cleanslate .bv-summary-bar-minimalist-horizontal .bv-read-container,
	.bv-cv2-cleanslate .bv-summary-bar-minimalist .bv-write-container .bv-submission-button.bv-write-review,
	.bv-cv2-cleanslate .bv-summary-bar-minimalist .bv-read-container .bv-submission-button.bv-write-review {
		display: none !important;
	}

	.bv-cv2-cleanslate .bv-summary-bar .bv-rating-ratio-number,
	.bv-cv2-cleanslate .bv-summary-bar .bv-rating-ratio-count {
		padding: 0 !important;
	}

	.bv-header .bv-action-bar {
		padding: 20px 10px !important;
	}

	.bv-cv2-cleanslate  .bv-summary-bar .bv-rating-ratio-count,
	.bv-cv2-cleanslate  .bv-summary-bar .bv-rating.bv-text-link {
		font-size: 16px !important;
		line-height: 16px !important;
	}

	.pdp-product-carousel {
		padding-top: 50px;
		padding-bottom: 50px;
	}

  .product-listing {
    margin: 50px 0;
    border-top: none;

    h2 {
      margin: 0 0 36px !important;
      font-family: $g-bold;
      font-size: 20px;
      line-height: 24px;
      text-align: left;
    }

    @include breakpoint(small down) {
      margin: 20px 0;
      padding: 0;
    }
  }

  #product-content {
		.product div.label,
		div.label label,
		li.option-dropdown label {
			padding-right: 5px;
			display: inline-block;
		}

		span.tooltip {
			top: 4px;
			display: inline-block;
			margin: 0;
			width: 18px;
			height: 18px;
			background-image: url(../images/help-icon-black.svg);
			background-repeat: no-repeat;
			background-size: contain;
		}

		li.option-dropdown span.tooltip {
			position: relative;
		}

		.product-variations li.attribute {
			position: relative;
		}

		.pdp-delivery-wrapper {
			span.tooltip {
				display: none;
			}
		}

    .store-picker {
			padding-top: 20px;
			margin-top: 20px;
			border-top: 1px solid $medium-gray;
      display: none;

      @include breakpoint(small down) {
        display: block;
      }
    }
  }

  @include breakpoint(small down) {
    .pdp-images {
      .store-picker {
        display: none;
      }
    }
  }
  @include breakpoint(large down) {
  	.product-video-overlay-container {
  		float: right;
	    position: relative;
	    top: -18px;
	    z-index: 1000;
	  	.product-video-overlay {
		    .pdp-play-video {
		    	font-size: 13px;
			    color: #054864;
			    font-weight: 700;
			    &:before {
					content: '';
					display: inline-block;
					width: 20px;
					height: 22px;
					vertical-align: bottom;
					background: url(../images/interface/sprite.png) no-repeat -20px -237px;
				}
			    span {
				    margin-left: 7px;
			    }
		    }
	  	}
	}
  }
}

#store-picker-enter-zip {
	.try-in-store-list-container {
		.try-in-store-list {
			padding-left: 0;
			text-align: center;
			li {
				display: inline-block;
				width: 32%;
				vertical-align: top;
				&:last-child {
					width: 27%;
					margin-left: 10px;
				}
				@include respond(small-updated) {
					width: 100%;
					margin-bottom: 0px;
				}
				.form-select {
					.field-wrapper {
						float: left;
						width: 100%;
						position: relative;
						&:after {
							border: solid black;
							border-width: 0 1px 1px 0;
							display: inline-block;
							padding: 3px;
							transform: rotate(45deg);
							-webkit-transform: rotate(45deg);
							content: " ";
							right: 11px;
							top: 15px;
							position: absolute;
						}
					}
				}
			}
			input {
				border-radius: 0px;
			}
			select {
				height: 2.4rem;
				border: solid 1px #ccc;
			}
			button {
				text-transform: capitalize;
				margin-top: 34px;
				min-width: 140px;
				max-width: 200px;
				width: 100%;
				@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
					min-width: 100px;
					margin-left: -8px;
				}
				@media screen and (max-device-width: 480px) {
					min-width: 100px;
					margin-left: -8px;
				}
				@media screen and (max-width: 320px) {
					min-width: 90px;
					margin-left: -8px;
					margin-top: 55px;
				}
				@include respond(small-updated) {
					margin: 0px 0px 0px 75px;
				}
			}
			label {
				@include font-size(12px);
				width: auto !important;
			}
		}
		.form-row {
			display: inline-block;
			list-style-type: none;
			width: 94%;
		}
	}
}

.product-financing {
	margin-top: 10px;

	&.tooltip-range {
		display: block;
		margin-bottom: 15px;
	}
	.tooltip-area {
		font-size: 14px;
		font-family: Gilroy, Arial, sans-serif;
		font-style: unset;
		font-weight: 100;
		position: absolute;
		@include respond(large-up) {
		}
		.tooltip-box {
			display: none;
			position: absolute;
			bottom: 30px;
			left: 5%;
			width: 200px;
			background: $white;
			border: 1px solid #ccc;
			padding: 15px;
			z-index: 10001;
			@include respond(m-small) {
				left: 100%;
				margin: 0 0 0 -145px;
			}
			@include respond(large-up) {
				left: 100%;
				margin: 0 0 0 -145px;
			}
			&:after,
			&:before {
				top: 100%;
				left: 20%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				@include respond(m-small) {
					left: 50%;
				}
				@include respond(large-up) {
					left: 50%;
				}
			}
			&:after {
				border-color: rgba(255, 255, 255, 0);
				border-top-color: $white;
				border-width: 10px;
				margin-left: -10px;
			}
			&:before {
				border-color: rgba(204, 204, 204, 0);
				border-top-color: $very-light-gray;
				border-width: 11px;
				margin-left: -11px;
			}
			a {
				color: #0E11D6;
				text-decoration: none;
				&:hover {
					color: $crimson;
				}
			}
		}
	}
	.tooltip-opener {
		display: inline-block;
		.tooltip-price {
			display: inline-block;
			text-decoration: underline;
			&:hover {
				.tooltip-box {
					display: block;
				}
				&:after {
					position: absolute;
					background: transparent;
					bottom: 0;
					left: 100%;
					width: 70px;
					margin: 0 0 0 -70px;
					height: 150px;
					content: " ";
				}
			}
			@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
				float: right;
			}
			#tooltip {
				display: inline-block;
				text-decoration: underline;
			}
		}
	}
}

#try-in-store-results {
	.try-in-store-storelist {
		@include line-height(21px);
		padding-left: 0;
		display: flex;
		min-height: 430px;
		list-style: none;
		margin-bottom: 20px;
		.slick-arrow {
			border: 0;
			background: none;
		}
		.slick-arrow.slick-next {
			right: -20px;
			@include respond(large-down) {
				right: -11px;
			}
		}
		.slick-arrow.slick-prev {
			left: -20px;
			@include respond(large-down) {
				left: -11px;
			}
		}
		li {
			@include line-height(21px);
			display: flex;
			vertical-align: top;
			margin: 0 7.5px;
			flex: 1;
			position: relative;
			padding-bottom: 4em;
			border: solid 1px #cccccc;
			min-height: 430px;
			@include respond(large-down) {
				text-align: center;
			}
			&.preferred-store {
				border: solid 1px $algae;
				background-color: rgba(86, 176, 112, 0.19);
				.select-preferred-store {
					background-color: $algae;
				}
			}
			&:last-child {
				margin-right: 0;
			}
			.store-container {
				padding: 5%;
				flex: 1;
				.store-details {
					min-height: 32%;
					margin: 0 0 20px;
					.storename {
						@include font-size(15px);
						@include respond(large-down) {
							@include font-size(17px);
						}
						font-weight:bold;
						margin-bottom: 15px;
						height: 40px;
					}
					.storeaddress {
						height: 60px;
						@include respond(large-down) {
							@include font-size(17px);
						}
					}
					.distance {
						float: right;
						margin: 15px 0 10px;
						@include respond(large-down) {
							float: none;
							@include font-size(17px);
						}
						&:before {
							content: '';
							background-image: url('../images/interface/directions.png');
							background-repeat: no-repeat;
							display: inline-block;
							height: 18px;
							width: 18px;
							background-size: 100%;
							vertical-align: middle;
							margin-right: 2px;
						}
					}
				}
				.store-hours {
					float: left;
					@include respond(large-down) {
						float: none;
						@include font-size(17px);
					}
					.hours-title {
						font-weight: bold;
					}
				}
				.hours-actual {
					padding: 0 0 10px;
				}
			}
			span {
				display: block;
			}
			label {
				width: 100%;
				margin-top: 30px;
				.availability {
					font-weight: bold;
					float: left;
					text-align: center;
					width: 90%;
					position: absolute;
					bottom: 75px;
					@include respond(large-down) {
						@include font-size(17px);
					}
					.store-available,
					.store-try {
						color: $algae;
						@media only screen and (max-width: 668px) {
							margin-bottom: -20px;
						}
						img {
							margin-right: 5px;
							margin-top: -3px;
							display: inline;
						}
					}
					.store-unavailable {
						color: $dark-gray;
						@include respond(large-down) {
							bottom: 50px;
						}
					}
				}
			}
			.select-preferred-store {
				width: 90%;
				padding: 6px 0;
				text-align: center;
				position: absolute;
				bottom: 0;
				margin-bottom: 2em;
				border-radius: 2px;
				background-color: $crimson;
				@media only screen and (max-width: 668px) {
					margin-bottom: 1em;
				}
				&.disabled {
					opacity: .24;
					cursor: initial;
					box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
				}
				span {
					@include font-size(14px);
					color: $white;
					cursor: pointer;
				}
				input {
					display: none;
				}
			}
		}
	}
	.tryinstore-save {
		letter-spacing: -0.6px;
		color: #525252;
		span {
			font-weight: bold;
		}
	}
	button[type="submit"] {
		background-color: $algae;
		float: right;
		width: 303px;
		@media screen and (max-width: 320px) {
			width: 270px;
		}
		@include respond(large-down) {
			float: none;
			margin: 0 auto;
			display: block;
		}
		text-align: center;
		color: $white;
		text-transform: capitalize;
		border-radius: 2px;
		&[disabled="disabled"] {
			opacity: .3;
		}
	}
}

#SetPreferredStore {
	.location-details {
		width: 100%;
		margin-bottom: 1.5em;
		color: $black;
		span {
			@include font-size(16px);
		}
		a {
			margin-left: 20px;
			color: $summer-sky;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
}