img.ajax-loader {
    display: none;
}
input.exacttarget-email {
    width: 30%;
    height: 40px;
    border-radius: 15px;
    background: #fafafa;
    border: 1px solid #d9d9d9;
    font-size: 13px;
    font-size: 0.8125rem;
    padding: 0 10px;
    margin-right: 10px;
}
input.error {
    color: #e5173e !important;
    font-size: 14px !important;
}
input.error::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #e5173e !important;
}
input.error::-moz-placeholder { /* Firefox 19+ */
    color: #e5173e !important;
}
input.error:-ms-input-placeholder { /* IE 10+ */
    color: #e5173e !important;
}
input.error:-moz-placeholder { /* Firefox 18- */
    color: #e5173e !important;
}
a.email-tryagain {
    color: #e5173e;
    font-size: 24px;
}