@import url("//hello.myfonts.net/count/2f0a31");

  
@font-face {font-family: 'FFDINWebPro';src: url('webfonts/2F0A31_0_0.eot');src: url('webfonts/2F0A31_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2F0A31_0_0.woff2') format('woff2'),url('webfonts/2F0A31_0_0.woff') format('woff'),url('webfonts/2F0A31_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ThirstySoftLight';src: url('webfonts/2F0A31_1_0.eot');src: url('webfonts/2F0A31_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2F0A31_1_0.woff2') format('woff2'),url('webfonts/2F0A31_1_0.woff') format('woff'),url('webfonts/2F0A31_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ThirstySoftRegular';src: url('webfonts/2F0A31_2_0.eot');src: url('webfonts/2F0A31_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2F0A31_2_0.woff2') format('woff2'),url('webfonts/2F0A31_2_0.woff') format('woff'),url('webfonts/2F0A31_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ThirstySoftRegular-Bold';src: url('webfonts/2F0A31_3_0.eot');src: url('webfonts/2F0A31_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2F0A31_3_0.woff2') format('woff2'),url('webfonts/2F0A31_3_0.woff') format('woff'),url('webfonts/2F0A31_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ThirstySoftBlack';src: url('webfonts/2F0A31_4_0.eot');src: url('webfonts/2F0A31_4_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2F0A31_4_0.woff2') format('woff2'),url('webfonts/2F0A31_4_0.woff') format('woff'),url('webfonts/2F0A31_4_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ThirstySoftMedium';src: url('webfonts/2F0A31_5_0.eot');src: url('webfonts/2F0A31_5_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2F0A31_5_0.woff2') format('woff2'),url('webfonts/2F0A31_5_0.woff') format('woff'),url('webfonts/2F0A31_5_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ThirstySoftExtrabold';src: url('webfonts/2F0A31_6_0.eot');src: url('webfonts/2F0A31_6_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2F0A31_6_0.woff2') format('woff2'),url('webfonts/2F0A31_6_0.woff') format('woff'),url('webfonts/2F0A31_6_0.ttf') format('truetype');}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?u87w4y');
  src:  url('fonts/icomoon.eot?u87w4y#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?u87w4y') format('truetype'),
    url('fonts/icomoon.woff?u87w4y') format('woff'),
    url('fonts/icomoon.svg?u87w4y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}