/*--Prodcut carousel styles
----------------------------------*/
.pdp-product-carousel{
 &.cat-carousel-wrapper{
  max-width: 1180px;
  margin: 0 auto;
  .banner-button{
   text-align: center;
   margin-bottom: 80px;
   @media(max-width:767px){
    display: none;
   }
   .button{
    border-radius: 5px;
    font-family: $r-semibold;
    font-weight: 600;
    font-size: 16px; 
    text-transform: uppercase;
    display: block;
    max-width: 342px;
    margin: 0 auto;
    @media(max-width:767px){
     display: none;
    }
   }
  }
  .product-listing h2{
   text-transform: capitalize; font-size: 28px;
   font-family: $r-bold;
   font-weight: 800;
  }
  .product-listing-1x4{
   @media(max-width:767px){
    padding: 15px 0 30px;
   }
   h2{
    text-transform: capitalize; font-size: 28px;
    font-family: $r-bold;
    font-weight: 800;
   }
   border: none;
   .clp-product-reviews{text-align: left;}
   .slick-dots{
     li{
      border:none;
      background-color: #c6c8ca; width: 10px; height: 10px; border-radius: 100%;
      button{background: none; width: 10px; height: 10px; margin-top: 0;}
      &.slick-active{
       button{background-color: #d63426; border-radius: 100%;}
      }
     }
    }
   } 
  }  
 }

.comfort-landing-product-carosusel .cat-landing-beds-and-frames .product-listing-1x4 
.recs-slider .grid-tile .product-price .has-sale-price {
  color: #626366;
}

.comfort-landing-product-carosusel {
  @include respond(medium) {
    .clp-product-reviews {}
    .cat-landing-beds-and-frames {
      margin-bottom: 60px !important;
    }
  }
}
.pt_categorylanding .cat-landing-beds-and-frames .product-tile-one .product-name,
.pt_categorylanding .cat-landing-beds-and-frames .product-tile-one .product-name .name-link {
  height: 100%;
}

  .pt_categorylanding .mattress-finder .banner-wrapper{
    .banner-button {
      .button{
        border-radius: 4px;
      }
    }
  }

  @media(max-width:1199px){
    .pt_categorylanding .foundation-facts .facts-wrap .fact{ width: 50%;}
  }
  @media screen and (max-width: 1199px) and (min-width: 768px) {
    .foundation-facts .facts-wrap .fact {
      margin-bottom: 150px !important;
    }
    .foundation-facts .facts-wrap .fact .fact-content {
      height: 250px !important;
    }
  }
  @media(max-width:767px){
    .pt_categorylanding .foundation-facts .facts-wrap .fact{ width: 100%;}
  }
  
   .tabs-shop-by-comfort ul li.activeLinkitem {
    @include respond(medium) {
	   margin-bottom: -5px;
	   margin-top: -5px;
	   background-color: white;
	   border-radius: 5px;
	   box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
   }
  }
  .tabs-shop-by-comfort ul li.activeLinkitem:hover{
  	transition: all 0s ease;
  	a {border-color: transparent;}
  } 

  @media(max-width:767px) {
    .pt_categorylanding .comfort-landing-product-carosusel .cat-landing-beds-and-frames .product-image .thumb-link img {
      width: 100% !important;
    }
    .pt_categorylanding .comfort-landing-product-carosusel .cat-landing-beds-and-frames .brand-name img {
      margin-left: 0;
    }
    .pt_categorylanding .comfort-landing-product-carosusel .cat-landing-beds-and-frames .product-tile-one {
      padding-left: 0 !important;
    }
    .pt_categorylanding .comfort-landing-product-carosusel .cat-landing-beds-and-frames .product-price {
      padding-left: 0 !important;
    }
    .pt_categorylanding .comfort-landing-product-carosusel .cat-landing-beds-and-frames .clp-product-reviews {
      padding-left: 0 !important;
    }
  }

 

