@import "comfortlanding";

#main {
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		padding-top: 0 !important;
	}
}
.header-top-new { 
	@include respond(large-down) {
		display: none;
	}
}
.header-top-new ~ #main {
	@include respond(large) {
		//padding-top: 214px !important;
	}
}
.header-top-new ~ .header-countdown ~ #main {
	@include respond(large) {
		padding-top: 152px !important;
	}
}

#pdp-tabs {
	.pdp-tab-column {
		li[data-pdp-tab-content="2"] {
			margin: 0 auto;
			&.new-pdp {
				@include respond(medium) {
					max-width: 700px;
				}
				@include respond(x-large) {
					max-width: 980px;
				}
			}
		}
		li[data-pdp-tab-content="3"] {
   			text-align: center;
  		}
	}
}

#pdpMain {
	#pdp-tabs {
		.pdp-tab-content{font-size: 16px; line-height: 1.5;}
		[data-pdp-tab-content="2"] {
			.pdp-specs.pdp-old-right {
			    float: none;
			    ul > strong{font-size: 16px; margin-bottom: 0px;}
			    ul li {font-size: 16px; line-height: 1.5; margin-bottom: 0px;}
			    ul span:nth-of-type(n+2) {
			    	display: inline-block;
			    	margin-top: 10px;
			    }
				&.left {
					padding: 0;
					width: 100% !important;
				}
			}
	
			.pdp-specs {
			    float: none;
			    color: #4d4d4d;
			    ul > strong{font-size: 16px;margin-bottom: 20px; font-weight: 600;}
			    ul li {font-size: 16px; line-height: 1.5; list-style: none; margin-left: 0 !important;}
				&.left {
					padding: 0;
					width: 100% !important;
				}
				.column, .columns {
					@include respond(medium) {
			    padding-right: 1.25rem;
			    padding-left: 1.25rem;
			    }
				}
			}
		}
	}
	.product-listing .product-tile {
		width: 100%;
		.product-tile-one {
			padding: 10px 15px 25px 15px;
			.product-name .name-link{
			    height: 67px;
			    display: -webkit-box;
			    max-width: 100%;
			    margin: 0 auto;
			    font-size: 15px;
			    line-height: 1.25;
			    -webkit-line-clamp: 3;
			    -webkit-box-orient: vertical;
			    overflow: hidden;
			    text-overflow: ellipsis;
				text-decoration: none;
				color: $charcoal;
				.name-link-text{
					height: 100%;
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					font-size: 18px;
					font-family: $r-regular;
					font-weight: 400;
				}
			}
		}
		.clp-product-reviews {
			margin-top: 10px;
		}
	}	
	.product-listing .product-tile-one .product-name + .product-name{	
		.name-link {
			.name-link-text {
				height: auto;
		    vertical-align: top;
		    padding-top: 5px;
			}
		}
	}
}

#pdpMain.pdp-main-ab .feature-section{
	width: 100%;
	margin-left: 0;
}


/* AB test pdp page */
.pdp_abtest{
	&.order_change{
		display: flex;
		flex-direction: column;
		.red-carpet-delivery-pdp{
			order: 2;
		}
		.feature-section{
			&.spotlight{
				order: 3;
			}
		}
		.feature-section{
			order: 1;
		}
		// Hide heading for Details and Specs only
		.feature-section__details-and-specs {
			@media only screen and (max-width: 767px){
				h1{ display: none}
			}
		}
	}
}


