.amp-stack,.amp-carousel,.amp-spin{
	list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.amp-slide {
    display: block;
    float: left;
    height: 100%;
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 100%;
}

#amplience-main {
    position: relative; 

    .slick-dots {        
        margin-top: 13px;
        margin-bottom: 13px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        display: block;
        @include respond(medium){
            text-align: left;
            display: none !important;
        }

        li {
            background:none;
            border:2px solid $white;
        }
        button {
            background:none;
        }
        .slick-active {
            background: $white;
            button {
                background: $white;
            }
        }
    }

    .slick-arrow {
        background: none;
        position: absolute;
        left:30px;
        height: 30px;
        z-index: 99;
        margin: -17px 0 0;
        top: calc(50% - 43px);
        line-height: 0;
        width: 30px; 
        height: 34px;
        border:0;
        box-shadow: none;
        font-size: 0;
        &:after {
            display: inline-block;
            vertical-align: top;
            content: "\f053";
            text-indent: 0px;
            line-height: 34px;
            font-size: 34px;
            left: -3px;
            color: $t-concrete;
            top: -4px;
            font-family: "FontAwesome";
        }

        &:hover{
            &:after{
                color: $black;
            }
        }

        &.slick-next {
            left: auto;
            right: 30px;
            &:after {
                content: "\f054";
            }
        }
    }

    .slick-list {
        border: none;
        padding: 0;
        font-size: 0;
    }
}

#amplience-nav {
    display: none;
	@include respond(medium) {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba($white,0.9);
        padding:13px 0 4px;
        display: block;
        .slick-slide {
            margin:0 16px 0 0;
            border: $border;
            cursor: pointer;
			@include respond(large-up) {
			 	position: relative;
			}
            &.slick-current {
                &:after {
                    border-bottom: 4px solid $magenta;
                    content: '';
                    display: inline-block;
                    width: auto;
                    position: absolute;
					left: -1px;
                    right: -1px;
                    bottom: -6px;
                }
            }

            &:hover{
                &:after {
                    border-bottom: 4px solid $magenta;
                    content: '';
                    display: inline-block;
                    width: auto;
                    position: absolute;
                    left: -1px;
                    right: -1px;
                    bottom: -6px;
                }
            }
            > div {
                font-size: 0;
            }
        }
        .slick-list {
            padding-bottom: 10px;
            margin: 0;
        }

        img {
            width: 100%;
        }
        .slick-slide {
            img {
                width: 91px;
                height: 57px;
            }
         }
    }

    @include respond(large) {
        .slick-list {
            margin: 0;
        }       
    }


    .slick-arrow.slick-next {
        right: 0;
    }

    .slick-arrow.slick-prev {
        left: 0;
    }


    .slick-arrow {
        background: none;
        position: absolute;
        left:30px;
        height: 30px;
        z-index: 99;
        margin: -17px 0 0;
        top: 50%;
        line-height: 0;
        width: 30px; 
        height: 34px;
        border:0;
        box-shadow: none;
        font-size: 0;
        opacity: 0;
        &:after {
            display: inline-block;
            vertical-align: top;
            content: "\f053";
            text-indent: 0px;
            line-height: 34px;
            font-size: 34px;
            left: -3px;
            color: $t-concrete;
            top: -4px;
            font-family: "FontAwesome";
        }

        &:hover{
            &:after{
                color: $black;
            }
        }

        &.slick-next {
            left: auto;
            right: 8px;
            &:after {
                content: "\f054";
            }
        }
    }
    &:hover {
        .slick-arrow {
            opacity: 1;
        }
    }
}

.amp-zoom-container {
    overflow: hidden;
    position: relative;
    
    img{
    	display:inline-block;
        width: auto !important;
        height: auto !important;
        @include respond(medium) {
            &.amp-main-img {
                //height: 581px !important; 
                width: auto;
            }
        }
    }
}
.amp-zoom-img {
    height: auto;
    max-width: 100%;
    position: absolute;
    vertical-align: middle;
    width: 100%;
    z-index: 10;
}
.amp-main-img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    width: 100%;
}
.amp-zoom-overflow {
    overflow: hidden;
    position: relative;
    text-align: center;
}
.amp-zoom, .amp-zoomed, .amp-zoomed-container {
    -moz-user-select: none;
}
.amp-zoom-wrapper {
    z-index: 100;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.col-1{
	#amplience-main{
        padding-bottom: 0;
        border-bottom: none;

        @include respond(large-up) {
            border: 0;
        }
	}	
}


.amplience-viewer{
    position:relative;
   // min-height: 260px;
    @include respond(medium) {
        min-height: 290px;
    }
    @include respond(large) {
        min-height: 391px;
    }
    @include respond(x-large) {
        min-height: 548px;
    }
    //background: linear-gradient(to bottom, #8c1849, #e51870 33%, #e71f6a 59%, $t-orange);
}

.pdp-main{
    &.soft{
        .amplience-viewer{
            //background: radial-gradient(circle at 50% 28%, #f69719, $t-orange);
        }

        #amplience-nav {
            .slick-slide {
                &.slick-current {
                    &:after {
                        border-color: $orange;
                    }
                }

                &:hover{
                    &:after {
                         border-color: $orange;
                    }
                }
            }
        }

    }

    &.medium{
        .amplience-viewer{
           //background: $t-amaranth;
        }
    }

    &.firm{
        .amplience-viewer{
            //background: $burgundy;
        }

        #amplience-nav {
            .slick-slide {
                &.slick-current {
                    &:after {
                        border-color: $burgundy;
                    }
                }

                &:hover{
                    &:after {
                         border-color: $burgundy;
                    }
                }
            }
        }
    }
}
