@import "global/essentials";

/* Search Page Styles */
.pt_account {
  h1 {
    position: relative;
    padding-top: 36px !important;
    margin-top: 0;
    @include line-height(26px);
  }
  .primary-content {
    @include respond(medium) {
      width: calc(100% - 272px);
      margin-top: calculateRem(13px);
    }

    @include respond(large-only) {
      width: calc(100% - 230px);
    }
    .search-order-screen {
      .order-page {
        float: left;
        width: 50%;
        margin-right: 5%;

        @media screen and (max-width: 1024px) {
          width: 100%;
          margin-right: 0;
        }

        @media screen and (max-width: 767px) {
          margin-top: 15px;
        }
      }
      .create-account {
        position: absolute;
        width: 36%;
        right: 0;
        top: 80px;
        display: inline-block;
        border-radius: 10px;
        background-color: #f1f1f2;
        padding: 35px 30px;
        padding-top: 33px;

        .account-heading {
          font-size: 18px;
          font-weight: 600;
          text-align: center;
          margin-top: 0px;
        }

        .account-body {
          line-height: 1.56;
          text-align: center;
        }

        .create-account-button {
          border-radius: 3px;
          border: solid 1px #d63426;
          background-color: #ffffff;
          font-size: 16px;
          color: #d63426;
          width: 161px;
          margin: 0 auto;
          display: block;
        }

        @media screen and (max-width: 1024px) {
          position: relative;
          width: calc(100% - 60px);
          margin-top: 20px;
          top: 0;
        }
      }
    }
  }
  .searchorders-result {
    margin-top: 40px;
    @media screen and (max-width: 1024px) {
      margin-top: 0;
    }
    .search-results {
      font-size: 24px;
      font-weight: normal;
      border-bottom: 1px solid #323030;
      padding-bottom: 5px;
      margin-bottom: 20px;
      margin-top: 0;
    }
    .make-payment {
      height: 40px;
      border-radius: 3px;

      @media screen and (max-width: 1024px) {
        width: 100%;
      }

      &:hover {
        color: white;
        background-color: #c02f22;
      }
    }
  }
  #secondary {
    background: none;
    padding-top: calculateRem(20px);
    margin-top: calculateRem(30px);
    .account-nav-asset {
      .account-nav-text {
        p {
          font-size: 16px;
          line-height: 1.63;
        }
      }
      p {
        padding: 0;
        @include font-size(12px);
        @include line-height(20px);
        @include respond(medium) {
          padding: 4px 0;
        }
      }
    }
    .account-nav-text {
      h2 {
        font-family: $r-regular;
        text-transform: none;
        font-size: 18px;
        font-weight: 600;
        padding: 0;
        color: $red;
        line-height: 25px;
      }
      p {
        font-family: $r-regular;
        font-size: 16px;
        color: $black;
        line-height: 1.63;
        @include respond(medium) {
          padding: 4px 0;
        }
      }
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
    @include respond(medium) {
      min-height: 650px;
      clear: none;
      margin-top: calculateRem(10px);
      padding-top: 0;
    }
  }
}

.pt-order-page {
  .payment-billing-page {
    .no-search-found {
      @include respond(large-down) {
        padding: 20px;
      }
    }
  }
  .no-search-found.isPaid {
    background: #fff8df;
    padding-bottom: 10px;

    @include respond(large-down) {
      padding-bottom: 20px;
    }

    span {
      @include respond(large) {
        vertical-align: middle;
      }
    }

    img {
      @include respond(large-down) {
        float: left;
        margin: 8px 13px 0px 0px;
      }
    }
  }
  .btn.primary {
    font-family: $r-semibold;
    max-width: 190px;
    border-radius: 3px;
    height: 40px;
    line-height: 20px;
    margin-top: 10px;

    &:focus {
      color: $white;
    }
  }

  .paid-full-back {
    margin: 0 auto;
    display: block;
    max-width: 224px !important;
    font-size: 16px;
    margin-top: 40px !important;
    padding-top: 10px;

    @include respond(large-down) {
      max-width: 100% !important;
      margin-top: 60px !important;
    }
  }
  p {
    font-family: $r-regular;
    font-size: 16px;
    color: $black;

    &.text-red {
      color: $red;
    }
  }
  .small-heading {
    font-family: $r-semibold;
    border-bottom: solid 1px $light-gray;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: $steel;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
  }
  .bb-heading {
    border-bottom: 1px solid $black;
    padding-bottom: 7px;
  }
  .secondary-heading {
    font-family: $r-regular;
    font-size: 24px;
    color: $black;
    font-weight: normal;
    text-transform: none;
    line-height: 25px;
    margin-bottom: 0;
  }
  .input-text,
  .input-select,
  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="tel"] {
    font-family: $r-semibold;
    font-size: 16px;
    font-weight: 600;
    color: $input-black;
    height: 54px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px $pale-grey;
  }
  .breadcrumb {
    padding-bottom: 15px;
    background: #fff;
  }
  .searchorder-page {
    .cols-fields-wrap {
      margin: 0 -15px;

      .form-input {
        padding: 0 15px;

        label {
          font-family: $r-regular;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 600;
          color: $steel;
          padding-bottom: 5px;
          max-width: 100% !important;
        }

        .field-wrapper {
          max-width: 100%;
        }

        .checkout-button {
          font-family: $r-semibold;
          width: 100%;
          height: 40px;
          margin-top: 0px;
          border-radius: 3px;

          @media only screen and (max-width: 64em) {
            margin-top: 0;
            margin-bottom: 30px;
          }

          &:focus,
          &:hover {
            color: $white;
            background-color: #c02f22;
          }
        }
      }
    }

    .error {
      font-family: $r-semibold;
      font-size: 16px;
    }

    .searchorders-result {
      .result-row {
        margin-bottom: 30px;

        p {
          margin: 8px 0;
        }
      }
    }
  }
  .no-search-found {
    font-family: $r-regular;
    font-size: 15.5px;
    line-height: 25px;
    color: #323030;
    background: rgba(214, 52, 38, 0.1);
    padding: 10px;

    .fa-warning {
      color: #d63426;
      font-size: 23px;
      float: left;
      margin: 4px 6px 0 auto !important;
    }

    .error-msg {
      display: table-cell;

      a {
        text-decoration: underline !important;
      }
    }

    img {
      vertical-align: middle;
    }
  }
  .primary-heading {
    font-family: $r-regular;
    font-size: 30px;
    font-weight: 600;
    color: $red;
  }
  #secondary {
    border: 0;
    .account-nav-asset {
      margin: 0;
      padding: 0 1.875rem 0 0;
      @media only screen and (min-width: 48em) {
        padding-top: 32px;
        border-right: solid 1px #f1f1f2;
      }
    }
  }
}

/* Essentials for this page */

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  float: left;
}
.col-md-12,
.mf-col-12 {
  width: 100%;
}
.col-md-11,
.mf-col-11 {
  width: 91.66666667%;
}
.col-md-10,
.mf-col-10 {
  width: 83.33333333%;
}
.col-md-9,
.mf-col-9 {
  width: 75%;
}
.col-md-8,
.mf-col-8 {
  width: 66.66666667%;
}
.col-md-7,
.mf-col-7 {
  width: 58.33333333%;
}
.col-md-6,
.mf-col-6 {
  width: 50%;
}
.col-md-5,
.mf-col-5 {
  width: 41.66666667%;
}
.col-md-4,
.mf-col-4 {
  width: 33.33333333%;
}
.col-md-3,
.mf-col-3 {
  width: 25%;
}
.col-md-2,
.mf-col-2 {
  width: 16.66666667%;
}
.col-md-1,
.mf-col-1 {
  width: 8.33333333%;
}
.text-right {
  text-align: right;
}
@media only screen and (max-width: 64em) {
  .col-md-12,
  .col-md-11,
  .col-md-10,
  .col-md-9,
  .col-md-8,
  .col-md-7,
  .col-md-6,
  .col-md-5,
  .col-md-4,
  .col-md-3,
  .col-md-2,
  .col-md-1 {
    width: 100%;
  }
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mt-60 {
  margin-top: 60px !important;
}
.mt-70 {
  margin-top: 70px !important;
}
.mt-80 {
  margin-top: 80px !important;
}
.mt-90 {
  margin-top: 90px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.mb-7 {
  margin-bottom: 7px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.mb-60 {
  margin-bottom: 60px !important;
}
.mb-70 {
  margin-bottom: 70px !important;
}
.mb-80 {
  margin-bottom: 80px !important;
}
.mb-90 {
  margin-bottom: 90px !important;
}

.text-pale-red {
  color: #d63426 !important;
}

/* Billing Page Styles */

.payment-billing-page {
  padding-top: 20px;
  p {
    font-family: $r-regular;
    font-size: 16px;
    color: $black;
    line-height: 1.63;
  }
  .secondary-heading {
    font-family: $r-regular;
    font-size: 24px;
    color: $black;
    font-weight: normal;
    text-transform: none;
  }
  .bb-heading {
    border-bottom: 1px solid $black;
    padding-bottom: 7px;
    margin-bottom: 0;
  }
  .order-summary-section-top {
    width: 100%;
    margin: 0 15px;
    .section {
      display: block;
      float: none;
      width: 100%;
      overflow: hidden;
      margin: 0;
      padding: 0;
      @media screen and (max-width: 767px) {
        margin: 0 !important;
      }
      &.billing-order-total {
        border-bottom: solid 1px #dde3e8;
        margin: 20px 0 10px;
        padding: 12px 0 10px;
        &.mfrm-order {
          @media screen and (max-width: 767px) {
            margin-bottom: 10px !important;
          }
        }
      }
      .mf-col-8,
      .mf-col-4 {
        float: left;
      }
    }
  }
  #captcha-form {
    clear: both;
    display: block;
  }
  #action-container {
    text-align: center;
    clear: both;
    display: block;
    .btn.primary {
      font-family: $r-semibold;
      max-width: 135px;
      height: 40px;
      line-height: 20px;
      margin-bottom: 50px;
    }
  }
  .form-row {
    label {
      font-family: $r-semibold;
      font-size: 12px;
      font-weight: 600;
      color: #626366;
      width: 100% !important;
      margin-bottom: 5px;
      margin-top: 0;
      display: block;
      text-transform: uppercase;
    }
    .form-field-tooltip {
      display: none;
    }
  }
  #confirmation-form {
    .field-wrapper {
      max-width: 100%;
      .error {
        font-size: 12px;
      }
    }
  }
  .row {
    margin: 0 -15px 0 -15px;
    .form-row {
      padding: 0 15px;
      .field-wrapper {
        width: 100%;
        max-width: 100%;
        .error {
          font-size: 12px;
        }
      }
    }
    .field-row {
      width: 100%;
    }
  }
  .disclaimer-text {
    font-size: 24px;
    line-height: 1.46;
    text-align: center;
    .show-review-amount {
      display: block;
    }
    .hide-review-amount {
      display: none;
    }
  }
  .payment-billing {
    .payment-method-label {
      margin-top: -38px;
    }
    .payment-col-field1,
    .payment-col-field2,
    .payment-col-field3,
    .payment-col-field4 {
      margin-top: 0;
    }
    &.payment-method-options {
      .form-row {
        label {
          text-transform: uppercase;
        }
      }
    }
  }
}
.summary-details {
  .summary-header {
    font-family: $r-regular;
    font-size: 16px;
    color: $black;
    line-height: 1.63;
    padding: 15px 0;
    &.row {
      margin-right: -15px;
      margin-left: -15px;
    }
  }
}
.summary-header {
  .order-summary-section-top {
    .section #PaymentOptions {
      .checked {
        &:after {
          width: 10px;
          height: 10px;
          border: 1px solid #fff;
          border-radius: 100%;
          background: #d63426;
          content: "";
          position: absolute;
          left: 2px;
          top: 2px;
        }
      }
      .border-red {
        border: 2px solid #d63426;
      }
      .half-opacity {
        opacity: 0.8;
      }
      .full-opacity {
        opacity: 1;
      }
      .balance {
        width: 359px;
        float: left;
        height: 134px;
        border-radius: 5px;
        background-color: #f1f1f1;
        margin-right: 30px;
        padding: 20px;
        box-sizing: border-box;
        @media (max-width: 1024px) {
          width: 290px;
          padding: 10px;
          height: auto;
          margin: 0 auto;
          margin-bottom: 20px;
          display: block;
          float: none;
        }
        input {
          margin-top: 0px;
        }
        .amount {
          font-size: 24px;
          margin-left: 30px;
        }
        .radio {
          margin-top: 4px;

          #OutstandingBalOption {
            overflow: hidden;

            .outstanding-bal-option-label {
              text-indent: 9999px;
            }
          }
        }
      }
      .other-amount {
        width: 359px;
        float: left;
        height: 134px;
        border-radius: 5px;
        background-color: #f1f1f1;
        padding: 20px;
        box-sizing: border-box;
        @media (max-width: 1024px) {
          width: 290px;
          padding: 10px;
          height: auto;
          margin: 0 auto;
          display: block;
          float: none;
        }
        input {
          margin-top: 0px;
        }
        .radio {
          margin-top: 4px;

          #OtherAmountOption {
            .other-amount-option-label {
              line-height: 0;
              font-size: 0;
              opacity: 0;
            }
          }
        }
        .dollar-sign {
          font-size: 24px;
          vertical-align: top;
          margin-top: 9px;
          margin-left: 30px;
          display: inline-block;
        }
        .form-tel {
          display: inline-block;
          width: 140px;
          height: 54px;
          border-radius: 3px;
          border: solid 1px #dde3e8;
          background-color: white;
          margin: 0px;
          padding: 0px;
          overflow: hidden;
          label {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 0;
            line-height: 0;
            opacity: 0;

            span {
              display: inline-block;
            }
          }
          .input-text {
            border: none;
          }
          @media (max-width: 767px) {
            width: 174px;
          }
        }
        #amountRangMsg {
          position: relative;
          bottom: 17px;
          display: inline-block !important;
          width: 120px;
          @media (max-width: 767px) {
            bottom: 14px;
            display: inline-block !important;
            width: auto;
            left: 48px;
          }
        }

        .border-red {
          border: 2px solid #d63426 !important;
        }
      }
    }
  }
}
.payment-method-options {
  margin-left: 0;
  padding-top: 10px;
  @include respond(medium) {
    padding-top: 0;
  }
}

.card_label_field {
  display: inline-block;
  vertical-align: top;
  max-width: inherit;
  width: auto;

  label {
    text-transform: unset;
  }

  div.radio span.checked {
    position: relative;
    &:after {
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background: $red;
      content: "";
      position: absolute;
      left: 2px;
      top: 2px;
      border: 3px solid #fff;
    }
  }
}
.payment-method {
  clear: both;
}

.payment-method-label {
  padding: 0;
  width: 233px;
  height: 30px;
  margin: 10px 0 0;
  list-style: none;
  @include respond(medium) {
    float: right;
    right: 0px;
    margin: -31px 0 0;
    text-align: right;
  }
}
.payment-method-options {
  .form-row {
    margin: 0 5px 0 0;
    @include respond(medium) {
      margin: 0;
    }
    .field-wrapper {
      float: none;
      width: auto;
    }
  }
}
.payment-col-fields-wrap {
  .form-row {
    .field-wrapper {
      select {
        height: 54px;
        border-radius: 3px;
        border: solid 1px $dark-gray-1;
      }
    }
  }
  .payment-col-field1 {
    width: 70%;
    float: left;
    .field-wrapper {
      max-width: 450px;
    }
  }
  .payment-col-field2 {
    width: 55%;
    float: left;
    margin: 0 15px 0 0;
    .field-wrapper {
      max-width: inherit;
      width: 100%;
      input {
        width: 100%;
      }
    }
    @media only screen and (max-width: 1199px) {
      width: 49%;
    }
    @media only screen and (max-width: 991px) {
      width: 100%;
      margin: 20px 0 0 0;
    }
  }
  .payment-col-field3 {
    width: 19%;
    float: left;
    margin: 0 10px 0;
    .ccexpired {
      float: none;
      width: 100%;
    }
    .field-wrapper {
      max-width: inherit;
      width: 100%;
      input {
        width: 100%;
      }
    }
    @media only screen and (max-width: 1199px) {
      width: 21%;
    }
    @media only screen and (max-width: 991px) {
      width: 48.5%;
      margin: 20px 0 0;
    }
  }
  .payment-col-field4 {
    float: left;
    width: 19%;
    margin: 0 0 0 10px;
    position: relative;
    .form-field-tooltip {
      position: absolute;
      left: auto !important;
      right: 0px !important;
      top: -10px !important;
      margin: 0 !important;
    }
    .field-wrapper {
      max-width: inherit;
      width: 100%;
      input {
        width: 100%;
      }
    }
    @media only screen and (max-width: 1199px) {
      width: 21%;
      margin: 20px 0 0 10px;
    }
    @media only screen and (max-width: 991px) {
      float: right;
      width: 48.5%;
      margin: 20px 0 0;
    }
  }
}
span.error {
  font-size: 11px;
  font-weight: 600;
  color: $red;
}
.checkout-tooltip-info {
  position: absolute;
  right: 0;
  top: 4px;
  font-size: 13px;
  text-decoration: none;
  @media only screen and (max-width: 767px) {
    right: 7px;
  }
  em {
    font-style: normal;
    text-decoration: underline;
    font-family: $r-regular;
    font-size: 12px;
    font-weight: 600;
    color: $dark-gray-1;
    position: relative;
    top: -3px;
  }
  div.tooltip-holder {
    position: absolute;
    left: 100%;
    width: 200px;
    z-index: 9999;
    top: -50%;
    width: 270px;
    height: auto;
    border-radius: 3px;
    background-color: #727272;
    opacity: 1;
    text-align: left;
    padding: 15px;
    box-sizing: border-box;
    color: #fff;
    font-size: 12px;
    display: none;
    img {
      margin: 0 auto;
      display: block;
    }
    &:after {
      content: " ";
      position: absolute;
      left: -7px;
      width: 15px;
      height: 15px;
      background-color: #727272;
      top: 50%;
      transform: rotate(-45deg);
      margin-top: -7px;
    }
    .content-asset p {
      line-height: 1.43em;
      margin: 0;
      font-size: 14px;
      color: #fff;
      a {
        font-weight: 600;
        color: #fff;
      }
      &.apo-tooltip-heading {
        margin: 0 0 10px;
        font-weight: 600;
      }
    }
  }
  &.bottom-align {
    .tooltip-holder {
      margin: 32px 0 0 -256px;
      &:after {
        top: 0;
        left: 245px;
      }
      .content-asset {
        p {
          color: #fff;
        }
      }
    }
  }
  &:hover,
  &:focus {
    div.tooltip-holder {
      display: block;
    }
  }
  &.checkout-security-code-tooltip {
    div.tooltip-holder {
      .content-asset p {
        margin: 20px 0 0;
      }
    }
  }
}
.input-text {
  &.error {
    &::-webkit-input-placeholder {
      font-weight: 600;
      color: #e5173e;
      opacity: 1;
    }
    &::-moz-placeholder {
      font-weight: 600;
      color: #e5173e;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      font-weight: 600;
      color: #e5173e;
      opacity: 1;
    }
    &:-moz-placeholder {
      font-weight: 600;
      color: #e5173e;
      opacity: 1;
    }
  }
}
.form-row {
  &.cvn {
    margin-bottom: 30px;
  }
}
.mf-errorr {
  display: block !important;
}
.mf-form-display-none {
  display: none !important;
}
.mf-country-style {
  font-size: 16px !important;
  font-weight: 600 !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  color: #626366 !important;
  margin-top: 15px !important;
}

/* Billing page new mockup stylings*/
.order-summary-expanded__data {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  &:first-child {
    margin-bottom: 0;
  }
  @media screen and (max-width: 767px) {
    align-items: initial;
    margin-bottom: 10px;
  }
}
.order-summary-expanded__headings {
  display: flex;
  border-top: solid 1px #dde3e8;
  border-bottom: solid 1px #dde3e8;
  margin-bottom: 5px;
  font-weight: 500;
}
.order-summary-expanded__headings__quantity {
  width: 112px;
  margin-left: 5px;
  @media screen and (max-width: 767px) {
    width: 22px;
    margin-left: 0;
  }
}
.order-summary-expanded__headings__sale {
  @media screen and (max-width: 767px) {
    width: 30%;
    margin-right: 3px;
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: 20%;
  }
}
.order-summary-expanded__image {
  width: 38px;
  height: 36px;
  margin: 0 24px 0 23px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.order-summary-expanded__headings__description {
  margin-left: 18px;
  @media screen and (max-width: 767px) {
    margin-left: 17px;
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    margin-left: 28px;
  }
}
.order-summary-expanded__description {
  text-transform: capitalize;
  margin-left: 7px;
  font-size: 16px;
  @media screen and (max-width: 767px) {
    font-size: 12px;
    margin-left: 14px;
  }
}
.order-summary-expanded__quantity {
  width: 36px;
  font-size: 16px;
  @media screen and (max-width: 767px) {
    width: 27px;
    font-size: 12px;
  }
}
.order-summary-expanded__sale {
  font-size: 16px;
  @media screen and (max-width: 767px) {
    margin-right: 3px;
    font-size: 12px;
  }
}
.order-summary-expanded__description {
  @media (max-width: 767px) {
    display: none;
  }
  &.no-img {
    margin-left: 128px;
    @media screen and (max-width: 767px) {
      margin-left: 41px;
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      margin-left: 122px;
    }
  }
}
.mobile_only {
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
}
.data_show {
  .order-summary-expanded__description {
    @media (max-width: 767px) {
      display: block !important;
    }
  }
}

/* Order Confirmation Styles */

.info-sidebar {
  font-family: $r-regular;
  font-size: 14px;
  color: #323030;
  text-align: center;
  background: #f9f9f9;
  border-radius: 12px;
  padding: 25px 15px;
  margin: 25px 0 0 0;

  @media screen and (max-width: 767px) {
    display: none;
  }

  .icon {
    margin: 5px 0 15px;
    font-size: 34px;
    border: solid 2px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  .heading {
    font-family: $r-extrabold;
    font-size: 16px;
    color: #323030;
    margin: 0 0 15px;
  }

  .mf-headingg {
    line-height: 21px;
  }

  p {
    margin: 0;
  }

  .learn-more {
    font-family: $r-bold;
    font-size: 14px;
    color: #323030;
    margin-top: 15px;
    display: inline-block;
  }
}
.mapo-pg-header {
  .print-order {
    float: right;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-decoration: none;
    margin-right: 10px;

    img.print-icon {
      max-width: 40px;
    }

    .print-label {
      display: block;
      letter-spacing: 1px;
    }
  }
}
.confirmation-page {
  #action-container {
    text-align: center;
    .back-portal {
      font-family: $r-semibold;
      max-width: 260px;
      height: 40px;
      line-height: 22px;
      margin-top: 20px;
      @media screen and (max-width: 1024px) {
        width: 100%;
        max-width: inherit;
      }
    }
    .disclaimer-text {
      font-style: italic;
    }
  }
  .payment-info-section {
    background: #fff8df;
    padding: 5px 10px;
    font-size: 16px;
    color: #323030;
    margin-bottom: 30px;
    overflow: hidden;
    .notification-text {
      padding: 10px 0;
      margin: 0;
      > img {
        max-width: 40px;
        margin: 0px 10px 0px 0;
        float: left;
        @include respond(large-down) {
          margin-top: 0px;
        }
      }
      .notification-link {
        display: table-cell;

        a {
          color: #d63426 !important;
        }
      }
      .notification-link.full {
        line-height: 2;
      }
    }
  }
  .payment-details {
    .section-container {
      .small-heading {
        border-bottom: 0;
        margin-top: 20px;
        margin-bottom: 0;
      }
      p {
        margin: 5px 0;
      }
    }
  }

  .print-order {
    float: right;
    text-align: center;
    text-decoration: none;
    .print-icon {
      width: 40px;
      height: 35px;
    }
    .print-label {
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #323030;
    }
  }
}
.print-only {
  display: none;
}
@media only screen and (max-width: 767px) {
  #CreditCardBlock {
    .payment-col-fields-wrap {
      label {
        font-family: $r-regular;
        font-size: 14px;
        font-weight: 44 !important;
        line-height: 1.14;
        letter-spacing: 0.5px;
        text-align: left;
        color: $dark-gray-1;
        width: 100% !important;
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .checkout-button {
    &.rounded {
      &.btnOrderSubmit {
        @media screen and (max-width: 1024px) {
          width: 100%;
        }
      }
    }
  }
}

/* print pdf styling */

@media print {
  body * {
  }

  .mattress-firm {
    page-break-after: avoid;

    a,
    h2 {
      color: #788995 !important;
    }

    .pt-order-page {
      .secondary-heading {
        font-size: 16px;
      }

      .print-only {
        font-size: 12px;

        > p {
          margin: 8px 0;
        }
      }

      .secondary-heading {
        font-size: 16px;
      }

      .mf-col-8,
      .mf-col-4 {
        font-size: 12px !important;
      }
    }

    .mapo-pg-body.confirmation-page {
      margin-top: 30px;
    }

    .pt-order-page {
      padding-top: 0 !important;
    }

    .header-top.row,
    .primary-content pre:first-child,
    .header-main {
      display: none;
    }

    header.header-main,
    .pt-order-page .breadcrumb,
    .mapo-pg-header,
    .info-sidebar,
    .confirmation-page #action-container,
    .account-nav-text,
    .section.no-bottom-padding,
    .main-footer,
    .confirmation-page .payment-info-section {
      display: none !important;
    }

    header.header-banner {
      display: none !important;
    }

    .section-to-print,
    .section-to-print * {
      visibility: visible;
      color: #323030;
    }

    .section-to-print {
      position: static !important;
    }
  }

  .section-to-print,
  .section-to-print * {
    visibility: visible;
    color: #323030;
  }

  .section-to-print .print-bold {
    font-weight: 600;
  }

  .section-to-print .print-only {
    display: block;
  }

  .hide-print {
    display: none;
  }

  .print-only .logo {
    width: 275px;
    height: 40px;
    margin: 20px 0;
  }

  .print-only .logo img {
    width: 275px;
  }

  .payment-details,
  .summary-details {
    width: 100%;
    min-width: 600px;
    clear: both;
  }

  .small-heading {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #788995;
  }

  label {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #323030;
  }

  .payment-billing-page .order-summary-section-top .section .mf-col-8,
  .payment-billing-page .order-summary-section-top .section .mf-col-4 {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #323030;
  }

  .top-spacing {
    margin-top: 100px;
  }

  .section-to-print {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
  }

  html,
  body {
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }

  #buysafeRollover {
    display: none;
  }
}
