@import "global/essentials";

/* New main Start*/

#wrapper.pt_finder-result #main.MM-new-main {
  padding-top: 0px !important;
  padding: 0 120px !important;
  background-color: #fff !important;
  @media (max-width: 1025px) {
    padding: 0px 30px !important;
  }
}

/* New main End*/
.prodcut-price-finance-mm {
  height: 53px;
  @media (max-width: 767px) {
    height: auto;
  }
}

@media (max-width: 767px) {
  #mattressmatcher .bestmatch {
    padding: 20px 0px 16px 0px;
  }
  #mattressmatcher .bestmatch a {
    padding-right: 2px;
    background: #d63426;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    border-radius: 30px;
    line-height: 44px;
    padding: 0;
    font-weight: 600;
    height: 44px;
  }
}
.MM-main-banner {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  margin-bottom: 65px;
  @media (max-width: 767px) {
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 15px;
  }
}
.MM-main-banner__section-1__heading {
  font-size: 44px;
  font-family: "Rubik Black", Arial, sans-serif;
  margin-bottom: 15px;
  color: #2d2926;
  line-height: 1.06;
  @media (max-width: 767px) {
    font-size: 32px;
    width: 265px;
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 36px;
    max-width: 322px;
    line-height: 1;
  }
}
.MM-main-banner__section-1__heading-mob {
  display: none;
  @media (max-width: 1025px) {
    font-size: 32px;
    margin-bottom: 10px;
    color: #2d2926;
    display: block;
  }
}
.MM-main-banner__section-1__subheading {
  font-size: 18px;
  font-weight: normal;
  color: #2d2926;
  width: 430px;
  line-height: 24px;
  margin: 15px 0 30px 0;
  @media (max-width: 767px) {
    font-size: 14px;
    width: auto;
    line-height: 20px;
    margin: 20px 0 15px 0;
  }
  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    width: 272px;
    font-size: 16px;
    line-height: 1.38;
  }
}
.MM-main-banner__section-1__email-section {
  @media (max-width: 767px) {
    display: none;
  }
}
.MM-main-banner__email-button {
  display: block;
  width: 225px;
  height: 44px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  background-color: #d63426;
  text-align: center;
  line-height: 44px;
  &:hover {
    color: #fff;
  }
}
.MM-main-banner__email-message {
  width: 208px;
  text-align: center;
  padding-left: 10px;
  font-size: 12px;
  line-height: 17px;
  color: #2d2926;
  margin-top: 10px;
  span {
    color: #d63426;
    font-weight: bold;
  }
}
.MM-main-banner__section-1 {
  @media screen and (min-width: 768px) and (max-width: 1224px) {
    width: 48%;
  } 
}
.MM-main-banner__section-2 {
  width: 300px;
  height: auto;
  transform: rotate(-90deg);
  margin-right: 100px;
  margin-top: -100px;
  margin-bottom: -135px;
  visibility: hidden;
  @media (max-width: 767px) {
    width: auto;
    height: auto;
    transform: rotate(-90deg);
    margin-right: 0px;
    margin-top: -25px;
    margin-bottom: -40px;
  }
  @media screen and (min-width: 768px) and (max-width: 1224px) {
    flex-basis: 50%;
    position: absolute;
    right: 15px;
    top: 120px;
    width: 250px;
  }
  @media screen and (min-width: 1024px) and (max-width: 1224px) {
    right: 40px;
  }
}
.MM-main-banner__section-2__image {
  height: 500px;
  width: 300px;
  margin: 2px 55px 0 0;
  @media (max-width: 767px) {
    width: 100%;
    height: 315px;
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: 230px;
    height: 470px;
  }
  @media screen and (min-width: 1025px) and (max-width: 1224px) {
    width: 225px;
  }
  @media screen and (min-width: 1050px) and (max-width: 1224px) {
    width: 250px;
  }
}
/* Product Benefits */

.MM-edge-case__support-icon {
  top: 13px !important ;
  @media only screen and (max-width: 767px) {
    top: -14px !important;
  }
}

.MM-edge-case__pressureRelief-icon {
  top: 16px !important;
  @media only screen and (max-width: 767px) {
    top: -12px !important;
  }
}

.MM-edge-case__benefits-title {
  @media only screen and (max-width: 767px) {
    top: -3px !important;
  }
}

.MM-edge-case__caret {
  top: 24px !important ;
  @media only screen and (max-width: 767px) {
    top: -2px !important;
  }
}

.MM-edge-case__item-content {
  @media only screen and (max-width: 767px) {
    margin-top: -14px !important;
  }
}

.MM-edge-case__motionSeparation-icon {
  top: 14px !important;
  @media only screen and (max-width: 767px) {
    top: -13px !important;
  }
}

.MM-edge-case__product-type-description {
  width: 194px;
  margin-bottom: 10px;
}

.MM_default_message {
  font-size: 12px;
  line-height: 16px;
  color: #2d2926;
  font-family: $r-regular;
  padding-left: 7px;
  margin-bottom: 30px;
}

.MM-product-benefits {
  @media (min-width: 768px) {
    //min-height: 200px;
    height: auto;
    margin-bottom: 20px;
  }

  padding: 0;
  position: relative;
  overflow: hidden;
}

.MM-product-benefits__show-flyout-button {
  display: block;
  font-size: 12px;
  padding: 19px 0px;
  text-align: center;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

h4.MM-product-benefits__title {
  color: #2d2926;
  font-family: "Rubik Black", Arial, sans-serif;
  font-size: 18px;
  line-height: 14px;
  text-transform: uppercase;
}

.MM-product-benefits__desktop-nav {
  background: #fff;
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: relative;
    z-index: 2;
  }
}

.mobile-only {
  display: block;
  @media (min-width: 768px) {
    display: none;
  }
}

.MM-product-benefits__desktop-nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
}

ul.MM-product-benefits__desktop-nav-list.has-active > li.active {
  border-bottom: 1px solid #fff;
}

.MM-product-benefits__desktop-nav-list-item {
  border: 1px solid #d8d8d8;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 33.33%;
  @media screen and (min-width: 768px) {
    position: relative;

    .item-count-1 & {
      width: 100%;
    }
    .item-count-2 & {
      width: 50%;
    }
    .item-count-3 & {
      width: 33.33%;
    }
  }
}

// Hide slick grid arrows for product benefits in mobile
.MM-product-benefits__inner-containers {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
}

.MM-product-benefits__inner-containers.slick-initialized {
  visibility: visible;
  opacity: 1;
}

.MM-product-benefits__inner-containers .slick-arrow {
  bottom: auto;
  top: -35px;

  @media screen and (max-width: 767px) {
    display: none !important;
  }
}

.MM-product-benefits__inner-containers .slick-arrow:after {
  display: none;
}

.MM-product-benefits__inner-containers .slick-arrow.slick-prev {
  left: 17px;
  padding-left: 14px;
  left: auto;
  right: 138px;
}

.MM-product-benefits__inner-containers .slick-arrow.slick-next {
  padding-right: 13px;
  position: absolute;
  width: auto;
  right: 0;
}

.MM-product-benefits__desktop-nav-link {
  display: inherit;
  padding: 4px 8px;
  text-decoration: none;
  width: auto;

  &:hover {
    color: #2d2926;
    text-decoration: none;
  }
}

.MM-product-benefits__desktop-nav-link > * {
  pointer-events: none;
}

.MM-product-benefits__inner-container {
  overflow: hidden;
  @media screen and (max-width: 767px) {
    border-bottom: 1px solid #e0e0e0;
  }
  @media screen and (min-width: 768px) {
    position: relative;
  }
}

.MM-product-benefits__desktop-nav-list-item.active {
  border-bottom: 1px solid #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  position: relative;
  bottom: -1px;
  background: #fff;
  z-index: 10;
}

.MM-product-benefits .item {
  overflow: hidden;
}

.MM-product-benefits .item .item-content {
  overflow: hidden;
  @media (max-width: 767px) {
    max-height: 0;
  }
  @media (min-width: 768px) {
    opacity: 0;
    position: absolute;
    top: 0;
    display: flex;
  }
  transform: translateY(-100%);
}

.MM-product-benefits .item.active .item-content {
  border-top: none;
  background: #fff;
  display: block;
  opacity: 1;
  overflow: hidden;
  transform: translateY(0);

  @media (max-width: 767px) {
    border: 0;
    display: block;
    grid-template-columns: none;
    margin-top: -19px;
    max-height: 1000px;
  }
  @media (min-width: 768px) {
    background-color: #fff;
    border: thin solid #000;
    display: grid;
    flex-flow: row wrap;
    grid-template-columns: repeat(auto-fill, minmax(24%, 1fr));
    justify-content: flex-start;
    margin-bottom: 10px;
    opacity: 1;
    top: 0;
    padding: 0 10px;
    position: relative;
    z-index: 1;
  }
}

.MM-product-benefits .item.active.inactive .item-content {
  @media (min-width: 768px) {
    //overflow: hidden;
    // opacity: 0;
    position: absolute;
    top: 0;
    display: flex;
    transform: translateY(-100%);
  }
}

.MM-product-benefits__mobile-nav {
  border: 1px solid #000;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  cursor: pointer;
  text-decoration: none;
  @media (max-width: 767px) {
    border-top: 1px solid #e0e0e0;
  }
}

.MM-product-benefits__mobile-nav:last-child {
  border-bottom: 1px solid #e0e0e0;
}

h5.MM-product-benefits__title {
  color: #2d2926;
  font-family: "Rubik Bold", Arial, sans-serif;
  font-size: 14px;
  left: 57px;
  line-height: 14px;
  text-decoration: none;
  position: relative;
  text-transform: capitalize;
  top: -2px;
  @media screen and (max-width: 767px) {
    top: -2px;
  }
  // Set a max width on tablet and desktop so Adjustable Base Suitable wraps
  @media screen and (min-width: 768px) {
    max-width: 166px;
  }
}

.MM-product-benefits__title-message {
  display: block;
  font-size: 12px;
  font-family: "Rubik", Arial, sans-serif;
  font-weight: 500;
  line-height: 14px;
  margin-left: 57px;
  position: relative;
  top: -21px;
  width: 70%;
  .active & {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

.MM-product-benefits__adjustableBaseSuitable-icon {
  background-image: url("../images/mattress-matcher/icon-adjustable-base.svg");
  background-repeat: no-repeat;
  height: 32px;
  left: 6px;
  position: absolute;
  top: 11;
  width: 32px;

  @media screen and (min-width: 768px) {
    left: 13px;
    top: 20px;
  }

  .active & {
    @media screen and (max-width: 767px) {
      top: -16px;
    }
  }
}

.MM-product-benefits__sleepsCool-icon {
  background-image: url("../images/mattress-matcher/icon-cooling.svg");
  background-repeat: no-repeat;
  height: 32px;
  left: 13px;
  position: absolute;
  top: 8px;
  width: 32px;

  @media screen and (min-width: 768px) {
    left: 21px;
    top: 20px;
  }

  .active & {
    @media screen and (max-width: 767px) {
      top: -9px;
    }
  }
}

.MM-product-benefits__support-icon {
  background-image: url("../images/mattress-matcher/icon-support.svg");
  background-repeat: no-repeat;
  height: 32px;
  left: 12px;
  position: absolute;
  top: 6px;
  width: 32px;

  @media screen and (min-width: 768px) {
    left: 20px;
    top: 21px;
  }

  .active & {
    @media screen and (max-width: 767px) {
      top: -8px;
    }
  }
}

.MM-product-benefits__pressureRelief-icon {
  background-image: url("../images/mattress-matcher/icon-pressure-relief.svg");
  background-repeat: no-repeat;
  height: 32px;
  left: 12px;
  position: absolute;
  top: 6px;
  width: 32px;
  @media screen and (min-width: 768px) {
    left: 20px;
    top: 21px;
  }
  .active & {
    @media screen and (max-width: 767px) {
      top: -8px;
    }
  }
}

.MM-product-benefits__motionSeparation-icon {
  background-image: url("../images/mattress-matcher/icon-motion-separation.svg");
  background-repeat: no-repeat;
  height: 32px;
  left: 12px;
  position: absolute;
  top: 6px;
  width: 32px;

  @media screen and (min-width: 768px) {
    left: 20px;
    top: 21px;
  }

  .active & {
    @media screen and (max-width: 767px) {
      top: -8px;
    }
  }
}
.MM-product-benefits__left-caret,
.MM-product-benefits__right-caret {
  background-repeat: no-repeat;
  cursor: pointer;
  height: 32px !important;
  width: 32px !important;
}

.MM-product-benefits__left-caret {
  background: url("../images/icon-caret-left.png") !important;
  right: 33px;
}

.MM-product-benefits__right-caret {
  background: url("../images/icon-caret-right.png") !important;
  right: 0;
}

.MM-product-benefits__mobile-nav a {
  display: block;
  position: relative;
  text-decoration: none;
  //min-height: 67px;
}

.MM-product-benefits__desktop-nav-list-item.active .fa,
.active.MM-product-benefits__mobile-nav-link .fa {
  transform: rotate(0);
}

.MM-product-benefits__desktop-nav-list-item .fa,
.MM-product-benefits__mobile-nav-link .fa {
  color: #000;
  font-size: 12px;
  position: absolute;
  right: 15px;
  top: 17px;
  transition: 0.3s transform ease-in-out;
  transform: rotate(-180deg);

  &:hover {
    color: #000;
  }
}

.MM-product-benefits .MM-product__type__description__sleep-disruptors {
  padding: 0 10px;
  @media screen and (max-width: 767px) {
    padding-left: 53px;
  }
}

.MM-product-benefits__mobile-nav-link.active {
  @media screen and (max-width: 767px) {
    //height: 30px;
    //background-color: rgb(255, 215, 0.2);
    // margin-top: -45px;
    // min-height: 54px;
  }
}

// end product benefits update

// Email modal popup styling
@media only screen and (min-width: 768px) {
  .ui-widget-overlay {
    background-color: rgba(0, 0, 0, 0.2) !important;
  }
  .mattress-email-results-dialog {
    border-radius: 30px;
    height: 403px !important;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    #dialog-container {
      .exacttarget-form-container {
        border-top: 0;
        padding: 0px !important;
        .exacttarget-form-container__inner {
          padding: 68px 0 205px 10px !important;
        }
      }
      .sorry-thank-you-text {
        padding: 70px 0px 20px 15px;
      }
      .exacttarget-form-container__title-h4 {
        font-size: 32px;
        font-weight: 700;
        font-family: $r-regular;
        line-height: 1;
        color: #2d2926;
      }
      .thank-you-text {
        width: 345px;
        font-family: $r-regular;
        font-size: 18px;
        font-weight: normal;
        line-break: 1.33;
        color: #332e2a;
        .email-tryagain {
          line-height: 1.33;
        }
      }
    }
    .ui-dialog-title {
      border-bottom: 0 !important;
    }
    .ui-button {
      .ui-button-icon {
        background-image: url(https://dev12-web-sleepys.demandware.net/on/demandware.static/-/Sites-Mattress-Firm-Library/default/dw3e8eb29e/images/close-x.svg);
        height: 29px;
        width: 29px;
        background-position: center;
        background-size: 100%;
        left: 0;
        top: 0;
      }
    }
  }
}
// Email modal popup styling end

/* Header */

#header-main {
  background: #d63426;
}
.MM-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 10px 0;
}
.MM-header__logo {
  margin-left: 120px;
  &:hover {
    color: #fff;
  }
  @media only screen and (max-width: 1024px) {
    margin-left: 30px;
  }
}
.MM-header__edit-answer {
  margin-right: 120px;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  text-transform: capitalize;
  font-family: $r-medium;
  &:hover {
    color: #fff;
  }
  @media only screen and (max-width: 1024px) {
    margin-right: 30px;
  }
}

/* email popup Sorry result */
#emaildialog {
  .thank-you-mf-section {
    .exacttarget-form-container__inner {
      padding: 52px 0 120px 0 !important;
      .exacttarget-form-container__title-h3 {
        display: none !important;
      }
    }
  }
}
.sorry-thank-you-text {
  h4 {
    &.exacttarget-form-container__title-h4 {
      font-family: $r-regular;
      font-size: 21px;
      font-weight: bold;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: $dark-gray-1;
      margin-bottom: 23px;
    }
  }
  .thank-you-text {
    font-family: $r-regular;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: $dark-gray-1;
    max-width: 345px;
    margin: 0 auto;
    a {
      font-size: 18px !important;
      font-weight: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: $red;
    }
  }
}

/* End email popup */

/*Email popup thank you result*/

.exacttarget-container,
.exacttarget-form-container {
  padding: 0px !important;
  .checked {
    border-radius: 5px;
    @include respond(large-up) {
      background-position: -32px -121px !important;
    }
  }
  &.mf-personal-results-email {
    border: none;
    text-align: center;
    font-family: $r-regular;
    padding-left: 0px !important;
    padding-right: 0px !important;
    @include respond(large-down) {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
    &.thank-you-mf-section {
      .exacttarget-form-container__inner {
        width: 345px;
        padding: 55px 0 205px 0 !important;
      }
      .thank-you-text {
        font-family: $r-regular;
        font-size: 18px;
        font-weight: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #332e2a;
      }
    }
    .desclaimer-text-top {
      font-family: $r-regular;
      font-size: 12px;
      font-weight: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #2d2926;
      text-align: left;
      span {
        font-weight: 500;
      }
      @include respond(large-down) {
        line-height: 1.33;
        padding: 0px 15px;
      }
    }
    .exacttarget-form-container__title-h3 {
      font-family: $r-regular;
      font-size: 16px;
      font-weight: 700;
      line-height: 0.88;
      letter-spacing: normal;
      text-align: center;
      color: #d63426;
      margin-bottom: 23px;
      margin-top: 0px;
      @include respond(large-down) {
        display: none;
      }
    }
    .exacttarget-form-container__title-h4 {
      max-width: 511px;
      font-family: $r-regular;
      font-size: 32px;
      font-weight: 700;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      color: #2d2926;
      margin-top: 0;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 15px;
      @include respond(large-down) {
        font-size: 21px;
        max-width: 100%;
        margin-bottom: 8px;
      }
    }
  }
}
/*Email popup thank you result end*/

/********Mobile email me my result part*********/

.thank-you-section {
  margin-top: -20px;
}

.email-footer {
  position: fixed;
  z-index: 999;
  text-align: center;
  font-size: 18px;
  color: #000;
  background-color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  bottom: -284px;
  &.slide-up {
    bottom: 0px !important;
    height: 310px;
    &.modalAdjuster {
      height: 249px !important;
    }
  }
  &.slide-down {
    bottom: -284px !important;
    height: 418px !important;
  }
  .email-footer__slider {
    padding-top: 30px;
    &.collapsed {
      display: none;
    }
    .email-footer__slider-button {
      width: 225px;
      height: 44px;
      border-radius: 25px;
      border: 1px solid #d63426;
      background-color: #d63426;
      font-size: 16px;
      font-weight: 700;
      font-family: $r-bold;
      line-height: 0.75;
      color: #fff;
      text-align: center;
      margin-bottom: 8px;
      text-transform: capitalize;
    }
    .email-footer__slider-description {
      width: 186px;
      font-family: $r-regular;
      font-size: 12px;
      line-height: 1.42;
      text-align: center;
      color: #2d2926;
      margin: 0 auto 10px;
      span {
        font-weight: 700;
        color: #d63426;
      }
    }
  }
  .email-result-copy {
    background-color: #d63426;
    height: 40px;
    border-radius: 30px 30px 0 0;
    font-family: $r-regular;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    line-height: 3;
    .fa.fa-angle-up,
    .fa.fa-angle-down {
      font-size: 24px;
      height: 18px;
      margin-left: 10px;
      position: relative;
      top: 3px;
    }
  }
  .email-offer {
    font-family: $r-regular;
    font-size: 19px;
    font-weight: bold;
    color: #2d2926;
    width: 315px;
    margin: 0 auto;
    line-height: normal;
    @media (max-width: 320px) {
      font-size: 20px;
      width: 100%;
    }
    .red {
      color: #d83328;
    }
  }
  .email-disclaimer {
    font-family: $r-regular;
    font-size: 9px;
    font-weight: normal;
    color: #2d2926;
    width: 262px;
    margin: 7px auto 0;
    line-height: normal;
  }
  .mfinder-result-page-email {
    position: relative;
    margin: 15px 0;
    #sub-email-address {
      width: 100%;
      height: 50px;
      border-radius: 12px;
      border: solid 2px #e1e1e1;
      background-color: #ffffff;
      color: #2d2926;
      padding: 18px 100px 18px 14px;
      font-family: $r-regular;
      font-size: 16px;
      font-weight: 600;
      line-height: 0.88;
      margin-bottom: 15px;
      input.error {
        font-size: 16px;
      }
    }
    #sub-email-address::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #e1e1e1;
      font-weight: 400;
    }
    #sub-email-address::-moz-placeholder {
      /* Firefox 19+ */
      color: #e1e1e1;
      font-weight: 400;
    }
    #sub-email-address:-ms-input-placeholder {
      /* IE 10+ */
      color: #e1e1e1;
      font-weight: 400;
    }
    #sub-email-address:-moz-placeholder {
      /* Firefox 18- */
      color: #e1e1e1;
      font-weight: 400;
    }
  }
  #submit-button {
    width: 225px;
    height: 45px;
    border-radius: 25px;
    background-color: #d63426;
    font-family: Rubik;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 0.88;
  }
  .email-signup-check-box {
    margin-top: 15px;
    line-height: 1;
    padding: 0 0 0 15px;
    display: flex;
    margin-bottom: 20px;
    .checker {
      margin-right: 6px;
    }
    .checked {
      width: 12px;
      height: 12px;
      background-position: -34px -123px !important;
    }
    .email-signup {
      display: inline-block;
      font-family: $r-regular;
      font-size: 9px;
      font-weight: normal;
      color: #2d2926;
      margin: 0px;
      width: 320px;
      text-align: left;
      line-height: normal;
      @media (max-width: 365px) {
        font-size: 10px;
      }
    }
    .email-checkbox {
      display: inline-block;
      margin: 0px;
    }
  }
  @include respond(large-up) {
    display: none;
  }
  .thank-you-section {
    .ty-heading {
      margin-top: 25px;
      font-family: Rubik;
      font-size: 21px;
      line-height: normal;
      font-weight: bold;
      color: #2d2926;
      margin-left: auto;
      margin-right: auto;
    }
    .ty-copy {
      width: 345px;
      font-family: Rubik;
      font-size: 16px;
      font-weight: normal;
      color: #2d2926;
      line-height: 1.5;
      margin-bottom: 60px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
      @media (max-width: 320px) {
        width: 100%;
      }
    }
  }
  .exacttarget-form-container {
    padding: 70px 20px 10px !important;
    border-radius: 30px;
    border-top: 0;
    .email-module-wrapper {
      position: relative;
      .email-module-close-button {
        height: 31px;
        width: 31px;
        background-position: center;
        background-size: 100%;
        left: 130px;
        top: -47px;
        cursor: pointer;
        position: absolute;
        background: url(/on/demandware.static/-/Sites-Mattress-Firm-Library/default/dw3e8eb29e/images/close-x.svg);
        @media only screen and(min-width:280px) and (max-width: 321px) {
          left: 118px;
          top: -55px;
        }
      }
    }
  }
}
.thank-you-close-button {
  @media only screen and (max-width: 767px) {
    display: block;
    height: 31px;
    width: 31px;
    background-position: center;
    background-size: 100%;
    left: 330px;
    top: 20px;
    cursor: pointer;
    position: absolute;
    background: url(/on/demandware.static/-/Sites-Mattress-Firm-Library/default/dw3e8eb29e/images/close-x.svg);
  }
  @media only screen and(min-width:280px) and (max-width: 321px) {
    left: 270px;
  }
  display: none;
}
/********End mobile email me my result part**********/

/* MM Drawer */

.scrollHidden {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.drawer-icons {
  position: relative;
  top: -10px;
  left: auto;
  right: 10px;
  float: left;
}

/* Overlay div styling */
.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
}

// This is the loader overlay thats z-index is above all the others
.loader {
  z-index: 99999;
}

.MM-product__drawer {
  /* Making it display none for desktop for future development */
  display: none;
  @media screen and (max-width: 767px) {
    display: block;
    padding: 60px 15px 0;
    transform: translateX(290px);
    height: calc(100% - 50px);
    position: fixed;
    width: 0;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: scroll;
    transition: 0.5s;
  }
}

.MM-product__drawer__open {
  @media screen and (max-width: 767px) {
    transform: translateX(1px);
    width: 80%;
  }
}
.MM-product__heading {
  @media screen and (max-width: 767px) {
    font-size: 18px;
    line-height: 14px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #2d2926;
    margin-top: 0;
    text-transform: uppercase;
    font-family: $r-extrabold;
  }
}
.MM-product__type {
  @media screen and (max-width: 767px) {
    border-top: 1px solid #d8d8d8;
    padding: 20px 36px 0 13px;
  }
}
.MM-product__type__description {
  @media screen and (max-width: 767px) {
    padding-left: 26px;
  }
}
.MM-product__type__logo-support {
  @media screen and (max-width: 767px) {
    background-image: url("../images/mattress-matcher/icon-support.svg");
    background-repeat: no-repeat;
    margin: -8px 26px 0 0;
    height: 32px;
    width: 32px;
  }
}
.MM-product__type__description__heading {
  @media screen and (max-width: 767px) {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    color: #2d2926;
    margin-bottom: 20px;
    margin-top: 0;
  }
}
.MM-product__sleep-disruptors__heading {
  font-size: 12px;
  line-height: 16px;
  color: #2d2926;
  margin-bottom: 1px;
  font-weight: 500;
  font-family: $r-medium;
}
.MM-product__sleep-disruptors__description {
  font-size: 12px;
  line-height: 16px;
  color: #2d2926;
  max-width: 188px;
  margin: 0;
}
.MM-product__sleep-disruptors__rating__box {
  height: 7px;
  width: 7px;
  pointer-events: none;
  border-radius: 50%;
  border: none;
  background-color: #e1e1e1; // unselected default color
  padding: 0;

  &.active {
    background-color: #d63426; // selected active color
  }
}

.MM-product__sleep-disruptors__choice__rating.rating-0,
.MM-product__sleep-disruptors__choice__rating.rating-1,
.MM-product__sleep-disruptors__choice__rating.rating-2,
.MM-product__sleep-disruptors__choice__rating.rating-3,
.MM-product__sleep-disruptors__choice__rating.rating-4,
.MM-product__sleep-disruptors__choice__rating.rating-5 {
  background-size: 80% auto;
  background-repeat: no-repeat;
  height: 32px;
  margin-top: 3px;
  width: 63px;
}
.MM-product__sleep-disruptors__choice__rating.rating-0 {
  background-image: url("../images/mattress-matcher/icon-product-benefits-score-0.svg");
}
.MM-product__sleep-disruptors__choice__rating.rating-1 {
  background-image: url("../images/mattress-matcher/icon-product-benefits-score-1.svg");
}
.MM-product__sleep-disruptors__choice__rating.rating-2 {
  background-image: url("../images/mattress-matcher/icon-product-benefits-score-2.svg");
}
.MM-product__sleep-disruptors__choice__rating.rating-3 {
  background-image: url("../images/mattress-matcher/icon-product-benefits-score-3.svg");
}
.MM-product__sleep-disruptors__choice__rating.rating-4 {
  background-image: url("../images/mattress-matcher/icon-product-benefits-score-4.svg");
}
.MM-product__sleep-disruptors__choice__rating.rating-5 {
  background-image: url("../images/mattress-matcher/icon-product-benefits-score-5.svg");
}

.MM-product__drawer__close-button {
  @media screen and (max-width: 767px) {
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 12px;
    top: 18px;
    span {
      display: inline-block;
      height: 19px;
      position: absolute;
      width: 19px;
      top: 9px;
      left: 7px;
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: $black;
        top: 6px;
        transform: rotate(45deg);
      }
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: $black;
        top: 6px;
        transform: rotate(-45deg);
      }
    }
  }
}
.MM-product__type__description__sleep-disruptors {
  margin-bottom: 20px;
  padding-left: 6px;
}
.MM-product__sleep-disruptors__user {
  display: flex;
  margin-top: 5px;
}
.MM-product__sleep-disruptors__choice {
  margin-right: 14px;
}
.MM-product__sleep-disruptors__choice__heading {
  margin: 0;
  font-size: 10px;
  line-height: 12px;
  font-family: $r-medium;
  text-transform: uppercase;
}
/* product tile*/
.finder-results-wrap {
  padding-bottom: 142px;
}
.MM-results_featured-products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -2.8%;
  clear: both;
  @media screen and (max-width: 767px) {
    order: 3;
  }
}

.MM-results-wrapper .featured-product-v3 {
  width: 30.5%;
  margin-right: 2.5%;
  border: solid 1px #d8d8d8;
  border-radius: 2px;
  margin-bottom: 30px;
  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    width: 315px;
    margin-right: 7.5px;
    margin-left: 7.5px;
    margin-bottom: 16px;
  }
  @media (max-width: 767px) {
    border: 1px #f1f1f2 solid;
    width: auto;
    margin: 0px 0 25px;
    max-width: 315px;
  }
}
.MM-results-wrapper span.percentage-match {
  background: #2d2926;
  color: #f4f4f4;
  padding: 10px 15px;
  display: inline-block;
  font-size: 16px;
  line-height: 21px;
  font-family: rubik;
  font-weight: 900;
  min-width: 130px;
  text-align: center;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  /* min-height: 41px; */
  @media (min-width: 768px) {
    position: absolute;
  }
  @media (max-width: 767px) {
    position: absolute;
    font-size: 14px;
    padding: 5px 5px;
    min-width: auto;
    width: auto;
  }
}
.MM-results-wrapper .featured-product-v3 .product-tiles {
  @media (max-width: 767px) {
    display: flex;
  }
}
.MM-results-wrapper .featured-product-v3 .product-image img {
  width: 100%;
}
.MM-results-wrapper .featured-product-v3 .product-image .try-in-store-mobile {
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
}
.MM-results-wrapper .featured-product-v3 .product-image .try-in-store-mobile > .try-in-store.expander-container {
  @media (max-width: 767px) {
    font-weight: bold;
  }
}
.MM-results-wrapper .featured-product-v3 .product-image .thumb-link {
  @media (max-width: 767px) {
    width: 151px;
    display: block;
  }
}
.MM-results-wrapper .featured-product-v3 .product-right-content {
  padding: 0 15px;
  @media (max-width: 767px) {
    padding: 0 10px 0 10px;
  }
}
.MM-results-wrapper .product-name-review {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  @media (max-width: 767px) {
    padding-top: 8px;
  }
}
.MM-results-wrapper .brand-and-rating {
  /*max-width: 50%;
    min-width: 80px;*/
  img {
    /*width: 50%;
      max-height: 40px;*/
  }
  @media (max-width: 767px) {
    /*min-width: 40px;*/
  }
}
.MM-results-wrapper {
  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    [data-bv-show="inline_rating"] .bv_main_container .bv_averageRating_component_container .bv_text {
      font-size: 12px !important;
      line-height: 9px !important;
    }
  }
  .mm-ratings-reviews {
    * {
      pointer-events: none !important;
    }
    .bv_main_container {
      @media (max-width: 767px) {
        display: block !important;
      }
    }
    .bv_main_container_row_flex {
      padding: 0px !important;
    }
    .bv_main_container .bv_numReviews_component_container {
      display: none !important;
    }
    .bv_main_container_row_flex .bv_button_component_container {
      display: none !important;
    }
    .bv_main_container .bv_averageRating_component_container .bv_text {
      font-weight: bold !important;
      font-size: 12px !important;
      line-height: 20px !important;
      @media (max-width: 767px) {
        font-size: 9.6px !important;
        line-height: 10px !important;
      }
      &:after {
        content: "/5";
      }
    }
    @media (max-width: 767px) {
      width: 50%;
    }
  }
}
.MM-results-wrapper .pdp-promotions {
  display: none;
}
.MM-results-wrapper .p_name a.name-link {
  padding: 12px 0px 0;
  display: -webkit-box;
  text-decoration: none;
  font-size: 18px;
  color: #2d2926;
  font-weight: normal;
  line-height: 24px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 12px;
  height: 48px;
  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    line-height: 20px;
    height: 40px;
  }
  @media (max-width: 767px) {
    padding-top: 10px;
    font-size: 14px;
    line-height: 16px;
    -webkit-line-clamp: 4;
    margin-bottom: 30px;
    min-height: 65px;
  }
}
.MM-results-wrapper .name_price {
  @media (min-width: 768px) {
    height: 36px;
  }
}
.MM-results-wrapper .product-price.finder-main-price {
  display: inline;
  @media (max-width: 767px) {
    display: block;
    min-height: 38px;
  }
  .price-standard {
    display: block;
    span {
      font-size: 12px;
    }
  }
}
.MM-results-wrapper .product-standard-price.price-range {
  font-size: 16px;
  font-weight: bold;
  color: #2d2926;
}
.MM-results-wrapper .product-sales-price.price-range {
  font-size: 16px;
  font-weight: bold;
  color: #d63426;
}
.MM-results-wrapper .product-standard-price.price-range.has-sale-price {
  display: block;
  font-size: 14px;
  font-weight: normal;
  color: #323030;
  text-decoration: line-through;
  @media (max-width: 767px) {
    font-size: 12px;
  }
}
.MM-results-wrapper .variation-selected-size {
  font-size: 16px;
  font-weight: bold;
  padding-right: 5px;
  line-height: 18px;
  border-right: solid 2px #2d2926;
  &.variation-sale {
    border-right: solid 2px #d63426;
    color: #d63426;
    vertical-align: top;
  }
}
.MM-results-wrapper span.price-sales {
  font-weight: bold;
  font-size: 16px;
  &.price-sales-more {
    color: #d63426;
  }
}
.MM-results-wrapper .product-financing-custom {
  @media (max-width: 767px) {
    padding-top: 10px;
    &.no-credit {
      display: none;
    }
  }
  .finance-dot {
    display: none;
  }
  span {
    display: block;
    font-size: 12px;
    font-weight: normal;
    color: #2d2926;
    font-family: rubik;
    margin: 5px 0 0 0;
  }
  a.pay-over-link {
    font-size: 12px;
    color: #2d2926;
  }
}
.MM-results-wrapper .product-lead-date {
  @media (max-width: 767px) {
    display: none;
  }
  @media (min-width: 768px) {
    height: initial;
  }
  p {
    font-weight: 500;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 0px;
    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      font-weight: normal;
    }
  }
}
.MM-results-wrapper .product-lead-date .availability-ab,
.MM-results-wrapper .product-lead-date .delivery-countdown-wrap {
  display: none;
}
.MM-results-wrapper .product-lead-date .availability {
  font-weight: 500;
  float: left;
  margin-right: 3px;
  @media (max-width: 767px) {
    font-weight: normal;
    padding-left: 10px;
    float: none;
    margin: 0px;
    font-size: 12px;
  }
  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    font-weight: normal;
  }
}
.MM-results-wrapper .product-lead-date .value label {
  font-weight: 500;
  float: left;
  margin-right: 3px;
  @media only screen and (max-width: 767px) {
    display: block;
    font-size: 12px;
    float: none;
    margin-right: 0px;
    padding-left: 10px;
    font-weight: normal;
  }
}
.MM-results-wrapper .availability-web-finder {
  margin-top: 20px;
  @media only screen and (max-width: 767px) {
    margin-top: 10px;
  }
}
.MM-results-wrapper .product-lead-date .availability-msg {
  display: inline;
  #replace-me-finder p {
    font-weight: normal;
    @media (min-width: 1025px) {
      font-weight: 500;
    }
  }
  .in-stock-msg p {
    font-weight: 400;
    margin: 0;
    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      font-weight: 600;
    }
    @media (max-width: 767px) {
      font-size: 12px;
      font-weight: 600;
      margin: 0px;
    }
    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      font-weight: 500;
    }
  }
}
.MM-results-wrapper .product-lead-date .details-link {
  display: none;
}
.MM-results-wrapper .product-lead-date .availability-date-string {
  font-weight: normal;
  text-transform: capitalize;
  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    font-weight: 500;
  }
}
.MM-results-wrapper .product-lead-date .finder-product-not-available {
  margin-top: 20px;
  @media (max-width: 767px) {
    padding-left: 10px;
    font-size: 12px;
    line-height: 16px;
    color: #2d2926;
  }
}
.MM-results-wrapper .product-lead-date.mobile {
  display: none;
  @media (max-width: 767px) {
    display: block;
    p {
      font-weight: normal;
      margin: 0px;
      padding-left: 10px;
    }
    .availability-date-string {
      font-weight: 500;
    }
  }
}
.MM-results-wrapper .learn-more a {
  text-decoration: none;
}
.MM-results-wrapper .learn-more a button {
  width: 100% !important;
  height: 45px;
  border-radius: 25px !important;
  background-color: #d63426 !important;
  max-width: inherit !important;
  text-transform: capitalize !important;
  font-family: Rubik, Arial, sans-serif;
  letter-spacing: normal !important;
  font-size: 16px !important;
  font-weight: bold !important;
  margin-top: 20px;
  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    min-width: 285px;
    height: 44px;
    max-width: 100% !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width: 767px) {
    display: none;
  }
}

// Try in store
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $overlayZindex;
}
.MM-results-wrapper .featured-product-v3 .product-right-content .try-in-store-desktop {
  @media (max-width: 767px) {
    display: none;
  }
}
.MM-results-wrapper .mm_mattributes_wrapper {
  padding: 20px 15px;
  border-top: 1px solid #d8d8d8;
  @media (max-width: 767px) {
    border: none;
  }
}
.MM-results-wrapper .mm_mattributes {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  &:last-child {
    padding-bottom: 0px;
  }
}
.MM-results-wrapper .mattribute-name {
  font-size: 12px;
  font-weight: 500;
  color: #2d2926;
  position: relative;
  padding-left: 30px;
  &.support {
    &:before {
      content: url("../images/mattress-matcher/icon-support-tile.svg");
      position: absolute;
      left: -5px;
      top: -7px;
    }
  }
  &.pressureRelief {
    &:before {
      content: url("../images/mattress-matcher/icon-pressure-relief-tile.svg");
      position: absolute;
      left: -5px;
      top: -5px;
    }
  }
  &.motionSeparation {
    &:before {
      content: url("../images/mattress-matcher/icon-motion-separation-tile.svg");
      position: absolute;
      left: -5px;
      top: -7px;
    }
  }
  &.sleepsCool {
    &:before {
      content: url("../images/mattress-matcher/icon-cooling-tile.svg");
      position: absolute;
      left: -5px;
      top: -5px;
    }
  }
  &.adjustableBaseSuitable {
    &:before {
      content: url("../images/mattress-matcher/icon-adjustable-base-tile.svg");
      position: absolute;
      left: -5px;
      top: -7px;
    }
  }
  &.Medium {
    &:before {
      content: url("../images/mattress-matcher/icon-comfort-medium.svg");
      position: absolute;
      left: -5px;
      top: -7px;
    }
  }
  &.Firm {
    &:before {
      content: url("../images/mattress-matcher/icon-comfort-firm.svg");
      position: absolute;
      left: -5px;
      top: -7px;
    }
  }
  &.Plush {
    &:before {
      content: url("../images/mattress-matcher/icon-comfort-plush.svg");
      position: absolute;
      left: -5px;
      top: -7px;
    }
  }
  &.Soft {
    &:before {
      content: url("../images/mattress-matcher/icon-comfort-plush.svg");
      position: absolute;
      left: -5px;
      top: -7px;
    }
  }
}
.MM-results-wrapper .mattribute-value {
  font-size: 10px;
  font-weight: 500;
  color: #2d2926;
  padding: 2px 5px;
  line-height: 1.2;
  text-align: center;
  padding: 2px 5px;
  background-color: rgba(0, 102, 1, 0.1);
  &.Enhanced,
  &.Better {
    background-color: rgba(252, 204, 11, 0.1);
  }
  &.Standard,
  &.Good,
  &.None,
  &.No {
    background-color: rgba(98, 99, 102, 0.1);
  }
}
.MM-results-wrapper .try-in-store-section.not-available {
  display: none;
  &.mobile {
    @media (min-width: 767px) {
      display: block;
      position: relative;
      .try-in-store__header-text-inner {
        left: 66px;
        @media screen and (min-width: 1025px) {
          left: 0px;
          margin-right: 15px;
        }
      }
    }
    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      .try-in-store__header-text-inner {
        left: 0px;
        margin-right: 15px;
      }
    }
    display: block;
  }
}
.MM-results-wrapper .try-in-store-section.not-available.mobile .try-in-store__header-unavailable {
  display: initial;
  text-decoration: underline;
  @media (min-width: 768px) {
    text-decoration: none;
  }
  @media screen and (min-width: 1025px) {
    margin-left: 0px;
    left: 0px !important;
  }
}
.MM-results-wrapper .try-in-store-section.not-available.mobile .expanded .try-in-store__header-unavailable {
  text-decoration: none;
}
.try-in-store-section {
  margin-top: 15px;
  @media screen and (max-width: 767px) {
    margin-top: 0px;
    position: relative;
  }
  @media (min-width: 1025px) {
    position: relative;
  }
}
.MM-results-wrapper .try-in-store-desktop > .try-in-store.expander-container {
  line-height: 3.2;
  text-align: center;
  margin-top: 15px;
  color: #2d2926;
  font-weight: 500;
  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    font-weight: 400;
  }
}
.expander-container.expanded {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  position: absolute;
  @media screen and (max-width: 767px) {
    box-shadow: none;
  }
  @media screen and (min-width: 1025px) {
    min-width: 325px;
    max-width: 100%;
  }
}
.expander-container,
.try-in-store {
  background: white;
  border: 1px solid #d8d8d8;
  border-radius: 24.5px;
  box-shadow: none;
  margin-bottom: 20px;
  height: auto;
  min-height: 44px;
  overflow: hidden;
  padding: 0;
  padding-bottom: 0 !important;
  position: static;
  width: 100%;
  z-index: 100;
  .mm-available-instore {
    display: none;
  }
  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    height: auto;
    min-height: 44px;
    min-width: 279px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: auto;
  }
  &.expanded {
    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      width: 285px;
      .try-in-store__content {
        width: 285px;
      }
      .try-in-store__button-group {
        width: 285px;
      }
    }
    @media screen and (max-width: 767px) {
      width: 285px;
    }
  }
  .mm-available-instore {
    display: none;
  }
  &.expanded {
    @media (max-width: 355px) {
      width: 280px !important;
    }
    @media screen and (max-width: 767px) {
      background: white;
      border: 1px solid #d8d8d8;
      border-radius: 24.5px;
      box-shadow: none;
      margin-bottom: 20px;
      height: auto;
      min-height: 44px;
      overflow: hidden;
      padding: 0;
      padding-bottom: 0 !important;
      position: static;
      z-index: 100;
      width: 315px;
      bottom: -25px;
      /*with expanded code*/
      .try-in-store__header {
        .try-in-store__location-icon svg {
          display: block;
        }
      }
      .try-in-store__header-text {
        .try-in-store__header-loc-text {
          display: inline;
        }
      }
      .try-in-store__header-text-inner {
        left: 42px;
        top: 1px;
        color: #2d2926;
        margin-right: 15px;
        .mm-available {
          display: inline;
        }
        .mm-available-instore {
          display: none;
        }
      }
      .fa.fa-chevron-down.pull-right {
        position: initial;
      }
    }
  }
  @media screen and (max-width: 767px) {
    width: 136px;
    border: none;
    border-radius: 0px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: auto;
    /*without expanded*/
    .try-in-store__header {
      .try-in-store__location-icon svg {
        display: none;
      }
    }
    .try-in-store__header-text {
      .try-in-store__header-loc-text {
        display: inline-block;
      }
    }
    .try-in-store__header-text-inner {
      left: 0px;
      top: 0px;
      color: #006601;
      height: auto;
      .try-in-store__header-loc-text {
        color: #2d2926;
      }
      .mm-available {
        display: none;
      }
      .mm-available-instore {
        display: inline;
        text-decoration: underline;
      }
    }
    .fa.fa-chevron-down.pull-right {
      position: relative;
      left: 13px;
      top: 12px;
    }
  }
  a {
  }
  @media screen and (max-width: 767px) {
    box-shadow: none;
    left: 0%;
    margin-left: 0px;
  }
}
.expander-container::after {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);
  opacity: 0;
  @media screen and (max-width: 767px) {
    box-shadow: none;
  }
}
.try-in-store-mobile + .try-in-store {
  @media screen and (max-width: 767px) {
    font-weight: bold;
  }
}
.try-in-store__button-group {
  height: 45px;
  bottom: 0;
  @media(max-width: 767px) {
  	.try-in-store__button.change-store {
  		left: -13px;
    	background: none;
  	}
  }
}

.expander-container.expanded::after {
  opacity: 1;
}
.expander-container.expanded {
  @media screen and (max-width: 767px) {
    width: 305px;
    position: absolute;
    z-index: 100002;
  }
}
.expander-container__header,
.try-in-store__header {
  display: block;
  font-weight: 500;
  padding: 2px;
  @media (min-width: 1025px) {
    padding-bottom: 10px;
  }
  .expander-container & {
    cursor: pointer;
  }
}
.try-in-store__location-icon {
  display: inline-block;
  left: 10px;
  position: relative;
  top: 8px;
  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    left: 10px;
    top: 8px;
  }
}
.try-in-store__header-text {
  color: #000 !important;
  height: auto;
  display: block;
  margin-right: 13px;
  position: relative;
  text-decoration: none;
  top: -19px;
  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    top: -18px;
    position: relative;
    left: 36px;
    width: 237px;
  }
  @media screen and (min-width: 1025px) {
    top: -18px;
    position: relative;
    left: 36px;
    max-width: 85%;
  }
  @media screen and (max-width: 767px) {
    height: 23px;
  }
}
.try-in-store__header-text-inner {
  color: #2d2926;
  font-family: $r-regular;
  font-size: 12px;
  font-weight: normal;
  height: 12px;
  left: 43px;
  position: absolute;
  top: 1px;
  @media screen and (min-width: 767px) {
    left: 0px;
    margin-right: 15px;
  }
}
.try-in-store__header-unavailable {
  display: block;
  margin-left: -25px;
  margin-top: 30px;
  position: static;
  text-align: center;
  width: 300px;
  z-index: 1;
  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    margin-left: 0px;
    left: 0px !important;
  }
  @media screen and (max-width: 767px) {
    margin-left: 0px;
    text-align: left;
    margin-top: 15px;
    color: #2d2926;
  }
}
.try-in-store__header-loc-text {
  font-weight: 500;
}
.try-in-store__header-text-inner a {
  color: #2d2926;
  font-family: $r-regular;
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  letter-spacing: normal;
  position: relative;
  top: 3px;
  width: 225px;
  left: 0;
  text-decoration: none;
  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    line-height: 17px;
    font-size: 12px;
  }
  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 16px;
  }
}
.try-in-store__check-available {
  color: $red;
  font-family: $r-regular;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  line-height: 1.83;
  letter-spacing: normal;
  position: absolute;
  top: 3px;
  width: 225px;
}
// closed content div
.try-in-store__content {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: max-height 0.25s ease-in-out, z-index 0.25s linear;
  min-width: 325px;
  max-width: 100%;
  z-index: 1;
  @media (max-width: 767px) {
    width: auto;
  }
  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    width: 285px;
  }
}
// open content div when expanded
.expander-container.expanded .try-in-store__content {
  max-height: 100vh;
  transition: max-height 0.25s ease-in-out, z-index 0.25s linear;
  z-index: 100;
  @media (min-width: 1025px) {
    overflow: initial;
  }
}
.try-in-store__store-info {
  font-size: 14px;
  padding-left: 44px;
  font-family: $r-regular;
}
.try-in-store__store-info li {
  list-style-type: none;
  line-height: 17px;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}
.try-in-store__store-info li:not(:last-child) {
  margin-bottom: 6px;
  text-decoration: none;
}
.try-in-store__store-closes {
  font-size: 14px;
  margin: 10px 0 15px 44px;
  font-weight: 500;
  font-family: $r-regular;
}
.try-in-store__button-group {
  background: $red;
  height: 51px;
  position: relative;
  bottom: -6px;
  @media (min-width: 1025px) {
    min-width: 325px;
    max-width: 100%;
  }
  left: 0px;
  @media (max-width: 767px) {
    width: auto;
  }
  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    width: 285px;
  }
}
.try-in-store__button-container {
  background: $red;
  display: inline-block;
  width: 49%;
  height: 50px;
  @media (max-width: 767px) {
    width: 49%;
  }
}
.try-in-store__button-container:first-of-type {
  border-right: 1px solid white;
}
.try-in-store__button {
  background: $red;
  color: $white;
  display: block;
  font-family: $r-regular;
  font-size: 14px;
  font-stretch: normal;
  font-weight: 500;
  font-style: normal;
  height: 17px;
  letter-spacing: normal;
  line-height: 1.21;
  margin: 0 auto;
  // padding: 0 28px;
  text-align: center;
  position: relative;
  top: 14px;
}
.try-in-store__button:hover {
  color: $gray;
}
.try-in-store__button:focus {
  color: $nero;
}
// expand collapse icon styles
.expander-container .fa {
  transform: rotate(0deg);
  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    position: relative;
    top: 0px;
  }
}
.expander-container.expanded .fa {
  transition: 0.3s transform ease-in-out;
  transform: rotate(180deg);
}
// override existing pseudo style
#finder .finder-results-v3 .finder-results-wrap .expander-container .fa:before {
  height: auto;
  position: static;
  width: auto;
}
// Find your store dialog
.ui-dialog.finder-try-in-store {
  .ui-icon-closethick {
    background: url("../images/closebtn.png");
    height: 31px;
    left: 5px;
    top: 0px;
    width: 31px;
  }
  #try-in-store-results .try-in-store-storelist li.preferred-store {
    border: 1px solid $red;
    background-color: $white !important;
  }
  #try-in-store-results .store-result .try-in-store-storelist .store-unavailable {
    height: 14px;
    font-family: $r-regular;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.17;
    letter-spacing: normal;
    color: $red;
  }
  #try-in-store-results button[type="submit"] {
    background-color: $red;
    border-radius: 25px;
    display: block;
    float: none;
    font-family: $r-regular;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    height: 45px;
    line-height: 0.88;
    margin: 0 auto;
    text-align: center;
    width: 345px;
    @media (max-width: 365px) {
      width: 295px;
    }
  }
  #dialog-container {
     @supports (-webkit-touch-callout: none) {
      padding-bottom: 75px;
    }
  }
  #try-in-store-results .try-in-store-storelist li label .availability {
    bottom: auto;
    text-align: left;
    top: 10px;
  }

  #try-in-store-results .try-in-store-storelist li label .availability .store-unavailable {
    font-style: 12px;
    margin-top: 6px;
    color: #626366;
  }
  #try-in-store-results .try-in-store-storelist li label .availability .store-try {
    color: $red;
    font-family: $r-regular;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    margin-top: 6px;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
  }
  #try-in-store-results .try-in-store-storelist li label .availability .store-try img {
    display: none;
  }
  #try-in-store-results .try-in-store-storelist .storeresult .storeaddress {
    font-family: $r-regular;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    min-height: 60px;
  }
  .slick-arrow {
    display: none;
  }
  .select-preferred-store {
    border: 1px solid #df3a20;
    font-family: $r-regular;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.86;
    letter-spacing: normal;
    text-align: center;
    color: #df3a20;
    background-color: #fff !important;
    margin-bottom: 10px;
    border-radius: 2px;
    padding: 11px 0 !important;
    .select-preferred-store-text {
      color: $red !important;
    }
  }
  .preferred-store {
    .select-preferred-store {
      border: 1px solid #d63426;
      font-family: $r-regular;
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.86;
      letter-spacing: normal;
      text-align: center;
      color: #fff;
      background-color: #d63426 !important;
      .select-preferred-store-text {
        color: #fff !important;
      }
    }
  }
}
.ui-dialog {
  .ui-dialog-titlebar-close {
    top: 13px;
    right: 15px;
    color: $black;
    overflow: hidden;
    text-indent: -200px;
  }

  &.finder-try-in-store {
    width: 100% !important;
    border-radius: 30px 30px 0 0;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.3);
    transition: all 0.9s;
    overflow-y: scroll;
    top: 0px;
    @include respond(large-down) {
      top: 1000px !important;
      position: fixed;
    }
    .location-details span {
      display: none;
    }
    .zip-code-new {
      display: inline-block !important;
    }
    .store-try {
      display: none !important;
      &.today {
        display: block !important;
      }
    }
    &.slideup {
      top: calc(0px + 140px) !important;
      bottom: 0px !important;
      height: 85% !important;
    }
    &.dynamicheight {
      height: calc(100vh - 140px) !important;
      @media (min-width: 768px) {
        display: grid !important;
      }
    }

    @include respond(large-up) {
      border-radius: 30px;
      box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.3);
      left: 50% !important;
      margin-left: -287px;
      min-height: 628px;
      overflow: inherit;
      transition: all 0.9s;
      width: 575px !important;
    }
    .ui-dialog-title {
      font-family: $r-regular;
      font-size: 28px;
      font-weight: bold;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      padding-top: 63px;
      border-bottom: none;
      margin-bottom: -3px;
      text-transform: capitalize;
      &:before {
        display: none;
      }
    }

    .ui-icon-closethick {
      background: url("../images/closebtn.png");
      width: 31px;
      height: 31px;
      left: 5px;
      top: 0px;
    }
    #dialog-container {
      #store-picker-enter-zip {
        .error {
          width: 271px;
          margin: 5px auto;
          padding-left: 5px;
        }
        .try-in-store-list {
          width: 271px;
          margin: 0 auto;
          li {
            display: block;
            width: 100%;
            margin-bottom: 0;
            &:last-child {
              width: 100%;
              margin-left: 0;
              button {
                width: 271px;
                min-width: 271px;
                margin: 0 auto;
                border-radius: 25px;
                margin-top: 10px;
                margin-left: 0;
                font-family: $r-regular;
                font-size: 16px;
                font-weight: bold;
                line-height: 0.88;
                text-align: center;
              }
            }
            .form-row {
              > label {
                font-family: $r-regular;
                font-size: 14px;
                font-weight: 500;
                line-height: 1;
                letter-spacing: normal;
              }
              &.form-select .field-wrapper {
                &:before {
                  font-family: FontAwesome;
                  content: "\f078";
                  position: relative;
                  float: right;
                  top: 35px;
                  right: 20px;
                }
              }
              input[type="text"],
              .input-select {
                border-radius: 25px;
                border: 1px solid #2d2926;
                min-height: 45px;
                font-family: $r-regular;
                font-size: 16px;
                font-weight: normal;
                line-height: 0.88;
                letter-spacing: normal;
                color: #332e2a;
                background: transparent;
                position: relative;
              }
              .field-wrapper {
                &:after {
                  right: 22px;
                  right: 20px;
                  top: 15px;
                  padding: 4px;
                }
              }
            }
          }
        }
      }
    }
    .form-horizontal {
      .location-details {
        text-align: center;
      }
      span {
        font-family: $r-regular;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
      }
      #change-location {
        color: $red;
        font-family: $r-regular;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: normal;
      }
      #try-in-store-results {
        #SetPreferredStore .location-details a {
          color: $red;
        }
        .store-result {
          height: 377px !important;
          text-align: left;
          &.mf-notavailable {
            opacity: 0.5;
            pointer-events: none;
            .store-unavailable {
              color: #757575;
            }
          }
          .try-in-store-storelist {
            li.preferred-store {
              border: 1px solid $red;
              background-color: $white !important;
            }
            li label {
              width: 100% !important;
              margin-top: 30px;
            }
            label {
              margin-top: 10px;
            }
            .store-unavailable {
              height: 14px;
              font-family: $r-regular;
              font-size: 12px;
              font-weight: bold;
              line-height: 1.17;
              letter-spacing: normal;
              color: $red;
            }
          }

          .storename {
            font-family: $r-regular;
            font-size: 16px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.88;
            letter-spacing: normal;
            color: #2d2926;
            margin-bottom: 17px;
            margin-top: 29px;
          }
          .storeaddress {
            font-family: $r-regular;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: normal;
            min-height: 60px;
          }
          .store-details a {
            text-decoration: none;
          }
          .distance {
            font-family: $r-regular;
            color: #433c36;
            float: none;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
          }
        }
        .try-in-store-storelist li .store-container .store-details {
          .storename {
            color: #2d2926;
          }
          .storeaddress {
            color: #2d2926;
          }
          a .distance {
            color: #433c36;
          }
        }
        .try-in-store-storelist li .store-container .store-hours .hours-title {
          font-family: $r-regular;
          font-size: 16px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          color: #2d2926;
          line-height: 1.25;
          letter-spacing: normal;
        }
        .try-in-store-storelist li .store-container .store-hours .hours-actual {
          font-family: $r-regular;
          font-size: 14px;
          line-height: 20px;
          padding: 0 0 10px;
          color: #332e2a;
        }
      }
    }
  }
}
#try-in-store-results {
  .try-in-store-storelist {
    @include line-height(21px);
    padding-left: 0;
    display: flex;
    min-height: 430px;
    list-style: none;
    margin-bottom: 20px;
    .slick-arrow {
      border: 0;
      background: none;
    }
    .slick-arrow.slick-next {
      right: -20px;
      @include respond(large-down) {
        right: -11px;
      }
    }
    .slick-arrow.slick-prev {
      left: -20px;
      @include respond(large-down) {
        left: -11px;
      }
    }
    li {
      @include line-height(21px);
      display: flex;
      vertical-align: top;
      margin: 0 7.5px;
      flex: 1;
      position: relative;
      padding-bottom: 4em;
      border: solid 1px #cccccc;
      min-height: 430px;
      @include respond(large-down) {
        text-align: center;
      }
      &.preferred-store {
        border: solid 1px $algae;
        background-color: rgba(86, 176, 112, 0.19);
        .select-preferred-store {
          background-color: $algae;
        }
      }
      &:last-child {
        margin-right: 0;
      }
      .store-container {
        padding: 5%;
        flex: 1;
        .store-details {
          min-height: 32%;
          margin: 0 0 20px;
          .storename {
            @include font-size(15px);
            @include respond(large-down) {
              @include font-size(17px);
            }
            font-weight: bold;
            margin-bottom: 15px;
            height: 40px;
          }
          .storeaddress {
            height: 60px;
            @include respond(large-down) {
              @include font-size(17px);
            }
          }
          .distance {
            float: right;
            margin: 15px 0 10px;
            @include respond(large-down) {
              float: none;
              @include font-size(17px);
            }
            &:before {
              content: "";
              background-image: url("../images/interface/directions.png");
              background-repeat: no-repeat;
              display: inline-block;
              height: 18px;
              width: 18px;
              background-size: 100%;
              vertical-align: middle;
              margin-right: 2px;
            }
          }
        }
        .store-hours {
          float: left;
          @include respond(large-down) {
            float: none;
            @include font-size(17px);
          }
          .hours-title {
            font-weight: bold;
          }
        }
        .hours-actual {
          padding: 0 0 10px;
        }
      }
      span {
        display: block;
      }
      label {
        width: 100%;
        margin-top: 30px;
        .availability {
          font-weight: bold;
          float: left;
          text-align: center;
          width: 90%;
          position: absolute;
          bottom: 75px;
          @include respond(large-down) {
            @include font-size(17px);
          }
          .store-try.today {
            display: none;
          }
          .store-unavailable.today {
            display: none;
          }
          .store-available,
          .store-try {
            color: $algae;
            @media only screen and (max-width: 668px) {
              margin-bottom: -20px;
            }
            img {
              margin-right: 5px;
              margin-top: -3px;
              display: inline;
            }
          }
          .store-unavailable {
            color: $dark-gray;
            @include respond(large-down) {
              bottom: 50px;
            }
          }
        }
      }
      .select-preferred-store {
        width: 90%;
        padding: 6px 0;
        text-align: center;
        position: absolute;
        bottom: -15px;
        margin-bottom: 2em;
        border-radius: 2px;
        background-color: $crimson;
        @media only screen and (max-width: 668px) {
          bottom: 0;
          margin-bottom: 1em;
        }
        &.disabled {
          opacity: 0.24;
          cursor: initial;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        }
        span {
          @include font-size(14px);
          color: $white;
          cursor: pointer;
        }
        input {
          display: none;
        }
      }
    }
  }
  .tryinstore-save {
    letter-spacing: -0.6px;
    color: #525252;
    span {
      font-weight: bold;
    }
  }
  button[type="submit"] {
    background-color: $algae;
    float: right;
    width: 303px;
    @media screen and (max-width: 320px) {
      width: 270px;
    }
    @include respond(large-down) {
      float: none;
      margin: 0 auto;
      display: block;
    }
    text-align: center;
    color: $white;
    text-transform: capitalize;
    border-radius: 2px;
    &[disabled="disabled"] {
      opacity: 0.3;
    }
  }
}
#SetPreferredStore {
  .location-details {
    width: 100%;
    margin-bottom: 1.5em;
    color: $black;
    span {
      @include font-size(16px);
    }
    .zip-code-new {
      display: none;
    }
    a {
      margin-left: 20px;
      color: $summer-sky;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

// Email modal

.exacttarget-email {
  font-size: 16px;
  font-family: $r-regular;
  font-weight: 400;
  width: 210px;
  height: 45px;
  border-radius: 25px 0 0 25px;
  border: solid 1px #979797;
  background-color: #ffffff;
  line-height: 0.88;
  letter-spacing: normal;
  color: #2d2926;
  float: left;
  border-right: none;
  margin: 0;
  padding-left: 16px;
  &:focus {
    color: #2d2926;
    border: solid 1px #2d2926;
    border-right: none;
  }
  @include respond(large-down) {
    width: 64%;
  }
}
.mf-email-btn {
  max-width: 351px;
  margin: 0 auto;
  @include respond(large-down) {
    max-width: 100%;
  }
}
.mf-results-container-signup {
  margin-top: 19px;
  .checked {
    border-radius: 5px;
  }
}
.exacttarget-form-container__signup-text {
  margin: 0 auto;
  width: 90%;
  float: left;
  font-family: $r-regular;
  font-size: 12px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2d2926;
  text-align: left;
}
.mf-results-container-signup .checker {
  margin: 0.15em 10px 1em 0%;
  float: left;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: solid 1px #d63426;
  background-color: #d63426;
}
.exacttarget-email::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #9b9b9b;
}
.exacttarget-email::-moz-placeholder {
  /* Firefox 19+ */
  color: #9b9b9b;
}
.exacttarget-email:-ms-input-placeholder {
  /* IE 10+ */
  color: #9b9b9b;
}
.exacttarget-email:-moz-placeholder {
  /* Firefox 18- */
  color: #9b9b9b;
}
.exacttarget-form-container__inner {
  width: 450px;
  margin: 0 auto;
  padding: 125px 0 !important;
  @include respond(large-down) {
    padding: 60px 0 !important;
    width: 100%;
  }
}
.exacttarget-email-button {
  &.exacttarget-form-container__submit-btn {
    width: 135px;
    font-family: $r-regular;
    height: 45px;
    border-radius: 0 100px 100px 0;
    background-color: #d63426;
    line-height: 0.88;
    letter-spacing: normal;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    padding: 6px 12px;
    text-transform: capitalize;
    margin: 0;
    @include respond(large-down) {
      width: 36%;
      background: #d63426;
      text-indent: 0;
    }
  }
}
@media only screen and (max-width: 767px) {
  .thank-you-mf-section {
    display: none;
  }
}

// Refinements
.MM-results-wrapper__title {
  color: #2d2926;
  font-family: "Rubik Black", Arial, sans-serif;
  font-size: 18px;
  line-height: 14px;
  text-transform: uppercase;
}

#nav_label {
  display: none;
  & ~ nav {
    max-height: 0;
    overflow: hidden;
    // transition-duration: 0.4s;
    visibility: hidden;
    &.show-mobile-refinements-filter {
      display: none;
      opacity: 0;
    }
    .secondary-navigation {
      border-top: 1px solid $primary-border-color;
    }
    @include respond(large-up) {
      &.show-desktop-refinements-filter {
        max-height: inherit;
        .secondary-navigation {
          border: 0 none;
        }
      }
    }
  }
  & ~ label:after {
    content: url(../images/ref_arrows.png);
    right: 1px;
    position: absolute;
    top: 18px;
    height: 20px;
    width: 20px;
    overflow: hidden;
  }
  &:checked {
    & ~ label {
      background-position: calc(100% - 20px) -31px;
    }
    & ~ nav {
      max-height: 2500px;
      opacity: 1;
      display: block;
      overflow-x: hidden;
    }
  }
}

.refinements #nav_label:checked ~ nav {
  @media only screen and (max-width: 767px) {
    background: $white;
  }
}

.refinement-big-container {
  position: relative;
}

#mobile-refinements-filter.show-mobile-refinements-filter {
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  overflow: scroll !important;
  overflow-x: hidden;
  position: fixed;
  right: 0;
  visibility: visible;
}

// Gets applied to #mobile-refinements-filter
.show-desktop-refinements-filter {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  text-indent: -99999px;

  @media screen and (min-width: 768px) {
    padding: 0 15px 55px;
    //transform: translateX(290px);
    height: calc(100% - 50px);
    position: fixed;
    width: 0;
    z-index: 1000;
    left: auto;
    top: 0;
    right: -100%;
    background-color: #fff;
    transition: 0.5s;
    overflow: scroll !important;

    &.show-desktop-refinements-filter__drawer__open {
      //display: block;
      //transform: translateX(1px);
      right: 0;
      width: 375px;
      opacity: 1;
      visibility: visible !important;
      text-indent: 0;
    }
  }
}

.mobile-refinements-filter__inner {
  // overflow: scroll;
  overflow-x: hidden;
  padding-bottom: 150px;
}

// refinement inner styles
.refinement-big-container {
  @media only screen and (max-width: 767px) {
    background: $white;
    margin: 0 0 0 -30px;
    padding: 0 30px;
    width: calc(100% - 40px);
    .nav-title {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='16' viewBox='0 0 22 16'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%232D2926' stroke-width='2'%3E%3Cpath stroke-linecap='round' d='M0 7.918L22 7.918'/%3E%3Ccircle cx='6' cy='8' r='2' fill='%23FFF'/%3E%3Cpath stroke-linecap='round' d='M0 1.918L22 1.918'/%3E%3Ccircle cx='15' cy='2' r='2' fill='%23FFF'/%3E%3Cg transform='translate(0 12)'%3E%3Cpath stroke-linecap='round' d='M0 1.918L22 1.918'/%3E%3Ccircle cx='17' cy='2' r='2' fill='%23FFF'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
      background-position: 10px !important;
      border-radius: 2px;
      border: solid 1px $bombay !important;
      width: 135px !important;
      background-color: transparent !important;
    }
  }
}

.collapsed-refinement {
  border: 1px solid $light-gray;
  margin-bottom: 10px;
  padding-bottom: 0 !important;
}

.refinements {
  .refinement {
    @media screen and (max-width: 767px) {
      background: #fff;
      border: solid 1px $light-gray;
      border-radius: 2px;
      margin: 0 12px 10px;
      padding: 0;
    }
    @media screen and (min-width: 768px) {
      border-bottom: 0;
    }
  }

  .toggle {
    margin-bottom: 18px;
    padding: 19px 0 0 10px;
  }
}

.refinements .refinement {
  background: #ffffff;
  border: solid 1px #f1f1f2;
  border-radius: 2px;
  margin: 0 12px 10px;
  padding: 0;
}

.refinements .refinement.collapsed-refinement {
  @include respond(large-up) {
    border: 1px solid $light-gray;
  }
}

span.refinements-see-more {
  cursor: pointer;
}

.refinements .toggle {
  background-image: url(../images/ref_arrows.png);
  background-position: calc(100% - 20px) -25px;
  background-repeat: no-repeat;
  background-color: #fff;
  border: 0;
  color: $dark-gray-1;
  cursor: pointer;
  font-size: 18px;
  font-family: $r-medium;
  font-weight: 500;
  line-height: 1.125rem;
  letter-spacing: 0;
  margin: 0 0 18px;
  padding: 23px 0 0 18px;
  text-transform: none;
}

.refinements .toggle.expanded-title {
  background-position: calc(100% - 20px) 22px;
}

.refinements .clear-refinement {
  display: none;
}

.refinements ul {
  padding: 0 10px 0 17px;
}

.refinements li {
  margin-bottom: 14px;
  padding: 0;

  @include respond(large-up) {
    margin: 0 0 15px 0;
  }
}

.refinement .refinement-link {
  font-size: 16px;
  outline: none;
  text-decoration: none;
}

.refinements .refinement-text {
  font-family: $r-regular;
  font-size: 16px;
  font-weight: normal;
  margin-left: 9px;
}

.refinement li a {
  text-decoration: none;
}
// hide count for now
.mobile-results-count {
  display: none;
  position: relative;
  top: 12px;
  left: 5px;
}
// hide clear all for now
.breadcrumb-refinement-mobile {
  display: none;
}

.refinements #nav_label ~ label {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='16' viewBox='0 0 22 16'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%232D2926' stroke-width='2'%3E%3Cpath stroke-linecap='round' d='M0 7.918L22 7.918'/%3E%3Ccircle cx='6' cy='8' r='2' fill='%23FFF'/%3E%3Cpath stroke-linecap='round' d='M0 1.918L22 1.918'/%3E%3Ccircle cx='15' cy='2' r='2' fill='%23FFF'/%3E%3Cg transform='translate(0 12)'%3E%3Cpath stroke-linecap='round' d='M0 1.918L22 1.918'/%3E%3Ccircle cx='17' cy='2' r='2' fill='%23FFF'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
  background-position: 10px !important;
  background-repeat: no-repeat;
  background-color: transparent !important;
  border-radius: 2px;
  border: solid 1px $bombay;
  background-color: $white;
  color: $dark-gray-1;
  display: inline-block;
  font-family: Rubik;
  float: right;
  font-size: 14px;
  height: 20px;
  margin-right: 5px;
  margin-bottom: 20px;
  letter-spacing: normal;
  line-height: 1.2;
  padding-top: 12px;
  padding-bottom: 6px;
  text-transform: capitalize;
  width: 273px;
  padding-left: 40px;
  cursor: pointer;
  @media only screen and (max-width: 767px) {
    float: none;
    //padding-left: 39px;
    width: 100% !important;
  }
  @media only screen and (min-width: 768px) {
    float: none;
    margin: 5px 0;
    position: absolute;
    right: 0;
    top: -64px;
    text-align: left;
  }
}

.related-recommendation {
  @media only screen and (max-width: 767px) {
    display: flex;
    flex-flow: nowrap column;
  }
}

.refinements {
  @media only screen and (max-width: 767px) {
    order: 0; // refinement goes on top in mobile order
  }
}

// Selected Filters
.selected_refinements {
  clear: both;
  text-align: left;
  top: -17px;
  position: relative;
  padding-left: 0;
  float: left;
  width: 100%;
  z-index: 1;
  @media only screen and (max-width: 767px) {
    float: none;
    order: 2; // Change order of Filters and Selected Refinements in mobile.
    top: -9px;
  }
}

.breadcrumb-refinement-mobile {
  background-color: inherit;
  margin-bottom: 10px;
  // padding: 8px;
  padding: 0;
}

.breadcrumb-refinement-mobile .breadcrumb-refined-by {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.86;
  letter-spacing: normal;
  color: #2d2926;
  text-transform: initial;
  margin-bottom: 0;
}

#secondary.refinements .breadcrumb-refinement-mobile ul {
  border: none;
}

.selected-filters__title {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.86;
  letter-spacing: normal;
  color: $dark-gray-1;
  display: inline;
  @include respond(large-down) {
    display: block;
    margin-bottom: 10px;
  }
}

.selected-filters_your-selection {
  display: block;
  margin-bottom: 6px;
}

.selected-filter__inner {
  display: flex;
  flex-flow: column wrap;
}

.selected-filter {
  background-color: $white;
  background-image: url("../images/pill-cancel-icon.svg");
  background-position: calc(100% - 14px) calc(100% - 9px);
  background-repeat: no-repeat;
  background-size: 9px auto;
  border: solid 1px $mercury;
  border-radius: 17.5px;
  color: $dark-gray-1;
  display: inline-block !important;
  font-size: 14px;
  height: 24px;
  line-height: 21px;
  margin-right: 4px;
  margin-bottom: 2px;
  padding: 5px 36px 0px 13px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;

  &:hover,
  &:link,
  &:visited {
    color: #000;
    text-decoration: none;
  }
}

#secondary nav a.selected-filters__clear-all,
#secondary a.selected-filters__clear-all,
a.selected-filters__clear-all {
  color: $punch !important;
  display: inline;
  font-weight: 500;
  text-decoration: underline;
  white-space: nowrap;
}

#selected-filters__clear-all {
  color: $punch;
}

.refinement-big-container .selected-filters-mvc {
  @include respond(large-up) {
    display: none;
  }
}
// send selected filters

.refinements .refinement-image {
  background-image: none;
  background-position: -60px -99px;
  background-repeat: no-repeat;
  border: 1.5px solid $bombay;
  border-radius: 5px;
  color: $black;
  display: inline-block;
  height: 16px;
  margin: 0;
  padding: 1px !important;
  vertical-align: top;
  width: 17px;
  font-size: 16px;
}

.refinements .selected .refinement-image {
  background: $black;
  border: 1.5px solid $black;
}

.refinements .refinement-price .refinement-image {
  display: inline-block;
}

.refinements .refinement-price .selected .refinement-text {
  font-weight: normal;
}

.refinements .refinement-price .refinement-text {
  color: #000;
  margin-left: 9px;
  position: relative;
}

.refinements .selected .refinement-image::after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  content: "";
  height: 10px;
  left: 24px;
  margin-top: 0.025rem;
  position: absolute;
  transform: rotate(45deg);
  width: 5px;
  @include respond(large-up) {
    left: 24px;
  }
}
.refinements .nextday_delivery .selected .refinement-image::after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  content: "";
  height: 10px;
  left: 31px;
  margin-top: 0.025rem;
  position: absolute;
  transform: rotate(45deg);
  width: 5px;
  @include respond(large-up) {
    left: 22px;
  }
}

.refinements .refinement-text {
  width: auto;
}

.close-refinement.desktop-hide {
  @include respond(large-up) {
    display: none;
  }
}

.search-result-options {
  position: static;
}

.refinements .close-reminement {
  position: fixed;
  z-index: 1000;
  text-align: center;
  @media screen and (max-width: 767px) {
    // bottom: 58px;
    width: 95%;
    height: 110px;
    bottom: 0;
    height: 110px;
  }
  @media screen and (min-width: 768px) {
    opacity: 1 !important;
    left: auto;
    width: 350px;
    height: 85px;
    bottom: 0;
  }
}

.apply-filter.close-reminement {
  background-color: $white;
  margin: 0 10px 0 14px;
  padding-top: 8px;
  //opacity: 0;
  &.sticky {
    opacity: 1 !important;
  }
}

.apply-filter.close-reminement .close-refinement-btn {
  background: #d63426;
  border-radius: 25px;
  color: #ffffff !important;
  cursor: pointer;
  display: block;
  font-family: "Rubik Medium", "Arial", sans-serif;
  height: 19px;
  padding: 11px;
  right: 8px;
  text-align: center;
  text-transform: uppercase;
  position: static;
  left: 0;
}
// end refinements inner

.mobile-topheading {
  display: block;
  background: #ffffff;
  height: 158px;
  margin-bottom: 11px;
  position: relative;
}

.mobile-topheading h6 {
  font-size: 20px;
  font-weight: bold;
  padding: 14px;
  margin: 0;
  position: absolute;
  top: 56px;
  text-transform: uppercase;
  padding-left: 17px;
  letter-spacing: 0.0125rem;
}

.mobile-topheading .clear-all-link {
  position: absolute;
  right: 20px;
  top: 77px;
}

.mobile-topheading .clear-all-link a {
  font-size: 16px;
  color: #d63426;
  font-weight: 500;
}

.mobile-topheading .apply-filter__sort-by {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.mobile-topheading .apply-filter__sort-by .sort-by {
  padding: 0 17px;
}

.mobile-topheading .apply-filter__sort-by .fa-chevron-down {
  position: absolute;
  right: 30px;
  top: 15px;
}

.mobile-topheading .apply-filter__sort-by #mm-grid-sort-header {
  border: 1px solid #b3b5b7;
  border-radius: 2px;
  font-size: 16px;
  height: 45px;
}

.mobile-topheading .close-filter-container {
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: absolute;
  right: 12px;
  top: 18px;
}

.mobile-topheading .close-filter {
  display: inline-block;
  height: 19px;
  position: absolute;
  width: 19px;
  top: 9px;
  left: 7px;
}

.mobile-topheading .close-filter:before,
.mobile-topheading .close-filter:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: $black;
  top: 6px;
}

.mobile-topheading .close-filter:before {
  transform: rotate(45deg);
}

.mobile-topheading .close-filter:after {
  transform: rotate(-45deg);
}

.close-refinement {
  position: absolute;
  top: 46px;
  right: 8px;
  background: none;
}

.close-refinement a {
  background: none;
  text-transform: initial;
  text-decoration: underline;
  color: $punch !important;
}

.close-refinement a span {
  color: $punch;
  text-decoration: underline;
}
.matcher-error-sorry {
  font-size: 44px;
  font-family: "Rubik Black", Arial, sans-serif;
  margin-bottom: 15px;
  color: #2d2926;
  text-align: center;
}
.matcher-error-message {
  font-size: 18px;
  font-weight: normal;
  color: #2d2926;
  width: 315px;
  line-height: 24px;
  margin: 15px auto 15px auto;
  text-align: center;
}
.matcher-error-phone {
  display: block;
  width: 225px;
  height: 44px;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
}
.MM-results-wrapper .infinite-scroll-loading {
  text-align: center;
  background: url("../images/infinite-loading-indicator.gif") center no-repeat;
  height: 35px;
  width: 100%;
}
.matcher-error-message.desktop span.matcher-error-phone {
  width: auto;
  display: inline-block;
}
.matcher-error-message.mobile {
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
}
.matcher-error-message.desktop {
  @media (max-width: 767px) {
    display: none;
  }
}
.matcher-error-message.mobile .matcher-error-phone {
  @media (max-width: 767px) {
    width: 215px;
    margin-top: 15px !important;
    display: block;
    text-decoration: none;
    &:hover {
      color: white;
    }
  }
}

/* Loader icon */
.loader-icon {
  display: none;
  width: 40px;
  height: 40px;
  margin: 20px auto 0;
}
