.black-rule {
	border-top: 10px solid;
}
.footer-columns {
	@media only screen and (max-width: 1024px) {
		display: table;
    	width: 100%;
	}
	padding: 40px 0 0;
	max-width: 1200px;
	.column {
		@media only screen and (max-width: 1024px) {
			display:inline-block;
		}
	}
	.first {
		@media only screen and (max-width: 1024px) {
			float: left;
	    	width: 50%;
    	}
    	@include respond(large-down) {
    		display: none;
    	}
    	.footer-social-tablet {
    		display: none;
    		@media only screen and (max-width: 1024px) {
				display: block;
    		}
    		.social-links {
			    @media only screen and (max-width: 1024px) {
			    	display: block;
			    }
			}
    	}
	}
	.second {
		@include respond(large-down) {
    		display: none;
    	}
	}
  ul:not(.social-links) {
    margin-bottom: 20px;
    padding-left: 0;    
    list-style: none;

    li {
      margin-bottom: 5px;
    }
  }
.footer_email {
	@media only screen and (max-width: 1024px) {
		text-align: center;
		display: table-header-group;
	}
	.review-policy {
		a {
			text-decoration: underline;
		}
		@include respond(large-down) {
			display: none;
		}
		@include respond(large-only) {
			display: none;
		}
	}
	.footer-logo {
		margin-bottom: 30px;
	}
	.emailsignup {
		width: 400px;
		@media only screen and (max-width: 1024px) {
			margin: 0 auto;
		}
		@include respond(large-down) {
			width: 270px;
		}
		input {
			padding-right: 50px;
			border-radius: 20px;
			    margin: 10px 0px;
		}
		input.error + #email-alert-address-error + button {
				top: -72px;
		}
		button {
			float: right;
		    position: relative;
		    color: black;
		    top: -52px;
		    border-radius: 20px;
		    background-color: transparent !important;
		    transition: unset;
		    img {
		    	vertical-align: middle;
		    }
		}
	}
	.review-policy {
		@media only screen and (max-width: 1024px) {
			    width: fit-content;
    			margin: 0 auto;
		}
	}
}
.footer-columns-mobile {
	@include respond(medium) {
		display: none;
	}
	margin: 0 auto;
	width: 100%;
	.about {
		border-top: 1px solid;
	}
	.policy-mobile {
		margin-top: 20px;
    	text-align: center;
    	font-weight: normal;
		@include respond(large) {
			display: none;
		}
		a {
			text-decoration: underline;
		}
	}
	.about, .customer-service, .legal-info, .mobile-footer-menu-item {
		padding: 10px 10px 30px 10px;
    	border-bottom: 1px solid;
		.footer-about, .footer-cs, .footer-li, .mobile-footer-menu-title {
			float: left;
	    	width: 80%;
	    	text-align: left;
	    	font-family: Montserrat;
	    	font-size: 15px;
		}
		.arrow-right-1 ,.arrow-right-2,.arrow-right-3,.arrow-right-footer-menu {
			float: right;
	    	width: 20%;
	    	text-align: right;
		}
		ul {
			padding-top: 30px;
		}
	}
	.media-header {
		text-align: center;
	    font-family: Montserrat;
	    font-size: 15px;
	    font-weight: normal;
	    margin-top: 10px;
	}
	.footer-social-tablet {
		@include respond(large-down) {
			display: block !important;
		}
		.social-links {
			@include respond(large-down) {
			display: flex !important;
			padding-left: 21px;
			margin-top: 10px;
			}
		}
	}
}
  .social-links {
    margin-top: 40px;
    padding-left: 0;
    @media only screen and (max-width: 1024px) {
    	display: none;
    }

  	li {
  		margin-bottom: 0;
  		margin-right: 20px;
  		display: inline-block;
  		a {
  			vertical-align: middle;
  			display: inline-block;
  			svg {
  				transition: transform ease .3s;
  			}
  			&:hover svg {
  				transform: scale(1.15);
  			}
  		}
  	}
  }
}

.footer-email-signup {
  form {
    position: relative;
  }
  
  input[type="text"] {
    background-color: $white;
    color: $coal;
    border: 1px solid $dark-gray;
    border-radius: 20px;
  }

  ::-webkit-input-placeholder {
    color: $coal;
  }

  ::-moz-placeholder {
    color: $coal;
  }

  :-ms-input-placeholder {
    color: $coal;
  }

  :-moz-placeholder {
    color: $coal;
  }

  button {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 12px;
    background-color: transparent;

    svg {
      transition: transform ease .3s;
    }

    &:hover svg {
      transform: translateX(3px);
    }
  }
}