.row,
.section {
  margin: 0 auto;
  width: 100%;

  &.row-small {
  	max-width: map-get($breakpoints, large);
  }
}

.column {
  box-sizing: border-box;

  .right {
    display: flex;
    justify-content: flex-end;
  }
}

.section {
  max-width: map-get($breakpoints, xlarge);
  padding: $spacing-3 0;

  @include breakpoint(small down) {
    padding: $spacing-2 0;

    &:first-child {
      padding-top: 0;
    }
  }
}