.svg-account-icon-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow-left-dims {
	width: 48px;
	height: 48px;
}

.svg-arrow-left-blue-dims {
	width: 48px;
	height: 48px;
}

.svg-arrow-left-wide-blue-dims {
	width: 48px;
	height: 48px;
}

.svg-arrow-left-wide-grey-dims {
	width: 48px;
	height: 48px;
}

.svg-arrow-right-dims {
	width: 48px;
	height: 48px;
}

.svg-arrow-right-blue-dims {
	width: 48px;
	height: 48px;
}

.svg-arrow-right-wide-blue-dims {
	width: 48px;
	height: 48px;
}

.svg-arrow-right-wide-grey-dims {
	width: 48px;
	height: 48px;
}

.svg-avatar-dims {
	width: 48px;
	height: 48px;
}

.svg-checkmark-dims {
	width: 24px;
	height: 24px;
}

.svg-checkmark-blue-dims {
	width: 24px;
	height: 24px;
}

.svg-checkmark-warm-grey-dims {
	width: 24px;
	height: 24px;
}

.svg-credit-cards-amex-dims {
	width: 30px;
	height: 20px;
}

.svg-credit-cards-mastercard-dims {
	width: 30px;
	height: 22px;
}

.svg-credit-cards-visa-dims {
	width: 30px;
	height: 20px;
}

.svg-customer-avatar-dims {
	width: 36px;
	height: 36px;
}

.svg-discover-dims {
	width: 30px;
	height: 20px;
}

.svg-entity-icon-dims {
	width: 32px;
	height: 32px;
}

.svg-error-icon-dims {
	width: 32px;
	height: 32px;
}

.svg-list-items-dims {
	width: 33px;
	height: 33px;
}

.svg-login-dims {
	width: 33px;
	height: 33px;
}

.svg-mfrm-blk-logo-dims {
	width: 267px;
	height: 36px;
}

.svg-mfrm-email-logo__black-dims {
	width: 267px;
	height: 36px;
}

.svg-new-account-dims {
	width: 33px;
	height: 33px;
}

.svg-payment-dims {
	width: 33px;
	height: 33px;
}

.svg-plus-symbol-dims {
	width: 31.444px;
	height: 31.444px;
}

.svg-sort-arrow-down-dims {
	width: 48px;
	height: 48px;
}

.svg-sort-arrow-up-dims {
	width: 48px;
	height: 48px;
}

.svg-sort-arrow-up-down-dims {
	width: 48px;
	height: 48px;
}

.svg-truck-dims {
	width: 33px;
	height: 33px;
}

.svg-welcome-icon-dims {
	width: 39px;
	height: 73px;
}

.svg-x-symbol-biscay-blue-dims {
	width: 20px;
	height: 20px;
}

.svg-x-symbol-white-dims {
	width: 20px;
	height: 20px;
}

