%clear_list {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		margin: 0;
		padding: 0;
	}
}

* {
	outline: none;
}

body {
	background: none;
	color: $color-primary;
	font-family: $sans-serif;
	@include font-size($font-size-regular);
}

img {
	max-width: 100%;
	vertical-align: top;
}

a {
	@include link-paragraph;
	&:focus,
	&:hover,
	&:active{
	    outline:none !important;
	}
}

p {
	button {
		width: auto;
	}
}

ul, ol {
	margin: 0;
	padding-left: 16px;
	li {
		@include line-height($font-height-regular);
		margin-bottom: 20px;
	}
}

fieldset {
	border: 0 none;
	margin: 0;
	padding: 0;
}

table {
	width: 100%;
}

th {
	text-align: left;
}

td {
	padding: 1em;
	vertical-align: top;
}

button,
.button,
.buttonstyle,
.continue,
input[type="button"] {
	border: none;
	background-color: $crimson;
	color: $white;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: background-color 0.3s ease, color 0.3s ease;
	box-sizing: border-box;
	border-radius: 5px;
	&:hover {
		background-color: $crimson;
		text-decoration: none;
		color: $white;
	}
	&:focus,
	&:active {
		color: $white;
	    outline:none !important;
	    background-color: $crimson;
	}
	&.large {
		width: auto;
	}
	&.secondary {
		background-color: $summer-sky;
		margin-top: 30px;
		&:hover {
			background-color: $summer-sky;
		}
	}
	&[disabled],
	&.disabled {
		background-color: $crimson;
		color: $white;
		opacity: 0.5;
		&.secondary {
			background-color: $summer-sky;
			&:hover {
				background-color: $summer-sky;
			}
		}
	}
	a {
		color: $white;
		&:hover {

		}
	}
	i {
		&.left {
			margin-right: 0.6em;
		}
		&.right {
			margin-left: 0.6em;
		}
	}
}

.button-fancy-small {
float:right;
}

.button-fancy-medium {
}

.button-fancy-large {
	@extend .button.large;
}
.button-text_wishlist {
	background-color: transparent;
    padding: 0;
    color: #333333;
    /* text-decoration: underline; */
    border: 1px solid grey;
    font-weight: 400;
    width: 135px;
    border-radius: initial;
    border-radius: 10px;
    line-height: 40px;
    height: 40px;
	&:hover {
		color:black;
		Background-color:white;
	}
	}
.button-text {
	background-color: transparent;
	padding: 0;
	color: $color-primary;
	text-decoration: underline;
	font-weight: $font-wt-regular;
	width: auto;
	line-height: inherit;
	height: inherit;
	&:hover {
		text-decoration: underline;
		background: none;
		color: $color-secondary;
	}
	
}

.button-full-width {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	width: 100%;
}

/*Scroll To Top button*/
.scrollToTop {
	position: fixed;
	bottom: 130px;
	right: 15px;
	display: none;
	z-index: 10001;
	&:hover {
		cursor: pointer;
		color: $white;
	}
}

.paragraph-head + p {
	margin-top: 0;
}

.page-title {
	@include block-page-title;
}
@media screen and (max-width:1200px){
	.button-text_wishlist  {
		float:right;
		margin:10px 6px 0px 0px;
	}
	.button-fancy-small {
		float:right;
		margin:0px 6px 0px 0px;
	}
}