.ui-widget-overlay {
	background: $black;
	opacity: 0.75;
}

.ui-dialog {
	background-color: $white;
	padding: 0;
	z-index: 1000001;
	@include respond(small) {
		width: 100% !important;
	}
	&.PDP-product-zoom{
        max-width:736px;
        .ui-dialog-title{
            display:none;
        }
        .ui-dialog-content{
            border:0;
            padding:16px;
        }
        .ui-dialog-titlebar-close{
            top:15px;
            right:15px;
            width:40px;
            height:40px;
        }
        .ui-icon-closethick{
            top:8px;
            left:8px;
            width:24px;
            height:24px;
            -webkit-transform: scale(0.8);
            transform: scale(0.8);
            background-position: -73px -242px;
        }
        #amplience-main{
        	.slick-list{
            	border:0;
            	padding:0;
            }
            .slick-dots{
            	text-align:center;
            }
			.slick-arrow {
				height: 48px;
				width: 48px;
				opacity:1;
				border-radius: 50%;
				background: #f1f1f2;
				outline: none !important;
				box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
				&.slick-prev {
					left: 10px;
					&.slick-disabled{
						background:#f2f2f3;
					}
					&:after{
						top:19px;
						left:19px;
						width:auto;
						height:auto;
						padding: 5px;
						background:none;
						position:absolute;
						border: solid black;
						border-width: 0 2px 2px 0;
						transform: rotate(135deg);
						-webkit-transform: rotate(135deg);
					}
				}
				&.slick-next {
					right: 10px;
					&.slick-disabled{
						background:#ccc;
					}
					&:after{
						top:19px;
						right:19px;
						left:auto;
						width:auto;
						height:auto;
						padding: 5px;
						background:none;
						position:absolute;
						border: solid black;
						border-width: 0 2px 2px 0;
						transform: rotate(-48deg);
						-webkit-transform: rotate(-48deg);
					}
				}
			}
        }
        #amplience-nav .slick-slide{
        	border-color:#fff;
        	&.slick-current{
        		border-color:#f1f1f2;
        		&:after{
        			display:none !important
        		}
        	}
        }
        .col-1 #amplience-main{
			border:0;
			padding:0;
        }
    }
	&.no-result-found-dialog{
        width:400px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.3);
        .ui-dialog-content{
            padding:22px;
            text-align:center;
            height:auto !important;
        }
        .no-result-found{
            color:#D63426;
            font-size:16px;
            line-height:21px;
        }
        .ui-dialog-buttonpane{
            padding:0 22px 22px;
            .ui-dialog-buttonset{
                float:none;
                text-align:center;
            }
            button{
                margin:0;
                min-width: 170px;
                border-radius: 5px;
                background: #323030;
                &:hover{
                    background:#d63426;
                }
            }
        }
    }
	.ui-widget-header {
		border: none;
		border-radius: 0;
		padding: 0 20px;
		height: auto;
		text-transform: uppercase;
	}
	.ui-dialog-title {
		@include secondary-heading;
		margin: 0;
		padding: 15px 0;
		width: 100%;
		border-bottom: $border;
	}
	.ui-icon-closethick {
		background-image: url("../images/interface/sprite.png");
		background-position: -126px -247px;
		height: 16px;
		width: 16px;
		left: 10px;
		top: 10px;
		margin-left: 0;
		margin-top: 0;
	}
	.ui-dialog-titlebar-close {
		background-color: transparent;
		border: 0 none;
		border-radius: 0 0 0 0;
		height: 36px;
		margin: 0;
		padding: 0;
		right: 0;
		top: 0;
		width: 36px;
		z-index: 5;
		span {
			margin: 0;
			padding: 0;
		}
	}
	.ui-dialog-content {
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		@include respond(medium) {
			padding: 20px;
		}
		h1 {
      @include font-size(14px);
      font-size: 14px !important;
			color:$night-rider;
			@include line-height(18px);
			margin: 0 0 calculateRem(5px) 0;
		}
		p {
			margin-top: 0;
		}
	}
	&.add-to-cart-intercept-dialog {
		.add-to-cart-intercept-wrapper{
			padding:0;
		}
		.ui-dialog-content {
			 
	   	}
	}
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}

.ui-accordion .ui-accordion-content {
	padding: 0;
}

.ui-tabs {
	.ui-tabs-nav {
		height: 2.45em;
		padding: 0;
		li {
			border-color: $white;
			border-style: solid;
			border-width: 0 0 3px 0;
			&.ui-state-active {
				border-bottom-color: $citrus;
				a {
					color: $black;
					font-weight: 700;
				}
			}
			a {
				color: $nobel;
			}
		}
	}
	.ui-tabs-panel {
		background-color: $white;
		border: 1px solid $white;
		line-height: 1.5em;
		margin: 0;
		padding: 20px 10px;
		h3 {
			@include respond(large-up) {
				display: none;
			}
		}
	}
}

#vertical-carousel {
	height: 19rem;
	position: relative;
	overflow: hidden;
	ul {
		height: 10000em;
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
		li {
			float: left;
			height: 19rem;
			width: 100%;
			.capture-product-id {
				display: none;
			}
		}
	}
	.jcarousel-nav {
		color: $nobel;
		cursor: pointer;
		font-size: 0.9em;
		font-weight: 700;
		position: absolute;
		right: 0;
		text-transform: uppercase;
		&:hover {
			color: $citrus;
		}
		&.inactive {
			display: none;
		}
	}
	.jcarousel-prev {
		bottom: 30px;
	}
	.jcarousel-next {
		bottom: 0;
	}
}
