// reset ul mixin
@mixin reset-list($dot, $padding) {
	margin: 0 !important;
	padding: $padding !important;
	li {
		list-style: $dot !important;
	}
}

// bg cover mixin
@mixin bgCover() {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

// aspect ratio mixin
@mixin aspect-ratio($width, $height) {
	position: relative;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	>.content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

// font family import mixin
@mixin font-face($style-name, $file, $family, $category:"") {
	$filepath: "../fonts/" + $file;
	@font-face {
		font-family: "#{$style-name}";
		src: url($filepath + ".eot");
		src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf") format('truetype'), url($filepath + ".svg#" + $style-name + "") format('svg');
	}
	%#{$style-name} {
		font: {
			@if $category !="" {
				family: "#{$style-name}",
				#{$category};
			}
			@else {
				family: "#{$style-name}";
				weight: normal;
			}
		}
	}
}

@mixin multi-line-ellipsis($font-size, $line-height, $lines) {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: $font-size*$line-height*$lines;
  margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

// hidden and show mixins for large, desktop, tablet and mobile
@mixin hidden-xs(){
	@include respond(large-down){ display: none !important;}
}
@mixin show-xs(){
	@include respond(medium){ display: none !important;}
}
@mixin hidden-sm(){
	@include respond(large-only){ display: none !important;}
}
@mixin show-sm(){
	display: none !important;
	@include respond(large-only){ display: block !important;}
}
@mixin hidden-lg(){
	@include respond(large){ display: none !important;}
	@include respond(x-large){ display: block !important;}
}
@mixin show-lg(){
	@include respond(large){ display: block !important;}
	@include respond(x-large){ display: none !important;}
}
@mixin hidden-x-lg(){
	@include respond(x-large){ display: none !important;}
}
@mixin show-x-lg(){
	display: none !important;
	@include respond(x-large){ display: block !important;}
}