@import '../foundation-sites/scss/util/util';

// 1. Global
// ---------


// 2. Breakpoints
// --------------
$breakpoints:(
  small: 0,
  medium: 648px,
  large: 1032px,
  xlarge: 1200px,
);

// global spacing
$spacing-1: 5px;
$spacing-2: 10px;
$spacing-3: 15px;
$spacing-4: 20px;
$spacing-5: 30px;
$spacing-6: 40px;

$spacings: (
  1: $spacing-1,
  2: $spacing-2,
  3: $spacing-3,
  4: $spacing-4,
  5: $spacing-5,
  6: $spacing-6
);

$global-width: rem-calc(map-get($breakpoints, xlarge));
$global-lineheight: 1.5;

$print-breakpoint: large;
$breakpoint-classes: (small medium large);

// 3. The Grid
// -----------

$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-gutter: (
  small: 20px,
  medium: 30px,
);
$grid-column-align-edge: true;
$block-grid-max: 8;

fieldset {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
