/* Slider */

.slick-carousel {
	ul {
	li {
		display: none;  // hiding slides before initialize carousel
	}
	}
}

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;

	* {
		box-sizing: border-box;
	}
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;

	&:focus {
		outline: none;
	}

	&.dragging {
		cursor: pointer;
		cursor: hand;
	}
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;

	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}

	.slick-loading & {
		visibility: hidden;
	}
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	[dir="rtl"] & {
		float: right;
	}
	img {
		display: block;
	}
	&.slick-loading img {
		display: none;
	}

	display: none;

	&.dragging img {
		pointer-events: none;
	}

	&:focus {
		// remove browser outline on focus (Chrome and FF)
		outline: none;
	}

	.slick-initialized & {
		display: block;
	}

	.slick-loading & {
		visibility: hidden;
	}

	.slick-vertical & {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
}

.slick-arrow.slick-hidden {
	display: none;
}

.slick-arrow {
	background: $concrete;
	width: 30px;
	height: 30px;
	border: $border;
	padding: 0;
	overflow: hidden;
	text-indent: -9999px;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	border-radius: 20px;
	z-index: 1;

	@include respond(large-up) {
		width: 40px;
		height: 40px;
		margin-top: -20px;
	}
	&.slick-prev {
		left: 9px;
		@include respond(large-up) {
			left: 10px;
		}
	}
	&.slick-next {
		right: 10px;

		&:after {
			transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			left: 12px;
			@include respond(large-up) {
				left: 15px;
			}
		}

	}
	&.slick-disabled {
		opacity: 0.5;
	}
	&:hover {
		background: $concrete;
	}
	&:after {
		content: '';
		display: block;
		width: 9px;
		height: 16px;
		position: relative;
		top: -34px;
		left: 9px;
		background: url(../images/interface/sprite.png) no-repeat -278px -227px;
		@include respond(large-up) {
			width: 11px;
			height: 20px;
			top: -30px;
			left: 12px;
			background: url(../images/interface/sprite.png) no-repeat -279px -225px;
		}
	}
}

// Recommendation (Einstein) slider specific buttons
.slick-slider.recs-slider {
	.slick-arrow {
		background: #323028 url('../images/Arrow_White.svg') no-repeat center center !important;
		border-radius: 35px !important;
		opacity: .45;
		outline: 0 !important;
		padding: 0 !important;
		text-indent: -9999em;
		top: 40%;
		z-index: 1;

		@include respond(small) {
			background-size: 36% auto !important;
			height: 32px;
			width: 32px;
		}

		&.slick-prev {
			transform: rotate(-180deg);
		}
		&.slick-next {
		}
		&:after {
			background: none;
		}
	}
}

.slick-slider {
	margin: 0;
	padding: 0;
	list-style: none;
	ul,
	li {
		margin: 0;
		padding: 0;
		list-style: none;
		line-height: initial;
	}
}

.slick-slider .slick-dots {
	font-size: 0;
	text-align: center;
	height: 12px;
	margin-top: 10px;
	@include respond(large-up) {
		position: absolute;
		width: 100%;
		bottom: 10px;
		margin-top: 0;
	}
	li {
		display: inline-block;
		height: 12px;
		width: 12px;
		margin: 0 3px;
		background: $white;
		border: 1px solid $color-primary;
		border-radius: 6px;
		box-sizing: border-box;
	}
	button {
		height: 6px;
		width: 6px;
		border: none;
		background: $white;
		padding: 0;
		margin: 0;
		overflow: hidden;
		text-indent: -9999px;
		box-sizing: border-box;
		margin-top: 2px;
		border-radius: 3px;
	}
	.slick-active {
		button {
			background: $color-primary;
		}
	}
}
.slick-initialized {
	display: block !important;
}

/*
*	Product Recs
*/
// NOTE: any changes to this carousel, also affect pt_cart_body carousel too. See Cart only carousel below.
.product-listing-1x4 {
	margin: 36px 0;
	@include respond(large-down) {
		margin: 0;
	}
	border-top: 1px solid #AAAAAA;
	h2 {
		text-align: center;
		font-family: 'Gilroy Bold', 'Arial', sans-serif;
		text-transform: uppercase;
		margin: 25px 0 !important;
		visibility: hidden;
	}
	.recs-slider {
		script.slick-slide {
			display: none !important;
		}
		button.slick-disabled {
			display: none !important;
		}
		.slick-arrow {
			margin-top: -35px;
		}
		.grid-tile {
			margin: 0 !important;
			text-align: center;
			.product-tile {
				position: relative;
				text-align: center;
				.thumb-link {
					img {
						width: 200px;
						height: auto;
					}
				}
				.comfort-level {
					display: none;
				}
				.product-name {
					text-align: center;
					top: 0;
					transform: none;
				}
				.product-promo {
					text-align: center;
				}
			}
			.product-price {
				width: 100%;
				line-height: 15px;

				span {
					display: block;
					float: none;
					color: $charcoal;
					font-family: $g-regular;
					font-size: 14px;
					margin-top: 5px;
				}

				.product-sales-price,
				.single-discount-price-mf {
					color: $red;
				}

				.price-sales,
				.product-sales-price,
				.product-standard-price:not(.has-sale-price) {
					font-family: $g-bold;
				}


				.has-sale-price,
				.single-standard-price-mf {
					text-decoration: line-through;
				}

			}
		}
	}
}

// Cart only carousel
.pt_cart_body .product-listing-1x4 {
	border-top: 0;

	h2 {
		visibility: visible;
	}

	.search-result-items.slick-slider .product-tile-one {
		min-height: 124px;
	}

	.slick-slide .product-tile .product-name {
		margin: 5px 0;
		padding: 0;
	}

	@media screen and (min-width:768px) {
		margin: 0 0 36px;
		width: 66%;

		.slick-slider .slick-track, .slick-slider .slick-list {
			margin: 0 auto;
			overflow: hidden;
		}
	}

	@media screen and (min-width:768px) and (max-width: 1199px){
		.slick-slider .slick-track, .slick-slider .slick-list {
			height: 332px;
			width: 80%;
		}
	}

	@media screen and (min-width:1200px){
		.slick-slider .slick-track, .slick-slider .slick-list {
			width: 82%;
		}
	}
}

.pdpMain {
	.product-listing-1x4 {
		.recs-slider {
			.grid-tile {
				.product-price {
					span {
						margin-top: -10px;
					}
				}
			}
		}
	}
}

.slick-slide {
	.product-tile {
		border: none;
		.product-image {
			padding: 0;
		}
		.product-name {
			top: 0;
			transform: none;
			padding: 10px 10px 0 10px;
		}
		.product-promo {
			height: auto;
		}
	}
}
