$type: (
  ("h1", 26px, 30px, 26px, 30px, $g-bold, $charcoal),
  ("h2", 18px, 22px, 18px, 22px, $g-semibold, $charcoal),
  ("h3", 28px, 28px, 24px, 24px, $g-bold, $charcoal),
  ("h4", 21px, 21px, 18px, 18px, $g-bold, $charcoal),
  ("h5", 21px, 21px, 18px, 18px, $g-bold, $charcoal),
  ("h6", 21px, 21px, 18px, 18px, $g-bold, $charcoal),
  ("p", 16px, 19px, 16px, 19px, $g-regular, $charcoal),
  ("p1", 18px, 21px, 18px, 21px, $g-regular, $charcoal),
  ("p2", 15px, 17px, 15px, 17px, $g-regular, $charcoal),
  ("p3", 12px, 14px, 12px, 14px, $g-regular, $charcoal),
  ("p4", 10px, 12px, 10px, 12px, $g-regular, $charcoal),
);

h1, h2, h3, h4, h5, h6, p, li, a, span, sup {
  -webkit-font-smoothing: antialiased;
}
h1{
    margin:0 0 24px;
    text-align: center;
    text-transform: uppercase;
}
.extrabold { font-family: $g-extrabold !important; }
.bold { font-family: $g-bold !important; }
.semibold { font-family: $g-semibold !important; }
.medium { font-family: $g-medium !important; }
.regular { font-family: $g-regular !important; }
.light { font-family: $g-light !important; }

b, strong {
  font-family: $g-bold;
  font-weight: normal;
}

// Desktop Font Sizes
@each $elem in $type {
	#{nth($elem, 1)} {
    color: #{nth($elem, 7)};
    font-size: #{nth($elem, 2)};
    line-height: #{nth($elem, 3)};
    font-family: #{nth($elem, 6)};

    &.uppercase,
    &.single-line {
      line-height: 1em !important;
    }
  }
	.#{nth($elem, 1)} {
    color: #{nth($elem, 7)};
    font-size: #{nth($elem, 2)} !important;
    line-height: #{nth($elem, 3)} !important;
    font-family: #{nth($elem, 6)};

    &.uppercase,
    &.single-line {
    	line-height: 1em !important;
    }
  }
}

// Mobile Font Sizes
@include breakpoint(small down) {
  @each $elem in $type {
    #{nth($elem, 1)} {
      font-size: #{nth($elem, 4)};
      line-height: #{nth($elem, 5)};
    }

    .#{nth($elem, 1)} {
      font-size: #{nth($elem, 4)} !important;
    	line-height: #{nth($elem, 5)} !important;
    }
  }
}