// Order History - Order Details Styling

.order-history-header {
	background-color: $concrete;
	border-bottom: 1px solid $alto;
	overflow: hidden;
	padding: 25px;
	.label {
		font-weight: 700;
	}
	button {
		float: right;
	}
	.order-date, .order-status, .order-number {
		float: left;
		margin: 2px 0;
		@include line-height(18px);
		clear: both;
	}
	.order-status {
		//display: none;
	}
	.col1 {
		width:100%;
		padding-left: 1px;
		float: left;
		@include respond(medium) {
			width:60%;
		}
	}
	.col2 {
		width:100%;
		float: left;
		padding-top: calculateRem(20px);
		@include respond(medium) {
			width:39%;
			float: right;
		}
		button {
			float: left;
			@include respond(medium) {
				float: right;
			}
		}
	}
}

.pt_order {
	.search-result-items {
		padding-left: 0;
		clear: both;
		@include respond(medium) {
			padding-top: calculateRem(5px);
		}
		li {
			line-height: 2em;
		}
		ul, li {
			list-style-type: none;
		}
	}
	.search-result-options {
		margin-top: calculateRem(15px);
		.pagination {
			.results-hits-total {
				@include font-bold();
			}
		}
	}
	.minisummary-place-order {
		margin-top: calculateRem(25px);
		margin-bottom: calculateRem(5px);
		@include respond(medium) {
			margin-bottom: calculateRem(25px);
		}
	}
	
}
.order-history-row {
	border: 1px solid $alto;
}


.order-history-items {
	margin: calculateRem(10px) 0;
	padding-left: calculateRem(10px);
	.order-history-table {
		border: 0;
		tr {
			border: 0;
		}
		
		th, td {
			padding: calculateRem(5px) calculateRem(20px);
			border-right: 1px solid $alto;
			&:last-child {
				border: 0;
			}
		}
		td {
			width: 33%;
			.order-items {
				width: 98%;
				@include font-bold();
			}
		}
		ul {
			margin: 0;
			padding: 0;
			display: table;
		}
		li {
			list-style-position: inside;
			list-style-type: square;
			@include line-height(21px);
			margin-bottom: 0;
			display: table-row;
			&:before {
    			content: "•";
    			display: table-cell;
    			padding-right: 0.4em;
    		}
			
		}
		.order-shipped-to,
		.order-total-price {
			width: 99%;
			@include font-bold();
		}
		.toggle {
			cursor: pointer;
			display: block;
		}
	}
}

.js .order-history-table .hidden {
	display: none;
}

// Details Styling

.orderdetails {
	margin-top: calculateRem(20px);
	@include respond(medium) {
		margin-top: calculateRem(5px);
	}
	h2 {
		clear: both;
	}
	.label {
		font-weight: $font-wt-semibold;
	}
	
	.order-shipment-details {
		.order-shipment-address {
			float: right;
		}
	}
	.line-items {
		clear: both;
		padding-top: 1rem;
		.line-item {
			padding-bottom: 1rem;
			.line-item-details,
			.line-item-quantity,
			.line-item-price {
				display: inline-block;
				vertical-align: top;
			}
			.line-item-quantity,
			.line-item-price {
				width: 14%;
			}
			.line-item-details {
				width: 70%;
				a {
				}
			}
			.line-item-quantity {
				text-align: center;
			}
			.line-item-price {
				text-align: right;
			}
		}
	}
	.order-shipments {
		h3.shipping-name {
			color: $crimson;
			margin-bottom: calculateRem(10px);
		}
		.item-shipping-address {
			.shipping-name {
				height: 7px; 
				padding: calculateRem(10px);
				
				@include respond(medium) {
					height: 56px; 
					padding: 1.0625rem 30px 1.125rem 30px;
					line-height: 1.75rem;
					
				}
				@include respond(large-only) {
					padding: 14px 20px;
					height: 56px; 
					line-height: 1rem;
				}
			}
			.address-details {
				@include respond(large-only) {
					clear: both;
					padding: 20px 10px;
				}
			}
			
		}
	}
	.section-header {
		padding: 0 0  calculateRem(10px) 1px;
		margin-bottom: calculateRem(15px);
		@include respond(medium) {
			margin: 0 calculateRem(15px) calculateRem(10px) 0;
		}
	}
	.details {
		@include line-height(20px);
	}
	.order-payment-summary {
		@media screen and (min-width: 480px) {
			float: right;
		}
		.details {
			@include line-height(15px);
			margin-left: calculateRem(5px);
		}
	}
	.mini-payment-instrument,
	.mini-billing-address {
		width: 100%;
		margin-bottom: 20px;
		@include respond(medium) {
			width: 33.6%;
			float: left;
			margin-bottom: 0;
		}
		.section-header-note {
			display: block;
			color: $color-primary;
			@include font-size($font-size-regular);
			font-style: $font-style-italic;
		}
	}
	.checkout-mini-cart-wrapper {
		width: 100%;
		margin-bottom: 20px;
		@include respond(medium) {
			width: 30%;
			float: left;
			margin-bottom: 0;
		}
	}
	.order-information {
		@include line-height(25px);
		.label {
			text-transform: none;
		}
		.order-status {
			//display: none;
		}
	}
	.payment-amount {
		.label {
			font-weight: normal;
			text-transform: none;
		}
	}
	.order-totals-table td {
		&:first-child {
			text-align: left;
		}
	}
	.order-total {
		@include font-size($font-size-mobile-sale-price); 
	}
}

.confirmation-message {
	font-weight: $font-wt-semibold;
}

.confirmation {
	h2 {
		margin-bottom: 10px;
	}
	&.create-account {
		.confirmation-message{
			h2{
				font-size: 1.5rem;
				line-height: 1.625rem;
				text-transform: uppercase;
			}
		}
		.login-create-account,
		.order-confirmation-details {
		}
		.login-create-account {
			float: right;
			padding: 0 1%;
			width: 25%;
		}
		.login-box-content {
			background-color: $white-smoke;
			border: 1px solid $gainsboro;
			border-radius: 5px;
			padding: 1em;
			p {
				margin-top: 0;
				margin-bottom: 0;
			}
			.form-row {
				margin: 0;
			}
		}
	}
}
