.pt_wish-list {
	.list-table-header {
		background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top $white-smoke;
		overflow: hidden;
		padding: 2em;
		p {
			color: $nobel;
			float: right;
			margin: 0;
			overflow: hidden;
			width: 40%;
		}
	}
	.primary-content .list-table-header h2 {
		float: left;
	}
	
	.share-options {
		text-align: center;
		margin-bottom: .5rem;
		font-size: 1.7em;
		float: left;
		margin-left: 1rem;
		margin-top: 0.3rem;
		.share-title {
			display: inline;
		}
		.content-asset  {
			ul.social-links {
				text-align: left;
				margin: 5px 0 0;
			}
			li {
				display: inline;
				padding-right:12px;
				margin: 0;
				line-height:20px;
			}
			ul li {
				list-style: none;
				display: inline;
			}
		}
	}
	table.item-list {
		border:1px solid $alto;
		padding: 20px;
		.item-image {
			width:25%;
		}
		tr {
			border-bottom:0px;
			td {
				border-bottom:1px solid $alto;
				&:first-child {
					border-bottom:0px solid $alto;
				}
				&:last-child {
					border-bottom:0px solid $alto;
				}
			}
		}
		.item-details {
			.product-list-item {
				a {
					font-style: italic;
				}
				
				.name {
					a {
						text-decoration: none;
						@include font-bold();
						@include line-height(21px);
					}
				}
				.sku {
					margin-bottom: calculateRem(15px);
					@include line-height(21px);
					.value {
						@include font-regular();
					}
				}
				.attribute {
					@include font-regular();
					@include line-height(21px);
					span {
						@include font-regular();
					}
				}
				.price {
					.label {
						display: none;
					}
				}
			}
			
			
		}
		.item-availability {
			.product-availability-list {
				@include font-regular();
				color: $night-rider;
				.is-in-stock, [data-status="store-in-stock"]{
					color: $night-rider;
				}
			}
		}
		.item-dashboard {
			padding: 20px 0;
			color: #000;
			.form-horizontal {
				.option-date-added {
					margin-bottom: 7px;
					label {
						@include font-bold();
						margin-top: 3px;
					}
					.field-wrapper {
						margin-left: 10px;
						.value {
							padding-top: 0;
							margin-top: 3px;
							margin-left: 5px;
						}
					}
				}
			}
			.option-quantity-desired , .option-priority{
				label {
					width: 50%;
				}
				.field-wrapper {
					width: 50%;
				}
			}
			.option-update {
				text-align: right;
			}
			.option-add-to-cart {
				margin-top: 1rem;
				label {
					margin: 0.8rem .5rem 0 0;
				}
				button {
					padding-top:0;
				}
			}
		}
	}
	h2.wishlist-subtitle {
		@include font-size(24px);
		@include font-bold();
		@include line-height(25px);
		margin-bottom: 0;
		margin-top: 10px;
	}
}

.list-share {
	@extend %clearfix;
	border-bottom: 1px solid darken($white-smoke, 10%);
	padding: 2em 0;
	.share-option {
		box-sizing: border-box;
		display: block;
		margin-bottom: .5rem;
		float: left;
	}
	
	.list-title {
		float: left;
	}
	.share-link {
		cursor: pointer;
	}
	.share-link-content {
		display: none;
		&.active {
			display: block;
			float: left;
		}
	}
}

.event-info {
	margin: 1em;
}

.wishlist-search {
	.form-row {
		clear: none;
		margin: .5rem 1% .5rem 0;
		float: left;
		width: 28%;
		&:last-child {
			width: 10%;
			padding-left: calculateRem(5px);
			margin-top: calculateRem(25px);
		}
	}
	.form-row-button {
		margin-left: 0;
	}

}

.registry-search {
	.form-row {
		clear: none;
		border: 1px solid red;
		margin: .5rem 0 .5rem 1%;
		float: left;
		width: 25%;
		&:nth-of-type(3n + 1) {
			margin-left: 0;
		}
	}
	.form-row-button {
		margin-left: 0;
	}

}