// .checkoutlogin {
// 	margin: 4em auto;
// 	width: 80%;
// 	.col-1 {
// 		@include respond(large-up) {
// 			border-right: 1px solid $gainsboro;
// 		}
// 	}
// }
// .login-box {
// 	h3 {
// 		margin: 0;
// 	}
// 	p {
// 		margin: 1em 0;
// 	}
// 	.error {
// 		margin-left: 0;
// 	}
// }
//
// .login-rememberme {
// 	display: inline-block;
// 	margin-left: .5em;
// }
//
// .login-oauth p:first-child {
// 	font-size: 2em;
// 	text-align: center;
// 	margin: 0;
// 	text-transform: uppercase;
// }
//
// #OAuthProvider {
// 	display: block;
// 	margin-bottom: 1em;
// 	width: 80%;
// }

//
// Login screen
//
.login-box-content {
	padding-top: 12px;
	.form-row{
		margin-bottom:8px;
		&.form-row-button{
			margin-bottom:20px;
			.btn{
				font-size:1rem;
				&.btn-link{
					color: #649cd1;
				    padding: 0;
				    margin-left: 30px;
				    line-height: 40px;
				}
			}
		}
	}
	label{
		margin-bottom:5px;
	}
}
