/* base elements */
/* ------------------------------------- */
 
body{background:none repeat scroll 0 0 #333333;color: #333333;font-family:Arial,sans-serif;font-size:12px;}
a{color:#333333;outline:medium none;overflow:hidden;text-decoration:none;}
fieldset{border:0 none;margin:0;padding:0;} 
table{width:100%;} 
th{text-align:left;} 
td{padding:1em;vertical-align:top;} 

/* helper classes */
/* ------------------------------------- */

.clearfix:after{clear:both;content:" ";display:block;font-size:0;height:0;visibility:hidden;}
.vh{border:0 none;height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.ie7 .vh{width:1px !important;}
ul.menu{float:left;margin:0;padding:0;}
ul.menu li{float:left;list-style:none outside none !important;}

/* page layouts */
/* ------------------------------------- */ 

#wrapper{background:none repeat scroll 0 0 #FFFFFF;border:3px solid #FFFFFF;margin:auto;max-width:960px;width:960px;}
header {position:relative;margin-left:10px;margin-right:10px;}
.primary-content{border-left:1px solid #D9D9D9;float:right;margin-left:-1px;padding:0 0 20px;position:relative;width:787px;}
#secondary{background:url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;border-right:1px solid #D9D9D9;float:left;width:172px;}
#secondary nav {padding-left:10px; padding-right:10px;}
#secondary nav a {margin-left:15px;}
.primary-focus .primary-content{border:0 none;float:left;margin:0;width:709px;}
.primary-focus #secondary{background:none repeat scroll 0 0 transparent;border:0 none;float:right;width:210px;}
.full-width .primary-content{border:0 none;width:100%;}
.page-content .primary-content{padding-left:3%;width:758px;}

/* jQuery Ui */
/* ------------------------------------- */

.ui-widget-overlay{background:url("../images/interface/ui-overlay-shadow.png") repeat scroll 50% 50% #333333;opacity:0.4;}
.ui-dialog{background:none repeat scroll 0 0 #FFFFFF;}
.ui-dialog .ui-widget-header{background:none repeat scroll 0 0 #F3F3F3;border:0 none;border-radius:0 0 0 0;height:23px;text-transform:uppercase;}
.ui-dialog .ui-dialog-title{font-weight:bold;}
.ui-dialog .ui-icon-closethick{background-image:url("../images/interface/icon-ui-close.png");background-position:left top;height:32px;width:32px;}
.ui-dialog .ui-dialog-titlebar-close{border:0 none;border-radius:0 0 0 0;height:32px;margin:0;padding:0;right:0;top:0;width:32px;}
.ui-dialog .ui-dialog-titlebar-close span{margin:0;padding:0;}
.ui-dialog h1,.ui-dialog h2{font-family:Georgia;font-size:1.8em;font-style:italic;font-weight:400;margin:5px 158px 5px 0;}
.ui-dialog .dialog-required{display:block;text-align:right;}
.ui-accordion .ui-accordion-content{padding:0;}
.ui-tabs .ui-tabs-nav{background:none repeat scroll 0 0 transparent;border:0 none;height:2.45em;padding:0;}
.ui-tabs .ui-tabs-nav li{-moz-border-bottom-colors:none;-moz-border-image:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;background:none repeat scroll 0 0 #EFEFEF;border-color:#D9D9D9 #D9D9D9 #FFFFFF;border-style:solid;border-width:1px;font-family:georgia;font-style:italic;list-style:none outside none !important;margin:0 1em -1px 0;}
.ui-tabs .ui-tabs-nav li.ui-state-active{background:none repeat scroll 0 0 #FFFFFF;}
.ui-tabs .ui-tabs-nav li.ui-state-active a{color:#666666;}
.ui-tabs .ui-tabs-nav li a{color:#999999;}
.ui-tabs .ui-tabs-panel{background:none repeat scroll 0 0 #FFFFFF;border-color:#D9D9D9;border-radius:0 0 0 0;border-style:solid;border-width:1px;box-shadow:4px 2px 10px 0 rgba(66,66,66,0.1);color:#414141;font-size:0.9em;line-height:1.5em;margin:0;padding:20px 10px;}

/* form components */
/* ------------------------------------- */

.button{background:none repeat scroll 0 0 #FFFFFF;border-color:#CCCCCC #CCCCCC #D0D0D0;border-style:solid;border-width:1px 1px 4px;color:#3EBAEA;cursor:pointer;display:inline;font-size:1.1em;font-weight:700;padding:0.6em 2em 0.5em;text-align:center;}
button{background:none repeat scroll 0 0 #FFFFFF;border-color:#CCCCCC #CCCCCC #D0D0D0;border-style:solid;border-width:1px 1px 4px;color:#3EBAEA;cursor:pointer;display:inline;font-size:1.1em;font-weight:700;padding:0.6em 2em 0.5em;text-align:center;}
input[type="button"]{background:none repeat scroll 0 0 #FFFFFF;border-color:#CCCCCC #CCCCCC #D0D0D0;border-style:solid;border-width:1px 1px 4px;color:#3EBAEA;cursor:pointer;display:inline;font-size:1.1em;font-weight:700;padding:0.6em 2em 0.5em;text-align:center;}
button[disabled],input[disabled]{color:#CCCCCC;}
.button-fancy-small{background:url("../images/interface/ui-wht-tran-grad-52.png") repeat-x scroll 0 0 #01A4E4;color:#FFFFFF !important;font-size:1em;font-weight:400;text-transform:uppercase;}
.button-fancy-medium{background:url("../images/interface/ui-wht-tran-grad-52.png") repeat-x scroll 0 0 #01A4E4;color:#FFFFFF !important;font-weight:400;text-transform:uppercase;}
.button-fancy-large{background:url("../images/interface/ui-wht-tran-grad-52.png") repeat-x scroll 0 0 #01A4E4;color:#FFFFFF !important;font-size:1.75em;font-weight:400;padding:0.5em 1em;text-transform:uppercase;}
.button-fancy-small[disabled]{opacity:0.5}
.button-fancy-medium[disabled]{opacity:0.5}
.button-fancy-large[disabled]{opacity:0.5}

.button-text{background:none repeat scroll 0 0 transparent;border:0 none;font-weight:400;padding:0;}
.button-full-width{padding-left:0;padding-right:0;text-align:center;width:100%;}
.js button.simple-submit{display:none;}
legend{background:url("../images/interface/icon-double-line-header.png") repeat-x scroll left top #EFEFEF;border-bottom:1em solid #FFFFFF;font-size:1.1em;font-weight:700;margin:0;padding:14px 2% 10px;position:relative;text-transform:uppercase;width:96%;}
.ie7 legend{width:94%;}
legend span{font-weight:400;position:absolute;right:1em;text-transform:none;top:1em;}
label,.form-label-text{display:block;float:left;font-size:1.1em;font-weight:700;padding:0.75em 0 0;text-align:right;width:22%;}
.form-label-text span{margin-right:5px;}
.form-row{clear:both;margin:0 0 1em;}
.form-row-button{margin-left:24.5%;width:62%;}
input[type="text"],input[type="password"],textarea{border:1px solid #AAAAAA;margin-left:2%;padding:0.7em 0.5em;text-indent:0;width:49.5966%;}
select{text-indent:0;height:3em;border:1px solid #AAAAAA;margin-left:2%;padding:0.7em 0.3em;width:51.6%;}
.search-result-options select {height:auto;}
input[type="checkbox"]{margin:1em 2%;}
input[type="radio"]{margin:1em 2%;}
.label-inline label{display:inline-block;float:none;font-size:1em;font-weight:400;text-align:left;width:90%;}
.label-inline input{float:left;margin:0.8em 2%;}
.label-above label{float:none;text-align:left;width:auto;}
.label-above input{margin-left:0;}
.label-above select{margin-left:0;}
.label-above textarea{margin-left:0;}
.label-above .form-caption{margin-left:0;width:auto;}
.label-removed label{left:-999em;position:absolute;}
.label-hidden label{text-align:left;text-indent:-999em;}
.form-indent{margin-left:24%;}
.form-indent .form-caption{margin-left:0;}
.form-caption{display:block;margin:1% 0 1% 24%;width:auto;}

.error{background-color:#F1E6E6;border-color:#990000;color:#990000;}
span.error{background:none repeat scroll 0 0 transparent;display:block;margin:1% 2% 2% 24%;}
div.error{background:none repeat scroll 0 0 transparent;}
.error-form{background:url("../images/interface/icon-alert.png") no-repeat scroll left top transparent;color:#990000;margin:1em 0;padding:0.5em 0 0 4em;}
.form-inline form{background:url("../images/interface/icon-double-line-header.png") repeat-x scroll left bottom transparent;padding:0 0 2em;width:98%;}
.form-inline .form-row{clear:none;float:left;margin:5px 2% 0 0;width:28%;}
.form-inline label{padding:0 0 0.75em;text-transform:uppercase;width:auto;}
.form-inline input[type="text"]{margin-left:0;width:95%;}
.form-inline select{margin-left:0;width:95%;}
.form-inline .form-row-button{float:left;margin:30px 0 0;width:10%;}
.form-inline button{padding-left:0;padding-right:0;width:100%;}
.login-box-content label{float:none;font-size:1.1em;text-align:left;width:auto;}
.login-box-content input[type="text"]{margin-left:0;width:87%;}
.login-box-content input[type="password"]{margin-left:0;width:87%;}
.login-box-content textarea{margin-left:0;width:87%;}
.login-box-content .form-caption{margin-left:0;}
.login-box-content input[type="checkbox"]{margin-left:0;}
.login-box-content select{margin-left:0;}
.login-box-content .form-row-button{margin-left:0;width:auto;}
.row-inline{display:inline;}
.row-inline label{width:auto;}
.required-indicator{color:#3EBAEA;}
.form-field-tooltip{float:right;margin:-36px 0 0;width:21%;}
.with-helper-text{margin-top:-59px;}
.char-count{display:block;margin-left:24%;}

/* tables used for product lists (wishlist, gift reg) */
/* ------------------------------------- */

table.item-list tr{border-bottom:1px solid #D9D9D9;}
table.item-list tr.last{border:0 none;}
table.item-list tr.headings{display:none;}
table.item-list td{padding:1em;vertical-align:top;}
th.section-header{padding:1em;}
td.item-details .product-list-item .name{font-family:Georgia,serif;font-size:1.2em;font-style:italic;}
td.item-details .product-list-item .value{font-weight:700;}
td.item-details .product-list-item .promo{color:#990000;}
td.item-details .product-list-item .price-standard{color:#999999;text-decoration:line-through;}
td.item-availability ul{list-style:none outside none;margin:0;padding:0;}
td.item-quantity-details ul{list-style:none outside none;margin:0;padding:0;}
td.item-dashboard{color:#AAAAAA;width:250px;}
td.item-dashboard .label{display:inline;float:none;font-size:1em;font-weight:400;padding:0;width:auto !important;}
td.item-dashboard label{display:inline;float:none;font-size:1em;font-weight:400;padding:0;width:auto !important;}
td.item-dashboard .input-text{margin:0;text-align:center;}
td.item-dashboard .input-select{margin:0;padding:8px;width:auto !important;}
td.item-dashboard .input-checkbox{margin:0 5px;}
td.item-dashboard .item-option{clear:both;font-size:1em;margin:0 0 0.5em;}
td.item-dashboard .item-option .form-row{display:inline;}
td.item-dashboard .option-date-added .value{color:#333333;font-weight:700;}
td.item-dashboard .option-quantity-desired input{padding:0;width:20px;}
td.item-dashboard .option-priority .label{color:#333333;font-weight:700;}
td.item-dashboard .option-priority label{color:#333333;font-weight:700;}
td.item-dashboard .option-add-to-cart .label{color:#333333;font-size:1.1em;font-weight:700;text-transform:uppercase;}
td.item-dashboard .option-add-to-cart label{color:#333333;font-size:1.1em;font-weight:700;text-transform:uppercase;}
td.item-dashboard .option-add-to-cart input{padding:0.8em 0.3em 0.7em;width:50px;}
td.item-dashboard .option-quantity-purchased span.exceeded {color:#ff0000}

/* base tool tip */
/* ------------------------------------- */

.tooltip{cursor:help;position:relative;}
.tooltip .tooltip-content{background:none repeat scroll 0 0 rgba(0,0,0,0.8);border-radius:3px 3px 3px 3px;color:#FFFFFF;display:none;font-size:12px;font-style:normal;left:100%;max-width:300px;min-width:200px;opacity:0;padding:1em;position:absolute;text-decoration:none;top:100%;visibility:hidden;z-index:10;}
.tooltip:hover .tooltip-content{display:block;opacity:1;overflow:visible;visibility:visible;}
.js .tooltip-content{display:none !important;}
#tooltip{background-color:#FFFFFF;border:1px solid #111111;opacity:0.95;padding:5px;position:absolute;z-index:3000;}
#tooltip .small{width:300px;}
#tooltip .medium{width:500px;}
#tooltip .recommendation-tooltip-header{background:none repeat scroll 0 0 #CCCCCC;font-size:1.2em;font-weight:bold;padding:10px;}
#tooltip .recommendation-tooltip-description{padding:10px;}
#tooltip .recommendation-tooltip-attributes{padding:10px;}

/* content assets and slots */
/* ------------------------------------- */

.content-slot img{height:auto;max-width:100%;}
.slot-grid-header p{margin:0;padding:0;}
.product-listing-1x4{background:none repeat scroll 0 0 #FFFFFF;overflow:hidden;padding:10px 0;}
.product-listing-1x4 ul.search-result-items .grid-tile{margin:0 1% 0 2%;width:18%;}
.account-nav-asset{background:url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;line-height:1.5em;margin:40px 10px;padding:10px 0;}
.account-nav-asset h2{font-family:Georgia,serif;font-style:italic;font-weight:400;margin:14px 0 20px;}
.content-asset p{line-height:1.6em;margin:1em 0;}
.content-asset ul{line-height:1.6em;margin:1em 0;padding:0 1.5em;}
.content-asset ol{line-height:1.6em;margin:1em 0;padding:0 1.5em;}
.content-asset address{margin:1em 0;}
.content-asset ul li{list-style:square outside none !important;}
.content-asset ol li{list-style:decimal outside none;}
.content-asset ul.account-options{margin:0;padding:0;}
.content-asset ul.account-options li{border-bottom:1px solid #D9D9D9;float:left;height:80px;list-style:none outside none !important;margin:0 0 0 4%;padding:20px 0 0;position:relative;width:46%;}
.content-asset ul.account-options li a{display:block;font-size:1.5em;line-height:30px;padding:0 0 0 55px;}
.content-asset ul.account-options li img{left:0;position:absolute;top:10px;}
.content-asset ul.account-options li p{margin:0;padding-left:55px;}
.browser-compatibility-alert{background:url("../images/interface/icon-alert.png") no-repeat scroll 1em 1em #FAEDED;border:1px solid;color:#9E0F0F;margin:1em;padding:0.5em 4em;}

/* header components */
/* ------------------------------------- */

#header{height:79px;position:relative;}
.ie7 #header{z-index:200;}
#header .primary-logo{left:0;margin:0;position:absolute;top:22px;}
#header .primary-logo a{display:block;}
#header .primary-logo span{left:-999em;position:absolute;}
.header-banner{clear:both;float:right;font-size:1.2em;margin:0 6px;}
.ie7 .header-banner{width:350px;}
#header .deal { display: inline; width: 320px; float: left;  text-align: center;}
#header .deal span { color: red; font-size: 14px; margin-top: 25px; display: block; }
#mini-cart{float:right; margin: 15px 0px 0 0; position:relative;z-index:200;}
#mini-cart a{color:#3EBAEA;}
.mini-cart-label{margin:0 10px 0 0;}
.mini-cart-total{font-size:1em;font-weight:700;text-transform:uppercase;}
.mini-cart-content{background:none repeat scroll 0 0 #F3F3F3;border:2px solid #CCCCCC;display:none;position:absolute;right:-1px;top:15px;width:220px;}
#mini-cart:hover .mini-cart-content{display:block;}
.mini-cart-header{border-color:#FFFFFF;border-style:solid;border-width:1px 1px 0;font-size:1.1em;font-weight:700;letter-spacing:1px;padding:12px;text-transform:uppercase;}
.mini-cart-close{background:url("../images/interface/icon-mini-cart-close.png") no-repeat scroll left top transparent;display:none;height:20px;text-indent:-999em;width:19px;}
.mini-cart-products{max-height:360px;overflow:auto;}
.mini-cart-product{background:none repeat scroll 0 0 #FFFFFF;border-color:#FFFFFF;border-style:solid;border-width:1px 1px 0;overflow:hidden;padding:10px;}
.mini-cart-product.collapsed{background:none repeat scroll 0 0 #E8E8E8;}
.mini-cart-product.collapsed .mini-cart-name,.mini-cart-product.collapsed .mini-cart-attributes,.mini-cart-product.collapsed .mini-cart-pricing,.mini-cart-product.collapsed .product-availability-list{width:90%;}
.mini-cart-image{float:left;width:50%;}
.mini-cart-image img{max-width:90%;}
.mini-cart-name{float:right;font-family:Georgia,serif;font-style:italic;width:50%;}
.mini-cart-attributes{float:right;font-size:0.9em;font-weight:bold;width:50%;}
.mini-cart-product .product-availability-list{float:right;font-size:0.9em;font-weight:bold;width:50%;}
.mini-cart-pricing{clear:right;float:right;font-size:0.9em;width:50%;}
.mini-cart-subtotals{font-weight:700;padding:10px 0 0;text-align:center;}
.mini-cart-subtotals .label{margin:0 20px 0 0;}
.mini-cart-slot{background:none repeat scroll 0 0 #E8E8E8;border:1px solid #D0D0D0;font-size:0.9em;font-style:italic;margin:20px;padding:10px;text-align:center;}
.mini-cart-link-cart{display:block;margin:20px;width:auto;}
.mini-cart-link-checkout{clear:both;display:block;padding:20px 0 10px;text-align:center;}
.menu-utility{clear:both;color:#8F8F8F;float:right;font-size:0.8em;letter-spacing:1px;margin:10px 0;padding:0;text-transform:uppercase;}
.ie7 .menu-utility{width:350px;}
.menu-utility-user{color:#8F8F8F;float:right;font-size:0.8em;letter-spacing:1px;margin:6px 10px 0 0;padding:0;text-transform:uppercase;}
.menu-utility li{border-right:1px solid;float:left;list-style:none outside none;padding:0 6px;}
.menu-utility-user li{border-right:1px solid;float:left;list-style:none outside none;padding:0 6px;}
.menu-utility li.last{border:0 none;}
.menu-utility-user li.last{border:0 none;}
#locationSearch { margin: 15px 15px 0 0; }
.header-search{position:absolute;right:5px;top:12px;z-index:21;}
.header-search input[type="text"]{background:none repeat scroll 0 0 #666666;border:0 none;color:#FFFFFF;height:16px;margin:0;width:235px;}
.header-search input[type="submit"]{background:url("../images/interface/icon-search.png") no-repeat scroll center center transparent;border:0 none;height:32px;padding:8px 0;text-indent:-999em;width:32px;}
.header-search legend{background:none repeat scroll 0 0 transparent;}



/* primary catalog navigation */
/* ------------------------------------- */

#navigation{position:relative;width:100%;z-index:100;}
ul.level-1{background:none repeat scroll 0 0 #000000;margin:0 0 10px;padding:10px 0 11px;position:relative;}
.ie7 ul.level-1{height:30px;}
ul.level-1 li{float:left;padding:0 5px;}
ul.level-1 li:hover a.level-1{background:none repeat scroll 0 0 #EFEFEF;color:#000000;}
a.level-1:focus + .level-2{display:block;}
ul.level-1 li:hover div.level-2{display:block;}
ul.level-1 a{color:#FFFFFF;display:block;font-size:1.2em;padding:10px;text-transform:uppercase;}
div.level-2{background:none repeat scroll 0 0 #EFEFEF;box-shadow:6px 8px 5px -6px rgba(66,66,66,0.5);display:none;margin:0;padding:15px;position:absolute;}
.ie7 div.level-2{width:452px;}
div.level-2 .menu-wrapper{background:none repeat scroll 0 0 #FFFFFF;box-shadow:6px 8px 5px -6px rgba(66,66,66,0.5);overflow:hidden;}
div.level-2 ul.level-2{float:left;margin:0;padding:0;}
div.level-2 ul.level-2 li{float:none;min-width:130px;padding:7px 5px;}
div.level-2 ul.level-2 a{line-height:18px;color:#323232;font-size:1em;font-weight:700;padding:0;}
div.level-2 ul.level-2 .level-3 a{line-height:normal;}
div.level-2 .custom{float:right;text-align:center;}
div.level-2 .custom img{height:auto !important;width:auto !important;}
div.level-2.menu-horizontal ul.level-2{float:none;}
div.level-2.menu-horizontal li{float:left !important;height:100%;}
div.level-2.menu-horizontal li li{border-color:#EFEFEF;border-style:solid;border-width:0 1px 0 0;float:none !important;height:100%;}
div.level-2.menu-horizontal li.last li{border-width:0 !important;}
div.level-2.menu-horizontal .custom{clear:both;}
div.level-3 ul.level-3{margin:0;padding:0;}
div.level-3 ul.level-3 li{padding:3px 5px;width:auto;}
div.level-3 ul.level-3 a{color:#3EBAEA;font-weight:400;text-transform:none;}

/* breadcrumbs */
/* ------------------------------------- */

.breadcrumb{font-size:1.2em;line-height:1.5em;margin:1px 0 9px;padding:0 10px;}
.breadcrumb li{display:inline;list-style:none outside none;}
.breadcrumb a{background:url("../images/interface/icon-breadcrumb-separator.png") no-repeat scroll right center transparent;padding:0 0.8em 0 0;}
.breadcrumb h1{display:inline;font-size:1em;font-weight:normal;}
.breadcrumb h1 .paging-current-page{left:-999em;position:absolute;}
.breadcrumb-refinement-name{background:none repeat scroll 0 0 transparent !important;font-family:Georgia,serif;font-style:italic;}
.breadcrumb-refinement-value{background:none repeat scroll 0 0 transparent !important;font-family:Georgia,serif;font-style:italic;}
a.breadcrumb-relax{background:none repeat scroll 0 0 transparent !important;font-family:Georgia,serif;font-style:italic;padding:0 5px 0 0;}
.breadcrumb-last{background:none repeat scroll 0 0 transparent !important;font-family:Georgia,serif;font-style:italic;}
.breadcrumb-result-text a{background:none repeat scroll 0 0 transparent;color:#3EBAEA;font-family:Georgia,serif;font-style:italic;padding:0;}

/* primary region elements */
/* ------------------------------------- */

.primary-content a{color:#3EBAEA;}
.primary-content h1,#secondary h1{font-family:Georgia,serif;font-size:1.75em;font-style:italic;font-weight:400;margin:0 0 14px;}
.primary-content h2{font-size:1.3em;}
.primary-content h3{font-size:1.15em;}
.primary-content dl{clear:both;overflow:hidden;}
.primary-content dl dt{clear:both;float:left;margin:2% 0 0;min-width:15%;}
.primary-content dl dd{float:left;margin:2% 0 0;padding:0 0 0 5%;}
.col-1{float:left;margin:4px 0;width:48%;}
.col-2{float:right;margin:4px 0;width:48%;}
.content-header{font-family:Georgia,serif;font-size:1.75em;font-style:italic;font-weight:400;margin:0 0 14px !important;}
.content-header span{font-size:0.75em;font-style:normal;font-weight:400;}
.section-header{background:url("../images/interface/icon-double-line-header.png") repeat-x scroll left top #EFEFEF;border-bottom:1px solid #FFFFFF;font-size:1.1em !important;font-weight:700;margin:0;padding:1em;position:relative;text-transform:uppercase;}
.section-header-note{font-size:0.9em;font-weight:400;position:absolute;right:1em;text-transform:none;}
.back{display:block;margin:0 0 10px;}

/* secondary region elements */
/* ------------------------------------- */

#secondary a{color:#3EBAEA;}
#category-level-1 a.refinement-link{background:none repeat scroll 0 0 transparent;padding:0 0 0 10px;}
#category-level-1 a.active{font-weight:bold;}
#category-level-1 li.expandable{background:url("../images/interface/icon-category-expand-off.png") no-repeat scroll 2px 5px transparent;}
#category-level-1 li.active{background-position:-490px 5px;}
#category-level-2 a.active{color:#000000;font-family:georgia;font-style:italic;font-weight:normal;}
#category-level-2 a.refinement-link{margin:0 0 0 6px;padding:0;}
#category-level-2 li.expandable{background:url("../images/interface/icon-refine-link-arrow.png") no-repeat scroll left 6px transparent;}
#category-level-2 li.active{background-position:left -47px;color:#000000;font-family:georgia;font-style:italic;}
#category-level-3{padding:5px 0 0;}
#category-level-3 a.refinement-link{font-style:normal;margin:0 0 0 15px;padding:0;}
#category-level-3 a.active{}
.refinement{position:relative;}
.refinement-header{background:url("../images/interface/icon-double-line-header.png") repeat-x scroll left top #EFEFEF;display:block;font-size:1.1em;font-weight:bold;margin:0;padding:14px 9px 9px;text-transform:uppercase;}
.refinement h3{background:url("../images/interface/icon-double-line-header.png") repeat-x scroll left top #EFEFEF;font-size:1.1em;letter-spacing:1.5px;margin:0;padding:14px 9px 9px;text-transform:uppercase;}
.ie7 .refinement h3{clear:both;}
.refinement h3 span{background:url("../images/interface/icon-refinement-block-arrow.png") no-repeat scroll left -87px transparent;padding:0 0 0 20px;}
.refinement h3.expanded span{background-position:left top;}
.refinement ul{list-style:none outside none;margin:0;padding:8px 7px 5px;}
.refinement li{padding:3px 2px 5px 5px;}
.refinement ul.swatches li{float:left;padding:2px;}
.refinement ul.swatches li a{border:2px solid #D9D9D9;border-radius:6px 6px 6px 6px;display:block;padding:0.2em 0.8em;}
.refinement ul.swatches li.selected a{border-color:#3EBAEA;font-weight:bold;}
.refinement ul.swatches li.unselectable a{background-image:url("../images/interface/icon-color-swatch-unselectable.png");background-position:right top;}
.refinement ul.Color li a{height:23px;padding:0;text-indent:-999em;width:30px;}
.refinement .clear-refinement{position:absolute;right:0.7em;top:1.1em;}
.refinement .refinement-link{background:url("../images/interface/icon-refine-link-check.png") no-repeat scroll left top transparent;border:0 none;padding:0 0 0 1.5em;}
.refinement .selected .refinement-link{background-position:left bottom;}
.refinement .refinement-top-level{padding:12px;}
.scrollable{height:10em;overflow:auto;}
.nav ul{border:0 none;list-style:none outside none;margin:7px 0;padding:0;}
.nav ul li{list-style:none outside none !important;margin:0 0 7px !important;}
.nav .toggle{background:url("../images/interface/icon-toggle-arrow.png") no-repeat scroll left 12px transparent;border:0 none;display:block;font-size:1em;font-weight:700;margin:10px 0 7px;padding:8px 0 0 15px;text-transform:uppercase;}
.nav .expanded{background-position:left -96px;}
.nav .toggle span{background:none repeat scroll 0 0 transparent;}

/* footer */
/* ------------------------------------- */

#footer{background:url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;clear:both;font-size:0.9em;padding:2em 0.5em;text-align:center;}
#footer .menu-footer{float:none;margin:1em 0;padding:0;text-align:center;text-transform:uppercase;}
#footer .menu-footer li{display:inline;float:none;padding:0 0.5em;}
#footer a:hover{text-decoration:underline;}
.copyright{color:#999999;}
.postscript{color:#999999;font-family:Georgia,serif;font-style:italic;}

/* color swatches */
/* ------------------------------------- */

.swatch-black a{background-color:#000000 !important;}
.swatch-beige a{background-color:#F5F5DC !important;}
.swatch-blue a{background-color:blue !important;}
.swatch-purple a{background-color:purple !important;}
.swatch-red a{background-color:red !important;}
.swatch-brown a{background-color:#783201 !important;}
.swatch-green a{background-color:green !important;}
.swatch-grey a{background-color:#8F979D !important;}
.swatch-pink a{background-color:#FE249A !important;}
.swatch-orange a{background-color:orange !important;}
.swatch-white a{background-color:#FFFFFF !important;}
.swatch-yellow a{background-color:#FFFF00 !important;}
.swatch-navy a{background-color:navy !important;}
.swatch-miscellaneous a{background:url("../images/interface/icon-color-swatch-misc.png") no-repeat scroll left top transparent;}
.unselectable.swatch-miscellaneous a{background:url("../images/interface/icon-color-swatch-misc-unselectable.png") no-repeat scroll left top transparent !important;}

/* product tiles */
/* ------------------------------------- */

.product-tile{color:#999999;position:relative;text-align:center;}
.product-tile img{max-width:100%;}
.product-tile .product-image{height:195px;position:relative;}
.product-tile .product-name{font-family:Georgia,sans-serif;font-size:1.2em;font-style:italic;margin:13px 0 2px;}
.product-tile .product-name h2{font-size:1.1em !important;font-weight:normal;margin-bottom:5px;}
.product-tile .product-pricing .product-standard-price{text-decoration:line-through;}
.product-tile .product-swatches{bottom:-9px;position:absolute;right:0;}
.product-tile .product-swatches-all{cursor:pointer;font-size:0.9em;}
.product-tile .product-swatches ul{list-style:none outside none;margin:0;overflow:hidden;padding:0;}
.product-tile .product-swatches ul.swatch-toggle{background:none repeat scroll 0 0 #FFFFFF;display:none;position:absolute;}
.product-tile .product-swatches:hover ul.swatch-toggle{display:block;}
.product-tile .product-swatches {float:right;}
.product-tile .product-swatches li{float:left;}
.product-tile .product-swatches .swatch{display:block;width:16px;}
.product-tile .product-swatches .swatch img{border:1px solid #FFFFFF;height:12px;padding:1px;width:12px;}
.product-tile .product-swatches .selected img{border-color:#12ABE7;}
.product-tile .product-swatches img:hover{border-color:#12ABE7;}
.product-tile .product-promo{font-size:0.8em;margin:6px 0;text-transform:uppercase;}
.product-tile .product-compare{bottom:-5px;left:5px;position:absolute;width:40px;line-height:11px;}
.product-tile .product-compare label{float:right;font-weight:400;padding:0;width:50%;}
.product-tile .product-compare input{float:left;margin:0;}
.product-tile .pr_stars{height:auto;position:relative;left:8px;}
.product-tile .prSnippetTitle {float:left;}
.product-tile .prSnippetReadReviews {display:none;}
.product-tile .prSnippetRatingUnclickable {float:left;}
.product-tile .prSnippetNumberOfRatingsText {display:none;}
.product-tile .pr-snippet-review-count{display:none;}
.product-tile .pr-snippet-read-write{display:none;}
.product-tile .pr-snippet-social-bar{display:none;}
.product-tile .pr-clear{display:none;}
.product-tile .pr-snippet-stars{float:none;margin:0 auto;width:115px;}
.capture-product-id{left:-999em;position:absolute;}

/* search results, grid layout */
/* ------------------------------------- */
 
.pt_product-search-result .primary-content h1.content-header{padding-left:15px;}
.category-main-banner img{max-width:100%;}
.no-hits-search-term{color:#990000;font-style:italic;}
.no-hits-search-term-suggest{color:#990000;font-style:italic;}
.no-hits-footer{background:url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;margin:20px 0;padding:20px 0;}
.search-result-bookmarks{margin:15px;}
.search-result-bookmarks .first{border-right:1px solid #999999;padding-right:5px;}
.search-result-options{margin:17px 0 21px;overflow:hidden;width:100%;}
.sort-by{background:none repeat scroll 0 0 #D9D9D9;border-bottom:1px solid #C2C2C2;float:left;margin:0 0 0 20px;padding:3px 5px;}
.items-per-page{background:none repeat scroll 0 0 #D9D9D9;border-bottom:1px solid #C2C2C2;float:left;margin:0 0 0 20px;padding:3px 5px;}
.sort-by label{display:none;}
.items-per-page label{display:none;}
.sort-by select{background:none repeat scroll 0 0 #D9D9D9;border:0 none;font-size:0.9em;margin:0 6px 0 0;padding:0;width:auto;}
.items-per-page select{background:none repeat scroll 0 0 #D9D9D9;border:0 none;font-size:0.9em;margin:0 6px 0 0;padding:0;width:auto;}
.sort-by button{background:none repeat scroll 0 0 #C2C2C2;border:0 none;color:#333333;font-size:0.9em;padding:0.3em;width:auto;}
.items-per-page button{background:none repeat scroll 0 0 #C2C2C2;border:0 none;color:#333333;font-size:0.9em;padding:0.3em;width:auto;}
.pagination .results-hits{color:#666666;float:left;padding:5px 0;}
.pagination{float:right;margin:0 20px 0 0;}
.pagination ul{float:right;margin:0;padding:0;}
.pagination li{display:block;float:left;list-style:none outside none;padding:0.5em;}
.pagination li.first-last a{background-color:#00A4E3;color:#FFFFFF;font-size:0.9em;padding:0 2px;}
ul.search-result-items{margin:0;padding:0;}
ul.search-result-items li{list-style:none outside none;}
ul.search-result-items .new-row{clear:both;}
ul.search-result-items .grid-tile{background:none repeat scroll 0 0 #FFFFFF;box-shadow:0 0 9px #CCCCCC;float:left;list-style:none outside none;margin:0 0 2% 20px;padding:2%;width:26%;}
ul.search-result-items .grid-tile .product-tile {padding-bottom:35px;}
ul.search-result-items .invisible{display:none;}
.search-result-content{clear:both;}
.search-promo{padding:20px;}
h1#results-content{background:url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;padding-top:30px;}
ul.folder-content-list{margin:0;overflow:hidden;padding:0 20px;}
ul.folder-content-list li{float:left;list-style:none outside none;margin:0;padding:2% 2% 2% 0;width:48%;}
ul.folder-content-list .content-title{display:block;}
.no-results{padding:20px;}
.toggle-grid{background:url("../images/interface/icon-toggle-grid.png") no-repeat scroll left top transparent;cursor:pointer;display:block;float:left;height:11px;margin:2px 10px 0 0;text-indent:-999em;width:24px;}
.wide-tiles ul.search-result-items .grid-tile{width:91%;}
.wide-tiles .product-tile{height:166px !important;}
.wide-tiles .product-tile .product-image{float:left;width:40%;}
.wide-tiles .product-tile .product-name,.wide-tiles .product-tile .product-pricing,.wide-tiles .product-tile .product-promo,.wide-tiles .product-tile .pr_stars,.wide-tiles .product-tile .product-swatches{float:left;text-align:left;width:55%;margin-bottom:5px;}
.wide-tiles .product-tile .product-name {margin-top:0px;}
.wide-tiles .product-tile .pr-snippet-stars{margin:0;}
.wide-tiles .product-tile .pr_stars{left:-5px;}
.wide-tiles .product-tile .product-compare{left:40.5%;width:32px;bottom:5px;line-height:12px;}
.wide-tiles .product-tile .product-swatches{bottom:auto;left:auto;position:relative;right:auto;margin-top:5px;}
.wide-tiles .product-tile .product-swatches li{float:left;}

/* compare tools */
/* ------------------------------------- */

.compare-item-remove{display:none;}
.active .compare-item-remove{display:inline;}
.compare-item{background:none repeat scroll 0 0 #E6E6E6;float:left;height:55px;margin-right:13px;overflow:hidden;position:relative;width:55px;}
.compare-item-0{background-image:url("../images/interface/icon-compare-placeholder-1.png");}
.compare-item-1{background-image:url("../images/interface/icon-compare-placeholder-2.png");}
.compare-item-2{background-image:url("../images/interface/icon-compare-placeholder-3.png");}
.compare-item-3{background-image:url("../images/interface/icon-compare-placeholder-4.png");}
.compare-item-4{background-image:url("../images/interface/icon-compare-placeholder-5.png");}
.compare-item-5{background-image:url("../images/interface/icon-compare-placeholder-6.png");}
.compareitems{background:none repeat scroll 0 0 #D9D9D9;clear:both;margin:3.5em 2em 0;overflow:hidden;padding:0 1em 1em;}
.compareitems h2{font-size:0.9em;margin:0.5em 0;text-transform:uppercase;}
.compareitemcount{color:#CCCCCC;font-size:3em;left:30%;position:absolute;top:15%;z-index:1;}
.compareproduct{max-width:100%;position:absolute;z-index:2;}
.compareitemremove{position:absolute;right:1px;top:1px;z-index:3;}
.compare-buttons{padding:0.7em 0 0;}
.compare-print{float:right;margin:0 0 10px;}
#compare-table td{-moz-border-bottom-colors:none;-moz-border-image:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;border-color:-moz-use-text-color #D9D9D9 #D9D9D9;border-style:none solid solid;border-width:0 1px 1px;}
#compare-table tr.evenattributerow{background:none repeat scroll 0 0 #F3F3F3;}
#compare-table td .product-tile{font-size:0.9em;width:100px;margin-bottom:12px;padding-bottom:12px;}
#compare-table td .product-tile .product-image{height:100px;}
#compare-table td .product-tile .product-image img{height:100px;}
#compare-table td .product-tile .product-swatches {float:none;}
#compare-table td.product button{font-size:0.9em;}
#compare-table .section-header{font-size:0.9em;padding:1em;text-transform:none;}
#compare-table .selectcategory label{display:block;font-size:0.9em;margin:1em 0;text-transform:none;}
#compare-table .selectcategory select{margin:0;width:100px;}
#compare-table .comparelists{padding:0;}
#compare-table .remove-link{background:url("../images/interface/icon-mini-close.png") no-repeat scroll right top transparent;display:block;padding:0 20px 0 0;text-align:right;}
#compare-table .add-to-wishlist,#compare-table .add-to-gift-registry{padding:0.2em 0;text-align:center;}
#compare-table .compare-lists label,#compare-table .compare-lists select{float:none;text-align:left;width:100%;}

/* power reviews */
/* ------------------------------------- */

body .pr-snippet-wrapper{background:none repeat scroll 0 0 transparent;border:0 none;}
body .pr-snippet-stars{border:0 none;}
body .pr-snippet-review-count{display:none;}
body .pr-snippet-read-write{border:0 none;clear:none;float:left;font-size:1.1em;margin:0;padding:4px 0;}
body .pr-snippet-read-write p{display:none;}
body .pr-snippet-read-write a.pr-snippet-link{color:#3EBAEA;}
body .review-image{float:left;margin:0 20px;}

/* product detail page (pdp) */
/* ------------------------------------- */

#product-nav-container{overflow:hidden;position:absolute;right:0;width:160px;}
#product-nav-container div{float:left;text-align:center;width:77px;}
#product-nav-container img{max-height:100%;max-width:80%;}
#product-nav-container span{display:block;height:65px;}
#product-nav-container .divided span{border-right:1px solid #E0E0E0;padding-right:5px;}
.pdp-main ul{list-style:none outside none;margin:0;padding:0;}
.pdp-main label{padding:0;text-align:left;text-transform:uppercase;width:auto;}
.pdp-main .product-col-1{float:left;width:37%;margin-left:1%;}
.pdp-main .product-primary-image{max-width:100%;padding:1em 0 0;text-align:center;}
.primary-image{max-width:100%;}
.pdp-main .product-thumbnails{clear:both;display:inline-block;padding:0px 0.5em;}
.pdp-main .product-thumbnails li{border-top:5px solid #FFFFFF;float:left;margin:0 5px 0 0;padding:3px 0 0;width:55px;}
.pdp-main .product-thumbnails li.selected{border-color:#00A4E4;}
.pdp-main .product-thumbnails li img{border:1px solid #CCCCCC;max-width:53px;}
.pdp-main .product-thumbnails h2{text-transform:uppercase;text-transform: uppercase;font-family: Arial, sans-serif;font-size: 1.5em;font-style: normal;font-weight: bold;margin: .83em 0;}
.pdp-main .product-col-2{float:right;width:59.5%;}
.pdp-main form .input-select{width:auto;}
.pdp-main .product-name{float:right;font-family:Georgia;font-size:1.8em;font-style:italic;font-weight:400;margin:26px 158px 4px 0;width:43%;}
.pdp-main .product-number{color:#CCCCCC;font-size:0.9em;margin:0 0 0.5em 0.5em;}
.pdp-main .product-price{font-size:2em;margin:0 0 0.5em;}
.pdp-main .product-price .price-standard{color:#999999;text-decoration:line-through;}
.pdp-main .product-col-2 .price-standard{border-right:1px solid #E0E0E0;padding-right:8px;}
.pdp-main .product-price .price-tiered{color:#990000;font-size:0.6em;line-height:1.5em;}
.pdp-main .product-review-links{overflow:hidden;}
.pdp-main .product-review-links li{margin-right:1em;}
.pdp-main .attribute{margin:1em 0;overflow:hidden;padding:0;position:relative;}
.pdp-main .attribute h3,.pdp-main .attribute .label{clear:both;float:left;font-size:1em;font-weight:bold;margin:0;padding:4px 0 0;text-transform:uppercase;width:25%;}
.pdp-main .attribute .value{float:right;width:74%;}
.pdp-main .attribute ul{float:right;width:100%;}
.pdp-main .attribute .selected-value{border:0 none;color:#666666;font-family:Georgia;font-style:italic;padding:0.5em 0 0 2em;}
.pdp-main .attribute .size-chart-link{clear:both;float:none;}
.pdp-main .attribute .size-chart-link a{border-color:#FFFFFF !important;padding:0;}
.pdp-main .swatches li{float:left;}
.pdp-main .swatches li:hover a,.pdp-main .swatches li.selected a{border-color:#00A4E4;}
.pdp-main .swatches li.unselectable a{opacity:0.5;}
.pdp-main .swatches li.unselectable:hover a{border-color:#E0E0E0;}
.pdp-main .swatches li.unselectable:hover{border-color:#E0E0E0;}
.pdp-main .swatches li a{-moz-border-bottom-colors:none;-moz-border-image:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;border-color:#E0E0E0;border-radius:5px 5px 5px 5px;border-style:solid;border-width:1px 1px 3px;display:block;margin:0 0.3em 0.3em 0.2em;padding:0.3em 0.6em;}
.pdp-main .Color li{border:2px solid #FFFFFF;border-radius:5px 5px 5px 5px;}
.pdp-main .Color li:hover,.pdp-main .Color li.selected{border-color:#00A4E4;}
.pdp-main .Color li:hover a,.pdp-main .Color li.selected a{border-color:#FFFFFF;}
.pdp-main .Color li a{border:1px solid #E0E0E0;height:22px;margin:0;padding:0;text-indent:-999em;width:32px;}
.pdp-main .product-main-attributes .attribute{padding:0.2em 0;}
.pdp-main .product-main-attributes .label{padding:0;}
.pdp-main .product-variations {margin-left:0.5em;}
.pdp-main .product-add-to-cart{background:url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;clear:both;margin:1em 0;overflow:hidden;padding:1.5em 0;}
.product-set .product-add-to-cart{display:block;}
.pdp-main .product-add-to-cart .inventory{float:left;width:15%;}
.pdp-main .product-add-to-cart .inventory label{float:none;}
.pdp-main .product-add-to-cart .inventory input{margin:0.7em 0;width:56px;}
.pdp-main .product-add-to-cart .product-price{float:left;font-size:2.4em;margin:0;padding-top:18px;text-align:right;width:47%;}
.pdp-main .product-add-to-cart button{float:right;margin-top:0.5em;width:37%;}
.pdp-main .product-add-to-cart .availability{position:relative;clear:both;float:left;padding:20px 0 20px 70px;}
.pdp-main .product-add-to-cart .availability .label{position:absolute;left:0px;}
.availability .availability-msg p {margin-top:0px;}
.availability .in-stock-msg {color:black}
.availability .not-available-msg {color:red}
.availability .preorder-msg {color:blue}
.availability .backorder-msg {color:green}
.availability .in-stock-date-msg {color:red}

.pdp-main .recommendations{clear:left;padding:2em 0;width:350px;}
.pdp-main .recommendations h2{font-family:Georgia;font-size:2em;font-style:italic;font-weight:400;margin-left:14px;}
.pdp-main .recommendations li{float:left;width:100px;}
.pdp-main .recommendations .product-tile{padding:0 0.5em;}
.pdp-main .recommendations .product-image{height:90px;}
.pdp-main .recommendations .product-name{font-size:1em;margin:0.2em 0;width:auto;}
.pdp-main .recommendations .product-price{font-size:1em;}
.pdp-main .recommendations .jcarousel-clip{margin:auto;overflow:hidden;width:300px;}
.pdp-main .recommendations .jcarousel-prev{background:url("../images/interface/icon-jcarousel-horiz-arrow-left.png") repeat scroll 0 0 transparent;cursor:pointer;height:17px;left:0;position:absolute;top:20%;width:9px;}
.pdp-main .recommendations .jcarousel-next{background:url("../images/interface/icon-jcarousel-horiz-arrow-right.png") repeat scroll 0 0 transparent;cursor:pointer;height:17px;position:absolute;right:0;top:20%;width:9px;}
.pdp-main .recommendations .jcarousel-prev-disabled{background:none repeat scroll 0 0 transparent;}
.pdp-main .recommendations .jcarousel-next-disabled{background:none repeat scroll 0 0 transparent;}
.pdp-main .recommendations .product-tile:hover .recommendation-tooltip{display:block !important;}
.js .pdp-main .recommendations .product-tile .recommendation-tooltip{display:none !important;}
.pdp-main .recommendations .recommendation-tooltip{background:none repeat scroll 0 0 #FFFFFF;border:1px solid;left:50%;position:absolute;text-align:left;top:50%;width:300px;z-index:100;}
.pdp-main .promotion{background:url("../images/interface/ui-promo-bg-gray-diag.png") repeat scroll 0 0 transparent;clear:both;margin:1em 0;padding:4%;}
.pdp-main .promotion .promotion-title{color:#999999;display:inline-block;font-size:1.5em;line-height:1em;text-transform:uppercase;vertical-align:top;width:20%;}
.pdp-main .promotion .promotion-callout{display:inline-block;line-height:1em;vertical-align:top;width:77%;}
.pdp-main .product-tabs{border:0 none;margin:25px 0 0;}
.print-page {cursor:pointer;}
.pdp-main .product-tabs .print-page {float:right}
.list-table-header .print-page {font-size: 13.2px;float:right;}
.pt_gift-registry .list-table-header .print-page {margin-top:-0.5em;}
.pdp-main .product-tabs .tab-content {min-height:100px;}
.pdp-main .product-set-list{border-top:1px solid #D9D9D9;margin:0 0 0 6px;}
.pdp-main .product-set-list .product-set-item{border-bottom:1px solid #D9D9D9;clear:both;margin:1em 0;overflow:hidden;padding:1em 0 0;}
.pdp-main .product-set-list .product-set-image{float:left;width:22%;}
.pdp-main .product-set-list .product-set-details{float:left;width:78%;}
.pdp-main .product-set-list .attribute h3,.pdp-main .product-set-list .attribute .label{width:25%;}
.pdp-main .product-set-list .product-name{float:none;font-size:1.3em;margin:0;width:auto;}
.pdp-main .product-set-list .promotion-title{font-size:1.2em;}
.pdp-main .product-set-list .block-add-to-cart{background:none repeat scroll 0 0 #F3F3F3;clear:both;overflow:hidden;padding:0.5em 0;}
.pdp-main .product-set-list .block-add-to-cart .inventory{float:left;margin-left:22%;width:20%;}
.pdp-main .product-set-list .block-add-to-cart label{padding:0.7em 0;text-align:left;width:40%;}
.pdp-main .product-set-list .block-add-to-cart .input-text{width:35px;}
.pdp-main .product-set-list .block-add-to-cart .product-price{float:left;font-size:1.6em;margin:0;padding:6px 0 0;text-align:right;width:35%;}
.pdp-main .product-set-list .block-add-to-cart button{float:right;font-size:0.9em;margin:3px 5px 0 0;padding-left:1em;padding-right:1em;}
.pdp-main .product-set .product-add-to-cart .product-price{width:54%;}
button.add-to-cart[disabled],button.add-all-to-cart[disabled]{opacity:0.5;}
button.add-all-to-cart{display:none;} /* not available in simple ui. */
.js button.add-all-to-cart{display:inherit;} /* available in rich ui. */

/* bonus products */
/* ------------------------------------- */

.select-bonus-btn,
.no-bonus-btn{float:left;margin:0 5px 0 0;}
.buttonbar{margin:11px 0;overflow:hidden;width:336px;}
.bonus-product-list .bonus-product-item{border-bottom:1px solid #E0E0E0;clear:both;}
.bonus-product-list .product-name{float:none;margin:1em 0;}
.bonus-product-list .product-add-to-cart button{float:left;margin-top:24px;}
.bonus-product-list-footer{clear:both;}
.bonus-product-list-footer button{float:right;}

/* send to friend */
/* ------------------------------------- */

.send-to-friend-product{border-bottom:1px solid #E0E0E0;border-top:1px solid #E0E0E0;margin-bottom:20px;margin-top:20px;margin-right: 22%;overflow:hidden;padding:20px 0;}
.send-to-friend-product .product-image{float:left;width:36%;}
.send-to-friend-product .product-image img{max-width:80%;}
.send-to-friend-product .product-description{float:left;width:63%;}
.send-to-friend-product .product-description h2 {margin-right:0;}
.send-to-friend-product .product-description .value {font-weight:bold;}
.send-to-friend-product .product-description h2{font-family:Georgia;font-size:1.2em;font-style:italic;}
.send-to-friend-product .product-description dt {clear:both;float:left; margin:10px 0 0 0;width: 100px;}
.send-to-friend-product .product-description dd {float:left;margin:10px 0 0 0; width: 200px;}

/* size charts */
/* ------------------------------------- */

.sizinginformation{border:0 none;padding:10px;}
.sizinginformation th{background:none repeat scroll 0 0 #F3F3F3;}
.sizinginformation td,.sizinginformation th{border-bottom:1px solid #F3F3F3;padding:10px;}
.sizinginformation td{border-left:1px solid #F3F3F3;}
.sizinginformation .ui-tabs-nav{height:33px;}
.sizinginformation .sizing-charts{border:0 none;}
.sizinginformation .tips-list{padding:0 !important;}
.sizinginformation .tips-list li{list-style:none outside none !important;}

/* shopping cart */
/* ------------------------------------- */

#cart-table .header-total-price{text-align:right;}
#cart-table .item-quantity input{margin:0;text-indent:0;width:2em;}
#cart-table .item-user-actions{width:100px;}
#cart-table .item-user-actions a{display:block;font-size:0.9em;}
#cart-table .item-user-actions button{display:block;font-size:0.9em;}
#cart-table .price-promotion .price-sales{color:#990000;}
#cart-table .price-promotion .price-standard{margin:0 1em 0 0;text-decoration:line-through;}
#cart-table .item-total{font-weight:700;text-align:right;word-wrap:break-word;}
#cart-table .item-total .promo-adjustment{width:120px;}
#cart-table .price-unadjusted{color:#666666;display:block;margin:0 0 5px;}
#cart-table .price-unadjusted span{text-decoration:line-through;}
#cart-table .price-adjusted-total{color:#666666;display:block;margin:5px 0 0;}
#cart-table .price-adjusted-total span{color:#990000;}
#cart-table .gift-cert-delivery{color:#990000;}
.cart-promo{background:url("../images/interface/ui-promo-bg-gray-diag.png") repeat scroll 0 0 transparent;color:#333333;font-family:Georgia,serif;font-style:italic;margin:0.3em 0;padding:1em;}
.cart-promo .bonus-item-actions{font-size:1em !important;text-align:right;vertical-align:middle;}
.cart-footer{margin:10px 0;overflow:hidden;}
.cart-coupon-code{float:left;width:50%;}
.cart-coupon-code label{float:none;font-size:1.1em;text-align:left;text-transform:uppercase;width:auto;line-height:2em;text-indent:0.5em;padding-top:0px;}
.cart-coupon-code .input-text{margin:2px 10px 0 0;width:55%;}
.cart-order-totals{float:right;width:40%;margin-top:26px;}
.cart-order-totals button{float:right;}
.order-totals-table th{display:none;}
.order-totals-table td{padding:5px 0;text-align:right !important;}
.order-totals-table .order-total{font-size:1.3em;font-weight:700;}
.order-totals-item{width:60%;}
.order-totals-value{width:40%;}
.order-subtotal{font-weight:700;}
#secondary .order-totals-table .order-shipping a {display:none;}
.cart-action-checkout{float:right;}
.cart-action-continue-shopping{float:right;}
.cart-action-continue-shopping button.button-text{line-height:50px;padding-right:1em;}
.promo-adjustment{color:#990000;}
ul.product-availability-list{margin:0;padding:0;}
ul.product-availability-list li{list-style:none outside none;margin:3px 0;}
ul.product-availability-list .on-order,ul.product-availability-list .not-available{color:#990000;font-size:0.9em;}
.account-welcome .welcome-message{font-family:Georgia,serif;font-size:1.2em;font-style:italic;}
.account-welcome .not-user{margin:10px 0;}
.last-visited h2{font-family:Georgia,serif;font-size:1.2em;font-style:italic;font-weight:normal;}
.last-visited .jcarousel-clip{margin:0 20px;overflow:hidden;width:167px;}
.last-visited .jcarousel-item{width:167px;}
.last-visited .jcarousel-next{background:url("../images/interface/icon-jcarousel-horiz-arrow-right.png") no-repeat scroll left top transparent;cursor:pointer;height:20px;position:absolute;right:0;top:50%;width:10px;}
.last-visited .jcarousel-prev{background:url("../images/interface/icon-jcarousel-horiz-arrow-left.png") no-repeat scroll left top transparent;cursor:pointer;height:20px;left:0;position:absolute;top:50%;width:10px;}
.last-visited .jcarousel-prev-disabled,.last-visited .jcarousel-next-disabled{background-image:none;}

/* checkout */
/* ------------------------------------- */

.checkout-progress-indicator{font-size:1.2em;overflow:hidden;position:absolute;right:0;text-align:right;top:6px;}
.checkout-progress-indicator div{background:url("../images/interface/icon-checkout-indicator.png") no-repeat scroll right center transparent;display:inline;padding:0 25px;}
.checkout-progress-indicator span{font-weight:700;text-transform:uppercase;}
.checkout-progress-indicator a{color:#333333;}
.checkout-progress-indicator .active{font-weight:700;}
.checkout-progress-indicator .step-3{background:none repeat scroll 0 0 transparent;padding-right:0;}
.select-address{padding:2em 0;}
.shipping-method{padding:22px 0 0 28%;}
.shipping-method label{display:inline;float:none !important;padding-right:5px !important;}
.shipping-method .shipping-description{display:inline;}
.redemption{color:#990000;}
.redemption span.error{margin-left:0;}
.payment-method-options{padding-left:24%;}
.payment-method-options .form-row{clear:none;float:left;width:30%;}
.payment-method-options label{width:auto;}
.payment-method{clear:both;display:none;}
.payment-method-expanded{display:block;}
.cvn-tip{float:left;margin:-38px 0 0 40%;width:auto;}
.month,.year,.day{clear:none;float:left;margin:0 0 2% 2%;}
.month select,.year select,.day select{margin:0;width:auto;}
.month .form-caption{margin-left:0;}
.cvn input{width:50px !important;}
.bml-terms-and-conditions{border:1px solid #AAAAAA;font-size:0.8em;height:400px;overflow:auto;padding:1em;}
.bml-table-col-1{width:25%;}
.checkout-mini-cart{background:none repeat scroll 0 0 #EFEFEF;max-height:330px;overflow:auto;}
.checkout-order-totals{background:none repeat scroll 0 0 #EFEFEF;padding:0.5em 1em;}
.checkout-order-totals .order-totals-table{width:90%;}
.checkout-order-totals .order-totals-table td{padding:5px 0 0;}
.checkout-order-totals .order-totals-table .order-total td{font-size:0.9em;padding:10px 0 0 5px;}
.place-order-totals{clear:both;}
.place-order-totals .order-totals-table{float:right;width:50%;}
.place-order-totals .content-asset{}
.order-component-block{margin:20px 0;}
.order-component-block .section-header a{float:right;font-weight:normal;}
.order-component-block .details{background:none repeat scroll 0 0 #E8E8E8;color:#A3A3A3;padding:0.5em 1em;}
.order-summary-footer{position:relative;}
.order-summary-footer h2{font-family:Georgia,serif;font-size:2em;font-style:italic;font-weight:normal;}
.summary-help{float:right;font-size:0.8em;margin:1em 0;}
.submit-order{clear:both;display:block;padding:20px 0 0;text-align:right;}
.submit-order button{margin-left:1.5em;}
.pt_order-confirmation h1{font-size:2.5em;}
.pt_order-confirmation .order-shipment-table{margin:0 0 20px;}
.pt_order-confirmation .order-shipment-table .order-shipment-details{border-left:1px solid #E0E0E0;}
.pt_order-confirmation #primary h2{font-family:Georgia,serif;font-size:2em;font-style:italic;font-weight:normal;}
.pt_order-confirmation a.print-page{float:right;}
.confirmation-message{border-bottom:3px solid #00A4E4;margin-bottom:20px;padding-bottom:20px;}
.order-discount{color:#990000;}
.gift-cert-used{padding:10px 0;}
.order-detail-options{border-top:1px solid #E0E0E0;margin:20px 0 0;padding:20px 0 0;text-align:right;}
.order-detail-options a{margin:0 10px;}
.summary .edit {position: absolute;text-transform: uppercase;right: 10px;font-size: 0.9em;line-height: 1.5em;}
 
.pt_cart #main {padding: 0 14px;}
.pt_order-confirmation #main {padding: 0 14px;}
.pt_cart .breadcrumb {padding-left:0}
.pt_order-confirmation .order-confirmation-details .content-header {margin:7px 0 !important;}
.order-shipment-details .shipping-method { padding-left:0px;}
.order-shipment-details .label { position:absolute;width:150px;text-align:right;font-weight:bold}
.order-shipment-details .value { margin-left:155px;}
.order-shipment-details .order-shipment-address { width:240px;}

.order-shipment-gift-message-header {font-weight: bold;font-size: 1.2em;padding-bottom: 0px;}
.order-shipment-gift-message {font-size: 1.1em;}

/* account */
/* ------------------------------------- */

#PasswordResetForm fieldset { position: relative; }
#PasswordResetForm button {
	float: right;
position: absolute;
top: 0px;
left: 63%;}
h1 .account-logout{font-size:0.6em;}
.registration-selection input,.registration-selection label{display:inline;float:none;}
ul.address-list{padding:0;}
ul.address-list li{float:left;list-style:none outside none;margin:0;min-height:135px;padding:1em 0;width:30%;}
ul.address-list li.default{border-bottom:1px solid #EFEFEF;float:none;width:auto;}
ul.address-list .mini-address-title{font-style:italic;}
ul.payment-list{overflow:hidden;padding:0;}
ul.payment-list li{float:left;list-style:none outside none;margin:0;min-height:110px;width:33%;}
.order-history-header{background:url("../images/interface/icon-double-line-header.png") repeat-x scroll left top #EFEFEF;overflow:hidden;padding:10px;}
.order-history-header .label{font-weight:700;}
.order-history-header button{float:right;}
.order-history-header .order-date{float:left;margin:2px 0;width:60%;}
.order-history-header .order-status{float:left;margin:2px 0;width:60%;}
.order-history-header .order-number{float:left;margin:2px 0;width:60%;}
.order-history-items{margin:20px 0;}
.order-history-table th{padding:5px 10px;}
.order-history-table td{padding:5px 10px;}
.order-history-table ul{margin:0;padding:0;}
.order-history-table li{list-style:none outside none;}
.order-history-table th.order-shipped-to{width:33%;}
.order-history-table th.order-items{width:33%;}
.order-history-table th.order-total-price{width:33%;}
.order-history-table .toggle{cursor:pointer;display:block;}
.js .order-history-table li.hidden{display:none;}

/* wishlist */
/* ------------------------------------- */

.pt_wish-list .list-table-header{background:url("../images/interface/icon-double-line-header.png") repeat-x scroll left top #EFEFEF;overflow:hidden;padding:2em;}
.pt_wish-list .list-table-header p{color:#999999;float:right;margin:0;overflow:hidden;width:37%;}

/* gift registry */
/* ------------------------------------- */

.pt_gift-registry .create-new-registry{margin:1em 0;}
.pt_gift-registry .create-new-registry button{float:left;margin-right:2em;}
.pt_gift-registry .create-new-registry p{font-family:Gorgia;font-size:1.3em;font-style:italic;margin:0;padding:0.5em 2em;}
.pt_gift-registry .add-gift-cert{border:1px solid #EFEFEF;margin-bottom:-1px;overflow:auto;padding:10px;}
.pt_gift-registry .add-gift-cert button{background:url("../images/banners/banner-gift-cert.gif") no-repeat scroll left top transparent;border:0 none;float:left;height:80px;text-indent:-999em;width:433px;}
.pt_gift-registry .add-gift-cert p{color:#999999;float:right;font-style:italic;line-height:1.5em;width:40%;}
.pt_gift-registry .list-table-header{background:url("../images/interface/icon-double-line-header.png") repeat-x scroll left top #EFEFEF;overflow:hidden;padding:2em;}
.pt_gift-registry .hdr-options{width:5%;}
.page-content-tab-navigaton button{background:none repeat scroll 0 0 #D9D9D9;border-color:#EFEFEF;border-width:1px;color:#999999;font-family:Georgia,serif;font-size:1.1em;font-style:italic;font-weight:400;margin:0 0 -1px;}
.page-content-tab-navigaton button.selected{background:none repeat scroll 0 0 #FFFFFF;border-bottom:1px solid #FFFFFF;}
.page-content-tab-wrapper{border:1px solid #EFEFEF;padding:5px;}
.gift-reg-purchases .item-purchased-by dd{float:left;font-weight:bold;margin:0 1em 0 0;position:relative;width:auto;}
.gift-reg-purchases .item-purchased-by dt{clear:both;float:left;margin:0 1em 0 0;position:relative;width:auto;}
.gift-reg-purchases .quantity-purchased{color:#990000;}
.gift-registry-advanced {clear: both;}
.gift-registry-advanced .toggle-content {overflow:hidden;padding:10px;}
.gift-registry-advanced .event-month {clear: both;}
.gift-registry-advanced .event-city {clear: both;}

/* gift certificates */
/* ------------------------------------- */

.gift-certificate-purchase{background:none repeat scroll 0 0 #F3F3F3;padding:10px;}
.gift-certificate-purchase .content-asset{float:left;width:50%;}
.gift-certificate-purchase .content-asset img{margin:20px 0;}
.gift-certificate-purchase form{background:none repeat scroll 0 0 #FFFFFF;float:right;padding:0 20px 20px;width:40%;}
.gift-certificate-purchase form .input-text{width:90%;}
.gift-certificate-purchase form .input-textarea{width:90%;}
.gift-certificate-purchase form .cert-amount{clear:none;float:left;margin:0;width:40%;}
.gift-certificate-purchase form .form-row-button{clear:none;float:left;margin:25px 0 0 20px;width:50%;}
.gift-certificate-purchase .cert-amount .form-caption{margin:20px 0 0;position:absolute;width:40%;}
.gift-certificate-purchase .cert-amount.error{padding-bottom:35px;}
.gift-certificate-purchase span.error {margin-left:2%;}
.check-balance{border-bottom:1px solid #D9D9D9;margin:0 0 20px;padding:0 0 20px;}
.gift-cert-balance{float:left;width:40%;}
.gift-cert-balance input{margin-top:0;width:90%;}
.gift-cert-balance .form-caption{margin-left:0;}
.gift-cert-balance-submit{clear:none;float:left;}
.gift-cert-balance .label {display:none;}
/* login pages */
/* ------------------------------------- */

.login-box{background:none repeat scroll 0 0 #E8E8E8;margin:0 0 2em;}
.login-box h3{margin:0;}
.login-box-content{padding:0.5em 1.5em;}

/* category landing page */
/* ------------------------------------- */

.bottom-banner-container{overflow:hidden;}
.bottom-banner-container .bottom-banner-cell{float:left;overflow:hidden;text-align:center;}
.bottom-banner-container .banner-cell-1{width:33%;}
.bottom-banner-container .banner-cell-2{width:34%;}
.bottom-banner-container .banner-cell-3{width:33%;}

/* store locator */
/* ------------------------------------- */

.store-locator-header{background:url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;font-family:Georgia,serif;font-size:1.75em;font-style:italic;font-weight:400;margin:20px 0 0;padding:20px 0;}
.store-information{background:none repeat scroll 0 0 #E8E8E8;border-bottom:1px solid #FFFFFF;}
.store-name{font-weight:bold;margin:0 0 10px;}
.store-address,.store-map{border-bottom:1px solid #E8E8E8;}
.store-locator-details{float:left;width:44%;}
.store-locator-details img{max-width:100%;}
.store-locator-details h1,.store-locator-details p{margin:0.25em 0;}
.store-locator-details-map{float:right;width:50%;}
.store-locator-details-map img{max-width:100%;}

/* homepage elements */
/* ------------------------------------- */

#homepage-slides{padding:0;width:100%;}
#homepage-slider{overflow:hidden;}
#homepage-slider .slide{list-style:none outside none;margin:0;max-width:100% !important;padding:0;width:100%;}
#homepage-slider .slide img{height:auto;max-width:100% !important;}
#homepage-slider .slide a h2{border:0 none;clip:rect(0pt,0pt,0pt,0pt);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
#homepage-slider .slide a span{position:absolute;text-indent:-999em;}
.home-bottom-left{float:left;width:50%;}
#home-promo-shop-shoes{background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:url("../images/homepage/home-promo-shoes.png");background-origin:padding-box;background-position:left top;background-repeat:no-repeat;background-size:100% auto;height:413px;margin:auto;max-width:320px;position:relative;width:100%;}
#home-promo-shop-shoes h2{position:absolute;text-indent:-999em;}
#home-promo-shop-shoes ul{padding:30% 0 0;text-align:center;}
#home-promo-shop-shoes li{border-right:1px solid #3EBAEA;display:inline;list-style:none outside none;margin:0 5px 0 0;padding:0 5px 0 0;text-transform:uppercase;}
#home-promo-shop-shoes li:last-child{border:0 none;}
#home-promo-shop-shoes li a{color:#3EBAEA;}
#home-promo-shop-shoes span{font-style:italic;margin:0 10px 0 0;}
.home-bottom-center{background:none repeat scroll 0 0 #F3F3F3;float:left;width:50%;}
#home-promo-free-shipping{background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:url("../images/homepage/home-promo-free-shipping.png");background-origin:padding-box;background-position:center top;background-repeat:no-repeat;background-size:100% auto;height:413px;margin:auto;max-width:319px;text-indent:-999em;width:100%;}
.home-bottom-right{clear:both;margin:0;width:auto;}
.home-bottom-right h2{background:url("../images/homepage/hdr-this-weeks-deals.png") no-repeat scroll center center transparent;border-bottom:2px solid #01A4E5;height:54px;padding:30px 0;text-indent:-999em;}
.home-bottom-right .vertical-carousel{margin:0;padding:0;}
.home-bottom-right .vertical-carousel li{float:left;list-style:none outside none;padding:0;width:25%;}
.home-bottom-right .vertical-carousel li .capture-product-id{display:none;}
.home-bottom-right .vertical-carousel li .product-price .product-standard-price{text-decoration:line-through;}
.home-bottom-right .product-tile{border:0 none;margin:auto;min-height:255px;width:90%;}
.home-bottom-right .product-tile img{max-width:90%;}
.home-bottom{clear:both;overflow:hidden;padding:2em 0;}
#email-alert-signup{display:block;margin:0 0 0 33px;width:910px;}
#email-alert-signup label{color:#8F8F8F;float:left;padding:0.5em 0 !important;text-transform:uppercase;width:50%;}
#email-alert-signup input[type="text"]{float:left;padding:0.7em 0.5em;width:30%;}
#email-alert-signup input[type="image"]{float:left;padding:0.1em;}


/* JavaScript specific styles */

.js .loader {position:absolute;left:0;top:0;width:100%;height:100%;}
.js .loader-bg {position:absolute;width:100%;height:100%;background-color:#fff;opacity:0.7;}
.js .loader-indicator {z-index:100;position:absolute;left:50%;top:50%;margin-left:-32px; margin-top:-32px;width:64px;height:64px;background:url("../images/loading-small.gif") no-repeat;}

.js .pt_checkout .loader-bg {position:absolute;width:100%;height:100%;background-color:#f0f0f0;opacity:0.7;}
.js .pt_checkout .loader-indicator {z-index:100;position:absolute;left:50%;top:50%;margin-left:-32px; margin-top:-32px;width:64px;height:64px;background:url("../images/loading-small.gif") no-repeat;}

.js #quickviewbutton { background: transparent url(../images/quickview.gif) center center no-repeat;display:none;position: absolute;top: 50%;width:100%;height:17px; padding:10px 0;}
.js .ie7 #quickviewbutton {position:absolute;left:0;width:200px;}
.js .product-image:hover #quickviewbutton {display:block;}

/* SEARCH SUGGESTION
--------------------------------------------------------------------------------------- */
.js #suggestions {background-color: #666666;color: #e0e0e0;cursor:pointer;padding: 0;display: none; position:absolute; z-index:8184}
.js #suggestions div {clear: both;height:23px;padding: 5px;overflow: hidden;white-space:nowrap;}
.js #suggestions div:hover {background-color: #cccccc;color: #333333;}
.js #suggestions div div.suggestionterm {float:left;overflow: hidden;width: 110px;}
.js #suggestions div span.hits {float: right;line-height: 1.8em;text-align: right;margin-left: 3px;}
.js .mini-cart-product {position:relative;}
.js .mini-cart-toggler {
	background: url(../images/minicart_expanded.png) repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 13px;
	left: 5px;
	position: absolute;
	top: 10px;
	width: 13px;
}

.js div.collapsed .mini-cart-toggler {
	background: url(../images/minicart_collapsed.png) repeat scroll 0 0 transparent; 
	
}

.js div.collapsed .mini-cart-image {
	display:none; 	
}

/* quick view */
/* --------------------------------------------------------------------------------------- */
.js .ui-dialog-content a {color:#22b0e8;}
.js .ui-dialog-content .product-col-1{padding: 13px 1%;width:39%;}
.js .ui-dialog-content .product-col-1 .product-image {max-width: 100%;}
.js .ui-dialog-content .product-col-2{padding: 20px 0;width:58%;}
.js .ui-dialog-content .pdp-main h1.product-name {margin: .4em 0 0.1em;width:58%;}
.js .ui-dialog-content .pdp-main .product-set-list {border:1px solid #d9d9d9;height: 500px;overflow:auto;}
.js .ui-dialog-content .pdp-main .product-set-list .product-set-item {margin:1em 0;}
.js .ui-dialog-content .pdp-main .product-set-list .product-set-image {width: 25%;}
.js .ui-dialog-content .pdp-main .product-set-list .product-set-details {width:75%;}
.js .ui-dialog-content .pdp-main .product-set-list .product-name {margin:0;}
.js .ui-dialog-content .pdp-main .product-set-list .block-add-to-cart .price {font-size:1.5em;padding: 0.4em 0 0;width: 130px;}

.js .zoomPad{position:relative;float:left;z-index:99;cursor:crosshair;width:100%;}
.js .zoomPreload{-moz-opacity:0.8;opacity:0.8;filter:alpha(opacity = 80);color:#333;font-size:12px;font-family:Tahoma;text-decoration:none;border:1px solid #CCC;background-color:white;padding:8px;text-align:center;background-image:url(../images/zoomloader.gif);background-repeat:no-repeat;background-position:43px 30px;z-index:110;width:90px;height:43px;position:absolute;top:0px;left:0px;*width:100px;*height:49px;}
.js .zoomPup{overflow:hidden;background-color:#FFF;-moz-opacity:0.6;opacity:0.6;filter:alpha(opacity = 60);z-index:120;position:absolute;border:1px solid #CCC;z-index:101;cursor:crosshair;}
.js .zoomOverlay{position:absolute;left:0px;top:0px;background:#FFF;/*opacity:0.5;*/z-index:5000;width:100%;height:100%;display:none;z-index:101;}
.js .zoomWindow{position:absolute;left:110%;top:40px;background:#FFF;z-index:6000;height:auto;z-index:10000;z-index:110;}
.js .zoomWrapper{position:relative;border:1px solid #999;z-index:110;}
.js .zoomWrapperTitle{display:block;background:#999;color:#FFF;height:18px;line-height:18px;width:100%;overflow:hidden;text-align:center;font-size:10px;position:absolute;top:0px;left:0px;z-index:120;-moz-opacity:0.6;opacity:0.6;filter:alpha(opacity = 60);}
.js .zoomWrapperImage{display:block;position:relative;overflow:hidden;z-index:110;}
.js .zoomWrapperImage img{border:0px;display:block;position:absolute;z-index:101;}
.js .zoomIframe{z-index:-1;filter:alpha(opacity=0);-moz-opacity:0.80;opacity:0.80;position:absolute;display:block;}

/* homepage assets
--------------------------------------------------------------------------------------- */
.js .homepage-slides {height: 550px;}
.js #homepage-slider .jcarousel-item {max-width:100%;}
.js #homepage-slider .jcarousel-control {position: absolute;right:10px;bottom:20px;}
.js #homepage-slider .jcarousel-control a {background: none repeat scroll 0 0 #E0E0E0;border:1px solid #cccccc;display: block;float: left;height: 15px;margin: 0 3px;text-indent: -999em; width: 6px;}
.js #homepage-slider .jcarousel-control a.active {background-color:#666666;}
.js .home-bottom-left,
.js .home-bottom-center,
.js .home-bottom-right {clear:none;float:left;width: 33%;}

.js .home-bottom-right .jcarousel-clip {height: 282px; overflow:hidden;}
.js .home-bottom-right .vertical-carousel li {height: 282px;float:none; width:300px;}
.js .home-bottom-right .product-tile {min-height: 0;}
.js .home-bottom-right .jcarousel-prev {background:url('../images/interface/icon-vertical-carousel-prev.png') left top no-repeat;cursor:pointer;height:12px;position:absolute;bottom:20px;right:0;width:52px;z-index:999;}
.js .home-bottom-right .jcarousel-next {background:url('../images/interface/icon-vertical-carousel-next.png') left top no-repeat;cursor:pointer;height:12px;position:absolute;bottom:0px;right:0;width:52px;z-index:999;}
.js .home-bottom-right .jcarousel-prev-disabled, .home-bottom-right .jcarousel-next-disabled {display:none !important;}

.js button.select {display:none}
