// Buttons

.btn {
  text-transform: uppercase;
  letter-spacing: 1px;
  background: $primary-brand;
  padding: 10px 20px;
  font-family: $sans-serif-lgt;
  cursor: pointer;
  z-index: 3;
  display: inline-block;
  margin: 10px 0; 
  color:  $white;
  border: 0;
  text-shadow: 0 0 0 transparent;
  @include box-shadow(inset 0 0 0 transparent);
  @include transition(background);
  @include transition-duration(0.5s);
}

.btn:hover {
  color:  $white;
  background: $primary-brand-drk;
}

.btn:focus {
  color:  $white;
  background: $primary-brand-drk;
}

.product-tier {

  .tier-btn {
    font-size: .8em;
    background: $all-product;
  }

  .tier-btn:hover {
    background: $all-product-drk;
  }
}

.btn {
  .fa {
    margin-left: 10px;
  }
}

.wrapper--explore {

  .btn-explore {
    border: 0;
    background: $primary-brand;
    color: $white;
    font-size: 2.4em;
    width: 50px;
    position: absolute;
    height: 50px;
    right: 5%;
    top: 30%;
    @include border-radius(50px);
    @include transition(background);
    @include transition-duration(0.5s);
    z-index: 5;
    text-align: center;
    cursor: pointer;

    .fa {
      padding-top: 7px;
    }
  }

  .btn-explore:hover {
    background: $primary-brand-drk;
  }

  // .btn-explore--1 {
  //   left: 65%;
  //   top: 22%;
  // }

  // .btn-explore--2 {
  //   left: 34%;
  //   top: 42%;
  // }

  // .btn-explore--3 {
  //   left: 56%;
  //   top: 51%;
  // }

  // .btn-explore--4 {
  //   left: 34%;
  //   top: 60%;
  // }

  // .btn-explore--5 {
  //   left: 56%;
  //   top: 77%;
  // }

  .close {
    display: none;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 5;
    margin: 0;
    background: transparent;
  }

  .close:hover {
    background: transparent;
  }

  .close:focus {
    border: 0;
    outline: 0;
  }
}
