// Forms

.product {

  .form-modal-trigger {
    float: right;
    border: 0;
    background: transparent;
    padding: 0;
  }

  .form-modal-trigger:focus {
    border: 0;
    outline: none;
  }

  .label-inline {
    margin-right: 10px;
  }

  input[type="number"] {
    text-indent: 10px;
    // margin: 5px 0 0 0;
  }

  button[type="submit"] {
    margin: 10px 0 15px;
  }

  .form-control {
    border-width: 2px;
    // @include border-radius(0);
  }

  .has-error {
    .form-control::-webkit-input-placeholder {
      color: $error-lgt-2;
    }
  }

  .has-error {
    .form-control:-moz-placeholder  {
      color: $error-lgt-2;
    }
  }

  .has-error {
    .form-control::-moz-placeholder {
      color: $error-lgt-2;
    }
  }

  .has-error {
    .form-control:-ms-input-placeholder  {
      color: $error-lgt-2;
    }
  }
}