// Graphics

.brand-sm {
  width: 240px;
  height: 64px;
  display: block;
  text-indent: -9999px;
  margin: 0;  
}

.product--responsive-cool-gel {
  .brand-sm {
    background: url('http://i1.adis.ws/i/hmk/brand.png') no-repeat -280px -128px;
    background: url('../images/brand-x/brand.svg') no-repeat -280px -128px, none;
  }
}

.product--luxe-latex {
  .brand-sm {
    background: url('http://i1.adis.ws/i/hmk/brand.png') no-repeat -280px -0px;
    background: url('../images/brand-x/brand.svg') no-repeat -280px -0px, none;
  }  
}

.product--flexfeel-hybrid {
  .brand-sm {
    background: url('http://i1.adis.ws/i/hmk/brand.png') no-repeat -280px -64px;
    background: url('../images/brand-x/brand.svg') no-repeat -280px -64px, none;
  }  
}


.line-drawing {

  svg {
    width: 100%;
  }
}

.item {
  .line-drawing {
    svg {
      width: 100%;

    .st0 {
      fill: none;
      stroke: $black;
        stroke-width:2.5;
      stroke-linecap:round;
      stroke-linejoin:round;
      stroke-miterlimit:10;
    }
    
      .hour-hand {
      @include rotate(0deg);
      @include transform-origin( 100% 100%);
        // @include animation-iteration-count(infinite);
        // @include animation(timecycle 60s infinite linear);
    }

      .minute-hand {
      @include rotate(0deg);
      @include transform-origin( 0% 0%);
        // @include animation(timecycle 10s infinite linear);
    }

      .cloud {

      path{ 
        fill: $white;
      }
    }

      .sun {

      path{ 
        fill: $white;
      }

      @include translate(-0%, 0%);
        // @include animation(suncycle 10s infinite ease-out alternate);
    }

      .moon {

      path{ 
        fill: $white;
      }

      @include translate(-0%, 0%);
        // @include animation(mooncycle 10s infinite ease-out alternate 10s);
    }

      .bubble {
        opacity: 0;

        path{ 
          fill: $white;
  }

        // @include animation(appearcycle 0s 1 forwards 5s);

        .heart {
          @include transform-origin( 50% 50%);
          // @include animation(beatcycle 0.75s infinite alternate ease-out);
        }
      }

      .happy {
        opacity: 0;

        // @include animation(appearcycle 0s 1 forwards 4s);

        .head {
          fill: white;
        }
      }

      .not-sure {
        // @include animation(disappearcycle 0s 1 forwards 4s);

        .head {
          fill: white;
        }
      }

      .mattresses {
        // opacity: 0;
        @include translate(-0%, 0%);
        // @include animation(mattressescycle 2s 3 forwards ease-out);
      }

      .truck {
        @include translate(0%, 0%);
        // @include animation(bouncecycle 0.75s infinite alternate ease-out);

        .wheel {
          stroke-dasharray: 20 5;
          @include rotate(0deg);
          @include transform-origin( 50% 50%);
          // @include animation(wheelcycle 2s infinite linear);
        }
      }

      .speed1 {
        @include translate(5%, 0%);
        // @include animation(shiftcycle 0.75s infinite alternate ease-out);
      }

      .speed2 {
        @include translate(5%, 0%);
        // @include animation(shiftcycle 0.75s infinite alternate ease-out);
      }

      .speed3 {
        @include translate(5%, 0%);
        // @include animation(shiftcycle 0.75s infinite alternate ease-out);
      }
    }
  }

  &.active {
    .line-drawing {
      svg {    
        .hour-hand {
          @include animation-iteration-count(infinite);
          @include animation(timecycle 60s infinite linear);
        }

        .minute-hand {
          @include animation(timecycle 10s infinite linear);
        }

        .sun {
          @include animation(suncycle 10s infinite ease-out alternate);
        }

        .moon {
          @include animation(mooncycle 10s infinite ease-out alternate 10s);
        }

        .bubble {
          @include animation(appearcycle 0s 1 forwards 5s);

          .heart {
            @include animation(beatcycle 0.75s infinite alternate ease-out);
          }
        }

        .happy {
          @include animation(appearcycle 0s 1 forwards 4s);
        }

        .not-sure {
          @include animation(disappearcycle 0s 1 forwards 4s);
        }

        .mattresses {
          @include animation(mattressescycle 2s 3 forwards ease-out);
        }

        .truck {
          @include animation(bouncecycle 0.75s infinite alternate ease-out);

          .wheel {
          @include animation(wheelcycle 2s infinite linear);
        }
      }

      .speed1 {
        @include animation(shiftcycle 0.75s infinite alternate ease-out);
      }

      .speed2 {
        @include animation(shiftcycle 0.75s infinite alternate ease-out);
      }

      .speed3 {
        @include animation(shiftcycle 0.75s infinite alternate ease-out);
      }
    }
  }
  }
}

.map-pin {
  display: inline-block;
  width: 24px;
  height: 64px;
  background: url('http://i1.adis.ws/i/hmk/sprite-off.png') no-repeat -40px -0px;
  background: url('../images/brand-x/sprite-off.svg') no-repeat -40px -0px, none;
}

.mattress-icon {
  display: inline-block;
  width: 233px;
  height: 81px;
  background: url('http://i1.adis.ws/i/hmk/sprite-off.png') no-repeat -64px -0px;
  background: url('../images/brand-x/sprite-off.svg') no-repeat -64px -0px, none;
}

.mattress-icon--responsive-cool-gel {
  background: url('http://i1.adis.ws/i/hmk/sprite-off.png') no-repeat -64px -81px;
  background: url('../images/brand-x/sprite-off.svg') no-repeat -64px -81px, none;
}

.mattress-icon--luxe-latex {
  background: url('http://i1.adis.ws/i/hmk/sprite-off.png') no-repeat -64px -162px;
  background: url('../images/brand-x/sprite-off.svg') no-repeat -64px -162px, none;
}

.mattress-icon--flexfeel-hybrid {
  background: url('http://i1.adis.ws/i/hmk/sprite-off.png') no-repeat -64px -243px;
  background: url('../images/brand-x/sprite-off.svg') no-repeat -64px -243px, none;
}

@include keyframes(timecycle) {
  0% { 
    @include rotate(0deg);
  }
  100% { 
    @include rotate(360deg);
  }
}

@include keyframes(suncycle) {
  0% { 
    @include translate(0%, 0%);
  }
  100% { 
    @include translate(-35%, -87%);
  }
}

@include keyframes(mooncycle) {
  0% { 
    @include translate(-0%, 0%);
  }
  100% { 
    @include translate(90%, -58%);
  }
}

@include keyframes(mattressescycle) {
  0% { 
    // opacity: 0;
  }
  50%{
    // opacity: 1;
    @include translate(-0%, 0%);    
  }
  100% { 
    // opacity: 1;
    @include translate(-125%, 0%);
  }
}

@include keyframes(appearcycle) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(disappearcycle) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@include keyframes(wheelcycle) {
  0% { 
    @include rotate(0deg);
  }
  100% { 
    @include rotate(360deg);
  }
}

@include keyframes(shiftcycle) {
  0% { 
    @include translate(5%, 0%); 
  }
  100% { 
    @include translate(-25%, 0%); 
  }
}

@include keyframes(bouncecycle) {
  0% { 
    @include translate(0%, 0%); 
  }
  100% { 
    @include translate(1%, 4%); 
  }
}

@include keyframes(beatcycle) {
  0% { 
    @include scale(1); 
  }
  100% { 
    @include scale(1.1); 
  }
}



// Tablet Landscape
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) { 

  .brand-sm {
    display: inline-block;
  }

}

// Desktop Laptop
@media (min-width: $screen-lg-min) {

  .brand-sm {
    display: inline-block;
  }

}
