// Carousel

.video-hero {
  padding: 12% 0;
  min-height: 100%;
  text-align: center;
  position: relative;
  background: $black url('http://i1.adis.ws/i/hmk/hero.jpg') no-repeat center center;
  background-repeat: no-repeat;
  background-size: cover;

  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-backface: hidden; 

    .video-overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0,0,0,0);
    }

    .video-source {
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

  }

  .content-container {
    width: 100%;
    margin: 0; 
    display: inline-block;
    height: auto;
    color: white;
    text-align: center;
    z-index: 2;
    position: relative;

    .content-brand {
      width: 280px;
      height: 76px;
      display: block;
      text-indent: -9999px;
      background: url('http://i1.adis.ws/i/hmk/brand.png') no-repeat -0px -0px;
      background: url('../images/brand-x/brand.svg') no-repeat -0px -0px, none;
      margin: 0 auto;
      @include animation(logocycle 3s steps(3) infinite);
    }

    @include keyframes(logocycle) {
      from { 
        background: url('http://i1.adis.ws/i/hmk/brand.png') no-repeat -0px -0px;
        background: url('../images/brand-x/brand.svg') no-repeat -0px -0px, none;
      }
      to { 
        background: url('http://i1.adis.ws/i/hmk/brand.png') no-repeat -0px -228px;
        background: url('../images/brand-x/brand.svg') no-repeat -0px -228px, none;
      }
    }

    .content-btn {
      margin: 0;
    }

    .content-headline {
      font-size: 1.5em;
      margin: 20px 0;
      padding: 0 20px;
    }
  }

}

.no-touch {
  .video-hero {
    background: $black;
  }
}

.touch {
  .video-hero {
    video {
      display: none;
    }
  }
}

// Phone Portrait 
@media (max-width: $screen-xs-min) { 
}

// Phone Landscape
@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) { 
  .video-hero {
    padding: 5% 0;

    .content-container {

      .content-headline {
        font-size: 1.6em;
        margin: 10px 0;
        padding: 0 10px;
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  .video-hero  {
    margin-left: -20px;
    margin-right: -20px;
  }
}


// Tablet Potrait
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .video-hero {
    padding: 8% 0;

    .content-container {

      .content-brand {
        width: 400px;
        height: 108px;
        display: block;
        text-indent: -9999px;
        background: url('http://i1.adis.ws/i/hmk/brand.png') no-repeat -0px -228px;
        background: url('../images/brand-x/brand.svg') no-repeat -0px -228px, none;
        margin: 0 auto;
        @include animation(logocycle 3s steps(3) infinite);
      }

      @include keyframes(logocycle) {
        from { 
          background: url('http://i1.adis.ws/i/hmk/brand.png') no-repeat -0px -228px;
          background: url('../images/brand-x/brand.svg') no-repeat -0px -228px, none;
        }
        to { 
          background: url('http://i1.adis.ws/i/hmk/brand.png') no-repeat -0px -552px;
          background: url('../images/brand-x/brand.svg') no-repeat -0px -552px, none;
        }
      }

      .content-headline {
        font-size: 2em;
      }
    }
  }
} 

// Tablet Landscape
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) { 
  .video-hero {
    padding: 8% 0;

    .content-container {

      .content-brand {
        width: 400px;
        height: 108px;
        display: block;
        text-indent: -9999px;
        background: url('http://i1.adis.ws/i/hmk/brand.png') no-repeat -0px -228px;
        background: url('../images/brand-x/brand.svg') no-repeat -0px -228px, none;
        margin: 0 auto;
        @include animation(logocycle 3s steps(3) infinite);
      }

      @include keyframes(logocycle) {
        from { 
          background: url('http://i1.adis.ws/i/hmk/brand.png') no-repeat -0px -228px;
          background: url('../images/brand-x/brand.svg') no-repeat -0px -228px, none;
        }
        to { 
          background: url('http://i1.adis.ws/i/hmk/brand.png') no-repeat -0px -552px;
          background: url('../images/brand-x/brand.svg') no-repeat -0px -552px, none;
        }
      }

      .content-headline {
        font-size: 2.4em;
      }
    }
  }
}

// Desktop Laptop
@media (min-width: $screen-lg-min) {
  .video-hero {
    padding: 8% 0;

    .content-container {

      .content-brand {
        width: 400px;
        height: 108px;
        display: block;
        text-indent: -9999px;
        background: url('http://i1.adis.ws/i/hmk/brand.png') no-repeat -0px -228px;
        background: url('../images/brand-x/brand.svg') no-repeat -0px -228px, none;
        margin: 0 auto;
        @include animation(logocycle 3s steps(3) infinite);
      }

      @include keyframes(logocycle) {
        from { 
          background: url('http://i1.adis.ws/i/hmk/brand.png') no-repeat -0px -228px;
          background: url('../images/brand-x/brand.svg') no-repeat -0px -228px, none;
        }
        to { 
          background: url('http://i1.adis.ws/i/hmk/brand.png') no-repeat -0px -552px;
          background: url('../images/brand-x/brand.svg') no-repeat -0px -552px, none;
        }
      }

      .content-headline {
        font-size: 2.4em;
      }
    }
  }
}

// Desktop Large
@media (min-width: $screen-lg-min) and (min-height: $screen-md-min) { 
  .video-hero {
    padding: 12% 0;

    .content-container {

      .content-headline {
        font-size: 2.8em;
      }
    }
  } 
}
