// Nav

.sub-menu {
  -ms-transform: scale(0.85);
 	-webkit-transform: scale(0.85);
  transform: scale(0.85);
	background: transparent;
	width: 100%;
	display: inline-block;
	list-style: none;
	margin: 0;
	text-align: center;
	padding: 10px 0;
	-ms-transition: -ms-transform 0.5s;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;

	&:hover{
	  -ms-transform: scale(1);
	 	-webkit-transform: scale(1);
	  transform: scale(1);
	}

	li {
		display: block;
		padding: 2px 0;

		&.active {

			a {
				font-family: $sans-serif;
			}
		}

		a {
			color: $black;
			font-family: $sans-serif-lgt;
			font-size: 1em;
			text-transform: uppercase;

			&:hover {
				color: $primary-brand;
				text-decoration: none;
			}
		}
	}
}

// Phone Portrait 
@media (max-width: $screen-xs-min) { 
}

// Phone Landscape
@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) { 
}

// Tablet Potrait
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
	.sub-menu {

		li {
			padding: 5px 0;

			a {
				font-size: 1.2em;
			}
		}
	}
}

// Tablet Landscape
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) { 
	.sub-menu {
		padding: 20px 0;

		li {
			display: inline-block;
			padding: 0px 20px;
			border-left: 3px solid $gray-lgt-2;

			&:first-child {
				border-left: 0;
			}

			a {
				font-size: 1.2em;
			}
		}
	}
}

// Desktop Laptop
@media (min-width: $screen-lg-min) { 
	.sub-menu {
		padding: 20px 0;

		li {
			display: inline-block;
			padding: 0px 20px;
			border-left: 3px solid $gray-lgt-2;

			&:first-child {
				border-left: 0;
			}

			a {
				font-size: 1.2em;
			}
		}
	}
}

