// Structure

* {
  @include box-sizing(border-box);
}

.center-line {
    width: 1px;
    height: 100%;
    background: #ff0000;
    position: fixed;
    left: 50%;
    margin-left: 0px;
    z-index: 30000;
    opacity: 0.5;
}

html,
body {
	overflow-x: hidden;
	width: 100%;
}

body {
  background: $white;
  margin: 0;
  // padding: 0;
}

section {
	padding: 30px 0 0;
}

.wrapper {
	.img-responsive {
		width: 100%;
	}
}
.container {
	// padding: 0 15px;
}

ul.nav-tabs {
	border: 0;
	display: inline-block;

	li.active {
		margin: 0;

		a:hover,
		a {
			border: 0 !important;
			margin: 0 !important;
			background: transparent;
			@include border-radius(0);
		}

		a:before {
			padding-right: 10px;
			content: '>' !important;
		}
	}

	li {
		margin: 0;
		display: block;
		width: 100%;

		a:hover,
		a {
			padding-left: 0;
			font-family: $sans-serif;
			margin: 0 !important;
			border: 0 !important;
			background: transparent;
			@include border-radius(0);
		}
	}

	li:first-child {
		a {
			padding-left: 0;
		}
	}

	.divider {
		display: none;
		padding: 13px 0;
	}

}

.product-tier {
	padding: 20px;
  margin-bottom: 20px;
  @include transition-transform(scale);
  @include transition-duration(0.5s);

  .tier-shot {
    display: block;
    margin: 0 auto 20px;
    opacity: 0.75;
    @include transition(opacity);
    @include transition-duration(0.5s);
  }

  .tier-features--title {
  	margin-top:  25px;
  	font-family: $sans-serif;
  }

  .tier-controls {
  	text-align: right;
  	margin: 10px 0 0;
  }

  &:hover{
	  .tier-shot {
	  	opacity: 1;
	  }
  }
}

.product-tier:hover {
	@include scale(1.05);

}

.img-circle {
	margin-top: 10px;
}

.compare {
	position: relative;

	.compare-cut {
		position: absolute;
    top: 0;
    left: -20%;
    width: 200px;
	}
}

.container--product {
	position: relative;

	// .product {
	// 	height: 750px;
	// }
}

.product--responsive-cool-gel {
	@include translate(0%, 0%);
}

.product--luxe-latex {
	position: absolute;
	@include translate(100%, -100%);
	opacity: 0.0;
	// margin-top: 4px;
	margin-right: 0px;
}

.product--flexfeel-hybrid {
	position: absolute;
	@include translate(200%, -100%);
	opacity: 0.0;
	// margin-top: 4px;
	margin-right: 0px;
}

.product-slider {
	margin: 10px 0 0;
  padding-bottom: 50px;

	.slider-track {
		display: block;
		width: 100%;
		margin: 0;
		height: 20px;
		background: $white;
		border: 2px dashed $gray-lgt-1;
		position: relative;

		.product-draggable {
			position: absolute;
			top: -12px;
			left: 25px;
			// display: none;
			height: 40px;
			width: 40px;
		  background: url('http://i1.adis.ws/i/hmk/sprite-off.png') no-repeat -0px -0px;
		  background: url('../images/brand-x/sprite-off.svg') no-repeat -0px -0px, none;
		  background-color: $primary-brand;
			z-index: 3;
			@include border-radius(100%);
			cursor: ew-resize;
			@include transition(background-color);
		  @include transition-duration(0.5s);
		}

		.product-draggable:hover {
			background-color: $primary-brand-drk;
		}

		.product-trigger {
			position: absolute;
			display: inline-block;
			top: -7px;
			height: 30px;
			width: 30px;
			background: $white;
			border: 2px solid $gray-drk-1;
			z-index: 2;
			@include border-radius(100%);
			@include transition(background);
			@include transition-transform(scale);
		  @include transition-duration(0.5s);
		}

		.product-trigger:hover {
			background: $gray-drk-1;
			@include scale(1.2);
		}

		.product-trigger:focus {
			border: 2px solid $gray-drk-1;
			outline: none;
		}

		.product-trigger--responsive-cool-gel {
			left: 0%;
			margin-left: 30px;
		}

		.product-trigger--luxe-latex {
			left: 50%;	
			margin-left: -15px;	
		}

		.product-trigger--flexfeel-hybrid {
			left: auto;
			right: 0%;
			margin-right: 30px;		
		}

		.track-mark {
			position: absolute;
			top: -12px;
			display: inline-block;
			height: 40px;
			width: 40px;
			background: transparent;
			z-index: 1;
		}

		.track-mark--responsive-cool-gel {
			left: 0%;
			margin-left: 25px;
		}

		.track-mark--luxe-latex {
			left: 50%;
			margin-left: -20px;
		}

		.track-mark--flexfeel-hybrid {
			left: auto;
			right: 0%;
			margin-right: 25px;
		}

		.track-label {
			width: 90px;
			text-align: center;
			position: absolute;
			top: 35px;
			font-family: $sans-serif;
			font-size: 1em;
		}

		.track-label--responsive-cool-gel {
			left: 0;

		}

		.track-label--luxe-latex {
			left: 50%;
			margin-left: -45px;
		}

		.track-label--flexfeel-hybrid {
			right: 0;

		}
	}
}

article:focus {
	border: 0;
	outline: none;
}

.product-zoom {
	.img-responsive {
		width: 80%;
		margin: 0 10%;
	}
}

.product-thumbs {
	list-style: none;
	margin: 20px 0;
	padding: 0;
	display: block;
	width: 100%;
	text-align: center;

	.product-thumb {
		display: inline-block;
		width: 20%;
		margin-left: 10px;

		.btn-preview {
			border: 0;
			background: transparent;
			padding: 0;
		}

		.btn-preview:focus {
			border: 0;
			outline: none;
		}

		.img-small {
			width: 100%;
		}
	}

	.product-thumb:first-child {
		margin-left: 0;
	}
}

.no-touch {
	.product-thumbs {
		.product-thumb { 
			.btn-preview {
				opacity: 1;
				@include transition(opacity);
			  @include transition-duration(0.5s);
			}	

			.btn-preview:hover {
				opacity: 0.8;
			}

			.btn-preview:focus {
				opacity: 0.5;

				.img-small {
					margin-bottom: -5px;
				}
			}
		}
	}
}

.wrapper--compare {
	// position: relative;
	background: url("http://i1.adis.ws/i/hmk/compare-touch.jpg") repeat center center;
	background-size: cover;
	// margin-bottom: 40px;
	// background: $gray-lgt-4;
	padding: 4em 0;
	overflow: hidden;

	.section-title {
		margin: 0 20px 30px;
	}
}

.wrapper--explore {
	position: relative;
	padding: 30px 0 0;
	background: $gray-lgt-2;
	margin-bottom: 30px;
	overflow: hidden;

	.explore-product {
		width: 100%;
	}

	.explore-next {
		position: absolute;
		top: 50%;
		right: 0%;
		z-index: 5;
		width: 70px;
		text-align: center;
		font-size: 3em;
		color: $white;
		cursor: pointer;

		&:hover{
			color: $primary-brand;
		}
	}

	.explore-previous {
		position: absolute;
		top: 50%;
		left: 0%;
		z-index: 5;
		width: 70px;
		text-align: center;
		font-size: 3em;
		color: $white;
		cursor: pointer;

		&:hover{
			color: $primary-brand;
		}
	}


	.explore-product--luxe-latex {
		display: none;
	}

	.explore-product--flexfeel-hybrid {
		display: none;
	}

	.explore-overlay {
		display: inline-block;
		background: rgba(0, 0, 0, 0.5);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
	}

	.explore-off {
		cursor: pointer;
		@include transition-transform(scale);
		@include transition-duration(0.5s);
	}

	.explore-content  {
		position: relative;
		&.closed {
			&:hover {
				.explore-off {
					@include scale(1.1);
				}
			}
		}
	}

	.explore-on {
		width: 75%;
		display: none;
		opacity: 0;
		z-index: 4;
		cursor: pointer;
		position: relative;

		.top {
			position: relative;
		}

		.layers {
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.explore-meta {
		cursor: pointer;
		display: none;
		position: absolute;
		z-index: 1;
		color: $white;
		top: 0%;
		left: 68%;
		margin: 0;
		opacity: 0;
		list-style: none;
		width: 37%;

	  .meta-bullet {
	    font-size: 1em;
	    font-family: $sans-serif;
	    text-transform: uppercase;
	    line-height: 1.3em;
	    border-left: 2px solid $white;
	    padding-left: 10px;
	    width: 100%;
	    margin: 0;
	  }

	  .meta-bullet--1 {
	  	margin-top: 0%;
	  }

	  .meta-bullet--2 {
	  	margin-top: 20%;
	  }

	  .meta-bullet--3 {
	  	margin-top: 15%;
	  }
	  .meta-bullet--4 {
	  	margin-top: 15%;
	  }

	  .meta-bullet--5 {
	  	margin-top: 10%;
		}

	}
}

.value-offset {
	padding-top: 70px;
}

.row-fluid--alternate {
	margin-bottom: 20px;
	position: relative;

	.img-responsive {
		display: block;
		margin: 0 auto 30px;
	}
}

.row-fluid--alternate:last-child {
	margin-bottom: 0;
}
	
.row-fluid--alternate {
	.video-circle {
		position: relative;
		max-width: 400px;
	  display: block;
	  margin: 0 auto;

		video {
			background: transparent;
			border-radius: 100%;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 1;
			width: 100%;
			height: auto;
		}
	}
}

.touch {
  .video-circle {
    video {
      display: none;
    }
  }
}

.social-grid {
	list-style: none;
	margin: 0 0 20px;
	padding: 0;
	background: $black;

	.social-post {
		position: relative;
		float: left;
		display: table;
		width: 100%;
		padding-bottom: 100%;
		background: $black;
		overflow: hidden;

		.fa {
			position: absolute;
			bottom: 20px;
			left: 20px;
			z-index: 2;
		}

		.post-image {
			width: 100%;
			height: 100%;
			position: absolute;
			display: inline-block;
		}

		.post-meta {
			padding: 20px 20px 60px;
			position: absolute;
			top: 40%;
		  @include translate(0,-40%);
		  margin-bottom: 0;
		}
	}

	.social-post--facebook {
		background: $facebook-primary;
	}

	.social-post--twitter {
		background: $twitter-primary;
	}

	.social-post--instagram {
		background: $instagram-primary;
	}

	.social-post--pinterest {
		background: $pinterest-primary;
	}
}

.load-more {
  text-align: center;
}


.modal-open .modal {
  overflow-x: hidden;
  overflow-y: scroll
}

.modal.fade.in {
  top: 20px;
}


// Phone Portrait 
@media (max-width: $screen-xs-min) { 

	#explore {
		display: none;
	}
}

// Phone Landscape
@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) { 

	#explore {
		display: none;
	}

	.product-tier {

		.tier-shot {
			width: 80%;
		}
	}
	
	.compare {

		.compare-cut {
	    position: absolute;
	    top: 0;
	    left: -10%;
	    width: 200px;
		}
	}
	
	.product-slider {
		width: 80%;
		margin: 10px 10% 0;

		.slider-track {
			width: 80%;
			margin: 0 10%;
		}
	}

	.social-grid {

		.social-post{
			width: 50%;
			padding-bottom: 50%;
		}
	}
}

@media (max-width: $screen-xs-max) {
	.wrapper {
		margin-left: -20px;
		margin-right: -20px;
	}
}

// Tablet Potrait
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.product-tier {
    margin-bottom: 30px;

		.tier-shot {
			width: 80%;
		}
	}

	.compare {

		.compare-cut {
	    position: absolute;
	    top: 0;
	    left: 5%;
	    width: 200px;
		}
	}

	.product-slider {
		width: 60%;
		margin: 10px 20% 0;

		.slider-track {
			width: 90%;
			margin: 0 5%;
		}
	}

	.wrapper--explore {
		.explore-meta {
			p {
				display: none;
			}
		}
	}

	.social-grid {

		.social-post{
			width: 50%;
			padding-bottom: 50%;

			.fa {
				bottom: 30px;
				left: 30px;
			}

			.post-meta {
				padding: 30px 30px 70px;
			}
		}
	}
}

// Tablet Landscape
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) { 

	ul.nav-tabs {

		li.active {

			a:before {
				padding-right: 0;
				content: '' !important;
			}
		}

		li {
			display: inline-block;
			width: auto;

			a:hover,
			a {
				padding-left: 15px;
			}
		}

		li:first-child {
			a {
				padding-left: 0;
			}
		}
	

		.divider {
			display: inline-block;
		}

	}

	.compare {

		.compare-cut {
	    position: absolute;
	    top: -5%;
	    left: 5%;
	    width: 200px;
		}
	}

	.wrapper--explore {
		.explore-meta {
			font-size: 1em;

			.meta-bullet--1 {
		  	margin-top: 16%;
		  }
		}
	}

	.product-slider {
		width: 100%;
		margin: 10px 0 0;

		.slider-track {
			width: 70%;
			margin: 0 15%;

			.track-label {
				font-size: 1.2em;
			}
		}
	}

	.product-zoom {
		.img-responsive {
			width: 90%;
			margin: 0 10% 0 0;
		}
	}

	.product-thumbs {
		text-align: left;
	}

	.row-fluid--alternate {
		margin-bottom: 30px;

		.img-responsive {
			width: 300px;
			display: inline-block;
			float: left;
			margin: 0 30px 30px 0;
		}

		.alternate-meta {
			left: 350px;
			position: absolute;
			top: 50%;
			@include translate(0,-50%);

			.alternate-title {
				margin-top: 0;
			}
		}

		.video-circle {
			max-width: 300px;
		  margin: 0 30px 0 0;

			video {
				left: 0;
				right: auto;
			}
		}
	}

	.row-fluid--alternate:nth-child(even) {

		.img-responsive {
			float: right;
			margin: 0 0 30px 30px;
		}

		.alternate-meta {
			left: auto;
			right: 350px;
			position: absolute;
			top: 50%;
			@include translate(0,-50%);
		}

		.video-circle {
			float: right;
		  margin: 0 0 0 30px;

			video {
				left: 0;
				right: auto;
			}
		}
	}

	.social-grid {

		.social-post{
			width: 33.333%;
			padding-bottom: 33.333%;
		}
	}
}

// Desktop Laptop
@media (min-width: $screen-lg-min) { 

	ul.nav-tabs {

		li.active {

			a:before {
				padding-right: 0;
				content: '' !important;
			}
		}

		li {
			display: inline-block;
			width: auto;

			a:hover,
			a {
				padding-left: 15px;
			}
		}

		li:first-child {
			a {
				padding-left: 0;
			}
		}
	

		.divider {
			display: inline-block;
		}

	}

	.compare {

		.compare-cut {
	    position: absolute;
	    top: -60%;
	    left: 5%;
	    width: 250px;
		}
	}

	.wrapper--explore {
		.explore-meta {
			font-size: 1.1em;

			.meta-bullet--1 {
		  	margin-top: 18%;
		  }
		}
	}

	.product-slider {
		width: 100%;
		margin: 10px 0 0;

		.slider-track {
			width: 60%;
			margin: 0 20%;

			.track-label {
				font-size: 1.2em;
			}
		}
	}


	.product-zoom {
		.img-responsive {
			width: 90%;
			margin: 0 10% 0 0;
		}
	}

	.product-thumbs {
		text-align: left;
	}

	.row-fluid--alternate {
		margin-bottom: 30px;

		.img-responsive {
			height: auto;
	    max-width: 100%;
			width: 300px;
			display: inline-block;
			float: left;
			margin: 0 30px 30px 0;
		}

		.alternate-meta {
			left: 350px;
			position: absolute;
			top: 50%;
			@include translate(0,-50%);

			.alternate-title {
				margin-top: 0;
			}
		}

		.video-circle {
			max-width: 300px;
		  margin: 0 30px 0 0;

			video {
				left: 0;
				right: auto;
			}
		}
	}

	.row-fluid--alternate:nth-child(even) {

		.img-responsive {
			float: right;
			margin: 0 0 30px 30px;
		}

		.alternate-meta {
			left: auto;
			right: 350px;
			position: absolute;
			top: 50%;
			@include translate(0,-50%);
		}

		.video-circle {
			float: right;
		  margin: 0 0 0 30px;

			video {
				left: 0;
				right: auto;
			}
		}
	}

	.social-grid {

		.social-post{
			width: 25%;
			padding-bottom: 25%;
		}
	}

	.modal-body {
		max-height: none;
	}

}

// Desktop Large
@media (min-width: $screen-lg-min) and (min-height: $screen-md-min) {
}