// Typography

body {
  font-family: $sans-serif;
  font-size: 14px;
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6, {
  font-family: $sans-serif-drk;
  line-height: 1.2em;
  
  em {
    font-family: $sans-serif-lgt;
    font-style: normal;
  }
} 

p,
li {
  font-family: $sans-serif-lgt;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.4em;
}

h6 {
  font-size: 1.2em;
}

strong {
  font-family: $sans-serif;
}

.lead {
  font-size: 1.2em;
  line-height: 1.5em; 
}

.section-title {
  text-align: center;
  font-family: $sans-serif-lgt;
  text-transform: uppercase;
  margin: 0 0 30px;
}

.carousel-indicators {
  list-style: none;
  position: relative;
  top: auto;
  left: auto;
  text-align: center;
  width: 100%;
  margin: 0 0 30px;

  li.active {
      color: $black !important;
    }

  li {
    cursor: pointer;
    display: block;
    float: none;
    width: auto;
    height: auto;
    text-indent: 0;
      font-size: 1.25em;
    margin: 0 10px 10px;
      color: $gray-lgt-2;
      @include transition(color);
      @include transition-duration(0.5s);

    &:hover {
      color: $gray;
    }

  }

  .divider {
    color: $gray-lgt-2;
  }
}


.product-tier {

  .tier-title {
    font-family: $sans-serif;
    font-size: 1.8em;
    margin: 0;
  }

  .tier-price {
    font-family: $sans-serif-lgt;
    text-align: right;
    text-transform: uppercase;
    color: $black;
    margin-bottom: 15px;

    b {
      font-family: $sans-serif;
      font-size: 1.4em;
      vertical-align: middle;
    }
  }

  .tier-features--title {
    font-family: $sans-serif-lgt;
    text-transform: uppercase;
    margin: 0 0 15px;
  }

  .tier-features {
    font-size: 1.1em;
    margin: 10px 0;
    padding: 0 0 0 20px;

    li {
      line-height: 1.6em;
    }
  }
}

.product-tier--responsive-cool-gel {
  
  background: $primary-product;
}

.product-tier--luxe-latex {

  background: $secondary-product;
}

.product-tier--flexfeel-hybrid {

  background: $tertiary-product;
}

.compare {
  
  .compare-copy {
    font-family: $sans-serif-lgt;
    color: $black;
    font-size: 1.2em;
    line-height: 1.4em;
    text-align: left;
    padding: 0 7% 0 38%;
    margin: 0;
  }
}

// .title-alternate {
//   margin-top: 50px;
// }


.product-slider {

  h1 {
    font-size: 1.6em;
    font-family: $sans-serif-lgt;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin: 0 0 30px;

    b {
      font-family: $sans-serif-drk;
    }
  }
}

.product {

  .product-price {
    font-family: $sans-serif-lgt;
    text-transform: uppercase;
    color: $gray-drk-1;
    margin: 15px 0;

    b {
      font-family: $sans-serif;
      font-size: 1.6em;
      vertical-align: middle;
    }
  }

  .product-sale {
    font-size: 1.1em;
    padding: 0 20px;
    margin: 30px 0 25px;

    b {
      font-family: $sans-serif;
    }
  }

  .product-mattress {
    display: inline-block;
    font-family: $sans-serif;
    font-size: 2.4em;
    margin: 17px 0;
    vertical-align: bottom;
    color: $all-product;
  }

  .product-description {
    font-size: 1.1em;
    margin: 20px 0;
  }

  .product-sale {
    color: $all-product;
    border-left: 2px solid $all-product;
    border-right: 2px solid $all-product;
  }
}

.wrapper--explore  {
 
  .section-title {
    color: $gray-drk-1;
    margin-bottom: 0;
  }
}

.social-post {

  .fa {
    font-size: 2.4em;
    color: $white;
  }

  a:hover {

    .fa {
      color: $gray-lgt-1;
    }
  }

  .post-meta {
    font-size: 1.3em;
    line-height: 1.5em; 
    color: $white;

    .meta-user {
      font-family: $sans-serif-drk;
    }
  }
}

.social-post--facebook {

  .meta-user {
    display: block;
  }

  .meta-time {
    display: block;
    font-size: .8em;
  }
}

// Phone Portrait 
@media (max-width: $screen-xs-min) { 

  .product-mattress {
    margin: 0;
    font-size: 3.2em;
  }
}

// Phone Landscape
@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) { 
 
  .lead {
    font-size: 1.25em;
    line-height: 1.5em; 
  }

  .product-tier {

    .tier-title {
      display: inline-block;
      font-size: 2.6em;
      float: left;
      margin-bottom: 10px;
    }

    .tier-price {
      display: inline-block;
      float: right;
    }
  }

  .compare {

    .compare-copy {
      font-size: 1.4em;
      padding: 0 5% 0 35%;
    }
  }

}

// Tablet Potrait
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  
  .lead {
    font-size: 1.3em;
    line-height: 1.5em; 
  }

  .product-tier {

    .tier-title {
      display: inline-block;
      font-size: 1.2em;
      margin-bottom: 10px;
      float: left;
    }

    .tier-price {
      display: inline-block;
      float: right;
    }
  } 

  .carousel-indicators {
    li {
      display: inline-block;
      margin: 0 10px;
    }
  }


  .compare {

    .compare-copy {
      font-size: 1.6em;
      padding: 0 5% 0 35%;
    }
  }

  .product {
    .product-mattress {
      font-size: 2.6em;
      margin: 17px 0;
    }

    .product-sale {
      margin: 10px 0 25px;
    }
  }

  .social-post {

    .fa {
      font-size: 2.8em;
    }

    .post-meta {
      font-size: 1.4em;
      line-height: 1.6em; 
    }
  }
}

// Tablet Landscape
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) { 

  .lead {
    font-size: 1.3em;
    line-height: 1.5em; 
  }

  .carousel-indicators {
    li {
      display: inline-block;
      margin: 0 10px;
    }
  }

  .compare {

    .compare-copy {
      font-size: 1.8em;
      padding: 0 5% 0 35%;
    }
  }

  .product {
    .product-mattress {
      font-size: 2.6em;
      margin: 17px 0;
    }

    .product-sale {
      margin: 20px 0 25px;
    }
  }

  .product-slider {

    h1 {
      font-size: 2em;
    }
  }

  .social-post {

    .fa {
      font-size: 2.8em;
    }
  }
  
}

// Desktop Laptop
@media (min-width: $screen-lg-min) {

  .lead {
    font-size: 1.4em;
    line-height: 1.6em; 
  }

  .product-tier {

    .tier-title {
      font-size: 2em;
    }
  }

  .carousel-indicators {
    li {
      display: inline-block;
      margin: 0 10px;
    }
  }

  .product {
    .product-mattress {
      font-size: 2.4em;
      margin: 12px 0;
    }

    .product-sale {
      margin: 15px 0 25px;
    }
  }

  .compare {

    .compare-copy {
      font-size: 1.8em;
      padding: 0% 10% 0 30%;
    }
  }

  .product-slider {

    h1 {
      font-size: 2.2em;
    }
  }

  .social-post {

    .fa {
      font-size: 2.8em;
    }
  }
}

// Desktop Large
@media (min-width: $screen-lg-min) and (min-height: $screen-md-min) {
  .product-tier {

    .tier-title {
      font-size: 2.4em;
    }
  }

  .carousel-indicators {
    li {
      display: inline-block;
      margin: 0 10px;
    }
  }

  .compare {

    .compare-copy {
      font-size: 2em;
      padding: 0 10% 0 30%;
    }
  }

  .product-slider {

    h1 {
      font-size: 2.2em;
    }
  }

  .social-post {

    .post-meta {
      font-size: 1.4em;
      line-height: 1.6em; 
    }
  }
}