// Brand Colors

// Sleepys Red
$primary-brand: #c50c20;
$primary-brand-lgt: lighten( $primary-brand, 10%);
$primary-brand-drk: darken( $primary-brand, 10%);

// Sleepys Yellow
$secondary-brand: #f3bb2b;
$secondary-brand-lgt: lighten( $secondary-brand, 10%);
$secondary-brand-drk: darken( $secondary-brand, 10%);

// Product Teal
$all-product: #008ca7;
$all-product-lgt: lighten( $all-product, 10%);
$all-product-drk: darken( $all-product, 10%);

// Product Responsive Cool Gel
$primary-product: #bbb6e8;
$primary-product-lgt: lighten( $primary-product, 10%);
$primary-product-drk: darken( $primary-product, 10%);

// Product Luxe Latex
$secondary-product: #dfe4e6;
$secondary-product-lgt: lighten( $secondary-product, 10%);
$secondary-product-drk: darken( $secondary-product, 10%);

// Product Flexfeel Hybrid
$tertiary-product: #bcd19e;
$tertiary-product-lgt: lighten( $tertiary-product, 10%);
$tertiary-product-drk: darken( $tertiary-product, 10%);


// Standard Colors

$white: white;
$black: black;

$gray: gray;
$gray-lgt-4: lighten($gray, 48%);
$gray-lgt-3: lighten($gray, 35%);
$gray-lgt-2: lighten($gray, 25%);
$gray-lgt-1: lighten($gray, 15%);
$gray-drk-1: darken($gray, 15%);
$gray-drk-2: darken($gray, 25%);
$gray-drk-3: darken($gray, 35%);

// Utility Classes

$error: #a94442;
$error-lgt-1: lighten($error, 15%);
$error-lgt-2: lighten($error, 25%);

// Social Colors

$facebook-primary: #3b5998;
$twitter-primary: #55acee;
$instagram-primary: #3f729b;
$pinterest-primary: #cc2127;

// Fonts

$serif: 'Droid Serif', serif;

$sans-serif: 'montserratregular', sans-serif;
$sans-serif-lgt: 'montserratultra_light', sans-serif;
$sans-serif-drk: 'montserratbold', sans-serif;

$number: times, serif;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Luxe Latex screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

// creen Generalizations

// Phone Portrait 
@media (max-width: $screen-xs-min) { 
}

// Phone Landscape
@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) { 
}

// Tablet Potrait
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
}

// Tablet Landscape
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) { 
}

// Desktop Laptop
@media (min-width: $screen-lg-min) { 
}

// Desktop Large
@media (min-width: $screen-lg-min) and (min-height: $screen-md-min) {
}
