// What Am I?

body {
  padding-bottom: 40px;
}

.what-am-i {
  position: fixed;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  display: inline-block;
  font-size: 1em;
  color: #FFF;
  padding: 10px;
  background: $black ;
  z-index: 999999;
}

.what-am-i:after {
  content: "Fallback";
}

// Phone Portrait 
@media (max-width: $screen-xs-min) { 
  
  .what-am-i:after {
    content: "Phone Portrait";
  }

}

// Phone Landscape
@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) { 
  
  .what-am-i:after {
    content: "Phone Landscape";
  }

}


// Tablet Potrait
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
  
  .what-am-i:after {
    content: "Tablet Potrait";
  }

}


// Tablet Landscape
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) { 
  
  .what-am-i:after {
    content: "Tablet Landscape";
  }

}


// Desktop Laptop
@media (min-width: $screen-lg-min) { 

  .what-am-i:after {
    content: "Desktop Laptop";
  }

}

// Desktop Large
@media (min-width: $screen-lg-min) and (min-height: $screen-md-min) { 

  .what-am-i:after {
    content: "Desktop Large";
  }

}