.bottom-banner-container {
	overflow: hidden;
	.bottom-banner-cell {
		float: left;
		overflow: hidden;
		text-align: center;
	}
	.banner-cell-1 {
		width: 33%;
	}
	.banner-cell-2 {
		width: 34%;
	}
	.banner-cell-3 {
		width: 33%;
	}
}
.cat-brand-global {
	padding-top: 14px;
	@include respond(large-up) {
		padding-top: 23px;
	}
}
.cat-brand-landing-slot-top {
	@include respond(large-up) {
		border-top: $border;
		border-bottom: $border;
		padding: 10px 0;
		margin-bottom: 35px;
	}
	.brands-top-content {
		padding: 0;
		margin: 0;
		font-size: 0;
		border-bottom: $border;
		@include respond(large-up) {
			border: 0;
		}
		li {
			list-style: none;
			text-align: center;
			box-sizing: border-box;
			margin: 0;
			width: 100%;
			position: relative;
			height: 309px;
			border-top: $border;
			@include respond(large-up) {
				padding: 94px 0 44px 0;
				width: 50%;
				display: inline-block;
				height: auto;
				border: 0;
			}
			.brands-top-single {
				@include respond(small) {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 0;
					width: 100%;
				}
			}
			&:first-child {
				@include respond(large-up) {
					border-right: $border;
				}
			}
		}
		a {
			@include font-size($font-size-sm);
			color: $color-primary;
			text-decoration: none;
			display: inline-block;
			@include font-semibold();
			margin-top: 55px;
			&.first-action {
				&::after {
					display: inline-block;
					height: 12px;
					margin: 0 10px;
					width: 3px;
					content: "|";
					color: $alto;
				}
			}
		}
	}
}
.cat-brand-middle {
	margin: 20px 0 0 0;
	padding: 0;
	font-size: 0;
	@include respond(large-up) {
		margin-top: 35px;
	}
	li {
		text-align: center;
		width: 46.6666%;
		margin: 0 0 20px 6.6666%;
		display: inline-block;
		@include line-height(11px);
		@include respond(large-up) {
			width: 30.5084%;
			margin: 0 0 30px 4.2372%;
			@include line-height($font-size-sm);
		}
		&.no-margin-mobile {
			margin-left: 0;
		}
		&.no-margin {
			 margin-left: 0;
		}

		.cat-brand-middle-image {
			border: $border;
			height: 58px;
			line-height: 58px;
			@include respond(large-up) {
				height: 148px;
				display: block;
				line-height: 148px;
			}
			img {
				width: auto;
				height: auto;
				vertical-align: middle;
				display: inline-block;
			}
		}
		.cat-brand-middle-actions {
			a {
				@include font-size(11px);
				color: $color-primary;
				text-decoration: none;
				display: inline-block;
				@include font-semibold();
				margin-top: 10px;
				@include respond(large-up) {
					@include font-size($font-size-sm);
				}
				&.first-action {
					&::after {
						display: inline-block;
						height: 12px;
						margin: 0 10px;
						width: 3px;
						content: "|";
						color: $alto;
					}
				}
			}
		}
	}
}
.category-landing-banner {
	text-align: center;
	border-top: $border;
	border-bottom: $border;
	padding: 10px 0;
	margin-bottom: 25px;
	@include respond(large-up) {
		padding-bottom: 46px;
		border: 0;
		margin: 0;
	}
}
.category-landing {
	padding-bottom: 20px;
	text-align: center;
}
.rendering-title {
	margin: 29px 0 0 0;
	padding-bottom: 14px;
	@include respond(large-up) {
		margin: .625rem 0;
	}
}
#cat-landing-slot4 {
	margin-bottom: 40px;
	.button-wrapper {
		display: none;
	}
}

