.pt_product-compare {
	.full-width {
		padding: 0 1.25em;
	}
}

.compare-items {
	display: none;
	@include respond(large-up) {
		clear: both;
		padding: 12px 0 2px 0;
		overflow: hidden;
		display: block;
	}
	h6 {
		@include respond(large-up) {
			color: $color-primary;
		}
	}
}

.compare-items-panel {
	@extend %clearfix;
	float: left;
}

.compare-item {
	@include respond(large-up) {
		float: left;
		height: 78px;
		width: 78px;
		margin-right: 15px;
		overflow: hidden;
		position: relative;
		text-align: center;
		box-sizing: border-box;
		border: $border;
	}
	.compare-item-remove {
		cursor: pointer;
		@include respond(large-up) {
			background-image: url("../images/interface/icon-close-small.png");
			background-position: center;
			height: 26px;
			width: 26px;
			position: absolute;
			right: 4px;
			top: 4px;
			z-index: 1;
			display: none;
		}
	}
	&.active {
		@include respond(large-up) {
			padding: 4px;

		}
		.compare-item-remove {
			@include respond(large-up) {
				display: block;
			}
		}
		.compare-item-number {
			@include respond(large-up) {
				display: none;
			}
		}
	}
	.compare-item-number {
		@include respond(large-up) {
			color: $alto;
			@include font-size($font-size-mobile-h2);
			@include font-bold();
			@include line-height(78px);
			width: 78px;
			height: 78px;
		}
	}
	img {
		width: 100%;
		height: 100%;
	}
}

.compare-item-image {
	@include respond(large-up) {
		max-width: 100%;
	}
}

.compare-buttons {
	@include respond(large-up) {
		float: left;
		width: 177px;
	}
	#compare-items-button {
		@include respond(large-up) {
			width: 177px;
		}
	}
	#clear-compared-items {
		@include respond(large-up) {
			width: auto;
			height: auto;
			background: none;
			color: $color-primary;
			@include block-price-text();
			text-decoration: underline;
			margin: 9px 0 15px 0;
			padding: 0;
		}
		&:hover {
			text-decoration: none;
		}
	}

}

.category-switch {
	@extend .clearfix;
	margin-bottom: 2em;
	label {
		float: left;
		margin: 0;
		width: 45%;
		position: relative;
		top: 7px;
		@media (min-width: 410px) {
			width: 11em;
		}
	}
	select {
		float: left;
		margin: 0;
		width: 55%;
		@media (min-width: 410px) {
			width: 15em;
		}
	}
}

#compare-table {
	border-collapse: collapse;
	table-layout: auto;
	border-bottom: $border;
	th {
		overflow: hidden;
		width: 20%;
		max-width: 20%;
		&:first-of-type {
			width: 20%;
			max-width: 20%;
			padding-left: 20px;
		}
	}
	thead {
		th {
			&:first-of-type {
				background-color: $white;
				border-top: 0;
			}
			&:last-of-type {
				.product-tile {
					//border-right: $border;
				}
			}
		}
		th {
			border-top: $border;
			background-color: transparent;
		}
		.product-pricing {
			height: 45px;
			.percentageDiscount {
				display: block !important;
				color: #333333;
				text-transform: lowercase;
			}
			.product-sales-price {
				width: 100%;
			    color: #d63426;
			    font-size: 15px;
			}
			.product-standard-price {
				color: #333333;
				float: none;
			}
			.product-financing-custom {
				display: none;
			}
		}
		.clp-product-reviews {			
			margin: 0 auto;
            width: 45%;
            height: 20px;
		}
		.product-swatches {
			display: inline-block;
		}
		.product-promo {
			.promo
			{
				height: 20px;
				overflow: hidden;
			}
		}
	}
	td {
		overflow: hidden;
		padding: 15px;
		text-align: center;
	}
	a {
		&:hover {
			text-decoration: underline;
		}
	}
	.attribute-row {
		border-bottom: $border;
		&:first-of-type {
			border-top: $border;
		}
		&:last-of-type {
			border-bottom: none;
		}
		&:nth-child(odd) {
			background-color: $concrete;
		}
	}
	.product-attribute {
		border-right: $border;
		word-break: break-all;
	}
	.action {
		display: block;
		padding: 0.5em 0;
	}
	.remove-link {
		background-image: url("../images/interface/icon-ui-close.png");
		background-position: center;
		height: 36px;
		width: 36px;
		right: 4px;
		top: 4px;
		position: absolute;
		z-index: 10;
	}
	.value {
		ul {
			 padding-left: 0px;
			 li {
				width: -webkit-fit-content; 
			    width: -moz-fit-content;
			    max-width: 250px;
			    margin-left: auto !important;
			    margin-right: auto;
			    list-style-position: inside;
			 } 
		}
	}
	.value,
	.product {
		border-left: $border;
		border-right: $border;
		background-color: transparent;
	}
	.product {
		font-weight: normal;
		text-align: center;
		position: relative;
		border-right: $border;
		display: table-cell;
		padding-bottom: 20px;
	}
	.value {
		.value-item {
			&:after {
				content: ', ';
			}
			&:last-child {
				&:after {
					content: '';
				}
			}
		}
	}
	.product-tile {
		.swatch-list {
			display: inline-block;
		    padding: 0px;
		    	&.swatch-toggle{
			    	display: none;
		   		}
		}
		.product-swatches-all{
		    	padding-bottom: 40px;
		    }
	    .product-swatches{
	    	&:hover{
	    		.swatch-toggle{
		    		display: block;
		    		left: 0;
	    		}
	    	}	 
		}
		.product-name-long {
			display: none;
		}
		.name-link-text {
			$font-size: 15px;
			$line-height: 1.25;
			$lines-to-show: 2;
			display: block;
			max-width: 100%;
			height: $font-size*$line-height*$lines-to-show;
			color: $charcoal;
			font-size: $font-size;
			line-height: $line-height;
			-webkit-line-clamp: $lines-to-show;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	.product-image {
		height: auto;
		img {
			height: auto;
		}
	}

	.section-header {
		font-size: 0.9em;
		padding: 1em;
		text-transform: none;
	}
	.selectcategory {
		label {
			display: block;
			font-size: 0.9em;
			margin: 1em 0;
			text-transform: none;
		}
		select {
			margin: 0;
			width: 100px;
		}
	}
	.comparelists {
		padding: 0;
	}
	.compare-lists {
		label,
		select {
			float: none;
			text-align: left;
			width: 100%;
		}
	}
}

.compare-big-container {
	.back {
		color: $color-primary;
		padding: 0;
		margin: 22px 0 19px 0;
		display: inline-block;
		span {
			@include font-size($font-size-regular);
			@include font-semibold();
			text-decoration: underline;
			margin-left: 10px;
		}
		&:hover {
			span {
				text-decoration: none;
			}
		}
	}
	.compare-title {
		border-bottom: $border;
		margin-bottom: 20px;
		padding-bottom: 10px;
		@include font-size(24px);
		@include line-height(26px);
		@include font-bold();
		text-transform: uppercase;
		color: $night-rider;
	}
	.selector {
		@include respond(large-up) {
			width: 215px !important;
		}
	}
}

.category-switch {
	float: left;
}

.print-compare {
	display: none;
	padding-top: 10px;
	@include respond(large-up) {
		display: block;
		float: right;
		height: 68px;
		padding-top: 12px;
	}
	.print-page {
		padding: 0;
		top: 0;
		&:before {
			content: '';
			display:inline-block;
			background-image: url('../images/interface/sprite.png');
			background-repeat: no-repeat;
			background-position: -44px -241px;
			width: 17px;
			height: 17px;
		}
	}
	span {
		padding-left: 3px;
		cursor: pointer;
		font-weight: $font-wt-semibold;
		position: relative;
		top: -3px;
	}
}
