.product-tile {
	@extend %clearfix;
	color: $nobel;
	position: relative;
	text-align: center;
	img {
		max-width: 100%;
	}
	.product-image {
		height: auto;
		position: relative;
		.quickview {
			background-color:$crimson;
			color: #fff;
			display: none;
			width: 55%;//For IE
			width: max-content;
			max-width: 75%;
			top: 50%;
			left: 50%;
			padding: 0.35em .7em;
			position: absolute; 
			text-decoration: none;
    		text-transform: uppercase;
			transform: translate(-50%, -50%);
			i {
				margin-left: 0.5em;
			}
		}
		&:hover {
			.quickview {
				display: block;
			}
		}
	}
	.product-name {
		font-size: 1.2em;
		margin-top: 1em;
		height: 3em;
		overflow: auto;
	}
	.product-pricing {
		margin: 0.5em 0;
		span {
			display: block;
			&:first-child {
				color: $color-primary;
			}
		}

		.product-sales-price {
			color: $color-secondary;
			font-weight: $font-wt-bold;
			&.no-sale-price {
				color: $color-primary !important;
				font-weight: $font-wt-bold;
				
				&.mattress-firm{
					font-size:14px;
				}
			}
			
			&.mattress-firm{
				display:block;
				width:100%;
				color:#d63426;
				font-size:15px;
			}
		}
		.product-standard-price {
			text-decoration: line-through;
			font-weight: $font-wt-regular;
			&.mattress-firm{
				float:left;
				padding:0 5px 0 0;
			}
		}


	}
	.product-swatches-all {
		cursor: pointer;
		text-align: left;
		padding: 0 10px;
		@include font-size($font-size-sm);
		@include respond(medium) {
			@include font-size($font-size-regular);
		}
	}
	.product-swatches {
		text-align: left;
		min-height: 38px;
		ul {
			list-style: none outside none;
			padding: 0 10px 3px 0px;
			overflow: hidden;
			text-align: left;
			width: 100%;
			box-sizing: border-box;
			&.swatch-toggle {
				background: none repeat scroll 0 0 $white;
				display: none;
				position: absolute;
				z-index: 1;
				@include respond(large-down) {
					position: relative;
				}
			}
		}
		&:hover ul.swatch-toggle {
			@include respond(large-up) {
				display: block;
			}
		}
		li {
			float: left;
			margin-bottom: 0;
		}
		.swatch {
			display: block;
			width: 29px;
			margin: 3px 2px;
			img {
				border: $border;
				padding: 1px;
				height: 25px;
				width: 25px;
			}
		}
		.selected img,
		img:hover {
			border-color: $jewel;
		}
	}

	.product-compare {
		float: left;
		line-height: 11px;
		label {
			font-weight: $font-wt-regular;
			line-height: 1;
			padding: 0 0 0 .5em;
			width: auto;
		}
		input {
			float: left;
			margin: 0;
		}
	}
	.product-review {
		.rating-title {
			display: inline-block;
			margin-right: 1em;
		}
		.rating {
			display: inline-block;
			color: $broom;
		}
	}
	.wide-tiles & {
		height: auto !important; // overwrite synced heights set on element
		.product-image {
			float: left;
			padding-right: 2em;
		}
		.product-name,
		.product-pricing,
		.product-promo,
		.product-swatches,
		.product-review {
			float: left;
			text-align: left;
			width: 100%;
		}
		.product-name {
			font-size: 1.5em;
			height: auto;
			margin-top: 0;
		}

		.product-swatches {
			margin-bottom: 1em;
			position: relative;
		}
		.swatch-list {
			padding: 10px 0 0;
		}
		.product-swatches-all {
			padding: 0;
		}
	}
}

.capture-product-id {
	left: -999em;
	position: absolute;
}
