%clear_list {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		margin: 0;
		padding: 0;
	}
}

* {
	outline: none;
}

body {
	background: none;
	color: $color-primary;
	font-family: $sans-serif;
	@include font-size($font-size-regular);
}

img {
	max-width: 100%;
	vertical-align: top;
}

a {
	@include link-paragraph;
	&:focus {
	    outline-width: 1px!important;
	    outline-color: #888888!important;
	    outline-style: dotted!important;		
	}
}

p {
	@include font-size($font-size-regular);
	@include line-height($font-height-regular);
	button {
		width: auto;
	}
}

ul, ol {
	margin: 0;
	padding-left: 16px;
	li {
		@include line-height($font-height-regular);
		margin-bottom: 20px;
	}
}

fieldset {
	border: 0 none;
	margin: 0;
	padding: 0;
}

table {
	width: 100%;
}

th {
	text-align: left;
}

td {
	padding: 1em;
	vertical-align: top;
}

h1 {
	@include h1();
}

h2 {
	@include h2();
}

h3 {
	@include h3();
}

h4 {
	@include h4();
}

h5 {
	@include h5();
}

h6 {
	@include h6();
}

button,
.button,
.buttonstyle,
input[type="button"] {
	border: none;
	background-color: $crimson;
	color: $white;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: $font-wt-bold;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s ease;
	box-sizing: border-box;
	border-radius: 10px;
	&:hover {
		background-color: $crimson;
		text-decoration: none;
		color: $white;
	}
	&:focus {
	    outline-width: 1px!important;
	    outline-color: #888888!important;
	    outline-style: dotted!important;		
	}
	&.large {
		width: auto;
	}
	&.secondary {
		background-color: $summer-sky;
		&:hover {
			background-color: $summer-sky;
		}
	}
	&[disabled],
	&.disabled {
		background-color: $crimson;
		color: $white;
		opacity: 0.5;
		&.secondary {
			background-color: $summer-sky;
			&:hover {
				background-color: $summer-sky;
			}
		}
	}
	a {
		color: $white;
		&:hover {

		}
	}
	i {
		&.left {
			margin-right: 0.6em;
		}
		&.right {
			margin-left: 0.6em;
		}
	}
}

.button-fancy-small {
}

.button-fancy-medium {
}

.button-fancy-large {
	@extend .button.large;
}

.button-text {
	background-color: transparent;
	padding: 0;
	color: $color-primary;
	text-decoration: underline;
	font-weight: $font-wt-regular;
	width: auto;
	line-height: inherit;
	height: inherit;
	&:hover {
		text-decoration: underline;
		background: none;
		color: $color-secondary;
	}
}

.button-full-width {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	width: 100%;
}

/*Scroll To Top button*/
.scrollToTop {
	position: fixed;
	bottom: 40px;
	right: 40px;
	display: none;
	z-index: 10001;
	&:hover {
		cursor: pointer;
		color: $white;
	}
}

.paragraph-head + p {
	margin-top: 0;
}

.page-title {
	@include block-page-title;
}