// Import the styles generated from the SVG icons
//@import "../../compiled/svg-icons";
@import "../../../../app_sleepysrv_storefront/cartridge/scss/compiled/svg-icons";
//@import "../../../../app_storefront_core/cartridge/scss/compiled/svg-icons"; 

.icon {
	display: inline-block;
	vertical-align: middle;
	fill: $color-secondary;
	
	&:hover, &.hover {
		// global hover style for svg icons 
	}

	&.call-icon {
		@extend .svg-call-icon-dims;
	}

	&.chat-icon {
		@extend .svg-chat-icon-dims;
	}

	&.store-locator-icon {
		@extend .svg-store-locator-icon-dims;
		width: 10.99px;
	}

	&.store-ad-icon {
		@extend .svg-store-ad-icon-dims;
	}

	&.cart-icon {
		@extend .svg-cart-icon-dims;
	}
}