$global-gutters: 10px;

// Main reusable class to wrap all page content that is not full-bleed.

#wrapper {
	background-color: $white;
	border: 0;
	left: 0;
	margin: auto;
	position: relative;
	transition: left 0.2s ease-in;
	width: 100%;
	&.pt_storefront,
	&.pt_order-confirmation {
		width: 100%;
	}
	&.pt_categorylanding {
		width: 100%;
		.primary-content {
			padding-bottom: 0;
			@include respond(large-up) {
				width: 80%;
			}
		}
		.refinements {
			border-right: 0;
			display: none;
			width: 0;
			@include respond(large-up) {
				display: block;
				width: 20%;
			}
		}
	}

	@include respond(large-down) {
		&.menu-active {
			left: 270px;
			position: fixed;
			height: 100%;
			top: 0;
			right: 0;
			bottom: 0;
			//overflow: hidden;

			.top-banner {
				position: static;
			}
			nav[role="navigation"] {
				width: 270px;
				height: 100%;
				position: absolute;
				top: 0;
				margin-top: 0;
				overflow-x: hidden;
			}
			.mobile-shadow {
				position: absolute;
				height: 100%;
				right: 0;
				width: 10px;
				background: red;
				display: none;
			}

			.menu-toggle {
				margin-top: 16px;
				height: 30px;
				background: url(../images/interface/sprite.png) no-repeat -71px -240px;
			}
		}
	}
	@include respond(large-up) {
		&.menu-active {
			left: auto;
		}
	}
}

#main {
	@extend %centered-block;
}

.primary-content {
	width: 100%;
	@include respond(large-up) {
		float: right;
		padding: 0 0 20px;
		position: relative;
		width: calc(100% - 280px);
	}
	@include respond(large-only) {
		width: calc(100% - 240px);
	}
	h2 {
		margin: 0;
		@include respond(large-up) {
			margin-bottom: 25px;
		}
	}
	.primary-focus & {
		float: left;
		margin: 0;
		width: 76%;
	}
	.full-width & {
		width: 100%;
	}
}

#dialog-container {
	.primary-content {
		width: 100%;
		fieldset .col-2 {
			margin-top: 3px;
		}
		#PasswordResetForm  {
			.col-1 {
				width: 70%;
				float: left;
				.field-wrapper {
					margin-left: 0;
					@include respond(medium) {
						margin-left: 10px;
					}
				}
			}
			.col-2 {
				margin-top: 27px;
				width: 30%;
				@include respond(medium) {
					margin-top: 3px;
				}
			}
		}
	}
}

#secondary {
	border: 1px solid $primary-border-color;
	float: none;
	width: 100%;
	box-sizing: border-box;
	background: $concrete;
	margin-bottom: 25px;
	@include respond(large-up) {
		float: left;
		width: 240px;
		position: relative;
		.primary-focus & {
			background: none;
			border: none;
			box-sizing: border-box;
			float: left;
			padding-left: .4rem;
			width: 24%;
		}
	}
	@include respond(large-only) {
		width: 220px;
	}
	// Remove Refinements for responsive design
	.pt_content-search-result &,
	.pt_order & {
		display: none;
		@include respond(large-up) {
			display: block;
		}
	}
	.nav-title {
		cursor: pointer;
		height: 40px;
		line-height: 40px;
		padding: 0 13px;
		@include font-size($font-size-sm);
		margin: 0;
	}
	#nav_label {
		display: none;
		& ~ nav {
			max-height: 0;
			overflow: hidden;
			transition-duration: 0.4s;
			.secondary-navigation {
				border-top: 1px solid $primary-border-color;
			}
			@include respond(large-up) {
				max-height: inherit;
				.secondary-navigation {
					border: 0 none;
				}
			}
		}
		& ~ label {
			background: url("../images/ref_arrows.png") no-repeat calc(100% - 20px) 17px;
			@include respond(large-up) {
				background: none;
				background-position: 0 0;
			}
		}
		&:checked {
			& ~ label {
				background-position: calc(100% - 20px) -31px;
			}
			& ~ nav {
				max-height: 2500px;
			}
		}
	}
	nav {
		padding: 0 13px;
		@include respond(large-up) {
			padding: 0 9px;
		}
		a {
			display: block;
		}
	}
	a {
		color: $color-primary;
		text-decoration: none;
		&:hover {
			color: $color-secondary;
		}
	}
}

.secondary-content {
	clear: both;
}

#secondary.contact-us {
	display: block; 
	width:100%;
	@include respond(medium) {
		width:20%;
	}
}

#primary.contact-us {
	width: 100%;
	@include respond(medium) {
		width:77%;
	}
}

/* Error Page Styles   */
.pt_error_404 {
	#secondary {
		width: 0;
	}
	.error-page-search {
		input {
			width: 100%;
			margin: 0 0 10px 0;
			height: 40px;
			box-sizing: border-box;
			@include respond(large-up) {
				width: 380px;
				float: left;
				margin: 0 20px 10px 0;
			}
		}
		button {
			width: 100%;
			height: 40px;
			box-sizing: border-box;
			@include respond(large-up) {
				width: 100px;
				float: left;
			}
		}
	}
	.top-banner {
		border-bottom: $border;
	}

}
body .ui-tooltip{border-width:2px; z-index:9999999;}

.pt_error {
	#secondary {
		display: none;
	}
	#primary {
		width: 100%;
		.error-main {
			text-align: center;
			margin: 0px auto;
		}
		h1 {
			text-align: center;
			@include font-size(30px);
		}
		.subtitle {
			color: $black;
			@include font-size(16px);
			@include font-bold();
			p {
				text-align: center;
			}
			text-transform: uppercase;
		}
		.error-page-message {
			@include font-size(14px);
			@include line-height(25px);
			width: 85%;
			margin: 0px auto;
			p {
				text-align: center;
			}
			@include respond(medium) {
				width: 40%;
			}
    		
		}
		.error-page-search {
			margin: 0 auto;
		    width: 85%;
		    position: relative;
		    
		    @include respond(medium) {
				width: 40%;
				//padding-left: 70px;
			}
			.form-row {
				input {
					width: calc(100% - 100px);
				}
				button {
					margin-left: 10px;
				}
			}
		}
	}
}
.mini-cart-product{
	.recycling-fee{
		display: none;
	}
}
#secondary{
	.checkout-mini-cart{
		.recycling-fee{
			display: block;
		    float: left;
		    font-weight: 900;
		    margin-bottom:0;
		    padding-top: 5px;
		    width: 100%;
		    
		    .value{
		    	float: right;
		    }
		}
	}
}