/*

Uniform Theme: Uniform Default
Version: 1.8
By: Josh Pyles
License: MIT License
---
For use with the Uniform plugin:
http://uniformjs.com/

*/
/* General settings */
div.checker span, div.radio span, div.uploader, div.uploader span.action, div.button, div.button span {
	background-image: url("../images/interface/form.png");
	background-repeat: no-repeat;
	-webkit-font-smoothing: antialiased;
}

div.selector, div.checker, div.button, div.radio, div.uploader {
	display: -moz-inline-box;
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	/* Keeping this as :focus to remove browser styles */
}

div.selector:focus, div.checker:focus, div.button:focus, div.radio:focus, div.uploader:focus {
	outline: 0;
}

div.selector, div.radio, div.radio *, div.checker, div.checker *, div.uploader, div.uploader *, div.button, div.button * {
	margin: 0;
	padding: 0;
}

.highContrastDetect {
	width: 0;
	height: 0;
}

/* Input & Textarea */
input.uniform-input,
select.uniform-multiselect,
textarea.uniform {
	padding: 3px;
	outline: 0;
}

input.uniform-input.active,
select.uniform-multiselect.active,
textarea.uniform.active {
}

/* Remove default webkit and possible mozilla .search styles.
 * Keeping this as :active to remove browser styles */
div.checker input,
input[type="search"],
input[type="search"]:active {
	-moz-appearance: none;
	-webkit-appearance: none;

}

/* Select */
div.selector {
	position: relative;
	overflow: hidden;
	width: 100% !important;
	box-sizing: border-box;
}

div.selector:after {
    content: '\f0d7';
    font: normal normal normal 24px/1 FontAwesome;
    right: 11px;
    top: 8px;
    color: #707070;
    position: absolute;
    pointer-events: none;
}

div.selector span:not(.error) {
	text-overflow: ellipsis;
	display: none;
	overflow: hidden;
	white-space: nowrap;
	background-position: right 0;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	padding-left: 10px;
	padding-right: 35px;
	box-sizing: border-box;
	width: 100% !important;
}

div.selector.fixedWidth {
	width: 190px;
}

div.selector.fixedWidth span {
	width: 155px;
}

div.selector select {
	height: 40px;
	width: 100%;
}

/* Checkbox */
div.checker {
	position: relative;
}

div.checker, div.checker span, div.checker input {
	width: 16px;
	height: 16px;
}

div.checker span {
	display: -moz-inline-box;
	display: inline-block;
	*display: inline;
	zoom: 1;
	text-align: center;
	background-position: -48px -120px;
}

div.checker span.checked {
	background-position: -32px -120px;
}

div.checker input {
	opacity: 0;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	border: none;
	background: none;
	display: -moz-inline-box;
	display: inline-block;
	*display: inline;
	zoom: 1;
}
div.checker.active span {
	background-position: -32px -120px;
}

div.checker.active span.checked {
	background-position: -32px -120px;
}

div.checker.hover span, div.checker.focus span {
	background-position: -48px -120px;
}

div.checker.hover span.checked, div.checker.focus span.checked {
	background-position: -32px -120px;
}

div.checker.hover.active span, div.checker.focus.active span {
	background-position: -32px -120px;
}

div.checker.hover.active span.checked, div.checker.focus.active span.checked {
	background-position: -32px -120px;
}

div.checker.disabled, div.checker.disabled.active {

}

div.checker.disabled span.checked, div.checker.disabled.active span.checked {

}

/* Radio */
div.radio {
	position: relative;
}

div.radio, div.radio span, div.radio input {
	width: 16px;
	height: 16px;
}

div.radio span {
	display: -moz-inline-box;
	display: inline-block;
	*display: inline;
	zoom: 1;
	text-align: center;
	background-position: -16px -120px;
}

div.radio span.checked {
	background-position: 0 -120px;
}

div.radio input {
	opacity: 0;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	border: none;
	background: none;
	display: -moz-inline-box;
	display: inline-block;
	*display: inline;
	zoom: 1;
	text-align: center;
}
div.radio.active span {
	background-position: 0 -120px;
}

div.radio.active span.checked {
	background-position: 0 -120px;
}

div.radio.hover span, div.radio.focus span {
	background-position: -16px -120px;
}

div.radio.hover span.checked, div.radio.focus span.checked {
	background-position: 0 -120px;
}

div.radio.hover.active span, div.radio.focus.active span {
	background-position: 0 -120px;
}

div.radio.hover.active span.checked, div.radio.focus.active span.checked {
	background-position: 0 -120px;
}

div.radio.disabled span, div.radio.disabled.active span {

}

div.radio.disabled span.checked, div.radio.disabled.active span.checked {

}

/* Uploader */
div.uploader {
	background-position: 0 -297px;
	height: 28px;
	width: 190px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

div.uploader span.action {
	background-position: right -409px;
	height: 28px;
	line-height: 28px;
	width: 82px;
	text-align: center;
	float: left;
	display: inline;
	overflow: hidden;
	cursor: pointer;
}

div.uploader span.filename {
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	float: left;
	cursor: default;
	height: 24px;
	margin: 2px 0 2px 2px;
	line-height: 24px;
	width: 85px;
	padding: 0 10px;
}

div.uploader input {
	opacity: 0;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	border: none;
	background: none;
	position: absolute;
	top: 0;
	right: 0;
	float: right;
	cursor: default;
	width: 100%;
	height: 100%;
}

div.uploader.active span.action {
	background-position: right -465px;
}

div.uploader.hover, div.uploader.focus {
	background-position: 0 -353px;
}

div.uploader.hover span.action, div.uploader.focus span.action {
	background-position: right -437px;
}

div.uploader.hover.active span.action, div.uploader.focus.active span.action {
	background-position: right -493px;
}

div.uploader.disabled, div.uploader.disabled.active {
	background-position: 0 -325px;
}

div.uploader.disabled span.action, div.uploader.disabled.active span.action {
	background-position: right -381px;
}

/* Buttons */
div.button {
	background-position: 0 -641px;
	height: 30px;
	cursor: pointer;
	position: relative;
	/* Keep buttons barely visible so they can get focus */
}

div.button a, div.button button, div.button input {
	opacity: 0.01;
	filter: alpha(opacity=1);
	-moz-opacity: 0.01;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}

div.button span {
	display: -moz-inline-box;
	display: inline-block;
	*display: inline;
	zoom: 1;
	line-height: 22px;
	text-align: center;
	background-position: right -521px;
	height: 22px;
	margin-left: 13px;
	padding: 8px 15px 0 2px;
}

div.button.active {
	background-position: 0 -671px;
}

div.button.active span {
	background-position: right -551px;
	cursor: default;
}

div.button.hover, div.button.focus {
	background-position: 0 -701px;
}

div.button.hover span, div.button.focus span {
	background-position: right -581px;
}

div.button.disabled, div.button.disabled.active {
	background-position: 0 -731px;
}

div.button.disabled span, div.button.disabled.active span {
	background-position: right -611px;
	cursor: default;
}

/* INPUT & TEXTAREA */
input.uniform-input,
select.uniform-multiselect,
textarea.uniform {
	font-size: 14px;
}

/* PRESENTATION */
/* Buttons */
div.button span {
	font-weight: bold;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

div.button.hover span, div.button.focus span {
}

div.button.disabled span, div.button.disabled.active span {
}

/* Select */
div.selector {
	font-size: 14px;
}

div.selector span {
}

div.selector select {
}

div.selector.disabled span, div.selector.disabled.active span {
}

/* Checker */
div.checker {
	margin-right: 9px;
}

/* Radio */
div.radio {
	margin-right: 9px;
}

/* Uploader */
div.uploader span.action {
}

div.uploader span.filename {
}

div.uploader.disabled span.action, div.uploader.disabled.active span.action {
}

div.uploader.disabled span.filename, div.uploader.disabled.active span.filename {
}

input.uniform-input, input.uniform-input:focus {
}
