@import "../dw/global";

#navigation ul.level-1 div.level-2 {
	z-index: 250;
}

.ui-widget-overlay {
	position: fixed;
	z-index: 10000;
}

.ui-dialog .ui-dialog-titlebar-close {
  background-color: transparent;
  span {
  	position: absolute;
  	top: 1px;
  	left: 1px;
  }
  .ui-button-text {
    background-color: transparent;
  }
}
.email-container {
  text-align: center;
  input[type="text"] {
    width: 250px;
  }
}
.email-close-container {
  text-align: center;
  pading: 20px;
}
.dk_toggle .arrow:before {
  z-index: 10;
}
.amp-zoom-wrapper {
	z-index: 100;
}