@import "../bootstrap/variables";
@import "../dw/fonts";
@import "../bootstrap/mixins";
@import "../dw/shopping-cart";
@import "../dw/widgets"; 
.pt_cart {
  h1 {
  	display: inline-block;
  }
  .pull-right {
  	display: inline-block;
  	margin-top: -35px;
    font-family: "Nunito", Verdana, Arial, sans-serif;
    margin-top: 40px;
    a {
      text-decoration: underline;
    }
  }
  button {
  	background-color: #005542;
  }
  #cart-items-form {
  	clear: both;
  }
  ol.breadcrumb {
    padding: 0;
    margin: 10px 0;
    li {
      display: inline-block;
      a {    
        padding:0 13px 0 0;
      }
    }
  }
  table.item-list {
    tr:nth-child(even) {
      background: $grayLightMid;
    }
  }
  #dwfrm_cart_couponCode {
  	text-transform: uppercase;
  }
  .cart-actions {
  	padding: 0px;
  	button {
  	  display: block;
  	  margin: auto;
  	  font-size: 1.2em;
  	}
  	p {
  	  text-align: right;
  	  padding: 1em 36px;
  	  margin: 0px;
  	  a {
  	    text-decoration: underline;
  	  }
    }
  }
  .secure-checkout{
	margin-right: 10px;
    width: 125px;
    height: 36px;
  }
  #cart-table {
   .bonus-item-details:not(a){
   	color: $red;
   }
   .bonus-item-details a, .bonus-item-actions a {
    text-decoration: underline;
   }
   .bonus-item-details a:hover, bonus-item-actions a:hover {
    color: $red
   }
  }
}
.bonus-product-dialog {
	.ui-dialog-titlebar{
		border-bottom: 2px solid $grayeb;
		padding: 20px 20px 22px 25px;
		.ui-dialog-title{
			font-size: 1.833em;
			font-weight: 700;
			display:block !important;
		}
		.ui-icon-closethick{
			height: 31px;
		    width: 30px;
		    background: url("../images/close-button-ui.png") 
		}
		.ui-dialog-titlebar-close{
			right: 30px;
		}
	}
}

#bonus-product-dialog {
	&.dialog-content {
		max-height: 85vh !important;
	}
	h3.header-red-text {
		color: $red;
		text-transform: uppercase;
		font-weight:700;
	}
	.bonus-product-item {
		width: 49%;
	    float: left;
	    clear: none;
	    height: 210px;
	    padding-top: 20px;
		.product-col-1{
			width:42%;
			float: left;
   			padding: 0;
   			.product-primary-image {
   				margin-left:15px
   			}
		}
		.product-col-2{
			width:58%;
			float: right;
		    clear: none;
		    padding: 0;
			.product-name{
				line-height: 1.286em;
				font-weight: 700;
				text-transform: uppercase;
				margin-top:8px;
				font-size: 1em;
			}
			.product-number{
				color: $gray999;
			}
			.product-variations{
				.attribute {
				    display: inline-block;
					label{
						display:none;
					}
					.dk_toggle {
						width:80px;
					} 
					.dk_options_inner, .dk_touch .dk_options {
						max-height:none;
					}
				}
				ul{
					padding:0;
				}
			}
			.product-variations.disabled .dk_toggle{
				cursor: no-drop;
			    opacity: 0.5;
			    background: $grayeb;
			}
			.product-variations.disabled.variant .dk_container {
				display:block;
				.arrow:before {
					background:none;
				}
			}
			.product-add-to-cart {
				button{
					display: inline-block;
					margin-left:14%;
					background: $black;
				}
				button:hover {
					color: $white;
				}
				.inventory{
					display: inline-block;
					input {
						width:49px;
						text-align:center;
						text-indent:0;
						padding-left:0;
						padding-right:0;
					}
					label{
						padding-top:7px;
						padding-bottom:7px;
						margin:0;
					}
				}
			}
		}
	}
	.rounded.button {
		font-size:1.273em;
		padding: 10px 37px;
	}
	.block-number1 {
		border-right: 1px solid $grayeb;
	}
	.block-number2 {
		
	}
	.block-number3, .block-number5, .block-number7, .block-number9, .block-number11, .block-number13, .block-number15, .block-number17, .block-number19 {
		border-right: 1px solid $grayeb;
		border-top: 1px solid $grayeb;
		border-bottom: none;
	}
	.block-number4, .block-number6, .block-number8, .block-number10, .block-number12, .block-number14, .block-number16, .block-number18, .block-number20 {
		border-top: 1px solid $grayeb;
	}
	.items-wrapper {
	  padding-bottom: 30px;
      border-bottom: 1px solid $grayeb;
	}
	.bonus-product-list-footer {
		padding:0;
		ul {
			padding:0;
			margin:0;
		}
		.selected-bonus-item {
			font-size: 1.167em;
		    font-weight: 700;
		    line-height: 1.5em;
		    font-family: "Nunito", Verdana, Arial, sans-serif;
		    text-transform: uppercase;
		    width:30%;
		    float: left;
		    margin-right: 3%;
		}
		.item-block	{
			width:80%;
			float:left;
			clear:none;
		}
		.remove-link {
			float: right;
		    clear: none;
		    width: 11%;
		    margin-left:9%;
		}
		.selected-bonus-items{
			float: left;
   			clear: none;
   			width: 80%;
		}
		.add-to-cart-bonus{
			float: right;
   			clear: none;
		}
	}
}