@import "../bootstrap/variables";
@import "../dw/fonts";
@import "../bootstrap/mixins";
@import "../dw/checkout";
@import "../dw/shopping-cart";

#secondary {
  .toggle {
    span {
       @include sprite();
       float: right;
       background-position: -18px -147px;
       height:16px;
       width:16px;
    }
   &.expanded {
     span {
      background-position: 0 -147px;
     }
   }
  }
}
table.item-list {
  tr:nth-child(even) {
    background: $grayLightMid;
  }
}
.address-wrapper {
  &.visible {
    border: 2px $gold solid;
  }
}
.address-entered {
  background-color: $gold;
  .header {
    padding: 30px 20px 15px 40px;
    font-size: 2.5em;
    color: $white;
  }
  .details {
    padding: 0 20px 30px 40px;
    font-size: 1.3em;
    color: $black;
    font-weight:bold;
  }
}
#MakeAPaymentForm{
  margin-top:20px;
}
.make-a-payment-summary{
  td {
    line-height:1.3em;
  }
  a.button{
    margin:10px 0;
    display:inline-block;
  }
}
.make-a-payment-results {
  padding:0 0 0 0px;
  li{
    margin:5px 0;
    span.label{
      display:inline-block;
      width:25%;
    }
    span.value{
      display:inline-block;
      vertical-align:top;
      width: 35%;
    }
  } 
  a.button{
    margin:10px 0;
    display:inline-block;
  }
}
.pt_checkout {
  .form-row {
    label {
      float:none;
      width: 90%;
    }
  }
  .primary-content {
  	legend {
  	  display: inline-block;
  	  float: left;
  	  width: initial;
  	}
  	.customer-info .billing-info {
  	  clear: both;
  	}
  }
  .returnToCart {
  	float: right;
  	margin-top: 40px;
  	text-decoration: underline;
  }
  #delivery-schedule-button:hover {
  	color: #fff;
  }
  #cexcg {
    width:46%;
    float:right;
    color:$grayDarker;
    margin-bottom:20px;
    label {
      text-transform:none;
      font-size:1.2em;
      font-weight:bold;
    }
    .terms-and-privacy {
      margin-top:15px;
    }
    a {
      color:#005542;
    }
    .form-row {
      margin-bottom: 0;
    }
    .error-display {
      font-size:1.2em;
      color:$red;
      font-weight:bold;
      &.hidden {
        display:none;
      }
    } 
  }
}
.privacyp {
  position: absolute;
  top: 260px;
  left: 428px;
  text-decoration: underline;
}
.privacyps {
  position: absolute;
  top: 505px;
  left: 93px;
  text-decoration: underline;
}
// Pop-up for Privacy Policy on Shipping & Billing //
.privacy-policy {
  height: 430px !important;
  position: fixed;
  overflow: scroll;
  width: 650px !important;
}

.city-col, .state-col {
	position: relative;
}

.cover {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: -4px;
  left: 0px;
  background-color: #fff;
  opacity: .5;
}