#product-content .product-add-to-cart {
  .product-variations,
  .product-options,
  .add-to-cart-container {
    margin-top: 20px;
  }

  .product-variations,
  .product-options {
    ul, li {
      padding: 0;
      list-style: none !important;
    }
  }
  .error-select-size {
    float: right;
    font-family: $r-semibold;
    font-size: 12px;
    font-weight: 600;
    color: #e21a23;
  }
  .attribute .selected-attr-value {
    display: none;
  }

  .inventory {
    display: inline-block;
    margin-right: 30px;
    max-width: 60px;

    label {
      display: block;
      width: 100%;
    }
  }

  label {
    margin-bottom: 5px;
    font-family: $r-semibold;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
  }

  input[type="text"],
  select {
    padding: 10px;
    border-color: $charcoal;
    border-radius: 4px;
  }

  .selector {
    &:before,
    &:after {
      content: '';
      position: absolute;
      pointer-events: none;
    }

    &:before {
      right: 10px;
      top: 16px;
      border-top: 8px solid $black;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
    }

    &:after {
    right: 12px;
    top: 16px;
    border-top: 6px solid $white;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    }
  }

  #Quantity {
    width: 60px;
  }

  #add-to-cart {
    position: relative;
    bottom: -3px;
    padding: 12px 15px;
    margin-right: 10px;
    height: auto;    
    min-width: 170px;
    background-color: $red;
    font-family: $r-semibold;
    font-weight: normal;
    color: $white;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 4px;

    &:hover {
      background-color: darken($red, 10%);
      color: $white;    
    }
  }
}

a.add-to-wishlist {
  display: inline-block;
  position: relative;
  top: 13px;
}
