#pdpMain {
	&.pdp-main-ab {
	@supports (-ms-ime-align:auto) {
	   	.product-detail {
	   		margin-left: 85px !important;
	   	}
	}
		.product-detail {
			max-width: 475px;
    		margin-left: 35px;
    		@supports (-ms-ime-align:auto) {
    			margin-left: 85px !important;
    		}
		}
		@supports (-ms-ime-align:auto) {
		   .pdp-images {
		   		max-width: 700px !important;
		   	}
		}
		.pdp-images {
			max-width: 675px;
			@supports (-ms-ime-align:auto) {
				max-width: 700px !important;
			}
			@media (max-width: 480px) {
				max-width: 100%;
			}
			.col-1 {
				margin: 0 0 30px;
				width: 100%;
			}
			#amplience-main,
			#amplience-nav {
				box-sizing: border-box;
			}
			#amplience-main {
				padding-bottom: 0;
				width: 100%;
				left: -10px;
				z-index: 1;
				padding-left:0px;
		
				@include breakpoint(767px down) {
					padding-left: 0;
					width: 100%;
					float: none;
					border-bottom: 0;
					left: 0px;
					.slick-slider {
						.slick-arrow {
							display: none !important;
						}
					}
					.slick-dots {
						text-align: center;
						margin-top: 0px;
					    position: relative;
					    top: -50px;
					}
				}
				@media screen and (min-width:1200px) {
					.slick-slider {
						width: 675px;
					}
					img.amp-main-img {
						height: 610px !important;
					    width: auto !important;
					    max-width: 675px !important;
					    border-radius: 3px;
					}
				}	
			}
			
			#amplience-nav {
				width: 600px;
				top: -50px;
				left: 28px;
    			z-index: 100;
				ul {
					margin-top: 0;
					@media screen and (min-width:1200px) {
						.slick-arrow {
							position: absolute;
						    margin: -20px auto;
						    width: 30px;
						    transform: rotate(270deg);
						    color: #626366;
						}
						.slick-next {
							right: -45px;
						}
						.slick-prev {
							left: -46px;
						}
					}
					.slick-list {
						border-radius: 10px !important;
					    overflow: hidden;
					    background: white;
					    padding-bottom: 0 !important;
					    box-shadow: 3px 3px 9px -4px #969595;
						max-height: 363px;
						height: 270px !important;
		
						@media screen and (min-width:1200px){
							height: 135px !important;
						    padding-top: 0px !important;
						    
						}
		
						@media screen and (max-width:1199px){
							height: 292px !important;
							padding-top: 3px !important;
						}
						.slick-track {
							margin-left: 0px;
							height: 150px
						}
						li.slick-slide {
							@media screen and (min-width:1200px) {
								width: 150px !important;
								height: 150px;
								border: none;
								&:after {
									border: none;
								}
							}
						}
					}
				}
				.slick-list {
					margin: 0;
				}
				.slick-slide {
					margin: 0 0 10px;
					img {
						padding: 0;
					}
					&:last-child {
						margin-bottom: 0;
					}
					&.slick-current:after {
						border-bottom: none;
					}
				}
		
				@include breakpoint(small down) {
					display: none;
				}
			}
			.slick-list {
				border: none !important;
				padding: 0 !important;
			}
		}
	}
}
