.pt_product-details {

  .bv-cv2-cleanslate .bv-core-container-157 .bv-summary-bar-minimalist-horizontal .bv-write-container,
  .bv-cv2-cleanslate .bv-core-container-157 .bv-summary-bar-minimalist-horizontal .bv-read-container {
    display: none !important;
  }

  .bv-cv2-cleanslate .bv-core-container-157 .bv-summary-bar .bv-rating-ratio-number a,
  .bv-cv2-cleanslate .bv-core-container-157 .bv-summary-bar .bv-rating-ratio-number a:visited,
  .bv-cv2-cleanslate .bv-core-container-157 .bv-summary-bar .bv-rating-ratio-count {
    font-family: $r-regular !important;
    font-size: 16px !important;
    line-height: 22px !important;
  }
}

.bv-cv2-cleanslate .bv-core-container-297 .bv-content-item .bv-content-secondary-ratings dt,
.bv-cv2-cleanslate .bv-core-container-297 .bv-content-item:hover .bv-content-secondary-ratings dt {
  margin-bottom: .5em !important;
  color: #2d2926 !important;
  font-size: 15px !important;
  font-family: $r-regular;
  font-weight: 700 !important;
}

.bv-cv2-cleanslate {
  .bv-shared {
    .bv-off-screen {
      color: #626366 !important;
      background: #F8F8F8 !important;
      background-color: #F8F8F8 !important;
    }

    .bv-content-btn-pages-inactive {
      .bv-focusable {
        .bv-off-screen {
          color: #626366 !important;
          background-color: #F8F8F8 !important;
        }
      }
    }

    .bv-content-pagination-container {
      .bv-content-btn-pages-inactive {
        color: #E1E1E1 !important;
        background-color: #626366 !important;

        &:hover {
          color: #E1E1E1 !important;
          background-color: #626366 !important;
        }
      }
    }

    .bv-rating-stars-off {
      color: #626366 !important;
    }

    .bv-content-placeholder {
      margin-right: 0px !important;
      margin-left: 0px !important;
      background-color: white !important;
    }

    .bv-content-details-container {
      .bv-secondary-ratings {
        padding-top: 0px !important;
      }
    }

    .bv-avatar-popup-target {
      font-size: 16px !important;
      font-family: $r-regular;
      font-weight: 700 !important;
    }

    .bv-content-pagination-pages-current {
      font-weight: 400 !important;
      font-family: $r-regular;
    }

    .bv-dropdown-target {
      .bv-dropdown-label {
        font-size: 15px !important;
        font-weight: 400 !important;
        font-family: $r-regular;
      }
    }

    .bv-section-summary-inline {
      .bv-secondary-rating-summary {
        .bv-table {
          .bv-table-row {
            .bv-table-cell {
              display: table-cell !important;
              vertical-align: middle !important;
              padding-top: 10px !important;
              font-family: $r-regular;
              font-weight: 900 !important;
              font-size: 15px !important;
            }
          }
        }
      }
    }

    .bv-content-feedback-vote-active {
      .bv-content-report-btn {
        &:hover {
          color: #2d2926 !important;
          font-size: 15px !important;
          font-family: $r-regular;
          font-weight: 400 !important;
          background-color: #e1e1e1 !important;
        }
      }
    }

    .bv-content-data-summary {
      background: #f8f8f8 !important;
      padding: 20px 30px !important;

      .bv-content-meta {
        .bv-content-datetime-stamp {
          font-size: 15px !important;
          font-family: $r-regular;
          font-weight: 400 !important;
        }
      }
    }

    .bv-cv2-cleanslate {
      span {
        font-family: $r-regular;
        font-weight: 700 !important;
        font-size: 16px !important;
      }
    }

    .bv-content-summary {
      padding-left: 30px !important;

      p {
        color: #2d2926 !important;
        font-family: $r-regular;
        font-size: 15px !important;
        font-weight: 400 !important;
        line-height: 1.47 !important;
      }
    }

    .bv-content-title {
      font-size: 21px !important;
      font-family: $r-regular;
      font-weight: 700 !important;
      color: #2d2926 !important;
      text-transform: initial !important;
    }

    .bv-content-header {
      background: #fff !important;
      padding: 0 !important;
      margin-bottom: 30px !important;
    }

    .bv-content-item {
      margin: 0px !important;

      .bv-content-feedback-vote-request {
        p {
          font-size: 15px !important;
          font-family: $r-regular;
          font-weight: 400 !important;
        }
      }
    }

    .bv-control-bar {
      margin: 0px !important;
      color: #fff !important;
      background: #2d2926 !important;
      font-size: 16px !important;
      font-family: $r-regular;
      font-weight: 700 !important;
    }

    .bv-flex-container-column {
      margin-left: 0px !important;
      width: 100% !important;

      .bv-flex-container {
        div {
          &:first-child {
            font-size: 16px !important;
            font-weight: 900 !important;
            padding-left: 0 !important;
          }
        }
      }
    }

    .bv-content-data-label-container {
      .bv-content-data-icon {
        color: #d63426 !important;
        font-size: 22px !important;
        top: 3px !important;
        position: relative !important;
      }

      .bv-content-data-label {
        font-weight: 700 !important;
        font-size: 15px !important;
        font-family: $r-regular;
        color: #2d2926 !important;
      }
    }

    .bv-content-data {
      .bv-content-data-value {
        font-weight: 700 !important;
        font-size: 15px !important;
        font-family: $r-regular;
        color: #2d2926 !important;
      }
    }

    .bv-section-summary {
      p {
        color: #2d2926 !important;
        font-family: $r-regular;
        font-size: 15px !important;
        font-weight: 400 !important;
        line-height: 1.47 !important;
      }

      .bv-section-summary-inline {
        .bv-inline-histogram-ratings {
          .bv-histogram-filter-helper {
            font-family: $r-regular;
            font-size: 16px !important;
            color: #2d2926 !important;
            margin: 0px 5px 5px 0px !important;
            padding: 0 5px 5px 0 !important;
          }
        }
      }

      margin-right: 0px !important;
      margin-left: 0px !important;

      .bv-content-title {
        color: #2d2926 !important;
        font-size: 21px !important;
        font-family: $r-regular;
        font-weight: 700 !important;
        background: #fff !important;
        padding-left: 0px !important;
      }
    }

    .bv-action-bar-header {
      font-size: 28px !important;
      font-family: $r-regular;
      color: #2d2926 !important;
      text-transform: capitalize !important;
    }

    .bv-action-bar {
      button {
        min-width: 199px !important;
        font-size: 16px !important;
        font-family: $r-regular;
        border-radius: 5px !important;
        font-weight: 700 !important;
        text-transform: uppercase !important;
      }
    }
  }
}

#pdp-reviews {
  display: inline-block;
  cursor: pointer;

  * {
    pointer-events: none !important;
  }
}

#pdp-reviews [data-bv-show=rating_summary] .bv_main_container .bv_avgRating_component_container {
  font-size: 15px !important;
  font-family: "Rubik Bold", Arial, sans-serif !important;
  position: relative !important;
  padding-left: 19px !important;
  bottom: 1px !important;
}

#pdp-reviews [data-bv-show=rating_summary] .bv_main_container .bv_avgRating_component_container:after {
  content: '/5';
}

#pdp-reviews [data-bv-show=rating_summary] .bv_main_container .bv_avgRating,
#pdp-reviews [data-bv-show=rating_summary] .bv_main_container .bv_numReviews_text {
  bottom: 1px !important;
  display: inline !important;
  font-family: "Rubik", "Arial", sans-serif !important;
  font-size: 15px !important;
  line-height: 1.27 !important;
  position: static !important;
  text-align: right;
}

#pdpMain.pdp-main-ab .product-detail .row-1 #pdp-reviews .bv_main_container_row_flex .bv_numReviews_component_container {
  display: inline-block !important;
  display: inline-flex !important;
  text-align: right;
  font-weight: 300 !important;
  font-family: 'Rubik', 'Arial', sans-serif !important;
  width: auto !important;
}

#pdpMain.pdp-main-ab .product-detail .row-1 #pdp-reviews .bv_main_container_row_flex .bv_avgRating_component_container {
  display: inline !important;
  display: inline-flex !important;
  font-family: 'Rubik Bold', 'Arial', sans-serif !important;
  font-size: 15px !important;
  left: 19px !important;
  line-height: 16px !important;
  position: relative !important;
  text-align: right !important;
  width: auto !important;
}

#pdp-reviews [data-bv-show=rating_summary] .bv_main_container .bv_button_buttonMinimalist {
  display: none !important;
}

#pdp-reviews [data-bv-show=rating_summary] .bv_main_container .bv_avgRating {
  font-family: $r-extrabold !important;
  line-height: 1.2 !important;
  font-weight: 800 !important;

  &:after {
    content: "/5";
  }
}

@media(max-width:767px) {
  .bv-cleanslate.bv-cv2-cleanslate {
    padding: 0 15px !important;
  }

  .bv-cv2-cleanslate .bv-shared .bv-action-bar .bv-write-container {
    float: right !important;
  }

  #pdpMain .bv-cv2-cleanslate .bv-shared .bv-action-bar button {
    min-width: 160px !important;
  }

  #pdpMain .bv-cv2-cleanslate .bv-shared .bv-section-summary .bv-content-title,
  #pdpMain .bv-cv2-cleanslate .bv-shared .bv-content-title {
    font-size: 18px !important;
  }

  #pdpMain .bv-cv2-cleanslate .bv-shared .bv-section-summary .bv-section-summary-inline .bv-inline-histogram-ratings .bv-histogram-filter-helper {
    font-size: 15px !important;
  }

  .bv-cv2-cleanslate .bv-shared .bv-section-summary-inline .bv-secondary-rating-summary .bv-table {
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100% !important;
    margin-top: 0px !important;
  }

  #pdpMain .bv-cv2-cleanslate .bv-shared .bv-section-summary-inline .bv-secondary-rating-summary .bv-table .bv-table-row .bv-table-cell {
    font-weight: 700 !important;
  }

  #pdpMain .bv-cv2-cleanslate .bv-shared .bv-content-pagination-pages-current {
    font-weight: 700 !important;
  }

  .bv-cv2-cleanslate .bv-shared .bv-control-bar .bv-control-bar-sort .bv-dropdown-title {
    font-weight: 400 !important;
  }

  #pdpMain .bv-cv2-cleanslate .bv-shared .bv-content-data-summary {
    padding: 11px !important;
  }

  #pdpMain .bv-cv2-cleanslate .bv-shared .bv-content-summary {
    padding-left: 10px !important;
  }

  #pdpMain .bv-cv2-cleanslate .bv-shared .bv-content-header {
    margin-bottom: 15px !important;
  }
}