#pdpMain, .pt_categorylanding {
	&.pdp-main-ab, .cat-landing-beds-and-frames {
		.slick-arrow {
		  height: 30px;
		  width: 30px;
		  background: transparent;
		  border: none;
		  outline: none !important;
		}
		
		.product-listing {
		  .slick-arrow {
		    &.slick-prev {
		      left: 0;
		    }
		    &.slick-next {
		      right: 0;
		    }
		  }
		}
		
		.product-listing-1x4 {
		  margin: 0;
		  padding: 0;
		
		  h2 {
		    visibility: visible;
		  }
		  	h2.callout-top{
		  		font-weight: 800;
			    font-family: $r-regular;
			    text-transform: uppercase !important;
		  	}
		 
			  h2.callout-top, h3.callout-top  {
			  	text-align: center;
			    font-size: 37px;
			    font-weight: 800;
			    line-height: 33px;
			    @include respond(large-down) {
			    	font-size: 33px;
			    	line-height: 1.12;
			    }
			  }
			  .search-result-items {
			  	@include respond(large-down) {
				  	.slick-arrow {
				  		display: none !important;
				  	}
				 }
			  }
			  .product-image .thumb-link img{
			  	@include respond(large-down) {
			  		width: 270px;
			  	}
			  }
			.product-tile-one {
				padding-bottom: 0px !important;
				.brand-and-rating {
	    			.brand-name img {
	    				width: 200px;
					    height: -webkit-fill-available;
					    margin: 0 auto;
					    @include respond (large-down) {
					    	width: auto;
						    height: 24px;
						    padding-left: 35px;
						    margin: 0;
					    }
	    			}
				}
				.product-name {
					text-align: left;
	    			padding-left: 0;
	    			margin: 0 auto;
	    			padding-top: 0px;
	    			.name-link-text {
	    				@include respond (large-down) {
	    					font-size: 21px;
    						font-weight: 600;
	    				}
	    			}
				}
			}
			.product-price {
				text-align: left;
    		padding-left: 15px;
    		padding-right: 15px;
    		span {
    			font-size: 16px;
    			font-family: $r-regular;
    			font-weight: 400;
    		}
			}
			.clp-product-reviews {
				text-align: left;
	    		padding-left: 15px;
	    		padding-right: 15px;
	    		.bv_text {
	    			color: #626366 !important;
	    			font-size: 15px !important;
	    			font-family: $r-regular;
		    		font-weight: 400 !important;
	    		}
	    		.bv_averageRating_component_container {
	    			.bv_text {
		    			color: #2d2926 !important;
		    			font-family: $r-regular;
		    			font-weight: 700 !important;
		    			line-height: 1.2 !important;
		    			&:after {
		    				content: "/5";
		    			}
		    		}
	    		}
			}
		
		  ul, li {
		    padding: 0;
		    list-style: none !important;
		  }
		}
		
		
		.pdp-images {
		  .amplience-viewer {
		    ul,
		    .slick-slide {
		      padding: 0;
		    }
		  }
		
		  #amplience-nav {
		    position: relative;
		    .slick-track {
		      margin-left: 14%;
		      box-sizing: border-box;
		      width: max-content !important;
		    }
		
		    .slick-slide {
		      margin-bottom: 10px;
		      width: 100% !important;
		      box-sizing: border-box;
		    }
		
		    .slick-arrow {
		      position: relative;
		      margin: 0 auto;
		      width: 100%;
		
		      &:after {
		        position: absolute;
		        left: 0;
		        right: 0;
		        margin: 0 auto;
		        top: 50%;
		      }
		
		      &.slick-prev:after {
		        transform: translateY(-50%) rotate(90deg);        
		      }
		
		      &.slick-next:after {
		        transform: translateY(-50%) rotate(270deg);        
		      }
		    }
		  }
		}
	}
}
.pt_categorylanding {
	.cat-landing-beds-and-frames {
		.product-image .thumb-link img {
			width: 272px !important;
    		height: 209px;
		}
		.product-tile-one {
			padding: 10px 10px 25px 25px;
			.product-name {
				padding-left: 35px;
				.name-link {
					font-size: 21px;
  					font-weight: 600;
				}
			}
		}
		.product-price {
			padding-left: 60px;
		}
		.clp-product-reviews {
			padding-left: 60px;
		}
	}
	
}
