.storename-wrap {
  img {
    margin-right: 5px;
  }
}

.storename,
.mf-content h5 {
  display: inline;
  margin: 0;
  font-family: $r-regular;
  font-size: 20px;
  line-height: 24px;
}

.store-info {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.storeaddress {
  box-sizing: border-box;

  p {
    margin: 0;

    &:first-child {
      font-family: $r-bold;
      font-size: 20px;
      line-height: 24px;
    }

    &:last-child {
      font-family: $r-semibold;
      font-size: 16px;
      line-height: 19px;
    }
  }
}

.change-tryinstore {
  font-size: 16px;
  line-height: 19px;
  box-sizing: border-box;
}

.try-in-store-list {
  padding: 0;

  li {
    padding: 0;
    list-style: none !important;
  }
}

.store-links {
  padding-bottom: 5px;

  a {
    color: $red;
    font-size: 14px;
    line-height: 16px;
  }
}
