.shippingaddress {
	.select-address {
		width: 100%;
		margin-left: 0;
	}
	.edit-address {
	}
}

.formactions {
	margin-top: 20px;
	text-align: right;
}

.item-list .multi-shipment-row {
	border-bottom: none;
}

.minishipments-method {
	padding-top: 10px;
}

.multishipprogress {
	div, .step-3 {
		display: inline;
	}
	.step-4 {
		padding-right: 0;
	}
}

.pt_checkout #cart-table .cart-row .shipment-label {
	margin-top: 35px;
}
