// 
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------

// Fonts

// Sprite
$sprite: url('../images/sprites.png') no-repeat;
$spriteSocial: url('../images/sprites_social.png') no-repeat;

$gutter: 20px; 

// MD colors
$MDgreen:               #005542 !default;

// Grays
// -------------------------
$black:                 #000 !default;
$grayDarker:            #636363 !default;
$grayDark:              #b5b5b5 !default;
$gray:                  #cccccc !default;
$grayLight:             #dcddde !default;
$grayLighter:           #fafafa !default;
$grayLightMid:          #f0f0f0 !default;
$white:                 #fff !default;
$grayeb: 				#ebebeb;
$gray999:				#999999;


// Accent colors
// -------------------------


$blue:                  #0073ae !default;
$blueDark:              #0064cd !default;
$green:                 #5e9732 !default;
$yellow:                #ffc40d !default;
$orange:                #f47b20 !default;
$gold:                  #e9b432 !default;
$pink:                  #c3325f !default;
$purple:                #683379 !default;
$black:                 #000000 !default;
$beige:                 #F5F5DC !default;
$brown:                 #783201 !default;
$green:                 green;
$grey:                  #8F979D !default;
$orange:                #f47b20 !default;
$white:                 #FFFFFF !default;
$navy:                  navy;
$greenHighlight:         #3cc207;

$sleepGreenDark:         #046f67;
$sleepGreen:             #21a8a2; 
$sleepGreenLight:        #c6dede;/*alt rows in subnavigation*/
$sleepGreenLighter:      #e2eeee; 

$red:                   #d2232a !default;

//switch main accent color here
$accentColor: $MDgreen;

// Scaffolding
// -------------------------
$bodyBackground:        $white !default;
$textColor:             $grayDarker !default;


// Links
// -------------------------
$linkColor:             $textColor;
$linkColorHover:        $accentColor;
//$linkColorHover:        darken($accentColor, 15%) !default;


// Typography
// -------------------------
$sansFontFamily:        Arial, sans-serif !default;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif !default;
$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace !default;
$nunitoFontFamily:      "Nunito", Verdana, Arial, sans-serif !default;

$baseFontSize:          14px !default;
$baseFontFamily:        $sansFontFamily !default;
$baseLineHeight:        18px !default;
$altFontFamily:         $serifFontFamily !default;

$headingsFontFamily:    "Nunito", Verdana, Arial, sans-serif !default; // empty to use BS default, $baseFontFamily
$headingsFontWeight:    700 !default;    // instead of browser default, bold
$headingsColor:         inherit !default; // empty to use BS default, $textColor


// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

$fontSizeLarge:         $baseFontSize * 1.25; // ~18px
$fontSizeSmall:         $baseFontSize * 0.85; // ~12px
$fontSizeMini:          $baseFontSize * 0.75; // ~11px

$paddingLarge:          11px 19px !default; // 44px
$paddingSmall:          2px 10px !default;  // 26px
$paddingMini:           0px 6px !default;   // 22px

$baseBorderRadius:      4px !default;
$borderRadiusLarge:     6px !default;
$borderRadiusSmall:     3px !default;



// COMPONENT VARIABLES
// --------------------------------------------------


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexDropdown:          1000 !default;
$zindexPopover:           1010 !default;
$zindexTooltip:           1030 !default;
$zindexFixedNavbar:       1030 !default;
$zindexModalBackdrop:     1040 !default;
$zindexModal:             1050 !default;


// Form states and alerts
// -------------------------
$warningText:             #c09853 !default;
$warningBackground:       #fcf8e3 !default;
$warningBorder:           darken(adjust-hue($warningBackground, -10), 3%) !default;

$errorText:               #b94a48 !default;
$errorBackground:         #f2dede !default;
$errorBorder:             darken(adjust-hue($errorBackground, -10), 3%) !default;

$successText:             #468847 !default;
$successBackground:       #dff0d8 !default;
$successBorder:           darken(adjust-hue($successBackground, -10), 5%) !default;

$infoText:                #3a87ad !default;
$infoBackground:          #d9edf7 !default;
$infoBorder:              darken(adjust-hue($infoBackground, -10), 7%) !default;


// GRID
// --------------------------------------------------


// Default 940px grid
// -------------------------
$gridColumns:             12 !default;
$gridColumnWidth:         60px !default;
$gridGutterWidth:         20px !default;
$gridRowWidth:            ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1)) !default;

// 1200px min
$gridColumnWidth1200:     70px !default;
$gridGutterWidth1200:     30px !default;
$gridRowWidth1200:        ($gridColumns * $gridColumnWidth1200) + ($gridGutterWidth1200 * ($gridColumns - 1)) !default;

// 768px-979px
$gridColumnWidth768:      42px !default;
$gridGutterWidth768:      20px !default;
$gridRowWidth768:         ($gridColumns * $gridColumnWidth768) + ($gridGutterWidth768 * ($gridColumns - 1)) !default;


// Fluid grid
// -------------------------
$fluidGridColumnWidth:    percentage($gridColumnWidth/$gridRowWidth) !default;
$fluidGridGutterWidth:    percentage($gridGutterWidth/$gridRowWidth) !default;

// 1200px min
$fluidGridColumnWidth1200:     percentage($gridColumnWidth1200/$gridRowWidth1200) !default;
$fluidGridGutterWidth1200:     percentage($gridGutterWidth1200/$gridRowWidth1200) !default;

// 768px-979px
$fluidGridColumnWidth768:      percentage($gridColumnWidth768/$gridRowWidth768) !default;
$fluidGridGutterWidth768:      percentage($gridGutterWidth768/$gridRowWidth768) !default;
