/* breadcrumbs */
/* ------------------------------------- */

.breadcrumb {
    padding: 0;
    margin: 33px 0 28px 0;
    color: #57c6f4;
    font-weight: bold;
    list-style: none;
    
    li {
        font-size: 22px;
        display: inline-block;
        &::after {
            content: "/";
            font-size: 0.7em;
            margin: 0 9px 0 0px;
        }
        
        &:last-child {
            a {
                color: $blackAlmost;
            }
            &::after {
                content: none;
                margin: 0;
            }
        }
        
        a {
            padding: 0;
            color: $accentColor;
            font-weight: bold;
        }
        
        span{
            font-size: 0.7em;
        }
        
        h1 {
            font-size: 1em;
            display: inline;
            .paging-current-page {
                left: -999em;
                position: absolute;
            }
        }
    }
}

.breadcrumb-refinement-name, .breadcrumb-refinement-value, a.breadcrumb-relax, .breadcrumb-last {
    background: transparent !important;
}

a.breadcrumb-relax {
    padding: 0 5px 0 0;
}

.breadcrumb-result-text a {
    background: transparent;
    padding: 0;
}