/* content assets and slots */
/* ------------------------------------- */

.slot-grid-header p{margin:0;padding:0;}
.product-listing-1x4{background:none repeat scroll 0 0 #FFFFFF;overflow:hidden;padding:10px 0;}
.product-listing-1x4 ul.search-result-items .grid-tile{margin:0 1% 0 2%;width:18%;}
 
.content-asset {
  address{margin:1em 0;}
  p{line-height:1.6em;margin:1em 0;}
}
 
.content-asset ul.account-options{
  margin:0;
  padding:0;
  li{
    list-style:none outside none;
    margin: 25px 0;
    padding-bottom: 25px;
    border-bottom: 1px solid $gray;
    a{
      font: {
        family: $headingsFontFamily; 
        size: 1.3em;
      }
    }
    img{
      display:none;
      position: absolute;
      top: 50px;
      left: 0;
    }
     p{
       margin:0;
       padding-left:0;
     }
    }
}
.browser-compatibility-alert{background:url("../images/interface/icon-alert.png") no-repeat scroll 1em 1em #FAEDED;border:1px solid;color:#9E0F0F;margin:1em;padding:0.5em 4em;}
