/* footer */
/* ------------------------------------- */
#footer {
  background: $grayDarkest;
  border-top: 3px solid $grayLight;
  padding-bottom:30px;
  padding-top: 15px;
  margin-top: 25px;
  clear: both; 
  font-weight: 300;
  .wrapper {
    overflow:hidden;
    .footer-left {
      width:65%;
      float:left;
      ul { margin:0; padding:0; height: 150px; }
      li {
        float:left;
        h4.level-1 { 
          font-size: 16px;
          margin: 0 0 15px;
        }
        &.col-6 {
          width:190px;
          margin-top:20px;
          .level-1 {
            color:$blueLight;
            font-size:1.5em;
            font-weight:bold;
            text-transform:uppercase;
            margin: 0;
          }
          .level-2 {
            margin-top: 13px;
            li {
              width: 100%;
              list-style: none;
              margin:0 0 10px 0;
              a {
                color:$gray;
                font-size: 1.2em;
              }
            }
          } 
        }
      }
    }
    .footer-right {
      width:33%;
      float:right;
      .email-signup {
        margin-top:20px;
        #emailsignup {
      	  min-height:72px;
      	}
	    .error{
	       float: right;
	 	   margin-right: 23px;
	    }
        .newsletter {
          color: $greenLime;
          text-align:right;
          text-transform:uppercase;
          font-size: 2.2em;
          font-weight:bold;
          clear:right;
          margin: 0;
        }
        .email-signup-result {
          float:right;
          color: $blueLight;
          margin-top:20px;
        }
      }
      .email-text {
        text-align:right;
        color:$gray;
        font-size:1.1em;
        line-height:20px;
        margin-top:6px;
      }
      .email-signup-field{
        position:relative;
        width:220px;
        float:right;
        margin-top:20px;
        .image-email {
          text-indent: -9999em;
          @include spriteEmail;
          position: absolute;
          top: 12px;
          right: 10px;
          border:none;
        }
      }
      .footer-social {
        float:right;
        margin-top:25px;
        .social {
          float:right;
        }
          .ul {
            display: inline;
          }
            li {
              display: inline-block;
              width: 36px;
              padding: 0px 3px;
            }
            a.email { background-position: -89px 0px !important; background: url("../images/sprites_footer.png") no-repeat; }
            a.facebook { background-position: -34px 0px !important; background: url("../images/sprites_footer.png") no-repeat;}
            a.twitter { background-position: 0px 0px !important; background: url("../images/sprites_footer.png") no-repeat; }
            a.blogger { background-position: -69px 0px !important; background: url("../images/sprites_footer.png") no-repeat; }
            a {
              display: block;
              height: 34px;
            }
               
      }
    }
  }
  a { 
    color: $textColor; 
    &:hover { color: $textColor; text-decoration: underline; }
    }
  .bottom-help-callout  {  
    font-size: 16px;
  }
  .nav-bottom-copyright {
    display:none;
    ul li { 
      float:left; 
      margin-right: 15px; 
    }
  }
}
