/* page layouts */
/* ------------------------------------- */

html, body, #container {
  height: 100%;
  min-width: 1022px;
}

.wrapper { 
  margin: auto;
  max-width: 1002px;
  width:1002px;
}

//#navigation .wrapper { max-width: 956px; width: 956px;}

#main, #header {position:relative;}

.primary-section-divider {
  @include clearfix();
  clear:both; 
}

.full-width,
.pt_content #primary.primary-content,
#primary.primary-content.full-width,
.pt_product-search-result #primary.primary-content.top-level-category  {
  width: 100%;
  float: none;
  border:0 none;
}

.pt_content-search-result {
  .page-content {
    .primary-content {
      margin-top:28px;
      width:100%;
      font-size:1.5em;
      font-weight:normal;
      h1, h2 {
        font-size:2em;
      }
      .expandable {
        &:before {
          display:inline-block;
          float:left;
          margin-right:5px;
          content: ">";
        }
        h2 {
          &.toggle {
            font-size:1em;
            color:$blue;
            &:hover {
              text-decoration:underline;
              cursor:pointer;
            }
          }
        }
        .contents {
          display:none;
          &.visible {
            display:block;
          }
        }
      }
      h3 {
        font-size:1.5em;
      }
      ul {
        padding:0;
      }
      a {
        color: $blue;
        font-size:0.8em;
        line-height:2em;
        &:hover {
          text-decoration: underline;
        }
      }
      .inlineNavigation {
        li {
          display:inline-block;
          &:after {
            padding-left:5px;
            content: "|";
          }
        }
      }
      dl {
        dd {
          float:none;
          margin:0;
        }
        dt {
          margin:10px 0;
          float:none;
          clear:none;
        }
      }
    }
  }
}

.pt_product-search-result{
  .primary-content{
    float:right; 
    padding:0 0 20px;
    position:relative;
    width: 65.1%;
    &.top-level-category + #secondary.refinements { width:100%; }
  }
  #secondary{
    float:left;
    nav {
      padding-left:10px;
      padding-right:10px;
      a {margin-left:15px;}
    }
  }
  .pt_product-search-noresult {
    .primary-content {
      margin-top: 28px;
    }
  }
  /*secondary nav on top level category page structure */
  .primary-content.top-level-category + #secondary.refinements {
    .refinement-header { display:none; }
    .refinement {
      margin-top: 15px;
      border-top: 1px solid $gray;
      display:none;
      h2, h3.toggle {
        @include article-headline();
        width: 100%;
        span {
          width:100%;  
        }
      }
      h3.toggle:after{
        border-top-color: #fff; 
      }
      ul li a { width: auto; }
    }
    .refinement.category-refinement { display:block; }
  } 
}

.primary-focus, .page-content {
  .primary_content, .primary-content {
    float:left;
    border-left: none;
    // padding-right:3%;
    width: 65%;
  }
  #secondary{
    width: 30.32%;
    float:right; 
  }
}

.pt_cart {
  .primary-focus { 
    .primary-content {
      width: 100%;
      float: none;
      border-left: none;
    }
  }
}

.primary-content.store-locator {
  width: 100%;
}
.share-bar {
  ul {
    li {
      float:left;
      padding-left:11px;
      a {
        text-indent: -9999px;
        float:left;
        &.image-facebook {
          @include spriteFacebook;
        }
        &.image-twitter {
          @include spriteTwitter;
        }
        &.image-blog {
          @include spriteBlog;
        }
      }
    }
  }
}
       
/*tertiary nav*/
nav#tertiary-nav {
  ul { 
    display:block;
    display:inline-block;
    margin:0;
    padding:0;
    border: 1px solid #fff;
    li {
      float:left; 
      padding: 0;
      margin: 15px 15px 0 0;
      &.active { 
        a { color: $accentColor; } 
      }
    }
  }
}
