/* product tiles */
/* ------------------------------------- */

.product-tile {
  color:$textColor;
  position:relative; 
  text-align:left;
  font-weight: 200;
  .product-image{
    height: 168px;
    position:relative;
    padding: 0 0 8px;
    margin: 0 0 8px;
  }
  .product-compare{
    width: 100%;
    background-color: $grayLighter;
    padding: 10px 0px 10px 0px;
    margin: 15px 0 0;
    left: 0;
    label{
      float:right;
      font-size:12px;
      padding:0;
      width:50%;
     }
     input{float:left;margin:0;}
   }
   .product-name,
   .product-promo { margin: 10px 0; }
   .product-promo{
     font-size:0.8em;
     margin:6px 0;
     text-transform:uppercase;
     }
	.product-standard-price {
		color:$grayDarker;
		font-weight:bold;
		display:block;
		&.has-sale-price {
			text-decoration: line-through;
		}
		&.price-range {
			width: 100%;
		}
	}
	.product-sales-price {
		color: $greenDirty;
		font-weight:bold;
		display:block;
	}
}

.wide-tiles {
  ul.search-result-items .grid-tile{width:91%;}
  .product-tile{
    height:166px !important;
    .product-image{float:left;width:40%;}
    .product-name,  .product-pricing, .product-promo,.pr_stars,.product-swatches{float:left;text-align:left;width:55%;margin-bottom:5px;}
    .product-name {margin-top:0px;}
    .pr-snippet-stars{margin:0;}
    .pr_stars{left:-5px;}
    .product-compare{left:40.5%;width:32px;bottom:5px;line-height:12px;}
    .product-swatches{bottom:auto;left:auto;position:relative;right:auto;margin-top:5px; 
    li{float:left;} }
    }
}
 
.product-swatches {
  bottom: -9px;
  position:absolute;
  right:0;
  float:right;
  ul {
    list-style: none outside none;
    margin:0;
    overflow:hidden;
    padding:0;
    &.swatch-toggle {
      background:none repeat scroll 0 0 $white;
      display:none;
      position:absolute; }
      }
    &:hover ul.swatch-toggle{display:block;}
    li{float:left;}
    .swatch{
      display:block;
      width:16px;
      img{
        border:1px solid $white;
        height:12px;
        padding:1px;
        width:12px;
        } }
    .selected img{border-color:#12ABE7;}
    img:hover{border-color:#12ABE7;}
}
  
.product-swatches-all{
  cursor:pointer;
  font-size:0.9em; }


 
.product-tile .prSnippetTitle {float:left;}
.product-tile .prSnippetReadReviews {display:none;}
.product-tile .prSnippetRatingUnclickable {float:left;}
.product-tile .prSnippetNumberOfRatingsText {display:none;}
.product-tile .pr-snippet-review-count{display:none;}
.product-tile .pr-snippet-read-write{display:none;}
.product-tile .pr-snippet-social-bar{display:none;}
.product-tile .pr-clear{display:none;}
.product-tile .pr-snippet-stars{float:none;margin:0 auto;width:115px;}
.capture-product-id{left:-999em;position:absolute;}

/* search results, grid layout */
/* ------------------------------------- */
 
.pt_product-search-result .primary-content h1.content-header{padding-left:15px;}
.category-main-banner img{max-width:100%;}
.no-hits-search-term{color:#990000;font-style:italic;}
.no-hits-search-term-suggest{color:#990000;font-style:italic;}
.no-hits-footer{background:url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;margin:20px 0;padding:20px 0;}
.search-result-bookmarks{margin:15px;}
.search-result-bookmarks .first{border-right:1px solid #999999;padding-right:5px;}
.search-result-options{margin:17px 0 21px;overflow:hidden;width:100%;}
.sort-by{background:none repeat scroll 0 0 #D9D9D9;border-bottom:1px solid #C2C2C2;float:left;margin:0 0 0 20px;padding:3px 5px;}
.items-per-page{background:none repeat scroll 0 0 #D9D9D9;border-bottom:1px solid #C2C2C2;float:left;margin:0 0 0 20px;padding:3px 5px;}
.sort-by label{display:none;}
.items-per-page label{display:none;}
.sort-by select{background:none repeat scroll 0 0 #D9D9D9;border:0 none;font-size:0.9em;margin:0 6px 0 0;padding:0;width:auto;}
.items-per-page select{background:none repeat scroll 0 0 #D9D9D9;border:0 none;font-size:0.9em;margin:0 6px 0 0;padding:0;width:auto;}
.sort-by button{background:none repeat scroll 0 0 #C2C2C2;border:0 none;color:#333333;font-size:0.9em;padding:0.3em;width:auto;}
.items-per-page button{background:none repeat scroll 0 0 #C2C2C2;border:0 none;color:#333333;font-size:0.9em;padding:0.3em;width:auto;}

 
.pagination{
  float:right;
  margin:0 20px 0 0;
  .results-hits{
    color:#666666;
    float:left;
    padding:5px 0;
    }
  ul{
    float:right;
    margin:0;
    padding:0;
    li{
      display:block;
      float:left;
      list-style:none outside none;
      padding:0.5em;
      &.first-last a{
        background-color:$grayDarker;
        color:$white;
        font-size:0.9em;
        padding:0 2px;
        }
      }
    }
  }
 

ul.search-result-items{
  margin:0;padding:0;
  li{list-style:none outside none;}
  .new-row{clear:both;}
  .grid-tile{
    background:none repeat scroll 0 0 $white;
    height:350px;
    border-bottom:1px solid $grayVeryLight;
    float:left;
    list-style:none outside none;
    margin:10px 0 0 65px;
    padding:0;
    width:26%;
    &.new-row {
      margin:10px 0 0 0;
    }
    .product-tile {
      position:relative;
      .rating-block {
        position:absolute;
        top:310px;
        width:100%;
        text-align:center;
      }
    }
    .invisible{display:none;}
  }
}
.search-result-content{clear:both;}
.search-promo{padding:20px;}
h1#results-content{ padding-top:30px;}
ul.folder-content-list{margin:0;overflow:hidden;padding:0 20px;}
ul.folder-content-list li{float:left;list-style:none outside none;margin:0;padding:2% 2% 2% 0;width:48%;}
ul.folder-content-list .content-title{display:block;}
.no-results{padding:20px;}
.toggle-grid{background:url("../images/interface/icon-toggle-grid.png") no-repeat scroll left top transparent;cursor:pointer;display:block;float:left;height:11px;margin:2px 10px 0 0;text-indent:-999em;width:24px;}

