/* shopping cart */
/* ------------------------------------- */

.cart-box {
  background:#fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding:0 33px;

  #cart-table {
    thead {
      th {
        &.section-header {
          font-size: 1.5em; 
          text-transform: uppercase;
          padding: 20px;
          font-weight: bold;
          color: #000;
          font-family: 'Lato';
          font-size:1.083em;
        }
        &.header-total-price { text-align: right; }
      }
    }
    .bonus-item {
      display:inline-block;
    }
    .cart-row {
      border-top: 1px solid $gray;
      &.has-recycle-fee {
        border-bottom: none;
      }
    }
    .product-sku {
      font-size: 0.9em;
      font-weight: normal;
      padding-top: 10px;
    }
    tbody {
      color:#000;
      td {
        padding: 30px 0 20px 20px;
        &.item-details { 
          color:#333333;
          .size { display: none; }
          .foundation { padding-top: 10px; font-size:1.083em; }
          .color { padding-top: 10px; }
          .item-edit-details { 
            padding-top: 10px;
            a { color: $blueBaby; text-transform:capitalize; font-size:1.250em; font-weight: 400; font-style: italic;
              &:hover {
                color:$blueBabyDarker;
              }
            }
          }
          .product-list-item {
            .name {
              color:#000;
              font-weight: bold;
              
              a { font-size:1.167em; font-weight:bold; color:#000; }
            }
          }
        }
        &.item-size {
          font-size:1.250em;
        }
        &.item-price {
          font-size:1.250em;
          
          .price-sales { color: $greenTxt; }
          .price-standard {
            margin: 0 1em 0 0;
            text-decoration: line-through;
            color: #666666;
          }
        }
        &.item-quantity {
          padding-top: 23px;
          
          input { 
            height:28px;
            line-height:28px;
            width:48px;
            font-size:1.250em;
            color:#333333;
          }
          
          .qty-only {
            padding-top:7px;
          }
          .update-qty {
            display:none;
            padding-top: 10px;
            a {
              color:$blueBaby;
              text-transform:capitalize;
              font-size:1.25em;
              font-weight:400;
              font-style:italic;
              &:hover {
                color:$blueBabyDarker;
              }
            }
          }
        }
        &.item-total, &.coupon-savings {
          color:#333333;
          font-size:1.250em;
          text-align:right;
        }
        &.remove-item {
          padding: 23px 20px 20px 20px;
          
          button {
            background:url('../images/circle-remove-btn.png') no-repeat;
            width:32px;
            height:32px;
            padding:0;
            border:0;
            margin:0;
          }
        }
      }
      .recycle-fee-row {
        td {
          padding: 10px 0 10px 20px;
        }
      }
      .label, .value { display: inline-block; }
      .value { font-weight: normal; }
    }
    .product-list-item { 
      width: 250px; 
    }
    .item-user-actions { 
      width: 100px;
      a, button { 
        display: block;
        font-size: 0.9em;
      } 
    }
    .item-total {
      word-wrap: break-word;
      .promo-adjustment { width: 120px; }
    }
    .price-unadjusted,
    .price-adjusted-total {
      color: #666;
      display:block;
    }
    .price-unadjusted {
      margin: 0 0 5px;
      span { text-decoration: line-through; }
    }
    .price-adjusted-total {
      margin:5px 0 0;
      span { color: $red; }
    }
    .gift-cert-delivery { color: $red; }
  }
}


.recycle-item {
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 10px;
  float: left;
  .recycle-fee-row & {
    margin: 0;
    float: none;
  }
}
  
.recycle-price {
  font-weight: 300;
  float: right;
  margin-right: 60px;
  margin-bottom: 10px;
  margin-top: 8px;
  .recycle-fee-row & {
    margin: 0;
    float: none;
    text-align: right;
  }
}

table {
  &.item-list tr { border-bottom: none; }
}

.cart-promo {

  .bonus-item-actions {
    font-size: 1em !important;
    text-align: right;
    vertical-align: middle;
  }
}
 
  .cart-coupon {
    display:inline-block;
    float:left;
    font-size:1em;
    padding-left:10px;
  }

  .promotion-total {
    display:inline-block;
    float:right;
    font-size:1em;
    .discount {
      text-align:right;
    }
  }
  
.cart-footer {
  font-size:1em;
  font-weight:300;
  margin: 0 0;
  width: 100%; 
  label {
    float: none;
    text-align: left;
    width: auto;
    padding: 0px;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .primary-section-divider {
    margin: 0;
  }
  .cart-actions {
    padding:0 0 0 20px;
    
    button {
    	width:297px;
    	height:48px;
    	background:#333333;
    	font-size:1.667em;
    	font-weight:bold;
    	padding: 0;
		letter-spacing: 0;
    }
  }
  .haulaway {
    display:inline-block;
    float:left;
    width:62%;
    padding: 0px;
    margin: 20px 0 0 0;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    
    .cart-advert {
      padding:25px;
    }
    .truck {
      display:inline-block;
      float:left;
      width:35%;
      padding: 30px 2% 30px 2%;
      font-style: italic;
      
      .title {
        padding: 20px 10px 0px 10px;
        font-size: 1.0em;
        color:$blue;
        text-transform:uppercase;
        font-weight:bold;
      }
      .content {
        padding: 10px;
        color:#666666;
        font-weight:bold;
      }
    }
    
    .items-to-remove {
      display:inline-block;
      float:right;
      width: 55%;
      padding: 30px 2% 30px 2%;
      font-family:Lato;
      
      .title {
        font-size: 2.917em;;
        font-weight: bold;
        padding-bottom: 20px;
        color:$blue;
        font-style:italic;
      }
      .question {
		color:#333333;
      	font-size:1.250em;
        padding-bottom: 20px;
        font-weight:bold;
      }
      .content {
        font-size:1.083em;
        padding-bottom: 40px;
        color:#333333;
        font-weight:bold;
      }
      .header {
        padding-bottom: 8px;
        font-size: 1.167em;
        text-transform:uppercase;
        color:#666666;
        font-weight:bold;
      }
      .pickup {
        input {
          height:30px;
          line-height:30px;
          width:48px;
          margin-right:20px;
          font-size:1.250em;
        }
        button {
        	width:131px;
        	height:32px;
        	background:$blue;
        	font-weight:bold;
        	
        	&:hover {
        		color:#fff;
        	}
        }
        
        .error {
          font-size: 1.1em;
          color: $red;
          font-weight:400;
          margin-top:15px;
        }
      }
    }
  }
  .continue-to-checkout {
    display:inline-block;
    float:right;
    width:36%;
    margin: 20px 0 0 0;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
  }
}

.cart-coupon-code {
  padding:36px 25px 25px 25px;
  
  input[type="text"] {
    width: 198px;
    float: left;
    display: inline-block;
    padding:0;
    margin:0 12px 0 0;
    height:30px;
  }
  button {
  	width:78px;
  	background:$blue;
  	font-weight:bold;
  	float:right;
  	height:30px;
  	
  	&:hover {
  		color:#fff;
  	}
  }
  
  .error {
    margin-top:10px;
    font-size:1em;
    font-weight:400;
  }
}
.mattress-return {
  background: $textColor!important;
  color:white;
  a.dk_toggle {
    background: white;
  }
  .dk_container, select {
    float: left; 
    margin: 15px;
  }
  label {
    margin-left: 50px;
  }
}
 
.order-totals-table {
	color:#000;
	
  th { display: none; }
  td {
    padding: 5px 0;
    &.amount {
      text-align:right;
    }
  }
  .order-total {
    font-weight: 700;
  }
}
.order-totals-item { width: 60%; }
.order-totals-value { width: 40%; }

#secondary .order-totals-table .order-shipping a { display: none; }

.cart-action-checkout, 
.cart-action-continue-shopping { text-align: right; }

.cart-action-continue-shopping button.button-text { 
  line-height: 50px;
  padding-right: 1em;
}

.promo-adjustment { color: $red; }

ul.product-availability-list {
  margin: 0;
  padding: 0;
  li {
    list-style: none outside none;
    margin: 3px 0;
  }
  .on-order,
  .not-available {
    color: $red;
    font-size: 0.9em;
  }
}

.account-welcome {
  .welcome-message { 
      font: {
        style:italic;
        size: 1.2em;
        family: $latoFontFamily; 
      }
    }
  .not-user { margin: 10px 0; }
}
.cart-order-totals {
  padding:25px;
  font-size:1.2em;
}

