/*
 * widgets to do: refactor this when we get the rest of widgets figured out
 */
.widget {
  @include widgetStyle();
  &.recent-items {
    background-color: transparent;
    border: none;
    .content-asset {
      width: 100%;
      padding:0;
    }
    .title {
      background-color: $textColor;
      color: $white;
      padding: .3em;
      font: {
        size: 1.5em;
      }
    }
    li {
      clear: left;
      padding: 0 0 15px;
      margin:15px 0;
      border-bottom: 1px solid $gray;
    }
    a {
      padding:0;
      font-size: 1.3em;  
    }
    img {
      position:relative;
      float:left;
      right:auto;
      margin-right: 15px;
    }
  }
  &.button-title {
    min-height: 200px;
    max-width: 200px;
    a.button {
      position:absolute;
      right:0;
      bottom:10px;
      font-size: 14px;
      z-index:3;
    }
    img { 
      top:0;
      left:0;
      right:auto;
      bottom:auto;
      width:100%;
      height: auto;
      max-height:100%;
    }
  }
  &.col-1 {
    clear:left;
  }
  a { color: $accentColor; }
  .title {
    @include clearfix();
    margin-bottom: 5px;
    display: block;
  }
  img {
    position: absolute;
    bottom: 0;
    right: 2%;
    max-height: 95%;
    z-index:2;
  }
  .content-asset {
    width: 92%;
  }
}

.title {
  font: {
    size: 1.7em;
    family: $headingsFontFamily;
    }
}
.primary-section-divider {
  .widget .content-asset {
    width: 50%;
  }
}

#advantage-widget.widget {
  border:1px solid $grayDark;
  width: 250px;
  margin: 15px 0;
  padding: 25px;
  .content-asset {
    ul {
      margin: 15px 0;
      padding: 0;
      li {
        list-style: none;
        border-top: 1px solid $grayDark;
        padding: 15px 15px 15px 70px;
        margin: 15px 0;
        font-size: 16px;
        &:first-child { border-top: none; }
        background: url('../images/sprites_vert.png') no-repeat;
        &.returns { background-position: 1px -1623px; }
        &.lock { background-position: 13px -1572px; }
        &.ribbon { background-position: 10px -1512px; }
      } 
    }
    .title {
      font-size: 22px;
    }
  }
}
.pt_cart #advantage-widget.widget { 
  float:left; 
  margin-top: 30px;
}

#stay-in-the-know.widget {
  .share-bar {
    color:white;
  }
}
.primary-content #featured-content .widget {
  position:relative;
  width: 30%;
  padding: 2%;
  margin: 2%;
  img { position:relative;}
  &.pull-right { margin-right: 0; }
  &.pull-left {  margin-left: 0;  }
}

.secondary-navigation.widget   {
  background-color: transparent;
  border: none;
}

.fancyDate {
  background-color: $white;
  font-size: 30px;
  margin-top:2%;
  padding: 2%;
  color: $textColor;
  .dateDetail { 
    padding: 0;
    float: left;
    width: 85px;
    background-color:$accentColor;
    color: white;
    text-align:center;
  }
  .jobDetail {
    text-align:left;
    p {
      font-size: 12px;
      margin: -1%;
      float: right;
      display: block;
      width: 65%;
      padding: 0;
    }
  }
}