/* Smartphone and small window */ 
.amazon-btn {
    padding: 15px 0;
    text-align: center;
}
.amazon-btn .amazon-button{
	/*background-image: linear-gradient(to bottom, #f8e1ad, #eebf4c);
    border-radius: 3px;
    border: solid 1px #907023;
    height: 40px;
    box-sizing:border-box;
    position: relative;
    left: 1px;*/
}
.amazon-btn img {
	/*width: 100%;
	padding: 0;
	background: transparent;
	border-radius: 2px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0; */
}

.amazon-button:before {
	/*background: url(../images/amazon-pay-image.png) no-repeat center center;
	width: 100%;
	display: block;
	content: "";
	height: 40px;
	background-size: auto 65%;*/
}

@media only screen and (max-width:1199px){
	.amazon-button:before {
		background-size: auto 60%;
	}
}
@media only screen and (max-width:1023px){
	.amazon-btn img {padding: 0;}
	}
@media only screen and (max-width:767px){
	.amazon-btn img {
		padding: 0;
    	max-width: none;   
    	width:100%;
	}
	.amazon-button:before {
	    /*: url(../images/amazon-pay-image.png) no-repeat center center;
		width: 100%;
		display: block;
		content: "";
		height: 40px;
		background-size: auto 45%;*/
	}
}
.amazon-btn-right {
    clear: both;
    float: right;
}
@media only screen and (max-width:767px){
	.amazon-btn-right {
	    bottom: 0;
	    z-index: 222;
	    background: #fff;
	    padding: 0 5px !important;
	    right: 0;
	    bottom: 0;
	    box-sizing: border-box;
	} 
}


.amazon-item-list.item-list td.order-payment-summary {
    min-width: 160px;
}


#addressBookWidgetDiv .widget-container,
#consentWidgetDiv .widget-container,
#walletWidgetDiv .widget-container,
#addressBookWidgetDiv iframe,
#consentWidgetDiv iframe,
#walletWidgetDiv iframe {
    width: 100% !important;
}

#addressBookWidgetDiv,
#walletWidgetDiv {
    min-width: 280px;
    max-width: 600px;
    width: 100%;
    height: 235px;
    padding : 0 0 40px;
    margin-top:30px;
}
@media only screen and (max-width:767px){
	#addressBookWidgetDiv,
	#walletWidgetDiv {
    	margin-bottom: 0;
    	 height: 325px;
	}

}

#consentWidgetDiv {
    min-width: 300px;
    max-width: 600px;
    width: 100%;
    height: 140px;
    padding : 0 0 40px;
}

form legend {
    overflow: hidden; /* clearfix */
    clear: both;
}

.amazonheader {
    padding : 0 0 10px 0;
    margin : 0 0 0 -25px;
}

.amazonpopup {
    padding : 0 0 0px 50px;
    display: none;
}

/* .amazon-button {
    background-image: url(../images/amazon-pay.png);
    background-position-x: center;
    background-position-y: center;
    background-size: 160px;
    background-repeat: no-repeat;
    height: 35px;
    cursor: pointer;
    background-color: #F1C65E;
    padding: 12px 5px 5px;
    border: 1px solid #A58745;
    border-radius: 5px;
    
}
.amazon-button .amazonpay-button-inner-image {
    display: none;
} */

/* Ignore all the user actions when the button is disabled */
.amazon-button[disabled] {
    pointer-events: none;
    position: relative;
}

.amazon-button[disabled] img {
    opacity: 0.5;
}

.amazon-button[disabled]:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
}

.billing-form{
    display: none;
}

.payment-message {
    color: #990000;
    font-size: 1em;
    padding-bottom: 10px;
}

/* Desktop and tablet */
@media only screen and (min-width: 768px) {
    #addressBookWidgetDiv {
        width: 450px;
        height: 235px;
        padding : 0 0 10px 50px;
    }

    #walletWidgetDiv {
        width: 400px;
        height: 250px;
        padding : 0 0 40px 50px;
    } 

    #consentWidgetDiv {
        width: 400px;
        height: 140px;
        padding : 0 0 40px 50px;
    }
}

@media screen and (max-width: 959px) and (min-width: 768px) {
    .amazon-item-list.item-list td {
        padding: 1em 0.3em;
    }

    .primary-focus #secondary {
     
    }

}

.level-2 {z-index: 15}

