#mini-cart {
	.bonus-discount-container {
		display: none;
	}
}

.mini-cart-total {
	position: relative;
}
 
.mini-cart-link {
	display: block;
	text-align: center;
}

.minicart-icon {
	display: inline-block;
	width: 30px;
	height: 30px;

	.cart-icon {
		width: 30px;
		height: 30px;
	}
}

.minicart-quantity {
	position: absolute;
	top: -$g-size-4;
	right: -$g-size-4;
	background-color: $red;
	border-radius: 50%;
	height: 18px;
	width: 18px;
	color: $white;
	font-family: $r-bold;
	font-size: $font-size-xs;
	line-height: 17px;
	text-align: center;
}

@media screen and (-moz-os-version) {
  .mini-cart-total .mini-cart-link .minicart-quantity {
  	padding: 0px 0.5px 0 0px;
  }
}
.mini-cart-total {
	.mini-cart-empty {
		transition: color 500ms ease;
		&:hover {
			text-decoration: none;
		}
	}
}

.mini-cart-content {
	display: none;
	position: absolute;
	top: $g-size-60;
	z-index: 999;
	background-color: $white;
	box-shadow: 0 $g-size-1 $g-size-5 rgba(0, 0, 0, 0.3);
	width: 310px;
	padding: $g-size-16 0 $g-size-20;
	
	@include breakpoint(large up) {
		right: 0;
		width: 310px;
	}
	@include breakpoint(medium down) {
		display: none !important;
	}

	#mini-cart:hover & {
		display: block;
	}
}

.mini-cart-header {
	@include font-size($font-size-h5);
	@include line-height(16px);
	font-weight: $font-wt-bold;
	padding: 0 $spacing-4;
}

.mini-cart-products {
	padding: 0 0 0 $spacing-2;
	max-height: 450px;
	overflow: hidden;
}

.mini-cart-product {
	border-bottom: $border;
	overflow: hidden;
	padding: $spacing-4 $spacing-2;
	position: relative;
	&:first-child {
		padding-top: $spacing-3;
	}
	&:last-of-type {
		border: none;
	}
	&.collapsed {
		.mini-cart-name,
		.mini-cart-attributes,
		.mini-cart-pricing,
		.product-availability-list {
			width: 90%;
		}
		.mini-cart-image {
			display: none;
		}
	}
	.mini-cart-toggle {
		cursor: pointer;
		font-size: 1.5em;
		position: absolute;
		left: 0;
		top: 0;
	}
}

.mini-cart-image {
	float: left;
	width: 100px;
	padding: $g-size-2;
	box-sizing: border-box;
	margin-right: $spacing-2;
	img {
		width: 100%;
		height: auto;
	}
}

.mini-cart-name {
	float: right;
	width: 160px;
	margin: $g-size-4 0;

	a {
		@include link-footer;
	}
}
.mCustomScrollbar {
	.mini-cart-name,
	.mini-cart-attributes,
	.mini-cart-product .product-availability-list,
	.mini-cart-pricing
		{
		width: 137px;

	}
	.mini-cart-product {
		width: 270px;
	}
}
.mini-cart-attributes,
.mini-cart-product .product-availability-list {
	float: right;
	width: 160px;
}
.mini-cart-attributes,
.mini-cart-pricing {
	font-weight: $font-wt-regular;
	@include font-size($font-size-regular);
	@include line-height(18px);
	color: $color-primary;
	margin-bottom: $g-size-13;
	.label {
		font-weight: $font-wt-semibold;
	}
}

.mini-cart-pricing {
	clear: right;
	float: right;
	width: 160px;
	margin-bottom: 0;
	.label {
		&:after {
			display: none;
		}
	}
	.value {
		margin-right: $g-size-18;
	}
	.mini-cart-price {
		font-weight: $font-wt-bold;
	}
}

.mini-cart-content {
	.mini-cart-pricing {
		width: 137px;
		float: right;
		.value {
			margin-right: 0;
		}
		.col1 {
			float: left;
		}
		.col2 {
			float: right;
		}
	}
}

.mini-cart-totals {
	text-align: center;
	.button-wrapper {
		padding: 0 $spacing-4;
	}
}

.mini-cart-subtotals {
	padding: 0 $spacing-4;
	background-color: $light-gray-2;
	@include font-size($font-size-regular);
	@include line-height(50px);
	font-weight: $font-wt-bold;
	height: 50px;
	text-align: left;
	.value {
		float: right;
	}
}
.top-banner {
	.mini-cart-subtotals {
		padding: 0 $spacing-4;
	}
}
.mini-cart-link-cart {
	width: 100%;
}

.mini-cart-slot {
	margin: $spacing-3 0;
	text-align: center;
	.banner-wrapper {
		background-color: $golden-dream;
		padding: $spacing-2;
	}
	.banner-title {
		color: $color-secondary;
		@include font-size($font-size-extralarge);
		@include line-height(19px);
		font-weight: $font-wt-bold;
		margin-bottom: $g-size-7;
	}
	.banner-info {
		@include font-size($font-size-xs);
		@include line-height(15px);
		font-weight: $font-wt-regular;
	}
}

.mini-cart-link-checkout {
	clear: both;
	display: block;
	margin: 1em 0;
	text-align: center;
}
