.add-to-cart-intercept-wrapper {
	padding: 0 10px;
	& > .clearfix > div:nth-last-of-type(2) {
		@include respond(medium) {
			float: left;
			width: 42.24%;
			border-right: $border;
		}
	}
	.justaddedproduct {
		padding-bottom: 15px;
		.product-image {
			box-sizing: border-box;
			float: left;
			width: 43.75%;
			padding: 0 15px 0 0;
			@include respond(medium) {
				padding-top: 10px;
			}
		}
		.product-info {
			box-sizing: border-box;
			float: right;
			width: 56.25%;
			padding-right: 15px;
			@include respond(medium) {
			}
		}
		ul.product-availability-list {
			width: auto;
		}
		.product-name {
			margin-bottom: 10px;
			font-family: Montserrat;
			font-size: 20px;
			font-weight: 500 !important;
		}
		.product-options {
			margin-bottom: 15px;
		}
		.product-attributes {
			margin-bottom: 15px;
		}
		.label {
			font-family: Montserrat;
			font-size: 16px;
			font-weight: 500 !important;
		}
		.value {
			font-weight: 600;
			font-family: Montserrat;
    		font-size: 16px;
		}
		.price-standard {
			text-decoration: line-through;
			margin-left: 10px;
			@include respond (x-small-down) {
				    margin-left: 0px;
    				display: block;
			}
		}
		.Adjusted-Price {
			color: #d63426 !important;
			@include respond (x-small-down) {
				margin-left: 5px !important;
			    position: absolute;
			    margin-top: 0px !important;
			}
		}
		.product-price {
		    display: block;
   			margin-top: 15px;
			color: $black;
			font-weight: $font-wt-bold;
			width: fit-content;
			font-family: Montserrat;
			@include respond (x-small-down) {
				margin-left: 64px;
			    position: absolute;
			    margin-top: -17px;
			}
			&.Adjusted-Price {
				color: #ff6c5b !important;
				font-family: Montserrat;
				@include respond(large) {
					position: relative;
				    top: -34px;
				    left: 0px;
				    font-size: 16px;
				    font-weight: 600 !important;
				}
			}
			&.standard-price {
				color: $color-primary;
				font-weight: $font-wt-regular;
				position: relative;
				text-decoration: line-through;
				@include respond(large-down) {
					display: inline-block !important;
				}
				@include respond(large-up) {
					@include font-size(16px);
				}
				@include respond(large) {
					margin-left: 5px;
				    position: relative;
				    left: 65px;
				}
				@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
					text-decoration: none;
					&:after {
						top: 10px;
						border-bottom: 1px solid $color-primary;
						content: "";
						left: 0;
						margin-top: calc(0.125em / 2 * -1);
						position: absolute;
						right: 0;
						@include respond(large-up) {
							top: 12px;
						}
					}
				}
			}
			&.adjusted-price {
				color: #ff6c5b;
				font-weight: 600;
				margin-left: 5px;
				@include respond(large-up) {
					font-family: Montserrat;
  					font-size: 18px;
				}
				&:before {
					@include respond(large-up) {
						width: 1px;
						height: 15px;
						content: '';
						border-left: 1px solid $color-primary;
						display: inline-block;
						margin: 0 7px 0 3px;
						position: relative;
						top: 2px;
					}
				}
			}
		}
		.bonus-discount-container {
			margin-top: 15px;
			font-weight: $font-wt-semibold;
			color: $color-secondary;
			@include font-size($font-size-sm);

		}
	}
	.add-to-cart-intercept-slot {
		@include respond(large-up) {
			max-width: 299px;
		}
		padding: 20px 0;
		p {
			padding: 0;
			margin: 0;
		}
	}
	.justaddedproduct-wrapper ~ .product-recommendations {
		padding: 0;
		box-sizing: border-box;
		@include respond(medium) {
			float: right;
			width: 55.05%;
			margin-top: -60px;
		}
		ul,
		li {
			margin: 0;
			padding: 0;
			list-style: none;
			display: block;
		}
		.recommendations {
			@include respond(medium) {
				padding-left: 10px;
				border-left: $border;
				margin-left: -5%;
				margin-top: 21px;
			}
		}
		h2 {
			text-align: left;
			@include font-size(18px);
			color:$night-rider;
			@include line-height(18px); 
			margin-bottom: 4px;
			position: relative;
			z-index: 100;
			margin-top: 0;
		}
		.recommendation-item {
			padding: 20px 0;
			border-bottom: $border;
			@extend .clearfix;
			&:last-child {
				border-bottom: none;
			}
		}
		.product-image {
			box-sizing: border-box;
			float: left;
			width: 27.5%;
			padding: 0 10px 0 0;
			margin-bottom: 20px;
			@include respond(medium) {
				margin-bottom: 0;
			}
			img {
				border: $border;
				box-sizing: border-box;
				display: block;
			}
		}
		.block {
			text-align: left;
			@include respond(medium) {
				float: left;
				width: 36.25%;
				box-sizing: border-box;
			}
			&.block-left {
				padding-right: 10px;
				width: 37.25%;
			}
			&.block-right {
				clear: both;
				width: 35.25%;
				@include respond(medium) {
					clear: none;
				}
			}
			button {
				width: 100%;
			}
			.information-icon {
				display: none;
			}
		}
		.product-name {
			padding: 0;
			@include font-size(14px);
		}
		.inventory {
			display: none;
		}
		.label {
			display: none;
		}
		.attribute {
			margin-bottom: 20px;
		}
		.product-name {
			margin-top: 5px;
			a {
				//@include block-product-name;
				text-decoration: none;
			}
		}
		.product-price {
			padding: 8px 0 0 0;
			margin: 0;

		}
		.product-variations .attribute .value,
		.product-options .attribute .value {
			width: 100%;
			max-width: none;
		}
		.add-to-cart-resp {
			color: $jewel;
			font-style: italic;
			text-align: center;
			@include line-height(23px);
			display: block;
			margin-top: 2px;
		}
		.priceWrapper {
			text-align:right;
			margin:10px 40px 0 0;
			.price-sales {
				color: $color-primary;
				&.price-sales-more {
					color: $color-secondary;
				}
				@include respond(large-up) {
					@include font-size(14px);
					font-weight: $font-wt-bold;
				}
			}
			.price-standard {
				color: $color-primary;
				font-weight: $font-wt-regular;
				position: relative;
				margin-right: 5px;
				text-decoration: line-through;
				@include respond(large-up) {
					@include font-size(14px);
				}
				@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
					text-decoration: none;
					display: inline-block;
					&:after {
						top: 14px;
						border-bottom: 1px solid $color-primary;
						content: "";
						left: 0;
						margin-top: calc(0.125em / 2 * -1);
						position: absolute;
						right: 0;
						@include respond(large-up) {
							top: 12px;
						}
					}
				}
			}
		}
		.price-tiered {
			color: $sangria;
			font-size: .6em;
			line-height: 1.5em;
		}
		.product-sales-price {
			color: $color-secondary;
			@include respond(large-up) {
				@include font-size(14px);
			}
		}
		.product-standard-price {
			@include respond(large-up) {
				@include font-size(14px);
				font-weight: $font-wt-bold;
			}
		}
		.has-sale-price {
			font-weight: $font-wt-regular;
			position: relative;
			display: inline-block !important;
			text-decoration: line-through;
			@include respond(large-up) {
				@include font-size(14px);
			}
			@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
				text-decoration: none !important;
				display: inline-block !important;
				&:after {
					top: 14px;
					border-bottom: 1px solid $color-primary;
					content: "";
					left: 0;
					margin-top: calc(0.125em / 2 * -1);
					position: absolute;
					right: 0;
					@include respond(large-up) {
						top: 12px;
					}
				}
			}
		}
	}
	.button-wrapper {
		text-align: right;
		padding-top: 20px;
		margin-top: 10px;
		clear: both;
		@include respond(medium) {
			margin-top: 0;
		}
		a {
			width: 100%;
			@include respond(medium) {
				vertical-align: middle;
				display: inline-block;
				margin-left: 32px;
				width: auto;
			}
			&.button {
				width: 100%;
				float: right;
				border-radius: 20px;
  				background-color: #1e75a0;
  				font-family: Montserrat;
				font-size: 15px;
				font-weight: 500;
				@include respond(medium) {
					width: 255px;
					border-radius: 20px;
  					background-color: #1e75a0;
  					font-family: Montserrat;
					font-size: 15px;
					font-weight: 500;
					text-transform: none;
				}
			}
			&.continue {
				font-family: Montserrat;
			    font-size: 16px;
			    font-weight: normal;
			    color: #1e75a0;
			    font-style: normal;
			    text-decoration: none;
				@include line-height(36px);
				float: right;
				text-transform: none;
			}
		}
	}
}

.add-to-cart-intercept-dialog {
	z-index: 100001;
	@include respond(large-only) {
		width: 98% !important;
	}
	.ui-dialog-content {
		overflow: visible;
	}
	.ui-dialog-title {
		line-height: 26px;
		margin-top: 7px;
		text-transform: none;
	    font-family: Montserrat;
	    font-size: 24px;
	    font-weight: 600;
	}
	.ui-icon-closethick {
		background-image: none;
	}
	.ui-dialog-titlebar-close {
		right: 8px;
		.ui-icon-closethick {
			background-image: url("../images/interface/sprite.png");
			background-repeat: no-repeat;
			background-position: -33px -189px;
		}
	}
	
	.product-recommendations {
		display: none;
		@include respond(large-up) {
			display: block;
		}
	}
}