@import "tabs";
@import "expand";
#product-nav-container {
	overflow: hidden;
	position: absolute;
	right: 0;
	width: 160px;
	div {
		float: left;
		text-align: center;
		width: 77px;
	}
	img {
		max-height: 100%;
		max-width: 80%;
	}
	span {
		display: block;
		height: 65px;
	}
	.divided span {
		border-right: 1px solid $gainsboro;
		padding-right: 5px;
	}
}
.pdp-main {
	@extend %clearfix;
	font-family: $sans-serif-alt;
	margin: 0 1%;
	@include respond(large-up) {
		margin: 0;
	}
	.pdp_order {
		overflow: auto;
		@include line-height(20px);
		padding-bottom: 17px;
		.pdp_order_title {
			@include font-size($font-size-regular);
			font-weight: $font-wt-regular;
			text-align: center;
			color: $night-rider;
			padding: 10px 0px 10px 0px;
		}
		.pdp_order_shipping {
			float:left;
			margin-top:10px;
			width:100%;
			img {
				max-width: 100%;
    			vertical-align: bottom;
			}
			.pdp_order_ctg_shipping {
				font-family: Montserrat;
				font-size: 16px;
				font-weight: bold;
				text-align: left;
				color: $night-rider;
				vertical-align: -webkit-baseline-middle;
				margin-left:5px;
			}
			.availability-arrive {
				@include font-size($font-size-xs);
				font-weight: $font-wt-bold;
				text-align: left;
				color: $jewel;
			}
			.details {
				@include font-size($font-size-xs);
				text-align: left;
				color: $night-rider;
				margin: 0;
				font-style: normal;
			}
			label {
				font-weight: normal;
				color: $night-rider;
				display: block;
				@include font-size($font-size-xs);
				float:left;
				font-family: Montserrat;
    			font-size: 14px;
    			@include respond(large-down) {
					display: none;
				}
			}
			#pdp-delivery-zip {
				color: #333030;
				font-size: 20px;
				width: 72px !important;
			}
			button {
				background-color: #1e75a0;
				    font-size: 14px;
			}
			.availability-msg {
				display: block;
				p {
					@include font-size($font-size-xs);
					margin-bottom: 0;
					margin-top: 5px;
					@media screen and (min-width: 412px) {
						margin-left:3px;
						display: inline;
						font-family: Montserrat;
    					font-size: 14px;
    					font-weight: normal;
					}
				}
				a.details {
					color: #1e75a0;
					font-family: Montserrat;
    				font-size: 14px;
    				text-decoration: none;
				}
			}
		}
		.storeaddress {
			font-weight: $font-wt-bold;
		}
		.pdp_order_pickup {
			float:right;
			max-width:40%;
			.pdp_order_address {
				width: 131px;
				@include font-size($font-size-regular);
				font-weight: $font-wt-bold;
				line-height: 1.29;
				text-align: left;
				color: $night-rider;
			}
			.edit {
				@include font-size($font-size-xs);
				text-align: left;
				color: $night-rider;
			}
			.pdp_order_ctg_location {
				@include font-size($font-size-regular);
				font-weight: $font-wt-bold;
				text-align: left;
				color: $night-rider;
				vertical-align: -webkit-baseline-middle;
			}
			.select-your-store-to {
				width: 131px;
				@include font-size($font-size-regular);
				line-height: 1.29;
				text-align: left;
				color: $night-rider;
			}
			.select_store {
				@include font-size($font-size-xs);
				text-align: left;
				color: $night-rider;
			}
		}
	}
	ul {
		list-style: none;
		margin: 5px 0 0 0;
		padding: 0;
		@include respond(medium) {
			margin: 1px 0 0 0px;
		}
	}
	label {
		padding: 0;
		text-align: left;
		width: auto;
		display: inline-block;
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 600;
	}
	.top-bar {
		@extend %clearfix;
		.product-price {
			margin: 0;
			text-align: left;
			clear: both;
			display: block !important;
			@include respond(large-up) {
				float: right;
				text-align: right;
				clear: none;
				display: none !important;
			}
			span {
				display: block;
				@include font-size(18px);
				@include respond(large-up) {
					@include font-size(25px);
				}
			}
			.has-sale-price {
				@include font-size(15px);
				@include respond(large-up) {
					@include font-size($font-size-mobile-h2);
				}
			}

		}
		.product-price {
			span {
				float: left;
			}
			.product-standard-price {
				clear: left;
				float: left;
				display: inline-block;
				@include respond(large-up) {
					float: right;
				}
				&.has-sale-price {
					text-decoration: line-through;
					@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
						text-decoration: none;
						&:after {
							top: 12px;
							@include respond(large-up) {
								top: 19px;
							}
						}
					}

				}
			}
			.product-sales-price {
				&:before {
					border-left: 0;
				}
			}
			.price-standard {
				clear: left;
				@include font-size(15px);
				@include respond(large-up) {
					float: right;
					@include font-size($font-size-mobile-h2);
				}
				@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
					text-decoration: none;
					&:after {
						top: 14px;
						@include respond(large-up) {
							top: 19px;
						}
					}
				}
			}
		}
	}
	.product-topbar {
		padding-bottom: 1em;
		border-bottom: solid 1px #cecece;
		@include respond(large-down) {
			border: none;
		}

		.product-logo {
			margin: 0 0 10px 0;
			width: 140px;
			height: 55px;
			text-align: center;
			@include respond(large-up) {
				float: left;
				margin: 0 20px 0 0;
			}
			img {
				max-width: 140px;
				max-height: 55px;
			}
		}
	}
	.product-content-financing-mob {
		display: none !important;
		@include respond(large-down) {
			display: block !important;
			li {
				width: 80% !important;
			}
			img {
				margin-top: 8px !important;
			}
		}
	}
	.product-col-1 {
		margin-top: 1em;
		@include respond(medium) {
			width: 50%;
    		float: left;
		}

		@include respond(large) {
			width: percentage(500/1180);
		}
	}
	.product-col-2 {
		margin-top: 1em;
		@include respond(medium) {
			float: right;
			width: 48%;
		}
		@include respond(large) {
			width: percentage(646/1180);
		}
		@include respond(large-up) {
			margin-top: 0;
		}
		.price-standard {
			margin-top: 0;
		}
		.price-sales-more {
			color: #ff6c5b !important;
			font-family: Montserrat;
			font-size: 20px;
			font-weight: 600 !important;
		}
	}
	.product-name {
		margin-bottom: .3rem;
		margin-top: 0;
		@include h3();
		text-transform: none;
	}
	.product-number {
		color: $black;
		@include font-size(12px);
		@include line-height(20px);
		margin-bottom: .6rem;

		@include respond(large-up) {
			margin-bottom: 0;
			@include font-size(13px);
			@include line-height(20px);
		}
	}
	.top-title {
		@include respond(large-up) {
			width: 100%;
			float: none;
		}
	}
	.product-price {
		margin-bottom: .5em;
		font-family: Montserrat;
		@include block-sale-price;
		color: $black;
		@include respond(large-down) {
			display: none !important ;
		}
		.price-sales {
			color: $color-primary;
			font-weight: $font-wt-bold;
			@include respond(large-down) {
				display: inline-block !important;
			}
			&.price-sales-more {

			}
			@include respond(large-up) {
				@include font-size(16px);

			}
			&.price-range {
				@include respond(large-down) {
					display: block !important;
				}
			}
		}
		.price-standard {
			font-size: 14px;
			  font-weight: normal;
			  color: #333030;
			@include respond(large-down) {
				display: inline-block !important;
				}
			@include respond(large-up) {
				@include font-size(14px);
			}
			@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
				    text-decoration: line-through !important;
				     font-size: 14px;
  					font-weight: normal;
				&:after {
					top: 12px;
					content: "";
					left: 0;
					margin-top: calc(0.125em / 2 * -1);
					position: absolute;
					right: 0;
					@include respond(large-up) {
						top: 18px;
					}
				}
			}
			&.price-standard-hidden {
				display: none;
			}
		}
		.price-tiered {
			color: $sangria;
			font-size: .6em;
			line-height: 1.5em;
		}
		.product-sales-price {
			color: $color-secondary;
			font-weight: $font-wt-bold;
			@include respond(large-up) {
				@include font-size(16px);
			}
			&:before {
				@include respond(large-up) {
					width: 1px;
					height: 15px;
					content: '';
					border-left: 1px solid $color-primary;
					display: inline-block;
					margin: 0 7px 0 3px;
					position: relative;
					top: 2px;
				}
			}
		}
		.product-standard-price {
			@include respond(large-up) {
				@include font-size(16px);
				font-weight: $font-wt-bold;
			}
		}
		.has-sale-price {
			font-weight: $font-wt-regular;
			position: relative;
			display: inline-block !important;
			text-decoration: line-through;
			@include respond(large-up) {
				@include font-size(16px);
			}
			@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
				text-decoration: line-through;
			}
		}

	}
	.product-review {
		@extend %clearfix;
		margin-bottom: .5rem;
	}
	.product-main-attributes {
		.attribute {
			padding: .2em 0;
		}
		.label {
			padding: 0;
		}
	}
	.product-primary-image {
		max-width: 100%;
		text-align: center;
	}
	.recommendation {
		font-family: Montserrat;
  		font-size: 20px;
		font-weight: bold;
		color: #1e75a0;
		text-align: left;
		margin-left: 35px;
		padding-top: 0px;
		@include respond(large-down) {
			margin-left: 0px;
			color: black;
		}
		@include respond(large-only) {
			margin-left: 15px;
			color: black;
		}
	}
	.pdp_recomm-prod-anchor {
		@include respond(large) {
			padding-bottom: 80px;
		}
		@include respond(large-down) {
			padding-bottom: 50px;
		}
		b {
			display: none;
		}
		.slick-arrow {
			@include respond(large-only) {
				display: none !important;
			}
		}
		.product-pricing {
			span {
				text-align: center;
			}
		}
		.product-carousel-card-btn {
			@include respond(large-down) {
				display: none;
			}
			@include respond(large-only) {
				display: none;
			}
			a.btn {
				 background-color: #1e75a0;
			}
		}
	}
	.product-info {
		clear: both;
		padding-top: 1.3em;
		margin-top: 30px;

		// Height for PDP Tabs
		@include respond(large-up) {
			float: left;
			width: 100%;
			margin-top: 30px;
			padding: 35px 0 0;
			margin-bottom: 20px;
		}
		ul {
			font-size: .8rem;
			list-style-type: disc;
			list-style-position: inside;
			padding: 0;
			@include respond(large-up) {
				padding-bottom: 1em;
				padding-top: 1em;
			}
		}
	}
	// Product Add to Cart Area (Availability, Quantity)
	.product-add-to-cart {
		display: block;
		margin: 0;
		overflow: hidden;
		padding-top: 4px;
		.inventory {
			float: left;
			white-space: nowrap;
			@include respond(large-down) {
				width: 100px;
			}
			@include respond(small-updated) {
				width: 80px;
			}
			label {
				display: block;
    			margin: -22px 0px 5px 0px;
				float: none;
				text-align: left;
				text-transform: none;
				padding-right: 10px;
				@include font-size($font-size-sm);
			}
			.selector {
				.quantity-dropdown {
					border-radius: 0px;
					@include respond(large) {
						border-radius: 0px;
					}
				}
			}
			input {
				@include font-size($font-size-sm);
				height: 36px;
				width: 50px;
				margin-right: .4em;
				text-align: center;
				@include respond(medium) {
					height: 40px;
					width: 40px;
				}
				@include respond(large) {
					height: 40px;
					width: 50px;
				}
			}

			@include respond(large-up) {
				width: 106px;
				max-width: 106px;
			}
			.quantity {
				div.selector {
					width: 100% !important;
					@include respond(large-up) {
						width: 100% !important;
					}
				}
			}
		}
		#personaliMakeAnOffer, #add-to-cart {
			float: none !important;
			margin-left: 16px;
			text-transform: none;
			@include respond(large-only) {
				border-radius: 20px;
    			background-color: #1e75a0;
    			font-family: Montserrat;
			    font-size: 15px;
			    font-weight: 500;
			}
		}
		button, #personaliMakeAnOffer {
			float: right;
			font-weight: 600;
			max-height: 40px;
			white-space: nowrap;
			width: 50%;
			line-height: 40px;
			@include font-size($font-size-regular);

			@include respond(medium) {
				width: 70%;
			}
			@include respond(large-up) {
				@include font-size($font-size-mobile-h4);
			}
			&.add-all-to-cart {
				width: auto;
			}

			@include respond(large-only) {
				max-width: 235px;
			}

			@include respond(large) {
				max-width: 255px;
			}

			@include respond(x-large) {
				max-width: 290px;
				border-radius: 20px;
    			background-color: #1e75a0;
    			font-family: Montserrat;
    			font-size: 15px;
    			font-weight: 500;
			}
			@include respond(large-down) {
			    border-radius: 20px;
			    background-color: #1e75a0;
			    font-family: Montserrat;
			    font-size: 15px;
			    font-weight: 500;
			    width: 214px;
			}
			@include respond(small-updated) {
				width: 198px;
			}
		}
		.product-price {
			span {
				display: block;
				font-family: Montserrat;
				&.price-standard {
					@include respond(large-up) {
						width: fit-content;
	    				float: right;
     					margin-right: 115px;
					}
					@include respond(large-only) {
     					margin-right: 65px;
					}
				}
				&.price-sales {
					&.price-sales-more {
						color: #ff6c5b;
						@include respond(large-up) {
							width: fit-content !important;
						    float: right;
						    margin-right: 5px;
						    color: #ff6c5b;
						    &:before {
						    	display: none;
						    }
						}
					}
				}
				@include respond(large-up) {
					text-align: right;
				    width: 42%;
				    margin: 0 auto;
				}
				&.price-range {
					@include respond(large-up) {
						display: none !important;
					}
				}
			}
		}
	}
	.promotion {
		background-color: $white-smoke;
		border-top: 1px solid #ccc;
		overflow: hidden;
		padding: 1.5em;
		.promotion-title {
			font-weight: bold;
			margin-bottom: .3rem;
			text-transform: uppercase;
		}
		.promotion-callout {
			color: $rain-forest;
			font-size: 1rem;
			.tooltip {
				font-size: .7rem;
				margin-left: .2rem;
			}
		}
	}
	.product-actions {
		@extend %clearfix;
		padding: 1em 0;
		@include respond(medium) {
			padding: 11px 0;
		}
		.socialsharing {
			float: left;
			margin-right: 1rem;
			padding-top: .8em;
			border-top: 1px solid #cecece;
			@include respond(large-up) {
				margin-right: 0;
				padding-top: 1.2em;
			}
		}
		a {
			margin-right: .1rem;
		}
	}
	// Product Set Display
	.product-set {
		.product-set-list {
			border-top: 1px solid $very-light-gray;
			.product-set-details {
				float: left;
				padding-left: .5rem;
				width: 75%;
			}
			.product-set-item {
				clear: both;
				overflow: hidden;
				padding: 1em 0 0;
			}
			.product-set-image {
				float: left;
				width: 22%;
				img {
					width: 100%;
				}
			}
			.product-name {
				float: none;
				font-size: 1.3em;
				margin-bottom: 0;
				width: auto;
			}
			.product-price {
				font-size: 1rem;
				margin: .5em 0;
			}
			.attribute {
				h3 {
					width: 25%;
				}
				.label {
					width: 25%;
					white-space: nowrap;
				}
			}
		}
		.product-add-to-cart {
			border-top: none;
			padding-top: 0;
			label {
				float: left;
				font-size: .75rem;
				padding-top: .3em;
				padding-right: .5em;
			}
			.availability-web {
				label {
					float: none;
					@include font-size($font-size-sm);

				}
				a.details {
					margin-left:10px;
				}
			}
		}
	}
	// Product Recommendations
	.recommendations {
		clear: left;
		padding: 0 0 1.5em;
		@include respond(lagre-up) {
			padding: 0;
		}

		.recommendation-tooltip {
			background: none repeat scroll 0 0 $white;
			border: 1px solid;
			left: 50%;
			position: absolute;
			text-align: left;
			top: 50%;
			width: 300px;
			z-index: 100;
		}
		h2 {
			font-size: 2em;
			font-style: italic;
			font-weight: $font-wt-regular;
			margin-left: 14px;
		}
		ul {
			list-style-type: none;
			position: relative;
			width: 2000em;
		}
		li {
			float: left;
			width: 240px;
			box-sizing: border-box;
			margin-right: 20px;
			border: $border;

			@include respond(medium) {
				width: 236px;
			}

			@include respond(x-large) {
				width: 280px;
			}

			&:last-child {
				margin-right: 0;
			}
		}
		.product-tile {
			padding: 0;
		}
		.product-name {
			font-size: 1em;
			margin: .2em 0;
			width: 100%;
			box-sizing: border-box;
		}
		.product-price {
			font-size: 1em;
			text-align: left;
			padding: 0 10px 0 10px;
		}
		.jcarousel-clip {
			margin: auto;
			overflow: hidden;
			width: 300px;
		}
		.jcarousel-nav {
			cursor: pointer;
			position: absolute;
			top: calc(50% - 21px);
			// half height of button
			border: $border;
			background: $concrete;
			width: 42px;
			border-radius: 20px;
			color: $black;
			box-sizing: border-box;
			text-decoration: none;

			&.inactive {
				display: none;
			}

		}
		.jcarousel-prev {
			left: 20px;

			i:before {
				margin-right: 4px;
			}
		}
		.jcarousel-next {
			right: 20px;
			i:before {
				margin-left: 4px;
			}
		}
		.product-tile:hover .recommendation-tooltip {
			display: block !important;
		}
	}
	.add-to-cart-container {
		@include clearfix;
		box-sizing: border-box;
		background: $concrete;
		padding: 20px;
		border-top: $border;
		border-bottom: $border;
		margin: 15px 0;
		float: left;
		width: 100%;

		@include respond(large-up) {
			padding: 10px 0;
			border: 0;
			background: none;
			margin-top: 0;
			margin-bottom: 0;
			float: none;
			width: auto;
		}
		@include respond(large-down) {
			background: white;
			border: none;
			padding-left: 0px;
			padding-right: 0px;
		}
		@include respond(small-updated) {
			padding-right: 0px;
		}
	}

	.socialsharing {
		width: 100%;
		margin: 0;
		box-sizing: border-box;
		.share-icon {
			color: $black;

			i {
				font-size: 0 !important;
			}
		}
		.share-icon-wish {
			display: none;
		}

	}

	.product-recommendations {
		.cross-sell {
			margin-top: 12px;

		}

		@include respond(large-up) {
			float: left;
			h2 {
				margin-top: 0;
			}
		}

		.product-pro-picks {
			margin: 0;
			h1 {
				margin-bottom: 0;
			}
		}
	}
	.omni-channel-container {
		border-top: 1px solid #cecece;
		padding-bottom: 3px;
		p {
			margin: 12px 0 8px 0;
			@include respond(medium) {
				margin: 12px 10px 8px 0;
			}
		}
		ul {
			float: left;
			width: 100%;
			margin: 0;
			padding-top: 0;

		}
		li {
			float: left;
			margin-bottom: 6px;
			list-style: none;
			p {
				padding: 0;
				margin: 0;
			}
			&.phone-icon {
				width: fit-content;
				margin-left: 35px;
			}
			&.chat-icon {
				width: 40%;
				@include respond(large-down) {
					width: auto;
				}
			}
			&.try-in-store {
				p {
					&:before {
						background: url(../images/interface/sprite.png) no-repeat -15px -218px;
						width: 11px;
						margin: 0 10px 0 4px;
					}

				}
			}
			&.make-an-appoitment {
				p {
					&:before {
						background: url(../images/interface/sprite.png) no-repeat 0px -236px;
						width: 17px;
						margin: 0 5px 0 1px;
					}

				}
			}

			a, .pdp-sleppys-call {
				@include font-size(12px);
				@include line-height(30px);
				font-weight: $font-wt-semibold;
				text-decoration: none;
				color: $color-primary;
			}
		}
	}
}

.main-image {
	display: block;
}

.primary-image {
	max-width: 100%;
}

.product-thumbnails {
	ul {
		@extend %clearfix;
	}
	// thumbnail
	.thumb {
		border-bottom: 5px solid $white;
		float: left;
		margin-right: .5rem;
		padding-top: 1px;
		width: 3.4375rem;
		&.selected {
			border-color: $citrus;
		}
	}
	// thumbnail image
	img {
		border: 1px solid $very-light-gray;
		box-sizing: border-box;
		cursor: pointer;
		max-width: 100%;
		height: auto;
	}
	h2 {
		margin: 1rem 0 .3rem;
	}
}

.rating {
	color: $rain-forest;
	.product-info & {
		font-size: 2em;
	}
}

.product-variations,
.product-options {
	.attribute {
		margin: 0;
		padding: 7px 0 5px 0;
		position: relative;
		@include respond(large-up) {
			padding: 12px 0 3px 0;
			margin: 0;
		}
		h3,
		.label {
			font-weight: bold;
			margin: 0;
			padding-bottom: 4px;
			@include respond(large-up) {
				padding-bottom: 4px;
			}
			.selected-attr-value {
				font-weight: $font-wt-regular;
				display: none;
			}
		}
		.value {
			width: 413px;
    		max-width: 413px;
			padding-right: 35px;
			position: relative;
			@include respond(large-down) {
				max-width: 315px !important;
			}
			@include respond(small-updated) {
				max-width: 265px !important;
			}
			@include respond(large-only) {
				max-width: 325px !important;
			}
			select.product-option {
				padding-right: 27px;
			}
			.selector select, .selector {
				width: 100% !important;
			}
		}

		.tooltip {
			width: 25px;
			height: 25px;
			background: url(../images/interface/sprite.png) no-repeat -149px -246px;
			margin: 0;
			position: absolute;
			right: 0px;
			top: 5px;
		}

		ul {
			float: right;
			width: 100%;
		}
		.selected-value {
			border: 0 none;
			color: $citrus;
			font-weight: bold;
			padding: 1.3em 0 0 .4em;
			text-transform: uppercase;
			@media screen and (min-width: 768px) {
				padding-top: .8em;
			}
		}
		.size-chart-link {
			clear: both;
			float: none;
			a {
				border-color: $white !important;
				padding: 0;
			}
		}
	}
	.swatches li {
		float: left;
		&:hover,
		&.selected {
			a {
				border-color: $citrus;
			}
		}
		&.unselectable {
			a {
				color: $gainsboro;
				opacity: .8;
			}
			&:hover {
				a {
					border-color: $gainsboro;
				}
			}
		}
		a {
			border-color: $gainsboro;
			border-style: solid;
			border-width: 1px 1px 3px;
			display: block;
			line-height: 3.5;
			min-height: 2.625rem;
			min-width: 2.625rem;
			margin: 0 .5rem .5rem 0;
			padding: 1px;
			text-align: center;
			white-space: nowrap;
			@include respond(large-up) {
				line-height: 2.7;
				min-height: 2rem;
				min-width: 2rem;
			}
		}
	}
	.color li {
		a {
			line-height: 0;
			width: 2.625rem;
			height: 2.625rem;
			@include respond(large-up) {
				width: 2rem;
				height: 2rem;
			}
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	select {
		background-color: $white;
		border: solid 1px #9a9898;
		border-radius: 0;
		height: 42px;
		width: 100%;
		margin-left: 0;
		@include respond(large-up) {
			height: 32px;
		}
	}
}

.product-info {
	// Tabs using just CSS, no javascript required
	.tab-block-title, .block-subtext-below-title {
		text-align: center;
		display: none;

	}

	.tab-block-title {
		margin-bottom: 0;
		text-transform: uppercase;
		@include font-bold();
		color: $darkblue1800;
		@include respond(large-down) {
			@include font-size(20px);
			@include line-height(20px);

		}
		@include respond(large-only) {
			@include font-size(22px);
			@include line-height(22px);
		}
	}


	.block-subtext-below-title {
		margin: 0 0 1em;
		color: $black;
	}
}
.tabs {
	position: relative;
	text-align: center;
	margin-bottom: 25px;
	@include respond(large-up) {
		margin-bottom: 0;
		margin-top: 30px;
		min-height: 40px;
	}
}
.tab {
	width: 100%;
	.tab-switch {
		display: none;
		&:checked {
			+ .tab-label {
				@include respond(large-up) {
					border-bottom: 4px solid $darkblue1800;
					color: $black;
					font-weight: $font-wt-semibold;
					z-index: 3;
					opacity: 1;
				}
			}
			& ~ label {
				background-position: calc(100% - 20px) -25px;
				border-bottom: 1px solid $primary-border-color;
			}
			& ~ .tab-content {
				max-height: 9999999px;
				@include respond(large-up) {
					padding-top: 36px;
				}
			}

			@include respond(large-up) {
				+ label + .tab-content {
					opacity: 1;
					z-index: 2;
				}
			}
		}
	}
	.tab-label {
		height: 40px;
		line-height: 40px;
		padding: 0 10px;
		margin: 0;
		cursor: pointer;
		border-top: 1px solid $primary-border-color;
		text-transform: uppercase;
		text-align: center;
		background: url("../images/interface/footer_arrows.png") no-repeat calc(100% - 20px) 15px;
		@include paragraph-head;
		@include respond(large-down) {
			width: 100%;
			box-sizing: border-box;
			text-transform: none;
			text-align: left;
			@include font-size($font-size-mobile-h5);
			line-height: 35px;

		}
		&:focus {
			font-weight: $font-wt-semibold;
			color: $black;
			border-bottom-color: $darkblue1800;
		}
		&:first-child {
			border: 0;
		}

		@include respond(large-up) {
			height: 36px;
			border-bottom: 4px solid $dove-gray;
			border-top: 0;
			color: $dove-gray;
			display: block;
			font-weight: 400;
			line-height: 2.5em;
			margin-bottom: 0;
			position: absolute;
			text-transform: none;
			top: 0;
			cursor: pointer;
			background: none;
			z-index: 3;
			&:hover {
				font-weight: $font-wt-semibold;
				color: $black;
				border-bottom-color: $darkblue1800;
			}
		}
	}
	.tab-content {
		@extend %clear_list;
		margin-top: -1px;
		overflow: hidden;
		max-height: 0;
		position: relative;
		width: 100%;
		z-index: 10;
		@include respond(large-up) {
			opacity: 0;
			transition: none;
			width: 100%;
		}
	}

	.tab-content-wrapper {
		padding: 15px 10px;
		text-align: left;

		@include respond(large-up) {
			padding: 30px 8.4745% 30px 8.4745%;
		}
	}

	@include respond(medium) {
		$tab-label-width: 160px;
		$tab-side-padding: 20px;

		.tab-label {
			width: $tab-label-width;
			padding: 0 $tab-side-padding 0 $tab-side-padding;
		}

		/* two tabs first item*/
		&:first-child:nth-last-child(2) {
			.tab-label {
				left: 150px;
			}
		}
		/* two items second item */
		&:first-child:nth-last-child(2) ~ & {
			.tab-label {
				right: 150px;
			}
		}

		/* three tabs first items */
		&:first-child:nth-last-child(3) {
			.tab-label {
				left: 33px;
			}
		}
		/* three tabs last item */
		&:first-child:nth-last-child(3) ~ &:last-child {
			.tab-label {
				left: 514px;
			}
		}

		&:first-child:nth-last-child(3) ~ & {
			.tab-label {
				right: 274px;
			}
		}
	}

	@include respond(large) {
		$tab-label-width: 200px;
		$tab-side-padding: 20px;

		.tab-label {
			width: $tab-label-width;
			padding: 0 $tab-side-padding 0 $tab-side-padding;
		}

		/* two tabs first item*/
		&:first-child:nth-last-child(2) {
			.tab-label {
				left: 235px;
			}
		}
		/* two items second item */
		&:first-child:nth-last-child(2) ~ & {
			.tab-label {
				right: 235px;
			}
		}

		/* three tabs first items */
		&:first-child:nth-last-child(3) {
			.tab-label {
				left: 180px;
			}
		}
		/* three tabs last item */
		&:first-child:nth-last-child(3) ~ &:last-child {
			.tab-label {
				left: 760px;
			}
		}

		&:first-child:nth-last-child(3) ~ & {
			.tab-label {
				right: 471px;
			}
		}
	}

	@include respond(x-large) {
		$tab-label-width: 200px;
		$tab-side-padding: 20px;

		.tab-label {
			width: $tab-label-width;
			padding: 0 $tab-side-padding 0 $tab-side-padding;
		}

		/* two tabs first item*/
		&:first-child:nth-last-child(2) {
			.tab-label {
				left: 325px;
			}
		}
		/* two items second item */
		&:first-child:nth-last-child(2) ~ & {
			.tab-label {
				right: 325px;
			}
		}

	}
	.first-tab-left {
		width: 100%;
		@include respond(large-up) {
			float: left;
			width: 72.322%;
		}
		.product-description {
			p {
				margin: 0;
				padding: 0 0 25px 0;
				@include font-size($font-size-regular);
			}
		}
		.product-group-list {
			padding: 0;
			margin: 0;
			.product-group-item {
				list-style: none;
			}
			ul {
				padding: 10px 0 0 0;
			}
			> li {
				list-style: none;
				@include respond(large-up) {
					width: 50%;
					float: left;
				}
			}
			li {
				list-style-position: outside;
				padding-bottom: 6px;
				vertical-align: top;
				&:first-child {
					list-style: none;

				}
				span {
					@include respond(large-up) {
						max-width: 195px;
						display: block;
					}
				}
			}
			p {
				font-weight: $font-wt-semibold;
				padding: 0;
				margin: 0;
			}
		}
	}
	.first-tab-right {
		width: 100%;
		@include respond(large-up) {
			float: right;
			width: 22.4489%;
		}
		.pdp-video-link {
			text-decoration: none;
			margin-top: 12px;
			&:before {
				content: '';
				background-image: url('../images/interface/sprite.png');
				background-repeat: no-repeat;
				background-position: -20px -239px;
				display: inline-block;
				height: 20px;
				padding-left: 21px;
			}
			span {
				margin-left: 5px;
				color: $color-secondary;
				font-weight: $font-wt-semibold;
				position: relative;
				top: -5px;
				@include font-size($font-size-regular);
			}
		}
		.right-product-description {
			text-align: center;
			p {
				@include font-size(15px);
				font-weight: $font-wt-semibold;
				margin: 0;
				padding: 12px 0;
			}
			img {
				display: inline-block;
				vertical-align: top;
			}
		}
	}
}

.product-image-container {
	.col-1 {
		width: 100%;
		margin: 0;
		box-sizing: border-box;
		position: relative;
	}
	.amplience-viewer {
		#amplience-main {
			width: 85%;
    		float: right;
    		@include respond(large-down) {
    			border-bottom: none;
    		}
    		button.slick-arrow {
    			@include respond(large-down) {
	    			display: none !important;
	    		}
			}
	    		.slick-dots {
	    			text-align: center;
	    			li {
	    				border: none;
	    			}
	    			li.slick-active {
	    				button {
						    background-color: #333333 !important;
	    				}
					}
    				li {
    					button {
    						background-color: rgba(50, 48, 48, 0.3);
    					}
    				}
	    		}
    		@include respond(large-down) {
    			float: none;
    			width: 100%;
    		}
    		@include respond(large-only) {
    			width: 83% !important;
    		}
		}
		#amplience-nav {
			float: left;
    		width: 12%;
    		padding-right:0px;
    		display: inline-block;
    		.slick-track{
    		      width: 86% !important;
			      margin-left: 14%;
			      left: 0 !important;
			      box-sizing: border-box;

    		}
    		@include respond(large-down) {
    			display: none;
    		}
    		@include respond(large-only) {
				height: 260px;
			}
    		ul {
    			button.slick-prev {
    				background: transparent;
				    border: none;
				    outline: none !important;
				    position: relative;
				    transform: rotate(90deg);
				    margin: 0px;
				    left: 15px;
    			}
    			button.slick-next {
    				background: transparent;
				    border: none;
				    outline: none !important;
				    position: relative;
				    transform: rotate(90deg);
				    margin: 0px;
				    left: 15px;
    			}
    			width: 70px !important;
    			.slick-list {
    				margin: 0px;
    				@include respond(large-only) {
    					height: 200px !important;
    				}
	    			li {
	    				width: 60px !important;
	    				margin: 1px;
	    				&.slick-current {
	    					&:after {

	    					}
	    				}
	    			}
				}
    		}
		}
	}
}

.product-key-features {
	@include respond(large-down) {

	}

	.paragraph-head {
		margin-bottom: 0;
		margin-top: 0;
	}

	ul {
		list-style-type: disc;
		margin: 2px 0 5px 25px;
		text-indent: 0;
		padding-left: 0;
		font-family: Montserrat;
	    font-weight: 500;
	    color: #333030;
	}

	li {
		margin-bottom: 0;
		padding-left: 0;
		margin-left: 0;
	}

	.read-more {
		font-style: $font-style-italic;
		color: $black;
		margin-left: 15px;
	}
}

.pdp-comfort-scale-container {
	@include clearfix;
	float: left;
	width: 100%;
	margin-top: 12px;
	@include respond(large-only) {
		margin-top: 0px;
	}

	.block-sidebar-promo-title {
		text-transform: capitalize;
	    font-family: Montserrat;
	    font-weight: 500;
	    font-size: 14px;
	    width: 168px;
	    float: left;
	    line-height: 2.2;
	    height: 24px;
	    color: black;
	    margin-left: 65px;
	    @include respond(large-down) {
			margin-left: 0px;
		}
		@include respond(large-only) {
			width: 100%;
			text-align: center;
			margin-left: 0px;
		}
	}

	a {
		color: $black;
		font-style: $font-style-italic;
	}
}

.comfort-scale-items {
	float: right;
    width: 254px !important;
    margin-top: 0px;
    @include respond(large-down) {
		float: left;
	    width: 100% !important;
	    margin-top: 10px;
	}
	@include respond(large-only) {
		float: left;
	    width: 100% !important;
	    margin-top: 10px;
	}
    span {
    	@include respond(large-down) {
			display: flex !important;
			width: 18% !important;
		}
    }
}

.scale-comfort-level-1 .comfort-level-1 {
	background-color: #f0ab2f;
	color: #fff;
	border-radius: 15px;
	border: none;
	padding: 5px 8px;
	@include respond(large-down) {
		display: flex;
		width: 18%;
	}
}

.scale-comfort-level-2 .comfort-level-2 {
	background-color: #e46a1f;
	color: #fff;
	border-radius: 15px;
	border: none;
	padding: 5px 8px;
	@include respond(large-down) {
		display: flex;
		width: 60%;
	}
}

.scale-comfort-level-3 .comfort-level-3 {
	background-color: #9b2e33;
	color: #fff;
	border-radius: 15px;
	border: none;
	padding: 5px 8px;
	@include respond(large-down) {
		display: flex;
		width: 60%;
	}
}

.scale-comfort-level-4 .comfort-level-4 {
	background-color: #274b8f;
	color: #fff;
	border-radius: 15px;
	border: none;
	padding: 5px 8px;
	@include respond(large-down) {
		display: flex;
		width: 60%;
	}
}

.scale-comfort-level-5 .comfort-level-5 {
	background-color: #0f1f37;
	color: #fff;
	border-radius: 15px;
	border: none;
	padding: 5px 8px;
	@include respond(large-down) {
		display: flex;
		width: 60%;
	}
}
.content-area-container {
	box-sizing: border-box;
	display: none;
	@include respond(medium) {
		width: 100%;
	}
	@include respond(large) {
		width: percentage(232/644);
		float: right;
		padding-left: 2%;
	}
	.product-promo-content-area {
		display: none;
		@include respond(large-up) {
			padding-top: 1em;
		}
		.warranty-area {
			display: none;
			@include respond(large-up) {
				display: block;
			}
		}
		.conditional-content-area {
			display: none;
			@include respond(large-up) {
				display: block;
			}
		}
	}
}
.uptopercent {
		width: 164px;
		font-family: Montserrat;
		font-size: 20px;
		font-weight: bold;
		color: #ffffff;
		background-color: #ff6c5b;
		padding: 0 10px;
		@include respond(large) {
			margin-top: 15px;
		}
		@include respond(large-only) {
			margin-top: 15px;
		}
	}
	.update-content {
		.product-price {
			.product-sales-price {
				display: block;
			    color: #ff6c5b;
			    font-family: Montserrat;
			    font-size: 20px;
			    font-weight: 600;
			    &:before {
			    	display: none !important;
			    }
			    @include respond(large) {
					margin-top: 5px;
					margin-bottom: -10px;
				}
			}
			.has-sale-price {
				font-size: 14px;
			    font-weight: normal;
			    color: #333030;
			    font-family: Montserrat;
			}
		}
	}
.promos {
	@include respond(large-down) {
		display: none;
	}
	@include respond(large-only) {
		display: none;
	}
	.promoGroup {
		display: flex;
		margin-bottom: 7px;
		.col2 {
			margin-left: 5px;
			font-family: Montserrat;
    		color: #1e75a0;
		}
	}
}
.product-content-container {
	.desktop-finance-header {
		@include respond(large-down) {
			display: none;
		}
		@include respond(large-only) {
			li {
				width: 80%;
			}
			img {
				margin-top: 8px;
			}
		}
	}
	box-sizing: border-box;
	padding-top: 0;
	.product-key-features {
		@include respond(large) {
			margin-right: 0px !important;
			width: 413px !important;
		}
		@include respond(large-down) {
			display: none;
		}
	}
	@include respond(medium) {
		width: 100%;
		.add-to-cart-container,
		.product-price,
		.availability-web,
		.product-variations,
		.product-key-features {
			margin-right: 0;
			margin-bottom: 0;
		}
		.block-paragraph-head {
			margin-bottom: 5px;
			font-family: Montserrat;
			font-size: 14px;
			font-weight: 500;
		}
	}

	@include respond(large) {
		width: percentage(412/644);

		.add-to-cart-container,
		.product-price,
		.availability-web,
		.product-variations,
		.product-key-features,
		.product-actions
		.social-icons,
		.availability-instore {
			margin-right: 7%;
			@include respond(large) {
				margin-right: 0%;
			}
		}
	}
	.pdp-delivery-wrapper {
		padding: 8px 0 0 0;
		position: relative;
		display: inline-block;
		margin-left: 35px;
		@include respond(large-up) {
			display: block;
		}
		@include respond(large-down) {
			display: block;
		}
		.tooltip {
			width: 25px;
			height: 25px;
			background: url(../images/interface/sprite.png) no-repeat -149px -247px;
			margin: 0;
			position: absolute;
			top: 8px;
			@include respond(large-up) {
				margin-left: 8px;
				top: 9px;
			}
		}
	}
	.availability-storepickup {
		padding-top: 7px;
		margin-left: 35px;
		@include respond(large-up) {
			padding-top: 0px;
		}
		.availability-web {
			.availability-novariation {
				font-family: Montserrat;
			    font-size: 14px;
			    font-weight: normal;
			    color: #ff6c5b;
			    font-style: normal;
			}
		}
		.availability-web,
		.availability-instore {
			padding: 0 0 0 0;
			margin: 0;
			label {
				font-weight: $font-wt-semibold;
				margin-right: 3px;
				display: none;
			}
		}

	}
	.add-to-cart-container {
		@include respond(medium) {
			padding-top: 26px;
			margin-bottom: 0px;
			padding-bottom: 0px;
		}
		.product-price {
			@include respond(large-down) {
				display: block !important;
			}
		}
	}
}
#product-content{
	.product-key-features{
		ul{
			li{
				display: none;
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3){
					display: list-item;
				}
			}
		}
	}
}
.social-icons {
	i {
		height: 17px;
	}
}
.share-print-email, .social-icons {
	i {
		width: 16px;
		height: 16px;
		display: inline-block;
		margin: 0 5px;
	}

	span {
		@include font-size(12px);
		font-weight: $font-wt-bold;
	}
}
.share-print-email {
	float: right;
	.print-icon {
		margin-right: 15px !important;
	}
	a {
		text-decoration: none;
		color: $black;
	}

	.share-with-email {
		background: url(../images/interface/sprite.png) no-repeat -315px -189px;
		margin-right: 2px;
	}
	.print-page {
		background: url(../images/interface/sprite.png) no-repeat -317px -208px;
	}
	.share-with-wish {
		background: url(../images/interface/sprite.png) no-repeat -317px -248px;
	}
}
.pdp-main {
	.share-print-email, .social-icons {
		i {
			margin: 0;
			vertical-align: sub;
		}
	}
	.social-icons {
		margin-right: 19px;
		.product-actions a {
			margin-right: 10px;
		}
	}
}

.social-icons {
	float: left;
	@include respond(large-only) {
		margin-top: 0px;
		float: left;
	}
	a {
		color: transparent !important;
	}

	.facebook-icon {
		background: url(../images/interface/sprite.png) no-repeat -355px -210px;
	}

	.pinterest-icon {
		background: url(../images/interface/sprite.png) no-repeat -374px -190px;
		margin-right: 0;
	}

	.twitter-icon {
		background: url(../images/interface/sprite.png) no-repeat -353px -191px;
		width: 20px;
	}
}

.product-rewiews {
	clear: left;
	@include respond(large-up) {

	}
	h2 {
		text-align: center;
		text-transform: uppercase;
		@include font-bold();
		@include respond(large-only) {
			@include font-size(22px);
			@include line-height(22px);
		}
	}
}

.product-video-overlay {
	cursor: pointer;
	@include respond(large-down) {
		float: right;
		position: absolute;
		right: 0;
		bottom: 5px;
	}
	@include respond(large) {
		height: 65.06px;
		float: none;
		display: none;
	}
	@include respond(768px) {
		width: auto;
		height: 67px;
	}
	@include respond(1024px) {
		height: 88px;
	}
	.product-video-overlay-button {
		@include respond(large-up) {
			top: 15px;
			width: 100%;
			height: 35px;
			background: url("../images/interface/icon-play-video.png") top center no-repeat;
			display: block;
			position: absolute;
			z-index: 100;
			display: none;
		}
		@include respond(768px) {
			top: 16px;
		}
		@include respond(1024px) {
			top: 27px;
		}

	}
	.pdp-play-video {
		display: inline-block;
		@include font-size($font-size-sm);
		color: $color-secondary;
		font-weight: $font-wt-semibold;
		&:before {
			content: '';
			display: inline-block;
			width: 20px;
			height: 22px;
			background: url(../images/interface/sprite.png) no-repeat -20px -237px;
		}
		span {
			position: relative;
			top: -5px;
			margin-left: 7px;
		}
	}
	img {
		display: none;
		@include respond(large-up) {
			display: block;
			vertical-align: middle;
			height: auto;
		}
	}
}

.product-video-amplience-overlay {
	cursor: pointer;
	@include respond(large-down) {
		float: right;
		position: absolute;
		right: 0;
		bottom: 5px;
	}
	@include respond(large) {
		height: 96px;
		float: none;
		display: table-cell;
		vertical-align: middle;
		display: none;
		position: relative;
	}
	@include respond(768px) {
		height: 67px;
	}
	@include respond(1024px) {
		height: 88px;
	}
	.product-video-overlay-button {
		@include respond(large-up) {
			width: 100%;
			height: 35px;
			background: url("../images/interface/icon-play-video.png") top center no-repeat;
			display: block;
			position: absolute;
			z-index: 100;
			display: none;
		}
		@include respond(large) {
			top: 31px;
		}
		@include respond(768px) {
			top: 16px;
		}
		@include respond(1024px) {
			top: 27px;
		}
	}
	.pdp-play-video {
		display: inline-block;
		@include font-size($font-size-sm);
		color: $color-secondary;
		font-weight: $font-wt-semibold;
		&:before {
			content: '';
			display: inline-block;
			width: 20px;
			height: 22px;
			background: url(../images/interface/sprite.png) no-repeat -20px -237px;
		}
		span {
			position: relative;
			top: -5px;
			margin-left: 7px;
		}
	}
	.product-video-amplience-black {
		@include respond(large-up) {
			background: $color-primary;
			opacity: 0.8;
			display: none;
		}
		@include respond(large) {
			width: 88px;
			height: 95px;
		}
		@include respond(768px) {
			width: 62px;
			height: 67px;
		}
		@include respond(1024px) {
			width: 81px;
			height: 88px;
		}

	}
}

#amplience-carousel {
	li {
		.product-video-amplience-overlay,
		.product-video-overlay {
			display: block;
			@include respond(large-up) {
				display: table-cell;
				vertical-align: middle;
				position: relative;
			}
		}
		.product-video-overlay-button,
		.product-video-amplience-black {
			display: block;
		}
	}
}

.product-video-dialog {
	z-index: 10002 !important;
	@include respond(large-up) {
		width: 750px !important;
	}
	iframe {
		@include respond(large-down) {
			height: 70vh !important;
		}
	}
	.product-video-wrapper-ampilence {
		margin: 0 auto;
		text-align: center;
	}
}

#BVRRSummaryContainer {
	float: left;
	clear: left;
	@include respond(large-down) {
		float: none;
	}
}

#QuickViewDialog {
	.pdp-delivery-wrapper {
		display: none !important;
	}
	.availability-web {
		.details {
			    line-height: 1.3125rem;
			    margin-left: 10px;
		}
	}
}

.product-recommendation-carousel {
	padding-top: 38px;
	@include respond(large-up) {
		padding-top: 14px;
	}
	ul {
		display: none;
	}
	li {
		border: $border;
		@include respond(large-up) {
			margin: 0 10px;
			height: 380px;
		}
		img {
			width: 100%;
		}
	}
	.product-price {
		margin: 0;
		padding: 8px 0 0 10px;
		text-align: left;
		span {
			display: block;
			&:first-child {
				color: $color-primary;
			}
		}

		.product-sales-price {
			color: $color-secondary;
			font-weight: $font-wt-bold;
			&.no-sale-price {
				color: $color-primary;
			}
		}
		.product-standard-price {
			font-weight: $font-wt-bold;
			&.has-sale-price {
				text-decoration: line-through;
				font-weight: $font-wt-regular;
			}
		}
		.price-standard {
			color: $color-primary;
			text-decoration: line-through;
			font-weight: $font-wt-regular;
		}
		.price-sales {
			color: $color-primary;
			font-weight: $font-wt-bold;
			&.price-sales-more {
				color: #ff6c5b !important;
				font-family: Montserrat;
				font-size: 20px;
				font-weight: 600 !important;
			}
		}
	}
}
.pt_product-details {
	.product-recommendations {

		.block-subtext-below-title {
			color: $black;
		}
	}
	.product-pro-picks {
		h2 {
			padding-top: 25px;
		}
	}
}
.product-recommendations {
	display: none;
	@include respond(large-up) {
		display: block;
	}
	.block-subtext-below-title {
		color: $black;
	}
	.product-recommendation-carousel {
		.slick-arrow {
			&.slick-next {
				@include respond(large-up) {
					right: 27px;
				}
			}
			&.slick-prev {
				@include respond(large-up) {
					left: 27px;
				}
			}
		}
	}
}

.see-more-offers,
.see-fewer-offers {
	cursor: pointer;
	font-weight: $font-wt-semibold;
	border-bottom: $border;
	padding-bottom: 15px;
	span {
		display: inline-block;
		width: 8px;
		height: 12px;
		background: url(../images/interface/sprite.png) no-repeat -62px -214px;
		margin-left: 5px;
		position: relative;
		top: 2px;
	}
}

.see-fewer-offers {
	span {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}
}

.more-promos-inner {
	.more-promos {
		display: none;
		@include respond(large) {
			display: block;
		}
	}
	.see-more-offers,
	.see-fewer-offers {
		display: none;
		margin-top: 13px;
	}
}
.ui-dialog{
	.product-col-1{
		.amplience-main{
			ul{
				li{
					display: none;

					&:first-child{
						display: block;
					}
				}
			}
		}
	}
}

#pdpMain [data-bv-show=rating_summary] .bv_main_container {
		margin-left: 0 !important;
		padding-left: 0 !important;
}

#pdpMain [data-bv-show=rating_summary] .bv_main_container .bv_button_buttonMinimalist {
  display: none !important;
}

@import "product_delivery_zip";
@import "product_details_sidebar";
