section#pdp-tabs,
.pdp-tab-content {
  overflow: visible !important;

  @include breakpoint(small down) {
    overflow: auto;
    zoom: 1;
  }
}

ul.pdp-tabs {
  margin: 0 0 20px;
  padding: 0 0 10px;
  width: 100%;
  border-bottom: 1px solid $medium-gray;

  > li {
    position: relative;
    display: inline;
    padding: 0 2px;
    margin: 0 50px 0 0;
    font-family: $g-semibold;
    font-size: 16px;
    line-height: 16px;
    color: $charcoal;
    cursor: pointer;
    transition: color ease .3s;

    &.last-child {
      margin-right: 0;
    }

    &:hover {
      color: $red;
    }

    &:after {
      content: '';
      opacity: 0;
      position: absolute;
      bottom: -13px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $red;
      transition: opacity ease .3s;
    }

    &.is-active:after {
      opacity: 1;
    }
  }

  @include breakpoint(medium down) {
    display: flex;
    justify-content: space-between;
    >li {
      margin-right: 0;
    }
  }

  @include breakpoint(small down) {
    display: none;
  }
}

.pdp-tab-column {
  @include breakpoint(small down) {
    padding: 0;
  }
}

ul.pdp-tabs-content {
  margin-top: 0;
  padding: 0;

  > li {
    display: none;
    padding: 0;

    &.is-active {
      display: block;
    }

    @include breakpoint(small down) {
      display: block;
      margin-bottom: 0;
      border-bottom: 1px solid $medium-gray;

      &:first-child {
        border-top: 1px solid $medium-gray;
      }
    }
  }

  .bv-cv2-cleanslate .bv-core-container-157 .bv-action-bar,
  .bv-cv2-cleanslate .bv-core-container-157 .bv-section-summary {
    margin: 0 !important;
  }

  .bv-cv2-cleanslate .bv-core-container-157 .bv-action-bar {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

.pdp-tab-title {
  display: none !important;
  position: relative;
  padding: 12px 15px;

  span.arrow {
    position: absolute;
    top: 15px;
    right: 15px;

    &:after {
      border-top: 6px solid $white;
    }
  }

  @include breakpoint(small down) {
    display: flex !important;
    justify-content: flex-start;
  }
}

.pdp-tab-content {
  p {
    color: $charcoal;
    font-family: $g-regular;
    font-size: 16px;
    line-height: 25px;

    &:first-child {
      margin-top: 0;
    }
  }

  @include breakpoint(small down) {
    display: none;
    padding: 15px;
  }
}

.pdp-specs {
  float: left;
  box-sizing: border-box;

  table {
    display: none;
  }

  ul, li {
    width: 100%;
    font-family: $g-regular;
    margin-bottom: 10px;
  }

  strong {
    width: 100%;
    font-family: $g-semibold;
  }

  &.left {
    padding-right: 15px;
    width: percentage(2/3);
    line-height: normal;

    @include breakpoint(small down) {
      padding-right: 0;
      width: 100%;
    }
  }

  &.right {
    width: percentage(1/3);
    line-height: normal;

    li {
      list-style: none !important;
      margin-left: 0 !important;
      padding: 0;
    }

    @include breakpoint(small down) {
      width: 100%;
    }
  }
}

.pdp-icon {
  position: relative;
  cursor: pointer;

	&:hover {
		.pdp-icon-tooltip {
      z-index: 999;
      opacity: 1;
    }
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.pdp-icon-tooltip {
  z-index: -1;
  opacity: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 10px 15px;
  background-color: $light-gray;
  box-shadow: 0 4px 8px 0 rgba($black, 0.4);

  &:before,
  &:after {
    content: " ";
    position: absolute;
    top: -20px;
    border: solid transparent;
    height: 0;
    width: 0;
    pointer-events: none;
  }

  &:after {
    border-bottom-color: $light-gray;
    border-width: 10px;
  }
}

.pdp-icon:hover .pdp-icon-tooltip {
  z-index: 999;
  opacity: 1 !important;
}
