#PasswordResetForm {
	fieldset {
		position: relative;
		.col-1 {
			width: 60%;
			label {
				float: left;
				margin-top: calculateRem(10px);
			}
			.field-wrapper {
				float: left;
				max-width: 86%;
				margin-left: calculateRem(5px);
				
			}
		}
		.col-2 {
			width: 40%;
			margin-top: calculateRem(10px);
		}
	}
	
	button {
		top: 0px;
		left: 63%;
	}
}

h1 .account-logout {
	display: none;
}

.pt_account h1,
.pt_wish-list h1,
.pt_order h1,
.pt_customer-service h1  {
	position: relative;
}

.registration-selection {
	input, label {
		display: inline;
		float: none;
	}
}

.address-list,
.payment-list {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	li {
		list-style-type: none;
		padding: 0em;
		width: 100%;
		@include respond(large-up) {
			width: 33%;
			
		}
		@include respond(medium) {
			padding: 0;
			width: 33%;
			padding: 1em;
		}
		
		&.default {
			margin-top:0;
			width: 85%;
		}
		address {
			color: $dim-gray;
			font-style: $font-style-regular;
			@include line-height(25px); 
		}
		a,
		.button-text {
			line-height: 2rem;
			padding-right: .2rem;
		}
		a {
			@include font-size(12px);
			line-height: 1rem;
		}
		
		h3 {
			@include font-size(18px);
			margin-top: 0;
			@include line-height(20px);
			color: $night-rider;
			@include respond(medium) {
				margin: 0;
			}
		}
	}
	.mini-address-title {
	    @include font-bold();
		@include line-height(25px); 
		@include font-size(14px);
		margin-top: 5px;
	}
	
	.default {
		@include line-height(25px); 
		@include font-size(14px);
		@include font-regular();
	}
	
	.cc-owner {
		//font-weight: 700;
	}
}
.address-lists {
	li {
  		padding: 0 0 23px 0;
  		border-bottom: 1px solid $alto;
  		margin-bottom:10px;
  		@include respond(medium) {
			padding: 23px 0;
			margin-bottom: 0;
		}
  		.inbox {
  			margin-right: 8px;
  			border-right: 0px solid $alto;
  			padding-left: 0px;
  			
  			@include respond(medium) {
				border-right: 1px solid $alto;
				padding-left: 10px;
				min-height: 212px;
			}
			@include respond(large) {
  				border-right: 1px solid $alto;
				padding-left: 10px;
				min-height: 192px;
  			}
  		}
  		&:nth-child(3n) .inbox {
  			border-right: 0px solid $alto;
  		}
  		&:nth-child(3n-2) .inbox {
  			padding-left: 0;
  		}
  	}
  	li:nth-child(3n+1):nth-last-child(-n+3), li:nth-child(3n+1):nth-last-child(-n+3) ~ li  {
 		left:0;
 		border-bottom: 1px solid $alto;
 		@include respond(medium) {
 			border-bottom: 0px solid red;
 		}
	}
  	&::after {
  		position: absolute;
  		content: "";
 		 display: block;
  	}
  	
}


.payment-lists {
	li {
  		padding: 0 0 23px 0;
  		border-bottom: 1px solid $alto;
  		margin-bottom:10px;
  		@include respond(medium) {
			padding: calculateRem(23px) 0;
			margin-bottom: 0;
		}
  		.inbox {
  			margin-right: 8px;
  			border-right: 0px solid $alto;
  			padding-left: 0px;
  			@include respond(medium) {
				border-right: 1px solid $alto;
				padding: 0 0 50px 10px;
				@include line-height(21px); 
			}
			.cc-type {
				@include respond(medium) {
					@include line-height(35px);
				}
			}
			button {
				text-transform: none;
			}
  		}
  		&:nth-child(3n) .inbox {
  			border-right: 0px solid $alto;
  		}
  		&:nth-child(3n-2) .inbox {
  			padding-left: 0;
  		}
  		&:nth-child(-n+3) {
  			@include respond(medium) {
  				padding-top: calculateRem(5px);
  			}
  		}
  	}
  	li:nth-child(3n+1):nth-last-child(-n+3), li:nth-child(3n+1):nth-last-child(-n+3) ~ li  {
 		left:0;
 		border-bottom: 1px solid $alto;
 		@include respond(medium) {
 			border-bottom: 0px solid red;
 		}
	}
  	&::after {
  		position: absolute;
  		content: "";
 		 display: block;
  	}
  	
}

.address-list-default {
	border-bottom: 1px solid $alto;
	margin-bottom: 0;
	padding-bottom: 0;
	li {
		padding: 0;
	}
	&.one {
		border-bottom: 0px solid $alto;
	}
}

.pt_account,
.pt_wish-list,
.pt_order,
.pt_customer-service {
	#secondary {
		background: none;
		border: none;
		border-right: 0px solid $alto;
		border-top: 1px solid $alto;
		padding-top: calculateRem(20px);
		margin-top: calculateRem(30px);
		clear: both;	
		@include respond(medium) {
			min-height:650px;
			clear: none;	
			border-right: 1px solid $alto;
			border-top: 0px solid $alto;
			margin-top: calculateRem(10px);
			padding-top: 0;
		}
		
		nav {
			padding: 0 calculateRem(20px) calculateRem(10px) 0;
		}

		.toggle ~ ul {
			border-bottom: none;
			padding-left: 0;
		}

		.toggle {
			padding-left: 0;
		}

		.account-nav-asset {
			margin: 0;
			padding: calculateRem(20px)  calculateRem(30px) 0 0; 
			
			h5.left-title {
				color: $color-primary;
				@include line-height(14px);
				margin-bottom: 0; 
				@include respond(medium) {
					@include line-height(14px); 
				}
			}

			ul {
				padding: 0;
				margin-top:calculateRem(20px);
				@include font-size(12px);
				@include respond(medium) {
					margin-top: 13px;
				}
				
				a {
					@include font-size(12px);
				}
				li {
					@include line-height(18px);
				}
			}
			p {
				padding: 0;
				@include font-size(12px);
				@include line-height(20px); 
				@include respond(medium) {
					padding: 4px 0;
				}
			}
		}
		
		.secondary-navigation {
			margin: calculateRem(7px) 0;
			ul {
				padding: 0;
				margin: calculateRem(5px) 0 0 0;
				li {
					padding-left: 0;
					line-height: 28px;
					a {
						@include font-size(14px);
					}
				}
			}
			.content-asset {
				.menu-title {
					@include font-bold();
					margin-bottom: 10px;
				}
			}
		}
	}
	
	input[type="text"], input[type="number"],
	input[type="password"], input[type="date"],
	input[type="email"], textarea {
		height: 36px;
	}
	div.header-search {
		input[type="text"] {
			height: 27px;
		}
	}
	
	h1 {
		margin:0 0 24px;
        @include font-size(20px);
        @include line-height(24px);
        @media (max-width:767px){
        	margin:0 0 20px;
        }
	}
	.header_btn {
		float:right;
		font-style: italic;
   		margin-top: -55px;
		a:hover {
			color:black;
		}
	}
	.footer_btn {
		float:right;
		font-style: italic;
   		margin-top: 12px;
		a:hover {
			color:black;
		}
	}
	h2 {
		@include font-size(16px);
		@include font-bold();
		@include line-height(25px);
		margin-bottom: 0;
	}
	.primary-content {
		width: 100%;
		
		@include respond(medium) {
			width: calc(100% - 272px);
			margin-top: calculateRem(13px);
		}
		
		@include respond(large-only) {
			width: calc(100% - 230px);
		}
		
		
		legend {
			border:0px;
			@include font-size(16px);
		}
		
		.login-box-content {
			form {
				@include respond(large-only) {
					width:99%;
				}
				@include respond(large) {
					width:80%;
				}
			}
			.field-wrapper {
				@include respond(medium) {
					width:100%;
				    max-width: 348px;
				}
			}
			.remind-me {
				.field-wrapper {
					width: calculateRem(25px);
				}
				#password-reset {
					float: right;
					@include font-size(12px);
					margin-top: calculateRem(5px);
				}
			}
			.form-row {
				&.password {
					margin:calculateRem(5px) 0 0;
				}
			}
		}
		.login-order-track {
			margin-top: calculateRem(20px);
			@include respond(medium) {
				margin-top: calculateRem(40px);
			}
			.login-box-content {
				margin-top: 0;
				form {
					@include respond(medium) {
						margin-top: calculateRem(15px);
					}
				}
			}
			
		}
		.dialog-required {
			margin-top:  calculateRem(5px);
		}
		.col-1, .col-2 {
			width: 100%;
			@include respond(medium) {
				width: 48%;
				margin-top: calculateRem(3px);
			}
		}
		.chk-privacy {
			.privacylink {
				a {
					@include font-size(12px);
				}
			}
		}
		
		#RegistrationForm {
			width: 100%;
			@include respond(x-large) {
				width: 60%;
				margin-top: calculateRem(7px);
			}
			
			.field-wrapper {
				width: 100%;
				max-width:100%;
				@include respond(medium) {
					width: calc(100% - 144px);
					max-width: calc(100% - 144px);
				}
			}
			fieldset {
				margin-top: calculateRem(30px);
				@include respond(medium) {
					margin-top: calculateRem(34px);
				}
				&:first-child {
					margin-top: 0;
				}
				.form-row {
					@include respond(medium) {
						margin: 7px 0 10px;
					}
					&.chk-privacy {
						@include respond(medium) {
							margin-left:143px;
						}
					}
					&.form-row-button {
						margin-left: 0;
						@include respond(medium) {
							margin-left:144px;
						}
					}
				}
				
			}
			label {
				@include respond(medium) {
					margin-top: calculateRem(11px);
				}
			}
			.form-checkbox {
				.field-wrapper {
					width: 20px;
				}
			}
			.form-row-button {
				text-align: left;
				margin-left:144px;
			}
		}
			
	}
}

.pt_customer-service {
	nav {
		padding: 0 calculateRem(20px) calculateRem(10px) 0;
	}
	.top-banner {
		nav {
			padding: 0 0 calculateRem(10px) 0;
			@include respond(medium) {
				padding: 0 calculateRem(20px) calculateRem(10px) 0;
			}
		}
	}
	.mobile-only {
		margin-bottom:25px;
		@include respond(medium) {
			margin-bottom:5px;
		}
		.nav-title {
			cursor: pointer;
			height: 40px;
			line-height: 40px;
			padding: 0 13px;
			@include font-size($font-size-sm);
			margin: 0;
			border: 1px solid #aaaaaa;
		}
		
		#nav_label {
			display: none;
			& ~ nav {
				max-height: 0;
				overflow: hidden;
				transition-duration: 0.4s;
				.secondary-navigation {
					border-top: 1px solid $primary-border-color;
				}
				@include respond(large-up) {
					max-height: inherit;
					.secondary-navigation {
						border: 0 none;
					}
				}
			}
			& ~ label {
				background: url("../images/ref_arrows.png") no-repeat calc(100% - 20px) 17px;
				background-color: #f2f2f2;
				@include respond(large-up) {
					background: none;
					background-position: 0 0;
				}
			}
			&:checked {
				& ~ label {
					background-position: calc(100% - 20px) -31px;
				}
				& ~ nav {
					max-height: 2500px;
				}
			}
		}
		nav {
			padding: 0;
			width: 100%;
			.secondary-navigation {
				border: $border;
			}
		}
		.toggle {
			background-image: url("../images/ref_arrows.png");
			background-position: calc(100% - 20px) -34px;
			background-repeat: no-repeat;
			padding: 5px 0 5px 10px;
			margin: 0;
			text-transform: none;
			cursor: pointer;
			border: 0;
			//border-bottom: $border;
			@include block-price-text();
			@include respond(large-up) {
				border: 0;
				background-color: $body-bg-color;
				@include font-size($font-size-mobile-h4);
				@include line-height($font-size-mobile-h4);
				background-position: calc(100% - 29px) -25px;
				padding: 5px 0 0px 5px;
				margin: 0 0 13px 0;
			}
			&.expanded-title {
				background-position: calc(100% - 20px) 22px;
				@include respond(large-up) {
					background-position: calc(100% - 29px) 22px;
				}
			}
		}
		.toggle-content {
			padding: 0px 0 5px 0px;
			border-bottom: $border;
		}
		.refinement-image {
			display: inline-block;
			width: 20px;
			height: 20px;
			background-image: url("../images/interface/sprite.png");
			background-repeat: no-repeat;
			background-position: -60px -99px;
			margin: 0;
			vertical-align: top;
		}
		.refinement-text {
			position: relative;
			margin-left: 9px;
			display: inline-block;
			width: calc(100% - 33px);
		}
		.selected {
			.refinement-image {
				background-position: -40px -99px;
			}
		}
		.secondary-navigation {
			ul {
				padding: 0px 10px 0 30px;
				@include respond(large-up) {
					padding: 0 0 32px 15px;
					border: 0;
				}
			}
			li {
				margin-bottom: 5px;
				padding: 0;
				@include respond(large-up) {
					margin: 0 0 11px 0;
					padding: 0;
				}
			}
			span:last-child {
				margin-bottom: 20px;
			}
		}
		
	}
	.nav {
		ul {
			border: 0 none;
			list-style: none outside none;
			margin: 0;
			padding: 0 5px 15px;
			li {
				list-style: none outside none !important;
				margin: 0;
				line-height: 20px;
			}
		}
		.toggle {
			border: 0 none;
			display: block;
			@include font-size($font-size-sm);
			@include line-height($font-size-sm);
			font-weight: $font-wt-semibold;
			margin: 15px 0 5px;
			cursor: pointer;
			padding: 0 5px;
			background: url("../images/ref_arrows.png") no-repeat calc(100% - 8px) 4px;
			@include respond(large-up) {
				@include font-size($font-size-h5);
				@include line-height($font-size-h5);
				background-position: 205px 4px;
			}
			@include respond(large-only) {
				background-position: 185px 4px;
			}
			span {
				background: none repeat scroll 0 0 transparent;
			}
			& ~ ul {
				border-bottom: 1px solid $primary-border-color;
			}
		}
		.expanded {
			background-position: calc(100% - 8px) -41px;
			@include respond(large-up) {
				background-position: 205px -41px;
			}
			@include respond(large-only) {
				background-position: 185px -41px;
			}
		}
	}
	
	.toggle ~ ul {
		border-bottom: none;
		padding-left: 0;
	}

	.toggle {
		padding-left: 0;
		display: block;
	}
	#secondary {
		border-top: 0;
		
		.account-nav-asset {
			padding-top: 0;
		}
		.secondary-navigation {
			display: none;
			@include respond(medium) {
				display: block;
			}
		}
	}
	.secondary-navigation {
		margin: calculateRem(7px) 0;
		ul {
			padding: 0;
			margin: calculateRem(5px) 0 0 0;
			li {
				padding-left: 0;
				line-height: 28px;
				a {
					@include font-size(14px);
				}
			}
		}
		.content-asset {
			.menu-title {
				@include font-bold();
				margin-bottom: 10px;
			}
		}
	}
	h2 {
		@include font-size(24px);
		margin: 0 0 20px 0 ;
		@include line-height(26px);
		text-transform: uppercase;
		color: $night-rider;
	}
}

.pt_account #secondary {
	.account-nav-asset {
		margin: 0;
		padding: 0 calculateRem(30px) 0 0;
			.account-nav-text {
				@media screen and (max-width: 767px) {
					display: none;
				}
			}
	}
}

.pt_customer-service #RegistrationForm.contactusform {
	.textarea-row textarea {
		height: 160px;
	}
	.form-row-button {
		max-width: 100%;
		margin-right: 0;
		padding-right: 0;
		text-align: right;
		margin-left: 0;
	}
}

.dialogforgotpassword {
	.col-1 {
		width:99%;
		@include respond(medium) {
			width:60%;
		}
		label {
			float: left;
			margin-top: calculateRem(10px);
		}
		.field-wrapper {
			margin-left: 0;
			width: 80%;
			max-width: 80%;
			float: none;
			@include respond(medium) {
				float: left;
				margin-left: calculateRem(15px);
			}
		}
	}
	.col-2 {
		width:99%;
		@include respond(medium) {
			width:39%;
		}
	}
	
	.col-2 {
		button {
			margin-top: 0;
			text-align: left;
			float: left;
		}
	}
}

.ui-dialog {
	.form-field-tooltip {
		margin-right:0;
	}
	.form-row-button {
		margin-left: 0;
		text-align: left;
		clear: none;
		@include respond(medium) {
			margin-left: 144px;
		}
		
	} 
	#edit-address-form {
		margin-top: 20px;
		.form-field-tooltip {
			//display: none;
		}
	}
	.dialog-required {
		&.account {
			margin-right: 20px;;
			float: right;
			@include respond(medium) {
				margin-right: 0;
				margin-left: 400px;
				float: left;
			}
		}
	}
	
}

#CreditCardForm {
	.form-label-text {
		text-align: left;
		width: 144px;
		@include respond(medium) {
			width: 144px;
		}
	}
	.form-row-button {
		clear: both;
	}
}

.pt_error {
	#main {
		margin-top: 20px;
		.input-text {
			@include respond(large-up) {
				width: 300px;
				margin-right: 20px;
			}
		}
	}
}

.ui-dialog {
	&.signin-popup {
		.ui-dialog-title {
			font-family: "Gilroy", Arial, sans-serif;
			font-size: 24px;
			text-align: left;
			color: #1b2125;
			text-decoration: none;
		    text-transform: none;
		    margin: 0;
			padding: 15px 0px 0px;
		    width: 100%;
		    border-bottom: none;
	        line-height: 1.2;
		}
		label {
			font-family: "Gilroy", Arial, sans-serif;
			font-size: 12px;
			font-weight: 600;
			text-align: left;
			color: #788995;
  			text-transform: uppercase;
  			margin-bottom: 10px;
		}
		.field-wrapper {
			max-width: inherit;
		}
		a {
			font-family: "Gilroy", Arial, sans-serif;
			font-size: 14px;
			font-weight: 600;
			text-align: right;
			color: #80909b;
			display: inline-block;
		}
		button[type="submit"] {
			border-radius: 3px;
			background-color: #d63426;
			box-shadow: 0 2px 7px 0 rgba(120, 137, 149, 0.26);
			float: right;
		    margin: 0 0 0 20px;
			display: inline-block;
		}
		.remind-me {
			text-align: right;
			line-height: 40px;
		}
		input[type="text"], input[type="number"], input[type="password"], input[type="date"], input[type="email"], textarea {
			padding: 0 15px;
			height: 54px;
			border-radius: 3px;
			background-color: #ffffff;
			border: solid 1px #c6c8ca;
		}
		.required-indicator {
			display: none;
		}
	}

	&.forgotpassword-popup {
		.ui-dialog-title {
			font-family: "Gilroy", Arial, sans-serif;
			font-size: 24px;
			text-align: left;
			color: #1b2125;
			text-decoration: none;
		    text-transform: none;
		    margin: 0;
			padding: 15px 0px 0px;
		    width: 100%;
		    border-bottom: none;
	        line-height: 1.2;
		}
		label {
			font-family: "Gilroy", Arial, sans-serif;
			font-size: 12px;
			font-weight: 600;
			text-align: left;
			color: #788995;
				text-transform: uppercase;
				margin-bottom: 10px;
				display: block;
		}
		.field-wrapper {
			max-width: inherit;
		}
		button[type="submit"] {
			border-radius: 3px;
			background-color: #d63426;
			box-shadow: 0 2px 7px 0 rgba(120, 137, 149, 0.26);
			float: right;
			width:60%;
		}
		button#closethiswindow {
			float:right;
			width:30%;
			border-radius: 3px;
			background-color: #d63426;
			box-shadow: 0 2px 7px 0 rgba(120, 137, 149, 0.26);
		}
		input[type="text"], input[type="number"], input[type="password"], input[type="date"], input[type="email"], textarea {
			padding: 0 15px;
			height: 54px;
			border-radius: 3px;
			background-color: #ffffff;
			border: solid 1px #c6c8ca;
		}
		p {
			font-family: "Gilroy", Arial, sans-serif;
			font-size: 16px;
			line-height: 1.63;
			text-align: left;
			color: #788995;
		}
		.required-indicator {
			display: none;
		}
		#dialog-container{
			.primary-content{
				 #PasswordResetForm{
				 	.col-1 {
						width:100%;
						.field-wrapper{
							margin:0;
						}
						label {
							float:left;
							width:100%;
						}
						.field-wrapper {
							width:100%;
							max-width:100%;
						}
					}
				 }
			}
		}
	}
}
.pt_account {
	#secondary {
		.account-nav-text {
			h2 {
				font-family: 'Gilroy', Arial, sans-serif;
				text-transform: none;
			    font-size: 18px;
			    font-weight: 600;
			    padding: 0;
			    color: $red;
			}
	    p {
			font-family: 'Gilroy', Arial, sans-serif;
			font-size: 16px;
			color: $black;
			line-height: 1.63;
	    }
		}		
	}
}

.pt_account {
	.sign-out-cc {
		text-align: center;
		h1 {
			font-family: $g-bold;
			font-size: 26px;
			font-weight: 600;
			text-align: center;
			line-height: 1.35;
			color: $red;
			margin-bottom: 10px;
			@include respond(medium) {
				font-size: 30px;
				line-height: normal;
				margin-top: 40px;
			}
		}
		p {
			@include respond(large-down) {
				width: 80%;
			    text-align: center;
			    margin: 16px auto;
			}
			&.thanks {
				line-height: 1.56;
				br {
					display: none;
					@include respond(medium) {
						display: inline;
					}
				}
			}
		}
		.loader-icon {
			margin-top: 35px;
		}
		.action-buttons-wrap {

			@include respond(medium) {
				margin-top: 53px;
				font-size: 0;
			}			
			.go-home-button-wrap {
				width: 100%;
				margin-bottom: 15px;
				@include respond(medium) {
					margin-bottom: 0;
					width: 262px;
					margin-right: 33px;
					display: inline-block;
					vertical-align: middle;
				}
				.button {
					&.go-home {
						border-radius: 3px;
						width: 100%;
					}
				}
			}
			.sign-back-in-button-wrap {
				width: 100%;
					@include respond(medium) {
						margin-bottom: 0;
						width: 258px;
						display: inline-block;
						vertical-align: middle;
					}
				.button {
					&.sign-back-in {
						border-radius: 3px;
						width: 100%;
						background-color: $white;
						color:$red;
						border:1px solid $red;
						&:hover {
							color: $black;
						}
					}
				}
			}
		}
	}
} 
