// Billing - Billing page Styling

.payment-billing-page {
	padding-top: 20px;
	.primary-heading {
		font-family: 'Gilroy', Arial, sans-serif;
		font-size: 30px;
		font-weight: 600;
		color: $red;
	}
	.secondary-heading {
		font-family: 'Gilroy', Arial, sans-serif;
		font-size: 24px;
		color: $black;
		font-weight: normal;
    	text-transform: none;
	}
	.small-heading {
		font-family: 'Gilroy SemiBold', Arial, sans-serif;
		border-bottom: solid 1px $light-gray;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 600;
		color: $steel;
		letter-spacing: 0.5px;
		padding-bottom: 5px;
	}
	p {
		font-family: 'Gilroy', Arial, sans-serif;
		font-size: 16px;
		color: $black;
		line-height: 1.63;
	}
	.disclaimer-text {
		font-family: 'Gilroy', Arial, sans-serif;
		font-size: 24px;
		line-height: 1.46;
		text-align: center;
	}
	.bb-heading {
		border-bottom: solid 1px $black;
		padding-bottom: 7px;
	}
	.mb-0 {
		margin-bottom: 0;
	}
	.bb-0 {
		border-bottom: 0;
	}
	.minisummary-info-cntr {
		font-family: 'Gilroy', Arial, sans-serif;
		font-size: 16px;
		color: $black;
		line-height: 1.63;
		padding-top: 15px;
		.pending-price {
			font-family: 'Gilroy Bold', Arial, sans-serif;
			font-size: 16px;
			color: $red;
			padding: 0 15px;
		}
		.order-date,
		.order-number {
			padding: 0 15px;
		}
	}
	#captcha-form{
		clear:both;
		display:block;
	}
	#action-container {
		text-align: center;
		clear:both;
		display:block;
		.btn.primary {
			font-family: 'Gilroy Semibold', Arial, sans-serif;
			max-width: 135px;
		    height: 40px;
		    line-height: 20px;
		    margin-bottom: 50px;
		}
	}
	.minisummary-items {
		margin-bottom: 30px;
	}
	.payment-billing {
		.payment-method-label {
			margin-top: -38px;
		}
		.payment-col-field1,
		.payment-col-field2,
		.payment-col-field3,
		.payment-col-field4 {
			margin-top: 0;
		}
		&.payment-method-options {
			.form-row {
				label {
					text-transform: uppercase;
				}
			}
		}
	}
	.form-row {
		label {
			font-family: 'Gilroy SemiBold', 'Arial', sans-serif;
			font-size: 12px;
		    font-weight: 600;
		    color: $steel;
			width: 100% !important;
			margin-bottom: 5px;
		    display: block;
		    text-transform: uppercase;
		}
		.form-field-tooltip {
			display: none;
		}
		.input-text,
		.input-select,
		input[type=text],
		input[type=password],
		input[type=number],
		input[type=tel] {
			font-family: 'Gilroy SemiBold', 'Arial', sans-serif;
	    	font-size: 16px;
			font-weight: 600;
			color: $input-black;
			height: 54px;
			border-radius: 3px;
			background-color: #ffffff;
			border: solid 1px $pale-grey;
		}	
	}
	.error_message{
		clear: both;
	    display: block;
	    margin: 50px 0 0px 0;
	    background: #f44336;
	    padding: 10px 10px 10px 10px;
	    text-align: center;
	    color: #ffffff;
	}
	.row {
		margin-right: -15px;
		margin-left: -15px;
		.field-row {
			overflow: hidden;
		    clear: both;
		    width: 100%;
		}
		.form-row {
		    padding: 0 15px;
		    .field-wrapper {
		    	width: 100%;
			    max-width: 100%;
			    .error {
			    	font-family: 'Gilroy SemiBold', 'Arial', sans-serif;
			    	font-size: 12px;
					font-weight: 600;
			    }
			    .selector {
			    	&:after {
			    		font-size: 18px;
					    right: 16px;
					    top: 16px;
			    		color: $steel;
			    	}
			    }
			}
		}
	}
	#confirmation-form {
		.field-wrapper {
			max-width: 100%;
			.error {
		    	font-family: 'Gilroy SemiBold', 'Arial', sans-serif;
		    	font-size: 12px;
				font-weight: 600;
		    }
		}	
	}
	.billingPage {
		.row {
			margin: 0;
		}
	}
	.order-summary-section-top {
		width: 100%;
    	margin: 0 15px;
		.section {
			display: block;
		    float: none;
		    width: 100%;
		    overflow: hidden;
		    margin: 0;
		    padding: 0;
		    &.billing-order-total {
		    	border-top: solid 1px #dde3e8;
			    border-bottom: solid 1px #dde3e8;
			    margin: 20px 0 10px;
			    padding: 12px 0 10px;
		    }
		    .mf-col-8, .mf-col-4 {
		    	float: left;
		    }
		}
	}
}
.summary-section {
	.col-md-2 {
		text-align: right;
	}
	a {
		 text-decoration: none;
	}
	.product-name {
		padding-right: 10px;
	}
	p {
		margin: 5px 0;
	}
	.sep-line {
	    border-bottom: solid 1px $light-gray;
	    padding-bottom: 5px;
	    margin-bottom: 5px;
	    height: 1px
	}
	.text-red {
		color: $red;
	}
	.attribute{
		display: inline;
    	margin-right: 5px;
	}
	.swatch-option{
		.label{
			font-weight: 600;
		}
	}
}
.confirmation-page {
	#action-container {
		text-align: center;
		.back-portal {
			font-family: 'Gilroy SemiBold', 'Arial', sans-serif;
			max-width: 260px;
		    height: 40px;
		    line-height: 22px;
		    margin-top: 20px;
			@media screen and (max-width: 1024px) {
				width: 100%;
				max-width: inherit;
			}
		}
		.disclaimer-text {
			font-style: italic;
		}
	}
	.payment-info-section {
		background: #fff8df;
		padding: 5px 10px;
		font-size: 16px;
		color: #323030;
		margin-bottom: 30px;
		overflow: hidden;
		.notification-text {
			padding: 10px 0;
			margin: 0;
			> img {
				max-width: 40px;
			    margin: -5px 10px 4px 0;
			    float: left;
			    @include respond(large-down) {
			    	margin-top: 0px;
			    }
			}
			.notification-link {
				display: table-cell;
			}
		}
	}
	.payment-details {
		.section-container {
			.small-heading {
				border-bottom: 0;
				margin-top: 20px;
				margin-bottom: 0;
			}
			p {
				margin: 5px 0;
			}
			
		}
	}
	
	.print-order{
		float: right;
		text-align: center;
		text-decoration: none;
		.print-icon{
			width: 40px;
			height: 35px;
		}
		.print-label{
			font-size: 14px;
			font-weight: 600;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: center;
			color: #323030;
		}
	}
}
.summary-details {
	.summary-header {
		font-family: 'Gilroy', Arial, sans-serif;
		font-size: 16px;
		color: $black;
		line-height: 1.63;
		padding: 15px 0;
		.order-amount {
			font-family: 'Gilroy Bold', Arial, sans-serif;
			font-size: 16px;
			color: $red;
			padding: 0 15px;
		}
		.order-number{
			margin: 0;
		    width: 100%;
		    clear: both;
		    display: block;
		    padding: 5px 0 5px 15px;		    
			.label{width:100%;float:left;text-align:left;}
		}
		
		.order-date,		
		.order-total,
		.order-amountpaid,
		.order-dueamount{
			margin: 0;
		    width: 100%;
		    clear: both;
		    display: block;
		    padding: 5px 0 5px 15px;
    
			.label{width:50%;float:left;text-align:left;}
			.value{width:50%;float:left;text-align:right;}
		}
		&.row {
			margin-right: -15px;
			margin-left: -15px;
		}
		.sep-line{
			clear: both;
    		display: block;
    		width: 100%;
    		border-top: 1px solid #f1f1f2;
		}
	}	
}
.checkout-button {
    &.rounded {
        &.btnOrderSubmit {
            @media screen and (max-width: 1024px) {
                width: 100%;
            }
        }
    }
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	float: left;
}
.col-md-12, .mf-col-12 {
	width: 100%;
}
.col-md-11, .mf-col-11 {
	width: 91.66666667%;
}
.col-md-10, .mf-col-10 {
	width: 83.33333333%;
}
.col-md-9, .mf-col-9 {
	width: 75%;
}
.col-md-8, .mf-col-8 {
	width: 66.66666667%;
}
.col-md-7, .mf-col-7 {
	width: 58.33333333%;
}
.col-md-6, .mf-col-6 {
	width: 50%;
}
.col-md-5, .mf-col-5 {
	width: 41.66666667%;
}
.col-md-4, .mf-col-4 {
	width: 33.33333333%;
}
.col-md-3, .mf-col-3 {
	width: 25%;
}
.col-md-2, .mf-col-2 {
	width: 16.66666667%;
}
.col-md-1, .mf-col-1 {
	width: 8.33333333%;
}
.text-right {
	text-align: right;
}
@media only screen and (max-width: 64em) {
	.col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1 {
		width: 100%;
	}
}
.mt-0 {margin-top: 0}
.mt-10 {margin-top: 10px}
.mt-20 {margin-top: 20px}
.mt-30 {margin-top: 30px}
.mt-40 {margin-top: 40px}
.mt-50 {margin-top: 50px}
.mt-60 {margin-top: 60px}
.mt-70 {margin-top: 70px}
.mt-80 {margin-top: 80px}
.mt-90 {margin-top: 90px}
.mb-0 {margin-bottom: 0}
.mb-10 {margin-bottom: 10px}
.mb-20 {margin-bottom: 20px}
.mb-30 {margin-bottom: 30px}
.mb-40 {margin-bottom: 40px}
.mb-50 {margin-bottom: 50px}
.mb-60 {margin-bottom: 60px}
.mb-70 {margin-bottom: 70px}
.mb-80 {margin-bottom: 80px}
.mb-90 {margin-bottom: 90px}