.checkoutlogin {
	margin: 4em auto;
	width: 80%;
	.col-1 {
		@include respond(large-up) {
			border-right: 1px solid $gainsboro;
		}
	}
}
.login-box {
	h3 {
		margin: 0;
	}
	p {
		margin: calculateRem(2px) 0 calculateRem(5px) 0;
		margin: calculateRem(2px) 0 0 0;
		@include line-height(25px);

	}
	.error {
		margin-left: 0;
	}
	.field-wrapper {
		@include respond(medium) {
		  margin-top:0;
		}
	}
} 

.login-section{
	padding:32px;
    max-width:449px;
    margin:0 auto 50px;
    border-radius:5px;
    overflow:hidden;
    border: 1px solid $gray;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    @media (max-width:767px){
    	padding:15px;
    }
    label{
    	color:#323030;
        margin:0 0 9px;
    }
    button[type="submit"],
    button[type="button"]{
        width:100%;
        display: block;
        border-radius: 5px;
        background-color: #323030;
        &:hover,
        &:focus,
        &:active{
        	color:#fff;
        	outline:none;
        	background:#d63426;
        }
    }
    .form-row{
    	margin:0 0 30px;
    	position:relative;
    	&.form-row-button{
    		padding:5px 0 0;
    	}
    	&.has-error,
    	&.error{
    		margin:0 0 30px;
    		.field-wrapper span.error{
    			bottom: -21px;
    		}
    		&.password{
    			margin:0 0 35px;
    		}
    		input[type="text"],
    		input[type="number"]{
    			border-color:#d63426;
    		}
    	}
    	.field-wrapper{
	    	margin:0;
	    	position:relative;
	    	span.error{
	    		left:0;
	    		margin:0;
	    		top:auto;
	    		bottom:-21px;
	    		position:absolute;
	    	}
	    }
	    .error-message{
	    	left:0;
	    	bottom:-21px;
	    	position:absolute;
	    }
    }
    .required-indicator{
    	padding:0;
    	color:#323030;
    	font-size:13px;
    }
    
}

.login-rememberme {
	display: inline-block;
	margin:0;
	@include respond(medium) {
		margin: 0 ;
	}
}

.login-oauth p:first-child {
	font-size: 2em;
	text-align: center;
	margin: 0;
	text-transform: uppercase;
}

#OAuthProvider {
	display: block;
	margin-bottom: 1em;
	width: 80%;
}
