// Order History - Order Details Styling

.order-history-header {
	background-color: $concrete;
	border-bottom: 1px solid $alto;
	overflow: hidden;
	padding: 25px;
	.label {
		font-weight: 700;
	}
	button {
		float: right;
	}
	.order-date, .order-status, .order-number {
		float: left;
		margin: 2px 0;
		@include line-height(18px);
		clear: both;
	}
	.order-status {
		//display: none;
	}
	.col1 {
		width:100%;
		padding-left: 1px;
		float: left;
		@include respond(medium) {
			width:60%;
		}
	}
	.col2 {
		width:100%;
		float: left;
		padding-top: calculateRem(20px);
		@include respond(medium) {
			width:39%;
			float: right;
		}
		button {
			float: left;
			@include respond(medium) {
				float: right;
			}
		}
	}
}

.pt_order {
	.search-result-items {
		padding-left: 0;
		clear: both;
		@include respond(medium) {
			padding-top: calculateRem(5px);
		}
		li {
			line-height: 2em;
		}
		ul, li {
			list-style-type: none;
		}
	}
	.search-result-options {
		margin-top: calculateRem(15px);
		.pagination {
			.results-hits-total {
				@include font-bold();
			}
		}
	}
	.minisummary-place-order {
		margin-top: calculateRem(25px);
		margin-bottom: calculateRem(5px);
		@include respond(medium) {
			margin-bottom: calculateRem(25px);
		}
	}
}
.order-history-row {
	border: 1px solid $alto;
}


.order-history-items {
	margin: calculateRem(10px) 0;
	padding-left: calculateRem(10px);
	.order-history-table {
		border: 0;
		tr {
			border: 0;
		}
		
		th, td {
			padding: calculateRem(5px) calculateRem(20px);
			border-right: 1px solid $alto;
			&:last-child {
				border: 0;
			}
		}
		td {
			width: 33%;
			.order-items {
				width: 98%;
				@include font-bold();
			}
		}
		ul {
			margin: 0;
			padding: 0;
			display: table;
		}
		li {
			list-style-position: inside;
			list-style-type: square;
			@include line-height(21px);
			margin-bottom: 0;
			display: table-row;
			&:before {
    			content: "•";
    			display: table-cell;
    			padding-right: 0.4em;
    		}
			
		}
		.order-shipped-to,
		.order-total-price {
			width: 99%;
			@include font-bold();
		}
		.toggle {
			cursor: pointer;
			display: block;
		}
	}
}

.js .order-history-table .hidden {
	display: none;
}

// Details Styling
#confirmation-left {
	.header-nav-logo {
		margin-top: 50px;
    	margin-bottom: 40px;
    	width: 385px;
    	a{
    		img {
    			height: 51.9px;
    		}
    	}
	}
}
#confirmation-right {
	position: fixed;
    z-index: 12;
    right: 0px;
    top: 0px;
    margin: 0px 20px 100px;
    display: none;
    background-color: #fbfcfe;
    width: auto;
    max-width: 350px;
    height: 100%;
    @include respond(large-only) {
		max-width: 255px;
	}
	@include respond(medium) {
		display: block;
	}
    .order-payment-summary {
    	float: right;
    	width: 90%;
	    background-color: #ffffff;
	    margin: 17px;
    	h3.section-header {
    		text-align: center;
		    font-size: 24px;
		    color: #1b2125;
		    font-weight: normal;
		    padding-bottom: 20px;
		    border-bottom: solid 1px #e4eaee;
    	}
    	.mini-cart-product {
    		border-bottom: 0px;
    		.mini-cart-name {
    			a {
    				color: #788995;
				    font-weight: 600;
				    line-height: 1.38;
				    font-size: 13px;
    			}
    		}
    		.mini-cart-attributes {
    			.attribute {
    				label {
    					font-weight: 600;
						font-size: 12px;
    				}
    				value {
    					font-weight: 600;
						font-size: 12px;
    				}
    			}
    			.mini-cart-pricing {
    				.col1 {
    					font-weight: 600;
						font-size: 12px;
    				}
    				.col2 {
    					font-weight: 600;
						font-size: 12px;
    				}
    			}
    		}
    	}
    	.order-detail-summary details {
    		padding: 0 10px;
    		.order-totals-table {
    			.order-total {
    				font-size: 16px;
					font-weight: 600;
    			}
    		}		
    	}
    }
}

.orderdetails {
	margin-top: calculateRem(20px);
	@include respond(medium) {
		margin-top: calculateRem(5px);
	}
	h2 {
		clear: both;
	}
	.label {
		font-weight: $font-wt-semibold;
	}
	
	.order-shipment-details {
		.order-shipment-address {
			float: right;
		}
	}
	.line-items {
		clear: both;
		padding-top: 1rem;
		.line-item {
			padding-bottom: 1rem;
			.line-item-details,
			.line-item-quantity,
			.line-item-price {
				display: inline-block;
				vertical-align: top;
			}
			.line-item-quantity,
			.line-item-price {
				width: 14%;
			}
			.line-item-details {
				width: 70%;
				a {
				}
			}
			.line-item-quantity {
				text-align: center;
			}
			.line-item-price {
				text-align: right;
			}
		}
	}
	.order-shipments {
		h3.shipping-name {
			color: $crimson;
			margin-bottom: calculateRem(10px);
		}
		.item-shipping-address {
			.shipping-name {
				height: 7px; 
				padding: calculateRem(10px);
				
				@include respond(medium) {
					height: 56px; 
					padding: 1.0625rem 30px 1.125rem 30px;
					line-height: 1.75rem;
					
				}
				@include respond(large-only) {
					padding: 14px 20px;
					height: 56px; 
					line-height: 1rem;
				}
			}
			.address-details {
				@include respond(large-only) {
					clear: both;
					padding: 20px 10px;
				}
			}
			
		}
	}
	.section-header {
		padding: 0 0  calculateRem(10px) 1px;
		margin-bottom: calculateRem(15px);
		@include respond(medium) {
			margin: 0 calculateRem(15px) calculateRem(10px) 0;
		}
	}
	.details {
		@include line-height(20px);
	}
	.order-payment-summary {
		@media screen and (min-width: 480px) {
			float: right;
		    width: 100%;
		}
		.details {
			@include line-height(15px);
			margin-left: calculateRem(5px);
		}
	}
	.mini-payment-instrument,
	.mini-billing-address {
		width: 100%;
		margin-bottom: 20px;
		@include respond(medium) {
			width: 33.6%;
			float: left;
			margin-bottom: 0;
		}
		.section-header-note {
			display: block;
			color: $color-primary;
			@include font-size($font-size-regular);
			font-style: $font-style-italic;
		}
	}
	.checkout-mini-cart-wrapper {
		width: 100%;
		margin-bottom: 20px;
		@include respond(medium) {
			width: 30%;
			float: left;
			margin-bottom: 0;
		}
	}
	.order-information {
		@include line-height(25px);
		.label {
			text-transform: none;
		}
		.order-status {
			//display: none;
		}
	}
	.payment-amount {
		.label {
			font-weight: normal;
			text-transform: none;
		}
	}
	.order-totals-table td {
		&:first-child {
			text-align: left;
		}
	}
	.order-total {
		@include font-size($font-size-mobile-sale-price); 
	}
}

.confirmation-message {
	font-weight: $font-wt-semibold;
}

.confirmation {
	h2 {
		margin-bottom: 10px;
	}
	.order-confirmation-button-wrapper {
		float: none !important;
		margin: 10px auto;
		a {
			border-radius: 3px;
    		width: 250px;
    		font-size: 14px;
		}
	}
	.confirmation-message{
	    font-size: 14px;
	    font-weight: normal;
	    color: #788995;
	    line-height: 2.5;
		h2{
			font-size: 1.5rem;
			line-height: 1.625rem;
			text-transform: uppercase;
			color: #1b2125;
			border-bottom: 0px;
		}
		.confirmation-message-expectations{
			max-width:400px;
			line-height:1.4;
			display: inline-block;
		}
	}
	.order-information {
		font-weight: 600;
	    line-height: 1.71;
	    color: #788995;
	    text-transform: uppercase;
        text-align: right;
        display: block;
	    max-width: 250px;
	    margin-top: 20px;
	    text-align: left;
	    position: relative;
	    @include respond(x-large) {
			position: absolute;
		    right: 0px;
		    margin-top: -150px;
		}
	    .print_button {
	    	border: none;
		    color: #ffffff;
		    cursor: pointer;
		    border-radius: 3px;
		    width: 80%;
		    background-color: rgba(50, 48, 48, 0.8);
		    a.print-page {
		    	text-decoration: none;
		    	&:hover {
		    		color: white;
		    	}
		    }
	    }
	}
	.login-create-account,
	.order-confirmation-details {
		.orderdetails {
			.order-shipments {
				.shipping_delivery_wrapper {
					border-radius: 3px;
					background-color: #ffffff;
					border: solid 1px #dde3e8;
					display: inline-block;
					width: 100%;
					height: auto;
					@include respond(x-large) {
						width: 800px;
						height: 350px;
						display: block;
					}
					.delivery_map {
					    width: 396px;
					    height: 348px;
					    border-radius: 2px;
					    background-color: gainsboro;
					    float: left;
					    margin: 20px;
					    @include respond(x-large) {
							float: right;
							margin: 0;
						}
					    .shipping-map {
					    	width: 396px; 
					    	height: 348px; 
					    	opacity: 0.7;
					    	position: absolute;
					    }
					}
					.details {
						margin-left: 20px;
						float: left;
						font-weight: 600;
						.address-details, .shipmentdetails {
							font-size: 14px;
						    font-weight: 600;
						    color: #788995;
						    line-height: 1.63;
						    margin-top: 25px;
						    .arrival {
						    	color: #69ba11;
								margin: 0px;
						    }
						    p {
						    	margin: 0px;
						    }
						}
						p {
							font-size: 13px;
						    line-height: 2.29;
						    color: #788995;
							.arrival {
								color: #69ba11;
							}
						}
						.mini-address-name, .mini-address-location {
							font-size: 13px;
						    line-height: 2.29;
						    color: #788995;
						}
					}
				}	
				h3.section-header {
					font-size: 24px;
				    color: #1b2125;
				    font-weight: normal;
				    border: 0px;
				}
			}
			.minisummary-place-order {
				.order-payment-instruments, .order-billing, .order-payment-summary {
					h3.section-header {
						font-size: 24px;
					    color: #1b2125;
					    font-weight: normal;
					    border: 0px;
					}
					.details {
						font-size: 13px;
					    line-height: 2.29;
					    color: #788995;
					}
				}
			}
		}
	}
	.login-create-account {
		float: right;
		padding: 0 1%;
		width: 25%;
	}
	.login-box-content {
		background-color: $white-smoke;
		border: 1px solid $gainsboro;
		border-radius: 5px;
		padding: 1em;
		p {
			margin-top: 0;
			margin-bottom: 0;
		}
		.form-row {
			margin: 0;
		}
	}
}
.pt_account {
	#secondary {
	    border-color: $light-gray;
	}
	.primary-content {
	.order-page {
		width: 40%;
    	display: inline-block;
    	margin-right: 100px;
    	#searchorders {
    		.checkout-button {
    			height: 40px;
    			margin-top: 0px;
    		}
    	}
	}
		.create-account {
			display: inline-block;
			width: 358px;
		    border-radius: 10px;
		    background-color: #f1f1f2;
		    padding: 35px 30px;
		    padding-top: 33px;
		    .account-heading {
		    	font-size: 18px;
			    font-weight: 600;
			    text-align: center;
			    margin-top: 0px;
		    }
		    .account-body {
		    	line-height: 1.56;
    			text-align: center;
		    }
		    .create-account-button {
		    	border-radius: 3px;
			    border: solid 1px #d63426;
			    background-color: #ffffff;
			    font-size: 16px;
			    color: #d63426;
			    width: 161px;
			    margin: 0 auto;
			    display: block;
		    }
		}
		.searchorders-result {
			margin-top: 40px;
			@media screen and (max-width: 1024px) {
				margin-top: 0;
			}
			.search-results {
				font-size: 24px;
  				font-weight: normal;
			    border-bottom: 1px solid #323030;
			    padding-bottom: 5px;
			    margin-bottom: 20px;
			    margin-top: 0;
			}
			.make-payment {
				height: 40px;
  				border-radius: 3px;
  				@media screen and (max-width: 1024px) {
  					width: 100%;
  				}
  				&:hover {
  					color: white;
  					background-color: #c02f22;
  				}
			}
		}
	}
	.pt-order-page {
		#secondary {
			border: 0;
		}
	}
}
.pt-order-page {
	font-family: 'Gilroy', Arial, sans-serif;
	.breadcrumb {
	    padding-bottom: 15px;
	    background: #fff;
	}
	.primary-heading {
		font-family: 'Gilroy', Arial, sans-serif;
		font-size: 30px;
		font-weight: 600;
		color: $red;
	}
	.secondary-heading {
		font-family: 'Gilroy', Arial, sans-serif;
		font-size: 24px;
		color: $black;
		font-weight: normal;
    	text-transform: none;
	}
	.small-heading {
		font-family: 'Gilroy Semibold', Arial, sans-serif;
		border-bottom: solid 1px $light-gray;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 600;
		color: $steel;
		letter-spacing: 0.5px;
		margin-bottom: 5px;
	}
	p {
		font-family: 'Gilroy', Arial, sans-serif;
		font-size: 16px;
		color: $black;
		&.text-red {
			color: $red;
		}
	}
	.bb-heading {
		border-bottom: solid 1px $black;
		padding-bottom: 7px;
	}
	.btn.primary {
	    font-family: "Gilroy Semibold", "Arial", sans-serif;
	    max-width: 190px;
	    border-radius: 3px;
		height: 40px;
		line-height: 20px;
		margin-top: 10px;
		&:focus {
			color: $white;
		}
	}
	.input-text,
	.input-select,
	input[type=text],
	input[type=password],
	input[type=number],
	input[type=tel] {
		font-family: 'Gilroy SemiBold', 'Arial', sans-serif;
    	font-size: 16px;
		font-weight: 600;
		color: $input-black;
		height: 54px;
		border-radius: 3px;
		background-color: #ffffff;
		border: solid 1px $pale-grey;
	}
	.sep-row {
		font-family: 'Gilroy Semibold', Arial, sans-serif;
	    position: relative;
	    border-bottom: solid 1px $steel;
	    text-align: center;
	    height: 21px;
	    margin-bottom: 70px;
	    @media only screen and (max-width: 64em) {
	    	margin-bottom: 30px;
	    }
	    span {
		    background: #fff;
		    padding: 5px 10px;
		    display: inline-block;
		    margin-top: 7px;
		}
	}
	.searchorder-page {
		.cols-fields-wrap {
			margin: 0 -15px;
			.form-input {
			    padding: 0 15px;
			    label {
					font-family: 'Gilroy', Arial, sans-serif;
					text-transform: uppercase;
					font-size: 12px;
					font-weight: 600;
					color: $steel;
					padding-bottom: 5px;
					max-width: 100% !important;
				}
				.field-wrapper {
				    max-width: 100%;
				}
				.checkout-button {
					font-family: 'Gilroy SemiBold', 'Arial', sans-serif;
				    width: 100%;
				    height: 54px;
				    margin-top: 30px;
				    border-radius: 3px;
				    @media only screen and (max-width: 64em) {
				    	margin-top: 0;
				    	margin-bottom: 30px;
				    }
				    &:focus,
				    &:hover {
						color: $white;
						background-color: #c02f22;
					}
				}
				.searchorders-cls-search {
				    color: #c6c8ca;
				    font-size: 16px;
				}
			}
		}
		.error {
	    	font-family: 'Gilroy SemiBold', 'Arial', sans-serif;
	    	font-size: 16px;
	    }
	    .searchorders-result {
	    	.result-row {
	    		margin-bottom: 30px;
	    		p {
	    			margin: 8px 0;
	    		}
	    	}
	    }	
	}
	#secondary {
		.visually-hidden {
			display: none;
		}
		.account-nav-asset {
			@media only screen and (min-width: 48em) {
				padding-top: 32px;
				border-right: solid 1px #f1f1f2;
			}
		}
	}
	#primary {
		.primary-button {
			max-width: inherit;
		    width: initial;
		    padding: 10px 30px;
		}
	}
	.payment-billing-page {
		.no-search-found {
			@include respond(large-down) {
				margin-top: 16px;
				padding: 20px;
			}
		}
	}
	.no-search-found {
		font-family: 'Gilroy', Arial, sans-serif;
		font-size: 16px;
		line-height: 25px;
		color: #323030;
		background: rgba(214,52,38,0.1);
		padding: 10px;
        .fa-warning {
          color: #d63426;
          font-size: 24px;
          float: left;
          margin: 7px 15px 45px -5px;
		}
		.error-msg {
			display: table-cell;
		}
		img {
			vertical-align: middle;
		}
	}
	.no-search-found.isPaid {
		background: #fff8df;
		padding-bottom: 10px;
		@include respond(large-down) {
			padding-bottom: 20px;
		}
		span {
			@include respond(large) {
				vertical-align: middle;
			}
		}
		img {
			@include respond(large-down) {
				float: left;
    			margin: 8px 13px 0px 0px;
			}
		}
	}
	.paid-full-back {
		margin: 0 auto;
    	display: block;		
    	max-width: 224px !important;
	    font-size: 16px;
	    margin-top: 40px !important;
	    padding-top: 10px;
	    @include respond(large-down) {
	    	max-width: 100% !important;
	    	margin-top: 60px !important;
	    }
	}
}

.payment-billing-page {
	.form-row {
		.input-text {
			&.cc_type_vs {
				background: url(/on/demandware.static/Sites-Mattress-Firm-Site/-/default/dwb20b6784/images/credit-cards-visa.svg) no-repeat top 16px right 16px;
			}
			&.cc_type_ds {
				background: url(/on/demandware.static/Sites-Mattress-Firm-Site/-/default/dwed589a2a/images/discover.svg) no-repeat top 16px right 16px;
			}
			&.cc_type_mc {
				background: url(/on/demandware.static/Sites-Mattress-Firm-Site/-/default/dwe758812a/images/credit-cards-mastercard.svg) no-repeat top 16px right 16px;
			}
			&.cc_type_ax {
				background: url(/on/demandware.static/Sites-Mattress-Firm-Site/-/default/dw2636412c/images/credit-cards-amex.svg) no-repeat top 16px right 16px;
			}
		}
	}
}
.mapo-pg-header {
	.print-order {
		float: right;
	    text-align: center;
	    font-size: 14px;
	    font-weight: 600;
	    line-height: 20px;
	    text-decoration: none;
	    margin-right: 10px;
		img.print-icon {
		    max-width: 40px;
		}
		.print-label {
			display: block;
			letter-spacing: 1px;
		}
	}
}
.print-only {
	display: none;
}
@media print {
  body * {
    
  }
  .section-to-print, .section-to-print * {
    visibility: visible;
    color: #323030;
  }
  .section-to-print .print-bold {
  	font-weight: 600;
  }
  .section-to-print .print-only {
  	display: block;
  }
  .hide-print {
  	display: none;
  }
  .print-only .logo {
    width: 275px;
    height: 40px;
  	margin: 20px 0;
  }
  .print-only .logo img {
  	width: 275px;
  }
  .payment-details,
  .summary-details {
  	width: 100%;
  	min-width: 600px;
  	clear: both;
  }
  .small-heading {
  	font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #788995;
  }
  label {
  	font-family: Arial, sans-serif;
    font-size: 16px;
    color: #323030;
  }
  .payment-billing-page .order-summary-section-top .section .mf-col-8,
  .payment-billing-page .order-summary-section-top .section .mf-col-4 {
  	font-family: Arial, sans-serif;
    font-size: 16px;
    color: #323030;
  }
  .top-spacing {
  	margin-top: 100px;
  }
  .section-to-print {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
  }
  html, body {
      height:100vh; 
      margin: 0 !important; 
      padding: 0 !important;
      overflow: hidden;
    }
}
.pt_account {
	.primary-content {
		.search-order-screen {
			.order-page {
				float: left;
			    width: 50%;
			    margin-right: 5%;
			    @media screen and (max-width: 1024px) {
			    	width: 100%;
			    	margin-right: 0;
			    }
			    @media screen and (max-width: 767px) {
			    	margin-top: 15px;
			    }
			}
			.create-account {
		        position: absolute;
			    width: 36%;
			    right: 0;
			    top: 80px;
			    @media screen and (max-width: 1024px) {
			    	position: relative;
			    	width: calc(100% - 60px);
			    	margin-top: 20px;
			    	top: 0;
			    }
			}
		}	
	}
} 
.info-sidebar {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 14px;
	color: #323030;
	text-align: center;
	background: #f9f9f9;
	border-radius: 12px;
	padding: 25px 15px;
	margin: 25px 0 0 0;
	@media screen and (max-width: 767px) {
		display: none;
	}
	.icon {
		margin: 5px 0 15px;
	    font-size: 34px;
	    border: solid 2px;
	    border-radius: 50%;
	    width: 40px;
	    height: 40px;
	    line-height: 40px;
	}
	.heading {
		font-family: "Gilroy Extrabold", "Arial", sans-serif;
		font-size: 16px;
		color: #323030;
		margin: 0 0 15px;
	}
	p {
		margin: 0;
	}
	.learn-more {
		font-family: "Gilroy bold", "Arial", sans-serif;
		font-size: 14px;
		color: #323030;
		margin-top: 15px;
		display: inline-block;
	}
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}