.pt_wish-list {
	.list-table-header {
		background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top $white-smoke;
		overflow: hidden;
		padding: 2em;
		p {
			color: $nobel;
			float: right;
			margin: 0;
			overflow: hidden;
			width: 40%;
		}
		
	}
	.primary-content {
		width: 100%;
		@mixin padding-mixin($value , $value2) {
  		padding-left: $value;
  		margin-left: $value2;
		}
		
		@include respond(medium) {
			width: calc(100% - 0px);
			margin-top: calculateRem(13px);
			float:left;
		}
		
		@include respond(large-only) {
			width: calc(100% - 0px);
		}
		.qot_list {
			background-color:$concrete;
			margin-top:8%;
			.qot_content {
				margin:10px;
				padding-bottom: 1px;
				.qot_btn {
					border: none;
    				background-color: #E5173E;
    				color: #ffffff;
   					cursor: pointer;
    				display: inline-block;
    				font-size: 14px;
    				font-weight: 900;
    				height: 40px;
    				line-height: 40px;
    				padding: 0 20px;
    				text-align: center;
    				text-decoration: none;
    				text-transform: uppercase;
    				transition: background-color 0.3s ease;
    				box-sizing: border-box;
    				border-radius: 10px;
    				float: right;
    				margin-top: 25px;
				}
				.qot_header {
					
				}
				.qot_id {
					margin-top:1%;
					color: $dim-black;
				}
				.qot_desc {
					@include line-height(19.45px);
					color: $dim-black;
					margin-bottom:3%;
				}
				.qot_ul {
					padding-left: 0px;
					li {
						list-style:none;
						.qot_price {
							float:right;
						}
						.qot_details {
							display: inline-block;
							margin-left: 20px;
							@media screen and (max-width: 544px) {
								margin-left:0px;
								margin-top:10px;
							}
						}
						.qot_name {
  							 a {
  							 font-weight: bold;
  							 }
  							 .label {
  							 	font-weight: 100 !important;
  							 }
						}
						.qot_qty {
    						@include line-height(19.45px);
    						color: $dim-black;
						}
						.qot_date {
    						@include line-height(19.45px);
    						color: $dim-black;
						}
					}
					.line {
  						border: solid 0.5px #979797;
  						margin:20px;
  						&:last-child {
  							display:none;
  							margin-bottom:10px;
  						}
					}
				}
				
			}
		}
		.qot_expired_label {
		padding-top:15px;
		color:red;
		font-size: 18px;
        margin-top: -20px;
        font-weight: 900;
        @media screen and (min-width:700px){
        	margin-top:-45px;
        }
		}
		.wishlist_finder {
			.title {
				margin-top: 8%;
    			background-color: #F2F2F2;
    			line-height: 14px;
    			font-weight: 900;
    			padding: 10px;
    			color: #605D5C;
			}
			.wishlistfinder_desc {
				@include padding-mixin(10px , 0px);
				color: #605D5C;
			}
			.wishlistfinder_label {
				@include padding-mixin(10px , 0px);
				color:#7E7E7E;
			}
			.wishlistfinder_textbox {
				@include padding-mixin(10px , 10px);
				width: 25%;
				margin-top:5px;
				color: #979797;
			}
			.validation_error {
				display:none;
				@include padding-mixin(10px , 0px);
				color:red;
			}
			.wishlistfinder_btn {
				background-color: #09A6C8;
    			float: right;
    			margin-right: 0px;
    			margin-top: 10px;
    			border-radius: 5px;
    			width: 150px;
    			height: 30px;
    			line-height: 1px;
			}
		}
		}
	.primary-content .list-table-header h2 {
		float: left;
	}
	
	.share-options {
		text-align: center;
		margin-bottom: .5rem;
		font-size: 1.7em;
		float: left;
		margin-left: 1rem;
		margin-top: 0.3rem;
		.share-title {
			display: inline;
		}
		.content-asset  {
			ul.social-links {
				text-align: left;
				margin: 5px 0 0;
			}
			li {
				display: inline;
				padding-right:12px;
				margin: 0;
				line-height:20px;
			}
			ul li {
				list-style: none;
				display: inline;
			}
		}
	}
	table.item-list {
		.heading {
			height:50px;
			background-color:rgba(192,192,192,0.3);
				.qty {
					width:5%;
				}
				.price {
					padding-left:80px;
				}
		}
			.action {
				width:26%;
			}
			border:1px solid $alto;
			padding: 20px;
				.item-image {
					width:50%;
					padding-left:20px;
			}
		tr {
			//border-bottom:1px;
			td {
				border-bottom:0px solid $alto;
				&:first-child {
					border-bottom:0px solid $alto;
				}
				&:last-child {
					border-bottom:0px solid $alto;
				}
			.hidden {
				display:none;
				span {
					float:right;
				}
				a {
					width:135px;
				}
				.viewcart_btn {
					border: 2px solid #E5173E;
    				background-color: #ffffff;
   					color: #E5173E;
    				cursor: pointer;
    				display: inline-block;
    				font-size: 14px;
    				font-weight: 900;
    				height: 40px;
    				line-height: 36px;
    				padding: 0 20px;
    				text-align: center;
    				text-decoration: none;
    				text-transform: uppercase;
    				transition: background-color 0.3s ease;
    				box-sizing: border-box;
    				border-radius: 10px;
				}
				.close_dialogue {
					cursor: pointer;
    				margin-top: 45px;
    				position: absolute;
    				margin-left: -88px;
    				color:grey;
    				text-decoration:underline;
    				font-size: 11px;
   					font-weight: 900;
				}
			}
			}
		}
		.item-details {
		   	 display: inline-block;
   			 padding-left: 20px;
   			 max-width: 240px;
			.product-list-item {
				a {
					font-style: italic;
				}
				
				.name {
					a {
						text-decoration: none;
						@include font-bold();
						@include line-height(21px);
					}
				}
				.sku {
					margin-bottom: calculateRem(15px);
					@include line-height(21px);
					.value {
						@include font-regular();
					}
				}
				.attribute {
					@include font-regular();
					@include line-height(21px);
					span {
						@include font-regular();
					}
				}
				.price {
					.label {
						display: none;
					}
				}
			}
			
			
		}
		.item-availability {
		.price {
			padding-left:30px;
		}
			.product-availability-list {
				@include font-regular();
				color: $night-rider;
				.is-in-stock, [data-status="store-in-stock"]{
					color: $night-rider;
				}
			}
		}
		.price {
			margin-left:70px;
			margin-right:60px;
				.price-standard {
				color:#E5173E;
				}	
				.price-sales {
					text-decoration:line-through;
				}
				.price-notonsale {
					color:black !important;
					display: block;
    				margin-top: 10px;
				}
			}
		.item-dashboard {
			padding: 20px 0;
			color: #000;
			.form-horizontal {
				.option-date-added {
					margin-bottom: 7px;
					label {
						@include font-bold();
						margin-top: 3px;
					}
					.field-wrapper {
						margin-left: 10px;
						.value {
							padding-top: 0;
							margin-top: 3px;
							margin-left: 5px;
						}
					}
				}
				.selector {
					@include respond (large-down) {
						width: 60px !important;
					}
				}
			}
			.option-quantity-desired , .option-priority{
				label {
					width: 50%;
				}
				.field-wrapper {
					width: 50%;
				}
			}
			.option-update {
				text-align: right;
			}
			.option-add-to-cart {
			float:right;
				margin-top: 1rem;
				label {
					margin: 0.8rem .5rem 0 0;
				}
				button {
					padding-top:0;
				}
			}
		}
	}
	h2.wishlist-subtitle {
		@include font-size(24px);
		@include font-bold();
		@include line-height(25px);
		margin-bottom: 0;
		margin-top: 10px;
	}
}

.list-share {
	@extend %clearfix;
	border-bottom: 1px solid darken($white-smoke, 10%);
	padding: 2em 0;
	.share-option {
		box-sizing: border-box;
		display: block;
		margin-bottom: .5rem;
		float: left;
	}
	
	.list-title {
		float: left;
	}
	.share-link {
		cursor: pointer;
	}
	.share-link-content {
		display: none;
		&.active {
			display: block;
			float: left;
		}
	}
}

.event-info {
	margin: 1em;
}
.wishlist-search {
	.form-row {
		clear: none;
		margin: .5rem 1% .5rem 0;
		float: left;
		width: 28%;
		&:last-child {
			width: 10%;
			padding-left: calculateRem(5px);
			margin-top: calculateRem(25px);
		}
	}
	.form-row-button {
		margin-left: 0;
	}

}

.cart-product-img {
            width:90px;
            height: auto;
        }

.registry-search {
	.form-row {
		clear: none;
		border: 1px solid red;
		margin: .5rem 0 .5rem 1%;
		float: left;
		width: 25%;
		&:nth-of-type(3n + 1) {
			margin-left: 0;
		}
	}
	.form-row-button {
		margin-left: 0;
	}

}

	h1.header_title {
		color:#E5173E;
		border-bottom: solid 1px grey;
   		max-width: 100%;
   		padding-bottom: 15px;
		}
	#img_tick {
		    line-height: 40px;
		    font-size: 11px;
    		font-weight: 900;
    		color:#19b819;
	}
	
	#text_addedToCart {
		    display: inline;
    		line-height: 40px;
    		color:#19b819;
    		font-size: 11px;
    font-weight: 900;
	}
@media screen and (min-width:700px){
	.mobile-show {
		display:none;
	}
}
@media screen and (max-width:1026px){
	table.item-list {
			.hidden {
						#img_tick {
							margin-left: 24px;
						}
						.close_dialogue {
							margin-top: -10px !important;
    						position: absolute !important;
   							margin-left: -90px !important;
						}
				}
		.heading {
			.item-details {
				width:38%;
				padding-left:20px;
			}
			.qty {
				width:14% !important;
			}
		}
	}
}
@media screen and (max-width:700px){
	.heading {
		display:none;
	}
	.price {
			margin-left:0px !important;
			margin-right:0px !important;
		}
	.item-image {
		float: left;
    	text-align: left;
    	width: 50%;
    	padding: 30px 15px 0 15px;
	}
	.item-dashboard {
		float: right;
    	padding-top: 30px;
    	border:0px !important;
    	padding-right: 44px !important;
   		width: 10%;
	}
	.item_price {
		float: right;
    	clear: right;
    	width: 10%;
    	padding-right: 43px !important;
    	border:0px !important;
    	font-weight: 900;
    	
	}
	.item_actions {
		clear: right;
    	float: right;
    	text-align: left;
    	padding-bottom: 16px;
	}
	.cart-product-img {
            width:200px;
            height: auto;
        }
     .wishlistfinder_textbox {
     	width:38% !important;
     }
     .wishlistfinder_textbox {
     	margin-top:7px !important;
     }
     table.item-list {
        .hidden {
			#text_addedToCart {
				margin-right: 10px;
			}
			.close_dialogue {
				margin-top: 3px !important;
   				margin-left: 135px !important;
					}
				}
			}
}
