.banner {
  display: inline-block;
  padding: 0 $spacing-1;
  border-radius: 5px;

  &.left {
    position: absolute;
    top: $spacing-1;
    left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.bottom-left {
    position: absolute;
    bottom: 0;
    left: $spacing-1;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}