.btn {
  display: inline-block;;
  padding: 12px $spacing-4;
  font-weight: $medium;
  text-align: center;
  text-decoration: none !important;
  box-sizing: border-box; 
  border-radius: 20px;  
  transition: background-color ease .3s;

  &.primary {
    background-color: $red;
    color: $white;

    &:hover {
      background-color: $coal;
    }
  }

  &.mobile-full {
    @include breakpoint(medium down) {
      width: 100%;

      &:not(:first-child) {
        margin-top: $spacing-2;
      }
    }
  }
}