.mobile-carousel,
.product-carousel, .product-carousel-with-left-sidebar {

  .slick-arrow {
    background-color: transparent;
    border-color: transparent;
    outline-width: 0 !important;

    &.slick-prev {
      left: -5px;
    }

    &.slick-next {
      right: -5px;
    }

    &.slick-disabled {
      opacity: 0;
    }
  }

  .slick-dots {
    position: relative;
    bottom: 0;
    margin-top: 0;
    height: auto;
    padding: $spacing-3 0;

    @include breakpoint(small down) {
      padding-bottom: 0;
    }

    li {
      margin: 0 5px;
      width: 11px;
      height: 11px;
      background-color: rgba($coal, 0.3);
      border: none;      
      cursor: pointer;
      transition: background-color ease .3s;

      button {
        display: none;
      }

      &.slick-active {
        background-color: $coal;        
      }
    }
  }
}

.mobile-carousel {
  @include breakpoint(small down) {
    .slick-slide {
      border-right: none;
      border-left: none;
    }
  }
}