.card-wrap {
  padding-top: $spacing-3;
  padding-bottom: $spacing-3;

  @include breakpoint(small down) {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: $spacing-2;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.card {
  height: 100%;
  background-color: $white;

  &.card-fixed-height {
    .card-top {
      min-height: 200px;
    }

    .card-bottom {
      min-height: 80px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

.card-top {
  @include bgCover();
  position: relative;
}

.card-bottom {
  display: flex;
  align-items: center;

  .row > * {
    display: flex;
    align-items: center;
  }
}


