.header-countdown {
  padding: 0px;

  .countdown-text,
  .countdown-clock,
  .countdown-link {
    display: inline-block;
  }
  .countdown-clock {
  	padding: 0 5px !important;
  	@media only screen and (max-width: 1024px) {
  		margin: 0px !important;
  	}
  	#global-countdown {
  		width: 230px;
  		@media only screen and (max-width: 1024px) {
  			width: 140px;
  		}
  		@include respond(small-updated) {
  			width: 136px;
  		}
  	}
  }
  .countdown-text {
    width: auto;
  }

  .flip-clock-wrapper ul {
    margin: 2.5px;
    padding: 0;
    width: 20px;
    height: 25px;
    line-height: 47px;
    @media only screen and (max-width: 1024px) {
  		width: 17.5px;
    	height: 25px;
  	}
  }

  .flip-clock-wrapper ul li {
    overflow: hidden;
  }

  .flip-clock-wrapper ul li a div.down div.inn {
    bottom: 0;
  }

  .flip-clock-wrapper ul li a div div.inn {
    font-size: 16px;
    line-height: 24px;
    @media only screen and (max-width: 1024px) {
  		font-size: 20px;
    	line-height: 24px;
  	}
  }

  .flip-clock-wrapper ul li a div.up:after {
    top: 13px;
    height: 1px;
  }
  
  .flip-clock-label {
    bottom: -12px;
    font-size: 12px;
    @media only screen and (max-width: 1024px) {
		font-size: 10px;
	}
  }

  .flip-clock-divider {
    width: 10px;
    height: 45px;
    .flip-clock-dot {
	    @media only screen and (max-width: 1024px) {
	  		left: 2px;
	  		height: 4px;
	  		width: 4px;
	  	}
	  	&.top {
	  		@media only screen and (max-width: 1024px) {
	  			top: 13px;
	  		}
	  	}
	  	&.bottom {
	  		@media only screen and (max-width: 1024px) {
	  			bottom: 13px;
	  		}
	  	}
    }
    @media only screen and (max-width: 1024px) {
  		width: 8px;
    	height: 37px;
  	}

    &:first-child {
      display: none;
    }
  }

  .flip-clock-dot {
    left: 2px;

    &.top {
      top: 12px;
    }

    &.bottom {
      bottom: 12px;
    }
  }

  .countdown-clock {
    padding: 0 5px;
  }

  .countdown-link {
    color: $red;
    font-size: 20px;
    font-family: $g-bold;
  }
}

