.product-carousel-wrap {
  position: relative;
  max-width: map-get($breakpoints, xlarge);
  margin: 0 auto;

  .slick-list,
  .slick-track,
  .product-card {
    display: flex !important;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		display: -webkit-box !important;
    	display: inherit !important;
	}
    
  }

  .slick-dots {
    position: relative;
    bottom: 0;
    padding-top: $spacing-4;
  }

  .product-card {
    position: relative;
    justify-content: center;
    padding: 0 $spacing-3;
  }
}