$font-size: 14px;
$line-height: 1.2;
$lines-to-show: 2;

.product-carousel-card {
  padding-bottom: 50px;
  margin: 0 auto;
  max-width: 230px;
  text-align: center;

  @include breakpoint(medium down) {
    max-width: none;
  }

  .product-options,
  .comfort-level,
  .product-name-long,
  .product-promo {
    display: none !important;
  }
  
  .clp-product-reviews {
  	text-align: center;
  	margin: 10px auto 5px;
  	padding: 0;
  	.bv-cv2-cleanslate {
  		display: inline-block !important;
  		.bv-core-container-59 .bv-inline-rating-container .bv-rating-stars-on {
	  		color: #ff6c5b !important;
	  	}
  	}
  }

  .product-name {
    padding: 15px 15px 5px 15px;
    text-align: center;
  }

  .name-link-text {
    @extend .p;
    font-weight: $medium;

    display: block !important;
    display: -webkit-box !important;
    height: $font-size*$line-height*$lines-to-show !important;
    margin: 0 auto;
    font-size: $font-size;
    line-height: $line-height !important;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

  .product-key-features-plp {
    display: block;

    .paragraph-head {
      display: none;
    }

    li {
      position: relative;
      padding-bottom: $spacing-2;
      @extend .p;
      font-weight: 300;

      &:before {
        content: '-';
        padding-right: 2px;
      }

      &:nth-child(2) {
        padding-bottom: 0;
      }

      &:nth-child(n+3) {
        display: none !important;
      }
    }
  }

  .product-price {
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
  }

  .price-standard,
  .price-sales {
    display: block;
    @extend .p;
    font-weight: $regular;
  }

  .price-standard {
    text-decoration: line-through;
  }

  .price-sales-more {
    color: $red;
    font-size: 16px !important;
    font-weight: $medium;
  }

  .product-carousel-card-btn {
    position: absolute;
    bottom: 0;
    left:10px;
    right:0;
  }
}