.amp-stack,.amp-carousel,.amp-spin{
	list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.amp-spin {
	.amp-zoom-container {cursor: ew-resize !important;}
}
.spin-overlay{
	width: 55px;
    height: 55px;
    border-radius: 30px;
    background-color: #ccc;
    opacity: .5;
    text-align: center;
    line-height: 55px;
    margin-left: -28px;
    margin-top: -28px;
    left: 50%;
    top: 50%;
    position: absolute;
}
.amp-slide {
    display: block;
    float: left;
    height: 100%;
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 100%;
}

#amplience-main {
    position: relative;

    .slick-dots {
        text-align: left;
        margin-top: 13px;
        li {
            text-align: center;
        }
    }

    .slick-arrow {
        &:after {
            height: 18px;
            top: -34px;
            left: 8px;
            @include respond(medium) {
            	 top: -30px;
   			 }
        }
        &.slick-prev {
            left: 0;
        }
        &.slick-next {
            right: 0;
            &:after {
                left: 12px;
                top: -36px;
                 @include respond(medium) {
            	 top: -32px;
   				}
            }
        }
		@include respond(large-up) {
			@include opacity(0);
			&:focus {
				@include opacity(1);
			}
		}
    }

    .slick-list {
        border: $border;
        padding: 2px;
    }
}
#amplience-nav {
    display: none;
	@include respond(medium) {
        display: block;
        .slick-slide {
            margin: 0 5px;
            border: $border;
            width: 64px;
            cursor: pointer;
			@include respond(large-up) {
			 	position: relative;
			}
            &.slick-current {
                &:after {
	                border-left: 3px solid #ccc;
				    content: '';
				    display: inline-block;
				    height: 100%;
				    position: absolute;
				    left: -9px;
				    bottom: 0;
				    top: 0;
                }
            }
        }
        .slick-list {
            padding-bottom: 10px;
            margin: 0 -5px;
        }

        img {
            padding: 2px;
            width: 100%;
        }
    }

    @include respond(large) {
        .slick-list {
            margin: 0 50px;
        }
        .slick-slide {
            width: 70px;
		 }
    }


    .slick-arrow.slick-next {
        right: 0;
    }

    .slick-arrow.slick-prev {
        left: 0;
    }
}

.amp-zoom-container {
    overflow: hidden;
    position: relative;
    
    img{
    	display:block;
    }
}
.amp-zoom-img {
    height: auto;
    max-width: 100%;
    position: absolute;
    vertical-align: middle;
    width: 100%;
    z-index: 10;
}
.amp-main-img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    width: 100%;
}
.amp-zoom-overflow {
    overflow: hidden;
    position: relative;
}
.amp-zoom, .amp-zoomed, .amp-zoomed-container {
    -moz-user-select: none;
}
.amp-zoom-wrapper {
    z-index: 100;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.col-1{
	#amplience-main{
        padding-bottom: 13px;
        border-bottom: $border;

        @include respond(large-up) {
            border: 0;
        }
	}	
}