.js {
	#suggestions {
		cursor: pointer;
		padding: 0;
		display: none;
		position: absolute;
		border: $border;
		background: $white;
		z-index: 8184;
		width: 100%;
		div {
			clear: both;
			padding: 0 5px;
			overflow: hidden;
			white-space: nowrap;
			.suggestionterm {
				float: left;
				@include line-height(25px);
				width: 60%;
				box-sizing: border-box;
			}
			.hits {
				float: right;
				text-align: right;
				padding-left-left: 3px;
				@include line-height(25px);
				width: 40%;
				box-sizing: border-box;
			}
		}
	}
}
