@CHARSET "UTF-8";
.forter-orders-table {
	padding-top: 10px;
}

.pagecursor .pagecursortxt,
.pagecursor .pagecursorpages,
.pagecursor .pagecursorpages div {
	display: inline-block;
}

.pagecursor .pagecursorpages {
	float: right;
}

.forter-decision-sort:link,
.forter-decision-sort:visited,
.pagecursorbtn:link,
.pagecursorbtn:visited,
.page-first:link,
.page-first:visited,
.page-last:link,
.page-last:visited {
	text-decoration: none;
}

.forter-order-status {
	text-transform: lowercase;
}

.forter-order-status::first-letter {
	text-transform: uppercase;
}

.no_orders {
	padding-top: 10px;
	color: #666666;
	font-size: 20px;
}

#forter-search div {
	display: inline-block;
	padding: 5px;
}

.forter-url {
	width: 150px;
}

input.date {
	margin-right: 23px;
}

.start-date input {
	margin-left: 20px;
	width: 116px;
}

.end-date input {
	margin-left: 48px;
	width: 116px;
}

.forter-decision select {
	min-width: 119px;
}
