.page-aribnb-section {
	> .container {
		max-width: 1000px;
	}
	.page-airbnb {
		padding: 30px 0 30px;
		@include respond(large) {
			padding: 40px 0 30px;
		}
		.airbnb-hero {
			background-color: $t-disco;
			.airbnb-hero-right {
				float: none;
				width: 100%;
				@include respond(large) {
					float: right;
					width: 60%;
				}
				@include respond(x-large) {
					width: 60%;
				}
				img {
					width: 100%;
				}
			}
			.airbnb-hero-left {
				float: none;
				width: 100%;
				padding: 22px 20px 16px;
				@include respond(large) {
					float: left;
					width: 40%;
					padding: 50px 25px 25px;
				}
				@include respond(x-large) {
					width: 40%;
					padding: 90px 25px 25px;
				}
				h1 {
					font-size: 28px;					
					font-weight: $font-wt-semibold;					
					line-height: 1.21;
					color: $white;
					margin-top: 0;
					margin-bottom: 20px;
					@include respond(large) {
						font-size: 40px;
						line-height: 1.25;
						margin-bottom: 10px;
					}
				}
				p {
					font-size: 16px;					
					line-height: 1.63;
					color: $white;
					margin:0;
					@include respond(large) {
						font-size: 18px;
						line-height: 1.56;
					}
				}
				.btn-default {
					width: 100%;
			    height: 44px;
			    line-height: 1;
			    font-weight: 700;
			    margin: 30px auto 30px;
			    display: block;
			    @include respond(medium) {
			    	width: 178px;
			    	margin: 30px auto 30px;
			    }
			    @include respond(x-large) {
			    	margin: 30px auto 68px;
			    }
				}
				.support-text {
					font-size: 14px;
					line-height: 1.5;
					text-align: center;
					a {
						color:$white;
						text-decoration: none;
						font-size:14px;
					}
				}
			}
		}
		.airbnb-body {
			padding-top: 40px;
			.airbnb-body-right {
				float: none;
				width: 100%;	
				@include respond(large) {
					float: right;
					width: 62%;
					padding-left: 40px;
				}
				@include respond(x-large) {
					width: 69%;
				}
				.become-partner {
					p {
						display: block;
						width: 100%;
						line-height: 1.63;
						font-size: 16px;	
						color:$t-mine-shaft;
						margin: 0;
						@include respond(large) {
							width: calc(100% - 260px);
							float: left;
							line-height: 1.56;
							font-size: 18px;	
						}
					}
					.btn-default {
						width: 290px;
						height: 51px;
						margin:30px auto 0 auto;
						display: block;
						@include respond(large) {
							width: 230px;
							float: right;
							margin:10px 0 0 29px;
						}
					}
				}
				.how-it-works {
					h2 {
						margin-top: 30px;
						margin-bottom: 11px;
						font-size: 18px;
						font-weight: $font-wt-semibold;
						line-height: 1.56;
						color: $t-mine-shaft;
						@include respond(large) {
							margin-top: 15px;
							margin-bottom: 0;
						}
					}
					ul {
						padding: 0;
						margin: 0 0 20px 20px;					
						font-size: 16px;
						line-height: 1.63;
						color: $t-mine-shaft;
						list-style: disc;
						@include respond(large) {
							font-size: 18px;
							line-height: 1.56;
						}
						li {
							margin-bottom: 8px;
							padding-left: 5px;
						}
						ul {
							margin: 0 0 20px 30px;
    					list-style: square;
						}
					}
					a {
						color:$t-disco;
						text-decoration: none;
						font-weight: $font-wt-semibold;
						font-size: 16px;
						line-height: 1.63;
						@include respond(large) {
							font-size: 18px;
							line-height: 1.56;
						}
					}
					p {
						margin: 10px 0;
						line-height: 1.63;
						font-size: 16px;
						color: $t-mine-shaft;
						@include respond(large) {
							line-height: 1.56;
							font-size: 18px;
						}
					}
				}
			}
			.airbnb-body-left {
				float: none;
				width: 100%;
				@include respond(large) {
					float: left;
					width: 38%;
				}
				@include respond(x-large) {
					width: 31%;
				}
				.airbnb-promo {
					border-left: 5px solid #bebebe;
					padding: 6px 0 6px 15px;
					font-size: 16px;
					line-height: 1.38;
					color: $t-dove-gray;
					margin-bottom: 30px;
					@include respond(large) {
						padding: 5px 20px;
						margin-bottom: 40px;
					}
					a {
						text-decoration: none;
						color:$t-disco;
					}
				}
				.qualifications-wrap {
					background-color: $t-light-grey;
					padding: 25px 15px;
					@include respond(large) {
						padding: 30px 25px 20px;
					}
					h2 {
						margin-top: 0;
						margin-bottom: 14px;
						font-size: 18px;
						font-weight: $font-wt-semibold;
						line-height: 0.89;
						color: $t-mine-shaft;
					}
					ol {
						margin: 0 0 0 17px;
						padding: 0;
						font-size: 16px;
						line-height: 1.63;
						color:$t-mine-shaft;
						li {
							margin-bottom: 5px;
							padding-left: 5px;
						}
					}
				}
			}
		}
	}
	.form-airbnb {
		padding: 30px 0 43px;
		@include respond(large) {
			padding: 40px 0 46px;
		}
		.airbnb-hero {
			background-color: $t-disco;
			.airbnb-hero-right {
				float: none;
				width: 100%;
				@include respond(large) {
					float: right;
					width: 55%;
				}
				@include respond(x-large) {
					width: 58%;
				}
				img {
					width: 100%;
				}
			}
			.airbnb-hero-left {
				float: none;
				width: 100%;
				padding: 15px 0 15px 12px;
				@include respond(large) {
					float: left;
					width: 45%;
					padding: 20px 25px 20px;
				}
				@include respond(x-large) {
					width: 42%;
					padding: 40px 25px 20px;
				}
				.tulo-logo {
					margin-bottom: 12px;
					@include respond(large) {
						margin-bottom: 19px;
					}
					.icon-tulo-logo {
						font-size: 25px;
						color: $white;
						position: relative;
						display: inline-block;
						@include respond(large) {
							font-size: 44px;
						}
					}
					.registered {
						font-size: 6px;						
						color: $white;
						position: absolute;
						right: -6px;
    				top: 6px;				   
				    @include respond(large) {
					    font-size: 8px;
					    right: -2px;
					    top: 8px;
				    }
					}
				}
				h1 {
					font-size: 20px;					
					font-weight: $font-wt-semibold;					
					line-height: 1.2;
					color: $white;
					margin-top: 0;
					margin-bottom: 0;
					@include respond(large) {
						font-size: 42px;
						line-height: 1.07;
						margin-bottom:0;
					}
				}
				p {
					font-size: 16px;					
					line-height: 1.63;
					color: $white;
					margin:0;
					@include respond(large) {
						font-size: 18px;
						line-height: 1.56;
					}
				}
			}
		}
		.form-airbnb-header {
			padding: 30px 0 19px 0;
			font-size: 18px;
			line-height: 1.56;
			color: $t-cape-cod;
			border-bottom: solid 1px $t-gainsboro;
			@include respond(large) {
				padding:30px 98px 30px 25px;
			}
		}
		.airbnbForm-wrapper {
			.required-fields-caption {
				font-size: 16px;
				color: $bg-burgundy-hover;
				margin-top: 8px;
			}
			.airbnb-form {
				clear: both;
				display: block;
				margin-top: 20px;
				.form-row {
					margin: 0 0 30px;
					label {
						margin: 0 0 6px 0;
						font-size: 16px;
						font-weight: $font-wt-semibold;
						line-height: 1.06;
						color: $t-cape-cod;
						.required-indicator {
					    font-style: normal;
					    color: $bg-burgundy-hover;
					    padding: 0 0 0 3px;
					    display: inline;
						}
					}
					&.agree-checkboxes,
					&.form-checkbox {
						margin: 0 0 20px;
					}
					&.form-checkbox {
						label {
							padding-left: 31px;
    					display: block;
    					font-weight: $font-wt-regular;
    					line-height: 1.13;
    					@include respond(large) {
    						padding-left: 0;
    						display: inline;
    					}
						}
					}
					&.form-email {
						margin: 44px 0 30px;
					}
				}
				.field-wrapper {
					margin-bottom: 0;
					max-width: 360px;
				}
				.form-indent {
					margin-left: 0;
				}
				label.error {
			    background: #ffffff;
			    position: relative;
			    color: #f3423e;
			    display: inline-block;
			    vertical-align: top;
			    font-size: 12px;
			    line-height: 17px;
			    line-height: 1.0625rem;
			    border-radius: 4px;
			    border: 1px solid #f3423e;
			    padding: 0 10px 0 24px;
			    margin: 8px 0 0;
			    &:before {
				    position: absolute;
				    top: 2px;
				    left: 7px;
				    font: normal normal normal 14px/1 FontAwesome;
				    font-size: inherit;
				    text-rendering: auto;
				    -webkit-font-smoothing: antialiased;
				    -moz-osx-font-smoothing: grayscale;
				    content: "\f06a";
				    font-size: 14px;
				    font-size: 0.875rem;
					}
					&:after {
				    position: absolute;
				    top: -9px;
				    left: 12px;
				    background: url(../images/arrow.png);
				    width: 14px;
				    height: 9px;
				    content: ' ';
				    background-size: 100% 100%;
					}
				}
				div.radio {
					height: 22px;
				  width: 22px;
					span {
						background: url(../images/radio.svg) left center no-repeat;
						background-position: 0 0;
				    height: 22px;
				    width: 22px;
				    &.checked {
						  height: 22px;
    					width: 22px;
    					background: url(../images/radio-selected.svg) left center no-repeat;
    					background-position: 0 0;
				    }
					}
				}
				div.radio.hover span.checked, 
				div.radio.focus span.checked {
				  background-position: 0 0;
				}
				div.selector {
			    display: inline-block;
			    padding: 5px 50px 5px 16px;
			    margin: 0;
			    font: inherit;
			    outline: none;
			    background-position: inherit;
			    -webkit-appearance: none;
			    width: 100%;
			    height: 44px;
			    border-radius: 3px;
			    background: #ffffff;
			    border: solid 1px #dde3e8;
			    color: #788995;
			    font-family: "akzidenz-grotesk", sans-serif;
			    > span {
				    text-overflow: ellipsis;
				    display: block;
				    font-size: 14px;
				    white-space: nowrap;
				    background: none;
				    height: 34px;
				    line-height: 34px;
				    cursor: pointer;
				    padding-left: 0;
				    padding-right: 35px;
				    box-sizing: border-box;
				    width: 100% !important;
					}
					&:after {
				    position: absolute;
				    right: 18px;
				    content: '\f0d7';
				    line-height: 16px;
				    font-size: 16px;
				    font-family: "FontAwesome";
				    position: absolute;
				    top: 50%;
				    line-height: 0;
				    z-index: 1;
					}
					label.error {
						margin: 10px 0 0 -17px;
					}
				}
				div.checker {
				  height: auto;
  				width: 22px;
  				vertical-align: top;
					span {
						height: auto;
						vertical-align: top;
						z-index: 100;
						input[type="checkbox"] {
							border: 1px solid $t-border-gray2;
						}
						&:before {
					    border: 1px solid $t-border-gray2;
						}
						&.checked {
							height: 22px;
						}
						&.checked:before {
							border: 1px solid $magenta;
						}
					}
					label.error {
						white-space: nowrap;
				    margin: 30px 0px 0px -9px;
				    display: inline-block;
				    padding-left: 24px;
				    line-height: 17px;
					}
				}
				input[type="text"], input[type="number"], input[type="password"], input[type="date"], input[type="email"], input[type="tel"], textarea {
					height: 44px;
					border-radius: 3px;
					border:solid 1px #dde3e8;
				}
				.cols-fields-wrap {
					overflow: hidden;
					.col1-field-wrap {
						float: left;
    				width: 100%;
    				@include respond(large) {
    					width: 380px;
    				}
					}
					.col2-field-wrap {
						float: left;
    				width: 100%;
    				@include respond(large) {
    					width: 380px;
    				}
					}
				}
				.btn-default {
					width: 100%;
					@include respond(large) {
						width: 180px;
					}
				}
				#isSuperHost,
				#isHost {
					.field-wrapper {
						margin-top: 15px;
						div.radio {
							float: left;
					    clear: both;
					    margin-bottom: 20px;
						}
						span.label {
							display: block;
					    padding-left: 32px;
					    height: 22px;
					    vertical-align: middle;
					    line-height: 22px;
					    margin-bottom: 20px;
					    font-size: 16px;
					    font-weight: $font-wt-semibold;
						}
					}
				}
			}
		}
		.airbnb-thankyou {
			padding: 35px 0;
			@include respond(large) {
				padding: 60px 25px;
			}
			h2 {
				margin-top: 0;
				margin-bottom: 25px;
				font-size: 18px;
				line-height: 1.33;
				color: $t-cape-cod;
				font-weight: $font-wt-semibold;
				@include respond(large) {
					margin-bottom: 40px;
					font-size: 24px;
					line-height: 1;
				}
			}
			p {
				margin-top: 0;
				margin-bottom: 40px;
				font-size: 18px;
				line-height: 1.33;
				color: $t-cape-cod;
				font-weight: $font-wt-regular;
				@include respond(large) {
					font-size: 24px;
					line-height: 1;
				}
			}
			.btn-default {
				width: 100%;
				@include respond(large) {
					width: 180px;
				}
			}
		}
	}
}
.uppercase {
	text-transform:uppercase;
}
.semibold {
	font-weight: $font-wt-semibold;
}
