.compare-our-tulo-mattresses {
	padding: 30px 0 54px;
	@include respond(medium) {
		padding: 65px 0 94px;
	}
	> .container {
		max-width: 980px;
	}
	h1 {
		margin-top: 0;
		margin-bottom: 13px;
		color:$t-amaranth;
		@include respond(large-down) {
			font-size: 24px;
			line-height: 1.42;
			margin-bottom: 20px;
		}
	}
	.heighlight {
		font-size: 14px;
		color: $t-mine-shaft;
		line-height: normal;
		margin-top: 13px;
		line-height: 1.5;
		margin-bottom: 34px;

		@include respond(medium) {
			margin-top: 20px;
			font-size: 24px;
			color: $t-dove-gray;
			line-height: 1.42;
			margin-bottom: 24px;
		}
	}
	.col {
		float: none;
		width: 100%;
		padding: 0;
		@include respond(medium) {
			float: left;
			width: 50%;
		}
		&.col-top-margin {
			@include respond(large-down) {
				margin-top: 50px;
				h3 {
					margin-bottom: 20px;
				}
			}
		}
		h3 {
			margin-top: 10px;
			line-height: 1.39;
			font-weight: $font-wt-semibold;
			color:$magenta;
			margin-bottom: 8px;
			@include respond(medium) {
				margin-top: 20px;
				line-height: 1.04;
				margin-bottom: 28px;
			}
			.new {
				background-color: $magenta;
		    padding: 3px 7px;
		    height: 21px;
		    display: inline-block;
		    vertical-align: middle;
		    color: $white;
		    font-weight: 500;
		    font-size: 16px;
		    line-height: 16px;
		    position: relative;
		    top: -1px;
		    margin-right: 8px;
		    @include respond(medium) {
		    	padding: 5px 10px;
		    	height: 25px;
		    	font-size: 18px;
		    	line-height: 17px;
		    	margin-right: 11px;
		    	top: -2px;
		    }
			}
		}
		.btn-default {
			margin-top: 10px;
			margin-bottom: 16px;
			font-size: 18px;
			width: 285px;
			@include respond(medium) {
				margin-top: 30px;
				margin-bottom: 12px;
			}
		}
	 .btn-fancy {
			@include btn-default();
			border-radius: 100px;
			background:linear-gradient(277deg, #8c1849, #e51870 33%, #e71f6a 59%, #f6732a);
			box-shadow: none;
			border: none;
			font-size: 18px;
			text-transform: none;
			text-align: center;
			color: $white;
			width: 285px;
			padding: 13px 30px;
			margin-top: 10px;
			margin-bottom: 16px;
			text-decoration: none;
			height: 50px;
			@include respond(medium) {
				margin-top: 27px;
				margin-bottom: 12px;
			}

			&::after{
				background: linear-gradient(to left, #8c1b49, #e6206a 80%, #f6732a);
			}
    }
		.starting-price {
			color:$t-mine-shaft;
			margin-bottom: 18px;
			@include respond(medium) {
				margin-bottom: 37px;
			}
			.price {
				display: inline-block;
				vertical-align: top;
				color:$magenta;
				font-size: 18px;
				font-weight: $font-wt-semibold;
				@include respond(medium) {
					font-size: 24px;
					vertical-align: middle;
				}
			}
		}
		.mattress-description {
			padding: 0 0;
			line-height: 1.5;
			color:$t-mine-shaft;
			font-size: 14px;
			@include respond(medium) {
				line-height: 1.39;
				font-size: 18px;
				padding: 0 15px;
			}
		}
	}
	.ui-accordion.comparison-list,
	.comparison-list {
		margin-top: 40px;
		@include respond(medium) {
			margin-top: 30px;
		}
		.ui-accordion-icons {
    	padding: 0;
		}	
		.ui-accordion-header-active {
			.show {
				display: none;
			}
			.hide {
				display: inline;
			}
		}
		.ui-accordion-header {
			.btn-default.white {
				color:$magenta;
				border:2px solid $magenta;
				width: 262px;
				&:hover, &:after {
					background-color: $magenta;
					color:$white;
				}
			}
		}	
		.comp-list-wrap {
			padding-top: 10px;
			@include respond(medium) {
				padding-top: 50px;
			}
			ul {
				margin: 0 0 30px;
				padding: 0;
				list-style: none;
				@include respond(medium) {
					margin: 0 0 50px;
				}
				&.mb-0 {
					margin: 0;
				}
				li {
					margin-bottom: 10px;
					display: block;
					color: $t-mine-shaft;
					line-height: 1.5;
					font-size: 14px;
					list-style: none;
					overflow: hidden;
					@include respond(medium) {
						margin-bottom: 30px;
						line-height: 1.39;
						font-size: 18px;
					}
					&.mb-0 {
						margin-bottom: 0;
					}
					.col {
						width: 100%;
						float: none;
						@include respond(medium) {
							width: 50%;
							float: left;
						}
					}
					.list-col {
						width: 100%;
						float: none;
						text-align: left;
						padding: 0 20px 0 60px;
    				position: relative;
    				@include respond(medium) {
    					width: 50%;
							float: left;
    				}
						&.text-center {
							text-align: center;
						}
						&.list-col-full {
							width: 100%;
							float: none;
						}
						&.list-col-btn-wrap {
							padding: 0 20px 0 20px;
						}
					}
					.comp-icn {
						display: inline-block;
						width: 30px;
						height: 30px;
						text-align: center;
						margin-right: 10px;
						vertical-align: middle;
						position: absolute;
				    left: 15px;
				    top: -2px;
				    img {
				    	vertical-align: middle;
				    }
				    &.top-2px {
				    	top: 2px;
				    }
					}
					&.list-title {
						margin-bottom: 10px;
						font-size: 14px;
						font-weight: $font-wt-semibold;
						color: $t-disco;
						@include respond(medium) {
							font-size: 20px;
							margin-bottom: 15px;
						}
						.list-col {
							padding: 0 20px 0 20px;
						}
					}
					.btn-default {
						margin-top: 0;
						margin-bottom: 0;
						@include respond(medium) {
							margin-bottom: 12px;
						}
						font-size: 18px;
						width: 285px;
					}
				 .btn-fancy {
						@include btn-default();
						border-radius: 100px;
						background:linear-gradient(277deg, #8c1849, #e51870 33%, #e71f6a 59%, #f6732a);
						box-shadow: none;
						border: none;
						font-size: 18px;
						text-transform: none;
						text-align: center;
						color: $white;
						width: 285px;
						padding: 13px 30px;
						margin-top: 0;
						margin-bottom: 12px;
						text-decoration: none;
						height: 50px;

						&::after{
							background: linear-gradient(to left, #8c1b49, #e6206a 80%, #f6732a);
						}
			    }
				}
			}
		}
	}
	.comparison-list-tabs {
		width: calc(100% + 30px);
    margin-left: -15px;
		&.ui-tabs {
			padding: 0;
			.ui-tabs-nav {
				height: auto;
				li {
					margin: 0;
					padding: 0;
					border:none;
					width: 50%;
					background-color: $t-light-mGray;
					text-align: center;
					height: 32px;
					&:first-child {
						border-right: solid 1px #d8d8d8;
					}
					&.ui-state-active {
    				border-bottom: 3px solid $t-amaranth;
    				a {
    					color:$t-amaranth;
    					font-weight: $font-wt-semibold;
    				}	
					}
				}
				.ui-tabs-anchor {
			    padding: 8px 10px;
			    font-size: 14px;
			    display: inline-block;
			    line-height: normal;
			    color: $black;
			    float: none;

				}
			}
			.ui-tabs-panel {
				clear: both;
				padding: 20px 10px 0;
			}
		}
	}
}


.mt-10 {margin-top: 10px !important;}
.mt-20 {margin-top: 20px !important;}
.mt-30 {margin-top: 30px !important;}
.mt-40 {margin-top: 40px !important;}
.mt-50 {margin-top: 50px !important;}
.mt-60 {margin-top: 60px !important;}
.mt-70 {margin-top: 70px !important;}
.mt-80 {margin-top: 80px !important;}
.mt-90 {margin-top: 90px !important;}
.mt-100 {margin-top: 100px !important;}

.mb-10 {margin-bottom: 10px !important;}
.mb-20 {margin-bottom: 20px !important;}
.mb-30 {margin-bottom: 30px !important;}
.mb-40 {margin-bottom: 40px !important;}
.mb-50 {margin-bottom: 50px !important;}
.mb-60 {margin-bottom: 60px !important;}
.mb-70 {margin-bottom: 70px !important;}
.mb-80 {margin-bottom: 80px !important;}
.mb-90 {margin-bottom: 90px !important;}
.mb-100 {margin-bottom: 100px !important;}

