 .competitive-banner {
    .banner {
        @extend %layout;
        position: relative;
        
        img { 
            width: 100%;
            @include respond(medium){
                position: static;
                transform: translateX(0);
                max-width: 100%;
                left: 0;
                width: 100%;
                height: auto;
            }
        }
        .container {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            overflow: hidden;
        }
        .caption {
            left: 50%;
            transform: translateX(-50%);
            position: relative;
            top: 0;
            z-index: 10;
            white-space: nowrap;
            display: inline-block;
            padding:25px 0;
            text-align: center;
            @include respond(medium){
              padding:25px 25px;
              left: 0;
              transform: none;
            }
            @include respond(x-large) {
              padding:110px 50px;
            }
            h1 {
                font-size: 29px;
                font-weight: $font-wt-bold;
                color: $white;
                margin-top:0;
                margin-bottom: 20px;
                @include respond(x-large){
                  font-size: 40px;
                  margin-bottom: 24px;
                }
                span {
                    font-size: 18px;
                    line-height: normal;
                    display: block;
                    font-weight: 400;
                    margin-bottom:3px;
                    @include respond(x-large){
                      margin-bottom:10px;
                      font-size: 26px;
                    }
                }
            }
            .btn-default {
                width: 213px;
                height: 54px;
                font-weight: $font-wt-semibold;
                font-size: 22px;                
                text-align: center;
                line-height: 1.32;
                @include respond(x-large) {
                  width: 253px;
                  height: 66px;
                  border:4px solid $t-amaranth;
                  font-size: 24px;
                  font-weight: $font-wt-bold;
                  line-height: 1.38;
                }
            }
        }
    }
}

.competitive-best-customer-experience {
    padding: 30px 0;
    text-align: center;
    @include respond(medium){
      padding: 60px 0;
    }
    h2 {
        @include h1();
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 0;
        @include respond(medium){
          font-size: 38px;
        }
    }
    p {
        color:$t-mine-shaft;
    }
    .customer-experience-list {
        padding: 0;
        list-style: none;
        margin:32px 0 4px;
        overflow: hidden;
        @include respond(large) {
          padding: 0 50px;
        }
        @include respond(x-large) {
          padding: 0 185px;
        }
        li {
            list-style: none;
            width: 50%;
            float: left;
            display: block;
            margin-bottom: 44px;
            text-align: center;
            .ce-icon {
                width: 100%;
                height: 60px;
                float: none;
                text-align: center;
                vertical-align: middle;
                display: block;
                margin-right: 0;
                margin-bottom: 10px;
                @include respond(large) {
                  float: left;
                  width: 117px;
                  height: 80px;
                  margin-right: 20px;
                  margin-bottom: 0;
                  display: inline-block;
                }
                img {
                  display: inline-block;
                  vertical-align: middle;
                  height: 60px;
                  @include respond(large) {
                    height: 80px;
                  }
                }
            }
            .ce-text {
              float:none;
              color:$burgundy;
              font-size: 16px;
              font-weight: $font-wt-semibold;
              text-align: center;
              padding-right: 0;
              line-height: normal;
              padding: 0 10px;
              @include respond(large) {
                padding: 0;
                text-align: left;
                float:left;
                padding-right: 20px;
                font-size: 22px;
                line-height: 80px;
              }
            }
        }
    }
    .message-bottom {
      max-width: 615px;
      margin: 0 auto;
    }
    .btn-default {
      width: 192px;
      height: 50px;
      margin-top: 24px;
      margin-bottom: 17px;
      @include respond(medium) {
         width: 262px;
         margin-bottom: 0;
      }
    }
}

.competitive-stores {
  background: url(../images/competitive-map.png) no-repeat center center;
  background-size: cover;
  padding:60px 0;
  text-align: center;
  @include respond(medium){
    padding:75px 0;
  }
  h2 {
      @include h1();
      font-size: 24px;
      margin-top: 0;
      margin-bottom: 10px;
      @include respond(medium){
        font-size: 38px;
        margin-bottom: 26px;
      }
  }
  p {
      color:$t-mine-shaft;
      margin-top: 0;
      @include respond(medium){
        margin-bottom: 18px;
      }
  }
  #counter {
    width: 237px;
    height: 86px;
    display: inline-block;
    vertical-align: middle;
    color:$white;
    font-size:38px;
    font-weight: $font-wt-bold;
    line-height: 86px;
    padding: 0 17px;
    background: $t-amaranth;
    letter-spacing: 14px;
    text-align: center;
    letter-spacing: 1em;
    position: relative;
    margin: 10px 0 0;

    @include respond(medium){
      margin: 16px 0;
    }

    &:after{
      content: " ";
      width: 6px;
      background: $white;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 56px;
    }

    .counter-value{
      position: relative;

      &:after{
        content: " ";
        width: 6px;
        background: $white;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 98px;
      }

      &:before{
        content: " ";
        width: 6px;
        background: $white;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 37px;
      }
    }
  }
  .matressfirm-stores {
    margin: 20px 0;
    line-height: 25px;
    font-size: 18px;
    @include respond(medium) {
      margin: 24px 0;
      font-size: 24px;
    }
    img {
      height: 25px;
      margin-right: 2px;
      vertical-align: text-bottom;
    }
  }
  .btn-default {
    width: 192px;
    height: 50px;
    margin-top: 10px;
    @include respond(medium){
      width: 260px;
      margin-top: 11px;
    }
  }
}

.competitive-layered-mattress {
  padding:45px 0;
  @include respond(medium) {
    padding:60px 0;
  }
  h2 {
     @include h1();
      font-size: 24px;
      margin-top: 0;
      margin-bottom: 10px;
      text-align: center;
      @include respond(medium){
        font-size: 38px;
        margin-bottom: 14px;
        text-align: left;
      }
  }
  .image-col {
    float: none;
    width: 100%;
    @include respond(medium){
      float: left;
      width: 70%;
    }
    p {
      margin-top: 0;
      margin-bottom: 10px;
      line-height: 1.39;
      color: $t-mine-shaft;
      text-align: center;
      @include respond(medium) {
        text-align: left;
      }
    }
    .mattress-layered-image {
      position: relative;
      margin-bottom: 20px;
      @include respond(medium) {
        margin-bottom: 0;
      }
      img {
        &.mattress-image {
          height: auto;
          width: auto;
          max-width: 100%;
          float: none;
          @include respond(medium){
            height: 100%;
            max-width: none;
            float: right;
          }
        }
        &.certi-pur-us {
          position: absolute;
          z-index: 10;
          right: 15%;
          left: inherit;
          bottom: -20px;
          width: 54px;
          @include respond(medium){
            position: absolute;
            z-index: 10;
            left: 25px;
            right: inherit;
            bottom: 45px;
            width: 129px;
          }
        }
      }
    }
  }
  .content-col {
    float: none;
    width: 100%;
    padding-right: 0;
    @include respond(medium){
      float: left;
      width: 30%;
      padding-right: 40px;
    }
    h3 {
      color:$t-amaranth;
      margin-top:0;
      margin-bottom: 10px;
      font-weight: $font-wt-bold;
      font-size: 16px;
    }
    p {
      font-size: 14px;
      color:$t-primary-color;
      margin-top: 10px;
      margin-bottom:20px;
      line-height: 1.38; 
    }
  }
  .mobile-content-col {
    margin-top: 32px;
    clear: both;
  }
  .mattress-details-mobile {
    padding: 0;
    margin: 0; 
    list-style: none;
    li {
      list-style: none;
    }
    .ui-accordion-header {
      padding:5px 11px;
      font-size: 14px;
      text-decoration: none;
      color:$t-gray-shaft;
      border-top: 1px solid #bebebe;
      border-bottom: 1px solid #bebebe;
      .fa {
        font-size: 20px;
        position: relative;
        top: 3px;
      }
      &.ui-accordion-header-active {
        border-bottom: none;
        i:before {
            content: "\f106";
        }
      }
    }
    .slide {
      border-bottom: 1px solid #bebebe;
      margin-top: 15px;
    }
    h3 {
      font-size: 14px;
      line-height: 1.43;
      margin-top: 0;
      margin-bottom: 0;
    }
    p {
      font-size: 14px;
      line-height: 1.43;
      margin-top: 0;
      margin-bottom: 15px;
    }
  }
  .features-wrap {
    text-align: center;
    margin-top: 35px;
    @include respond(medium) {
      margin-top: 0;
    }
  }
  .features-list {
    margin: 0;
    list-style: none;
    display:block;
    text-align: left;
    padding: 0 30px;
    @include respond(medium){
      display:inline-block;
      text-align: center;
      padding: 0;
    }
    li {
      list-style: none;
      display: block;
      vertical-align: middle;
      color:$t-mine-shaft;
      line-height: 30px;
      margin-bottom: 8px;
      @include respond(medium) {
        margin-bottom: 0;
        display: inline-block;
      }
      .fa-check {
        color:$t-amaranth;
        font-size: 20px;
        vertical-align: middle;
        margin-right: 10px;
        position: relative;
        top: -3px;
        @include respond(medium) {
          font-size: 32px;
          top:0;
        }
      }
      @include respond(medium) {
        padding-right: 40px;
      }
      
      &:last-child {
        padding-right: 0;
      }
    }
  }
  .btn-default {
    width: 192px;
    height: 50px;
    margin-top: 20px;
    @include respond(medium) {
      width: 262px;
      margin-top: 50px;
    }
  }
  .clm-end {
    width: 238px;
    border-top: none;
    border-bottom: 1px solid $t-gray3;
    margin-top: 45px;
    margin-bottom: 0;
  }
}

.competitive-goodbye-sleep-problems {
  padding:0 0 40px;
  text-align: center;
  @include respond(medium) {
    padding:0 0 46px;
  }
  h2 {
    @include h1();
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    @include respond(medium){
      font-size: 38px;
      margin-bottom: 21px;
    }
  }
  p {
    color:$t-mine-shaft;
  }
  .heighlight-message {
    font-size: 18px;
    line-height: 1.36;
    @include respond(medium){
      font-size: 22px;
    }
  }
  .sleeping-wrap {
    margin-top:30px;
    margin-bottom:30px;
    display: block;
    @include respond(medium){
      display: -webkit-flex; 
      display: -ms-flexbox; 
      display: flex; 
      overflow: hidden;
    }
  }
  .block-sleeping-problems-wrap {
    background-color: $t-light-grey;
    width: calc(100% + 30px);
    margin-left: -15px;
    float: none; 
    @include respond(medium) {     
      width: 50%;
      border-right:15px solid $white;
      margin-left:initial;
    }
  }
  .block-sleeping-problems-fixes-wrap {
    background-color: $t-light-grey;
    width: calc(100% + 30px);
    margin-left: -15px;
    float: none;
    @include respond(medium) {
      width: 50%;
      border-left:15px solid $white;
      margin-left: initial;
    }
  }
  .block-sleeping-problems {
    height: 100%;
    background-color: $t-light-grey;
    border-top:5px solid #ff495c;
    padding:30px 15px 5px; 
    text-align: left;
    @include respond(medium) {
      padding:20px 30px 5px;
      text-align: center;
    }
    h3 {
      margin-top: 0;
      margin-bottom:16px;
      color:#ff495c; 
      font-size: 24px;
      font-weight: $font-wt-semibold;
      line-height: 1.38;
      @include respond(medium) {
        margin-bottom:35px;
        font-size: 28px;
      }
    }
    p {
      font-size: 18px;
      color:$t-mine-shaft;
      line-height: 1.67;
      @include respond(medium) {
        font-weight: $font-wt-semibold;
        line-height: 1.5;
        font-size: 24px;
      }
      @include respond(x-large) {
        line-height: 2.5;
      }
    }
  }
  .block-sleeping-problems-fixes {
    height: 100%;
    background-color: $t-light-grey;
    border-top:5px solid #2eb57a;
    padding:30px 15px; 
    @include respond(medium) {
      padding:20px 15px 30px; 
    }
    @include respond(large) {
      padding:20px 30px 30px; 
    }
    h3 {
      margin-top: 0;
      margin-bottom:16px;
      color:#2eb57a; 
      font-size: 24px;
      font-weight: $font-wt-semibold;
      text-align: left;
      line-height: 1.38;
      @include respond(medium) {
        margin-bottom:35px;
        text-align: center;
        font-size: 28px;
        padding:0 10px;
      }
      @include respond(large) {
        padding: 0;
      }
      .weight-normal {
        font-weight: $font-wt-regular;
      }
    }
    p {
      font-size: 24px;
      font-weight: $font-wt-semibold;
      color:$t-mine-shaft;
      line-height: 2.5;
    }
    .sleeping-problems-fixes-list {
      padding: 0;
      margin: 0;
      list-style: none;
      display:inline-block;
      li {
        list-style: none;
        display: block;
        vertical-align: middle;
        color:$t-mine-shaft;
        font-size: 18px;
        line-height: 1.85;       
        font-weight: $font-wt-semibold;
        text-align: left;
        @include respond(medium) {
          font-weight: $font-wt-bold;
          line-height: 3;
          font-size: 24px;
        }
        .fa-check {
          color:#2eb57a; 
          font-size: 18px;
          vertical-align: middle;
          margin-right: 10px;
          @include respond(medium) {
            font-size: 36px;
          }
        }
      }
    }
  }
  .btn-default {
    width: 192px;
    height: 50px;
    margin-top: 12px;
    margin-bottom: 40px;
    @include respond(medium) {
      width: 250px;
      margin-bottom: 50px;
    }
  }
  .glp-end {
    width: 238px;
    border-top: none;
    border-bottom: 1px solid $t-gray3;
  }
}

.competitive-coupon {
  background-color: $t-light-grey;
  padding:10px;
  @include respond(medium) {
    padding:25px 0 25px;
  }
  .coupon-wrap {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    @include respond(medium) {
      width: 555px;
    }
    .coupon {
      background:url(../images/coupon-bg.png) center center;
      width: 100%;
      padding:22px 10px 10px;
      .copy-target {
        width:400px;
        height:100px;
        border:1px solid #ccc;
        display: none;
      }
      @include respond(medium) {
        padding:45px 55px;
      }
      h2 {        
        @include h1();
        margin-top: 0;
        margin-bottom: 0;
        font-size: 24px;
        @include respond(medium){
          font-size: 38px;
          margin-bottom: 40px;
        }
      } 
      .coupon-code-wrap {
        display: block;
        vertical-align: middle;
        position: relative;
        @include respond(medium) {
          display: inline-block;
        }
        .coupon-code {
          margin:0 12px;
          color:$t-amaranth;
          font-size: 36px;
          font-weight: $font-wt-bold;
          padding: 12px;
          border:7px dashed $t-amaranth;
          display: inline-block;
          vertical-align: middle;
        }
        .click-copy {
          line-height: 1.39;
          color:$t-mine-shaft;
          display: inline-block;
          margin-top: 5px;
          cursor: pointer;
          background: transparent;
          border: none;
        }
        .bubble{
          position: absolute;
          background-color: white;
          border: 1px solid #ccc;
          padding: 5px;
          font-size: 16px;
          left: 50%;
          transform: translateX(-50%);
          text-align: center;
          bottom: -2px;
          border-radius: 3px;
          white-space: nowrap;
          &:after, &:before {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
          }
          &:after{
            border-color: rgba(0, 0, 0, 0);
            border-bottom-color: #ffffff;
            border-width: 15px;
            margin-left: -15px;
          }
          &:before {
            border-color: rgba(204, 204, 204, 0);
            border-bottom-color: #cccccc;
            border-width: 16px;
            margin-left: -16px;
            margin-bottom: 1px;
          }
        }
      }
      .coupon-off {
         display: inline-block;
         vertical-align: top;
         margin:0 12px;
         font-size: 36px;
         font-weight: $font-wt-bold;
         color:#3ddc97;
         line-height: 80px;
      }
    }
    p {
      font-size: 12px;
      color:$t-mine-shaft;
      line-height: 1.5;
      margin-top: 10px;
      margin-bottom: 0;
      @include respond(medium) {
        font-size: 16px;
        line-height: 1.56;
      }
    }
  } 
}

.competitive-faqs {
  padding:30px 0;
  @include respond(medium) {
    padding:60px 0;
  }
  .faqs-wrap {
    max-width: 750px;
    margin: 0 auto;
  }
  h2 {        
    @include h1();
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    display: block;
    @include respond(medium){
      font-size: 38px;
      margin-bottom: 50px;
    }
  } 
  p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    color:$t-dove-gray;
    line-height: 1.43;
    text-align: left;
    @include respond(medium) {
      font-size: 22px;
      line-height: 1.45;
      margin-bottom: 30px;
    }
    .question {
      display: block;
      font-weight: $font-wt-semibold;
    }
    a {
      font-size: 14px;
      @include respond(medium) {
        font-size: 22px;
      }
    }
  }
  .btn-default {
    width: 192px;
    height: 50px;
    margin:30px auto 0;
    display: block;
    @include respond(medium) {
      width: 262px;
      margin:45px auto 0;
    }
  }
}

.competitive-comparison{
  overflow: hidden;
  width: 100%;
  text-align: center;
  position: relative;
  padding: 80px 0 0;
  display: none;

  &.brand{
    display:block;
  }
  
  @include respond(medium){display: block;}

  h2 {
    @include h1();
    margin-top: 0;
    margin-bottom: 26px;
  }
  p {
      color:$t-mine-shaft;
      max-width: 90%;
      margin: 1em auto 2em; 

      @include respond(medium){max-width: 60%;}
  }

  ul{
    list-style:none;
    padding: 0;
    margin: 0;
  
    li{
      padding: 0 8px;
      cursor: pointer;
      line-height: 2.67;
      font-size: 15px;
      font-weight: bold;
      color: $t-gray-shaft;

      &:hover{
        background: $t-light-grey;
      }
    }
  }
  .select-area{
    position: relative;
    width: auto;
    float: left;
  
    ul.categories-list{
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      z-index: 99;
      background:$white;
      margin: 0;
      border: 0;
      overflow: hidden;
      border-radius: 5px;
      box-shadow: 0 0 10px $very-light-gray;
      padding:40px 0 0;
    }
  
    .fake-input{
      display: inline-block;
      width: auto;
      position: relative;
      padding: 10px 7px;
      color: $t-dove-gray;
      z-index: 100;
      border-radius: 5px;
      background: $white;
      width:168px;

      &:after{
        top: 50%;
        right:30%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        z-index: 999;
        position: absolute;
        pointer-events: none;
        border-color: rgba(130, 130, 130, 0);
        border-top-color: #828282;
        border-width: 5px;
        margin-top: -3px;
      }
    }

    input[type="text"]{
      border: 0;
      width: auto;
      height: 20px;
      padding:0;
      cursor: pointer;
      font-size: 15px;
      font-weight: $font-wt-semibold;
      color: $t-dove-gray;
    }
  
    &.active-drop{
      ul.categories-list{
        display: block;
      }

      .fake-input{
        color: $t-mine-shaft;
      }
    }
  }

  .comparison-note{
    text-align: center;
    font-size: 12px;
    line-height: 1.67;
    color: $t-mine-shaft;
    margin-bottom: 20px;
  }
}

table.comparison-table{
  width: 100%;
  margin-bottom: 50px;

  th,
  td{
    width: 25%;
    line-height: 20px;
    font-size: 15px;
    color: $black;
    font-style: normal;
    padding: 9px;
    text-align: left;

    a{
      font-size: 15px;
    }
  }

  th{
    background: none;
    border: 0;
    padding: 0 10px;
  }

  td{
    border-bottom: 1px solid $table-gray;
    border-left: 1px solid $table-gray;

    &.label-td{
      background: $t-light-grey;
      font-weight: $font-wt-semibold;
      color:$t-primary-color;
    }

    &.prop-td{
      background-color: rgba(255, 208, 245, 0.29);
    }

    span{
      &.value-1,
      &.value-2{
        display: none;
      }
    }
  }

  thead{
    th{
      text-transform: none;

      &.title-label{
        color: $t-amaranth;
        text-align: left;
        padding: 0 9px;
        font-size: 22px;
        font-weight: $font-wt-semibold;
      }
    }
  }

  tfoot{
    td{
      border: none;
      background: none;

      &.label-td{
        background:none;
      }

      &.prop-td{
        background: $white;
        border: 1px solid $table-gray;
        border-top: none;
        text-align: center;
        padding: 20px 10px;
      }
    }

    a.btn-default{
      width: 90%;
      padding:10px 30px;
    }
  }

  tbody{
    border:1px solid $very-light-gray;
    border-left: 0;
  }

  sup{
    top: -4px;
    padding-left: 1px;
  }

  &.brand{
    max-width: 900px;
    margin: 0 auto 50px;

    @include respond(large-down){
      margin: 0 -15px 10px;
      width: auto;
    }

    @include respond(large-down){
      display: block;
    }

    tr{
      @include respond(large-down){
        display: flex;
        flex-wrap: wrap;
      }
    }

    th{
      font-size: 18px;

      @include respond(large-down){
        width: 50%;
        float: left;
        display: inline;
      }

    }

    th,
    td{
      @include respond(large-down){
        text-align: center;
      }
    }

    thead {
      th.title-label{
        font-size: 24px;
        font-weight: 700;
        padding: 9px;
      }

      th{
        @include respond(large-down){
          padding:9px;
          text-align: center;

          &:first-child{display: none;}
        }
      }
    }

    td.label-td{
      width: 20%;
      font-weight: 600;

      @include respond(large-down){
        width: 100%;
        float: left;
        display: inline;
        text-align: center;
      }
    }

    td.prop-td{
      width: 42%;
      background: $white;

      @include respond(large-down){
        width: 50%;
        float: left;
        display: inline;
      }
    }

    td.brand-td{
      width: 38%;
      background: $white;

      @include respond(large-down){
        width: 50%;
        float: left;
        display: inline;
      }
    }

    tbody{
      @include respond(large-down){
        border-bottom:none;
      }
    }

    tfoot{
      a.btn-default{
        width: 75%;
        font-size: 18px;
        padding: 13px 30px;
        font-weight: bold;

        @include respond(large-down){
          max-width: 260px;
          margin-top: 20px;
        }
      }

      td{
        @include respond(large-down){
          border:none;

          &.prop-td{
            width: 100%;
          }

          &:first-child{
            display: none;
          }
        }
      }
    }
  }
}

.competitive-comparison-mobile{
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 40px;

  @include respond(medium){display: none;}

  .container{
    text-align: center;
  }

  sup{
    top: -4px;
    padding-left: 1px;
  }

  h2 {
    @include h1();
    font-size: 24px;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 26px;
    text-shadow:0 0 5px rgba($white, 0.5);
  }
  p {
      color:$t-mine-shaft;
      margin: 1em auto 1.5em; 
  }

  ul{
    list-style:none;
    padding: 0;
    margin: 0;
  
    li{
      padding: 0 15px;
      cursor: pointer;
      line-height: 2.67;
      font-size: 15px;
      font-weight: bold;
      color: $t-gray-shaft;
      text-align: left;

      &:hover{
        background: $t-light-grey;
      }
    }
  }
  .select-area-mobile{
    position: relative;
    width: 90%;
    float: none;
    padding:0;
    margin:0 auto 20px;

    .label{
      color: $t-dove-gray;
      line-height: 1.36;
      font-size: 14px;
      font-weight: normal;
      margin-bottom: 10px;
    }

    .select-frame{
      width: 100%;
      position: relative;
    }
  
    ul.categories-list-mbl{
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      z-index: 99;
      background:$white;
      margin: 0;
      border: 0;
      overflow: hidden;
      text-align: left;
      border-radius: 5px;
      box-shadow: 0 0 10px $very-light-gray;
      padding:40px 0 0;
      background: linear-gradient(to bottom, $white, #f7f7f7);
    }
  
    .fake-input{
      display: inline-block;
      width: auto;
      position: relative;
      padding: 10px 15px;
      color: $t-dove-gray;
      z-index: 100;
      width:100%;
      font-size: 15px;
      line-height: normal;
      font-weight: 600;
      border-radius: 3px;
      background: linear-gradient(to bottom, $white, #f7f7f7);
      border: solid 1px $gainsboro;

      &:after{
        top: 50%;
        right:15px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        z-index: 999;
        position: absolute;
        pointer-events: none;
        border-color: rgba(130, 130, 130, 0);
        border-top-color: #828282;
        border-width: 5px;
        margin-top: -3px;
      }
    }

    input[type="text"]{
      border: 0;
      width: 100%;
      height: 20px;
      padding:0;
      background: none;
      cursor: pointer;
    }
  
    &.active-drop{
      ul.categories-list-mbl{
        display: block;
        background: linear-gradient(to bottom, $white, #f7f7f7);
      }

      .fake-input{
        color: $t-mine-shaft;
        border:1px solid $white;
        background: none;
      }
    }
  }

  .comparison-note{
    text-align: center;
    font-size: 10px;
    line-height: 1.7;
    color: $t-mine-shaft;
    padding:0 15px 30px;
  }

  .details-area{
    overflow: hidden;
    width: 100%;
    position: relative;
    border-bottom: 1px solid $very-light-gray;
    margin-bottom: 30px;
  }

  .detail-box{
    overflow: hidden;
    width: 100%;
    position: relative;
  }

  .detail-row{
    width: 100%;
    overflow: hidden;
    display: flex;

    &.titles{
      .brand-info{
        box-shadow: none;
        padding: 5px 10px;
        font-weight: 600;
        font-size: 18px;
        line-height: normal;
        color: $t-dove-gray;
      }
    }
  }

  a.btn-default{
    width:100%;
    max-width: 192px;
    margin: 0 auto 30px;
    padding:10px 30px;
  }

  .comparison-part{text-align: center;}

  .tulo-title,
  .tulo-part,
  .brand-info{
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    text-align: center;
  }

  .detail-title{
    background-color: $t-light-grey;
    box-shadow: inset 0 1px 0 0 $very-light-gray;
    font-size: 15px;
    color: $t-primary-color;
    line-height: normal;
    font-weight: 600;
    padding: 12px;
    text-align: center;
  }

  .tulo-part,
  .brand-info{
    color:$black;
    font-size: 15px;
    font-weight: normal;
    line-height: normal;
    padding: 10px;

    a{
      font-size: 15px;
      font-weight: normal;
      line-height: normal;
    }
  }

  .tulo-title{
    padding:5px 10px;
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
    color: $t-amaranth;
  }

  .tulo-part{
    background-color: $light-pink-color;
    position: relative;
    box-shadow:inset -1px 1px 0 0 $very-light-gray;
    white-space: nowrap;

    &:after{
      display: inline-block;
      vertical-align: middle;
      white-space: normal;
      height: 100%;
      content: " ";
    }

    span{
      white-space: normal;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .brand-info{
    box-shadow: inset 0 1px 0 0 $very-light-gray;
    white-space: nowrap;

    &:after{
      display: inline-block;
      vertical-align: middle;
      white-space: normal;
      height: 100%;
      content: " ";
    }

    span{
      white-space: normal;
      display:none;
      vertical-align: middle;
    }
  }
}

.competitive-reviews {
  color: $t-mine-shaft;
  h2 {        
    @include h1();
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    display: block;
    @include respond(medium){
      font-size: 38px;
      margin-bottom: 30px;
    }
  }
  .heighlight-message {
    font-size: 18px;
    line-height: 1.39;
    margin-top: 0;
    margin-bottom: 13px;
    text-align: center;
    @include respond(medium) {
      font-size: 22px;
      line-height: 1.14;
    }
  }
  .reviews-wrap {
    margin-top: 30px;
    background-color: $t-light-grey;
    padding: 32px 0 50px;
    @include respond(medium) {
      margin-top: 50px;
      padding: 40px 0 54px;
    }
    img.stack-mattress{
      float: right;
    } 
  }
  .review {
    width: 300px;
    height: auto;
    text-align: center;
    @include respond(x-large) {
       width: 358px;
    }
    img {
      max-height: 19px;
    }
    .reivew-by {
      margin:10px 0;
      .middot {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        vertical-align: middle;
      }
    }
    h3 {
      margin-top: 0;
      margin-bottom: 5px;
      font-weight: $font-wt-semibold;
      line-height: 1.39;
      font-size: 18px;
    }
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
    &.review-1 {
      float: right;
      margin-right: 60px;
      margin-bottom: 60px;
      @include respond(large) {
        margin-right: 120px;
      }
    }
    &.review-2 {
      float: right;
      margin-right: 20px;
      margin-bottom: 60px;
      @include respond(large) {
        margin-right: 35px;
      }
    }
    &.review-3 {
      float: left;
      margin-left: 25px;
      margin-bottom: 50px;
      @include respond(large) {
        margin-left: 0px;
        margin-bottom: 50px;
      }
      @include respond(x-large) {
        margin-left: 25px;
        margin-bottom: 70px;
      }
    }
    &.review-4 {
      clear: none;
      float: left;
      margin-left: 50px;
      margin-bottom: 50px;
      @include respond(large) {
        margin-bottom: 55px;
        clear: both;
        margin-left: 0;
      }
      @include respond(x-large) {
        margin-bottom: 85px;
      }
    }
    &.review-5 {
      float: left;
      margin-left: 30px;
      margin-bottom: 60px;
      @include respond(large) {
        margin-left: 130px;
      }
    }
    &.review-6 {
      float: right;
      margin-right: 30px;
      margin-bottom: 60px;
      @include respond(large) {
        margin-right: 90px;
      }
    }
  }
  .row3-reviews-wrap {
    width: 100%;
    @include respond(large) {
      width: 35%;
    }
  }
  .stack-mattress-wrap {
    width: 100%;
    @include respond(large) {
      width: 65%;
    }
  }
  .reviews-end {
    width: 238px;
    border-top: none;
    border-bottom: 1px solid $t-gray3;
  }
  .reviews-carousel-mobile {
    margin-bottom: 40px;
    .review {
      img {
        display: inline-block;
      }
    }
    &.slick-slider {
      .slick-dots {
        margin-top: 30px;
        li {
          display: inline-block;
          height: 14px;
          width: 14px;
          margin: 0 5px;
          background: #ffffff;
          border: solid 2px $t-gray-shaft;
          border-radius: 10px;
          &.slick-active {
            background-color: $t-gray-shaft;
            button {
              background: $t-gray-shaft;
            }
          }
        }
      }
    }
  }
  .cr-footer {
    p {
      margin-top: 5px;
      margin-bottom: 0;
      line-height: 1.39;
      @include respond(medium) {
        margin-top: 40px;
      }
    }
    .btn-default {
      width: 290px;
      height: 50px;
      margin-top: 30px;
      margin-bottom: 0;
      @include respond(medium) {
        width: 296px;
        margin-top: 28px;
      }
    }

  }
}

.competitive-product-details {
  padding: 35px 0 0;
  @include respond(medium) {
    padding: 66px 0 0;
  }
  .amplience-viewer {
    min-height: 0;
    @include respond(medium) {
      min-height: 528px;
    }
    @include respond(large) {
      min-height: 560px;
    }
  }
  #amplience-main {
    .slick-slider {
      .slick-dots {
         li {
          height: 13px;
          width: 13px;
          border: 2px solid $t-gray-shaft;
          background: $white;
          &.slick-active {
            background: $t-gray-shaft;
            button {
              background: $t-gray-shaft;
            }
          }
         } 
      }
    }
  }
  .pdp-main {
    margin: 0 !important;
    .review-area {
      clear:both;
    }
    .col-1 {
      width: calc(100% + 30px);
      float: none;
      margin:0 0 0 -15px;
      @include respond(medium) {
        width: 708px;
        margin: 0 auto;
      }
      @include respond(large) {
        width: 750px;
      }    
    }
    .product-name-container, .product-key-features {
      width: 100%;
      margin-left: 0;
      float: none;
      @include respond(medium) {
        width: 708px;
        margin: 0 auto;
      } 
      @include respond(large) {
        width: 750px;
      }   
    }
    .product-rating-reviews {
      min-height: 30px;
      margin: 0 0 15px;
      line-height: 30px;
      @include respond(medium) {
        width: 708px;
        margin: -5px auto 5px;
      }  
      @include respond(large) {
        width: 750px;
      }
      .stars-part {
        display: inline-block;
        vertical-align: middle;
      }
      .stars {
        height: 17px;
        width: 93px;
        overflow: hidden;
        position: relative;
        display: inline-block;
        margin: 0 0 5px;
        vertical-align: middle;
        text-indent: -9999px;
        background: url(../images/stars-empty-image.png) no-repeat;
        .highlight-stars {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          background: url(../images/stars-selects-image.png) no-repeat;
        }
      }
      .rank-review {
        cursor: initial;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding: 0 10px;
        z-index: 100;
        color: #363636;
        font-size: 18px;
        font-weight: $font-wt-semibold;
        @include respond(medium) {
          font-size: 22px;
        }
        &:hover {
          font-weight: $font-wt-semibold;
        }
      }
      .total-review {
        display: inline-block;
        vertical-align: middle;
        font-size: 15px;
        color: $t-mine-shaft;
        line-height: 1.39;
        @include respond(medium) {
          font-size: 18px;
        }
      }
    }
    .availability-storepickup, .product-price, .choosed-info, .inventory, .store-options,
    .wishlist, .tulo-package-section {
      display: none;
    }
    .product-name {
      margin: 0 0 2px;
      .svg-icon-tulo {
        top: 0px;
        width: 64px; 
        height: 27px; 
        margin-right: 3px;
        @include respond(medium){
          top: -2px;
          margin-right: 5px;
          width: 100px; 
          height: 42px;
        }
        path {
          color:$t-orange;
        }
      }
    }
    .product-key-features {
      display: block;
      font-size: 16px;
      line-height: 1.5;
      margin-top: 24px;
      &:after {
        width: 238px;
        content: "";
        display: block;
        border-bottom: 1px solid $t-gray3;
        margin: 0 auto;
        @include respond(medium) {
          display: none;
        }
      }
      @include respond(medium) {
        margin-top: 0;
      } 
      p {
        margin: 0 0 24px;
      }

    }
    #amplience-nav {
      padding:13px 24px 4px;
      .slick-arrow {
        display: none !important;
      }
    }
    .top-title.right-align {
      display: block;
    }
    .product-add-to-cart button {
      line-height: 25px;
      padding: 13px;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      font-weight: $font-wt-semibold;
    }
    &.soft {
      #amplience-nav .slick-slide.slick-current:after {
        border-color: $orange;
      }
      #amplience-nav .slick-slide {
        &:hover{
          &:after {
              border-color: $orange;
            }
          }
      }
      #amplience-nav {
        border-bottom: 1px solid $orange;
      }
    }
    &.medium {
      #amplience-nav .slick-slide.slick-current:after {
        border-color: $magenta;
      }
      #amplience-nav .slick-slide {
        &:hover{
          &:after {
              border-color: $magenta;
            }
          }
      }
      #amplience-nav {
        border-bottom: 1px solid $magenta;
      }
    }
    &.firm {
      #amplience-nav .slick-slide.slick-current:after {
        border-color: $burgundy;
      }
      #amplience-nav .slick-slide {
        &:hover{
          &:after {
              border-color: $burgundy;
            }
          }
      }
      #amplience-nav {
        border-bottom: 1px solid $burgundy;
      }
    }
  }
  .competitive-product-buy {
    background-color: $t-alabaster;
    margin-top: 32px;
    .product-buy-wrap {
      @include respond(medium) {
        width: 708px;
        margin: 0 auto;
      }  
      @include respond(large) {
        width: 750px;
      }
      .product-options {
        .title {
          font-size: 14px;
          color: $t-sand;
          font-weight: $font-wt-regular;
          margin: 6px 0;
        }
        .size-select-area .fake-input .selectedValue {
            font-weight: $font-wt-semibold;
            background: none;
            border: 0;
            padding: 7px 50px 8px 16px;
            height: 51px;
            font-size: 20px;
            cursor: default;
            font-weight: 500;
            line-height: 1.25;
            text-align: left;
            color: #6c6c6c;
            font-family: "akzidenz-grotesk", sans-serif;
            line-height: 36px;
          }
        .comfort-select {
          width: 180px;
          padding: 0;
          margin:0 20px 6px 0;
          @include respond(large) {
            margin:0 38px 6px 0;
          }
          &:after {
            display: none;
          }
          ul.variation-select {
            width: 370px;
            li:last-child {
              padding: 0;
            }
          }
        }
        .size-select {
          width: 240px;
          margin: 0 0 6px;
        }
        .size-select-area {
          .variation-select {
            width:370px;
         }
        }
      }
      .product-variations {
        float: left;
        margin-right:20px;
        @include respond(large) {
          margin-right:25px;
        }
      }
      .buy-btn-wrap {
        float: left;
        padding-top:21px;
        width: 246px;
        @include respond(large) {
           width: 267px;
        }
      }
    }
    &.fixed {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 100;
      box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.25);
      @include respond(medium) {
        -webkit-box-shadow: 0px -4px 10px rgba(50, 50, 50, 0.4);
        -moz-box-shadow: 0px -4px 10px rgba(50, 50, 50, 0.4);
        box-shadow: 0px -4px 12px rgba(50, 50, 50, 0.4);
      }
      .product-buy-wrap {
        .product-options {
          .comfort-select {
            ul.variation-select {
              top: inherit;
              bottom: 41px;
            }
          }
          .size-select-area {
            .variation-select {
              width:370px;
              top: inherit;
              bottom: 51px;
              border-radius: 9px;
              overflow: hidden;
            }
            &.active-drop {
              .fake-input {
                &:after {
                  content: '\f0d8';
                }
              }
            }
          }
        }
      }
    }
    &.upward {
      .product-buy-wrap {
        .product-options {
          .comfort-select {
            ul.variation-select {
              top: inherit;
              bottom: 51px;
              margin:0;
            }
          }
          .size-select-area {
            .variation-select {
              width:370px;
              top: inherit;
              bottom: 51px;
              border-radius: 9px;
              margin:0;
              overflow: hidden;
            }
            &.active-drop {
              .fake-input {
                &:after {
                  content: '\f0d8';
                }
              }
            }
          }
        }
      }
    }
    &.product-buy-mobile {
      @include respond(large-down) {   
          width: 100%;
          margin-top: 0;
          background-color: $white;       
         .product-buy-wrap {
            width: calc(100% + 30px);
            margin-left: -15px;
            position: relative;
            .product-options {
              .title {
                display: none;
              }
              .size-select-area {
                margin: 0;
                position: static;
                .fake-input {
                  height: 40px;
                  border-radius: 0;
                  background: $white;
                  font-size: 14px;
                  font-weight: $font-wt-regular;
                  border:1px solid #bebebe;
                  .selectedValue {
                    height: 39px;
                    line-height: 26px;
                    font-size: 14px;
                    font-weight: $font-wt-regular;
                    padding: 7px 20px 8px 7px;
                  }
                  &:after {
                    right: 7px;
                    content: '\f107';
                    font-size: 20px;
                  }
                  .mobile-caption {
                    background-color: $white;
                    z-index: 10;
                    position: absolute;
                    left: 7px;
                    top: 11px;
                    &.size {

                    }
                  }
                }
                .variation-select {
                  width:100%;
                  border-radius: 0;
                }
              }
              .comfort-select {
                margin: 0;
                width: 53%;
                position: static;
                ul.variation-select li span {
                  padding: 15px;
                }
                .size-select-area {
                  .fake-input {
                    .selectedValue {
                      padding: 7px 20px 8px 66px;
                      text-transform: lowercase;
                    }
                  }
                }
              }
              .size-select {
                margin: 0;
                width: 47%;
                position: static;
                .size-select-area {
                  .fake-input {
                    border-left:none;
                    border-right:none;
                    .selectedValue {
                      padding: 7px 20px 8px 10px;
                    }
                  }
                }
              }
            }
            .product-variations {
              margin-right: 0;
              width: 82%;
            }
            .buy-btn-wrap {
              width: 18%;
              padding-top: 0;
              .product-add-to-cart {
                margin: 0;
                padding-top: 0;
                button {
                  border-radius: 0;
                  border: none;
                  box-shadow: none;
                  font-size: 14px;
                  min-width: 0;
                  margin: 0;
                  line-height: 24px;
                  padding: 8px 0;
                }
                
              }
            }
          }
        
        &.fixed {
          .product-buy-wrap {
            .product-options {
              .size-select-area {
                &.active-drop {
                  .fake-input {
                    &:after {
                      content: '\f106';
                    }
                  }
                }
                .fake-input {
                }
                .variation-select {
                  width:100%;
                  top: inherit;
                  bottom: 40px;
                  margin-bottom: 0;
                  border-radius: 0;
                  box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.25);
                }
            }
          }
        }
      }
    }
  }
}
}

.brand-bar-charts{
  width: 100%;
  overflow: hidden;
  background:$t-light-grey;
  text-align: center;
  padding: 60px 0 30px;

  @include respond(medium){padding: 60px 0 0;}

  h2 {
    @include h1();
    margin-top: 0;
    margin-bottom: 26px;
  }
  p {
      color:$t-mine-shaft;
      max-width: 100%;
      margin: 1em auto 2em;
      font-size:22px;
      line-height: 1.45;
      font-style: normal;
      font-weight: normal; 

      @include respond(medium){max-width:85%;}
  }

  .comparison-note{
    p{
      font-size: 18px;
      max-width: 100%;
      line-height: 1.67;
      font-style: normal;
      font-weight: normal;
      margin: 1em auto 1.2em;

      @include respond(medium){max-width: 85%;}
    }
  }

  a.btn-default{
    min-width: 261px;
    display: inline-block;
    vertical-align: top;
    
    @include respond(medium){margin-top: 25px; margin-bottom: 50px;}
  }

  .charts-area{
    background: $white;
    max-width: 975px;
    margin: 0 auto 40px;
    border: 1px solid $very-light-gray;
    padding: 15px 15px 25px;
  }

  .chart-box{
    overflow: hidden;
    width: 100%;
    text-align: left;
    padding: 15px 0;
  }

  .heading-row{
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
    padding-bottom: 3px;
    border-bottom: 1px solid $t-gray3;
  }

  .heading{
    float: left;
    width: 40%;
    color: $t-dove-gray;
    font-size: 18px;
    line-height: normal;
    font-weight: 600;

    @include respond(medium){font-size: 24px;}
  }

  .price-part{
    text-align: right;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    color: $dull-green;
    float: right;
    width:60%;

    @include respond(medium){font-size: 18px;}

    &.red{
      color: $go-red;
    }

    span{
      font-size: 22px;
      font-weight: 600;

      @include respond(medium){font-size: 24px;}
    }
  }

  .progress-part{
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;

    .title{
      float: left;
      padding-right: 15px;
      padding-top: 5px;
      font-size: 18px;
      line-height: 1;
      color:$t-dove-gray;

      @include respond(medium){font-size: 20px;}
    }

    .progress{
      width: 100%;
      height: 30px;
      position: relative;
    }

    .progress-bar{
      overflow: hidden;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      text-indent: 99999px;
      background-color: rgba(46, 181, 122, 0.2);
      border: solid 1px rgba(46, 181, 122, 0.2);

      &.red{
        background-color: rgba(255, 73, 92, 0.2);
        border: solid 1px rgba(255, 73, 92, 0.2);
      }
    }
  }
}