.staticpage-wrap .page-content {
	.page-financing {
		padding: 0;
		text-align: left;
		@include respond(medium) {
			padding: 0;
		}
		.tulo-setpay-logos {
			margin-top: 0;
			margin-bottom: 26px;
			@include respond(medium) {
				margin-top: 18px;
				margin-bottom: 35px;
			}
			.tulo-logo,
			.setpay-logo {
				max-height: 30px;
				width: auto;
			}
			.fa {
				display: inline-block;
				vertical-align: middle;
				line-height: 1;
	  		margin: 10px 10px 2px;
				color:$t-orange3;
				font-size: 18px;
			}
		}
		p {
			margin-top: 0;
			margin-bottom: 20px;
			font-size: 16px;
			line-height: 1.44;
			color: $t-mine-shaft;
			text-align: left;
			@include respond(medium) {
				font-size: 18px;
				color: $t-mine-shaft;
				margin-bottom: 20px;
			}
			&.heighlight {
				font-size: 18px;
				line-height: 1.39;
				clear: both;
				@include respond(medium) {			
					color: $t-mine-shaft;
					margin-bottom: 20px;
					font-size: 24px;
					line-height: 1.46;
					max-width: 775px;
				}
			}
		}
		.btn-default {
			border: 1px solid $t-amaranth;
	    height: 44px;
	    line-height: 1;
	    padding: 11px 20px;
	    width: 100%;
	    margin-top: 10px;
	    margin-bottom: 10px;
	    font-weight: $font-wt-bold;
	    font-size: 18px;
	    @include respond(medium) {
	    	margin-top: 20px;
	    	width: 178px;
	    }
		}
		ul.payment-plan {
			clear: both;
			padding: 0;
			margin: 0 0 20px 0;
			width: 100%;
			list-style: none;
			border-bottom: solid 1px $t-gray3;		
			text-align: center;
			@include respond(medium) {
				width: 50%;
				margin: 0 0 30px;
				text-align: center;
			}
			li {
				list-style: none;
				padding: 11px 0;
				line-height: 1.31;
				color:$black;
				overflow: hidden;
				font-size: 16px;
				@include respond(medium) {
					font-size: 18px;
					line-height: 1.44;
					padding: 10px;
				}
				.col {
					width: 33.33%;
					float: left;
				}
				&.title {
					border-bottom: solid 1px $t-gray3;
					font-weight: $font-wt-semibold;
				}
			}
		}
	}
}