.help-search {
	text-align:center;
	padding:50px 0;
	background-color:$magenta;
	.helpSearch-form {
		h1 {			
			color: $white;
			margin-top: 0;
		}
		label {
			display:none;
		}
		.fields-wrap {
			width: 92%;
			position:relative;
			overflow: hidden;
			margin: 0 auto;
			padding-right: 125px;
			@include respond(medium) {
				overflow: hidden;
				padding-right: 125px;
				width: 80%;
			}
			@include respond(x-large) {
				width: 50%;
			}
			.input-text {
				height: 48px;
				border-right:none;
				float: left;
				width: 100%;
				font-weight: $font-wt-semibold;
				font-size: 18px;
				border-radius:0;
				-webkit-border-top-left-radius: 99px;
				-webkit-border-bottom-left-radius: 99px;
				-moz-border-radius-topleft: 99px;
				-moz-border-radius-bottomleft: 99px;
				border-top-left-radius: 99px;
				border-bottom-left-radius: 99px;
				text-indent: 10px;
			    @include respond(medium) {
			      
			    }
			}
			span.error {
				position: absolute;
    			bottom: -25px;
    			left: 23px;
			}
			button {
				@include btn-default();
				margin-left: -5px;
				width: 125px;
				border: 0;
				position: absolute;
				right: 0;
				background-color:$t-orange3;
				color: $white;
				font-size: $font-size-regular;
				font-weight: $font-wt-semibold;
				border-radius:0;
				-webkit-border-top-right-radius: 99px;
				-webkit-border-bottom-right-radius: 99px;
				-moz-border-radius-topright: 99px;
				-moz-border-radius-bottomright: 99px;
				border-top-right-radius: 99px;
				border-bottom-right-radius: 99px;
				padding-top:3px;
				padding-bottom:3px;
				text-transform: inherit;
				height: 48px;

				&:after {
					background-color:lighten($t-orange3, 10%);
				}
			}
		}
	}
}
.support-details {
	overflow:hidden;
	.col {
		width: 100%;
		text-align: center;
		padding:30px 0;
		min-height: 150px;
		@include respond(large) {
			width: 50%;	
			float: left;  	
		}
		.caption {
			color: $t-mine-shaft;
			font-weight: $font-wt-semibold;
			line-height: 1.39;
			margin-bottom: 5px;
		}
		&.contact-info {
			background-color: $t-light-grey;
			.caption {
				display: inline-block;
				&:after {
					border-bottom:1px solid $t-gainsboro;
					width: 70%;
					content: "";
					display: block;
					height: 1px;
					margin: 0 auto;
				}
			}
			.phone {
				font-weight: $font-wt-bold;
				font-size: 27px;
				color: $magenta;
			}
			.email {
				color: $t-gray-bold;
				font-size: 16px;
			}
		}
		&.chat-info {
			background-color: $t-light-grey2;
		}
		&.store-info {
			background-color: $t-light-grey;
		}
	}
	.btn-secondary {
		border:3px solid $t-orange;
		font-weight: $font-wt-bold;
	}
}
.help-faq-section {
	@extend %layout;
	background:$white;
	color: $t-gray-bold;
	padding: 30px 0 40px;

	&.alt-section {
		background:$t-alabaster;
	}
	@include respond(medium){
		padding: 50px 0 60px;
	}

	.container{
		width: 92%;
		@include respond(medium) {	
		}
		@include respond(large){
			width: 980px;
		}
	}

	h2 {
		float: none;
    	width: 100%;
		margin: 0;
		color: $magenta;
		font-size: 25px;
		line-height: 1.4;
		font-weight: 700;
		text-align: left;
		@include respond(medium){
			float: left;
    		width: 200px;
    		font-size: 29px;
		}
	}
	.btn-default { color: $t-orange;}
	.accordion {
		@extend %clear_list;
		margin: 0;
		padding-left:0;
		@include respond(medium){
			padding-left:200px;
		}
		li {
			display: block;
			border-bottom: 1px solid $t-gray4;

			a{
				color: $t-gray-bold;
				text-decoration: none;
				display: block;
				position: relative;
				font-weight: $font-wt-regular;
				padding: 15px 40px 15px 0;
				font-weight: 500;

				@include respond(medium){
					padding: 12px 25px 12px 0;
				}

				i {
					position: absolute;
					right: 0;
					top: 15px;
					color: $magenta;
					@include respond(medium){
						transform: translateX(-50%);
					}
				}
				&.ui-accordion-header-active {
					i {
						&:before {
							content: "\f068";
						}
					}
				}
			}
			.slide { 
				padding: 0;
				p {
					margin-top: 8px;
				}
			}
		}

		p{
			a{
				display: inline;
				text-decoration: underline;
				font-weight: normal;
				padding: 0;

				&:hover{
					text-decoration: none;
				}
			}
		}
	}

	ul.info-list{
		@extend %clear_list;
		margin: 0 0 18px;
		padding-left: 30px;

		li{
			border:0;
			padding: 0 0 0 15px;
			position: relative;

			&:before{
				width: 6px;
				height: 6px;
				border-radius: 100%;
				background: $t-gray-bold;
				position: absolute;
				top: 10px;
				left: 0;
				content: " ";
			}
		}
	}
}


.help-contact-us {
	text-align:center;
	padding:90px 0;
	background-color:$magenta;
	
	.helpSearch-form {
		.form-row {
			&.error {
				@extend %text-left;
			}
		}
		.error-message {
			margin: 0 0 10px;
			@extend %text-left;
		}
		.confirmation-message {
			color: $white;
		}
		h2 {
			@include h1();
			color: $white;
			margin-top: 0;
		}
		label {
			display:none;
		}
		.fields-wrap {
			width: 92%;
			position:relative;
			overflow: hidden;
			margin: 0 auto;
			@include respond(medium) {
				overflow: hidden;
				padding-right: 0;
				width: 80%;
			}
			@include respond(large){
				width: 50%;
			}
			.input-text {
				height: 50px;
				border-right:none;
				float: none;
				width: 100%;
				font-weight: $font-wt-regular;
				font-size: 18px;
				border-radius:0;
				text-indent: 5px;
				margin-bottom: 0;
			}
			.input-textarea {
				height: 160px;
				float: none;
				width: 100%;
				font-weight: $font-wt-regular;
				font-size: 18px;
				border-radius:0;
				text-indent: 5px;
				padding-top:15px;
				margin-bottom: 0;
			}
			span.error {
				position: absolute;
    			bottom: -25px;
    			left: 23px;
			}
			.btn-secondary {
				height: 50px;
				margin-top: 10px;
				width: 180px;

				&::after { background: $t-orange;}
			}
			.field-wrapper {
				max-width: inherit;
			}
		}
	}
}