.promo {
    background: linear-gradient(to bottom, #8c1849, #e51870 33%, #e71f6a 79%, #f6732a);
    @extend %layout;
    color: $white;
    padding: 110px 0;
    width:100%;
	position: relative;
	min-height: 560px;
	&:after {
		background: url("../images/home-promo-bg.png") no-repeat center bottom;
		background-size:100% 100%;
		position:absolute;
		z-index: 1;
		height: 110px;
		width: 100%;
		bottom:0;
		content: "";
		left:0; 
	}
    @include respond(medium){
		height: 100vh;
		padding: 0 0 80px;
    } 
    .container {
        height: 100%;
        text-align:center;
        position:relative;
        z-index: 10;
        @include respond(medium){ 
        	@include v-align(100%, middle, before);
        }
    }
    .info-area,
    .left-imgs {
    	
        @include align(middle);
        width: 100%;

        @include respond(medium){
        	width: 50%;
        }
        
        @include respond(large){
        	width: 55%;
        }
    }
    .left-imgs {
    	padding-top: 0;
    	.categories-img {
    		max-width: 320px;
    		margin: 0 auto;
    		img {
    			max-width: 33.33%;
    			&.choice-soft {
    				margin-right: -25px;
    			}
    			&.choice-medium {
    				margin-top: 5px;
    			}
    			&.choice-firm {
    				margin-left: -25px;
    			}
    		}
    		@include respond(large){
	        	max-width: 450px;
	        }
    	}
    	.brand-img {
    		max-width: 320px;
    		margin: -100px auto 0;
    		@include respond(large){
		        margin: -150px auto 0;
		        max-width: 450px;	
		    }
    	}
    }
    .info-area {
    	line-height: 30px;
    	font-size: 20px;
    	color: $white;
    	padding: 20px 0 30px;

    	@include respond(medium){
        	width: 50%;
	    	font-size: 18px;
	    	line-height: 24px;
	    	padding:10px;
        }
        
        @include respond(large){
        	width: 45%;
        	font-size: 24px;
	    	line-height: 36px;
        }

    	strong{
    		font-weight: $font-wt-semibold;
    		display:block;
    		margin: 0 0 5px;
    	}

    	p{
    		margin: 0 0 20px;
    	}
    }

    .price{
    	font-size: 20px;
    }
    
    h1{
    	color:$white;
    	font-weight: $font-wt-bold;
    	margin: 0 0 15px;

    	@include respond(medium){
    		font-weight: $font-wt-semibold;
    		margin: 0 0 15px;
    	}
    }

    a.btn-default {
    	width: 280px;
    	padding: 10px;
    	text-align: center;
		border-radius: 100px;
		background: $white;
		border: solid 5px $white;
		font-size: 22px;
		font-weight: bold;
		color: $t-pink;
		text-decoration: none;
		display: inline-block;
		vertical-align: top; 
		margin: 0 0 20px;

		&:hover{
			background:$t-rose;
			color: $white;
		}
    }

    .bottom-part{
		position: absolute;
		z-index: 5;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 15px 0;
		text-align: center;
		font-size: 18px;
		line-height: 1.6;
		color: $white;
		font-family: $roboto;

		@include respond(medium){
			padding: 20px 100px;
			font-size: 20px;
		}

		a{
			color: $white;
			text-decoration: underline;

			&:hover{
				text-decoration: none;
			}
		}
    }
}

a.btn-chat{
	width: 58px;
	height: 58px;
	position: fixed;
	bottom: 35px;
	z-index: 9999;
	left: 35px;
	background-color: $t-light-grey;
	box-shadow: 0 2px 4px 0 rgba($black, 0.5);
	border: solid 5px $white;
	border-radius: 100%;
	color: $t-disco;
	text-align: center;
	text-decoration: none;
	padding: 10px;
	line-height: 31px;
	font-size: 22px;
	font-weight: $font-wt-semibold;
	display: none; 

	@include respond(medium){
		display: block;
	}

	&:hover{
		border-color: $t-disco;
	}

	span{
		text-decoration: none;
	}
}

.choice-section{
	width: 100%;
	position: relative;
	@extend %layout;
	text-align: center;
	background: radial-gradient(circle at 51% 52%, #e51870, #b51b58);
	font-size: 20px;
	line-height: 30px;
	color: $white;

	@include respond(medium){
		font-size: 24px;
		line-height: 40px;
	}

	p{
		margin: 0 0 20px;

		strong{
			font-weight: $font-wt-semibold;
		}
	}

	h1{
		margin: 0 0 20px;
		color: $white;
	}

	.container{
		padding-top: 50px;
		padding-bottom: 50px;

		@include respond(medium){
			padding: 50px 10%;
		}
	}

	ul.imgs-list{
		@extend %clear_list;

		li{
			display: inline-block;
			vertical-align: middle;
			padding: 0 10px;
			max-width: 30%;
			@include respond(medium){
				padding: 0 15px;
			}
		}
	}
}

// Zain's code start here
.store-buyTulo-holder {
	@extend %layout;
	background: radial-gradient(circle at 51% 52%, #e51870, #b51b58);
	position: relative;
	color: $white;
	font-weight: 400;
	line-height: 1.6;
	
	&:after {
		@include respond(medium){
			position: absolute;
			top: 0;
			bottom: 0;
			left: 50%;
			right: 0;
			background: radial-gradient(circle at 51% 54%, #8e2853, #8c1849);
			content: ' ';
			pointer-events: none;			
		}
	}
	
	h3 {
		@include h2();
		font-size: 24px;
		color: $white;
		font-weight: 500;
		letter-spacing: 0.03em;
		margin: 0 0 15px;
		line-height: 34px;

		@include respond(medium){
			font-size: 27px;
		}

		span{
			display: block;
			font-size: 18px;
			line-height: 22px;
			padding: 15px 0 0;
			font-weight: 500;
		}
		
		@include respond(medium){ font-size: 29px; }
	}
	p {
		margin: 0 0 20px;

		@include respond(medium){
			margin: 0 0 30px;
		}
	}

	.btn-default{
		font-weight: $font-wt-bold;
		color: $burgundy;
	}

	.container {
		position: relative;
		z-index: 5;
		width: 100% !important;
		padding: 0;
	}

	.col {
		font-size: 18px;
		line-height: 26px;
		padding: 30px 25px 40px;
		margin: 0 -15px;
		background: radial-gradient(circle at 51% 54%, #8e2853, #8c1849);

		&:first-child {
			background: transparent;

			.btn-default{
				color: $t-amaranth;
			}
		}

		@include respond(medium){
			background: none;
			width: 50%;
			margin: 0;
			padding: 70px 10px 80px;
			float: left;
		}

		.img-holder {
			@include v-align(150px, middle,after);
			height: 150px;
			margin: 0 0 10px;
			img {
				max-height: 122px;
			}
		}

		.col-holder {
			max-width: 460px;
			margin: 0 auto;
		}
	}
	&.store-home-delivery {
		background: none;
		&:after {
			display: none;
		}
		.container {
			display: block;
			max-width: 1200px;
			@include respond(medium) {
				display: flex;
			}
		}
		h3 {
			font-size: 24px;
			color: $white;
			font-weight: $font-wt-bold;
			letter-spacing: normal;
			margin: 0;
			line-height: 1.42;
			@include respond(medium) {
				font-size: 20px;
				line-height: 2.1;
			}
		}
		p {
			font-size: 16px;
			color: $white;
			line-height: 1.38;
			margin: 0 0 20px;
			@include respond(medium) {
				line-height: 1.31;
				margin: 0 0 30px;
			}
			&.note {
				font-size: 16px;
				line-height: 1.31;			
				margin: 20px 0 0;
				@include respond(medium) {
					font-size: 14px;
					line-height: 1.5;
					margin: 30px 0 0;
				}
			}
		}

		.btn {
			color:$white;
			text-decoration: none;
			font-weight: $font-wt-bold;
		}
		.col {
			width: 100%;
			padding: 36px 15px 35px;
			margin:0;
			background: transparent;
			@include respond(medium) {
				width: 50%;
				padding: 50px 40px 65px;
			}
			.img-holder {
				@include v-align(110px, middle,after);
				height: 110px;
				margin: 0 0 10px;
				img {
					max-height: 88px;
				}
			}
			&.col2 {
				.img-holder {
					img {
						max-height: 104px;
					}
				}
			}
		}
		.col1 {background-color: #c61061;}
		.col2 {background-color: #7d1646;}
		.col3 {background-color: $t-rose;}
	}
}
.promotional-msg {
	@extend %layout;
	background:$t-alabaster url(../images/pattren-bg.png) repeat;

	.section-head{
		max-width: 800px;
		width: 100%;
		margin: 0 auto;
		padding: 40px 20px 20px;

		@include respond(medium){
			padding: 20px 0;
		}

		span{
			text-transform: uppercase;
			color:$magenta;
			font-weight: 500;
			padding: 0 0 20px;
			display: block;
			@include respond(medium){
				font-size: $font-size-h4;
				line-height: 1.55;
				font-weight: $font-wt-semibold;	
			}
		}
		.text-amaranth {
			font-size: 21px;
			display: inline;
			padding: 0;
			@include respond(medium) {
				font-size: 25px;
			}
		}
		.text-amaranth-strike {
			position: relative;
			display: inline;
			padding: 0;
			&:after {
			    content: "";
			    width: 100%;
			    border-bottom: 4px solid $black;
			    height: 1px;
			    display: block;
			    position: absolute;
			    top: 44%;
			    opacity: 0.7;
			    left: 0;
			}
		}

		@include respond(medium){
			padding: 80px 0;

		}
	}

	h2 {
		@include h1();
		padding: 0;
		text-transform: none;
		margin: 0 0 28px;
		color: $t-orange;
		font-weight: 700;
		font-size: 24px;
		line-height: 1.5;

		@include respond(medium){
			font-size: 38px;
			line-height: 1.3;
		}
	}

	.align-center{
		width: 100%;
		position: relative;

		&:after{
			@extend %full-width-height; 
			/*background: rgba($black, 0.4);
			content:" ";*/
		}

		img{
			@extend %img-res;
		}
	}
	&.promotional-msg-layers {
		.section-head{
			padding: 60px 0;
		}
		h2 {
			line-height: normal;
			margin: 0 0 23px;
			color:$bg-burgundy-hover;
			@include respond(medium) {
				color:#7d1646;
			}
		}
		p.heighlight {
			font-size: 18px;
			line-height: 1.56;
    	max-width: 555px;
    	margin: 0 auto 21px;
    	color:$bg-burgundy-hover;
    	@include respond(medium) {
    		color:#7d1646;
    		font-size: 24px;
    		line-height: 1.42;

    	}
		}
		.learn-more {
			font-size: 18px;
			font-weight: $font-wt-bold;
			text-decoration: none;
			color:$bg-burgundy-hover;
			@include respond(medium) {
				color:#7d1646;
			}
		}
		> .container {
			width: 100%;
			padding: 0;
			margin: 10px auto;
			@include respond(x-large){
				width: 1200px;
		    padding: 0;
		    margin: 10px auto;
		  }
		}
	}
}
.services-facilitiesFrame {
	@extend %layout;
	padding: 10px 0 50px;
	width: 100%;
	font-weight: 400;
	line-height: 1.39;

	.pt_storefront & {
		background: $t-alabaster;
		padding: 0;
		
		p {
			margin: 0 auto;
    		max-width: 230px;
		}
		
		.col {
			width: 100%;
			padding:40px 20px;

			@include respond(medium){
				width: 50%;
				padding: 50px;
			}

			@include respond(large){
				padding: 60px 50px 90px;
			}
			&:first-child {
				position: relative;
				background: $white;
				
				@include respond(medium){
					&::after {
						position: absolute;
						top: 100%;
						left: 0;
						right: 0;
						bottom: -9999px;
						background: $white;
						content: '';
					}
				}
			}
		}
	}

	@include respond(medium){ padding: 0;}

	.container{ @extend %layout; }

	.col {
		@extend %pull-left;
		width: 100%;
		color: $magenta;
		padding: 20px 0 0;
		text-align: center;

		@include respond(medium){
			width: 25%;
			padding: 50px 20px 50px 0;
		}

		.col-holder {
			max-width: 200px;
			margin: 0 auto;

			@include respond(medium){
				max-width: 100%;
				margin: 0;
			}
		}
	}
	h3 {
		@include h2();
		margin: 0 0 15px;
		color: $t-amaranth;
		font-weight: 700;
		font-size: 24px;
		line-height: 1.3;

		@include respond(medium){
			font-size: 29px;
		}
	}
	p {
		margin: 0; 
	}

	.img-holder {
		@include v-align(150px, middle,after);
		margin: 0 0 10px;
		&.no-hassle-icon {
			img {
				max-height: 122px;
			}
		}
		&.yr-warranty-icon {
			img {
				max-height: 130px;
			}
		}
	}
}

.sleepy-styles{
	width: 100%;
	position: relative;
	@extend %layout;
	text-align: center;

	.head-part{
		position: absolute;
	    top: 50%;
	    z-index: 100;
	    transform: translateY(-50%);
	    margin: 0 auto;
		margin-left: 0;
	    width: 100%;
	    left: 0;		    
	    padding: 0 15px;
		@extend %layout;
		border-bottom: none;
		@include respond(medium){
			margin: 0 auto;
			margin-left: -350px;
		    width: 700px;
		    left: 50%;	    		    
		}
	}

	.container{
		padding:0;

		@include respond(medium){
			padding:0 15px;
		}
	}

	h1{
		text-align: center;
		color: $t-amaranth;
		margin: 0 0 20px;
		line-height: 1.2;
		font-weight: 700;

		@include respond(medium){
			margin: 0 0 40px;
		}
	}

	.sleep-list{
		@extend %layout;
		margin: 0 -5px;

		@include respond(medium){
			margin: 0 -5px;
		}
		@include respond(x-large){
			margin: 0 -15px;
		}
	}

	.sleep-box{
		float: left;
		width: 100%;
		padding: 0 0;
		display: none;

		&:nth-child(2){ display: block; }

		@include respond(medium){
			width: 25%;
			padding: 0 0;
			display: block;
		}
		@include respond(x-large){
			padding: 0 0;
		}
	}

	.img-box{
		height: 100%;
		position: relative;
		@extend %layout;
		font-size: 0;

		@include respond(medium) {
			min-height: 283px;
		}

		img {
			opacity: 0.3;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			transition: $t-animate-speed 0.5s ease;
		}
		
		@include  respond(m-small){ max-height: 324px; }
		
		@include respond(large-only){ max-height: 355px; }

		@include respond(large){ max-height: 412px; }

		@include respond(x-large){ max-height: 545px; }

		.image-thumb { transition: $t-animate-speed 0.5s ease; width:100%; height:auto;}
	}
	.video-holder {
		position: relative;
		font-size: 0;
		line-height: 0;

		video {
			position: relative;
			width: 100%;

			@include respond(large-only){
				width: 593px;
			}

			@include respond(large){
				width: 733px;
			}

			@include respond(x-large){ 
				width: 970px;
				height: 100%;
			}
		}
	}

	.caption{
		height: 100%;
		@include v-align(100%, middle, before);
        @extend %full-width-height;  
	}

	.btn-default{
		position: relative;
		z-index: 1;
	}
}


//text carousel styling home page

.textCarousel-wrap {
  background:$t-orange;
  padding:30px 0 35px;
  color: $white;

  @include respond(medium){
  	padding:70px 0 40px;
  }
  
  .textCarousel {
  		@include respond(medium){
			width: 750px;
			margin: 0 auto;
		}
  	.text-slide {
  		padding: 0 0 20px;

		@include respond(medium){
			padding: 0 0 90px ;
		}

  		blockquote {
  			margin-bottom: 100px;
  			max-width:750px ;
  			margin: 0 auto;
  			q {
				  font-size: 29px;
				  font-weight: $font-wt-bold;
				  line-height: 1.28;
				  text-align: center;
				  color: $white;
				  margin-bottom: 25px;
				  text-transform: none;
				  display: block;
				  @include respond(large-down) {
			      	  font-size: 27px;
			      }
  			}
  			cite {
				  font-size: 18px;
				  line-height: 1.5;
				  text-align: center;
				  color: $white;
				  display: block;
				  font-weight: $font-wt-semibold;
				  text-transform: uppercase;
				  font-style: normal;
				  @include respond(large-down) {
			      	  font-size: 18px;
			      }
  			}
  		}
  	}
  	&.slick-slider {
  		.slick-dots {
  			li {
  				background:none;
  				border:2px solid $white;
  			}
  			button {
  				background:none;
  			}
  			.slick-active {
  				background: $white;
  				button {
  					background: $white;
  				}
  			}
  		}
  	}
  }
}


//client logos styling
.clientLogos-wrap {
	@extend %layout;
	ul {
		list-style: none;
		padding:0;
		li {
			list-style: none;
			border:1px solid $white;
			display: inline-block;
			float: left;
			background-color: #fff3ed;
			height: 77px;
			text-align: center;
			@include respond(x-large) {	 
				height:108px;   
		    }
		}
		&.desktop-logo {
			li {
				width: 25%;
				img{
					width:auto;
					height:75px;
					@include respond(x-large) {	 
						height:106px;   
				    }
				}
			}
		}
		&.mobile-logo {
			li {
				height: 59px;
				width: 50%;
				img{
					width:auto;
					height:57px;
				}
			}
		}
	}
}

//Email signup block styling
.emailSignup-wrap {
	height:150px;
	background-color:$t-light-grey;
	padding:37px 0;
	clear:both;

	.container { overflow: visible;}

	.emailsignup{
		width: 100%;
		margin: 0 auto;
		text-align: center;
		
		@include respond(medium) {
	      width: 74%;
	    }
		
		@include respond(large) {
	      width: 60%;
	    }
		
		@include respond(x-large) {
	      width: 46%;
		}
		
		label {
			font-size: $font-size-regular;
			font-weight: $font-wt-bold;
			color: $t-primary-color;
			line-height: 1.39;
			margin-bottom: 10px;
			display: block;
			text-transform: none;
		
			@include respond(large-down) {
			    font-size: 16px;
			    text-align: left;
			}
		}
		
		.fields-wrap {
			width: 100%;
			position:relative;
			clear: both;
			float: left;
			@include respond(medium) {
				padding-right: 0;
			}
			
			.input-text {
				height: 38px;
				border:1px solid $t-border-grey;
				border-right:none;
				float: left;
				width: 70%;
				border-top-left-radius: 19px;
				border-bottom-left-radius: 19px;
				border-top-right-radius: 19px;
				border-bottom-right-radius: 19px;
				text-indent: 10px;

				@include respond(x-small) {
			      width: 100%;
			    }
				
				@include respond(m-small) {
			      width: 100%;
			    }
				
				@include respond(medium) {
			      width: 80%;
			      border-top-left-radius: 19px;
				  border-bottom-left-radius: 19px;
				  border-top-right-radius: 0;
				  border-bottom-right-radius: 0; 
			    }

			    @include respond(x-large) {
			    	width: 79%;
			    }
			}
			span.error {
				position: absolute;
    			bottom: -30px;
    			left: 23px;
			}

			button {
				@include btn-default();
				margin-left: -5px;
				width: 30%;
				border:0;
				background-color:$t-amaranth;
				color: $white;
				font-size: $font-size-regular;
				font-weight: $font-wt-semibold;
				border-radius:0;
				border-top-right-radius: 19px;
				border-bottom-right-radius: 19px;
				padding-top:3px;
				padding-bottom:3px;
				text-transform: inherit;
				height: 38px;
				min-width: 105px;
				padding:5px 10px;

				@include respond(large-down) {
				    font-size: 16px;
				}
				
				@include respond(x-small) {
					position: absolute;
					right: 0;
					width: 105px;
			    }
				
				@include respond(m-small) {
					position: absolute;
					right: 0;
					width: 105px;
			    }
			    @include respond(medium) {
			      width: 16%;
			    }
			}
		}
	}

	.thank-text{
		text-align: center;
		line-height: 30px;
		font-size: 24px;
		color: $magenta;
		padding: 20px 0 0;
	}
}

//home products desktop ver styling by Atif

.home-products {
	width: 100%;
	background-color: $white;
	overflow: hidden;
	position:relative;
	z-index: 1;
	
	.bg-dark-vdo {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}

	
	.section-header {
		padding:50px 0 30px;
		border-bottom:none;
		font-size: $font-size-h3;
		font-weight: $font-wt-regular;
		max-width: 800px;
		margin: 0 auto;
		@include respond(large-down) {
      		font-size: 18px;
      		padding: 30px 0 10px;
    	}
		h2 {
			@include h1();
			font-size: $font-size-h1;
			//font-family: $sans-serif;
			color: $t-amaranth;
			font-weight: $font-wt-bold;
			text-align: center;
			margin-bottom: 15px;
			@include respond(large-down) {
	      		font-size: $font-size-mobile-h1;
	    	}
		}
		p {
			//font-family: $sans-serif;
			color: $t-mine-shaft;
			text-align: center;
			line-height: 1.39;
		}
		.text-amaranth {
			color: $t-amaranth;
			font-size: 20px;
			@include respond(medium) {
				font-size: 26px;
			}
		}
		.text-amaranth-strike {
			position: relative;
			&:after {
			    content: "";
			    width: 100%;
			    border-bottom: 4px solid $t-amaranth;
			    height: 1px;
			    display: block;
			    position: absolute;
			    top: 44%;
			    opacity: 0.7;
			    left: 0;
			}
		}
	}
	.btnPlay-wrap {
		text-align: center;
		.btn-play {
			color: $t-amaranth;
			font-size: 64px;
			text-decoration: none;
			cursor:pointer;
		}
	}
	.products-list {
		padding-bottom:40px;
		margin-top: 20px;
		display: none;

		@include respond(medium) {
			display: block;
			margin-top: 30px;
			padding-bottom:50px;
		}
		.product-img {
			height: 320px;
			margin-bottom: 30px;
			img {
				height: 100%;
				width: auto;
				position:relative;
				bottom:0;
				transition: all .5s ease-in-out;
				&:hover {
					bottom:15px;
					cursor: pointer;
				}
			}
		}
		.product {
			width: 33.33%;
			float: left;
			text-align: center;
			.btn-default {
				margin-bottom: 10px;
				width: 175px;
			}
			p {
				font-size: $font-size-regular;
				line-height: 1.22;
				text-align: center;
				color: $t-mine-shaft;
				padding:0 20px;
				margin: 10px 0;
				@include respond(large-down) {
		      		font-size: $font-size-xs;
		    	}
			}
		}
		 &.mobile {
	      display: block;
	      @include respond(medium) {
	      	display: none !important;
		  }
		  .product-img {
			height: auto;
			margin: 0 0 30px;
			img {
				height: auto;
				width: inherit;
				display: inline-block;
				max-width: 100%;
				&:hover {
					bottom:0;
					cursor: pointer;
				}						    
			}
		}
	      .product {
				width: 100%;
				float: left;
				text-align: center;
			}
		}
	    .slick-slider {
	  		.slick-dots {
	  			li {
	  				background:none;
	  				border:2px solid $t-amaranth;
	  				height: 14px;
					width: 14px;
					border-radius: 100%;
	  			}
	  			button {
	  				background:none;
	  			}
	  			.slick-active {
	  				background: $t-amaranth;
	  				button {
	  					background: $t-amaranth;
	  				}
	  			}
	  		}
	  	}
	}

	.prod-image{
		@include respond(large-down){
			display: none;
		}
	}
		
}
	
div[aria-describedby*="video-dialog"], div[aria-describedby^="video-dialog"]{
	.ui-dialog-titlebar {
		.ui-dialog-title {display: none !important;}
	}
}

.sleep-cool-tech {
	@include respond(medium) {
		@include v-align(100%, middle, before);
		&:before{
			min-height: inherit;
			height: 100%;
		}
	}	
	min-height:600px;
	background-image: radial-gradient(circle at 51% 52%, #e51870, #b51b58);
	overflow: hidden;
	font-size:0;
	width: 100%;
	.section-left {
		text-align: left;
		width: 100%;
		padding-top: 25px;
    	padding-right: 25px;
		@include respond(medium) {
			width: 50%;
		}
	}
	.section-right {
		text-align: center;
		width: 100%;
		font-size: $font-size-regular;
		padding:0 20px;
		@include respond(medium) {
			width: 50%;
		}
		@include respond(large-only) {
			padding:0 40px;	
		}
		@include respond(large) {
			padding:0 80px;	
		}	
		h2 {
			font-size: $font-size-h2;
			color: $white;
			line-height: 1.45;
			font-weight: $font-wt-bold;
		}
		p {
			color: $white;
			line-height: 1.39;
			.semibold {
				font-weight: $font-wt-semibold;
			}
		}
	}
}

.dedicated-video-area {
	padding:40px 0 100px;
	position:relative;
	text-align:center;
	background: $magenta;
	overflow: hidden;
	@include respond(medium) {
		max-height: 475px;
	}

	@include respond(large) {
		max-height: 675px;
	}


	&.active-click {
		.bg-dark-vdo {
			visibility: visible;
			opacity: 1;
			z-index: 1;
		}

		.info-text{
			visibility: hidden;
			opacity: 0;
		}

		a.btn-play-type-mattress{
			display: none;
			.fa-play{
				display: none;
			}

			.fa-pause{
				display: block;
			}
		}

		&:hover{
			a.btn-play-type-mattress{
				display: block;
			}
		}
		#video-dialog {
			display:block;
			.play-button { display:none }
		}
	}

	h2 {
		@include h1();
		color: $white;
		margin: 0 0 50px;


		@include respond(large-down) {
			font-weight: 700;
			font-size: 24px;
			line-height: 38px;
			margin: 0 27px 50px;
		}
	}
	img {
		max-width: 300px;
		clear: both;
		width: 100%;

		@include respond(medium){
			max-width: 680px;
		}
	}
	.bg-dark-vdo {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		opacity: 0;
		visibility: hidden;
	}

	a.btn-play-type-mattress{
		cursor:pointer;
		width: 75px;
		display: block;
		height: 75px;
		background: $t-orange;
		border-radius: 100%;
		color: $white;
		padding: 10px;
		line-height: 35px;
		text-decoration: none;
		font-size: 27px;
		box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.21);
		border: solid 7px $white;

		.icon-btn-play{
			display: block;
			padding: 7px 0 0 6px;
		}

		.fa-pause{
			display: none;
			font-size: 24px;
			padding: 8px 0 0;
		}

		&:hover{
			background: darken($t-orange, 10%);
		}
	}

	.btnPlay-wrap {
		text-align: center;
		position:absolute;
		top:60%;
		left:50%;
		margin: -35px 0 0 -35px;
		z-index: 2;

		@include respond(medium){
			top:50%;
			margin: -35px 0 0 -35px;
		}
	}

	&.video-active{
		&:before{
			background: rgba($t-mine-shaft, 0.5);
			@extend %full-width-height;
			content: " ";
		}

		#video-dialog{
			@include respond(x-small){
				width: 280px !important;
				height: 152px !important;
				margin: -76px 0 0 -140px;
			}

			@include respond(m-small){
				width: 400px !important;
				height: 220px !important;
				margin: -110px 0 0 -200px;
			}
		}
	}
}

.dedicated-video{
	&.video-active{
		#video-dialog{
			display: block;
			z-index: 5;
		}
	}
}

#video-dialog{
	display: none;
	position: absolute;
	left:50%;
	top: 50%;

	@include respond(medium){
		width: 465px !important;
		height: 270px !important;
		margin: -135px 0 0 -232px;
	}

	@include respond(large){
		width: 650px !important;
		height: 370px !important;
		margin: -175px 0 0 -325px;
	}

	@include respond(x-large){
		width: 765px !important;
		height: 430px !important;
		margin: -215px 0 0 -382px;
	}

	iframe{
		width: 100%  !important;
		height: 100%  !important;
		border:0 !important;
	}

	a.btn-play-close{
		position: absolute;
		top: -24px;
		right: 0;
		color: $white;

		&:hover{
			color: $black;
		}
	}
}

.trail-section-bg{
	&.home-page{
		
		.mobile-video-img{
			display: none;

			@include respond(large-down){
				display: block;
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-size: cover;
			}
		}

		.bg-video{
			display: block !important;

			@include respond(medium){
				display: block !important;
			}
		}

		.caption{
			background: rgba(229, 24, 112, 0.63);

			@include respond(large-down){
				font-size: 20px;
			}

			p{
				margin: 0 auto 30px;
			}
			h2 {
				@include h1();
				color:$white;
			}
		}

		a.btn-default{
			span.desktop-text{
				display: none;

				@include respond(medium){
					display: block;
				}
			}

			span.mobile-text{
				@include respond(medium){
					display: none;
				}
			}
		}
	}
}

.homer-hero-slider{
	overflow: hidden;
	position: relative;
	width: 100%;

	img{
		@extend %img-res;

		@include respond(medium){
			&.x-mobile-img,
			&.mobile-img{
				display: none;
			}
		}

		@include respond(large-down){
			&.x-mobile-img,
			&.desktop-img{
				display: none;
			}
		}

		@include respond(m-small){
			&.mobile-img{
				display: none;
			}

			&.x-mobile-img{
				display: block;
			}
		}
	}

	h1{
		color: $white;
		text-shadow: 0 2px 34px $t-disco;
		margin:30px 0 20px;
		font-size: 38px;
		line-height: 42px;
		width: auto;
		display: inline-block;
		vertical-align: top;
		z-index: 25;
		position: relative;
	}

	.caption{
		@extend %full-width-height;
		text-align: center;

		.container{
			height: 100%;
			position: relative;
			overflow: hidden;
		}
	}

	.bottom-detail{
		font-size: 24px;
		font-weight: $font-wt-semibold;
		line-height: 1.42;
		text-align: center;
		color: $white;		
		width: auto;
		display: inline-block;
		vertical-align: top;
		z-index: 25;
		text-shadow: 0 2px 34px $t-disco;

		position: relative;
		left: auto;
		right: auto;
		bottom: auto;
		top: auto;

		@include respond(x-large){
			position: absolute;
			left:0;
			right: 0;
			bottom: 90px;
			top: inherit;
		}

		P{
			margin: 0 0 30px;
		}
	}

	.bottom-part{
		background: $t-alabaster;
		padding: 15px;
		text-align: center;
		line-height: 24px;
		font-size: 20px;
		position: relative;
		color: $magenta;
		font-weight: $font-wt-regular;

		a{
			text-decoration: underline;
			color: $magenta;
			line-height: 24px;
			font-size: 20px;
			font-weight: $font-wt-regular;

			&:hover{
				text-decoration: none;
				color: $magenta;
			}
		}
	}

	a.btn-default {
    	width: 280px;
    	padding: 10px;
    	text-align: center;
		border-radius: 100px;
		background: $white;
		border: solid 5px $white;
		font-size: 22px;
		font-weight: $font-wt-semibold;
		color: $t-pink;
		text-decoration: none;
		display: inline-block;
		vertical-align: top; 
		text-shadow:none;
		margin: 0 0 20px;

		&:hover{
			background:$t-rose;
			color: $white;
		}
    }
}

.hero-slider{
	overflow: hidden;
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 20;
	@include respond(x-large){
		max-height:calc(100vh - 77px);
	}

	img{
		width: 100%;
		height: 100%;

		@include respond(x-large){
			height: auto;
			width: 100%;
		}
	}

	.slick-dots {
		bottom: 20px;
		z-index: 20;

		@include respond(large-down){
			position: absolute;
			width: 300px;
			margin: 0 0 0 -150px;
			bottom: 20px;
			left: 50%;
		}

		li {
			width: 12px;
			height: 12px;
			border-radius: 100%;
			background:none;
			margin: 0 2px;
			border:2px solid $white;
		}
		button {
			background:none;
		}
		.slick-active {
			background: $white;
			button {
				background: $white;
			}
		}
	}

	.slick-list,
	.slick-track,
	.slide,
	.bg-image{
		height: 100%;
	}
	.slick-slide {
		> div {
			height: 100%;
		}
	}

}

.ui-dialog{
	&.email-signup-dialog {
		width: 662px !important;
		margin:0 0 0 -331px !important;
		position:fixed;
		text-align: center;
		h2 {
			text-align: center;
    		color: $t-dove-gray;
    		margin-top: 15px;
    		margin-bottom: 5px;
		}
		h2.thankyou {
			margin-top: 80px;
		}
		p {
			text-align: center;
			color:$black;
		}
		#sf-email-subscription-form {
			margin-top: 20px;
			text-align: center;
		}
		.field-wrapper {
			
		}
		label {
			
		}
		.field-wrapper {
			max-width: none;
		}
		#sf-email-container{position:relative;}
		
		.error{
		    position: absolute;
		    left: 0;
		    right: 0;
		    font-size: 14px;
		}
		
		.input-text,
		input.email {
			border: 1px solid #dde3e8;
			width: 100%;
			height: 54px;
			border-radius:3px;
			margin-top: 10px;
		}
		.signup-button {
			width: 262px;
			margin-top: 24px;
		}
		.signup-close {
			width: 262px;
			margin-top: 15px;
		}
		.ui-dialog-titlebar {
			padding:0 95px 0;
			text-align: center;
		}
		.ui-dialog-content {
			padding:0 95px 47px;
			text-align: center;
		}
	} 
}

.Oops-Something-went {
  font-size: 14px;
  text-align: center;
}

@media only screen and (max-width: 29.9375em) and (min-width: 20em) {
	.ui-dialog {
		&.email-signup-dialog {
		    width: 92% !important;
		    margin: auto 0 auto -46% !important;
		    top: 50% !important;
    		transform: translateY(-50%);
			.ui-dialog-titlebar {
				padding:0 15px 0;
				text-align: center;
				height:20px !important;
			}
			.ui-dialog-title{
				padding:0;
				line-height:0;
			}
			.ui-dialog-content {
				padding:0 15px;
				height:260px !important;
			}
			.error{
				&.mt-20{margin-top: 7px !important;}
			}
		}
	}
}
@media only screen and (max-width: 47.9375em) and (min-width: 30em) {
	.ui-dialog {
		&.email-signup-dialog {
		    width: 94% !important;
		    margin: auto 0 auto -47% !important;
		    top: 50% !important;
    		transform: translateY(-50%);
		    .ui-dialog-titlebar {
				padding:0 15px 0;
				text-align: center;
				height:20px !important;
			}
			.ui-dialog-title{
				padding:0;
				line-height:0;
			}
			.ui-dialog-content {
				padding:0 15px;
				height:260px !important;
			}
			.error{
				&.mt-20{margin-top: 7px !important;}
			}
		}
	}
}

#dialog-email-signup,
#dialog-thankyou-signup {
	display:none;
}

.promo-ads {
	border-bottom: 10px solid $white;
	overflow:hidden; 
	max-height: 110px;
	width: 100%;
	
	@media screen and (min-width: 416px) {
	  max-height: 110px;
	}
	@include respond(large) {
		border-bottom: 15px solid $white;
		max-height: 115px;
	}
	.promo-ad1 {
		background-color: $t-amaranth;
	}
	.promo-ad {
		padding: 10px 15px 20px;
		height: 100%;
		width: 100%;
		display: table;
		@include respond(large) {
			padding: 0 42px;
		}
	}
	.promo-image {
		float: left;
		width: 175px;
		padding: 32px 0;
		display: none;
		@include respond(large) {
			display: block;
			width: 121px;
			padding: 16px 0 11px;
		}
		@include respond(x-large) {
			width: 121px;
			padding: 16px 0 11px;
		}
	}
	.promo-button {
		float: none;
		width: 100%;
		padding: 15px 15px;
		@include respond(large) {
			float: right;
			width: 175px;
			padding: 25px 0;
		}
		@include respond(x-large) {
			width: 192px;
		}
		.btn-primary {
			height: 50px;
			float: none;
			width: 100%;
			font-weight: $font-wt-bold;
			border:1px solid transparent;
			@include respond(medium) {
				width: 200px;
				margin: 0 auto;
				display: block;
			}
			@include respond(large) {
				float: right;
				width: 170px;
				display: inline-block;
				margin: 0;
			}
			@include respond(x-large) {
				width: 192px;
			}
		}
	}
	.promo-text {
		text-align: center;
    padding: 0;
    width: 100%;
    color:$white;
    
    @include respond(large) {
			padding: 0 180px;
			padding-top: 10px;
		}
		@include respond(x-large) {
			padding: 0 202px;
			padding-top: 10px;
		}
    h2 {
    	color:$white;
    	margin: 0;
    	font-size: 18px;
    	line-height: 1.33;
    	font-weight: $font-wt-regular;
    	@include respond(large) {
    		font-size: 26px;
    		line-height: 1.19;
    		font-weight: $font-wt-semibold;
    	}
    	@include respond(x-large) {
    		font-size: 32px;
    	}
    }
    .btn-shop-mobile {
    	color:$white;
    }
    p {
    	font-size: 20px;
    	line-height: 1;    	
    	margin: 0;
    	@include respond(large) {
    		font-size: 20px;
    		line-height: 1.7;
    	}
    }
    &.mobile-promo {
    	text-align: left;
    }
	}
	.promo-ad2 {
		background-image: radial-gradient(circle at 52% 48%, #f69719, #f6732a);
		padding: 10px 15px 20px;
		@include respond(large) {
			padding: 0 42px;
		}
		.promo-image {
			width: 182px;
			padding: 20px 0 18px;
			@include respond(x-large) {
				width: 182px;
				padding: 20px 0 18px;
			}
		}
		.promo-button {
			float: none;
			width: 100%;
			padding: 10px 15px;
			@include respond(large) {
				float: right;
				width: 192px;
				padding: 10px 0 0;
			}
			@include respond(x-large) {
				width: 192px;
			}
			.btn-secondary {
				height: 50px;
				float: none;
				width: 100%;
				font-weight: $font-wt-bold;
				margin-top: 15px;
				border:1px solid transparent;
				@include respond(medium) {
					width: 200px;
					margin: 15px auto 0;
					display: block;
				}
				@include respond(large) {
					margin: 0;
					float: right;
					width: 192px;
					margin-right: 0;
					margin-bottom: 3px;
					display: inline-block;
				}
			}
			p {
				color:$white;
	    	font-size: 20px;
	    	line-height: 1;
	    	margin: 0;    	
	    	display: block;
	    	clear:both;
	    	text-align: center;
	    	@include respond(large) {
	    		font-size: 20px;
	    		line-height: 1.7;
	    		text-align: right;
	    		padding-right: 8px;
	    	}
	    }
		}
		.promo-text {
			text-align: center;
	    padding: 0;
	    width: 100%;
	    color:$white;
	    
	    @include respond(large) {
				padding: 0 202px;
				padding-top: 10px;
			}
			@include respond(x-large) {
				padding: 0 202px;
				padding-top: 10px;
			}
	    h2 {
	    	color:$white;
	    	margin: 0;
	    	font-size: 18px;
	    	line-height: 1.33;
	    	font-weight: $font-wt-regular;
	    	@include respond(large) {
	    		font-size: 30px;
	    		line-height: 1.27;
					font-weight: $font-wt-semibold;
	    	}
	    }
	    p {
	    	font-size: 16px;
	    	line-height: 1.38;
	    	margin: 4px 0 0;
	    	@include respond(large) {
	    		font-size: 24px;
		    	line-height: 1.42;
		    	margin: -10px 0 0;
	    	}
	    }
	    &.mobile-promo {
	    	text-align: left;
	    }
		}
	}
	&.slick-slider {
		.slick-dots {
			position: absolute;
	    width: 100%;
	    bottom: 7px;
	    margin-top: 0;
			li {
				border: solid 2px $white;
				background:transparent;
				width: 11px;
				height: 11px;
				margin: 0 2px;
				button {
					background:transparent;
				}
				&.slick-active {
					background:$white;
					button {
						background:$white;
					}
				}
			}
		}
		.slick-track {
			display: flex !important;
		}
	}
	.promo-ad {
		.hidden-mobile-tablet {
			display: none;
			@include respond(large) {
				display: block;
			}
		}
		.show-mobile-tablet {
			display: block;
			@include respond(large) {
				display: none;
			}
		}
	}
	&.slick-initialized {
		.slick-slide {
			display: flex !important;
	    height: auto !important;
	    > div {
	    	width: 100%;
	    	height: 100%;
	    }
	    .slick-slide {
	    	display: block !important;
    		height: 100% !important;
	    }
	    .promo-ad {
	    	display: table !important;
    		height: 100% !important;
	    }
		}
	}
}
.home-pillows-mattresses {
	.home-pillows-mattresses-inner {
		max-width: 1200px;
		margin: 0 auto;
	}
	color:$white;
	.section-shop {
		border-bottom: 10px solid $white;
		.content-wrap {
				h2 {
					font-size: 24px;
					margin: 0;
					font-weight: $font-wt-semibold;
					line-height: 1.42;
					text-align: center;
					color: $white;
					padding: 0 40px;
					@include respond(medium) {
						padding: 0;
						font-size: 36px;
						line-height: 1.22;
					}
				}
				.btn {
					margin-top: 20px;
					display: inline-block;
			    vertical-align: top;
			    border-radius: 100px;
	  			border: solid 2px $white;
	  			width: 202px;
	  			height: 52px;
			    background: transparent;
			    color: #ffffff;
			    font-size: 18px;
			    font-weight: $font-wt-bold;
			    text-align: center;
			    padding: 14px 20px;
			    line-height: 20px;
			    text-decoration: none;
			    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
			    text-transform: inherit;
			    position: relative;
			    z-index: 2;
			    overflow: hidden;
			    cursor: pointer;
			    @include respond(medium) {
			    	margin-top: 20px;
			    }
			    &:hover {
			    	 background: $white;
			    	 color: $t-amaranth;
			    }
				}
		}
		&.section-shop-pillows {
			.content-wrap {
				h2 {
					color: $t-amaranth;
				}
				.btn {
					background: $t-amaranth;
					border: solid 2px $t-amaranth;
					color: $white;
					@include respond(medium) {
						background: $white;
						border: solid 2px $white;
						color: $t-amaranth;
					}
					&:hover {
						background: transparent;
						color: $t-amaranth;
						border: solid 2px $t-amaranth;
						@include respond(medium) {
							border: solid 2px $white;
							color: $t-amaranth;
						}
					}
				}
			}
		} 
	}
	.section-shop-pillows {
		float: none;
		width: 100%;
		background-color: $t-amaranth;
		background-size: cover;
		position: relative;
		overflow: hidden;
		
		img {
			width: 100%;
   		max-width: 100%;
			@include respond(medium) {
				width: 100%;
				height: auto;
			}
		}
		.content-wrap {
			position: absolute;
			top:20px;
			width: 100%;
			text-align: center;
			z-index: 50;
			@include respond(medium) {
				position: absolute;
				top:69px;
				left:50%;
				transform:translateX(-50%);
			}
		}
	}
	.section-shop-mattresses {
		float: none;
		width: 100%;
		background-color: $t-amaranth;
		background-size: cover;
		position: relative;
		overflow: hidden;
		@include respond(medium) {
		}
		img {
			width: 100%;
   		max-width: 100%;
			@include respond(medium) {
				width: 100%;
				height: auto;
			}
		}
		.content-wrap {
			position: absolute;
			top:30px;
			width: 100%;
			text-align: center;
			z-index: 50;
			.btn {
				margin-top: 20px;
				@include respond(medium) {
					margin-top: 20px;
				}
			}
			@include respond(medium) {
				position: absolute;
				top:71px;
				right: 50%;
				width: 297px;
				margin-right: -149px;
			}
		}
	}
}

.Home-compare-our-tulo-mattresses {
	padding: 19px 0 40px;
	@include respond(medium) {
		padding: 25px 0 54px;
	}
	> .container {
		max-width: 980px;
	}
	h1 {
		margin-top: 0;
		margin-bottom: 13px;
		color:$t-amaranth;
		@include respond(large-down) {
			font-size: 24px;
			line-height: normal;
			margin-bottom: 8px;
		}
	}
	.heighlight {
		font-size: 14px;
		color:$t-dove-gray;
		line-height: normal;
		margin-top: 14px;
		line-height: 1.5;
		margin-bottom: 21px;
		@include respond(medium) {
			margin-top: 18px;
			font-size: 24px;
			color: $t-dove-gray;
			line-height: 1.42;
			margin-bottom: 24px;
		}
	}
	.home-btn-wrap {
		padding-top: 8px;
    clear: both;
    @include respond(medium) {
    	padding-top: 30px;
    }
		.btn-default {
			font-size: 18px;
			width: 281px;
			padding: 13px 20px;
			@include respond(medium) {
				width: 323px;
			}
		}
	}
	.col {
		float: none;
		width: 100%;
		padding: 0;
		@include respond(medium) {
			float: left;
			width: 50%;
		}
		&.col-top-margin {
			@include respond(large-down) {
				margin-top: 25px;
			}
		}
		h3 {
			margin-top: 10px;
			line-height: 1.39;
			font-weight: $font-wt-semibold;
			color:$magenta;
			margin-bottom: 8px;
			@include respond(medium) {
				margin-top: 20px;
				line-height: 1.04;
				margin-bottom: 28px;
			}
			.new {
				background-color: $magenta;
		    padding: 3px 7px;
		    height: 21px;
		    display: inline-block;
		    vertical-align: middle;
		    color: $white;
		    font-weight: 500;
		    font-size: 16px;
		    line-height: 16px;
		    position: relative;
		    top: -1px;
		    margin-right: 8px;
		    @include respond(medium) {
		    	padding: 5px 10px;
		    	height: 25px;
		    	font-size: 18px;
		    	line-height: 17px;
		    	margin-right: 11px;
		    	top: -2px;
		    }
			}
		}
	}
}

.ui-dialog {
	&.SetPay-home-dialog {
		text-align: center;
		max-height: 95vh;
		position: fixed;   
    @include respond(medium) {
    	top: 50%;
    	transform: translateY(-50%);
    }
		@include respond(large) {
			width: 780px !important;
	    left: 50% !important;
	    margin: 0 0 0 -390px !important;
		}
		.ui-dialog-title {
			display: none;
		}
		.ui-dialog-content {
			padding: 20px 15px;
			@include respond(medium) {
				padding: 20px 60px;
			}
		}
		.tulo-setpay-logos {
			margin-top: 0;
			margin-bottom: 26px;
			@include respond(medium) {
				margin-top: 18px;
				margin-bottom: 35px;
			}
			.tulo-logo,
			.setpay-logo {
				max-height: 30px;
				width: auto;
			}
			.fa {
				display: inline-block;
				vertical-align: middle;
				line-height: 1;
    		margin: 10px 10px 2px;
				color:$t-orange3;
				font-size: 18px;
			}
		}
		.setPay-details {
			max-height: 82vh;
	    display: block;
	    overflow-x: hidden;
	    overflow-y: auto;
		}
		p {
			margin-top: 0;
			margin-bottom: 20px;
			font-size: 16px;
			line-height: 1.44;
			color: $t-dove-gray;
			text-align: left;
			@include respond(medium) {
				font-size: 18px;
				color: $black;
				margin-bottom: 30px;
				text-align: center;
			}
		}
		.btn-default {
			border: 1px solid $t-amaranth;
	    height: 44px;
	    line-height: 1;
	    padding: 11px 20px;
	    width: 178px;
	    margin-bottom: 10px;
	    font-weight: $font-wt-bold;
		}
		ul.payment-plan {
			padding: 0;
			margin: 0 0 20px -15px;
			width: calc(100% + 30px);
			list-style: none;
			border-bottom: solid 1px $t-gray3;		
			@include respond(medium) {
				width: 75%;
				margin: 0 auto 30px;
			}
			li {
				list-style: none;
				padding: 5px;
				line-height: 1.31;
				color:$black;
				overflow: hidden;
				font-size: 16px;
				@include respond(medium) {
					font-size: 18px;
					line-height: 1.44;
					padding: 10px;
				}
				.col {
					width: 33.33%;
					float: left;
				}
				&.title {
					border-bottom: solid 1px $t-gray3;
					font-weight: $font-wt-semibold;
				}
			}
		}
	}
}
