.ouradsPage-wrap {
	.page-content {
		.video-area {
			width: 100%;
			background-color: #333;
			position:relative;
			padding-top:30px;
			padding-bottom: 30px;
			overflow:hidden;
			height:540px;
			.video {
				display: none;
			}
		 	iframe, object, embed {
				position:absolute;
				top:5%;
				left:14%;
				width:72%;
				height:90%;
			}
		}
		.hs-responsive-embed {
			background-color: #333;
			position: relative; 
			height: 0; 
			overflow: hidden; 
			padding-top: 0; 
			padding-left: 0; 
			padding-right: 0;
			iframe, 
			object, 
			embed {
				position: absolute; 
				//top: 50%; 
				//left: 50%;
				//transform:translate(-50%,-50%); 
				width: 100%; 
				height: 100%; 
				border: 0;				
			}
			.video {
				display: none;
			}
		}
		
		.hs-responsive-embed, 
		.hs-responsive-embed.hs-responsive-embed-youtube, 
		.hs-responsive-embed.hs-responsive-embed-wistia, 
		.hs-responsive-embed.hs-responsive-embed-vimeo {
			padding-bottom: 65.10%;
			@include respond(medium) {
				padding-bottom: 45.10%;
			}
			@include respond(large) {
				padding-bottom: 40.10%;
			}
		}
		
		.video-content {
			width: 100%;
			@include respond(medium) {
				padding-right:15px;
				float: left;
				width: 55%;
			}
			@include respond(large) {
				width: 60%;
			}
			@include respond(x-large) {
				width: 65%;
			}
			.content {
				display: none;
				&#content1 {
					display: block;
				}
				h3 {
					color: $t-amaranth;
					font-weight: $font-wt-semibold;
					margin: 20px 0 0;
				}
				.timespan {
					font-size: 16px;
				}
				p {
					max-width: 80%;
					margin: 0 0 20px;
				}
				hr {
					border:none;
					border-bottom:1px solid $t-gainsboro;
					margin: 20px 0 10px;

				}
			}
		}
		
		.thumbs {			
			width: 100%;
			@include respond(medium) {
				border-left:2px solid $t-light-grey;
				float: left;
				padding-left:15px;
				width: 45%;
			}
			@include respond(large) {
				width: 40%;
			}
			@include respond(x-large) {
				width: 35%;
			}
			.video-thumb {
				display: block;
				float: none;
				margin-bottom: 20px;
				text-decoration: none;
				img {
					width: 150px;
					height: auto;
					display: block;
					vertical-align: middle;
				    float: left;
				    max-height: 84px;
				}
				.thumb-content{
					display: block;
					vertical-align: middle;
					padding-left:160px;
					height: 84px;
					position:relative;
					.text-wrap {
						display: block;
						position:relative;
						top: 50%;
    					transform: translateY(-50%);
					}
					.title {
						line-height: 1.3;
						font-size: $font-size-regular;
						font-weight: $font-wt-semibold;
						color: $t-cape-cod;
						display: inline-block;
					}
					.tag {
						font-size: 12px;
						font-weight: $font-wt-regular;
						color: $t-mine-shaft;
					}
				}
			}
			h4 {
				color: $t-gray-shaft;
				margin: 23px 0;
			}
		}

		.content-thumbs {
			width: 100%;
			padding-bottom:40px;
			margin: 0 auto;
			@include respond(medium) {
				width: 90%;
			}
		}
		
		
	}
}