 .pt_press {
    .banner {
        @extend %layout;
        position: relative;
        
        img { 
           
            @include respond(medium){
                position: static;
                transform: translateX(0);
                max-width: 100%;
                left: 0;
                width: 100%;
            }
        }
        
        .caption {
            @extend %full-width-height;
            width: 100%;
            background: rgba($t-amaranth, 0.5);
            @include v-align(100%, middle);

            h1 {
                color: $white;

                span {
                    @include font-size(20px);
                    @include line-height(23px);
                    display: block;
                    font-weight: 400;
                    padding: 15px 0;
                }
            }
        }
    }
}
.in-the-press {
    @extend %layout;
    position: relative;

    .testimonials-holder {
        @include align-reset(top, 18, 22);
        margin: 0 -5px;

        @include respond(medium){
            margin: 0;
        }

        .col {
            width: 100%;
            padding: 0 5px;
            margin: 0 0 30px;

            @include respond(medium){
                padding: 0 15px;
                width: 50%;
            }

            .col-holder { 
                background: $t-light-grey;
                padding: 10px;

                @include respond(medium){
                    padding: 24px;
                }
            }
            
            .img-holder {
                @include v-align(86px, middle);

                text-align: center !important;
                img {
                    max-height: 100px;
                    width: auto;
                }
            }

            blockquote {
                color: $t-mine-shaft;
                margin: 10px 0;
            }
            a {
                color: $t-mine-shaft;
                text-decoration: none;
            }
        }
    }
    .article-holder {
        @extend %layout;

        .comments {
            padding: 30px;
            @include font-size(18px);
            @include line-height(22px);
            color: $t-cape-cod;
            border-top: 1px solid $t-gainsboro;
            
            strong {
                font-weight: 500;
            }
            a {
                color: $t-cape-cod;
                text-decoration: none;
                &.press-name {
                    font-weight: $font-wt-bold;
                }
            }
        }
    }
    h1 {
        color: $magenta;
        &.heading {
        margin:50px 0 25px;
        }   
    }
    h2 {
        color: $magenta;
    }
}
.promotional-offers-details {
    @extend %layout;
    position: relative;
    p {
        color: $t-mine-shaft;
        &.heighlighted {
            font-size: 24px;
        }
    }
    .promotion-holder {
        @extend %layout;
        margin: 50px 0;
        @include align-reset(top, 18, 21);
        border-bottom: 1px solid $t-gainsboro;

        .promotion {
            color: $t-hover-grey;
            width: 100%;
            color: $t-doveGray;
            position: relative;
            border-top: 1px solid $t-gainsboro;
            padding: 30px 0;

            @include respond(medium){
                padding: 60px 0 50px;
            }

            strong {
                color: $magenta;
                font-weight: 500;
                font-size: 22px;
            }
            
            p { margin: 0 0 10px; }

            .icon {
                @include squar(66px, 66px);
                background: $magenta;
                color: $white;
                @include font-size(30px);
                @include line-height(66px);
                @extend %text-center;
                @extend %pull-left;
                @extend %layout;
                border-radius: 100%; 
            }
            .caption {
                @extend %pull-left;
                width: 75%;
                padding: 0 0 0 15px;

                @include respond(medium){
                    width: 65%;
                    padding: 0 0 0 50px;
                }
            }
            .btn-holder {
                width: 100%;
                @extend %text-center;
                @extend %pull-left;

                @include respond(medium){
                    width: 25%;
                    text-align: right;
                }

                @include respond(large){
                    width: 25%;
                }

                @include respond(x-large){
                    width: 29%;
                }
            }
        }
    }
    .disclaimer {
        p {
            font-size: 14px;
        }
    }
}