.staticpage-wrap {
	.staticpage-header {
		min-height:200px;
		background-color:#cacfce;
		@include v-align(100%, middle, before); 
		&:before {
			min-height: inherit;
		}
	}
	.page-content {
		padding: 50px 0;
		font-size: 16px;
		.container {
			@include respond(large) {
				
			}
		}
		.container-static-inner{
			@include respond(large) {
				width: 100%;
				padding:0 7%;
			}
			&.page-returns {
				.col-image {
					margin-right: 30px;
				}
				.col-text {
					@include respond(medium) {
						padding-left: 180px;
					}
					@include respond(x-large) {
						padding-right: 250px;
					}						
				}
				p.heighlighted {
					@include respond(x-large) {
						padding-right: 250px;
					}	
				}
			}
		}
		p {
			font-size: 16px;
			color: $t-mine-shaft;
			&.heighlighted {
				font-size: 24px;
				margin-top: 14px;
					@include respond(medium) {
						margin-top: 1em;
					}
				}
			&.magenta {
				color: $magenta;
				font-size: 18px;
			}
		}
		h1,h2,h3,h4,h5,h6 {
			margin-top: 0;
		}
		h1 {
			margin-bottom: 18px;
			@include respond(medium) {
				margin-bottom: 28px;
			}
		}
		h5 {
			margin-bottom: 10px;
		}
		a {
			text-decoration: none;
			font-size: 16px;
			&.primary-color-link{
				color: $t-mine-shaft;
			}
		}
		ul {
			list-style: initial;
		}		
	}
}
.mt-10 {
	margin-top:10px !important;
}
.mb-10 {
	margin-bottom:10px !important;
}
.mt-20 {
	margin-top:20px !important;
}
.mb-20 {
	margin-bottom:20px !important;
}
.mt-30 {
	margin-top:30px !important;
}
.mb-30 {
	margin-bottom:30px !important;
}
.mt-40 {
	margin-top:40px !important;
}
.mb-40 {
	margin-bottom:40px !important;
}
.mt-50 {
	margin-top:50px !important;
}
.mb-50 {
	margin-bottom:50px !important;
}
.uppercase {
	text-transform:uppercase;
}
.semibold {
	font-weight: $font-wt-semibold;
}
.three-color-border {
	margin: 0 auto;
	display: block;
	width: 100%;
	border-bottom:1px solid $t-gainsboro;
	position:relative;
	.colors-wrap {
		position:absolute;
		left: 50%;
		margin-left: -20px;
		bottom:-6px;
		font-size: 0;
		.color {
			width: 12px;
			height: 12px;
			display: inline-block;
			margin-right: 2px;
			&.soft {
				background-color:$t-orange;
			}
			&.medium {
				background-color:$magenta;
			}
			&.firm {
				background-color:$t-disco;
			}
		}
	}
}

.aboutus-wrap {
	.dedicated-video-area{
		padding:40px 0 100px;
		background-image: radial-gradient(circle at 51% 47%, #f69719, #f6732a);
		h1 {
			margin: 0 auto 125px;
			line-height: 38px;
			small {
				font-size: 18px;
				font-weight: $font-wt-regular;
				display: inline-block;
				margin-top: 0
			}
		}
	}
	.btnPlay-wrap {
		.btn-play-type-mattress {
			.icon-play {
				background-color: $magenta;
			}
		}
	}
	.img-res { @extend %img-res;}
	.page-content {
		padding: 50px 0;
		font-size: 18px;
		.container {
			max-width: 100%;
			@include respond(large) {
			}
		}
		.content-wrap {			
			@include respond(large) {
				padding:0 250px 0 80px;
			}
		}
		.aboutus-hero-image-wrap {
			position:relative;
			.aboutus-hero-image-caption-wrap {				
			}
			.aboutus-hero-image-caption {
				font-size: 36px;
				font-weight: $font-wt-bold;
				line-height: 1.02;
				letter-spacing: -1.5px;
				color: $white;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				@include respond(medium) {
					font-size: 66px;
				}
				@include respond(large) {
					font-size: 96px;
				}
			}
		}
		p {
			font-size: 18px;
			color: $t-mine-shaft;
			&.heighlighted {
				font-size: 24px;
			}
		}
		a {
			text-decoration: none;
		}
		ul {
			list-style: initial;
		}
		h1,h2,h3,h4,h5,h6 {
			margin-top: 0;
		}
		h1 {
			margin-bottom: 28px;
		}
	}
}

.page-red-carpet-delivery {
	.page-title-wrap {
		position: relative;
		overflow: hidden;
	}
	.title-text {
		padding-right: 0;
		@include respond(medium) {
			padding-right: 195px;
		}
		h1 {
			font-size: 22px;
			margin-bottom: 10px;
		@include respond(medium) {
				margin-bottom: 18px;
				font-size: 38px;
			}
		}
		p.heighlighted {
			font-size: 18px;
			margin-top: 10px;
		@include respond(medium) {
			font-size: 24px;
			margin-top: 14px;
			}
		}
	}
	.title-icon {
		position: static;
	float: none !important;
	text-align: center;
	margin-left: 30px;		
		right: 0;
		top: 0;
		@include respond(medium) {
			position: absolute;
			text-align: right;
			float: right !important;
		}

		img {
			max-width: 165px;
		}
	}
	.page-red-carpet-content {
	}
	.page-text {
		width: 100%;
		float: none;
		padding-right: 0;
		@include respond(medium) {
			float:left;
			width: 45%;
			padding-right: 15px;
		}
		@include respond(x-large) {
			width: 60%;
			padding-right: 15px;
		}
		p {
			&:first-child{
				margin-top: 0;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.section-zip-code {
		width: calc(100% + 30px);
		margin-left: -15px;
		float: none;
		clear: both;
		padding-left: 0;
		margin-top: 25px;
		@include respond(medium) {
			margin-left: 0;
			clear:none;
			float: left;
			width: 55%;
			padding-left: 15px;
			margin-top: 7px;
		}
		@include respond(x-large) {
			width: 40%;
			padding-left: 15px;
		}
		.zip-red-carpet-form {
			background-color: #c61061;
			color: $white;
			padding:25px;
			width: 100%;
			text-align: center;
			overflow: hidden;
			label {
				font-size: 16px;
				font-weight: $font-wt-regular;
				color: $white;
				line-height: 1.69;
				margin-bottom: 20px;
				display: block;
				text-transform: none;
				text-align: left;
			}
		
			.fields-wrap {
				width: 100%;
				position:relative;
				clear: both;
				float: left;			
				.input-text {
					height: 35px;
					border:none;
					float: left;
					width: 43%;
				  border-top-left-radius: 19px;
				  border-bottom-left-radius: 19px;
				  border-top-right-radius: 0;
				  border-bottom-right-radius: 0; 
					text-indent: 10px;	
					color:$t-border-gray2;	
					&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					  color:$t-border-gray2;	
					}
					&::-moz-placeholder { /* Firefox 19+ */
					  color:$t-border-gray2;	
					}
					&:-ms-input-placeholder { /* IE 10+ */
					  color:$t-border-gray2;	
					}
					&:-moz-placeholder { /* Firefox 18- */
					  color:$t-border-gray2;	
					}		
				}
				span.error {
					  position: absolute;
					bottom: -30px;
					left: 23px;
				}

				button {
					@include btn-default();
					margin-left: -5px;
					width: 57%;
					border:0;
					background-color:$t-car-pink;
					color: $white;
					font-size: 16px;
					font-weight: $font-wt-semibold;
					border-radius:0;
					border-top-right-radius: 19px;
					border-bottom-right-radius: 19px;
					padding-top:3px;
					padding-bottom:3px;
					text-transform: inherit;
					height: 35px;
					min-width: 105px;
					padding:5px 10px;
					&:hover,
					&:after {
						background-color: $t-amaranth;
					}
				}
			}
			.eligible-message,
			.not-eligible-message {
				font-size: 16px;
				font-weight: $font-wt-regular;
				color: $white;
				text-align: left;
				margin-top: 20px;
				line-height: 1.75;
				.fa {
					float: left;
					position: relative;
				top: 5px;
				font-size: 22px;
				}
				.fa-exclamation-triangle {
					font-size: 20px;
				top: 8px;
				}
				.message {
					padding-left: 32px;
					display:block;
				}
			}

		}
	}
}

.page-red-carpet-delivery-wrapper {
	.page-content {
		overflow: hidden;
		padding: 50px 0 0;
		@include respond(medium) {
			padding: 50px 0;
		}
	}
}

.liv-mattress-sneak-peak-expired {
	padding: 30px 0 28px;
	@include respond(medium) {
		padding: 60px 0 75px;
	}
	text-align: center;
	> .container {
		max-width: 780px;
	}
	.logo-liv {
		max-width: 202px;
		height: auto;
		@include respond(medium) {
			max-width: 337px;
		}
	}
	p {
		font-size: 18px;
		line-height: 1.39;
		color: $t-mine-shaft;
		margin-top: 15px;
		margin-bottom: 30px;
		@include respond(medium) {
			font-size: 24px;
			line-height: 1.46;
			margin-top: 36px;
			margin-bottom: 40px;
		}
		&.heighlight {
			margin-top: 30px;
			margin-bottom: 30px;
			@include respond(medium) {
				margin-top: 50px;
				margin-bottom: 50px;
			}
		}
	}
	.liv-mattress-image {		
		width: auto;
		margin-bottom: 0;
		margin-left: -13%;
		height: 115px;
    max-height: none;
    max-width: none;
		@include respond(medium) {
			margin-bottom: 70px;
			max-height: 119px;
			height: auto;
			max-width: 100%;
		}
	}
	.section-break {
		border: none;
    border-bottom: 1px solid $t-gray3;
    width: 238px;
	}
	h2 {
		@include h1();
		margin-top: 15px;
		margin-bottom: 15px;
		@include respond(medium) {
			margin-top: 40px;
			margin-bottom: 36px;
		}
	}
	.btn-default {
		width: 288px;
		height: 54px;
		margin-bottom: 30px;
		@include respond(medium) {
			width: 278px;
			margin-bottom: 60px;
		}
	}
	.tulo-mattress-image {
		height: 301px;
    width: auto;
    max-width: none;
    margin-left: -20%;
		@include respond(medium) {
			max-height: 299px;
			width: auto;
			height: auto;
			max-width: 100%;
			margin-left: 0;
		}
	}
} 