.gm-style-iw {
	background-color:$t-light-grey;
	width: 320px !important;
	height: auto !important;
	top: 15px !important;
	left: 0px !important;
	box-shadow: 0 1px 6px rgba(00, 00, 00, 0.6);
	border-radius: 10px;
	text-align: left;
	max-height: 330px !important;
	> div {
	  width: 100% !important;
		max-height: 300px !important;
	}
	#iw-container { 
	  margin-bottom: 10px;
	  .iw-title {
	  	margin-top: 0;
		color: $t-amaranth;
		font-size: $font-size-h3;
		line-height: 24px;
		font-weight: $font-wt-semibold;
		text-align:left;
		position: relative;
		padding: 0 15px 0;
		a {
			font-size: $font-size-h3;
			font-weight: $font-wt-semibold;
			color: $t-amaranth;
			text-decoration: none;
		}
		small {
			font-size: 12px;
			color: $t-primary-color;
			text-align: left;
			clear: both;
			display: block;
		}
		}
	.iw-content {
		  margin-right: 1px;
		  padding: 0 20px 0 15px;
		  /* max-height: 140px;*/
		  overflow-y: visible;
		  overflow-x: visible;
		  img {
			  float: right;
			  margin: 0 5px 5px 10px;
		  }
		  p {
			  font-size: 16px;
			  color: $t-primary-color;
			  text-align: left;
			  line-height: 1.19;
			  margin:10px 0;
			  a {
					font-size: 16px;
					text-decoration: none;
					color: $t-primary-color;
				}
		  }
		  .store-logo {
				float: right;
				height: 30px;
				img {
					max-width: 80px;
					margin: 10px 0;
				}
			}
		}
		.btn-primary {
			line-height: 18px;
			font-size: 14px;
			padding:5px 30px;
			font-weight: $font-wt-semibold;			

			&.btn-makeMyStore {
				.fa-check { display: none;}
			}
			&.btn-myStore {
				background: $t-amaranth;
		    color: $white;
		    border-color: $t-amaranth;
		    &:hover {
		    	background: $t-Razmataz;
			    color: $white;
			    border-color: $t-Razmataz;
		    }
			}
		}
		.btn-moreInfo-mobile {
			display: block;
			position:absolute;
			right: 9px;
			top:50%;
			margin-top: -14px;
			z-index: 5;
			@include respond(medium) {
			  	
			}
			.fa {
				font-size: 28px;
				color: $t-border-gray2;
			}
		}
	}				
}

.gm-ui-hover-effect {
    top: 0 !important;
    right: 0 !important;
}

.find-store-map {
	height:404px;
	width:100%;
	display: none;
	@include respond(medium) {
	  	display: block;
	}
	.gmap3, iframe {
		width: 100%;
		height: 404px;
	}

}
.find-store-map-mobile {
	height:510px;
	width:100%;
	display: block;
	.gmap3, iframe {
		width: calc(100% + 30px);
		height: 510px;
		margin-left: -15px;
	}
}
.find-store-map-nozip {
	height:425px;
	width:100%;
	display: none;
	background:url(../images/store-map-default.png) no-repeat center center;
	background-size:cover;
	@include v-align(425px, middle, before);
	position:relative;
	&:after {
		width:100%;
		height:100%;
		position:absolute;
		left:0;
		top:0;
		z-index:10;
		content:"";	
		background-color:$white;
		opacity: 0.45;

	}
	@include respond(medium) {
	  	display: block;
	}
	p {
		position:relative;
		z-index:11;
		font-size:16px;
		font-weight: $font-wt-bold;
		line-height:2.63;
		text-align:center;
		color:$bg-burgundy-hover;
	}
}
.find-store-map-mobile-nozip {
	height:510px;
	width:calc(100% + 30px);
	margin-left: -15px;
	display: block;
	background:url(../images/store-map-default.png) no-repeat center center;
	background-size:cover;
	@include v-align(510px, middle, before);
	position:relative;
	&:after {
		width:100%;
		height:100%;
		position:absolute;
		left:0;
		top:0;
		z-index:10;
		content:"";	
		background-color:$white;
		opacity: 0.45;

	}
	@include respond(medium) {
	  	display: none;
	}
	p {
		position:relative;
		z-index:11;
		font-size:16px;
		font-weight: $font-wt-bold;
		line-height:2.63;
		text-align:center;
		color:$bg-burgundy-hover;
	}
}
.find-store-search {
	padding:12px 0; 
	background-color:$t-disco;
	min-height:70px;
	width:100%;
	.find-store-search-form-wrap {
		.search-fld-wrap {
			display: block;
			@include respond(large) {
		  		display: inline-block;
			}
			.form-row {
				display: block;
				margin: 0;
				.field-wrapper {
					margin-bottom: 0;
				}
				@include respond(large) {
			  		display: inline-block;
				}
			}
			.field-wrapper {
				max-width: none;
				@include respond(large) {
			  		width: 220px;
			  		display: inline-block;
			  		vertical-align: top;
				}
			}
		}
		.form-select {
			label {
				display: none;
			}
		}
		form { 
			text-align: left;
			font-size: 0;
			@include respond(large) {
		  		text-align: center;
			}
		}
		label {
			color: $white;
			line-height: 46px;
			margin-right: 15px;
			font-size: $font-size-regular;
			font-weight: $font-wt-regular;
			display: block;
			@include respond(large) {
		  		display: inline;
			}
		}
		input {
			height: 46px;
			border-radius:3px;
			background-color: $white;
  			border: solid 1px $t-gray3;
  			width: 100%;
  			margin-right: 15px;
  			font-size: 16px;
  			margin-bottom: 15px;
  			@include respond(large) {
		  		width: 220px;
		  		margin-bottom: 0;
			}
		}
		.fake-select-white {
			position:relative;
			display:none;
			width: 175px;
			border-radius:3px;
			margin-left: 15px;
			vertical-align: top;
			.form-select {
				&.form-row {
					margin: 0;
				}
				.field-wrapper {
					margin-bottom: 0;
				}
				div.selector {
					height: 46px;
					border-radius:3px;
					select {
						opacity: 1;
						z-index: 1;
					}
				}
			}
			@include respond(large) {
			  	display: inline-block;
			}
			&:before{
				content:"";
				position:absolute;
				top:0;
				right:0;
				bottom:0;
				width: 35px;
				pointer-events:none;
				border-radius:0;
				z-index: 1;
			}

			&:after{ 
				position: absolute;
				right:10px;
				content:'\f078 '; 
				line-height: 26px;
				font-size: 20px;
				font-family: "FontAwesome";
				position:absolute;
				top:50%;
				line-height: 0;
				z-index: 5;
				color: $black;
				pointer-events:none;
			}

		select::-ms-expand {display: none;}
		select{
			display:inline-block;
			padding:10px 35px 8px 20px;
			margin:0;
			font:inherit;
			outline:none;
			appearance:none;
			width: 100%;
			height: 46px;
			border-radius: 3px;
			background: $white;
			border: solid 1px $t-gray3;
			font-size: 16px;
			font-weight: normal;
			line-height: 1.25;
			text-align: left;
			color: $black;
			//font-family: $akzidenz;
		}
		}
		.btn-primary,
		.btn-default{
			@include align(top);
			width: 100%;
			border-radius: 47px;
			background: $white;
			color: $t-disco;
			font-size: 18px;
			border:0;
			padding: 10px 30px;
			line-height: 26px;
			text-decoration: none;
			font-weight: 900;
			text-align: center;
			transition: all $t-animate-speed ease;
			margin-bottom: 15px;
			@include respond(large) {
		  		width: 130px;
		  		margin-left: 15px;
		  		margin-bottom: 0;
			}
			&:hover{
				background: $t-pinkLight;
				color: $t-pinkLight-hover;
				text-decoration: none;
				transition: all $t-animate-speed ease;
				cursor: pointer;
			}
		}

	}
}

.stores-locations {

	ul.tabs{
	display:block;
	margin: 0px -15px;
	padding: 0px;
	list-style: none;
	font-size:0;
	@include respond(medium) {
	  	display: none;
	}
	li{
		background: $t-tab-bg;
		color: $black;
		display: inline-block;
		height: 32px;
		line-height: 1.2;
		width: 50%;
		box-sizing:border-box;
		cursor: pointer;
		font-size: 14px;
		text-align: center;
		line-height: 32px;
		font-weight: $font-wt-semibold;
		&:first-child {
			border-right:1px solid $t-tab-border;
		}
		&.current{
			border-bottom:2px solid $t-amaranth;
			background: $t-tab-bg;
			color: $t-amaranth;
		}
	}
	}

	.tab-content{
		display: none;
		&.current{
			display: inherit;			
		}
		&.current#tab-2 {
			@include respond(medium) {
				display: none;
			}
		}
	}

	.section-header {
			padding:50px 0 30;
			border-bottom:none;
			font-weight: $font-wt-regular;
			h1 {
				font-size: $font-size-h1;
				color: $t-amaranth;
				font-weight: $font-wt-bold;
				text-align: center;
				margin-bottom: 15px;
				line-height: 42px;
			}
			p {
				font-size: $font-size-h4;
				color: $t-dove-gray;
				text-align: center;
				line-height: 1.5;
				margin-top: 15px;
			}
			@include respond(medium) {
			  	display: block;
			}
		}
	.storeLocations-list {
		margin-left: -15px;
		margin-right: -15px;
		@include respond(large-only) {
	  		margin-left: -10px;
			margin-right: -10px;
		}
		.column {
			width: 100%;
			padding:0;
			float: left;
			//min-height: 297px;
			@include respond(medium) {
			  	width: percentage(50/100);
			  	padding:0 15px 30px;
				  min-height: inherit;
			}
			@include respond(x-large) {
			  	width: percentage(33.33/100);
			  	padding:0 15px 30px;
			}
			@include respond(large-only) {
		  		padding:0 10px 20px;
			}
			@include respond(large-down) {
				
			}
		}
		.storeLocation {
			height: 100%;
			background-color:$t-light-grey;
			padding: 20px 30px 20px 20px;
			position:relative;
			//min-height: 297px;
			
			@include respond(large-down) {
		  		border-bottom:1px solid $t-border-gray2;
			}
			@include respond(medium) {
				  padding: 20px;
				  min-height: inherit;
				  display: table;
			}
			.btn-holder {
				@include respond(medium) {
					display: table-footer-group;
					height: 1%;
				}
			}
			.store-logo {
				float: right;
				height: 34px;
				img {
					max-width: 110px;
					margin: 10px 0;
				}
			}
 			h2 {
				.loc-count {
					display: none;
					width: 35px;
					height: 50px;
					text-align: center;
					font-size: 14px;
					color: $white;
					position:absolute;
					z-index: 5;
					left: 0;
    				top: 0;
    				@include respond(medium) {
					  	display: inline-block;
					}
					&:before {
						font-family: 'icomoon' !important;
					    speak: none;
					    font-style: normal;
					    font-weight: normal;
					    font-variant: normal;
					    text-transform: none;
					    line-height: 1;
					    -webkit-font-smoothing: antialiased;
					    content: "\e908";
					    color: $t-disco;
					    position:absolute;
					    z-index: -1;
					    left: -5px;
   						top: -4px;
   						font-size: 45px;
					}
				}
				margin-top: 0;
				color: $t-amaranth;
				font-size: $font-size-h3;
				line-height: 24px;
				font-weight: $font-wt-semibold;
				text-align:left;
				position: relative;
    			padding-left: 0;
    			margin-bottom: 5px;
    			@include respond(medium) {
					  	padding-left: 45px;
				}
				small {
					font-size: 12px;
					color: $t-primary-color;
					text-align: left;
					clear: both;
    				display: block;
				}
				a {
					font-size: $font-size-h3;
					text-decoration: none;
					font-weight: $font-wt-semibold;
					&:hover {
						color: $t-amaranth;
					}
				}
			}
			p {
				font-size: 16px;
				color: $t-mine-shaft;
				text-align: left;
				line-height: 1.5;
				margin:0 0 10px;
				img {
					max-width: 50%;
				}
			}
			.phone-rating {
				a {
					font-size: 16px;
					text-decoration: none;
					color: $t-mine-shaft;
				}
				line-height: 29px;
				img {
					display: none;
				}
				@include respond(medium) {
				  	padding-left: 0;
				  	img {
				  		display: inline-block;
				  	}
				}
			}
			.address-wrap {
				margin: 10px 0;
				overflow: hidden;
				.address {
					width: 100%;
					float: left;
					font-size: 16px;
					color: $t-primary-color;
					text-align: left;
					line-height: 1.19;
					@include respond(medium) {
					  	width: 50%;
					}
					a {
						font-size: 16px;
						color: $t-primary-color;
						&:hover {
							color: $t-primary-color;
						}
					}
				}
				.store-info-direction {
					display: none;
					width: 50%;
					float: right;
					text-align: right;
					@include respond(medium) {
					  	display: block;
					}
					a {
						padding-right:1px;
						font-size: 12px;
						color: $t-amaranth;
						display: block;
						text-decoration: none;
						line-height: 19px;
					}
				}
			}
			.btn-primary {
				line-height: 18px;
				font-size: 14px;
				padding:7px 10px;
				width: 145px;
				.fa-check {
					font-size: 20px;
					color: $white;
					display: none;
				    top: 2px;
				    position: relative;
				}
				&.white {
					background-color:$t-amaranth;
					color: $white;
					vertical-align: middle;
    				padding: 3px 20px 7px;
				}
				&.btn-myStore {
					.fa-check {
						display: inline-block;
					}
				}
			}
			.btn-storeInfo {				
				@include respond(large-down) {
			  		display: none;
				}
			}
			.btn-myStore, 
			.btn-makeMyStore {	
			&.pull-right {
				@include respond(large-down) {
			  		float:left !important;
				}
			}							
			}
			.btn-makeMyStore {	
				.fa-check {
					display: none;
				}
				.mystore-txt {
					display: none;
				}
			}
			.btn-myStore {	
				.makestore-txt {
					display: none;
				}
			}
			.btn-moreInfo-mobile {
				display: block;
				position:absolute;
				right: 12px;
				top:50%;
				margin-top: -14px;
				z-index: 5;
				@include respond(medium) {
				  	display: none;
				}
				.fa {
					font-size: 28px;
					color: $t-border-gray2;
				}
			}
			&.my-store-location {
					h2 {
					.loc-count {
						&:before {
							color: $t-amaranth;
						}
					}
				}
			}
		}
		.more-stores-wrap {
			text-align: center;
			padding:15px 0 45px;
			clear:both;
			@include respond(large-down) {
			  	padding:33px 0 37px;
			}
			.btn-primary {
				@include respond(medium) {
					min-width: 250px;
					height: 44px;
			    padding: 9px 20px;
				}
				@include respond(large-down) {
			  	min-width: 290px;
			    height: 44px;
			    padding: 9px 20px;
				}
			}
		}
	}
}

.find-store-images-block {
	overflow:hidden;
	margin-top:0;
	max-height: inherit;
	@include respond(medium){
		margin-top:0px;
	}
	
	.container {
		overflow: hidden;
		padding: 0;

		@include respond(medium){
			padding: 0 15px;
		}
	}

	@include respond(medium){
		max-height: 263px;
	}

	@include respond(large){
		max-height: 331px;
	}

	@include respond(x-large){
		max-height: 465px;
	}

	.col-left {
		float: left;
		width: 100%;

		@include respond(medium){
			width: percentage(50/100);
		}

		@include respond(large){
			width: percentage(49.6/100);
		}

		@include respond(x-large){
			width: percentage(48.5/100);
		}

		img {
			width: 100%;
		}
	}
	.svg-icon-frame {
		background-image: radial-gradient(circle at 51% 52%, #e51870, #b51b58);
		
		svg {
			width: 139px;
			padding: 20px 0;
	
			@include respond(medium){
				width: 115px;
				padding: 38px 0 37px;
			}

			@include respond(large){
				width: 177px;
				padding: 44px 0;
			}
	
			@include respond(x-large){
				width: 242px;
			}
		}
	}
	.col-mid {
		float: left;
		width: 100%;

		@include respond(medium){
			width: percentage(25/100);
		}
		
		@include respond(large){
			width: percentage(24.9/100);
		}

		@include respond(x-large){
			width: percentage(26.5/100);
		}

		img {
			width: 100%;
		}
	}
	.col-right {
		float: left;
		width: 100%;

		@include respond(medium){
			width: percentage(25/100);
		}

		@include respond(large){
			width: percentage(25.5/100);
		}

		@include respond(x-large){
			width: percentage(25/100);
		}

		img{
			width: 100%;
		}
	}
}
.find-store-help-block {
	padding-bottom:50px;
	.section-header {
			padding:20px 0 10px;
			border-bottom:none;
			@include respond(medium) {
				padding:40px 0;
			}
			h1 {
				font-size: $font-size-mobile-h2;
				color: $t-amaranth;
				font-weight: $font-wt-bold;
				text-align: left;
				margin-bottom: 0;
				margin-top: 0;
				@include respond(medium) {
					font-size: $font-size-h3;
					text-align: center;
				}
			}
		}
	.column {
		width: 100%;
		padding:0;
		float: left;
		@include respond(medium) {
			width: percentage(50/100);
			padding:0 15px 15px;
		}
	}
	.help-wrap {
		background-color:transparent;
		padding:5px 15px;
		@include respond(medium) {
			background-color:$t-light-grey;
			padding:15px 30px;
		}
		p {
			font-size: $font-size-regular;
			color: $t-cape-cod;
			line-height: 1.56;
			font-weight: normal;
			margin:8px 0;
			&.title {
				font-weight: $font-wt-semibold;
				color: $t-disco;
			}
			@include respond(medium) {
				margin:5px 0 0;
			}
		}
	}
	.help-list {
		margin-left: -15px;
		margin-right: -15px;
	}
}
.ui-dialog{
	&.no_address_found {
		@include respond(large) {		
			width: 300px !important;
			margin: 0 0 0 -150px !important;
		}
		.ui-dialog-title {
			padding: 14px 0;
			@include font-size(18px);
			@include line-height(21px);
		}
		p { margin: 0;}
	}
}
.pt_store-locator {
	h2 {
		&.error {
			color: $crimson;
		}
	}
	
	.faq-section {
		background:$t-disco;
		.accordion {
			li {
				border-bottom: 1px solid #c490a5;
				}
			}
		.btn-default {
		    color: $t-disco;
		    padding:10px 60px;
		}
	}

	.textCarousel-wrap {
		@include respond(large-down) {
  			width: calc(100% + 30px);
  			margin-left: -15px;
		}
		&.store-detail-wrap {
			padding: 40px 0;
		}
		h2 { 
			color: $white;
			margin: 0;
		}
	}
	.store-detail-map {
		.find-store-map-mobile {
			display: block;
			height: 350px;
			.gmap3,
			iframe {
				height: 350px;
				width: 100%;
				margin-left: 0;
			}
			@include respond(medium) {
	  			display: none;
			}
		}
	}
	.secondary-navigation {
		display: none;
	}
}

.store-details {
	.semibold {
		font-weight: $font-wt-semibold;
	}
	padding:20px 0;
	@include respond(medium) {
		padding:80px 0 50px;
	}
	> .container {
			display: table;
			@include respond(large) {
				display: block;
			}
	}
	.store-info {		
		width: 100%;
		padding-bottom:30px;	
		@include respond(large) {
			padding-bottom:0;
			padding-right:30px;
			float: left;
  			width: 70%;
		}
		.si-header {
			display: table;
			@include respond(medium) {
				display: relative;
			}
			h3{
				font-size: 24px;
				font-weight: $font-wt-bold;
				color: $magenta;
				line-height: 1.38;
				display: inline-block;
				margin-top: 0;
				margin-bottom: 14px;
				@include respond(medium) {
					margin-bottom: 24px;
				}
			}
			.btn-store-status {
				position:relative;
				display: table-footer-group;				
				text-align: center;
				font-size: 10px;
				background-color:$t-light-grey;
				padding:15px 0;
				margin-bottom: 14px;
				width: calc(100% + 30px);
    			margin-left: -15px;
				@include respond(medium) {
					padding:0;
					background-color:transparent;
					float: right;
					display: inline-block;	
					top:-5px;
					margin-bottom: 0;
					width: auto;
					margin-left: 0;
				}
				.btn-store-status-inner {
					width: calc(100% + 30px);
    				margin-left: -15px;
					display: block;
					background: $t-light-grey;
					padding:15px;
					@include respond(medium) {
						background-color: transparent;
						margin-left: 0;
						width: auto;
						padding:0;
					}
				}
				.helpingText{
					position: relative;
    				margin-top: -15px;
				}
				small {
					display: inline;
					font-size: 14px;
					@include respond(medium) {
						font-size: 10px;
					}
				}
				.btn-primary {
					margin-top: 5px;
					padding:4px 30px;
					font-size: 14px;
				}
				.btn-primary {
					.fa-check {
						font-size: 20px;
						color: $white;
						display: none;
					    top: 2px;
					    position: relative;
					}
					&.white {
						background-color:$t-amaranth;
						color: $white;
						vertical-align: middle;
	    				padding: 3px 20px 7px;
					}
					&.btn-myStore {
						@include respond(large-down) {
							float: none !important;
						}
						.fa-check {
							display: inline-block;
						}
					}
				}
				.btn-makeMyStore {	
				.fa-check {
					display: none;
				}
				.mystore-txt {
					display: none;
				}
				}
				.btn-myStore {	
					.makestore-txt {
						display: none;
					}
				}
			}
			.my-store {
				position:relative;
				display: block;				
				text-align: center;
				background-color:$t-light-grey;
				padding:15px 0;
				margin-bottom: 14px;
				width: calc(100% + 30px);
    			margin-left: -15px;
    			@include respond(medium) {
					padding:0;
					background-color:transparent;
					float: right;
					display: inline-block;	
					margin-bottom: 0;
					width: auto;
					margin-left: 0;
				}
				.btn-primary {
					margin-top: 5px;
					padding:4px 30px;
					font-size: 14px;
					line-height: 18px;
					.fa-check {
						font-size: 20px;
						color: $white;
						display: none;
					    top: 2px;
					    position: relative;
					}
					&.white {
						background-color:$t-amaranth;
						color: $white;
						vertical-align: middle;
	    				padding: 3px 20px 7px;
					}
					&.btn-myStore {
						@include respond(large-down) {
							float: none !important;
						}
						.fa-check {
							display: inline-block;
						}
					}
				}
			}
		}
		.store-about {
			color: $black;
			margin-bottom: 35px;
		}
		.contact-hours-wrap {
			margin-top: 30px;
			@include respond(medium) {
				margin: 0;
			}
			h4 {
				margin-top: 0;
				margin-bottom: 22px;
				color: $t-primary-color;
				font-size: 22px;
				@include respond(medium) {
					margin-bottom: 32px;
				}
			}
			.contact-info {
				width: 100%;
				float: left;
				padding-right:0;
				margin-bottom: 25px;
				@include respond(medium) {
					width: 45%;
					margin-bottom: 0;
					padding-right:50px;
				}
				@include respond(x-large) {
					width: 40%;
					padding-right:60px;
				}
				.phone {
					margin-bottom: 30px;
					font-size: 16px;
					font-weight: $font-wt-semibold;
					a {
						font-size: 16px;
						font-weight: $font-wt-semibold;
						text-decoration: none;
						color: $t-primary-color;
					}
					.fa {
						color: $t-amaranth;
						font-size: 20px;
						margin-right: 5px;
					}
				}
				.address {
					margin-bottom: 30px;
					color:$t-primary-color;
					a {
						text-decoration: none;
						color:$t-primary-color;
					}
				}
				.removeUnderLineLink{
				text-decoration: none !important;
				}
				.btn-getDirections {
					padding:6px 30px;
					.icon-map-direction {
						font-size: 20px;
						position:relative;
						top:3px;
					}
				}
			}
			.operation-hours {
				width: 100%;
				float: left;
				@include respond(medium) {
					width: 55%;
				}
				@include respond(x-large) {
					width: 60%;
				}
				table.hours-data {
					width: auto;
					td {
						padding: 4px 0 4px 0;
						@include respond(medium) {
							padding: 4px 20px 4px 0;
						}
						@include respond(large) {
							padding: 4px 0 4px 0;
						}
						@include respond(x-large) {
							padding: 4px 20px 4px 0;
						}
						&:first-child {
							width: 45%;
							@include respond(medium) {
								width: auto;
							}
							@include respond(large) {
								width: 45%;
							}
							@include respond(x-large) {
								width: auto;
							}
						}
					}
					tr.today {
						td {
							color:$t-amaranth;
							font-weight: $font-wt-semibold;
						}
					}
				}
			}
		}
	}
	.store-logo {
		display: table-header-group;
		@include respond(large) {
			padding-bottom:0;
			padding-right:0;
			float: left;
  		width: 30%;
  		padding-top: 155px;
  		display: block;
		}
		img {
				max-width: 198px;
    		margin: 13px 0 30px;
			@include respond(large) {
				max-width:100%;
    		margin: 0; 		
			}
		}
	}
	.store-sidebar {
		position: relative;
		width: 100%;	
		padding-top:30px;
		border-top:1px solid $t-gray3;
		@include respond(large) {
			float: right;
			padding-top:0;
			padding-left:30px;
			border-top: none;
			border-left:1px solid $t-gray3;
  			width: 30%;
		}
		/*&:after {
			width: 100%;
		    height: 100%;
		    content: "";
		    position: absolute;
		    left: -1px;
		    border-left: 1px solid $t-gray3;
		}*/
		h4 {
				margin-top: 0;
				margin-bottom: 15px;
				color: $t-primary-color;
				font-size: 18px;
				@include respond(medium) {
					font-size: 22px;
					margin-bottom: 25px;
				}
			}
		.write-review {
			font-size: 16px;
			margin-bottom: 20px;
			@include respond(medium) {
				margin-bottom: 45px;
			}
			.wr-header {
				line-height: 29px;
				margin-bottom: 20px;
			}
			p {
			}
			.btn-primary {
				padding:6px 30px;
			}
		}
		.featured-review {
			cite {
				font-size: 14px;
				line-height: 1.29;
				text-transform: uppercase;
				margin-bottom: 10px;
				font-style: normal;
				display: block;
			}
			p {
				margin:10px 0;
			}
			.btn-see-reviews {
				color: $t-amaranth;
				font-size: 16px;
				font-weight: $font-wt-semibold;
				text-decoration: none;
				.fa {
					position: relative;
					top: 2px;
				}
			}
		}
	}
}

.tulo-stock {
	position:relative;
	padding:20px 0;
	background-color:$t-light-grey;
	text-align:center;
	@include respond(medium) {
		padding:45px 0;
	}
	.stockanchor {
		visibility: hidden;
		position:absolute;
		left: 0;
		top:-78px;
	}
	.stock-header {
		h3 {
			font-weight: $font-wt-semibold;
			color: $t-primary-color;
			margin-top: 0;
		}
	}
	.stock-levels {
		display: none;
		h3 {
			font-weight: $font-wt-semibold;
			color: $t-primary-color;
			margin-top: 0;
		}
		.three-color-border {
			margin: 0 auto;
			display: block;
			width: 85%;
			border-bottom:1px solid $t-gainsboro;
			position:relative;
			.colors-wrap {
				position:absolute;
				left: 50%;
				margin-left: -20px;
				bottom:-6px;
				font-size: 0;
				.color {
					width: 12px;
					height: 12px;
					display: inline-block;
					margin-right: 2px;
					&.soft {
						background-color:$t-orange;
					}
					&.medium {
						background-color:$magenta;
					}
					&.firm {
						background-color:$t-disco;
					}
				}
			}
		}
		.levels-wrap {
			clear: both;
			overflow: hidden;
			margin:0 -10px;
			.col {
				width: 100%;
				padding:0 10px;
				@include respond(medium) {
					width: 33%;
					float: left;
				}
			}
			.levels {
				h3 {
					margin:30px 0 15px;
					font-size: 22px;
					@include respond(medium) {
						margin:30px 0;
					}
				}
				.stock-list {
					padding:0;
					li {
						margin-bottom: 10px;
						list-style: none;
					}
					.progress {
						position:relative;
						overflow: hidden;
						height: 30px;
						background-color: $t-gainsboro;
						border-radius: 0;
						.tulo-name {
							position:absolute;
							z-index: 5;
							left: 0;
							top: 0;
							height: 30px;
							width: auto;
							line-height: 30px;
							font-size: 12px;
							color: $white;
							background-color:rgba(0, 0, 0, 0.1);
							padding:0 7px;
						}
						.stock-count {
							position:absolute;
							z-index: 5;
							right: 0;
							top: 0;
							height: 30px;
							width: auto;
							line-height: 30px;
							font-size: 12px;
							color: $t-border-gray2;
							padding:0 7px;
						}
					}

					.progress-bar {
						display: block;
						position:relative;
						height: 100%;
						line-height: 30px;
						color: $white;
						text-align: center;
						background-color: $t-primary-color;
					}

				}
				&.soft-levels {
					h3 {
						color: $t-orange;
					}
					.stock-list {
						.progress-bar {
							background-color: $t-orange;
						}
					}
				}
				&.medium-levels {
					h3 {
						color: $magenta;
					}
					.stock-list {
						.progress-bar {
							background-color: $magenta;
						}
					}
				}
				&.firm-levels {
					h3 {
						color: $t-disco;
					}
					.stock-list {
						.progress-bar {
							background-color: $t-disco;
						}
					}
				}
			}
			.error {
				color: $crimson;
				margin: 20px;
				font-size: $font-size-regular;
				font-weight: $font-wt-semibold;
			}
		}
	}
}
.tulo-reviews {
	min-height:500px;
	padding:45px 0;
	h2 {
		text-align: center;
	}
}

.stores-locations {
	&.nearby-stores {
		padding:0 0 20px;
		@include respond(medium) {
			padding:50px 0 20px;
		}
		.section-header {
			text-align: center;
			h2 {
				color: $t-dove-gray;
				font-weight: $font-wt-bold;
				margin-bottom: 0;
				margin-top: 0;
				@include respond(medium) {
					margin-bottom: 40px;
				}
			}
		}

		.storeLocations-list {
			.storeLocation {
				h2 {
					.loc-count {
						font-size: 0;
						background:url(../images/markers/storeDetail-marker.png) no-repeat center center;
						&:before {
							font-size: 0;
						}
					}
				}
				.btn-holder {
					display: none;
					@include respond(medium) {
						display: table-footer-group;
						.btn-primary {
							display: none;
						}
					}
				}
			}
		}

	}
}

.gmap-placemarker-label {
    color: white;
    /* background-color: red; */
    font-family:$sans-serif;
    font-size: 12px;
    text-align: center;
    width: 30px;
    white-space: nowrap;
    font-weight: $font-wt-semibold;
}
