.pt_product-search-result .primary-content h1.content-header {
	padding-left: 15px;
}

.pt_content-search-result,
.pt_product-search-noresult {
	.primary-content {
		> h1,
		> h2,
		> p {
			margin: 0;
			padding: .1em 1%;
		} 
		.pagination {
			float: none;
			padding: .1em 1%;
		}
	}
}
.clp-product-reviews {
	text-align: left;
	padding: 6px 0 10px 10px;
}
.category-main-banner img {
	max-width: 100%;
}

.no-hits-search-term,
.no-hits-search-term-suggest {
	color: $color-secondary;
	text-transform: uppercase;
	@include font-semibold();
}

.search-result-bookmarks {
	margin: 15px;
	.first {
		border-right: 1px solid $nobel;
		padding-right: 5px;
	}
}

.search-result-content {
	margin-top: 20px;
	@include respond(large-up) {
		margin-top: 0;
	}
	.search-result-items {
		margin: 0;
		padding: 0;
		font-size: 0;
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		li {
			list-style: none outside none;
			float: none;
			display: inline-block;
			vertical-align: top;
		}
		.new-row {
			clear: both;
		}
		ul {
			margin-bottom: 0;
		}
		.grid-tile {
			border: $border;
			list-style: none outside none;
			width: 100%;
			box-sizing: border-box;
			@include respond(large-up) {
				width: 31.7999%;
				margin-left: 2.28899%;
			}
			@include respond(large-only) {
				width: 47.9629% !important;
				margin-left: 4.0650%;
			}
			@include respond(m-small) {
				width: 47.9621%;
				margin-left: 4.0650%;
			}
			&.new-row {
				@include respond(large-up) {
					margin-left: 0;
				}
				@include respond(large-only) {
					margin-left: 4.0650%;
					width: 31.82711%;
				}
				@include respond(m-small) {
					margin-left: 4.0650%;
				}
			}
			&.new-row-tablet {
				@include respond(large-only) {
					margin-left: 0;
				}
				@include respond(m-small) {
					margin-left: 0;
				}
			}
		}
		.invisible {
			display: none;
		}
	}
}

.search-result-content {
	clear: both;
	@include respond(large-up) {
		padding-top: 19px;
	}
	.product-tile {
		@include respond(large-up) {
			position: relative;
			padding-bottom: 5px;
			width:100%;
			height:100%;
			box-sizing: border-box;
			
			&.compareToolPadding {
				padding-bottom: 35px;
			}
		}
	}
	
}

.product-tile {
	.product-price {
		.price-standard {
			color: #999;
			text-decoration: line-through;
		}
	}

	.thumb-link {
		width: 100%;
		height: auto;
		display: block;
		img {
			width: 100%;
			height: auto;
			vertical-align: top;
			display: inline-block;
		}
	}
	.product-image {
		padding: 4px;
	}

	.product-name {
		text-align: left;
		padding: 10px 10px 0 10px;
		margin: 0;
		height: auto;
		overflow: visible;
		position: relative;
		a {
			width: 100%;
			color: $color-primary;
			text-decoration: none;
			@include font-size($font-size-h5);
			@include line-height(15px);
			.name-link-text {
				@include respond(large-up) {
					height: 40px;
					overflow: hidden;
					display: block;
					@include line-height(20px);
				}
			}
			&:hover {
				.product-name-long {
					@include respond(large-up) {
						display: block;
						hiehgt:40px
					}
				}
			}
		}
		.product-name-long {
			display: none;
			position: absolute;
			top: 10px;
			left: 10px;
			background: $white;
			@include line-height(20px);
			padding-bottom: 10px;
			max-width: auto;
		}
	}
	.product-pricing {
		text-align: left;
		padding: 8px 0 0 10px;
		margin: 0;
		color: $color-primary;
		@include font-size($font-size-regular);
	}
	.product-review {
		text-align: left;
		padding: 8px 0 13px 10px;
		@include font-size($font-size-mobile-sale-price);
	}
	.product-compare {
		display: none;
		@include respond(large-up) {
			position: absolute;
			bottom: 13px;
			left: 10px;
			display: block;
		}
		.field-wrapper {
			@include respond(large-up) {
				padding: 0;
				margin: 0;
			}
		}
		label {
			@include respond(large-up) {
				margin: 0;
				padding: 0;
				color: $color-primary;
				font-size: $font-size-sm;
				position: relative;
				top: 3px;
			}
		}
	} 
	.product-promo { 
		text-align: left;
		padding: 0 10px 0 10px;
		margin: 0;
		height: auto;
		@include respond(medium) {
			padding: 8 0 0 8px; 
		}
		p {
			margin: 0;  
			padding: 8px 0 5px 0; 
			color: $color-secondary;
			@include font-size($font-size-sm);
			@include line-height(18px);
			@include font-semibold();
			@include respond(medium) {
			}
			&:last-child {
				padding: 8px 0 0 0; 
			}
		}
	}
	.product-description {
		display: none;
	}
}


.search-result-content {
	&.wide-tiles {
		.product-name-long {
			left: 0px;
		}
	}
}

.search-promo {
	padding: 20px;
}

#results-content {
	background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;
	padding-top: 30px;
}

.folder-content-list {
	align-items: stretch;
	clear: both;
	display: flex;
	flex-wrap: wrap;
	padding: .5em 1%;
	li {
		background-color: $white-smoke;
		border: 1px solid $very-light-gray;
		flex-basis: 100%;
		flex-grow: 1;
		list-style-type: none;
		margin: .25rem;
		padding: 1rem;
		@media screen and (min-width: 480px) {
			flex-basis: 40%;
		}
	}
	p {
		line-height: 1.1rem;
	}
	.content-title {
		display: block;
		font-size: 1.2em;
	}
	.readmore {
		font-style: italic;
		padding-left: .3rem;
	}
}

.no-results {
	padding: 20px;
}

.toggle-grid {
	display: block;
	float: left;
	margin-right: 0.5em;
	.toggle-grid-one {
		background-image: url('../images/interface/sprite.png');
		background-repeat: no-repeat;
		display: inline-block;
		width: 40px;
		height: 40px;
		margin-right: 10px;
		cursor: pointer;
	}
	[data-option="column"] {
		background-position: -165px -205px;
	}
	[data-option="wide"] {
		background-position: -215px -205px;
		opacity: 0.17;
	}
	&.wide {
		[data-option="wide"] {
			opacity: 1;
		}
		[data-option="column"] {
			opacity: 0.17;
		}
	}
}

.search-result-content.wide-tiles {
	.search-result-items .grid-tile {
		width: 100% !important;
		margin-left: 0;
	}

	.grid-tile {
		@include respond(large-up) {
			margin-left: 0;
		}
	}
	.product-tile {
		@include respond(large-up) {
			padding-bottom: 47px;
		}
		.product-name {
			@include respond(large-up) {
				padding-left: 0;
			}
		}
		.product-pricing {
			@include respond(large-up) {
				padding-left: 0;
			}
		}
		.product-image {
			@include respond(large-up) {
				padding: 4px;
				width: 31.8181%;
				float: left;
				box-sizing: border-box;
			}
		}
		.product-tile-one {
			@include respond(large-up) {
				float: left;
				width: 67.6819%;
				padding: 0 10.11363% 0 2.2727%;
				box-sizing: border-box;
			}
		}
		.product-description {
			display: block;
			clear: both;
			@include font-size($font-size-sm);
			color: $color-primary;
			text-align: left;
			padding: 5px 0;
			li {
				list-style: disc;
				margin-bottom: 3px;
				display: list-item;
			}
		}
		.product-compare {
			left: 34.0908%;
			bottom: 26px;
		}
		.product-review {
			@include respond(large-up) {
				padding-left: 0;
			}
		}
		.clp-product-reviews {
			float: left;
			clear: left;
			@include respond(large-up) {
				padding: 10px 0 0;
			}
		}
	}
	.comfort-level {
		position: relative;
		left: -4px;
		margin-top: 14px;
	}
	.product-promo {
		padding-left: 0;
	}
}

.search-result-content{
 &.wide-tiles{ 
  #search-result-items{ 
   .product-tile{ 
    .product-key-features-plp {
     color: #333;
     display: block;
     float: left;
     text-align: left;

     .paragraph-head {
      margin-bottom: 0;
      font-size: .875rem;
      line-height: 1.3125rem;
      margin-top: 0;
      font-weight: 700;
     }
     ul {
      list-style-type: disc;
      display: list-item;
      margin: 2px 0 5px 15px;
      text-indent: 0;
      padding-left: 0;
      font-size: .875rem;
     }
     li {
      margin-bottom: 0;
      list-style: disc;
      display: list-item;
      text-indent: -5px;
     }
    }
   }
  }
 }
}

#secondary.refinements {
	background: $body-bg-color;
	border: 0;
	margin: 0;
	@include respond(large-up) {
		width: 280px;
		padding-top: 25px;
	}
	@include respond(large-only) {
		width: 236px;
	}
	#nav_label {
		& ~ label {
			width: 46.667%;
			border: $border;
			background-image: url("../images/interface/footer_arrows.png");
			background-color: $concrete;
			background-position: calc(100% - 20px) 16px;
			background-repeat: no-repeat;
			box-sizing: border-box;
			float: left;
			margin-bottom: 10px;
		}
		&:checked {
			& ~ nav {
				max-height: 2500px;
				width: 100%;
				border: $border;
				margin-bottom: 20px;
				border-bottom: 0;
				clear: both

			}
		}
	}
	nav {
		padding: 0;
		width: 100%;
	}
	.toggle {
		background-image: url("../images/ref_arrows.png");
		background-position: calc(100% - 20px) -25px;
		background-repeat: no-repeat;
		background-color: $concrete;
		padding: 15px 0 15px 10px;
		margin: 0;
		text-transform: none;
		cursor: pointer;
		border: 0;
		border-bottom: $border;
		@include block-price-text();
		@include respond(large-up) {
			border: 0;
			background-color: $body-bg-color;
			@include font-size($font-size-mobile-h4);
			@include line-height($font-size-mobile-h4);
			background-position: calc(100% - 29px) -25px;
			padding: 15px 0 0px 15px;
			margin: 0 0 13px 0;
		}
		&.expanded-title {
			background-position: calc(100% - 20px) 22px;
			@include respond(large-up) {
				background-position: calc(100% - 29px) 22px;
			}
		}
	}
	.refinement-image {
		display: inline-block;
		width: 20px;
		height: 20px;
		background-image: url("../images/interface/sprite.png");
		background-repeat: no-repeat;
		background-position: -60px -99px;
		margin: 0;
		vertical-align: top;
	}
	.refinement-text {
		position: relative;
		margin-left: 9px;
		display: inline-block;
		width: calc(100% - 33px);
	}
	.selected {
		.refinement-image {
			background-position: -40px -99px;
		}
	}
	ul {
		padding: 20px 10px 0 10px;
		border-bottom: $border;
		@include respond(large-up) {
			padding: 0 0 32px 15px;
			border: 0;
		}
	}
	li {
		margin-bottom: 15px;
		padding: 0;
		@include respond(large-up) {
			margin: 0 0 11px 0;
			padding: 0;
		}
	}
	.refinement {
		padding: 0;
		@include respond(large-up) {
			border-bottom: $border;
			padding-bottom: 5px;
		}
		&.no-zip {
			display: none;
		}
		.refinement-zip {
			margin: 0 0 15px;
			padding: 20px 10px 0 10px;
			@include respond(large-up) {
				padding: 0 0 32px 15px;
				border: 0;
				margin: 0;
			}
		}
	}
	.clear-refinement {
		display: none;
	}
	.refinement-delivery-zip {
		text-align: center;
		clear: both;
		padding: 19px 0 20px 0;
		@include respond(large-up) {
			padding: 7px 0 30px 15px;
			border-bottom: $border;
			text-align: left;
		}
		@include respond(large-only) {
			padding-left: 0;
		}
		.tooltip {
			display: inline-block;
			width: 25px;
			height: 25px;
			background-image: url("../images/interface/sprite.png");
			background-repeat: no-repeat;
			background-position: -132px -220px;
			position: relative;
			top: 8px;
			@include respond(large-up) {
				float: right;
				top: 0;
			}
		}
	}
	.pagination {
		display: block;
	}
	.breadcrumb-refinement-clear-all {
		float: right;
		@include font-bold();
		font-size: $font-size-regular;
		@include line-height($font-size-regular);
		color: $color-secondary;
		text-decoration: underline;
		margin-bottom: 10px;
		&:hover {
			text-decoration: none;
		}
	}
	.scrollable {
		height: auto;
	}
	.refinement-price {
		.refinement-image {
			display: none;
		}
		.refinement-text {
			margin-left: 0;
		}
		.selected {
			.refinement-text {
				font-weight: $font-wt-semibold;
			}
		}
	}
	.refinement-last {
		@include respond(large-up) {
			border-bottom: 0;
		}
	}
	.close-reminement {
		text-align: center;
		border-bottom: $border;
		height: 40px;
		@include line-height(40px);
		background: $concrete;
		cursor: pointer;
		span {
			color: $color-secondary;
			cursor: pointer;
			font-weight: $font-wt-semibold;
		}
		&.desktop-hide {
			display: block;
			@include respond(large-up) {
				display: none;
			}
		}
	}

	.refinement-top-level {
		padding: 20px 0 0 15px;
		@include respond(large-up) {
			padding: 0 0 11px 15px;
		}
		a {
			font-weight: $font-wt-semibold;
		}
	}
	.category-refinement {
		.refinement-link {
			padding: 0 !important;
			margin-left: 30px;
			@include font-regular();
		}
		.expandable {
			a {
				display: inline-block;
				margin-left: 21px;
			}
			&:before {
				position: relative;
				top: -3px;
			}
		}
	}
}

.pt_product-search-result {
	.primary-content {
		@include respond(large-up) {
			width: calc(100% - 300px);
		}
		@include respond(large-only) {
			width: calc(100% - 256px);
		}
	}
}

.search-result-options {
	position: relative;
	padding: 0;
	form {
		margin-bottom: 0;
	}
	label {
		display: none;
	}
	.items-per-page {
		float: right;
		display: none;
		@include respond(large-up) {
			display: block;
			min-width: 80px;
			width: auto;
		}
		.selector {
			@include respond(large-up) {
				width: 100% !important;
			}
		}
	}
	&.bottom {
		.items-per-page {
			display: none;
		}
		.toggle-grid {
			display: none;
		}
		.sort-by {
			display: none;
		}
		.pagination {
			display: block;
		}
		.toggle-grid {
			display: none !important;
		}
	}
	.pagination {
		display: none;
		@include respond(large-up) {
			display: block;
			min-height: 21px;
		}
	}
	.sort-Go-Button {
		display: none !important;
	}

}

.sort-by {
	width: 46.667%;
	float: right;
	@include respond(large-up) {
		width: 160px;
		float: left;
	}
	label {
		display: none;
	}
	.selector {
		width: 100% !important;
	}
}

.items-per-page-inner {
	width: 46.667%;
	float: right;
	@include respond(large-up) {
		max-width:90px;
	
	}
	label {
		display: none;
	}
	.selector {
		width: 100% !important;
	}
}

#secondary .pagination,
.pagination {
	width: 100%;
	padding: 0 0 7px 0;
	position: relative;
	border-bottom: $border;
	float: left;
	@include respond(large-up) {
		border-bottom: 0;
		padding: 0 0 3px 0;
	}
	.results-hits-total {
		float: left;
		color: $color-primary;
	}
	.pagination-content {
		float: right;
		padding: 0;
		border: 0;
		li {
			margin-bottom: 0;
			list-style: none;
			padding: 0 0 0 24px;
			float: left;
			a {
				text-decoration: none;
				color: $color-primary;
			}
			&.current-page {
				color: $color-secondary;
			}
			&:first-child {
				padding-left: 0;
			}
		}
	}
	.toggle-grid {
		display: none;
		@include respond(large-up) {
			position: absolute;
			position: absolute;
			bottom: -43px;
			right: 80px;
			display: none;
		}
		&.one-page-items {
			@include respond(large-up) {
				right: 0;
				margin-right: 0;
			}
			.toggle-grid-wide {
				margin-right: 0;
			}
		}
	}
}

.breadcrumb-refinement-mobile {
	padding: 8px 0 0 0;
	margin-bottom: 20px;
	border-bottom: $border;
	@include respond(large-up) {
		padding-bottom: 10px;
	}
	
	.breadcrumb-refined-by {
		display: block;
		@include block-price-text();
		margin-bottom: 20px;
		@include respond(large-up) {
			margin-bottom: 0;
		}
	}
	.breadcrumb-refinement {
		display: block;
		@include font-size(14px);
		@include respond(large-up) {
			margin-top: 10px;
			float: left;
		}
		.breadcrumb-refinement-value {
			.breadcrumb-relax {
				top: -7px;
				display: inline-block;
				position: relative;
			}
		}
	}
	.breadcrumb-refinement-clear-all {
		float: right;
		@include font-bold();
		font-size: $font-size-regular;
		@include line-height($font-size-regular);
		color: $color-secondary;
		text-decoration: underline;
		margin-bottom: 10px;
		&:hover {
			text-decoration: none;
		}
	}
	.comma {
		margin-left: 5px;
	}
	&.breadcrumb-refinement-mobile-hide {
		display: none;
	}
}

.pt_product-search-noresult {
	#secondary {
		display: none;
	}
	.primary-content {
		width: 100%;
		padding-top: 26px;
		@include respond(large-up) {
			padding-top: 35px;
		}
	}
	.section-header {
		border: 0;
		background: $body-bg-color;
		padding: 0;
		margin: 0;
		p {
			text-transform: none;
			@include font-regular();
			padding: 0;
			margin: 0;
			color: $color-primary;
			@include font-size($font-size-sm);
			@include respond(large-up) {
				@include font-size($font-size-regular);
			}
		}
		.no-hits-search-term {
			text-transform: uppercase;
			font-style: normal;
			color: $color-primary;
		}
	}
}

.search-result-no-hits-top {
	border-bottom: $border;
	padding-bottom: 7px;
	margin-bottom: 19px;
	@include respond(large-up) {
		margin-bottom: 11px;
		padding-bottom: 16px;
	}
	p {
		padding: 0;
		margin: 0;
		font-weight: $font-wt-semibold;
		@include respond(large-up) {
			@include font-size(16px);
		}
	}
	h4 {
		@include respond(large-up) {
			@include font-size($font-size-h2);
		}
		a {
			text-decoration: none;
		}
	}
	&.has-items {
		@include respond(large-up) {
			padding-top: 10px;
		}
		p {
			@include respond(large-up) {
				@include font-size(16px);
			}
		}
		a {
			text-decoration: none;
		}
	}
	.suggested-category {
		text-transform: none;
		@include font-size($font-size-regular);
		display: block;
		padding-top: 10px;
	}

}

.no-hits-help {
	padding-top: 18px;
	clear: both;
	ul {
		padding: 0 0 0 18px;
		margin: 0;
	}
	li {
		padding: 0 0 3px 0;
		margin: 0;
		list-style: disc !important;
		@include font-size($font-size-sm);
		@include respond(large-up) {
			@include font-size($font-size-regular);
		}
	}
	p {
		padding: 0 0 3px 0;
		margin: 0;
	}
}

.no-hits-search {
	padding-top: 8px;
	input[type="text"] {
		margin: 3px 0 10px 0;
		@include respond(large-up) {
			width: 380px;
			margin: 0 20px 10px 0;
			height: 40px;
		}
	}
	button {
		@include respond(large-up) {
			width: 100px;
			height: 40px;
		}
	}
	.form-row {
		padding: 5px 0 0 0;
		margin: 0;
		@include respond(large-up) {
			padding-top: 13px;
		}
	}
}

.no-hits-footer {
	padding-top: 5px;
	@include respond(large-up) {
		padding-top: 0;
	}
	a {
		color: $color-primary;
		@include font-semibold();
	}
	p {
		padding: 16px 0 5px 0;
		margin: 0;
	}
	div {
		@include line-height(22px);
	}

}

.comfort-level {
	width: 110px;
	height: 25px;
	background-image: url('../images/interface/comfort-level-sprite.jpg');
	background-repeat: no-repeat;
	margin-left: 4px;
	&.comfort-level-1 {
		background-position: 0px 0px;
	}
	&.comfort-level-2 {
		background-position: 0px -25px;
	}
	&.comfort-level-3 {
		background-position: 0px -50px;
	}
	&.comfort-level-4 {
		background-position: 0px -75px;
	}
	&.comfort-level-5 {
		background-position: 0px -100px;
	}
}

.product-recommendations {
	.search-result-items {
		display: none;
		&.slick-initialized {
			display: block;
		}
	}
}



.slot-grid-header {
	padding-bottom: 20px;
}

.cat-browse-seo {
	text-align: center;
	padding-top: 39px;
	clear: both;
	@include respond(large-up) {
		padding-top: 36px;
	}
	p {
		padding: 0;
		margin: 0;
		text-align: center;
	}
}
