.pt_storefront {
	#main {
		width: 100%;
		padding: 0;
		@include respond(medium) {
			width: 100%;
		}
	}
}
.home-hero-wrapper {
	@media screen and (max-width: $tablet-breakpoint) {
		min-height: 200px;
	}
	@include respond(large) {
		min-height: 408px;
	}
	.slick-slide {
		img {
			width: 100%;
		}
	}
	p {
		margin: 0;
		padding: 0;
	}
	.slick-dots {
		li {
			vertical-align: middle;
			@include line-height(12px);
			button {
				margin: 0;
				position: relative;
				top: 2px;
			}
		}
	}
}

.home-1-wrapper {
	text-align: center;
	font-size: 0;
	#home-1 {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	p {
		margin: 0;
		padding: 0;
	}
	.banner-wrapper {
		width: 100%;
		height: 108px;
		display: inline-block;
		vertical-align: top;
		@include font-size($font-size-regular);
		color: $white;
		text-align: center;
		background: $color-secondary;
		margin: 0;
		@include respond(large-up) {
			margin: 0 1px;
			width: 33.1%;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		@include respond(large) {
			height: 190px;
		}
		@include respond(x-large) {
			height: 170px;
		}
	}
	.banner-title {
		display: inline-block;
		@include font-size(12px);
		@include line-height(20px);
		font-weight: $font-wt-regular;
		padding: 3px 15px 0;
		border-bottom: 1px solid $golden-dream;
		margin-bottom: 2px;
		@include respond(large) {
			@include font-size(15px);
			padding: 10px 15px 7px;
			border-bottom: 2px solid $golden-dream;
		}
	}
	.banner-info {
		margin-bottom: 11px;
		@include respond(large) {
			margin-bottom: 23px;
		}
		.top {
			@include font-size(22px);
			font-weight: $font-wt-bold;
			text-transform: uppercase;
			@include respond(large) {
				@include font-size(35px);
			}
		}
		.bottom {
			@include font-size(14px);
			font-weight: $font-wt-semibold;
			@include respond(large) {
				@include font-size(22px);
			}
		}
	}
	.banner-info-bottom {
		@include font-size(9px);
		@include line-height(12px);
		@include respond(large) {
			@include font-size($font-size-regular);
			@include line-height(24px);
		}
	}
	.link {
		color: $white;
		@include font-size(9px);
		@include line-height(24px);
		font-style: $font-style-italic;
		line-height: 24px;
		text-decoration: underline;
		@include respond(large) {
			@include font-size($font-size-regular);
		}
	}
}

.home-2-wrapper {
	text-align: center;
	background: url(../images/bkgd-mattress-texture.png) no-repeat center;
	padding: 8px 0 48px;
	@include respond(large-only) {
		padding: 15px 0 40px;
	}
	@include respond(large) {
		padding: 25px 0 35px;
		margin-top: 35px;
		margin-bottom: 45px;
	}
	.banner-title {
		margin: 5px 0;
	}
	.banner-info {
		margin-bottom: 22px;
		@include font-size($font-size-xs);
		@include line-height(20px);
		@include respond(large-up) {
			margin-bottom: 12px;
			@include font-size(10px);
			@include line-height(16px);
		}
		@include respond(large) {
			@include font-size($font-size-regular);
			@include line-height(24px);
		}
	}
}
.home-2-wrapper,
.home-3-wrapper {
	.button {
		@include font-size($font-size-xs);
		padding: 0 22px;
		width: auto;
		min-width: 140px;
		@include line-height(33px);
		height: 33px;

		@include respond(large-up) {
			@include font-size($font-size-regular);
		}
		@include respond(large-only) {
			@include font-size(11px);
			@include line-height(25px);
			height: 25px;
		}
		@include respond(large) {
			@include line-height(36px);
			height: 36px;
		}
	}
	&.no-padding {
		padding: 0;
		margin: 0;
		@include respond(large-only) {
			padding: 0;
			margin: 0;
		}
		@include respond(large) {
			padding: 0;
			margin: 0;
		}
	}
}

.home-3-wrapper {
	.banner-wrapper {
		width: 100%;
		margin-bottom: 10px;
		position: relative;
		border: $border;
		box-sizing: border-box;
		background: $white;
		overflow: hidden;
		padding: 15px;
		min-height: 217px;
		
		@include respond(large-up) {
			float: left;
			margin-bottom: 20px;
			padding: 20px;
			&.right {
				margin-right: 10px;
			}
			&.left {
				margin-right: 10px;
			}
		}
		@include respond(large-only) {
			width: 364px;
			min-height: 188px;
		}
		@include respond(large) {
			width: 492px;
			padding: 20px 25px;
		}
		@include respond(x-large) {
			width: 580px;
			min-height: 300px;
		}
		&.white {
			color: $white;
			.button {
				color: $color-secondary;
				background: $white;
			}
			h2,
			h3 {
				color: $white;
			}
		}
	}
	.banner-data {
		position: relative;
	}
	img {
		position: absolute;
		right: 0;
		top: 0;
		&.full-width {
			width: 100%;
			height: 100%;
		}
	}
	h2 {
		@include font-size(20px);
		font-weight: $font-wt-bold;
		line-height: 1.2em;
		margin: 0;
		@include respond(medium) {
			@include font-size(24px);
		}
		@include respond(large) {
			@include font-size(40px);
			margin-bottom: 0px;
		}
	}
	h3 {
		@include font-size(18px);
		font-weight: $font-wt-bold;
		line-height: initial;
		color: $color-secondary;
		margin: 0;
		@include respond(large) {
			@include font-size(30px);
			margin: 0px 0 0 0;
			position:relative;
		}
	}
	.banner-info {
		@include font-size(18px);
		font-weight: $font-wt-regular;
		margin: 10px 0 0;
		@include respond(large-only) {
			@include font-size(11px);
		}
		@include respond(large-up) {
			margin-top: 10px;
		}
		@include respond(large) {
			margin-top: 22px;
		}
	}
	.banner-price {
		@include font-size(55px);
		font-weight: $font-wt-bold;
		color: $color-secondary;
		margin-bottom: 13px;
		@include respond(large-up) {
			margin-bottom: 23px;
			margin-top: -7px;
		}
		@include respond(large-only) {
			margin-top: -5px;
		}
		small {
			@include font-size(25px);
			position: relative;
			top: 10px;
			vertical-align:top;
		}
	}
	.button {
		position: absolute;
		bottom: 17px;
		@include respond(large-up) {
			bottom: 25px;
		}
	}
}

.product-recommendations {
	text-align: center;
	padding: 0 10px;
	@include respond(large-up) {
		padding: 0;
	} 
	h2 {
		margin-bottom: 3px;
		@include respond(large-up) {
			margin: 20px 0 0;
		}
		@include respond(large) {
			margin: 25px 0 0;
		}
	}
	.product-name {
		overflow: initial;
	}
	.product-description,
	.product-promo {
		display: none;
	}
	.search-result-items {
		margin-top: 10px;
		ul li {
		  display: none;  // hiding slides before initialize carousel
		}
		.grid-tile {
			margin: 0;
			float: left;
			display: block;
			width: auto;
			padding-bottom: 53px;
			@include respond(large-up) {
				width: 236px;
				height: 340px;
				margin: 0 20px 0 0;
				padding-bottom: 0;
			}
			@include respond(x-large) {
				width: 280px;
				height: 380px;
			}
		}
	}
	.button-wrapper {
		margin-top: 20px;
	}
	.slick-arrow {
		&.slick-prev {
			left: -15px;
			@include respond(large-up) {
				left: 15px;
			}
		}
		&.slick-next {
			right: -15px;
			@include respond(large-up) {
				right: 15px;
			}
		}
	}
}

.home-4-wrapper {
	text-align: center;
	.responsive-slot {
		@include respond(large-up) {
			margin-top: 37px;
		}
		@include respond(large) {
			margin-top: 42px;
		}
	}
	h2 {
		margin: 20px 0 0;
		@include respond(large-only) {
			@include font-size(22px);
		}
		@include respond(large) {
			margin: 25px 0 0;
		}
	}
	.banner-blocks {
		margin-top: 12px;
		.block {
			float: left;
			width: 50%;
			box-sizing: border-box;
			&:first-child {
				padding-right: 10px;
			}
			&:last-child {
				padding-left: 10px;
			}
		}
	}
	.block-title {
		color: $color-secondary;
		@include font-size($font-size-regular);
		@include line-height(18px);
		font-weight: $font-wt-bold;
		margin-top: 11px;
		margin-bottom: 5px;
		@include respond(large) {
			@include font-size(15px);
			@include line-height(19px);
		}
	}
	.block-info {
		@include font-size($font-size-sm);
		@include line-height(18px);
		margin-bottom: 5px;
		@include respond(large) {
			@include font-size($font-size-regular);
			@include line-height(19px);
			padding: 0 30px;
		}
	}
	.link-more {
		color: $color-primary;
		@include font-size($font-size-regular);
		font-style: $font-style-italic;
	}
}

.home-5-wrapper {
	text-align: center;

	@include respond(large-up) {
		margin-bottom: 23px;
	}
	@include respond(large) {
		margin-bottom: 15px;
	}
	.responsive-slot {
		@include respond(large-up) {
			margin-top: 32px;
		}
		@include respond(large) {
			margin-top: 44px;
		}
	}
	img {
		width: 50px;
		height: auto;
		@include respond(large-up) {
			width: 39px;
		}
		@include respond(large) {
			width: 61px;
		}
	}
	.blocks {
		margin-top: 10px;
	  @include respond(large-up) {
		font-size: 0;  // fix additional paddings for child inline-block elements
	  }
	}
	.block {
		padding: 15px;
		margin-bottom: 10px;
		background: $concrete;
		border: $border;
		box-sizing: border-box;
		@include font-size($font-size-sm);
		@include line-height(18px);

		@include respond(large-up) {
			width: 240px;
			margin-right: 13px;
			display: inline-block;
			padding: 12px 3px 15px;
			@include font-size($font-size-xs);
			@include line-height(17px);
			&:last-child {
				margin-right: 0;
			}
		}
		@include respond(large) {
			width: 326px;
			padding: 20px 20px 30px;
			@include font-size($font-size-regular);
			@include line-height(19px);
		}
		@include respond(x-large) {
			width: 380px;
			margin-right: 20px;
		}
	}
	.block-title {
		@include font-size($font-size-regular);
		font-weight: $font-wt-bold;
		color: $color-secondary;
		margin-top: 10px;
		margin-bottom: 3px;
		@include respond(large-up) {
			@include font-size($font-size-sm);
		}
		@include respond(large) {
			@include font-size(15px);
		}
	}
	.block-info {
		margin-bottom: 5px;
		@include respond(large-up) {
			margin-bottom: 17px;
		}
	}
	.link-more {
		font-weight: $font-wt-semibold;
		@include font-size($font-size-sm);

		@include respond(large-up) {
			@include font-size($font-size-xs);
			color: $color-primary;
			font-style: $font-style-italic;
		}
		@include respond(large) {
			@include font-size($font-size-regular);
		}
	}
}

.nav-links-wrapper {
	@include respond(large-up) {
		margin-bottom: 0;
	}
	ul {
		@extend %clear_list;
	}
	a {
		@extend %link-main-navigation;
		@include line-height(40px);
		height: 40px;
		border: $border;
		border-bottom: none;
		background: $concrete;
		display: block;
		box-sizing: border-box;
		padding: 0 15px;
		position: relative;
		&:after {
			content: '';
			display: block;
			width: 10px;
			height: 19px;
			background: url(../images/interface/sprite.png) no-repeat -279px -225px;
			position: absolute;
			right: 11px;
			top: 10px;
			transform: rotate(180deg);
		}
	}
	li:last-child {
		border-bottom: $border;
	}
}