.ui-dialog {
	@include respond(large-down){
		width: 100% !important;
	    top: 55px;
	    left: 0px;
	}
	&.bonus-product-popup {
		.ui-dialog-titlebar-close {
			@include respond(large-down) {
				top: 3px;
	    		right: 0px;
		    	color: transparent;
			}
		}
	}
	.ui-dialog-title {
		&:before {
			content: '';
			background: url(../images/interface/check.svg) no-repeat ;
			display: inline-block;
			width: 20px;
			height: 17px;
			position: relative;
			margin-right: 10px;
			top: 3px;
		}
	}
	.ui-dialog-titlebar-close {
		top: 13px;
    	right: 15px;
    	color: transparent;
	}
}
.ui-widget-overlay {
	@include respond(large-down){
		////Commenting out these styles because its hiding gray overlay on page when jquery model opens, 
		////its required otherwise model content and page content are mixing.
		//background: white;
   		//opacity: 0;
	}
}
.scroll-overflow {
	overflow: hidden;
	height: calc(100vh + 70px);
	position: relative;
}
.add-to-cart-intercept-wrapper {
	padding: 0 10px;
	& > .clearfix > div:nth-last-of-type(2) {
		@include respond(medium) {
			float: left;
			width: 42.24%;
			border-right: $border;
		}
	}
	.justaddedproduct {
		padding-bottom: 15px;
		border-bottom: 1px solid #979797;
		@include respond(large-down){
			padding-top: 6px;
		}
		.product-image {
			box-sizing: border-box;
			float: left;
			padding: 0 15px 0 0;
			@include respond(medium) {
				padding-top: 0px;
			}
			@include respond(large-down) {
				padding: 0 15px 35px 0;
			}
			img {
				width: 125px;
				height: 113px;
				@include respond(large-down) {
				    width: 65px;
    				height: auto;
    				padding-top: 5px;
				}
			}
		}
		.product-info {
			box-sizing: border-box;
			width: 45%;
			height: 130px;
			float: left;
			padding-right: 15px;
			line-height: 1.5;
			border-right: 1px solid #979797;
			@include font-size(16px);
			@include respond(large-down) {
				width: 100%;
				border-right: 0px;
				padding-right: 0px;
				float: none;
				height: auto;
			}
		}
		ul.product-availability-list {
			width: auto;
		}
		.product-name {
  			font-weight: 600;
  			max-width: 350px;
  			@include respond(large-down) {
  				line-height: 1.31;
			}
		}
		.product-options {
			display: inline-block;
			@include respond(large-down) {
				margin: 5px 0px 0px 80px;
			}
		}
		.product-quantity {
			@include respond(large-down) {
				display: none;
			}
			&.qty-mobile {
				display: none;
				@include respond(large-down) {
					margin: 5px 0px 22px 80px;
					display: block;
				}
			}
		}
		.product-attributes {
			float: left;
    		width: 60%;
    		@include respond(large-down) {
			    width: 50%;
			    margin: 10px 0 0px 0px;
			    float: left;
			}
			@include respond(small-updated) {
			    width: 43%;
			}
		}
		.label {
			font-weight: $font-wt-semibold;
		}
		.product-pricing {
			@include respond(large-down) {
					display: none;
			}
			&.mobile-ver {
				display: block;
				margin-top: 10px;
				@include respond(medium) {
					display: none;
				}
			}
			@include respond(small-updated) {
				left: 240px;
			}
			.upto-off {
				@include respond(large-down) {
					display: none;
				}
			}
			span + span {
				@include respond(large-down) {
					display: none !important;
				}
			}
			.price-standard {
				text-decoration: line-through;
				margin-left: 10px;
				@include respond (x-small-down) {
				    margin-left: 0px;
	   				display: block;
				}
			}
			.Adjusted-Price {
				@include respond (x-small-down) {
					margin-left: 5px !important;
				    position: absolute;
				    margin-top: -3px !important;
				}
			}
		}
		.product-price {
			display: inline-block;
			color: $black;
			font-weight: $font-wt-bold;
			margin-right: 10px;
			&.standard-price {
				color: $color-primary;
				font-weight: $font-wt-regular;
				position: relative;
				text-decoration: line-through;
				@include respond(large-down) {
					display: inline-block;
				}
				@include respond(large-up) {
					@include font-size(16px);
				}
				@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
					text-decoration: none;
					&:after {
						top: 10px;
						border-bottom: 1px solid $color-primary;
						content: "";
						left: 0;
						margin-top: calc(0.125em / 2 * -1);
						position: absolute;
						right: 0;
						@include respond(large-up) {
							top: 12px;
						}
					}
				}
			}
			&.adjusted-price {
				color: $color-secondary;
				font-weight: $font-wt-bold;
				margin-left: 5px;
				@include respond(large-up) {
					@include font-size(16px);
				}
				&:before {
					@include respond(large-up) {
						width: 1px;
						height: 15px;
						content: '';
						border-left: 1px solid $color-primary;
						display: inline-block;
						margin: 0 7px 0 3px;
						position: relative;
						top: 2px;
					}
				}
			}
		}
		.bonus-discount-container {
			font-weight: $font-wt-semibold;
			color: $color-secondary;
			@include font-size($font-size-sm);
			.bonus-product-alert {
				width: 800px;
			    height: 40px;
			    background-color: #fff8df;
			    display: inline-block;
			    margin-top: 25px;
			    line-height: 3;
			    @include respond(large-down) {
			    	width: 100%;
			    	height: auto;
			    	line-height: normal;
			    	display: flex;
			    	margin-top: 18px;
				}
				.bonus-block {
					display: inline;
					@include respond(large-down) {
						margin-top: 10px;
					}
				    .text {
				    	font-size: 14px;
	  					font-weight: normal;
	  					color: black;
				    }
				}
			    img {
			    	width: 24px;
					object-fit: contain;
					margin: 8px 5px;
					@include respond(large-down) {
						margin: 0 5px;
					}
			    }
			}
		}
	}
	.order-total {
		width: 35%;
	    float: right;
	    @include respond(large-down) {
	    	width: 100%;
		    float: none;
		}
	    .order-value {
	    	text-align: center;
	    	font-size: 18px;
	    	.order-text {
	    		display: inline-block;
	    	}
	    	.cart-total {
	    		font-weight: 600;
	    	}
	    }
	    .taxshippingmsg {
	    	font-size: 14px;
	    	text-align: center;
	    	@include respond(large-down) {
	    	 	display: none;
	    	}
	    }
	    .taxshippingmsg-mobile {
	    	display: none;
	    	@include respond(large-down) {
	    	 	display: block;
	    	 	font-size: 14px;
	    		text-align: center;
	    	}
	    }
	}
	.add-to-cart-intercept-slot {
		@include respond(large-up) {
			max-width: 299px;
		}
		padding: 20px 0;
		p {
			padding: 0;
			margin: 0;
		}
	}
	.justaddedproduct-wrapper ~ .product-recommendations {
		padding: 0;
		box-sizing: border-box;
		@include respond(medium) {
			float: right;
			width: 55.05%;
			margin-top: -60px;
		}
		ul,
		li {
			margin: 0;
			padding: 0;
			list-style: none;
			display: block;
		}
		.recommendations {
			@include respond(medium) {
				padding-left: 10px;
				border-left: $border;
				margin-left: -5%;
				margin-top: 21px;
			}
		}
		h2 {
			text-align: left;
			@include font-size(18px);
			color:$night-rider;
			@include line-height(18px); 
			margin-bottom: 4px;
			position: relative;
			z-index: 100;
			margin-top: 0;
		}
		.recommendation-item {
			padding: 20px 0;
			border-bottom: $border;
			@extend .clearfix;
			&:last-child {
				border-bottom: none;
			}
		}
		.product-image {
			box-sizing: border-box;
			float: left;
			width: 27.5%;
			padding: 0 10px 0 0;
			margin-bottom: 20px;
			@include respond(medium) {
				margin-bottom: 0;
			}
			img {
				border: $border;
				box-sizing: border-box;
				display: block;
			}
		}
		.block {
			text-align: left;
			@include respond(medium) {
				float: left;
				width: 36.25%;
				box-sizing: border-box;
			}
			&.block-left {
				padding-right: 10px;
				width: 37.25%;
			}
			&.block-right {
				clear: both;
				width: 35.25%;
				@include respond(medium) {
					clear: none;
				}
			}
			button {
				width: 100%;
			}
			.information-icon {
				display: none;
			}
		}
		.product-name {
			padding: 0;
			@include font-size(14px);
		}
		.inventory {
			display: none;
		}
		.label {
			display: none;
		}
		.attribute {
			margin-bottom: 20px;
		}
		.product-name {
			margin-top: 5px;
			a {
				//@include block-product-name;
				text-decoration: none;
			}
		}
		.product-price {
			padding: 8px 0 0 0;
			margin: 0;

		}
		.product-variations .attribute .value,
		.product-options .attribute .value {
			width: 100%;
			max-width: none;
		}
		.add-to-cart-resp {
			color: $jewel;
			font-style: italic;
			text-align: center;
			@include line-height(23px);
			display: block;
			margin-top: 2px;
		}
		.priceWrapper {
			text-align:right;
			margin:10px 40px 0 0;
			.price-sales {
				color: $color-primary;
				&.price-sales-more {
					color: $color-secondary;
				}
				@include respond(large-up) {
					@include font-size(14px);
					font-weight: $font-wt-bold;
				}
			}
			.price-standard {
				color: $color-primary;
				font-weight: $font-wt-regular;
				position: relative;
				margin-right: 5px;
				text-decoration: line-through;
				@include respond(large-up) {
					@include font-size(14px);
				}
				@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
					text-decoration: none;
					display: inline-block;
					&:after {
						top: 14px;
						border-bottom: 1px solid $color-primary;
						content: "";
						left: 0;
						margin-top: calc(0.125em / 2 * -1);
						position: absolute;
						right: 0;
						@include respond(large-up) {
							top: 12px;
						}
					}
				}
			}
		}
		.price-tiered {
			color: $sangria;
			font-size: .6em;
			line-height: 1.5em;
		}
		.product-sales-price {
			color: $color-secondary;
			@include respond(large-up) {
				@include font-size(14px);
			}
		}
		.product-standard-price {
			@include respond(large-up) {
				@include font-size(14px);
				font-weight: $font-wt-bold;
			}
		}
		.has-sale-price {
			font-weight: $font-wt-regular;
			position: relative;
			display: inline-block !important;
			text-decoration: line-through;
			@include respond(large-up) {
				@include font-size(14px);
			}
			@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
				text-decoration: none !important;
				display: inline-block !important;
				&:after {
					top: 14px;
					border-bottom: 1px solid $color-primary;
					content: "";
					left: 0;
					margin-top: calc(0.125em / 2 * -1);
					position: absolute;
					right: 0;
					@include respond(large-up) {
						top: 12px;
					}
				}
			}
		}
	}
	.button-wrapper {
		text-align: right;
		@include respond(medium) {
			width: 280px;
		    float: right;
		    margin: 0 auto;
		}
		a {
			width: 100%;
			@include respond(medium) {
				vertical-align: middle;
				display: inline-block;
			}
			&.button {
			    width: 100%;
				@include respond(medium) {
					width: 198px;
				    display: block;
				    margin: 10px auto 0 auto;
				    border-radius: 5px;
				}
				@include respond(large-down) {
					border-radius: 3px;
    				margin: 9px 0px 18px 0px;
				}
			}
			&.continue {
				color: $color-primary;
				line-height: 1.71;
				margin: 0 auto;
			    width: 148px;
			    display: block;
			    @include respond(large-down) {
					font-size: 16px;
    				color: #ababb6;
    				padding-bottom: 7px;
				}
			}
		}
	}
}

.add-to-cart-intercept-dialog {
	z-index: 100001;
	@include respond(large-only) {
		width: 98% !important;
	}
	.ui-dialog-content {
		overflow: visible;
	}
	.ui-dialog-title {
		line-height: 26px;
		margin-top: 7px;
	}
	.product-recommendations {
		h2 {
			font-size: 20px;
		    font-weight: 600;
		    text-align: left;
		}
		.recommendations {
			margin-top: 25px;
			.recommendations-tiles-wrapper {
				.tiles-container {
					list-style: none;
					padding: 0px;
					display: flex;
					flex-wrap: wrap;
					box-sizing: border-box;
					justify-content: center;
					li.recommendation-item {
						&:first-child {
							padding-left: 0px;
						}
						flex-basis: 25%;
						width: 25%;
						box-sizing: border-box;
						@media only screen and (max-width:1024px){
							flex-basis: 33%;
							width: 33%;
						}
						.capture-product-id{
							visibility: hidden;
							height: 0;
						}
						.product-image {
							width: 190px;
							height: 190px;
							img{
								height: 190px;
							}
							@include respond(large-down) {
								width: 100px;
								height: 100px;
								margin-left: 10px;
								img{
									height: 100px;
								}
							}
						}
						section {
							div.column {
								padding: 0px;
								min-height: 60px;
								margin-top: 10px;
								@include respond(large-down) {
							    	max-width: 140px;
    								min-height: 80px;
							    }
							    h1.bold {
                                	text-align: left;
                                	height: 60px;
                                	@include respond(large-down) {
	                                	display: -webkit-box;
									    margin: 0 auto;
									    -webkit-line-clamp: 3;
									    -webkit-box-orient: vertical;
									    overflow: hidden;
									    text-overflow: ellipsis;
									    height: 57px;
							    	}
                                }
                               #pdp-reviews{
                               		min-height: 36px;
                                	#ratings-summary + .bv_main_container_row_flex{ 
                                	display: none !important;
                                	}
                                }
							}
						}
					    padding-left: 22px;
					    text-align: center;
					    @include respond(large-down) {
					    	width:48%;
					    	flex-basis: 48%;
					    	text-align: left;
					    	padding-left: 14px;
					    }
					    ul {
					    	list-style: none;
					    	padding-left: 0px;
					    	li.attribute {
					    		.selected-attr-value {
					    			display: none;
					    		}
					    		div.label {
					    			float: left;
					    			font-weight: 600;
					    			position: relative;
					    			top: 9px;
					    			width: 50px;
    								text-align: left;
    								@include respond(large-down) {
    									float: none;
    									top: 0px;
					    			}
					    		}
					    		div.label.Foundation {
								    @include respond(large-down) {
								    	margin-top: 0px;
								    }
					    		}
					    		#select-container-foundation {
					    			div.selector {
					    				@include respond(large) {
						    				width: 110px !important;
	    									margin-left: 30px;
					    				}
					    			}
					    		}
					    		#select-container-color, #select-container-size, #select-container-foundation,#select-container-weight {
					    			width: 140px;
					    			display: table-cell;
					    			.select-variation-dropdown, .color, .size, .foundation {
					    				border: solid 1px #c6c8ca;
					    				border-radius: 3px;
					    				background-color: #fcfcfc;
					    				padding-right: 25px;
					    				@-moz-document url-prefix() {
					    					margin-bottom: 5px;
					    				}
					    			}
					    		}
					    	}
					    }
					    .product-add-to-cart {
					    	.quantity {
					    		margin-bottom: 20px;
					    		label {
					    			float: left;
					    			font-weight: 600;
					    			position: relative;
					    			top: 9px;
					    			width: 50px;
    								text-align: left;
    								@include respond(large-down) {
    									float: none;
    									top: 0px;
					    			}
					    		}
					    		#uniform-Quantity,
					    		[id*="uniform-Quantity-"]{
					    			display: table-cell;
    								width: 140px !important;
					    		}
					    		.quantity-dropdown {
				    				border: solid 1px #c6c8ca;
				    				border-radius: 3px;
				    				background-color: #fcfcfc;
				    			}
					    	}
					    	.block-left {
					    		height: 30px;
					    		.priceWrapper {
					    			margin: 0px;
    								text-align: left;
    								min-height: 18px;
  									.price-sales {
  										display: block;
  										color: black !important;
  										font-size: 18px;
  										font-weight: 600;
  									}
  									.price-standard {
  										&.has-sale-price {
											  text-decoration: line-through;
											  display: block;
  										}
  									}
					    		}
					    		.upto-off {
									display: block;
									text-align: left;
					    			@include respond(large-down) {
						    			margin-left: 55px;
	    								font-size: 13px;
					    			}
					    		}
							}
				    		.product-price-discount {
				    			
				    		}
				    		.added {
				    			height: 40px;
				    			line-height: 3;
				    			margin: 15px 0px 20px;
				    			font-weight: 600;
					    		&:before {
									content: '';
									background: url(../images/interface/check.svg) no-repeat ;
									display: inline-block;
									width: 20px;
									height: 17px;
									position: relative;
									margin-right: 4px;
									top: 3px;
								}
							}
				    		.add-recommendations-item {
				    			width: 190px;
				    			height: auto;
				    			margin: 30px 0px 20px;
							    border-radius: 5px;
							    background-color: transparent;
							    border: solid 2px #d63426;
							    color: #d63426;
							    @include respond(large-down) {
									width: 145px;
								    background-color: #d63426;
								    color: #ffffff;
			    				}
				    		}
					    }
					}
					.see-more {
						font-size: 13px;
						text-align: center;
						.see-more-text {
							@include respond(large-down) {
								display: none;
			    			}
						}
						a {
							color: #d63426;
							text-decoration: none;
							i {
								font-size: 6px;
    							margin-left: 2px;
    							position: relative;
    							bottom: 2px;
							}
						}
			    	}
				}
			}
		}
	}
	
}