.pdp-delivery-wrapper {
	font-size: 0;
	label {
		display: inline-block;
		width: auto;
		margin-right: 9px;
		margin-bottom: 0;
		@include font-size($font-size-sm);
		@include line-height(23px);
		font-weight: $font-wt-semibold;
		text-transform: none;
		@include respond(large) {
			@include font-size($font-size-regular);
			@include font-size($font-size-sm);
		}
		@include respond(large-only) {
			margin-right: 3px;
		}
	}
	input {
		border: none;
		border-bottom: 1px solid $color-primary;
		text-align: center;
		padding: 0;
		width: 55px;
		@include font-size(16px);
		@include line-height(23px);
		height: 23px;
		font-weight: $font-wt-bold;
		margin-right: 9px;
		margin-bottom: 0;
		@include placeholder-color($color-primary);
		
		@include respond(medium) {
			margin-right: 3px;
		}
		@include respond(large-only) {
			margin-right: 0;
		}
	}
	button {
		display: inline-block;
		width: 20px;
		height: 20px;
		padding: 0 0 0 2px;
		margin-right: 10px;
		@include font-size(10px);
		@include line-height(20px);
		@include respond(large-only) {
			margin-right: 0px;
		}
	}
	.tooltip {
		span.icon {
			height: 25px;
			width: 25px;
			display: inline-block;
			background: url(../images/interface/sprite.png) no-repeat -132px -220px;
			position: relative;
			top: -5px;
		}
	}
	.notification-wrapper {
		display: none;
		position: relative;
		width: 100%;
		border: $border;
		background: $concrete;
		padding: 15px 50px;
		margin-top: 11px;
		margin-bottom: 10px;
		@include font-size($font-size-regular);
		box-sizing: border-box;
		
		@include respond(large-up) {
			width: 376px;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			left: 52px;
			top: -22px;
			width: 0;
			height: 0;
			border-color: transparent transparent $concrete transparent;
			border-style: solid;
			border-width: 11px;
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 51px;
			top: -24px;
			width: 0;
			height: 0;
			border-color: transparent transparent $alto transparent;
			border-style: solid;
			border-width: 12px;
		}

		.notification-title {
			color: $color-secondary;
			font-weight: $font-wt-semibold;
		}
		.notification-info {
			@include line-height(20px);
		}
		.notification-link {
			color: $color-primary;
			font-style: $font-style-italic;
			text-decoration: underline;
			display: inline-block;
			margin-top: 12px;
			&:hover {
				color: $color-secondary;
				cursor: pointer;
			}
		}
		.fa {
			color: $color-secondary;
			@include font-size(28px);
			position: absolute;
			top: 10px;
			left: 10px;
			width: 28px;
			text-align: center;
		}
	}
}

.pdp-main .pdp-delivery-wrapper .notification-wrapper {
	&.active {
		display: block;
	}
}