.mf-content {
  a {
    font-family: $r-regular;
  }
}

#pdpMain {
  &.pdp-main-ab {
    .bv-header .bv-action-bar {
      padding: 20px 0px !important;
      background: #fff !important;
      margin: 0 !important;
    }

    // new pdp right part
    .product-detail {
      section {
        .row {
          border-left: solid 1px #b3b5b7;
          border-right: solid 1px #b3b5b7;
          border-top: solid 1px #b3b5b7;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
      }
      .product-promo-wrap {
        .product-promo {
          .promo {
            font-size: 15px;
            font-weight: 800;
            color: $red;
            font-family: $r-extrabold;
            text-transform: uppercase;
            margin: 0 0 15px;
            &:empty {
              margin: 0 0 3px;
            }
          }
        }
      }
      .row-1,
      .row-2 {
        display: flex;
        position: relative;
        padding: 0 25px;
        margin-left: -15px;
        margin-right: -15px;
        background-color: #F8F8F8;
        border-radius: 10px 10px 0 0;
        .pdp-promotions {
          padding-right: 20px;
          width: auto;
          position: relative;
          top: 0;
          .brand-name.logo-black-12-park img {
            height: 50px !important;
            @include respond (large-down) {
              width: 60px;
              height: 60px !important;
            }
          }
          .promotion {
            .promotion-callout {
              padding: 0px;
              border: 0px;
            }
          }
          .brand-and-rating {
            img {
              width: 180px !important;
              max-width: 180px !important;
              height: auto !important;
              @include respond (large-down) {
                width: 135px !important;
                max-width: 135px !important;
              }
            }
            img[src*="icon-black-no-image"] {
              width: 90px !important;
              max-width: 90px !important;
            }
            .brand-name-text {
              font-family: $r-regular;
              font-weight: 700;
              font-size: 21px;
              line-height: 1;
              color: $charcoal;
              text-align: left;
              padding: 0 0 0 0;
            }
          }
        }
        #pdp-reviews {
          position: absolute;
          right: -30px;
          top: 3px;
          .bv_main_container_row_flex {
            // display: block !important;
            display: flex !important;
            flex-flow: row wrap;
            justify-content: flex-end;
            .bv_stars_component_container {
              margin-bottom: 5px !important;
            }
            .bv_avgRating_component_container {
              display: inline !important;
              left: 55px !important;
              position: relative !important;
            }
            .bv_numReviews_component_container {
              float: right !important;
              right: 15px !important;
              position: absolute !important;
              button.bv_numReviews_text {
                color: #626366 !important;
              }
            }
          }
        }
      }
      .product-promo-wrap+.row-1 {
        #pdp-reviews {
          top: -16px;
        }
      }
      .comfort-and-features {
        width: calc(100% + 30px);
        margin-left: -15px;
        &.comfort_level_1 {
          //border-bottom: 10px solid $comfort-extra-firm;
        }
        &.comfort_level_2 {
          //border-bottom: 10px solid $comfort-firm;
        }
        &.comfort_level_3 {
          //border-bottom: 10px solid $comfort-medium;
        }
        &.comfort_level_4 {
          //border-bottom: 10px solid $comfort-plush;
        }
        &.comfort_level_5 {
          //border-bottom: 10px solid $comfort-ultra-plush;
        }
        .row-2 {
          margin-left: 0px;
          margin-right: 0px;
          padding-bottom: 20px;
          border-radius: 0px;
          .row-2-left {
            width: 70%;
            font-size: 12px;
            color: #2d2926;
            font-family: $r-regular;
            font-weight: 400;
            line-height: 1.67;
          }
          h1.h6 {
            font-family: $r-regular;
            font-weight: 700;
            margin-top: 0px;
            color: #2d2926 !important;
            @include respond(large-up) {
              font-size: 28px !important;
              line-height: 1.14 !important;
            }
          }
          .row-2-right {
            position: absolute;
            right: 15px;
            top: 50px;
            img.black {
              width: 42px;
              position: relative;
              bottom: 4px;
            }
            img.white {
              width: 42px;
              position: relative;
              bottom: 4px;
              display: none;
            }
          }
        }
      }
      #product-content.product-content-ab {
        border: solid 1px #c6c8ca;
        border-top: none !important;
        border-radius: 0px 0px 10px 10px;
        padding: 0px 25px;
        .pdp-callout {
          display: none;
        }
        .product-add-to-cart {
          width: 424px;
          margin-top: 37px;
          .product-price-discount-pill {
            display: none !important;
          }
          .allignTop {
            position: relative;
            top: 2px;
            left: 33px;
            padding-top: 15px;
          }
          .product-financing-custom {
            margin-bottom: 5px;
            display: flex;
            clear: both;
            
            .new-financing-pdp-ab {
              display: -webkit-inline-box;
              @include respond (large-down) {
                display: -webkit-inline-box;
              }
              img {
                width: 30px;
                height: 32px;
                padding-right: 10px;
                position: relative;
                @include respond(large) {
                  bottom: 0px;
                }
              }
              .html-slot-container {
                a {
                  font-size: 12px;
                  font-weight: normal;
                  color: #4d4d4d !important;
                  text-decoration: none;
                  @media (max-width: 330px) {
                    width: 240px;
                    display: block;
                  }
                }
              }
            }
            
            .pay-over {
              display: inline-block;
              a {
                color: #d63426 !important;
                font-family: $r-semibold;
                font-size: 12px;
                text-decoration: none;
              }
            }

            .pay-over-link {
              display: block;
              font-size: 12px;
              color: #323030;
              text-decoration: underline;
              margin-top: 5px;
            }

            img.black {
              display: block;
              width: 30px;
              height: 30px;
              position: relative;
              bottom: 2px;
            }
            span {
              position: relative;
              left: 10px;
              font-size: 12px;
              line-height: 1.2;
              color: #d63426;
              font-family: $r-regular;
              font-weight: 400;
              a {
                color: #2d2926;
                font-family: $r-regular;
                font-weight: 700;
              }
              .finance-dot {
              	left: 0px;
              }
              @media (max-width: 360px) {
                left: 8px;
              }
            }
          }
          .product-financing-custom.no-credit {
            margin: 12px 0 0px;
            margin-left: 7px;
            @include respond(large) {
              margin: 5px 0 0 7px;
            }
            @media (max-width: 360px) {
              margin-left: 5px;
            }
          }

          // styles for content slot pdp-progressive-lease
          .prog-pdp-modal {
            cursor: pointer;
            @media only screen and (min-width: 375px) and (max-width: 767px) {
              white-space: nowrap;
            }
          }
          
          .prog-pdp-modal__no-credit-needed {
            font-family: sans-serif;
            font-size: 115%;
            font-weight: bold;
            @media only screen and (max-width: 767px) {
              font-size: 12px;
            }
          }
          
          .prog-pdp-modal__progressive-leasing-img {
            height: auto;
            margin-right: 5px;
            max-width: 170px;
            vertical-align: middle;
            @media only screen and (max-width: 767px) {
              max-width: 130px;
            }
          }

          .prog-pdp-modal__learn-more {
            color: blue;
            font-family: sans-serif;
            font-size: 115%;
            font-weight: bold;
            @media only screen and (max-width: 767px) {
              font-size: 12px;
            }
          }

          .pdp-promotions {
            margin-bottom: 15px;
            .promotion {
              @include respond(large-down) {
                font-size: 12px;
                margin-top: 10px;
              }
              .promotion-callout:first-child {
                border-top: none;
                margin-top: -27px;
                @include respond(large-down) {
                  margin-top: 0px;
                }
              }
            }
          }
          .product-price {
            .product-standard-price.price-range {
              font-size: 37px;
              font-weight: 600;
              @include respond(large-down) {
                font-size: 32px;
                line-height: 1.1;
              }
              @media (max-width: 320px) {
                font-size: 26px;
                line-height: 1.1;
              }
            }
            .price-sales {
              font-size: 37px;
              font-family: $r-regular;
              font-weight: 600;
            }
            .price-sales.price-sales-more {
              font-size: 37px;
              font-family: $r-regular;
              font-weight: 700;
              line-height: normal;
              @include respond(large-down) {
                font-size: 30px;
              }
            }
            .price-standard {
              font-size: 21px;
              font-weight: normal;
              color: #626366;
              line-height: normal;
              display: inline;
              font-family: $r-regular;
              font-weight: normal;
              @include respond(large) {
                display: contents;
              }
              @include respond(large-down) {
                font-size: 18px;
              }
            }
            .product-price-discount {
              display: block !important;
              float: left;
              font-size: 21px;
              margin-right: 10px;
              color: #2d2926;
              font-family: $r-regular;
              font-weight: 700;
              @include respond(large-down) {
                font-size: 18px;
              }
            }
            .product-sales-price.price-range {
              line-height: normal;
              font-family: $r-regular;
              font-size: 37px;
              font-weight: 700;
              @include respond(large-down) {
                font-size: 32px;
              }
              @media (max-width: 320px) {
                font-size: 30px;
              }
            }
            .product-standard-price.price-range.has-sale-price {
              font-size: 21px;
              font-weight: normal;
              line-height: normal;
              color: #626366;
              display: inline;
              font-family: $r-regular;
              font-weight: normal;
              @include respond(large) {
                display: contents;
              }
            }
            // stopped here
          }
          .call-only-container .call-only-prod-area {
            margin-bottom: 10px;
            @include respond (large-down) {
              margin-left: -13px;
              width: 95.5%;
            }
          }
          .product-variations {
            margin-top: 0px;
            .attribute {
              .tooltip {
                display: none;
              }
              #select-container-size {
                .selector {
                  select {
                    height: 50px;
                    border-radius: 5px;
                  }
                  &:after {
                    top: 22px;
                  }
                  &:before {
                    top: 22px;
                  }
                }
              }
            }
          }
          .product-options {
            .attribute {
              .tooltip {
                display: none;
              }
              .value {
                .selector {
                  select {
                    height: 50px;
                    border-radius: 5px;
                  }
                  &:after {
                    top: 22px;
                  }
                  &:before {
                    top: 22px;
                  }
                }
              }
            }
          }
          .product-actions-wrap.not-available {
            .store-wrapper {
              .previous-location-pdp {
                width: auto;
                margin-left: 26px;
                background-color: #f1f1f2;
                padding: 0px;
                #pdp-customer-zip {
                  width: 252px;
                  height: 40px;
                  border-radius: 4px;
                  color: black;
                  border: solid 1px #c6c8ca;
                  font-size: 14px;
                  @media (max-width: 450px) {
                    width: 200px;
                    font-size: 11px;
                  }
                  @media (max-width: 380px) {
                    width: 190px;
                  }
                  @media (max-width: 340px) {
                    width: 179px;
                  }
                }
                .btn-update-pdp {
                  width: 160px;
                  height: 40px;
                  margin-right: 0px;
                  border-radius: 4px;
                  background-color: #d53427;
                  color: white;
                  line-height: 3;
                  @include respond(large-down) {
                    width: 100px;
                  }
                  @media (max-width: 380px) {
                    width: 100px;
                  }
                  @media (max-width: 340px) {
                    width: 90px;
                  }
                }
                .error-message {
                  width: 100%;
                  color: #d53427;
                }
              }
              .delivery-shipping-pdp {
                display: flex;
                img {
                  padding-right: 15px;
                }
                .geo-address-text {
                  .not-available-msg {
                    font-size: 12px;
                    font-family: $r-semibold;
                    color: black;
                    @media (max-width: 768px) {
                      font-size:10px;
                    }
                  }
                  .geo-address-links {
                    font-size: 15px;
                    font-family: $r-semibold;
                    a {
                      @media (max-width: 768px) {
                        font-size:12px;
                      }
                    }
                    span {
                      color: black;
                      @media (max-width: 340px) {
                        font-size:12px;
                      }
                    }
                  }
                }
              }
            }
          }
          .product-actions-wrap {
            height: 60px;
            background-color: #f8f8f8;
            width: calc(100% + 49px);
            margin-left: -25px;
            overflow: hidden;
            img {
              padding-left: 25px;
            }
            .product-actions {
              @media (max-width: 320px) {
                padding-left: 6px;
                width: 100%;
              }
              .omni-channel-container {
                .pdp_order_shipping {
                  .store-wrapper {
                    .previous-location-pdp {
                      position: relative;
                      width: calc(100% + 82px);
                      margin-left: -71px;
                      background-color: #f1f1f2;
                      padding: 10px 0px;
                      #pdp-customer-zip {
                        width: 252px;
                        height: 40px;
                        font-size: 14px;
                        margin-left: 29px;
                        border-radius: 4px;
                        color: black;
                        border: solid 1px #c6c8ca;
                        @media (max-width: 450px) {
                          width: 200px;
                          margin-left: 13px;
                        }
                        @media (max-width: 380px) {
                          width: 190px;
                          margin-left: 13px;
                        }
                        @media (max-width: 340px) {
                          width: 179px;
                          margin-left: 13px;
                        }
                      }
                      .btn-update-pdp {
                        width: 164px;
                        height: 40px;
                        margin-left: 7px;
                        border-radius: 4px;
                        background-color: #d53427;
                        color: white;
                        @include respond(large-down) {
                          width: 100px;
                        }
                        @media (max-width: 380px) {
                          width: 100px;
                        }
                        @media (max-width: 340px) {
                          width: 70px;
                        }
                      }
                      .error-message {
                        margin-left: 25px;
                        color: #e21a23;
                        position: absolute;
                        top: 22px;
                        left: 16%;
                        font-size: 12px;
                        font-weight: 600;
                        font-family: $r-semibold;
                        @media (max-width: 480px) {
                          width: 100px;
                          font-size: 10px;
                          left: 22%;
                        }
                      }
                    }
                    .delivery-shipping-pdp {
                      display: flex;
                      .geo-address-text {
                        display: inline-block;
                        font-size: 16px;
                        font-family: $r-regular;
                        font-weight: 700;
                        color: #2d2926;
                        white-space: nowrap;
                        text-transform: uppercase;
                      }
                      .pdp-mobile-delivery-ab {
                        display: inline-block;
                        font-size: 15px;
                        font-weight: 800;
                        margin-left: 5px;

                        @include respond(large) {
                          display: none;
                        }
                        @include respond(large-down) {
                          display: inline-block;
                        }

                        .btn-change-zip-pdp {
                          font-size: 16px;
                          font-weight: 600;
                          color: #d0021b;
                          margin-left: 10px;
                          font-style: normal;
                        }
                      }
                      .geo-address-zip {
                        display: inline-block;
                        font-size: 16px;
                        font-weight: 400;
                        font-family: $r-regular;
                        color: #2d2926;
                        margin-left: 5px;
                        .btn-change-zip-pdp {
                          font-family: $r-regular;
                          font-weight: 700;
                          font-size: 16px;
                          color: #d63426;
                          margin-left: 10px;
                          font-style: normal;
                        }
                        @media (max-width: 1025px) {
                          display: none;
                        }
                      }
                    }
                  }
                  .availability-web {
                    .availability {
                      display: none;
                    }
                    .availability-novariation {
                      color: #2d2926;
                      font-family: $r-regular;
                      font-weight: 700;
                    }
                    .availability-ab,
                    label {
                      font-size: 12px;
                      font-weight: 600;
                      margin: 0;
                      font-family: $r-regular;
                      @include respond (large-down) {
                        font-weight: normal;
                        font-family: $r-regular;
                      }
                    }
                    .delivery-countdown-wrap {
                      display: none;
                    }
                    .availability-msg {
                      .in-stock-msg {
                        p {
                          font-size: 12px;
                          font-weight: 600;
                          color: #323030;
                            font-family: $r-semibold;
                          @include respond (large-down) {
                            font-weight: normal;
                            font-family: $r-regular;
                          }
                        }
                      }
                      .details-link {
                        display: inline-block;
                        font-style: normal;
                        font-size: 12px;
                        font-family: $r-regular;
                        font-weight: 700;
                      }
                    }
                  }
                }
                .pdp_order_pickup {

                }
              }
              .details {

              }
            }
          }
          .add-to-cart-container {
            margin-bottom: 30px;
            overflow: hidden;
            #add-to-cart,
            #add-to-cart-delivery-not-available {
              width: 264px;
              height: 40px;
              bottom: 0px;
              margin-right: 10px;
              font-family: $r-regular;
              font-weight: 700;
              @media (max-width: 480px) {
                width: 170px;
              }
              @media (max-width: 380px) {
                width: 140px;
                min-width: 140px;
              }
              @media (max-width: 340px) {
                width: 129px;
                min-width: 129px;
                font-size: 15px;
              }
            }
            .inventory {
              max-width: 90px;
              margin-right: 10px;
              .hidden-label {
                position: absolute;
                left: 9999px;
              }
              .plus-minus-input {
                position: relative;
                #btn-minus-qty {
                  width: 15px;
                  height: 30px;
                  line-height: normal;
                  padding: 0 13px;
                  position: absolute;
                  left: 0px;
                  top: 5px;
                  background-color: transparent;
                  .fa-minus {
                    color: black;
                    position: relative;
                    right: 2px;
                    font-size: 10px;
                  }
                }
                .input-group-field {
                  width: 90px !important;
                  height: 40px;
                  border-radius: 5px;
                  border: solid 1px #2d2926;
                  text-align: center;
                  color: #2d2926;
                  font-family: $r-regular;
                  font-weight: 400;
                  @include respond(large-down) {
                    width: 80px !important;
                  }
                  @media (max-width: 320px) {
                    width: 60px !important;
                  }
                }
                #btn-plus-qty {
                  width: 15px;
                  height: 30px;
                  line-height: normal;
                  padding: 0 13px;
                  position: absolute;
                  right: 0px;
                  top: 5px;
                  background-color: transparent;
                  .fa-plus {
                    color: black;
                    position: relative;
                    right: 6px;
                    font-size: 10px;
                  }
                }
              }
            }
            .add-to-wishlist {
              width: 40px;
              top: 0px;
              left: 0px;
              border: 1px solid #c6c8ca;
              font-size: 20px;
              border-radius: 5px;
              line-height: 2;
              text-align: center;
              .fa-heart {
                color: #c6c8ca;
              }
            }
          }
        }
      }
    }
  }
  &.pdp-main-ab {
      .product-detail {
        
          /*--------------------------------------
            start Try in store styles
          -------------------------------------*/
      .omni-channel-container {
        .store-picker {
          #try-in-store {
            .mf-content {
              @include respond (large-down) {
                width: 100%;
              }
            }
            position: relative;
            padding: 12px 30px 12px 20px;
            border: solid 1px #2d2926;
            border-radius: 5px;
            margin-top: 20px;
            margin-bottom: 60px;
            @include respond(large-down) {
              margin-bottom: 0px;
            }
            .storename-wrap {
              img {
                width: 20px;
                height: 28px;
                margin-top: 10px;
                margin-right: 15px;
              }
              img.cross {
                @include respond(large-down) {
                  float: left;
                }
                @include respond(large-up) {
                  margin-top: 0px;
                }
              }
              .storename,
              .storename-mob {
                font-size: 15px;
                font-weight: normal;
                color: #4d4d4d;
              }
              .storename-mob {
                display: inline;
                margin: 0;
                @include respond (large) {
                  display: none;
                }
              }
              .storename-desktop {
                @media (max-width: 1025px) {
                  display: none;
                }
              }
              .check-tryinstore-avalability {
                vertical-align: bottom;
                @include respond(large-down) {
                  padding-right: 15px;
                  display: block;
                }
              }
              .state-zip {
                font-size: 16px;
                font-weight: 800;
                margin: 0;
                position: relative;
                left: 39px;
                top: -12px;
                font-family: $r-bold;
              }
              i {
                font-size: 40px;
                position: absolute;
                top: 18px;
                right: 30px;
                @include respond(large-down) {
                  top: 16px;
                }
              }
              i.flip {
                transform: rotate(180deg);
              }
            }
            .store-info {
              display: none;
              margin-left: 40px;
              margin-top: 0px;
              .storeaddress {
                div {
                  display: inline;
                }
                .street {
                  display: inline-block;
                  font-size: 16px;
                  font-weight: normal;
                  font-family: $r-regular;
                }
                p {
                  font-size: 16px;
                  font-weight: normal;
                  font-family: $r-regular;
                }
                .get-directions {
                  font-size: 15px;
                  margin-left: 12px;
                  @include respond (large-down) {
                    position: absolute;
                    left: 50px;
                    top: 115px;
                  }
                }
              }
            }
            .change-tryinstore {
              display: none;
              margin-left: 40px;
              span {
                font-family: $r-bold;
                font-size: 16px;
                font-weight: 800;
                @include respond (large-down) {
                  margin-top: 37px;
                  margin-bottom: 5px;
                  display: block;
                }
                .time {
                  @include respond (large-down) {
                    display: initial;
                  }
                }
              }
            }
            a.regular {
              display: none;
              margin-left: 40px;
              position: absolute;
              right: 30px;
              bottom: 15px;
              @include respond (large-down) {
                position: initial;
              }
            }
          }
        }
      }
    }
    /*--------------------------------------
        start red carpet delivery banner styles
      -------------------------------------*/
    .red-carpet-delivery-pdp {
      display: flex;
      height: 220px;
      margin-left: -32px;
      padding-top: 60px;
      .red-carpet-delivery {
        flex: 0 0 710px;
        text-align: center;
        padding-top: 70px;
        background-color: #757575;
        box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.15);
        .rcd-wrapper {
          display: inline-block;
          position: relative;
          top: 10px;
          padding-left: 25px;
          div {
            margin: 0;
            color: white;
          }
          .rcd-text {
            font-size: 16px;
            font-weight: 400;
            text-align: left;
          }
          .rcd-heading {
            font-size: 37px;
            font-weight: 700;
            font-family: $r-regular;
          }
        }
      }
      .feature-wrapper {
        flex: 0 0 455px;
        padding: 28px 0px 28px 60px;
        letter-spacing: 0.5px;
        background-color: #5e5c5c;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
        border-width: 0px 0 0px 41px;
        border-style: solid;
        -webkit-border-image: -webkit-gradient(linear, 100% 0, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
        -webkit-border-image: -webkit-linear-gradient(right, black, rgba(0, 0, 0, 0)) 1 100%;
        -moz-border-image: -moz-linear-gradient(right, black, rgba(0, 0, 0, 0)) 1 100%;
        -o-border-image: -o-linear-gradient(right, black, rgba(0, 0, 0, 0)) 1 100%;
        border-image: linear-gradient(to right, #595757, rgba(0, 0, 0, 0)) 1 100%;
        .feature-list {
          font-size: 21px;
          font-weight: 500;
          color: #ffffff;
          font-family: $r-regular;
        }
        .features {
          color: #ffffff;
          margin: 10px 0px 10px 10px;
          @include respond (large-down) {
            margin: 10px auto;
          }
          li {
            font-size: 15px;
            font-weight: normal;
            line-height: 1.73;
            padding-left: 10px;
            margin: 0px;
            font-family: $r-regular;
            .delivery-tracking {
              font-weight: 600;
              color: white;
            }
          }
        }
        .read-details-link {
          font-size: 16px;
          font-weight: 600;
          color: white;
          font-family: $r-regular;
        }
      }
    }
    /*--------------------------------------
        start feature wrapper styles
      -------------------------------------*/
    .feature-section {
      padding-bottom: 60px;
      width: calc(100% + 50px);
      margin-left: -25px;
      @include respond (large-down) {
        width: 100%;
        margin-left: 0px;
      }
      h1 {
        font-size: 37px;
        font-weight: 800;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #323030;
        margin: 50px 0;
      }
      #pdp-tabs {
        &.section {
          padding-top: 0;
          @include respond(large-down) {
            li {
              font-weight: 600;
              width: 90%;
              margin: 0 auto;
              .pdp-tab-title {
                padding: 20px 15px;
                .arrow {
                  &:after {
                    display: none;
                  }
                  &:before {
                    color: #d63426;
                    content: "\f107";
                    font-size: 30px;
                    top: 0;
                    border: none;
                  }
                }
              }
            }
            .pdp-specs {
              .columns {
                font-weight: normal;
              }
              li {
                font-family: $r-regular;
                font-size: 16px;
                width: 100%;
                line-height: 1.38;
                color: #4d4d4d;
                font-weight: normal;
                margin: 0 0 15px;
              }
              strong {
                color: #4d4d4d;
                display: block;
                width: 100%;
                font-family: $r-semibold;
                font-weight: 600;
                font-size: 16px;
                margin-bottom: 15px;
              }
            }
          }
        }
        >.row {
          margin: 0;
          max-width: 100%;
        }
        .pdp-tabs {
          margin-bottom: 60px;
          position: relative;
          display: flex;
          justify-content: center;
          border: none;
          padding-bottom: 10px;
          li {
            font-size: 21px;
            display: inline-block;
            font-family: $r-regular;
            font-weight: 700;
            @media only screen and (max-width: 1025px) and (min-width: 767px) {
              padding: 0 10px;
              font-size: 18px;
            }
            &:last-child {
              margin-right: 0;
            }
            >&:after {
              bottom: -11px;
              z-index: 2;
            }
          }
          &:after {
            content: "";
            height: 1px;
            background-color: #cacaca;
            display: block;
            position: absolute;
            left: -200px;
            right: -200px;
            bottom: 0;
            z-index: 1;
          }
          @media(max-width:767px) {
            li {
              font-size: 16px;
              margin-right: 10px;
            }
          }
          @media(max-width:648px) {
            display: none;
          }
        }
        .pdp-tab-column {
          padding: 0;
          max-width: 710px;
          width: 100%;
          margin: 0 auto;
        }
      }
      .slick-arrow {
        height: 75px;
        width: 75px;
        margin-top: -45px;
        background: transparent;
        background-color: transparent !important;
        border: none;
        color: #626366 !important;
        outline: none !important;
      }
      .slick-prev {
        &:after {
          background: url(../images/svg-icons/arrow_white.svg);
          width: 72px;
          height: 72px;
          top: -37px;
          left: 0px;
          transform: rotate(180deg);
        }
      }
      .slick-next {
        &:after {
          background: url(../images/svg-icons/arrow_white.svg);
          width: 72px;
          height: 72px;
          top: -37px;
          left: 0px;
          transform: rotate(0deg);
        }
      }
    }
    /* Dimension module styling*/
    .dimension-section {
      font-family: $r-regular;
      @include respond(large-up) {
        width: 1180px;
        margin: 0 auto;
      }
      @include respond(medium) {
        margin: -100px auto 60px;
      }
      .header h1 {
        text-align: center;
        color: #2d2926;
        font-size: 37px;
        margin-bottom: 20px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: $r-regular;
        line-height: 0.9;
        @include respond(large-down) {
          margin-top: 20px;
        }
      }
      .dimension-wrapper {
        #dd-position-dropdown {
          display: none;
          @include respond(large-down) {
            display: block;
          }
        }
        #dd-variant-dropdown,
        #dd-position-dropdown {
          text-align: center;
          margin: 0 auto;
          margin-bottom: 50px;
          @include respond(large-down) {
            margin-bottom: 15px;
            width: 295px !important;
          }
          .dd-select {
            border: solid 1px #2d2926;
            background: white !important;
            border-bottom: 1px solid #2d2926;
            border-radius: 5px;
            @include respond(large-down) {
              width: 295px !important;
            }
            &.no-border {
              //border-bottom: none;
              //border-radius: 5px 5px 0px 0px;
            }
            .dd-selected {
              text-decoration: none;
              text-align: left;
              padding-left: 20px;
              &:hover {
                color: #2d2926;
              }
              label {
                font-weight: normal;
              }
              .dd-desc {
                color: #333;
                font-size: 14px;
                line-height: 1.4;
              }
            }
          }
          .dd-pointer {
            top: 15px;
          }
          .dd-pointer-down {
            border: none !important;
            &:before,
            &:after {
              content: '';
              position: absolute;
              pointer-events: none;
            }
            &:before {
              right: 5px;
              top: 0;
              border-top: 10px solid #2d2926;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
            }
            &:after {
              right: 7px;
              top: 0;
              border-top: 8px solid $white;
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
            }
          }
          .dd-pointer-up {
            border: none !important;
            margin-top: 0;
          }
          .dd-options-wrap2 {
          	 ul.dd-options {
	            height: auto !important;
	          }
          }
          .dd-options-wrap,
          .dd-options-wrap2 {
            height: 161px;
            width: 274px;
            padding: 10px;
            box-sizing: border-box;
            border: solid 1px #2d2926;
            border-top: none;
            position: absolute;
            top: 35px;
            left: 0;
            z-index: 10;
            background-color: white;
            border-radius: 0px 0px 5px 5px;
            display: none;
            @include respond(large-down) {
              width: 297px;
            }
          }
          ul.dd-options {
            width: 252px !important;
            height: 141px !important;
            overflow: auto;
            top: 10px;
            left: 0px;
            border: none;
            box-shadow: none;
            display: block !important;
            @include respond(large-down) {
              width: 280px !important;
            }
            &::-webkit-scrollbar {
              width: 10px;
              -webkit-appearance: none;
            }
            &::-webkit-scrollbar-thumb {
              background: #2d2926;
              border-radius: 20px;
            }
            &::-webkit-scrollbar-track {
              background: #e1e1e1;
              border-radius: 20px;
            }
            li {
              margin-bottom: 0px;
              a.dd-option-selected {
                background-color: #e1e1e1;
              }
              a.dd-option {
                border: none;
                text-align: left;
                margin-right: 20px;
                padding: 8px 10px 8px 20px;
                label {
                  font-weight: normal;
                }
                .dd-desc {
					color: #333;
					font-size: 14px;
					line-height: 1.4;
				}
              }
            }
          }
          &.dd-open {
            .dd-options-wrap,
            .dd-options-wrap2 {
              transition: opacity 0.5s ease;
              opacity: 1;
              visibility: visible;
              display: block;
            }
            .dd-pointer-down {
              &:before {
                right: 5px;
                top: -10px;
                border-bottom: 10px solid #2d2926;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid transparent;
              }
              &:after {
                right: 7px;
                top: -8px;
                border-bottom: 8px solid $white;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 10px solid transparent;
              }
            }
          }
        }
        #dd-position-dropdown {
          @include respond(large-down) {
            margin-bottom: 30px;
            z-index: 9;
          }
          .dd-options-wrap2 {
            .dd-options {
              @include respond(large-down) {
                width: 280px !important;
              }
            }
          }
        }
        .attributes-wrapper {
          padding-left: 185px;
          margin-bottom: 20px;
          @include respond(large-down) {
            padding: 0 15px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
          }
          span {
            font-weight: 400;
            @include respond(large-down) {
              flex-basis: calc(50% - 15px);
            }
            b {
              font-weight: 700;
              span {
                font-weight: 700;
              }
            }
          }
          .attribute-2,
          .attribute-4,
          .attribute-5,
          .attribute-6 {
            padding-left: 50px;
            font-size: 16px;
            @include respond(large-down) {
              padding: 0px;
            }
          }
          b {
            font-size: 18px;
            font-family: $r-regular;
          }
          .attribute-1,
          .attribute-2 {
            b {
              @include respond(large-down) {
                display: block;
              }
            }
          }
        }
        .attributes-wrapper.mt-20.flat-d {
        	@include respond(large) {
        		padding-right: 440px;
        	}
        	@include respond(large-down) {
        		padding-right: 15px;
    			padding-left: 20px;
        	}
        	@media (max-width: 374px) { 
        		padding-right: 20px;
    			padding-left: 20px;
        	}
        	.attribute-5 {
        		@media (max-width: 374px) { 
        			padding-left: 65px;
        		}
        	}
        	.attribute-6 {
        		@media (max-width: 374px) { 
        			padding-left: 82px;
        		}
        	}
        }
        .attributes-wrapper.mt-20 {
          text-align: center;
          padding-right: 305px;
          padding-left: 30px;
          @include respond(large-down) {
            text-align: left;
            padding-right: 35px;
            padding-left: 35px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 0px;
          }
          @media (max-width: 374px) {
            padding-right: 15px;
            padding-left: 15px;
          }
          .attribute-3,
          .attribute-4,
          .attribute-5,
          .attribute-6 {
            @include respond(large-down) {
              flex-basis: calc(50% - 15px);
              padding-bottom: 15px;
              white-space: nowrap;
            }
            font-size: 16px;
            b {
              font-size: 18px;
            }
          }
        }
        .image-message {
          width: calc(100% + 30px);
          margin-left: 0px;
          border-bottom: 1px solid #b3b5b7;
          @include respond(large-down) {
            width: 100%;
            margin-left: 0px;
            border: none;
            padding: 0 15px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            box-sizing: border-box;
          }
          .message {
            font-size: 12px;
            text-align: left;
            margin: 30px 0 0 0px;
            padding-bottom: 10px;
            display: block;
            @include respond(large-down) {
              margin-top: 0px;
              margin-left: 0;
              margin-right: 0;
              flex-basis: calc(100% - 15px);
              border-bottom: 1px solid #b3b5b7;
            }
          }
        }
        .dimension-main-containner {
          display: flex;
          picture {
            @include respond(large-down) {
              margin-left: auto;
              margin-right: auto;
            }
            img {
              width: 877px;
              height: auto;
              @include respond(large-down) {
                width: 100%;
              }
            }
          }
          .adj-view {
            padding-left: 30px;
            .adjust-view-heading {
              margin: 0px;
              font-size: 21px;
              font-weight: 700;
              color: #2d2926;
              text-align: center;
              font-family: $r-regular;
            }
            @include respond(large-down) {
              display: none;
            }
            .heads-up,
            .feet-up,
            .flat,
            .zero-g {
              width: 273px;
              text-align: center;
              text-decoration: none;
              line-height: 0.81;
              font-size: 16px;
              color: #2d2926;
              border-radius: 5px;
              margin-top: 20px;
              padding: 10px 0px;
              border: solid 1px #2d2926;
              display: block;
              font-family: $r-regular;
              font-weight: 700;
              &:hover,
              &.active-base {
                background-color: #2d2926;
                color: white;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
    .features-wrap {
      .slick-list {
        margin: 0 auto;
        height: 300px;
        padding-top: 10px;
        @include respond (x-large) {
          width: 1090px;
        }
        .feature {
          max-width: 250px !important;
          height: 280px;
          background-color: #f1f1f2;
          border-radius: 8px;
          margin: 0 15px;
          padding: 15px 20px;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          transition: 0.3s;
          .white-svg {
            display: none;
          }
          .feature-content-caption {
            .icon-red-ships-compressed,
            .icon-white-ships-compressed {
              height: 55px;
              width: auto;
            }
            .feature-details {
              h3 {
                margin: 5px 0 15px;
                line-height: normal;
                letter-spacing: normal;
                font-family: $r-regular;
                font-weight: 900;
              }
              p {
                display: none;
                margin: 5px 0;
                font-family: $r-regular;
                font-weight: 400;
                font-size: 18px;
                line-height: 1.3;
              }
            }
          }
          background:url(../images/wmf-pink.png) no-repeat;
          background-size: cover;
          background-position: left top;
          &:hover {
            background: url(../images/wmf-black.png) no-repeat;
            background-size: cover;
            background-position: left top;
            background-color: #323030;
            color: #fff;
            position: relative;
            transform: translateY(-10px);
            .feature-content-caption {
              .feature-details {
                h3 {
                  color: #fff;
                }
                p {
                  display: block;
                  color: #fff;
                }
              }
            }
          }
        }
      }
      &.slick-slider {
        .slick-dots {
          bottom: -70px;
          li {
            &:only-child {
              display: none;
            }
            border:none;
            background-color: #626366;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            button {
              background: none;
              width: 10px;
              height: 10px;
              margin-top: 0;
              background-color: #626366 !important;
              border-radius: 100% !important;
              &.slick-disabled {
                 background-color: #626366 !important;
              }
            }
            &.slick-active {
              button {
                background-color: #d63426 !important;
                border-radius: 100%;
              }
            }
          }
        }
      }
      .slick-arrow {
        &.slick-prev {}
        &.slick-next {}
      }
    }
    .slick-slider {
      .slick-dots {
        li {
          border: none;
          background-color: #626366;
          width: 10px;
          height: 10px;
          border-radius: 100%;
          button {
            background: none;
            width: 10px;
            height: 10px;
            margin-top: 0;
          }
          &.slick-active {
            button {
              background-color: #d63426;
              border-radius: 100%;
            }
          }
        }
      }
    }
    .feature-section {
      padding-bottom: 60px;
      width: calc(100% + 50px);
      margin-left: -25px;
      &.pdp-faqs-wrap {
        padding-bottom: 50px;
      }
      @include respond (large-down) {
        width: 100%;
        margin-left: 0px;
        padding-bottom: 0px;
        &.pdp-faqs-wrap {
          padding-bottom: 0;
        }
      }
      .pdp-reviews-test {
        @include respond(large) {
          width: 1032px;
          margin: 0 auto;
        }
      }
      h1 {
        font-size: 37px;
        font-weight: 900;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #2d2926;
        margin: 50px 0;
        font-family: $r-regular;
        text-transform: uppercase;
        @include respond(large-down) {
          font-size: 33px;
        }
      }
      .slick-arrow {
        height: 75px;
        width: 75px;
        margin-top: -45px;
        background: transparent;
        border: none;
        outline: none !important;
      }
      .slick-prev {
        @media (min-width: 1366px) {
          left: -15px;
        }
        &:after {
          background: url(../images/svg-icons/arrow_white.svg);
          width: 72px;
          height: 72px;
          top: -37px;
          left: 0px;
          transform: rotate(180deg);
        }
      }
      .slick-next {
        @media (min-width: 1366px) {
          right: -20px;
        }
        &:after {
          background: url(../images/svg-icons/arrow_white.svg);
          width: 72px;
          height: 72px;
          top: -37px;
          left: 0px;
          transform: rotate(0deg);
        }
      }
      &.spotlight {
        //background:url(../images/bg-spotlight.png) no-repeat center center transparent;
        @include respond (medium) {
          padding-left: 15px;
          padding-right: 15px;
          box-sizing: border-box;
        }
        @include respond (x-large) {
          padding-left: 0;
          padding-right: 0;
          box-sizing: border-box;
        }
      }
    }
    .features-wrap {
      .slick-list {
        margin: 0 auto;
        height: 300px;
        padding-top: 10px;
        @include respond (x-large) {
          width: 1090px;
        }
        @media (max-width: 767px) {
          width: auto;
        }
        .feature {
          max-width: 250px !important;
          height:280px;
          background-color: #f1f1f2;
          border-radius: 8px;
          margin: 0 15px;
          padding: 15px;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          transition: 0.3s;
          @media (max-width: 767px) {
            max-width: -webkit-fill-available !important;
            margin: 0 7.5px;
          }
          .white-svg {
            display: none;
          }
          .feature-content-caption {
            .feature-details {
              h3 {
                margin: 5px 0 15px;
                line-height: normal;
                letter-spacing: normal;
              }
              p {
                display: none;
                margin: 5px 0;
              }
            }
          }
          &:hover {
            background-color: #323030;
            color: #fff;
            position: relative;
            transform: translateY(-10px);
            .feature-content-caption {
              .feature-details {
                h3 {
                  color: #fff;
                }
                p {
                  display: block;
                  color: #fff;
                }
              }
            }
          }
        }
      }
      &.slick-slider {
        .slick-dots {
          bottom: -70px;
          li {
            border: none;
            background-color: #c6c8ca;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            button {
              background: none;
              width: 10px;
              height: 10px;
              margin-top: 0;
            }
            &.slick-active {
              button {
                background-color: #d63426;
                border-radius: 100%;
              }
            }
          }
        }
      }
      .slick-arrow {
        &.slick-prev {}
        &.slick-next {}
      }
    }
    /*--------------------------------------
        start red carpet delivery banner styles
      -------------------------------------*/
    .red-carpet-delivery-pdp {
      display: flex;
      height: 220px;
      margin-left: -32px;
      .red-carpet-delivery {
        flex: 0 0 710px;
        text-align: center;
        padding-top: 70px;
        background-color: #757575;
        box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.15);
        .rcd-wrapper {
          display: inline-block;
          position: relative;
          top: 10px;
          div {
            margin: 0;
            color: white;
          }
          .rcd-text {
            font-size: 16px;
            font-weight: 800;
            text-align: left;
          }
          .rcd-heading {
            font-size: 37px;
            font-weight: 800;
          }
        }
      }
      .feature-wrapper {
        flex: 0 0 455px;
        padding: 28px 0px 28px 60px;
        letter-spacing: 0.5px;
        background-color: #5e5c5c;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
        border-width: 0px 0 0px 41px;
        border-style: solid;
        -webkit-border-image: -webkit-gradient(linear, 100% 0, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
        -webkit-border-image: -webkit-linear-gradient(right, black, rgba(0, 0, 0, 0)) 1 100%;
        -moz-border-image: -moz-linear-gradient(right, black, rgba(0, 0, 0, 0)) 1 100%;
        -o-border-image: -o-linear-gradient(right, black, rgba(0, 0, 0, 0)) 1 100%;
        border-image: linear-gradient(to right, #595757, rgba(0, 0, 0, 0)) 1 100%;
        .feature-list {
          font-size: 21px;
          font-weight: 600;
          color: #ffffff;
          @include respond(large-down) {
            text-align: center;
          }
        }
        .features {
          color: #ffffff;
          margin: 10px 0px 10px 10px;
          @include respond(large-down) {
            margin: 10px auto;
          }
          li {
            font-size: 15px;
            font-weight: normal;
            line-height: 1.73;
            padding-left: 10px;
            margin: 0px;
            .delivery-tracking {
              font-weight: 600;
              color: white;
            }
          }
        }
        .read-details-link {
          font-size: 16px;
          font-weight: 600;
          color: white;
        }
      }
    }

    .product-listing {
      margin: 50px 0;
      border-top: none;
      h2 {
        margin: 0 0 36px !important;
        font-family: $r-bold;
        font-size: 20px;
        line-height: 24px;
        text-align: left;
      }
      @include breakpoint(small down) {
        margin: 20px 0;
        padding: 0;
      }
    }
    #product-content {
      div.label {
        font-family: $r-semibold;
        font-weight: 600;
        font-size: 16px;
        label {
          font-family: $r-regular;
          font-weight: 700;
          color: #2d2926;
        }
      }
      div.label.Color {
        display: flex;
        margin-bottom: 5px;
        label {
          padding-right: 0px;
        }
        span.c_value {
          font-size: 16px;
          line-height: 17px;
        }
      }
      .product div.label,
      div.label label,
      li.option-dropdown label {
        padding-right: 5px;
        display: inline-block;
        font-family: $r-regular;
        font-weight: 700;
        color: #2d2926;
      }
      span.tooltip {
        top: 4px;
        display: inline-block;
        margin: 0;
        width: 18px;
        height: 18px;
        background-image: url(../images/help-icon-black.svg);
        background-repeat: no-repeat;
        background-size: contain;
      }
      li.option-dropdown span.tooltip {
        position: relative;
      }
      .product-options.customized {
        margin-top: 5px;
        .fake-input {
          margin-bottom: 5px !important;
          @include respond(large-up) {
            margin-bottom: 10px !important;
          }
        }
        .variation-select {
          margin-top: -5px;
          @include respond(large-up) {
            margin-top: -10px;
          }
          li {
            font-size: 14px !important;
          }
          .select-item {
            padding-bottom: 15px !important;
            display: flex;
            justify-content: space-between;
          }
        }
      }
      .product-variations li.attribute,
      .product-options.customized li.attribute {
        position: relative;
        margin-bottom: 5px;
        #select-container-size {
          .size-select-area {
            position: relative;
            width: 100%;
            z-index: 10;
            float: left;
            margin: 0 0 10px;            
            .fake-input:focus {outline: dotted 1px #2d2926;}
            &.active-drop {
              z-index: 99;
              .variation-select {
                display: block;
                z-index: 99;
                li:focus-within {
                  background: #f1f1f1;
                }
              }
            }
            .fake-input {
              position: relative;
              display: block;
              margin: 0;
              outline: none;
              background-position: inherit;
              appearance: none;
              width: 100%;
              text-decoration: none;
              height: 48px;
              border-radius: 4px;
              font-family: $r-regular;
              font-weight: 400;
              border: solid 1px #2d2926;
              font-size: 20px;
              font-weight: 600;
              line-height: 1.25;
              text-align: left;
              color: #2d2926;
              &.error {
                border: 1px solid #e21a23;
              }
              span:nth-child(2) {
                width: 80%;
              }
              .out-of-stock-error {
                font-family: $r-semibold;
                font-size: 12px;
                color: #e21a23;
                font-weight: 600;
                position: relative;
                float: right;
                top: 10px;
                right: 40px;
                width: auto !important;
                line-height: 2.4;
              }
              span .frame {
                margin-left: 15px;
                float: left;
                font-size: 16px;
                line-height: 3;
                max-width: 70%;
                width: 70%;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 50px;
                display: -webkit-box;
                font-weight: 400;
                @include respond(large-down) {
                  max-width: 58%;
                  width: 58%;
                }
              }
              span .frame-price {
                position: relative;
                color: #626366;
                text-align: right;
                width: 100%;
                font-size: 16px;
                font-weight: normal;
                line-height: 3;
                right: -10px;
                top: -2px;
                display: inline;
                @include respond(large-down) {
                  top: 0px;
                }
              }
              @include respond(large-down) {
                font-size: 16px;
              }
              &:before,
              &:after {
                content: '';
                position: absolute;
                pointer-events: none;
              }
              &:before {
                right: 10px;
                top: 20px;
                border-top: 8px solid $black;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
              }
              &:after {
                right: 12px;
                top: 20px;
                border-top: 6px solid $white;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
              }
              .no-variation {
                padding-left: 10px;
                font-size: 16px;
                color: #2d2926;
                font-weight: 400;
                @include respond(large-down) {
                  font-size: 16px;
                  padding-top: 15px;
                }
              }
              .selected-size-value {
                .selected-size-dimension {
                  font-weight: normal;
                  color: #4d4d4d;
                  font-size: 16px;
                  @include respond(large-down) {
                    font-size: 14px;
                  }
                }
                .selectedValue {
                  font-size: 16px;
                  @include respond(large-down) {
                    font-size: 14px;
                  }
                }
              }
              span {
                display: inline;
                line-height: 2.4;
                @include respond(large-down) {
                  line-height: 3;
                }
                img {
                  padding-left: 15px;
                  padding-bottom: 10px;
                  width: 23px;
                  vertical-align: middle;
                  height: 30px;
                  @include respond(large-down) {
                    padding-bottom: 6px;
                  }
                }
                input {
                  padding-left: 0px;
                  @media (max-width: 365px) {
                    width: 200px;
                  }
                  @media (max-width: 768px) {
                    font-size: 14px;
                  }
                }
              }
              span.selected-size-value {
                padding-left: 15px;
              }
              span+span.selected-size-value {
                padding-left: 0;
              }
              input {
                background: none;
                border: 0;
                padding: 7px 0px 8px 16px;
                height: 50px;
                font-size: 20px;
                cursor: default;
                font-weight: 600;
                line-height: 1.25;
                text-align: left;
                color: black;
                -webkit-appearance: button;
              }
            }
            .variation-select {
              position: absolute;
              top: 100%;
              left: 0;
              top: 100%;
              display: none;
              right: 0;
              z-index: 9;
              border-radius: 9px;
              background: white;
              box-shadow: 0 1px 3px 0 rgba(black, 0.2);
              li {
                padding: 15px;
                font-size: 14px;
                overflow: hidden;
                cursor: default;
                font-weight: normal;
                line-height: 1.22;
                color: black;
                cursor: pointer;
                @include respond(medium) {
                  font-size: 16px;
                  padding: 7.5px 20px;
                  margin-bottom: 0px;
                }
                @include respond (large-down) {
                  padding-bottom: 0px;
                  margin-bottom: 0px;
                }
                img {
                  width: 23px;
                  height: 30px;
                  vertical-align: middle;
                  padding-bottom: 5px;
                }
                &.selected,
                &:hover,
                &:focus-within {
                  background: #f1f1f1;
                }
              }
            }
          }
        }
      }
      .pdp-delivery-wrapper {
        span.tooltip {
          display: none;
        }
      }
      .store-picker {
        padding-top: 20px;
        margin-top: 20px;
        border-top: 1px solid $medium-gray;
        display: none;
        @include breakpoint(small down) {
          display: block;
        }
      }
    }
    @include breakpoint(small down) {
      .pdp-images {
        .store-picker {
          display: none;
        }
      }
    }
    @include breakpoint(large down) {
      .product-video-overlay-container {
        float: right;
        position: relative;
        top: -10px;
        z-index: 1000;
        .product-video-overlay {
          .pdp-play-video {
            font-size: 13px;
            color: #054864;
            font-weight: 700;
            &:before {
              content: '';
              display: inline-block;
              width: 20px;
              height: 22px;
              vertical-align: bottom;
              background: url(../images/interface/sprite.png) no-repeat -20px -237px;
            }
            span {
              margin-left: 7px;
            }
          }
        }
      }
    }
  }
  #store-picker-enter-zip {
    .try-in-store-list-container {
      .try-in-store-list {
        padding-left: 0;
        text-align: center;
        li {
          display: inline-block;
          width: 32%;
          vertical-align: top;
          &:last-child {
            width: 27%;
            margin-left: 10px;
          }
          @include respond(small-updated) {
            width: 100%;
            margin-bottom: 0px;
          }
          .form-select {
            .field-wrapper {
              float: left;
              width: 100%;
              position: relative;
              &:after {
                border: solid black;
                border-width: 0 1px 1px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                content: " ";
                right: 11px;
                top: 15px;
                position: absolute;
              }
            }
          }
        }
        input {
          border-radius: 0px;
        }
        select {
          height: 2.4rem;
          border: solid 1px #ccc;
        }
        button {
          text-transform: capitalize;
          margin-top: 34px;
          min-width: 140px;
          max-width: 200px;
          width: 100%;
          @media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
            min-width: 100px;
            margin-left: -8px;
          }
          @media screen and (max-device-width: 480px) {
            min-width: 100px;
            margin-left: -8px;
          }
          @media screen and (max-width: 320px) {
            min-width: 90px;
            margin-left: -8px;
            margin-top: 55px;
          }
          @include respond(small-updated) {
            margin: 0px 0px 0px 75px;
          }
        }
        label {
          @include font-size(12px);
          width: auto !important;
        }
      }
      .form-row {
        display: inline-block;
        list-style-type: none;
        width: 94%;
      }
    }
  }
  .product-financing {
    margin-top: 10px;
    &.tooltip-range {
      display: block;
      margin-bottom: 15px;
    }
    .tooltip-area {
      font-size: 14px;
      font-family: $r-regular;
      font-style: unset;
      font-weight: 100;
      position: absolute;
      @include respond(large-up) {}
      .tooltip-box {
        display: none;
        position: absolute;
        bottom: 30px;
        left: 5%;
        width: 200px;
        background: $white;
        border: 1px solid #ccc;
        padding: 15px;
        z-index: 10001;
        @include respond(m-small) {
          left: 100%;
          margin: 0 0 0 -145px;
        }
        @include respond(large-up) {
          left: 100%;
          margin: 0 0 0 -145px;
        }
        &:after,
        &:before {
          top: 100%;
          left: 20%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          @include respond(m-small) {
            left: 50%;
          }
          @include respond(large-up) {
            left: 50%;
          }
        }
        &:after {
          border-color: rgba(255, 255, 255, 0);
          border-top-color: $white;
          border-width: 10px;
          margin-left: -10px;
        }
        &:before {
          border-color: rgba(204, 204, 204, 0);
          border-top-color: $very-light-gray;
          border-width: 11px;
          margin-left: -11px;
        }
        a {
          color: #0E11D6;
          text-decoration: none;
          &:hover {
            color: $crimson;
          }
        }
      }
    }
    .tooltip-opener {
      display: inline-block;
      .tooltip-price {
        display: inline-block;
        text-decoration: underline;
        &:hover {
          .tooltip-box {
            display: block;
          }
          &:after {
            position: absolute;
            background: transparent;
            bottom: 0;
            left: 100%;
            width: 70px;
            margin: 0 0 0 -70px;
            height: 150px;
            content: " ";
          }
        }
        @media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
          float: right;
        }
        #tooltip {
          display: inline-block;
          text-decoration: underline;
        }
      }
    }
  }
  #try-in-store-results {
    .try-in-store-storelist {
      @include line-height(21px);
      padding-left: 0;
      display: flex;
      min-height: 430px;
      list-style: none;
      margin-bottom: 20px;
      .slick-arrow {
        border: 0;
        background: none;
      }
      .slick-arrow.slick-next {
        right: -20px;
        @include respond(large-down) {
          right: -11px;
        }
      }
      .slick-arrow.slick-prev {
        left: -20px;
        @include respond(large-down) {
          left: -11px;
        }
      }
      li {
        @include line-height(21px);
        display: flex;
        vertical-align: top;
        margin: 0 7.5px;
        flex: 1;
        position: relative;
        padding-bottom: 4em;
        border: solid 1px #cccccc;
        min-height: 430px;
        @include respond(large-down) {
          text-align: center;
        }
        &.preferred-store {
          border: solid 1px $algae;
          background-color: rgba(86, 176, 112, 0.19);
          .select-preferred-store {
            background-color: $algae;
          }
        }
        &:last-child {
          margin-right: 0;
        }
        .store-container {
          padding: 5%;
          flex: 1;
          .store-details {
            min-height: 32%;
            margin: 0 0 20px;
            .storename {
              @include font-size(15px);
              @include respond(large-down) {
                @include font-size(17px);
              }
              font-weight:bold;
              margin-bottom: 15px;
              height: 40px;
            }
            .storeaddress {
              height: 60px;
              @include respond(large-down) {
                @include font-size(17px);
              }
            }
            .distance {
              float: right;
              margin: 15px 0 10px;
              @include respond(large-down) {
                float: none;
                @include font-size(17px);
              }
              &:before {
                content: '';
                background-image: url('../images/interface/directions.png');
                background-repeat: no-repeat;
                display: inline-block;
                height: 18px;
                width: 18px;
                background-size: 100%;
                vertical-align: middle;
                margin-right: 2px;
              }
            }
          }
          .store-hours {
            float: left;
            @include respond(large-down) {
              float: none;
              @include font-size(17px);
            }
            .hours-title {
              font-weight: bold;
            }
          }
          .hours-actual {
            padding: 0 0 10px;
          }
        }
        span {
          display: block;
        }
        label {
          width: 100%;
          margin-top: 30px;
          .availability {
            font-weight: bold;
            float: left;
            text-align: center;
            width: 90%;
            position: absolute;
            bottom: 75px;
            @include respond(large-down) {
              @include font-size(17px);
            }
            .store-available,
            .store-try {
              color: $algae;
              @media only screen and (max-width: 668px) {
                margin-bottom: -20px;
              }
              img {
                margin-right: 5px;
                margin-top: -3px;
                display: inline;
              }
            }
            .store-unavailable {
              color: $dark-gray;
              @include respond(large-down) {
                bottom: 50px;
              }
            }
          }
        }
        .select-preferred-store {
          width: 90%;
          padding: 6px 0;
          text-align: center;
          position: absolute;
          bottom: 0;
          margin-bottom: 2em;
          border-radius: 2px;
          background-color: $crimson;
          @media only screen and (max-width: 668px) {
            margin-bottom: 1em;
          }
          &.disabled {
            opacity: .24;
            cursor: initial;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          }
          span {
            @include font-size(14px);
            color: $white;
            cursor: pointer;
          }
          input {
            display: none;
          }
        }
      }
    }
    .tryinstore-save {
      letter-spacing: -0.6px;
      color: #525252;
      span {
        font-weight: bold;
      }
    }
    button[type="submit"] {
      background-color: $algae;
      float: right;
      width: 303px;
      @media screen and (max-width: 320px) {
        width: 270px;
      }
      @include respond(large-down) {
        float: none;
        margin: 0 auto;
        display: block;
      }
      text-align: center;
      color: $white;
      text-transform: capitalize;
      border-radius: 2px;
      &[disabled="disabled"] {
        opacity: .3;
      }
    }
  }
  #SetPreferredStore {
    .location-details {
      width: 100%;
      margin-bottom: 1.5em;
      color: $black;
      span {
        @include font-size(16px);
      }
      a {
        margin-left: 20px;
        color: $summer-sky;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

      /* Dimension module styling*/
      .dimension-section {

        .dimension-wrapper {

          
          #dd-variant-dropdown {
            .dd-select {
              .dd-selected {
                label {
                  display: none;
                }
              }
            }
            ul.dd-options {
              li {
                a.dd-option {
                  label {
                    display: none;
                  }
                }
              }
            }
          }
          
          .attributes-wrapper.mt-20.flat-d,
          .attributes-wrapper.mt-20.zero-gravity {
            display: none;
          }
          .attributes-wrapper.mt-20.flat-d {
            @include respond(large-down) {
              padding-bottom: 55px;
            }
            .attribute-5, .attribute-6 {
              @include respond(large-down) {
                padding-left: 15px;
              }
            }
          }
          .attributes-wrapper.mt-20 {
              padding-left: 100px;
              @include respond(large-down) {
                padding: 0 15px;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                margin-bottom: 0px;
              }
          }

          .dimension-main-containner {
            display: flex;
            picture {
              @include respond(large-down) {
                margin-left: auto;
                  margin-right: auto;
              }
              img {
                @include respond(large-up) {
                  width: 790px;
                    height: auto;
                    padding-top: 50px;
                    padding-right: 50px;
                    padding-bottom: 30px;
                }
                  height: auto;
                  @include respond(large-down) {
                    width: 100%;
                  }
              }
            }
            .feet-up-img, .flat-img, .gravity-img {display: none;}
            .adj-view {
              padding-top: 70px;
            }
          }
        }
      }
}
#pdpMain.pdp-main-ab .product-listing-1x4 h2.callout-top {
  font-family: $r-extrabold !important;
  text-transform: inherit !important;
  margin-bottom: 50px !important;
  line-height: 1;
  @include respond(large-down) {
    margin-bottom: 30px !important;
  }
}

#pdpMain.pdp-main-ab .product-detail .comfort-and-features.comfort_level_3 {
  h1 {
    margin-top: 0;
  }
}

#pdpMain.pdp-main-ab .product-detail .row-1 {
  justify-content: space-between;
  flex-grow: 1;
  padding-top: 15px;
}

#pdpMain.pdp-main-ab .product-detail .row-1 #pdp-reviews {
  position: relative;
  right: 0;
  width: 105px;
}

#pdpMain.pdp-main-ab .product-detail .row-1 .pdp-promotions .brand-name {
  min-height: 50px;
}

#pdpMain.pdp-main-ab .product-detail .row-1 .pdp-promotions .brand-and-rating img {
  width: auto;
  height: 40px;
  max-width: 120px;
}

#pdpMain.pdp-main-ab .product-detail .comfort-and-features .row-2 .row-2-right {
  top: auto;
  bottom: 18px;
}

#pdpMain.pdp-main-ab .product-detail .row-1 .pdp-promotions .promotion .promotion-callout .bold {
  color: #d63426;
  font-family: $r-extrabold !important;
  font-size: 15px;
}

#pdpMain.pdp-main-ab .product-listing-1x4 .product-tile-one .brand-and-rating .brand-name img {
  height: auto;
}

@media (max-width:1199px) {
  #pdpMain.pdp-main-ab .pdp-images #amplience-nav {
    display: none;
  }
  #pdpMain.pdp-main-ab .pdp-images {
    margin: 0 auto;
  }
  #pdpMain.pdp-main-ab .product-detail {
    margin: 0 auto 30px !important;
  }
  #pdpMain.pdp-main-ab .red-carpet-delivery-pdp {
    flex-wrap: wrap;
    height: auto;
    margin: 0 -30px;
    padding-top: 0px;
    @include respond(large-down) {
      padding-top: 30px;
    }
  }
  #pdpMain.pdp-main-ab .red-carpet-delivery-pdp .red-carpet-delivery {
    flex-basis: 100%;
    text-align: center;
    min-height: 150px;
    padding-top: 0;
  }
  #pdpMain.pdp-main-ab .red-carpet-delivery-pdp img {
    margin: 0 auto;
    max-width: 50px;
  }
  #pdpMain.pdp-main-ab .red-carpet-delivery-pdp .red-carpet-delivery .rcd-wrapper {
    display: block;
  }
  #pdpMain.pdp-main-ab .red-carpet-delivery-pdp .red-carpet-delivery .rcd-wrapper .rcd-text {
    text-align: center;
    font-size: 12px;
  }
  #pdpMain.pdp-main-ab .red-carpet-delivery-pdp .red-carpet-delivery .rcd-wrapper .rcd-heading {
    font-size: 24px;
  }
  #pdpMain.pdp-main-ab .red-carpet-delivery-pdp .feature-wrapper {
    flex-basis: 100%;
    border-width: 0;
    padding: 25px 0px;
    position: relative;
  }
  #pdpMain.pdp-main-ab .red-carpet-delivery-pdp .feature-wrapper .feature-list {
    font-size: 16px;
  }
  #pdpMain.pdp-main-ab .red-carpet-delivery-pdp .feature-wrapper .read-details-link {
    display: block;
    text-align: center;
    font-size: 15px;
  }
  #pdpMain.pdp-main-ab .red-carpet-delivery-pdp .feature-wrapper .inner-wrapper {
    max-width: 300px;
    margin: 0 auto;
  }
  #pdpMain.pdp-main-ab .product-listing h2 {
    font-size: 37px;
    font-family: $r-extrabold !important;
    text-transform: inherit !important;
    font-weight: 800;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
  }
  #pdpMain.pdp-main-ab .feature-section h1 {
    margin-bottom: 30px;
  }
  #pdpMain.pdp-main-ab .feature-section h1.reviews {
    margin-top: 0px;
    padding: 0 30px;
  }
}

#pdpMain #product-content .product-add-to-cart select {
  padding-right: 32px !important;
  padding-left: 15px !important;
  border: solid 1px #2d2926;
  height: 48px;
  font-size: 16px;
}

#pdpMain #product-content .product-add-to-cart .selector {
  &:before {
    right: 10px;
    top: 20px !important;
    border-top: 8px solid #323030;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }
  &:after {
    right: 12px;
    top: 20px !important;
    border-top: 6px solid #FFFFFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }
}

#pdpMain.pdp-main-ab .product-detail #product-content.product-content-ab .product-add-to-cart .product-variations .product-swatches .color {
  display: inline-block;
  margin-bottom: 0px;
  &.color-not-available {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 20px;
      left: -6px;
      width: 100%;
      height: 1px;
      border: 1px solid #fff;
      transform: rotate(-45deg);
      background-color: $gray;
      z-index: 100;
    }
  }
  a {
    &:focus {
      outline: none !important;
    }
  }
  img {
    height: 40px;
    width: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    border: solid 1px $dark-gray;
  }
  &.selected {
    img {
      border: 2px solid $charcoal;
      padding: 1px;
      position: relative;
      bottom: 2px;
    }
  }
}

#pdpMain #product-content .product-add-to-cart {
  .pay-over a {
    text-decoration: none;
  }
  .pay-over-link {
    text-decoration: underline !important;
    display: block;
    font-family: $r-regular;
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  #pdpMain.pdp-main-ab .product-listing-1x4 .product-tile-one .brand-and-rating .brand-name.logo-black-12-park img {
    height: 60px !important;
    width: 60px !important;
    margin-left: 35px;
  }
}

@media(min-width:768px) {
  #pdpMain.pdp-main-ab .product-listing-1x4 .product-tile-one .brand-and-rating .brand-name {
    height: 50px !important;
    padding-left: 35px;
    img {
      height: auto !important;
      margin: 0 !important;
    }
  }
}

@media only screen and (max-width: 1025px) and (min-width: 767px) {
  #pdpMain.pdp-main-ab .pdp-images #amplience-main .slick-dots {
    text-align: center;
  }
}

@media (max-width:767px) {
   #pdpMain .pdp-reviews-test .pdp-bv-reviews .bv-header  {
    border-top: 2px solid #d63426 !important;
} 
  #pdpMain.pdp-main-ab .product-listing-1x4 h2.callout-top {
    padding: 0 20%;
  }
  #pdpMain.pdp-main-ab .pdp-images {
    max-width: 100%;
  }
  #pdpMain.pdp-main-ab .product-detail #product-content.product-content-ab .product-add-to-cart {
    width: 100%;
    margin-top: 0px;
  }
  #pdpMain.pdp-main-ab .pdp-images #amplience-main .slick-dots {
    top: auto !important;
    bottom: 25px;
  }
  #pdpMain.pdp-main-ab .product-detail .omni-channel-container {
    padding: 0 10px;
  }
  #pdpMain.pdp-main-ab .product-detail .omni-channel-container .store-picker #try-in-store .storename-wrap i {
    right: 15px;
  }
  #pdpMain.pdp-main-ab .product-detail .row-1,
  #pdpMain.pdp-main-ab .product-detail .row-2 {
    padding: 0 15px;
    margin-left: 0;
    margin-right: 0;
  }
  #pdpMain.pdp-main-ab .product-detail {
    max-width: 100% !important;
    padding: 0 15px;
  }
  #pdpMain.pdp-main-ab .product-detail>section>.row {
    margin-left: 0;
    margin-right: 0;
  }
  #pdpMain.pdp-main-ab .product-detail>section>.row>.column {
    padding: 0;
  }
  #pdpMain.pdp-main-ab .product-detail .comfort-and-features {
    width: 100%;
    margin-left: 0;
  }
  #pdpMain.pdp-main-ab .product-detail .row-1 #pdp-reviews,
  #pdpMain.pdp-main-ab .product-detail .row-2 #pdp-reviews {
    right: -50px;
  }
  #pdpMain.pdp-main-ab .product-detail .comfort-and-features .h6 {
    font-size: 24px !important;
    line-height: 1.17 !important;
    margin-top: 10px;
  }
  #pdpMain.pdp-main-ab .product-detail .comfort-and-features .row-2 .row-2-right {
    position: absolute;
    right: 15px;
    bottom: 5px;
    top: auto;
  }
  #pdpMain.pdp-main-ab .product-detail #product-content.product-content-ab {
    padding: 0 15px;
    margin: 0;
  }
  #pdpMain.pdp-main-ab .product-detail #product-content.product-content-ab .pdpForm {
    width: 100%;
  }
  #pdpMain.pdp-main-ab .product-detail #product-content.product-content-ab .product-add-to-cart .product-actions-wrap {
    width: calc(100% + 30px);
    margin-left: -15px;
    height: 80px;
    .availability-web {
      line-height: 1;
      padding: 7px 0;
      .value {
        label {
          line-height: 1;
        }
        .availability-msg .in-stock-msg {
          p {
            line-height: 1;
          }
        }
      }
    }
  }
  #pdpMain.pdp-main-ab .product-detail #product-content.product-content-ab .product-add-to-cart .product-actions-wrap {
    width: calc(100% + 30px);
    line-height: 1;
    margin-left: -15px;
  }
  #pdpMain ul.pdp-tabs>li:after {
    z-index: 2;
  }
  #pdpMain.pdp-main-ab .product-listing-1x4 .product-image .thumb-link img {
    width: 100% !important;
    padding-right: 15px;
  }
  .recs-container .search-result-items .product-tile-one {
    max-width: 400px;
    margin: 0 auto;
  }
  .search-result-items .name-link {
    height: auto !important;
    margin-bottom: 5px !important;
  }
  #pdpMain.pdp-main-ab .product-listing-1x4 .product-tile-one .product-name .name-link-text {
    font-size: 21px !important;
  }
  #pdpMain.pdp-main-ab .product-listing-1x4 .product-tile-one .brand-and-rating .brand-name img {
    width: auto;
    height: 50px !important;
    padding-left: 0px;
  }
  #pdpMain.pdp-main-ab .product-listing-1x4 .clp-product-reviews,
  #pdpMain.pdp-main-ab .product-listing-1x4 .product-price {
    max-width: 400px;
    margin: 0 auto;
  }
  #pdpMain.pdp-main-ab .product-listing-1x4 .clp-product-reviews {
    margin-top: 10px;
  }
  #pdpMain.pdp-main-ab .features-wrap .slick-list .feature .feature-content-caption .feature-details p {
    display: block;
  }
  #pdpMain.pdp-main-ab .features-wrap .slick-list .feature {
    background: url(../images/wmf-pink.png) no-repeat;
    background-size: cover;
    background-position: left top;
    &:hover {
      background-color: #f1f1f2;
      color: #323030;
      -webkit-transform: translateY(0px);
      transform: translateY(0);
    }
    &.slick-current {
      background: url(../images/wmf-black.png) no-repeat;
      background-size: cover;
      background-position: left top;
      background-color: #323030;
      color: #fff;
      .feature-content-caption .feature-details {
        h3,
        p {
          color: #fff;
        }
      }
      .red-svg {
        display: none;
      }
      .white-svg {
        display: block;
      }
    }
  }
  #pdpMain.pdp-main-ab .product-detail .comfort-and-features .row-2 .row-2-left {
    width: calc(100% - 42px);
  }
  #pdpMain.pdp-main-ab .product-detail .comfort-and-features.comfort_level_3 h1 {
    margin-bottom: 20!important;
  }
  #pdpMain.pdp-main-ab .product-detail .row-1 {
    padding-bottom: 0px !important;
    padding-top: 15px;
  }
  #pdpMain.pdp-main-ab .product-detail .row-1 .pdp-promotions .brand-name {
    min-height: auto;
  }
  #pdpMain.pdp-main-ab .product-detail .row-1 #pdp-reviews {
    position: relative;
    right: 0;
  }
  #pdpMain.pdp-main-ab .product-detail #product-content.product-content-ab .product-add-to-cart .product-actions-wrap .product-actions .omni-channel-container .pdp_order_shipping .availability-web label {
    font-family: $r-regular;
  }
  #pdpMain ul.pdp-tabs-content {
    padding: 0 15px;
    .pdp-tab-title {
      font-size: 18px;
      font-weight: 600;
      line-height: 1.17;
      font-family: $r-regular;
      &.expand {
        span.arrow {
          &:before {
            content: none;
          }
          &:after {
            content: '\f107';
            font-family: FontAwesome;
            border: none;
            top: 4px;
            color: #d63426;
          }
        }
        &.open {
          span.arrow {
            transform: rotate(0deg);
            &:before {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
}

@media(max-width:399px) {
  #pdpMain.pdp-main-ab .product-listing-1x4 .product-image .thumb-link img {
    width: 100% !important;
  }
  #pdpMain.pdp-main-ab .product-listing-1x4 .product-price,
  #pdpMain.pdp-main-ab .product-listing-1x4 .clp-product-reviews {
    padding-left: 0 !important;
  }
  #pdpMain.pdp-main-ab .product-listing-1x4 .product-tile-one,
  #pdpMain.pdp-main-ab .product-listing-1x4 .product-tile-one .product-name,
  #pdpMain.pdp-main-ab .product-listing-1x4 .product-tile-one .brand-and-rating .brand-name img {
    padding-left: 0 !important;
  }
}

.out-of-stock-strike {
  text-decoration: line-through;
}

.promotion-callout {
  .bold {
    font-family: $r-regular;
    font-weight: 400;
  }
}

#pdpMain.pdp-main-ab .feature-section.pdp-faqs-wrap {
  h1 {
    margin-top: 0;
  }
}

.pdp-faqs-wrap {
  .pdp-faqs {
    max-width: 777px;
    margin: 0 auto;
    @include respond(large-down) {
      padding: 0 20px;
    }
    .ui-accordion {
      .ui-accordion-icons {
        padding: 0 0 10px;
      }
      .ui-accordion-header {
        text-decoration: none;
        color: #2d2926;
        font-size: 21px;
        font-weight: 700;
        line-height: 1.38;
        font-family: $r-regular;
        padding-right: 30px;
        &:focus {
          outline: none !important;
        }
        @include respond(large-down) {
          font-size: 18px;
          line-height: 1.61;
        }
        .faq-arrow {
          width: 20px;
          height: 20px;
          right: 0;
          position: absolute;
          display: inline-block;
          float: right;
          background: url(../images/svg-icons/faq-arrow.svg) no-repeat center center;
          background-size: 100% auto;
          bottom: 13px;
        }
        &.ui-accordion-header-active {
          .faq-arrow {
            transform: rotate(180deg);
          }
        }
      }
      .ui-accordion-content {
        font-size: 16px;
        line-height: 1.38;
        @include respond(medium) {
          padding-right: 100px;
        }
        p {
          margin-top: 0;
          margin-bottom: 16px;
          color: #2d2926;
          font-family: $r-regular;
          line-height: 1.5;
          font-weight: 400;
        }
      }
    }
    .accordion li {
      border-bottom: 1px solid $gray;
      margin-bottom: 40px;
      @include respond(large-down) {
        margin-bottom: 22px;
      }
    }
    #faq-viewmore {
      margin: 0 auto;
      display: block;
      background-color: transparent;
      color: $red;
      text-transform: none;
      font-family: $r-semibold;
      font-size: 21px;
      font-weight: 600;
      line-height: 1.38;
      text-decoration: underline;
      @include respond(large-down) {
        font-size: 18px;
        line-height: 1.61;
      }
      &.hide {
        display: none;
      }
    }
  }
}

#pdpMain.pdp-main-ab section + .feature-section.spotlight {
  @include respond(large-down) {
    h1 {
      margin: 20px 0;
    }
  }
}

.dimension-section + .feature-section.pdp-faqs-wrap {
  @include respond(large-down) {
    margin-top: 50px;
  }
}

.show-more-pdp-reviews {
  text-align: center;
  margin-top: 15px;
  button#show-more-pdp-reviews {
    min-width: 160px;
  }
}

.product-description span {
  font-family: $r-regular;
  font-weight: 500;
}

.buysafe.buysafe_seal.buysafe_date {
  background-color: #000 !important;
}

button.circle.button span {
  color: #626366;
}

.pdp-info-cards .info-card .inner-card-item .image-holder img {
    margin: 0 auto;
}

.pt_product-details #pdpMain.pdp-main-ab .product-detail .row-1 #pdp-reviews .bv_main_container_row_flex .bv_avgRating_component_container {
  display: inline !important;
  left: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  position: static !important;
  right: auto !important;
  text-align: right !important;
}

.pt_product-details #pdpMain.pdp-main-ab .product-detail .row-1 #pdp-reviews .bv_main_container_row_flex .bv_numReviews_component_container {
  display: inline !important;
  margin-right: 16px !important;
  position: static !important;
  right: auto !important;
}