table,
.item-list {
	border-bottom: 3px solid $silver;
	thead {
		tr {

			border: none;
		}
		th {
			@include attribute-title;
			background: $mirage;
			color: $white;
			padding: 5px 10px;
		}
	}
	tr {
		border: none;
		border-bottom: 1px solid $silver;
		&.headings {
			//display: none;
		}
	}
	td {
		vertical-align: top;
		padding: 20px 10px;
		& + p {
			margin-top: 0;
		}
	}
}

.section-header {
	padding: 1em;
}

.item-details .product-list-item {
	.name {
		span {
			font-size: 15px;
		}
	}
	.value {
		font-weight: 700;
	}
	.promo {
		color: $color-secondary;
	}
	.price-standard {
		color: $nobel;
		text-decoration: line-through;
	}
}
.item-availability ul,
.item-quantity-details ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
