.product-tile {
  img {
    width: 100%;
  }
}

.product-tile, .product-pricing span {
  display: inline-block !important;
}

.recs-slider {
  .thumb-link img {
    margin: 0 auto;
  }

  .product-tile-one {
    padding-bottom: 10px !important;
    border-bottom: none !important;
  }
}