@import "../dw/global";

#navigation ul.level-1 div.level-2 {
	z-index: 250;
}

.ui-dialog {
	.ui-dialog-titlebar-close span {
		width: 59px;
		height: 59px;
		text-align: center;
		line-height: 59px;
		color: #fff;
		font-size: 34px;
		position: absolute;
		top: 0;
		left: 0;
		padding: 0;
		text-indent: 0;
	}
}

.ui-widget-overlay {
	position: fixed;
	z-index: 10000;
}

.ui-dialog .ui-dialog-titlebar-close {
  span {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  }
  .ui-button-text {
    background-color: transparent;
  }
}

#zoom-box {
  right: -450px;
}