/* Account covers all acount pages - my account, gift regs, wishlists, order history, login, register */
@import "../bootstrap/variables";
@import "../dw/fonts";
@import "../bootstrap/mixins";
@import "../dw/breadcrumbs";
@import "../dw/account-all";
@import "../dw/widgets";
@import "../dw/search-grid";

.pt_gift-registry,
.pt_wish-list,
.pt_order,
.pt_account {
  #main {
    padding: 15px 0 35px 0;
    h2 {
      margin:15px 0;
    }
    .login-box-content {
      .formbuttonrow {
        display: inline-block;
      }
      a {
        font-size: 1.2em;
        text-decoration: underline;
        margin-left: 20px;
      }
    }
  }
  &.login, &.register {
    .primary-content {
      width: 100%;
      float: none;
      border-left: none;
      padding-left: 0;
      margin: 0 auto;
    }
    .label-inline {
      label { font-size: 12px; }
      input[type="checkbox"] { margin: 5px 5px 5px 0; }
    }
  }
  &.register {
    #registration {
      background: rgba(255, 255, 255, 0.5);
      padding: 40px;
      h1 { font-size: 23px; }
    }
  }
  #RegistrationForm {
    label, .form-label-text {
      width: auto;
      float: none;
      text-align: left;
      .required-indicator { display: none; }
    }
    .form-caption { margin-left: 0; }
  }
  .col-1 {
    width:59%; 
  }
  .col-2 {
    width:40%;
  }
  .page-content {
    .primary-content {
      padding-left: 0;
    }
  }
  #footer {
    margin-top:0;
  }
}

/* check delivery status */
/* check delivery status */
/* ------------------------------------- */
.checkdeliverystatus-box {
  background-color: $white;
  margin: 0;
  min-height: 372px;
  .section-header {
    background: none transparent;
    color: $blueBabyDarker;
    border-bottom: none;
    padding: 40px 40px 0;
    font: {
      size: 3em;
      style:normal;
      weight:700;
      }
  }
  .form-row.form-row-button { margin: 0; }
  .required-indicator { display: none; }
  .form-row {
  	display:inline-block;
  	margin:20px 0 10px 0;
  	span.phoneNumberError{
  		margin-left:3%;
		border-color: #d2232a;
		color: #d2232a;
  	}
  }
}
.checkdeliverystatus-box-content {
  padding: 10px 40px 20px;
  font-size: 14px;
  p { margin: 0 0 15px; }
  .flash-message-info {
      background-color: $greenNeon;
      color: $blueDarkest;
      border: none;
  }
}
.checkdeliverystatus-submitbutton{
	display:block;
}
#dwfrm_checkdeliverystatus_phoneNumber_phoneAreaCode{
	width:3em;
}
#dwfrm_checkdeliverystatus_phoneNumber_phonePrefix{
	width:3em;
}
#dwfrm_checkdeliverystatus_phoneNumber_phoneLineNumber{
	width:4em;
}

.pagination {
  ul li {
    width: 24px;
    height: 20px;
    color: white;
    background-color: $accentColor;
    border: 1px solid $accentColor;
    text-align: center;
    margin: 0 0 0 5px;
    padding: 4px 0 0 0;
    a { color: white; }
    &.current-page {
      background-color: white;
      color: $accentColor;
    }
  }
}
