@import "../bootstrap/variables";
@import "../dw/fonts";
@import "../bootstrap/mixins";

/* breadcrumbs */
@import "../dw/breadcrumbs";

/* product detail page (pdp) */
/* ------------------------------------- */
@import "../dw/pdp";

.pt_product-details {
	.product-name {
		margin-top: 10px;
	}
	#add-to-cart {
		float: left;
		margin-right: 10px;
	}
	.disclaimer {
		float: left;
	}
	.shippingPromotion {
		p {
			margin: 0;
		}
	}
	.col-1 {
		position: absolute;
		top: 0;
		bottom: 0;
	}
}

.pdp-main .disclaimer {
	float: none; display: inline-block;
}

/* size charts */
/* ------------------------------------- */
@import "../dw/sizecharts"; 