.add-to-cart-intercept-wrapper {
	padding: 0 10px;
	& > .clearfix > div:nth-last-of-type(2) {
		@include respond(medium) {
			float: left;
			width: 42.24%;
			border-right: $border;
		}
	}
	.justaddedproduct {
		padding-bottom: 15px;
		border-bottom: $border;
		.product-image {
			box-sizing: border-box;
			float: left;
			width: 43.75%;
			padding: 0 15px 0 0;
			@include respond(medium) {
				padding-top: 10px;
			}
		}
		.product-info {
			box-sizing: border-box;
			float: right;
			width: 56.25%;
			padding-right: 15px;
			@include respond(medium) {
			}
		}
		ul.product-availability-list {
			width: auto;
		}
		.product-name {
			margin-bottom: 10px;
		}
		.product-attributes {
			margin-bottom: 15px;
		}
		.label {
			font-weight: $font-wt-semibold;
		}
		.product-price {
			display: inline-block;
			margin-left: 30px;
			font-weight: $font-wt-bold;
		}
		.bonus-discount-container {
			margin-top: 15px;
			font-weight: $font-wt-semibold;
			color: $color-secondary;
			@include font-size($font-size-sm);

		}
	}
	.add-to-cart-intercept-slot {
		@include respond(large-up) {
			max-width: 299px;
		}
		padding: 20px 0;
		p {
			padding: 0;
			margin: 0;
		}
	}
	.justaddedproduct-wrapper ~ .product-recommendations {
		padding: 0;
		box-sizing: border-box;
		@include respond(medium) {
			float: right;
			width: 55.05%;
			margin-top: -60px;
		}
		ul,
		li {
			margin: 0;
			padding: 0;
			list-style: none;
			display: block;
		}
		.recommendations {
			@include respond(medium) {
				padding-left: 10px;
				border-left: $border;
				margin-left: -5%;
				margin-top: 21px;
			}
		}
		h2 {
			text-align: left;
			@include font-size(18px);
			color:$night-rider;
			@include line-height(18px); 
			margin-bottom: 4px;
			position: relative;
			z-index: 100;
			margin-top: 0;
		}
		.recommendation-item {
			padding: 20px 0;
			border-bottom: $border;
			@extend .clearfix;
			&:last-child {
				border-bottom: none;
			}
		}
		.product-image {
			box-sizing: border-box;
			float: left;
			width: 27.5%;
			padding: 0 10px 0 0;
			margin-bottom: 20px;
			@include respond(medium) {
				margin-bottom: 0;
			}
			img {
				border: $border;
				box-sizing: border-box;
				display: block;
			}
		}
		.block {
			text-align: left;
			@include respond(medium) {
				float: left;
				width: 36.25%;
				box-sizing: border-box;
			}
			&.block-left {
				padding-right: 10px;
				width: 37.25%;
			}
			&.block-right {
				clear: both;
				width: 35.25%;
				@include respond(medium) {
					clear: none;
				}
			}
			button {
				width: 100%;
			}
			.information-icon {
				display: none;
			}
		}
		.product-name {
			padding: 0;
			@include font-size(14px);
		}
		.inventory {
			display: none;
		}
		.label {
			display: none;
		}
		.attribute {
			margin-bottom: 20px;
		}
		.product-name {
			margin-top: 5px;
			a {
				//@include block-product-name;
				text-decoration: none;
			}
		}
		.product-price {
			padding: 8px 0 0 0;
			margin: 0;

		}
		.product-variations .attribute .value,
		.product-options .attribute .value {
			width: 100%;
			max-width: none;
		}
		.add-to-cart-resp {
			color: $jewel;
			font-style: italic;
			text-align: center;
			@include line-height(23px);
			display: block;
			margin-top: 2px;
		}
		.price-sales {
			color: $color-primary;
			&.price-sales-more {
				color: $color-secondary;
			}
			@include respond(large-up) {
				@include font-size(16px);
				font-weight: $font-wt-bold;
			}
		}
		.price-standard {
			color: $color-primary;
			font-weight: $font-wt-regular;
			position: relative;
			text-decoration: line-through;
			@include respond(large-up) {
				@include font-size(16px);
			}
			@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
				text-decoration: none;
				display: inline-block;
				&:after {
					top: 14px;
					border-bottom: 1px solid $color-primary;
					content: "";
					left: 0;
					margin-top: calc(0.125em / 2 * -1);
					position: absolute;
					right: 0;
					@include respond(large-up) {
						top: 12px;
					}
				}
			}
		}
		.price-tiered {
			color: $sangria;
			font-size: .6em;
			line-height: 1.5em;
		}
		.product-sales-price {
			color: $color-secondary;
			@include respond(large-up) {
				@include font-size(14px);
			}
		}
		.product-standard-price {
			@include respond(large-up) {
				@include font-size(14px);
				font-weight: $font-wt-bold;
			}
		}
		.has-sale-price {
			font-weight: $font-wt-regular;
			position: relative;
			display: inline-block !important;
			text-decoration: line-through;
			@include respond(large-up) {
				@include font-size(14px);
			}
			@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
				text-decoration: none !important;
				display: inline-block !important;
				&:after {
					top: 14px;
					border-bottom: 1px solid $color-primary;
					content: "";
					left: 0;
					margin-top: calc(0.125em / 2 * -1);
					position: absolute;
					right: 0;
					@include respond(large-up) {
						top: 12px;
					}
				}
			}
		}
	}
	.button-wrapper {
		text-align: right;
		padding-top: 20px;
		margin-top: 10px;
		border-top: $border;
		clear: both;
		@include respond(medium) {
			margin-top: 0;
		}
		a {
			width: initial;
			@include respond(medium) {
				vertical-align: middle;
				display: inline-block;
				margin-left: 32px;
				width: auto;
			}
			&.button {
				float: right;
			}
			&.continue {
				color: $color-primary;
				@include respond(medium) {
					margin-right: 1em;
				}
				@include line-height(36px);
				font-style: $font-style-italic;
				float: right;
			}
		}
	}
}

.add-to-cart-intercept-dialog {
	z-index: 100001;
	@include respond(large-only) {
		width: 98% !important;
	}
	.ui-dialog-content {
		overflow: visible;
	}
	.ui-dialog-title {
		line-height: 26px;
		margin-top: 7px;
	}
	.product-recommendations {
		display: none;
		@include respond(large-up) {
			display: block;
		}
	}
}