@import "product_delivery_zip";
@import "product_details_sidebar";

.GPDP-products {
	.home-products {
		.section-header {
			h1 {text-align: center;}
			p {
				padding:0 20px;
				color:$t-dove-gray;
				line-height: 1.42;
			}
		}
		.products-list {
			.product {
				.btn-default {
					width: 191px;
    			height: 51px;
				}
				p {
					line-height: 1.39;
				}
			}
			&.mobile {
				padding-bottom: 0;
				margin-top:0;
				.product {
					padding:30px 0;
					&.soft {
						padding-top:0;
					}
					&.medium {
						background-color: #f0f0f0;
					}
					p {
						margin:20px 0 30px;
					}
				}
			}
		}
		.container {
			padding:0;
		}
		@include respond(medium) {
			.container {
				padding:0 15px;
			}
		}
		
	}

}
.GPDP-take-our-quiz {
	.trail-section-bg {
		img {
			width: auto;
		    height: 100%;
		    max-width: none;
		    transform: translateX(-25%);
			
			@include respond(medium) {
				width: 100%;
				height: auto;
				max-width: 100%;
				transform: none;	
			}
		}
		.caption {
			p {
				br {
					display: none;
					@include respond(medium) {					
						display: block;
					}
				}				
			}
		}
	}
}

.GPDP-setup-is-easy {
	margin-bottom:40px;
	color:$t-mine-shaft;
	h2 {
		color: $t-orange;
		font-size: 24px;
		line-height: 130%;
		@include respond(medium) {
			color: $t-amaranth;
			font-size: 29px;
			line-height: inherit;
		}
	}
	.steps-wrap {
		overflow: hidden;
		.step {
			width: 50%;
			float: left;
			padding-left:0px;
			padding-right: 0px;
    	text-align: center;
  		&.step3{
  			clear:both;
  		}
  		@include respond(medium) {
  		width: 25%;
			float: left;
			padding-left:15px;
			padding-right: 15px;
			&.step3{
    			clear:inherit;
    		}
  		}
  		@include respond(x-large) {
  			padding-left:42px;
				padding-right: 42px;
  		}
			.img-holder {
				@include v-align(180px, bottom);
				@include respond(x-large) {
					@include v-align(240px, bottom);
				}
				margin: 0 auto;
				width: 90%;
			}
			img {
				display: inline-block;
				vertical-align: bottom;
				white-space: normal;
			}
			p {
				line-height: 1.39;
			}
			@include respond(large-down) {
				.img-holder {
					@include v-align(130px, bottom);
				}
  			&.step1, &.step3{
  				padding-right: 15px;
  			}
  			&.step2, &.step4{
  				padding-left: 15px;
  			}
  		}
  		@include respond(m-small) {
				.img-holder {
					@include v-align(180px, bottom);
				}
  		}
		}
		.step1n2-content, 
		.step3n4-content {
			display: block;
			clear: both;
			padding:15px 0 35px;
			width: 100%;
			p {
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
	.desktop{
		display: none !important;
		@include respond(medium) {
			display: block !important;
		}
	}
	.mobile {
		display: block !important;
		@include respond(medium) {
			display: none !important;
		}
	}
}
.GPDP-top-faqs {
	&.faq-section{
		background: $burgundy;

		.accordion {
			li {
				border-bottom: 1px solid #c490a5;
				}
			}

		.btn-default{
			color:$burgundy;

			&:hover,
			&:focus {
				background-color:$bg-burgundy-hover;
				color: $t-car-pink;
			}
			&:after {
				background: $bg-burgundy-hover;
			}
		}
	}
}

.GPDP-services {
	background-color:$t-light-mGray;
	padding:20px 25px 0;
	@include respond(x-large) {
		padding:20px 25px 25px;
	}
	overflow: hidden;
	.service {
		float: none;
		clear:both;
		overflow: hidden;
		width: 100%;
		padding:0 25px;
		margin-bottom: 30px;
		@include respond(medium) {
			float: left;
			clear:inherit;
			width: 50%;
			overflow: hidden;
			margin-bottom: 30px;
		}
		@include respond(x-large) {
			float: left;
			clear:inherit;
			width: 25%;
			overflow: visible;
			margin-bottom: 0;
		}
		.service-image {
			display: block;
			float: left;
			width: 75px;
			height: 90px;
			vertical-align: top;
			img {
				width: 100%;
				vertical-align: top;
			}
		}
		.service-content {
			padding-left:95px;
			h3 {
				color: $t-amaranth;
				font-weight: $font-wt-bold;
				margin-top: 0;
				margin-bottom: 5px;

			}
			p {
				color: $t-hover-grey;
				font-size: 14px;
				margin-top: 0;
			}
		}
	}
}

.GPDP2-services {
	background-color:$t-light-mGray;
	padding:20px 25px 0;
	@include respond(x-large) {
		padding:20px 25px 25px;
	}
	overflow: hidden;
	.service {
		float: none;
		clear:both;
		overflow: hidden;
		width: 100%;
		padding:0 25px;
		margin-bottom: 30px;
		@include respond(medium) {
			float: left;
			clear:inherit;
			width: 50%;
			overflow: hidden;
			margin-bottom: 30px;
		}
		@include respond(x-large) {
			float: left;
			clear:inherit;
			width: 25%;
			overflow: visible;
			margin-bottom: 0;
		}
		.service-image {
			display: block;
			float: left;
			width: 75px;
			height: 90px;
			vertical-align: top;
			@include respond(x-large) {
				vertical-align: middle;
				@include v-align(90px, middle, after);
			}
			@media only screen and (min-width: 1320px) {
				@include v-align(77px, middle, after);
			}
			img {
				width: 100%;
				display: inline-block;
				vertical-align: top;
				@include respond(x-large) {
					vertical-align: middle;
				}
			}
		}
		.service-content {
			padding-left:95px;
			h3 {
				color: $t-amaranth;
				font-weight: $font-wt-bold;
				margin-top: 0;
				margin-bottom: 5px;
				font-size: 18px;
				line-height: normal;
			}
			p {
				color: $t-hover-grey;
				font-size: 14px;
				margin-top: 0;
				line-height: 1.36;
			}
		}
	}
}
.GPDP-comparison-table {
	.desktop{
		display: none !important;
		@include respond(medium) {
			display: block !important;
		}
	}
	.mobile {
		display: block !important;
		@include respond(medium) {
			display: none !important;
		}
	}
	.cols-wrap {
		margin-left: 0px;
		margin-right: 0px;
		@include respond(medium) {
			margin-left: -15px;
			margin-right: -15px;
		}
		@include respond(x-large) {
			margin-left: -25px;
			margin-right: -25px;
		}
	}
	.col {
		width: 33.33%;
		float: left;
		padding-left:25px;
		padding-right:25px;
		@include respond(medium) {
			padding-left:15px;
			padding-right:15px;
		}
		@include respond(x-large) {
			padding-left:25px;
			padding-right:25px;
		}
	}
	.row {
		overflow: hidden;
		clear:both;
	}
	.section-title {
		background-color:$white;
		overflow: hidden;
		&.comparison-section-title.fixed {
			background-color:$white;
			z-index: 99;
			border-bottom: 1px solid $very-light-gray;
		}
		h3 {
			font-size: 29px;
			font-weight: $font-wt-bold;
			@include respond(medium) {
				font-size: 25px;
			}
			@include respond(x-large) {
				font-size: 29px;
			}
		}
		.soft-title h3 {color:$t-orange;}
		.medium-title h3 {color:$magenta;}
		.firm-title h3 {color:$t-disco;}
		.btn-default {
			float:right;
			width: 100px;
			height: 30px;
			border-radius: 19px;
			background-color: $white;
			font-size: 14px;
			font-weight: $font-wt-semibold;
			min-width: 0;
		    line-height: 30px;
		    padding: 0;
		    @include respond(medium) {
				width: 60px;
			}
			@include respond(x-large) {
				width: 100px;
			}
			&.btn-soft {
				border: 1px solid $t-orange;
				color: $t-orange;
				&:hover{
					background: $t-orange;
					color: $t-dolly;
					border-color: $t-orange;
				}
				&:after {
					background: $t-orange;
				}
			}
			&.btn-medium {
				border: 1px solid $magenta;
				color: $magenta;
				&:hover{
					background: $magenta;
					color: $t-text-rose;
					border-color: $magenta;
				}
				&:after {
					background: $magenta;
				}
			}
			&.btn-firm {
				border: 1px solid $t-disco;
				color: $t-disco;
				&:hover{
					background: $t-disco;
					color: $t-car-pink;
					border-color: $t-disco;
				}
				&:after {
					background: $t-disco;
				}
			}
		}
	}
	.comparison-list {
		.compare-text {
			padding: 9px 0;
		    vertical-align: top;
		    display: block;
		    padding-left:38px;
    		line-height: 130%;
		}
		.icon {
			display: block;
			float: left;
			width: 33px;
			height: 35px;
			background:url(../images/pdp-general-icons.png) no-repeat 0 0;
			margin-right: 5px;
		}
		.icon-side-sleeper {
			background-position:0 0;
		}
		.icon-stomach-sleeper {
			background-position:0 -35px;
		}
		.icon-back-sleeper {
			background-position:0 -70px;
		}
		.icon-soft-squish {
			background-position:0 -105px;
		}
		.icon-medium-squish {
			background-position:0 -490px;
		}
		.icon-firm-squish {
			background-position:0 -525px;
		}
		.icon-flips {
			background-position:0 -140px;
		}
		.icon-couple-side {
			background-position:0 -175px;
		}
		.icon-couple-different {
			background-position:0 -210px;
		}
		.icon-couple-back {
			background-position:0 -245px;
		}
		.icon-woven {
			background-position:0 -280px;
		}
		.icon-layers {
			background-position:0 -315px;
		}
		.icon-snowflake {
			background-position:0 -350px;
		}
		.icon-heat {
			background-position:0 -385px;
		}
		.icon-leaf {
			background-position:0 -420px;
		}
		.icon-usa {
			background-position:0 -455px;
		}

		ul {
			padding:0;
			margin:0;
			list-style: none;
			li {
				line-height: 130%;
				overflow: hidden;
				display: block;
				width: 100%;
				list-style: none;
				font-size: 14px;
				color:$t-mine-shaft;
				&.list-title {
					h4 {
						margin:17px 0;
						padding-left:38px;
						color:$t-mine-shaft;
						font-weight: $font-wt-bold;
						font-size: $font-size-regular;
					}
				}
				&:hover {
					background-color: #FFFFCC;
				}
				&.no-hover {
					&:hover {
						background-color: $white;
	  					box-shadow: none;
					}
				}
			}
		}
		&.unique-foam-layers {		
			ul {
				li {
					.col {
						padding-left:38px;
						h4 {
							padding-left:0;
						}
						&.small-border {
						   
						    &:after {
						    	 content: "";
							    display: block;
							    width: 36px;
							    border-top: 1px solid $t-gray3;
							    margin: 13px auto;
						    }
						}						
					}
					&.text-heighlight {
						margin-bottom: 40px;
						.soft-heighlight {
							color: $t-orange;
						}
						.medium-heighlight {
							color: $magenta;
						}
						.firm-heighlight {
							color: $t-disco;
						}
					}
				}
			}	
		}
	}
	.foam-reviews {
		padding:25px 0;
		clear: both;
		overflow: hidden;
		background-color:$t-light-grey;
		.col {
			padding-left:40px;
			text-align: center;
		}
		p {
			color:$t-mine-shaft;
			font-size: 14px;
		}
		a {
			text-decoration: none;
			font-size: 16px;
			.fa {
				position: relative;
				top:2px;
			}
		}
		.soft-reviews {
			a {
				color: $t-orange;
			}
		}
		.medium-reviews {
			a {
				color: $magenta;
			}
		}
		.firm-reviews {
			a {
				color: $t-disco;
			}
		}
		.review {
			text-align: center;
			padding:20px 50px;
		}
		&.slick-slider {
			.slick-slide {
				img {
					display: inline-block;
				}
			}
			.slick-dots {
			margin-top: 0;
			li {
				display: inline-block;
			    height: 13px;
			    width: 13px;
			    margin: 0 3px;
			    background: #ffffff;
			    border: 2px solid $t-border-gray2;
			    border-radius: 6px;
			    box-sizing: border-box;
			    &.slick-active {
			    	background-color:$t-border-gray2;
			    	button {
					    background: $t-border-gray2;
					}
			    }
			}
			button {
			    height: 7px;
			    width: 7px;
			    border: none;
			    background: #ffffff;
			    padding: 0;
			    margin: 0;
			    overflow: hidden;
			    text-indent: -9999px;
			    box-sizing: border-box;
			    margin-top: 2px;
			    border-radius: 3px;
			}
		}
	}
	}
}

.GPDP2-comparison-table {
	.section-head {
		h2 {
			font-size: 24px;
			line-height: 1.42;
			@include respond(medium) {
				font-size: 29px;
			}
		}
		p {
			font-size: 14px;
			color:$t-mine-shaft;
			@include respond(medium) {
				font-size: 18px;
			}
		}
	}
	
	.desktop{
		display: none !important;
		@include respond(medium) {
			display: block !important;
		}
	}
	.mobile {
		display: block !important;
		@include respond(medium) {
			display: none !important;
		}
	}
	.cols-wrap {

	}
	.col {
		width: 25.00%;
		float: left;
		padding:35px 15px;
		text-align: center;
		font-size: 18px;
		color:$t-mine-shaft;
		position: relative;
		&.three-col-merged {
			width: 75%;
			@include v-align(100%, middle, before);
			@extend %full-width-height;
			&:before{
				min-height: inherit;
				height: 100%;
			}
			position: relative;
			p {
				margin-bottom: 0;
			}
		}
		&.row-caption {
			color:$t-sand;
			font-size: 22px;
			font-weight: $font-wt-bold;
			position: relative;
			line-height: 1.2;
			@include respond(x-large) {
				font-size: 29px;
			}
			@include v-align(100%, middle, before);
			@extend %full-width-height;
			text-align: left;
			&:before{
				min-height: inherit;
				height: 100%;
			}
			.caption-text {
				display: inline;				
			}
			sup {
				font-size: 50%;
				top: -0.7em;
			}
		}
		.price-text {
			display: inline-block;
			text-align: left;
			-moz-column-count: 3;
	    -moz-column-gap: 0px;
	    -webkit-column-count: 3;
	    -webkit-column-gap: 0px;
	    column-count: 3;
	    column-gap: 0px;
	    white-space: nowrap;
	    width: 100%;
	    padding: 0;
	    font-size: 17px;
	    @include respond(x-large) {
				-moz-column-count: 3;
		    -moz-column-gap: 20px;
		    -webkit-column-count: 3;
		    -webkit-column-gap: 20px;
		    column-count: 3;
		    column-gap: 20px;
		    width: auto;
		    font-size: 18px;
			}
		}
		&.soft {color:$t-orange;}
		&.medium {color:$magenta;}
		&.firm {color:$t-disco;}
	}
	.row {
		overflow: hidden;
		clear:both;
	}
	.section-title {
		background-color:$white;
		overflow: hidden;
		&.comparison-section-title.fixed {
			background-color:$white;
			z-index: 99;
			border-bottom: 1px solid $very-light-gray;
		}
		h3 {
			font-size: 29px;
			font-weight: $font-wt-bold;
			@include respond(medium) {
				font-size: 25px;
			}
			@include respond(x-large) {
				font-size: 29px;
			}
			img {
				margin-bottom: 15px;
				display: block;
			}
		}
		.soft-title h3 {color:$t-orange;}
		.medium-title h3 {color:$magenta;}
		.firm-title h3 {color:$t-disco;}
		.btn-default {
			float:right;
			width: 100px;
			height: 30px;
			border-radius: 19px;
			background-color: $white;
			font-size: 14px;
			font-weight: $font-wt-semibold;
			min-width: 0;
		    line-height: 30px;
		    padding: 0;
		    @include respond(medium) {
				width: 60px;
			}
			@include respond(x-large) {
				width: 100px;
			}
			&.btn-soft {
				border: 1px solid $t-orange;
				color: $t-orange;
				&:hover{
					background: $t-orange;
					color: $t-dolly;
					border-color: $t-orange;
				}
				&:after {
					background: $t-orange;
				}
			}
			&.btn-medium {
				border: 1px solid $magenta;
				color: $magenta;
				&:hover{
					background: $magenta;
					color: $t-text-rose;
					border-color: $magenta;
				}
				&:after {
					background: $magenta;
				}
			}
			&.btn-firm {
				border: 1px solid $t-disco;
				color: $t-disco;
				&:hover{
					background: $t-disco;
					color: $t-car-pink;
					border-color: $t-disco;
				}
				&:after {
					background: $t-disco;
				}
			}
		}
	}
	.gpdp2-comparison-list-wrap {
		.compare-text {
			padding: 9px 0;
		    vertical-align: top;
		    display: block;
		    padding-left:38px;
    		line-height: 130%;
		}
		ul.gpdp2-comparison-list {
			padding:0;
			margin:0;
			list-style: none;
			li {
				line-height: 130%;
				overflow: hidden;
				display: block;
				width: 100%;
				list-style: none;
				&:nth-child(odd) {
					background-color: $t-light-mGray;
				}
				.col {
					p {
						margin-top: 0;
					}
				}
				.cols-wrap {
					display: flex;
				}
			}
			ul.price-text li {
		    	line-height: 1.42;
		    	background-color: $white;
		    	.period {
		    		display: inline-block;
				    top: -5px;
				    position: relative;
				    vertical-align: middle;
				}
				
				.price-standard{
					position: relative;

					&:after{
						content: " ";
						width: 100%;
						border-bottom: 3px solid $magenta;
						height: 1px;
						display: block;
						position: absolute;
						top: 40%;
						left: 0;
						opacity: 0.75;
					}
				}
			}
		}
		&.unique-foam-layers {		
			ul {
				li {
					.col {
						padding-left:38px;
						h4 {
							padding-left:0;
						}
						&.small-border {
						   
						    &:after {
						    	 content: "";
							    display: block;
							    width: 36px;
							    border-top: 1px solid $t-gray3;
							    margin: 13px auto;
						    }
						}						
					}
					&.text-heighlight {
						margin-bottom: 40px;
						.soft-heighlight {
							color: $t-orange;
						}
						.medium-heighlight {
							color: $magenta;
						}
						.firm-heighlight {
							color: $t-disco;
						}
					}
				}
			}	
		}
	}
	.foam-reviews {
		padding-bottom: 25px;
		@include respond(medium) {
			padding-bottom: 0;
		}
		.cols-wrap {
			display: flex;
		}
		clear: both;
		overflow: hidden;
		background-color:$t-light-grey;
		.col {
			text-align: center;
			&.row-caption {
				color:$t-sand;
				font-size: 22px;
				font-weight: $font-wt-bold;
				position: relative;
				line-height: 1.2;
				@include respond(x-large) {
					font-size: 29px;
				}
				@include v-align(100%, middle, before);
				@extend %full-width-height;
				text-align: left;
				&:before{
					min-height: inherit;
					height: 100%;
				}
				.caption-text {
					display: inline;				
				}
			}
		}
		p {
			color:$t-mine-shaft;
			font-size: 14px;
		}
		a {
			text-decoration: none;
			font-size: 16px;
			font-weight: $font-wt-semibold;
			.fa {
				position: relative;
		    top: 0px;
		    font-size: 12px;
			}
		}
		.soft-reviews {
			padding-bottom: 70px;
			a {
				color: $t-orange;
			}
		}
		.medium-reviews {
			padding-bottom: 70px;
			a {
				color: $magenta;
			}
		}
		.firm-reviews {
			padding-bottom: 70px;
			a {
				color: $t-disco;
			}
		}
		.more-reviews {
			@include respond(medium) {
				position: absolute;
			    bottom: 25px;
			    left: 50%;
			    transform: translateX(-50%);
			    white-space: normal;
	    		width: 80%;
			}
			@include respond(large) {
				white-space: nowrap;
				width: auto;
			}
		    
		}
		.review {
			text-align: center;
			padding:20px 50px;
		}
		&.slick-slider {
			.slick-slide {
				img {
					display: inline-block;
				}
			}
			.slick-dots {
			margin-top: 0;
			li {
				display: inline-block;
			    height: 13px;
			    width: 13px;
			    margin: 0 3px;
			    background: #ffffff;
			    border: 2px solid $t-border-gray2;
			    border-radius: 6px;
			    box-sizing: border-box;
			    &.slick-active {
			    	background-color:$t-border-gray2;
			    	button {
					    background: $t-border-gray2;
					}
			    }
			}
			button {
			    height: 7px;
			    width: 7px;
			    border: none;
			    background: #ffffff;
			    padding: 0;
			    margin: 0;
			    overflow: hidden;
			    text-indent: -9999px;
			    box-sizing: border-box;
			    margin-top: 2px;
			    border-radius: 3px;
			}
		}
	}
	}
}
.padding-zero {
	padding:0 !important;
}

.mobile-comparison-list {
	margin-left: -15px;
    width: calc(100% + 30px);
	/*.center .slick-center h3 {
	    -moz-transform: scale(1.08);
	    -ms-transform: scale(1.08);
	    -o-transform: scale(1.08);
	    -webkit-transform: scale(1.08);
	    color: #e67e22;
	    opacity: 1;
	    transform: scale(1.08);
	}
	.center h3 {
	    opacity: 0.8;
	    transition: all 300ms ease;
	}
	h3 {
	    background: #fff;
	    color: #3498db;
	    font-size: 36px;
	    line-height: 100px;
	    margin: 10px;
	    padding: 2%;
	    position: relative;
	    text-align: center;
	}*/
	&.slick-initialized {
		.slick-slide {
			padding: 0 5px;
		}
	}
	.slide {
		padding:0 10px;
		background-color:$t-light-grey;
		min-height: 260px;
		h3 {
			font-size: 29px;
			font-weight: $font-wt-bold;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		ul {
			padding:0;
			margin:0;
			list-style: none;
			li {
				overflow: hidden;
				display: block;
				width: 100%;
				list-style: none;
				font-size: 14px;
				color:$t-mine-shaft;
				.compare-text {
					padding: 9px 0;
				    vertical-align: top;
				    display: block;
				    padding-left:38px;
				    line-height: 130%;
				}
				.icon {
					display: block;
					float: left;
					width: 33px;
					height: 35px;
					background:url(../images/pdp-general-icons.png) no-repeat 0 0;
					margin-right: 5px;
				}
				.icon-side-sleeper {
					background-position:0 0;
				}
				.icon-stomach-sleeper {
					background-position:0 -35px;
				}
				.icon-back-sleeper {
					background-position:0 -70px;
				}
				.icon-soft-squish {
					background-position:0 -105px;
				}
				.icon-medium-squish {
					background-position:0 -490px;
				}
				.icon-firm-squish {
					background-position:0 -525px;
				}
				.icon-flips {
					background-position:0 -140px;
				}
				.icon-couple-side {
					background-position:0 -175px;
				}
				.icon-couple-different {
					background-position:0 -210px;
				}
				.icon-couple-back {
					background-position:0 -245px;
				}
			}
		}
		&.tulo-soft-slide {
			border-top:4px solid $t-orange;
			h3 {
				color: $t-orange;
			}
		}
		&.tulo-medium-slide {
			border-top:4px solid $magenta;
			h3 {
				color: $magenta;
			}
		}
		&.tulo-firm-slide {
			border-top:4px solid $t-disco;
			h3 {
				color: $t-disco;
			}
		}
	}
	&.slick-slider {
		.slick-dots {
			margin-top: 22px;
			li {
				display: inline-block;
			    height: 13px;
			    width: 13px;
			    margin: 0 3px;
			    background: #ffffff;
			    border: 2px solid $magenta;
			    border-radius: 6px;
			    box-sizing: border-box;
			    &.slick-active {
			    	background-color:$magenta;
			    	button {
					    background: $magenta;
					}
			    }
			}
			button {
			    height: 7px;
			    width: 7px;
			    border: none;
			    background: #ffffff;
			    padding: 0;
			    margin: 0;
			    overflow: hidden;
			    text-indent: -9999px;
			    box-sizing: border-box;
			    margin-top: 2px;
			    border-radius: 3px;
			}
		}
	}
}

.GPDP2-mobile-comparison-list {
	margin-left: -15px;
	margin-top: 30px;
    width: calc(100% + 30px);
	&.slick-initialized {
		.slick-track {
			display: flex;
    		flex-wrap: nowrap;
		}
		.slick-slide {
			padding: 0 5px;
		    float: none;
		    display: flex;
		    height: auto;
		    align-items: center;
		    justify-content: center;
		    > div {
		    	height: 100%;
    			width: 100%;
		    }
		}
	}
	.slide {
		padding:0 10px;
		text-align: center;
		height: 100%;
		h3 {
			font-size: 18px;
			font-weight: $font-wt-bold;
			margin-top: 15px;
			margin-bottom: 10px;
			img {
				display:inline-block;
				margin-bottom: 10px; 
				margin-right: 55px;
			}
		}
		p {
			margin-top: 0;
			margin-bottom: 10px;
			font-size: 16px;
		}
		ul {
			padding:0;
			margin:0;
			list-style: none;
			li {
				overflow: hidden;
				display: block;
				width: 100%;
				list-style: none;
				font-size: 14px;
				color:$t-mine-shaft;
				.compare-text {
					padding: 9px 0;
				    vertical-align: top;
				    display: block;
				    padding-left:38px;
				    line-height: 130%;
				}								
			}
		}
		&.tulo-soft-slide {
			border:3px solid $t-orange;
			h3, p {
				color: $t-orange;
			}
		}
		&.tulo-medium-slide {
			border:3px solid $magenta;
			h3, p {
				color: $magenta;
			}
		}
		&.tulo-firm-slide {
			border:3px solid $t-disco;
			h3, p {
				color: $t-disco;
			}
		}
	}
	&.slick-slider {
		.slick-dots {
			margin-top: 16px;
			li {
				display: inline-block;
			    height: 13px;
			    width: 13px;
			    margin: 0 3px;
			    background: #ffffff;
			    border: 2px solid $t-border-gray2;
			    border-radius: 6px;
			    box-sizing: border-box;
			    &.slick-active {
			    	background-color:$t-border-gray2;
			    	button {
					    background: $t-border-gray2;
					}
			    }
			}
			button {
			    height: 7px;
			    width: 7px;
			    border: none;
			    background: #ffffff;
			    padding: 0;
			    margin: 0;
			    overflow: hidden;
			    text-indent: -9999px;
			    box-sizing: border-box;
			    margin-top: 2px;
			    border-radius: 3px;
			}
		}
	}
}

.mobile-construction-list {
	margin-left: -15px;
    width: calc(100% + 30px);
	p {
		font-size: 14px;
		color: $t-mine-shaft;
	}
	h3 {
		font-size: 18px;
		font-weight: $font-wt-semibold;
		text-align: center;
		line-height: 1.39;
		color: $t-mine-shaft;
		margin-bottom: 18px;
		margin-top: 18px;
	}

	ul {
		padding:0;
		margin: 0 20px;
		list-style: none;
		li {
			overflow: hidden;
			display: block;
			width: 100%;
			list-style: none;
			font-size: 14px;
			color:$t-mine-shaft;
			.compare-text {
				padding: 9px 0;
			    vertical-align: top;
			    display: block;
			    padding-left:38px;
			    line-height: 130%;
			}
			.icon {
				display: block;
				float: left;
				width: 33px;
				height: 35px;
				background:url(../images/pdp-general-icons.png) no-repeat 0 0;
				margin-right: 5px;
			}		
			.icon-woven {
				background-position:0 -280px;
			}
			.icon-layers {
				background-position:0 -315px;
			}
			.icon-snowflake {
				background-position:0 -350px;
			}
			.icon-heat {
				background-position:0 -385px;
			}
			.icon-leaf {
				background-position:0 -420px;
			}
			.icon-usa {
				background-position:0 -455px;
			}
		}
	}
	.mobile-construction-list-inner {
		background-color:$t-light-grey;
		border-top:4px solid $magenta;
		padding:10px;
		position:relative;
		&:before {
			position: absolute;
			content: "";
			left: 0;
			top: -4px;
			width: 33%;
			border-top:4px solid $t-orange;
		}
		&:after {
			position: absolute;
			content: "";
			right: 0;
			top: -4px;
			width: 33%;
			border-top:4px solid $t-disco;
		}
	}
	
}

.GPDP2-mobile-construction-list {
	margin-top: 15px;
	.mobile-construction-list-inner {
		ul {
			padding:0;
			margin: 0;
			list-style: none;
			li {
				padding: 15px;
				overflow: hidden;
				display: block;
				width: 100%;
				list-style: none;	
				text-align: center;
				h3 {
					font-size: $font-size-regular;
					font-weight: $font-wt-bold;
					text-align: center;
					line-height: 1.39;
					color: $t-sand;
					margin-bottom: 10px;
					margin-top: 0;
					sup {
						font-size: 65%;
				    top: -0.5em;
				    left: -0.3em;
					}
				}					
				p {
					font-size: 16px;
					color: $t-mine-shaft;
					margin-top: 0;
					margin-bottom: 15px;
				}
				.foam-checks {
					img {
						display: inline-block;
						vertical-align: middle;
						margin: 0 15px;
						max-width: 30px;
					}
				}
				&:nth-child(even) {
					background-color: $t-light-mGray;
				}
				img {
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
	}



	
	
	
}
.mobile-foam-layers-list {
	margin-left: -15px;
    width: calc(100% + 30px);
	p {
		font-size: 14px;
		color: $t-mine-shaft;
	}
	h3 {
		font-size: 18px;
		font-weight: $font-wt-semibold;
		text-align: center;
		line-height: 1.39;
		color: $t-mine-shaft;
		margin-bottom: 18px;
		margin-top: 18px;
	}

	ul {
		padding:0;
		margin: 0 20px;
		list-style: none;
		li {
			overflow: hidden;
			display: block;
			width: 100%;
			list-style: none;
			font-size: 14px;
			color:$t-mine-shaft;
			padding:0 15px;
			text-align: center;
			.small-border {			   
			    &:after {
			    	 content: "";
				    display: block;
				    width: 36px;
				    border-top: 1px solid $t-gray3;
				    margin: 13px auto;
			    }
			}						
		}
	}	
	.mobile-foam-layers-list-inner {
		background-color:$white;
		border-top:4px solid $magenta;
		padding:10px 10px 30px;
		position:relative;
		&:before {
			position: absolute;
			content: "";
			left: 0;
			top: -4px;
			width: 33%;
			border-top:4px solid $t-orange;
		}
		&:after {
			position: absolute;
			content: "";
			right: 0;
			top: -4px;
			width: 33%;
			border-top:4px solid $t-disco;
		}
	}
	
}
.height-50{
	height:50px;
}
.mt-5 {
	margin-top:5px !important;
}

.GPDP-frame-info {
	
	&.frame-info-area {
		.container {
			padding-top: 35px;
    		padding-bottom: 35px;
			@include respond(medium) {
				padding-top: 75px;
    			padding-bottom: 75px;
			}
			.heighlight-points {
				text-align: center;
				@include respond(medium) {
					text-align: left;
				}
			}
			ul {
				display: inline-block;
				text-align: left;
				@include respond(medium) {
					display: block;
					text-align: left;
				}
				li {
					padding-bottom: 0;
					font-size: 14px;
					i {
						font-size: 18px;
						position: relative;
    					top: 2px;
    					@include respond(medium) {
    						font-size: 22px;
    						position: relative;
    						top: 0;
    					}
    				&.icon-heart {
						font-size: 32px;
					    left: -4px;
					    top: 13px;
					    position: relative;
					    height: 22px;
					    @include respond(medium) {
					    	font-size: 36px;
    						position: relative;
    						top: 12px;
    					}
					}
					}
					@include respond(medium) {
						padding-bottom: 18px;
						font-size: 22px;
					}
					&.heart-row-wrap {
						vertical-align: middle;
    					height: 45px;
    					margin-top: -5px;
						@include respond(medium) {
							height: auto;
    					margin-top: -10px;
						}
    					   
					}
				}
			}
		}
	}
}

.GPDP-products2 .home-products .products-list .product {
	p {
		@include respond(x-large) {
			padding: 0px 55px;
		}
	}
}