.bv_main_container .bv-off-screen{
	color:#626366 !important;
}
.pt_product-search-result .primary-content h1.content-header {
	padding-left: 15px;
}

.pt_content-search-result,
.pt_product-search-noresult {
	.primary-content {
		>h1,
		>h2,
		>p {
			margin: 0;
			padding: .1em 1%;
		}
		.pagination {
			float: none;
			padding: .1em 1%;
		}
	}
}


.category-main-banner img {
	max-width: 100%;
}

.no-hits-search-term,
.no-hits-search-term-suggest {
	color: $color-secondary;
	text-transform: uppercase;
	@include font-semibold();
}

.search-result-bookmarks {
	margin: 15px;
	.first {
		border-right: 1px solid $nobel;
		padding-right: 5px;
	}
}

.search-result-content {
	margin-top: 20px;
	@include respond(large-up) {
		margin-top: 0;
	}
}

.search-result-content {
	&.wide-tiles {
		.product-name-long {
			left: 0px;
		}
	}
}

.search-promo {
	padding: 20px;
}

#results-content {
	background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;
	padding-top: 30px;
}

.folder-content-list {
	align-items: stretch;
	clear: both;
	display: flex;
	flex-wrap: wrap;
	padding: .5em 1%;
	li {
		background-color: $white-smoke;
		border: 1px solid $very-light-gray;
		flex-basis: 100%;
		flex-grow: 1;
		list-style-type: none;
		margin: .25rem;
		padding: 1rem;
		@media screen and (min-width: 480px) {
			flex-basis: 40%;
		}
	}
	p {
		line-height: 1.1rem;
	}
	.content-title {
		display: block;
		font-size: 1.2em;
	}
	.readmore {
		font-style: italic;
		padding-left: .3rem;
	}
}

.no-results {
	margin: 0 auto;
	overflow: hidden;
	padding: 20px;
	position: relative;
  text-align: center;
	width: 366px;
	@include respond(large-down) {
		width: auto;
	}
}

h5.no-results__title {
	color: #1b2125;
	font-family: $r-regular;
	font-size: 24px;
	font-stretch: normal;
	font-style: normal;
	font-weight: 600;
	height: auto;
	letter-spacing: normal;
	line-height: normal;
	margin: 9px 0 0;
}

p.no-results__para {
	color: #1b2125;
  font-family: $r-regular;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
	margin: 8px 0;
	padding: 0;
}

.filters-title-and-clear {
	list-style-type: none;
}

.clear-all-filters > span {
	color: #d63426;
	margin-top: 14px;
	text-decoration: underline;
}

button.no-results__button {
	border-radius: 3px;
	display: block;
	margin: 28px auto 10px;
}

a.no-results__href {
	color: #d63426;
	font-size: 12px;
	text-decoration: underline;
	vertical-align: middle;
	margin-left: 6px;
	line-height: 1;
	list-style-type: none;

	&:hover {
		text-decoration: none;
	}
}

.no-results-filters {
	border-bottom: 2px solid #d63426 !important;
}

.no-results-filters .filters-title-and-clear {
	padding: 0 0 5px 0;
}

.no-results-filters .filters-title-and-clear h3 {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    font-family: $r-semibold;
    line-height: 1;
    font-weight: 400;
}

.no-results-filters .filters-title-and-clear a {
    color: #d63426;
    font-size: 12px;
    text-decoration: underline;
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    line-height: 1;
}

.no-results-filters {}

.toggle-grid {
	display: block;
	float: left;
	margin-right: 0.5em;
	.toggle-grid-one {
		background-image: url('../images/interface/sprite.png');
		background-repeat: no-repeat;
		display: inline-block;
		width: 40px;
		height: 40px;
		margin-right: 10px;
		cursor: pointer;
	}
	[data-option="column"] {
		background-position: -165px -205px;
	}
	[data-option="wide"] {
		background-position: -215px -205px;
		opacity: 0.17;
	}
	&.wide {
		[data-option="wide"] {
			opacity: 1;
		}
		[data-option="column"] {
			opacity: 0.17;
		}
	}
}

.shop-mattresses, .shop-mattress-comfort, search-result-items {
	h2 {
		font-weight: bold !important;
	}
	.product-price {
			height: 75px;
	}
	.clp-product-reviews {
		@include respond(large) {
			position: fixed;
		    bottom: 0px;
		    text-align: center;
		    width: 210px;
		    margin-bottom: 0px !important;
		}
		@include respond(large-down) {
			position: fixed;
			bottom: -4px;
			width: 350px;
		    text-align: center;
		    margin-bottom: 0px !important;
		}
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none), (-ms-accelerator: true) {
			position: absolute;
			bottom: -85px;
		}
	}
	.product-tile {
		border: none !important;
		.product-name {
			margin-bottom: 0px;
			.name-link {
				color: black;
				&:hover {
					color: #d63426;
				}
			}
		}
	}
	.product-listing {
		border: none;
	}
	.slick-slider.recs-slider {
		.slick-arrow {
			background: white url('../images/Arrow_Dark.svg') no-repeat center center !important;
			background-color: transparent !important;
			opacity: 1;
		}
	}
	.slick-prev {
		@include respond(large) {
			margin-left: -22px;
		}
	}
	.slick-next {
		@include respond(large) {
			margin-right: -22px;
		}
	}
}
.search-result-items.recs-slider {
	.clp-product-reviews {
		text-align: center;
	}
}
.search-result-items {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin-left: -10px;
	margin-right: -10px;
	list-style: none;

	&.slick-slider {
		margin: 0 auto !important;
	}

	li.grid-tile {
		box-sizing: border-box;
		width: percentage(1/3);
		padding: 10px;

		@include breakpoint(medium down) {
			width: 50%;
		}
	}

	.product-tile {
		display: flex !important;
		flex-wrap: wrap;
		width: 100%;
		border-bottom: 1px solid $medium-gray;
	}

	.product-image {
		width: 100%;
	&:hover {
		.hover_front {display: none;}
		.hover_back {display: block;}
	}
	.hover_front {display:block;}
	.hover_back {display: none;}
		.thumb-link {
			display: block;
		}
	}

	.product-tile-one {
		width: 100%;
		padding: 10px 15px 25px 15px;
		text-align: left;
	}
	.clp-product-reviews {
	    width: 100%;
	    margin-top: 45px;
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none), (-ms-accelerator: true) {
			position: inherit;
		}
	}
	.delivery-info {
		  font-size: 12px;
		  font-weight: 700;
		  color: #119e16;
		  line-height: 1;
		  font-family: $r-semibold;
		  margin-top: 35px;
		  display: block;
		  height: 12px;
		  margin-bottom: 10px;
		  @include respond(large) {
		  	 margin-bottom: 35px;
		  	 width: calc(100% + 22px);
		  }
		  img {
		  	max-width: 24px;
		  	vertical-align: middle;
				position: relative;
				top: -12px;
		  }
		}
		.plp-tile-availability {
			color: #2d2926;
			font-family: $r-regular;
			font-weight: 500;
			letter-spacing: 0.01rem;
			left: 0px;
			top: -10px;
			position: relative;
			font-size: 14px;
			display: block;
			height: 42px;
			@media screen and (max-width: 1199px) {
				font-size: 12px;
    			line-height: 14px;
				position: absolute;
				left: 0px;
				top: 151px;
				width: 156px;
			}
		}
		.default-availability-msg {
			color: #2d2926;
			font-family: $r-regular;
			letter-spacing: 0.01rem;
			left: 0px;
			top: -10px;
			position: relative;
			font-size: 14px;
			font-weight: 500;
			@media screen and (max-width: 1199px) {
				font-weight: 500;
				left: 0px;
				font-size: 12px;
				position: absolute;
				top: 150px;
				width: 159px;
			}
		}
		.plp-tile-availability-datestr {
			color: #2d2926;
			font-family: $r-regular;
			font-weight: normal;
			letter-spacing: normal;
			font-size: 14px;
			@media screen and (max-width: 1199px) {
				font-size: 12px;
			}					    
		}
		.default-availability-msg-datestr {
			color: #2d2926;
			font-family: $r-regular;
			font-weight: normal;;
			letter-spacing: normal;
			font-size: 14px;
			@media screen and (max-width: 1199px) {
				font-size: 12px;
			}				    
		}
		
	.product-compare-wrapper {
		min-height: 30px;
		    .product-compare {
			    display: none;
			    @include respond(large-up) {
				    margin-left: 10px;
				    display: block;
				    position: absolute;
				    bottom: 20px;
			   }
			   .field-wrapper {
			    @include respond(large-up) {
				     padding: 0;
					 margin: 0;
				}
		   }
		     label {
			     @include respond(large-up) {
				     margin: 0;
				     padding: 0;
				     color: $color-primary;
				     font-size: $font-size-sm;
				     position: relative;
					 top: 3px;					 
					 cursor: pointer;
				 }
			}
		}
	}
	.product-promo {
		height: 20px;
		overflow: hidden;

		.promo {
			margin: 0;
			@extend .p2;
			font-family: $r-semibold;
			color: $red;
			text-transform: uppercase;
			font-size: 12px !important;
			@include breakpoint(400px down) {
				font-size: 12px;
			}
		}
	}

	.product-name {
		margin-top: 10px;
		margin-bottom: 20px;
		height: auto;
	}

	.name-link {
		$font-size: 21px;
		$line-height: 1.25;
		color: $charcoal;
		font-family: $r-semibold;
		text-decoration: none;
		height: 50px;

		@include breakpoint(medium up) {
			$lines-to-show: 2;
			@include multi-line-ellipsis( $font-size ,$line-height, $lines-to-show);
		}

		@include breakpoint(small down) {
			$lines-to-show: 3;
			@include multi-line-ellipsis($font-size, $line-height, $lines-to-show);
		}
	}

	.product-name-long,
	.product-text-hover {
		display: none;
	}

	.product-pricing {
		position: relative;
		margin: 0 0 20px;
		height: 34px;
		font-family: $r-regular;
		font-size: 14px;
		line-height: 14px;

		span {
			@include breakpoint(450px down) {
				font-size: 12px !important;
				line-height: 12px !important;
			}
		}

		@include breakpoint(374 down) {
			* {
				font-size: 12px !important;
				line-height: 12px;
			}
		}

		.product-standard-price,
		.percentageDiscount,
		.product-financing-custom {
			margin: 0;
			color: $charcoal;
		}

		.product-sales-price,
		.product-financing-custom,
		.product-sales-price.mattress-firm {
			position: absolute;
			left: 0;
			width: 100%;
		}

		.product-sales-price.mattress-firm {
			top: 20px;
			font-size: 21px !important;
			@include respond(large-down) {
				font-size: 14px !important;
				top: 6px;
			}
			
			
		}

		.no-sale-price {
			position: relative !important;
			top: 0 !important;
		}

		.product-financing-custom {
			bottom: -40px;
			span {
				font-family: $r-regular;
				font-size: 14px;
				display: inline-block;
			}
		}

		.product-sales-price {
			font-family: $r-semibold;
			font-size: 21px;
		}		

		@include breakpoint(medium down) {
			padding-top: 26px;
			height: 52px;

			.product-standard-price,
			.percentageDiscount {
				display: block !important;
				width: 100%;
				padding: 0;
			}

			.product-standard-price {
				padding-bottom: 10px !important;
				padding-top: 10px !important;
			}
		}
	}

	.product-financing-msg {
		line-height: 18px;
	}

	.clp-product-reviews {
		margin-bottom: 10px;
	}
}
.search-result-content.wide-tiles {
	.search-result-items .grid-tile {
		width: 100% !important;
		margin-left: 0;
	}
	.grid-tile {
		@include respond(large-up) {
			margin-left: 0;
		}
	}
	.product-tile {
		.product-name {
			@include respond(large-up) {
				padding-left: 0;
			}
			float: none;
		}
		.product-pricing {
			@include respond(large-up) {
				padding-left: 0;
				margin-bottom: 10px;
			}
			.product-sales-price {
				bottom: auto;
			}
		}
		.product-image {
			@include respond(large-up) {
				padding: 4px;
				width: 31.8181%;
				float: left;
				box-sizing: border-box;
			}
		}
		.product-tile-one {
			@include respond(large-up) {
				float: left;
				width: 67.6819%;
				padding: 0 10.11363% 0 2.2727%;
				box-sizing: border-box;
				min-height: 215px;
			}
		}
		.product-description {
			display: block;
			clear: both;
			@include font-size($font-size-sm);
			color: $color-primary;
			text-align: left;
			padding: 5px 0;
			li {
				list-style: disc;
				margin-bottom: 3px;
				display: list-item;
			}
		}
		.product-compare {
			margin-left: 300px;
		    bottom: 26px;
		    position: inherit;
		}
		.product-review {
			@include respond(large-up) {
				padding-left: 0;
			}
		}
		.clp-product-reviews {
			clear: both;
			@include respond(large-up) {
				padding: 10px 0 0;
				margin-top: 95px;
				margin-bottom: 15px;
			}
		}
	}
	.comfort-level {
		position: relative;
		left: -10px;
		margin-top: 14px;
		width: 75%;
		@include respond(x-large) {
			width: 50%;
		}
	}
	.product-promo {
		padding-left: 0;
		height: auto;
		float: none;
		padding-bottom: 10px;
	}
}

.search-result-content {
	&.wide-tiles {
		#search-result-items {
			.product-tile {
				.product-key-features-plp {
					display: none !important;
					@include respond(x-large) {
						color: #333;
						display: block !important;
						position: absolute;
						left: 65%;
						top: 90px;
						text-align: left;
					}
					.paragraph-head {
						margin-bottom: 0;
						font-size: .875rem;
						line-height: 1.3125rem;
						margin-top: 0;
						font-family: $r-semibold;
					}
					ul {
						list-style-type: none;
						display: list-item;
						margin: 2px 0 5px 15px;
						text-indent: 0;
						padding-left: 0;
						font-size: .875rem;
					}
					li {
						margin-bottom: 0;
						list-style: none;
						display: list-item;
						text-indent: -5px;
						&:before {
							content: '-';
							padding-right: 5px;
						}
					}
				}
				.product-financing-custom{
					display: inline-block;
					max-width: 265px;
				}
			}
		}
	}
}
.pt_product-search-result, .pt_product-details, .pt_cart, .pt_checkout_body, .pt_checkout {
	@include respond(large-down) {
		.header-top-new {
			display: none;
		}
	}
}
.pt_checkout_body, .pt_checkout {
	.header-top-new {
		display: none;
	}
}
.pt_product-search-result {
	.header-top-new ~ .header-countdown ~ #main {
		#secondary.refinements.sticky {
			top :135px;
			height: calc(100vh - 145px);
		}
	}
	.header-top-new ~ .header-top-promo ~ #main {
		#secondary.refinements.sticky {
			top :135px;
			height: calc(100vh - 145px);
		}
	}
}
#secondary.refinements {
	background: $body-bg-color;
	border: 0;
	margin: 0;
	@include respond(large-up) {
		width: 280px;
	}
	@include respond(large-only) {
		width: 236px;
	}

	// begin filter section geolocation-wrapper
	&.sticky {
		.geolocation-wrapper .previous-location #geo-zip-form #plp-customer-zip {
			width: 145px;
		}
	}
	@include respond(large) {
		.plp-geo-container.desktop { display: block;}
		.plp-geo-container.mobile { display: none;}
	}
	@include respond(large-down) {
		.plp-geo-container.desktop { display: none;}
		.plp-geo-container.mobile { display: block;}
	}
	@media only screen and (min-width:768px) and (max-width:1023px) {
  		.plp-geo-container.desktop { display: none;}
    }
	// geo location wrapper for mobile
	.geolocation-wrapper-mobile {
		@include respond(large) {display: none;}
			display: flex;
    		padding: 10px 15px !important;
		.geo-main-wrapper.desktop-plp {
			margin: 0px;
			img {
				left: -10px;
			}
			.delivery-heading {
				font-size: 14px;
				font-weight: 800;
				width: auto;
				margin-top: 15px;
				margin-left: -10px;
				@media only screen and (min-width:768px) and (max-width:1199px) {
					margin-top: 8px;
				}
			}
			.delivery-text  {
				display: none;
			}
		}
		.delivery-shipping {
			line-height: 3.5;
		    position: absolute;
		    right: 20px;
		    @media only screen and (min-width:768px) and (max-width:1199px) {
		  		line-height: normal;
			    left: 60px;
			    top: 38px;
		    }
		    .delivery-address {
		    	display: none;
		    }
		    .delivery-zip {
		    	display: inline-block;
				font-size: 14px;
   				font-weight: 800;
   				margin-right: 10px;
		    }
		}
		.previous-location {
			.geo-main-wrapper-change {
				margin-bottom: 18px;
				img {
					position: relative;
	    			left: -5px;
				}
				.delivery-heading {
					display: inline-block;
					width: 200px;
					margin-top: 8px;
					font-size: 18px;
					font-weight: 800;
				}
				.delivery-text {
					display: inline-flex;
					font-size: 12px;
					font-weight: normal;
				}
			}
		}
	}
	.geolocation-wrapper {
		@include respond(large-down) {
			display: none;
		}
	}
	// geo location wrapper for desktop
	.geolocation-wrapper, .geolocation-wrapper-mobile {
		padding: 25px 15px;
		margin-bottom: 20px;
		border-radius: 8px;
		background-color: #f1f1f2;
		.geo-main-wrapper {
			margin-bottom: 18px;
			img {
				position: relative;
    			left: -5px;
			}
			.delivery-heading {
				display: inline-block;
				width: 185px;
				margin-top: 8px;
				font-size: 18px;
				font-weight: 800;
			}
			.delivery-text {
				display: inline-flex;
				font-size: 12px;
				font-weight: normal;
			}
		}
		.delivery-shipping {
			 display: inline-block;
			.delivery-address {
				font-size: 14px;
				font-weight: 800;
			}
			.delivery-zip {
				@include respond(large) {
					display: none;
				}
			}
			.btn-change {
				text-decoration: underline;
				display: inline-block;
				color: #2d2926;
			}
		}
		.previous-location {
			.error-message {
				width: auto;
			    font-size: 12px;
			    color: #d63426;
			    margin-left: 3px;
			}
		}
		.previous-location {
			border-radius: 8px;
			background-color: #f1f1f2;
			#geo-zip-form {
				.location-img {
					height: 17px;
						width: 15px;
						position: relative;
						left: 17px;
						top: 12px;
				}
				#plp-customer-zip-mobile {
					width: 180px;
				}
				#plp-customer-zip, #plp-customer-zip-mobile {
					width: 160px;
					height: 40px;
					border-radius: 4px;
					border: solid 1px #2d2926;
					padding-left: 35px;
					margin-left: -18px;
					background-color: #ffffff;
					font-size: 16px;
					font-weight: normal;
					@media only screen and (min-width:768px) and (max-width:1199px) {
						width:115px;
					}
				}
				.btn-update-plp, .btn-update-plp-mobile {
					width: 80px;
					padding: 0px;
					font-size: 12px;
					line-height: 1;
					vertical-align: top;
					height: 40px;
					border-radius: 4px;
					background-color: #d63426;
				}
			}
			.zip-update-text {
				font-size: 12px;
					font-weight: 300;
					margin: 15px 0;
					padding-bottom: 15px;
					line-height: 1.42;
					border-bottom: solid 2px #979797;
			}
			.previous-links {
				font-size: 16px;
					font-weight: 800;
			}
			.previous-link-wrapper {
				padding-left: 15px;
					padding-bottom: 15px;
					margin-bottom: 15px;
					border-bottom: solid 2px #979797;
				a {
					color: #d63426;
					font-size: 12px;
					font-weight: normal;
					display: block;
					padding-bottom: 10px;
				}
			}
			.current-location-img {
				width: 12px;
				height: 17px;
				margin-left: 15px;
			}
			.current-location {
				font-size: 12px;
					font-weight: normal;
				display: inline;
				margin:15px 0;
				color: #d63426;
			}
		}
	}
	// end filter section geolocation-wrapper

	#nav_label {
		&~label {
			width: 46.667%;
			border: $border;
			background-image: url("../images/interface/footer_arrows.png");
			background-color: $concrete;
			background-position: calc(100% - 20px) 16px;
			background-repeat: no-repeat;
			box-sizing: border-box;
			float: left;
			margin-bottom: 10px;
			@include respond(large-down) {
				width: 48%;
				border: none;
				text-transform: uppercase;
				font-family: $r-semibold;
				font-size: 16px;
			}
		}
		&:checked {
			&~nav {
				max-height: 2500px;
				width: 100%; //border: $border;
				@include respond(large-down) {
					border: none;
				}
				margin-bottom: 20px;
				border-bottom: 0;
				clear: both
			}
		}
	}
	nav {
		padding: 0;
		width: 100%;
	}
	.toggle {
		background-image: url("../images/ref_arrows.png");
		background-position: calc(100% - 20px) -25px;
		background-repeat: no-repeat;
		background-color: #fff;
		font-family: $r-semibold;
		padding: 15px 0 15px 10px;
		margin: 0;
		text-transform: none;
		cursor: pointer;
		border: 0;
		border-bottom: $border;
		@include block-price-text();
		@include respond(large-up) {
			border: 0;
			background-color: $body-bg-color;
			@include font-size($font-size-mobile-h4);
			@include line-height($font-size-mobile-h4);
			background-position: calc(100% - 29px) -25px;
			padding: 15px 0 0px 15px;
			margin: 0 0 13px 0;
		}
		&.expanded-title {
			background-position: calc(100% - 20px) 22px;
			@include respond(large-up) {
				background-position: calc(100% - 29px) 22px;
			}
		}
	}
	.refinement-image {
		display: inline-block;
		width: 20px;
		height: 20px;
		background-image: url("../images/interface/sprite.png");
		background-repeat: no-repeat;
		background-position: -60px -99px;
		margin: 0;
		vertical-align: top;
	}
	.refinement-text {
		position: relative;
		margin-left: 9px;
		display: inline-block;
		width: calc(100% - 33px);
	}
	.selected {
		.refinement-image {
			background-position: -40px -99px;
		}
	}
	ul {
		padding: 20px 10px 0 10px;
		border-bottom: $border;
		@include respond(large-up) {
			padding: 0 0 32px 15px;
			border: 0;
		}
		@include respond(large-down) {
			border-bottom: none !important;
		}
	}
	li {
		margin-bottom: 15px;
		padding: 0;
		@include respond(large-up) {
			margin: 0 0 11px 0;
			padding: 0;
		}
	}
	.refinement {
		padding: 0;
		@include respond(large-up) {
			border-bottom: $border;
			padding-bottom: 5px;
		}
		&.no-zip {
			display: none;
		}
		.refinement-zip {
			margin: 0 0 15px;
			padding: 20px 10px 0 10px;
			@include respond(large-up) {
				padding: 0 0 32px 15px;
				border: 0;
				margin: 0;
			}
		}
	}
	.clear-refinement {
		display: none;
	}
	.refinement-delivery-zip {
		text-align: center;
		clear: both;
		padding: 19px 0 20px 0;
		@include respond(large-up) {
			padding: 7px 0 30px 15px;
			border-bottom: $border;
			text-align: left;
		}
		@include respond(large-only) {
			padding-left: 0;
		}
		.tooltip {
			display: inline-block;
			width: 25px;
			height: 25px;
			background-image: url("../images/interface/sprite.png");
			background-repeat: no-repeat;
			background-position: -132px -220px;
			position: relative;
			top: 8px;
			@include respond(large-up) {
				float: right;
				top: 0;
			}
		}
	}
	.pagination {
		display: block;
	}
	.breadcrumb-refinement-clear-all:not(.close-refinement-btn) {
		@include respond(large-up) {
			display: none;
		}
		@include font-bold();
		font-size: $font-size-regular;
		line-height: 40px;
		color: $color-secondary;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
	.scrollable {
		height: auto;
	}
	.refinement-price {
		.refinement-image {
			display: none;
		}
		.refinement-text {
			margin-left: 0;
		}
		.selected {
			.refinement-text {
				font-weight: $font-wt-semibold;
			}
		}
	}
	.refinement-last {
		@include respond(large-up) {
			border-bottom: 0;
		}
	}
	.close-reminement {
		padding: 10px;
		background-color: $white !important;
		box-sizing: border-box;
		&.desktop-hide {
			display: block;
			width: 50%;
			float: left;
			&.sticky {
				position: fixed;
				opacity: 1 !important;
				transition: opacity 0.3s ease-in;
				-webkit-transition: opacity 0.3s ease-in;
				z-index: 999;
				right: 0;
				bottom: 0;
				padding-bottom: 60px;
			}
			&.relative {
				position: relative;
				float: right;
				right: 0;
				padding: 0 4px;
			}
			@include respond(large-up) {
				display: none;
			}
			&.apply-filter {
				background-color: #f8f8f8 !important;
				&.sticky {
					left: 0;
				}
				&.relative {
					left: 0;
					float: left;
				}
			}
		}
	}
	.refinement-top-level {
		padding: 20px 0 0 15px;
		@include respond(large-up) {
			padding: 0 0 11px 15px;
		}
		a {
			font-weight: $font-wt-semibold;
		}
	}
	.category-refinement {
		.refinement-link {
			padding: 0 !important;
			margin-left: 30px;
			@include font-regular();
		}
		.expandable {
			a {
				display: inline-block;
				margin-left: 21px;
			}
			&:before {
				position: relative;
				top: -3px;
			}
		}
	}
	&.sticky {
		position: fixed;
		top: 73px;
		overflow-y: auto;
		height: 100%;
		.refinement-big-container {
			padding-bottom: 200px;
		}
	}
}

.pt_product-search-result {
	.primary-content {
		@include respond(large-up) {
			width: calc(100% - 300px);
		}
		@include respond(large-only) {
			width: calc(100% - 256px);
		}
	}
}

.search-result-options {
	position: relative;
	padding: 0;
	@extend .clearfix;
	form {
		margin-bottom: 0;
	}

	.items-per-page {
		float: right;
		display: none;
		@include respond(large-up) {
			display: block;
			min-width: 80px;
			width: auto;
		}
		.selector {
			@include respond(large-up) {
				width: 100% !important;
			}
		}
	}
	&.bottom {
		.items-per-page {
			display: none;
		}
		.toggle-grid {
			display: none;
		}
		.sort-by {
			display: none;
		}
		.pagination {
			display: block;
		}
		.toggle-grid {
			display: none !important;
		}
	}
	.pagination {
		display: none;
		@include respond(large-up) {
			display: block;
			min-height: 21px;
			width: calc(100% - 160px);
		}
	}
	.sort-Go-Button {
		display: none !important;
	}
}

select#grid-sort-header {
	@include respond(large-up) {
		height: 40px;
		position: absolute;
		top: 0px;
		width: 161px;
	}
}

.apply-filter__sort-by {
	display: block;
	margin: 0 12px;
	padding: 0;
	@media only screen and (min-width: 768px) {
		display: none;
	}
}

.sort-by {
	width: 48%;
	float: right;
	&:after {
		@include respond(large-up) {
			color: #707070;
			content: '\f0d7';
			font: normal normal normal 24px/1 FontAwesome;
			left: 136px;
			position: absolute;
			pointer-events: none;
			right: 11px;
			top: 4px;
		}
	}
	@include respond(large-up) {
		width: 160px;
		float: left;
		margin-bottom: 15px;
	}
	label {
		@include respond(large-down) {
			text-transform: uppercase;
		}
	}
	.selector {
		width: 100% !important;
		&:after {
			@include respond(large-down) {
				content: url("../images/interface/footer_arrows.png") !important;
				top: 16px !important;
			}
		}
		select {
			@include respond(large-down) {
				text-transform: uppercase;
				font-size: 0.8125rem;
				font-family: $r-semibold;
			}
		}
	}
}

.items-per-page-inner {
	width: 46.667%;
	float: right;
	@include respond(large-up) {
		max-width: 90px;
	}
	label {
		display: none;
	}
	.selector {
		width: 100% !important;
	}
}

#secondary .pagination,
.pagination {
	width: 100%;
	padding: 0 0 7px 0;
	position: relative;
	border-bottom: $border;
	float: left;
	@include respond(large-up) {
		border-bottom: 0;
		padding: 0 0 3px 0;
	}
	@include respond(large-down) {
		border: none;
	}
	.results-hits-total {
		float: left;
		color: #2d2926;
		margin-top: 25px;
		margin-left: 10px;
		@include respond(large-down) {
			display: none;
		}
	}
	.pagination-content {
		float: right;
		padding: 0;
		border: 0;
		li {
			margin-bottom: 0;
			list-style: none;
			padding: 0 0 0 24px;
			float: left;
			a {
				text-decoration: none;
				color: $color-primary;
			}
			&.current-page {
				color: $color-secondary;
			}
			&:first-child {
				padding-left: 0;
			}
		}
	}
	.toggle-grid {
		display: none;
		@include respond(large-up) {
			position: absolute;
			position: absolute;
			bottom: 0;
			right: 80px;
			display: none;
		}
		&.one-page-items {
			@include respond(large-up) {
				right: 0;
				margin-right: 0;
			}
			.toggle-grid-wide {
				margin-right: 0;
			}
		}
	}
}

.breadcrumb-refinement-mobile {
	padding: 10px;
	background-color: #F1F1F2;
	margin-bottom: 20px;
	@include respond(large-up) {
		padding-bottom: 10px;
	}
	@include respond(large-down) {
		//display: none;
	}
	ul {
		border-top: 1px solid #AAA !important;
		margin-top: 5px;
		padding: 10px 0 0 0 !important;
		@include respond(large-down) {
			border: none;
		}
	}
	.breadcrumb-refined-by {
		display: block;
		text-transform: uppercase;
		@include block-price-text();
		margin-bottom: 20px;
		@include respond(large-up) {
			margin-bottom: 0;
		}
	}
	.breadcrumb-refinement {
		display: block;
		@include font-size(14px);
		@include respond(large-up) {
			margin-top: 10px;
			float: none;
		}
		a {
			&.breadcrumb-relax {
				display: inline-block !important;
				@include respond(large-down) {
					display: inline !important;
				}
			}
		}
		.breadcrumb-refinement-name {
			font-family: $r-semibold;
		}
		.breadcrumb-refinement-value {
			.breadcrumb-relax {
				top: -7px;
				display: inline-block;
				position: relative;
			}
			a.breadcrumb-refinement-value-link {
				display: none !important;
			}
		}
	}
	.breadcrumb-refinement-clear-all {
		float: right;
		@include font-bold();
		font-size: $font-size-regular;
		@include line-height($font-size-regular);
		color: $color-secondary;
		text-decoration: underline;
		margin-bottom: 10px;
		&:hover {
			text-decoration: none;
		}
	}
	.comma {
		margin-left: 5px;
	}
	&.breadcrumb-refinement-mobile-hide {
		display: none;
	}
}

p.no-hits-sorry-message {
	font-weight: 600;
}

.breadcrumb-refined-by {
	display: none;
}

.refinement-big-container {
	border: none;
	.sort-by form select {
		@include respond(large-down) {
			background-color: #f2f2f2 !important;
			background-image: url(../images/interface/footer_arrows.png);
			background-position: calc(100% - 20px) 16px;
			background-repeat: no-repeat;
			border: none !important;
			border-radius: 0;
			font-family: $r-semibold;
			font-size: 16px;
			height: 40px;
			margin-bottom: 10px;
			padding: 0 13px;
			text-transform: initial;
		}
	}
}

.pt_product-search-noresult {
	#secondary {
		display: none;
	}
	.primary-content {
		width: 100%;
		padding-top: 26px;
		@include respond(large-up) {
			padding-top: 30px;
		}
		.breadcrumb {
			padding: 0px;
			line-height: 16px;
		}
		.breadcrumb .breadcrumb-container {
			background-color: transparent;
			padding-left: 0;
			padding-right: 0;
		}
		.breadcrumb .breadcrumb-container .inner-breadcrumbs {
			@include respond(large-up) {
				margin: 0;
			}
			max-width: 382px;
			width: 100%;
			@media screen and (max-width: 375px) {
				max-width: 350px;
			}
		}
		.breadcrumb-element {
			color: $mirage;
			@include respond(large-up) {
				@include font-size($font-height-attribute-title);
			}
			&:after {
				content: '';
				margin-left: 0;
			}
		}
		.breadcrumb-element-slt {
			font-family: $r-regular;
			@include font-size(14px);
			margin-right: 4px;
    		line-height: 16px;
		}
		.breadcrumb-result-text {
			color: $crimson;
			font-family: $r-semibold;
			@include font-size(14px);
			margin-left: 14px;
		}
	}
	.section-header {
		border: 0;
		background: $body-bg-color;
		padding: 0;
		margin: 0;
		p {
			text-transform: none;
			@include font-regular();
			padding: 0px;
			color: $color-primary;
			@include font-size($font-size-mobile-h3);
			@include respond(large-up) {
				@include font-size($font-size-mobile-h4);
			}
			@include respond(xlarge-up) {
				max-width: 1084px;
				width: 100%;
			}
		}
		.no-hits-search-term {
			text-transform: uppercase;
			font-style: normal;
			color: $color-primary;
		}
	}
	.no-result-text {
		padding: 27px 0 5px;
		@include respond(small) {
			padding-bottom: 7px;
		}

		h4 {
			color: #d13225;
			text-transform: none;
			font-family:  $r-semibold;
			@include font-size(26px);
			margin: 0;
			padding: 0;
		}
	}
}

.search-result-no-hits-top {
	border-bottom: 1px solid #d5d5d5;
	line-height: 1.23;
	letter-spacing: 1.1px;
	margin-bottom: 10px;
	padding-top: 0;
	p {
		padding: 0;
		margin: 0;
		font-weight: $font-wt-semibold;
		@include respond(large-up) {
			@include font-size(16px);
		}
	}
	h4 {
		text-transform: none;
		color: $mirage;
		font-family: $r-regular;
		@include font-size($font-size-mobile-h2);
		padding-bottom: 10px;
		@include respond(large-up) {
			@include font-size($font-height-product-name);
			line-height: 1.23;
		}
		a {
			text-decoration: none;
		}
	}
	&.has-items {
		@include respond(large-up) {
			padding-top: 10px;
		}
		p {
			@include respond(large-up) {
				@include font-size(16px);
			}
		}
		a {
			text-decoration: none;
		}
	}
	.suggested-category {
		text-transform: none;
		@include font-size($font-size-regular);
		display: block;
		padding-top: 10px;
	}
}

.new-no-result {
 .search-result-no-hits-top{
    display:none;
  }
}


.no-hits-help {
	padding-top: 18px;
	clear: both;
	ul {
		padding: 0 0 0 18px;
		margin: 0;
	}
	li {
		padding: 0 0 3px 0;
		margin: 0;
		list-style: disc !important;
		@include font-size($font-size-sm);
		@include respond(large-up) {
			@include font-size($font-size-regular);
		}
	}
	p {
		padding: 0 0 3px 0;
		margin: 0;
	}
}

.no-hits-search {
	padding-top: 8px;
	input[type="text"] {
		margin: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 318px;

		@include respond(large-up) {
			border-right: 0px;
			height: 38px;
			margin: 0;
			max-width: 658px;
			width: 100%;
		}
		@media screen and (min-width:1025px){
			max-width: 913px;
			width: 100%;
		}
		@media screen and (min-width:1200px){
			max-width: 1085px;
			width: 100%;
		}

	}
	button {
		border-radius: 0px;
		margin-top: 15px;
		@include respond(large-up) {
			width: 95px;
			height:38px;
			margin-top: 0px;
			position: absolute;
			@include font-size(16px);
			padding: 0;
			&:hover {
				color: white;
				background-color: #c02f22;
			}
		}
		&.slick-arrow {
			width: 40px;
			height: 40px;
 		}
	}
	.form-row {
		padding: 5px 0 0 0;
		margin: 0;
		@include respond(large-up) {
			padding-top: 13px;
		}
	}
	.list-section {
		width: 100%;
		float: left;
		ul {
			padding-left: 25px;
			padding-bottom: 10px;
			li {
				line-height: 28px;
				margin-bottom: 0px;
				@include respond(large-up) {
					@include font-size($font-size-mobile-h4);
					line-height: 28px;
				}
				a {
					color: crimson;
					font-weight: 600;
					text-decoration: none;
					font-size: 15px !important;
				}
				span.no-hits-chat-icon {
					background: url(../images/svg-icons/chat-icon.svg) no-repeat 0 0;
			    padding-right: 5px;
			    width: 16px;
			    height: 16px;
			    display: inline-block;
			    position: relative;
			    top: 3px;
				}
			}
		}
		ol {
			width: 100%;
			float: left;
			padding-left: 26px;
			box-sizing: border-box;
			@include respond(large-up) {
				width: 31%;
			}
			li {
				text-transform: capitalize;
				color: $night-rider;
				padding-left: 6px;
				@include respond(large-up) {
					@include font-size($font-size-mobile-h4);
				}
				a {
					font-size: 17px;
				}
				span {
					color: $red;
				}
			}
		}
		h4 {
			@include font-size($font-height-mobile-h3);
			color: $night-rider;
			@include respond(large-up) {
				@include font-size($font-size-h3);
			}
		}
	}
}

.no-hits-footer {
	@include respond(large-up) {
		padding-top: 25px;
	}
	span.call-us {
		@include font-semibold();
	}
	a {
		color: $color-primary;
		@include font-semibold();
	}
	p {
		padding: 16px 0 5px 0;
		margin: 0;
	}
	div {
		@include line-height(22px);
	}
	h4 {
		@include font-size($font-height-mobile-h3);
		color: $night-rider;
		margin: 0;
		padding-top: 35px;
		text-transform: uppercase;
		@include respond(large-up) {
			@include font-size($font-size-h3);
			padding-bottom: 0;
			padding-top: 0px;
		}
	}
}

.comfort-level {
	width: 100%;
	margin-left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 30px;
	span {
		color: #626366;
		font-size: 10px;
		line-height: 10px;
		width: 18%;
		height: 20px;
		border-right: 1px solid #ccc;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		display: flex;
		&:last-child {
			border: none;
		}
		@include respond(large-down) {
			display: none;
		}
		&.active {
			color: #fff;
			border-radius: 15px;
			border: none;
			padding: 5px 8px;
			@include respond(large-down) {
				//display: flex;
				display: none;
				margin-bottom: 5px;
				width: 60%;

			}
		}
	}
	.comfort-level-1.active {
		background-color: $comfort-extra-firm;
	}
	.comfort-level-2.active {
		color:#2d2926;
		background-color: $comfort-firm;
	}
	.comfort-level-3.active {
		background-color: $comfort-medium;
	}
	.comfort-level-4.active {
		background-color: $comfort-plush;
	}
	.comfort-level-5.active {
		background-color: $comfort-ultra-plush;
	}
}

.product-recommendations {
	.search-result-items {
		display: none;
		&.slick-initialized {
			display: block;
		}
	}
}

.slot-grid-header {
	padding-bottom: 20px;
	clear: both;
}

/* sub-category tab content */

h1.heading-value {
	text-transform: none;
	font-size: 18px;
	font-family: $r-semibold;
	margin-top: 0;
	@include respond(large-down) {
		text-transform: uppercase;
		font-size: 18px;
		margin: 0;
	}
	@include respond(large-down) {
		padding: inherit;
	    position: relative;
	    left: -10px;
	    width: 100%;
	    padding-top: 20px;
	}
}

.cat-content-block-container {
	@include respond(large-down) {
	 	background: none !important;
	}
	//background: #f1f1f1;

	.subcategory-content-tabs {
		//display: none;
		background: #fff;
		width: calc(100% - 250px);
		padding: 0 0 0 4%;
		@include respond(large-down) {
			width: 100%;
			padding: 0;
		}
		text-align: left;
		box-sizing: border-box;
		margin:0 0 0 auto;
		ul.tab-nav {
			display: block;
			height: 25px;
			border-bottom: 1px solid #AAAAAA;
			padding: 0;
			li {
				list-style-type: none;
				float: left;
				width: 100px;
				@include respond(large-down) {
					width: 22%;
				}
				text-align: center;
				padding: 1px;
				a {
					text-decoration: none;
					color: #333;
				}
				&.tab-active {
					border-bottom: 4px solid $punch;
					a {
						color: $punch
					}
				}
			}
		}
		.cat-content-block {
			clear: both;
			.cat-content-block-text {
				&:not(.overview) {
					display: none;
				}
				p {
					font-size: 1.1em;
					padding: 0;
					margin-bottom: 10px;
					line-height: 1.4;
				}
				strong {
					font-family: $r-semibold;
				}
				&.truncate {
					clear: both;
					clip: auto;
					overflow: hidden;
					a.read-more {
						color: $punch;
						font-family: $r-semibold;
						font-style: italic;
						text-decoration: none;
						&:hover {
							cursor: pointer;
						}
					}
				}
			}
			.related {
				display: inline-flex;
				width: 100%;
				.column {
					width: 33%;
					ul {
						li {
							list-style-type: none;
							margin-bottom: 2px;
							&.red {
								margin-top: 10px;
								color: #D63426;
							}
						}
					}
				}
			}
		}
	}
}

.cat-browse-seo {
	text-align: center;
	padding-top: 39px;
	clear: both;
	@include respond(large-up) {
		padding-top: 36px;
	}
	p {
		padding: 0;
		margin: 0;
		text-align: center;
	}
}
.text-loc {
    display: inline-block;
    color: #333333;
    font-weight: 500;
    letter-spacing: -0.32px;
    font-family: $r-medium;
}
a.change-btn.btn-change-zip-asset {
    color: #d13225;
    font-size: 16px;
    font-family: $r-medium;
    margin-left: 15px;
}
.geo-location-middle {
	.delivery-shipping-asset {
	    margin-bottom: 39px;
	}
}
.close-refinement-btn {
	padding: 11px;
	color: #fff !important;
	font-family: $r-medium;
	line-height: auto;
	text-align: center;
	text-transform: uppercase;
	border-radius: 5px;
	cursor: pointer;

	&.red {
		background-color: $red;
	}

	&.gray {
		color:#333 !important;
		background-color: $gray;
	}
}

.ui-dialog {
    &.hawaii-popup-dialog {
    	.ui-dialog-titlebar {
    		display: none;
	        .ui-dialog-title {
	        	border-bottom: none;
				&:before {
					display: none;
				}
	        }
		}
    }
}
.hawaii_popup_wrapper {
	.ui-dialog-titlebar-close {
		top: 25px;
    	right: 20px;
	    @include respond(large-down) {
			top: 15px;
			background-color: white;
    		border-radius: 20px;
		}
		@include respond(large-only) {
			top: 15px;
			background-color: white;
    		border-radius: 20px;
		}
	}
	.hawaii-img {
		float: right;
		@include respond(large-down) {
			display: none;
		}
		@include respond(large-only) {
			display: none;
		}
	}
	.hawaii-img-mob {
		display: block;
		@include respond(large) {
			display: none;
		}
	}
	.hawaii_popup_header {
		width: 225px;
		font-size: 24px;
  		font-weight: normal;
  		color: #1b2125;
  		float: left;
	}
	.hawaii_popup_description {
		width: 380px;
		font-size: 16px;
	    font-weight: normal;
	    color: #4a4a4a;
	    line-height: 1.63;
    	margin: 25px 27px 58px 0px;
    	float: left;
    	@include respond(large-down) {
			width: 100%;
		}
		@include respond(large-only) {
			width: 100%;
		}
	}
	.hawaii_products_button {
		display: inline-block;
		float: left;
	    text-decoration: none;
    	text-align: center;
   	    line-height: 3;
	    width: 190px;
	    height: 45px;
	    border-radius: 3px;
	    background-color: #d63426;
	    font-weight: 600;
    	color: #ffffff;
	    box-shadow: 0 2px 7px 0 rgba(120, 137, 149, 0.26);
	    @include respond(large-down) {
			width: 100%;
		}
		@include respond(large-only) {
			width: 100%;
		}
	}
	.visit_store_button {
	    display: inline-block;
        text-decoration: none;
    	text-align: center;
   	    line-height: 3;
		width: 180px;
		height: 45px;
		float: left;
		margin-left: 20px;
		border-radius: 3px;
		box-shadow: 0 2px 7px 0 rgba(120, 137, 149, 0.26);
		background-color: #ffffff;
		border: solid 1px #d0021b;
		color: #d0021b;
		@include respond(large-down) {
			width: 100%;
    		margin: 25px 0px 0px 0px;
		}
		@include respond(large-only) {
			width: 100%;
    		margin: 25px 0px 0px 0px;
		}
	}
}
.pt_cart .recs-container.product-listing-1x4 {
	h2 {
		visibility: visible;
		font-size:24px !important;
	}
}
.pt_product-search-noresult .recs-container.product-listing-1x4 {
	h2 {
		visibility: visible;
	}
	.search-result-items.slick-slider .product-tile-one {
			border-bottom: none !important;
			min-height: 124px;
			width: 100%;
			padding: 10px 10px 25px 10px;
			text-align: left;
	}
}

.pt_categorylanding {
	.cat-landing-beds-and-frames {
		@include respond (large-down) {
			min-height: 650px;
		}
		.product-listing-1x4{
			border:none;
			.search-result-items {
				@media (min-width: 1025px) {
					width: 1170px;
				}
				.slick-next {
					right: -15px !important;
				}
				.slick-prev {
					left: -15px !important;
				}
			}
			.product-tile {
				border:none;
				.brand-name {
    				@include respond(large) {
    					height: auto;
    					padding: 15px 0;
    				}
    				@include respond(large-down) {
    					height: 40px;
    					margin-bottom: 10px;
    				}
    				img {
    					height: 50px;
    					width: auto;
    				}
				}
			}
			.callout-top {
				font-size: 33px;
				margin-top: 80px !important;
			}
		}
		.slick-dots {bottom: 10px;position: relative;
		@include respond (large-down) {
			bottom: 0px;
		}
		}
		.slick-dots li button {background: grey;height: 12px;width: 12px;border-radius: 6px;margin-top: -1px;margin-left: -1px;}
		.slick-dots li.slick-active button {background: #d63426;}
		.product-image .thumb-link img {
			width: 272px !important;
    		height: 209px;
    		@media (max-width: 767px) {
    			width: 95% !important;
    		}
		}
		.brand-name {
			img {
				width: 200px;
				margin: 15px 0 0 10px;
				@media(max-width: 767px) {
					margin: 0 0 0 25px;
				}
			}
			div.brand-name-text {
				@include font-semibold();
				font-size: 1.6em;
				line-height: 1;
				color: $charcoal;
				text-align: left;
				margin: 15px 0 0 10px;
				padding: 10px 0 0 0;
				height: 50px;
				@media(max-width: 767px) {
					margin: 0 0 0 25px;
				}
			}
		}
		.product-tile-one {
			padding: 10px 10px 25px 10px !important;
			padding-top: 0px !important;
    		margin-top: -5px;
    		@media (min-width: 768px) {
    			height: 52px;
    		}
			@media (max-width: 767px) {
    			padding: 10px 10px 25px 25px !important;
    			margin-left: 0px;
    			margin-right:0px;
    			height: 67px;
    		}
			.product-name {
				padding-left: 0px !important;
				.name-link {
					font-size: 21px;
  					font-weight: 600;
  					height: auto;
				}
			}
		}
		.product-price {
			padding-left: 10px !important;
			height: 40px;
			@media (max-width: 767px) {
    			padding-left: 25px !important;
    		}
		}
		.clp-product-reviews {
			padding-left: 10px !important;
			@media (max-width: 767px) {
    			padding-left: 25px !important;
    		}
		}
	}
}
.no-search-result-new-template {
	.product-listing-1x4{
		border-top: none;
	}
	.search-result-items {
		.product-tile {
			border-bottom: none;
		}
	}
	.geo-location-middle {
		&.delivery-shipping-asset {
			> div {
				display: inline-block;
			    color: #333333;
			    font-weight: 500;
			    letter-spacing: -0.32px;
			    font-family: $r-medium;
			}
		}
	}
	.search-result-no-hits-top {
		h4 {
			padding-bottom: 10px;
    		margin-bottom: 0;
    		font-family:  $r-semibold;
    		letter-spacing: 1.08px;
    		line-height: 1.23;
    		opacity: 0.9;
    		color: #393c3e;
    		@include respond(large-down) {
    			line-height: normal;
    		}
		}
	}
	.no-result-text{
	h4 {
    		@include respond(large-down) {
    			line-height: normal;
    		}
		}
		p{
			font-size: 17px;
			font-family:  $r-semibold;
			font-weight: 600;
			line-height: 1.65;
			color: #787878;
			padding: 0 ;
			margin-bottom: 16px;
    		margin-top: 15px;
			@include respond(large-down) {
    			padding: 0 ;
    			margin:7px 0;
    		}
		}


	}
	.delivery-shipping-plp-no-results{
		font-size: 16px;
		font-weight: 500;
		line-height: normal;
		letter-spacing: -0.30px;
		color: #333;
		a{
			font-size: 16px;
		}
	}
	.location-img {
		left: 13px;
	}
	.previous-location-address{
		padding-left: 15px;
	    padding-bottom: 15px;
	    margin-bottom: 15px;
	    border-bottom: solid 2px #979797;
	    display: inline-block;
    	min-width: 200px;
    	padding-right: 20px;

		li{
			margin-bottom: 0;
			list-style: none;
			a{
				color: #d63426;
			    font-size: 12px;
			    font-weight: normal;
			    display: block;
			    padding-bottom: 10px;
			    text-decoration: none;
			}
		}
	}
	#geo-zip-form {
	position: relative;
	.btn-update-zip-no-search-results {
		position: absolute;
		right: 0;
		border-radius: 0;
		@include respond(large-down) {
			position: relative;
		    left: 0;
		    border-radius: 0;
		    top: 10px;
		}
	}
	#customer-zip-no-search-results{
		padding-left: 37px;
	}
}

	.total-search-result{
		color: #787878;
		margin-top: 9px;
		display: block;
		font-size: 17px;
		@include font-semibold();
	}
	.no-hits-search{
		input[type="text"]{
		color: #787878;
		}
	}
		.current-location {
			vertical-align: middle;
			text-decoration: none;
		}
		.current-location-img{
			margin-left: 15px;
		}
	}
	.no-search-result-new-template {
	@media only screen and (max-width: 768px) {
        .geolocation-asset-wrapper .update-zip{margin: 0 10px !important;border-radius: 8px; height: auto !important;}
        .row.update-zip {margin: 0px !important; box-sizing: border-box;}

        .small-12.geo-location-bold {
        	padding: 15px 25px !important;
        	flex: 0 0 100% !important;
        	max-width: 100% !important;
         }
        .small-12.geo-location-bold div { font-size: 14px;}
        .small-12.large-3.geo-location-bold::before { top: 10px;margin-right: 15px; }
        .small-12.large-4.geo-text {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        padding: 15px 25px;
        font-size: 12px;
		order: 3;
		box-sizing: border-box;
        }
        .small-12.large-4.geo-fields {
        max-width: 100% !important;
        flex: 0 0 100% !important;
		padding: 0px 25px;
		box-sizing: border-box;
        }
        .small-12.large-4.geo-fields img {
        top: 10px !important;
        left: 40px !important;
        }
        }
        .geolocation-asset-wrapper .update-zip{
        height: 114px;
        background-color: #f1f1f2;
        margin-top: 15px !important;
        margin-left: 0;
        margin-right: 0;
        @media only screen and (min-width: 1024px) {
        max-width: 1180px;
        }
        @media only screen and (min-width:768px) and (max-width:1199px) {
        height: auto;
        padding-bottom: 20px;
        }
        }

        @media only screen and (min-width:768px) and (max-width:1199px) {
        .small-12.medium-4.large-4.geo-text {
        flex: 0 0 33% !important;
        max-width: 33% !important;
        padding: 34px 0 0 30px;
        }
        }
        @media only screen and (min-width:768px) and (max-width:1024px) {
         .small-12.medium-4.large-4.geo-text {
        	-ms-flex: 0 0 30% !important;
		    flex: 0 0 30% !important;
		    max-width: 30% !important;
		    padding: 34px 0 0 30px;
		 }
        }
        .large-4.geo-text {
        padding: 34px 0 0 15px;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.44;
        max-width: 34% !important;
        flex: 0 0 34% !important;

        }
        .large-3.geo-location-bold::before {content: url(https://dev01-web-sleepys.demandware.net/on/demandware.static/-/Sites-Mattress-Firm-Library/default/dwc2d3c8a3/images/assets/truck-delivery-green.png);
        position: relative;
        top: 5px;
        margin-right: 25px;
        }
        .large-3.geo-location-bold {
        padding: 38px 0 0 45px;
        font-size: 18px;
		font-weight: 800;
		box-sizing: border-box;
		flex: 0 0 29%;
        max-width: 29%;
        }
        @media only screen and (min-width:768px) and (max-width:1199px) {
        .small-12.medium-3.large-3.geo-location-bold{
        padding: 38px 0 0 20px;
        }
        }
        .large-3.geo-location-bold .geo-delivery-truck {position: inherit !important;margin-left: 20px;}
        .large-3.geo-location-bold div {    display: inline;margin-left: -10px;vertical-align: bottom;font-family: $r-bold;}
        .large-4.geo-fields {
        padding: 37px 0 0 20px;
        position: relative;
        max-width: 33% !important;
        flex: 0 0 33% !important;
        }
        .large-4.geo-fields .geo-location {
        position: absolute;
        top: 48px !important;
        left:  35px !important;
        transform: translateX(-50%);
        }
        @media only screen and (max-width: 320px) {
        .small-12.large-4.geo-fields #asset-customer-zip { width: 155px;}
        }
        @media only screen and (min-width:768px) and (max-width:1199px) {
        .small-12.medium-3.large-4.geo-fields #asset-customer-zip { width: 150px;}
        }
        .large-4.geo-fields #asset-customer-zip {
        width: 200px;
        height: 40px;
        border-radius: 4px;
        border: solid 1px #2d2926;
        background-color: #ffffff;
        margin-left: 0px;
        padding-left: 25px;
        }

        .large-4.geo-fields .btn-update-asset {
        width: 84px;
        height: 40px;
        border-radius: 4px;
        background-color: #d63426;
        margin-left: 7px;
        font-size: 12px;
        position: relative;
    	top: -1px;
        }

        @media only screen and (min-width: 768px) {

        .geo-fields .error-message  {

        width: auto;
        font-size: 12px;
        color: #d63426;
        margin-left: 2px;
        text-align: left;
		}
		}
        @media only screen and (min-width: 1024px) {
        .geo-content-selector {}
        .cl-asset.shop-by-brand .section.brands .row {max-width:1180px;}
        }
	}
