.search-result-items {
	&.ab-plp-tiles-v3 {
		li.grid-tile {
			width: 100%;
			max-width: 430px;
			padding: 15px;
			margin-bottom: 0;
			@include respond(x-large) {
				width: percentage(1/3);
				padding: 10px;
			}
			@media only screen and (max-width:1199px) {
				max-width: none;
				padding: 10px;
				margin-bottom: 0;
			}
			.clp-product-reviews {
    			margin-top: 0;
			}
			.brand-and-rating {
				margin-bottom: 10px;
				@media only screen and (max-width:1199px) {
					margin: 0;		
				}
				.brand-name {
					float: left;
					max-width: 120px !important;
					@media(max-width: 340px) {
						max-width: 140px !important;
						width: 140px;
					}
					@include respond(x-large) {
						max-width: 141px;
					}
					img {
						height: 40px;
						width: auto;
						@media only screen and (max-width:1199px) {
							max-width: 130px;
    						max-height: 54px;
						}
					}
				}
				.clp-product-reviews {
					float: right;
				    width: auto;
					margin: 0;
					@media only screen and (max-width:1199px) {
						margin-top: 0 !important;
  					}
					.bv_stars_component_container .bv_stars_svg_no_wrap svg {
						@include respond(x-large) {
							width: 14.5px !important;
  						}
  					}
			    	.bv_averageRating_component_container {
			    		display: inline !important;
			    		.bv_text:after {
			    			content: "/5";
			    		}
			    	}
			    [data-bv-show=inline_rating] .bv_main_container {
			    	display: block !important;
			    	background-color: white !important;
				    padding: 6px !important;
				    border-radius: 16px !important;
					text-align: right !important;
					@media only screen and (max-width:1199px) {
						padding-right: 0 !important;
					}
			    }
			    [data-bv-show=inline_rating] .bv_main_container .bv_numReviews_component_container {
			    	display: inline !important;
			    	.bv_text {
			    		color: #2d2926 !important;
			    		font-weight: normal;
			    		font-family: $r-regular;
			    		font-size: 15px;
						@include respond(x-large) {
							font-size: 12px !important;
							font-family: 'Rubik' !important;
							font-weight: 300 !important;
							line-height: 1.25 !important;
						}
						@media only screen and (max-width:1199px) {
							font-size: 9.6px !important;
							font-family: 'Rubik' !important;
							font-weight: 300 !important;
							line-height: 1.25 !important;
						}
					}
			    }
			    [data-bv-show="inline_rating"] .bv_stars_component_container {
			    	order: 2;
			    }
			    [data-bv-show=inline_rating] .bv_main_container .bv_averageRating_component_container {
			    	order: 1;
			    	font-family: $r-extrabold !important;
			    }
			    [data-bv-show=inline_rating] .bv_main_container .bv_averageRating_component_container .bv_text {
			    	font-family: $r-extrabold !important;
					font-size: 15px !important;
					@include respond(x-large) {
						font-family: 'Rubik' !important;
						font-size: 12px !important;
						font-weight: 700 !important;
						line-height: 1.25 !important;
					}
					@media only screen and (max-width:1199px) {
						font-family: 'Rubik' !important;
						font-size: 9.6px !important;
						font-weight: 700 !important;
						line-height: 1.25 !important;
					}
			    }
				}
			}
			.product-promo {
				height: 12px;
				@media only screen and (max-width:1199px) {
					height: 10px;
					overflow: visible;
				}
				.promo {
					font-size: 12px !important;
					line-height: 14px !important;
					font-weight: 800;
					@media only screen and (max-width:1199px) {
						font-size: 10px !important;
    					line-height: 0.96 !important;
					}
				}
			}
			.product-name .name-link {
				font-size: 21px;
				font-weight: 400;
				height: 50px;
				letter-spacing: 0.0025rem;
				@include respond(x-large) {
					font-weight: 700;
					letter-spacing: normal;
					line-height: normal;
				}
				@media only screen and (max-width:1199px) {
					font-size: 14px;
					font-weight: 700;
					height: auto;
					letter-spacing: normal;
					line-height: 1.14;
				}
			}
			.product-name .name-link .name-link-text {
				@include respond(x-large) {
					width: 100%;
					display: block;
				}
			}
			.product-tile {
				border: solid 1px $light-gray;
				@include respond(x-large) {
					overflow: hidden;
				}
				@media only screen and (max-width:1199px) {
					flex-wrap: nowrap;
					min-height: 196px;		
				}
				.product-swatches ul {
					@include respond(x-large) {
						margin-top: 20px;
					}
				}
				.product-pricing {
					font-size: 20px;
					line-height: 1;
					padding-top: 0;
					margin: 0 0 10px;
					height: 85px;
					box-sizing: content-box;
					@include respond(x-large) {
						margin: 0;
					}
					@media only screen and (max-width:1199px) {
						height: 34px;
						span {
							font-size: 21px !important;
							line-height: 1 !important;
						}
					}
			    .product-sales-price {
			     	position: static;
			     	font-weight: 700;
					font-size: 21px;
					@include respond(x-large) {
						font-size: 21px;
						line-height: 0.86;
					}
					@media only screen and (max-width:1199px) {
						font-size: 14px !important;
						letter-spacing: normal !important;
						line-height: 14.4px !important;
					}
				}
				
				.product-sales-price{
					&.mattress-firm {
						color: #e21a23;
						font-size: 21px;
						margin-bottom: 10px;
						letter-spacing: 0.0395rem;
						line-height: 1;
						position: static;
						@include respond(x-large){
							letter-spacing: normal;
							line-height: 0.86;
							margin-bottom: 10px;
						}
						@include respond(large-down){
							margin-bottom: 2px;
							font-size: 14px!important;
							line-height: 12px !important;
							display: block !important;
							padding-top: 0 !important;
						}
				}
			}
			    .product-standard-price.mattress-firm {
			    	float:none;
			    	line-height: 1;
			    	color: #2d2926;
			    	font-size: 21px;
					@include respond(x-large) {
						font-size: 18px;
						line-height: 1.28;
						margin-bottom: 12px;
					}
			    	@media only screen and (max-width:1199px) {
		    		    display: inline-block !important;
					    width: auto;
					    font-size: 10px !important;
					}
			    }
			    .percentageDiscount {
			    	font-family: $r-bold;
			    	font-weight: 700;
			    	line-height: 1;
			    	font-size: 20px;
			    	@include respond(x-large) {
						display: block !important;
						font-size: 21px;
						font-weight: 400;
						font-family: "Rubik", Arial, sans-serif;
						line-height: 1.1;
						margin-bottom: 3px;
					}
			    	@media only screen and (max-width:1199px) {
					    display: none !important;
						width: auto;
						margin-bottom: 5px;
			    		margin-right: 12px;
					    font-size: 20px !important;
			    	}
			    }
				}
				.product-financing-custom {
					margin-top: 9px;
					font-size: 12px;
					line-height: 0.975rem;
					position: static;
					height: 23px;
					@include respond(x-large) {
						margin-top: 0;
					}
					@media only screen and (max-width:1199px) {
						display: none;	
					}
    			span {
    				cursor: default;
    				position: relative;
    				font-family: $r-regular;
					font-size: 12px;
					line-height: 1.92;
				}
    			 @media only screen and (max-width:1199px) {
			    	span {
				    	font-size: 12px !important;
				    	line-height: 1 !important;
			    	}
				}
				span .pay-over-link {
					@include respond(x-large) {
						font-size: 11.8px;
						line-height: 1.92;
					}
				}
			    .product-financing-msg {
			    	left: 50%;
				    transform: translateX(-50%);
				    bottom: 25px;
				    @media only screen and (max-width:1199px) {
				    	transform: translateX(-60%);
				    }
				    &:before, &:after {
							left: 53%;
				    }
			    }
				}
				.delivery-info {
					font-size: 19px;
					font-weight: 700;
					color: #119e16;
					line-height: 1;
					font-family: $r-semibold;
					margin-top: 22px;
					display: block;
					height: 24px;
					margin-bottom: 15px;
					@include respond(x-large) {
						display: block;
						padding: 54px 0 11px;
						margin: 0;
						font-size: 14px;
						width: 100%;
					}
					@include respond(large) {
						margin-bottom: 62px;
						width: calc(100% + 22px);
					}
					@media only screen and (max-width:1199px) {
						height: auto;
						line-height: 14px;
						margin: 25px 0 6px 10px;
						text-align: left;
					}
					img {
						max-width: 24px;
						vertical-align: middle;
						position: relative;
						top: -12px;
					}
					.plp-tile-availability {
						color: #2d2926;
						font-family: $r-regular;
						letter-spacing: 0.01rem;
						left: 0px;
						top: -5px;
						position: relative;
						font-size: 14px;
						font-weight: 500;
						@include respond(x-large) {
							font-family: "Rubik", Arial, sans-serif;
							font-weight: 500;
							line-height: 1.14;
						}
						@media only screen and (max-width:1199px) {
							font-size: 12px;
							font-family: "Rubik",Arial,sans-serif;
							font-weight: 500;
							top: -12px;
						}
					}
					.default-availability-msg {
						color: #2d2926;
						font-family: $r-semibold;
						letter-spacing: 0.01rem;
						left: 0px;
						top: -10px;
						position: relative;
						font-size: 14px;
					}
					.plp-tile-availability-datestr {
						color: #2d2926;
					    font-family: $r-regular;
					    font-weight: normal;;
					    letter-spacing: normal;
						font-size: 14px;
						@media only screen and (max-width:1199px) {
							font-size: 12px;
						}			    
					}
					.default-availability-msg-datestr {
						color: #2d2926;
					    font-family: $r-regular;
					    font-weight: normal;;
					    letter-spacing: normal;
					    font-size: 14px;					    
					}
				}
				.form-group label {
					@include respond(x-large) {
						position: relative;
						cursor: pointer;
					}
				}
				.product-compare-wrapper {
					position: absolute;
				    left: 20px;
					bottom: 70px;
					@include respond(x-large) {
						bottom: 54px;
						width: 150px;
						.field-wrapper {
							width: 0;
						}
					}
					@media only screen and (max-width:1199px) {
					    min-width: 100px;
					}
			    .product-compare {
					margin: 0;
					@include respond(x-large) {
						display: block;
					}
			    	@include respond(large) {
			    		display: flex;
			    	}
			    	@media only screen and (max-width:1199px) {
			    		display: none;
			    	}
			    	label {
			    		color: #323030;
						font-size: 15px;
						@include respond(x-large) {
							left: 0px !important;
							top: 0px !important;
						}
			    		@include respond(large) {
				    		order: 2;
				    		top: 1px;
				    	}
				    	@media only screen and (max-width:1199px) {
				    		line-height: 25px;
						}
						&.select-compare:after {
							@include respond(x-large) {
								display: block;
							}
						}
					}
					label:before {
						@include respond(x-large) {
							content: '';
							-webkit-appearance: none;
							background-color: transparent;
							border: 1px solid #323030;
							height: 22px;
							width: 22px;
							display: inline-block;
							position: relative;
							vertical-align: middle;
							cursor: pointer;
							margin: -3px 15px 0 0;
							border-radius: 5px;
						}
					}
					label:after {
						@include respond(x-large) {
							content: '';
							display: block;
							position: absolute;
							top: 0px;
							left: 8px;
							width: 6px;
							height: 13px;
							border: solid #323030;
							border-width: 0 2px 2px 0;
							transform: rotate(45deg);
							display: none;
						}
					}
			    	.field-wrapper {
						@include respond(x-large) {
							margin-left: -9px;

							input {
								padding: 0;
								height: initial;
								width: initial;
								margin-bottom: 0;
								display: none;
								cursor: pointer;
							}
						}
			    		.checker span {
			    			background-position: -66px -120px;
			    			&.checked {
			    				background-position: -83px -120px;
			    			}
			    		}
			    	}
			    }
				}
				.product-swatches {
					min-height: 0;
					padding: 11px;
					.product-swatches-all {
						display: none;
					}
					ul.swatch-toggle {
						background: none repeat scroll 0 0 transparent;
				    display: block;
				    position: static;
				    z-index: 1;
				    max-height: 38px;
					}
				}
			}
			.product-tile-one {
				@include respond(x-large) {
					overflow: visible;
					padding: 10px 10px 0;
				}
				@media only screen and (max-width:1199px) {
					display: flex;
					flex-flow: column;
					overflow: visible;
					padding: 10px 10px 0 13px;
				}
			}
			.comfort-and-features {
				background-color: $white;
				// SHOP-2754 Always show grey bar on mobile
				@media only screen and (max-width: 767px) {
					background-color: $light-gray;
				}
				height: 60px;
				width: 100%;
				margin-left: -20px;
				width: calc(100% + 40px);
				transition: margin 1s ease;
				position: relative;
				display: flex;
				justify-content: space-between;
				@include respond(x-large) {
					margin-top: 45px;
					//width: calc(100% + 30px);
				}
				@media only screen and (max-width:1199px) {
					display: none;
				}
				/* SHOP-2754 Show grey bar on desktop only when 
				 * either comfort-level or features present.
				 */
				&.has-comfort-level,
				&.has-feature-count {
					background-color: $light-gray;
					@media only screen and (max-width:1199px) {
						display: none;
						height: 70px !important;
						margin-left: -10px !important;
						width: calc(100% + 21px) !important;
					}
				}
				&.comfort_level_1 {
					border-bottom: 10px solid $comfort-extra-firm;
				}
				&.comfort_level_2 {
						border-bottom: 10px solid $comfort-firm;
					@include respond(x-large) {
						margin-top: 45px;
					}
				}
				&.comfort_level_3 {
						border-bottom: 10px solid $comfort-medium;
				}
				&.comfort_level_4 {
						border-bottom: 10px solid $comfort-plush;
				}
				&.comfort_level_5 {
						border-bottom: 10px solid $comfort-ultra-plush;
				}
				.comfort-type {
					position: relative;
					display: inline-block;
					left:0;
					float: left;
					height: 60px;
					padding-left:20px;
					transition: margin .5s ease;
					img {
						top: 50%;
						position: relative;
						transform: translateY(-50%);
						width: auto;
						height: 36px;
						&.white {display: none;}
						@include respond(x-large) {
							top: 55%;
						}
					}
				}
				.comfort-and-features.more-features-visible .comfort-type {
    				@include respond(x-large) {
						margin-left: -87%;
					}
  				}
				.features-list {
					position: static;
					z-index: 5;
					height: 60px;
					width: 178px;
					text-align: right;
					float: right;
					white-space: nowrap;
					transition: margin 1s ease;
					margin-left: auto;
					@media only screen and (max-width:1199px) {
						display: none;
						position: absolute;
						background-color: #323030;
						max-width: none;
						width: 100%;
						bottom: -10px;
						padding: 35px 20px 15px;
						white-space: normal;
						height: auto;
						text-align: left;
						box-sizing: border-box;
						z-index: 20;
					}
					&.more-feature-list {
					 margin-right: 21px;
					}
					.features-wrap {
						@media only screen and (max-width:1199px) {
							max-height: 425px;
							overflow: auto;
							padding-top: 15px;
						}
					}
					.close-features {
						display: none;
						@media only screen and (max-width:1199px) {
							display: block;
							position: absolute;
							right: 15px;
							top:25px;
							z-index: 20;
							max-width: 20px;
							cursor: pointer;
						}
					}
					.feature{
						display: inline-block;
						vertical-align: middle;
						height: 60px;
						padding:0 5px;
						cursor: pointer;
						@media only screen and (max-width:1199px) {
							display: none;
					    height: auto;
					    padding: 0;
					    cursor: default;
					    text-align: left;
    					overflow: hidden;
    					margin-bottom: 10px;
    					&:nth-child(-n+3) {
								display: block;
    					}
						}
						img {
							top: 50%;
					    position: relative;
					    transform: translateY(-50%);
					    width: 32px;
					    height: auto;
					    &.white {display: none;}
					    @media only screen and (max-width:1199px) {
					    	top: -3px;
					    	transform: none;
					    	float: left;
					    	&.black {display: none;}
					    	&.white {display: inline;}
					    }

						}
						&:hover {
							background-color: $charcoal;
							img.white {display: inline;}
							img.black {display: none;}
						}
						.feature-details {
							position: absolute;
							left:0;
							bottom:60px;
							width: 100%;
							display: none;
							padding:30px 20px 15px;
							background-color: $charcoal;
							z-index: 15;
							box-sizing: border-box;
					    text-align: left;
					    white-space: normal;
					    @media only screen and (max-width:1199px) {
					    	position: static;
						    display: block !important;
						    padding: 0 0 0 42px;
					    }
							h3 {
								margin:0 0 15px;
								padding:0;
								font-size: 16px;
	  						color:$white;
	  						line-height: 1;
	  						text-transform: uppercase;
	  						@media only screen and (max-width:1199px) {
	  							margin:0 0 4px;
	  							font-family: $r-semibold;
	  						}
							}
							p {
								margin:0 0 15px;
								padding:0;
								font-size: 12px;
	  						color:$white;
	  						line-height: 1.33;
	  						@media only screen and (max-width:1199px) {
	  						}
							}
						}

					}
					.btn-more-details {
						display: none;
						font-family: $r-semibold;
						@media only screen and (max-width:1199px) {
							display: block;
							margin-top: 0;
						}
					}
				}
				.btn-more-features {
					width:20px;
					height:60px;
					border-left:1px solid #c6c8ca;
					position: absolute;
					right:0;
					top:0;
					z-index: 10;
					float: right;
					transition: width 0.3s ease;
					background-color: $light-gray;
					cursor: pointer;
					@include respond(x-large) {
						right: 8px;
					}
					@media only screen and (max-width:1199px) {
						display: none;
					}
					.dots-wrap {
						width: 8px;
						height: 33px;
						position: absolute;
						left:50%;
						top:50%;
						transform: translate(-50%, -50%);
						transition: transform 0.3s ease;
					}
					.dot {
						width: 5px;
					  height: 5px;
					  background-color: #323030;
					  border-radius: 100px;
					}
					.first-dot {
						position: absolute;
						left:50%;
						top:0;
						transform: translateX(-50%);
					}
					.middle-dot {
						position: absolute;
						left:50%;
						top:50%;
						transform: translate(-50%, -50%);
					}
					.last-dot {
						position: absolute;
						left:50%;
						bottom:0;
						transform: translateX(-50%);
					}
				}
				.btn-more-features-mobile {
					display: none;

					@media only screen and (max-width:1199px) {
						display: block;
						width:130px;
						height:60px;
						line-height: 60px;
						border-left:1px solid #c6c8ca;
						position: absolute;
						right:0;
						top:0;
						z-index: 10;
						float: right;
						transition: width 0.3s ease;
						background-color: $light-gray;
						cursor: pointer;
						font-size: 15px;
						color: $charcoal;
						font-family: $r-semibold;
						text-align: center;
						img {
							margin-left: 15px;
					    vertical-align: middle;
					    max-width: 15px;
					    position: relative;
					    top: -2px;
						}
					}
				}
				.product-brand-mobile {
					display: none;
					color:$white;
					@media only screen and (max-width:1199px) {
						display: block;
						font-size: 18px;
    				margin-bottom: 5px;
					}
				}
				.product-name-mobile {
					display: none;
					color:$white;
					@media only screen and (max-width:1199px) {
						display: block;
						font-size: 15px;
						font-family: $r-semibold;
					}
				}
				&.more-features-visible {
					.comfort-type {
						margin-left: -100%;
					}

					.features-list {
						// margin-right: calc(100% + 4px);
						margin-right: calc(100% + -19px);
						overflow: visible;
						//width: 100%;
					}
					.btn-more-features {
						width:50px;
						height:60px;
						border-left:1px solid #c6c8ca;
						float: right;
						.dots-wrap {
							width: 8px;
							height: 33px;
							position: absolute;
							left:50%;
							top:50%;
							transform: translate(-50%, -50%) rotate(90deg);
  							transform-origin: 50% 50%;
						}
					}
				}
				@include respond(x-large) {
					.btn-features {
						display: none;
					}
					.btn-features img {
						margin-left: 19px;
						vertical-align: middle;
						max-width: 15px;
						position: relative;
						top: -1px;
					}
					.btn-features.ab-products-features img {
						-moz-transform: rotate(180deg);
						-webkit-transform: rotate(180deg);
						transform: rotate(180deg);
					}
					.features-list .feature {
						padding: 0 9px 0 10px;
					}
					// .features-list .feature .feature-details h3 {
					// 	margin: 0 0 10px;
					// 	font-family: "Rubik Bold", Arial, sans-serif;
					// 	font-size: 14px
					// }
				}
				// end x-large breakpoint
			}
		}
	}
}

.search-result-content.wide-tiles {
	.search-result-items {
		&.ab-plp-tiles-v3 {
			li.grid-tile {
				max-width:none;
				.brand-and-rating {
					margin-bottom: 10px;
					margin-top: 10px;
					.brand-name {
						float: left;
						@media(max-width: 340px) {
							width: 140px;
						}
					}
					.clp-product-reviews {
						float: right;
						width: auto;
						margin: 0;
						clear:none;
						padding: 0;
						@media only screen and (max-width:1199px) {
							margin-top: 0;
						}
					}
				}
				.product-name {
					height: 50px;
				}
				.product-name .name-link {
					font-size: 21px;
					font-weight: 400;
					height: auto;
				}
				.product-tile {
					.product-compare-wrapper {
						position: absolute;
				    left: 24px;
				    right: inherit;
				    top: 36px;
				    .product-compare {
				    	margin: 0;
				    	label {
				    		display: none;
				    	}
				    }
					}
					.product-key-features-plp {
						top: 117px;
					}
				}
			}
		}
	}
}

.product-tile .product-name {
	margin-bottom: 15px;
	@media only screen and (max-width:1199px) {
		margin: 8px 10px 8px 0;
	}
}

.search-result-items .product-image {
	@media only screen and (max-width:1199px) {
		max-width: 157px;
	}
}

.search-result-items .product-image .hover_front {
	@media only screen and (max-width:1199px) {
		max-width: 157px;
		height: 150px;
	}
}

.ab-plp-main {
	#secondary.refinements.sticky {
		height: calc(100vh - 145px);
	}
	.cat-content-block-container .subcategory-content-tabs {
		width: calc(100% - 265px);
		padding-right: 75px;
		@media only screen and (max-width:1199px) {
			width: calc(100%);
		}
		ul.tab-nav {
			li.tab-active {
				border-bottom: 4px solid $charcoal;
				a {
					color: $charcoal;
				}
			}
		}
	}
	h1.heading-value {line-height: 1.5;}
}

.pt_product-search-result {
	.ab-plp-main {
		.primary-content  {
			@include respond(medium) {
				.search-result-options {
					padding-left: 16px;
					.sort-by, #grid-sort-header {
						border-radius: 6px;
					}
				}
			}
		}
	}
}
