.pt_storefront {
	#main {
		width: 100%;
		padding: 0;
		@include respond(medium) {
			width: 100%;
		}
	}
}
.home-hero-wrapper {
	@media screen and (max-width: $tablet-breakpoint) {
		min-height: 200px;
	}
	@include respond(large) {
		min-height: 408px;
	}
	.slick-slide {
		img {
			width: 100%;
		}
	}
	p {
		margin: 0;
		padding: 0;
	}
	.slick-dots {
		li {
			vertical-align: middle;
			@include line-height(12px);
			button {
				margin: 0;
				position: relative;
				top: 2px;
			}
		}
	}
}

.home-1-wrapper {
	text-align: center;
	font-size: 0;
	#home-1 {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	p {
		margin: 0;
		padding: 0;
	}
	.banner-wrapper {
		width: 100%;
		height: 108px;
		display: inline-block;
		vertical-align: top;
		@include font-size($font-size-regular);
		color: $darkblue1800;
		text-align: center;
		background: $lightblue1800;
		margin: 0;
		@include respond(large-up) {
			margin: 0 1px;
			width: 33.1%;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		@include respond(large) {
			height: 190px;
		}
		@include respond(x-large) {
			height: 170px;
		}
	}
	.banner-title {
		display: inline-block;
		@include font-size(12px);
		@include line-height(20px);
		font-weight: $font-wt-regular;
		padding: 3px 15px 0;
		border-bottom: 1px solid $white;
		margin-bottom: 2px;
		@include respond(large) {
			@include font-size(15px);
			padding: 10px 15px 7px;
			border-bottom: 2px solid $white;
		}
	}
	.banner-info {
		margin-bottom: 11px;
		@include respond(large) {
			margin-bottom: 23px;
		}
		.top {
			@include font-size(22px);
			font-weight: $font-wt-bold;
			text-transform: uppercase;
			@include respond(large) {
				@include font-size(35px);
			}
		}
		.bottom {
			@include font-size(14px);
			font-weight: $font-wt-semibold;
			@include respond(large) {
				@include font-size(22px);
			}
		}
	}
	.banner-info-bottom {
		@include font-size(9px);
		@include line-height(12px);
		@include respond(large) {
			@include font-size($font-size-regular);
			@include line-height(24px);
		}
	}
	.link {
		color: $white;
		@include font-size(9px);
		@include line-height(24px);
		font-style: $font-style-italic;
		line-height: 24px;
		text-decoration: underline;
		@include respond(large) {
			@include font-size($font-size-regular);
		}
	}
}

.home-2-wrapper {
	text-align: center;
	background: url(../images/bkgd-mattress-texture.png) no-repeat center;
	padding: 8px 0 48px;
	@include respond(large-only) {
		padding: 15px 0 40px;
	}
	@include respond(large) {
		padding: 25px 0 35px;
		margin-top: 35px;
		margin-bottom: 45px;
	}
	.banner-title {
		margin: 5px 0;
		text-transform: uppercase;
		font-weight: $font-wt-bold;
	}
	.banner-info {
		margin-bottom: 22px;
		@include font-size($font-size-xs);
		@include line-height(20px);
		@include respond(large-up) {
			margin-bottom: 12px;
			@include font-size(10px);
			@include line-height(16px);
		}
		@include respond(large) {
			@include font-size($font-size-regular);
			@include line-height(24px);
		}
	}
}
.home-2-wrapper,
.home-3-wrapper {
	.button {
		@include font-size($font-size-xs);
		padding: 0 22px;
		width: auto;
		min-width: 140px;
		@include line-height(40px);
		height: 40px;

		@include respond(large-up) {
			@include font-size($font-size-regular);
		}
		@include respond(large-only) {
			@include font-size(11px);
			@include line-height(25px);
			height: 25px;
		}
		@include respond(large) {
			@include line-height(40px);
			height: 40px;
		}
	}
	&.no-padding {
		padding: 0;
		margin: 0;
		@include respond(large-only) {
			padding: 0;
			margin: 0;
		}
		@include respond(large) {
			padding: 0;
			margin: 0;
		}
	}
}

.home-3-wrapper {
	.banner-wrapper {
		width: 100%;
		margin-bottom: 10px;
		position: relative;
		border: 1px solid $alto;
		box-sizing: border-box;
		background: $white;
		overflow: hidden;
		padding: 15px;
		min-height: 217px;
		
		@include respond(large-up) {
			float: left;
			margin-bottom: 20px;
			padding: 20px;
			&.right {
				margin-right: 10px;
			}
			&.left {
				margin-right: 10px;
			}
		}
		@include respond(large-only) {
			width: 364px;
			min-height: 188px;
		}
		@include respond(large) {
			width: 492px;
			padding: 20px 25px;
		}
		@include respond(x-large) {
			width: 580px;
			min-height: 300px;
		}
		&.white {
			color: $white;
			.button {
				color: $color-secondary;
				background: $white;
			}
			h2,
			h3 {
				color: $white;
			}
		}
	}
	.banner-data {
		position: relative;
		padding-bottom:calculateRem(30px); 
		width:60%;
		margin-bottom:calculateRem(30px); 
		@include respond(medium) {
			width:90%;
		}
	}

	img {
		position: absolute;
		right: 0;
		top: 0;
		&.full-width {
			width: 100%;
			height: 100%;
		}
	}
	h2 {
		@include font-size(20px);
		font-weight: $font-wt-bold;
		text-transform: uppercase;
		line-height: 1.2em;
		margin: 0;
		@include respond(medium) {
			@include font-size(24px);
		}
		@include respond(large) {
			@include font-size(40px);
			margin-bottom: 0px;
		}
	}
	h3 {
		@include font-size(18px);
		font-weight: $font-wt-bold;
		line-height: initial;
		color: $color-secondary;
		margin: 0;
		@include respond(large) {
			@include font-size(30px);
			margin: 0px 0 0 0;
			position:relative;
		}
	}
	.banner-info {
		@include font-size(18px);
		font-weight: $font-wt-regular;
		margin: 10px 0 0;
		@include respond(large-only) {
			@include font-size(11px);
		}
		@include respond(large-up) {
			margin-top: 10px;
		}
		@include respond(large) {
			margin-top: 22px;
		}
	}
	.banner-price {
		@include font-size(55px);
		font-weight: $font-wt-bold;
		color: $color-secondary;
		margin-bottom: 13px;
		@include respond(large-up) {
			margin-bottom: 23px;
			margin-top: -7px;
		}
		@include respond(large-only) {
			margin-top: -5px;
		}
		small {
			@include font-size(25px);
			position: relative;
			top: 10px;
			vertical-align:top;
		}
	}
	.button {
		position: absolute;
		bottom: 17px;
		@include respond(large-up) {
			bottom: 25px;
		}
	}
}
#home-recommendations{
	.product-recommendations {
		display: block;
	}
}
.product-recommendations {
	text-align: center;
	padding: 0 10px;
	@include respond(large-up) {
		padding: 0;
	} 
	h2 {
		margin-bottom: 3px;
		text-transform: uppercase;
		font-weight: $font-wt-bold;
		@include respond(large-up) {
			margin: 20px 0 0;
		}
		@include respond(large) {
			margin: 25px 0 0;
		}
	}
	.block-subtext-below-title {
		color: $color-secondary;
	}
	.product-name {
		overflow: initial;
	}
	.product-description,
	.product-promo {
		display: none;
	}
	.search-result-items {
		margin-top: 10px;
		ul li {
		  display: none;  // hiding slides before initialize carousel
		}
		.grid-tile {
			margin: 0;
			float: left;
			display: block;
			width: auto;
			padding-bottom: 53px;
			border: 1px solid $alto;
			@include respond(large-up) {
				width: 236px;
				height: 340px;
				margin: 0 20px 0 0;
				padding-bottom: 0;
			}
			@include respond(x-large) {
				width: 280px;
				height: 380px;
			}
		}
	}
	.button-wrapper {
		margin-top: 20px;
	}
	.slick-arrow {
		&.slick-prev {
			left: -15px;
			@include respond(large-up) {
				left: 15px;
			}
		}
		&.slick-next {
			right: -15px;
			@include respond(large-up) {
				right: 15px;
			}
		}
	}
}

.home-4-wrapper {
	text-align: center;
	.responsive-slot {
		@include respond(large-up) {
			margin-top: 37px;
		}
		@include respond(large) {
			margin-top: 42px;
		}
	}
	h2 {
		margin: 20px 0 0;
		font-weight: $font-wt-bold;
		text-transform: uppercase;
		@include respond(large-only) {
			@include font-size(22px);
		}
		@include respond(large) {
			margin: 25px 0 0;
		}
	}
	.banner-blocks {
		margin-top: 12px;
		.block {
			float: left;
			width: 50%;
			box-sizing: border-box;
			&:first-child {
				padding-right: 10px;
			}
			&:last-child {
				padding-left: 10px;
			}
		}
	}
	.block-title {
		color: $color-secondary;
		@include font-size($font-size-regular);
		@include line-height(18px);
		font-weight: $font-wt-bold;
		margin-top: 11px;
		margin-bottom: 5px;
		@include respond(large) {
			@include font-size(15px);
			@include line-height(19px);
		}
	}
	.block-info {
		@include font-size($font-size-sm);
		@include line-height(18px);
		margin-bottom: 5px;
		@include respond(large) {
			@include font-size($font-size-regular);
			@include line-height(19px);
			padding: 0 30px;
		}
	}
	.link-more {
		color: $color-primary;
		@include font-size($font-size-regular);
		font-style: $font-style-italic;
	}
}

.home-5-wrapper {
	text-align: center;

	@include respond(large-up) {
		margin-bottom: 23px;
	}
	@include respond(large) {
		margin-bottom: 15px;
	}
	h2 {
		font-weight: $font-wt-bold;
		text-transform: uppercase;
	}
	.responsive-slot {
		@include respond(large-up) {
			margin-top: 32px;
		}
		@include respond(large) {
			margin-top: 44px;
		}
	}
	img {
		width: 50px;
		height: auto;
		@include respond(large-up) {
			width: 39px;
		}
		@include respond(large) {
			width: 61px;
		}
	}
	.blocks {
		margin-top: 10px;
	  @include respond(large-up) {
		font-size: 0;  // fix additional paddings for child inline-block elements
	  }
	}
	.block {
		padding: 15px;
		margin-bottom: 10px;
		background-color: $concrete;
		border: 1px solid $alto;
		box-sizing: border-box;
		@include font-size($font-size-sm);
		@include line-height(18px);

		@include respond(large-up) {
			width: 240px;
			margin-right: 13px;
			display: inline-block;
			padding: 12px 3px 15px;
			@include font-size($font-size-xs);
			@include line-height(17px);
			&:last-child {
				margin-right: 0;
			}
		}
		@include respond(large) {
			width: 326px;
			padding: 20px 20px 30px;
			@include font-size($font-size-regular);
			@include line-height(19px);
		}
		@include respond(x-large) {
			width: 380px;
			margin-right: 20px;
		}
	}
	.block-title {
		@include font-size($font-size-regular);
		font-weight: $font-wt-bold;
		color: $color-secondary;
		margin-top: 10px;
		margin-bottom: 3px;
		@include respond(large-up) {
			@include font-size($font-size-sm);
		}
		@include respond(large) {
			@include font-size(15px);
		}
	}
	.block-info {
		margin-bottom: 5px;
		@include respond(large-up) {
			margin-bottom: 17px;
		}
	}
	.link-more {
		font-weight: $font-wt-regular;
		@include font-size($font-size-sm);

		@include respond(large-up) {
			@include font-size($font-size-xs);
			color: $color-primary;
			font-style: $font-style-italic;
		}
		@include respond(large) {
			@include font-size($font-size-regular);
		}
	}
}
.main-container {
	background-color: #efefef;
	.block-c {
		@include respond(large-down) {
			display: none;
		}
		@include respond(large-only) {
			display: none;
		}
		background-color: white;
		margin-top: 7px;
		#deliveryBlocks {
			.slick-dots {
				height: 15px;
				margin-top:2px;
				li {
					padding-top: 0px;
					height: 11px;
					width: 11px;
					margin-right: 10px;
					button {
						height: 10px;
						width: 10px;
						margin-top: 0px;
						border-radius: 6px;
					}
				}
			}
		}
		img {
			@include respond(large) {
				position: relative;
			    right: 10px;
			    top: 4px;
		    }
		    @include respond(large-down) {
		    	margin: 5px auto;
		    }
		}
		.block {
			@include respond(large-down) {
		    	border: none;
		    }
		    margin-bottom: 20px;
		}
		.block-content {
			@include respond(large) {
				display: inline-block;
				width: 60%;
			}
			a.link-more {
				@include respond(large) {
					display:block;
					text-align: left;
				}
				text-decoration: none;
				.block-title {
					font-family: Montserrat;
					font-size: 16px;
					font-weight: bold;
					color: #1e75a0;
					&:hover {
						color: #ff6c5b !important;
						text-decoration: underline;
					}
				}
			}
		}
	}
	.block-a-b-wrapper {
		background-color: #d2e3ec;
		@include respond(x-small-down) {
			background-color: white;
		}
		.block-a-mobile {
			padding: 0px;
			display: block !important;
			@include respond(medium) {
				display: none !important;
			}
			.home-3-banner-wrapper {
    			border-width: 12px 12px 15px 11px !important;
    			height: 427px;
				h1.block-a-heading {
				    width: 262px;
				    height: 48px;
				    font-size:20px !important;
				}
				.banner-data {
					.block-a-btn {
						@include respond(x-small-down) {
							display: block !important;
							width: 246px;
    						margin: 0 auto !important;
						}
						.button-a {
							@include respond(x-small-down) {
								width: 246px !important;
							}
						}
					}
					#deliveryBlocks {
						@include respond(large-down) {
							display: block;
						}
						.block {
							@include respond(large-down) {
								margin-bottom: 23px;
								margin-left: 20px;
							}
							&.large-4 {
								img {
									vertical-align: middle;
									margin: 0 !important;
								}
							}
							.block-content {
								@include respond(large-down) {
									display: inline-block;
									text-align: left;
	    							margin-left: 15px;
	    							vertical-align: middle;
								}
							}
						}
					}
				}
			}
		}
		.block-a, .block-a-mobile {
			margin-top: 30px;
			.home-3-banner-wrapper {
				background-color: white;
				padding: 18px 0px 0px 0px;
				width: auto !important;
				border: solid #ff6c5b;
    			border-width: 26px 32px;
				margin-bottom: 30px;
				@include respond(large-only) {
					border-width: 14px 11px 13px 12px !important;
				}
				h1.block-a-heading {
				    font-family: Montserrat;
				    text-align: center;
				    color: #333030;
				    margin: 0 auto;
				    @include font-size(40px);
				    @include respond(large-only) {
				    	width: 262px;
					    height: 48px;
					    font-size:20px !important;
					    line-height: normal;
				    }
				}
				.banner-data {
					.content {
						@include respond(large-down) {
							margin: 25px auto;
    						width: 200px;
						}
						@include respond(large-only) {
							margin: 20px auto;
    						width: 200px;
						}
						display: block;
					    margin: 5px auto;
					    text-align: center;
						span.buy-with-a {
							width: 70px;
						    height: 17px;
						    font-family: Montserrat;
						    font-size: 14px;
						    font-weight: 500;
						}
						img.logo {
							width: 104px;
						    height: 20px;
						    object-fit: contain;
						    margin: 0 5px;
						}
						span.buy-with-b {
							width: 145px;
						    height: 17px;
						    font-family: Montserrat;
						    font-size: 14px;
						    font-weight: 500;
						}
					}
					.button-wrap {
					    display: block;
					    text-align: center;
					    margin: 15px 0px 23px 10px;
					    @include respond(large-only) {
							margin: 20px auto;
							display: block;
						}
						.button-a {
							width: 293px;
							height: 40px;
							border-radius: 20px;
							background-color: #1e75a0;
							text-transform: none;
							@include respond(large-only) {
								width: 246px;
							}
						}
					}
					#deliveryBlocks {
						@include respond(large-only) {
							display: block;
						}
						.block {
							border: none;
							@include respond(large-only) {
								margin-bottom: 20px;
								margin-left: 20px;
							}
							&.large-4 {
								@include respond(large-only) {
									img {
										vertical-align: middle;
										margin: 0 !important;
									}
								}
							}
							.block-content {
								@include respond(large-only) {
									display: inline-block;
									text-align: left;
	    							margin-left: 15px;
	    							vertical-align: middle;
								}
								a.link-more {
									text-decoration: none;
									.block-title {
										color: #1e75a0 !important;
									    max-width: 135px;
									    margin: 0 auto;
									    font-family: Montserrat;
										font-size: 14px;
										font-weight: bold;
										&:hover {
											color: #ff6c5b !important;
											text-decoration: underline;
										}
									}
								}
							}
						}
					}
				}
			}	
			@include respond(large-down) {
				display: none;
			}
		}
		.block-b {
			display: inline-flex;
			display: run-in;
			background-color: white;
			margin-top: 30px;
			margin-bottom: 10px;
    		height: 250px;
    		@include respond(x-small-down) {
    			height: 350px;
    		}
    		@include respond(large-only) {
    			height: 438px;
    			padding-top: 20px;
    		}
    		.po-desktop {
    			margin: 0px 0px 5px 0px;
	    		@include respond(large-only) {
	    			margin: 15px auto !important;
	    		}
	    	}
	    	@media only screen and (max-width: 1024px) {
	    		.button-wrap {
	    			display: none !important;
	    		}
	    	}
	    	@media only screen and (max-width: 1024px) {
	    		img.banner-image {
	    			height: 100px !important;
	    		}
	    	}
			@media only screen and (max-width: 1024px) {
				.po-desktop { width: 100px !important;margin: 15px auto;border-radius: 0px !important;}
				.pr-desktop {width: 100%;text-align: center;}
				img.banner-image {
					width: 100% !important;
	    			height: 90px !important;
	   				padding: 0px 0 6px 0;
	   				object-fit: contain;
				}
				.content {
					p {
						text-align: center;
						span {
							font-weight: 600;
						}
					}
					
				}
			}
			.mobile-wrapper {
				@include respond(large) {
					display: none;
				}
				.price-range {
					float: right;
				    margin-right: 35px;
				    margin-bottom: 20px;
				}
			}
		}
	}

	.block-d {
		text-align: center;
		margin-top:5px;
		@include respond(large-down) {
		    	display: none;
		}
		@include respond(large-only) {
			.column:last-child {
				display: none;
			}
		}
		.column {
			padding: 50px 20px 15px 10px;
			@include respond(large) {
				padding: 50px 0px 15px 15px;
			}
			.content-wrapper {
				background-color: white;
				padding: 10px 0px;
				span {
					color:white; 
					background-color:#1e75a0;
					border-radius: 0 5px 5px 0;
					float: left;
					width: 201px;
					height: 24px;
					font-family: Montserrat;
		  			font-weight: bold;
		  			font-size: 15px;
		  			padding: 2px;
				}
				img {
					display: inherit;
		    		margin: 5px auto;
				}
				.product-name {
				    padding: 5px 15px;
				    font-family: Montserrat;
				    font-size: 14px;
				    font-weight: 500;
				    min-height: 40px;
				}
				.product-description {
					padding: 5px 40px;
					font-family: Montserrat;
				    font-size: 14px;
				    font-weight: 100;
					min-height: 90px;
				}
			}
		}
	}
	.block-top-deals {
		.first-row {
			@include respond(large-only) {
				.column:last-child {
					display: none;
				}
			}
			@include respond(large-down) {
				.column {
					display: none;
				}
				.column:last-child {
					display: block;
				}
			}
		}
		.second-row {
			@include respond(large-only) {
				.column:first-child {
					display: none;
				}
			}
		}
	}
	.footer-top-brands {
    	height: 128px;
    	@include respond(x-small-down) {
			display: none !important;
		}
		@include respond(large-only) {
			display: none !important;
		}
    	.footer-customer-service-links {
    		ul#topBrandsLinks {
    			display: flex;
    				padding: 0px;
    				margin: 0 auto;
    				width: 80%;
    			li {
    				list-style: none;
    				img {
    					width: 174px;
					    height: 75px;
					    object-fit: contain;
    				}
    			}
    		}
    	}
	}
	.footer-customer-service , .footer-top-brands {
		background-color: white;
		.footer-customer-service-cont {
			padding: 16px 0;
			margin-bottom: 15px;
			@include respond(large-up) {
				margin-bottom: 30px;
				padding: 28px 0;
			}
	    	@include respond(x-large) {
	    		background-size: cover;
	    	}
	    	@include respond(large-down) {
	    		width: 100% !important;
	    	}
			h2 {
				@include font-size(20px);
				@include line-height(22px);
				color: $white;
				margin: 0;
				text-align: center;
				text-transform: uppercase;
				font-weight: $font-wt-bold;
				@include respond(large-up) {
					@include font-size(22px);
					@include line-height(22px);
				}
				@include respond(large) {
					@include font-size(30px);
					@include line-height(30px);
				}
				span {
					display: block;
					@include respond(large-up) {
						display: inline;
					}
				}
			}
			.note {
				color: $rolling-stone;
				@include font-size($font-size-regular);
				@include line-height(16px);
				font-weight: $font-wt-bold;
				max-width: 200px;
				margin: 5px auto 12px;
				@include respond(large-up) {
					max-width: inherit;
					text-align: center;
					margin-bottom: 22px
				}
				@include respond(large) {
					@include font-size(16px);
				}
			}
			.footer-customer-service-links {
				@extend %centered-block;
				#topBrandsLinks {
					.slick-dots {
						height: 15px;
						margin-top:2px;
						li {
							padding-top: 0px;
							height: 11px;
    						width: 11px;
							margin-right: 10px;
							button {
								height: 10px;
    							width: 10px;
    							margin-top: 0px;
    							border-radius: 6px;
							}
						}
					}
				}
				ul {
					font-size: 0; // fix additional paddings for child inline-block elements
					padding: 0;
					width: 100%;
					margin: 0 auto;
				    text-align: center;
					@include respond(large-up) {
						width: 800px;
					}
					@include respond(large-only) {
						width: 640px;
					}
					li {
					  	display: inline-block;
						padding-top: 10px;
	    				width: 26%;
	    				@include respond(large-only) {
	    					width: 30%;
	    				}
	    				margin: 0;
	    				box-sizing: border-box;
	    				list-style: none;
	    				border-right: 0px solid #5d6767;
	    				@include respond(large-up) {
	    					padding: 0;
	    				}
	    				&.last {
	    					border: 0;
	    				}
	    				a.call-number {
                        	img {
                                @include respond(large-down) {
                                    margin-bottom:20px
                                }
                                @include respond(small-updated) {
                                    margin-bottom:10px;
                                }
                            }
                        }
                        .top-brands {
                        	width: 259px;
  							height: 105px;
  							@include respond(large-down) {
								display: block !important;
								margin: 0 auto;
							}
                        }
	    				a, .sleeppys-call {
	    					color: black;
	    					display: block;
	    					text-align: center;
	    					@include font-size($font-size-xs);
							@include line-height($font-size-xs);
							font-weight: $font-wt-bold;
							@include respond(large-up) {
								@include font-size($font-size-regular);
								@include line-height($font-size-regular);
								display: flex;
							}
							span {
								margin: auto 0;
								height: 24px;
								font-size: 20px;
								font-weight: 500;
								font-family: Montserrat;
								font-style: normal;
								line-height: normal;
								letter-spacing: 0.5px;
								text-align: left;
								color: #4a4a4a !important;
								text-align: center;
    							width: auto;
    							@include respond(large-down) {
    								font-size: 16px;
    								font-weight: 600;
    								color: black !important;
    							}
							}
							img {
								margin: 0 10px 0 auto;
								display: block;
								@include respond(large-up) {
									width: inherit;
								}
								@include respond(large-only) {
									width: 200px;
								}
								@include respond(large-down) {
									margin:0 auto 10px
								}
							}
	    					span {
	    						display: block;
	    						@include respond(large-up) {
									display: inline;
								}
	    					}
							&.desktop-only {
								@include respond(large-down) {
									display: none;
								}
							}

							&.mobile-only {
								img {
									height: 32px;
								}
								@include respond(large-up) {
									display: none;
								}
							}
	    				}
					}
				}
			}			
		}
	}
	.brand, .trending-products, .left-side {
		background-color: white;
		&.brand-border {
			.section {
				border-bottom: solid 1px #cecece;
			}
		}
		.section {
			padding: 35px 0;
			@include respond(x-small-down) {
				padding-top: 0px !important;
			}
		}
		.section-title {
			&:first-child {
				@include respond(large-down) {
					padding-top: 25px;
				}
			}
			p {
				a {
				    color: #1e75a0;
				    font-family: Montserrat;
				    font-size: 20px;
				    font-weight: bold;
				    text-decoration: none;
				    &:hover {
						color: #ff6c5b;
						text-decoration: underline;
					}
				}
			}
		}
		.product-carousel-wrap {
			.product-carousel, .product-carousel-with-left-sidebar {
				.slick-track {
					margin: 0 auto;
				}
				.product-card {
					.product-carousel-card {
						@include respond(large-down) {
							padding-bottom: 0px;
						}
					}
					.product-tile {
						.product-name {
							b {
								 color: #333030;
							}
						}
						.product-image {
							a.thumb-link {
								img {
									border: 1px solid #cecece;
								}
							}
						}
						.product-pricing {
							padding: 8px 0 0;
							.product-sales-price {
							    text-align: center;
							}
							.product-standard-price, .no-sale-price {
								text-align: center;
							}
							.percentageDiscount {
							    text-align: center;
							}
						}
					}
					.product-carousel-card-btn {
						@include respond(large-down) {
								display: none;
						}
						a {
							background-color: #1e75a0;
							@include respond(large-only) {
								width: 135px;
							}
						}
					}
				}
			}
		}
	}
}
.left-side {
	background-color: #e9f1f6 !important;
	.product-carousel-card {
		background-color: #e9f1f6 !important;
	}
	&:last-child {
		border-bottom: 10px solid #333030;
	}
	.large-3 {
		@include respond(large-down) {
			display: none;
		}
		@include respond(large-only) {
			display: none;
		}
	}
	.section {
		.section-title {
			h4.text-center {
				width: 320px;
				margin: 15px auto;
				@include respond(large-only) {
					width: 100%;
				}
				@include respond(large) {
					display: none;
				}
				a {
					font-size: 20px;
				    font-weight: bold;
				    text-align: center;
				    color: #1e75a0;
				    text-decoration: none;
				}
			}
			.sub-heading {
				font-weight: 700;
			    text-align: center;
			    color: #000000;
			    display: block;
			    width: 280px;
			    margin: 20px auto;
				@include respond(large) {
				    display: none;
				}
				@include respond(large-down) {
				    margin: 0px auto;
				}
			}
		}
	}
	.column {
		.memory-foam, .complete-bed {
			background-color: #1e75a0;
		    width: 200px;
		    height: 409px;
		    margin-left: 80px;
			.content-wrapper {
				padding: 0px 20px 0px 20px;
				h2 {
					color: white;
    				max-width: min-content;
    				margin-bottom: 0px;
    				margin-top: 0px;
    				font-weight: 800;
				}
				a.memory-foam {
					text-decoration: none;
					h2 {
						height: 85px;
					}
				}
				p {
					margin-bottom: 0px;
					margin-top: 0px;
					a {
						color: white;
						font-size: 22px;
					}
				}
				a.with-bed {
					text-decoration: none;
					h2.heading-bed {
						height: 56px;
					}
				}
				.pillow-sheet {
					color: #ffffff;
					font-size: 18px;
					font-weight: bold;
					margin-top: 0px;
				}
			}
			.border-pink {
				width: 170px;
			    height: 3px;
			    background-color: #ff6c5b;
			    margin: 0 auto;
			}
			p.shop-all {
				margin-top: 0px;
				a {
					color: white;
    				padding: 0px 20px 20px 20px;
    				font-size: 20px;
				}
			}
		}
	}
}
.trending-products {
	.section-title {
		h2.text-center {
			color: #1e75a0;
			font-family: Montserrat;
			font-size: 20px;
			font-weight: bold;
			margin: 10px 0px 5px 0px;
		}
	}
}
.nav-links-wrapper {
	@include respond(large-up) {
		margin-bottom: 0;
	}
	ul {
		@extend %clear_list;
	}
	a {
		@include link-main-navigation;
		@include line-height(40px);
		height: 40px;
		border: $border;
		border-bottom: none;
		background: $concrete;
		display: block;
		box-sizing: border-box;
		padding: 0 15px;
		position: relative;
		&:after {
			content: '';
			display: block;
			width: 10px;
			height: 19px;
			background: url(../images/interface/sprite.png) no-repeat -279px -225px;
			position: absolute;
			right: 11px;
			top: 10px;
			transform: rotate(180deg);
		}
	}
	li:last-child {
		border-bottom: $border;
	}
}