.svg-cart-icon-dims {
	width: 36px;
	height: 27px;
}

.svg-chat-icon-dims {
	width: 17px;
	height: 17px;
}

.svg-store-ad-icon-dims {
	width: 15px;
	height: 16px;
}

.svg-store-locator-icon-dims {
	width: 13px;
	height: 19px;
}

