//
// Button overrides
//
.btn {
  font-size: 0.75rem; // 12px
  padding-bottom: 0.5rem;
  padding-left: 3.0rem;
  padding-right: 3.0rem;
  padding-top: 0.5rem;
}

.btn-primary {
	background-color: $brand-blue;
	border-color: $brand-blue;
	color: $white;
	a{
		color: $white;
		text-decoration: none;
	}
}

.btn-secondary {
  background-color: $white;
  border: solid 1px $geyser;
  color: $steel-blue;
}

.btn-group-sm>.btn, .btn-sm {
  font-size: 0.75rem; // 12px
  line-height: 1.5;
  border-radius: .2rem; // 4px
  padding: 0.375rem 0.625rem; // 6px 10px
  min-width:71px;
}

a.btn {
  text-decoration: none;
}
.btn:hover, .btn:focus,button:focus{
	box-shadow: none !important;
	outline: none !important;
}
.btn{
	&.schedule-delivery,&.schedule-delivery-payment,&.pay-pending-order,&.go-dashboard-order{
		width:245px;
	}
	&.pay-pending-order {
		margin-right: 20px;
	}
	&.schedule-delivery-payment,&.go-dashboard-order{
		border: solid 1px $governorbay;
		color: $governorbay;
		padding:0;
		height:36px;
		&:hover{
			color:$white;
		}
	}
}
.btn-border-blue{
	border: solid 1px $governorbay;
	color: $governorbay;
}
