//
// Delivery picker - slick carousel
//

// Hide picker onload to prevent FOUC...
.delivery-picker {
  display: none;
}

// ...show picker when js is ready.
html.js .delivery-picker {
  display: block;
}

.delivery-picker .slick-next.slick-disabled,
.delivery-picker .slick-prev.slick-disabled {
  opacity:0.2;
}

.delivery-picker .slick-next,
.delivery-picker .slick-prev {
  background-color: $white;
  background-position: -15px center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  font-size: 0;
  height: 48px;
  position: absolute;
  top: 50%;
  width: 20px;
  z-index: 10;
}

.delivery-picker .slick-prev {
  background-image: url('../../images/svg-icons/arrow-left-wide-grey.svg');
  left: -14px;
}

.delivery-picker .slick-next {
  background-image: url('../../images/svg-icons/arrow-right-wide-grey.svg');
  right: -14px;
}

.delivery-picker__date {
  border: 1px solid $geyser;
  border-radius: 3px;
  margin: 16px 12px;
  max-width: 135px;
}

.delivery-picker__date-title {
  background-color: $pale-grey-50;
  color: $black;
  font-family: $g-regular;
  font-size: 0.75rem; // 12px
  line-height: 1.125rem; // 18px
  padding: 0.6875rem 1.5rem;// 11px 24px
  text-align: center;
  white-space: nowrap;
}

.delivery-picker__date.selected .delivery-picker__date-title {
  background-color: $royal-blue;
  color: $white;
}

.delivery-picker__date-not-available {
  color: $boulder;
  font-family: $g-regular;
  font-size: 0.75rem; // 12px
  text-align: center;
  padding: 1.75rem 1.0rem 1.625rem; // 28px 16px 26px
}

.delivery-picker__date-time-label {
  border-radius: 3px;
  background-color: $aqua-haze;
  border: solid 1px $geyser;
  display: block;
  font-size: 12px;
  font-weight: 400;
  margin: 9px auto;
  min-height: 50px;
  max-width: 100px;
  padding: 4px;
  text-align: center;
}

.delivery-picker__date-time-slot.selected .delivery-picker__date-time-label {
  background: $royal-blue;
  color: $white;
}

// Hide radio button
.delivery-picker__radio-button {
  display: none;
}
