//
// Font Stack
//

// font family import
@include font-face('Gilroy Extrabold', 'gilroy-extrabold', 'Gilroy', 'serif');
@include font-face('Gilroy Bold', 'gilroy-bold', 'Gilroy', 'serif');
@include font-face('Gilroy Semibold', 'gilroy-semibold', 'Gilroy', 'serif');
@include font-face('Gilroy Medium', 'gilroy-medium', 'Gilroy', 'serif');
@include font-face('Gilroy', 'gilroy', 'Gilroy', 'serif');

// font family variables
$g-extrabold: 'Gilroy Extrabold', 'Arial', sans-serif;
$g-bold: 'Gilroy Bold', 'Arial', sans-serif;
$g-semibold: 'Gilroy Semibold', 'Arial', sans-serif;
$g-medium: 'Gilroy Medium', 'Arial', sans-serif;
$g-regular: 'Gilroy', 'Arial', sans-serif;

$sans-serif: 'Gilroy', Arial, sans-serif;
$sans-serif-alt: $sans-serif;
$serif: $sans-serif;

//
// Font Sizes and Height
//
// TODO: Review against Zeplin comps and update accordingly - SRoche
$font-spacing-regular: 0;

$font-size-regular: 14px;
$font-size-sm: 13px;
$font-size-xs: 12px;

$font-size-h1: 45px;
$font-size-h2: 30px;
$font-size-h3: 25px;
$font-size-h4: 20px;
$font-size-h5: 15px;
$font-size-h6: 14px;

$font-size-mobile-h1: 30px;
$font-size-mobile-h2: 20px;
$font-size-mobile-h3: 18px;
$font-size-mobile-h4: 17px;
$font-size-mobile-h5: 15px;
$font-size-mobile-h6: 14px;
$font-size-tablet-h2: 22px;

$font-height-regular: 21px;
$font-height-h1: 45px;
$font-height-h2: 30px;
$font-height-h3: 30px;
$font-height-h4: 20px;
$font-height-h5: 22px;
$font-height-h6: 18px;
$font-height-mobile-h1: 30px;
$font-height-mobile-h2: 20px;
$font-height-mobile-h3: 22px;
$font-height-mobile-h4: 17px;
$font-height-mobile-h5: 22px;
$font-height-mobile-h6: 18px;


$font-size-mobile-paragraph-body: $font-size-sm;
$font-size-mobile-product-name: $font-size-regular;
$font-size-mobile-price-text: $font-size-regular;
$font-size-mobile-promotion-text: $font-size-sm;
$font-size-mobile-sale-price: 18px;
$font-size-mobile-crossed-price: 15px;
$font-size-mobile-paragraph-head: $font-size-sm;
$font-size-mobile-subtext-below-title: $font-size-regular;
$font-size-mobile-sidebar-promo-title: $font-size-sm;
$font-size-mobile-sidebar-promo-paragraph: $font-size-xs;
$font-size-paragraph-body: $font-size-regular;
$font-size-product-name: $font-size-regular;
$font-size-price-text: $font-size-regular;
$font-size-promotion-text: $font-size-sm;
$font-size-sale-price: 25px;
$font-size-crossed-price: 20px;
$font-size-paragraph-head: $font-size-regular;
$font-size-subtext-below-title: 16px;
$font-size-sidebar-promo-title: $font-size-regular;
$font-size-sidebar-promo-paragraph: $font-size-xs;


$font-height-mobile-paragraph-body: 20px;
$font-height-mobile-product-name: 18px;
$font-height-mobile-price-text: 18px;
$font-height-mobile-promotion-text: 17px;
$font-height-mobile-sale-price: 22px;
$font-height-mobile-crossed-price: 22px;
$font-height-mobile-paragraph-head: 20px;
$font-height-mobile-subtext-below-title: 20px;
$font-height-mobile-sidebar-promo-title: 17px;
$font-height-mobile-sidebar-promo-paragraph: 17px;
$font-height-paragraph-body: $font-height-regular;
$font-height-product-name: 18px;
$font-height-price-text: 18px;
$font-height-promotion-text: 18px;
$font-height-sale-price: 30px;
$font-height-crossed-price: 30px;
$font-height-paragraph-head: $font-height-regular;
$font-height-subtext-below-title: 23px;
$font-height-sidebar-promo-title: 17px;
$font-height-sidebar-promo-paragraph: 17px;

//
// Font Weights
//
$font-wt-light: 200;
$font-wt-regular: 400;
$font-wt-semibold: 700;
$font-wt-bold: 900;

//
// Font Styles
//
$font-style-italic: italic;
$font-style-regular: normal;
//
// Standard Font Families
//

// usage: @include font-regular();
@mixin font-regular() {
	font-family: $sans-serif;
	font-weight: $font-wt-regular;
}

@mixin font-italic() {
	font-family: $sans-serif;
	font-weight: $font-wt-regular;
	font-style: $font-style-italic;
}

// usage: @include font-semibold();
@mixin font-semibold() {
	font-family: $sans-serif;
	font-weight: $font-wt-semibold;
}

// usage: @include font-bold();
@mixin font-bold() {
	font-family: $sans-serif;
	font-weight: $font-wt-bold;
}
