// footer
.footer {
	background: $white;
	height: 569px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.footer__bg-outer {
  background-image: linear-gradient(to right, $governorbay, $dodger-blue 48%, $conifer);
  display:block;
  height: 569px;
  opacity: 0.15;
  width: auto;
}

.footer__bg-inner {
	background: $white;
	border-radius: 2800px / 1800px;
	height: 1200px;
	right: -16px;
  	position: absolute;
  	top: -698px;
	width: 12800px;
}

.footer__content {
	bottom: 0;
	margin: 0 auto;
	padding: 16px 12px;
	position: absolute;
	width: 100%;
	z-index: 3;
	p{
		padding:0 0 5px !important;
	}
}

.footer__copyright {
	font-size: $font-size-xs;
	max-width:1200px;
	margin:0 auto;
	text-align:center;
}
