.js .simple-submit {
	display: none;
}

legend {
	width: 100%;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 3;
	position: relative;
	color: $color-secondary;
	@include font-size(12px);
	font-weight: $font-wt-regular;
	text-transform: uppercase;

	span {
		font-weight: $font-wt-regular;
		position: relative;
		text-transform: none;
		em {
			color: $night-rider;
		}
	}
	.dialog-required {
		margin: 7px 0 0;
	}
	.required-indicator {
		margin: 0;
		float: right;
	}
}

label {
	display: block;
	font-size: 0.813rem; // 13px
	font-weight: 400;
	margin-bottom: 4px;
	max-height: 19px;

	.form-horizontal & {
		float: left;
		width: 100%;
		font-size: 0.813rem;
   		margin: 0 0 5px;
    	color: #54698d;
    	font-weight: 500;
		@include respond(medium) {
			width: 144px;
			margin-bottom: 0;
		}
	}
	.label-inline & {
		display: inline;
		float: none;
		font-size: 0.813rem;
		font-weight: $font-wt-regular;
		line-height: 20px;
		margin-top: 0;
		text-align: left;
		width: auto;
	}
	.label-above & {
		margin-bottom: .3rem;
		width: auto;
	}
}

.form-label-text {
	float: left;
	font-size: 1.1em;
	font-weight: 700;
	padding: 0.75em 0 0;
	text-align: right;
	width: 25%;
}

.form-row {
	@extend %clearfix;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 2px;
}

.form-row-button {
	clear: left;
	.form-horizontal & {
		@include respond(medium) {
			margin-left: 0;
			margin-right: 0;
			max-width: 500px;
			text-align: right;
		}
	}
}

.field-wrapper {
	box-sizing: border-box;
	margin-bottom: .5rem;
	width: 100%;

	.form-horizontal & {
		float: left;
		@include respond(medium) {
			max-width: 380px;
		}
	}
	.label-inline & {
		float: left;
		padding-left: 0;
		width: auto;
	}
	.label-above & {
		float: none;
		padding-left: 0;
		width: auto;
	}
	.phone-row & {
		max-width: 180px;
	}
	span.error, div.error{
		white-space: nowrap;
	}
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="email"],
textarea {
	//border: $border;
	border: 1px solid $cadet-blue;
	box-sizing: border-box;
	height: 33px;
	padding: 0 13px;
	text-indent: 0;
	width: 100%;
	color: $black;
	font-size: 14px;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 4px;
	font-size: 0.813rem;
	&.error {
		border: 1px solid $thunderbird;
	}
}

// Upload file input[type=file] rules
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	cursor: pointer;
	display: block;
	height: 38px;
	max-height: 100%; // Needed to override existing label style
	overflow: hidden;
	padding: 0;
}

.inputfile span.btn {
	text-overflow: ellipsis;
	white-space: nowrap;
}

textarea {
	width: 100%;
	height: 75px;
	padding: 13px;
	box-sizing: border-box;
	.textarea-row & {
		height: 160px;
	}
}

select {
	background-color: $white; // set background color to make height work
	border: 1px solid $cadet-blue;
	height: 2rem;
	width: 100%;
}

//
// override bootstrap custom-forms
//
.custom-select {
	border: 1px solid $cadet-blue;
	height: calc(2.0rem + 2px);
	padding: 0.25rem 1.75rem 0.25rem 0.75rem;
}

input[type="checkbox"],
input[type="radio"] {
	margin: 1em 1% 1em 2%;
	.label-inline & {
		margin: 0 .3rem 0 0;
	}
}

.form-caption {
	bottom: 4px;
	clear: left;
	position: relative;
	width: auto;
	@include font-size($font-size-xs);

	.form-horizontal & {
		@include respond(medium) {
			margin-left: 144px;
		}
	}
	.label-above & {
		margin-left: 0;
	}
	.form-indent & {
		margin-left: 0;
	}
}

.form-indent {
	@include respond(medium) {
		margin-left: 144px;
	}
}

.error-message {
	text-indent: 0;
	width: 49.5966%;
	margin-top: 7px;
	padding: 0;
	border: none;
}


.error {
	border-color: $thunderbird;
	color: $thunderbird;
}

span.error,
div.error {
	background: none;
	font-size: 12px;
	margin-top: 7px;
}

.error-form {
	border: 1px solid $thunderbird;
	color: $thunderbird;
	margin: 0.5em 0;
	padding: 0.8em;
}

.form-inline {
	form {
		padding: 0 0 2em;
		width: 98%;
	}
	label {
		padding: 0 0 0.75em;
		text-transform: uppercase;
		width: auto;
	}
	input[type="text"], select {
		margin-left: 0;
		width: 95%;
	}
	button {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}
}

.row-inline {
	display: inline;
	label {
		width: auto;
		margin:0 0 8px;
	}
}

// Required Indicator and Text
.dialog-required {
	display: inline-block;
	position: relative;
	float: right;
	color: $thunderbird;
	@include font-size($font-size-xs);
	em {
		color: $color-primary;
		font-style: $font-style-italic;
		text-transform: capitalize;
	}
}

.required-indicator {
	font-style: $font-style-regular;
	color: $thunderbird;
	display: none;
	padding: 0 0 0 3px;
}

.form-field-tooltip {
	float: right;
	width: 20%;
	text-align: right;
	margin-top: -17px;
	position: relative;
	top: -2px;

	& > a {
		color: $color-primary;
		@include font-size($font-size-xs);
		text-decoration: none;
		font-style: $font-style-italic;

		@include respond(medium) {
			text-decoration: underline;
			&:hover {
				text-decoration: underline;
			}
			&:before {
				content: '(';
				display: inline;
			}
			&:after {
				content: ')';
				display: inline;
			}
		}
	}
	.icon {
		display: none;
	}
	@include respond(medium) {
		width: auto;
		margin-right: -20px;
		top: 22px;
	}
	@include respond(large) {
		margin-right: 105px;
	}
	@include respond(x-large) {
		margin-right: 225px;
	}
}
.form-radio-holder{
	position: relative;
	span.error, div.error{
		position: absolute;
    	bottom: 0;
    	left:0;
	}
	span.label {
	    position: relative;
	    top: -1px;
	}
}
.btn{
	&.btn-secondary.btn-bordered{
		color: $governorbay;
    	border-color: $governorbay;
    	&:hover{
    		color:#fff;
    		border-color:#5a6268;
    	}
	}
}
label[for=inputfile] {
    display:inline-block;
}

// Enforce wrapping
label[for=inputfile] > span.btn {
	max-width: 360px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}


.events-form-dialog{
	label,p{
		color: #54698d;
		font-size: 0.813rem;
	}
	p{
		margin-top:1rem;
	}
	label{
		&.error {
		    border-color: #cb171e;
		    color: #cb171e;
		    font-size:0.8rem;
		}
	}
	.error {
	    border-color: #cb171e;
	    color: #cb171e;
	    font-size:0.8rem;
	}
}
