//
// Header
//
.header-top {
    background-image: linear-gradient(to right, $brand-blue, $dodger-blue 48%, $conifer);
    height: $header-top-container-height;
}

// has bootstrap container class in markup
.header-top__container {
    height: $header-top-container-height;
}

.header-top__container-row {
    position: relative;
}

.header-top__logo-container {
    height: 45px;
    margin-left: 0;
    margin-right: 27px;
    margin-top: 36px;
    @media (max-width: 767px) {
        margin-left: 16px;
        margin-right: 16px;
    }
}

.header-top__logo-img {
    max-width: 268px;
    @media (max-width: 767px) {
        max-width: 180px;
    }
}

.header-top__site-name-text {
    color: $white;
    font-family: $g-regular;
    font-size: 22px;
    font-weight: $font-wt-light;
    letter-spacing: 0.0275rem;
    line-height: 1.55rem;
    margin-top: 31px;
    @media (max-width: 767px) {
        font-size: 16px;
        line-height: 1.15rem;
        width: 110px;
    }
    span{
    	display:block;
    }
}

.header-top__utility {
    margin-left: auto;
}

.header-top__utility-row {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 107px;
}

.header-top__utility-customer-service {
    color: $white;
    font-size: 1.0rem;
    height: 40px;
    line-height: 1.45rem;
    margin-right: 15px;
    width: 120px;
    // Override bootstrap. Force the containter max width to be 556px
    @media (max-width: 993px) {
        display: none;
    }
    .contact-number {
        color: #fff;
        text-decoration: none;
    }
}

.header-top__utility-menu-toggle {
    text-decoration: none;
}

.header-top__utility-menu-account-icon {
    background: url('../images/svg-icons/avatar.svg') no-repeat center center;
    background-size: 100% auto;
    display: block;
    height: 48px;
    margin: 21px auto 0;
    width: 48px;
}

.header-top__utility-menu {
    background-color: $white;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #212529;
    margin: 0.125rem 0 0;
    min-width: 10rem;
    overflow: hidden;
    padding: 0.5rem 0;
    position: absolute;
    right: 0;
    top: 98px;
    text-align: left;
    z-index: 1000;
}

.header-top__utility-menu.hidden {
    display: none;
}

.header-top__utility-menu-item,
button.header-top__utility-menu-item {
    color: $black;
    display: block;
    padding: 0.25rem 1.5rem;
    text-decoration: none;
    width: 100%;
    white-space: nowrap;
}

button[type="submit"].header-top__utility-menu-item {
    -webkit-appearance: none;
    border: 0;
    cursor: pointer;
    text-align: left;
    user-select: none;
}

.header-top__utility-menu-item:hover,
button[type="submit"].header-top__utility-menu-item:hover {
    background: $seashell;
    color: $steel-blue;
    text-decoration: none;
}

.header-top__utility-menu-username {
    color: $white;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    width: 150px;
}
