
.ui-widget-overlay {
	background: $black;
	opacity: 0.75;
}

.ui-widget.ui-widget-content {
	border: none;
}

.ui-dialog {
	background-color: $white;
	padding: 0;
	z-index: 100;
	@include respond(small) {
		width: 100% !important;
	}

	// Do not show scrollbars in dialog.
	.dialog-inner-container {
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}

	.ui-widget-header {
		border: none;
		border-radius: 4px 4px 0 0;
		padding: 0;
		height: 44px;
		text-transform: uppercase;
	}
	.ui-dialog-title {
		//@include h4();
		border-bottom: $border;
		color: $biscay;
		font-size: 1.25rem; // 20px
		font-weight: normal;
		margin-top: 0;
		margin-bottom: 0;
		padding-bottom: 14px;
		padding-top: 14px;
		text-transform: none;
		text-align: center;
		width: 100%;
	}
	.ui-icon-closethick {
		background: transparent url("../images/svg-icons/x-symbol-biscay-blue.svg") no-repeat 0 0;
		height: 20px;
		width: 20px;
		left: 0;
		top: 0;
		margin-left: 0;
		margin-top: 0;
	}
	.ui-dialog-titlebar-close {
		background-color: transparent;
		border: 0 none;
		border-radius: 0 0 0 0;
		height: 20px;
		margin: 0;
		padding: 0;
		right: 10px;
		top: 10px;
		width: 20px;
		span {
			margin: 0;
			padding: 0;
		}
	}
	.ui-dialog-content {
		border-radius: 0 0 4px 4px;
		padding: 50px 10px 10px;
		overflow: hidden;
		@include respond(medium) {
			padding-left: 20px;
			padding-right: 20px;
			padding-bottom: 20px;
		}
	}
	&.add-to-cart-intercept-dialog {
		.ui-dialog-content {
			 @include respond(medium) {
				 padding-left: 10px;
				 padding-right: 10px;
			 }
		 }
	}

	.btn-group-sm {
		text-align: right;
		.btn{
			margin:0 0 0 10px;
		}
	}
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}

.ui-accordion .ui-accordion-content {
	padding: 0;
}

.ui-tabs {
	.ui-tabs-nav {
		height: 2.45em;
		padding: 0;
		li {
			border-color: $white;
			border-style: solid;
			border-width: 0 0 3px 0;
			&.ui-state-active {
				border-bottom-color: $citrus;
				a {
					color: $black;
					font-weight: 700;
				}
			}
			a {
				color: $nobel;
			}
		}
	}
	.ui-tabs-panel {
		background-color: $white;
		border: 1px solid $white;
		line-height: 1.5em;
		margin: 0;
		padding: 20px 10px;
		h3 {
			@include respond(large-up) {
				display: none;
			}
		}
	}
}

#vertical-carousel {
	height: 19rem;
	position: relative;
	overflow: hidden;
	ul {
		height: 10000em;
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
		li {
			float: left;
			height: 19rem;
			width: 100%;
			.capture-product-id {
				display: none;
			}
		}
	}
	.jcarousel-nav {
		color: $nobel;
		cursor: pointer;
		font-size: 0.9em;
		font-weight: 700;
		position: absolute;
		right: 0;
		text-transform: uppercase;
		&:hover {
			color: $citrus;
		}
		&.inactive {
			display: none;
		}
	}
	.jcarousel-prev {
		bottom: 30px;
	}
	.jcarousel-next {
		bottom: 0;
	}
}

.ui-state-hover .ui-icon.ui-icon-closethick,
.ui-state-focus .ui-icon.ui-icon-closethick,
.ui-button:hover .ui-icon.ui-icon-closethick,
.ui-button:focus .ui-icon.ui-icon-closethick {
	background: transparent url("../images/svg-icons/x-symbol-biscay-blue.svg") no-repeat 0 0;
	height: 20px;
	width: 20px;
	left: 0;
	top: 0;
	margin-left: 0;
	margin-top: 0;
}

#ui-datepicker-div {
	border: solid 1px rgba(81, 86, 99, 0.24);
	border-radius: 4px;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	background-color: $white-lilac;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 12px auto;
	border: 1px solid $white-lilac;
	border-radius: 50%;
	color: $manatee !important;
	fill: currentColor;
}

.ui-datepicker .ui-datepicker-prev {
	background-image: url(../images/svg-icons/arrow-left.svg);
	left: 0;
	top: 0;
}


.ui-datepicker .ui-datepicker-next {
	background-image: url(../images/svg-icons/arrow-right.svg);
	right: 0;
	top: 0;
}

.ui-datepicker .ui-datepicker-prev-hover
,.ui-datepicker .ui-datepicker-next-hover {
	background-color: $pale-sky;
	top: 0;
}

.ui-datepicker .ui-datepicker-prev {
		left: 0;
}

.ui-datepicker .ui-datepicker-next {
	right: 0;
}

.ui-datepicker .ui-datepicker-prev-hover {
	left: 0;
}

.ui-datepicker .ui-datepicker-next-hover {
	right: 0;
}

.ui-datepicker td span,
.ui-datepicker td a {
	text-align: center;
}

.events-form-dialog .button-row {
	margin-left: -30px;
	margin-right: -30px;
	margin-bottom: -30px;
	padding-bottom: 30px;
	padding-top: 10px;
	background: #f7f9fb;
	margin-top: 30px;
}
.events-form-dialog.edit-customer-info-dialog{
	padding: 0 65px 50px;
	h3{
		font-size: 12px;
  		font-weight: normal;
  		color: #54698d;
  		text-transform:uppercase;
  		margin:10px 0 5px;
	}
}
.button-row-edit-customer{
	background-color: #f7f9fb;
    padding: 15px 10px 15px 0;
    margin-bottom: -10px;
    border-top: solid 2px #eef1f6;

}