//------------------------------------
//  MIXINS
//
// ex: @include mixin-name(args)
//------------------------------------

//
// Generated a media query based on the given option
// Possible options:
//		print - styles only apply to printing
//		small - styles only apply to viewports smaller than 768px
//		large-down - styles only apply to viewports smaller than 1200px
//		large - styles only apply to viewports between 768px and 1200px
//		large-only - styles only apply to viewports from 768px to 1024px
//		large-up - styles only apply to viewports 768px and above
//		desktop - styles only apply to viewports 1200px and above
//		[number]px - will create a new breakpoint with this MINIMUM value

//	320-479 (fluid - base demandware)
//	480-767 (fluid - base demandware)
//	768-1024 (fixed)
//	1025-1199 (fixed)
//	1200+ (fixed)
//

@mixin respond($media) {
	@if $media == 'print' {
		@media only print{ @content; }
	}
	@else if $media == 'small-updated' {
		// 0-320
		@media only screen and (max-width: calculateEm($small-breakpoint) ) { @content; }
	}
	@else if $media == 'small' {
		// 0-320
		@media only screen and (max-width: calculateEm($large-breakpoint - 1) ) { @content; }
	}
	@else if $media == 'x-small' {
		// 320-479
		@media only screen and (min-width: calculateEm($small-breakpoint)) and (max-width: calculateEm($medium-breakpoint - 1) ) { @content; }
	}
	@else if $media == 'x-small-down' {
		// 0-480
		@media only screen and (max-width: calculateEm($medium-breakpoint) ) { @content; }
	}
	@else if $media == 'm-small' {
		// 480-767
		@media only screen and (min-width: calculateEm($medium-breakpoint)) and (max-width: calculateEm($large-breakpoint - 1) ) { @content; }
	}
	@else if $media == 'medium' {
		// 768+
		@media only screen and (min-width: calculateEm($large-breakpoint)){ @content; }
	}
	@else if $media == 'large' {
		// 1025+
		@media only screen and (min-width: calculateEm($tablet-breakpoint + 1)) { @content; }
	}
	@else if $media == 'large-only' {
		// 768-1024
		@media only screen and (min-width: calculateEm($large-breakpoint)) and (max-width: calculateEm($tablet-breakpoint)) { @content; }
	}
	@else if $media == 'large-down' {
		// 0-767
		// Try not to use this media query.  Please design with a mobile-first approach!
		@media only screen and (max-width: calculateEm($large-breakpoint - 1) ) { @content; }
	}
	@else if $media == 'large-up' {
		// 768+
		@media only screen and (min-width: calculateEm($large-breakpoint)) { @content; }
	}
	@else if $media == 'x-large' {
		// 1200+
		@media only screen and (min-width: calculateEm($desktop-breakpoint)) { @content; }
	}
	@else if type-of($media) == number {
		@media only screen and (width: calculateEm($media)) { @content; }
	}
}

// Gradient
//---------------------------------------
// ex: @include gradient(#222, #444, vertical);
// possible values for $orientation are: vertical, horizontal, radial

@mixin gradient($start-color, $end-color, $orientation) {
	background: $start-color;
	@if $orientation == vertical {
		 // vertical
		 background: -moz-linear-gradient(top,  $start-color 0%, $end-color 100%);
		 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start-color), color-stop(100%,$end-color));
		 background: -webkit-linear-gradient(top,  $start-color 0%,$end-color 100%);
		 background: -o-linear-gradient(top,  $start-color 0%,$end-color 100%);
		 background: -ms-linear-gradient(top,  $start-color 0%,$end-color 100%);
		 background: linear-gradient(to bottom,  $start-color 0%,$end-color 100%);
		 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=0 );
	} @else if $orientation == horizontal {
		 // horizontal
		 background: -moz-linear-gradient(left,  $start-color 0%, $end-color 100%);
		 background: -webkit-gradient(linear, left top, right top, color-stop(0%,$start-color), color-stop(100%,$end-color));
		 background: -webkit-linear-gradient(left,  $start-color 0%,$end-color 100%);
		 background: -o-linear-gradient(left,  $start-color 0%,$end-color 100%);
		 background: -ms-linear-gradient(left,  $start-color 0%,$end-color 100%);
		 background: linear-gradient(to right,  $start-color 0%,$end-color 100%);
		 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=1 );
	} @else {
		 // radial
		 background: -moz-radial-gradient(center, ellipse cover,  $start-color 0%, $end-color 100%);
		 background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$start-color), color-stop(100%,$end-color));
		 background: -webkit-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
		 background: -o-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
		 background: -ms-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
		 background: radial-gradient(ellipse at center,  $start-color 0%,$end-color 100%);
		 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=1 );
	}
}

// Font Sizer
//---------------------------------------
// ex: @include font-size(14px);  //sets a font size in rems with a fallback in pxs
// ex2: @include font-size(14px, $medium-breakpoint);  //sets a scaling font size in vw's with a fixed fallback in pxs

@mixin font-size($size, $breakpoint:"") {
	@if $breakpoint == "" {
		font-size: $size;
		font-size: calculateRem($size);
	} @else {
		// Get a font size in VWs that will match the given pixel font-size in the given viewport.
		font-size: $size;
		font-size: calculateVw($size, $breakpoint);
	}
}

// Line Height Sizer
//---------------------------------------
// ex:  @include line-height(14px);  //sets a font size in rems with a fallback in pxs
// ex2: @include line-height(14px, $medium-breakpoint);  //sets a scaling line-height value in vw's with a fixed fallback in pxs

@mixin line-height($size, $breakpoint:"") {
	@if $breakpoint == "" {
		line-height: $size;
		line-height: calculateRem($size);
	} @else {
		// Get a font size in VWs that will match the given pixel line-height in the given viewport.
		line-height: $size;
		line-height: calculateVw($size, $breakpoint);
	}
}

// Box Shadows
//---------------------------------------
// Provides cross-browser support for drop shadows.
// ex:  @include box-shadow(5px 5px 3px 0 #000);
// ex2: @include box-shadow(none);  //this can override a previously set box-shadow

@mixin box-shadow($top, $left: 0px, $blur: 0px, $spread: 0px, $color: #000, $inset: false) {
	@if $top == "none" {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	@else if $inset {
		-webkit-box-shadow:inset $top $left $blur $spread $color;
		-moz-box-shadow:inset $top $left $blur $spread $color;
		box-shadow:inset $top $left $blur $spread $color;
	} @else {
		-webkit-box-shadow: $top $left $blur $spread $color;
		-moz-box-shadow: $top $left $blur $spread $color;
		box-shadow: $top $left $blur $spread $color;
	}
}

// Rotate
//---------------------------------------
// Provides cross-browser CSS rotate. Pass in degree value.
// ex: @include rotate(-90deg);

@mixin rotate($deg) {
	-moz-transform: rotate($deg);
	-webkit-transform: rotate($deg);
	-ms-transform: rotate($deg);
	-o-transform: rotate($deg);
	transform: rotate($deg);
}

// Skew
//---------------------------------------
// Provides cross-browser CSS skew. Pass in degree value.
// ex: @include skew(-30deg);

@mixin skew($deg) {
	-moz-transform: skew($deg);
	-webkit-transform: skew($deg);
	-ms-transform: skew($deg);
	-o-transform: skew($deg);
	transform: skew($deg);
}

// Scale
//---------------------------------------
// Provides cross-browser CSS scale. Pass in a numeric value.
// ex: @include scale(2);

@mixin scale($scale) {
	-moz-transform: scale($scale);
	-o-transform: scale($scale);
	-ms-transform: scale($scale);
	-webkit-transform: scale($scale);
	transform: scale($scale);
}

// Border Radius
//---------------------------------------
// Provides cross-browser CSS border-radius.
// ex: @include border-radius(4px 4px 0px 0px);
@mixin border-radius($args) {
	border-radius: $args;
	-moz-border-radius: $args;
	-webkit-border-radius: $args;
}

// Transitions
//---------------------------------------
// Provides cross-browser CSS transitions.
// ex: @include transition(color .3s ease);

@mixin transition($args) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

// Placeholder
//---------------------------------------
// Provides cross-browser CSS placeholder color.
// ex: @include placeholder-color($black);
@mixin placeholder-color($color) {
	&::-webkit-input-placeholder {color: $color;}
	&::-moz-placeholder {color: $color;}
	&:-moz-placeholder {color: $color;}
	&:-ms-input-placeholder {color: $color;}
}
// Opacity
//---------------------------------------
// Provides cross-browser CSS opacity. Takes a number between 0 and 1 as the argument.
// ex: @include opacity(0.8);
// Note: to reduce code bloat, remove the any unneeded browser support below

@mixin opacity($opacity) {
	$opacity-ie: $opacity * 100;

	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$opacity-ie+")";

	/* IE 5-7 */
	filter: alpha(opacity=$opacity-ie);

	/* Netscape */
	-moz-opacity: $opacity;

	/* Safari 1.x */
	-khtml-opacity: $opacity;

	/* Good browsers */
	opacity: $opacity;
}


// Vertical Align (in most cases)
//---------------------------------------
// Vertically aligns an element in most cases. For this to work, the element should
// not already have a :before pseudo element.
// ex: @include vertical-align();
// Note: to reduce code bloat, remove the any unneeded browser support below

@mixin vertical-align(){
	&:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		height: 100%; width: .1px;
	}
}


/****************************
*
* Buttons
*
*****************************/

//button colors
$primary-button-hover: $limeade ;

@mixin primary-button {
	border-radius: rem-calc(8px);
	background: $kelly-green;
	color: $white;
	@include font-bold();
	@include font-size(18px);
	width: auto;
	height: calculateRem(43px);
	padding: 0 calculateRem(20px);
	&:hover {
		background: $primary-button-hover;
	}
}

@mixin primary-button-hover {
	background: $primary-button-hover;
}

//
// New mixins
//
// font family import mixin
@mixin font-face($style-name, $file, $family, $category:"") {
        $filepath: "../fonts/" + $file;
        @font-face {
                font-family: "#{$style-name}";
                src: url($filepath + ".eot");
                src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf") format('truetype'), url($filepath + ".svg#" + $style-name + "") format('svg');
        }
        %#{$style-name} {
                font: {
                        @if $category !="" {
                                family: "#{$style-name}",
                                #{$category};
                        }
                        @else {
                                family: "#{$style-name}";
                                weight: normal;
                        }
                }
        }
}
