.primary-content {
	dl {
		clear: both;
		overflow: hidden;
		dt {
			clear: both;
			float: left;
			margin: 2% 0 0;
			min-width: 15%;
		}
		dd {
			float: left;
			margin: 2% 0 0;
			padding: 0 0 0 5%;
		}
	}
}

.content-header {
	font-size: 1.75em;
	font-style: italic;
	font-weight: $font-wt-regular;
	margin: 0 0 14px !important;
	span {
		font-size: 0.75em;
		font-style: $font-style-regular;
		font-weight: $font-wt-regular;
	}
}

.section-header {
	margin: 0;
	position: relative;
	@include font-size(18px);
	@include line-height(25px);
	color: $color-secondary;
	border-bottom: $border;
	font-weight: $font-wt-semibold;
}

.section-header-note {
	display: none;
	@include respond(medium) {
		display: block;
		float: right;
		color: $color-primary;
		@include font-size($font-size-regular);
		@include line-height($font-height-regular);
		font-style: $font-style-italic;
		font-weight: $font-wt-regular;
		text-decoration: underline;
		&:hover {
			color: $color-secondary;
			text-decoration: underline;
		}
	}
}

.btn-container-mid-form {
	margin: 4px 0 16px;
	padding: 0;
}

.back {
	display: block;
	margin: 0 0 10px;
}

// call to action module
.cta {
	color: $brand-cta-txt-color;
	padding-bottom: 15px;
}

.cta-solid-bg {
	background: $brand-cta-bg-color;
}

.cta__info,
.cta__heading {
	color: $brand-cta-txt-color;
}

.cta__heading {
	background-color: $brand-cta-bg-color;
	display: flex;
	margin-bottom: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.cta__heading-icon {
	margin-left: 8px;
	width: 32px;
}

.cta__heading-text {
	margin-left: 13px;
}

.cta__heading-text-info,
.cta__heading-text-h3 {
	margin: 0;
	padding: 0;
	position: absolute;
}

.cta__heading-text-info {
	font-size: 0.75rem;
	letter-spacing: 0.0525rem;
	max-width: 920px;
	overflow: hidden;
	text-overflow: ellipsis;
	top: 10px;
	white-space: nowrap;
	width: 80%;
}

.cta__heading-text-h3 {
	color: $brand-cta-h3-color;
  top: 26px;
}

.cta__heading-button-group {
	margin-left: auto;
	a{
		margin:0 0 0 10px;
	}
}
.cta__row-no-indent {
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-left: 0;
	padding-right: 0;
}

.cta__row-no-indent.justify-content-between .form-row {
	margin: 0;
	padding: 0;
	.form-caption{
		position: absolute;
    	left: 0;
    	right: 0;
    	top: 55px;
    	width: auto;
    	line-height: 1.3;
	}
}

.cta__row-no-indent.justify-content-between .field-wrapper {
	height: 3.0rem;
}

.cta__btn-container {
	background-color: $brand-cta-bg-color;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 15px;
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 15px;
	padding-bottom: 14px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 14px;
}

.cta__btn-container__no-bg {
	background: none;
	margin-bottom: 18px;
	margin-left: 0;
	margin-right: 0;
	margin-top: 47px;
}
