//
// select2 overrides
//
ul li.select2-results__option {
	color: $biscay;
	font-size: 0.75rem; // 12px
	margin-bottom: 0;
	padding-left: 32px;
}

.select2-container--default .select2-results__option[aria-selected=true] {
	background: $catskill-white url('../images/svg-icons/checkmark-blue.svg') no-repeat 10px center;
	background-size: 18px auto;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: $cadet-blue;
	color: $white;
}
