//-------------------------------------------
//  VARIABLES
//
//  ex: $variable is reusable throughout SASS
//-------------------------------------------

// viewports

$small-breakpoint: 320px;
$medium-breakpoint: 480px;
$large-breakpoint: 768px;
$tablet-breakpoint: 1024px;
$desktop-breakpoint: 1200px;

// Begin Portal colors
// greens
$conifer: #B4EC51;
$seaweed-green: #35b16e;

// blues
$biscay: #16325c;
$cadet-blue: #A8B7C7;
$dodger-blue: #53A0FD;
$kashmir-blue: #54698D;
$governorbay: #3023AE;
$royal-blue: #4878e4;
$science-blue: #0070D2;
$steel-blue: #3f79b3;
$amaranth-red: #e51870;

// black
$black: #000000;

// whites
$white: #ffffff;
$aqua-haze: #F4F6F9;
$catskill-white: #F7F9FB;
$solitude: #e0e8f0;
$off-white: #fffcf4;

// greys
$blue-grey: #7c9ca2;
$boulder: #787878;
$charcoal-grey: #414154;
$gallery: #ededed;
$geyser: #d8dde6;
$manatee: #8C96AB;
$pale-grey-50: rgba(221, 227, 232, 0.5);
$pale-sky: #6C757D;
$regent-grey: #7C86A2;
$seashell: #f1f1f1;
$warm-grey: #979797;
$white-lilac: #F7F8FC;
$wild-sand: #f5f5f5;

// End Portal colors

// color hex values
// names taken from http://www.color-blindness.com/color-name-hue/

$thunderbird: #cb171e;
$jewel: #10842a;
$alto: #d9d9d9;
$concrete: #f2f2f2;
$astronaut-blue: #00405a;
$golden-dream: #f0d436;
$falu-red: #991115;
$jewel-dark: #0a5219;
$alabaster: #fafafa;
$coral-candy: #f5cece;
$wisp-pink: #fae7e7;



$color-primary: $black;
$color-secondary: $kashmir-blue;

$mirage: #394848;
$crimson: #E5173E;
$summer-sky: #40BDDA;
$dark-gray: #AFAFAF;	// Style Guide: breadcrumbs
$gainsboro: #E3E3E3;	// Style Guide: input and form element borders (not represented as a swatch in the Style Guide)
$kelly-green: #64A70B;	// Style Guide: heading2, heading3, button bg, price, success msg
$light-gray: #EBEBEB;	// Style Guide: borders, dividers
$limeade: #4C891F;		// Style Guide: button hover bg
$nero: #1A1A1A;			// Style Guide: heading1, body p, entered form text
$venetian-red: #A70B0B;	// Style Guide: error msg text, error border color
$white-smoke: #F3F3F3;	// Style Guide: light background color
$trans: transparent;

//default colors TODO see which ones to remove:

// colors
// names taken from http://www.color-blindness.com/color-name-hue/
$cerulean: #00629b;
$charcoal: #424242;
$citrus: #84bd00;
$dim-gray: #666;
$gainsboro: #e0e0e0;
$islamic-green: #019328;
$night-rider: #333;
$nobel: #999;
$rain-forest: #64772d;
$sangria: #990000;
$stark-white: #cebdb3;
$teal: #008578;
$tutu: #faeded;
$very-light-gray: #ccc;
$primary-border-color: $alto;
$broom: #f1d617;
$dark-coral: #cd454a;
$silver: #bbbbbb;

//
// brand specific colors
//
$brand-blue: $governorbay;
$brand-cta-bg-color: $catskill-white;
$brand-cta-txt-color: $kashmir-blue;
$brand-cta-h3-color: $biscay;
$brand-search-bg-color: $catskill-white;
$brand-search-txt-color: $kashmir-blue;

$body-bg-color: $white;
$swatch-types: black #000000, beige #f5f5dc, blue blue, purple purple, red red, brown #783201, green green, grey #8f979d, pink #fe249a, orange orange, white #ffffff, yellow #ffff00, navy navy;

// flag-icon-css
$flag-icon-css-path: '../lib/flag-icon-css/flags';

$border: 1px solid $alto;

$header-top-container-height: 107px;

// order details
$processbar-bg: #e0e5ed;
$processbar-text: #787878;
$processbar-active-bg: #35b16e;
$processbar-active-text: #fff;
$processbar-triangle-bg: $processbar-bg;
$processbar-active-triangle-bg: $processbar-active-bg;
