.pt_product-search-result .primary-content h1.content-header {
	padding-left: 15px;
}

.pt_content-search-result,
.pt_product-search-noresult {
	.primary-content {
		> h1,
		> h2,
		> p {
			margin: 0;
			padding: .1em 1%;
		}
		.pagination {
			float: none;
			padding: .1em 1%;
		}
	}
}
.clp-product-reviews {
	text-align: left;
	padding: 6px 0 10px 10px;
}
.category-main-banner img {
	max-width: 100%;
}

.no-hits-search-term,
.no-hits-search-term-suggest {
	color: $color-secondary;
	text-transform: uppercase;
	@include font-semibold();
}

.search-result-bookmarks {
	margin: 15px;
	.first {
		border-right: 1px solid $nobel;
		padding-right: 5px;
	}
}

.search-result-content {
	margin-top: 20px;
	@include respond(large-up) {
		margin-top: 0;
	}
	.search-result-items {
		margin: 0;
		padding: 0;
		font-size: 0;
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		li {
			list-style: none outside none;
			float: none;
			display: inline-block;
			vertical-align: top;
		}
		.new-row {
			clear: both;
		}
		ul {
			margin-bottom: 0;
		}
		.grid-tile {
			list-style: none outside none;
			width: 100%;
			box-sizing: border-box;
			@include respond(large-up) {
				width: 31.7999%;
				margin-left: 2.28899%;
			}
			@include respond(large-only) {
				width: 47.9629% !important;
				margin-left: 4.0650%;
				border: none;
				border-bottom: solid 1px #cecece;
			}
			@include respond(large-down) {
				border: none;
				border-bottom: solid 1px #cecece;
				width: 47%;
				margin: 5px;
			}
			@include respond(small-updated) {
				width: 45%;
			}
			@include respond(m-small) {
				width: 47.9621%;
				margin-left: 4.0650%;
			}
			&.new-row {
				@include respond(large-up) {
					margin-left: 0;
				}
				@include respond(large-only) {
					margin-left: 4.0650%;
					width: 31.82711%;
				}
				@include respond(m-small) {
					margin-left: 4.0650%;
				}
			}
			&.new-row-tablet {
				@include respond(large-only) {
					margin-left: 0;
				}
				@include respond(m-small) {
					margin-left: 0;
				}
			}
		}
		.invisible {
			display: none;
		}
	}
}

.search-result-content {
	clear: both;
	@include respond(large-up) {
		padding-top: 19px;
	}
	.product-tile {
		@include respond(large-up) {
			position: relative;
			padding-bottom: 5px;
			width:100%;
			height:100%;
			box-sizing: border-box;

			&.compareToolPadding {
				padding-bottom: 35px;
			}
			.comfortScale {
			}
		}
		.comfortScale {
			padding-bottom: 30px;
			@include respond(large-only) {
				padding-bottom: 15px;
			}
			@include respond(large-down) {
				padding-bottom: 5px;
				padding-top: 5px;
			}
		}
	}

}

.product-tile {
	.product-price {
		.price-standard {
			color: #999;
			text-decoration: line-through;
		}
	}
	.thumb-link {
		width: 100%;
		height: auto;
		display: block;
		img {
			width: 100%;
			height: auto;
			vertical-align: top;
			display: inline-block;
			border: solid 1px #cecece;
		}
	}
	.product-image {
		padding: 4px;
	}

	.product-name {
		text-align: left;
		padding: 10px 10px 0 10px;
		margin: 0;
		height: auto;
		overflow: visible;
		position: relative;
		a {
			width: 100%;
			color: $color-primary;
			text-decoration: none;
			@include font-size(14px);
			@include line-height(15px);
			.name-link-text {
				@include respond(large-up) {
					height: 40px;
					overflow: hidden;
					display: block;
					@include line-height(20px);
					font-family: Montserrat;
				}
				@include respond(large-down) {
					display: -webkit-box;
				    height: 54.25px;
				    margin-bottom: 10px;
				    line-height: 1.25;
				    -webkit-line-clamp: 3;
				    -webkit-box-orient: vertical;
				    overflow: hidden;
				    text-overflow: ellipsis;
				}
				.nameofbrand {
					font-weight: bold;
					margin-bottom: 5px;
					font-family: Montserrat;
				}
				.trimmed-name {
					display: none;
				}
			}
			/*&:hover {
				.product-name-long {
					@include respond(large-up) {
						display: block;
						hiehgt:40px
					}
				}
			}*/
		}
		.product-name-long {
			display: none;
			position: absolute;
			top: 10px;
			left: 10px;
			background: $white;
			@include line-height(20px);
			padding-bottom: 10px;
			max-width: auto;
		}
	}
	.product-pricing {
		text-align: left;
		padding: 8px 0 0 10px;
		margin: 0;
		color: $color-primary;
		@include font-size($font-size-regular);
		position: relative;
		min-height: 60px;
		.product-sales-price {
			font-size: 16px;
		    font-weight: 600;
		    font-family: Montserrat;
		    line-height: 1.13;
		    color: #FF6C5B !important;
		    padding-left: 10px;
		    position: absolute;
    		bottom: 40px;
    		left: 0;
    		right: 0;
		    &.price-range {
	    		color: #FF6C5B;
	    	}
	    	&.original-price {
	    		color: #333030 !important;
	    	}
	    	&:first-child:nth-last-child(1) {
			    color: #333030 !important;
			}
		}
		.product-standard-price, .no-sale-price {
			font-family: Montserrat;
			font-size: 14px;
			font-weight: 500 !important;
			color: #333030;
			line-height: 1.13;
			padding-left: 10px;
			position: absolute;
    		bottom: 22px;
    		left: 0;
    		right: 0;
    		@include respond(small-updated) {
    			bottom: 8px !important;
			}
			 &.no-sale-price {
	    		font-weight: 600 !important;
	    		padding-left: 10px;
	    		position: absolute;
    			bottom: 0px;
    			left: 0;
    			right: 0;
	    	}
		}
		.percentageDiscount {
			font-family: Montserrat;
		    font-size: 14px;
		    font-weight: 500;
		    padding-left: 10px;
		    position: absolute;
    		bottom: 0px;
    		left: 0;
    		right: 0;
    		@include respond(small-updated) {
    			bottom: -10px !important;
			}
		}
	}
	.product-review {
		text-align: left;
		padding: 8px 0 13px 10px;
		@include font-size($font-size-mobile-sale-price);
	}
	.product-compare {
		display: none;
		@include respond(large-up) {
			position: absolute;
			bottom: 13px;
			left: 10px;
			display: block;
		}
		.field-wrapper {
			@include respond(large-up) {
				padding: 0;
				margin: 0;
			}
		}
		label {
			@include respond(large-up) {
				margin: 0;
				padding: 0;
				color: $color-primary;
				font-size: $font-size-sm;
				position: relative;
				top: 3px;
			}
		}
	}
	.product-promo {
		text-align: left;
		padding: 0 10px 0 10px;
		margin: 0;
		height: auto;
		@include respond(medium) {
			padding: 8 0 0 8px;
		}
		p {
			margin: 0;
			padding: 8px 0 5px 0;
			color: $color-secondary;
			@include font-size($font-size-sm);
			@include line-height(18px);
			@include font-semibold();
			@include respond(medium) {
			}
			&:last-child {
				padding: 8px 0 0 0;
			}
		}
	}
	.product-description {
		display: none;
	}
}


.search-result-content {
	&.wide-tiles {
		.product-name-long {
			left: 0px;
		}
	}
}

.search-promo {
	padding: 20px;
}

#results-content {
	background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;
	padding-top: 30px;
}

.folder-content-list {
	align-items: stretch;
	clear: both;
	display: flex;
	flex-wrap: wrap;
	padding: .5em 1%;
	li {
		background-color: $white-smoke;
		border: 1px solid $very-light-gray;
		flex-basis: 100%;
		flex-grow: 1;
		list-style-type: none;
		margin: .25rem;
		padding: 1rem;
		@media screen and (min-width: 480px) {
			flex-basis: 40%;
		}
	}
	p {
		line-height: 1.1rem;
	}
	.content-title {
		display: block;
		font-size: 1.2em;
	}
	.readmore {
		font-style: italic;
		padding-left: .3rem;
	}
}

.no-results {
	padding: 20px;
}

.no-result-text {
	padding: 27px 0 0;
	h4 {
		margin: 0;
		padding: 0;
		text-transform: none;
	}
}

.toggle-grid {
	display: block;
	float: left;
	margin-right: 0.5em;
	@include respond(large-only) {
		display: none;
	}
	@include respond(large-down) {
		display: none;
	}
	.toggle-grid-one {
		background-image: url('../images/interface/sprite.png');
		background-repeat: no-repeat;
		display: inline-block;
		width: 29px;
		height: 28px;
		margin-right: 10px;
		cursor: pointer;
	}
	[data-option="column"] {
		background-position: -645px -189px;
	}
	[data-option="wide"] {
		background-position: -724px -192px;
	}
	&.wide {
		[data-option="wide"] {
			opacity: 1;
			background-position: -679px -223px;
		}
		[data-option="column"] {
			opacity: 1;
			background-position: -684px -190px;
		}
	}
}

.search-result-content.wide-tiles {
	.search-result-items .grid-tile {
		width: 100% !important;
		margin-left: 0;
		border: none;
    	border-bottom: solid 1px #cecece;
    	.product-pricing {
    		.percentageDiscount {
    			bottom: 20px !important;
    			left: 125px !important;
    		}
    		.price-range, .product-sales-price, .no-sale-price {
    			padding-left: 0px;
    		}
    	}
	}

	.grid-tile {
		@include respond(large-up) {
			margin-left: 0;
		}
	}
	.product-tile {
		@include respond(large-up) {
			padding-bottom: 17px;
			padding-top: 10px;
		}
		.product-name {
			@include respond(large-up) {
				padding-left: 0;
				padding-top: 0px;
    			margin-top: -15px;
			}
		}
		.product-pricing {
			@include respond(large-up) {
				padding-left: 0;
			}
		}
		.product-image {
			@include respond(large-up) {
				padding: 4px;
				width: 31.8181%;
				float: left;
				box-sizing: border-box;
			}
		}
		.product-tile-one {
			@include respond(large-up) {
				float: left;
				width: 67.6819%;
				padding: 0 10.11363% 0 2.2727%;
				box-sizing: border-box;
			}
		}
		.product-description {
			display: block;
			clear: both;
			@include font-size($font-size-sm);
			color: $color-primary;
			text-align: left;
			padding: 5px 0;
			li {
				list-style: disc;
				margin-bottom: 3px;
				display: list-item;
			}
		}
		.product-compare {
			left: 34.0908%;
			bottom: 26px;
		}
		.product-review {
			@include respond(large-up) {
				padding-left: 0;
			}
		}
		.clp-product-reviews {
			float: left;
			clear: left;
			@include respond(large-up) {
				padding: 10px 0 0;
			}
		}
	}
	.comfort-level {
		position: relative;
		left: -4px;
		margin-top: 14px;
		top: 9px;
	}
	.product-promo {
		padding-left: 0;
	}
}

.search-result-content{
 &.wide-tiles{
  #search-result-items{
   .product-tile{
   	.product-pricing {
   		margin-top: 10px;
   	}
   	.comfortScale {
   		width: 32%;
   		.comfort-level {
   			width: 100%;
   		}
   	}
    .product-key-features-plp {
     color: #333;
     display: block;
     float: left;
     text-align: left;

     .paragraph-head {
      margin-bottom: 0;
      font-size: .875rem;
      line-height: 1.3125rem;
      margin-top: 0;
      font-weight: 700;
     }
     ul {
      list-style-type: disc;
      display: list-item;
      margin: 2px 0 5px 15px;
      text-indent: 0;
      padding-left: 0;
      font-size: .875rem;
     }
     li {
      margin-bottom: 0;
      list-style: disc;
      display: list-item;
      text-indent: 0px;
     }
    }
   }
  }
 }
}

#secondary.refinements {
	background: $body-bg-color;
	border: 0;
	margin: 0;
	@include respond(large-up) {
		width: 280px;
		padding-top: 25px;
	}
	@include respond(large-only) {
		width: 46.667%;
		padding-top: 0px;
	}
	#nav_label {
		& ~ label {
			width: 46.667%;
		    border: 1px solid grey;
		    background-color: $concrete;
		    background-position: calc(100% - 20px) 16px;
		    box-sizing: border-box;
		    float: left;
		    margin-bottom: 10px;
			&:after {
				content: '\f0d7';
			    font: normal normal normal 24px/1 FontAwesome;
			    right: 11px;
			    top: 8px;
			    color: #707070;
			    position: absolute;
			    pointer-events: none;
			}
			@include respond(large-down) {
				display: block;
			}
			@include respond(large-only) {
				display: block;
				width: 100% !important;
			}
		}
		&:checked {
			& ~ nav {
				max-height: 2500px;
				width: 100%;
				border: $border;
				margin-bottom: 20px;
				border-bottom: 0;
				clear: both

			}
		}
	}
	nav {
		padding: 0;
		width: 100%;
	}
	.toggle {
		background-image: url("../images/ref_arrows.png");
		background-position: calc(100% - 20px) -25px;
		background-repeat: no-repeat;
		background-color: $concrete;
		padding: 15px 0 15px 10px;
		margin: 0;
		text-transform: none;
		cursor: pointer;
		border: 0;
		border-bottom: $border;
		@include block-price-text();
		@include respond(large-up) {
			border: 0;
			background-color: $body-bg-color;
			@include font-size($font-size-mobile-h4);
			@include line-height($font-size-mobile-h4);
			background-position: calc(100% - 29px) -25px;
			padding: 15px 0 0px 15px;
			margin: 0 0 13px 0;
		}
		&.expanded-title {
			background-position: calc(100% - 20px) 22px;
			@include respond(large-up) {
				background-position: calc(100% - 29px) 22px;
			}
		}
	}
	.refinement-image {
		display: inline-block;
		width: 20px;
		height: 20px;
		background-image: url("../images/interface/sprite.png");
		background-repeat: no-repeat;
		background-position: -60px -99px;
		margin: 0;
		vertical-align: top;
	}
	.refinement-text {
		position: relative;
		margin-left: 9px;
		display: inline-block;
		width: calc(100% - 33px);
	}
	.selected {
		.refinement-image {
			background-position: -40px -99px;
		}
	}
	ul {
		padding: 20px 10px 0 10px;
		border-bottom: $border;
		@include respond(large-up) {
			padding: 0 0 32px 15px;
			border: 0;
			font-family: Montserrat;
		}
	}
	li {
		margin-bottom: 15px;
		padding: 0;
		@include respond(large-up) {
			margin: 0 0 11px 0;
			padding: 0;
			display: block;
		}
	}
	.refinement {
		padding: 0;
		@include respond(large-up) {
			border-bottom: $border;
			padding-bottom: 5px;
		}
		&.no-zip {
			display: none;
		}
		.refinement-zip {
			margin: 0 0 15px;
			padding: 20px 10px 0 10px;
			@include respond(large-up) {
				padding: 0 0 32px 15px;
				border: 0;
				margin: 0;
			}
		}
	}
	.clear-refinement {
		display: none;
	}
	.refinement-delivery-zip {
		text-align: center;
		clear: both;
		padding: 19px 0 20px 0;
		@include respond(large-up) {
			display: none;
			padding: 7px 0 30px 15px;
			border-bottom: $border;
			text-align: left;
		}
		@include respond(large-down) {
			display: none;
		}
		@include respond(large-only) {
			padding-left: 0;
		}
		.tooltip {
			display: inline-block;
			width: 25px;
			height: 25px;
			background-image: url("../images/interface/sprite.png");
			background-repeat: no-repeat;
			background-position: -132px -220px;
			position: relative;
			top: 8px;
			@include respond(large-up) {
				float: right;
				top: 0;
			}
		}
	}
	.pagination {
		display: none;
	}
	.breadcrumb-refinement-clear-all {
		float: right;
		font-family: Montserrat;
		font-weight: normal;
		font-size: $font-size-regular;
		@include line-height($font-size-regular);
		color: $color-secondary;
		text-decoration: none;
		margin-bottom: 10px;
		color: #1e75a0;
		&:hover {
			text-decoration: none;
		}
	}
	.scrollable {
		height: auto;
	}
	.refinement-price {
		.refinement-image {
			display: none;
		}
		.refinement-text {
			margin-left: 0;
		}
		.selected {
			.refinement-text {
				font-weight: $font-wt-semibold;
			}
		}
	}
	.refinement-last {
		@include respond(large-up) {
			border-bottom: 0;
		}
	}
	.close-reminement {
		text-align: center;
		border-bottom: $border;
		height: 40px;
		@include line-height(40px);
		background: $concrete;
		cursor: pointer;
		span {
			color: $color-secondary;
			cursor: pointer;
			font-weight: $font-wt-semibold;
		}
		&.desktop-hide {
			display: block;
			@include respond(large-up) {
				display: none;
			}
		}
	}

	.refinement-top-level {
		padding: 20px 0 0 15px;
		@include respond(large-up) {
			padding: 0 0 11px 15px;
		}
		a {
			font-weight: $font-wt-semibold;
		}
	}
	.category-refinement {
		.refinement-link {
			padding: 0 !important;
			margin-left: 30px;
			@include font-regular();
		}
		.expandable {
			a {
				display: inline-block;
				margin-left: 21px;
			}
			&:before {
				position: relative;
				top: -3px;
			}
		}
	}
}

.pt_product-search-result {
	.primary-content {
		@include respond(large-up) {
			width: calc(100% - 300px);
		}
		@include respond(large-only) {
			width: 100%;
		}
	}
}

.search-result-options {
	position: relative;
	padding: 0;
	form {
		margin-bottom: 0;
	}
	label {
		display: none;
	}
	.items-per-page {
		float: right;
		display: none;
		@include respond(large-up) {
			display: block;
			min-width: 80px;
			width: auto;
		}
		.selector {
			@include respond(large-up) {
				width: 100% !important;
			}
		}
	}
	&.bottom {
		.items-per-page {
			display: none;
		}
		.toggle-grid {
			display: none;
		}
		.sort-by {
			display: none;
		}
		.pagination {
			display: block;
		}
		.toggle-grid {
			display: none !important;
		}
	}
	&.top {
		.pagination {
			@include respond(large-only) {
				display: none !important;
			}
			@include respond(large-down) {
				display: none !important;
			}
		}
	}
	.pagination {
		display: none;
		@include respond(large-up) {
			display: block;
			min-height: 21px;
			margin: 0 auto;
		    width: 54%;
		    float: right;
		    margin-top: 8px;
		}
	}
	.sort-Go-Button {
		display: none !important;
	}

}

.sort-by {
	width: 46.667%;
	float: right;
	@include respond(large-down) {
		margin-top: -72px;
	}
	@include respond(large-up) {
		width: 160px;
		float: left;
	}
	@include respond(large-only) {
		width: 46.667%;
		float: right;
		margin-top: -22px;
    	margin-bottom: 20px;
	}
	label {
		display: none;
	}
	.selector {
		width: 100% !important;
	}
}

.items-per-page-inner {
	width: 46.667%;
	float: right;
	@include respond(large-down) {
		display: none;
	}
	@include respond(large-only) {
		display: none;
	}
	@include respond(large-up) {
		max-width:90px;

	}
	label {
		display: none;
	}
	.selector {
		width: 100% !important;
	}
}

#secondary .pagination,
.pagination {
	width: 100%;
	padding: 0 0 7px 0;
	position: relative;
	float: left;
	@include respond(large-down) {
		left: 40%;
	}
	@include respond(large-up) {
		border-bottom: 0;
		padding: 0 0 3px 0;
	}
	.results-hits-total {
		float: left;
		color: $color-primary;
	}
	.pagination-content {
		float: right;
		padding: 0;
		border: 0;
		@include respond(large-down) {
			display: none;
		}
		@include respond(large-only) {
			display: none;
		}
		li {
			margin-bottom: 0;
			list-style: none;
			padding: 0 0 0 24px;
			float: left;
			a {
				text-decoration: none;
				color: $color-primary;
			}
			&.current-page {
				color: $color-secondary;
			}
			&:first-child {
				padding-left: 0;
			}
		}
	}
	.toggle-grid {
		display: none;
		@include respond(large) {
			position: absolute;
			bottom: 0px;
			right: 80px;
			display: block;
		}
		&.one-page-items {
			@include respond(large-up) {
				right: 0;
				margin-right: 0;
			}
			.toggle-grid-wide {
				margin-right: 0;
			}
		}
	}
}
.refinement-big-container {
	@include respond(768px) {
		width: calc(100vw - 20px);
	}
	@include respond(1024px) {
		width: calc(73vw);
	}
}
.breadcrumb-refinement-mobile {
	padding: 8px 0 0 0;
	margin-bottom: 20px;
	border-bottom: $border;
	border: solid 1px #979797;
    background-color: #efefef;
    padding: 10px 10px 0px;
	@include respond(large-up) {
		padding-bottom: 10px;
	}
	.breadcrumb-relax {
		background-image: url('../images/interface/sprite.png');
		background-repeat: no-repeat;
		background-position: -108px -195px;
		width: 16px;
		height: 16px;
		display: inline-block;
		margin-left: 14px;
		font-size: 0;
		position: relative;
		top: -8px;
    	left: -15px;
    	@include respond(large-only) {
    		top: -12px;
    	}
    	@include respond(large-down) {
			top: -12px;
		}
	}

	.breadcrumb-refined-by {
		display: block;
		@include block-price-text();
		margin-bottom: 20px;
		font-family: Montserrat;
		padding: 10px 10px 10px 10px;
		border-bottom : solid 1px #cecece;
		@include respond(large-up) {
			margin-bottom: 0;
			border-bottom : solid 1px #cecece;
			padding-left: 0px;
			font-weight: normal;
		}
	}
	.breadcrumb-refinement {
		display: block;
		@include font-size(14px);
		margin-left: 0px;
		@include respond(large-up) {
			margin-top: 10px;
			float: left;
			font-weight: normal;
    		font-family: Montserrat;
		}
		.breadcrumb-refinement-value {
			.breadcrumb-relax {
				top: -8px;
    			left: -113px;
				display: inline-block;
				position: relative;
			}
		}
	}
	.breadcrumb-refinement-clear-all {
		float: right;
		font-weight: normal;
		font-size: $font-size-regular;
		@include line-height($font-size-regular);
		color: #1e75a0;
		text-decoration: none;
		margin-bottom: 10px;
		position: relative;
	    top: -26px;
	    right: 10px;
	    @include respond(large-down) {
			top: -47px;
		}
		&:hover {
			text-decoration: none;
		}
	}
	.comma {
		margin-left: 5px;
		display: none;
	}
	&.breadcrumb-refinement-mobile-hide {
		display: none;
	}
}

.pt_product-search-noresult {
	#secondary {
		display: none;
	}
	.primary-content {
		width: 100%;
		padding-top: 26px;
		@include respond(large-up) {
			padding-top: 35px;
		}
	}
	.breadcrumb .breadcrumb-top {
		@include respond(large-up) {
			margin: 0;
		}
		max-width: 382px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
	}
	.breadcrumb .breadcrumb-element-slt {
		font-family: $g-regular;
		font-size: 16px;
		line-height: normal;
	}
	.breadcrumb .breadcrumb-result-text {
		color: #d0021b;
		font-family: $g-semibold;
		font-size: 16px;
	}
	.section-header {
		border: 0;
		background: $body-bg-color;
		padding: 0;
		margin: 0;
		p {
			text-transform: none;
			@include font-regular();
			padding: 0;
			margin: 0;
			color: $color-primary;
			@include font-size($font-size-sm);
			@include respond(large-up) {
				@include font-size($font-size-regular);
			}
		}
		.no-hits-search-term {
			text-transform: uppercase;
			font-style: normal;
			color: $color-primary;
		}
	}
}

.search-result-no-hits-top {
	border-bottom: 1px solid #d5d5d5;
	line-height: 1.23;
	letter-spacing: 1.1px;
	margin-bottom: 10px;
	padding-top: 0;

	@include respond(large-up) {
		margin-bottom: 11px;
		padding-bottom: 16px;
	}
	p {
		padding: 0;
		margin: 0;
		font-weight: $font-wt-semibold;
		@include respond(large-up) {
			@include font-size(16px);
		}
	}
	h4 {
		font-size: 1.25rem;
		font-weight: 600;
		line-height: 1.23;
		letter-spacing: normal;
		color: #054864;
		padding-bottom: 10px;
		margin-bottom: 0;
		text-transform: none;
		@include respond(large-up) {
			@include font-size($font-size-h2);
		}
		a {
			text-decoration: none;
		}
	}
	&.has-items {
		@include respond(large-up) {
			padding-top: 10px;
		}
		p {
			@include respond(large-up) {
				@include font-size(16px);
			}
		}
		a {
			text-decoration: none;
		}
	}
	.suggested-category {
		text-transform: none;
		@include font-size($font-size-regular);
		display: block;
		padding-top: 10px;
	}

}

.no-hits-help {
	padding-top: 18px;
	clear: both;
	ul {
		padding: 0 0 0 18px;
		margin: 0;
	}
	li {
		padding: 0 0 3px 0;
		margin: 0;
		list-style: disc !important;
		@include font-size($font-size-sm);
		@include respond(large-up) {
			@include font-size($font-size-regular);
		}
	}
	p {
		padding: 0 0 3px 0;
		margin: 0;
	}
}

.no-hits-search {
	padding-top: 8px;
	input[type="text"] {
		margin: 3px 0 10px 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 318px;

		@include respond(large-up) {
			width: 380px;
			margin: 0 20px 10px 0;
			height: 40px;
			max-width: 626px;
			width: 100%;
		}
		@media screen and (min-width:1025px){
			max-width: 880px;
			width: 100%;
		}
		@media screen and (min-width:1200px){
			max-width: 1058px;
			width: 100%;
		}
	}
	button {
		@include respond(large-up) {
			width: 100px;
			height: 40px;
			position: absolute;
		}
	}
	.form-row {
		margin: 0;
		position: relative;
		@include respond(large-up) {
			padding: 13px 0 0 0;
			padding-top: 13px;
		}
	}
}

.no-hits-footer {
	margin-top:20px;
	padding-top: 5px;
	@include respond(large-up) {
		padding-top: 13px;
		position: relative;
	}
	a {
		color: $color-primary;
		@include font-semibold();
	}
	p {
		padding: 16px 0 5px 0;
		margin: 0;
	}
	div {
		@include line-height(22px);
	}

	h2 {
		color: #525252;
		font-size: 25px;
		font-weight: 600;
		margin-bottom: 0 !important;
		text-transform: uppercase;
	}

}
.comfort-level.1800mattressrv {
	padding-bottom: 30px;
}
.comfort-level, .comfort-scale-items {
	width: 100%;
	margin-left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	/* width: 110px;
	height: 25px;
	background-image: url('../images/interface/comfort-level-sprite.jpg');
	background-repeat: no-repeat;
	margin-left: 4px; */
	span {
		color: #ccc;
		font-size: 10px;
		line-height: 10px;
		width: 18%;
		height: 20px;
		border-right: 1px solid #ccc;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		display: flex;
		&:last-child {
			border: none;
		}
		@include respond(large-only) {
			width: 16%;
		}
		@include respond(large-down) {
			display: none;
			&.active {
				display: flex !important;
				width: 50px !important;
				margin-right: 80px;
    			margin-bottom: 10px;
			}
		}
		&.active {
			color: #fff;
			border-radius: 15px;
			border: none;
			padding: 5px 8px;
			@include respond(large-down) {
				display: flex;
				width: 60%;
			}
		}
	}
	.comfort-level-1.active {
		background-color: #f0ab2f;
	}
	.comfort-level-2.active {
		background-color: #e46a1f;
	}
	.comfort-level-3.active {
		background-color: #9b2e33;
	}
	.comfort-level-4.active {
		background-color: #274b8f;
	}
	.comfort-level-5.active {
		background-color: #0f1f37;
	}
}

.product-recommendations {
	.search-result-items {
		display: none;
		&.slick-initialized {
			display: block;
		}
	}
}



.slot-grid-header {
	padding-bottom: 20px;
}
#canonical-div {
	.cat-content-block-text {
		p {
			font-family: Montserrat;
  			font-size: 14px;
  			@include respond(large-down) {
  				margin-bottom: 10px !important;
			}
		}
		a.read-more {
			@include respond(large-down) {
				font-family: Montserrat;
			    font-size: 14px;
			    font-weight: 500;
			    color: #1e75a0;
			    text-decoration: none;
			}
		}
	}
}

.plp_heading {
	width: 100%;
	color: #333030;
    @include respond(large) {
    	font-size: 28px;
		font-weight: 600;
	    font-family: Montserrat;
	    width: calc(100% - 600px);
	    margin: 0 auto;
	    color: black;
	    padding-top: 50px;
    }
    @include respond(large-down) {
		font-size: 16px;
	}
	@include respond(large-only) {
		font-size: 24px;
	}
}
.cat-browse-seo {
	text-align: center;
	padding-top: 39px;
	clear: both;
	@include respond(large-up) {
		padding-top: 36px;
	}
	p {
		padding: 0;
		margin: 0;
		text-align: center;
	}
}
