@import "nav";
@import "menu_utility";
@import "country_selector";

.header-top {
	height: 32px;
	padding:2px 0;
	background: $concrete;
	@include respond(large-up) {
		text-align: right;
	}
	.header-top-inner {
		@extend %centered-block;
	}
	.content-asset {
		display: inline-block;
	}
	.header-top-links {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0;
		@include respond(x-small) {
			//position: relative;
		}
		&.left-block {
			float: left;
			margin-right: 8px;
			a {
				background-color: $alto;
				padding: 0 15px;
				display: block;
				height: 30px;
				@include line-height(30px);
				@include respond(x-small) {
					padding: 0 4px;
				}
			}
		}
		& > li {
			margin: 0;
			list-style: none;
			display: inline-block;
			padding: 0 0 0 8px;
			@include respond(large-up) {
				padding: 0 0 0 14px;
			}
			span.text {
				@include font-size(13px);
				font-weight: $font-wt-semibold;
				display:none;
				padding:0 3px;
				&.small {
					@include font-size(12px);	
					padding: 0 5px;				
				}
				@include respond(large-up) {
					display:inline;
				}
			}
			&:after {
				content: '';
				display: block;
				float: right;
				margin-left: 7px;
				margin-top: 8px;
				width: 1px;
				height: 15px;
				background: url(../images/interface/sprite.png) no-repeat -70px -218px;
				@include respond(large-up) {
					margin-left: 15px;
				}
			}
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
			&.header-store-id {
				.sleepys-call-header {
					@include respond(large-up) {
						@include font-size(14px);
					}
					a {
						span {
							padding-left:2px;
						}
						@include respond(large-up) {
							@include font-size(14px);
						}
					}
				}
				.sleepys-call-header:before {
					content: '';
					background: url(../images/interface/sprite.png) no-repeat -43px -218px;
					display: inline-block;
					width: 19px;
					height: 19px;
					position: relative;
					top: 5px;
					margin-right: 3px;
				}
				& > * {
					display: inline-block;
				}
				&:after {
					@include respond(large-up) {
						display:none;
					}
				}
			}
			&.header-financing {
				.header-financing-link:before {
					content: '';
					background: url(../images/interface/sprite.png) no-repeat -259px -246px;
					display: inline-block;
					width: 19px;
					height: 19px;
					position: relative;
					top: 5px;
					margin-right: 3px;
				}
				& > * {
					display: inline-block;
				}
			}
			&.header-chat {
				padding: 0;
				@include respond(small) {
					display: none;
				}
				a {
					@include font-size(14px);				
				}
				.header-chat-online {
					display: none;
					@include respond(large-up) {
						display: inline !important;
					}
				}
				div {
					@include respond(large-up) {
						display: inline-block;
					}
				}
			}
			&.header-visit-store {
				@include respond(m-small) {
					position: relative;
				}
				@include respond(medium) {
					position: relative;
				}
				a {
					@include respond(large-up) {
						&.active {
							border-bottom: 4px solid $color-secondary;
							padding-bottom: 4px;
						}
						&.dropdown {
							&:after {
								content: '';
								display: inline-block;
								width: 8px;
								height: 5px;
								position: relative;
								margin-left: 5px;
								top: -1px;
								background: url(../images/interface/sprite.png) no-repeat -62px -218px;
							}
						}
					}
				}
			}
			&.header-add-store {
				@include respond(small) {
					display: none;
				}
			}
			&.header-zip {
				padding-left: 5px;
				@include respond(m-small) {
					position: relative;
				}
				@include respond(medium) {
					position: relative;
				}
				
				@include respond(x-small) {
					padding-left: 2px;
				}
				a {
					padding-left: 4px;
					&.active {
						border-bottom: 4px solid $color-secondary;
						padding-bottom: 4px;
					}
					&.dropdown {
						&:after {
							content: '';
							display: inline-block;
							width: 8px;
							height: 5px;
							position: relative;
							margin-left: 5px;
							top: -1px;
							background: url(../images/interface/sprite.png) no-repeat -62px -218px;
						}
					}
					span {
						color: $color-secondary;
						text-decoration: underline;
						font-style: $font-style-italic;
					}
					&:hover {
						span {
							text-decoration: none;
						}
					}
				}
			}
			.icon {
				margin-right: 3px;
			}
		}
		a, .sleepys-call-header {
			@include font-size(12px);
			@include line-height(30px);
			font-weight: $font-wt-semibold;
			text-decoration: none;
			color: $color-primary;
		}
	}
	p {
		margin: 0;
		padding: 0;
		@include font-size(12px);
		@include line-height(30px);
	}
	.dropdown-block {
		display: none;
		position: absolute;
		padding: 15px 20px 20px;
		width: 310px;
		background: $white;
		z-index: 30;
		text-align: left;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
		box-sizing: border-box;
		&.active {
			display: block;
		}
		&.store {
			padding-left: 10px;
			padding-right: 10px;
		}
		@include respond(x-small) {
			left: calc(50% - 310px/2);
		}

		@include respond(m-small) {
			left: 0;
		}
		@include respond(medium) {
			right: 0;
		}
	}
}

.mobile-header-links {
	.header-top {
		background: none;
		height: auto;
		.header-top-inner {
			padding: 0;
		}
		.header-top-links {
			> li {
				display: block;
				padding: 5px 0 6px 15px;
				border-bottom: $border;
			}
		}
		.header-top-inner {
			min-width: 100%;
		}
		.header-store-id {
			padding: 7px 0 8px 15px;
			height: 42px;
			.mobile-only {
				display: none;
			}
			.desktop-only {
				display: block;
			}
			&:after {
				display: none;
			}
		}
		.dropdown-block {
			width: calc(100% + 11px);
			box-shadow: none;
			padding: 0;
			position: relative;
			left: -15px;
			box-sizing: border-box;
			div {
				color: $color-primary;
				padding-bottom: 5px;
			}
			.find-form-inner {
				padding: 0;
			}
			.find-stores-wrapper .find-form input[type="text"] {
				width: 150px;
			}
			.stores-near {
				padding-top: 10px;
			}
		}
	}
	.menu-utility-user {
		clear: both;
		display: block;
		li {
			padding: 10px 0 8px 15px;
		}
		span {
			color: $color-secondary;
			font-style: $font-style-italic;
		}
	}
}

.find-by-zip {
	.label {
		@include font-size($font-size-regular);
		@include line-height($font-height-regular);
		font-weight: $font-wt-semibold;
	}
	input {
		width: 180px;
		margin-right: 10px;
	}
	button {
		width: 80px;
		height: 40px;
		@include line-height(40px);
		vertical-align: top;
	}
}

.find-stores-wrapper {
	.near-stores {
		padding: 0 10px;
		color: $color-primary;
		@include font-size(15px);
		@include line-height(16px);
		font-weight: $font-wt-bold;
	}
	.stores-wrapper {
		@include font-size($font-size-regular);
		@include line-height($font-height-regular);
		margin-top: 6px;
	}
	ul {
		margin: 0;
		padding: 0 0 8px;
		list-style: none;
	}
	li {
		border-bottom: $border;
		display: block;
		margin: 0;
		list-style: none;
		padding: 10px 0;
		.lf_results_address_a_span {
			color: $color-secondary;
			@include font-size($font-size-regular);
			font-weight: $font-wt-semibold;
			text-decoration: underline;
			font-style: $font-style-regular;
		}
		.lf_results_address {
			position: relative;
		}
		.lf_storeLocatorWidget_address_address1,
		.lf_storeLocatorWidget_address_address2,
		.lf_storeLocatorWidget_address_zipcode_city,
		.lf_storeLocatorWidget_address_phone {
			color: $color-primary;
			font-weight: $font-wt-regular;
			@include font-size($font-size-regular);
			font-style: $font-style-regular;
			display: inline-block;
			vertical-align: top;
			text-align: left;
			width: 70%;
		}
		.lf_storeLocatorWidget_address_phone {
			display: none;
		}
		.proximity {
			display: inline-block;
			vertical-align: top;
			text-align: right;
			width: 25%;
			color: $color-primary;
			font-weight: $font-wt-regular;
			@include font-size($font-size-regular);
			font-style: $font-style-regular;
			position: absolute;
			right: 0;
			top: 5px;
		}
	}
	.stores-near {
		@include font-size(15px);
		@include line-height(16px);
		font-weight: $font-wt-bold;
	}
	.lf_storeLocatorWidget_poslist {
		border-bottom: $border;
		padding-bottom: 10px;
		.lf_storeLocatorWidget_viewMore {
			color: $color-secondary;
			@include font-size($font-size-regular);
			font-weight: $font-wt-semibold;
			text-decoration: underline;
		}
	}
	.find-form {
		padding: 0 10px;
		overflow: hidden;
		.find-form-inner {
			padding-top: 15px;
		}
		.label {
			@include font-size($font-size-regular);
			@include line-height($font-height-regular);
			font-weight: $font-wt-semibold;
		}
		input {
			width: 180px;
			margin-right: 10px;
			@include font-size($font-size-xs);
			padding: 0 6px;
			&:placeholder {
				color: $color-primary;
			}
		}
		.stores-find {
			width: 80px;
			height: 40px;
			@include line-height(40px);
			@include font-size($font-size-regular);
			vertical-align: top;
			margin: 0;
		}
		.lf_error {
			display: none;
		}
		.lf_storeLocatorWidget_marker {
			display: none;
		}
	}
}

.top-banner {
	position: relative;
	* {
		box-sizing: border-box;
	}
	.header-top .header-top-links {
		clear: both;
	}
}

.header-logo-wrapper {
	@extend %centered-block;
	position: relative;
}

.primary-logo {
	width: 150px;
	// width of image
	height: 58px;
	// height of image
	margin: 0 auto;
	padding: 10px 0;
	z-index: 1;
	@include respond(large-up) {
		width: 280px;
		height: 68px;
		padding: 0;
		margin: 10px 0 12px 0;
		float: left;
	}
	@include respond(large-only) {
		width: 220px;
		height: 52px;
		margin: 15px 0 16px 0;
	}
	img {
		width: 100%;
		height: auto;
		@include respond(large-up) {
			margin: -4px 0;
		}
		@include respond(large-only) {

		}
		&.logo-desktop {
			display: none;
			@include respond(medium) {
				display: block;
			}
		}
		&.logo-mobile {
			display: block;
			@include respond(medium) {
				display: none;
			}
		}
	}
}

.header-banner-top {
	display: none;
	@include respond(large-up) {
		display: block;
		float: left;
		padding: 20px 0;
		margin-left: 25px;
		p {
			margin: 0;
			padding: 0;
		}
		ul {
		//	@extend %clear_list;
		}
	}
	@include respond(medium) {
		margin-left: 25px;
		width: 239px;
		img {
			width: 100%;
			height: auto;
		}
	}
	@include respond(x-large) {
		margin-left: 184px;
		width: 285px;
	}
}

.header-banner {
	display: block;
	text-align: center;
	.banner-wrapper {
		padding: 5px 0 8px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
	}
	.banner-title {
		color: $white;
		font-weight: $font-wt-bold;
		@include font-size(20px);
		@include respond(medium) {
			@include font-size(25px);
		}
		@include respond(large) {
			@include font-size(30px);
		}
		;
	}
	.banner-info {
		color: $rolling-stone;
		font-weight: $font-wt-regular;
		@include font-size($font-size-xs);
	}
}

.header-banner-bottom {
	display: none;
	@include respond(large-up) {
		display: block;
		box-shadow: 0.5px 0.9px 3px rgba(0, 0, 0, 0.3);
		.banner-wrapper {
			height: 40px;
		}
		ul {
			//@extend %clear_list;
			font-size: 0;
			text-align: center;
			padding: 12px 0;
			height: 40px;
			box-sizing: border-box;
		}
		li {
			display: inline-block;
			text-align: center;
			a {
				color: $color-primary;
				@include font-size($font-size-regular);
				@include line-height(16px);
				font-weight: $font-wt-semibold;
				text-decoration: none;
				padding: 0 14px;
				border-right: $border;
				&:hover {
					color: $color-secondary;
					text-decoration: none;
				}
			}
			&:first-child {
				a {
					padding-left: 0;
				}
			}
			&:last-child {
				a {
					border-right: 0;
					padding-right: 0;
				}
			}
		}
	}
}

div.header-search {
	z-index: 3;  //mobile search suggesion go under the carousel button 
	display: block;
	font-style: $font-style-italic;
	position: relative;
	border-top: $border;
	margin: 0;
	@include respond(large-up) {
		border-top: none;
		float: right;
		position: absolute;
		width: 308px;
		z-index: 1;
		display: block;
		right: 10px;
		top: 54px;
		font-style: $font-style-regular;
	}
	@include respond(large-only) {
		width: 218px;
		top: 46px;
	}
	form {
		background-color: $concrete;
		border: $border;
		border-radius: 15px;
		color: $color-primary;
		height: 29px;
		width: 100%;
		margin: 10px 0;
		position: relative;
		@include respond(large-up) {
			margin: 0;
		}
	}
	input[type="text"] {
		background-color: transparent;
		border: none;
		float: left;
		margin: 0;
		height: 25px;
		width: 100%;
		font-style: italic;
		padding: 0 30px 0 12px;
		box-sizing: border-box;
		color: $gray-dove;
		@include font-size($font-size-sm);
		@include line-height(25px);
		&::-webkit-input-placeholder {
			color: $gray-dove;
			font-style: italic;
		}
		&::-moz-placeholder { /* Firefox 19+ */
  			color: $gray-dove;
  			font-style: italic;
		}
		&:-ms-input-placeholder { /* IE 10+ */
 			 color: $gray-dove;
 			 font-style: italic;
		}
		&:-moz-placeholder { /* Firefox 18- */
			color: $gray-dove;
			font-style: italic;
		}
	}
	button {
		background-color: transparent;
		border: none;
		color: $nobel;
		padding: 0 4px 0 0;
		top: 0;
		height: 27px;
		right: 0;
		background:#d9d9d9;
		border-radius: 0;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		width: 35px;
		float: right;
		margin-top: 0px;
		box-sizing: border-box;
		position: absolute;
		
		@include line-height(20px);
		i {
			color: $color-primary;
		}
	}
	#suggestions {
		div:hover {
			color: $color-secondary;
		}
	}
}
.mobile-header-links {
	.user-info {
		a {
			top: 3px;
			position: relative;
			color:$color-primary;
			text-decoration:none;
			font-weight: $font-wt-semibold;
			@include font-size(12px);
			&.user-logout {
				color: $color-secondary;
				font-style: $font-style-italic;
			}		
		}
	}
}
@include respond(small) {
	div[id*='liveagent_invite_button_'] {
		visibility: hidden;
	}
}
@include respond(large-up) {
	div[id*='liveagent_invite_button_'] {
		visibility: visible;
	}
}