#mini-cart {
	position: absolute;
	right: 13px;
	top: 13px;
	z-index: 20;
	@include respond(large-up) {
		right: 15px;
		top: 10px;
	}
	.mini-cart-name {
		a {
		}
	}
	.bonus-discount-container {
		display: none;
	}
}

.mini-cart-total {
	position: relative;
	.mini-cart-link {
		display: block;
		padding-bottom: 6px;
		width: 47px;
		text-align: center;
		.minicart-icon {
			display: inline-block;
			width: 27px;
			height: 27px;
		}

		.minicart-quantity {
			background-color: $black;
			border-radius: 50%;
			height: 18px;
			width: 18px;
			
			color: $white;
			padding: calculateRem(1.5px) 0 calculateRem(1px) calculateRem(1px);
			position: absolute;
			right: 3px;
			text-align: center;
			top: -1px;
			@include font-size(12px);
		}
	}
}
@media screen and (-moz-os-version) {
  .mini-cart-total .mini-cart-link .minicart-quantity {
  	padding: 0px 0.5px 0 0px;
  }
}
html>/**/body .selector, x:-moz-any-link, x:default {
	.mini-cart-total .mini-cart-link .minicart-quantity {
		//color:green !important;
	}

	}
.mini-cart-total {
	.mini-cart-empty {
		transition: color 500ms ease;
		&:hover {
			text-decoration: none;
		}
	}
}

.mini-cart-content {
	background-color: $white;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	display: none;
	position: absolute;
	right: -8px;
	top: 37px;
	width: 310px;
	padding: 16px 0 20px;
	@include respond(large-up) {
		right: 0;
		width: 310px;
	}
	#mini-cart:hover & {
		display: block;
	}
}

#mini-cart {
	.mini-cart-link.addline{
		border-bottom: 4px solid $color-secondary;
	}
	.mini-cart-link.addnoline{
		border-bottom: 0px solid $color-secondary;
	}
}

.mini-cart-header {
	@include font-size(15px);
	@include line-height(16px);
	font-weight: $font-wt-bold;
	padding: 0 20px;
}

.mini-cart-products {
	padding: 0 0 0 10px;
	max-height: 450px;
	overflow: hidden;
}

.mini-cart-product {
	border-bottom: $border;
	overflow: hidden;
	padding: 20px 10px;
	position: relative;
	&:first-child {
		padding-top: 15px;
	}
	&:last-of-type {
		border: none;
	}
	&.collapsed {
		.mini-cart-name,
		.mini-cart-attributes,
		.mini-cart-pricing,
		.product-availability-list {
			width: 90%;
		}
		.mini-cart-image {
			display: none;
		}
	}
	.mini-cart-toggle {
		cursor: pointer;
		font-size: 1.5em;
		position: absolute;
		left: 0;
		top: 0;
	}
}

.mini-cart-image {
	float: left;
	width: 100px;
	border: $border;
	padding: 2px;
	box-sizing: border-box;
	margin-right: 10px;
	img {
		width: 100%;
		height: auto;
	}
}

.mini-cart-name {
	float: right;
	width: 160px;
	margin: 4px 0;

	a {
		@include link-footer;
	}
}
.mCustomScrollbar {
	.mini-cart-name,
	.mini-cart-attributes,
	.mini-cart-product .product-availability-list,
	.mini-cart-pricing
		{
		width: 137px;

	}
	.mini-cart-product {
		width: 270px;
	}
}
.mini-cart-attributes,
.mini-cart-product .product-availability-list {
	float: right;
	width: 160px;
}
.mini-cart-attributes,
.mini-cart-pricing {
	font-weight: $font-wt-regular;
	@include font-size($font-size-regular);
	@include line-height(18px);
	color: $color-primary;
	margin-bottom: 13px;
	.label {
		font-weight: $font-wt-semibold;
	}
}

.mini-cart-pricing {
	clear: right;
	float: right;
	width: 160px;
	margin-bottom: 0;
	.label {
		&:after {
			display: none;
		}
	}
	.value {
		margin-right: 18px;
	}
	.mini-cart-price {
		font-weight: $font-wt-bold;
	}
}

.mini-cart-content {
	.mini-cart-pricing {
		width: 137px;
		float: right;
		.value {
			margin-right: 0;
		}
		.col1 {
			float: left;
		}
		.col2 {
			float: right;
		}
	}
}

.mini-cart-totals {
	text-align: center;
	.button-wrapper {
		padding: 0 20px;
	}
}

.mini-cart-subtotals {
	background-color: #ececec;
	@include font-size($font-size-regular);
	@include line-height(50px);
	font-weight: $font-wt-bold;
	height: 50px;
	text-align: left;
	.value {
		float: right;
	}
}
.top-banner {
	.mini-cart-subtotals {
		padding: 0 20px;
	}
}
.mini-cart-link-cart {
	width: 100%;
}

.mini-cart-slot {
	margin: 15px 0;
	text-align: center;
	.banner-wrapper {
		background-color: $golden-dream;
		padding: 10px;
	}
	.banner-title {
		color: $color-secondary;
		@include font-size(18px);
		@include line-height(19px);
		font-weight: $font-wt-bold;
		margin-bottom: 7px;
	}
	.banner-info {
		@include font-size($font-size-xs);
		@include line-height(15px);
		font-weight: $font-wt-regular;
	}
}

.mini-cart-link-checkout {
	clear: both;
	display: block;
	margin: 1em 0;
	text-align: center;
}
