nav[role="navigation"] {
	@extend .clearfix;
	color: $white;
	left: -270px;
	margin-top: -30px;
	position: absolute;
	width: 270px;
	top: 0;
    box-shadow: inset -3px 3px 8px -3px rgba($color-primary, 0.35);

	@include respond(large-up) {
		color: $night-rider;
		left: auto;
		position: relative;
		width: 100%;
        box-shadow: 0px 4px 3px -2px rgba($black, 0.15);
        border-top: 1px solid $alto;
        margin-top: 0px;
	}
}
.menu-toggle {
	border: none;
	display: block;
	float: left;
	width: 28px;
	height: 20px;
	padding: 0;
	background: url(../images/interface/sprite.png) no-repeat -71px -218px;
	margin: 12px 0 0 10px;
	position: relative;
	z-index: 1;
	border-radius: 0;
	@include respond(large-up) {
		display: none;
	}
	&:hover {
		background-color: transparent;
	}
}
.menu-category-div {
	width: 100%;
	float: left;
	text-align:center;
	margin:0px auto;
}
.menu-category {
	@extend %clearfix;
	list-style: none;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
    position: relative;
    min-width: 0;
    display: table;
    width: 100%;
	@include respond(large-up) {
		margin: 0 auto;
       // @extend %centered-block;
      // @include mixincentered-block();
        padding: 10px 0;
        width:auto;
        display: table;
	}
	li {
		border-bottom: 1px solid $primary-border-color;
		list-style: none;
        margin-bottom: 0;
        text-align: left;
		@include respond(large-up) {
			border: none;
			float: left;
			&:hover > a {
				background-color: transparent;
			}
		}
	}

	.column {
		@include respond(large-up) {
			float: left;
			width: 180px;
			&:last-child {
				width: 145px;
			}
			li {
				float: none;
			}
			& > li {
				margin-bottom: 8px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		@include respond(large) {
			width: 200px;
			&:last-child {
				width: 170px;
			}
		}
		ul {
			@include respond(large-down) {
				padding-left: 0;
			}
		}
	}
	a, .bold-text{
		display: inline-block;
		padding: 14px 15px;
		overflow: visible;
		width: 100%;
        text-transform: none;
        text-decoration: none;
        color: $color-primary;
        @include font-bold();
		@include respond(large-up) {
			width: auto;
            padding: 4px 10px;

		}
		@media screen and (min-width: 960px) {
			/*padding: 1em 2rem;*/
		}
	}
	.bold-text {
		@include respond(large-up) {
			padding-left: 0;
		}
		@include respond(large-down) {
			background: $alabaster;
			padding-left: 50px;
			width: calc(100% - 0.4rem);
		}
	}
}

.level-1 > li {
	@extend %clearfix;
	// override background-color for small viewport
	&:last-child {
          border-right: 0;
          .level-2 {
          	 @include respond(large-only) {
         		//right: 0; 
         	}
          }
          
	}
    @include respond(large-up) {
        border-right: 1px solid $primary-border-color;
        padding: 0 15px;
        height: 27px; 
        background: none;  
        min-width:130px; 
        text-align: center;
        
    }
    
	@include respond(large-only) {
		padding: 0 2px;
		min-width:100px; 
	}
 
  &.no-sub-menu-items { 
	width: calc(100% - 0.4rem);
	@include respond(large-up){
	  width: auto; 
	}
	a {
	  padding: 14px 15px 14px 42px;
	  @include respond(large-up) {
		width: auto;
		padding: 4px 10px;
	  }
	}
  }

	i.menu-item-toggle {
		cursor: pointer;
		float: left;
		line-height: 1.1;
		padding: 18px 5px 20px 15px;
		transition: background-color 0.3s;
		width: auto;
        background: $concrete;
	    &.fa{
          @include font-size(10px);
          font-weight: $font-wt-regular;
          color: $color-primary;
          width: 27px;
        }
      &:hover {
			/*background-color: darken($night-rider, 10%);*/
		}
		@include respond(large-up) {
			display: none;
		}
	}
	a {
		transition: background-color 0.3s, color 0.3s;

		&:hover {

		}
		@include respond(large-up) {
			&:hover {
				background-color: transparent;
			}
		}

		i {
			margin-right: 15px;
			@include font-size(10px);
			font-weight: $font-wt-bold;
			position: relative;
			top: -1px;
		}
	}
	> a {
		float: left;
        background: $concrete;
		&.has-sub-menu {
          width: 100%;
			padding-left: 17px;
        }
		@include respond(large-up) {
			float: none;
			width: 100%;
            border-bottom: 4px solid $white;
            background: none;
			padding-left: 0;
			&.has-sub-menu {
				width: 100%;
			}
			&.hover,
			&:focus,
			&:hover,
            &.open{
              border-bottom: 4px solid $color-secondary
			}
			i {
				display: none;
			}
		}
		@media screen and (min-width: 960px) {

		}
	}
}

.level-2 {
	clear: left;
	display: none;
	> ul {
		@extend .clearfix;
		padding-left: 0;
	    li{
          border-top: 1px solid $primary-border-color;
          border-bottom: 0;

          @include respond(large-up) {
              background: none;
              padding-left: 0;
              border: none;
          }

          a{
            background: $alabaster;
            padding-left: 45px;
            width: calc(100% - 0.4rem);

            @include respond(large-up){
              background: none;
              padding-left: 0;
              width: auto;
				i {
					display: none;
				}
            }
          }
         
        }
    }
	.level-1 > .active & {
		display: block !important;
        @include respond(large-up){
          display: none;
        }
	}
	@include respond(large-up) {
		background-color: $white;
		box-shadow: 0 3px 3px 2px rgba($charcoal, 0.1);
		color: $night-rider;
		position: absolute;
		z-index: 12;
        padding: 15px 20px 12px;
		.level-1 li:hover & {
			//display: block;
		}
		a {
			&:hover {
				text-decoration: underline;
			}
		}
		> ul {
			float: left;
			padding-left: 0;
			> li {
				float: none;
				min-width: 12em;
				> a {
					padding: 0 0 0.5em;
					text-transform: none;
				}
			}
		}
		.menu-vertical {
			> li > a:first-child {
				padding-top: 0;
			}
		}
		.menu-horizontal {
			float: left;
			> li {
				float: left;
				padding-right: 2rem;
                margin-bottom: 15px;
				&:last-child {
					border-right: none;
				}
			}

		}
		.banner {
			float: left;
		}
	}
	.banner {
		display: none;
		@include respond(large-up) {
			display: block;
		}
		img {
			vertical-align: top;
		}
	}
}

.level-3 {
	padding-left: 0;
	display: none;
	.level-2 .active & {
		display: block;
	}
    li {
      border-top: 0 !important;
    }

	@include respond(large-up) {
		display: block;
		a {
			font-weight: normal;
			font-size: 1em;
			padding: 0;
		}
		li {
			float: none;
			padding: 0;
		}
	}
}

.level-2 .level-3 {
	li {
		a {
			padding: 0 0 10px 74px;
			@include font-regular();
			@include respond(large-up) {
				padding: 0 0 5px;
			}
		}
	}
}

.level-2 .bm {
	li {
		a {
			padding: 0 0 10px 45px;
			@include respond(large-up) {
				padding: 0 15px 5px;
			}
		}
	}
}
